DROP PROCEDURE [SPC_M0070_12_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスター賞罰タブ
--*  
--*  作成日/create date			:	2024/04/01						
--*　作成者/creater				:	Quanlh								
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_12_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(10)	=	N''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	N''
AS
BEGIN	
	SET NOCOUNT ON;
	--[0]
	SELECT
		ISNULL(FORMAT(M0092.base_salary, '###,###'),0) AS base_salary
	,	ISNULL(FORMAT(M0092.basic_annual_income, '###,###'),0) AS basic_annual_income
	FROM M0092 WITH(NOLOCK)	
	WHERE
		M0092.employee_cd = @P_employee_cd
	AND M0092.company_cd = @P_company_cd
	AND M0092.del_datetime IS NULL
END
GO
