/****** Object:  StoredProcedure [dbo].[SPC_Q0070_INQ1]    Script Date: 2018/09/11 14:28:51 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_Q0070_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ [SPC_Q0070_INQ2]
-- EXEC [SPC_Q0070_INQ2]'','';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	S0010
--*  
--*  作成日/create date			:	2018/08/24				
--*　作成者/creater				:	Tuantv								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_Q0070_INQ1]
	@P_company_cd		SMALLINT		=	0
,	@P_user_id			NVARCHAR(50)	=	''
,	@system				INT				=	1
AS
BEGIN
	SET NOCOUNT ON;
	--[0] M0060
	EXECUTE SPC_COMBOBOX_INQ1 'M0060','2',@P_user_id,@P_company_cd
	-- [1] M0050
	EXECUTE SPC_COMBOBOX_INQ1 'M0050','2',@P_user_id,@P_company_cd
	-- [2] M0040
	EXECUTE SPC_COMBOBOX_INQ1 'M0040','1',@P_user_id,@P_company_cd
	-- [3] M0150
	EXECUTE SPC_COMBOBOX_INQ1 'M0150','2',@P_user_id,@P_company_cd
	-- [4] M0020
	EXECUTE SPC_COMBOBOX_INQ1 'M0020','1',@P_user_id,@P_company_cd,@system
	-- [5] F0010
	EXECUTE SPC_COMBOBOX_INQ1 'F0010','2',@P_user_id,@P_company_cd
END	

GO
