DROP PROCEDURE [SPC_REFER_GROUP_CD_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_REFER_GROUP_CD_INQ1 1005,'datnt',-1,0
--EXEC [dbo].SPC_REFER_GROUP_CD_INQ1 1005,'datnt',-1,0
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2019/09/11											
--*	作成者/creater				:	longvv						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_REFER_GROUP_CD_INQ1] 
	-- Add the parameters for the stored procedure here
	@P_company_cd	SMALLINT		= 0
,	@P_user_id		NVARCHAR(20)	=   '' -- S0010
,	@P_fiscal_year	INT   = 0
,	@P_group_cd		SMALLINT		=	0
AS
BEGIN
	DECLARE
		@w_month_date			NVARCHAR(10)	= ''
	,	@w_year					NVARCHAR(10)	= ''
	,	@w_year_value			NVARCHAR(10)	= ''
	,	@year_month_day			DATE			= NULL	 
	,	@countAuthority			INT				=	0
	,	@arrange_order			INT				=	0
	,	@position_cd			INT		=	0
	,	@P_authority_cd			SMALLINT		=	0
	,	@P_authority_typ		SMALLINT		=	0

	CREATE TABLE #M0070H(
		application_date				date
	,	company_cd						smallint
	,	employee_cd						nvarchar(10)
	,	employee_nm						nvarchar(20)
	,	employee_ab_nm					nvarchar(10)
	,	furigana						nvarchar(20)
	,	office_cd						smallint
	,	office_nm						nvarchar(50)
	,	belong_cd1						smallint
	,	belong_cd2						smallint
	,	belong_cd3						smallint
	,	belong_cd4						smallint
	,	belong_cd5						smallint
	,	job_cd							smallint
	,	position_cd						int
	,	employee_typ					smallint
	,	grade							smallint
	,	belong_cd1_nm					nvarchar(20)
	,	belong_cd2_nm					nvarchar(20)
	,	belong_cd3_nm					nvarchar(20)
	,	belong_cd4_nm					nvarchar(20)
	,	belong_cd5_nm					nvarchar(20)
	,	job_nm							nvarchar(20)
	,	position_nm						nvarchar(20)
	,	grade_nm						nvarchar(20)
	,	employee_typ_nm					nvarchar(10)
	)
	CREATE TABLE #M0071(
		id						int				identity(1,1)
	,	company_cd				smallint
	,	employee_cd				nvarchar(10)
	,	application_date		date
	)
	CREATE TABLE #M0070_EMPLOYEE_CD
	(
		id							BIGINT	IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	group_cd					SMALLINT
	,	employee_cd					NVARCHAR(10)
	,	employee_typ				SMALLINT
	,	job_cd						SMALLINT
	,	position_cd					INT
	,	grade						SMALLINT
	)
	CREATE TABLE #M0060
	(
		id						INT IDENTITY(1,1)
	,	company_cd				SMALLINT
	,	employee_typ			SMALLINT
	,	group_cd				SMALLINT
	)	
	
	CREATE TABLE #M0050
	(
		id						INT IDENTITY(1,1)
	,	company_cd				SMALLINT
	,	grade					SMALLINT
	,	group_cd				SMALLINT
	)

	CREATE TABLE #M0040
	(
		id						INT IDENTITY(1,1)
	,	company_cd				SMALLINT
	,	position_cd				INT
	,	group_cd				SMALLINT
	)

	CREATE TABLE #M0030
	(
		id						INT IDENTITY(1,1)
	,	company_cd				SMALLINT
	,	job_cd					SMALLINT
	,	group_cd				SMALLINT
	)

	CREATE TABLE #M0151 (
		company_cd				SMALLINT
	,	group_cd				SMALLINT
	,	attribute				SMALLINT
	,	code					SMALLINT	
	)		
	SELECT 
		@P_authority_cd			=	S0010.authority_cd
	,	@P_authority_typ		=	S0010.authority_typ
	,	@position_cd			=	ISNULL(M0070.position_cd,0)
	FROM S0010 
	LEFT JOIN M0070 ON (
		M0070.company_cd		=	S0010.company_cd
	AND M0070.employee_cd		=	S0010.employee_cd
	AND M0070.del_datetime		IS NULL 
	) 
	WHERE
		S0010.company_cd		=	@P_company_cd
	AND S0010.user_id			=	@P_user_id
	AND S0010.del_datetime IS NULL
	--
	IF(@P_fiscal_year = -1)
	BEGIN
		SET @P_fiscal_year = YEAR(SYSDATETIME())
	END

	SET @countAuthority = (SELECT COUNT(*) FROM S0022 WHERE S0022.company_cd = @P_company_cd AND S0022.authority_cd = @P_authority_cd AND S0022.authority	= 1)	
	--
    SET @arrange_order	= ISNULL((SELECT ISNULL(M0040.arrange_order,0) FROM M0040 WHERE M0040.del_datetime IS NULL AND M0040.position_cd		=	@position_cd AND M0040.company_cd = @P_company_cd),0)
	--#TEMP_S0022
	--
	SET @w_year_value = (SELECT M9100.beginning_date FROM M9100 WHERE M9100.company_cd = @P_company_cd)

	--select @w_year_value as w_year_value
	IF(@w_year_value IS NOT NULL)
	BEGIN
		SET @w_month_date =(SELECT FORMAT(M9100.beginning_date,'MM-dd') FROM M9100 WHERE M9100.company_cd = @P_company_cd)
	END
	ELSE 
	BEGIN
		SET @w_month_date = '01-01'
	END
	SET @w_year =  CONVERT(NVARCHAR(10),@P_fiscal_year) +'-'+ @w_month_date
	SET @year_month_day = DATEADD(DAY,-1,DATEADD(YEAR,1,(CONVERT(DATE,@w_year))))
	INSERT INTO #M0071
	SELECT 
		ISNULL(M0071.company_cd,0)				AS	company_cd
	,	ISNULL(M0071.employee_cd,'')			AS	employee_cd
	,	MAX(M0071.application_date)				AS	application_date
	FROM M0071
	WHERE 
		M0071.company_cd			=	@P_company_cd
	AND M0071.application_date	<=	@year_month_day
	AND M0071.del_datetime IS NULL
	GROUP BY
		M0071.company_cd
	,	M0071.employee_cd

	INSERT INTO #M0151
	SELECT
		M0151.company_cd			
	,	M0151.group_cd			
	,	M0151.attribute					
	,	M0151.code						
	FROM M0150
	LEFT JOIN M0151 ON (
		M0150.company_cd = M0151.company_cd
	AND M0150.group_cd	= M0151.group_cd
	)	
	WHERE
		M0151.company_cd = @P_company_cd
	AND	(
		(@P_group_cd		=	-1)	
	OR	(@P_group_cd		<>	-1	AND	M0151.group_cd	= @P_group_cd)
	)
	GROUP BY 
		M0151.company_cd
	,	M0151.group_cd	
	,	M0151.attribute	
	,	M0151.code		

	INSERT INTO #M0060
	SELECT 
		M0060.company_cd		
	,	M0060.employee_typ
	,	#M0151.group_cd
	FROM M0060
	INNER JOIN #M0151 ON (
		M0060.company_cd	= #M0151.company_cd
	AND	M0060.employee_typ	= #M0151.code
	)
	WHERE 
		 M0060.company_cd = @P_company_cd
	 AND M0060.del_datetime IS NULL
	 AND #M0151.attribute = 1


	INSERT INTO #M0050
	SELECT 
		M0050.company_cd		
	,	M0050.grade
	,	#M0151.group_cd
	FROM M0050
	INNER JOIN #M0151 ON (
		M0050.company_cd	= #M0151.company_cd
	AND	M0050.grade			= #M0151.code
	)
	WHERE 
		 M0050.company_cd = @P_company_cd
	 AND M0050.del_datetime IS NULL
	 AND #M0151.attribute = 4

	INSERT INTO #M0040
	SELECT 
		M0040.company_cd
	,	M0040.position_cd
	,	#M0151.group_cd
	FROM M0040
	INNER JOIN #M0151 ON (
		M0040.company_cd	= #M0151.company_cd
	AND	M0040.position_cd	= #M0151.code
	)
	WHERE 
		 M0040.company_cd = @P_company_cd
	 AND M0040.del_datetime IS NULL
	 AND #M0151.attribute = 3

	INSERT INTO #M0030
	SELECT 
		M0030.company_cd			--company_cd	
	,	M0030.job_cd				--job_cd		
	,	#M0151.group_cd				--group_cd	
	FROM M0030
	INNER JOIN #M0151 ON (
		M0030.company_cd	= #M0151.company_cd
	AND	M0030.job_cd		= #M0151.code
	)
	WHERE 
		 M0030.company_cd = @P_company_cd
	 AND M0030.del_datetime IS NULL
	 AND #M0151.attribute = 2


	INSERT INTO #M0070H
	--
	SELECT 
		#M0071.application_date					AS	application_date
	,	ISNULL(M0071.company_cd,'')				AS	company_cd
	,	ISNULL(M0071.employee_cd,'')			AS	employee_cd
	,	ISNULL(M0070.employee_nm,'')			AS	employee_nm
	,	ISNULL(M0070.employee_ab_nm,'')			AS	employee_ab_nm
	,	ISNULL(M0070.furigana,'')				AS	furigana
	,	ISNULL(M0071.office_cd,0)				AS	office_cd
	,	ISNULL(M0010.office_nm,'')				AS	office_nm
	--
	,	ISNULL(M0071.belong_cd1,0)				AS	belong_cd1
	,	ISNULL(M0071.belong_cd2,0)				AS	belong_cd2
	,	ISNULL(M0071.belong_cd3,0)				AS	belong_cd3
	,	ISNULL(M0071.belong_cd4,0)				AS	belong_cd4
	,	ISNULL(M0071.belong_cd5,0)				AS	belong_cd5
	--
	,	ISNULL(M0071.job_cd,0)					AS	job_cd
	,	ISNULL(M0071.position_cd,0)				AS	position_cd
	,	ISNULL(M0071.employee_typ,0)			AS	employee_typ
	,	ISNULL(M0071.grade,0)					AS	grade
	--
	,	IIF(ISNULL(M0020_1.organization_ab_nm,'') <> '',ISNULL(M0020_1.organization_ab_nm,''),ISNULL(M0020_1.organization_nm,''))
												AS	belong_nm1
	,	IIF(ISNULL(M0020_2.organization_ab_nm,'') <> '',ISNULL(M0020_2.organization_ab_nm,''),ISNULL(M0020_2.organization_nm,''))
												AS	belong_nm2
	,	IIF(ISNULL(M0020_3.organization_ab_nm,'') <> '',ISNULL(M0020_3.organization_ab_nm,''),ISNULL(M0020_3.organization_nm,''))
												AS	belong_nm3
	,	IIF(ISNULL(M0020_4.organization_ab_nm,'') <> '',ISNULL(M0020_4.organization_ab_nm,''),ISNULL(M0020_4.organization_nm,''))
												AS	belong_nm4
	,	IIF(ISNULL(M0020_5.organization_ab_nm,'') <> '',ISNULL(M0020_5.organization_ab_nm,''),ISNULL(M0020_5.organization_nm,''))
												AS	belong_nm5
	--
	,	IIF(ISNULL(M0030.job_ab_nm,'') <> '',ISNULL(M0030.job_ab_nm,''),ISNULL(M0030.job_nm,''))
												AS	job_nm
	,	IIF(ISNULL(M0040.position_ab_nm,'') <> '',ISNULL(M0040.position_ab_nm,''),ISNULL(M0040.position_nm,''))
												AS	position_nm
	,	ISNULL(M0050.grade_nm,'')				AS	grade_nm
	,	ISNULL(M0060.employee_typ_nm,'')		AS	employee_typ_nm
	FROM #M0071
	LEFT OUTER JOIN M0071 ON (
		#M0071.company_cd					=	M0071.company_cd
	AND #M0071.employee_cd					=	M0071.employee_cd
	AND #M0071.application_date				=	M0071.application_date
	)
	LEFT OUTER JOIN M0070 ON (
		M0071.company_cd				=	M0070.company_cd
	AND M0071.employee_cd				=	M0070.employee_cd
	)
	LEFT OUTER JOIN M0010 ON (
		M0071.company_cd				=	M0010.company_cd
	AND M0071.office_cd					=	M0010.office_cd
	)
	
	LEFT OUTER JOIN M0020 AS M0020_1 ON (
		M0071.company_cd				=	M0020_1.company_cd
	AND M0071.belong_cd1				=	M0020_1.organization_cd
	AND	1								=	M0020_1.organization_typ
	)
	LEFT OUTER JOIN M0020 AS M0020_2 ON (
		M0071.company_cd				=	M0020_2.company_cd
	AND M0071.belong_cd2				=	M0020_2.organization_cd
	AND	2								=	M0020_2.organization_typ
	)
	LEFT OUTER JOIN M0020 AS M0020_3 ON (
		M0071.company_cd				=	M0020_3.company_cd
	AND M0071.belong_cd1				=	M0020_3.organization_cd
	AND	3								=	M0020_3.organization_typ
	)
	LEFT OUTER JOIN M0020 AS M0020_4 ON (
		M0071.company_cd				=	M0020_4.company_cd
	AND M0071.belong_cd2				=	M0020_4.organization_cd
	AND	4								=	M0020_4.organization_typ
	)
	LEFT OUTER JOIN M0020 AS M0020_5 ON (
		M0071.company_cd				=	M0020_5.company_cd
	AND M0071.belong_cd2				=	M0020_5.organization_cd
	AND	5								=	M0020_5.organization_typ
	)
	LEFT OUTER JOIN M0030 ON (
		M0071.company_cd				=	M0030.company_cd
	AND M0071.job_cd					=	M0030.job_cd
	)
	LEFT OUTER JOIN M0040 ON (
		M0071.company_cd				=	M0040.company_cd
	AND M0071.position_cd				=	M0040.position_cd
	)
	LEFT OUTER JOIN M0050 ON (
		M0071.company_cd				=	M0050.company_cd
	AND M0071.grade						=	M0050.grade
	)
	LEFT OUTER JOIN M0060 ON (
		M0071.company_cd				=	M0060.company_cd
	AND M0071.employee_typ				=	M0060.employee_typ
	)

	INSERT INTO #M0070_EMPLOYEE_CD
	SELECT 
		#M0070H.company_cd
	,	-1
	,	#M0070H.employee_cd
	,	#M0070H.employee_typ
	,	#M0070H.job_cd
	,	#M0070H.position_cd
	,	#M0070H.grade
	FROM M0070
	INNER JOIN #M0070H ON (
		M0070.company_cd	= #M0070H.company_cd
	AND M0070.employee_cd	= #M0070H.employee_cd
	)
	LEFT OUTER JOIN S0020 ON (
		M0070.company_cd	=	S0020.company_cd
	AND	@P_authority_cd		=	S0020.authority_cd
	)
	LEFT JOIN M0040	ON (
		M0070.company_cd	=	M0040.company_cd
	AND M0070.position_cd	=	M0040.position_cd
	)
	 LEFT OUTER JOIN S0022  AS S0022_A WITH(NOLOCK)  ON(
			M0070.company_cd		=	S0022_A.company_cd
	　 AND	@P_authority_cd			= 	S0022_A.authority_cd
	　 AND	1						= 	S0022_A.organization_typ
	　 AND	M0070.belong_cd1		= 	S0022_A.organization_cd
	  AND	S0022_A.del_datetime		IS NULL
	 )
	 LEFT OUTER JOIN S0022 AS S0022_B WITH(NOLOCK) ON(
			M0070.company_cd		=	S0022_B.company_cd
	　 AND	@P_authority_cd			= 	S0022_B.authority_cd
	　 AND	2						= 	S0022_B.organization_typ
	　 AND	M0070.belong_cd2		= 	S0022_B.organization_cd
	 AND	S0022_B.del_datetime	IS NULL
	)
	
	WHERE 
		M0070.company_cd	= @P_company_cd
	AND M0070.del_datetime IS NULL
	AND M0070.evaluated_typ = 1
	AND (
		(
			M0070.company_out_dt IS NULL
		AND DATEADD(DAY,-1,DATEADD(YEAR,1,(CONVERT(DATE,@w_year)))) >= M0070.company_in_dt
		)	
		OR  (
				M0070.company_out_dt IS NOT NULL 
			AND CONVERT(DATE,@w_year) <= M0070.company_out_dt 
			AND DATEADD(DAY,-1,DATEADD(YEAR,1,(CONVERT(DATE,@w_year)))) >= M0070.company_in_dt
		)
	)
	
	-- #M0060
	IF EXISTS ( SELECT 1 FROM #M0060)
	BEGIN
		--DELETE 
		DELETE #M0070_EMPLOYEE_CD
		FROM #M0070_EMPLOYEE_CD 
		LEFT OUTER JOIN #M0060 ON (
			#M0070_EMPLOYEE_CD.company_cd	= #M0060.company_cd
		AND	#M0070_EMPLOYEE_CD.employee_typ = #M0060.employee_typ
		)
		WHERE #M0060.employee_typ IS NULL
		AND @P_group_cd  <> -1
		--UPDATE
		UPDATE #M0070_EMPLOYEE_CD
		SET		group_cd	=	ISNULL(#M0060.group_cd,-1)
		FROM #M0070_EMPLOYEE_CD 
		INNER JOIN #M0060 ON (
			#M0070_EMPLOYEE_CD.company_cd	= #M0060.company_cd
		AND	#M0070_EMPLOYEE_CD.employee_typ = #M0060.employee_typ
		)
		WHERE #M0060.employee_typ IS NOT NULL
	END 
	--#M0030
	IF EXISTS ( SELECT 1 FROM #M0030) 
	BEGIN
		IF	EXISTS (SELECT 1 FROM #M0070_EMPLOYEE_CD WHERE group_cd	<>	-1)
		BEGIN
			IF @P_group_cd	<> -1 
			BEGIN
				DELETE #M0070_EMPLOYEE_CD
				FROM #M0070_EMPLOYEE_CD 
				LEFT JOIN #M0030 ON (
					#M0070_EMPLOYEE_CD.company_cd	=	#M0030.company_cd
				AND	#M0070_EMPLOYEE_CD.job_cd		=	#M0030.job_cd
				AND	#M0070_EMPLOYEE_CD.group_cd		=	#M0030.group_cd
				)
				WHERE	#M0030.job_cd IS NULL
			END
			ELSE
			BEGIN
				UPDATE #M0070_EMPLOYEE_CD
				SET		group_cd	=	CASE 
											WHEN 	(#M0030.job_cd IS NULL)
												OR	(
													#M0030.job_cd IS NOT NULL
												AND	#M0070_EMPLOYEE_CD.job_cd		=	#M0030.job_cd
													)
											THEN #M0070_EMPLOYEE_CD.group_cd
											ELSE -1
										END
				FROM #M0070_EMPLOYEE_CD 
				LEFT JOIN #M0030 ON (
					#M0070_EMPLOYEE_CD.company_cd	=	#M0030.company_cd
				AND	#M0070_EMPLOYEE_CD.group_cd		=	#M0030.group_cd
				)
			END
		END
		ELSE
		BEGIN
			--UPDATE
			UPDATE #M0070_EMPLOYEE_CD
			SET		group_cd	=	ISNULL(#M0030.group_cd,-1)
			FROM #M0070_EMPLOYEE_CD 
			LEFT JOIN #M0030 ON (
				#M0070_EMPLOYEE_CD.company_cd	=	#M0030.company_cd
			AND	#M0070_EMPLOYEE_CD.job_cd		=	#M0030.job_cd
			)
			WHERE #M0030.job_cd IS NOT NULL
		END
	END
	--#M0040
 	IF EXISTS ( SELECT 1 FROM #M0040) 
	BEGIN
		IF	EXISTS (SELECT 1 FROM #M0070_EMPLOYEE_CD WHERE group_cd	<>	-1)
		BEGIN
			IF @P_group_cd	<> -1
			BEGIN
				--DELETE
				DELETE #M0070_EMPLOYEE_CD
				FROM #M0070_EMPLOYEE_CD 
				LEFT JOIN #M0040 ON (
					#M0070_EMPLOYEE_CD.company_cd	=	#M0040.company_cd
				AND	#M0070_EMPLOYEE_CD.position_cd	=	#M0040.position_cd
				AND	#M0070_EMPLOYEE_CD.group_cd		=	#M0040.group_cd
				)
				WHERE	#M0040.position_cd IS NULL
			END
			ELSE
			BEGIN
				UPDATE #M0070_EMPLOYEE_CD
				SET		group_cd	=	CASE 
											WHEN 	(#M0040.position_cd IS NULL)
												OR	(
													#M0040.position_cd IS NOT NULL
												AND	#M0070_EMPLOYEE_CD.position_cd		=	#M0040.position_cd
													)
											THEN #M0070_EMPLOYEE_CD.group_cd
											ELSE -1
										END
				FROM #M0070_EMPLOYEE_CD 
				LEFT JOIN #M0040 ON (
					#M0070_EMPLOYEE_CD.company_cd	=	#M0040.company_cd
				AND	#M0070_EMPLOYEE_CD.group_cd		=	#M0040.group_cd
				)
			END
		END
		ELSE
		BEGIN
			--UPDATE
			UPDATE #M0070_EMPLOYEE_CD
			SET		group_cd	=	ISNULL(#M0040.group_cd,-1)
			FROM #M0070_EMPLOYEE_CD 
			LEFT JOIN #M0040 ON (
				#M0070_EMPLOYEE_CD.company_cd	=	#M0040.company_cd
			AND	#M0070_EMPLOYEE_CD.position_cd	=	#M0040.position_cd
			)
			WHERE #M0040.position_cd IS NOT NULL
		END
	END
	--#M0050
	IF EXISTS (SELECT 1 FROM #M0050) 
	BEGIN
		IF	EXISTS (SELECT 1 FROM #M0070_EMPLOYEE_CD WHERE group_cd	<>	-1)
		BEGIN
			IF @P_group_cd	<> -1
			BEGIN
				--DELETE
				DELETE #M0070_EMPLOYEE_CD
				FROM #M0070_EMPLOYEE_CD 
				LEFT JOIN #M0050 ON (
					#M0070_EMPLOYEE_CD.company_cd	=	#M0050.company_cd
				AND	#M0070_EMPLOYEE_CD.grade		=	#M0050.grade
				AND	#M0070_EMPLOYEE_CD.group_cd		=	#M0050.group_cd
				)
				WHERE	#M0050.grade IS NULL
			END
			ELSE
			BEGIN
				UPDATE #M0070_EMPLOYEE_CD
				SET		group_cd	=	CASE 
											WHEN 	(#M0050.grade IS NULL)
												OR	(
													#M0050.grade IS NOT NULL
												AND	#M0070_EMPLOYEE_CD.grade		=	#M0050.grade
													)
											THEN #M0070_EMPLOYEE_CD.group_cd
											ELSE -1
										END
				FROM #M0070_EMPLOYEE_CD 
				LEFT JOIN #M0050 ON (
					#M0070_EMPLOYEE_CD.company_cd	=	#M0050.company_cd
				AND	#M0070_EMPLOYEE_CD.group_cd		=	#M0050.group_cd
				)
			END
		END
		ELSE
		BEGIN
			--UPDATE
			UPDATE #M0070_EMPLOYEE_CD
			SET		group_cd	=	ISNULL(#M0050.group_cd,-1)
			FROM #M0070_EMPLOYEE_CD 
			LEFT JOIN #M0050 ON (
				#M0070_EMPLOYEE_CD.company_cd	=	#M0050.company_cd
			AND	#M0070_EMPLOYEE_CD.grade		=	#M0050.grade
			)
			WHERE #M0050.grade IS NOT NULL
		END
	END

	-- [0]
	SELECT 
		company_cd		
	,	group_cd		
	,	employee_cd		
	,	employee_typ	
	,	job_cd			
	,	position_cd		
	,	grade			
	 FROM #M0070_EMPLOYEE_CD
END

GO

