/****** Object:  StoredProcedure [dbo].[SPC_S0020_INQ1]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_S0020_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_S0020_INQ1 '1'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	S0020_権限設定マスタ
--*  
--*  作成日/create date			:	2018/08/27						
--*　作成者/creater				:	SonDH								
--*   					
--*  更新日/update date			:  2022/08/16
--*　更新者/updater				:　tuyedn
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_S0020_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_company_cd			SMALLINT		= 0
,	@P_language			    NVARCHAR(MAX)	= ''   -- add tuyendn 2022/08/16
AS
BEGIN
	SET NOCOUNT ON;

	CREATE TABLE #M0020 (
		id							INT IDENTITY(1, 1)
	,	organization_cd_1			nvarchar(20)
	,	organization_cd_2			nvarchar(20)
	,	organization_cd_3			nvarchar(20)
	,	organization_cd_4			nvarchar(20)
	,	organization_cd_5			nvarchar(20)
	,	organization_typ			tinyint
	,	organization_nm				nvarchar(50)
	,	organization_ab_nm			nvarchar(20)
	,	parent_id					int
	,	selector					nvarchar(100),
		arrange_order				int
	)
	--
	INSERT INTO #M0020
	SELECT
		organization_cd_1
	,	organization_cd_2
	,	organization_cd_3
	,	organization_cd_4
	,	organization_cd_5
	,	organization_typ
	,	organization_nm
	,	organization_ab_nm
	,	0
	,	CONCAT(
			organization_cd_1
		,	'-'
		,	organization_cd_2
		,	'-'
		,	organization_cd_3
		,	'-'
		,	organization_cd_4
		,	'-'
		,	organization_cd_5
	)
	,	arrange_order
	FROM M0020
	WHERE
		company_cd	=	@P_company_cd
	AND	 del_datetime IS NULL

	-- find parent_id
	-- type = 5
	UPDATE R
	SET parent_id = R1.id
	FROM #M0020 AS R
	INNER JOIN #M0020 AS R1 ON (
		R.organization_cd_1	=	R1.organization_cd_1
	AND	R.organization_cd_2	=	R1.organization_cd_2
	AND	R.organization_cd_3	=	R1.organization_cd_3
	AND	R.organization_cd_4	=	R1.organization_cd_4
	)
	WHERE
		R1.organization_typ = 4
	AND	R.organization_typ = 5
	-- type = 4
	UPDATE R
	SET parent_id = R1.id
	FROM #M0020 AS R
	INNER JOIN #M0020 AS R1 ON (
		R.organization_cd_1	=	R1.organization_cd_1
	AND	R.organization_cd_2	=	R1.organization_cd_2
	AND	R.organization_cd_3	=	R1.organization_cd_3
	)
	WHERE
		R1.organization_typ = 3
	AND	R.organization_typ = 4
	-- type = 3
	UPDATE R
	SET parent_id = R1.id
	FROM #M0020 AS R
	INNER JOIN #M0020 AS R1 ON (
		R.organization_cd_1	=	R1.organization_cd_1
	AND	R.organization_cd_2	=	R1.organization_cd_2
	)
	WHERE
		R1.organization_typ = 2
	AND	R.organization_typ = 3
	-- type = 2
	UPDATE R
	SET parent_id = R1.id
	FROM #M0020 AS R
	INNER JOIN #M0020 AS R1 ON (
		R.organization_cd_1	=	R1.organization_cd_1
	)
	WHERE
		R1.organization_typ = 1
	AND	R.organization_typ = 2

	--[0]
	SELECT 
		ISNULL(function_id,'')							AS function_id
	,	CASE																		--add tuyendn 2022/08/16
			WHEN	@P_language = 'en'
			THEN	ISNULL(L0030.function_nm_english,'')
			ELSE	ISNULL(L0030.function_nm,'')
		END												AS	function_nm
	,	ISNULL(category,0)								AS category
	FROM L0030
	WHERE del_datetime IS NULL
	AND   L0030.[system] = 1
	ORDER BY category, arrange_order

	--[1]
	SELECT
		ISNULL(number_cd,0)					AS number_cd
	,	CASE																		--add tuyendn 2022/08/16
			WHEN	@P_language = 'en'
			THEN	ISNULL(L0010.name_english,'')
			ELSE	ISNULL(L0010.name,'')
		END													AS	[name]
	FROM L0010
	WHERE del_datetime IS NULL
	AND name_typ = 5

	--[2]
	SELECT * FROM #M0020 WHERE organization_typ = 1
	ORDER BY
		arrange_order ASC
	,	CASE WHEN organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_1 AS bigint)
			ELSE 999
		END
	,	organization_cd_1
	--[3]
	SELECT * FROM #M0020 WHERE organization_typ = 2
	ORDER BY
		CASE WHEN organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_1 AS bigint)
			ELSE 999
		END
	,	organization_cd_1
	,	arrange_order ASC
	,	CASE WHEN organization_cd_2 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_2 AS bigint)
			ELSE 999
		END
	,	organization_cd_2
	--[4]
	SELECT * FROM #M0020 WHERE organization_typ = 3
	ORDER BY
		CASE WHEN organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_1 AS bigint)
			ELSE 999
		END
	,	organization_cd_1
	,	CASE WHEN organization_cd_2 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_2 AS bigint)
			ELSE 999
		END
	,	organization_cd_2
	,	arrange_order ASC
	,	CASE WHEN organization_cd_3 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_3 AS bigint)
			ELSE 999
		END
	,	organization_cd_3
	--[5]
	SELECT * FROM #M0020 WHERE organization_typ = 4
	ORDER BY
		CASE WHEN organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_1 AS bigint)
			ELSE 999
		END
	,	organization_cd_1
	,	CASE WHEN organization_cd_2 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_2 AS bigint)
			ELSE 999
		END
	,	organization_cd_2
	,	CASE WHEN organization_cd_3 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_3 AS bigint)
			ELSE 999
		END
	,	organization_cd_3
	,	arrange_order ASC
	,	CASE WHEN organization_cd_4 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_4 AS bigint)
			ELSE 999
		END
	,	organization_cd_4
	--[6]
	SELECT * FROM #M0020 WHERE organization_typ = 5
	ORDER BY
		CASE WHEN organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_1 AS bigint)
			ELSE 999
		END
	,	organization_cd_1
	,	CASE WHEN organization_cd_2 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_2 AS bigint)
			ELSE 999
		END
	,	organization_cd_2
	,	CASE WHEN organization_cd_3 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_3 AS bigint)
			ELSE 999
		END
	,	organization_cd_3
	,	CASE WHEN organization_cd_4 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_4 AS bigint)
			ELSE 999
		END
	,	organization_cd_4
	,	arrange_order ASC
	,	CASE WHEN organization_cd_5 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_5 AS bigint)
			ELSE 999
		END
	,	organization_cd_5
	
	--CLEAR
	DROP TABLE #M0020
END
GO
