/****** Object:  StoredProcedure [dbo].[SPC_S0020_ACT1]    Script Date: 2018/08/28 16:39:16 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_S0020_ACT1] 
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_S0020_ACT1 '{}','','::1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/08/28									
--*	作成者/creater				:	SonDH						
--*   					
--*	更新日/update date			:  	2020-12-04					
--*	更新者/updater				:　 nghianm-nghianm@ans-asia.com					     	 
--*	更新内容/update content		:	add item organization_belong_person_typ into s0020
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_S0020_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)
	-- common
,	@P_cre_user				NVARCHAR(50)			= ''	
,	@P_cre_ip				NVARCHAR(50)			= ''
,	@P_company_cd			SMALLINT				= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time								DATETIME2			= SYSDATETIME()
	,	@ERR_TBL							ERRTABLE	
	,	@order_by_min						INT					= 0
	,	@P_authority_cd						SMALLINT			= 0
	,	@P_authority_nm						NVARCHAR(50)		= ''
	,	@P_use_typ							SMALLINT			= 0
	,	@P_organization_belong_person_typ	SMALLINT			= 0
	,	@authority_cd			SMALLINT	= 0
	,	@P_arrange_order		INT			= 0
	
	--
	CREATE TABLE #S0021(
		id						INT IDENTITY(1,1)
	,	company_cd				SMALLINT	
	,	authority_cd			SMALLINT
	,	function_id				NVARCHAR(10)
	,	authority				SMALLINT
	)

	--
	CREATE TABLE #S0022(
		id						INT IDENTITY(1,1)
	,	company_cd				SMALLINT	
	,	authority_cd			SMALLINT
	,	organization_cd_1		NVARCHAR(20)
	,	organization_cd_2		NVARCHAR(20)
	,	organization_cd_3		NVARCHAR(20)
	,	organization_cd_4		NVARCHAR(20)
	,	organization_cd_5		NVARCHAR(20)
	,	authority				SMALLINT
	)

	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY

		-- assign
		SET @P_authority_cd						=	JSON_VALUE(@P_json,'$.authority_cd')
		SET @P_authority_nm						=	JSON_VALUE(@P_json,'$.authority_nm')
		SET @P_use_typ							=	JSON_VALUE(@P_json,'$.use_typ')
		SET @P_organization_belong_person_typ	=	JSON_VALUE(@P_json,'$.organization_belong_person_typ')
		SET @P_arrange_order					=	JSON_VALUE(@P_json,'$.arrange_order')
		SET @authority_cd						=	(SELECT ISNULL(MAX(authority_cd),0) FROM S0020 WHERE company_cd = @P_company_cd) 

		-- GET #S0021 DATA
		INSERT INTO #S0021
		SELECT
			@P_company_cd
		,	@P_authority_cd
		,	ISNULL(function_id, '')
		,	ISNULL(authority, 0)			
		FROM OPENJSON(@P_json, '$.list_function') WITH(
			function_id				NVARCHAR(10)
		,	authority				SMALLINT
		)

		-- GET #S0022 DATA
		INSERT INTO #S0022
		SELECT
			@P_company_cd
		,	@P_authority_cd
		,	ISNULL(organization_cd_1, 0)
		,	ISNULL(organization_cd_2, 0)
		,	ISNULL(organization_cd_3, 0)
		,	ISNULL(organization_cd_4, 0)
		,	ISNULL(organization_cd_5, 0)
		,	ISNULL(authority, 0)
		FROM OPENJSON(@P_json, '$.list_organization') WITH(
			authority			SMALLINT
		,	organization_cd_1	NVARCHAR(20)
		,	organization_cd_2	NVARCHAR(20)
		,	organization_cd_3	NVARCHAR(20)
		,	organization_cd_4	NVARCHAR(20)
		,	organization_cd_5	NVARCHAR(20)
		)
		--WHERE ISNULL(authority, 0) <> 0

		IF EXISTS (SELECT 1 FROM S0020 WHERE company_cd = @P_company_cd AND authority_cd = @P_authority_cd AND del_datetime IS NOT NULL)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(
				8
			,	'#authority_cd'
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'authority_cd not found'
			)
		END

		-- do stuff
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)

		BEGIN
			IF @P_authority_cd = 0
			BEGIN
				--
				INSERT INTO S0020
				SELECT 
					@P_company_cd
				,	@authority_cd + 1
				,	@P_authority_nm
				,	@P_use_typ
				,	@P_organization_belong_person_typ
				,	@P_arrange_order
				,	@P_cre_user	
				,	@P_cre_ip
				,	'S0020'	
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				
				SET @P_authority_cd	= @authority_cd + 1

				--
				INSERT INTO S0021
				SELECT 
					@P_company_cd
				,	@P_authority_cd
				,	#S0021.function_id
				,	#S0021.authority
				,	@P_cre_user	
				,	@P_cre_ip	
				,	'S0020'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #S0021

				--
				INSERT INTO S0022
				SELECT
					@P_company_cd
				,	@P_authority_cd
				,	#S0022.organization_cd_1
				,	#S0022.organization_cd_2
				,	#S0022.organization_cd_3
				,	#S0022.organization_cd_4
				,	#S0022.organization_cd_5
				,	#S0022.authority
				,	@P_cre_user	
				,	@P_cre_ip	
				,	'S0020'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #S0022 
		

			END
			ELSE BEGIN
				--
				UPDATE S0020
				SET
					authority_nm	=	@P_authority_nm
				,	use_typ			=	@P_use_typ
				,	organization_belong_person_typ =	@P_organization_belong_person_typ
				,	arrange_order	=	@P_arrange_order
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	'S0020'
				,	upd_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	authority_cd	=	@P_authority_cd
				AND del_datetime IS NULL

				--
				UPDATE S0021
				SET
					authority		=	#S0021.authority
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	'S0020'
				,	upd_datetime	=	@w_time
				FROM  S0021
				INNER JOIN #S0021 ON (
					S0021.company_cd	=	#S0021.company_cd
				AND S0021.authority_cd	=	#S0021.authority_cd
				AND S0021.function_id	=	#S0021.function_id
				)
				 WHERE
					S0021.company_cd	=	@P_company_cd
				AND del_datetime IS NULL

				--
				--DELETE S0021
				--FROM S0021
				--LEFT JOIN #S0021 ON (
				--	S0021.company_cd		=	#S0021.company_cd
				--AND	S0021.authority_cd		=	#S0021.authority_cd
				--AND	S0021.function_id		=	#S0021.function_id
				--)
				--WHERE 
				--#S0021.function_id IS NULL

				--
				INSERT INTO S0021
				SELECT 
					@P_company_cd
				,	@P_authority_cd
				,	#S0021.function_id
				,	#S0021.authority
				,	@P_cre_user	
				,	@P_cre_ip	
				,	'S0020'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #S0021
				LEFT JOIN S0021 ON (
					#S0021.company_cd		=	S0021.company_cd
				AND	#S0021.authority_cd		=	S0021.authority_cd
				AND	#S0021.function_id		=	S0021.function_id
				)
				WHERE S0021.function_id IS NULL


				--
				UPDATE S0022
				SET
					authority		=	#S0022.authority
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	'S0020'
				,	upd_datetime	=	@w_time
				FROM  S0022
				INNER JOIN #S0022 ON (
					S0022.company_cd		=	#S0022.company_cd
				AND S0022.authority_cd		=	#S0022.authority_cd
				AND S0022.organization_cd_1	=	#S0022.organization_cd_1
				AND S0022.organization_cd_2	=	#S0022.organization_cd_2
				AND S0022.organization_cd_3	=	#S0022.organization_cd_3
				AND S0022.organization_cd_4	=	#S0022.organization_cd_4
				AND S0022.organization_cd_5	=	#S0022.organization_cd_5
				)
				 WHERE
					S0022.company_cd	=	@P_company_cd
				AND S0022.authority_cd	=	@P_authority_cd
				AND S0022.del_datetime IS NULL

				--select * from #S0022 return

				DELETE S0022
				FROM  S0022
				LEFT JOIN #S0022 ON (
					S0022.company_cd		=	#S0022.company_cd
				AND S0022.authority_cd		=	#S0022.authority_cd
				AND S0022.organization_cd_1	=	#S0022.organization_cd_1
				AND S0022.organization_cd_2	=	#S0022.organization_cd_2
				AND S0022.organization_cd_3	=	#S0022.organization_cd_3
				AND S0022.organization_cd_4	=	#S0022.organization_cd_4
				AND S0022.organization_cd_5	=	#S0022.organization_cd_5
				)
				 WHERE
					S0022.company_cd	=	@P_company_cd
				AND S0022.authority_cd	=	@P_authority_cd
				AND S0022.del_datetime IS NULL
				AND #S0022.authority_cd IS NULL

				--return
				--

			
				INSERT INTO S0022
				SELECT
					@P_company_cd
				,	@P_authority_cd
				,	#S0022.organization_cd_1
				,	#S0022.organization_cd_2
				,	#S0022.organization_cd_3
				,	#S0022.organization_cd_4
				,	#S0022.organization_cd_5
				,	#S0022.authority
				,	@P_cre_user	
				,	@P_cre_ip
				,	'S0020'	
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #S0022 
				LEFT JOIN S0022 ON (
					#S0022.company_cd			=	S0022.company_cd
				AND #S0022.authority_cd			=	S0022.authority_cd
				AND S0022.organization_cd_1	=	#S0022.organization_cd_1
				AND S0022.organization_cd_2	=	#S0022.organization_cd_2
				AND S0022.organization_cd_3	=	#S0022.organization_cd_3
				AND S0022.organization_cd_4	=	#S0022.organization_cd_4
				AND S0022.organization_cd_5	=	#S0022.organization_cd_5
				)
				WHERE S0022.company_cd IS NULL
				
			END
		END
		
		--SELECT * FROM #S0021
		--SELECT * FROM #S0022
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	
	--
	SELECT @P_authority_cd    AS    authority_cd

END
GO