.text-radio {
	color: #2b7bdf;
}
.list td {
	text-align: center;
	padding: 15px ;
}
.list2 td {
	padding: 12px ;
}
.tr-table th {
	position: sticky;
}
.table2  a {
	color: #007bff !important;
}
.table-responsive-right {
	height: unset;
}
#inner {
	padding-left: 0px;
	padding-top: 10px;
}
.md-radio-v2 input[type="radio"] {
    opacity: 0;
    position: absolute;
}
.list img {
	width:40px;
}
/* .list2 td {
	border: 0px;
} */
.borderRight {
	border-right : 1px solid #dee2e6 !important;
}
.table-oneheader {
	border:1px solid #dee2e6 !important;
}
#select2_period {
	margin-right: 20px;
}
.md-radio-v2.inline-block label {
	line-height: 20px;
}
@media (min-width: 1700px) and (max-width: 1900px){
	#select2_period {
		max-width: 237px !important;
	}
}
@media (min-width: 1260px) and (max-width: 1669px){
	body,h6 {
		font-size: 12px;
	}
	.md-radio-v2.inline-block label {
		font-size: 93%;
		line-height: 19px;
	}
	#select2_period {
		margin-right: 0px;
	}
	.month-text {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}
@media (max-width: 575px) {
	#table-data {
	  min-width: 1000px !important;
	}
	#leftcontent > .inner, #rightcontent > .inner {
		min-height: unset !important;
		height: unset !important;
	}

	body{
		padding-top: unset;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	#table-data {
		min-width: 1100px !important;

	}
	#leftcontent > .inner, #rightcontent > .inner {
		min-height: unset !important;
		height: unset !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#table-data {
		min-width: 1200px !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#table-data {
		min-width: 1300px !important;
	}
}
.main-oneonone{
	padding-top: unset;
}

.tr_header1 th{
	top:49px !important;
}
.tr_header2 th{
	top: 98px !important;
}
.btn-odashboard:hover .img_icon_video1{
	display: none;
}
.btn-odashboard:hover .img_icon_video2{
	display: block !important;
}

.pencil-style-disable{
	border: solid 1px;
    border-radius: 50%;
    padding: 7px;
    font-size: large;
}
.pencil-style-active{
	border: solid 1px;
    border-radius: 50%;
    padding: 7px;
	font-size: large;
	color: #fc933c;
	outline: none;
}
.pencil-style-active:hover{
	border: solid 1px #fc933c;
	color: white;
	background-color: #fc933c;
	cursor: pointer;
}
.oq2020_link{
	outline: none;
}
.tr_header2 th{
	background-color: #fff !important;
}
.fa-fw{
	font-size: large;
	border: solid 1px;
	width: 31px;
	height: 31px;
	border-radius: 50%;
	padding: 5px;
  }

  .fa-active{
	color: #fc933c;
  }
  .fa-active:hover{
	  border: solid 1px #fc933c;
	  color: white;
	background-color: #fc933c;
	cursor: pointer;
  }