/****** Object:  StoredProcedure [dbo].[SPC_M0020_ACT4]    Script Date: 2018/08/22 10:26:12 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_M0020_ACT4] 
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	DELETE DATA
--*  
--* 作成日/create date			:	2018/08/22											
--*	作成者/creater				:	SonDH						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0020_ACT4] 
	-- Add the parameters for the stored procedure here
	@P_json							NVARCHAR(max)		= ''
	-- common							  
,	@P_cre_user						NVARCHAR(50)		= ''
,	@P_cre_ip						NVARCHAR(50)		= ''
,	@P_company_cd					SMALLINT			= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			= SYSDATETIME()
	,	@ERR_TBL					ERRTABLE			  
	,	@order_by_min				INT					= 0
	,	@max_level					TINYINT				= 0
	
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--
		CREATE TABLE #M0022 (
			id						smallint identity(1, 1)
		,	use_typ					smallint
		,	organization_group_nm	nvarchar(20)
		,	mark97					tinyint
		)
		--
		INSERT INTO #M0022
		SELECT
			use_typ
		,	organization_group_nm
		,	0
		FROM OPENJSON(@P_json)
		WITH (
			use_typ					smallint
		,	organization_group_nm	nvarchar(20)
		)
		-- mark 7
		INSERT INTO @ERR_TBL
		SELECT
			8
		,	'#organization_group_nm'+CAST(#M0022.id AS nvarchar(2))
		,	0-- oderby
		,	0-- dialog  
		,	0
		,	0
		,	'organization_group_nm empty'
		FROM #M0022
		WHERE
			#M0022.use_typ = 1
		AND	#M0022.organization_group_nm = ''
		--
		IF NOT EXISTS (
			SELECT 1 FROM #M0022 WHERE use_typ = 1
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
			8
		,	'#use_typ1+label'
		,	0-- oderby
		,	0-- dialog  
		,	0
		,	0
		,	'checkbox empty'
		END
		-- mark 97
		-- everything has required
		--IF NOT EXISTS (SELECT 1 FROM #M0022 WHERE #M0022.use_typ = 1 AND #M0022.organization_group_nm = '')
		--BEGIN
		--	SET @max_level = ISNULL((SELECT MAX(id) FROM #M0022 WHERE use_typ = 1), 0)
		--	--
		--	INSERT INTO @ERR_TBL
		--	SELECT
		--		97
		--	,	'#use_typ'+CAST(#M0022.id AS nvarchar(2))+'+label'
		--	,	0-- oderby
		--	,	0-- dialog  
		--	,	0
		--	,	0
		--	,	'organization_group_nm not be in order'
		--	FROM #M0022
		--	WHERE
		--		id < @max_level
		--	AND	use_typ = 0
		--END
		--
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			IF NOT EXISTS (
				SELECT 1 FROM M0022 WHERE company_cd=@P_company_cd AND del_datetime IS NULL
			)
			BEGIN
				INSERT INTO M0022
				SELECT
					@P_company_cd
				,	id--organization_typ
				,	use_typ
				,	organization_group_nm
				,	@P_cre_user	
				,	@P_cre_ip	
				,	'M0020'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #M0022
			END
			ELSE BEGIN
				UPDATE A
				SET
					use_typ						=	#M0022.use_typ
				,	organization_group_nm		=	#M0022.organization_group_nm
				,	upd_user					=	@P_cre_user
				,	upd_ip						=	@P_cre_ip
				,	upd_prg						=	'M0020'
				,	upd_datetime				=	@w_time
				FROM M0022 AS A
				INNER JOIN #M0022 ON (
					A.company_cd		=	@P_company_cd
				AND	A.organization_typ	=	#M0022.id
				)
			END
		END
		--
		DROP TABLE #M0022
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
