/****** Object:  StoredProcedure [dbo].[SPC_M0020_ACT5]    Script Date: 2018/08/22 10:26:12 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_M0020_ACT5] 
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_M0020_ACT5 '{"organization_typ":"1","organization_cd_1":"010","organization_cd_2":"","organization_cd_3":"","organization_cd_4":"","organization_cd_5":"","organization_nm":"Maker","organization_ab_nm":"Maker","responsible_cd":"","arrange_order":"0","employee_nm":"","same_level":"-1","import_cd":"123"}','721','::1','740';
-- same_level: -1 -> only update data
-- same_level: 0 -> create new same level, required organization_cd level = level - 1
-- same_level: 1 -> create new sub level, required organization_cd level = level
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	DELETE DATA
--*  
--* 作成日/create date			:	2018/08/22											
--*	作成者/creater				:	SonDH						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0020_ACT5] 
	-- Add the parameters for the stored procedure here
	@P_json							NVARCHAR(max)		= ''
	-- common							  
,	@P_cre_user						NVARCHAR(50)		= ''
,	@P_cre_ip						NVARCHAR(50)		= ''
,	@P_company_cd					SMALLINT			= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			= SYSDATETIME()
	,	@ERR_TBL					ERRTABLE			  
	,	@order_by_min				INT					= 0
	--
	,	@organization_typ			TINYINT				= 0
	,	@organization_cd_1			NVARCHAR(20)		= ''
	,	@organization_cd_2			NVARCHAR(20)		= ''
	,	@organization_cd_3			NVARCHAR(20)		= ''
	,	@organization_cd_4			NVARCHAR(20)		= ''
	,	@organization_cd_5			NVARCHAR(20)		= ''
	,	@organization_nm 			NVARCHAR(50)		= ''
	,	@organization_ab_nm   		NVARCHAR(10)		= ''
	,	@responsible_cd  			NVARCHAR(10)		= ''
	,	@import_cd  				NVARCHAR(255)		= ''
	,	@arrange_order  			INT					= 0
	,	@employee_nm				NVARCHAR(20)		= ''
	,	@working_level				TINYINT				= 0
	--
	,	@max_cd1					INT			        = 0
	,	@max_cd2					INT			        = 0
	,	@max_cd3					INT			        = 0
	,	@max_cd4					INT			        = 0
	,	@max_cd5					INT			        = 0
	,	@same_level					INT			        = 0
	,	@count_use_typ				INT			        = 0
	,	@import_cd_check  			INT					= 0
	
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--
		SET @organization_typ 	    =	JSON_VALUE(@P_json,'$.organization_typ')
		SET @organization_cd_1 	    =	JSON_VALUE(@P_json,'$.organization_cd_1')
		SET @organization_cd_2 	    =	JSON_VALUE(@P_json,'$.organization_cd_2')
		SET @organization_cd_3 	    =	JSON_VALUE(@P_json,'$.organization_cd_3')
		SET @organization_cd_4 	    =	JSON_VALUE(@P_json,'$.organization_cd_4')
		SET @organization_cd_5 	    =	JSON_VALUE(@P_json,'$.organization_cd_5')
		SET @organization_nm 	    =	JSON_VALUE(@P_json,'$.organization_nm')
		SET @organization_ab_nm  	=	JSON_VALUE(@P_json,'$.organization_ab_nm')
		SET @responsible_cd  		=	JSON_VALUE(@P_json,'$.responsible_cd')
		SET @arrange_order  		=	JSON_VALUE(@P_json,'$.arrange_order')
		SET @employee_nm 			=	JSON_VALUE(@P_json,'$.employee_nm')
		SET @same_level				=	JSON_VALUE(@P_json,'$.same_level')
		SET @import_cd				=	JSON_VALUE(@P_json,'$.import_cd')

		SET @import_cd_check		=	ISNULL((SELECT 1 FROM M0020 WHERE
											company_cd			=	@P_company_cd
										AND	import_cd			=	@import_cd
										AND	organization_cd_1	=	@organization_cd_1
										AND	organization_cd_2	=	@organization_cd_2
										AND	organization_cd_3	=	@organization_cd_3
										AND	organization_cd_4	=	@organization_cd_4
										AND	organization_cd_5	=	@organization_cd_5
										AND	organization_typ	=	@organization_typ
										AND	del_datetime IS NULL), 0)
		CREATE TABLE #OC1 (
			id	int identity(1, 1)
		,	cd	nvarchar(20)
		)
		--
		CREATE TABLE #OC2 (
			id	int identity(1, 1)
		,	cd	nvarchar(20)
		)
		--
		CREATE TABLE #OC3 (
			id	int identity(1, 1)
		,	cd	nvarchar(20)
		)
		--
		CREATE TABLE #OC4 (
			id	int identity(1, 1)
		,	cd	nvarchar(20)
		)
		--
		CREATE TABLE #OC5 (
			id	int identity(1, 1)
		,	cd	nvarchar(20)
		)
		--
		IF @organization_nm = ''
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				8
			,	'#organization_nm'
			,	0
			,	0
			,	0
			,	0
			,	'validate required'
			)
		END
		--
		IF @responsible_cd <> '' AND NOT EXISTS (
			SELECT 1 FROM M0070 WHERE company_cd = @P_company_cd AND employee_cd = @responsible_cd AND del_datetime IS NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				21
			,	'#employee_nm'
			,	0
			,	0
			,	0
			,	0
			,	'validate required'
			)
		END
		-- validate condition use_typ in M0022
		SET @count_use_typ = ISNULL((
			SELECT COUNT(use_typ) FROM M0022
			WHERE
				company_cd = @P_company_cd
			AND	use_typ	= 1
			AND del_datetime IS NULL
		) , 0)
		--
		IF @count_use_typ = 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				97
			,	'#organization_nm'
			,	0
			,	1
			,	0
			,	0
			,	'validate 97'
			)
		END

		IF @same_level = -1 AND @import_cd_check = 0 AND EXISTS (
			SELECT 1 FROM M0020
			WHERE
				company_cd = @P_company_cd
			AND	import_cd  = @import_cd
			AND import_cd  <> ''
			AND	del_datetime IS NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				159
			,	'#import_cd'
			,	0
			,	1
			,	0
			,	0
			,	'validate 159'
			)
		END

		IF (@same_level = 0 OR @same_level = 1) AND EXISTS (
			SELECT 1 FROM M0020
			WHERE
				company_cd = @P_company_cd
			AND	import_cd  = @import_cd
			AND import_cd  <> ''
			AND	del_datetime IS NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				159
			,	'#import_cd'
			,	0
			,	1
			,	0
			,	0
			,	'validate 159'
			)
		END

		--
		--IF @same_level < 1 AND @count_use_typ > 0 AND NOT EXISTS (
		--	SELECT 1 FROM M0022
		--	WHERE
		--		company_cd = @P_company_cd
		--	AND organization_typ = @organization_typ
		--	AND use_typ = 1
		--	AND del_datetime IS NULL
		--)
		--BEGIN
		--	INSERT INTO @ERR_TBL VALUES(		
		--		33
		--	,	'#organization_nm'
		--	,	0
		--	,	0
		--	,	0
		--	,	0
		--	,	'validate 33'
		--	)
		--END
		--
		--IF @same_level = 1 AND @count_use_typ > 0 AND NOT EXISTS (
		--	SELECT 1 FROM M0022
		--	WHERE
		--		company_cd = @P_company_cd
		--	AND organization_typ = (@organization_typ+1)
		--	AND use_typ = 1
		--	AND del_datetime IS NULL
		--)
		--BEGIN
		--	INSERT INTO @ERR_TBL VALUES(		
		--		33
		--	,	'#organization_nm'
		--	,	0
		--	,	0
		--	,	0
		--	,	0
		--	,	'validate 33'
		--	)
		--END
		--
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- only update data
			IF @same_level = -1
			BEGIN
				UPDATE M0020
				SET
					organization_nm		=	@organization_nm
				,	organization_ab_nm	=	@organization_ab_nm
				,	responsible_cd		=	@responsible_cd
				,	import_cd			=	@import_cd
				,	arrange_order		=	@arrange_order
				,	upd_user			=	@P_cre_user
				,	upd_ip				=	@P_cre_ip
				,	upd_prg				=	'M0020'
				,	upd_datetime		=	@w_time
				WHERE
					company_cd			=	@P_company_cd
				AND	organization_cd_1	=	@organization_cd_1
				AND	organization_cd_2	=	@organization_cd_2
				AND	organization_cd_3	=	@organization_cd_3
				AND	organization_cd_4	=	@organization_cd_4
				AND	organization_cd_5	=	@organization_cd_5
				AND	organization_typ	=	@organization_typ
				AND	del_datetime IS NULL
			END
			-- always create new record M0020
			-- with this conditions
			IF @same_level = 0
			BEGIN
				SET @working_level = @organization_typ
			END
			--
			IF @same_level = 1
			BEGIN
				SET @working_level = @organization_typ + 1
			END
			--
			IF @same_level = 0 OR @same_level = 1
			BEGIN
				--
				INSERT INTO #OC1
				SELECT organization_cd_1 FROM M0020
				WHERE
					organization_typ = 1
				AND	company_cd	=	@P_company_cd
				AND ISNUMERIC(organization_cd_1) = 1
				--
				SET @max_cd1 = ISNULL((SELECT MAX(CAST(cd as INT)) FROM #OC1), 0) + 1
				--
				INSERT INTO #OC2
				SELECT organization_cd_2 FROM M0020
				WHERE
					organization_cd_1	=	@organization_cd_1
				AND	organization_typ	=	2
				AND	company_cd			=	@P_company_cd
				AND ISNUMERIC(organization_cd_2) = 1
				--
				SET @max_cd2 = ISNULL((SELECT MAX(CAST(cd as INT)) FROM #OC2), 0) + 1
				--
				INSERT INTO #OC3
				SELECT organization_cd_3 FROM M0020
				WHERE
					organization_cd_1	=	@organization_cd_1
				AND	organization_cd_2	=	@organization_cd_2
				AND	organization_typ	=	3
				AND	company_cd			=	@P_company_cd
				AND ISNUMERIC(organization_cd_3) = 1
				--
				SET @max_cd3 = ISNULL((SELECT MAX(CAST(cd as INT)) FROM #OC3), 0) + 1
				--
				INSERT INTO #OC4
				SELECT organization_cd_4 FROM M0020
				WHERE
					organization_cd_1	=	@organization_cd_1
				AND	organization_cd_2	=	@organization_cd_2
				AND	organization_cd_3	=	@organization_cd_3
				AND	organization_typ	=	4
				AND	company_cd			=	@P_company_cd
				AND ISNUMERIC(organization_cd_4) = 1
				--
				SET @max_cd4 = ISNULL((SELECT MAX(CAST(cd as INT)) FROM #OC4), 0) + 1
				--
				INSERT INTO #OC5
				SELECT organization_cd_5 FROM M0020
				WHERE
					organization_cd_1	=	@organization_cd_1
				AND	organization_cd_2	=	@organization_cd_2
				AND	organization_cd_3	=	@organization_cd_3
				AND	organization_cd_4	=	@organization_cd_4
				AND	organization_typ	=	5
				AND	company_cd			=	@P_company_cd
				AND ISNUMERIC(organization_cd_5) = 1
				--
				SET @max_cd5 = ISNULL((SELECT MAX(CAST(cd as INT)) FROM #OC5), 0) + 1
				--
				SET @organization_cd_1 = IIF(
					@working_level = 1,
					CASE WHEN @max_cd1 = 0 THEN '' ELSE CAST(@max_cd1 AS nvarchar(20)) END,
					@organization_cd_1
				)
				SET @organization_cd_2 = IIF(
					@working_level = 2,
					CASE WHEN @max_cd2 = 0 THEN '' ELSE CAST(@max_cd2 AS nvarchar(20)) END,
					@organization_cd_2
				)
				SET @organization_cd_3 = IIF(
					@working_level = 3,
					CASE WHEN @max_cd3 = 0 THEN '' ELSE CAST(@max_cd3 AS nvarchar(20)) END,
					@organization_cd_3
				)
				SET @organization_cd_4 = IIF(
					@working_level = 4,
					CASE WHEN @max_cd4 = 0 THEN '' ELSE CAST(@max_cd4 AS nvarchar(20)) END,
					@organization_cd_4
				)
				SET @organization_cd_5 = IIF(
					@working_level = 5,
					CASE WHEN @max_cd5 = 0 THEN '' ELSE CAST(@max_cd5 AS nvarchar(20)) END,
					@organization_cd_5
				)

				--
				INSERT INTO M0020
				SELECT
					@P_company_cd
				,	@organization_cd_1
				,	@organization_cd_2
				,	@organization_cd_3
				,	@organization_cd_4
				,	@organization_cd_5
				,	CASE WHEN @same_level = 0 THEN @organization_typ ELSE @organization_typ + 1 END
				,	@organization_nm
				,	@organization_ab_nm
				,	@responsible_cd
				,	@import_cd
				,	@arrange_order
				,	@P_cre_user	
				,	@P_cre_ip	
				,	'M0020'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
			END
			--
		END
		--
		DROP TABLE #OC1, #OC2, #OC3, #OC4, #OC5
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
