/****** Object:  StoredProcedure [dbo].[SPC_M0020_ACT6]    Script Date: 2018/08/22 10:26:12 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_M0020_ACT6] 
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	DELETE DATA
--*  
--* 作成日/create date			:	2018/08/22											
--*	作成者/creater				:	SonDH						
--*   					
--*	更新日/update date			:  	viettd					
--*	更新者/updater				:　 fix error when compare @organization_cd_1 ~2 to number 　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0020_ACT6] 
	-- Add the parameters for the stored procedure here
	@P_json							NVARCHAR(max)		= ''
	-- common							  
,	@P_cre_user						NVARCHAR(50)		= ''
,	@P_cre_ip						NVARCHAR(50)		= ''
,	@P_company_cd					SMALLINT			= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			= SYSDATETIME()
	,	@ERR_TBL					ERRTABLE			  
	,	@order_by_min				INT					= 0
	--
	,	@organization_typ			TINYINT				= 0
	,	@organization_cd_1			NVARCHAR(20)		= ''
	,	@organization_cd_2			NVARCHAR(20)		= ''
	,	@organization_cd_3			NVARCHAR(20)		= ''
	,	@organization_cd_4			NVARCHAR(20)		= ''
	,	@organization_cd_5			NVARCHAR(20)		= ''
	,	@organization_nm 			NVARCHAR(50)		= ''
	,	@organization_ab_nm   		NVARCHAR(10)		= ''
	,	@responsible_cd  			NVARCHAR(10)		= ''
	,	@arrange_order  			INT					= 0
	,	@employee_nm				NVARCHAR(20)		= ''
	,	@parent_cd					SMALLINT			= 0
	,	@same_level					SMALLINT			= 0
	
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--
		SET @organization_typ 	    =	JSON_VALUE(@P_json,'$.organization_typ')
		SET @organization_cd_1 	    =	JSON_VALUE(@P_json,'$.organization_cd_1')
		SET @organization_cd_2 	    =	JSON_VALUE(@P_json,'$.organization_cd_2')
		SET @organization_cd_3 	    =	JSON_VALUE(@P_json,'$.organization_cd_3')
		SET @organization_cd_4 	    =	JSON_VALUE(@P_json,'$.organization_cd_4')
		SET @organization_cd_5 	    =	JSON_VALUE(@P_json,'$.organization_cd_5')
		SET @organization_nm 	    =	JSON_VALUE(@P_json,'$.organization_nm')
		SET @organization_ab_nm  	=	JSON_VALUE(@P_json,'$.organization_ab_nm')
		SET @responsible_cd  		=	JSON_VALUE(@P_json,'$.responsible_cd')
		SET @arrange_order  		=	JSON_VALUE(@P_json,'$.arrange_order')
		SET @employee_nm 			=	JSON_VALUE(@P_json,'$.employee_nm')
		SET @parent_cd 				=	JSON_VALUE(@P_json,'$.parent_cd')
		SET @same_level				=	JSON_VALUE(@P_json,'$.same_level')
		--
		IF @organization_cd_1 = '0' AND @organization_cd_2 = '0' AND @organization_cd_3 = '0'
			AND @organization_cd_4 = '0' AND @organization_cd_5 = '0' 
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				8
			,	'#organization_nm'
			,	0
			,	0
			,	0
			,	0
			,	'validate required'
			)
		END
		--
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			--
			UPDATE M0020
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	'M0020'
			,	del_datetime	=	@w_time
			WHERE
				company_cd			=	@P_company_cd
			AND	organization_typ	=	@organization_typ
			AND	organization_cd_1	=	@organization_cd_1
			AND	organization_cd_2	=	@organization_cd_2
			AND	organization_cd_3	=	@organization_cd_3
			AND	organization_cd_4	=	@organization_cd_4
			AND	organization_cd_5	=	@organization_cd_5
			AND	del_datetime IS NULL
			--
			IF @organization_typ = 1
			BEGIN
				UPDATE M0020
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0020'
				,	del_datetime	=	@w_time
				WHERE
					company_cd			=	@P_company_cd
				AND	organization_cd_1	=	@organization_cd_1
				AND	organization_typ IN (1, 2, 3, 4, 5)
				AND	del_datetime IS NULL
			END
			--
			IF @organization_typ = 2
			BEGIN
				UPDATE M0020
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0020'
				,	del_datetime	=	@w_time
				WHERE
					company_cd			=	@P_company_cd
				AND	organization_cd_1	=	@organization_cd_1
				AND	organization_cd_2	=	@organization_cd_2
				AND	organization_typ IN (2, 3, 4, 5)
				AND	del_datetime IS NULL
			END
			--
			IF @organization_typ = 3
			BEGIN
				UPDATE M0020
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0020'
				,	del_datetime	=	@w_time
				WHERE
					company_cd			=	@P_company_cd
				AND	organization_cd_1	=	@organization_cd_1
				AND	organization_cd_2	=	@organization_cd_2
				AND	organization_cd_3	=	@organization_cd_3
				AND	organization_typ IN (3, 4, 5)
				AND	del_datetime IS NULL
			END
			--
			IF @organization_typ = 4
			BEGIN
				UPDATE M0020
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0020'
				,	del_datetime	=	@w_time
				WHERE
					company_cd			=	@P_company_cd
				AND	organization_cd_1	=	@organization_cd_1
				AND	organization_cd_2	=	@organization_cd_2
				AND	organization_cd_3	=	@organization_cd_3
				AND	organization_cd_4	=	@organization_cd_4
				AND	organization_typ IN (4, 5)
				AND	del_datetime IS NULL
			END
			--
			IF @organization_typ = 5
			BEGIN
				UPDATE M0020
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0020'
				,	del_datetime	=	@w_time
				WHERE
					company_cd			=	@P_company_cd
				AND	organization_cd_1	=	@organization_cd_1
				AND	organization_cd_2	=	@organization_cd_2
				AND	organization_cd_3	=	@organization_cd_3
				AND	organization_cd_4	=	@organization_cd_4
				AND	organization_cd_5	=	@organization_cd_5
				AND	organization_typ IN (5)
				AND	del_datetime IS NULL
			END
			--
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
