/****** Object:  StoredProcedure [dbo].[SPC_M0020_ACT7]    Script Date: 2018/08/22 10:26:12 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_M0020_ACT7] 
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	DELETE DATA
--*  
--* 作成日/create date			:	2018/08/22											
--*	作成者/creater				:	SonDH						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0020_ACT7] 
	-- Add the parameters for the stored procedure here					  
	@P_cre_user						NVARCHAR(50)		= ''
,	@P_cre_ip						NVARCHAR(50)		= ''
,	@P_company_cd					SMALLINT			= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			= SYSDATETIME()
	,	@ERR_TBL					ERRTABLE			  
	,	@order_by_min				INT					= 0
	,	@max_level					TINYINT				= 0
	
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM M0022 WHERE company_cd = @P_company_cd AND del_datetime IS NULL)
		BEGIN
			CREATE TABLE #M0022 (
				id int identity(1, 1)
			,	organization_typ tinyint
			,	use_typ	smallint
			,	organization_group_nm nvarchar(20)
			)
			--
			INSERT INTO #M0022
			SELECT 1, 1, '組織１'
			--
			INSERT INTO #M0022
			SELECT 2, 1, '組織２'
			--
			INSERT INTO #M0022
			SELECT 3, 1, '組織３'
			--
			INSERT INTO #M0022
			SELECT 4, 1, '組織４'
			--
			INSERT INTO #M0022
			SELECT 5, 1, '組織５'
			--
			INSERT INTO M0022
			SELECT
				@P_company_cd
			,	organization_typ
			,	use_typ
			,	organization_group_nm
			,	@P_cre_user	
			,	@P_cre_ip	
			,	'M0020'
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #M0022
			--
			DROP TABLE #M0022
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
