IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_SETTING_MEETING_ACT2]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_SETTING_MEETING_ACT2]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：OI1020 - SAVE/UPDATE
 *
 *  作成日  ：2020/09/25
 *  作成者  ：ANS-ASIA datnt
 *
 *  更新日  ：2021/03/29
 *  更新者  ：ANS-ASIA vietdt
 *  更新内容：new save/delete table F2900
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_SETTING_MEETING_ACT2] 
	@P_company_cd		SMALLINT		= 0
,	@P_json				NVARCHAR(MAX)	= ''
,	@P_cre_user			NVARCHAR(50)	= ''
,	@P_cre_ip			NVARCHAR(50)	= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2		= SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@fiscal_year			INT				=	-1
	,	@times					INT				=	0
	,	@time					NVARCHAR(50)	=	''
	,	@oneonone_schedule_date	DATE			=	NULL
	,	@title					NVARCHAR(50)	= ''
	,	@place					NVARCHAR(50)	= ''
	,	@employee_cd			NVARCHAR(50)	= ''
	,	@from					NVARCHAR(20)	=	''

	--#F2010 -- add by vietdt 2021/03/29
	CREATE TABLE #F2900 (
		company_cd				SMALLINT
	,	fiscal_year				SMALLINT
	,	employee_cd				NVARCHAR(10)
	,	coach_cd				NVARCHAR(10)
	,	[1on1_schedule_date]	DATE
	)

	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	--
	SET @fiscal_year				=	JSON_VALUE(@P_json,'$.fiscal_year')
	SET @times						=	JSON_VALUE(@P_json,'$.times')
	SET @employee_cd    			=	JSON_VALUE(@P_json,'$.employee_cd')
	SET @from    					=	JSON_VALUE(@P_json,'$.from')
	IF NOT EXISTS (SELECT 1 FROM F2010 WHERE    @P_company_cd = F2010.company_cd
											AND @fiscal_year  = F2010.fiscal_year 
											AND @employee_cd  = F2010.employee_cd 
											AND @times		 = F2010.times
											AND del_datetime IS NULL)
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			21								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'no data in f2001 yet'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			UPDATE F2010
			SET
				del_user				=	@P_cre_user
			,	del_ip					=	@P_cre_ip
			,	del_prg					=	@from
			,	del_datetime			=	@w_time
			FROM F2010 
			WHERE 
				@P_company_cd = F2010.company_cd
			AND @fiscal_year  = F2010.fiscal_year 
			AND @employee_cd  = F2010.employee_cd 
			AND @times		 = F2010.times
			AND del_datetime IS NULL

			-- add by vietdt 2021/03/29
			--insert employee_cd-coach_cd
			INSERT INTO #F2900
			SELECT 
				F2010.company_cd			
			,	F2010.fiscal_year			
			,	F2010.employee_cd	
			,	F2001.coach_cd
			,	F2010.[1on1_schedule_date]
			FROM F2010
			LEFT JOIN F2001 ON (
				F2010.company_cd	=	F2001.company_cd
			AND	F2010.fiscal_year	=	F2001.fiscal_year
			AND	F2010.employee_cd	=	F2001.employee_cd
			AND	F2010.times			=	F2001.times
			AND	F2001.del_datetime	IS NULL
			)
			WHERE 
				F2010.company_cd	=		@P_company_cd 
			AND F2010.fiscal_year	=		@fiscal_year
			AND	F2010.employee_cd	=		@employee_cd
			AND	F2010.del_datetime	IS NULL
			GROUP BY 
				F2010.company_cd			
			,	F2010.fiscal_year			
			,	F2010.employee_cd	
			,	F2001.coach_cd
			,	F2010.[1on1_schedule_date]
			--insert employee_cd-employee_cd
			INSERT INTO #F2900
			SELECT 
				F2010.company_cd			
			,	F2010.fiscal_year			
			,	F2010.employee_cd	
			,	F2010.employee_cd
			,	F2010.[1on1_schedule_date]
			FROM F2010
			WHERE 
				F2010.company_cd	=		@P_company_cd 
			AND F2010.fiscal_year	=		@fiscal_year
			AND	F2010.employee_cd	=		@employee_cd
			AND	F2010.del_datetime	IS NULL
			GROUP BY 
				F2010.company_cd			
			,	F2010.fiscal_year			
			,	F2010.employee_cd	
			,	F2010.[1on1_schedule_date]

			--DELETE 
			UPDATE F2900
			SET
				del_user				=	@P_cre_user
			,	del_ip					=	@P_cre_ip
			,	del_prg					=	@from
			,	del_datetime			=	@w_time
			FROM F2900
			LEFT JOIN #F2900 ON (
				F2900.company_cd			=	#F2900.company_cd
			AND	F2900.infomation_date		=	#F2900.[1on1_schedule_date]
			AND	F2900.target_employee_cd	=	#F2900.employee_cd
			AND	F2900.fiscal_year			=	#F2900.fiscal_year
			AND	F2900.employee_cd			=	#F2900.coach_cd
			AND F2900.del_datetime			IS NULL
			)
			WHERE 
				F2900.company_cd			=	@P_company_cd 
			AND	F2900.infomation_typ		=	1
			AND	F2900.message_typ			=	2
			AND	F2900.target_employee_cd	=	@employee_cd
			AND	F2900.fiscal_year			=	@fiscal_year
			AND F2900.del_datetime			IS NULL
			AND	#F2900.company_cd			IS NULL
				-- add by vietdt 2021/03/29
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN

	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
	--[1]
	SELECT 
		#MEMBER.mail		AS member_mail
	,	#MEMBER.employee_nm AS member_nm
	,	#COACH.mail			AS coach_mail
	,	#COACH.employee_nm	AS coach_nm
	,	F2010.title
	,	F2010.[1on1_schedule_date] AS schedule_date
	,	F2010.[time]
	,	F2010.place
	FROM F2001 
	LEFT JOIN M0070 AS #MEMBER ON (
		F2001.company_cd	= #MEMBER.company_cd 
	AND F2001.employee_cd	= #MEMBER.employee_cd
	AND #MEMBER.del_datetime IS NULL
	)
	LEFT JOIN M0070 AS #COACH ON (
		F2001.company_cd	= #COACH.company_cd 
	AND F2001.coach_cd	= #COACH.employee_cd
	AND #COACH.del_datetime IS NULL
	)
	LEFT JOIN F2010 ON(
		F2001.company_cd	= F2010.company_cd	
	AND F2001.fiscal_year	= F2010.fiscal_year	
	AND F2001.employee_cd	= F2010.employee_cd	
	AND F2001.times			= F2010.times			
	AND F2010.del_datetime IS NULL
	)
	WHERE 
		F2001.company_cd	= @P_company_cd
	AND F2001.fiscal_year	= @fiscal_year
	AND F2001.employee_cd	= @employee_cd
	AND F2001.times			= @times
	AND F2001.del_datetime IS NULL
		
END

GO
