DROP PROCEDURE [SPC_I1030_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0170
-- EXEC [SPC_I1030_INQ1] '','';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	I1030
--*  
--*  作成日/create date			:	2018/09/25						
--*　作成者/creater				:	LONGVV								
--*   					
--*  更新日/update date			:	2021/07/29
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	add fiscal_year param
--****************************************************************************************
CREATE PROCEDURE [SPC_I1030_INQ1]
	@P_company_cd		SMALLINT	=	0
,	@P_fiscal_year		SMALLINT	=	0 -- add by viettd 2021/07/29
AS
BEGIN
	DECLARE 
		@w_time				DATE			=	GETDATE()
	,	@w_count_Rater		SMALLINT		=	0
	-- IF @P_fiscal_year  0 THEN GET CURRENT OF YEAR
	IF @P_fiscal_year = 0
	BEGIN
		SET @P_fiscal_year  = dbo.FNC_GET_YEAR(@P_company_cd,NULL)
	END
	--[0]
	SELECT 
		F0010.company_cd
	,	F0010.fiscal_year
	,	@P_fiscal_year			AS year_current
	FROM F0010
	WHERE F0010.company_cd = @P_company_cd
	AND F0010.del_datetime IS NULL
	ORDER BY  
		F0010.fiscal_year
	--[1]
	SELECT 
		M0150.company_cd
	,	M0150.group_cd
	,	ISNULL(M0150.group_nm,'')		AS group_nm
	,	ISNULL(M0150.arrange_order,0)	AS arrange_order
	FROM M0150
	WHERE M0150.company_cd = @P_company_cd
	AND M0150.del_datetime IS NULL
	ORDER BY  
		M0150.arrange_order ASC
	,	M0150.group_cd
	--[2]
	-- ↓↓↓　add by viettd 2021/07/29
	SELECT 
		W_M0200.sheet_cd
	,	W_M0200.sheet_kbn
	,	ISNULL(W_M0200.sheet_nm,'')		AS sheet_nm
	FROM W_M0200
	WHERE 
		W_M0200.company_cd		=	@P_company_cd
	AND W_M0200.fiscal_year		=	@P_fiscal_year
	AND W_M0200.del_datetime IS NULL
	ORDER BY 
		W_M0200.arrange_order 
	,	W_M0200.sheet_cd
	-- ↑↑↑　end add by viettd 2021/07/29
	--[3]
	SELECT 
		@w_count_Rater =	CASE
							WHEN
								SUM(ISNULL(M0100.target_evaluation_typ_1,0)+ISNULL(M0100.target_evaluation_typ_2,0)+ISNULL(M0100.target_evaluation_typ_3,0)+ISNULL(M0100.target_evaluation_typ_4,0)) 
							>	SUM(ISNULL(M0100.evaluation_typ_1,0)+ISNULL(M0100.evaluation_typ_2,0)+ISNULL(M0100.evaluation_typ_3,0)+ISNULL(M0100.evaluation_typ_4,0)) 
							THEN SUM(ISNULL(M0100.target_evaluation_typ_1,0)+ISNULL(M0100.target_evaluation_typ_2,0)+ISNULL(M0100.target_evaluation_typ_3,0)+ISNULL(M0100.target_evaluation_typ_4,0)) 
							ELSE SUM(ISNULL(M0100.evaluation_typ_1,0)+ISNULL(M0100.evaluation_typ_2,0)+ISNULL(M0100.evaluation_typ_3,0)+ISNULL(M0100.evaluation_typ_4,0)) 
							END
	FROM M0100
	WHERE 
		M0100.company_cd	=	@P_company_cd
	AND	M0100.del_datetime	IS NULL
	SELECT
		CASE
			WHEN	@w_count_Rater >= 1
			THEN	''
			ELSE	'hidden'
		END						AS	Rater1
	,	CASE
			WHEN	@w_count_Rater >= 2
			THEN	''
			ELSE	'hidden'
		END						AS	Rater2
	,	CASE
			WHEN	@w_count_Rater >= 3
			THEN	''
			ELSE	'hidden'
		END						AS	Rater3
	,	CASE
			WHEN	@w_count_Rater = 4
			THEN	''
			ELSE	'hidden'
		END						AS	Rater4
END

GO