DROP PROCEDURE [SPC_I1030_INQ7]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0170
-- EXEC [SPC_I1030_INQ1] '','';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	I1030
--*  
--*  作成日/create date			:	2018/09/25						
--*　作成者/creater				:	LONGVV								
--*   					
--*  更新日/update date			:	2021/07/29
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	add fiscal_year param
--****************************************************************************************
CREATE PROCEDURE [SPC_I1030_INQ7]
	@P_company_cd			SMALLINT	=	0
,	@P_fiscal_year			SMALLINT	=	0 -- add by viettd 2021/07/29
,	@P_treatment_json		NVARCHAR(MAX)
AS
BEGIN
	DECLARE 
		@w_time				DATE			=	GETDATE()
	--
	CREATE TABLE #TREATMENT (
		id							INT IDENTITY(1,1)
	,	treatment_applications_no	SMALLINT
	)
	--
	CREATE TABLE #GROUP (
		id							INT IDENTITY(1,1)
	,	group_cd					SMALLINT
	,	total						SMALLINT
	)
	--
	INSERT INTO #TREATMENT
	SELECT
		ISNULL(treatment_applications_no, 0)
	FROM OPENJSON(@P_treatment_json) WITH(
		treatment_applications_no		SMALLINT
	)
	-- it nhat trong group co 1 use_typ = 1
	INSERT INTO #GROUP
	SELECT group_cd, sum(use_typ) 
	FROM F0020 
	WHERE
		treatment_applications_no IN (SELECT treatment_applications_no FROM #TREATMENT)
	AND fiscal_year = @P_fiscal_year
	AND	company_cd = @P_company_cd
	GROUP BY company_cd, fiscal_year, group_cd

	--[0]
	SELECT 
		M0150.company_cd
	,	M0150.group_cd
	,	ISNULL(M0150.group_nm,'')		AS group_nm
	,	ISNULL(M0150.arrange_order,0)	AS arrange_order
	FROM M0150
	WHERE
		M0150.company_cd	=	@P_company_cd
	AND M0150.del_datetime IS NULL
	AND	M0150.group_cd IN (SELECT #GROUP.group_cd FROM #GROUP WHERE #GROUP.total > 0)
	ORDER BY  
		M0150.arrange_order ASC
	,	M0150.group_cd

	--
	DROP TABLE #TREATMENT, #GROUP
END

GO