DROP PROCEDURE [SPC_I1030_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_I1030_ACT1] '{}','','::1','';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/09/28											
--*	作成者/creater				:	Tuantv						
--*   					
--*	更新日/update date			:	2019/01/08				
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	upgradate ver1.6
--*   					
--*	更新日/update date			:	2020/02/14				
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	fix bug : remove mess 32,82 and add mess :99, 100
--*   					
--*	更新日/update date			:	2020/03/03				
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	add mess 82
--*   					
--*	更新日/update date			:	2020/03/17				
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	fix when update table F0100
--*   					
--*	更新日/update date			:	2020/03/26				
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	fix when update table F0100
--*   					
--*	更新日/update date			:	2020/05/07				
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	update F0120 when delete
--*   					
--*	更新日/update date			:	2020/05/12				
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	update F0120 when change 評価シート
--*   					
--*	更新日/update date			:	2020/05/20			
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	update F0120 when change 評価シート (fix bug del all)
--*   					
--*	更新日/update date			:	2021/03/02			
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	add condition group_cd > 0 when check mess 99
--*   					
--*	更新日/update date			:	2021/06/07			
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	Add condition F0200.del_datetime into mess 54
--*   					
--*	更新日/update date			:	2021/07/26			
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	期首面談なし・自己評価ありの場合-> SET F0100.status_cd = 1 -- 自己評価
--*								:	期首面談なし・自己評価なしの場合-> SET F0100.status_cd = 2 -- 一次評価
--*   					
--*	更新日/update date			:	2021/09/16			
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	check mess 32 when duplicated employee_cd in screen
--*   					
--*	更新日/update date			:	2021/10/19			
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	update S0010.authority_typ when insert / update / delete employees & rater 
--*   							:	update table F0111
--*   					
--*	更新日/update date			:	2021/12/13		
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	upgrade ver1.8
--*   					
--*	更新日/update date			:	2022/01/05			
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	update mode : change update status_cd
--*   					
--*	更新日/update date			:	2022/04/06			
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	delete sheet_cd = 0
--*   					
--****************************************************************************************
CREATE PROCEDURE [SPC_I1030_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)	= ''
,	@P_cre_user		NVARCHAR(50)	= ''
,	@P_cre_ip		NVARCHAR(50)	= ''
,	@P_company_cd	SMALLINT		= 0 
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME			= SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					= 0
	,	@w_fiscal_year			INT					= 0
	,	@current_year			INT					=	dbo.FNC_GET_YEAR(@P_company_cd,NULL)	
	,	@w_group_cd				SMALLINT			= 0
	,	@w_count				INT					= 0
	,	@w_count_emp			INT					= 0
	,	@w_count_delete			INT					= 0
	,	@w_count_f0200			INT					= 0
	,	@w_count_f0031			INT					= 0
	,	@w_f0031_emp			NVARCHAR(10)		= ''
	,	@w_month_date			NVARCHAR(10)		= ''
	,	@w_year_month_date		DATE				= NULL
	,	@beginning_date			DATE				= NULL
	,	@w_evaluation_status_cd	SMALLINT			= 0 -- 0.NOT USE 1.USE add by viettd 2021/07/26
	--	add by viettd 2021/10/19
	,	@w_del_i					INT					= 1
	,	@w_del_cnt					INT					= 0
	,	@w_del_employee_cd			NVARCHAR(10)		= ''
	,	@w_del_rater_employee_cd_1	NVARCHAR(10)		= ''
	,	@w_del_rater_employee_cd_2	NVARCHAR(10)		= ''
	,	@w_del_rater_employee_cd_3	NVARCHAR(10)		= ''
	,	@w_del_rater_employee_cd_4	NVARCHAR(10)		= ''
	,	@w_employee_cd				NVARCHAR(10)		=	''	-- add by viettd 2022/01/05
	,	@w_tmp_i					INT					=	1	-- add by viettd 2022/01/05
	,	@w_tmp_cnt					INT					=	0	-- add by viettd 2022/01/05
	,	@w_employee_has_target		INT					=	0	-- add by viettd 2022/01/05
	--

	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		SET @w_fiscal_year  = JSON_VALUE(@P_json,'$.fiscal_year')
		SET @w_group_cd		= JSON_VALUE(@P_json,'$.group_cd')
		SET @beginning_date = (SELECT M9100.beginning_date FROM M9100 WHERE M9100.company_cd = @P_company_cd)
		--
		IF(@beginning_date IS NOT NULL)
		BEGIN
			SET @w_month_date =	FORMAT(@beginning_date,'MM-dd') 
		END
		ELSE 
		BEGIN
			SET @w_month_date = '01-01'
		END
		SET @w_year_month_date =  CAST((CONVERT(NVARCHAR(4),@w_fiscal_year) +'-'+ @w_month_date) AS DATE)
		--↓↓↓ add by viettd 2021/07/26
		-- IF HAS 自己評価
		IF EXISTS (SELECT 1 FROM M0310 
							WHERE 
								M0310.company_cd		=	@P_company_cd
							AND M0310.category			=	2	-- 定性シート
							AND M0310.status_cd			=	1	--　自己評価中
							AND M0310.status_use_typ	=	1
							AND M0310.del_datetime IS NULL)
		BEGIN
			SET @w_evaluation_status_cd = 1 --　自己評価中
		END
		-- IF HAS NOT 自己評価 THEN SET 一次評価
		IF @w_evaluation_status_cd = 0 AND EXISTS (SELECT 1 FROM M0310 
							WHERE 
								M0310.company_cd		=	@P_company_cd
							AND M0310.category			=	2	-- 定性シート
							AND M0310.status_cd			=	2	-- 一次評価中
							AND M0310.status_use_typ	=	1
							AND M0310.del_datetime IS NULL)
		BEGIN
			SET @w_evaluation_status_cd = 2 -- 一次評価中
		END
		--↑↑↑ end add by viettd 2021/07/26
		--
		CREATE TABLE #TEMP1 (
			id							INT	IDENTITY(1,1)	
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	key_emp						NVARCHAR(10)
		,	key_group_cd				SMALLINT
		,	rater_employee_cd_1			NVARCHAR(10)
		,	rater_employee_cd_2			NVARCHAR(10)
		,	rater_employee_cd_3			NVARCHAR(10)
		,	rater_employee_cd_4			NVARCHAR(10)
		,	treatment_applications_no_a	SMALLINT
		,	r_sheet_cd1					SMALLINT
		,	sheet_cd_a					SMALLINT
		,	number						INT
		,	pos_emp						INT
		,	row_number					INT
		,	is_new						NVARCHAR(1)		-- add by viettd 2021/09/16
		)
		--
		CREATE TABLE #TEMP2 (
			id							INT	IDENTITY(1,1)	
		,	key_emp						NVARCHAR(10)
		,	key_group_cd				SMALLINT
		,	treatment_applications_no_b	SMALLINT
		,	r_sheet_cd2					SMALLINT
		,	sheet_cd_b					SMALLINT
		,	number						INT
		,	row_number					INT
		)
		--
		CREATE TABLE #TEMP2_2 (
			id							INT	IDENTITY(1,1)	
		,	key_emp						NVARCHAR(10)
		,	key_group_cd				SMALLINT
		,	rater_employee_cd_1			NVARCHAR(10)
		,	rater_employee_cd_2			NVARCHAR(10)
		,	rater_employee_cd_3			NVARCHAR(10)
		,	rater_employee_cd_4			NVARCHAR(10)
		,	treatment_applications_no_b	SMALLINT
		,	r_sheet_cd2					SMALLINT
		,	sheet_cd_b					SMALLINT
		,	number						INT
		,	row_number					INT
		)
		--
		CREATE TABLE #TEMP1_DELETE (
			id							INT	IDENTITY(1,1)	
		,	key_emp						NVARCHAR(10)
		,	key_group_cd				SMALLINT
		,	rater_employee_cd_1			NVARCHAR(10)
		,	rater_employee_cd_2			NVARCHAR(10)
		,	rater_employee_cd_3			NVARCHAR(10)
		,	rater_employee_cd_4			NVARCHAR(10)
		,	treatment_applications_no_a	SMALLINT
		,	r_sheet_cd1					SMALLINT
		,	sheet_cd_a					SMALLINT
		,	number						INT
		)
		--
		CREATE TABLE #TEMP2_DELETE (
			id							INT	IDENTITY(1,1)	
		,	key_emp						NVARCHAR(10)
		,	key_group_cd				SMALLINT
		,	treatment_applications_no_b	SMALLINT
		,	r_sheet_cd2					SMALLINT
		,	sheet_cd_b					SMALLINT
		,	number						INT
		)
		--
		CREATE TABLE #TEMP2_2_DELETE (
			id							INT	IDENTITY(1,1)	
		,	key_emp						NVARCHAR(10)
		,	key_group_cd				SMALLINT
		,	rater_employee_cd_1			NVARCHAR(10)
		,	rater_employee_cd_2			NVARCHAR(10)
		,	rater_employee_cd_3			NVARCHAR(10)
		,	rater_employee_cd_4			NVARCHAR(10)
		,	treatment_applications_no_b	SMALLINT
		,	r_sheet_cd2					SMALLINT
		,	sheet_cd_b					SMALLINT
		,	number						INT
		)
		--
		CREATE TABLE #DUPLICATE_EMPLOYEE (
			id							INT	IDENTITY(1,1)	
		,	employee_cd					NVARCHAR(10)
		,	count						INT
		)
		--
		CREATE TABLE #DUPLICATE_F0032 (
			id							INT	IDENTITY(1,1)	
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	employee_cd					NVARCHAR(10)
		,	sheet_cd					SMALLINT
		,	count						INT
		)
		--
		CREATE TABLE #TEMP(
			id							INT	IDENTITY(1,1)	
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	key_emp						NVARCHAR(10)
		,	group_cd					SMALLINT
		,	rater_employee_cd_1			NVARCHAR(10)
		,	rater_employee_cd_2			NVARCHAR(10)
		,	rater_employee_cd_3			NVARCHAR(10)
		,	rater_employee_cd_4			NVARCHAR(10)
		,	treatment_applications_no	SMALLINT	
		,	sheet_cd_f0021				SMALLINT
		,	sheet_cd_f0032				SMALLINT
		,	number						INT
		,	row_number					INT
		)
		--
		CREATE TABLE #TEMP_DELETE(
			id							INT	IDENTITY(1,1)	
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	key_emp						NVARCHAR(10)
		,	group_cd					SMALLINT
		,	rater_employee_cd_1			NVARCHAR(10)
		,	rater_employee_cd_2			NVARCHAR(10)
		,	rater_employee_cd_3			NVARCHAR(10)
		,	rater_employee_cd_4			NVARCHAR(10)
		,	treatment_applications_no	SMALLINT
		,	sheet_cd_f0021				SMALLINT
		,	sheet_cd_f0032				SMALLINT
		,	number						INT
		)
		--
		CREATE TABLE #TEMP_SINGLE_DELETE(
			id							INT	IDENTITY(1,1)	
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	treatment_applications_no	SMALLINT			-- add by viettd 2020/01/08
		,	group_cd					SMALLINT
		,	employee_cd					NVARCHAR(10)
		)
		--
		CREATE TABLE #TEMP3(
			id							INT	IDENTITY(1,1)	
		,	number						INT
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	key_emp						NVARCHAR(10)
		,	sheet_cd_f0032				SMALLINT
		)
		-- Data main
		CREATE TABLE #DATA_F0030(
			id							INT	IDENTITY(1,1)	
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	group_cd					SMALLINT
		,	employee_cd					NVARCHAR(10)
		,	cre_user					NVARCHAR(50)
		,	cre_ip						NVARCHAR(50)
		,	cre_datetime				DATETIME
		)
		--
		CREATE TABLE #F0031_DELETE(
			id							INT	IDENTITY(1,1)	
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	employee_cd					NVARCHAR(10)
		,	treatment_applications_no	SMALLINT
		)
		--
		CREATE TABLE #F0031_CHECK(
			id							INT	IDENTITY(1,1)	
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	employee_cd					NVARCHAR(10)
		,	treatment_applications_no	SMALLINT
		)
		--
		CREATE TABLE #F0031_DISTINCT(
			id							INT	IDENTITY(1,1)	
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	employee_cd					NVARCHAR(10)
		)
		--
		CREATE TABLE #F0021_TEMP(
			id							INT	IDENTITY(1,1)	
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	group_cd					SMALLINT
		,	treatment_applications_no	SMALLINT
		,	sheet_cd					SMALLINT
		,	weight						SMALLINT
		)
		----
		--CREATE TABLE #M0151 (
		--	company_cd				SMALLINT
		--,	group_cd				SMALLINT
		--,	attribute				SMALLINT
		--,	code					SMALLINT
		--)	
		--	
		--CREATE TABLE #M0070_EMPLOYEE_CD
		--(
		--	id							BIGINT	IDENTITY(1,1)
		--,	company_cd					SMALLINT
		--,	employee_cd					NVARCHAR(10)
		--)
		--
		CREATE TABLE #TMP_F0032 (
			id							INT	IDENTITY(1,1)
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	group_cd					SMALLINT
		,	employee_cd					NVARCHAR(10)
		,	treatment_applications_no	SMALLINT	
		,	detail_no					SMALLINT
		,	sheet_cd					SMALLINT
		,	weight						SMALLINT
		)
		--
		CREATE TABLE #RATE2_F0030 (
			id							BIGINT	IDENTITY(1,1)
		,	company_cd					SMALLINT
		,	fiscal_year					INT
		,	group_cd					SMALLINT	
		,	employee_cd					NVARCHAR(10)
		,	rater_employee_cd_1			NVARCHAR(10)
		,	rater_employee_cd_2			NVARCHAR(10)
		,	rater_employee_cd_3			NVARCHAR(10)
		,	rater_employee_cd_4			NVARCHAR(10)
		)
		--
		IF object_id('tempdb..#JSON_LIST_TREATMENT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #JSON_LIST_TREATMENT
		END
		--
		IF object_id('tempdb..#F0032_TEMP', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #F0032_TEMP
		END
		--
		IF object_id('tempdb..#N99_EMPLOYEE_ROUTER_SCREEN', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #N99_EMPLOYEE_ROUTER_SCREEN
		END
		--
		IF object_id('tempdb..#N99_EMPLOYEE_ROUTER_DB', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #N99_EMPLOYEE_ROUTER_DB
		END
		--
		IF object_id('tempdb..#F0032', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #F0032
		END
		--
		IF object_id('tempdb..#N82_TREATMENT_GROUP_SCREEN', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #N82_TREATMENT_GROUP_SCREEN
		END
		--
		IF object_id('tempdb..#N82_TREATMENT_GROUP', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #N82_TREATMENT_GROUP
		END
		--
		IF object_id('tempdb..#N82_TREATMENT_GROUP_DB', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #N82_TREATMENT_GROUP_DB
		END
		--
		IF object_id('tempdb..#F0100', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #F0100
		END
		-- add by viettd 2021/07/26
		IF object_id('tempdb..#F0100_SHEET_CNT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #F0100_EMPLOYEES
		END
		-- add by viettd 2022/01/05
		-- #F0100_UPDATE
		IF object_id('tempdb..#F0100_UPDATE', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #F0100_UPDATE
		END
		--
		CREATE TABLE #JSON_LIST_TREATMENT(
			id								int			identity(1,1)
		,	company_cd						smallint
		,	treatment_applications_no		smallint
		)
		--
		CREATE TABLE #F0032_TEMP(
			company_cd					smallint
		,	fiscal_year					int
		,	employee_cd					nvarchar(10)
		,	sheet_cd					smallint
		)
		-- #N99_EMPLOYEE_ROUTER_SCREEN
		CREATE TABLE #N99_EMPLOYEE_ROUTER_SCREEN (
			id							int			identity(1,1)
		,	treatment_applications_no	smallint
		,	group_cd					smallint
		,	employee_cd					nvarchar(10)
		,	sheet_cd					smallint
		,	rater_employee_cd_1			nvarchar(10)
		,	rater_employee_cd_2			nvarchar(10)
		,	rater_employee_cd_3			nvarchar(10)
		,	rater_employee_cd_4			nvarchar(10)		
		)
		-- #N99_EMPLOYEE_ROUTER_DB
		CREATE TABLE #N99_EMPLOYEE_ROUTER_DB (
			id							int			identity(1,1)
		,	treatment_applications_no	smallint
		,	group_cd					smallint
		,	employee_cd					nvarchar(10)
		,	sheet_cd					smallint
		,	rater_employee_cd_1			nvarchar(10)
		,	rater_employee_cd_2			nvarchar(10)
		,	rater_employee_cd_3			nvarchar(10)
		,	rater_employee_cd_4			nvarchar(10)		
		)
		-- #F0032
		CREATE TABLE #F0032(
			id							int identity(1,1)
		,	company_cd					smallint
		,	fiscal_year					int
		,	treatment_applications_no	smallint
		,	group_cd					smallint
		,	employee_cd					nvarchar(10)
		,	sheet_cd					smallint
		,	detail_no					smallint
		,	rater_employee_cd_1			nvarchar(10)
		,	rater_employee_cd_2			nvarchar(10)
		,	rater_employee_cd_3			nvarchar(10)
		,	rater_employee_cd_4			nvarchar(10)
		)
		-- #N82_TREATMENT_GROUP_SCREEN
		CREATE TABLE #N82_TREATMENT_GROUP_SCREEN(
			id							int identity(1,1)
		,	company_cd					smallint
		,	fiscal_year					int
		,	treatment_applications_no	smallint
		,	group_cd					smallint
		,	employee_cd					nvarchar(10)
		)
		-- #N82_TREATMENT_GROUP_DB
		CREATE TABLE #N82_TREATMENT_GROUP_DB(
			id							int identity(1,1)
		,	company_cd					smallint
		,	fiscal_year					int
		,	treatment_applications_no	smallint
		,	group_cd					smallint
		,	employee_cd					nvarchar(10)
		)
		-- #N82_TREATMENT_GROUP
		CREATE TABLE #N82_TREATMENT_GROUP(
			id							int identity(1,1)
		,	treatment_applications_no	smallint
		,	employee_cd					nvarchar(10)
		,	row_cnt						int
		)
		-- #F0100
		CREATE TABLE #F0100(
			id							int identity(1,1)
		,	company_cd					smallint
		,	fiscal_year					int
		,	employee_cd					nvarchar(10)
		,	sheet_cd					smallint
		,	status_cd					smallint		-- add by viettd 2020/03/26
		,	cre_user					nvarchar(50)
		,	cre_ip						nvarchar(50)
		,	cre_prg						nvarchar(20)
		,	cre_datetime				datetime
		,	upd_user					nvarchar(50)
		,	upd_ip						nvarchar(50)
		,	upd_prg						nvarchar(20)
		,	upd_datetime				datetime
		,	sheet_kbn					tinyint			-- add by viettd 2021/07/26
		,	changed_status				tinyint			-- 0.not updated 1.updated add by viettd 2021/07/26
		,	rater_employee_cd_1			nvarchar(10)	-- add by viettd 2021/07/26
		,	rater_employee_cd_2			nvarchar(10)	-- add by viettd 2021/07/26
		,	rater_employee_cd_3			nvarchar(10)	-- add by viettd 2021/07/26
		,	rater_employee_cd_4			nvarchar(10)	-- add by viettd 2021/07/26
		)	
		-- add by viettd 2021/07/26
		-- #F0100_EMPLOYEES
		CREATE TABLE #F0100_EMPLOYEES(
			id							int identity(1,1)
		,	company_cd					smallint
		,	fiscal_year					int
		,	employee_cd					nvarchar(10)
		,	target_cnt					int
		--,	changed_status				int
		)
		-- add by viettd 2022/01/05
		CREATE TABLE #F0100_UPDATE(
			id							int identity(1,1)
		,	company_cd					smallint
		,	fiscal_year					int
		,	employee_cd					nvarchar(10)
		,	sheet_cd					smallint
		,	status_cd					smallint		
		,	cre_user					nvarchar(50)
		,	cre_ip						nvarchar(50)
		,	cre_prg						nvarchar(20)
		,	cre_datetime				datetime
		,	upd_user					nvarchar(50)
		,	upd_ip						nvarchar(50)
		,	upd_prg						nvarchar(20)
		,	upd_datetime				datetime
		,	rater_employee_cd_1			nvarchar(10)
		,	rater_employee_cd_2			nvarchar(10)
		,	rater_employee_cd_3			nvarchar(10)
		,	rater_employee_cd_4			nvarchar(10)
		)
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ INERT DATA ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--INSERT INTO #M0151
		--SELECT
		--	M0151.company_cd			
		--,	M0151.group_cd			
		--,	M0151.attribute					
		--,	M0151.code						
		--FROM M0150
		--LEFT JOIN M0151 ON (
		--	M0150.company_cd = M0151.company_cd
		--AND M0150.group_cd	= M0151.group_cd
		--)	
		--WHERE
		--	M0151.company_cd = @P_company_cd
		--AND	(
		--	(@w_group_cd		=	-1)	
		--OR	(@w_group_cd		<>	-1	AND	M0151.group_cd	= @w_group_cd)
		--)
		--GROUP BY 
		--	M0151.company_cd
		--,	M0151.group_cd	
		--,	M0151.attribute	
		--,	M0151.code	
		--
		--INSERT INTO #M0070_EMPLOYEE_CD
		--SELECT 
		--	M0070.company_cd
		--,	M0070.employee_cd
		--FROM M0070
		--INNER JOIN #M0151 AS #M0151_B ON (
		--	M0070.company_cd	= #M0151_B.company_cd
		--AND M0070.job_cd		= #M0151_B.code
		--AND 2					= #M0151_B.attribute
		--)
		--INNER JOIN #M0151 AS #M0151_C ON (
		--	M0070.company_cd	= #M0151_C.company_cd
		--AND M0070.position_cd	= #M0151_C.code
		--AND 3					= #M0151_C.attribute
		--)
		--INNER JOIN #M0151 AS #M0151_A ON (
		--	M0070.company_cd	= #M0151_A.company_cd
		--AND M0070.employee_typ	= #M0151_A.code
		--AND 1					= #M0151_A.attribute
		--)
		--INNER JOIN #M0151 AS #M0151_D ON (
		--	M0070.company_cd	= #M0151_D.company_cd
		--AND M0070.grade			= #M0151_D.code
		--AND 4					= #M0151_D.attribute
		--)
		--GROUP BY
		--	M0070.company_cd
		--,	M0070.employee_cd
		--
		INSERT INTO #JSON_LIST_TREATMENT
		SELECT 
			@P_company_cd
		,	json_table.treatment_applications_no 
		FROM OPENJSON(@P_json,'$.list_treatment_applications_no') WITH(
			treatment_applications_no	smallint
		)AS json_table
		WHERE
			json_table.treatment_applications_no > 0
		--
		INSERT INTO #TEMP1
		SELECT
			@P_company_cd
		,	@w_fiscal_year
		,	JSON_VALUE([value],'$.key_emp')						AS	key_emp
		,	JSON_VALUE([value],'$.key_group_cd')				AS	key_group_cd
		,	JSON_VALUE([value],'$.rater_employee_cd_1')			AS	rater_employee_cd_1
		,	JSON_VALUE([value],'$.rater_employee_cd_2')			AS	rater_employee_cd_2
		,	JSON_VALUE([value],'$.rater_employee_cd_3')			AS	rater_employee_cd_3
		,	JSON_VALUE([value],'$.rater_employee_cd_4')			AS	rater_employee_cd_4
		,	JSON_VALUE([value],'$.treatment_applications_no_a')	AS	treatment_applications_no_a
		,	JSON_VALUE([value],'$.r_sheet_cd1')					AS	r_sheet_cd1
		,	JSON_VALUE([value],'$.sheet_cd_a')					AS	sheet_cd_a
		,	JSON_VALUE([value],'$.number')						AS	number
		,	JSON_VALUE([value],'$.pos_emp')						AS	pos_emp
		,	JSON_VALUE([value],'$.row_number')					AS	row_number
		,	JSON_VALUE([value],'$.is_new')						AS	is_new			-- add by viettd 2021/09/16
		FROM OPENJSON(@P_json,'$.tr_first_value')
		--WHERE JSON_VALUE([value],'$.key_emp') <> ''	
		DELETE #TEMP1 WHERE #TEMP1.key_emp = ''
		--
		INSERT INTO #TEMP2
		SELECT
			JSON_VALUE([value],'$.key_emp')						AS	key_emp
		,	JSON_VALUE([value],'$.key_group_cd')				AS	key_group_cd
		,	JSON_VALUE([value],'$.treatment_applications_no_b')	AS	treatment_applications_no_b
		,	JSON_VALUE([value],'$.r_sheet_cd2')					AS	r_sheet_cd2
		,	JSON_VALUE([value],'$.sheet_cd_b')					AS	sheet_cd_b
		,	JSON_VALUE([value],'$.number')						AS	number
		,	JSON_VALUE([value],'$.row_number')					AS	row_number
		FROM OPENJSON(@P_json,'$.tr_second_value')
		--WHERE JSON_VALUE([value],'$.key_emp') <> ''	
		DELETE #TEMP2 WHERE #TEMP2.key_emp = ''
		--
		INSERT INTO #TEMP1_DELETE
		SELECT
			JSON_VALUE([value],'$.key_emp')						AS	key_emp
		,	JSON_VALUE([value],'$.key_group_cd')				AS	key_group_cd
		,	JSON_VALUE([value],'$.rater_employee_cd_1')			AS	rater_employee_cd_1
		,	JSON_VALUE([value],'$.rater_employee_cd_2')			AS	rater_employee_cd_2
		,	JSON_VALUE([value],'$.rater_employee_cd_3')			AS	rater_employee_cd_3
		,	JSON_VALUE([value],'$.rater_employee_cd_4')			AS	rater_employee_cd_4
		,	JSON_VALUE([value],'$.treatment_applications_no_a')	AS	treatment_applications_no_a
		,	JSON_VALUE([value],'$.r_sheet_cd1')					AS	r_sheet_cd1
		,	JSON_VALUE([value],'$.sheet_cd_a')					AS	sheet_cd_a
		,	JSON_VALUE([value],'$.number')						AS	number
		FROM OPENJSON(@P_json,'$.tr_first_delete')
		--WHERE JSON_VALUE([value],'$.key_emp') <> ''	
		DELETE #TEMP1_DELETE WHERE #TEMP1_DELETE.key_emp = ''
		--
		INSERT INTO #TEMP2_DELETE
		SELECT
			JSON_VALUE([value],'$.key_emp')						AS	key_emp
		,	JSON_VALUE([value],'$.key_group_cd')				AS	key_group_cd
		,	JSON_VALUE([value],'$.treatment_applications_no_b')	AS	treatment_applications_no_b
		,	JSON_VALUE([value],'$.r_sheet_cd2')					AS	r_sheet_cd2
		,	JSON_VALUE([value],'$.sheet_cd_b')					AS	sheet_cd_b
		,	JSON_VALUE([value],'$.number')						AS	number
		FROM OPENJSON(@P_json,'$.tr_second_delete')
		--WHERE JSON_VALUE([value],'$.key_emp') <> ''	
		DELETE #TEMP2_DELETE WHERE #TEMP2_DELETE.key_emp = ''	
		--
		IF (ISJSON(@P_json) <= 0)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				22									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'#'									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	0			  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
		--select '#TEMP2',* from #TEMP2
		INSERT INTO #TEMP2_2
		SELECT 
			#TEMP2.key_emp		
		,	#TEMP2.key_group_cd			
		,	#TEMP1.rater_employee_cd_1	
		,	#TEMP1.rater_employee_cd_2	
		,	#TEMP1.rater_employee_cd_3	
		,	#TEMP1.rater_employee_cd_4
		,	#TEMP2.treatment_applications_no_b
		,	#TEMP2.r_sheet_cd2
		,	#TEMP2.sheet_cd_b	
		,	#TEMP2.number	
		,	#TEMP2.row_number
		FROM #TEMP2 
		LEFT JOIN #TEMP1 ON (
			#TEMP2.key_group_cd = #TEMP1.key_group_cd
		AND	#TEMP2.key_emp		= #TEMP1.key_emp
		)
		-- #TEMP
		INSERT INTO #TEMP
		SELECT 	
			@P_company_cd
		,	@w_fiscal_year
		,	#TEMP1.key_emp	
		,	#TEMP1.key_group_cd		
		,	#TEMP1.rater_employee_cd_1	
		,	#TEMP1.rater_employee_cd_2	
		,	#TEMP1.rater_employee_cd_3	
		,	#TEMP1.rater_employee_cd_4	
		,	#TEMP1.treatment_applications_no_a
		,	#TEMP1.r_sheet_cd1	
		,	#TEMP1.sheet_cd_a		
		,	#TEMP1.number
		,	#TEMP1.row_number	
		FROM #TEMP1
		WHERE #TEMP1.key_emp <>''
		-- #TEMP
		INSERT INTO #TEMP
		SELECT 	
			@P_company_cd
		,	@w_fiscal_year
		,	#TEMP2_2.key_emp	
		,	#TEMP2_2.key_group_cd				
		,	#TEMP2_2.rater_employee_cd_1	
		,	#TEMP2_2.rater_employee_cd_2	
		,	#TEMP2_2.rater_employee_cd_3	
		,	#TEMP2_2.rater_employee_cd_4
		,	#TEMP2_2.treatment_applications_no_b
		,	#TEMP2_2.r_sheet_cd2	
		,	#TEMP2_2.sheet_cd_b	
		,	#TEMP2_2.number	
		,	#TEMP2_2.row_number		
		FROM #TEMP2_2
		WHERE #TEMP2_2.key_emp <>''
		-------------------------------------------------------------------
		-- DUPLICATE_ERROR
		-------------------------------------------------------------------
		INSERT INTO #DUPLICATE_EMPLOYEE
		SELECT 				
			#TEMP1.key_emp		  AS key_emp	
		,	COUNT(#TEMP1.key_emp) AS count						
		FROM #TEMP1
		GROUP BY 
			#TEMP1.key_emp
		HAVING COUNT(#TEMP1.key_emp) > 1
		-- 社員重複チェック  (登録時に同じ社員がいたらエラー) Mess 32
		IF EXISTS (
			SELECT 	1		
			FROM #TEMP1
			GROUP BY 
				#TEMP1.key_emp
			HAVING COUNT(#TEMP1.key_emp) >1
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				32						
			,	'.lblCheck'						
			,	0-- oderby				
			,	4			  			
			,	#TEMP1.id							
			,	#TEMP1.pos_emp				
			,	'duplicate employee_cd'		
			FROM #TEMP1
			INNER JOIN #DUPLICATE_EMPLOYEE
			ON (
				#TEMP1.key_emp = #DUPLICATE_EMPLOYEE.employee_cd
			)
		END
		-- add by viettd 2021/09/16
		-- IF ADD NEW THEN CHECK THIS EMPLOYEE IS EXITED IN F0030 ?
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT		
				32						
			,	'.lblCheck'						
			,	0-- oderby				
			,	4			  			
			,	#TEMP1.id							
			,	#TEMP1.pos_emp				
			,	'duplicate employee_cd in mode add new'		
			FROM #TEMP1
			INNER JOIN #JSON_LIST_TREATMENT ON (
				#TEMP1.company_cd		=	#JSON_LIST_TREATMENT.company_cd
			)
			INNER JOIN F0030 ON (
				#TEMP1.company_cd								=	F0030.company_cd
			AND #TEMP1.fiscal_year								=	F0030.fiscal_year
			AND #TEMP1.key_emp									=	F0030.employee_cd
			AND #TEMP1.key_group_cd								=	F0030.group_cd
			AND #JSON_LIST_TREATMENT.treatment_applications_no	=	F0030.treatment_applications_no
			AND F0030.del_datetime IS NULL
			)
			WHERE 
				#TEMP1.is_new = '1' -- mode add new
		END
		-- end add by viettd 2021/09/16
		IF EXISTS(SELECT 1 FROM @ERR_TBL) 
		BEGIN
			GOTO EXIT_SPC
		END
		--
		INSERT INTO #TEMP2_2_DELETE
		SELECT 
			#TEMP2_DELETE.key_emp		
		,	#TEMP2_DELETE.key_group_cd			
		,	#TEMP1_DELETE.rater_employee_cd_1	
		,	#TEMP1_DELETE.rater_employee_cd_2	
		,	#TEMP1_DELETE.rater_employee_cd_3	
		,	#TEMP1_DELETE.rater_employee_cd_4
		,	#TEMP2_DELETE.treatment_applications_no_b
		,	#TEMP2_DELETE.r_sheet_cd2
		,	#TEMP2_DELETE.sheet_cd_b	
		,	#TEMP2_DELETE.number	
		FROM #TEMP2_DELETE 
		LEFT JOIN #TEMP1_DELETE ON (
			#TEMP2_DELETE.key_group_cd  = #TEMP1_DELETE.key_group_cd
		AND	#TEMP2_DELETE.key_emp		= #TEMP1_DELETE.key_emp
		)
		--
		INSERT INTO #TEMP_DELETE
		SELECT 	
			@P_company_cd
		,	@w_fiscal_year
		,	#TEMP1_DELETE.key_emp	
		,	#TEMP1_DELETE.key_group_cd		
		,	#TEMP1_DELETE.rater_employee_cd_1	
		,	#TEMP1_DELETE.rater_employee_cd_2	
		,	#TEMP1_DELETE.rater_employee_cd_3	
		,	#TEMP1_DELETE.rater_employee_cd_4	
		,	#TEMP1_DELETE.treatment_applications_no_a
		,	#TEMP1_DELETE.r_sheet_cd1	
		,	#TEMP1_DELETE.sheet_cd_a		
		,	#TEMP1_DELETE.number	
		FROM #TEMP1_DELETE
		WHERE #TEMP1_DELETE.key_emp <>''
		--
		INSERT INTO #TEMP_DELETE
		SELECT 	
			@P_company_cd
		,	@w_fiscal_year
		,	#TEMP2_2_DELETE.key_emp	
		,	#TEMP2_2_DELETE.key_group_cd				
		,	#TEMP2_2_DELETE.rater_employee_cd_1	
		,	#TEMP2_2_DELETE.rater_employee_cd_2	
		,	#TEMP2_2_DELETE.rater_employee_cd_3	
		,	#TEMP2_2_DELETE.rater_employee_cd_4
		,	#TEMP2_2_DELETE.treatment_applications_no_b
		,	#TEMP2_2_DELETE.r_sheet_cd2	
		,	#TEMP2_2_DELETE.sheet_cd_b	
		,	#TEMP2_2_DELETE.number			
		FROM #TEMP2_2_DELETE
		WHERE #TEMP2_2_DELETE.key_emp <>''
		--
		INSERT INTO #TEMP_SINGLE_DELETE
		SELECT
			#TEMP_DELETE.company_cd
		,	#TEMP_DELETE.fiscal_year
		,	#TEMP_DELETE.treatment_applications_no		-- add by viettd 2019/01/08
		,	#TEMP_DELETE.group_cd
		,	#TEMP_DELETE.key_emp
		FROM #TEMP_DELETE
		GROUP BY
			#TEMP_DELETE.company_cd
		,	#TEMP_DELETE.fiscal_year
		,	#TEMP_DELETE.group_cd
		,	#TEMP_DELETE.key_emp
		,	#TEMP_DELETE.treatment_applications_no
		--
		INSERT INTO #DUPLICATE_F0032
		SELECT
			#TEMP.company_cd
		,	#TEMP.fiscal_year
		,	#TEMP.key_emp	
		,	#TEMP.sheet_cd_f0032	
		,	COUNT(#TEMP.sheet_cd_f0032)
		FROM #TEMP
		GROUP BY
			#TEMP.company_cd
		,	#TEMP.fiscal_year
		,	#TEMP.key_emp	
		,	#TEMP.sheet_cd_f0032
		HAVING COUNT(#TEMP.sheet_cd_f0032) >1
		AND #TEMP.sheet_cd_f0032 <> -1
		--select '#DUPLICATE_F0032',* from #DUPLICATE_F0032
		INSERT INTO #TEMP3
		SELECT 
			#TEMP.number
		,	#TEMP.company_cd
		,	#TEMP.fiscal_year
		,	#TEMP.key_emp
		,	#TEMP.sheet_cd_f0032
		FROM #TEMP
		WHERE #TEMP.sheet_cd_f0032 <> -1
		ORDER BY #TEMP.key_emp
		--select * from #TEMP
		IF (NOT EXISTS( SELECT 1 FROM #TEMP ) AND NOT EXISTS( SELECT 1 FROM #TEMP_DELETE ))
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				18						
			,	''						
			,	0-- oderby				
			,	1			  			
			,	0						
			,	''					
			,	'not row detail'		
		END
		--MSG90
		IF EXISTS(
			SELECT 1
			FROM #TEMP1
			WHERE 		
				#TEMP1.key_group_cd	=	-1
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				90									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.lblCheck'							-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4			  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TEMP1.id							-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	#TEMP1.pos_emp						-- Tùy ý
			,	'Not Sheet_cd '									-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #TEMP1
			WHERE 		
				#TEMP1.key_group_cd	=	-1
		END
		--SET @w_count_emp = (SELECT COUNT(1) FROM F0031 WHERE F0031.company_cd = @P_company_cd AND F0031.fiscal_year = @w_fiscal_year)
		--
		DECLARE 
			@Count_Rater	SMALLINT	= 0
		SELECT 
			@Count_Rater =(	CASE
							WHEN
								SUM(ISNULL(M0100.target_evaluation_typ_1,0)+ISNULL(M0100.target_evaluation_typ_2,0)+ISNULL(M0100.target_evaluation_typ_3,0)+ISNULL(M0100.target_evaluation_typ_4,0)) 
							>	SUM(ISNULL(M0100.evaluation_typ_1,0)+ISNULL(M0100.evaluation_typ_2,0)+ISNULL(M0100.evaluation_typ_3,0)+ISNULL(M0100.evaluation_typ_4,0)) 
							THEN SUM(ISNULL(M0100.target_evaluation_typ_1,0)+ISNULL(M0100.target_evaluation_typ_2,0)+ISNULL(M0100.target_evaluation_typ_3,0)+ISNULL(M0100.target_evaluation_typ_4,0)) 
							ELSE SUM(ISNULL(M0100.evaluation_typ_1,0)+ISNULL(M0100.evaluation_typ_2,0)+ISNULL(M0100.evaluation_typ_3,0)+ISNULL(M0100.evaluation_typ_4,0)) 
						END)
		FROM M0100
		WHERE 
			M0100.company_cd	=	@P_company_cd
		AND	M0100.del_datetime	IS NULL
		--一次評価者 「必須」
		IF EXISTS (
			SELECT 1
			FROM #TEMP1
			WHERE
			ISNULL(#TEMP1.rater_employee_cd_1,'')	=	''
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				8						
			,	'.error_rater_emp_1'			
			--,	'.rate_emp:not([disabled])'					
			,	0-- oderby				
			,	0			  			
			,	#TEMP1.id							
			,	#TEMP1.pos_emp				
			,	'必須評価者'		
			FROM #TEMP1
			WHERE
				ISNULL(#TEMP1.rater_employee_cd_1,'')	=	''
			AND	#TEMP1.key_group_cd	<> -1
			ORDER BY #TEMP1.key_emp ASC
		END
		--二次評価者 「必須」
		IF @Count_Rater >= 3
		BEGIN
			IF EXISTS (
				SELECT 1
				FROM #TEMP1
				WHERE
					#TEMP1.rater_employee_cd_2	=	''
				AND	(
					#TEMP1.rater_employee_cd_3	<>	''
				OR	#TEMP1.rater_employee_cd_4	<>	''
				)
			)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT		
					8						
				,	'.error_rater_emp_2'			
				--,	'.rate_emp:not([disabled])'					
				,	0-- oderby				
				,	0			  			
				,	#TEMP1.id							
				,	#TEMP1.pos_emp				
				,	'必須評価者'		
				FROM #TEMP1
				WHERE
					#TEMP1.rater_employee_cd_2	=	''
				AND	(
					#TEMP1.rater_employee_cd_3	<>	''
				OR	#TEMP1.rater_employee_cd_4	<>	''
				)
				ORDER BY #TEMP1.key_emp ASC
			END
		END
		--三次評価者 「必須」
		IF @Count_Rater = 4
		BEGIN
			IF EXISTS (
				SELECT 1
				FROM #TEMP1
				WHERE
					#TEMP1.rater_employee_cd_4	<>	''
				AND	#TEMP1.rater_employee_cd_3	=	''
			)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT		
					8						
				,	'.error_rater_emp_3'			
				--,	'.rate_emp:not([disabled])'					
				,	0-- oderby				
				,	0			  			
				,	#TEMP1.id							
				,	#TEMP1.pos_emp				
				,	'必須評価者'		
				FROM #TEMP1
				WHERE
					#TEMP1.rater_employee_cd_4	<>	''
				AND	#TEMP1.rater_employee_cd_3	=	''
				ORDER BY #TEMP1.key_emp ASC
			END
		END
		--評価シート重複チェック(Mess No.32)
		IF EXISTS ( SELECT 1 FROM #TEMP3
							INNER JOIN #DUPLICATE_F0032 ON (
								#TEMP3.company_cd		= #DUPLICATE_F0032.company_cd
							AND #TEMP3.fiscal_year		= #DUPLICATE_F0032.fiscal_year
							AND #TEMP3.key_emp			= #DUPLICATE_F0032.employee_cd
							AND #TEMP3.sheet_cd_f0032   = #DUPLICATE_F0032.sheet_cd
							)
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				32						
			,	'.err_sheet_cd'						
			,	0-- oderby				
			,	0			  			
			,	#TEMP1.id						
			,	#TEMP3.number+1					
			,	'duplicate sheet_cd f0032'		
			FROM #TEMP3
			INNER JOIN #TEMP1 ON (
				#TEMP3.key_emp	=	#TEMP1.key_emp
			)
			INNER JOIN #DUPLICATE_F0032 ON (
				#TEMP3.company_cd		= #DUPLICATE_F0032.company_cd
			AND #TEMP3.fiscal_year		= #DUPLICATE_F0032.fiscal_year
			AND #TEMP3.key_emp			= #DUPLICATE_F0032.employee_cd
			AND #TEMP3.sheet_cd_f0032   = #DUPLICATE_F0032.sheet_cd
			)
			ORDER BY #TEMP3.key_emp ASC
		END
		--message No87
		-- Check rater_employee_cd_1
		IF EXISTS (
			SELECT 1
			FROM #TEMP1
			INNER JOIN M0070 WITH(NOLOCK) ON (
				#TEMP1.company_cd				=	M0070.company_cd
			AND	#TEMP1.rater_employee_cd_1		=	M0070.employee_cd
			)
			WHERE 
				M0070.del_datetime	IS NULL
			AND (
					(
						M0070.company_out_dt IS NULL
					AND DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
					)	
				OR 
					(
						M0070.company_out_dt IS NOT NULL 
					AND 
						(
							@w_year_month_date > M0070.company_out_dt 
						OR	DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
						)
					)
			)
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				87					
			,	'.error_rater_emp_1'						
			,	0-- oderby				
			,	0			  			
			,	#TEMP1.id							
			,	#TEMP1.pos_emp				
			,	'退職した社員'		
			FROM #TEMP1
			INNER JOIN M0070 WITH(NOLOCK) ON (
				#TEMP1.company_cd				=	M0070.company_cd
			AND	#TEMP1.rater_employee_cd_1		=	M0070.employee_cd
			)
			WHERE 
				M0070.del_datetime	IS NULL
			AND (
					(
						M0070.company_out_dt IS NULL
					AND DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
					)	
				OR 
					(
						M0070.company_out_dt IS NOT NULL 
					AND 
						(
							@w_year_month_date > M0070.company_out_dt 
						OR	DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
						)
					)
			)
			ORDER BY #TEMP1.key_emp ASC
		END
		-- Check rater_employee_cd_2
		IF EXISTS (
			SELECT 1
			FROM #TEMP1
			INNER JOIN M0070 WITH(NOLOCK) ON (
				#TEMP1.company_cd				=	M0070.company_cd
			AND	#TEMP1.rater_employee_cd_2		=	M0070.employee_cd
			)
			WHERE 
				M0070.del_datetime	IS NULL
			AND (
					(
						M0070.company_out_dt IS NULL
					AND DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
					)	
				OR 
					(
						M0070.company_out_dt IS NOT NULL 
					AND 
						(
							@w_year_month_date > M0070.company_out_dt 
						OR	DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
						)
					)
			)
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				87					
			,	'.error_rater_emp_2'						
			,	0-- oderby				
			,	0			  			
			,	#TEMP1.id							
			,	#TEMP1.pos_emp				
			,	'退職した社員'		
			FROM #TEMP1
			INNER JOIN M0070 WITH(NOLOCK) ON (
				#TEMP1.company_cd				=	M0070.company_cd
			AND	#TEMP1.rater_employee_cd_2		=	M0070.employee_cd
			)
			WHERE 
				M0070.del_datetime	IS NULL
			AND (
					(
						M0070.company_out_dt IS NULL
					AND DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
					)	
				OR 
					(
						M0070.company_out_dt IS NOT NULL 
					AND 
						(
							@w_year_month_date > M0070.company_out_dt 
						OR	DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
						)
					)
			)
			ORDER BY #TEMP1.key_emp ASC
		END
		-- Check rater_employee_cd_3
		IF EXISTS (
			SELECT 1
			FROM #TEMP1
			INNER JOIN M0070 WITH(NOLOCK) ON (
				#TEMP1.company_cd				=	M0070.company_cd
			AND	#TEMP1.rater_employee_cd_3		=	M0070.employee_cd
			)
			WHERE 
				M0070.del_datetime	IS NULL
			AND (
					(
						M0070.company_out_dt IS NULL
					AND DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
					)	
				OR 
					(
						M0070.company_out_dt IS NOT NULL 
					AND 
						(
							@w_year_month_date > M0070.company_out_dt 
						OR	DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
						)
					)
			)
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				87					
			,	'.error_rater_emp_3'						
			,	0-- oderby				
			,	0			  			
			,	#TEMP1.id							
			,	#TEMP1.pos_emp				
			,	'退職した社員'		
			FROM #TEMP1
			INNER JOIN M0070 WITH(NOLOCK) ON (
				#TEMP1.company_cd				=	M0070.company_cd
			AND	#TEMP1.rater_employee_cd_3		=	M0070.employee_cd
			)
			WHERE 
				M0070.del_datetime	IS NULL
			AND (
					(
						M0070.company_out_dt IS NULL
					AND DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
					)	
				OR 
					(
						M0070.company_out_dt IS NOT NULL 
					AND 
						(
							@w_year_month_date > M0070.company_out_dt 
						OR	DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
						)
					)
			)
			ORDER BY #TEMP1.key_emp ASC
		END
		-- Check rater_employee_cd_4
		IF EXISTS (
			SELECT 1
			FROM #TEMP1
			INNER JOIN M0070 WITH(NOLOCK) ON (
				#TEMP1.company_cd				=	M0070.company_cd
			AND	#TEMP1.rater_employee_cd_4		=	M0070.employee_cd
			)
			WHERE 
				M0070.del_datetime	IS NULL
			AND (
					(
						M0070.company_out_dt IS NULL
					AND DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
					)	
				OR 
					(
						M0070.company_out_dt IS NOT NULL 
					AND 
						(
							@w_year_month_date > M0070.company_out_dt 
						OR	DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
						)
					)
			)
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				87					
			,	'.error_rater_emp_4'						
			,	0-- oderby				
			,	0			  			
			,	#TEMP1.id							
			,	#TEMP1.pos_emp				
			,	'退職した社員'		
			FROM #TEMP1
			INNER JOIN M0070 WITH(NOLOCK) ON (
				#TEMP1.company_cd				=	M0070.company_cd
			AND	#TEMP1.rater_employee_cd_4		=	M0070.employee_cd
			)
			WHERE 
				M0070.del_datetime	IS NULL
			AND (
					(
						M0070.company_out_dt IS NULL
					AND DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
					)	
				OR 
					(
						M0070.company_out_dt IS NOT NULL 
					AND 
						(
							@w_year_month_date > M0070.company_out_dt 
						OR	DATEADD(DAY,-1,DATEADD(YEAR,1,@w_year_month_date)) < M0070.company_in_dt
						)
					)
			)
			ORDER BY #TEMP1.key_emp ASC
		END
		--select '#TEMP_DELETE',* from #TEMP_DELETE
		--return 
		INSERT INTO #F0031_CHECK
		SELECT
			DISTINCT
			#TEMP_DELETE.company_cd
		,	#TEMP_DELETE.fiscal_year
		,	#TEMP_DELETE.key_emp
		,	#TEMP_DELETE.treatment_applications_no
		FROM #TEMP_DELETE
		GROUP BY 
			#TEMP_DELETE.company_cd
		,	#TEMP_DELETE.fiscal_year
		,	#TEMP_DELETE.key_emp
		,	#TEMP_DELETE.treatment_applications_no
		--check all msg 54
		INSERT INTO #F0031_CHECK
		SELECT
			DISTINCT
			#TEMP.company_cd
		,	#TEMP.fiscal_year
		,	#TEMP.key_emp
		,	#TEMP.treatment_applications_no
		FROM #TEMP
		GROUP BY 
			#TEMP.company_cd
		,	#TEMP.fiscal_year
		,	#TEMP.key_emp
		,	#TEMP.treatment_applications_no
		--
		INSERT INTO #F0031_DISTINCT
		SELECT
			#TEMP.company_cd
		,	#TEMP.fiscal_year
		,	#TEMP.key_emp
		FROM #TEMP
		GROUP BY 
			#TEMP.company_cd
		,	#TEMP.fiscal_year
		,	#TEMP.key_emp
		--
		INSERT INTO #F0031_DISTINCT
		SELECT
			#TEMP_DELETE.company_cd
		,	#TEMP_DELETE.fiscal_year
		,	#TEMP_DELETE.key_emp
		FROM #TEMP_DELETE
		GROUP BY 
			#TEMP_DELETE.company_cd
		,	#TEMP_DELETE.fiscal_year
		,	#TEMP_DELETE.key_emp
		--
		SET @w_count_f0031 = (SELECT COUNT(1) FROM #F0031_DISTINCT)
		--
		DECLARE @w_i INT = 1
		WHILE(@w_i <= @w_count_f0031)
		BEGIN
			SET @w_f0031_emp = (SELECT #F0031_DISTINCT.employee_cd FROM #F0031_DISTINCT WHERE #F0031_DISTINCT.id = @w_i)
			--select @w_f0031_id as _f0031_id
			SET @w_count_f0200 = (
				SELECT  COUNT(1) as _check
				FROM F0200
				INNER JOIN #F0031_CHECK ON (
					F0200.company_cd					= #F0031_CHECK.company_cd
				AND F0200.fiscal_year					= #F0031_CHECK.fiscal_year
				AND F0200.employee_cd					= #F0031_CHECK.employee_cd
				AND F0200.treatment_applications_no		= #F0031_CHECK.treatment_applications_no	
				)
				WHERE 
					F0200.employee_cd = @w_f0031_emp
				AND F0200.del_datetime IS NULL -- add by viettd 2021/06/07
			)
			--select @w_count_f0200 as count_f0200
			SET @w_count = ( 
				SELECT  COUNT(1) as _check
				FROM F0200
				INNER JOIN #F0031_CHECK ON (
					F0200.company_cd					= #F0031_CHECK.company_cd
				AND F0200.fiscal_year					= #F0031_CHECK.fiscal_year
				AND F0200.employee_cd					= #F0031_CHECK.employee_cd
				AND F0200.treatment_applications_no		= #F0031_CHECK.treatment_applications_no
				)
				WHERE 
					F0200.confirm_datetime IS NOT NULL	-- 確定
				AND F0200.employee_cd = @w_f0031_emp
				AND F0200.del_datetime IS NULL -- add by viettd 2021/06/07
			)
			--
			IF(@w_count >= @w_count_f0200 AND @w_count_f0200 <> 0)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT 	
					54						
				,	''						
				,	0-- oderby				
				,	1			  			
				,	0						
				,	''				
				,	'error 54_年度内の全ての評価が確定していたら更新不可'		
			END
			--
			SET @w_i = @w_i + 1
		END
		-- check detail msg 54
		INSERT INTO #F0031_DELETE
		SELECT 
			#TEMP_DELETE.company_cd
		,	#TEMP_DELETE.fiscal_year
		,	#TEMP_DELETE.key_emp
		,	#TEMP_DELETE.treatment_applications_no
		FROM #TEMP_DELETE
		LEFT JOIN #TEMP ON (
			#TEMP_DELETE.company_cd		= #TEMP.company_cd
		AND #TEMP_DELETE.fiscal_year	= #TEMP.fiscal_year
		AND #TEMP_DELETE.group_cd		= #TEMP.group_cd
		AND #TEMP_DELETE.key_emp		= #TEMP.key_emp
		)
		WHERE 
			#TEMP_DELETE.company_cd	= @P_company_cd
		AND #TEMP_DELETE.fiscal_year	= @w_fiscal_year
		AND #TEMP.key_emp IS NULL
		--
		INSERT INTO #DATA_F0030
		SELECT 
			@P_company_cd
		,	@w_fiscal_year
		,	#TEMP1.key_group_cd
		,	#TEMP1.key_emp
		,	F0030.cre_user
		,	F0030.cre_ip
		,	F0030.cre_datetime
		FROM #TEMP1 
		LEFT JOIN F0030 ON (
			#TEMP1.key_emp = F0030.employee_cd
		)
		WHERE 
			F0030.company_cd	= @P_company_cd
		AND F0030.fiscal_year	= @w_fiscal_year
		AND F0030.group_cd		= #TEMP1.key_group_cd
		--■ Check Mess No.100 (被評価者本人を評価者１～４に設定したらエラー)
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT 	
				100						
			,	'.error_rater_emp_1'						
			,	0-- oderby				
			,	1			  			
			,	#TEMP1.id						
			,	#TEMP1.pos_emp				
			,	'dupplicate employee_cd and rator_employee_cd'
			FROM #TEMP1
			WHERE
				key_emp <> ''
			AND	rater_employee_cd_1 <> ''
			AND	key_emp = rater_employee_cd_1
			--
			INSERT INTO @ERR_TBL 
			SELECT 	
				100						
			,	'.error_rater_emp_2'						
			,	0-- oderby				
			,	1			  			
			,	#TEMP1.id						
			,	#TEMP1.pos_emp				
			,	'dupplicate employee_cd and rator_employee_cd'
			FROM #TEMP1
			WHERE
				key_emp <> ''
			AND	rater_employee_cd_2 <> ''
			AND	key_emp = rater_employee_cd_2
			--
			INSERT INTO @ERR_TBL 
			SELECT 	
				100						
			,	'.error_rater_emp_3'						
			,	0-- oderby				
			,	1			  			
			,	#TEMP1.id						
			,	#TEMP1.pos_emp				
			,	'dupplicate employee_cd and rator_employee_cd'
			FROM #TEMP1
			WHERE
				key_emp <> ''
			AND	rater_employee_cd_3 <> ''
			AND	key_emp = rater_employee_cd_3
			--
			INSERT INTO @ERR_TBL 
			SELECT 	
				100						
			,	'.error_rater_emp_4'						
			,	0-- oderby				
			,	1			  			
			,	#TEMP1.id						
			,	#TEMP1.pos_emp				
			,	'dupplicate employee_cd and rator_employee_cd'
			FROM #TEMP1
			WHERE
				key_emp <> ''
			AND	rater_employee_cd_4 <> ''
			AND	key_emp = rater_employee_cd_4
		END
		--■ Check Mess No.99(評価者が既に別の処遇用途で同一評価シートが登録されており、異なる評価者を設定しようとしたらエラー)
		-- MESSAGE 99
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- GET #TMP_F0032
			INSERT INTO #TMP_F0032
			SELECT
				#TEMP1.company_cd
			,	#TEMP1.fiscal_year
			,	#TEMP1.key_group_cd
			,	#TEMP1.key_emp
			,	F0021.treatment_applications_no
			,	F0021.detail_no
			,	F0021.sheet_cd
			,	F0021.weight
			FROM #TEMP1
			LEFT OUTER JOIN F0021 ON (
				#TEMP1.company_cd		=	F0021.company_cd
			AND #TEMP1.fiscal_year		=	F0021.fiscal_year
			AND #TEMP1.key_group_cd		=	F0021.group_cd
			)
			INNER JOIN #JSON_LIST_TREATMENT ON (
				F0021.company_cd				=	#JSON_LIST_TREATMENT.company_cd
			AND F0021.treatment_applications_no	=	#JSON_LIST_TREATMENT.treatment_applications_no
			)
			--
			UPDATE #TMP_F0032 SET 
				sheet_cd = ISNULL(#TEMP.sheet_cd_f0032,0)
			FROM #TMP_F0032
			INNER JOIN #TEMP ON (
				#TMP_F0032.company_cd			=	#TEMP.company_cd
			AND #TMP_F0032.fiscal_year			=	#TEMP.fiscal_year
			AND #TMP_F0032.employee_cd			=	#TEMP.key_emp
			AND #TMP_F0032.sheet_cd				=	#TEMP.sheet_cd_f0021
			)
			WHERE
				#TEMP.sheet_cd_f0021 <> 0
			AND #TEMP.sheet_cd_f0032 <> -1
			--
			UPDATE #TMP_F0032 SET 
				sheet_cd = ISNULL(#TEMP.sheet_cd_f0032,0)
			FROM #TMP_F0032
			INNER JOIN #TEMP ON (
				#TMP_F0032.company_cd						=	#TEMP.company_cd
			AND #TMP_F0032.fiscal_year						=	#TEMP.fiscal_year
			AND #TMP_F0032.employee_cd						=	#TEMP.key_emp
			AND #TMP_F0032.treatment_applications_no		=	#TEMP.treatment_applications_no
			AND #TMP_F0032.detail_no						=	#TEMP.row_number
			)
			WHERE
				#TEMP.sheet_cd_f0021 = 0
			AND #TEMP.sheet_cd_f0032 <> -1
			-- ↓↓↓ add by viettd 2022/04/06
			DELETE FROM #TMP_F0032 WHERE sheet_cd = 0
			-- ↑↑↑ end add by viettd 2022/04/06
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			-- VALIDATE MESS 99
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			INSERT INTO #N99_EMPLOYEE_ROUTER_SCREEN
			SELECT 
				DISTINCT
				#JSON_LIST_TREATMENT.treatment_applications_no
			,	#TMP_F0032.group_cd
			,	#TMP_F0032.employee_cd
			,	#TMP_F0032.sheet_cd
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			FROM #TMP_F0032
			LEFT OUTER JOIN #JSON_LIST_TREATMENT ON (
				#TMP_F0032.company_cd			=	#JSON_LIST_TREATMENT.company_cd
			)
			--
			UPDATE #N99_EMPLOYEE_ROUTER_SCREEN SET 
				rater_employee_cd_1 = #TEMP1.rater_employee_cd_1
			,	rater_employee_cd_2 = #TEMP1.rater_employee_cd_2
			,	rater_employee_cd_3 = #TEMP1.rater_employee_cd_3
			,	rater_employee_cd_4 = #TEMP1.rater_employee_cd_4
			FROM #N99_EMPLOYEE_ROUTER_SCREEN
			INNER JOIN #TEMP1 ON (
				#N99_EMPLOYEE_ROUTER_SCREEN.employee_cd		=	#TEMP1.key_emp
			)
			--
			INSERT INTO #N99_EMPLOYEE_ROUTER_DB
			SELECT 
				DISTINCT
				F0032.treatment_applications_no
			,	F0032.group_cd			
			,	F0032.employee_cd
			,	F0032.sheet_cd
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			FROM F0032
			INNER JOIN #TEMP1 ON (
				F0032.company_cd				=	#TEMP1.company_cd
			AND F0032.fiscal_year				=	#TEMP1.fiscal_year
			AND F0032.employee_cd				=	#TEMP1.key_emp
			)
			WHERE
				F0032.company_cd			=	@P_company_cd
			AND F0032.fiscal_year			=	@w_fiscal_year
			AND F0032.del_datetime IS NULL
			AND F0032.group_cd					>	0	-- add by viettd 2021/03/02
			--
			UPDATE #N99_EMPLOYEE_ROUTER_DB SET 
				rater_employee_cd_1	=	ISNULL(F0030.rater_employee_cd_1,'')
			,	rater_employee_cd_2	=	ISNULL(F0030.rater_employee_cd_2,'')
			,	rater_employee_cd_3	=	ISNULL(F0030.rater_employee_cd_3,'')
			,	rater_employee_cd_4	=	ISNULL(F0030.rater_employee_cd_4,'')
			FROM #N99_EMPLOYEE_ROUTER_DB
			INNER JOIN F0030 ON (
				@P_company_cd										=	F0030.company_cd
			AND @w_fiscal_year										=	F0030.fiscal_year
			AND #N99_EMPLOYEE_ROUTER_DB.group_cd					=	F0030.group_cd
			AND #N99_EMPLOYEE_ROUTER_DB.treatment_applications_no	=	F0030.treatment_applications_no
			AND #N99_EMPLOYEE_ROUTER_DB.employee_cd					=	F0030.employee_cd
			)
			-- IF EXISTS ROUTER IN DB
			IF EXISTS (SELECT 1 FROM #N99_EMPLOYEE_ROUTER_DB)
			BEGIN
				-- LOAI BO EMPLOYEE TREN MAN HINH NHUNG CHUA CO DU LIEU TRONG DB
				DELETE D FROM #N99_EMPLOYEE_ROUTER_SCREEN AS D
				LEFT OUTER JOIN #N99_EMPLOYEE_ROUTER_DB AS DB ON (
					D.employee_cd			=	DB.employee_cd
				AND D.sheet_cd				=	DB.sheet_cd
				)
				WHERE
					DB.sheet_cd IS NULL
				-- LOAI BO NHUNG THANG CO treatment_applications_no,group_cd,sheet_cd TRONG DB TRUNG VOI TREN SCREEN
				DELETE D FROM #N99_EMPLOYEE_ROUTER_DB AS D
				INNER JOIN #N99_EMPLOYEE_ROUTER_SCREEN AS SCREEN ON (
					D.employee_cd					=	SCREEN.employee_cd
				AND D.sheet_cd						=	SCREEN.sheet_cd
				AND D.treatment_applications_no		=	SCREEN.treatment_applications_no
				AND D.group_cd						=	SCREEN.group_cd
				)
				--rater_employee_cd_1
				INSERT INTO @ERR_TBL 
				SELECT 	
					DISTINCT
					99						
				,	'.error_rater_emp_1'						
				,	0-- oderby				
				,	1			  			
				,	#TEMP1.id						
				,	0
				,	'validate mess 99 for rater_employee_cd1'
				FROM  #N99_EMPLOYEE_ROUTER_DB AS DB
				LEFT OUTER JOIN #N99_EMPLOYEE_ROUTER_SCREEN AS SCREEN ON(
					DB.sheet_cd						=	SCREEN.sheet_cd
				AND DB.employee_cd					=	SCREEN.employee_cd
				)
				INNER JOIN #TEMP1 ON (
					DB.employee_cd			=	#TEMP1.key_emp
				)
				WHERE
					DB.rater_employee_cd_1		<>	SCREEN.rater_employee_cd_1
				--rater_employee_cd_2
				INSERT INTO @ERR_TBL 
				SELECT 	
					DISTINCT
					99						
				,	'.error_rater_emp_2'						
				,	0-- oderby				
				,	1			  			
				,	#TEMP1.id						
				,	0
				,	'validate mess 99 for rater_employee_cd2'
				FROM  #N99_EMPLOYEE_ROUTER_DB AS DB
				LEFT OUTER JOIN #N99_EMPLOYEE_ROUTER_SCREEN AS SCREEN ON(
					DB.sheet_cd						=	SCREEN.sheet_cd
				AND DB.employee_cd					=	SCREEN.employee_cd
				)
				INNER JOIN #TEMP1 ON (
					DB.employee_cd			=	#TEMP1.key_emp
				)
				WHERE
					DB.rater_employee_cd_2			<>	SCREEN.rater_employee_cd_2
				--rater_employee_cd_3
				INSERT INTO @ERR_TBL 
				SELECT 	
					DISTINCT
					99						
				,	'.error_rater_emp_3'						
				,	0-- oderby				
				,	1			  			
				,	#TEMP1.id						
				,	0
				,	'validate mess 99 for rater_employee_cd3'
				FROM  #N99_EMPLOYEE_ROUTER_DB AS DB
				LEFT OUTER JOIN #N99_EMPLOYEE_ROUTER_SCREEN AS SCREEN ON(
					DB.sheet_cd						=	SCREEN.sheet_cd
				AND DB.employee_cd					=	SCREEN.employee_cd
				)
				INNER JOIN #TEMP1 ON (
					DB.employee_cd			=	#TEMP1.key_emp
				)
				WHERE
					DB.rater_employee_cd_3			<>	SCREEN.rater_employee_cd_3
				--rater_employee_cd_4
				INSERT INTO @ERR_TBL 
				SELECT 	
					DISTINCT
					99						
				,	'.error_rater_emp_4'						
				,	0-- oderby				
				,	1			  			
				,	#TEMP1.id						
				,	0
				,	'validate mess 99 for rater_employee_cd4'
				FROM  #N99_EMPLOYEE_ROUTER_DB AS DB
				LEFT OUTER JOIN #N99_EMPLOYEE_ROUTER_SCREEN AS SCREEN ON(
					DB.sheet_cd						=	SCREEN.sheet_cd
				AND DB.employee_cd					=	SCREEN.employee_cd
				)
				INNER JOIN #TEMP1 ON (
					DB.employee_cd			=	#TEMP1.key_emp
				)
				WHERE
					DB.rater_employee_cd_4			<>	SCREEN.rater_employee_cd_4
			END
		END
		--■ Check Mess No.82
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN	
			INSERT INTO #N82_TREATMENT_GROUP_SCREEN
			SELECT 
				DISTINCT
				#TMP_F0032.company_cd
			,	#TMP_F0032.fiscal_year
			,	#TMP_F0032.treatment_applications_no
			,	#TMP_F0032.group_cd
			,	#TMP_F0032.employee_cd
			FROM #TMP_F0032
			--
			INSERT INTO #N82_TREATMENT_GROUP_DB
			SELECT 
				F0030.company_cd
			,	F0030.fiscal_year
			,	F0030.treatment_applications_no
			,	F0030.group_cd
			,	F0030.employee_cd
			FROM F0030
			INNER JOIN #TEMP1 ON (
				F0030.company_cd			=	#TEMP1.company_cd
			AND F0030.fiscal_year			=	#TEMP1.fiscal_year
			AND F0030.employee_cd			=	#TEMP1.key_emp
			)
			WHERE 
				F0030.company_cd		=	@P_company_cd
			AND F0030.fiscal_year		=	@w_fiscal_year
			AND F0030.del_datetime IS NULL
			--
			INSERT INTO #N82_TREATMENT_GROUP_SCREEN
			SELECT 
				DB.company_cd
			,	DB.fiscal_year
			,	DB.treatment_applications_no
			,	DB.group_cd
			,	DB.employee_cd
			FROM #N82_TREATMENT_GROUP_DB AS DB
			LEFT OUTER JOIN #N82_TREATMENT_GROUP_SCREEN AS SCREEN ON (
				DB.company_cd						=	SCREEN.company_cd
			AND DB.fiscal_year						=	SCREEN.fiscal_year
			AND DB.group_cd							=	SCREEN.group_cd
			AND DB.treatment_applications_no		=	SCREEN.treatment_applications_no
			AND DB.employee_cd						=	SCREEN.employee_cd
			)
			WHERE 
				SCREEN.company_cd IS NULL
			-- #N82_TREATMENT_GROUP
			INSERT INTO #N82_TREATMENT_GROUP
			SELECT 
				SCREEN.treatment_applications_no
			,	SCREEN.employee_cd
			,	COUNT(SCREEN.group_cd)
			FROM #N82_TREATMENT_GROUP_SCREEN AS SCREEN
			GROUP BY
				SCREEN.treatment_applications_no
			,	SCREEN.employee_cd
			--@ERR_TBL
			INSERT INTO @ERR_TBL 
			SELECT		
				82									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.lblCheck'							-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4			  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TEMP1.id							-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'LOI MESSS 82'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #N82_TREATMENT_GROUP
			LEFT OUTER JOIN #TEMP1 ON(
				#N82_TREATMENT_GROUP.employee_cd	=	#TEMP1.key_emp
			)
			WHERE 		
				#N82_TREATMENT_GROUP.row_cnt >= 2
		END
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		-- INSERT DATA
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- ■■■■■■■■■■■■■■■■■■■■■■■ F0030 ■■■■■■■■■■■■■■■■■■■■■■■ 
			-------------------------------------------------------------------			
			-- delete F0030 when click button Delete in screen
			-------------------------------------------------------------------			
			IF EXISTS ( 
				SELECT 1 
				FROM F0030 
				INNER JOIN #TEMP_SINGLE_DELETE ON (
					F0030.company_cd				= #TEMP_SINGLE_DELETE.company_cd
				AND F0030.fiscal_year				= #TEMP_SINGLE_DELETE.fiscal_year
				--AND F0030.treatment_applications_no	= #TEMP_SINGLE_DELETE.treatment_applications_no	-- comment out by viettd 2020/03/17
				AND F0030.group_cd					= #TEMP_SINGLE_DELETE.group_cd
				AND F0030.employee_cd				= #TEMP_SINGLE_DELETE.employee_cd
				)
				INNER JOIN #JSON_LIST_TREATMENT ON (
					F0030.company_cd				=	#JSON_LIST_TREATMENT.company_cd
				AND F0030.treatment_applications_no	=	#JSON_LIST_TREATMENT.treatment_applications_no
				)
				WHERE 
					F0030.company_cd	= @P_company_cd
				AND F0030.fiscal_year	= @w_fiscal_year
			)
			BEGIN
			--	DELETE DATA
				DELETE D FROM F0030 AS D
				INNER JOIN #TEMP_SINGLE_DELETE ON (
					D.company_cd				= #TEMP_SINGLE_DELETE.company_cd
				AND D.fiscal_year				= #TEMP_SINGLE_DELETE.fiscal_year
				--AND D.treatment_applications_no	= #TEMP_SINGLE_DELETE.treatment_applications_no	-- comment out by viettd 2020/03/17
				AND D.group_cd					= #TEMP_SINGLE_DELETE.group_cd
				AND D.employee_cd				= #TEMP_SINGLE_DELETE.employee_cd
				)
				INNER JOIN #JSON_LIST_TREATMENT ON (
					D.company_cd				=	#JSON_LIST_TREATMENT.company_cd
				AND D.treatment_applications_no	=	#JSON_LIST_TREATMENT.treatment_applications_no
				)
				WHERE 
					D.company_cd	= @P_company_cd
				AND D.fiscal_year	= @w_fiscal_year
			END
			ELSE
			BEGIN
				INSERT INTO F0030 
				SELECT
					@P_company_cd	
				,	@w_fiscal_year
				,	#TEMP_SINGLE_DELETE.treatment_applications_no	-- add by viettd 2019/01/08
				,	#TEMP_SINGLE_DELETE.group_cd	
				,	#TEMP_SINGLE_DELETE.employee_cd
				,	SPACE(0)										--	rater_employee_cd_1
				,	SPACE(0)										--	rater_employee_cd_2
				,	SPACE(0)										--	rater_employee_cd_3
				,	SPACE(0)										--	rater_employee_cd_4
				,	@P_cre_user
				,	@P_cre_ip
				,	'I1030'
				,	@w_time 
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	@P_cre_user
				,	@P_cre_ip
				,	'I1030'
				,	@w_time 
				FROM #TEMP_SINGLE_DELETE 
				LEFT OUTER JOIN F0030 ON (
					#TEMP_SINGLE_DELETE.company_cd					= F0030.company_cd
				AND #TEMP_SINGLE_DELETE.fiscal_year					= F0030.fiscal_year
				AND #TEMP_SINGLE_DELETE.group_cd					= F0030.group_cd
				--AND #TEMP_SINGLE_DELETE.treatment_applications_no	= F0030.treatment_applications_no	-- comment out by viettd 2020/03/17
				AND	#TEMP_SINGLE_DELETE.employee_cd					= F0030.employee_cd
				)
				INNER JOIN #JSON_LIST_TREATMENT ON (
					F0030.company_cd								=	#JSON_LIST_TREATMENT.company_cd
				AND F0030.treatment_applications_no					=	#JSON_LIST_TREATMENT.treatment_applications_no
				)
				WHERE 
					#TEMP_SINGLE_DELETE.company_cd		=	@P_company_cd
				AND #TEMP_SINGLE_DELETE.fiscal_year		=	@w_fiscal_year
				AND F0030.employee_cd IS NULL
			END
			-------------------------------------------------------------------			
			-- DEL + ADD F0030 when button save
			-------------------------------------------------------------------
			DELETE D FROM F0030 AS D
			INNER JOIN (
				SELECT
					#TEMP1.company_cd								AS	company_cd
				,	#TEMP1.fiscal_year								AS	fiscal_year
				,	#JSON_LIST_TREATMENT.treatment_applications_no	AS	treatment_applications_no
				,	#TEMP1.key_group_cd								AS	group_cd
				,	#TEMP1.key_emp									AS	employee_cd
				FROM #TEMP1
				LEFT OUTER JOIN #JSON_LIST_TREATMENT ON (
					#TEMP1.company_cd			=	#JSON_LIST_TREATMENT.company_cd
				)
			) AS TEMP1 ON (
				D.company_cd					=	TEMP1.company_cd
			AND D.fiscal_year					=	TEMP1.fiscal_year
			AND D.treatment_applications_no		=	TEMP1.treatment_applications_no
			AND D.group_cd						=	TEMP1.group_cd
			AND D.employee_cd					=	TEMP1.employee_cd
			)
			-- ADD F0030
			INSERT INTO F0030 
			SELECT
				#TEMP1.company_cd								AS	company_cd
			,	#TEMP1.fiscal_year								AS	fiscal_year
			,	#JSON_LIST_TREATMENT.treatment_applications_no	AS	treatment_applications_no
			,	#TEMP1.key_group_cd								AS	group_cd
			,	#TEMP1.key_emp									AS	employee_cd
			,	#TEMP1.rater_employee_cd_1						AS	rater_employee_cd_1
			,	#TEMP1.rater_employee_cd_2						AS	rater_employee_cd_2
			,	#TEMP1.rater_employee_cd_3						AS	rater_employee_cd_3
			,	#TEMP1.rater_employee_cd_4						AS	rater_employee_cd_4
			,	@P_cre_user
			,	@P_cre_ip
			,	'I1030'
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL		
			FROM #TEMP1
			LEFT OUTER JOIN #JSON_LIST_TREATMENT ON (
				#TEMP1.company_cd			=	#JSON_LIST_TREATMENT.company_cd
			)
			-- ■■■■■■■■■■■■■■■■■■■■■■■ F0032 ■■■■■■■■■■■■■■■■■■■■■■■
			-------------------------------------------------------------------			
			-- delete F0032 when click button Delete in screen
			-------------------------------------------------------------------			
			IF EXISTS (SELECT 1 FROM #TEMP_SINGLE_DELETE)
			BEGIN
				-------------------------------------------------------------------			
				-- delete F0100　when click button Delete in screen
				-------------------------------------------------------------------
				--■ F0100
				INSERT INTO #F0100
				SELECT 
					DISTINCT
					F0032.company_cd
				,	F0032.fiscal_year
				,	F0032.employee_cd
				,	F0032.sheet_cd
				,	0						--  status
				,	SPACE(0)				--	cre_user
				,	SPACE(0)				--	cre_ip
				,	SPACE(0)				--	cre_prg
				,	NULL					--	cre_datetime
				,	SPACE(0)				--	upd_user
				,	SPACE(0)				--	upd_ip
				,	SPACE(0)				--	upd_prg
				,	NULL					--	upd_datetime
				,	0						--	sheet_kbn
				,	1						--	changed_status
				,	''						AS	rater_employee_cd_1
				,	''						AS	rater_employee_cd_2
				,	''						AS	rater_employee_cd_3
				,	''						AS	rater_employee_cd_4
				FROM F0032
				INNER JOIN (
					SELECT
						#TEMP_SINGLE_DELETE.company_cd								AS	company_cd
					,	#TEMP_SINGLE_DELETE.fiscal_year								AS	fiscal_year
					,	#JSON_LIST_TREATMENT.treatment_applications_no				AS	treatment_applications_no
					,	#TEMP_SINGLE_DELETE.group_cd								AS	group_cd
					,	#TEMP_SINGLE_DELETE.employee_cd								AS	employee_cd
					FROM #TEMP_SINGLE_DELETE
					LEFT OUTER JOIN #JSON_LIST_TREATMENT ON (
						#TEMP_SINGLE_DELETE.company_cd			=	#JSON_LIST_TREATMENT.company_cd
					)
				) AS TEMP_DEL ON (
					F0032.company_cd					=	TEMP_DEL.company_cd
				AND F0032.fiscal_year					=	TEMP_DEL.fiscal_year
				AND F0032.treatment_applications_no		=	TEMP_DEL.treatment_applications_no
				AND F0032.group_cd						=	TEMP_DEL.group_cd				
				AND F0032.employee_cd					=	TEMP_DEL.employee_cd
				)
				--
				DELETE D FROM F0100 AS D
				INNER JOIN #F0100 ON (
					D.company_cd			=	#F0100.company_cd
				AND D.fiscal_year			=	#F0100.fiscal_year
				AND D.employee_cd			=	#F0100.employee_cd
				AND D.sheet_cd				=	#F0100.sheet_cd
				)
				--↓↓↓ add by viettd 2020/05/07
				-- DELETE LOGIC TABLE F0120
				UPDATE F0120 SET 
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'I1030'
				,	del_datetime	=	@w_time
				FROM F0120
				INNER JOIN #F0100 ON (
					F0120.company_cd			=	#F0100.company_cd
				AND F0120.fiscal_year			=	#F0100.fiscal_year
				AND F0120.employee_cd			=	#F0100.employee_cd
				AND F0120.sheet_cd				=	#F0100.sheet_cd
				)
				WHERE 
					F0120.company_cd		=	@P_company_cd
				AND F0120.fiscal_year		=	@w_fiscal_year
				--↑↑↑ end add by viettd 2020/05/07	
				--↓↓↓ add by viettd 2020/10/19
				UPDATE F0111 SET 
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'I1030'
				,	del_datetime	=	@w_time
				FROM F0111
				INNER JOIN #F0100 ON (
					F0111.company_cd			=	#F0100.company_cd
				AND F0111.fiscal_year			=	#F0100.fiscal_year
				AND F0111.employee_cd			=	#F0100.employee_cd
				AND F0111.sheet_cd				=	#F0100.sheet_cd
				)
				WHERE 
					F0111.company_cd	=	@P_company_cd
				AND F0111.fiscal_year	=	@w_fiscal_year
				--↑↑↑ end add by viettd 2020/10/19
				-- DELETE TEMP TABLE 
				DELETE FROM #F0100
				--■ F0032
				DELETE D FROM F0032 AS D
				INNER JOIN (
					SELECT
						#TEMP_SINGLE_DELETE.company_cd								AS	company_cd
					,	#TEMP_SINGLE_DELETE.fiscal_year								AS	fiscal_year
					,	#JSON_LIST_TREATMENT.treatment_applications_no				AS	treatment_applications_no
					,	#TEMP_SINGLE_DELETE.group_cd								AS	group_cd
					,	#TEMP_SINGLE_DELETE.employee_cd								AS	employee_cd
					FROM #TEMP_SINGLE_DELETE
					LEFT OUTER JOIN #JSON_LIST_TREATMENT ON (
						#TEMP_SINGLE_DELETE.company_cd			=	#JSON_LIST_TREATMENT.company_cd
					)
				) AS TEMP_DEL ON (
					D.company_cd					=	TEMP_DEL.company_cd
				AND D.fiscal_year					=	TEMP_DEL.fiscal_year
				AND D.treatment_applications_no		=	TEMP_DEL.treatment_applications_no
				AND D.group_cd						=	TEMP_DEL.group_cd				
				AND D.employee_cd					=	TEMP_DEL.employee_cd
				)
			END			
			-------------------------------------------------------------------			
			-- DEL + ADD F0032 when button save
			-------------------------------------------------------------------
			DELETE D FROM F0032 AS D
			INNER JOIN #TMP_F0032 ON (
				D.company_cd				=	#TMP_F0032.company_cd
			AND D.fiscal_year				=	#TMP_F0032.fiscal_year
			AND D.treatment_applications_no	=	#TMP_F0032.treatment_applications_no
			AND D.group_cd					=	#TMP_F0032.group_cd
			AND D.employee_cd				=	#TMP_F0032.employee_cd
			)
			-- INSERT DATA
			INSERT INTO F0032
			SELECT					
				#TMP_F0032.company_cd					
			,	#TMP_F0032.fiscal_year				
			,	#TMP_F0032.treatment_applications_no
			,	#TMP_F0032.group_cd
			,	#TMP_F0032.employee_cd					
			,	#TMP_F0032.detail_no	
			,	#TMP_F0032.sheet_cd
			,	#TMP_F0032.weight	
			,	@P_cre_user				
			,	@P_cre_ip			
			,	'I1030'					
			,	@w_time						
			,	''				
			,	''				
			,	''				
			,	NULL			
			,	''
			,	''
			,	''
			,	NULL			
			FROM #TMP_F0032
			--■■■■■■■■■■■■■■■■■■■■■■　F0100 ■■■■■■■■■■■■■■■■■■■■■■
			-------------------------------------------------------------------			
			-- when click button Save in screen
			-------------------------------------------------------------------
			INSERT INTO #F0032
			SELECT 
				F0032.company_cd						AS	company_cd				
			,	F0032.fiscal_year						AS	fiscal_year				
			,	F0032.treatment_applications_no			AS	treatment_applications_no	
			,	F0032.group_cd							AS	group_cd					
			,	F0032.employee_cd						AS	employee_cd				
			,	F0032.sheet_cd							AS	sheet_cd					
			,	F0032.detail_no							AS	detail_no
			,	F0030.rater_employee_cd_1				AS	rater_employee_cd_1
			,	F0030.rater_employee_cd_2				AS	rater_employee_cd_2
			,	F0030.rater_employee_cd_3				AS	rater_employee_cd_3
			,	F0030.rater_employee_cd_4				AS	rater_employee_cd_4
			FROM F0032
			INNER JOIN #TEMP1 ON (
				F0032.company_cd				=	#TEMP1.company_cd
			AND F0032.fiscal_year				=	#TEMP1.fiscal_year
			AND F0032.employee_cd				=	#TEMP1.key_emp
			)
			INNER JOIN F0030 ON (
				F0032.company_cd				=	F0030.company_cd
			AND F0032.fiscal_year				=	F0030.fiscal_year
			AND F0032.group_cd					=	F0030.group_cd
			AND F0032.treatment_applications_no	=	F0030.treatment_applications_no
			AND F0032.employee_cd				=	F0030.employee_cd
			)
			WHERE 
				F0032.company_cd			=	@P_company_cd
			AND F0032.fiscal_year			=	@w_fiscal_year
			AND F0032.del_datetime IS NULL
			-- GET MODE INSERT 
			INSERT INTO #F0100
			SELECT 
				DISTINCT
				#F0032.company_cd
			,	#F0032.fiscal_year
			,	#F0032.employee_cd
			,	#F0032.sheet_cd
			,	ISNULL(F0100.status_cd,0)		AS		status_cd		--	status_cd
			,	SPACE(0) 						--	cre_user
			,	SPACE(0) 						--	cre_ip
			,	SPACE(0) 						--	cre_prg
			,	NULL 							--	cre_datetime
			,	SPACE(0)  						--	upd_user
			,	SPACE(0)  						--	upd_ip
			,	SPACE(0)  						--	upd_prg
			,	NULL 							--	upd_datetime
			,	ISNULL(M0200.sheet_kbn,0)		AS	sheet_kbn			--	sheet_kbn
			,	1														--	changed_status
			,	#F0032.rater_employee_cd_1
			,	#F0032.rater_employee_cd_2
			,	#F0032.rater_employee_cd_3
			,	#F0032.rater_employee_cd_4
			FROM #F0032
			LEFT OUTER JOIN M0200 ON (
				@P_company_cd		=	M0200.company_cd
			AND #F0032.sheet_cd		=	M0200.sheet_cd
			AND M0200.del_datetime IS NULL	
			)
			LEFT OUTER JOIN F0100 ON (
				#F0032.company_cd		= F0100.company_cd	
			AND #F0032.fiscal_year		= F0100.fiscal_year	
			AND #F0032.employee_cd		= F0100.employee_cd	
			--AND #F0032.sheet_cd			= F0100.sheet_cd	
			AND F0100.del_datetime IS NULL	
			)
			WHERE
				F0100.employee_cd IS NULL
			-- GET MODE UPDATE
			-- ↓↓↓　add by viettd 2022/01/05
			INSERT INTO #F0100_UPDATE
			SELECT 
				DISTINCT
				F0100.company_cd
			,	F0100.fiscal_year
			,	F0100.employee_cd
			,	#F0032.sheet_cd
			,	ISNULL(F0100_SHEET.status_cd,0)		AS		status_cd		--	status_cd
			,	ISNULL(F0100_SHEET.cre_user,'')								--	cre_user
			,	ISNULL(F0100_SHEET.cre_ip,'')								--	cre_ip
			,	ISNULL(F0100_SHEET.cre_prg,'')								--	cre_prg
			,	F0100_SHEET.cre_datetime									--	cre_datetime
			,	ISNULL(F0100_SHEET.upd_user,'')								--	upd_user
			,	ISNULL(F0100_SHEET.upd_ip,'')								--	upd_ip
			,	ISNULL(F0100_SHEET.upd_prg,'')								--	upd_prg
			,	F0100_SHEET.upd_datetime									--	upd_datetime
			,	#F0032.rater_employee_cd_1
			,	#F0032.rater_employee_cd_2
			,	#F0032.rater_employee_cd_3
			,	#F0032.rater_employee_cd_4
			FROM #F0032
			INNER JOIN F0100 ON (
				#F0032.company_cd		= F0100.company_cd	
			AND #F0032.fiscal_year		= F0100.fiscal_year	
			AND #F0032.employee_cd		= F0100.employee_cd	
			AND F0100.del_datetime IS NULL	
			)
			LEFT OUTER JOIN F0100 AS F0100_SHEET ON (
				#F0032.company_cd		= F0100_SHEET.company_cd	
			AND #F0032.fiscal_year		= F0100_SHEET.fiscal_year	
			AND #F0032.employee_cd		= F0100_SHEET.employee_cd	
			AND #F0032.sheet_cd			= F0100_SHEET.sheet_cd
			AND F0100_SHEET.del_datetime IS NULL	
			)
			--
			SET @w_tmp_cnt = (SELECT COUNT(1) FROM #F0100_UPDATE)
			WHILE @w_tmp_i <= @w_tmp_cnt
			BEGIN
				SET @w_employee_cd = (SELECT ISNULL(#F0100_UPDATE.employee_cd,'') FROM #F0100_UPDATE  WHERE #F0100_UPDATE.id = @w_tmp_i)
				SET @w_employee_has_target = (
					SELECT COUNT(#F0100_UPDATE.sheet_cd) 
					FROM #F0100_UPDATE
					INNER JOIN (
						SELECT 
							DISTINCT
							#TMP_F0032.company_cd
						,	#TMP_F0032.fiscal_year
						,	#TMP_F0032.employee_cd
						,	#TMP_F0032.sheet_cd
						FROM #TMP_F0032
					) AS TMP_F0032_SHEET ON (
						#F0100_UPDATE.company_cd	=	TMP_F0032_SHEET.company_cd
					AND #F0100_UPDATE.fiscal_year	=	TMP_F0032_SHEET.fiscal_year
					AND #F0100_UPDATE.employee_cd	=	TMP_F0032_SHEET.employee_cd
					AND #F0100_UPDATE.sheet_cd		=	TMP_F0032_SHEET.sheet_cd
					) 
					LEFT OUTER JOIN M0200 ON (
						#F0100_UPDATE.company_cd	=	M0200.company_cd
					AND #F0100_UPDATE.sheet_cd		=	M0200.sheet_cd
					AND M0200.del_datetime IS NULL
					)
					WHERE 
						#F0100_UPDATE.employee_cd = @w_employee_cd
					AND M0200.sheet_kbn = 1
				)
				-- WHEN EMPLOYEE HAS CHANGED OF SHEET_CD
				IF EXISTS (
				SELECT 
				1
				FROM #F0100_UPDATE	 AS F0100_EMPLOYEE
				FULL OUTER JOIN F0100 ON (
					F0100_EMPLOYEE.company_cd	=	F0100.company_cd
				AND F0100_EMPLOYEE.fiscal_year	=	F0100.fiscal_year
				AND F0100_EMPLOYEE.employee_cd	=	F0100.employee_cd
				AND F0100_EMPLOYEE.sheet_cd		=	F0100.sheet_cd
				AND F0100.del_datetime IS NULL
				)
				WHERE 
					F0100_EMPLOYEE.employee_cd = @w_employee_cd
				AND (
						F0100_EMPLOYEE.company_cd IS NULL
					OR	F0100.company_cd IS NULL
					)
				)
				BEGIN
					UPDATE #F0100_UPDATE SET 
						--status_cd = 0
						status_cd = CASE 
								-- IF HAS SHEET_KBN = 1 (期首面談あり)
								WHEN @w_employee_has_target <> 0
								THEN 0	-- 未処理
								-- IF HAS NOT SHEET_KBN = 1 (期首面談なし)
								WHEN @w_employee_has_target = 0 AND @w_evaluation_status_cd = 1 AND ISNULL(W_M0200.evaluation_self_typ,0) = 1
								THEN 1 -- 自己評価中
								WHEN @w_employee_has_target = 0 AND @w_evaluation_status_cd = 1 AND ISNULL(W_M0200.evaluation_self_typ,0) = 0
								THEN 2 -- 一次評価中
								WHEN @w_employee_has_target = 0 AND @w_evaluation_status_cd = 2
								THEN 2 -- 一次評価中
								ELSE #F0100_UPDATE.status_cd
							END
					FROM #F0100_UPDATE
					INNER JOIN (
						SELECT 
							DISTINCT
							#TMP_F0032.company_cd
						,	#TMP_F0032.fiscal_year
						,	#TMP_F0032.employee_cd
						,	#TMP_F0032.sheet_cd
						FROM #TMP_F0032
					) AS TMP_F0032_SHEET ON (
						#F0100_UPDATE.company_cd	=	TMP_F0032_SHEET.company_cd
					AND #F0100_UPDATE.fiscal_year	=	TMP_F0032_SHEET.fiscal_year
					AND #F0100_UPDATE.employee_cd	=	TMP_F0032_SHEET.employee_cd
					AND #F0100_UPDATE.sheet_cd		=	TMP_F0032_SHEET.sheet_cd
					)
					INNER JOIN W_M0200 ON (
						#F0100_UPDATE.company_cd		=	W_M0200.company_cd
					AND	#F0100_UPDATE.fiscal_year		=	W_M0200.fiscal_year
					AND #F0100_UPDATE.sheet_cd			=	W_M0200.sheet_cd
					AND W_M0200.del_datetime IS NULL
					)
					WHERE 
						#F0100_UPDATE.employee_cd = @w_employee_cd
				END
				--
				SET @w_tmp_i = @w_tmp_i + 1
			END
			-- ↓↓↓　add by viettd 2021/07/26
			-- UPDATE #F0100.changed_status
			UPDATE #F0100 SET 
				changed_status = 0	-- HAS NOT CHANGED IN SCREEN
			FROM #F0100
			INNER JOIN F0100 ON (
				#F0100.company_cd				=	F0100.company_cd
			AND #F0100.fiscal_year				=	F0100.fiscal_year
			AND #F0100.employee_cd				=	F0100.employee_cd
			AND #F0100.sheet_cd					=	F0100.sheet_cd
			AND #F0100.rater_employee_cd_1		=	F0100.rater_employee_cd_1
			AND #F0100.rater_employee_cd_2		=	F0100.rater_employee_cd_2
			AND #F0100.rater_employee_cd_3		=	F0100.rater_employee_cd_3
			AND #F0100.rater_employee_cd_4		=	F0100.rater_employee_cd_4
			AND F0100.del_datetime IS NULL
			)
			-- GET #F0100_EMPLOYEES
			INSERT INTO #F0100_EMPLOYEES
			SELECT 
				#F0100.company_cd
			,	#F0100.fiscal_year
			,	#F0100.employee_cd
			,	0						-- target_cnt
			--,	0						-- changed_status
			FROM #F0100
			GROUP BY
				#F0100.company_cd
			,	#F0100.fiscal_year
			,	#F0100.employee_cd
			-- WHEN EMPLOYEE HAS　目標シート
			UPDATE #F0100_EMPLOYEES SET
				target_cnt	=	ISNULL(F0100_TARGET.target_cnt,0)
			FROM #F0100_EMPLOYEES
			INNER JOIN (
				SELECT 
					#F0100.company_cd		AS	company_cd
				,	#F0100.fiscal_year		AS	fiscal_year
				,	#F0100.employee_cd		AS	employee_cd
				,	COUNT(#F0100.sheet_cd)	AS	target_cnt
				FROM #F0100
				WHERE 
					#F0100.sheet_kbn = 1	-- 目標シート
				GROUP BY
					#F0100.company_cd
				,	#F0100.fiscal_year
				,	#F0100.employee_cd
			) AS F0100_TARGET ON (
				#F0100_EMPLOYEES.company_cd		=	F0100_TARGET.company_cd
			AND #F0100_EMPLOYEES.fiscal_year		=	F0100_TARGET.fiscal_year
			AND #F0100_EMPLOYEES.employee_cd		=	F0100_TARGET.employee_cd
			)
			-- UPDATE STATUS_CD
			-- edited by viettd 2021/12/13
			UPDATE #F0100 SET 
				status_cd = CASE 
								-- IF HAS SHEET_KBN = 1 (期首面談あり)
								WHEN ISNULL(#F0100_EMPLOYEES.target_cnt,0) <> 0 AND ISNULL(#F0100.changed_status,0) = 1
								THEN 0	-- 未処理
								-- IF HAS NOT SHEET_KBN = 1 (期首面談なし)
								WHEN ISNULL(#F0100_EMPLOYEES.target_cnt,0) = 0 AND ISNULL(#F0100.changed_status,0) = 1 AND @w_evaluation_status_cd = 1 AND ISNULL(W_M0200.evaluation_self_typ,0) = 1
								THEN 1 -- 自己評価中
								WHEN ISNULL(#F0100_EMPLOYEES.target_cnt,0) = 0 AND ISNULL(#F0100.changed_status,0) = 1 AND @w_evaluation_status_cd = 1 AND ISNULL(W_M0200.evaluation_self_typ,0) = 0
								THEN 2 -- 一次評価中
								WHEN ISNULL(#F0100_EMPLOYEES.target_cnt,0) = 0 AND ISNULL(#F0100.changed_status,0) = 1 AND @w_evaluation_status_cd = 2
								THEN 2 -- 一次評価中
								ELSE #F0100.status_cd
							END
			FROM #F0100
			INNER JOIN #F0100_EMPLOYEES ON (
				#F0100.company_cd		=	#F0100_EMPLOYEES.company_cd
			AND #F0100.fiscal_year		=	#F0100_EMPLOYEES.fiscal_year
			AND #F0100.employee_cd		=	#F0100_EMPLOYEES.employee_cd
			)
			INNER JOIN W_M0200 ON (
				#F0100.company_cd		=	W_M0200.company_cd
			AND	#F0100.fiscal_year		=	W_M0200.fiscal_year
			AND #F0100.sheet_cd			=	W_M0200.sheet_cd
			AND W_M0200.del_datetime IS NULL
			)
			-- ↑↑↑ end add by viettd 2021/07/26
			-- ↓↓↓　add by viettd 2022/01/05 WHEN UPDATE PROCESS
			INSERT INTO #F0100
			SELECT 
				#F0100_UPDATE.company_cd
			,	#F0100_UPDATE.fiscal_year
			,	#F0100_UPDATE.employee_cd
			,	#F0100_UPDATE.sheet_cd
			,	#F0100_UPDATE.status_cd
			,	#F0100_UPDATE.cre_user 					
			,	#F0100_UPDATE.cre_ip 						
			,	#F0100_UPDATE.cre_prg 						
			,	#F0100_UPDATE.cre_datetime					
			,	#F0100_UPDATE.upd_user  					
			,	#F0100_UPDATE.upd_ip  						
			,	#F0100_UPDATE.upd_prg  					
			,	#F0100_UPDATE.upd_datetime					
			,	ISNULL(M0200.sheet_kbn,0)		AS	sheet_kbn			--	sheet_kbn
			,	1														--	changed_status
			,	#F0100_UPDATE.rater_employee_cd_1
			,	#F0100_UPDATE.rater_employee_cd_2
			,	#F0100_UPDATE.rater_employee_cd_3
			,	#F0100_UPDATE.rater_employee_cd_4
			FROM #F0100_UPDATE
			LEFT OUTER JOIN M0200 ON (
				@P_company_cd				=	M0200.company_cd
			AND #F0100_UPDATE.sheet_cd		=	M0200.sheet_cd
			AND M0200.del_datetime IS NULL	
			)
			-- UPDATE UPDATED USER INFORMATION (not exists data in F0100)
			UPDATE #F0100 SET
				upd_user		=	@P_cre_user
			,	upd_prg			=	'I1030'
			,	upd_ip			=	@P_cre_ip
			,	upd_datetime	=	@w_time
			,	cre_user		=	CASE 
										WHEN #F0100.cre_user <> ''
										THEN #F0100.cre_user
										ELSE @P_cre_user
									END
			,	cre_prg			=	CASE 
										WHEN #F0100.cre_prg <> ''
										THEN #F0100.cre_prg
										ELSE 'I1030'
									END
			,	cre_ip			=	CASE 
										WHEN #F0100.cre_ip <> ''
										THEN #F0100.cre_ip
										ELSE @P_cre_ip
									END
			,	cre_datetime	=	CASE 
										WHEN #F0100.cre_datetime IS NOT NULL
										THEN #F0100.cre_datetime
										ELSE @w_time
									END
			FROM #F0100
			INNER JOIN #TMP_F0032 ON (
				#F0100.company_cd			=	#TMP_F0032.company_cd
			AND #F0100.fiscal_year			=	#TMP_F0032.fiscal_year
			AND #F0100.employee_cd			=	#TMP_F0032.employee_cd
			AND #F0100.sheet_cd				=	#TMP_F0032.sheet_cd
			)
			-- del + add F0100
			DELETE D FROM F0100 AS D
			INNER JOIN #F0100 ON (
				D.company_cd				=	#F0100.company_cd
			AND D.fiscal_year				=	#F0100.fiscal_year
			AND D.employee_cd				=	#F0100.employee_cd
			)
			-- add 
			INSERT INTO F0100
			SELECT 
				#F0100.company_cd
			,	#F0100.fiscal_year
			,	#F0100.employee_cd
			,	#F0100.sheet_cd
			,	ISNULL(#F0100.status_cd,0)					--	status_cd	edited by viettd 2020/03/26
			,	ISNULL(F0032_MAX.rater_employee_cd_1,'')
			,	ISNULL(F0032_MAX.rater_employee_cd_2,'')
			,	ISNULL(F0032_MAX.rater_employee_cd_3,'')
			,	ISNULL(F0032_MAX.rater_employee_cd_4,'')	
			,	#F0100.cre_user
			,	#F0100.cre_ip
			,	#F0100.cre_prg
			,	#F0100.cre_datetime
			,	#F0100.upd_user
			,	#F0100.upd_ip
			,	#F0100.upd_prg
			,	#F0100.upd_datetime
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #F0100
			LEFT OUTER JOIN (
				SELECT 
					#F0032.company_cd
				,	#F0032.fiscal_year
				,	#F0032.employee_cd
				,	#F0032.sheet_cd
				,	#F0032.rater_employee_cd_1
				,	#F0032.rater_employee_cd_2
				,	#F0032.rater_employee_cd_3
				,	#F0032.rater_employee_cd_4
				,	MAX(#F0032.group_cd)						AS	group_cd
				,	MAX(#F0032.treatment_applications_no)		AS	treatment_applications_no
				,	MAX(#F0032.detail_no)						AS	detail_no
				FROM #F0032
				WHERE 
					#F0032.rater_employee_cd_1 <> ''
				OR	#F0032.rater_employee_cd_2 <> ''
				OR	#F0032.rater_employee_cd_3 <> ''
				OR	#F0032.rater_employee_cd_4 <> ''
				GROUP BY
					#F0032.company_cd
				,	#F0032.fiscal_year
				,	#F0032.employee_cd
				,	#F0032.sheet_cd
				,	#F0032.rater_employee_cd_1
				,	#F0032.rater_employee_cd_2
				,	#F0032.rater_employee_cd_3
				,	#F0032.rater_employee_cd_4
			) AS F0032_MAX ON (
				#F0100.company_cd					=	F0032_MAX.company_cd
			AND #F0100.fiscal_year					=	F0032_MAX.fiscal_year
			AND #F0100.employee_cd					=	F0032_MAX.employee_cd
			AND #F0100.sheet_cd						=	F0032_MAX.sheet_cd
			)
			--↓↓↓ add by viettd 2020/05/12
			--■ F0120
			UPDATE F0120 SET 
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	'I1030'
			,	del_datetime	=	@w_time
			FROM F0120
			INNER JOIN #TEMP1 ON (
				F0120.company_cd		=	#TEMP1.company_cd
			AND F0120.fiscal_year		=	#TEMP1.fiscal_year
			AND F0120.employee_cd		=	#TEMP1.key_emp
			) -- add by viettd 2020/05/20
			LEFT OUTER JOIN (
				SELECT
					#TEMP1.company_cd			AS	company_cd
				,	#TEMP1.fiscal_year			AS	fiscal_year
				,	#TEMP1.key_emp				AS	employee_cd
				,	ISNULL(F0100.sheet_cd,0)	AS	sheet_cd
				FROM #TEMP1
				INNER JOIN F0100 ON (
					#TEMP1.company_cd		=	F0100.company_cd
				AND #TEMP1.fiscal_year		=	F0100.fiscal_year
				AND #TEMP1.key_emp			=	F0100.employee_cd
				AND F0100.del_datetime IS NULL
				)
			) AS F0100_TEMP ON (
				F0120.company_cd			=	F0100_TEMP.company_cd
			AND F0120.fiscal_year			=	F0100_TEMP.fiscal_year
			AND F0120.employee_cd			=	F0100_TEMP.employee_cd
			AND F0120.sheet_cd				=	F0100_TEMP.sheet_cd
			)
			WHERE 
				F0120.company_cd		=	@P_company_cd
			AND F0120.fiscal_year		=	@w_fiscal_year
			AND F0100_TEMP.employee_cd IS NULL
			--↑↑↑ end add by viettd 2020/05/12
			--↓↓↓ add by viettd 2020/10/19
			--■ F0111
			UPDATE F0111 SET 
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	'I1030'
			,	del_datetime	=	@w_time
			FROM F0111
			INNER JOIN #TEMP1 ON (
				F0111.company_cd		=	#TEMP1.company_cd
			AND F0111.fiscal_year		=	#TEMP1.fiscal_year
			AND F0111.employee_cd		=	#TEMP1.key_emp
			)
			LEFT OUTER JOIN (
				SELECT
					#TEMP1.company_cd			AS	company_cd
				,	#TEMP1.fiscal_year			AS	fiscal_year
				,	#TEMP1.key_emp				AS	employee_cd
				,	ISNULL(F0100.sheet_cd,0)	AS	sheet_cd
				FROM #TEMP1
				INNER JOIN F0100 ON (
					#TEMP1.company_cd		=	F0100.company_cd
				AND #TEMP1.fiscal_year		=	F0100.fiscal_year
				AND #TEMP1.key_emp			=	F0100.employee_cd
				AND F0100.del_datetime IS NULL
				)
			) AS F0100_SHEET ON (
				F0111.company_cd			=	F0100_SHEET.company_cd
			AND F0111.fiscal_year			=	F0100_SHEET.fiscal_year
			AND F0111.employee_cd			=	F0100_SHEET.employee_cd
			AND F0111.sheet_cd				=	F0100_SHEET.sheet_cd
			)
			WHERE 
				F0111.company_cd		=	@P_company_cd
			AND F0111.fiscal_year		=	@w_fiscal_year
			AND F0100_SHEET.employee_cd IS NULL
			--↑↑↑ end add by viettd 2020/10/19
			-- ■■■■■■■■■■■■■■■■■■■■■■■ S0010 ■■■■■■■■■■■■■■■■■■■■■■■ 
			-- ■ WHEN INSERT 
			-- 1.被評価者
		
		
			UPDATE S0010 SET 
				authority_typ			=	1	--  1.被評価者
			,	S0010.upd_user			=	@P_cre_user					
			,	S0010.upd_ip			=	@P_cre_ip	
			,	S0010.upd_prg			=	'I1030'				
			,	S0010.upd_datetime		=	@w_time
			FROM S0010
			INNER JOIN #TEMP1 ON (
				S0010.company_cd		=	#TEMP1.company_cd
			AND S0010.employee_cd		=	#TEMP1.key_emp
			) LEFT JOIN F0030 ON(
						 #TEMP1.company_cd = F0030.company_cd  
					AND (
						#TEMP1.key_emp=F0030.rater_employee_cd_1	
					OR	#TEMP1.key_emp=F0030.rater_employee_cd_2	
					OR	#TEMP1.key_emp=F0030.rater_employee_cd_3	
					OR	#TEMP1.key_emp=F0030.rater_employee_cd_4	
					)
					AND #TEMP1.fiscal_year = F0030.fiscal_year
					AND F0030.del_datetime IS NULL)
			WHERE 
				S0010.company_cd		=	@P_company_cd
			AND S0010.authority_typ		<=	2	--  1.被評価者
			AND F0030.company_cd IS NULL
			AND @w_fiscal_year	=	@current_year

			-- 2.1一次評価者
			UPDATE S0010 SET 
				authority_typ			=	2	--  2.評価者
			,	S0010.upd_user			=	@P_cre_user					
			,	S0010.upd_ip			=	@P_cre_ip	
			,	S0010.upd_prg			=	'I1030'				
			,	S0010.upd_datetime		=	@w_time
			FROM S0010
			INNER JOIN #TEMP1 ON (
				S0010.company_cd		=	#TEMP1.company_cd
			AND S0010.employee_cd		=	#TEMP1.rater_employee_cd_1
			)
			WHERE 
				S0010.company_cd		=	@P_company_cd
			AND S0010.authority_typ		<=	2	--  2.評価者
			AND @w_fiscal_year	=	@current_year
			-- 2.2二次評価者
			UPDATE S0010 SET 
				authority_typ			=	2	--  2.評価者
			,	S0010.upd_user			=	@P_cre_user					
			,	S0010.upd_ip			=	@P_cre_ip	
			,	S0010.upd_prg			=	'I1030'				
			,	S0010.upd_datetime		=	@w_time
			FROM S0010
			INNER JOIN #TEMP1 ON (
				S0010.company_cd		=	#TEMP1.company_cd
			AND S0010.employee_cd		=	#TEMP1.rater_employee_cd_2
			)
			WHERE 
				S0010.company_cd		=	@P_company_cd
			AND S0010.authority_typ		<=	2	--  2.評価者
			AND @w_fiscal_year	=	@current_year
			-- 2.3三次評価者
			UPDATE S0010 SET 
				authority_typ			=	2	--  2.評価者
			,	S0010.upd_user			=	@P_cre_user					
			,	S0010.upd_ip			=	@P_cre_ip	
			,	S0010.upd_prg			=	'I1030'				
			,	S0010.upd_datetime		=	@w_time
			FROM S0010
			INNER JOIN #TEMP1 ON (
				S0010.company_cd		=	#TEMP1.company_cd
			AND S0010.employee_cd		=	#TEMP1.rater_employee_cd_3
			)
			WHERE 
				S0010.company_cd		=	@P_company_cd
			AND S0010.authority_typ		<=	2	--  2.評価者
			AND @w_fiscal_year	=	@current_year
			-- 2.4四次評価者
			UPDATE S0010 SET 
				authority_typ			=	2	--  2.評価者
			,	S0010.upd_user			=	@P_cre_user					
			,	S0010.upd_ip			=	@P_cre_ip	
			,	S0010.upd_prg			=	'I1030'				
			,	S0010.upd_datetime		=	@w_time
			FROM S0010
			INNER JOIN #TEMP1 ON (
				S0010.company_cd		=	#TEMP1.company_cd
			AND S0010.employee_cd		=	#TEMP1.rater_employee_cd_4
			)
			WHERE 
				S0010.company_cd		=	@P_company_cd
			AND S0010.authority_typ		<=	2	--  2.評価者
			AND @w_fiscal_year	=	@current_year
			-- ■ WHEN DELETE
			IF EXISTS (SELECT 1 FROM #TEMP1_DELETE)
			BEGIN
				SET @w_del_cnt = (SELECT COUNT(id) FROM #TEMP1_DELETE)
				WHILE @w_del_i <= @w_del_cnt
				BEGIN
					SET @w_del_employee_cd			= (SELECT ISNULL(#TEMP1_DELETE.key_emp,'') FROM #TEMP1_DELETE WHERE id = @w_del_i)
					SET @w_del_rater_employee_cd_1	= (SELECT ISNULL(#TEMP1_DELETE.rater_employee_cd_1,'') FROM #TEMP1_DELETE WHERE id = @w_del_i)
					SET @w_del_rater_employee_cd_2	= (SELECT ISNULL(#TEMP1_DELETE.rater_employee_cd_2,'') FROM #TEMP1_DELETE WHERE id = @w_del_i)
					SET @w_del_rater_employee_cd_3	= (SELECT ISNULL(#TEMP1_DELETE.rater_employee_cd_3,'') FROM #TEMP1_DELETE WHERE id = @w_del_i)
					SET @w_del_rater_employee_cd_4	= (SELECT ISNULL(#TEMP1_DELETE.rater_employee_cd_4,'') FROM #TEMP1_DELETE WHERE id = @w_del_i)
					
					-- 2.1一次評価者
					IF @w_del_employee_cd <> '' AND NOT EXISTS (SELECT 1 FROM F0030 WHERE 
															F0030.company_cd			= @P_company_cd 
														AND (
															F0030.rater_employee_cd_1	= @w_del_employee_cd
														OR	F0030.rater_employee_cd_2	= @w_del_employee_cd
														OR	F0030.rater_employee_cd_3	= @w_del_employee_cd
														OR	F0030.rater_employee_cd_4	= @w_del_employee_cd
														OR	F0030.employee_cd			= @w_del_employee_cd
														)
														AND F0030.fiscal_year = @current_year
														AND F0030.del_datetime IS NULL)
					BEGIN
						UPDATE S0010 SET 
							S0010.authority_typ		=	0
						,	S0010.upd_user			=	@P_cre_user					
						,	S0010.upd_ip			=	@P_cre_ip	
						,	S0010.upd_prg			=	'I1030'				
						,	S0010.upd_datetime		=	@w_time
						FROM S0010
						WHERE 
							S0010.company_cd	=	@P_company_cd
						AND S0010.employee_cd	=	@w_del_employee_cd
						AND S0010.authority_typ	<=	2
						AND S0010.del_datetime IS NULL
					END
					IF @w_del_rater_employee_cd_1 <> '' AND NOT EXISTS (SELECT 1 FROM F0030 WHERE 
															F0030.company_cd			= @P_company_cd 
														AND (
															F0030.rater_employee_cd_1	= @w_del_rater_employee_cd_1 
														OR	F0030.rater_employee_cd_2	= @w_del_rater_employee_cd_1
														OR	F0030.rater_employee_cd_3	= @w_del_rater_employee_cd_1
														OR	F0030.rater_employee_cd_4	= @w_del_rater_employee_cd_1
														OR	F0030.employee_cd			= @w_del_rater_employee_cd_1
														)
														AND F0030.fiscal_year = @current_year
														AND F0030.del_datetime IS NULL)
					BEGIN
						UPDATE S0010 SET 
							S0010.authority_typ		=	0
						,	S0010.upd_user			=	@P_cre_user					
						,	S0010.upd_ip			=	@P_cre_ip	
						,	S0010.upd_prg			=	'I1030'				
						,	S0010.upd_datetime		=	@w_time
						FROM S0010
						WHERE 
							S0010.company_cd	=	@P_company_cd
						AND S0010.employee_cd	=	@w_del_rater_employee_cd_1
						AND S0010.authority_typ	<=	2
						AND S0010.del_datetime IS NULL
					END
					-- 2.2二次評価者
					IF @w_del_rater_employee_cd_2 <> '' AND NOT EXISTS (SELECT 1 FROM F0030 WHERE 
															F0030.company_cd			= @P_company_cd 
														AND (
															F0030.rater_employee_cd_1	= @w_del_rater_employee_cd_2 
														OR	F0030.rater_employee_cd_2	= @w_del_rater_employee_cd_2
														OR	F0030.rater_employee_cd_3	= @w_del_rater_employee_cd_2
														OR	F0030.rater_employee_cd_4	= @w_del_rater_employee_cd_2
														OR	F0030.employee_cd			= @w_del_rater_employee_cd_2
														)
														AND F0030.fiscal_year = @current_year
														AND F0030.del_datetime IS NULL)
					BEGIN
						UPDATE S0010 SET 
							S0010.authority_typ		=	0
						,	S0010.upd_user			=	@P_cre_user					
						,	S0010.upd_ip			=	@P_cre_ip	
						,	S0010.upd_prg			=	'I1030'				
						,	S0010.upd_datetime		=	@w_time
						FROM S0010
						WHERE 
							S0010.company_cd	=	@P_company_cd
						AND S0010.employee_cd	=	@w_del_rater_employee_cd_2
						AND S0010.authority_typ	<=	2
						AND S0010.del_datetime IS NULL
					END
					-- 2.3三次評価者
					IF @w_del_rater_employee_cd_3 <> '' AND NOT EXISTS (SELECT 1 FROM F0030 WHERE 
															F0030.company_cd			= @P_company_cd 
														AND (
															F0030.rater_employee_cd_1	= @w_del_rater_employee_cd_3 
														OR	F0030.rater_employee_cd_2	= @w_del_rater_employee_cd_3
														OR	F0030.rater_employee_cd_3	= @w_del_rater_employee_cd_3
														OR	F0030.rater_employee_cd_4	= @w_del_rater_employee_cd_3
														OR	F0030.employee_cd			= @w_del_rater_employee_cd_3
														)
														AND F0030.fiscal_year = @current_year
														AND F0030.del_datetime IS NULL)
					BEGIN
						UPDATE S0010 SET 
							S0010.authority_typ		=	0
						,	S0010.upd_user			=	@P_cre_user					
						,	S0010.upd_ip			=	@P_cre_ip	
						,	S0010.upd_prg			=	'I1030'				
						,	S0010.upd_datetime		=	@w_time
						FROM S0010
						WHERE 
							S0010.company_cd	=	@P_company_cd
						AND S0010.employee_cd	=	@w_del_rater_employee_cd_3
						AND S0010.authority_typ	<=	2
						AND S0010.del_datetime IS NULL
					END
					-- 2.4四次評価者
					IF @w_del_rater_employee_cd_4 <> '' AND NOT EXISTS (SELECT 1 FROM F0030 WHERE 
															F0030.company_cd			= @P_company_cd 
														AND (
															F0030.rater_employee_cd_1	= @w_del_rater_employee_cd_4 
														OR	F0030.rater_employee_cd_2	= @w_del_rater_employee_cd_4
														OR	F0030.rater_employee_cd_3	= @w_del_rater_employee_cd_4
														OR	F0030.rater_employee_cd_4	= @w_del_rater_employee_cd_4
														OR	F0030.employee_cd			= @w_del_rater_employee_cd_4
														)
														AND F0030.fiscal_year = @current_year
														AND F0030.del_datetime IS NULL)
					BEGIN
						UPDATE S0010 SET 
							S0010.authority_typ		=	0
						,	S0010.upd_user			=	@P_cre_user					
						,	S0010.upd_ip			=	@P_cre_ip	
						,	S0010.upd_prg			=	'I1030'				
						,	S0010.upd_datetime		=	@w_time
						FROM S0010
						WHERE 
							S0010.company_cd	=	@P_company_cd
						AND S0010.employee_cd	=	@w_del_rater_employee_cd_4
						AND S0010.authority_typ	<=	2
						AND S0010.del_datetime IS NULL
					END
					IF @w_del_rater_employee_cd_1 <> '' AND EXISTS (SELECT 1 FROM F0030 WHERE company_cd = @P_company_cd AND fiscal_year = @current_year AND F0030.employee_cd = @w_del_rater_employee_cd_1 AND F0030.del_datetime IS NULL)
						AND NOT EXISTS (SELECT 1 FROM F0030 WHERE 
															F0030.company_cd			= @P_company_cd 
														AND (
															F0030.rater_employee_cd_1	= @w_del_rater_employee_cd_1 
														OR	F0030.rater_employee_cd_2	= @w_del_rater_employee_cd_1
														OR	F0030.rater_employee_cd_3	= @w_del_rater_employee_cd_1
														OR	F0030.rater_employee_cd_4	= @w_del_rater_employee_cd_1
														)
														AND F0030.fiscal_year = @current_year
														AND F0030.del_datetime IS NULL)
					BEGIN
						UPDATE S0010 SET 
							S0010.authority_typ		=	1
						,	S0010.upd_user			=	@P_cre_user					
						,	S0010.upd_ip			=	@P_cre_ip	
						,	S0010.upd_prg			=	'I1030'				
						,	S0010.upd_datetime		=	@w_time
						FROM S0010
						WHERE 
							S0010.company_cd	=	@P_company_cd
						AND S0010.employee_cd	=	@w_del_rater_employee_cd_1
						AND S0010.authority_typ	=	2
						AND S0010.del_datetime IS NULL
					END
					
					IF @w_del_rater_employee_cd_2 <> '' AND EXISTS (SELECT 1 FROM F0030 WHERE company_cd = @P_company_cd AND fiscal_year = @current_year AND F0030.employee_cd = @w_del_rater_employee_cd_2 AND F0030.del_datetime IS NULL)
						AND NOT EXISTS (SELECT 1 FROM F0030 WHERE 
															F0030.company_cd			= @P_company_cd 
														AND (
															F0030.rater_employee_cd_1	= @w_del_rater_employee_cd_2 
														OR	F0030.rater_employee_cd_2	= @w_del_rater_employee_cd_2
														OR	F0030.rater_employee_cd_3	= @w_del_rater_employee_cd_2
														OR	F0030.rater_employee_cd_4	= @w_del_rater_employee_cd_2
														)
														AND F0030.fiscal_year = @current_year
														AND F0030.del_datetime IS NULL)
					BEGIN
						UPDATE S0010 SET 
							S0010.authority_typ		=	1
						,	S0010.upd_user			=	@P_cre_user					
						,	S0010.upd_ip			=	@P_cre_ip	
						,	S0010.upd_prg			=	'I1030'				
						,	S0010.upd_datetime		=	@w_time
						FROM S0010
						WHERE 
							S0010.company_cd	=	@P_company_cd
						AND S0010.employee_cd	=	@w_del_rater_employee_cd_2
						AND S0010.authority_typ	=	2
						AND S0010.del_datetime IS NULL
					END
					IF @w_del_rater_employee_cd_3 <> '' AND EXISTS (SELECT 1 FROM F0030 WHERE company_cd = @P_company_cd AND fiscal_year = @current_year AND F0030.employee_cd = @w_del_rater_employee_cd_3 AND F0030.del_datetime IS NULL)
					AND NOT EXISTS (SELECT 1 FROM F0030 WHERE 
															F0030.company_cd			= @P_company_cd 
														AND (
															F0030.rater_employee_cd_1	= @w_del_rater_employee_cd_3 
														OR	F0030.rater_employee_cd_2	= @w_del_rater_employee_cd_3
														OR	F0030.rater_employee_cd_3	= @w_del_rater_employee_cd_3
														OR	F0030.rater_employee_cd_4	= @w_del_rater_employee_cd_3
														)
														AND F0030.fiscal_year = @current_year
														AND F0030.del_datetime IS NULL)
					BEGIN
						UPDATE S0010 SET 
							S0010.authority_typ		=	1
						,	S0010.upd_user			=	@P_cre_user					
						,	S0010.upd_ip			=	@P_cre_ip	
						,	S0010.upd_prg			=	'I1030'				
						,	S0010.upd_datetime		=	@w_time
						FROM S0010
						WHERE 
							S0010.company_cd	=	@P_company_cd
						AND S0010.employee_cd	=	@w_del_rater_employee_cd_3
						AND S0010.authority_typ	=	2
						AND S0010.del_datetime IS NULL
					END
					-- 1.被評価者
					IF @w_del_rater_employee_cd_4 <> '' AND EXISTS (SELECT 1 FROM F0030 WHERE company_cd = @P_company_cd AND fiscal_year = @current_year AND F0030.employee_cd = @w_del_rater_employee_cd_4 AND F0030.del_datetime IS NULL)
					AND NOT EXISTS (SELECT 1 FROM F0030 WHERE 
															F0030.company_cd			= @P_company_cd 
														AND (
															F0030.rater_employee_cd_1	= @w_del_rater_employee_cd_4 
														OR	F0030.rater_employee_cd_2	= @w_del_rater_employee_cd_4
														OR	F0030.rater_employee_cd_3	= @w_del_rater_employee_cd_4
														OR	F0030.rater_employee_cd_4	= @w_del_rater_employee_cd_4
														)
														AND F0030.fiscal_year = @current_year
														AND F0030.del_datetime IS NULL)
					BEGIN
						UPDATE S0010 SET 
							S0010.authority_typ		=	1
						,	S0010.upd_user			=	@P_cre_user					
						,	S0010.upd_ip			=	@P_cre_ip	
						,	S0010.upd_prg			=	'I1030'				
						,	S0010.upd_datetime		=	@w_time
						FROM S0010
						WHERE 
							S0010.company_cd	=	@P_company_cd
						AND S0010.employee_cd	=	@w_del_rater_employee_cd_4
						AND S0010.authority_typ	=	2
						AND S0010.del_datetime IS NULL
					END
					--
					SET @w_del_i = @w_del_i + 1
				END
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	EXIT_SPC:
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	IF EXISTS (SELECT 1 FROM  @ERR_TBL WHERE error_typ <> 4)
	BEGIN
		DELETE FROM @ERR_TBL 
		WHERE error_typ	=	4
	END
	--
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	GROUP BY
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	ORDER BY 
		order_by
END
GO