DROP PROCEDURE [SPC_I1030_ACT2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_I1030_ACT2] '{}','','::1','';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	IMPORT CSV
--*  
--* 作成日/create date			:	2021/09/08											
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:	2021/12/09	
--*	更新者/updater				:　	viettd	     	 
--*	更新内容/update content		:	add condition employee_cd when delete F0120
--*   					
--*	更新日/update date			:	2021/12/13	
--*	更新者/updater				:　	viettd	     	 
--*	更新内容/update content		:	upgrade ver1.8
--*   					
--*	更新日/update date			:	2022/01/05			
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	update mode : change update status_cd & validate rater empty
--*   					
--*	更新日/update date			:	2022/04/06			
--*	更新者/updater				:　 viettd　					
--*	更新内容/update content		:	delete sheet_cd = 0
--*   					
--*	更新日/update date			:	2022/12/21			
--*	更新者/updater				:　 viettd　					
--*	更新内容/update content		:	fix bug when update sheet
--****************************************************************************************
CREATE PROCEDURE [SPC_I1030_ACT2] 
	-- Add the parameters for the stored procedure here
	@P_company_cd							SMALLINT		= 0 
,	@P_fiscal_year							INT				= 0
,	@P_treatment_applications_no_json		NVARCHAR(MAX)	= ''
,	@P_group_cd								SMALLINT		= 0
,	@P_employee_cd							NVARCHAR(10)	= ''
,	@P_rater_employee_cd_1					NVARCHAR(10)	= ''
,	@P_rater_employee_cd_2					NVARCHAR(10)	= ''
,	@P_rater_employee_cd_3					NVARCHAR(10)	= ''
,	@P_rater_employee_cd_4					NVARCHAR(10)	= ''
,	@P_cre_user								NVARCHAR(50)	= ''
,	@P_cre_ip								NVARCHAR(50)	= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time								DATETIME				= SYSDATETIME()
	,	@ERR_TBL							ERRTABLE	
	,	@order_by_min						INT						= 0
	,	@w_beginning_date					DATE					= NULL
	,	@w_month_date						NVARCHAR(10)			= ''
	,	@w_year_start_date					DATE					= NULL
	,	@w_year_end_date					DATE					= NULL
	,	@w_f0200_number						INT						= 0
	,	@w_f0200_number_confirm				INT						= 0
	,	@w_evaluation_status_cd				SMALLINT				= 0 
	,	@w_has_evalutation_target			SMALLINT				= 0		-- 0. has not target | 1. has target
	,	@w_user_id							NVARCHAR(50)			= ''
	,	@w_user_id_rater_1					NVARCHAR(50)			= ''
	,	@w_user_id_rater_2					NVARCHAR(50)			= ''
	,	@w_user_id_rater_3					NVARCHAR(50)			= ''
	,	@w_user_id_rater_4					NVARCHAR(50)			= ''
	,	@w_user_id_authority_typ			SMALLINT				= 0
	,	@w_user_id_rater_1_authority_typ	SMALLINT				= 0
	,	@w_user_id_rater_2_authority_typ	SMALLINT				= 0
	,	@w_user_id_rater_3_authority_typ	SMALLINT				= 0
	,	@w_user_id_rater_4_authority_typ	SMALLINT				= 0
	,	@w_language							SMALLINT				=	1	--1 jp / 2 en
	,	@w_current_year						INT						=	dbo.FNC_GET_YEAR(@P_company_cd,NULL)	
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		IF object_id('tempdb..#JSON_LIST_TREATMENT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #JSON_LIST_TREATMENT
		END
		IF object_id('tempdb..#F0021_TEMP', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #F0021_TEMP
		END
		--
		IF object_id('tempdb..#N99_EMPLOYEE_ROUTER_SCREEN', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #N99_EMPLOYEE_ROUTER_SCREEN
		END
		--
		IF object_id('tempdb..#N99_EMPLOYEE_ROUTER_DB', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #N99_EMPLOYEE_ROUTER_DB
		END
		--
		IF object_id('tempdb..#TABLE_F0100_DB', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #TABLE_F0100_DB
		END
		--
		IF object_id('tempdb..#TABLE_F0100', 'U') IS NOT NULL
		BEGIN
			DROP TABLE #TABLE_F0100
		END
		--#JSON_LIST_TREATMENT
		CREATE TABLE #JSON_LIST_TREATMENT(
			id								int			identity(1,1)
		,	company_cd						smallint
		,	treatment_applications_no		smallint
		)
		--#F0021_TEMP
		CREATE TABLE #F0021_TEMP (
			company_cd					SMALLINT
		,	fiscal_year					INT
		,	group_cd					SMALLINT
		,	treatment_applications_no	SMALLINT
		,	detail_no					SMALLINT
		,	sheet_cd					SMALLINT
		,	weight						SMALLINT
		)
		-- #N99_EMPLOYEE_ROUTER_SCREEN
		CREATE TABLE #N99_EMPLOYEE_ROUTER_SCREEN (
			id							int			identity(1,1)
		,	treatment_applications_no	smallint
		,	group_cd					smallint
		,	employee_cd					nvarchar(10)
		,	sheet_cd					smallint
		,	rater_employee_cd_1			nvarchar(10)
		,	rater_employee_cd_2			nvarchar(10)
		,	rater_employee_cd_3			nvarchar(10)
		,	rater_employee_cd_4			nvarchar(10)		
		)
		-- #N99_EMPLOYEE_ROUTER_DB
		CREATE TABLE #N99_EMPLOYEE_ROUTER_DB (
			id							int			identity(1,1)
		,	treatment_applications_no	smallint
		,	group_cd					smallint
		,	employee_cd					nvarchar(10)
		,	sheet_cd					smallint
		,	rater_employee_cd_1			nvarchar(10)
		,	rater_employee_cd_2			nvarchar(10)
		,	rater_employee_cd_3			nvarchar(10)
		,	rater_employee_cd_4			nvarchar(10)		
		)
		-- 
		CREATE TABLE #TABLE_F0100_DB (
			company_cd					SMALLINT
		,	fiscal_year					INT
		,	employee_cd					NVARCHAR(10)
		,	sheet_cd					SMALLINT
		,	status_cd					SMALLINT
		,	rater_employee_cd_1			NVARCHAR(10)
		,	rater_employee_cd_2			NVARCHAR(10)
		,	rater_employee_cd_3			NVARCHAR(10)
		,	rater_employee_cd_4			NVARCHAR(10)
		,	cre_user					nvarchar(50)
		,	cre_ip						nvarchar(50)
		,	cre_prg						nvarchar(20)
		,	cre_datetime				datetime
		,	upd_user					nvarchar(50)
		,	upd_ip						nvarchar(50)
		,	upd_prg						nvarchar(20)
		,	upd_datetime				datetime
		)
		-- 
		CREATE TABLE #TABLE_F0100 (
			company_cd					SMALLINT
		,	fiscal_year					INT
		,	employee_cd					NVARCHAR(10)
		,	sheet_cd					SMALLINT
		,	status_cd					SMALLINT
		,	rater_employee_cd_1			NVARCHAR(10)
		,	rater_employee_cd_2			NVARCHAR(10)
		,	rater_employee_cd_3			NVARCHAR(10)
		,	rater_employee_cd_4			NVARCHAR(10)
		,	cre_user					NVARCHAR(50)
		,	cre_ip						NVARCHAR(50)
		,	cre_prg						NVARCHAR(20)
		,	cre_datetime				DATETIME
		,	upd_user					NVARCHAR(50)
		,	upd_ip						NVARCHAR(50)
		,	upd_prg						NVARCHAR(20)
		,	upd_datetime				DATETIME
		)
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--PREPARE DATA
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		INSERT INTO #JSON_LIST_TREATMENT
		SELECT 
			@P_company_cd
		,	json_table.treatment_applications_no 
		FROM OPENJSON(@P_treatment_applications_no_json,'$') WITH(
			treatment_applications_no	smallint
		)AS json_table
		WHERE
			json_table.treatment_applications_no > 0
		-- get #F0021_TEMP
		INSERT INTO #F0021_TEMP
		SELECT 
			F0021.company_cd					
		,	F0021.fiscal_year					
		,	F0021.group_cd					
		,	F0021.treatment_applications_no	
		,	F0021.detail_no					
		,	F0021.sheet_cd	
		,	F0021.weight				
		FROM F0021
		INNER JOIN #JSON_LIST_TREATMENT ON (
			F0021.company_cd				=	#JSON_LIST_TREATMENT.company_cd
		AND F0021.treatment_applications_no	=	#JSON_LIST_TREATMENT.treatment_applications_no
		)
		WHERE
			F0021.company_cd	=	@P_company_cd
		AND F0021.fiscal_year	=	@P_fiscal_year
		AND F0021.group_cd		=	@P_group_cd
		AND F0021.del_datetime IS NULL
		AND ISNULL(F0021.sheet_cd,0)	>	0	-- add by viettd 2022/04/06
		-- get @w_year_start_date
		SET @w_beginning_date = (SELECT M9100.beginning_date FROM M9100 WHERE M9100.company_cd = @P_company_cd AND M9100.del_datetime IS NULL)
		IF(@w_beginning_date IS NOT NULL)
		BEGIN
			SET @w_month_date =	FORMAT(@w_beginning_date,'MM-dd') 
		END
		ELSE 
		BEGIN
			SET @w_month_date = '01-01'
		END
		SET @w_year_start_date =  CAST((CONVERT(NVARCHAR(4),@P_fiscal_year) +'-'+ @w_month_date) AS DATE)
		SET @w_year_end_date = DATEADD(DD,-1,DATEADD(YYYY,1,@w_year_start_date))


		SELECT 
			@w_language				=	ISNULL(S0010.language,1)
		FROM S0010 
		WHERE
			S0010.company_cd		=	@P_company_cd
		AND S0010.user_id			=	@P_cre_user
		AND S0010.del_datetime IS NULL
		-- get information of employee + rater
		-- EMPLOYEE
		SELECT 
			TOP 1
			@w_user_id					=	ISNULL(S0010.user_id,'')
		,	@w_user_id_authority_typ	=	ISNULL(S0010.authority_typ,0)
		FROM S0010
		WHERE
			S0010.company_cd	=	@P_company_cd
		AND S0010.employee_cd	=	@P_employee_cd
		AND S0010.del_datetime IS NULL
		-- RATER 1
		SELECT 
			TOP 1
			@w_user_id_rater_1					=	ISNULL(S0010.user_id,'')
		,	@w_user_id_rater_1_authority_typ	=	ISNULL(S0010.authority_typ,0)
		FROM S0010
		WHERE
			S0010.company_cd	=	@P_company_cd
		AND S0010.employee_cd	=	@P_rater_employee_cd_1
		AND S0010.del_datetime IS NULL
		-- RATER 2
		SELECT 
			TOP 1
			@w_user_id_rater_2					=	ISNULL(S0010.user_id,'')
		,	@w_user_id_rater_2_authority_typ	=	ISNULL(S0010.authority_typ,0)
		FROM S0010
		WHERE
			S0010.company_cd	=	@P_company_cd
		AND S0010.employee_cd	=	@P_rater_employee_cd_2
		AND S0010.del_datetime IS NULL
		-- RATER 3
		SELECT 
			TOP 1
			@w_user_id_rater_3					=	ISNULL(S0010.user_id,'')
		,	@w_user_id_rater_3_authority_typ	=	ISNULL(S0010.authority_typ,0)
		FROM S0010
		WHERE
			S0010.company_cd	=	@P_company_cd
		AND S0010.employee_cd	=	@P_rater_employee_cd_3
		AND S0010.del_datetime IS NULL
		-- RATER 4
		SELECT 
			TOP 1
			@w_user_id_rater_4					=	ISNULL(S0010.user_id,'')
		,	@w_user_id_rater_4_authority_typ	=	ISNULL(S0010.authority_typ,0)
		FROM S0010
		WHERE
			S0010.company_cd	=	@P_company_cd
		AND S0010.employee_cd	=	@P_rater_employee_cd_4
		AND S0010.del_datetime IS NULL
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--VALIDATE DATA
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		-- MESS 8 check rater is blank
		-- add by viettd 2022/01/05
		--一次評価者 「必須」
		IF @P_rater_employee_cd_1  = ''
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				8									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Rater :','評価者：')							-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
		--二次評価者 「必須」
		IF (
				@P_rater_employee_cd_2	=	''
			AND	(
				@P_rater_employee_cd_3	<>	''
			OR	@P_rater_employee_cd_4	<>	''
			)
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				8									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Rater :','評価者：')							-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
		--三次評価者 「必須」
		IF @P_rater_employee_cd_3 = '' AND @P_rater_employee_cd_4 <> ''
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				8									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Rater :','評価者：')							-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
		-- IF ALL RATER IS EMPTY
		IF	@P_rater_employee_cd_1 = '' 
		AND @P_rater_employee_cd_2 = ''
		AND @P_rater_employee_cd_3 = ''
		AND @P_rater_employee_cd_4 = ''
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				8									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Rater :','評価者：')							-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
		-- MESS 128 MASTER CHECK EMPLOYEE_CD
		IF NOT EXISTS (SELECT 1 FROM M0070
								WHERE
									M0070.company_cd	=	@P_company_cd
								AND M0070.employee_cd	=	@P_employee_cd
								AND M0070.del_datetime IS NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				128									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Employee Number【' + @P_employee_cd + '】：','社員番号【' + @P_employee_cd + '】：') -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
		-- MESS 128 MASTER CHECK rater_employee_cd_1
		IF @P_rater_employee_cd_1 <> '' AND  NOT EXISTS (SELECT 1 FROM M0070
								WHERE
									M0070.company_cd	=	@P_company_cd
								AND M0070.employee_cd	=	@P_rater_employee_cd_1
								AND M0070.del_datetime IS NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				128									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Primary Evaluator【' + @P_rater_employee_cd_1 + '】：','一次評価者【' + @P_rater_employee_cd_1 + '】：') -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
		-- MESS 128 MASTER CHECK rater_employee_cd_2
		IF @P_rater_employee_cd_2 <> '' AND  NOT EXISTS (SELECT 1 FROM M0070
								WHERE
									M0070.company_cd	=	@P_company_cd
								AND M0070.employee_cd	=	@P_rater_employee_cd_2
								AND M0070.del_datetime IS NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				128									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Secondary Rater【' + @P_rater_employee_cd_2 + '】：','二次評価者【' + @P_rater_employee_cd_2 + '】：') -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
		-- MESS 128 MASTER CHECK rater_employee_cd_3
		IF @P_rater_employee_cd_3 <> '' AND  NOT EXISTS (SELECT 1 FROM M0070
								WHERE
									M0070.company_cd	=	@P_company_cd
								AND M0070.employee_cd	=	@P_rater_employee_cd_3
								AND M0070.del_datetime IS NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				128									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Tertiary Rater【' + @P_rater_employee_cd_3 + '】：','三次評価者【' + @P_rater_employee_cd_3 + '】：') -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
		-- MESS 128 MASTER CHECK rater_employee_cd_4
		IF @P_rater_employee_cd_4 <> '' AND  NOT EXISTS (SELECT 1 FROM M0070
								WHERE
									M0070.company_cd	=	@P_company_cd
								AND M0070.employee_cd	=	@P_rater_employee_cd_4
								AND M0070.del_datetime IS NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				128									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Fourth Rater【' + @P_rater_employee_cd_4 + '】：','四次評価者【' + @P_rater_employee_cd_4 + '】：') -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
		-- MESS 128 MASTER CHECK group_cd
		IF @P_group_cd <> 0 AND NOT EXISTS (SELECT 1 FROM M0150
													WHERE 
														M0150.company_cd	=	@P_company_cd
													AND M0150.group_cd		=	@P_group_cd
													AND M0150.del_datetime IS NULL 
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				128									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Group【' + CAST(@P_group_cd AS nvarchar(10)) + '】：','グループ【' + CAST(@P_group_cd AS nvarchar(10)) + '】：') 　-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
		-- MESS 87 指定年度内に在籍していない社員を選択したらエラー
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- EMPLOYEE_CD
			INSERT INTO @ERR_TBL 
			SELECT
				87									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Employee Number【' + @P_employee_cd + '】：','社員番号【' + @P_employee_cd + '】：') 	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM M0070
			WHERE 
				M0070.company_cd	=	@P_company_cd
			AND M0070.employee_cd	=	@P_employee_cd
			AND (
				(M0070.company_out_dt IS NOT NULL AND M0070.company_out_dt < @w_year_start_date)
			OR	(M0070.company_in_dt IS NOT NULL AND M0070.company_in_dt > @w_year_end_date)
			)
			AND M0070.del_datetime IS NULL
			-- RATER_EMPLOYEE_CD_1
			INSERT INTO @ERR_TBL 
			SELECT
				87									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Employee Number【' + @P_rater_employee_cd_1 + '】：','社員番号【' + @P_rater_employee_cd_1 + '】：') 	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM M0070
			WHERE 
				M0070.company_cd	=	@P_company_cd
			AND M0070.employee_cd	=	@P_rater_employee_cd_1
			AND (
				(M0070.company_out_dt IS NOT NULL AND M0070.company_out_dt < @w_year_start_date)
			OR	(M0070.company_in_dt IS NOT NULL AND M0070.company_in_dt > @w_year_end_date)
			)
			AND M0070.del_datetime IS NULL
			-- RATER_EMPLOYEE_CD_2
			INSERT INTO @ERR_TBL 
			SELECT
				87									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Employee Number【' + @P_rater_employee_cd_2 + '】：','社員番号【' + @P_rater_employee_cd_2 + '】：') 	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM M0070
			WHERE 
				M0070.company_cd	=	@P_company_cd
			AND M0070.employee_cd	=	@P_rater_employee_cd_2
			AND (
				(M0070.company_out_dt IS NOT NULL AND M0070.company_out_dt < @w_year_start_date)
			OR	(M0070.company_in_dt IS NOT NULL AND M0070.company_in_dt > @w_year_end_date)
			)
			AND M0070.del_datetime IS NULL
			-- RATER_EMPLOYEE_CD_3
			INSERT INTO @ERR_TBL 
			SELECT
				87									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Employee Number【' + @P_rater_employee_cd_3 + '】：','社員番号【' + @P_rater_employee_cd_3 + '】：') 	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM M0070
			WHERE 
				M0070.company_cd	=	@P_company_cd
			AND M0070.employee_cd	=	@P_rater_employee_cd_3
			AND (
				(M0070.company_out_dt IS NOT NULL AND M0070.company_out_dt < @w_year_start_date)
			OR	(M0070.company_in_dt IS NOT NULL AND M0070.company_in_dt > @w_year_end_date)
			)
			AND M0070.del_datetime IS NULL
			-- RATER_EMPLOYEE_CD_1
			INSERT INTO @ERR_TBL 
			SELECT
				87									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Employee Number【' + @P_rater_employee_cd_4 + '】：','社員番号【' + @P_rater_employee_cd_4 + '】：') 	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM M0070
			WHERE 
				M0070.company_cd	=	@P_company_cd
			AND M0070.employee_cd	=	@P_rater_employee_cd_4
			AND (
				(M0070.company_out_dt IS NOT NULL AND M0070.company_out_dt < @w_year_start_date)
			OR	(M0070.company_in_dt IS NOT NULL AND M0070.company_in_dt > @w_year_end_date)
			)
			AND M0070.del_datetime IS NULL
		END
		-- MESS 54 年度内の全ての評価が確定していたら更新不可
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- GET ALL NUMBER OF F0200
			SET @w_f0200_number = (
				SELECT COUNT(1) 
				FROM F0200
				INNER JOIN #JSON_LIST_TREATMENT ON (
					F0200.company_cd						=	#JSON_LIST_TREATMENT.company_cd
				AND	F0200.treatment_applications_no			=	#JSON_LIST_TREATMENT.treatment_applications_no
				)
				WHERE 
					F0200.company_cd		=	@P_company_cd
				AND F0200.fiscal_year		=	@P_fiscal_year
				AND F0200.employee_cd		=	@P_employee_cd
				AND F0200.del_datetime IS NULL
			)
			-- GET ALL NUMBER OF F0200 CONFIRMED
			SET @w_f0200_number_confirm = (
				SELECT COUNT(1) 
				FROM F0200
				INNER JOIN #JSON_LIST_TREATMENT ON (
					F0200.company_cd						=	#JSON_LIST_TREATMENT.company_cd
				AND	F0200.treatment_applications_no			=	#JSON_LIST_TREATMENT.treatment_applications_no
				)
				WHERE 
					F0200.company_cd		=	@P_company_cd
				AND F0200.fiscal_year		=	@P_fiscal_year
				AND F0200.employee_cd		=	@P_employee_cd
				AND F0200.confirm_datetime IS NOT NULL
				AND F0200.del_datetime IS NULL
			)
			-- IF @w_f0200_number_confirm >=  @w_f0200_number THEN ERROR
			IF (@w_f0200_number_confirm >= @w_f0200_number AND @w_f0200_number <> 0)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT
					54									-- mã lỗi (trùng với mã trong bảng message) 					
				,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0									-- Tùy ý
				,	IIF(@w_language = 2,'Employee Number【' + @P_employee_cd + '】：','社員番号【' + @P_employee_cd + '】：') -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			END
		END
		-- MESS 82 年度内の同じ処遇用途で、既に他のグループに所属していたらエラー
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			IF EXISTS (
				SELECT 1
				FROM F0030
				INNER JOIN #JSON_LIST_TREATMENT ON (
					F0030.company_cd						=	#JSON_LIST_TREATMENT.company_cd
				AND	F0030.treatment_applications_no			=	#JSON_LIST_TREATMENT.treatment_applications_no
				)
				WHERE 
					F0030.company_cd		=	@P_company_cd
				AND F0030.fiscal_year		=	@P_fiscal_year
				AND F0030.employee_cd		=	@P_employee_cd
				AND F0030.group_cd			<>	@P_group_cd
				AND F0030.del_datetime IS NULL
			)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT
					82									-- mã lỗi (trùng với mã trong bảng message) 					
				,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0									-- Tùy ý
				,	IIF(@w_language = 2,'Group【' + CAST(@P_group_cd AS nvarchar(10)) + '】：','グループ【' + CAST(@P_group_cd AS nvarchar(10)) + '】：') 　-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			END
		END
		-- MESS 90 評価シートが1つも設定されていない状態で保存されたエラー
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			IF NOT EXISTS (SELECT 1 FROM #F0021_TEMP WHERE #F0021_TEMP.sheet_cd <> 0)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT
					90									-- mã lỗi (trùng với mã trong bảng message) 					
				,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0									-- Tùy ý
				,	'' 　								-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			END
		END
		-- MESS 99 評価者が既に別の処遇用途で同一評価シートが登録されており、異なる評価者を設定しようとしたらエラー
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- get data from DB
			INSERT INTO #N99_EMPLOYEE_ROUTER_DB
			SELECT 
				F0032.treatment_applications_no
			,	F0032.group_cd
			,	F0032.employee_cd
			,	F0032.sheet_cd
			,	ISNULL(F0030.rater_employee_cd_1,'')
			,	ISNULL(F0030.rater_employee_cd_2,'')
			,	ISNULL(F0030.rater_employee_cd_3,'')
			,	ISNULL(F0030.rater_employee_cd_4,'')
			FROM F0032
			LEFT OUTER JOIN F0030 ON (
				F0032.company_cd					=	F0030.company_cd
			AND F0032.fiscal_year					=	F0030.fiscal_year
			AND F0032.treatment_applications_no		=	F0030.treatment_applications_no
			AND F0032.group_cd						=	F0030.group_cd
			AND F0032.employee_cd					=	F0030.employee_cd
			AND F0030.del_datetime IS NULL
			)
			WHERE 
				F0032.company_cd		=	@P_company_cd
			AND F0032.fiscal_year		=	@P_fiscal_year
			AND F0032.employee_cd		=	@P_employee_cd
			AND F0032.del_datetime IS NULL
			-- get data from SCREEN
			INSERT INTO #N99_EMPLOYEE_ROUTER_SCREEN
			SELECT 
				#F0021_TEMP.treatment_applications_no
			,	#F0021_TEMP.group_cd
			,	@P_employee_cd
			,	#F0021_TEMP.sheet_cd
			,	@P_rater_employee_cd_1
			,	@P_rater_employee_cd_2
			,	@P_rater_employee_cd_3
			,	@P_rater_employee_cd_4
			FROM #F0021_TEMP
			-- Remove employee in screen but not existed in DB
			DELETE D FROM #N99_EMPLOYEE_ROUTER_SCREEN AS D
			LEFT OUTER JOIN #N99_EMPLOYEE_ROUTER_DB AS DB ON (
				D.employee_cd			=	DB.employee_cd
			AND D.sheet_cd				=	DB.sheet_cd
			)
			WHERE
				DB.sheet_cd IS NULL
			-- Remove employee in DB when sheet_cd, treatment_applications_no , group_cd existed in screen
			DELETE D FROM #N99_EMPLOYEE_ROUTER_DB AS D
			INNER JOIN #N99_EMPLOYEE_ROUTER_SCREEN AS SCREEN ON (
				D.employee_cd					=	SCREEN.employee_cd
			AND D.sheet_cd						=	SCREEN.sheet_cd
			AND D.treatment_applications_no		=	SCREEN.treatment_applications_no
			AND D.group_cd						=	SCREEN.group_cd
			)
			-- insert error
			--rater_employee_cd_1
			INSERT INTO @ERR_TBL 
			SELECT
				99									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Primary Evaluator【' + @P_rater_employee_cd_1 + '】：','一次評価者【' + @P_rater_employee_cd_1 + '】：') -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #N99_EMPLOYEE_ROUTER_DB AS DB
			LEFT OUTER JOIN #N99_EMPLOYEE_ROUTER_SCREEN AS SCREEN ON(
				DB.sheet_cd						=	SCREEN.sheet_cd
			AND DB.employee_cd					=	SCREEN.employee_cd
			)
			WHERE
				DB.rater_employee_cd_1		<>	SCREEN.rater_employee_cd_1
			--rater_employee_cd_2
			INSERT INTO @ERR_TBL 
			SELECT
				99									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Secondary Rater【' + @P_rater_employee_cd_2 + '】：','二次評価者【' + @P_rater_employee_cd_2 + '】：') -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #N99_EMPLOYEE_ROUTER_DB AS DB
			LEFT OUTER JOIN #N99_EMPLOYEE_ROUTER_SCREEN AS SCREEN ON(
				DB.sheet_cd						=	SCREEN.sheet_cd
			AND DB.employee_cd					=	SCREEN.employee_cd
			)
			WHERE
				DB.rater_employee_cd_2		<>	SCREEN.rater_employee_cd_2
			--rater_employee_cd_3
			INSERT INTO @ERR_TBL 
			SELECT
				99									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language = 2,'Tertiary Rater【' + @P_rater_employee_cd_3 + '】：','三次評価者【' + @P_rater_employee_cd_3 + '】：') -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #N99_EMPLOYEE_ROUTER_DB AS DB
			LEFT OUTER JOIN #N99_EMPLOYEE_ROUTER_SCREEN AS SCREEN ON(
				DB.sheet_cd						=	SCREEN.sheet_cd
			AND DB.employee_cd					=	SCREEN.employee_cd
			)
			WHERE
				DB.rater_employee_cd_3		<>	SCREEN.rater_employee_cd_3
			--rater_employee_cd_4
			INSERT INTO @ERR_TBL 
		SELECT
			99									-- mã lỗi (trùng với mã trong bảng message) 					
		,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	IIF(@w_language = 2,'Fourth Rater【' + @P_rater_employee_cd_4 + '】：','四次評価者【' + @P_rater_employee_cd_4 + '】：') -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM #N99_EMPLOYEE_ROUTER_DB AS DB
		LEFT OUTER JOIN #N99_EMPLOYEE_ROUTER_SCREEN AS SCREEN ON(
			DB.sheet_cd						=	SCREEN.sheet_cd
		AND DB.employee_cd					=	SCREEN.employee_cd
		)
		WHERE
			DB.rater_employee_cd_4		<>	SCREEN.rater_employee_cd_4
		END
		-- MESS 100 被評価者本人を評価者１～４に設定したらエラー
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			IF @P_employee_cd <> '' AND (
				@P_employee_cd = @P_rater_employee_cd_1
			OR	@P_employee_cd = @P_rater_employee_cd_2
			OR	@P_employee_cd = @P_rater_employee_cd_3
			OR	@P_employee_cd = @P_rater_employee_cd_4
			)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT
					100									-- mã lỗi (trùng với mã trong bảng message) 					
				,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0									-- Tùy ý
				,	IIF(@w_language = 2,'Employee Number【' + @P_employee_cd + '】：','社員番号【' + @P_employee_cd + '】：') 	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			END
		END
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--PROCESS DATA
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			---------------- F0030 ----------------
			-- DELETE
			DELETE D FROM F0030 AS D
			INNER JOIN #F0021_TEMP ON (
				D.company_cd				=	#F0021_TEMP.company_cd
			AND D.fiscal_year				=	#F0021_TEMP.fiscal_year
			AND D.treatment_applications_no	=	#F0021_TEMP.treatment_applications_no
			AND D.group_cd					=	#F0021_TEMP.group_cd
			AND D.employee_cd				=	@P_employee_cd
			)
			-- ADD
			INSERT INTO F0030
			SELECT 
				#F0021_TEMP.company_cd
			,	#F0021_TEMP.fiscal_year
			,	#F0021_TEMP.treatment_applications_no
			,	#F0021_TEMP.group_cd
			,	@P_employee_cd
			,	@P_rater_employee_cd_1
			,	@P_rater_employee_cd_2
			,	@P_rater_employee_cd_3
			,	@P_rater_employee_cd_4
			,	@P_cre_user
			,	@P_cre_ip
			,	'I1030_CSV'
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #F0021_TEMP
			GROUP BY
				#F0021_TEMP.company_cd
			,	#F0021_TEMP.fiscal_year
			,	#F0021_TEMP.treatment_applications_no
			,	#F0021_TEMP.group_cd
			---------------- F0032 ----------------
			-- DELETE 
			DELETE D FROM F0032 AS D
			INNER JOIN #F0021_TEMP ON (
				D.company_cd				=	#F0021_TEMP.company_cd
			AND D.fiscal_year				=	#F0021_TEMP.fiscal_year
			AND D.treatment_applications_no	=	#F0021_TEMP.treatment_applications_no
			AND D.group_cd					=	#F0021_TEMP.group_cd
			AND D.employee_cd				=	@P_employee_cd
			)
			-- ADD
			INSERT INTO F0032
			SELECT 
				#F0021_TEMP.company_cd
			,	#F0021_TEMP.fiscal_year
			,	#F0021_TEMP.treatment_applications_no
			,	#F0021_TEMP.group_cd
			,	@P_employee_cd
			,	#F0021_TEMP.detail_no
			,	#F0021_TEMP.sheet_cd
			,	#F0021_TEMP.weight
			,	@P_cre_user
			,	@P_cre_ip
			,	'I1030_CSV'
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #F0021_TEMP
			---------------- F0100 ----------------
			-- check has target
			IF EXISTS (
				SELECT 1
				FROM #F0021_TEMP
				LEFT JOIN M0200 ON (
					#F0021_TEMP.company_cd		=	M0200.company_cd
				AND #F0021_TEMP.sheet_cd		=	M0200.sheet_cd
				AND M0200.del_datetime IS NULL
				)
				WHERE 
					M0200.sheet_kbn = 1 --目標シート
			)
			BEGIN
				SET @w_has_evalutation_target = 1
			END	
			-- IF HAS 自己評価
			IF EXISTS (SELECT 1 FROM M0310 
								WHERE 
									M0310.company_cd		=	@P_company_cd
								AND M0310.category			=	2	-- 定性シート
								AND M0310.status_cd			=	1	--　自己評価
								AND M0310.status_use_typ	=	1
								AND M0310.del_datetime IS NULL)
			BEGIN
				SET @w_evaluation_status_cd = 1 --　自己評価
			END
			-- IF HAS NOT 自己評価 THEN SET 一次評価
			IF @w_evaluation_status_cd = 0 AND EXISTS (SELECT 1 FROM M0310 
								WHERE 
									M0310.company_cd		=	@P_company_cd
								AND M0310.category			=	2	-- 定性シート
								AND M0310.status_cd			=	2	-- 一次評価
								AND M0310.status_use_typ	=	1
								AND M0310.del_datetime IS NULL)
			BEGIN
				SET @w_evaluation_status_cd = 2 -- 一次評価
			END
			-- GET DATA IN F0100 FROM DB
			INSERT INTO #TABLE_F0100_DB
			SELECT 
				company_cd				
			,	fiscal_year				
			,	employee_cd				
			,	sheet_cd				
			,	status_cd				
			,	rater_employee_cd_1		
			,	rater_employee_cd_2		
			,	rater_employee_cd_3		
			,	rater_employee_cd_4		
			,	cre_user				
			,	cre_ip					
			,	cre_prg					
			,	cre_datetime			
			,	upd_user				
			,	upd_ip					
			,	upd_prg					
			,	upd_datetime			
			FROM F0100
			WHERE 
				F0100.company_cd	=	@P_company_cd
			AND F0100.fiscal_year	=	@P_fiscal_year
			AND F0100.employee_cd	=	@P_employee_cd
			AND F0100.del_datetime IS NULL
			-- GET DATA INTO F0100 FROM SCREEN (GET FROM F0032 AFTER INSERT DATA INTO F0032)
			INSERT INTO #TABLE_F0100
			SELECT 
				F0032.company_cd				
			,	F0032.fiscal_year				
			,	F0032.employee_cd				
			,	F0032.sheet_cd				
			,	ISNULL(#TABLE_F0100_DB.status_cd,0)	--	status_cd			
			,	#TABLE_F0100_DB.rater_employee_cd_1		
			,	#TABLE_F0100_DB.rater_employee_cd_2	
			,	#TABLE_F0100_DB.rater_employee_cd_3	
			,	#TABLE_F0100_DB.rater_employee_cd_4	
			,	CASE 
					WHEN #TABLE_F0100_DB.cre_user IS NULL
					THEN @P_cre_user
					ELSE #TABLE_F0100_DB.cre_user
				END
			,	CASE 
					WHEN #TABLE_F0100_DB.cre_ip IS NULL
					THEN @P_cre_ip
					ELSE #TABLE_F0100_DB.cre_ip
				END
			,	CASE 
					WHEN #TABLE_F0100_DB.cre_prg IS NULL
					THEN 'I1030_CSV'
					ELSE #TABLE_F0100_DB.cre_prg
				END
			,	CASE 
					WHEN #TABLE_F0100_DB.cre_datetime IS NULL
					THEN @w_time
					ELSE #TABLE_F0100_DB.cre_datetime
				END
			,	#TABLE_F0100_DB.upd_user				
			,	#TABLE_F0100_DB.upd_ip					
			,	#TABLE_F0100_DB.upd_prg					
			,	#TABLE_F0100_DB.upd_datetime
			FROM F0032
			LEFT OUTER JOIN #TABLE_F0100_DB ON(
				F0032.company_cd		=	#TABLE_F0100_DB.company_cd
			AND F0032.fiscal_year		=	#TABLE_F0100_DB.fiscal_year
			AND F0032.employee_cd		=	#TABLE_F0100_DB.employee_cd
			AND F0032.sheet_cd			=	#TABLE_F0100_DB.sheet_cd
			)
			WHERE
				F0032.company_cd	=	@P_company_cd
			AND F0032.fiscal_year	=	@P_fiscal_year
			AND F0032.employee_cd	=	@P_employee_cd
			AND F0032.del_datetime IS NULL
			GROUP BY
				F0032.company_cd
			,	F0032.fiscal_year
			,	F0032.employee_cd
			,	F0032.sheet_cd
			,	#TABLE_F0100_DB.status_cd
			,	#TABLE_F0100_DB.rater_employee_cd_1
			,	#TABLE_F0100_DB.rater_employee_cd_2
			,	#TABLE_F0100_DB.rater_employee_cd_3
			,	#TABLE_F0100_DB.rater_employee_cd_4
			,	#TABLE_F0100_DB.cre_user	
			,	#TABLE_F0100_DB.cre_ip		
			,	#TABLE_F0100_DB.cre_prg		
			,	#TABLE_F0100_DB.cre_datetime
			,	#TABLE_F0100_DB.upd_user		
			,	#TABLE_F0100_DB.upd_ip			
			,	#TABLE_F0100_DB.upd_prg			
			,	#TABLE_F0100_DB.upd_datetime
			-- add by viettd 2022/12/21
			-- update rater_employee_cd_1 ~ rater_employee_cd_4 from CSV
			UPDATE #TABLE_F0100 SET
				rater_employee_cd_1		=	@P_rater_employee_cd_1
			,	rater_employee_cd_2		=	@P_rater_employee_cd_2
			,	rater_employee_cd_3		=	@P_rater_employee_cd_3
			,	rater_employee_cd_4		=	@P_rater_employee_cd_4
			,	upd_user				=	@P_cre_user
			,	upd_ip					=	@P_cre_ip
			,	upd_prg					=	'I1030_CSV'
			,	upd_datetime			=	@w_time
			FROM #TABLE_F0100
			INNER JOIN (
				SELECT 
					DISTINCT
					#F0021_TEMP.company_cd
				,	#F0021_TEMP.fiscal_year
				,	#F0021_TEMP.sheet_cd
				FROM #F0021_TEMP
			) AS F0021_TEMP ON (
				#TABLE_F0100.company_cd		=	F0021_TEMP.company_cd
			AND #TABLE_F0100.fiscal_year	=	F0021_TEMP.fiscal_year
			AND #TABLE_F0100.sheet_cd		=	F0021_TEMP.sheet_cd
			)
			-- add by viettd 2022/01/05
			-- WHEN EMPLOYEE HAS CHANGED OF SHEET_CD
			IF EXISTS (
			SELECT 
			1
			FROM #TABLE_F0100
			FULL OUTER JOIN #TABLE_F0100_DB ON (
				#TABLE_F0100.company_cd		=	#TABLE_F0100_DB.company_cd
			AND #TABLE_F0100.fiscal_year	=	#TABLE_F0100_DB.fiscal_year
			AND #TABLE_F0100.employee_cd	=	#TABLE_F0100_DB.employee_cd
			AND #TABLE_F0100.sheet_cd		=	#TABLE_F0100_DB.sheet_cd
			)
			WHERE 
				(
					#TABLE_F0100.company_cd IS NULL
				OR	#TABLE_F0100_DB.company_cd IS NULL
				)
			)
			BEGIN
				UPDATE #TABLE_F0100 SET 
					status_cd = CASE 
								-- IF HAS SHEET_KBN = 1 (目標シート)
								WHEN @w_has_evalutation_target <> 0
								THEN 0
								-- IF HAS NOT SHEET_KBN = 1  (目標シート)
								WHEN @w_has_evalutation_target = 0	AND @w_evaluation_status_cd = 1 AND ISNULL(W_M0200.evaluation_self_typ,0) = 1
								THEN  1 -- 自己評価中
								WHEN @w_has_evalutation_target = 0	AND @w_evaluation_status_cd = 1 AND ISNULL(W_M0200.evaluation_self_typ,0) = 0
								THEN  2 -- 一次評価中
								WHEN @w_has_evalutation_target = 0	AND @w_evaluation_status_cd = 2
								THEN  2 -- 一次評価中
								ELSE #TABLE_F0100.status_cd
							END
				FROM #TABLE_F0100
				INNER JOIN (
					SELECT 
						DISTINCT
						#F0021_TEMP.company_cd
					,	#F0021_TEMP.fiscal_year
					,	#F0021_TEMP.sheet_cd
					FROM #F0021_TEMP
				) AS F0021_TEMP_SHEET ON (
					#TABLE_F0100.company_cd		=	F0021_TEMP_SHEET.company_cd
				AND #TABLE_F0100.fiscal_year	=	F0021_TEMP_SHEET.fiscal_year
				AND #TABLE_F0100.sheet_cd		=	F0021_TEMP_SHEET.sheet_cd
				)
				INNER JOIN W_M0200 ON (
					#TABLE_F0100.company_cd			=	W_M0200.company_cd
				AND #TABLE_F0100.fiscal_year		=	W_M0200.fiscal_year
				AND #TABLE_F0100.sheet_cd			=	W_M0200.sheet_cd
				AND W_M0200.del_datetime IS NULL
				)
			END
			-- DELETE
			DELETE D FROM F0100 AS D
			WHERE 
				D.company_cd	=	@P_company_cd
			AND D.fiscal_year	=	@P_fiscal_year
			AND D.employee_cd	=	@P_employee_cd
			-- ADD
			INSERT INTO F0100
			SELECT 
				company_cd			
			,	fiscal_year			
			,	employee_cd			
			,	sheet_cd			
			,	status_cd			
			,	rater_employee_cd_1	
			,	rater_employee_cd_2	
			,	rater_employee_cd_3	
			,	rater_employee_cd_4
			,	cre_user
			,	cre_ip
			,	cre_prg
			,	cre_datetime
			,	upd_user
			,	upd_ip
			,	upd_prg
			,	upd_datetime
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #TABLE_F0100
			---------------- F0120 ----------------
			UPDATE F0120 SET 
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	'I1030_CSV'
			,	del_datetime	=	@w_time
			FROM F0120
			LEFT OUTER JOIN #TABLE_F0100 ON (
				F0120.company_cd				=	#TABLE_F0100.company_cd
			AND F0120.fiscal_year				=	#TABLE_F0100.fiscal_year
			AND F0120.employee_cd				=	#TABLE_F0100.employee_cd
			AND F0120.sheet_cd					=	#TABLE_F0100.sheet_cd
			)
			WHERE 
				F0120.company_cd		=	@P_company_cd
			AND F0120.fiscal_year		=	@P_fiscal_year
			AND F0120.employee_cd		=	@P_employee_cd	-- add by viettd 2021/12/09
			AND #TABLE_F0100.sheet_cd IS NULL
			---------------- S0010 ----------------
			-- EMPLOYEE
			IF @w_user_id_authority_typ <= 2
			AND NOT EXISTS(SELECT 1 FROM F0030 
					WHERE
					F0030.company_cd = @P_company_cd
					AND (
						F0030.rater_employee_cd_1	= @P_employee_cd
					OR	F0030.rater_employee_cd_2	= @P_employee_cd
					OR	F0030.rater_employee_cd_3	= @P_employee_cd
					OR	F0030.rater_employee_cd_4	= @P_employee_cd
					)
					AND F0030.del_datetime IS NULL
					AND	F0030.fiscal_year = @w_current_year
					)
			BEGIN
				UPDATE S0010 SET 
					authority_typ	=	1
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	'I1030_CSV'
				,	upd_datetime	=	@w_time
				FROM S0010
				WHERE 
					S0010.company_cd	=	@P_company_cd
				AND S0010.user_id		=	@w_user_id
				AND @w_current_year		=	@P_fiscal_year
			END
			IF EXISTS(
				SELECT 1 FROM F0030 WHERE F0030.company_cd = @P_company_cd 
				AND (F0030.rater_employee_cd_1 = @P_employee_cd
				OR F0030.rater_employee_cd_2 = @P_employee_cd
				OR F0030.rater_employee_cd_3 = @P_employee_cd
				OR F0030.rater_employee_cd_4 = @P_employee_cd
				)
				AND del_datetime IS NULL
			)
			BEGIN
			UPDATE S0010 SET 
				authority_typ	=	2
			,	upd_user		=	@P_cre_user
			,	upd_ip			=	@P_cre_ip
			,	upd_prg			=	'I1030_CSV'
			,	upd_datetime	=	@w_time
			FROM S0010
			WHERE 
				S0010.company_cd	=	@P_company_cd
			AND S0010.user_id		=	@P_employee_cd
			AND @P_fiscal_year = @w_current_year
			AND S0010.authority_typ <=2
			END
			-- RATER 1
			IF @P_rater_employee_cd_1 <> ''
			BEGIN
				IF @w_user_id_rater_1_authority_typ < 2
				BEGIN
					UPDATE S0010 SET 
						authority_typ	=	2
					,	upd_user		=	@P_cre_user
					,	upd_ip			=	@P_cre_ip
					,	upd_prg			=	'I1030_CSV'
					,	upd_datetime	=	@w_time
					FROM S0010
					WHERE 
						S0010.company_cd	=	@P_company_cd
					AND S0010.user_id		=	@w_user_id_rater_1
					AND @w_current_year		=	@P_fiscal_year
				END
			END
			-- RATER 2
			IF @P_rater_employee_cd_2 <> ''
			BEGIN
				IF @w_user_id_rater_2_authority_typ <= 2
				BEGIN
					UPDATE S0010 SET 
						authority_typ	=	2
					,	upd_user		=	@P_cre_user
					,	upd_ip			=	@P_cre_ip
					,	upd_prg			=	'I1030_CSV'
					,	upd_datetime	=	@w_time
					FROM S0010
					WHERE 
						S0010.company_cd	=	@P_company_cd
					AND S0010.user_id		=	@w_user_id_rater_2
					AND @w_current_year		=	@P_fiscal_year
				END
			END
			-- RATER 3
			IF @P_rater_employee_cd_3 <> ''
			BEGIN
				IF @w_user_id_rater_3_authority_typ <= 2
				BEGIN
					UPDATE S0010 SET 
						authority_typ	=	2
					,	upd_user		=	@P_cre_user
					,	upd_ip			=	@P_cre_ip
					,	upd_prg			=	'I1030_CSV'
					,	upd_datetime	=	@w_time
					FROM S0010
					WHERE 
						S0010.company_cd	=	@P_company_cd
					AND S0010.user_id		=	@w_user_id_rater_3
					AND @w_current_year		=	@P_fiscal_year
				END
			END
			-- RATER 4
			IF @P_rater_employee_cd_4 <> ''
			BEGIN
				IF @w_user_id_rater_4_authority_typ <= 2
				BEGIN
					UPDATE S0010 SET 
						authority_typ	=	2
					,	upd_user		=	@P_cre_user
					,	upd_ip			=	@P_cre_ip
					,	upd_prg			=	'I1030_CSV'
					,	upd_datetime	=	@w_time
					FROM S0010
					WHERE 
						S0010.company_cd	=	@P_company_cd
					AND S0010.user_id		=	@w_user_id_rater_4
					AND @w_current_year		=	@P_fiscal_year
				END
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	EXIT_SPC:
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[０]
	SELECT 
		A.message_no
	,	A.item
	,	A.order_by
	,	A.error_typ
	,	A.value1
	,	A.value2
	,	A.remark
	,	IIF(@w_language = 2,L0020.message_english,L0020.[message]) AS message_content
	FROM @ERR_TBL AS A
	LEFT OUTER JOIN L0020 ON (
		A.message_no = L0020.message_cd
	)
END
GO
