DROP PROCEDURE [SPC_I1030_INQ2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ I1030
-- EXEC [SPC_I1030_INQ2] '','';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	I1030
--*  
--*  作成日/create date			:	2018/09/26						
--*　作成者/creater				:	Tuantv								
--*   					
--*  更新日/update date			:	2023/12/04
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	CHANGE M0151.code FROM SMALLINT -> INT 
--****************************************************************************************
CREATE PROCEDURE [SPC_I1030_INQ2]
	@P_company_cd		SMALLINT		= 0
,	@P_group_cd			SMALLINT		= -1
AS
BEGIN
	DECLARE 
		@w_length		INT				= 0
	,	@w_i			INT				= 0
	,	@w_str1			NVARCHAR(MAX)	= ''
	,	@w_str2			NVARCHAR(MAX)	= ''
	,	@w_str3			NVARCHAR(MAX)	= ''
	,	@w_str4			NVARCHAR(MAX)	= ''
	
	CREATE TABLE #M0151_A
	(
		id				INT IDENTITY(1,1)
	,	company_cd		SMALLINT	
	,	group_cd		SMALLINT
	,	attribute		INT
	,	employee_typ_nm NVARCHAR(MAX)
	,	arrange_order	INT
	)

	CREATE TABLE #M0151_B
	(
		id				INT IDENTITY(1,1)
	,	company_cd		SMALLINT	
	,	group_cd		SMALLINT
	,	attribute		INT
	,	job_nm			NVARCHAR(MAX)
	,	arrange_order	INT
	)

	CREATE TABLE #M0151_C
	(
		id				INT IDENTITY(1,1)
	,	company_cd		SMALLINT	
	,	group_cd		SMALLINT
	,	attribute		INT
	,	position_nm		NVARCHAR(MAX)
	,	arrange_order	INT
	)
	CREATE TABLE #M0151_D
	(
		id				INT IDENTITY(1,1)
	,	company_cd		SMALLINT	
	,	group_cd		SMALLINT
	,	attribute		INT
	,	grade_nm		NVARCHAR(MAX)
	,	arrange_order	INT
	)
	INSERT INTO #M0151_A
	SELECT DISTINCT
		M0151.company_cd	
	,	M0151.group_cd	
	,	M0151.attribute	
	,	M0060.employee_typ_nm
	,	M0060.arrange_order	
	FROM M0151
	LEFT JOIN M0060 ON (
		M0151.company_cd	= M0060.company_cd
	AND	M0151.code			= M0060.employee_typ
	AND M0060.del_datetime IS NULL
	)
	WHERE 
		M0151.company_cd	= @P_company_cd
	AND M0151.group_cd		= @P_group_cd
	--AND (
	--		@P_group_cd = '-1' 
	--	OR  @P_group_cd <> '-1' AND M0151.group_cd = @P_group_cd
	--)
	AND M0151.attribute		= 1
	--SELECT @w_str1 = @w_str1 + ',' + #M0151_A.employee_typ_nm FROM #M0151_A  WHERE #M0151_A.employee_typ_nm <> '' ORDER BY #M0151_A.arrange_order
	--IF (LEFT(@w_str1,1) =',')
	--BEGIN
	--	SELECT @w_str1 = SUBSTRING(@w_str1,1,LEN(@w_str1))
	--END

	INSERT INTO #M0151_B
	SELECT DISTINCT
		M0151.company_cd	
	,	M0151.group_cd	
	,	M0151.attribute	
	,	M0030.job_nm
	,	M0030.arrange_order
	FROM M0151
	LEFT JOIN M0030 ON (
		M0151.company_cd	= M0030.company_cd
	AND	M0151.code			= M0030.job_cd
	AND M0030.del_datetime IS NULL
	)
	WHERE 
		M0151.company_cd	= @P_company_cd
	--AND (
	--		@P_group_cd = '-1' 
	--	OR  @P_group_cd <> '-1' AND M0151.group_cd = @P_group_cd
	--)
	AND M0151.group_cd		= @P_group_cd
	AND M0151.attribute		= 2
	--SELECT @w_str2 = @w_str2 + ',' + #M0151_B.job_nm FROM #M0151_B WHERE #M0151_B.job_nm <> '' ORDER BY #M0151_B.arrange_order

	--IF (LEFT(@w_str2,1) =',')
	--BEGIN
	--	SELECT @w_str2 = SUBSTRING(@w_str2,1,LEN(@w_str2))
	--END

	INSERT INTO #M0151_C
	SELECT DISTINCT
		M0151.company_cd	
	,	M0151.group_cd	
	,	M0151.attribute	
	,	M0040.position_nm
	,	M0040.arrange_order
	FROM M0151
	LEFT JOIN M0040 ON (
		M0151.company_cd	= M0040.company_cd
	AND	M0151.code			= M0040.position_cd
	AND M0040.del_datetime IS NULL
	)
	WHERE 
		M0151.company_cd	= @P_company_cd
	--AND (
	--		@P_group_cd = '-1' 
	--	OR  @P_group_cd <> '-1' AND M0151.group_cd = @P_group_cd
	--)
	AND M0151.group_cd		= @P_group_cd
	AND M0151.attribute		= 3
	--SELECT @w_str3 = @w_str3 + ',' + #M0151_C.position_nm FROM #M0151_C WHERE #M0151_C.position_nm <> '' ORDER BY #M0151_C.arrange_order
	--IF (LEFT(@w_str3,1) =',')
	--BEGIN
	--	SELECT @w_str3 = SUBSTRING(@w_str3,1,LEN(@w_str3))
	--END

	INSERT INTO #M0151_D
	SELECT DISTINCT
		M0151.company_cd	
	,	M0151.group_cd	
	,	M0151.attribute	
	,	M0050.grade_nm
	,	M0050.arrange_order
	FROM M0151
	LEFT JOIN M0050 ON (
		M0151.company_cd	= M0050.company_cd
	AND	M0151.code			= M0050.grade
	AND M0050.del_datetime IS NULL
	)
	WHERE 
		M0151.company_cd	= @P_company_cd
	--AND (
	--		@P_group_cd = '-1' 
	--	OR  @P_group_cd <> '-1' AND M0151.group_cd = @P_group_cd
	--)
	AND M0151.group_cd		= @P_group_cd
	AND M0151.attribute		= 4
	
	--SELECT @w_str4 = @w_str4 + ',' + #M0151_D.grade_nm FROM #M0151_D WHERE #M0151_D.grade_nm <> '' ORDER BY #M0151_D.arrange_order
	--IF (LEFT(@w_str4,1) =',')
	--BEGIN
	--	SELECT @w_str4 = SUBSTRING(@w_str4,1,LEN(@w_str4))
	--END
	----[0]
	--SELECT
	--	@w_i				   AS id 
	--,	STUFF(@w_str1,1,1,'')  AS employee_typ_nm 
	--,	STUFF(@w_str2,1,1,'')  AS job_nm  
	--,	STUFF(@w_str3,1,1,'')  AS position_nm 
	--,	STUFF(@w_str4,1,1,'')  AS grade_nm

	--[0]
	SELECT #M0151_A.employee_typ_nm FROM #M0151_A  WHERE #M0151_A.employee_typ_nm <> '' ORDER BY #M0151_A.arrange_order
	--[1]
	SELECT #M0151_B.job_nm FROM #M0151_B WHERE #M0151_B.job_nm <> '' ORDER BY #M0151_B.arrange_order
	--[2]
	SELECT #M0151_C.position_nm FROM #M0151_C WHERE #M0151_C.position_nm <> '' ORDER BY #M0151_C.arrange_order
	--[3]
	SELECT #M0151_D.grade_nm FROM #M0151_D WHERE #M0151_D.grade_nm <> '' ORDER BY #M0151_D.arrange_order
	--[4]
	DROP TABLE #M0151_A, #M0151_B, #M0151_C, #M0151_D
END
GO