DROP PROCEDURE [SPC_I1030_INQ4]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****************************************************************************************************
 *
 *  処理概要:  Check multi rater exists in M0070
 *
 *  作成日  ： 2018/08/20
 *  作成者  ： Tuantv
 *
 ****************************************************************************************************/
 CREATE PROCEDURE [SPC_I1030_INQ4] 
    @P_json				NVARCHAR(MAX)	= ''
, 	@P_company_cd		SMALLINT		= 0
AS
BEGIN
	SET NOCOUNT ON;
	CREATE TABLE #M0070 (
		id						int identity(1, 1)
	,	employee_cd				nvarchar(10)
	,	rater_employee_cd_1		nvarchar(10)
	,	exist_1					tinyint
	,	rater_employee_cd_2		nvarchar(10)
	,	exist_2					tinyint
	,	rater_employee_cd_3		nvarchar(10)
	,	exist_3					tinyint
	,	rater_employee_cd_4		nvarchar(10)
	,	exist_4					tinyint
	)
	--
	INSERT INTO #M0070
	SELECT 
		json_table.employee_cd
	,	json_table.rater_employee_cd_1
	,	0
	,	json_table.rater_employee_cd_2
	,	0
	,	json_table.rater_employee_cd_3
	,	0
	,	json_table.rater_employee_cd_4
	,	0
	FROM OPENJSON(@P_json,'$.rator') WITH(
		employee_cd			nvarchar(10),
		rater_employee_cd_1	nvarchar(10),
		rater_employee_cd_2	nvarchar(10),
		rater_employee_cd_3	nvarchar(10),
		rater_employee_cd_4	nvarchar(10)
	)AS json_table
	
	-- Rater 1
	UPDATE A
	SET
		exist_1 = 1
	FROM #M0070 AS A
	INNER JOIN M0070 AS R1 ON (
		@P_company_cd			=	R1.company_cd
	AND	A.rater_employee_cd_1	=	R1.employee_cd
	AND	R1.del_datetime IS NULL
	)
	
	-- Rater 2
	UPDATE A
	SET
		exist_2 = 1
	FROM #M0070 AS A
	INNER JOIN M0070 AS R2 ON (
		@P_company_cd			=	R2.company_cd
	AND	A.rater_employee_cd_2	=	R2.employee_cd
	AND	R2.del_datetime IS NULL
	)
	
	-- Rater 3
	UPDATE A
	SET
		exist_3 = 1
	FROM #M0070 AS A
	INNER JOIN M0070 AS R3 ON (
		@P_company_cd			=	R3.company_cd
	AND	A.rater_employee_cd_3	=	R3.employee_cd
	AND	R3.del_datetime IS NULL
	)
	
	-- Rater 4
	UPDATE A
	SET
		exist_4 = 1
	FROM #M0070 AS A
	INNER JOIN M0070 AS R4 ON (
		@P_company_cd			=	R4.company_cd
	AND	A.rater_employee_cd_4	=	R4.employee_cd
	AND	R4.del_datetime IS NULL
	)

	--
	SELECT * FROM #M0070

	--
	DROP TABLE #M0070
END
GO