DROP PROCEDURE [SPC_M0070_11_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--* EXEC SPC_M0070_11_INQ1 '15', '740', '721'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスタ tab_11
--*  
--*  作成日/create date			:						
--*　作成者/creater				:									
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_11_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(10)	=	N''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	N''
AS
BEGIN
	DECLARE 
		@w_time				DATETIME2			= SYSDATETIME()
	,	@w_language			INT					=	1

	SELECT 
		@w_language								=	ISNULL(S0010.language,1)
	FROM S0010 
	WHERE 
		S0010.company_cd		=	@P_company_cd
	AND S0010.user_id			=	@P_user_id

	--[0]
	SELECT 
		ISNULL(employment_insurance_no				, N'') AS employment_insurance_no
	,	ISNULL(basic_pension_no						, N'') AS basic_pension_no
	,	ISNULL(employment_insurance_status			, 0)   AS employment_insurance_status
	,	ISNULL(health_insurance_status				, 0)   AS health_insurance_status
	,	ISNULL(health_insurance_reference_no		, 0)   AS health_insurance_reference_no
	,	ISNULL(employees_pension_insurance_status	, 0)   AS employees_pension_insurance_status
	,	ISNULL(employees_pension_reference_no		, 0)   AS employees_pension_reference_no
	,	ISNULL(welfare_pension_status				, 0)   AS welfare_pension_status
	,	ISNULL(employees_pension_member_no			, 0)   AS employees_pension_member_no
	FROM M0090
	WHERE 
		M0090.company_cd	= @P_company_cd
	AND M0090.employee_cd	= @P_employee_cd
	AND M0090.del_datetime IS NULL

	--[1]
	SELECT 
		social_insurance_kbn				  AS social_insurance_kbn
	,	detail_no							  AS detail_no
	,	ISNULL(CONVERT(VARCHAR(10),joining_date,111), NULL) AS joining_date
	,	ISNULL(CONVERT(VARCHAR(10),date_of_loss,111), NULL) AS date_of_loss
	,	CASE
			WHEN	@w_language = 2
			THEN	ISNULL(L0010.name_english,'')
			ELSE	ISNULL(L0010.name,'')
		END										AS reason_for_loss_kbn
	,	ISNULL(L0010.number_cd, 0)				AS reason_cd
	FROM M0091
	LEFT JOIN L0010 WITH (NOLOCK) ON (
		L0010.name_typ			=	71
	AND	L0010.number_cd =	M0091.reason_for_loss_kbn
	AND	L0010.del_datetime		IS NULL
	)
	WHERE 
		M0091.company_cd	= @P_company_cd
	AND M0091.employee_cd	= @P_employee_cd
	AND M0091.del_datetime IS NULL
	AND M0091.social_insurance_kbn  = 1

	--[2]
	SELECT 
		social_insurance_kbn				  AS social_insurance_kbn
	,	detail_no							  AS detail_no
	,	ISNULL(CONVERT(VARCHAR(10),joining_date,111),NULL) AS joining_date
	,	ISNULL(CONVERT(VARCHAR(10),date_of_loss,111),NULL) AS date_of_loss
	--,	CASE
	--		WHEN	@w_language = 2
	--		THEN	IIF(ISNULL(L0010.name_english,'') = '', M0091.reason_for_loss, L0010.name_english)
	--		ELSE	IIF(ISNULL(L0010.name,'') = '', M0091.reason_for_loss, L0010.name)
	--	END										AS reason_for_loss
	,	ISNULL(M0091.reason_for_loss, 0)							AS reason_for_loss
	FROM M0091
	--LEFT JOIN L0010 WITH (NOLOCK) ON (
	--	L0010.name_typ			=	72
	--AND	CONVERT(NVARCHAR(10),L0010.number_cd) =	M0091.reason_for_loss
	--AND	L0010.del_datetime		IS NULL
	--)
	WHERE 
		M0091.company_cd	= @P_company_cd
	AND M0091.employee_cd	= @P_employee_cd
	AND M0091.del_datetime IS NULL
	AND M0091.social_insurance_kbn  = 2

	--[3]
	SELECT 
		social_insurance_kbn				  AS social_insurance_kbn
	,	detail_no							  AS detail_no
	,	ISNULL(CONVERT(VARCHAR(10),joining_date,111),NULL) AS joining_date
	,	ISNULL(CONVERT(VARCHAR(10),date_of_loss,111),NULL) AS date_of_loss
	--,	CASE
	--		WHEN	@w_language = 2
	--		THEN	IIF(ISNULL(L0010.name_english,'') = '', M0091.reason_for_loss, L0010.name_english)
	--		ELSE	IIF(ISNULL(L0010.name,'') = '', M0091.reason_for_loss, L0010.name)
	--	END										AS reason_for_loss
	,	ISNULL(M0091.reason_for_loss, 0)							AS reason_for_loss
	FROM M0091
	--LEFT JOIN L0010 WITH (NOLOCK) ON (
	--	L0010.name_typ			=	73
	--AND	CONVERT(NVARCHAR(10),L0010.number_cd) =	M0091.reason_for_loss
	--AND	L0010.del_datetime		IS NULL
	--)
	WHERE 
		M0091.company_cd	= @P_company_cd
	AND M0091.employee_cd	= @P_employee_cd
	AND M0091.del_datetime IS NULL
	AND M0091.social_insurance_kbn  = 3

	--[4]
	SELECT 
		social_insurance_kbn				  AS social_insurance_kbn
	,	detail_no							  AS detail_no
	,	ISNULL(CONVERT(VARCHAR(10),joining_date,111),NULL) AS joining_date
	,	ISNULL(CONVERT(VARCHAR(10),date_of_loss,111),NULL) AS date_of_loss
	--,	CASE
	--		WHEN	@w_language = 2
	--		THEN	IIF(ISNULL(L0010.name_english,'') = '', M0091.reason_for_loss, L0010.name_english)
	--		ELSE	IIF(ISNULL(L0010.name,'') = '', M0091.reason_for_loss, L0010.name)
	--	END										AS reason_for_loss
	,	ISNULL(M0091.reason_for_loss, 0)							AS reason_for_loss
	FROM M0091
	--LEFT JOIN L0010 WITH (NOLOCK) ON (
	--	L0010.name_typ			=	74
	--AND	CONVERT(NVARCHAR(10),L0010.number_cd) =	M0091.reason_for_loss
	--AND	L0010.del_datetime		IS NULL
	--)
	WHERE 
		M0091.company_cd	= @P_company_cd
	AND M0091.employee_cd	= @P_employee_cd
	AND M0091.del_datetime IS NULL
	AND M0091.social_insurance_kbn  = 4
END
GO
