DROP PROCEDURE [SPC_M0070_11_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	M0070_社員マスタ tab_11
--*  
--* 作成日/create date			:												
--*	作成者/creater				:						
--*   					
--*	更新日/update date			:  					
--*	更新者/updater				:　 　								     	 
--*	更新内容/update content		:	　	
--* 
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_11_ACT1]
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(max)	=	N''
	-- common
,	@P_cre_user		NVARCHAR(50)	=	N''
,	@P_cre_ip		NVARCHAR(50)	=	N''
,	@P_company_cd	SMALLINT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time											DATETIME2		=	SYSDATETIME()
	,	@ERR_TBL										ERRTABLE
	,	@order_by_min									INT				=	0
	,	@employee_cd									NVARCHAR(20)	=	N''
	,	@w_max1											INT				=	0
	,	@w_max2											INT				=	0
	,	@w_max3											INT				=	0
	,	@w_max4											INT				=	0
	,	@employment_insurance_no						NVARCHAR(20)	=	N''
	,	@basic_pension_no								NVARCHAR(20)	=	N''
	,	@health_insurance_reference_no					NVARCHAR(10)	=	0
	,	@employees_pension_reference_no					INT				=	0
	,	@employees_pension_member_no					NVARCHAR(10)	=	0
	,	@employment_insurance_status					INT				=	0
	,	@health_insurance_status						INT				=	0
	,	@employees_pension_insurance_status				INT				=	0
	,	@welfare_pension_status							INT				=	0

	CREATE TABLE #TBL_JSON_1(
		id						INT NOT NULL IDENTITY(1,1)
	,	social_insurance_kbn	SMALLINT
	,	detail_no				SMALLINT
	,	joining_date			DATETIME
	,	date_of_loss			DATETIME
	,	reason_for_loss_kbn		SMALLINT
	)

	CREATE TABLE #TBL_JSON_1_CLONE(
		id						INT NOT NULL IDENTITY(1,1)
	,	social_insurance_kbn	SMALLINT
	,	detail_no				SMALLINT
	,	joining_date			DATETIME
	,	date_of_loss			DATETIME
	,	reason_for_loss_kbn		SMALLINT
	)

	CREATE TABLE #TBL_JSON_2(
		id						INT NOT NULL IDENTITY(1,1) 	
	,	social_insurance_kbn	SMALLINT
	,	detail_no				SMALLINT
	,	joining_date			DATETIME
	,	date_of_loss			DATETIME
	,	reason_for_loss			NVARCHAR(100)
	)

	CREATE TABLE #TBL_JSON_2_CLONE(
		id						INT NOT NULL IDENTITY(1,1) 	
	,	social_insurance_kbn	SMALLINT
	,	detail_no				SMALLINT
	,	joining_date			DATETIME
	,	date_of_loss			DATETIME
	,	reason_for_loss			NVARCHAR(100)
	)

	CREATE TABLE #TBL_JSON_3(
		id						INT NOT NULL IDENTITY(1,1) 
	,	social_insurance_kbn	SMALLINT
	,	detail_no				SMALLINT
	,	joining_date			DATETIME
	,	date_of_loss			DATETIME
	,	reason_for_loss			NVARCHAR(100)
	)

	CREATE TABLE #TBL_JSON_3_CLONE(
		id						INT NOT NULL IDENTITY(1,1) 	
	,	social_insurance_kbn	SMALLINT
	,	detail_no				SMALLINT
	,	joining_date			DATETIME
	,	date_of_loss			DATETIME
	,	reason_for_loss			NVARCHAR(100)
	)

	CREATE TABLE #TBL_JSON_4(
		id						INT NOT NULL IDENTITY(1,1) 	
	,	social_insurance_kbn	SMALLINT
	,	detail_no				SMALLINT
	,	joining_date			DATETIME
	,	date_of_loss			DATETIME
	,	reason_for_loss			NVARCHAR(100)
	)

	CREATE TABLE #TBL_JSON_4_CLONE(
		id						INT NOT NULL IDENTITY(1,1) 	
	,	social_insurance_kbn	SMALLINT
	,	detail_no				SMALLINT
	,	joining_date			DATETIME
	,	date_of_loss			DATETIME
	,	reason_for_loss			NVARCHAR(100)
	)

	-- START TRANSACTION5
	BEGIN TRANSACTION
	BEGIN TRY
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22								-- mã lỗi (trùng với mã trong bảng message) 					
			,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0								-- Tùy ý
			,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END

		----
		SET @employee_cd							=	JSON_VALUE(@P_json,'$.employee_cd')
		SET @employment_insurance_no				=	JSON_VALUE(@P_json,'$.employment_insurance_no')
		SET @basic_pension_no						=	JSON_VALUE(@P_json,'$.basic_pension_no')
		SET @health_insurance_reference_no			=	JSON_VALUE(@P_json,'$.health_insurance_reference_no')
		SET @employees_pension_reference_no			=	JSON_VALUE(@P_json,'$.employees_pension_reference_no')
		SET @employees_pension_member_no			=	JSON_VALUE(@P_json,'$.employees_pension_member_no')
		SET @employment_insurance_status			=	JSON_VALUE(@P_json,'$.employment_insurance_status')
		SET @health_insurance_status				=	JSON_VALUE(@P_json,'$.health_insurance_status')
		SET @employees_pension_insurance_status		=	JSON_VALUE(@P_json,'$.employees_pension_insurance_status')
		SET @welfare_pension_status					=	JSON_VALUE(@P_json,'$.welfare_pension_status')

		SELECT @w_max1 = ISNULL(MAX(detail_no),0)  
		FROM M0091
		WHERE 
			M0091.company_cd            = @P_company_cd
		AND M0091.employee_cd			= @employee_cd
		AND M0091.social_insurance_kbn  = 1

		SELECT @w_max2 = ISNULL(MAX(detail_no),0) 
		FROM M0091
		WHERE 
			M0091.company_cd            = @P_company_cd
		AND M0091.employee_cd			= @employee_cd
		AND M0091.social_insurance_kbn  = 2

		SELECT @w_max3 = ISNULL(MAX(detail_no),0)  
		FROM M0091
		WHERE 
			M0091.company_cd            = @P_company_cd
		AND M0091.employee_cd			= @employee_cd
		AND M0091.social_insurance_kbn  = 3

		SELECT @w_max4 = ISNULL(MAX(detail_no),0)  
		FROM M0091
		WHERE 
			M0091.company_cd            = @P_company_cd
		AND M0091.employee_cd			= @employee_cd
		AND M0091.social_insurance_kbn  = 4

		-- INSERT value character item 
		INSERT INTO #TBL_JSON_1
		SELECT
			social_insurance_kbn
		,	detail_no			
		,	IIF(joining_date	= N'1900-01-01',NULL,joining_date)	
		,	IIF(date_of_loss	= N'1900-01-01',NULL,date_of_loss)	
		,	reason_for_loss_kbn	
		FROM OPENJSON(@P_json,'$.row_12_add_1') WITH(
			social_insurance_kbn	SMALLINT
		,	detail_no				SMALLINT
		,	joining_date			DATETIME
		,	date_of_loss			DATETIME
		,	reason_for_loss_kbn		SMALLINT
		)
		WHERE NOT (
			social_insurance_kbn	= 1
		AND	joining_date			= N'1900-01-01'
		AND	date_of_loss			= N'1900-01-01'
		AND reason_for_loss_kbn		= 0
		)

		INSERT INTO #TBL_JSON_1_CLONE
		SELECT 
			social_insurance_kbn
		,	detail_no			
		,	IIF(joining_date	= N'1900-01-01',NULL,joining_date)	
		,	IIF(date_of_loss	= N'1900-01-01',NULL,date_of_loss)	
		,	reason_for_loss_kbn	
		FROM #TBL_JSON_1
		WHERE detail_no = 0

		INSERT INTO #TBL_JSON_2
		SELECT
			social_insurance_kbn
		,	detail_no			
		,	IIF(joining_date	= N'1900-01-01',NULL,joining_date)	
		,	IIF(date_of_loss	= N'1900-01-01',NULL,date_of_loss)	
		,	reason_for_loss	
		FROM OPENJSON(@P_json,'$.row_12_add_2') WITH(
			social_insurance_kbn	SMALLINT
		,	detail_no				SMALLINT
		,	joining_date			DATETIME
		,	date_of_loss			DATETIME
		,	reason_for_loss			NVARCHAR(100)
		)
		WHERE NOT (
			social_insurance_kbn	= 2
		AND	joining_date			= N'1900-01-01'
		AND	date_of_loss			= N'1900-01-01'
		AND reason_for_loss			= ''
		)

		INSERT INTO #TBL_JSON_2_CLONE
		SELECT 
			social_insurance_kbn
		,	detail_no			
		,	IIF(joining_date	= N'1900-01-01',NULL,joining_date)	
		,	IIF(date_of_loss	= N'1900-01-01',NULL,date_of_loss)	
		,	reason_for_loss	
		FROM #TBL_JSON_2
		WHERE detail_no = 0

		INSERT INTO #TBL_JSON_3
		SELECT
			social_insurance_kbn
		,	detail_no			
		,	IIF(joining_date	= N'1900-01-01',NULL,joining_date)	
		,	IIF(date_of_loss	= N'1900-01-01',NULL,date_of_loss)	
		,	reason_for_loss		
		FROM OPENJSON(@P_json,'$.row_12_add_3') WITH(
			social_insurance_kbn	SMALLINT
		,	detail_no				SMALLINT
		,	joining_date			DATETIME
		,	date_of_loss			DATETIME
		,	reason_for_loss			NVARCHAR(100)
		)
		WHERE NOT (
			social_insurance_kbn	= 3
		AND	joining_date			= N'1900-01-01'
		AND	date_of_loss			= N'1900-01-01'
		AND reason_for_loss			= ''
		)

		INSERT INTO #TBL_JSON_3_CLONE
		SELECT 
			social_insurance_kbn
		,	detail_no			
		,	IIF(joining_date	= N'1900-01-01',NULL,joining_date)	
		,	IIF(date_of_loss	= N'1900-01-01',NULL,date_of_loss)	
		,	reason_for_loss	
		FROM #TBL_JSON_3
		WHERE detail_no = 0

		INSERT INTO #TBL_JSON_4
		SELECT
			social_insurance_kbn
		,	detail_no			
		,	IIF(joining_date	= N'1900-01-01',NULL,joining_date)	
		,	IIF(date_of_loss	= N'1900-01-01',NULL,date_of_loss)	
		,	reason_for_loss	
		FROM OPENJSON(@P_json,'$.row_12_add_4') WITH(
			social_insurance_kbn	SMALLINT
		,	detail_no				SMALLINT
		,	joining_date			DATETIME
		,	date_of_loss			DATETIME
		,	reason_for_loss			NVARCHAR(100)
		)
		WHERE NOT (
			social_insurance_kbn	= 4
		AND	joining_date			= N'1900-01-01'
		AND	date_of_loss			= N'1900-01-01'
		AND reason_for_loss			= ''
		)
		
		INSERT INTO #TBL_JSON_4_CLONE
		SELECT 
			social_insurance_kbn
		,	detail_no			
		,	IIF(joining_date	= N'1900-01-01',NULL,joining_date)	
		,	IIF(date_of_loss	= N'1900-01-01',NULL,date_of_loss)	
		,	reason_for_loss	
		FROM #TBL_JSON_4
		WHERE detail_no = 0

		IF EXISTS ( SELECT 1
				FROM #TBL_JSON_1
				WHERE #TBL_JSON_1.date_of_loss IS NOT NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				8
			,	N'.jd_1' 
			,	0-- oderby
			,	0-- dialog  
			,	#TBL_JSON_1.id + 1
			,	0
			,	N'joining_date require'
			FROM #TBL_JSON_1
			WHERE 
				#TBL_JSON_1.joining_date IS NULL
		END

		IF EXISTS ( SELECT 1
				FROM #TBL_JSON_2
				WHERE #TBL_JSON_2.date_of_loss IS NOT NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				8
			,	N'.jd_2' 
			,	0-- oderby
			,	0-- dialog  
			,	#TBL_JSON_2.id + 1
			,	0
			,	N'joining_date require'
			FROM #TBL_JSON_2
			WHERE 
				#TBL_JSON_2.joining_date IS NULL
		END

		IF EXISTS ( SELECT 1
				FROM #TBL_JSON_3
				WHERE #TBL_JSON_3.date_of_loss IS NOT NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				8
			,	N'.jd_3' 
			,	0-- oderby
			,	0-- dialog  
			,	#TBL_JSON_3.id + 1
			,	0
			,	N'joining_date require'
			FROM #TBL_JSON_3
			WHERE 
				#TBL_JSON_3.joining_date IS NULL
		END

		IF EXISTS ( SELECT 1
				FROM #TBL_JSON_4
				WHERE #TBL_JSON_4.date_of_loss IS NOT NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				8
			,	N'.jd_4' 
			,	0-- oderby
			,	0-- dialog  
			,	#TBL_JSON_4.id + 1
			,	0
			,	N'joining_date require'
			FROM #TBL_JSON_4
			WHERE 
				#TBL_JSON_4.joining_date IS NULL
		END

		IF EXISTS ( SELECT 1
				FROM #TBL_JSON_1
				WHERE #TBL_JSON_1.joining_date >= #TBL_JSON_1.date_of_loss
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24
			,	N'.jd_1' 
			,	0-- oderby
			,	0-- dialog  
			,	#TBL_JSON_1.id + 1
			,	0
			,	N'date error'
			FROM #TBL_JSON_1
			WHERE #TBL_JSON_1.joining_date >= #TBL_JSON_1.date_of_loss
			UNION
			SELECT
				24
			,	N'.dol_1' 
			,	0-- oderby
			,	0-- dialog  
			,	#TBL_JSON_1.id + 1
			,	0
			,	N'date error'
			FROM #TBL_JSON_1
			WHERE #TBL_JSON_1.joining_date >= #TBL_JSON_1.date_of_loss
		END

		IF EXISTS ( SELECT 1
				FROM #TBL_JSON_2
				WHERE #TBL_JSON_2.joining_date >= #TBL_JSON_2.date_of_loss
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24
			,	N'.jd_2'
			,	0-- oderby
			,	0-- dialog  
			,	#TBL_JSON_2.id + 1
			,	0
			,	N'date error'
			FROM #TBL_JSON_2
			WHERE #TBL_JSON_2.joining_date >= #TBL_JSON_2.date_of_loss
			UNION
			SELECT
				24
			,	N'.dol_2'
			,	0-- oderby
			,	0-- dialog  
			,	#TBL_JSON_2.id + 1
			,	0
			,	N'date error'
			FROM #TBL_JSON_2
			WHERE #TBL_JSON_2.joining_date >= #TBL_JSON_2.date_of_loss
		END

		IF EXISTS ( SELECT 1
				FROM #TBL_JSON_3
				WHERE #TBL_JSON_3.joining_date >= #TBL_JSON_3.date_of_loss
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24
			,	N'.jd_3'
			,	0-- oderby
			,	0-- dialog  
			,	#TBL_JSON_3.id + 1
			,	0
			,	N'date error'
			FROM #TBL_JSON_3
			WHERE #TBL_JSON_3.joining_date >= #TBL_JSON_3.date_of_loss
			UNION
			SELECT
				24
			,	N'.dol_3'
			,	0-- oderby
			,	0-- dialog  
			,	#TBL_JSON_3.id + 1
			,	0
			,	N'date error'
			FROM #TBL_JSON_3
			WHERE #TBL_JSON_3.joining_date >= #TBL_JSON_3.date_of_loss
		END

		IF EXISTS ( SELECT 1
				FROM #TBL_JSON_4
				WHERE #TBL_JSON_4.joining_date >= #TBL_JSON_4.date_of_loss
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24
			,	N'.jd_4'
			,	0-- oderby
			,	0-- dialog  
			,	#TBL_JSON_4.id + 1
			,	0
			,	N'date error'
			FROM #TBL_JSON_4
			WHERE #TBL_JSON_4.joining_date >= #TBL_JSON_4.date_of_loss
			UNION
			SELECT
				24
			,	N'.dol_4'
			,	0-- oderby
			,	0-- dialog  
			,	#TBL_JSON_4.id + 1
			,	0
			,	N'date error'
			FROM #TBL_JSON_4
			WHERE #TBL_JSON_4.joining_date >= #TBL_JSON_4.date_of_loss
		END	 

		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			--Del
			--tb1
			UPDATE M0091
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0091
			LEFT JOIN #TBL_JSON_1 ON (
				#TBL_JSON_1.detail_no = M0091.detail_no
			AND #TBL_JSON_1.social_insurance_kbn = M0091.social_insurance_kbn
			)
			WHERE 
				M0091.company_cd	= @P_company_cd
			AND M0091.employee_cd	= @employee_cd
			AND M0091.del_datetime IS NULL
			AND #TBL_JSON_1.detail_no IS NULL
			AND M0091.social_insurance_kbn = 1
			
			--tb2
			UPDATE M0091
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0091
			LEFT JOIN #TBL_JSON_2 ON (
				#TBL_JSON_2.detail_no = M0091.detail_no
			AND #TBL_JSON_2.social_insurance_kbn = M0091.social_insurance_kbn
			)
			WHERE 
				M0091.company_cd	= @P_company_cd
			AND M0091.employee_cd	= @employee_cd
			AND M0091.del_datetime IS NULL
			AND #TBL_JSON_2.detail_no IS NULL
			AND M0091.social_insurance_kbn = 2

			--tb3
			UPDATE M0091
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0091
			LEFT JOIN #TBL_JSON_3 ON (
				#TBL_JSON_3.detail_no = M0091.detail_no
			AND #TBL_JSON_3.social_insurance_kbn = M0091.social_insurance_kbn
			)
			WHERE 
				M0091.company_cd	= @P_company_cd
			AND M0091.employee_cd	= @employee_cd
			AND M0091.del_datetime IS NULL
			AND #TBL_JSON_3.detail_no IS NULL
			AND M0091.social_insurance_kbn = 3

			--tb4
			UPDATE M0091
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0091
			LEFT JOIN #TBL_JSON_4 ON (
				#TBL_JSON_4.detail_no = M0091.detail_no
			AND #TBL_JSON_4.social_insurance_kbn = M0091.social_insurance_kbn
			)
			WHERE 
				M0091.company_cd	= @P_company_cd
			AND M0091.employee_cd	= @employee_cd
			AND M0091.del_datetime IS NULL
			AND #TBL_JSON_4.detail_no IS NULL
			AND M0091.social_insurance_kbn = 4

			--Upd
			UPDATE M0090
			SET
				employment_insurance_no					= @employment_insurance_no
			,	basic_pension_no						= @basic_pension_no
			,	employment_insurance_status				= @employment_insurance_status
			,	health_insurance_status					= @health_insurance_status
			,	health_insurance_reference_no			= @health_insurance_reference_no
			,	employees_pension_insurance_status		= @employees_pension_insurance_status
			,	employees_pension_reference_no			= @employees_pension_reference_no
			,	welfare_pension_status					= @welfare_pension_status
			,	employees_pension_member_no				= @employees_pension_member_no
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0090
			WHERE 
				M0090.company_cd	=	@P_company_cd
			AND	M0090.employee_cd	=	@employee_cd
			AND M0090.del_datetime	IS NULL

			--tb1
			UPDATE M0091
			SET
				joining_date							= #TBL_JSON_1.joining_date
			,	date_of_loss							= #TBL_JSON_1.date_of_loss
			,	reason_for_loss_kbn						= #TBL_JSON_1.reason_for_loss_kbn
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0091
			INNER JOIN #TBL_JSON_1		ON (
				M0091.detail_no				= #TBL_JSON_1.detail_no
			AND M0091.social_insurance_kbn	= #TBL_JSON_1.social_insurance_kbn
			)
			WHERE
				M0091.del_datetime IS NULL
			AND	M0091.company_cd	= @P_company_cd
			AND	M0091.employee_cd	= @employee_cd
			AND M0091.social_insurance_kbn = 1

			--tb2
			UPDATE M0091
			SET
				joining_date							= #TBL_JSON_2.joining_date
			,	date_of_loss							= #TBL_JSON_2.date_of_loss
			,	reason_for_loss							= #TBL_JSON_2.reason_for_loss
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0091
			INNER JOIN #TBL_JSON_2		ON (
				M0091.detail_no				= #TBL_JSON_2.detail_no
			AND M0091.social_insurance_kbn	= #TBL_JSON_2.social_insurance_kbn
			)
			WHERE
				M0091.del_datetime IS NULL
			AND	M0091.company_cd	= @P_company_cd
			AND	M0091.employee_cd	= @employee_cd
			AND M0091.social_insurance_kbn = 2

			--tb3
			UPDATE M0091
			SET
				joining_date							= #TBL_JSON_3.joining_date
			,	date_of_loss							= #TBL_JSON_3.date_of_loss
			,	reason_for_loss							= #TBL_JSON_3.reason_for_loss
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0091
			INNER JOIN #TBL_JSON_3		ON (
				M0091.detail_no				= #TBL_JSON_3.detail_no
			AND M0091.social_insurance_kbn	= #TBL_JSON_3.social_insurance_kbn
			)
			WHERE
				M0091.del_datetime IS NULL
			AND	M0091.company_cd	= @P_company_cd
			AND	M0091.employee_cd	= @employee_cd
			AND M0091.social_insurance_kbn = 3

			--tb4
			UPDATE M0091
			SET
				joining_date							= #TBL_JSON_4.joining_date
			,	date_of_loss							= #TBL_JSON_4.date_of_loss
			,	reason_for_loss							= #TBL_JSON_4.reason_for_loss
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0091
			INNER JOIN #TBL_JSON_4		ON (
				M0091.detail_no				= #TBL_JSON_4.detail_no
			AND M0091.social_insurance_kbn	= #TBL_JSON_4.social_insurance_kbn
			)
			WHERE
				M0091.del_datetime IS NULL
			AND	M0091.company_cd	= @P_company_cd
			AND	M0091.employee_cd	= @employee_cd
			AND M0091.social_insurance_kbn = 4

			--Ins
			IF EXISTS (SELECT 1 FROM M0090 WHERE M0090.company_cd = @P_company_cd AND M0090.employee_cd = @employee_cd)
			BEGIN
				UPDATE M0090
				SET
					employment_insurance_no					= @employment_insurance_no
				,	basic_pension_no						= @basic_pension_no
				,	employment_insurance_status				= @employment_insurance_status
				,	health_insurance_status					= @health_insurance_status
				,	health_insurance_reference_no			= @health_insurance_reference_no
				,	employees_pension_insurance_status		= @employees_pension_insurance_status
				,	employees_pension_reference_no			= @employees_pension_reference_no
				,	welfare_pension_status					= @welfare_pension_status
				,	employees_pension_member_no				= @employees_pension_member_no
				,	upd_user								= @P_cre_user
				,	upd_ip									= @P_cre_ip
				,	upd_prg									= N'M0070'
				,	upd_datetime							= @w_time
				,	del_user								= ''
				,	del_ip									= ''
				,	del_prg									= ''
				,	del_datetime							= NULL
				WHERE M0090.company_cd	= @P_company_cd 
				AND M0090.employee_cd	= @employee_cd
			END


			IF NOT EXISTS (SELECT 1 FROM M0090 WHERE M0090.company_cd = @P_company_cd AND M0090.employee_cd = @employee_cd)
			BEGIN
				INSERT INTO M0090
				SELECT
					@P_company_cd
				,	@employee_cd
				,	@employment_insurance_no
				,	@basic_pension_no
				,	@employment_insurance_status
				,	@health_insurance_status
				,	@health_insurance_reference_no
				,	@employees_pension_insurance_status
				,	@employees_pension_reference_no
				,	@welfare_pension_status
				,	@employees_pension_member_no
				,	@P_cre_user								--[cre_user]
				,	@P_cre_ip								--[cre_ip]
				,	'M0070'									--[cre_prg]
				,	@w_time									--[cre_datetime]
				,	''										--[upd_user]
				,	''										--[upd_ip]
				,	''										--[upd_prg]
				,	NULL									--[upd_datetime]
				,	''										--[del_user]
				,	''										--[del_ip]
				,	''										--[del_prg]
				,	NULL									--[del_datetime])
			END

			--tb1
			INSERT INTO M0091
			SELECT 
				@P_company_cd
			,	@employee_cd
			,	#TBL_JSON_1_CLONE.social_insurance_kbn
			,	#TBL_JSON_1_CLONE.id + @w_max1
			,	#TBL_JSON_1_CLONE.joining_date
			,	#TBL_JSON_1_CLONE.date_of_loss
			,	#TBL_JSON_1_CLONE.reason_for_loss_kbn
			,	''
			,	@P_cre_user							--,[cre_user]
			,	@P_cre_ip							--,[cre_ip]
			,	N'M0070'							--,[cre_prg]
			,	@w_time								--,[cre_datetime]
			,	N''									--,[upd_user]
			,	N''									--,[upd_ip]
			,	N''									--,[upd_prg]
			,	NULL								--,[upd_datetime]
			,	N''									--,[del_user]
			,	N''									--,[del_ip]
			,	N''									--,[del_prg]
			,	NULL								--,[del_datetime]
			FROM #TBL_JSON_1_CLONE

			--tb2
			INSERT INTO M0091
			SELECT 
				@P_company_cd
			,	@employee_cd
			,	#TBL_JSON_2_CLONE.social_insurance_kbn
			,	#TBL_JSON_2_CLONE.id + @w_max2
			,	#TBL_JSON_2_CLONE.joining_date
			,	#TBL_JSON_2_CLONE.date_of_loss
			,	0
			,	#TBL_JSON_2_CLONE.reason_for_loss
			,	@P_cre_user							--,[cre_user]
			,	@P_cre_ip							--,[cre_ip]
			,	N'M0070'							--,[cre_prg]
			,	@w_time								--,[cre_datetime]
			,	N''									--,[upd_user]
			,	N''									--,[upd_ip]
			,	N''									--,[upd_prg]
			,	NULL								--,[upd_datetime]
			,	N''									--,[del_user]
			,	N''									--,[del_ip]
			,	N''									--,[del_prg]
			,	NULL								--,[del_datetime]
			FROM #TBL_JSON_2_CLONE

			--tb3
			INSERT INTO M0091
			SELECT 
				@P_company_cd
			,	@employee_cd
			,	#TBL_JSON_3_CLONE.social_insurance_kbn
			,	#TBL_JSON_3_CLONE.id + @w_max3
			,	#TBL_JSON_3_CLONE.joining_date
			,	#TBL_JSON_3_CLONE.date_of_loss
			,	0
			,	#TBL_JSON_3_CLONE.reason_for_loss
			,	@P_cre_user							--,[cre_user]
			,	@P_cre_ip							--,[cre_ip]
			,	N'M0070'							--,[cre_prg]
			,	@w_time								--,[cre_datetime]
			,	N''									--,[upd_user]
			,	N''									--,[upd_ip]
			,	N''									--,[upd_prg]
			,	NULL								--,[upd_datetime]
			,	N''									--,[del_user]
			,	N''									--,[del_ip]
			,	N''									--,[del_prg]
			,	NULL								--,[del_datetime]
			FROM #TBL_JSON_3_CLONE

			--tb4
			INSERT INTO M0091
			SELECT 
				@P_company_cd
			,	@employee_cd
			,	#TBL_JSON_4_CLONE.social_insurance_kbn
			,	#TBL_JSON_4_CLONE.id + @w_max4
			,	#TBL_JSON_4_CLONE.joining_date
			,	#TBL_JSON_4_CLONE.date_of_loss
			,	0
			,	#TBL_JSON_4_CLONE.reason_for_loss
			,	@P_cre_user							--,[cre_user]
			,	@P_cre_ip							--,[cre_ip]
			,	N'M0070'							--,[cre_prg]
			,	@w_time								--,[cre_datetime]
			,	N''									--,[upd_user]
			,	N''									--,[upd_ip]
			,	N''									--,[upd_prg]
			,	NULL								--,[upd_datetime]
			,	N''									--,[del_user]
			,	N''									--,[del_ip]
			,	N''									--,[del_prg]
			,	NULL								--,[del_datetime]
			FROM #TBL_JSON_4_CLONE
		END
	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by

	SELECT 
		@employee_cd AS employee_cd

	DROP TABLE IF EXISTS #TBL_JSON_1
	DROP TABLE IF EXISTS #TBL_JSON_2
	DROP TABLE IF EXISTS #TBL_JSON_3
	DROP TABLE IF EXISTS #TBL_JSON_4
	DROP TABLE IF EXISTS #TBL_JSON_1_CLONE
	DROP TABLE IF EXISTS #TBL_JSON_2_CLONE
	DROP TABLE IF EXISTS #TBL_JSON_3_CLONE
	DROP TABLE IF EXISTS #TBL_JSON_4_CLONE
END
GO
