DROP PROCEDURE [SPC_REFER_TREATMENT_APPLICATION_NO_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	LIST DATA
--*  
--* 作成日/create date			:	2018/09/24											
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:  	2020/03/06				
--*	更新者/updater				:　 viettd					     	 
--*	更新内容/update content		:	add condition F0011.sheet_use_typ			
--*   					
--*	更新日/update date			:  	2020/03/13				
--*	更新者/updater				:　 viettd					     	 
--*	更新内容/update content		:	add param from_screen_id				
--****************************************************************************************
CREATE PROCEDURE [SPC_REFER_TREATMENT_APPLICATION_NO_INQ1]
	@P_fiscal_year			SMALLINT		=	0
,	@P_company_cd			SMALLINT		=	0
,	@P_from_screen_id		NVARCHAR(10)	=	'' -- FROM SCREEN
AS
BEGIN
	SET NOCOUNT ON;
    --[0]
	SELECT 
		ISNULL(F0011.company_cd,0)								AS	company_cd
	,	ISNULL(F0011.treatment_applications_no,0)				AS	treatment_applications_no
	,	ISNULL(M0102.treatment_applications_nm,'')				AS	treatment_applications_nm
	,	ISNULL(F0011.use_typ,0)									AS	use_typ
	FROM F0011
	LEFT OUTER JOIN M0102 ON (
		F0011.company_cd				=	M0102.company_cd
	AND F0011.treatment_applications_no	=	M0102.detail_no
	)
	WHERE
		F0011.company_cd			=	@P_company_cd
	AND F0011.fiscal_year			=	@P_fiscal_year
	AND F0011.use_typ				=	1
	-- 
	AND (
		@P_from_screen_id = 'I2040'
	OR	@P_from_screen_id = '' AND F0011.sheet_use_typ			=	1	-- add by viettd 2020/06/06
	)
	AND F0011.del_datetime IS NULL
	AND M0102.del_datetime IS NULL
END
GO