DROP PROCEDURE [SPC_REFER_REPORTER_FND1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [dbo].[SPC_REFER_REPORTER_FND1] '2024','acc020',10035,'2022'
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	LIST REPOTERS FOR LOGIN USER CAN VIEW
--*  
--* 作成日/create date			:	2023/05/22											
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:	
--*	更新者/updater				:　	
--*	更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [SPC_REFER_REPORTER_FND1]
	@P_fiscal_year				smallint			=	0
,	@P_cre_user					nvarchar(50)		=	''	
,	@P_company_cd				smallint			=	0
,	@P_begin_fiscal_year		smallint			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE
		@w_report_authority_typ	smallint			=	0
	,	@w_employee_cd_login	nvarchar(10)		=	''
	--,	@w_fiscal_year_current	int					=	[dbo].FNC_GET_YEAR_WEEKLY_REPORT(@P_company_cd,NULL)
	--
	IF object_id('tempdb..#TABLE_REPOTERS', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #TABLE_REPOTERS
    END
	--
	IF object_id('tempdb..#TABLE_REPOTERS_CAN_VIEW', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #TABLE_REPOTERS_CAN_VIEW
    END
	--
	CREATE TABLE #TABLE_REPOTERS (
		company_cd					smallint
	,	fiscal_year					smallint
	,	employee_cd					nvarchar(10)
	,	employee_nm					nvarchar(200)
	)
	-- #TABLE_REPOTERS_CAN_VIEW
	CREATE TABLE #TABLE_REPOTERS_CAN_VIEW (
		company_cd					smallint
	,	fiscal_year					smallint
	,	employee_cd					nvarchar(10)
	)
	-- GET INFORMATION OF LOGIN USER 
	SELECT 
		@w_report_authority_typ	=	ISNULL(S0010.report_authority_typ,0)
	,	@w_employee_cd_login	=	ISNULL(S0010.employee_cd,'')
	FROM S0010
	WHERE
		S0010.company_cd	=	@P_company_cd
	AND S0010.user_id		=	@P_cre_user
	AND S0010.del_datetime IS NULL
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- check report_authority_typ of login user 
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--1. 報告者
	IF @w_report_authority_typ = 1
	BEGIN
		INSERT INTO #TABLE_REPOTERS
		SELECT 
			M0070.company_cd
		,	@P_fiscal_year
		,	M0070.employee_cd
		,	M0070.employee_nm
		FROM M0070
		WHERE
			M0070.company_cd	=	@P_company_cd
		AND M0070.employee_cd	=	@w_employee_cd_login
		AND M0070.del_datetime IS NULL
		-- GOTO RESULT
		GOTO COMPLETED
	END
	-- 2.承認者
	IF @w_report_authority_typ = 2
	BEGIN
		INSERT INTO #TABLE_REPOTERS
		SELECT 
			F4111.company_cd
		,	F4111.fiscal_year
		,	F4111.employee_cd
		,	ISNULL(M0070.employee_nm,'')
		FROM F4111
		LEFT OUTER JOIN M0070 ON (
			F4111.company_cd		=	M0070.company_cd
		AND F4111.employee_cd		=	M0070.employee_cd
		AND M0070.del_datetime IS NULL
		)
		WHERE 
			F4111.company_cd		=	@P_company_cd
		AND (
			(@P_begin_fiscal_year = 0
		AND	F4111.fiscal_year		=	@P_fiscal_year)
		OR	(@P_begin_fiscal_year <> 0
		AND	F4111.fiscal_year		<=	@P_fiscal_year
		AND F4111.fiscal_year		>=	@P_begin_fiscal_year)
		)
		AND F4111.del_datetime IS NULL
		AND (
			F4111.approver_employee_cd_1	=	@w_employee_cd_login
		OR	F4111.approver_employee_cd_2	=	@w_employee_cd_login
		OR	F4111.approver_employee_cd_3	=	@w_employee_cd_login
		OR	F4111.approver_employee_cd_4	=	@w_employee_cd_login
		)
		-- INSERT MYSELF
		IF NOT EXISTS (SELECT 1 FROM #TABLE_REPOTERS WHERE company_cd = @P_company_cd AND employee_cd = @w_employee_cd_login)
		BEGIN
			INSERT INTO #TABLE_REPOTERS
			SELECT 
				company_cd
			,	@P_fiscal_year
			,	employee_cd
			,	employee_nm
			FROM M0070
			WHERE
				M0070.company_cd	=	@P_company_cd
			AND M0070.employee_cd	=	@w_employee_cd_login
			AND M0070.del_datetime IS NULL
		END
		-- GOTO RESULT
		GOTO COMPLETED
	END
	-- 3.管理者 / 4.会社管理者 / 5.総合管理者
	IF @w_report_authority_typ IN (3,4,5)
	BEGIN
		INSERT INTO #TABLE_REPOTERS
		SELECT 
			M0070.company_cd
		,	@P_fiscal_year
		,	M0070.employee_cd
		,	M0070.employee_nm
		FROM M0070
		WHERE
			M0070.company_cd	=	@P_company_cd
		AND M0070.del_datetime IS NULL
		-- GOTO RESULT
		GOTO COMPLETED
	END
COMPLETED:
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- 3.閲覧者
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	INSERT INTO #TABLE_REPOTERS_CAN_VIEW
	SELECT 
		F4120.company_cd	
	,	F4120.fiscal_year	
	,	F4120.employee_cd	
	FROM F4120
	WHERE 
		F4120.company_cd			=	@P_company_cd
	AND (
			(@P_begin_fiscal_year = 0
		AND	F4120.fiscal_year		=	@P_fiscal_year)
		OR	(@P_begin_fiscal_year <> 0
		AND	F4120.fiscal_year		<=	@P_fiscal_year
		AND F4120.fiscal_year		>=	@P_begin_fiscal_year)
	)
	AND F4120.viewer_employee_cd	=	@w_employee_cd_login
	AND F4120.del_datetime IS NULL
	GROUP BY
		F4120.company_cd
	,	F4120.fiscal_year
	,	F4120.employee_cd
	--
	INSERT INTO #TABLE_REPOTERS_CAN_VIEW
	SELECT 
		F4207_TMP.company_cd	
	,	F4207_TMP.fiscal_year	
	,	F4207_TMP.employee_cd	
	FROM 
	(
		SELECT 
			F4207.company_cd	
		,	F4207.fiscal_year	
		,	F4207.employee_cd
		FROM F4207
		WHERE
			F4207.company_cd			=	@P_company_cd
		AND (
			(@P_begin_fiscal_year = 0
		AND	F4207.fiscal_year		=	@P_fiscal_year)
		OR	(@P_begin_fiscal_year <> 0
		AND	F4207.fiscal_year		<=	@P_fiscal_year
		AND F4207.fiscal_year		>=	@P_begin_fiscal_year)
	)
		AND F4207.sharewith_employee_cd	=	@w_employee_cd_login
		AND F4207.del_datetime IS NULL
		GROUP BY
			F4207.company_cd
		,	F4207.fiscal_year
		,	F4207.employee_cd
	) AS F4207_TMP 
	LEFT OUTER JOIN #TABLE_REPOTERS_CAN_VIEW AS S ON (
		F4207_TMP.company_cd		=	S.company_cd
	AND F4207_TMP.fiscal_year		=	S.fiscal_year
	AND F4207_TMP.employee_cd		=	S.employee_cd
	)
	WHERE 
		S.employee_cd IS NULL
	-- INSERT INTO #TABLE_REPOTERS
	IF EXISTS (SELECT 1 FROM #TABLE_REPOTERS_CAN_VIEW)
	BEGIN
		INSERT INTO #TABLE_REPOTERS
		SELECT 
			I.company_cd
		,	I.fiscal_year
		,	I.employee_cd
		,	ISNULL(M0070.employee_nm,'')
		FROM #TABLE_REPOTERS_CAN_VIEW AS I
		LEFT OUTER JOIN #TABLE_REPOTERS AS S ON (
			I.company_cd		=	S.company_cd
		AND I.fiscal_year		=	S.fiscal_year
		AND I.employee_cd		=	S.employee_cd
		)
		LEFT OUTER JOIN M0070 ON (
			I.company_cd		=	M0070.company_cd
		AND I.employee_cd		=	M0070.employee_cd
		AND M0070.del_datetime IS NULL
		)
		WHERE 
			S.company_cd IS NULL
	END
	--
	--[0]
	SELECT 
		company_cd			AS	company_cd
	,	fiscal_year			AS	fiscal_year
	,	employee_cd			AS	employee_cd
	,	employee_nm			AS	employee_nm
	FROM #TABLE_REPOTERS
END
GO