DROP PROCEDURE [SPC_REFER_M0071_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [dbo].[SPC_REFER_M0071_INQ1] NULL,'',1007
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	REFER EMPLOYEE HISTORY M0071
--*  
--* 作成日/create date			:	2022/08/15											
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:  	
--*	更新者/updater				:　 
--*	更新内容/update content		:		
--*   									
--****************************************************************************************
CREATE PROCEDURE [SPC_REFER_M0071_INQ1]
	@P_fiscal_year			int				=	0		-- required
,	@P_employee_cd			nvarchar(10)	=	''		
,	@P_sheet_cd				smallint		=	0
,	@P_company_cd			smallint		=	0		-- required
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE
		@w_i						int			=	1
	,	@w_cnt						int			=	0
	,	@w_period_to				date		=	NULL
	,	@w_beginning_date			date		=	NULL
	--
	CREATE TABLE #M0071(
		id						int				identity(1,1)
	,	company_cd				smallint
	,	employee_cd				nvarchar(10)
	,	fiscal_year				int
	,	sheet_cd				smallint
	,	period_from				date			-- 期間の開始日
	,	period_to				date			-- 期間の完了日
	,	application_date		date
	)
	--
	SELECT 
		@w_beginning_date = M9100.beginning_date
	FROM M9100
	WHERE 
		M9100.company_cd	=	@P_company_cd
	AND M9100.del_datetime	IS NULL
	--
	INSERT INTO #M0071
	SELECT 
		F0100.company_cd
	,	F0100.employee_cd
	,	F0100.fiscal_year
	,	F0100.sheet_cd
	,	CONVERT(DATE,CAST(F0100.fiscal_year AS NVARCHAR(4)) + '-' + FORMAT(M0101.period_from,'MM-dd'))
	,	CASE
			-- M0101.period_from < @w_beginning_date add year plus +1
			WHEN CONVERT(DATE,'1900-'+FORMAT(M0101.period_from,'MM-dd')) < CONVERT(DATE,'1900-'+FORMAT(@w_beginning_date,'MM-dd'))
			THEN CONVERT(DATE,CAST((F0100.fiscal_year + 1) AS NVARCHAR(4)) + '-' + FORMAT(M0101.period_to,'MM-dd'))
			-- M0101.period_from >= @w_beginning_date add M0101.period_from < M0101.period_to then this year
			WHEN CONVERT(DATE,'1900-'+FORMAT(M0101.period_from,'MM-dd')) >= CONVERT(DATE,'1900-'+FORMAT(@w_beginning_date,'MM-dd')) AND M0101.period_from < M0101.period_to
			THEN CONVERT(DATE,CAST(F0100.fiscal_year AS NVARCHAR(4)) + '-' + FORMAT(M0101.period_to,'MM-dd'))
			-- else year plus +1
			ELSE CONVERT(DATE,CAST((F0100.fiscal_year + 1) AS NVARCHAR(4)) + '-' + FORMAT(M0101.period_to,'MM-dd'))
		END					AS	period_to
	,	NULL				AS	application_date
	FROM F0100
	LEFT OUTER JOIN W_M0200 ON (
		F0100.company_cd		=	W_M0200.company_cd
	AND F0100.fiscal_year		=	W_M0200.fiscal_year
	AND F0100.sheet_cd			=	W_M0200.sheet_cd
	AND W_M0200.del_datetime IS NULL
	)
	LEFT OUTER JOIN M0101 ON (
		W_M0200.company_cd			=	M0101.company_cd
	AND W_M0200.evaluation_period	=	M0101.detail_no
	AND M0101.del_datetime IS NULL
	)
	WHERE 
		F0100.company_cd		=	@P_company_cd
	AND F0100.fiscal_year		=	@P_fiscal_year
	AND F0100.del_datetime IS NULL
	AND (
		@P_sheet_cd = 0
	OR	(@P_sheet_cd <> 0 AND F0100.sheet_cd = @P_sheet_cd)
	)
	AND (
		@P_employee_cd = ''
	OR	(@P_employee_cd <> '' AND F0100.employee_cd = @P_employee_cd)
	)
	-- UPDATE application_date FROM M0071
	SET @w_cnt = (SELECT COUNT(1) FROM #M0071)
	WHILE @w_i <= @w_cnt
	BEGIN
		SET @w_period_to = (SELECT #M0071.period_to FROM #M0071 WHERE #M0071.id = @w_i)
		--UPDATE application_date FROM M0071
		UPDATE #M0071 SET
			application_date = M0071_MAX.application_date
		FROM #M0071
		INNER JOIN (
			SELECT 
				M0071.company_cd			AS	company_cd
			,	M0071.employee_cd			AS	employee_cd
			,	MAX(M0071.application_date)	AS	application_date
			FROM M0071
			WHERE 
				M0071.company_cd		=	@P_company_cd
			AND M0071.application_date	<=	@w_period_to
			AND M0071.del_datetime IS NULL
			GROUP BY
				M0071.company_cd
			,	M0071.employee_cd
		) AS M0071_MAX ON (
			#M0071.company_cd		=	M0071_MAX.company_cd
		AND #M0071.employee_cd		=	M0071_MAX.employee_cd
		)
		WHERE #M0071.id = @w_i
		--
		SET @w_i = @w_i + 1
	END
	--[0]
	SELECT 
		#M0071.company_cd						AS	company_cd	
	,	#M0071.employee_cd						AS	employee_cd	
	,	#M0071.fiscal_year						AS	fiscal_year	
	,	#M0071.sheet_cd							AS	sheet_cd	
	,	#M0071.application_date					AS	application_date
	,	ISNULL(M0070.employee_nm,'')			AS	employee_nm
	,	SPACE(0)								AS	employee_ab_nm
	,	ISNULL(M0070.furigana,'')				AS	furigana
	,	ISNULL(M0071.office_cd,0)				AS	office_cd
	,	ISNULL(M0010.office_nm,'')				AS	office_nm
	,	ISNULL(M0071.belong_cd1,'')				AS	belong_cd1
	,	ISNULL(M0071.belong_cd2,'')				AS	belong_cd2
	,	ISNULL(M0071.belong_cd3,'')				AS	belong_cd3
	,	ISNULL(M0071.belong_cd4,'')				AS	belong_cd4
	,	ISNULL(M0071.belong_cd5,'')				AS	belong_cd5
	,	ISNULL(M0071.job_cd,0)					AS	job_cd
	,	ISNULL(M0071.position_cd,0)				AS	position_cd
	,	ISNULL(M0071.employee_typ,0)			AS	employee_typ
	,	ISNULL(M0071.grade,0)					AS	grade
	,CASE
		WHEN ISNULL(m0020_1.organization_ab_nm,'') = '' THEN ISNULL(m0020_1.organization_nm,'')	
		ELSE m0020_1.organization_ab_nm
	END																						AS belong_cd1_nm
	,CASE
		WHEN ISNULL(m0020_2.organization_ab_nm,'') = '' THEN ISNULL(m0020_2.organization_nm,'')		
		ELSE m0020_2.organization_ab_nm
	END																						AS belong_cd2_nm
	,CASE
		WHEN ISNULL(m0020_3.organization_ab_nm,'') = '' THEN ISNULL(m0020_3.organization_nm,'')		
		ELSE m0020_3.organization_ab_nm
	END																						AS belong_cd3_nm
	,CASE
		WHEN ISNULL(m0020_4.organization_ab_nm,'') = '' THEN ISNULL(m0020_4.organization_nm,'')		
		ELSE m0020_4.organization_ab_nm
	END																						AS belong_cd4_nm
	,CASE
		WHEN ISNULL(m0020_5.organization_ab_nm,'') = '' THEN ISNULL(m0020_5.organization_nm,'')		
		ELSE m0020_5.organization_ab_nm
	END																						AS belong_cd5_nm
	,CASE
		WHEN ISNULL(m0030.job_ab_nm,'') = '' THEN ISNULL(m0030.job_nm,'')		
		ELSE m0030.job_ab_nm
	END																						AS	job_nm
	,CASE
		WHEN ISNULL(M0040.position_ab_nm,'') = '' THEN ISNULL(M0040.position_nm,'')		
		ELSE M0040.position_ab_nm
	END																						AS	position_nm
	,	ISNULL(M0050.grade_nm,'')				AS	grade_nm
	,	ISNULL(M0060.employee_typ_nm,'')		AS	employee_typ_nm
	FROM #M0071
	LEFT OUTER JOIN M0071 ON (
		#M0071.company_cd			=	M0071.company_cd
	AND #M0071.employee_cd			=	M0071.employee_cd
	AND #M0071.application_date		=	M0071.application_date
	)
	LEFT OUTER JOIN M0070 ON (
		M0071.company_cd				=	M0070.company_cd
	AND M0071.employee_cd				=	M0070.employee_cd
	)
	LEFT OUTER JOIN M0010 ON (
		M0071.company_cd				=	M0010.company_cd
	AND M0071.office_cd					=	M0010.office_cd
	)
	
	LEFT OUTER JOIN M0020 AS M0020_1 ON (
		M0071.company_cd				=	M0020_1.company_cd
	AND M0071.belong_cd1				=	M0020_1.organization_cd_1
	AND SPACE(0)						=	M0020_1.organization_cd_2
	AND SPACE(0)						=	M0020_1.organization_cd_3
	AND SPACE(0)						=	M0020_1.organization_cd_4
	AND SPACE(0)						=	M0020_1.organization_cd_5
	AND	1								=	M0020_1.organization_typ
	)
	LEFT OUTER JOIN M0020 AS M0020_2 ON (
		M0071.company_cd				=	M0020_2.company_cd
	AND M0071.belong_cd1				=	M0020_2.organization_cd_1
	AND M0071.belong_cd2				=	M0020_2.organization_cd_2
	AND SPACE(0)						=	M0020_1.organization_cd_3
	AND SPACE(0)						=	M0020_1.organization_cd_4
	AND SPACE(0)						=	M0020_1.organization_cd_5
	AND	2								=	M0020_2.organization_typ
	)
	LEFT OUTER JOIN M0020 AS M0020_3 ON (
		M0071.company_cd				=	M0020_3.company_cd
	AND M0071.belong_cd1				=	M0020_3.organization_cd_1
	AND M0071.belong_cd2				=	M0020_3.organization_cd_2
	AND M0071.belong_cd3				=	M0020_3.organization_cd_3
	AND SPACE(0)						=	M0020_1.organization_cd_4
	AND SPACE(0)						=	M0020_1.organization_cd_5
	AND	3								=	M0020_3.organization_typ
	)
	LEFT OUTER JOIN M0020 AS M0020_4 ON (
		M0071.company_cd				=	M0020_4.company_cd
	AND M0071.belong_cd1				=	M0020_4.organization_cd_1
	AND M0071.belong_cd2				=	M0020_4.organization_cd_2
	AND M0071.belong_cd3				=	M0020_4.organization_cd_3
	AND M0071.belong_cd4				=	M0020_4.organization_cd_4
	AND SPACE(0)						=	M0020_1.organization_cd_5
	AND	4								=	M0020_4.organization_typ
	)
	LEFT OUTER JOIN M0020 AS M0020_5 ON (
		M0071.company_cd				=	M0020_5.company_cd
	AND M0071.belong_cd1				=	M0020_5.organization_cd_1
	AND M0071.belong_cd2				=	M0020_5.organization_cd_2
	AND M0071.belong_cd3				=	M0020_5.organization_cd_3
	AND M0071.belong_cd4				=	M0020_5.organization_cd_4
	AND M0071.belong_cd5				=	M0020_5.organization_cd_5
	AND	5								=	M0020_5.organization_typ
	)
	LEFT OUTER JOIN M0030 ON (
		M0071.company_cd				=	M0030.company_cd
	AND M0071.job_cd					=	M0030.job_cd
	)
	LEFT OUTER JOIN M0040 ON (
		M0071.company_cd				=	M0040.company_cd
	AND M0071.position_cd				=	M0040.position_cd
	)
	LEFT OUTER JOIN M0050 ON (
		M0071.company_cd				=	M0050.company_cd
	AND M0071.grade						=	M0050.grade
	)
	LEFT OUTER JOIN M0060 ON (
		M0071.company_cd				=	M0060.company_cd
	AND M0071.employee_typ				=	M0060.employee_typ
	)
END
GO