DROP PROCEDURE [SPC_REFER_STATUS_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	LIST DATA
--*  
--* 作成日/create date			:	2018/09/24											
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:  	2020/03/17				
--*	更新者/updater				:　 viettd 　								     	 
--*	更新内容/update content		:	when not exists M0310 then L0040	
--*   					
--*  更新日/update date			:	2022/08/16
--*　更新者/updater				:	vietdt　
--*　更新内容/update content		:	upgrade 1.9
--****************************************************************************************
CREATE PROCEDURE [SPC_REFER_STATUS_INQ1]
	@P_category			SMALLINT		=	0
,	@P_company_cd		SMALLINT		=	0
,	@P_language			NVARCHAR(10)	=	'jp'	
AS
BEGIN
	SET NOCOUNT ON;
	--
	IF object_id('tempdb..#TABLE_M0310', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #TABLE_M0310
    END
	--
	CREATE TABLE #TABLE_M0310(
		id					int		identity(1,1)
	,	company_cd			smallint
	,	status_cd			smallint
	,	status_nm			nvarchar(100)
	,	status_use_typ		tinyint
	)
	--
	INSERT INTO #TABLE_M0310
	SELECT 
		ISNULL(M0310.company_cd,0)				AS	company_cd
	,	ISNULL(M0310.status_cd,0)				AS	status_cd
	,	CASE 
			WHEN ISNULL(M0310.status_nm,'') <> ''
			THEN ISNULL(M0310.status_nm,'')
			ELSE ISNULL(IIF(@P_language = 'en',L0040.status_nm_english,L0040.status_nm),'')
		END										AS	status_nm
	,	ISNULL(M0310.status_use_typ,0)			AS	status_use_typ
	FROM M0310
	LEFT OUTER JOIN L0040 ON (
		M0310.category				=	L0040.category
	AND M0310.status_cd				=	L0040.status_cd
	AND L0040.del_datetime IS NULL
	)
	WHERE
		M0310.company_cd			=	@P_company_cd
	AND M0310.category				=	@P_category
	AND M0310.status_use_typ		=	1
	AND M0310.del_datetime IS NULL
	--
	IF NOT EXISTS (SELECT 1 FROM #TABLE_M0310)
	BEGIN
		INSERT INTO #TABLE_M0310
		SELECT 
			@P_company_cd
		,	L0040.status_cd
		,	IIF(@P_language = 'en',L0040.status_nm_english,L0040.status_nm)
		,	1
		FROM L0040
		WHERE 
			L0040.category		=	@P_category
		AND L0040.status_cd		=	0	--	0.未処理
	END
	--[0]
	SELECT 
		company_cd
	,	status_cd
	,	status_nm
	,	status_use_typ
	FROM #TABLE_M0310
END
GO