DROP PROCEDURE [SPC_REFER_SHEET_CD_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	LIST DATA
--*  
--* 作成日/create date			:	2018/09/24											
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　					
--****************************************************************************************
CREATE PROCEDURE [SPC_REFER_SHEET_CD_INQ1]
	@P_fiscal_year		SMALLINT		=	0
,	@P_category			SMALLINT		=	0
,	@P_evaluation_typ	SMALLINT		=	0
,	@P_company_cd		SMALLINT		=	0
AS
BEGIN
	SET NOCOUNT ON;
    --[0]
	SELECT 
		ISNULL(W_M0200.company_cd,0)				AS	company_cd
	,	ISNULL(W_M0200.sheet_cd,0)				AS	sheet_cd
	,	ISNULL(W_M0200.sheet_nm,'')				AS	sheet_nm
	,	ISNULL(W_M0200.sheet_kbn,0)				AS	sheet_kbn
	,	ISNULL(W_M0200.sheet_ab_nm,'')			AS	sheet_ab_nm
	FROM W_M0200
	WHERE
		W_M0200.company_cd				=	@P_company_cd
	AND W_M0200.fiscal_year				=	@P_fiscal_year
	AND W_M0200.category				=	@P_category
	AND W_M0200.sheet_kbn				=	@P_evaluation_typ
	AND W_M0200.del_datetime IS NULL
END
GO