/****** Object:  StoredProcedure [dbo].[SPC_REFER_EMPLOYEE_INQ2]    Script Date: 2018/09/11 14:28:51 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_REFER_EMPLOYEE_INQ2]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--EXEC [SPC_REFER_EMPLOYEE_INQ2]'','';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	
--*  
--*  作成日/create date			:	2018/11/20				
--*　作成者/creater				:	Longvv								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_REFER_EMPLOYEE_INQ2]
	@P_company_cd		SMALLINT		= 0
,	@P_employee_cd		NVARCHAR(10)	= ''
AS
BEGIN
	DECLARE 
		@w_time						DATE			=	SYSDATETIME()
	 --[0]
	 IF EXISTS(
		SELECT 1
		FROM M0070 WITH(NOLOCK)
		WHERE 
			M0070.company_cd	=	@P_company_cd
		AND M0070.employee_cd	=	@P_employee_cd
		AND M0070.del_datetime	IS NULL
	 )
	 BEGIN
		SELECT 
			M0070.employee_cd					AS employee_cd
		,	M0070.employee_nm					AS employee_nm
		,	ISNULL(M0070.job_cd,0)				AS job_cd
		,	CASE
			WHEN ISNULL(m0030.job_ab_nm,'') = '' THEN ISNULL(m0030.job_nm,'')		
			ELSE m0030.job_ab_nm
			END																						AS	job_nm
		,	ISNULL(M0070.position_cd,0)			AS position_cd
		,	CASE
			WHEN ISNULL(M0040.position_ab_nm,'') = '' THEN ISNULL(M0040.position_nm,'')		
			ELSE M0040.position_ab_nm
			END		AS	position_nm
		,	ISNULL(M0070.grade,0)				AS grade
		,	ISNULL(M0050.grade_nm,'')			AS grade_nm
		,	ISNULL(M0070.employee_typ,0)		AS employee_typ
		,	ISNULL(M0060.employee_typ_nm,'')	AS employee_typ_nm
		FROM M0070 WITH(NOLOCK)
		LEFT OUTER JOIN M0030 ON (
			M0070.company_cd				=	M0030.company_cd
		AND M0070.job_cd					=	M0030.job_cd
		)
		LEFT OUTER JOIN M0040 ON (
			M0070.company_cd				=	M0040.company_cd
		AND M0070.position_cd				=	M0040.position_cd
		)
		LEFT OUTER JOIN M0050 ON (
			M0070.company_cd				=	M0050.company_cd
		AND M0070.grade						=	M0050.grade
		)
		LEFT OUTER JOIN M0060 ON (
			M0070.company_cd				=	M0060.company_cd
		AND M0070.employee_typ				=	M0060.employee_typ
		)
		WHERE (M0070.company_cd	= @P_company_cd)
		AND (M0070.employee_cd	= @P_employee_cd)
		AND (M0070.del_datetime IS NULL)
		AND (M0070.company_out_dt IS  NULL OR M0070.company_out_dt >=  @w_time)
	 END
	 ELSE 
	 BEGIN
			SELECT 1
	 END
END
GO