DROP PROCEDURE [SPC_REFER_GROUP_FROM_YEAR_1ON1_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_REFER_GROUP_FROM_YEAR_1ON1_INQ1] 2020,'721',740
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	refer groups from fiscal_year
--*  
--* 作成日/create date			:	2020/11/30											
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:  	2022/01/20
--*	更新者/updater				:　 vietdt
--*	更新内容/update content		:	when @w_1on1_authority_typ = 2 remove condition coach
--*   								
--****************************************************************************************
CREATE PROCEDURE [SPC_REFER_GROUP_FROM_YEAR_1ON1_INQ1]
	@P_fiscal_year			smallint		=	0
,	@P_employee_cd			nvarchar(10)	=	''	-- login employee_cd
,	@P_company_cd			smallint		=	0
AS
BEGIN
	SET NOCOUNT ON;
	-- get authority of employee_cd login
	DECLARE
		@w_1on1_authority_typ		smallint		=	0
	-- create temp table
	CREATE TABLE #GROUP_TABLE (
		id					int			identity(1,1)
	,	[1on1_group_cd]		smallint
	)
	SELECT 
		@w_1on1_authority_typ = ISNULL(S0010.[1on1_authority_typ],0)
	FROM S0010
	WHERE 
		S0010.company_cd		=	@P_company_cd
	AND S0010.employee_cd		=	@P_employee_cd
	AND S0010.del_datetime IS NULL
	-- @w_1on1_authority_typ = 1 -- member
	IF @w_1on1_authority_typ = 1
	BEGIN
		INSERT INTO #GROUP_TABLE
		SELECT 
			ISNULL(F2000.[1on1_group_cd],0)			AS	group_cd_1on1
		FROM F2000 WITH(NOLOCK)
		WHERE 
			F2000.company_cd		=	@P_company_cd
		AND F2000.fiscal_year		=	@P_fiscal_year
		AND F2000.employee_cd		=	@P_employee_cd
		AND F2000.del_datetime IS NULL
		GOTO COMPLETE
	END
	-- @w_1on1_authority_typ = 2 -- coach
	IF @w_1on1_authority_typ = 2
	BEGIN
		INSERT INTO #GROUP_TABLE
		SELECT 
			DISTINCT
			ISNULL(F2000.[1on1_group_cd],0)		AS	[1on1_group_cd]
		FROM F2001 WITH(NOLOCK)
		LEFT OUTER JOIN F2000 WITH(NOLOCK) ON (
			F2001.company_cd		=	F2000.company_cd
		AND F2001.fiscal_year		=	F2000.fiscal_year
		AND F2001.employee_cd		=	F2000.employee_cd
		)
		WHERE 
			F2001.company_cd		=	@P_company_cd
		AND F2001.fiscal_year		=	@P_fiscal_year
		--AND F2001.coach_cd			=	@P_employee_cd	--edit vietdt 2022/01/20
		AND F2001.del_datetime IS NULL
		AND F2000.del_datetime IS NULL
		GOTO COMPLETE
	END
	--@w_1on1_authority_typ IN(3,4,5) -- admin
	IF @w_1on1_authority_typ IN(3,4,5)
	BEGIN
		INSERT INTO #GROUP_TABLE
		SELECT 
			DISTINCT
			ISNULL(F2000.[1on1_group_cd],0)		AS	[1on1_group_cd]
		FROM F2001 WITH(NOLOCK)
		LEFT OUTER JOIN F2000 WITH(NOLOCK) ON (
			F2001.company_cd		=	F2000.company_cd
		AND F2001.fiscal_year		=	F2000.fiscal_year
		AND F2001.employee_cd		=	F2000.employee_cd
		)
		WHERE 
			F2001.company_cd		=	@P_company_cd
		AND F2001.fiscal_year		=	@P_fiscal_year
		AND F2001.del_datetime IS NULL
		AND F2000.del_datetime IS NULL
		GOTO COMPLETE
	END 
COMPLETE:
	--[0]
	SELECT 
		ISNULL(#GROUP_TABLE.[1on1_group_cd],0)		AS	group_cd_1on1
	,	ISNULL(M2600.[1on1_group_nm],'')			AS	group_nm_1on1
	FROM #GROUP_TABLE
	LEFT OUTER JOIN M2600 WITH(NOLOCK) ON(
		@P_company_cd					=	M2600.company_cd
	AND	#GROUP_TABLE.[1on1_group_cd]	=	M2600.[1on1_group_cd]
	)
END
GO