DROP PROCEDURE [SPC_REFER_ORGANIZATION_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	LIST DATA
--*  
--* 作成日/create date			:	2018/09/24											
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:	2019/05/28				
--*	更新者/updater				:　 viettd 　								     	 
--*	更新内容/update content		:	update ver 1.5　	
--*   					
--*	更新日/update date			:	2019/12/11				
--*	更新者/updater				:　 viettd 　								     	 
--*	更新内容/update content		:	update ver 1.6　	
--*   					
--*	更新日/update date			:	2020/10/05				
--*	更新者/updater				:　 viettd 　								     	 
--*	更新内容/update content		:	update ver 1.7&1on1　
--*   					
--*	更新日/update date			:  	2020/12/02
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	add module 1on1 & multireview
--*   					
--*	更新日/update date			:  	2023/03/30
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	upgrade ver2.0
--*   					
--*	更新日/update date			:  	2024/03/18
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	upgrade ver2.1
--*   					
--****************************************************************************************
CREATE PROCEDURE [SPC_REFER_ORGANIZATION_INQ1]
	@P_json				NVARCHAR(MAX)	= ''
,	@P_user_id			NVARCHAR(50)	= ''
,	@P_company_cd		SMALLINT		= 0
,	@P_system			smallint		= 1	-- 1.人事評価 2.1on1 3.マルチレビュー 4.共通設定 5.週報 6.社員情報 (61.社員コミュニケ―ション)
AS
BEGIN
	SET NOCOUNT ON;
    --
	DECLARE 
		@employee_cd						nvarchar(10)		=	''		-- login user 
	,	@organization_typ					tinyint				=	0
	,	@organization_typ_next				tinyint				=	0
	--
	,	@w_authority_typ					smallint			=	0
	,	@w_1on1_authority_typ				smallint			=	0
	,	@w_multireview_authority_typ		smallint			=	0
	,	@w_setting_authority_typ			smallint			=	0
	,	@w_report_authority_typ				smallint			=	0
	,	@w_empinfo_authority_typ			smallint			=	0
	--
	IF object_id('tempdb..#TABLE_JSON', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #TABLE_JSON
    END
	--
	IF object_id('tempdb..#TABLE_RESULT', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #TABLE_RESULT
    END
	--
	IF object_id('tempdb..#TABLE', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #TABLE
    END
	--
	IF object_id('tempdb..#TABLE_ORGANIZATION', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #TABLE_ORGANIZATION
    END
	--
	CREATE TABLE #TABLE_ORGANIZATION (
		organization_typ				tinyint
	,	organization_cd_1				nvarchar(20)
	,	organization_cd_2				nvarchar(20)
	,	organization_cd_3				nvarchar(20)
	,	organization_cd_4				nvarchar(20)
	,	organization_cd_5				nvarchar(20)	
	,	choice_in_screen				tinyint		-- 1.choice in screen 0.get from master S0022
	)
	--
	CREATE TABLE #TABLE_JSON (
		id							int				identity(1,1)
	,	organization_cd_1			nvarchar(20)
	,	organization_cd_2			nvarchar(20)
	,	organization_cd_3			nvarchar(20)
	,	organization_cd_4			nvarchar(20)
	,	organization_cd_5			nvarchar(20)
	)
	--
	CREATE TABLE #TABLE_RESULT (
		id							int				identity(1,1)
	,	organization_cd_1			nvarchar(20)
	,	organization_cd_2			nvarchar(20)
	,	organization_cd_3			nvarchar(20)
	,	organization_cd_4			nvarchar(20)
	,	organization_cd_5			nvarchar(20)
	)
	--
	CREATE TABLE #TABLE (
		organization_cd_1			nvarchar(20)
	,	organization_cd_2			nvarchar(20)
	,	organization_cd_3			nvarchar(20)
	,	organization_cd_4			nvarchar(20)
	,	organization_cd_5			nvarchar(20)
	)
	--
	INSERT INTO #TABLE_JSON
	SELECT 
		json_table.organization_cd_1
	,	json_table.organization_cd_2
	,	json_table.organization_cd_3
	,	json_table.organization_cd_4
	,	json_table.organization_cd_5
	FROM OPENJSON(@P_json,'$.list') WITH(
		organization_cd_1				nvarchar(20)
	,	organization_cd_2				nvarchar(20)
	,	organization_cd_3				nvarchar(20)
	,	organization_cd_4				nvarchar(20)
	,	organization_cd_5				nvarchar(20)
	)AS json_table
	--
	SET @organization_typ		=	JSON_VALUE(@P_json,'$.organization_typ')
	SET @organization_typ_next	=	@organization_typ	+ 1
	--
	SELECT 
		@employee_cd					=	ISNULL(S0010.employee_cd,'')
	,	@w_authority_typ				=	ISNULL(S0010.authority_typ,0)
	,	@w_1on1_authority_typ			=	ISNULL(S0010.[1on1_authority_typ],0)
	,	@w_multireview_authority_typ	=	ISNULL(S0010.multireview_authority_typ,0)
	,	@w_setting_authority_typ		=	ISNULL(S0010.setting_authority_typ,0)
	,	@w_report_authority_typ			=	ISNULL(S0010.report_authority_typ,0)
	,	@w_empinfo_authority_typ		=	ISNULL(S0010.empinfo_authority_typ,1)
	FROM S0010
	WHERE 
		S0010.company_cd		=	@P_company_cd
	AND S0010.user_id			=	@P_user_id
	AND S0010.del_datetime IS NULL
	------------------
	IF @w_empinfo_authority_typ = 0
	BEGIN
		SET @w_empinfo_authority_typ = 1
	END
	-- SET @w_authority_typ
	SET @w_authority_typ = IIF(@w_authority_typ = 6,2,@w_authority_typ)
	-- ■■■■■■■■■■■■■■■■■■■■■　管理会社　■■■■■■■■■■■■■■■■■■■■■
	IF (
		(@P_system = 1 AND @w_authority_typ IN (2,4,5))												--	評価者・管理会社・総合管理者
	OR	(@P_system = 2 AND @w_1on1_authority_typ IN (2,4,5))										--	コーチ・管理会社・総合管理者
	OR	(@P_system = 3 AND (@w_multireview_authority_typ IN (2,4,5) OR @w_authority_typ = 2))		--	評価者・サポーター・管理会社・総合管理者
	OR	(@P_system = 4 AND (@w_setting_authority_typ IN (4,5)))										--	管理会社・総合管理者
	OR	(@P_system = 5 AND @w_report_authority_typ IN (0,2,4,5))									--	閲覧社・承認者・管理会社・総合管理社
	OR	(@P_system = 6 AND @w_empinfo_authority_typ IN (4,5))										--	管理会社・総合管理社
	OR	(@P_system = 61)																			--	61.社員コミュニケ―ション (ALL)
	)
	BEGIN
		INSERT INTO #TABLE_RESULT
		SELECT 
			ISNULL(M0020.organization_cd_1,'')					AS	organization_cd_1
		,	ISNULL(M0020.organization_cd_2,'')					AS	organization_cd_2
		,	ISNULL(M0020.organization_cd_3,'')					AS	organization_cd_3
		,	ISNULL(M0020.organization_cd_4,'')					AS	organization_cd_4
		,	ISNULL(M0020.organization_cd_5,'')					AS	organization_cd_5
		FROM M0020
		INNER JOIN #TABLE_JSON ON (
			M0020.company_cd			=	@P_company_cd
		AND (
				(@organization_typ = 1 AND (M0020.organization_cd_1 = #TABLE_JSON.organization_cd_1))
			OR	(@organization_typ = 2 AND (M0020.organization_cd_1 = #TABLE_JSON.organization_cd_1 AND M0020.organization_cd_2 = #TABLE_JSON.organization_cd_2))
			OR	(@organization_typ = 3 AND (M0020.organization_cd_1 = #TABLE_JSON.organization_cd_1 AND M0020.organization_cd_2 = #TABLE_JSON.organization_cd_2 AND M0020.organization_cd_3 = #TABLE_JSON.organization_cd_3))
			OR	(@organization_typ = 4 AND (M0020.organization_cd_1 = #TABLE_JSON.organization_cd_1 AND M0020.organization_cd_2 = #TABLE_JSON.organization_cd_2 AND M0020.organization_cd_3 = #TABLE_JSON.organization_cd_3 AND M0020.organization_cd_4 = #TABLE_JSON.organization_cd_4))
			)
		)
		WHERE 
			M0020.company_cd		=	@P_company_cd
		AND M0020.organization_typ	=	@organization_typ_next
		AND M0020.del_datetime IS NULL
		ORDER BY
			M0020.arrange_order 
		,	M0020.organization_cd_1
		,	M0020.organization_cd_2
		,	M0020.organization_cd_3
		,	M0020.organization_cd_4
		,	M0020.organization_cd_5
		--
		GOTO COMPLETED
	END
	-- ■■■■■■■■■■■■■■■■■■■■■　彼評価者　■■■■■■■■■■■■■■■■■■■■■
	IF (
		(@P_system = 1 AND @w_authority_typ = 1)			--	彼評価者
	OR	(@P_system = 2 AND @w_1on1_authority_typ = 1)		--	メンバー
	OR	(@P_system = 5 AND @w_report_authority_typ = 1)		--	報告者
	OR	(@P_system = 6 AND @w_empinfo_authority_typ = 1)	--	一般ユーザー
	)
	BEGIN
		INSERT INTO #TABLE_RESULT
		SELECT 
			ISNULL(M0070.belong_cd1,'')			AS organization_cd_1
		,	ISNULL(M0070.belong_cd2,'')			AS organization_cd_2
		,	ISNULL(M0070.belong_cd3,'')			AS organization_cd_3
		,	ISNULL(M0070.belong_cd4,'')			AS organization_cd_4
		,	ISNULL(M0070.belong_cd5,'')			AS organization_cd_5
		FROM M0070
		WHERE 
			M0070.company_cd		=	@P_company_cd
		AND M0070.employee_cd		=	@employee_cd
		AND M0070.del_datetime IS NULL
		--
		GOTO COMPLETED
	END
	-- ■■■■■■■■■■■■■■■■■■■■■　管理者　■■■■■■■■■■■■■■■■■■■■■
	IF (
		(@P_system = 1 AND @w_authority_typ = 3)				
	OR	(@P_system = 2 AND @w_1on1_authority_typ = 3)			
	OR	(@P_system = 3 AND @w_multireview_authority_typ = 3)
	OR	(@P_system = 4 AND @w_setting_authority_typ = 3)
	OR	(@P_system = 5 AND @w_report_authority_typ = 3)	
	OR	(@P_system = 6 AND @w_empinfo_authority_typ = 3)	
	)
	BEGIN
		-- INSERT DATA INTO #TABLE_ORGANIZATION
		INSERT INTO #TABLE_ORGANIZATION
		EXEC [dbo].SPC_REFER_ORGANIZATION_FND1 '',@P_user_id,@P_company_cd ,@P_system
		--
		INSERT INTO #TABLE_RESULT
		SELECT 
			ISNULL(#TABLE_ORGANIZATION.organization_cd_1,'')					AS	organization_cd_1
		,	ISNULL(#TABLE_ORGANIZATION.organization_cd_2,'')					AS	organization_cd_2
		,	ISNULL(#TABLE_ORGANIZATION.organization_cd_3,'')					AS	organization_cd_3
		,	ISNULL(#TABLE_ORGANIZATION.organization_cd_4,'')					AS	organization_cd_4
		,	ISNULL(#TABLE_ORGANIZATION.organization_cd_5,'')					AS	organization_cd_5
		FROM #TABLE_ORGANIZATION
		INNER JOIN #TABLE_JSON ON(
			(
				(@organization_typ = 1 AND (#TABLE_ORGANIZATION.organization_cd_1 = #TABLE_JSON.organization_cd_1))
			OR	(@organization_typ = 2 AND (#TABLE_ORGANIZATION.organization_cd_1 = #TABLE_JSON.organization_cd_1 AND #TABLE_ORGANIZATION.organization_cd_2 = #TABLE_JSON.organization_cd_2))
			OR	(@organization_typ = 3 AND (#TABLE_ORGANIZATION.organization_cd_1 = #TABLE_JSON.organization_cd_1 AND #TABLE_ORGANIZATION.organization_cd_2 = #TABLE_JSON.organization_cd_2 AND #TABLE_ORGANIZATION.organization_cd_3 = #TABLE_JSON.organization_cd_3))
			OR	(@organization_typ = 4 AND (#TABLE_ORGANIZATION.organization_cd_1 = #TABLE_JSON.organization_cd_1 AND #TABLE_ORGANIZATION.organization_cd_2 = #TABLE_JSON.organization_cd_2 AND #TABLE_ORGANIZATION.organization_cd_3 = #TABLE_JSON.organization_cd_3 AND #TABLE_ORGANIZATION.organization_cd_4 = #TABLE_JSON.organization_cd_4))
			)
		)
		INNER JOIN M0020 ON(
				#TABLE_ORGANIZATION.organization_cd_1 = M0020.organization_cd_1
		AND		#TABLE_ORGANIZATION.organization_cd_2 = M0020.organization_cd_2
		AND		#TABLE_ORGANIZATION.organization_cd_3 = M0020.organization_cd_3
		AND		#TABLE_ORGANIZATION.organization_cd_4 = M0020.organization_cd_4
		AND		#TABLE_ORGANIZATION.organization_cd_5 = M0020.organization_cd_5
		AND		M0020.del_datetime IS NULL
		)
		--
		GOTO COMPLETED
	END
	-----------------------------------------------------
COMPLETED:
	IF @organization_typ_next = 2
	BEGIN
		INSERT INTO #TABLE
		SELECT 
			DISTINCT
			#TABLE_RESULT.organization_cd_1
		,	#TABLE_RESULT.organization_cd_2
		,	SPACE(0)
		,	SPACE(0)
		,	SPACE(0)
		FROM #TABLE_RESULT
		WHERE 
			#TABLE_RESULT.organization_cd_1 <> ''
		AND #TABLE_RESULT.organization_cd_2 <> ''
	END
	ELSE IF @organization_typ_next = 3
	BEGIN
		INSERT INTO #TABLE
		SELECT 
			DISTINCT
			#TABLE_RESULT.organization_cd_1
		,	#TABLE_RESULT.organization_cd_2
		,	#TABLE_RESULT.organization_cd_3
		,	SPACE(0)
		,	SPACE(0)
		FROM #TABLE_RESULT
		WHERE 
			#TABLE_RESULT.organization_cd_1 <> ''
		AND #TABLE_RESULT.organization_cd_2 <> ''
		AND #TABLE_RESULT.organization_cd_3 <> ''
	END
	ELSE IF @organization_typ_next = 4
	BEGIN
		INSERT INTO #TABLE
		SELECT 
			DISTINCT
			#TABLE_RESULT.organization_cd_1
		,	#TABLE_RESULT.organization_cd_2
		,	#TABLE_RESULT.organization_cd_3
		,	#TABLE_RESULT.organization_cd_4
		,	SPACE(0)
		FROM #TABLE_RESULT
		WHERE 
			#TABLE_RESULT.organization_cd_1 <> ''
		AND #TABLE_RESULT.organization_cd_2 <> ''
		AND #TABLE_RESULT.organization_cd_3 <> ''
		AND #TABLE_RESULT.organization_cd_4 <> ''
	END
	ELSE IF @organization_typ_next = 5
	BEGIN
		INSERT INTO #TABLE
		SELECT 
			DISTINCT
			#TABLE_RESULT.organization_cd_1
		,	#TABLE_RESULT.organization_cd_2
		,	#TABLE_RESULT.organization_cd_3
		,	#TABLE_RESULT.organization_cd_4
		,	#TABLE_RESULT.organization_cd_5
		FROM #TABLE_RESULT
		WHERE 
			#TABLE_RESULT.organization_cd_1 <> ''
		AND #TABLE_RESULT.organization_cd_2 <> ''
		AND #TABLE_RESULT.organization_cd_3 <> ''
		AND #TABLE_RESULT.organization_cd_4 <> ''
		AND #TABLE_RESULT.organization_cd_5 <> ''
	END
	--[0]
	SELECT 
		ISNULL(#TABLE.organization_cd_1,'')			AS	organization_cd_1
	,	ISNULL(#TABLE.organization_cd_2,'')			AS	organization_cd_2
	,	ISNULL(#TABLE.organization_cd_3,'')			AS	organization_cd_3
	,	ISNULL(#TABLE.organization_cd_4,'')			AS	organization_cd_4
	,	ISNULL(#TABLE.organization_cd_5,'')			AS	organization_cd_5
	,	ISNULL(M0020.organization_typ,0)			AS	organization_typ
	,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
	,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
	FROM #TABLE
	LEFT OUTER JOIN M0020 ON (
		@P_company_cd					=	M0020.company_cd
	AND #TABLE.organization_cd_1		=	M0020.organization_cd_1
	AND #TABLE.organization_cd_2		=	M0020.organization_cd_2
	AND #TABLE.organization_cd_3		=	M0020.organization_cd_3
	AND #TABLE.organization_cd_4		=	M0020.organization_cd_4
	AND #TABLE.organization_cd_5		=	M0020.organization_cd_5
	)
	ORDER BY
		#TABLE.organization_cd_1
	,	#TABLE.organization_cd_2
	,	#TABLE.organization_cd_3
	,	#TABLE.organization_cd_4
	,	#TABLE.organization_cd_5
END
GO