DROP PROCEDURE [SPC_REFER_M0070H_INQ2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [dbo].[SPC_REFER_M0070H_INQ2] NULL,'',782
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	VIEW EMPLOYEE HISTORYS
--*  
--* 作成日/create date			:	2024/04/01							
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:  	
--*	更新者/updater				:　 
--*	更新内容/update content		:				
--****************************************************************************************
CREATE PROCEDURE [SPC_REFER_M0070H_INQ2]
	@P_application_date		date			=	NULL		-- ngay chon tren man hinh, neu = NULL mac dinh lay ngay hien tai
,	@P_employee_cd			nvarchar(10)	=	''			-- Neu = '' lay toàn bo nhan vien
,	@P_company_cd			smallint		=	0
AS
BEGIN
	SET NOCOUNT ON;
    IF @P_application_date IS NULL
	BEGIN
		SET @P_application_date	=	GETDATE()
	END
	--
	CREATE TABLE #M0071(
		id						int				identity(1,1)
	,	company_cd				smallint
	,	employee_cd				nvarchar(10)
	,	application_date		date
	,	concurrent_information	nvarchar(max)
	)
	--
	IF @P_employee_cd = ''
	BEGIN
		INSERT INTO #M0071
		SELECT 
			ISNULL(M0071.company_cd,0)				AS	company_cd
		,	ISNULL(M0071.employee_cd,'')			AS	employee_cd
		,	MAX(M0071.application_date)				AS	application_date
		,	SPACE(0)								AS	concurrent_information
		FROM M0071
		WHERE 
			M0071.company_cd			=	@P_company_cd
		AND M0071.application_date		<=	@P_application_date
		AND M0071.del_datetime IS NULL
		GROUP BY
			M0071.company_cd
		,	M0071.employee_cd
	END
	ELSE
	BEGIN
		INSERT INTO #M0071
		SELECT 
			ISNULL(M0071.company_cd,0)				AS	company_cd
		,	ISNULL(M0071.employee_cd,'')			AS	employee_cd
		,	MAX(M0071.application_date)				AS	application_date
		,	SPACE(0)								AS	concurrent_information
		FROM M0071
		WHERE 
			M0071.company_cd			=	@P_company_cd
		AND M0071.employee_cd			=	@P_employee_cd
		AND M0071.application_date		<=	@P_application_date
		AND M0071.del_datetime IS NULL
		GROUP BY
			M0071.company_cd
		,	M0071.employee_cd
	END
	-- UPDATE concurrent_information
	UPDATE #M0071 SET 
		concurrent_information =  (
			SELECT 
				M0073.detail_no			AS	"detail_no"
			,	M0073.belong_cd1		AS	"belong_cd1"
			,	M0073.belong_cd2		AS	"belong_cd2"
			,	M0073.belong_cd3		AS	"belong_cd3"
			,	M0073.belong_cd4		AS	"belong_cd4"
			,	M0073.belong_cd5		AS	"belong_cd5"
			,	M0073.position_cd		AS	"position_cd"
			,	M0040.position_nm		AS	"position_nm"
			FROM M0073
			LEFT OUTER JOIN M0040 ON(
				M0073.company_cd		=	M0040.company_cd
			AND M0073.position_cd		=	M0040.position_cd
			AND M0040.del_datetime IS NULL
			)
			WHERE
				M0073.company_cd		=	@P_company_cd
			AND M0073.employee_cd		=	#M0071.employee_cd
			AND M0073.application_date	=	#M0071.application_date
			AND M0073.del_datetime IS NULL
			FOR JSON PATH
		)
	FROM #M0071
	--[0]
	SELECT 
		#M0071.application_date					AS	application_date
	,	ISNULL(M0071.company_cd,'')				AS	company_cd
	,	ISNULL(M0071.employee_cd,'')			AS	employee_cd
	,	ISNULL(M0070.employee_nm,'')			AS	employee_nm
	,	ISNULL(M0070.furigana,'')				AS	furigana
	,	ISNULL(M0071.office_cd,0)				AS	office_cd
	,	CASE
			WHEN ISNULL(M0010.office_ab_nm,'') = '' THEN ISNULL(M0010.office_nm,'')		
			ELSE M0010.office_ab_nm
		END	AS	office_nm
	,	ISNULL(M0071.belong_cd1,'')				AS	belong_cd1
	,	ISNULL(M0071.belong_cd2,'')				AS	belong_cd2
	,	ISNULL(M0071.belong_cd3,'')				AS	belong_cd3
	,	ISNULL(M0071.belong_cd4,'')				AS	belong_cd4
	,	ISNULL(M0071.belong_cd5,'')				AS	belong_cd5
	--
	,	ISNULL(M0071.job_cd,0)					AS	job_cd
	,	ISNULL(M0071.position_cd,0)				AS	position_cd
	,	ISNULL(M0071.employee_typ,0)			AS	employee_typ
	,	ISNULL(M0071.grade,0)					AS	grade
	,	CASE
			WHEN ISNULL(m0020_1.organization_ab_nm,'') = '' THEN ISNULL(m0020_1.organization_nm,'')	
			ELSE m0020_1.organization_ab_nm
		END																						AS belong_cd1_nm
	,	CASE
			WHEN ISNULL(m0020_2.organization_ab_nm,'') = '' THEN ISNULL(m0020_2.organization_nm,'')		
			ELSE m0020_2.organization_ab_nm
		END																						AS belong_cd2_nm
	,	CASE
			WHEN ISNULL(m0020_3.organization_ab_nm,'') = '' THEN ISNULL(m0020_3.organization_nm,'')		
			ELSE m0020_3.organization_ab_nm
		END																						AS belong_cd3_nm
	,	CASE
			WHEN ISNULL(m0020_4.organization_ab_nm,'') = '' THEN ISNULL(m0020_4.organization_nm,'')		
			ELSE m0020_4.organization_ab_nm
		END																						AS belong_cd4_nm
	,	CASE
			WHEN ISNULL(m0020_5.organization_ab_nm,'') = '' THEN ISNULL(m0020_5.organization_nm,'')		
			ELSE m0020_5.organization_ab_nm
		END																						AS belong_cd5_nm
	,	CASE
			WHEN ISNULL(m0030.job_ab_nm,'') = '' THEN ISNULL(m0030.job_nm,'')		
			ELSE m0030.job_ab_nm
		END																						AS	job_nm
	,	CASE
			WHEN ISNULL(M0040.position_ab_nm,'') = '' THEN ISNULL(M0040.position_nm,'')		
			ELSE M0040.position_ab_nm
		END																						AS	position_nm
	,	ISNULL(M0050.grade_nm,'')					AS	grade_nm
	,	ISNULL(M0060.employee_typ_nm,'')			AS	employee_typ_nm
	,	ISNULL(#M0071.concurrent_information,'')	AS	concurrent_information
	FROM #M0071
	LEFT OUTER JOIN M0071 ON (
		#M0071.company_cd					=	M0071.company_cd
	AND #M0071.employee_cd					=	M0071.employee_cd
	AND #M0071.application_date				=	M0071.application_date
	)
	LEFT OUTER JOIN M0070 ON (
		M0071.company_cd				=	M0070.company_cd
	AND M0071.employee_cd				=	M0070.employee_cd
	)
	LEFT OUTER JOIN M0010 ON (
		M0071.company_cd				=	M0010.company_cd
	AND M0071.office_cd					=	M0010.office_cd
	)
	LEFT OUTER JOIN M0020 AS M0020_1 ON (
		M0071.company_cd				=	M0020_1.company_cd
	AND M0071.belong_cd1				=	M0020_1.organization_cd_1
	AND SPACE(0)						=	M0020_1.organization_cd_2
	AND SPACE(0)						=	M0020_1.organization_cd_3
	AND SPACE(0)						=	M0020_1.organization_cd_4
	AND SPACE(0)						=	M0020_1.organization_cd_5
	AND	1								=	M0020_1.organization_typ
	)
	LEFT OUTER JOIN M0020 AS M0020_2 ON (
		M0071.company_cd				=	M0020_2.company_cd
	AND M0071.belong_cd1				=	M0020_2.organization_cd_1
	AND M0071.belong_cd2				=	M0020_2.organization_cd_2
	AND SPACE(0)						=	M0020_1.organization_cd_3
	AND SPACE(0)						=	M0020_1.organization_cd_4
	AND SPACE(0)						=	M0020_1.organization_cd_5
	AND	2								=	M0020_2.organization_typ
	)
	LEFT OUTER JOIN M0020 AS M0020_3 ON (
		M0071.company_cd				=	M0020_3.company_cd
	AND M0071.belong_cd1				=	M0020_3.organization_cd_1
	AND M0071.belong_cd2				=	M0020_3.organization_cd_2
	AND M0071.belong_cd3				=	M0020_3.organization_cd_3
	AND SPACE(0)						=	M0020_1.organization_cd_4
	AND SPACE(0)						=	M0020_1.organization_cd_5
	AND	3								=	M0020_3.organization_typ
	)
	LEFT OUTER JOIN M0020 AS M0020_4 ON (
		M0071.company_cd				=	M0020_4.company_cd
	AND M0071.belong_cd1				=	M0020_4.organization_cd_1
	AND M0071.belong_cd2				=	M0020_4.organization_cd_2
	AND M0071.belong_cd3				=	M0020_4.organization_cd_3
	AND M0071.belong_cd4				=	M0020_4.organization_cd_4
	AND SPACE(0)						=	M0020_1.organization_cd_5
	AND	4								=	M0020_4.organization_typ
	)
	LEFT OUTER JOIN M0020 AS M0020_5 ON (
		M0071.company_cd				=	M0020_5.company_cd
	AND M0071.belong_cd1				=	M0020_5.organization_cd_1
	AND M0071.belong_cd2				=	M0020_5.organization_cd_2
	AND M0071.belong_cd3				=	M0020_5.organization_cd_3
	AND M0071.belong_cd4				=	M0020_5.organization_cd_4
	AND M0071.belong_cd5				=	M0020_5.organization_cd_5
	AND	5								=	M0020_5.organization_typ
	)
	LEFT OUTER JOIN M0030 ON (
		M0071.company_cd				=	M0030.company_cd
	AND M0071.job_cd					=	M0030.job_cd
	)
	LEFT OUTER JOIN M0040 ON (
		M0071.company_cd				=	M0040.company_cd
	AND M0071.position_cd				=	M0040.position_cd
	)
	LEFT OUTER JOIN M0050 ON (
		M0071.company_cd				=	M0050.company_cd
	AND M0071.grade						=	M0050.grade
	)
	LEFT OUTER JOIN M0060 ON (
		M0071.company_cd				=	M0060.company_cd
	AND M0071.employee_typ				=	M0060.employee_typ
	)
	-- DROP
	DROP TABLE #M0071
END
GO