DROP PROCEDURE [SPC_REFER_MEMBER_1ON1_FND1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [dbo].[SPC_REFER_MEMBER_1ON1_FND1] '2020','200',751
-- EXEC [dbo].[SPC_REFER_MEMBER_1ON1_FND1] '2021','102',751
-- EXEC [dbo].[SPC_REFER_MEMBER_1ON1_FND1] '2021','101',751
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	LIST MEMBER OF LOGIN USER WITH  fiscal_year_1on1
--*  
--* 作成日/create date			:	2021/01/19											
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:	2021/05/28
--*	更新者/updater				:　	viettd
--*	更新内容/update content		:	change permission of coach
--*   					
--*  更新日/update date			:	2022/08/16
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	upgrade 1.9
--*   		  					
--*   					
--*	更新日/update date			:	2022/10/05
--*	更新者/updater				:　	viettd
--*	更新内容/update content		:	view member only in times of designated year
--****************************************************************************************
CREATE PROCEDURE [SPC_REFER_MEMBER_1ON1_FND1]
	@P_fiscal_year_1on1			smallint			=	0
,	@P_cre_user					nvarchar(50)		=	''	
,	@P_company_cd				smallint			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE
		@w_1on1_authority_typ	smallint			=	0
	,	@w_employee_cd_login	nvarchar(10)		=	''
	,	@w_fiscal_year_current	int					=	[dbo].FNC_GET_YEAR_1ON1(@P_company_cd,NULL) -- add by viettd 2021/05/28
	--
	IF object_id('tempdb..#TABLE_MEMBER_OF_COACH', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #TABLE_MEMBER_OF_COACH
    END
	--
	CREATE TABLE #TABLE_MEMBER_OF_COACH (
		company_cd					smallint
	,	fiscal_year					smallint
	,	employee_cd					nvarchar(10)
	,	employee_nm					nvarchar(200)
	)
	-- GET INFORMATION OF LOGIN USER 
	SELECT 
		@w_1on1_authority_typ	=	ISNULL(S0010.[1on1_authority_typ],0)
	,	@w_employee_cd_login	=	ISNULL(S0010.employee_cd,'')
	FROM S0010
	WHERE
		S0010.company_cd	=	@P_company_cd
	AND S0010.user_id		=	@P_cre_user
	AND S0010.del_datetime IS NULL
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- check 1on1_authority_typ of login user 
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--1. メンバー
	IF @w_1on1_authority_typ <= 1
	BEGIN
		INSERT INTO #TABLE_MEMBER_OF_COACH
		SELECT 
			M0070.company_cd
		,	@P_fiscal_year_1on1
		,	M0070.employee_cd
		,	M0070.employee_nm
		FROM M0070
		WHERE
			M0070.company_cd	=	@P_company_cd
		AND M0070.employee_cd	=	@w_employee_cd_login
		AND M0070.del_datetime IS NULL
		-- GOTO RESULT
		GOTO COMPLETED
	END
	-- 2.コーチ
	IF @w_1on1_authority_typ = 2
	BEGIN
		-- if current year then get list member of coach 
		INSERT INTO #TABLE_MEMBER_OF_COACH
		SELECT
			F2001_MIN.company_cd
		,	F2001_MIN.fiscal_year
		,	F2001_MIN.employee_cd
		,	SPACE(0)
		FROM 
		(
			SELECT 
				F2001.company_cd		AS	company_cd
			,	F2001.fiscal_year		AS	fiscal_year
			,	F2001.employee_cd		AS	employee_cd
			,	MIN(F2001.times)		AS	times
			FROM F2001 WITH(NOLOCK)
			WHERE 
				F2001.company_cd		=	@P_company_cd
			--AND F2001.fiscal_year		=	@w_fiscal_year_current
			AND F2001.fiscal_year		=	@P_fiscal_year_1on1				-- edited by viettd 2022/10/05
			AND F2001.coach_cd			=	@w_employee_cd_login
			AND F2001.del_datetime IS NULL
			GROUP BY
				F2001.company_cd	
			,	F2001.fiscal_year	
			,	F2001.employee_cd	
		) AS F2001_MIN
		-- IF LOGIN IS NOT EXIST IN #TABLE_MEMBER_OF_COACH THEN INSERT LOGIN USER INTO TABLE_MEMBER_OF_COACH TABLE
		IF NOT EXISTS (SELECT 1 FROM #TABLE_MEMBER_OF_COACH 
								WHERE 
									#TABLE_MEMBER_OF_COACH.company_cd	= @P_company_cd 
								AND #TABLE_MEMBER_OF_COACH.employee_cd	= @w_employee_cd_login
		)
		BEGIN
			INSERT INTO #TABLE_MEMBER_OF_COACH
			SELECT 
				M0070.company_cd
			,	@P_fiscal_year_1on1
			,	M0070.employee_cd
			,	M0070.employee_nm
			FROM M0070
			WHERE
				M0070.company_cd	=	@P_company_cd
			AND M0070.employee_cd	=	@w_employee_cd_login
			AND M0070.del_datetime IS NULL
		END
		--delete vietdt 2022/01/19 change permission of coach 
		-- if part year or futrue year remove all member when this year login is not coach at time
		--IF @P_fiscal_year_1on1 <> @w_fiscal_year_current
		--BEGIN
		--	DELETE D FROM #TABLE_MEMBER_OF_COACH AS D
		--	LEFT OUTER JOIN (
		--		SELECT 
		--			F2001.company_cd		AS	company_cd
		--		,	F2001.employee_cd		AS	employee_cd
		--		FROM F2001
		--		WHERE 
		--			F2001.company_cd		=	@P_company_cd
		--		AND F2001.fiscal_year		=	@P_fiscal_year_1on1
		--		AND F2001.coach_cd			=	@w_employee_cd_login
		--		AND F2001.del_datetime IS NULL
		--		GROUP BY
		--			F2001.company_cd
		--		,	F2001.employee_cd
		--	) AS F2001_COACH ON (
		--		D.company_cd		=	F2001_COACH.company_cd
		--	AND D.employee_cd		=	F2001_COACH.employee_cd
		--	)
		--	WHERE 
		--		F2001_COACH.employee_cd IS NULL
		--END
		-- UPDATE EMPLOYEE_NM
		UPDATE #TABLE_MEMBER_OF_COACH SET 
			employee_nm = ISNULL(M0070.employee_nm,'')
		FROM #TABLE_MEMBER_OF_COACH
		INNER JOIN M0070 ON(
			#TABLE_MEMBER_OF_COACH.company_cd	=	M0070.company_cd
		AND #TABLE_MEMBER_OF_COACH.employee_cd	=	M0070.employee_cd
		)
		WHERE 
			M0070.company_cd	=	@P_company_cd
		-- GOTO RESULT
		GOTO COMPLETED
	END
	-- 3.管理者 / 4.会社管理者 / 5.総合管理者
	IF @w_1on1_authority_typ IN (3,4,5)
	BEGIN
		INSERT INTO #TABLE_MEMBER_OF_COACH
		SELECT 
			M0070.company_cd
		,	@P_fiscal_year_1on1
		,	M0070.employee_cd
		,	M0070.employee_nm
		FROM M0070
		WHERE
			M0070.company_cd	=	@P_company_cd
		AND M0070.del_datetime IS NULL
		-- GOTO RESULT
		GOTO COMPLETED
	END
	--
COMPLETED:
	--[0]
	SELECT 
		company_cd			AS	company_cd
	,	fiscal_year			AS	fiscal_year
	,	employee_cd			AS	employee_cd
	,	employee_nm			AS	employee_nm
	FROM #TABLE_MEMBER_OF_COACH
END
GO