DROP PROCEDURE [REFER_EMPLOYEE_SUPPORTED_MULITIREVIEW_FND1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [dbo].[REFER_EMPLOYEE_SUPPORTED_MULITIREVIEW_FND1] '2020','200',751
-- EXEC [dbo].[REFER_EMPLOYEE_SUPPORTED_MULITIREVIEW_FND1] '2021','102',751
-- EXEC [dbo].[REFER_EMPLOYEE_SUPPORTED_MULITIREVIEW_FND1] '2021','600',740
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	LIST MEMBER OF SUPPORTED BY LOGIN USER WITH  fiscal_year
--*  
--* 作成日/create date			:	2021/01/19											
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:	2021/06/16
--*	更新者/updater				:　 viettd　
--*	更新内容/update content		:	when rater_1 then can view & edited employees
--*   					
--*  更新日/update date			:	2022/08/16
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	upgrade 1.9
--*   		  					
--****************************************************************************************
CREATE PROCEDURE [REFER_EMPLOYEE_SUPPORTED_MULITIREVIEW_FND1]
	@P_fiscal_year_mulitireview		smallint			=	0
,	@P_cre_user						nvarchar(50)		=	''	
,	@P_company_cd					smallint			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE
		@w_multireview_authority_typ	smallint			=	0
	,	@w_employee_cd_login			nvarchar(10)		=	''
	,	@w_fiscal_year_current			smallint			=	dbo.FNC_GET_YEAR(@P_company_cd,NULL)
	--
	IF object_id('tempdb..#TABLE_EMPLOYEE_SUPPORTED', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #TABLE_EMPLOYEE_SUPPORTED
    END
	--
	CREATE TABLE #TABLE_EMPLOYEE_SUPPORTED (
		company_cd					smallint
	,	fiscal_year					smallint
	,	employee_cd					nvarchar(10)
	,	employee_nm					nvarchar(200)
	)
	-- GET INFORMATION OF LOGIN USER 
	SELECT 
		@w_multireview_authority_typ	=	ISNULL(S0010.multireview_authority_typ,0)
	,	@w_employee_cd_login			=	ISNULL(S0010.employee_cd,'')
	FROM S0010
	WHERE
		S0010.company_cd	=	@P_company_cd
	AND S0010.user_id		=	@P_cre_user
	AND S0010.del_datetime IS NULL
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- check 1on1_authority_typ of login user 
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--0, 1. メンバー
	IF @w_multireview_authority_typ < 2
	BEGIN
		INSERT INTO #TABLE_EMPLOYEE_SUPPORTED
		SELECT 
			M0070.company_cd
		,	@P_fiscal_year_mulitireview
		,	M0070.employee_cd
		,	M0070.employee_nm
		FROM M0070
		WHERE
			M0070.company_cd	=	@P_company_cd
		AND M0070.employee_cd	=	@w_employee_cd_login
		AND M0070.del_datetime IS NULL
		-- GOTO RESULT
		GOTO COMPLETED
	END
	-- 2.サポーター
	IF @w_multireview_authority_typ = 2
	BEGIN
		-- check @P_fiscal_year_mulitireview < @w_fiscal_year_current
		-- when past
		IF @P_fiscal_year_mulitireview < @w_fiscal_year_current
		BEGIN
			INSERT INTO #TABLE_EMPLOYEE_SUPPORTED
			SELECT
				F3020.company_cd
			,	@P_fiscal_year_mulitireview
			,	F3020.employee_cd
			,	SPACE(0)
			FROM F3020
			WHERE 
				F3020.company_cd	=	@P_company_cd
			AND F3020.fiscal_year	=	@P_fiscal_year_mulitireview
			AND F3020.supporter_cd	=	@w_employee_cd_login
			AND F3020.del_datetime IS NULL
			-- GET MEMBER OF THIS CURRENT YEAR 
			INSERT INTO #TABLE_EMPLOYEE_SUPPORTED
			SELECT 
				F3020.company_cd
			,	@w_fiscal_year_current
			,	F3020.employee_cd
			,	SPACE(0)
			FROM F3020
			LEFT OUTER JOIN #TABLE_EMPLOYEE_SUPPORTED AS S ON(
				F3020.company_cd			=	S.company_cd
			AND F3020.fiscal_year			=	S.fiscal_year
			AND F3020.employee_cd			=	S.employee_cd
			)
			WHERE 
				F3020.company_cd	=	@P_company_cd
			AND F3020.fiscal_year	=	@w_fiscal_year_current -- THIS CURRENT YEAR
			AND F3020.supporter_cd	=	@w_employee_cd_login
			AND F3020.del_datetime IS NULL
			AND S.employee_cd IS NULL
		END
		ELSE
		BEGIN
			INSERT INTO #TABLE_EMPLOYEE_SUPPORTED
			SELECT
				F3020.company_cd
			,	@P_fiscal_year_mulitireview
			,	F3020.employee_cd
			,	SPACE(0)
			FROM F3020
			WHERE 
				F3020.company_cd	=	@P_company_cd
			AND F3020.fiscal_year	=	@P_fiscal_year_mulitireview
			AND F3020.supporter_cd	=	@w_employee_cd_login
			AND F3020.del_datetime IS NULL	
		END
		-- ↓↓↓　add by viettd 2021/06/16
		INSERT INTO #TABLE_EMPLOYEE_SUPPORTED
		SELECT 
			DISTINCT 
				F0030.company_cd
			,	F0030.fiscal_year
			,	F0030.employee_cd
			,	SPACE(0)
		FROM F0030
		LEFT OUTER JOIN #TABLE_EMPLOYEE_SUPPORTED AS S ON(
			F0030.company_cd			=	S.company_cd
		AND F0030.fiscal_year			=	S.fiscal_year
		AND F0030.employee_cd			=	S.employee_cd
		)
		WHERE 
			F0030.company_cd			=	@P_company_cd
		AND F0030.fiscal_year			=	@P_fiscal_year_mulitireview
		AND F0030.rater_employee_cd_1	=	@w_employee_cd_login
		AND F0030.del_datetime IS NULL
		AND S.employee_cd IS NULL
		-- ↑↑↑　end add by viettd 2021/06/16
		-- UPDATE EMPLOYEE_NM
		UPDATE #TABLE_EMPLOYEE_SUPPORTED SET 
			employee_nm = ISNULL(M0070.employee_nm,'')
		FROM #TABLE_EMPLOYEE_SUPPORTED
		INNER JOIN M0070 ON(
			#TABLE_EMPLOYEE_SUPPORTED.company_cd	=	M0070.company_cd
		AND #TABLE_EMPLOYEE_SUPPORTED.employee_cd	=	M0070.employee_cd
		)
		WHERE 
			M0070.company_cd	=	@P_company_cd
		-- GOTO RESULT
		GOTO COMPLETED
	END
	-- 3.管理者 / 4.会社管理者 / 5.総合管理者
	IF @w_multireview_authority_typ IN (3,4,5)
	BEGIN
		INSERT INTO #TABLE_EMPLOYEE_SUPPORTED
		SELECT 
			M0070.company_cd
		,	@P_fiscal_year_mulitireview
		,	M0070.employee_cd
		,	M0070.employee_nm
		FROM M0070
		WHERE
			M0070.company_cd	=	@P_company_cd
		AND M0070.del_datetime IS NULL
		-- GOTO RESULT
		GOTO COMPLETED
	END
	--
COMPLETED:
	--[0]
	SELECT 
		company_cd			AS	company_cd
	,	fiscal_year			AS	fiscal_year
	,	employee_cd			AS	employee_cd
	,	employee_nm			AS	employee_nm
	FROM #TABLE_EMPLOYEE_SUPPORTED
END
GO