DROP PROCEDURE [SPC_REFER_ORGANIZATION_FND1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [dbo].[SPC_REFER_ORGANIZATION_FND1] '2019-12-13','',1007
-- EXEC SPC_REFER_ORGANIZATION_INQ1 '{"fiscal_year":"2021","treat1":"-1","treat2":"-1","treat3":"-1","employee_typ":"-1","employee_cd":"","rater":"","evalute_step":"-1","rank":"-1","list":[],"page":1,"list_treatment_applications_no":[{"treatment_applications_no":"1"},{"treatment_applications_no":"2"},{"treatment_applications_no":"3"}],"list_organization_step1":[],"list_organization_step2":[],"list_organization_step3":[],"list_organization_step4":[],"list_organization_step5":[],"list_position_cd":[],"list_grade":[],"list_character":[],"list_date":[],"list_number_item":[]}','38','740','1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SEARCH ORGANIZATION
--*  
--* 作成日/create date			:	201912/10											
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:  	2020/12/02
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	add module 1on1 & multireview
--*   					
--*	更新日/update date			:  	2020/12/18
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	add organization_belong_person_typ
--*   					
--*	更新日/update date			:  	2020/06/09
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	when choice organization_cd_xxx then only view organization_cd_xxx
--*   		  					:	not view parent of organization_cd_xxx
--*   					
--*	更新日/update date			:  	2022/03/30
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	get information form M0071 for employees
--*   					
--*	更新日/update date			:  	2022/10/11
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	fix bug dont show all organization_cd_xxx (bug is 2020/06/09)
--*   					
--*	更新日/update date			:  	2023/03/30
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	upgrade ver2.0
--*   					
--*	更新日/update date			:  	2023/08/21
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	upgrade ver2.1
--*   					
--*	更新日/update date			:  	2025/02/10
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	CHANGE GET ORGANIZATION WHEN HAS S0022~S9022
--*   		  					
--****************************************************************************************
CREATE PROCEDURE [SPC_REFER_ORGANIZATION_FND1]
	@P_json						nvarchar(max)		=	''	
,	@P_cre_user					nvarchar(50)		=	''	
,	@P_company_cd				smallint			=	0
,	@P_system					smallint			=	1	-- 1.人事評価 2.1on1 3.マルチレビュー 4.共通設定 5.週報 6.社員情報（61.社員コミュニケ―ション用）
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE
		@authority_typ						smallint			=	0
	,	@authority_cd						smallint			=	0
	,	@w_1on1_authority_typ				smallint			=	0
	,	@w_1on1_authority_cd				smallint			=	0
	,	@w_multireview_authority_typ		smallint			=	0
	,	@w_multireview_authority_cd			smallint			=	0
	,	@w_setting_authority_typ			smallint			=	0
	,	@w_setting_authority_cd				smallint			=	0
	,	@w_report_authority_typ				smallint			=	0
	,	@w_report_authority_cd				smallint			=	0
	,	@w_empinfo_authority_typ			smallint			=	0
	,	@w_empinfo_authority_cd				smallint			=	0
	,	@choice_in_screen					tinyint				=	0	-- 1.choice in screen 0.get from master S0022
	--
	,	@w_organization_belong_person_typ	smallint			=	0	-- 自分の所属する組織のみ閲覧可能
	,	@w_employee_cd						nvarchar(10)		=	''
	,	@w_today							date				=	getdate()
	,	@w_organization_typ					tinyint				=	0
	--
	,	@w_organization_cd_1_temp			nvarchar(20)		=	''
	,	@w_organization_cd_2_temp			nvarchar(20)		=	''
	,	@w_organization_cd_3_temp			nvarchar(20)		=	''
	,	@w_organization_cd_4_temp			nvarchar(20)		=	''
	,	@w_organization_cd_5_temp			nvarchar(20)		=	''
	,	@w_organization_typ_temp			tinyint				=	0
	,	@w_authority_temp					smallint			=	0
	,	@w_cnt								int					=	0
	,	@w_i								int					=	1
	,	@w_parent_checked					int					=	0
	,	@w_child_cnt						int					=	0
	,	@w_child_checked_cnt					int					=	0
	--
	IF object_id('tempdb..#ORGANIZATION_TEMP', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #ORGANIZATION_TEMP
    END
	--
	IF object_id('tempdb..#ORGANIZATION_SCREEN', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #ORGANIZATION_SCREEN
    END
	-- add by viettd 2021/06/09
	IF object_id('tempdb..#ORGANIZATION_RESULT', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #ORGANIZATION_RESULT
    END
	-- add by viettd 2022/03/30
	IF object_id('tempdb..#M0071_MAX', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #M0071_MAX
    END	
	--
	CREATE TABLE #ORGANIZATION_TEMP (
		id								int			identity(1,1)
	,	organization_typ				tinyint
	,	organization_cd_1				nvarchar(20)
	,	organization_cd_2				nvarchar(20)
	,	organization_cd_3				nvarchar(20)
	,	organization_cd_4				nvarchar(20)
	,	organization_cd_5				nvarchar(20)
	,	organization_nm					nvarchar(50)
	,	authority						smallint	
	,	is_view							tinyint
	,	notes							nvarchar(10)
	)
	--
	CREATE TABLE #ORGANIZATION_SCREEN (
		organization_typ				tinyint
	,	organization_cd_1				nvarchar(20)
	,	organization_cd_2				nvarchar(20)
	,	organization_cd_3				nvarchar(20)
	,	organization_cd_4				nvarchar(20)
	,	organization_cd_5				nvarchar(20)	
	)
	-- add by viettd 2021/06/09
	CREATE TABLE #ORGANIZATION_RESULT (
		organization_typ				tinyint
	,	organization_cd_1				nvarchar(20)
	,	organization_cd_2				nvarchar(20)
	,	organization_cd_3				nvarchar(20)
	,	organization_cd_4				nvarchar(20)
	,	organization_cd_5				nvarchar(20)
	,	authority						smallint		-- add by viettd 2021/06/08
	)
	--##M0071_MAX
	CREATE TABLE #M0071_MAX(
		application_date				date
	,	company_cd						smallint
	,	employee_cd						nvarchar(10)
	,	belong_cd1						nvarchar(20)
	,	belong_cd2						nvarchar(20)
	,	belong_cd3						nvarchar(20)
	,	belong_cd4						nvarchar(20)
	,	belong_cd5						nvarchar(20)
	)
	-- CHECK NOT JSON FORMAT
	IF ISJSON(@P_json) = 0
	BEGIN
		GOTO COMPLETE
	END
	--組織１
	INSERT INTO #ORGANIZATION_SCREEN
	SELECT 
		1
	,	json_table.organization_cd_1
	,	json_table.organization_cd_2
	,	json_table.organization_cd_3
	,	json_table.organization_cd_4
	,	json_table.organization_cd_5
	FROM OPENJSON(@P_json,'$.list_organization_step1') WITH(
		organization_cd_1				nvarchar(20)
	,	organization_cd_2				nvarchar(20)
	,	organization_cd_3				nvarchar(20)
	,	organization_cd_4				nvarchar(20)
	,	organization_cd_5				nvarchar(20)
	)AS json_table
	WHERE
		json_table.organization_cd_1 <> ''
	--組織２
	INSERT INTO #ORGANIZATION_SCREEN
	SELECT 
		2
	,	json_table.organization_cd_1
	,	json_table.organization_cd_2
	,	json_table.organization_cd_3
	,	json_table.organization_cd_4
	,	json_table.organization_cd_5
	FROM OPENJSON(@P_json,'$.list_organization_step2') WITH(
		organization_cd_1				nvarchar(20)
	,	organization_cd_2				nvarchar(20)
	,	organization_cd_3				nvarchar(20)
	,	organization_cd_4				nvarchar(20)
	,	organization_cd_5				nvarchar(20)
	)AS json_table
	WHERE
		json_table.organization_cd_2 <> ''
	--組織３
	INSERT INTO #ORGANIZATION_SCREEN
	SELECT 
		3
	,	json_table.organization_cd_1
	,	json_table.organization_cd_2
	,	json_table.organization_cd_3
	,	json_table.organization_cd_4
	,	json_table.organization_cd_5
	FROM OPENJSON(@P_json,'$.list_organization_step3') WITH(
		organization_cd_1				nvarchar(20)
	,	organization_cd_2				nvarchar(20)
	,	organization_cd_3				nvarchar(20)
	,	organization_cd_4				nvarchar(20)
	,	organization_cd_5				nvarchar(20)
	)AS json_table
	WHERE
		json_table.organization_cd_3 <> ''
	--組織４
	INSERT INTO #ORGANIZATION_SCREEN
	SELECT 
		4
	,	json_table.organization_cd_1
	,	json_table.organization_cd_2
	,	json_table.organization_cd_3
	,	json_table.organization_cd_4
	,	json_table.organization_cd_5
	FROM OPENJSON(@P_json,'$.list_organization_step4') WITH(
		organization_cd_1				nvarchar(20)
	,	organization_cd_2				nvarchar(20)
	,	organization_cd_3				nvarchar(20)
	,	organization_cd_4				nvarchar(20)
	,	organization_cd_5				nvarchar(20)
	)AS json_table
	WHERE
		json_table.organization_cd_4 <> ''
	--組織５
	INSERT INTO #ORGANIZATION_SCREEN
	SELECT 
		5
	,	json_table.organization_cd_1
	,	json_table.organization_cd_2
	,	json_table.organization_cd_3
	,	json_table.organization_cd_4
	,	json_table.organization_cd_5
	FROM OPENJSON(@P_json,'$.list_organization_step5') WITH(
		organization_cd_1				nvarchar(20)
	,	organization_cd_2				nvarchar(20)
	,	organization_cd_3				nvarchar(20)
	,	organization_cd_4				nvarchar(20)
	,	organization_cd_5				nvarchar(20)
	)AS json_table
	WHERE
		json_table.organization_cd_5 <> ''
	COMPLETE:
	--
	IF EXISTS (SELECT 1 FROM #ORGANIZATION_SCREEN)
	BEGIN
		SET @choice_in_screen = 1
	END
	-- GET INFORMATION OF USER LOGIN
	SELECT 
		@authority_typ					=	ISNULL(S0010.authority_typ,0)
	,	@authority_cd					=	ISNULL(S0010.authority_cd,0)
	,	@w_1on1_authority_typ			=	ISNULL(S0010.[1on1_authority_typ],0)
	,	@w_1on1_authority_cd			=	ISNULL(S0010.[1on1_authority_cd],0)
	,	@w_multireview_authority_typ	=	ISNULL(S0010.multireview_authority_typ,0)
	,	@w_multireview_authority_cd		=	ISNULL(S0010.multireview_authority_cd,0)
	,	@w_setting_authority_typ		=	ISNULL(S0010.setting_authority_typ,0)
	,	@w_setting_authority_cd			=	ISNULL(S0010.setting_authority_cd,0)
	,	@w_report_authority_typ			=	ISNULL(S0010.report_authority_typ,0)
	,	@w_report_authority_cd			=	ISNULL(S0010.report_authority_cd,0)
	,	@w_empinfo_authority_typ		=	ISNULL(S0010.empinfo_authority_typ,1)
	,	@w_empinfo_authority_cd			=	ISNULL(S0010.empinfo_authority_cd,0)
	--
	,	@w_employee_cd					=	ISNULL(S0010.employee_cd,'')
	FROM S0010
	WHERE 
		S0010.company_cd	= @P_company_cd 
	AND S0010.user_id		= @P_cre_user
	AND S0010.del_datetime IS NULL
	IF @w_empinfo_authority_typ <= 0
	BEGIN
		SET @w_empinfo_authority_typ = 1
	END
	--↓↓↓ add by viettd 2022/08/16
	SET @authority_typ = IIF(@authority_typ = 6,2,@authority_typ)
	--↑↑↑ end add by viettd 2022/08/16
	-- add by viettd 2022/03/30
	IF EXISTS (SELECT 1 FROM M0071 WHERE M0071.company_cd = @P_company_cd AND employee_cd = @w_employee_cd AND del_datetime IS NULL)
	BEGIN
		INSERT INTO #M0071_MAX
		SELECT 
			TOP 1
			M0071.application_date
		,	M0071.company_cd	
		,	M0071.employee_cd	
		,	M0071.belong_cd1	
		,	M0071.belong_cd2	
		,	M0071.belong_cd3	
		,	M0071.belong_cd4	
		,	M0071.belong_cd5	
		FROM M0071
		WHERE 
			M0071.company_cd		=	@P_company_cd
		AND M0071.employee_cd		=	@w_employee_cd
		AND M0071.application_date	<=	@w_today
		AND M0071.del_datetime IS NULL
		ORDER BY
			M0071.application_date DESC
	END
	ELSE
	BEGIN
		INSERT INTO #M0071_MAX
		SELECT 
			GETDATE()		AS	application_date
		,	M0070.company_cd	
		,	M0070.employee_cd	
		,	M0070.belong_cd1	
		,	M0070.belong_cd2	
		,	M0070.belong_cd3	
		,	M0070.belong_cd4	
		,	M0070.belong_cd5	
		FROM M0070
		WHERE 
			M0070.company_cd		=	@P_company_cd
		AND M0070.employee_cd		=	@w_employee_cd
		AND M0070.del_datetime IS NULL
	END
	-- get @w_organization_belong_person_typ
	IF @P_system = 1 -- 人事評価
	BEGIN
		-- get @w_organization_belong_person_typ
		SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP (@P_company_cd,@authority_cd,@P_system)
	END
	ELSE IF @P_system = 2 -- 1ON1
	BEGIN
		-- get @w_organization_belong_person_typ
		SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP (@P_company_cd,@w_1on1_authority_cd,@P_system)
	END
	ELSE IF @P_system = 3 -- MULITIREVIEW
	BEGIN
		-- get @w_organization_belong_person_typ
		SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP (@P_company_cd,@w_multireview_authority_cd,@P_system)
	END
	ELSE IF @P_system = 4 -- basic setting
	BEGIN
		-- get @w_organization_belong_person_typ
		SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP (@P_company_cd,@w_setting_authority_cd,@P_system)
	END
	ELSE IF @P_system = 5 -- weeklyreport
	BEGIN
		-- get @w_organization_belong_person_typ
		SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP (@P_company_cd,@w_report_authority_cd,@P_system)
	END
	ELSE IF @P_system = 6 -- employee_information
	BEGIN
		-- get @w_organization_belong_person_typ
		SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP (@P_company_cd,@w_empinfo_authority_cd,@P_system)
	END
	----------------------------------------------------------------------
	-- PREPARE DATA
	----------------------------------------------------------------------
	--■ CHECK WHEN AUTHORITY_TYP  = 3.管理者 WHEN NOT CHOICE ORGANIZATION IN SCREEN
	-- IF @authority_typ = 3 AND NOT EXISTS (SELECT 1 FROM #ORGANIZATION_TEMP)-- 管理者
	-- @authority_typ = 3 OR @w_1on1_authority_typ = 3 OR @w_multireview_authority_typ = 3 OR @w_setting_authority_typ = 3 OR @w_report_authority_typ = 3
	IF @authority_typ = 3 OR @w_1on1_authority_typ = 3 OR @w_multireview_authority_typ = 3 OR @w_setting_authority_typ = 3 OR @w_report_authority_typ = 3 OR @w_empinfo_authority_typ = 3 -- 管理者
	BEGIN
		-- ■ WHEN organization_belong_person_typ = 1. 自分の所属する組織のみ閲覧可能
		IF @w_organization_belong_person_typ = 1
		BEGIN
			-- @w_organization_typ
			SELECT 
				@w_organization_typ = ISNULL(M0020.organization_typ,0)
			FROM #M0071_MAX AS M0070
			INNER JOIN M0020 ON (
				M0070.company_cd		=	M0020.company_cd
			AND M0070.belong_cd1		=	M0020.organization_cd_1
			AND M0070.belong_cd2		=	M0020.organization_cd_2
			AND M0070.belong_cd3		=	M0020.organization_cd_3
			AND M0070.belong_cd4		=	M0020.organization_cd_4
			AND M0070.belong_cd5		=	M0020.organization_cd_5
			)
			WHERE 
				M0070.company_cd		=	@P_company_cd
			AND M0070.employee_cd		=	@w_employee_cd
			--
			INSERT INTO #ORGANIZATION_TEMP
			SELECT 
				ISNULL(M0020.organization_typ,0)
			,	ISNULL(M0070.belong_cd1,'')
			,	ISNULL(M0070.belong_cd2,'')
			,	ISNULL(M0070.belong_cd3,'')
			,	ISNULL(M0070.belong_cd4,'')
			,	ISNULL(M0070.belong_cd5,'')
			,	ISNULL(M0020.organization_nm,'')
			,	1						--	authority
			,	0						--	is_view
			,	''						--	notes
			FROM #M0071_MAX AS M0070
			INNER JOIN M0020 ON (
				M0070.company_cd		=	M0020.company_cd
			AND M0070.belong_cd1		=	M0020.organization_cd_1
			AND M0070.belong_cd2		=	M0020.organization_cd_2
			AND M0070.belong_cd3		=	M0020.organization_cd_3
			AND M0070.belong_cd4		=	M0020.organization_cd_4
			AND M0070.belong_cd5		=	M0020.organization_cd_5
			)
			WHERE 
				M0070.company_cd		=	@P_company_cd
			AND M0070.employee_cd		=	@w_employee_cd
			-- @w_organization_typ = 1
			IF @w_organization_typ = 1
			BEGIN
				INSERT INTO #ORGANIZATION_TEMP
				SELECT 
					ISNULL(M0020.organization_typ,0)
				,	ISNULL(M0020.organization_cd_1,'')
				,	ISNULL(M0020.organization_cd_2,'')
				,	ISNULL(M0020.organization_cd_3,'')
				,	ISNULL(M0020.organization_cd_4,'')
				,	ISNULL(M0020.organization_cd_5,'')
				,	ISNULL(M0020.organization_nm,'')
				,	1						--	authority
				,	0						--	is_view
				,	''						--	notes
				FROM #ORGANIZATION_TEMP
				INNER JOIN M0020 ON (
					@P_company_cd								=	M0020.company_cd
				AND #ORGANIZATION_TEMP.organization_cd_1		=	M0020.organization_cd_1
				)
				WHERE 
					M0020.organization_typ > @w_organization_typ
			END
			-- @w_organization_typ = 2
			IF @w_organization_typ = 2
			BEGIN
				INSERT INTO #ORGANIZATION_TEMP
				SELECT 
					ISNULL(M0020.organization_typ,0)
				,	ISNULL(M0020.organization_cd_1,'')
				,	ISNULL(M0020.organization_cd_2,'')
				,	ISNULL(M0020.organization_cd_3,'')
				,	ISNULL(M0020.organization_cd_4,'')
				,	ISNULL(M0020.organization_cd_5,'')
				,	ISNULL(M0020.organization_nm,'')
				,	1						--	authority
				,	0						--	is_view
				,	''						--	notes
				FROM #ORGANIZATION_TEMP
				INNER JOIN M0020 ON (
					@P_company_cd								=	M0020.company_cd
				AND #ORGANIZATION_TEMP.organization_cd_1		=	M0020.organization_cd_1
				AND #ORGANIZATION_TEMP.organization_cd_2		=	M0020.organization_cd_2
				)
				WHERE 
					M0020.organization_typ > @w_organization_typ
			END
			-- @w_organization_typ = 3
			IF @w_organization_typ = 3
			BEGIN
				INSERT INTO #ORGANIZATION_TEMP
				SELECT 
					ISNULL(M0020.organization_typ,0)
				,	ISNULL(M0020.organization_cd_1,'')
				,	ISNULL(M0020.organization_cd_2,'')
				,	ISNULL(M0020.organization_cd_3,'')
				,	ISNULL(M0020.organization_cd_4,'')
				,	ISNULL(M0020.organization_cd_5,'')
				,	ISNULL(M0020.organization_nm,'')
				,	1						--	authority
				,	0						--	is_view
				,	''						--	notes
				FROM #ORGANIZATION_TEMP
				INNER JOIN M0020 ON (
					@P_company_cd								=	M0020.company_cd
				AND #ORGANIZATION_TEMP.organization_cd_1		=	M0020.organization_cd_1
				AND #ORGANIZATION_TEMP.organization_cd_2		=	M0020.organization_cd_2
				AND #ORGANIZATION_TEMP.organization_cd_3		=	M0020.organization_cd_3
				)
				WHERE 
					M0020.organization_typ > @w_organization_typ
			END
			-- @w_organization_typ = 4
			IF @w_organization_typ = 4
			BEGIN
				INSERT INTO #ORGANIZATION_TEMP
				SELECT 
					ISNULL(M0020.organization_typ,0)
				,	ISNULL(M0020.organization_cd_1,'')
				,	ISNULL(M0020.organization_cd_2,'')
				,	ISNULL(M0020.organization_cd_3,'')
				,	ISNULL(M0020.organization_cd_4,'')
				,	ISNULL(M0020.organization_cd_5,'')
				,	ISNULL(M0020.organization_nm,'')
				,	1						--	authority
				,	0						--	is_view
				,	''						--	notes
				FROM #ORGANIZATION_TEMP
				INNER JOIN M0020 ON (
					@P_company_cd								=	M0020.company_cd
				AND #ORGANIZATION_TEMP.organization_cd_1		=	M0020.organization_cd_1
				AND #ORGANIZATION_TEMP.organization_cd_2		=	M0020.organization_cd_2
				AND #ORGANIZATION_TEMP.organization_cd_3		=	M0020.organization_cd_3
				AND #ORGANIZATION_TEMP.organization_cd_4		=	M0020.organization_cd_4
				)
				WHERE 
					M0020.organization_typ > @w_organization_typ
			END
			-- @w_organization_typ = 5
			IF @w_organization_typ = 5
			BEGIN
				INSERT INTO #ORGANIZATION_TEMP
				SELECT 
					ISNULL(M0020.organization_typ,0)
				,	ISNULL(M0020.organization_cd_1,'')
				,	ISNULL(M0020.organization_cd_2,'')
				,	ISNULL(M0020.organization_cd_3,'')
				,	ISNULL(M0020.organization_cd_4,'')
				,	ISNULL(M0020.organization_cd_5,'')
				,	ISNULL(M0020.organization_nm,'')
				,	1						--	authority
				,	0						--	is_view
				,	''						--	notes
				FROM #ORGANIZATION_TEMP
				INNER JOIN M0020 ON (
					@P_company_cd								=	M0020.company_cd
				AND #ORGANIZATION_TEMP.organization_cd_1		=	M0020.organization_cd_1
				AND #ORGANIZATION_TEMP.organization_cd_2		=	M0020.organization_cd_2
				AND #ORGANIZATION_TEMP.organization_cd_3		=	M0020.organization_cd_3
				AND #ORGANIZATION_TEMP.organization_cd_4		=	M0020.organization_cd_4
				AND #ORGANIZATION_TEMP.organization_cd_5		=	M0020.organization_cd_5
				)
				WHERE 
					M0020.organization_typ > @w_organization_typ
			END
			--AND M0070.del_datetime IS NULL
			-- WHEN LOGIN USER IS NOT SET organization_cd_1~organization_cd_5
			IF NOT EXISTS (SELECT 1 FROM #ORGANIZATION_TEMP)
			BEGIN
				INSERT INTO #ORGANIZATION_RESULT VALUES(1,NULL,NULL,NULL,NULL,NULL,1)
				-- GOTO COMPLETED
				GOTO COMPLETED
			END
		END
		ELSE IF @P_system = 1 -- 1.人事評価
		BEGIN
			INSERT INTO #ORGANIZATION_TEMP
			SELECT 
				ISNULL(M0020.organization_typ,0)
			,	ISNULL(S0022.organization_cd_1,'')
			,	ISNULL(S0022.organization_cd_2,'')
			,	ISNULL(S0022.organization_cd_3,'')
			,	ISNULL(S0022.organization_cd_4,'')
			,	ISNULL(S0022.organization_cd_5,'')
			,	ISNULL(M0020.organization_nm,'')
			,	S0022.authority			--	authority
			,	0						--	is_view
			,	''						--	notes
			FROM S0022
			INNER JOIN M0020 ON (
				S0022.company_cd			=	M0020.company_cd
			AND S0022.organization_cd_1		=	M0020.organization_cd_1
			AND S0022.organization_cd_2		=	M0020.organization_cd_2
			AND S0022.organization_cd_3		=	M0020.organization_cd_3
			AND S0022.organization_cd_4		=	M0020.organization_cd_4
			AND S0022.organization_cd_5		=	M0020.organization_cd_5
			)
			WHERE 
				S0022.company_cd		=	@P_company_cd
			AND S0022.authority_cd		=	@authority_cd
			AND S0022.del_datetime IS NULL
		END
		ELSE IF @P_system = 2 -- 2.1on1
		BEGIN
			INSERT INTO #ORGANIZATION_TEMP
			SELECT 
				ISNULL(M0020.organization_typ,0)
			,	ISNULL(S2022.organization_cd_1,'')
			,	ISNULL(S2022.organization_cd_2,'')
			,	ISNULL(S2022.organization_cd_3,'')
			,	ISNULL(S2022.organization_cd_4,'')
			,	ISNULL(S2022.organization_cd_5,'')
			,	ISNULL(M0020.organization_nm,'')
			,	S2022.authority				--	authority
			,	0							--	is_view
			,	''							--	notes
			FROM S2022
			INNER JOIN M0020 ON (
				S2022.company_cd			=	M0020.company_cd
			AND S2022.organization_cd_1		=	M0020.organization_cd_1
			AND S2022.organization_cd_2		=	M0020.organization_cd_2
			AND S2022.organization_cd_3		=	M0020.organization_cd_3
			AND S2022.organization_cd_4		=	M0020.organization_cd_4
			AND S2022.organization_cd_5		=	M0020.organization_cd_5
			)
			WHERE 
				S2022.company_cd		=	@P_company_cd
			AND S2022.authority_cd		=	@w_1on1_authority_cd
			AND S2022.del_datetime IS NULL
		END
		ELSE IF @P_system = 3 -- 3.マルチレビュー
		BEGIN
			INSERT INTO #ORGANIZATION_TEMP
			SELECT 
				ISNULL(M0020.organization_typ,0)
			,	ISNULL(S3022.organization_cd_1,'')
			,	ISNULL(S3022.organization_cd_2,'')
			,	ISNULL(S3022.organization_cd_3,'')
			,	ISNULL(S3022.organization_cd_4,'')
			,	ISNULL(S3022.organization_cd_5,'')
			,	ISNULL(M0020.organization_nm,'')
			,	S3022.authority			--	authority
			,	0						--	is_view
			,	''						--	notes
			FROM S3022
			INNER JOIN M0020 ON (
				S3022.company_cd			=	M0020.company_cd
			AND S3022.organization_cd_1		=	M0020.organization_cd_1
			AND S3022.organization_cd_2		=	M0020.organization_cd_2
			AND S3022.organization_cd_3		=	M0020.organization_cd_3
			AND S3022.organization_cd_4		=	M0020.organization_cd_4
			AND S3022.organization_cd_5		=	M0020.organization_cd_5
			)
			WHERE 
				S3022.company_cd		=	@P_company_cd
			AND S3022.authority_cd		=	@w_multireview_authority_cd
			AND S3022.del_datetime IS NULL
		END
		ELSE IF @P_system = 4 -- 4.共通設定
		BEGIN
			INSERT INTO #ORGANIZATION_TEMP
			SELECT 
				ISNULL(M0020.organization_typ,0)
			,	ISNULL(S9022.organization_cd_1,'')
			,	ISNULL(S9022.organization_cd_2,'')
			,	ISNULL(S9022.organization_cd_3,'')
			,	ISNULL(S9022.organization_cd_4,'')
			,	ISNULL(S9022.organization_cd_5,'')
			,	ISNULL(M0020.organization_nm,'')
			,	S9022.authority			--	authority
			,	0						--	is_view
			,	''						--	notes
			FROM S9022
			INNER JOIN M0020 ON (
				S9022.company_cd			=	M0020.company_cd
			AND S9022.organization_cd_1		=	M0020.organization_cd_1
			AND S9022.organization_cd_2		=	M0020.organization_cd_2
			AND S9022.organization_cd_3		=	M0020.organization_cd_3
			AND S9022.organization_cd_4		=	M0020.organization_cd_4
			AND S9022.organization_cd_5		=	M0020.organization_cd_5
			)
			WHERE 
				S9022.company_cd		=	@P_company_cd
			AND S9022.authority_cd		=	@w_setting_authority_cd
			AND S9022.del_datetime IS NULL
		END
		ELSE IF @P_system = 5 -- 5.週報
		BEGIN
			INSERT INTO #ORGANIZATION_TEMP
			SELECT 
				ISNULL(M0020.organization_typ,0)
			,	ISNULL(S4022.organization_cd_1,'')
			,	ISNULL(S4022.organization_cd_2,'')
			,	ISNULL(S4022.organization_cd_3,'')
			,	ISNULL(S4022.organization_cd_4,'')
			,	ISNULL(S4022.organization_cd_5,'')
			,	ISNULL(M0020.organization_nm,'')
			,	S4022.authority			--	authority
			,	0						--	is_view
			,	''						--	notes
			FROM S4022
			INNER JOIN M0020 ON (
				S4022.company_cd			=	M0020.company_cd
			AND S4022.organization_cd_1		=	M0020.organization_cd_1
			AND S4022.organization_cd_2		=	M0020.organization_cd_2
			AND S4022.organization_cd_3		=	M0020.organization_cd_3
			AND S4022.organization_cd_4		=	M0020.organization_cd_4
			AND S4022.organization_cd_5		=	M0020.organization_cd_5
			)
			WHERE 
				S4022.company_cd		=	@P_company_cd
			AND S4022.authority_cd		=	@w_report_authority_cd
			AND S4022.del_datetime IS NULL
		END
		ELSE IF @P_system = 6 -- 6.社員情報
		BEGIN
			INSERT INTO #ORGANIZATION_TEMP
			SELECT 
				ISNULL(M0020.organization_typ,0)
			,	ISNULL(S5022.organization_cd_1,'')
			,	ISNULL(S5022.organization_cd_2,'')
			,	ISNULL(S5022.organization_cd_3,'')
			,	ISNULL(S5022.organization_cd_4,'')
			,	ISNULL(S5022.organization_cd_5,'')
			,	ISNULL(M0020.organization_nm,'')
			,	S5022.authority			--	authority
			,	0						--	is_view
			,	''						--	notes
			FROM S5022
			INNER JOIN M0020 ON (
				S5022.company_cd			=	M0020.company_cd
			AND S5022.organization_cd_1		=	M0020.organization_cd_1
			AND S5022.organization_cd_2		=	M0020.organization_cd_2
			AND S5022.organization_cd_3		=	M0020.organization_cd_3
			AND S5022.organization_cd_4		=	M0020.organization_cd_4
			AND S5022.organization_cd_5		=	M0020.organization_cd_5
			)
			WHERE 
				S5022.company_cd		=	@P_company_cd
			AND S5022.authority_cd		=	@w_empinfo_authority_cd
			AND S5022.del_datetime IS NULL
		END
		-- ■ WHEN organization_belong_person_typ = 1. 自分の所属する組織のみ閲覧可能
		IF @w_organization_belong_person_typ = 1
		BEGIN
			INSERT INTO #ORGANIZATION_RESULT
			SELECT 
				ISNULL(#ORGANIZATION_TEMP.organization_typ,0)
			,	ISNULL(#ORGANIZATION_TEMP.organization_cd_1,'')
			,	ISNULL(#ORGANIZATION_TEMP.organization_cd_2,'')
			,	ISNULL(#ORGANIZATION_TEMP.organization_cd_3,'')
			,	ISNULL(#ORGANIZATION_TEMP.organization_cd_4,'')
			,	ISNULL(#ORGANIZATION_TEMP.organization_cd_5,'')
			,	1									--	authority
			FROM #ORGANIZATION_TEMP
			GOTO COMPLETED
		END
		-- ■ IF NOT EXISTS IN S0022 THEN GET ALL DATA OF M0020
		IF NOT EXISTS (SELECT 1 FROM #ORGANIZATION_TEMP)
		BEGIN
			INSERT INTO #ORGANIZATION_RESULT
			SELECT 
				ISNULL(M0020.organization_typ,0)
			,	ISNULL(M0020.organization_cd_1,'')
			,	ISNULL(M0020.organization_cd_2,'')
			,	ISNULL(M0020.organization_cd_3,'')
			,	ISNULL(M0020.organization_cd_4,'')
			,	ISNULL(M0020.organization_cd_5,'')
			,	1									--	authority
			FROM M0020
			WHERE 
				M0020.company_cd		=	@P_company_cd
		END
		-- ■ GET DATA OF S0022 + M0020
		ELSE
		BEGIN
			SET @w_cnt = (SELECT COUNT(1) FROM #ORGANIZATION_TEMP)
			WHILE @w_i <= @w_cnt
			BEGIN
				SELECT 
					@w_organization_cd_1_temp	=	#ORGANIZATION_TEMP.organization_cd_1
				,	@w_organization_cd_2_temp	=	#ORGANIZATION_TEMP.organization_cd_2
				,	@w_organization_cd_3_temp	=	#ORGANIZATION_TEMP.organization_cd_3
				,	@w_organization_cd_4_temp	=	#ORGANIZATION_TEMP.organization_cd_4
				,	@w_organization_cd_5_temp	=	#ORGANIZATION_TEMP.organization_cd_5
				,	@w_organization_typ_temp	=	#ORGANIZATION_TEMP.organization_typ
				,	@w_authority_temp			=	#ORGANIZATION_TEMP.authority
				FROM #ORGANIZATION_TEMP
				WHERE 
					#ORGANIZATION_TEMP.id = @w_i
				-- org = 1
				IF @w_organization_typ_temp = 1 AND @w_authority_temp = 1	
				BEGIN
					SET @w_child_checked_cnt = (SELECT COUNT(1) FROM #ORGANIZATION_TEMP WHERE organization_cd_1 = @w_organization_cd_1_temp AND organization_typ > 1 AND authority = 1)
					SET @w_child_cnt = (SELECT COUNT(1) FROM #ORGANIZATION_TEMP WHERE organization_cd_1 = @w_organization_cd_1_temp  AND organization_typ > 1)
					-- VIEW CURRENT ORGANIZATION
					UPDATE #ORGANIZATION_TEMP SET 
						is_view = 1
					,	notes	= 'notes:11' 
					FROM #ORGANIZATION_TEMP AS S
					WHERE 
						S.organization_cd_1 = @w_organization_cd_1_temp
					AND S.organization_typ	= 1
					-- WHEN CHILDS ALL CHECKED OR ALL UNCHECKED
					IF @w_child_checked_cnt = 0 OR @w_child_checked_cnt = @w_child_cnt
					BEGIN
						UPDATE #ORGANIZATION_TEMP SET 
							is_view = 1
						,	notes	= 'notes:12' 
						FROM #ORGANIZATION_TEMP AS S
						WHERE
							S.organization_cd_1		=	@w_organization_cd_1_temp
					END
					ELSE
					BEGIN
						-- NOT VIEW CURRENT ORGANIZATION
						UPDATE #ORGANIZATION_TEMP SET 
							is_view = 0
						,	notes	= 'notes:13' 
						FROM #ORGANIZATION_TEMP AS S
						WHERE 
							S.organization_cd_1 = @w_organization_cd_1_temp
						AND S.organization_typ	= 1
					END
				END
				-- org = 2
				IF @w_organization_typ_temp = 2 AND @w_authority_temp = 1
				BEGIN
					-- GET PARENTS INFO
					SET @w_child_checked_cnt	= (SELECT COUNT(1) FROM #ORGANIZATION_TEMP WHERE organization_cd_1 = @w_organization_cd_1_temp AND organization_cd_2 = @w_organization_cd_2_temp AND organization_typ > 2 AND authority = 1)
					SET @w_child_cnt			= (SELECT COUNT(1) FROM #ORGANIZATION_TEMP WHERE organization_cd_1 = @w_organization_cd_1_temp AND organization_cd_2 = @w_organization_cd_2_temp AND organization_typ > 2)
					-- VIEW CURRENT ORGANIZATION
					UPDATE #ORGANIZATION_TEMP SET 
						is_view = 1
					,	notes	= 'notes:21'
					FROM #ORGANIZATION_TEMP AS S
					WHERE 
						S.organization_cd_1 =	@w_organization_cd_1_temp
					AND S.organization_cd_2	=	@w_organization_cd_2_temp
					AND S.organization_typ	=	2
					-- WHEN CHILDS ALL CHECKED OR ALL UNCHECKED
					IF @w_child_checked_cnt = 0 OR @w_child_checked_cnt = @w_child_cnt
					BEGIN
						UPDATE #ORGANIZATION_TEMP SET 
							is_view = 1
						,	notes	= 'notes:22' 
						FROM #ORGANIZATION_TEMP AS S
						WHERE
							S.organization_cd_1		=	@w_organization_cd_1_temp
						AND S.organization_cd_2		=	@w_organization_cd_2_temp
					END
					ELSE
					BEGIN
						-- NOT VIEW CURRENT ORGANIZATION
						UPDATE #ORGANIZATION_TEMP SET 
							is_view = 0
						,	notes	= 'notes:23' 
						FROM #ORGANIZATION_TEMP AS S
						WHERE 
							S.organization_cd_1 = @w_organization_cd_1_temp
						AND S.organization_cd_2	= @w_organization_cd_2_temp
						AND S.organization_typ	= 2
					END
				END
				-- org = 3
				IF @w_organization_typ_temp = 3 AND @w_authority_temp = 1
				BEGIN
					-- GET PARENTS INFO
					SET @w_child_checked_cnt	= (SELECT COUNT(1) FROM #ORGANIZATION_TEMP WHERE organization_cd_1 = @w_organization_cd_1_temp AND organization_cd_2 = @w_organization_cd_2_temp AND organization_cd_3 = @w_organization_cd_3_temp AND organization_typ > 3 AND authority = 1)
					SET @w_child_cnt			= (SELECT COUNT(1) FROM #ORGANIZATION_TEMP WHERE organization_cd_1 = @w_organization_cd_1_temp AND organization_cd_2 = @w_organization_cd_2_temp AND organization_cd_3 = @w_organization_cd_3_temp AND organization_typ > 3)
					-- VIEW CURRENT ORGANIZATION
					UPDATE #ORGANIZATION_TEMP SET 
						is_view = 1
					,	notes	= 'notes:31'
					FROM #ORGANIZATION_TEMP AS S
					WHERE 
						S.organization_cd_1 =	@w_organization_cd_1_temp
					AND S.organization_cd_2	=	@w_organization_cd_2_temp
					AND S.organization_cd_3	=	@w_organization_cd_3_temp
					AND S.organization_typ	=	3
					-- WHEN CHILDS ALL CHECKED OR ALL UNCHECKED
					IF @w_child_checked_cnt = 0 OR @w_child_checked_cnt = @w_child_cnt
					BEGIN
						UPDATE #ORGANIZATION_TEMP SET 
							is_view = 1
						,	notes	= 'notes:32' 
						FROM #ORGANIZATION_TEMP AS S
						WHERE
							S.organization_cd_1		=	@w_organization_cd_1_temp
						AND S.organization_cd_2		=	@w_organization_cd_2_temp
						AND S.organization_cd_3		=	@w_organization_cd_3_temp
					END
					ELSE
					BEGIN
						-- NOT VIEW CURRENT ORGANIZATION
						UPDATE #ORGANIZATION_TEMP SET 
							is_view = 0
						,	notes	= 'notes:33' 
						FROM #ORGANIZATION_TEMP AS S
						WHERE 
							S.organization_cd_1 = @w_organization_cd_1_temp
						AND S.organization_cd_2	= @w_organization_cd_2_temp
						AND S.organization_cd_3	= @w_organization_cd_3_temp
						AND S.organization_typ	= 3
					END
				END
				-- org = 4
				IF @w_organization_typ_temp = 4 AND @w_authority_temp = 1
				BEGIN
					-- GET PARENTS INFO
					SET @w_child_checked_cnt	= (SELECT COUNT(1) FROM #ORGANIZATION_TEMP WHERE organization_cd_1 = @w_organization_cd_1_temp AND organization_cd_2 = @w_organization_cd_2_temp AND organization_cd_3 = @w_organization_cd_3_temp AND organization_cd_4 = @w_organization_cd_4_temp AND organization_typ > 4 AND authority = 1)
					SET @w_child_cnt			= (SELECT COUNT(1) FROM #ORGANIZATION_TEMP WHERE organization_cd_1 = @w_organization_cd_1_temp AND organization_cd_2 = @w_organization_cd_2_temp AND organization_cd_3 = @w_organization_cd_3_temp AND organization_cd_4 = @w_organization_cd_4_temp AND organization_typ > 4)
					-- VIEW CURRENT ORGANIZATION
					UPDATE #ORGANIZATION_TEMP SET 
						is_view = 1
					,	notes	= 'notes:41'
					FROM #ORGANIZATION_TEMP AS S
					WHERE 
						S.organization_cd_1 =	@w_organization_cd_1_temp
					AND S.organization_cd_2	=	@w_organization_cd_2_temp
					AND S.organization_cd_3	=	@w_organization_cd_3_temp
					AND S.organization_cd_4	=	@w_organization_cd_4_temp
					AND S.organization_typ	=	4
					-- WHEN CHILDS ALL CHECKED OR ALL UNCHECKED
					IF @w_child_checked_cnt = 0 OR @w_child_checked_cnt = @w_child_cnt
					BEGIN
						UPDATE #ORGANIZATION_TEMP SET 
							is_view = 1
						,	notes	= 'notes:42' 
						FROM #ORGANIZATION_TEMP AS S
						WHERE
							S.organization_cd_1		=	@w_organization_cd_1_temp
						AND S.organization_cd_2		=	@w_organization_cd_2_temp
						AND S.organization_cd_3		=	@w_organization_cd_3_temp
						AND S.organization_cd_4		=	@w_organization_cd_4_temp
					END
					ELSE
					BEGIN
						-- NOT VIEW CURRENT ORGANIZATION
						UPDATE #ORGANIZATION_TEMP SET 
							is_view = 0
						,	notes	= 'notes:43' 
						FROM #ORGANIZATION_TEMP AS S
						WHERE 
							S.organization_cd_1 = @w_organization_cd_1_temp
						AND S.organization_cd_2	= @w_organization_cd_2_temp
						AND S.organization_cd_3	= @w_organization_cd_3_temp
						AND S.organization_cd_4	= @w_organization_cd_4_temp
						AND S.organization_typ	= 4
					END
				END
				-- org = 5
				IF @w_organization_typ_temp = 5 AND @w_authority_temp = 1
				BEGIN
					UPDATE #ORGANIZATION_TEMP SET 
						is_view = 1
					,	notes	= 'notes:51' 
					FROM #ORGANIZATION_TEMP AS S
					WHERE
						S.organization_cd_1		=	@w_organization_cd_1_temp
					AND S.organization_cd_2		=	@w_organization_cd_2_temp
					AND S.organization_cd_3		=	@w_organization_cd_3_temp
					AND S.organization_cd_4		=	@w_organization_cd_4_temp
					AND S.organization_cd_5		=	@w_organization_cd_5_temp
					AND S.organization_typ		=	5
				END
				--
				SET @w_i = @w_i + 1
			END
			--SELECT * FROM #ORGANIZATION_TEMP
			--RETURN
			-- INSERT INTO #ORGANIZATION_RESULT
			INSERT INTO #ORGANIZATION_RESULT
			SELECT 
				#ORGANIZATION_TEMP.organization_typ
			,	#ORGANIZATION_TEMP.organization_cd_1
			,	#ORGANIZATION_TEMP.organization_cd_2
			,	#ORGANIZATION_TEMP.organization_cd_3
			,	#ORGANIZATION_TEMP.organization_cd_4
			,	#ORGANIZATION_TEMP.organization_cd_5
			,	#ORGANIZATION_TEMP.authority			--	authority
			FROM #ORGANIZATION_TEMP
			WHERE	
				#ORGANIZATION_TEMP.is_view = 1
		END
		-- GOTO COMPLETED
		GOTO COMPLETED
	END
	--■ CHECK WHEN AUTHORITY_TYP  <> 3.管理者 WHEN NOT CHOICE ORGANIZATION IN SCREEN
	-- @authority_typ IN (2,4,5) OR @w_1on1_authority_typ IN (2,4,5) OR @w_multireview_authority_typ IN (2,4,5) OR @w_setting_authority_typ IN (2,4,5)
	IF (@authority_typ IN (2,4,5) OR @w_1on1_authority_typ IN(2,4,5) OR @w_multireview_authority_typ IN(2,4,5) OR @w_setting_authority_typ IN(2,4,5) OR @w_report_authority_typ IN(2,4,5)) OR @w_empinfo_authority_typ <> 3 -- edited by viettd 2024/08/21
	BEGIN
		INSERT INTO #ORGANIZATION_RESULT
		SELECT 
			ISNULL(M0020.organization_typ,0)
		,	ISNULL(M0020.organization_cd_1,'')
		,	ISNULL(M0020.organization_cd_2,'')
		,	ISNULL(M0020.organization_cd_3,'')
		,	ISNULL(M0020.organization_cd_4,'')
		,	ISNULL(M0020.organization_cd_5,'')
		,	1									--	authority
		FROM M0020
		WHERE 
			M0020.company_cd		=	@P_company_cd
		-- GOTO COMPLETED
		GOTO COMPLETED
	END
	----------------------------------------------------------------------
	-- RESULT
	----------------------------------------------------------------------
COMPLETED:
	-- If choice organization_typ = 1
	IF EXISTS (SELECT 1 FROM #ORGANIZATION_SCREEN WHERE organization_typ = 1)
	BEGIN
		DELETE D FROM #ORGANIZATION_RESULT AS D 
		LEFT OUTER JOIN #ORGANIZATION_SCREEN AS S ON (
			D.organization_cd_1			=	S.organization_cd_1
		AND 1							=	S.organization_typ
		)
		WHERE
			S.organization_typ IS NULL
	END
	-- If choice organization_typ = 2
	IF EXISTS (SELECT 1 FROM #ORGANIZATION_SCREEN WHERE organization_typ = 2)
	BEGIN
		DELETE D FROM #ORGANIZATION_RESULT AS D 
		LEFT OUTER JOIN #ORGANIZATION_SCREEN AS S ON (
			D.organization_cd_1			=	S.organization_cd_1
		AND	D.organization_cd_2			=	S.organization_cd_2
		AND 2							=	S.organization_typ
		)
		WHERE
			S.organization_typ IS NULL
	END
	-- If choice organization_typ = 3
	IF EXISTS (SELECT 1 FROM #ORGANIZATION_SCREEN WHERE organization_typ = 3)
	BEGIN
		DELETE D FROM #ORGANIZATION_RESULT AS D 
		LEFT OUTER JOIN #ORGANIZATION_SCREEN AS S ON (
			D.organization_cd_1			=	S.organization_cd_1
		AND	D.organization_cd_2			=	S.organization_cd_2
		AND	D.organization_cd_3			=	S.organization_cd_3
		AND 3							=	S.organization_typ
		)
		WHERE
			S.organization_typ IS NULL
	END
	-- If choice organization_typ = 4
	IF EXISTS (SELECT 1 FROM #ORGANIZATION_SCREEN WHERE organization_typ = 4)
	BEGIN
		DELETE D FROM #ORGANIZATION_RESULT AS D 
		LEFT OUTER JOIN #ORGANIZATION_SCREEN AS S ON (
			D.organization_cd_1			=	S.organization_cd_1
		AND	D.organization_cd_2			=	S.organization_cd_2
		AND	D.organization_cd_3			=	S.organization_cd_3
		AND	D.organization_cd_4			=	S.organization_cd_4
		AND 4							=	S.organization_typ
		)
		WHERE
			S.organization_typ IS NULL
	END
	-- If choice organization_typ = 5
	IF EXISTS (SELECT 1 FROM #ORGANIZATION_SCREEN WHERE organization_typ = 5)
	BEGIN
		DELETE D FROM #ORGANIZATION_RESULT AS D 
		LEFT OUTER JOIN #ORGANIZATION_SCREEN AS S ON (
			D.organization_cd_1			=	S.organization_cd_1
		AND	D.organization_cd_2			=	S.organization_cd_2
		AND	D.organization_cd_3			=	S.organization_cd_3
		AND	D.organization_cd_4			=	S.organization_cd_4
		AND	D.organization_cd_5			=	S.organization_cd_5
		AND 5							=	S.organization_typ
		)
		WHERE
			S.organization_typ IS NULL
	END
	--[0]
	SELECT 
		organization_typ			AS	organization_typ
	,	organization_cd_1			AS	organization_cd_1
	,	organization_cd_2			AS	organization_cd_2
	,	organization_cd_3			AS	organization_cd_3
	,	organization_cd_4			AS	organization_cd_4
	,	organization_cd_5			AS	organization_cd_5
	,	@choice_in_screen			AS	choice_in_screen
	FROM #ORGANIZATION_RESULT
	ORDER BY
		organization_typ
	,	organization_cd_1	
	,	organization_cd_2	
	,	organization_cd_3	
	,	organization_cd_4	
	,	organization_cd_5	
END
GO
