DROP PROCEDURE [SPC_I1040_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/08/20											
--*	作成者/creater				:	longvv				
--*   					
--*	更新日/update date			:  	2019/05/08								
--*	更新者/updater				:　 longvv	 　								     	 
--*	更新内容/update content		:	修正依頼「2019/05/08」の修正。
--*   					
--*	更新日/update date			:  	2019/07/11								
--*	更新者/updater				:　 viettd								     	 
--*	更新内容/update content		:	remove [入力した終了日が評価期間(label)に表示された期間から外れていたらエラー]
--*   					
--*	更新日/update date			:  	2022/01/20								
--*	更新者/updater				:　 viettd								     	 
--*	更新内容/update content		:	when mode update : apply note1 & note2
--*	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_I1040_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			nvarchar(max)
	-- common
,	@P_cre_user		nvarchar(50)
,	@P_cre_ip		nvarchar(50)
,	@P_company_cd	smallint

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					= 0
	,	@fiscal_year			INT					= 0
	,	@period_cd				INT					= 0
	,	@period_from			DATE				= NULL
	,	@period_to				DATE				= NULL
	,	@max_id					INT					= 0
	,	@num					INT					= 1
	,	@deadline1				DATE				= NULL
	,	@start_date1			DATE				= NULL
	,	@deadline2				DATE				= NULL
	,	@start_date2			DATE				= NULL
	,	@category				INT					= 1		
	,	@max_category			INT					= 0
	CREATE TABLE #TBL_JSON(
		id						INT		IDENTITY(1,1)
	,	company_cd				INT
	,	category				INT
	,	status_cd				INT
	,	[start_date]			DATE
	,	deadline_date			DATE
	,	notice_information		INT
	,	alert_information		INT
	)
	CREATE TABLE #CHECK(
		id						INT		IDENTITY(1,1)
	,	company_cd				INT
	,	category				INT
	,	status_cd				INT
	,	[start_date]			DATE
	,	deadline_date			DATE
	,	notice_information		INT
	,	alert_information		INT
	)

	CREATE TABLE #F0300(
		id						INT		IDENTITY(1,1)
	,	company_cd				SMALLINT
	,	fiscal_year				INT
	,	period_detail_no		SMALLINT
	,	category				SMALLINT
	,	status_cd				SMALLINT
	,	cre_user				NVARCHAR(50)
	,	cre_ip					NVARCHAR(50)
	,	cre_prg					NVARCHAR(20)
	,	cre_datetime			DATETIME
	)	
		-- assign
		SET	@fiscal_year		=	JSON_VALUE(@P_json,'$.fiscal_year')
		SET	@period_cd			=	JSON_VALUE(@P_json,'$.period_cd')
		SET	@period_from		=	JSON_VALUE(@P_json,'$.period_from')
		SET	@period_to			=	JSON_VALUE(@P_json,'$.period_to')
		--
		
		--check json
		IF ISJSON(@P_json) <= 0
			BEGIN
				INSERT INTO @ERR_TBL VALUES(		
					8									-- mã lỗi (trùng với mã trong bảng message) 					
				,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0									-- Tùy ý
				,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
				)
			END
		--
		
		INSERT INTO #TBL_JSON
		SELECT
			@P_company_cd 																
		,	ISNULL([row].category,'')				
		,	ISNULL([row].status_cd,'')												
		,	IIF([row].[start_date] 			= '',NULL,[row].[start_date] )								
		,	IIF([row].deadline_date			= '',NULL,[row].deadline_date	)								
		,	[row].notice_information												
		,	[row].alert_information												
		FROM OPENJSON(@P_json,'$.list') WITH(			
			category				INT
		,	status_cd				INT
		,	[start_date]			DATE
		,	deadline_date			DATE
		,	notice_information		INT
		,	alert_information		INT
		) AS [row] 
		IF (SELECT COUNT(1) FROM #TBL_JSON) = 0 
		BEGIN 
			INSERT INTO @ERR_TBL 
				SELECT																									
					21									-- mã lỗi (trùng với mã trong bảng message) 								message_no
				,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
				,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
				,	1-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
				,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
				,	0									-- Tùy ý																	value2
				,	'NO-DATA'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
		END
		--CHECK REQUIRED
		IF(@fiscal_year = 0)
		BEGIN 
		INSERT INTO @ERR_TBL 
			SELECT																									
				8									-- mã lỗi (trùng với mã trong bảng message) 								message_no
			,	'#fiscal_year'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
			,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
			,	0									-- Tùy ý																	value2
			,	'fiscal_year'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
		END
		--CHECK REQUIRED
		IF(@period_cd = 0)
		BEGIN 
		INSERT INTO @ERR_TBL 
			SELECT																									
				8									-- mã lỗi (trùng với mã trong bảng message) 								message_no
			,	'#period_cd'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
			,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
			,	0									-- Tùy ý																	value2
			,	'period_cd'							-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
		END
		INSERT INTO @ERR_TBL 
			SELECT																									
				24									-- mã lỗi (trùng với mã trong bảng message) 								message_no
			,	'.start_date'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
			,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
			,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
			,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
			,	0									-- Tùy ý																	value2
			,	'start_date'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
			FROM #TBL_JSON
			WHERE (#TBL_JSON.[start_date] > #TBL_JSON.deadline_date )--OR(#TBL_JSON.[start_date]IS NULL AND #TBL_JSON.deadline_date IS NULL)
		INSERT INTO @ERR_TBL 
			SELECT																									
				24									-- mã lỗi (trùng với mã trong bảng message) 								message_no
			,	'.deadline_date'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
			,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
			,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
			,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
			,	0									-- Tùy ý																	value2
			,	'deadline_date'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
			FROM #TBL_JSON
			WHERE (#TBL_JSON.[start_date] > #TBL_JSON.deadline_date ) --OR(#TBL_JSON.[start_date]IS NULL AND #TBL_JSON.deadline_date IS NULL)
			INSERT INTO #CHECK
			SELECT
				company_cd				
			,	category				
			,	status_cd				
			,	[start_date]			
			,	deadline_date			
			,	notice_information		
			,	alert_information		
			FROM #TBL_JSON
			WHERE id <= @max_id
		--
		SELECT 
			@max_category	=	ISNULL(MAX(category),0) 
		FROM #TBL_JSON where start_date is not null or #TBL_JSON.deadline_date is not null
		WHILE (@category	<=	@max_category)
		BEGIN
			SELECT @max_id	= ISNULL(MAX(id),0) FROM #TBL_JSON where (#TBL_JSON.start_date is not null or #TBL_JSON.deadline_date is not null)	and #TBL_JSON.category	=	@category
			SELECT @num		= ISNULL(MIN(id),0) FROM #TBL_JSON where category	=	@category
			--	
			WHILE (@num < @max_id)
			BEGIN
				SET @start_date1	= (SELECT #TBL_JSON.start_date		FROM #TBL_JSON WHERE id = @num		)
				SET @deadline1		= (SELECT #TBL_JSON.deadline_date	FROM #TBL_JSON WHERE id = @num 		)
				SET @start_date2	= (SELECT #TBL_JSON.start_date		FROM #TBL_JSON WHERE id = @num + 1	)
				SET @deadline2		= (SELECT #TBL_JSON.deadline_date	FROM #TBL_JSON WHERE id = @num + 1 	)
				IF(@deadline1 IS NULL  AND @start_date1 IS NOT NULL)
				BEGIN
					INSERT INTO @ERR_TBL 
					SELECT		
						8								
					,	'.deadline_date'					  				
					,	0-- oderby						
					,	0			  					
					,	@num								
					,	0								
					,	'deadline_date1'		
						
				END
				IF(@deadline2 IS NULL AND @start_date2 IS NOT NULL)
				BEGIN
					INSERT INTO @ERR_TBL 
					SELECT		
						8								
					,	'.deadline_date'					  				
					,	0-- oderby						
					,	0			  					
					,	@num +1 								
					,	0								
					,	'deadline_date2'	
				END
				IF(@start_date1 IS NULL AND @deadline1 IS NOT NULL)
				BEGIN
					INSERT INTO @ERR_TBL 
					SELECT		
						8								
					,	'.start_date'					  				
					,	0-- oderby						
					,	0			  					
					,	@num								
					,	0								
					,	'start_date1'		
						
				END
				IF(@start_date2 IS NULL AND @deadline2 IS NOT NULL)
				BEGIN
					INSERT INTO @ERR_TBL 
					SELECT		
						8								
					,	'.start_date'					  				
					,	0-- oderby						
					,	0			  					
					,	@num +1 								
					,	0								
					,	'start_date1'	
				END
				--IF (@deadline1 <> @deadline2  AND (@deadline1  > @deadline2))
				--BEGIN
				--	--
				--	INSERT INTO @ERR_TBL 
				--	SELECT		
				--		24								
				--	,	'.deadline_date'					  				
				--	,	1-- oderby						
				--	,	0			  					
				--	,	id								
				--	,	0								
				--	,	'deadline_date'					
				--	FROM #TBL_JSON
				--	WHERE (id = @num +1 )
				--	--
				--	INSERT INTO @ERR_TBL 
				--	SELECT		
				--		24								
				--	,	'.deadline_date'					  				
				--	,	1-- oderby						
				--	,	0			  					
				--	,	id								
				--	,	0								
				--	,	'deadline_date'					
				--	FROM #TBL_JSON
				--	WHERE (id = (@num ))
				--END 
				--IF (@start_date1 <> @start_date2   AND (@start_date1  > @start_date2))
				--BEGIN
				--	--
				--	INSERT INTO @ERR_TBL 
				--	SELECT		
				--		24								
				--	,	'.start_date'					  				
				--	,	1-- oderby						
				--	,	0			  					
				--	,	id								
				--	,	0								
				--	,	'start_date'					
				--	FROM #TBL_JSON
				--	WHERE (id = @num +1 )
				--	--
				--	INSERT INTO @ERR_TBL 
				--	SELECT		
				--		24								
				--	,	'.start_date'					  				
				--	,	1-- oderby						
				--	,	0			  					
				--	,	id								
				--	,	0								
				--	,	'start_date'					
				--	FROM #TBL_JSON
				--	WHERE (id = (@num ))
				--END 
				SET @num = @num + 1
			END
			SET @category = @category + 1
		END
		--
		--IF EXISTS(SELECT 1 FROM F0300 LEFT JOIN #TBL_JSON ON (
		--														F0300.company_cd		=	#TBL_JSON.company_cd
		--													AND	F0300.fiscal_year		=	@fiscal_year
		--													AND	F0300.period_detail_no	=	@period_cd
		--													AND	F0300.category			=	#TBL_JSON.category
		--													AND	F0300.status_cd			=	#TBL_JSON.status_cd
		--													))
		--BEGIN
			--INSERT INTO @ERR_TBL 
			--SELECT																									
			--	56									-- mã lỗi (trùng với mã trong bảng message) 								message_no
			--,	'.notice_information'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
			--,	4-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
			--,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
			--,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
			--,	0									-- Tùy ý																	value2
			--,	'notice_information'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
			--FROM M0311 LEFT JOIN #TBL_JSON ON (
			--									M0311.company_cd		=	#TBL_JSON.company_cd
			--								AND	M0311.category			=	#TBL_JSON.category
			--								AND	M0311.status_cd			=	#TBL_JSON.status_cd
			--								)
			--WHERE (M0311.alert_title			IS NULL OR	M0311.alert_title				= '')
			--OR	(M0311.notice_title				IS NULL OR	M0311.notice_title				= '')
			--OR	(M0311.alert_message			IS NULL OR	M0311.alert_message				= '')
			--OR	(M0311.notice_message			IS NULL OR	M0311.notice_message			= '')
			--OR	(M0311.notice_sending_target	IS NULL OR	M0311.notice_sending_target		= '')
			--OR	(M0311.[alert_sending_target]	IS NULL OR	M0311.[alert_sending_target]	= '')

		--END
		
		IF EXISTS((SELECT 1 FROM #TBL_JSON WHERE alert_information <>0) ) OR EXISTS(SELECT 1 FROM #TBL_JSON WHERE notice_information <>0 )
		BEGIN
			--IF EXISTS(SELECT 1 FROM  M0311 
			--						LEFT JOIN #TBL_JSON ON (
			--							M0311.company_cd		=	#TBL_JSON.company_cd
			--						AND	M0311.category			=	#TBL_JSON.category
			--						AND	M0311.status_cd			=	#TBL_JSON.status_cd
			--						)
			--					WHERE M0311.del_datetime IS NULL AND (#TBL_JSON.notice_information <> 0 OR #TBL_JSON.alert_information <>0))
			--BEGIN
				INSERT INTO @ERR_TBL 
				SELECT																									
					56									-- mã lỗi (trùng với mã trong bảng message) 								message_no
				,	'.notice_information'				-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
				,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
				,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
				,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
				,	0									-- Tùy ý																	value2
				,	'start_date'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
				FROM M0311 
				LEFT JOIN #TBL_JSON ON (
					M0311.company_cd		=	#TBL_JSON.company_cd
				AND	M0311.category			=	#TBL_JSON.category
				AND	M0311.status_cd			=	#TBL_JSON.status_cd
				)
				WHERE #TBL_JSON.notice_information <> 0
				AND	(	M0311.notice_title				IS NULL OR	M0311.notice_title			=	''
					OR	M0311.notice_message			IS NULL OR	M0311.notice_message		=	''
					OR	M0311.notice_sending_target		IS NULL OR	M0311.notice_sending_target	=	0
				)
				AND M0311.del_datetime IS NULL
	
				INSERT INTO @ERR_TBL 
				SELECT																									
					56									-- mã lỗi (trùng với mã trong bảng message) 								message_no
				,	'.alert_information'				-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
				,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
				,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
				,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
				,	0									-- Tùy ý																	value2
				,	'start_date'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
				FROM M0311 
				LEFT JOIN #TBL_JSON ON (
					M0311.company_cd		=	#TBL_JSON.company_cd
				AND	M0311.category			=	#TBL_JSON.category
				AND	M0311.status_cd			=	#TBL_JSON.status_cd
				)
				WHERE #TBL_JSON.alert_information <> 0
				AND	(M0311.alert_title					IS NULL OR	M0311.alert_title				= ''
					OR	M0311.alert_message				IS NULL OR	M0311.alert_message				= ''
					OR	M0311.[alert_sending_target]	IS NULL OR	M0311.[alert_sending_target]	= 0
				)
				AND M0311.del_datetime IS NULL
			--END ELSE
			--BEGIN
				INSERT INTO @ERR_TBL 
				SELECT																									
					56									-- mã lỗi (trùng với mã trong bảng message) 								message_no
				,	'.notice_information'				-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
				,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
				,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
				,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
				,	0									-- Tùy ý																	value2
				,	'start_date'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
				FROM #TBL_JSON 
				LEFT JOIN M0311 ON (
					M0311.company_cd		=	#TBL_JSON.company_cd
				AND	M0311.category			=	#TBL_JSON.category
				AND	M0311.status_cd			=	#TBL_JSON.status_cd
				AND M0311.del_datetime IS NULL
				)
				WHERE M0311.company_cd IS NULL AND #TBL_JSON.notice_information <> 0

				INSERT INTO @ERR_TBL 
				SELECT																									
					56									-- mã lỗi (trùng với mã trong bảng message) 								message_no
				,	'.alert_information'				-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
				,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
				,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
				,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
				,	0									-- Tùy ý																	value2
				,	'start_date'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
				FROM #TBL_JSON 
				LEFT JOIN M0311 ON (
					M0311.company_cd		=	#TBL_JSON.company_cd
				AND	M0311.category			=	#TBL_JSON.category
				AND	M0311.status_cd			=	#TBL_JSON.status_cd
				AND M0311.del_datetime IS NULL
				)
				WHERE M0311.company_cd IS NULL AND #TBL_JSON.alert_information <> 0
			--END
		END
		-- CHECK ERROR IF DATE OUT OF PERIOD
		--INSERT INTO @ERR_TBL 
		--SELECT																									
		--	9									-- mã lỗi (trùng với mã trong bảng message) 								message_no
		--,	'.start_date'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
		--,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
		--,	0-- tooltip  			
		--			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
		--,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
		--,	0									-- Tùy ý																	value2
		--,	'start_date'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
		--FROM #TBL_JSON
		--WHERE #TBL_JSON.[start_date] > @period_to  OR #TBL_JSON.[start_date] < @period_from 
		-- ↓↓↓ edited by viettd 2019/07/11
		---- CHECK ERROR IF DATE OUT OF PERIOD
		--INSERT INTO @ERR_TBL 
		--SELECT																									
		--	9									-- mã lỗi (trùng với mã trong bảng message) 								message_no
		--,	'.deadline_date'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
		--,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
		--,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
		--,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
		--,	0									-- Tùy ý																	value2
		--,	'deadline_date'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
		--FROM #TBL_JSON
		--WHERE #TBL_JSON.[deadline_date] < @period_from  OR #TBL_JSON.[deadline_date] > @period_to
		-- ↑↑↑ end edited by viettd 2019/07/11
		--UPDATE TO F0300
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	IF EXISTS (SELECT 1 FROM M9100 WHERE company_cd = @P_company_cd AND beginning_date IS NULL AND del_datetime IS NULL)
	OR NOT EXISTS ( SELECT 1 FROM M9100 WHERE company_cd = @P_company_cd)
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			173								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'beginning_date'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			--UPDATE F0300
			--SET
			--	start_date				=	#TBL_JSON.start_date
			--,	deadline_date			=	#TBL_JSON.deadline_date
			--,	notice_information		=	CASE	
			--										WHEN #TBL_JSON.notice_information = 1 THEN 1
			--										WHEN #TBL_JSON.notice_information = 2 THEN 0
			--										WHEN #TBL_JSON.notice_information = 3 THEN 1
			--										ELSE f0300.notice_information
			--								END
			--,	notice_mail			=		CASE	WHEN #TBL_JSON.notice_information = 1 THEN 0
			--										WHEN #TBL_JSON.notice_information = 2 THEN 1
			--										WHEN #TBL_JSON.notice_information = 3 THEN 1
			--										ELSE f0300.notice_mail
			--								END

			--,	alert_information		=	CASE	WHEN #TBL_JSON.alert_information = 1 THEN 1
			--										WHEN #TBL_JSON.alert_information = 2 THEN 0
			--										WHEN #TBL_JSON.alert_information = 3 THEN 1
			--										ELSE f0300.alert_information
			--								END
			--,	alert_mail				=	CASE	WHEN #TBL_JSON.alert_information = 1 THEN 0
			--										WHEN #TBL_JSON.alert_information = 2 THEN 1
			--										WHEN #TBL_JSON.alert_information = 3 THEN 1
			--										ELSE F0300.alert_mail
			--									END
			--,	upd_user					=	@P_cre_user
			--,	upd_ip						=	@P_cre_ip
			--,	upd_datetime   				=	@w_time
			--,	del_user					=	SPACE(0)
			--,	del_ip						=	SPACE(0)
			--,	del_datetime   				=	NULL
			--FROM F0300 
			--INNER JOIN  #TBL_JSON ON(
			--	F0300.company_cd			=	#TBL_JSON.company_cd
			--AND	f0300.fiscal_year			=	@fiscal_year
			--AND	F0300.period_detail_no		=	@period_cd
			--AND	F0300.category				=	#TBL_JSON.category
			--AND	F0300.status_cd				=	#TBL_JSON.status_cd
			--)

			-- insert into #F0300
			INSERT INTO #F0300
			SELECT
				F0300.company_cd		
			,	F0300.fiscal_year		
			,	F0300.period_detail_no
			,	F0300.category		
			,	F0300.status_cd		
			,	F0300.cre_user		
			,	F0300.cre_ip			
			,	F0300.cre_prg			
			,	F0300.cre_datetime	
			FROM F0300
			WHERE 
				company_cd		 = @P_company_cd 
			AND fiscal_year		 = @fiscal_year 
			AND period_detail_no = @period_cd
			--delete F0300
			DELETE F0300 WHERE company_cd = @P_company_cd AND fiscal_year = @fiscal_year AND period_detail_no = @period_cd
			-- INSERT INTO F0300
			INSERT INTO F0300
			(	company_cd
			,	fiscal_year
			,	period_detail_no
			,	category
			,	status_cd
			,	start_date
			,	deadline_date
			,	notice_information
			,	notice_mail
			,	notice_title
			,	notice_message
			,	notice_sending_target
			,	notice_send_date
			,	alert_information
			,	alert_mail
			,	alert_title
			,	alert_message
			,	alert_sending_target
			,	alert_send_date
			,	cre_user
			,	cre_ip
			,	cre_prg
			,	cre_datetime
			,	upd_user
			,	upd_ip
			,	upd_prg
			,	upd_datetime
			,	del_user
			,	del_ip
			,	del_prg
			,	del_datetime
			)
			SELECT
				#TBL_JSON.company_cd										
			,	@fiscal_year
			,	@period_cd
			,	#TBL_JSON.category
			,	#TBL_JSON.status_cd
			,	#TBL_JSON.start_date
			,	#TBL_JSON.deadline_date
			,	CASE	WHEN #TBL_JSON.notice_information = 1 THEN 1
						WHEN #TBL_JSON.notice_information = 2 THEN 0
						WHEN #TBL_JSON.notice_information = 3 THEN 1
						ELSE 0
				END
			,	CASE	WHEN #TBL_JSON.notice_information = 1 THEN 0
						WHEN #TBL_JSON.notice_information = 2 THEN 1
						WHEN #TBL_JSON.notice_information = 3 THEN 1
						ELSE 0
				END
			,	ISNULL(M0311.notice_title,'')
			,	ISNULL(M0311.notice_message,'')
			,	ISNULL(M0311.notice_sending_target,0)
			,	ISNULL(M0311.notice_send_date,0)
			,	CASE	WHEN #TBL_JSON.alert_information = 1 THEN 1
						WHEN #TBL_JSON.alert_information = 2 THEN 0
						WHEN #TBL_JSON.alert_information = 3 THEN 1
						ELSE 0
				END
			,	CASE	WHEN #TBL_JSON.alert_information = 1 THEN 0
						WHEN #TBL_JSON.alert_information = 2 THEN 1
						WHEN #TBL_JSON.alert_information = 3 THEN 1
						ELSE 0
				END
			,	ISNULL(M0311.alert_title,'')
			,	ISNULL(M0311.alert_message,'')
			,	ISNULL(M0311.alert_sending_target,0)
			,	ISNULL(M0311.alert_send_date,0)
			,	@P_cre_user
			,	@P_cre_ip
			,	'I1040'
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #TBL_JSON
			LEFT JOIN M0311 ON(
				#TBL_JSON.company_cd	=	M0311.company_cd
			AND #TBL_JSON.category		=	M0311.category
			AND	#TBL_JSON.status_cd		=	M0311.status_cd
			AND M0311.del_datetime IS NULL
			)
			LEFT JOIN F0300 ON (
				#TBL_JSON.company_cd	=	F0300.company_cd
			AND	@fiscal_year			=	F0300.fiscal_year		
			AND	@period_cd				=	F0300.period_detail_no	
			AND	#TBL_JSON.category		=	F0300.category			
			AND	#TBL_JSON.status_cd		=	F0300.status_cd			
			)
			WHERE F0300.fiscal_year IS NULL
			--update F0300
			UPDATE F0300 SET 
				F0300.cre_user		 =	#F0300.cre_user	
			,	F0300.cre_ip		 = 	#F0300.cre_ip		
			,	F0300.cre_prg		 = 	#F0300.cre_prg		
			,	F0300.cre_datetime	 = 	#F0300.cre_datetime
			,	F0300.upd_user		 =	@P_cre_user
			,	F0300.upd_ip		 = 	@P_cre_ip
			,	F0300.upd_prg		 = 	'I1040'
			,	F0300.upd_datetime	 = 	@w_time
			-- add by viettd 2022/01/20
			,	F0300.notice_information	=	CASE 
													-- M0311.notice_information=1 and M0311.notice_mail=0 の場合は １（インフォメーションで通知する）
													WHEN M0311.notice_information = 1 AND M0311.notice_mail = 0
													THEN 1
													-- M0311.notice_information=0 and M0311.notice_mail=1 の場合は ２（メールで通知する）
													WHEN M0311.notice_information = 0 AND M0311.notice_mail = 1
													THEN 0
													-- M0311.notice_information=1 and M0311.notice_mail=1 の場合は ３（両方で通知する）
													WHEN M0311.notice_information = 1 AND M0311.notice_mail = 1
													THEN 1
													ELSE 0
												END
			,	F0300.notice_mail			=	CASE 
													-- M0311.notice_information=1 and M0311.notice_mail=0 の場合は １（インフォメーションで通知する）
													WHEN M0311.notice_information = 1 AND M0311.notice_mail = 0
													THEN 0
													-- M0311.notice_information=0 and M0311.notice_mail=1 の場合は ２（メールで通知する）
													WHEN M0311.notice_information = 0 AND M0311.notice_mail = 1
													THEN 1
													-- M0311.notice_information=1 and M0311.notice_mail=1 の場合は ３（両方で通知する）
													WHEN M0311.notice_information = 1 AND M0311.notice_mail = 1
													THEN 1
													ELSE 0
												END
			,	F0300.notice_title			=	M0311.notice_title
			,	F0300.notice_message		=	M0311.notice_message
			,	F0300.notice_sending_target	=	M0311.notice_sending_target
			,	F0300.notice_send_date		=	M0311.notice_send_date
			,	F0300.alert_information		=	CASE 
													-- M0311.alert_information=1 and M0311.alert_mail=0 の場合は １（インフォメーションで通知する）
													WHEN M0311.alert_information = 1 AND M0311.alert_mail = 0
													THEN 1
													-- M0311.alert_information=0 and M0311.alert_mail=1 の場合は ２（メールで通知する）
													WHEN M0311.alert_information = 0 AND M0311.alert_mail = 1
													THEN 0
													-- M0311.alert_information=1 and M0311.alert_mail=1 の場合は ３（両方で通知する）
													WHEN M0311.alert_information = 1 AND M0311.alert_mail = 1
													THEN 1
													ELSE 0
												END
			,	F0300.alert_mail			=	CASE 
													-- M0311.alert_information=1 and M0311.alert_mail=0 の場合は １（インフォメーションで通知する）
													WHEN M0311.alert_information = 1 AND M0311.alert_mail = 0
													THEN 0
													-- M0311.alert_information=0 and M0311.alert_mail=1 の場合は ２（メールで通知する）
													WHEN M0311.alert_information = 0 AND M0311.alert_mail = 1
													THEN 1
													-- M0311.alert_information=1 and M0311.alert_mail=1 の場合は ３（両方で通知する）
													WHEN M0311.alert_information = 1 AND M0311.alert_mail = 1
													THEN 1
													ELSE 0
												END
			,	F0300.alert_title			=	M0311.alert_title
			,	F0300.alert_message			=	M0311.alert_message
			,	F0300.alert_sending_target	=	M0311.alert_sending_target
			,	F0300.alert_send_date		=	M0311.alert_send_date
			-- end add by viettd 2022/01/20
			FROM F0300
			INNER JOIN #F0300 ON(
				F0300.company_cd			  = #F0300.company_cd
			AND	F0300.fiscal_year			  = #F0300.fiscal_year		
			AND	F0300.period_detail_no		  = #F0300.period_detail_no	
			AND	F0300.category				  = #F0300.category			
			AND	F0300.status_cd				  = #F0300.status_cd			
			)
			LEFT JOIN M0311 ON(
				#F0300.company_cd		=	M0311.company_cd
			AND #F0300.category			=	M0311.category
			AND	#F0300.status_cd		=	M0311.status_cd
			AND M0311.del_datetime IS NULL
			)
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM (
	SELECT DISTINCT
		ROW_NUMBER() OVER(PARTITION BY item,value1 ORDER BY message_no DESC)  AS ROW_NUMBER
	,	message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	) AS TEMP 
	WHERE TEMP.ROW_NUMBER = 1
END
GO