/****** Object:  StoredProcedure [dbo].[SPC_M0140_FND1]    Script Date: 2018/09/06 11:18:13 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_I1040_FND2]
SET QUOTED_IDENTIFIER ON
GO
-- EXEC SPC_M0130_INQ1 '';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0140_評語マスタ
--*  
--*  作成日/create date			:	2018/09/19					
--*　作成者/creater				:	datnt								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_I1040_FND2]
	-- Add the parameters for the stored procedure here
	@P_company_cd				SMALLINT		= 0
,	@P_fiscal_year				SMALLINT		= 0
,	@P_period_cd				SMALLINT		= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATE				=	SYSDATETIME()
	,	@period_from			DATE			=	NULL	
	,	@period_to				DATE			=	NULL
	-- GET PERIOD_DATE
	SELECT 
		@period_from	=	M0101.period_from
	,	@period_to		=	M0101.period_to	
	FROM M0101
	WHERE	company_cd	=	@P_company_cd
	AND		detail_no	=	@P_period_cd
	AND		del_datetime IS NULL
	--
	IF(CAST('2018-'+FORMAT(@period_from,'MM-dd') AS DATE)	>	CAST('2018-'+ FORMAT(@period_to,'MM-dd') AS DATE) AND @P_fiscal_year >0 )
	BEGIN
		SET @period_from = CAST(CONVERT(NVARCHAR(4),@P_fiscal_year)+'-'+RIGHT(@period_from,5) AS DATE)
		SET @period_to = CAST(CONVERT(NVARCHAR(4),(@P_fiscal_year+1))+'-'+RIGHT(@period_to,5) AS DATE)
	END
	ELSE IF(CAST('2018-'+FORMAT(@period_from,'MM-dd') AS DATE) < CAST('2018-'+ FORMAT(@period_to,'MM-dd') AS DATE) AND @P_fiscal_year >0)
	BEGIN
		SET @period_from = CAST(CONVERT(NVARCHAR(4),@P_fiscal_year)+'-'+RIGHT(@period_from,5) AS DATE)
		SET @period_to = CAST(CONVERT(NVARCHAR(4),@P_fiscal_year)+'-'+RIGHT(@period_to,5) AS DATE)
	END
	ELSE
	BEGIN
		SET	@period_from = NULL
		SET	@period_to	 = NULL
	END
	--[0]
	SELECT 
		FORMAT(@period_from,'yyyy/MM/dd')+'  ~  '+FORMAT(@period_to,'yyyy/MM/dd')	AS  period_year
	,	FORMAT(@period_from,'yyyy/MM/dd')											AS  period_from
	,	FORMAT(@period_to,'yyyy/MM/dd')												AS  period_to

END
GO
