DROP PROCEDURE [SPC_A0004_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_A0004_ACT1] '[{"divisionCode":"1000","gender":"male","typeCode":"1","code":"1000","lastName":"勤怠","firstName":"太郎","lastNamePhonetics":"A1","firstNamePhonetics":"A2","birthDate":"","hiredDate":"","resignationDate":"","emailAddresses":"kintaitarou@h-t.co.jp"},{"divisionCode":"1000","gender":"female","typeCode":"1","code":"2000","lastName":"勤怠","firstName":"花子","lastNamePhonetics":"B1","firstNamePhonetics":"B2","birthDate":"","hiredDate":"","resignationDate":"","emailAddresses":"kintaihanako@h-t.co.jp"}]','[{"code":"1000","name":"本社"},{"code":"2000","name":"支社"}]','[{"code":"1","name":"正社員"}]','1','1','1','721','::1','798'
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	KING of Time の従業員APIを実行する
--*  
--* 作成日/create date			:	2024/10/10											
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:				
--*	更新者/updater				:				     	 
--*	更新内容/update content		:	
--*
--****************************************************************************************
CREATE PROCEDURE [SPC_A0004_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json_employees			nvarchar(max)			=	''
,	@P_json_divisions			nvarchar(max)			=	''
,	@P_json_working_types		nvarchar(max)			=	''
,	@P_kot_api_employee_use		tinyint					=	0	-- 従業員情報連携
,	@P_kot_api_organization_use	tinyint					=	0	-- 組織情報連携
,	@P_kot_api_employee_typ_use	tinyint					=	0	-- 社員区分情報連携
	-- common
,	@P_cre_user					nvarchar(50)			=	''
,	@P_cre_ip					nvarchar(50)			=	''
,	@P_company_cd				smallint				=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2					=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@w_order_by_min				int							=	0
	,	@w_screen_id					nvarchar(20)			=	'A0004'
	,	@w_i						int							=	0
	,	@w_cnt						int							=	0
	,	@w_language					smallint					=	0		
	--
	,	@w_employee_cd				nvarchar(20)				=	''
	,	@w_employee_last_nm			nvarchar(100)				=	''
	,	@w_employee_first_nm		nvarchar(100)				=	''
	,	@w_mail						nvarchar(100)				=	''
	,	@w_organization_cd			nvarchar(40)				=	''
	,	@w_organization_nm			nvarchar(100)				=	''
	,	@w_employee_typ				nvarchar(40)				=	''
	,	@w_employee_typ_nm			nvarchar(100)				=	''
	,	@w_employee_typ_max			smallint					=	0
	,	@w_division_code			nvarchar(10)				=	''
	,	@w_type_code				nvarchar(10)				=	''
	,	@w_import_cd_cnt			int							=	0
	,	@w_application_date			date						=	GETDATE()
	,	@w_organization_group_nm1	nvarchar(20)				=	''	
	,	@w_organization_group_nm2	nvarchar(20)				=	''	
	,	@w_organization_group_nm3	nvarchar(20)				=	''	
	,	@w_organization_group_nm4	nvarchar(20)				=	''	
	,	@w_organization_group_nm5	nvarchar(20)				=	''	
	,	@w_furigana_nm				nvarchar(255)				=	'' 

	-- #TABLE_JSON_EMPLOYEES
	CREATE TABLE #TABLE_JSON_EMPLOYEES(
		id						int			identity(1,1)
	,	divisionCode			nvarchar(10)
	,	gender					smallint
	,	typeCode				nvarchar(10)
	,	code					nvarchar(10)
	,	lastName				nvarchar(50)
	,	firstName				nvarchar(50)
	,	lastNamePhonetics		nvarchar(50)
	,	firstNamePhonetics		nvarchar(50)
	,	emailAddresses			nvarchar(100)
	,	birthDate				date
	,	hiredDate				date
	,	resignationDate			date
	,	belong_cd1				nvarchar(20)
	,	belong_cd2				nvarchar(20)
	,	belong_cd3				nvarchar(20)
	,	belong_cd4				nvarchar(20)
	,	belong_cd5				nvarchar(20)
	,	employee_typ			smallint
	,	is_error				tinyint
	)
	-- #TABLE_JSON_DIVISIONS
	CREATE TABLE #TABLE_JSON_DIVISIONS(
		id				int			identity(1,1)
	,	code			nvarchar(10)
	,	[name]			nvarchar(100)
	,	is_error		tinyint
	)
	-- #TABLE_JSON_WORKING_TYPES
	CREATE TABLE #TABLE_JSON_WORKING_TYPES(
		id				int			identity(1,1)
	,	code			nvarchar(10)
	,	[name]			nvarchar(100)
	,	is_error		tinyint
	)
	-- #TABLE_ERRORS
	CREATE TABLE #TABLE_ERRORS (
		id				int				identity(1,1)
	,	object_type		smallint			-- 1.employees 2.divisions 3.working-types
	,	object_code		nvarchar(10)
	,	object_nm		nvarchar(100)
	,	message_error	nvarchar(500)
	)
	-- TABLE M0020
	CREATE TABLE #TABLE_M0020 (
		id						int				identity(1,1)
	,	company_cd				smallint
	,	organization_cd_1		nvarchar(20)
	,	organization_cd_2		nvarchar(20)
	,	organization_cd_3		nvarchar(20)
	,	organization_cd_4		nvarchar(20)
	,	organization_cd_5		nvarchar(20)
	,	organization_typ		tinyint
	,	organization_nm			nvarchar(50)
	,	import_cd				nvarchar(255)
	)
	-- TABLE M0022
	CREATE TABLE #TABLE_M0022 (
		id						int				identity(1,1)
	,	company_cd				smallint
	,	organization_typ		tinyint
	,	use_typ					smallint
	,	organization_group_nm	nvarchar(20)
	)
	-- TABLE M0060
	CREATE TABLE #TABLE_M0060_UPDATE (
		id						int				identity(1,1)
	,	company_cd				smallint
	,	employee_typ			smallint
	,	employee_typ_nm			nvarchar(50)
	,	import_cd				nvarchar(255)
	)
	CREATE TABLE #TABLE_M0060_INSERT (
		id						int				identity(1,1)
	,	company_cd				smallint
	,	employee_typ			smallint
	,	employee_typ_nm			nvarchar(50)
	,	import_cd				nvarchar(255)
	)
	-- get @w_language
	SELECT 
		@w_language		=	ISNULL(S0010.language,0)
	FROM S0010
	WHERE 
		S0010.company_cd	=	@P_company_cd
	AND S0010.user_id		=	@P_cre_user
	AND S0010.del_datetime IS NULL
	-- SET @w_organization_group_nm
	SET @w_organization_group_nm1 = IIF(@w_language = 2, 'Department1', '組織１')
	SET @w_organization_group_nm2 = IIF(@w_language = 2, 'Department2', '組織２')
	SET @w_organization_group_nm3 = IIF(@w_language = 2, 'Department3', '組織３')
	SET @w_organization_group_nm4 = IIF(@w_language = 2, 'Department4', '組織４')
	SET @w_organization_group_nm5 = IIF(@w_language = 2, 'Department5', '組織５')
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--VALIDATE
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	IF ISJSON(@P_json_employees) <= 0 OR ISJSON(@P_json_divisions) <= 0 OR ISJSON(@P_json_working_types) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22									-- mã lỗi (trùng với mã trong bảng message) 					
		,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
		GOTO COMPLETE_QUERY
	END
	-- check has use api
	IF (@P_kot_api_employee_typ_use + @P_kot_api_employee_use + @P_kot_api_organization_use) = 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			18									-- mã lỗi (trùng với mã trong bảng message) 					
		,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'Please select at least one API.'	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
		GOTO COMPLETE_QUERY
	END
	-- get list from json data
	IF ISJSON(@P_json_employees) = 1
	BEGIN
		INSERT INTO #TABLE_JSON_EMPLOYEES
		SELECT
			ISNULL(json_table.divisionCode,'')		
		,	CASE 
				WHEN ISNULL(json_table.gender,'') = 'male'
				THEN 1
				WHEN ISNULL(json_table.gender,'') = 'female'
				THEN 2
				ELSE 0
			END
		,	ISNULL(json_table.typeCode,'')					
		,	ISNULL(json_table.code,'')					
		,	ISNULL(json_table.lastName,'')					
		,	ISNULL(json_table.firstName,'')		
		,	ISNULL(json_table.lastNamePhonetics,'')					
		,	ISNULL(json_table.firstNamePhonetics,'')		
		,	ISNULL(json_table.emailAddresses,'')	
		,	IIF(json_table.birthDate = '',NULL,json_table.birthDate)
		,	IIF(json_table.hiredDate = '',NULL,json_table.hiredDate)
		,	IIF(json_table.resignationDate = '',NULL,json_table.resignationDate)
		,	SPACE(0)					--	belong_cd1
		,	SPACE(0)					--	belong_cd2
		,	SPACE(0)					--	belong_cd3
		,	SPACE(0)					--	belong_cd4
		,	SPACE(0)					--	belong_cd5
		,	0							--	employee_typ
		,	0							-- is_error
		FROM OPENJSON(@P_json_employees,'$') WITH(
			divisionCode			nvarchar(10)
		,	gender					nvarchar(10)
		,	typeCode				nvarchar(10)
		,	code					nvarchar(10)
		,	lastName				nvarchar(50)
		,	firstName				nvarchar(50)
		,	lastNamePhonetics		nvarchar(50)
		,	firstNamePhonetics		nvarchar(50)
		,	emailAddresses			nvarchar(100)
		,	birthDate				date
		,	hiredDate				date
		,	resignationDate			date
		)AS json_table
	END
	--
	IF ISJSON(@P_json_divisions) = 1
	BEGIN
		INSERT INTO #TABLE_JSON_DIVISIONS
		SELECT
			ISNULL(json_table.code,'')		
		,	ISNULL(json_table.name,'')			
		,	0 -- is_error
		FROM OPENJSON(@P_json_divisions,'$') WITH(
			code			nvarchar(10)
		,	name			nvarchar(100)
		)AS json_table
	END
	--
	IF ISJSON(@P_json_working_types) = 1
	BEGIN
		INSERT INTO #TABLE_JSON_WORKING_TYPES
		SELECT
			ISNULL(json_table.code,'')		
		,	ISNULL(json_table.name,'')	
		,	0 -- is_error
		FROM OPENJSON(@P_json_working_types,'$') WITH(
			code			nvarchar(10)
		,	name			nvarchar(100)
		)AS json_table
	END
	-- check employees
	IF @P_kot_api_employee_use = 1
	BEGIN
		SET @w_cnt = (SELECT COUNT(1) FROM #TABLE_JSON_EMPLOYEES)
		SET @w_i = 1
		WHILE @w_i <= @w_cnt
		BEGIN
			SELECT 
				@w_employee_cd			=	#TABLE_JSON_EMPLOYEES.code
			,	@w_employee_first_nm	=	#TABLE_JSON_EMPLOYEES.firstName
			,	@w_employee_last_nm		=	#TABLE_JSON_EMPLOYEES.lastName
			,	@w_mail					=	#TABLE_JSON_EMPLOYEES.emailAddresses
			,	@w_division_code		=	#TABLE_JSON_EMPLOYEES.divisionCode
			,	@w_type_code			=	#TABLE_JSON_EMPLOYEES.typeCode
			,	@w_furigana_nm			=	#TABLE_JSON_EMPLOYEES.lastNamePhonetics + SPACE(1) + #TABLE_JSON_EMPLOYEES.firstNamePhonetics
			FROM #TABLE_JSON_EMPLOYEES
			WHERE 
				#TABLE_JSON_EMPLOYEES.id = @w_i
			-- CHECK @w_employee_cd REGUIRED 
			IF @w_employee_cd = SPACE(0)
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	1
				,	object_code		=	@w_employee_cd
				,	object_nm		=	@w_employee_first_nm + SPACE(1) + @w_employee_last_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Employee Number】：' + ISNULL(L0020.message_english,'') 
											ELSE '【従業員コード】：' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 8
				AND L0020.del_datetime IS NULL
			END
			-- CHECK @w_employee_cd MAXLENG
			IF LEN(@w_employee_cd) > 10
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	1
				,	object_code		=	@w_employee_cd
				,	object_nm		=	@w_employee_first_nm + SPACE(1) + @w_employee_last_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Employee Number】：' + ISNULL(L0020.message_english,'') 
											ELSE '【従業員コード】：' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 28
				AND L0020.del_datetime IS NULL
			END
			-- CHECK @w_employee_first_nm AND @w_employee_first_nm IS REQUIRED
			IF @w_employee_first_nm = SPACE(0) AND @w_employee_last_nm = SPACE(0)
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	1
				,	object_code		=	@w_employee_cd
				,	object_nm		=	@w_employee_first_nm + SPACE(1) + @w_employee_last_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Sur name OR First Name】：' + ISNULL(L0020.message_english,'') 
											ELSE '【姓又は名】：' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 8
				AND L0020.del_datetime IS NULL
			END
			-- CHECK @w_mail MAXLENG > 50
			IF LEN(@w_mail) > 50
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	1
				,	object_code		=	@w_employee_cd
				,	object_nm		=	@w_employee_first_nm + SPACE(1) + @w_employee_last_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Email】：' + ISNULL(L0020.message_english,'') 
											ELSE '【メールアドレス】：' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 28
				AND L0020.del_datetime IS NULL
			END
			--check len furigana
			IF LEN(@w_furigana_nm) > 50
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	1
				,	object_code		=	@w_employee_cd
				,	object_nm		=	@w_employee_first_nm + SPACE(1) + @w_employee_last_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Furigana Name】：' + ISNULL(L0020.message_english,'') 
											ELSE '【ふりがな】：' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 28
				AND L0020.del_datetime IS NULL
			END
			-- CHECK @w_division_code IS NOT EXISTED IN MIRAI
			IF NOT EXISTS (SELECT 1 FROM M0020 WHERE company_cd = @P_company_cd AND import_cd = @w_division_code AND del_datetime IS NULL)
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	1
				,	object_code		=	@w_employee_cd
				,	object_nm		=	@w_employee_first_nm + SPACE(1) + @w_employee_last_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Organization】：' + ISNULL(L0020.message_english,'') 
											ELSE '【組織】：' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 105
				AND L0020.del_datetime IS NULL
			END
			-- CHECK @w_division_code IS DUPLICATED IN MIRAI
			SET @w_import_cd_cnt = (SELECT COUNT(1) FROM M0020 WHERE company_cd = @P_company_cd AND import_cd = @w_division_code AND del_datetime IS NULL)
			IF @w_import_cd_cnt > 1
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	1
				,	object_code		=	@w_employee_cd
				,	object_nm		=	@w_employee_first_nm + SPACE(1) + @w_employee_last_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Organization：'+@w_division_code+'】' + ISNULL(L0020.message_english,'') 
											ELSE '【組織：'+@w_division_code+'】' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 32
				AND L0020.del_datetime IS NULL
			END
			-- CHECK @w_type_code IS NOT EXISTED IN MIRAI
			IF NOT EXISTS (SELECT 1 FROM M0060 WHERE company_cd = @P_company_cd AND import_cd = @w_type_code AND del_datetime IS NULL)
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	1
				,	object_code		=	@w_employee_cd
				,	object_nm		=	@w_employee_first_nm + SPACE(1) + @w_employee_last_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Employee Type】：' + ISNULL(L0020.message_english,'') 
											ELSE '【社員区分】：' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 110
				AND L0020.del_datetime IS NULL
			END
			-- CHECK @w_type_code IS DUPLICATED IN MIRAI
			SET @w_import_cd_cnt = (SELECT COUNT(1) FROM M0060 WHERE company_cd = @P_company_cd AND import_cd = @w_type_code AND del_datetime IS NULL)
			IF @w_import_cd_cnt > 1
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	1
				,	object_code		=	@w_employee_cd
				,	object_nm		=	@w_employee_first_nm + SPACE(1) + @w_employee_last_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Employee Type：'+@w_type_code+'】' + ISNULL(L0020.message_english,'') 
											ELSE '【社員区分：'+@w_type_code+'】' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 32
				AND L0020.del_datetime IS NULL
			END
			-- update status errors for this employee
			IF EXISTS(SELECT 1 FROM #TABLE_ERRORS WHERE object_type = 1 AND object_code = @w_employee_cd)
			BEGIN
				UPDATE #TABLE_JSON_EMPLOYEES SET 
					is_error = 1
				FROM #TABLE_JSON_EMPLOYEES
				WHERE 
					#TABLE_JSON_EMPLOYEES.id = @w_i
			END
			--
			SET @w_i = @w_i + 1
		END
	END

	-- check divisions
	IF @P_kot_api_organization_use = 1
	BEGIN
		SET @w_cnt = (SELECT COUNT(1) FROM #TABLE_JSON_DIVISIONS)
		SET @w_i = 1
		WHILE @w_i <= @w_cnt
		BEGIN
			SELECT 
				@w_organization_cd		=	#TABLE_JSON_DIVISIONS.code
			,	@w_organization_nm		=	#TABLE_JSON_DIVISIONS.name
			FROM #TABLE_JSON_DIVISIONS
			WHERE 
				#TABLE_JSON_DIVISIONS.id = @w_i
			
			IF LEN(@w_organization_nm) > 50
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	2
				,	object_code		=	@w_organization_cd
				,	object_nm		=	@w_organization_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Organization Name】：' + ISNULL(L0020.message_english,'') 
											ELSE '【組織名】：' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 28
				AND L0020.del_datetime IS NULL
			END
			-- CHECK @w_division_code IS DUPLICATED IN MIRAI
			SET @w_import_cd_cnt = (SELECT COUNT(1) FROM M0020 WHERE company_cd = @P_company_cd AND import_cd = @w_organization_cd AND del_datetime IS NULL)
			IF @w_import_cd_cnt > 1
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	2
				,	object_code		=	@w_organization_cd
				,	object_nm		=	@w_organization_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Organization：'+@w_organization_cd+'】' + ISNULL(L0020.message_english,'') 
											ELSE '【組織：'+@w_organization_cd+'】' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 32
				AND L0020.del_datetime IS NULL
			END
			-- update status errors for this divison
			IF EXISTS(SELECT 1 FROM #TABLE_ERRORS WHERE object_type = 2 AND object_code = @w_organization_cd)
			BEGIN
				UPDATE #TABLE_JSON_DIVISIONS SET 
					is_error = 1
				FROM #TABLE_JSON_DIVISIONS
				WHERE 
					#TABLE_JSON_DIVISIONS.id = @w_i
			END
			--
			SET @w_i = @w_i + 1
		END
	END
	-- check working_types
	IF @P_kot_api_employee_typ_use = 1
	BEGIN
		SET @w_cnt = (SELECT COUNT(1) FROM #TABLE_JSON_WORKING_TYPES)
		SET @w_i = 1
		WHILE @w_i <= @w_cnt
		BEGIN
			SELECT 
				@w_employee_typ			=	#TABLE_JSON_WORKING_TYPES.code
			,	@w_employee_typ_nm		=	#TABLE_JSON_WORKING_TYPES.name
			FROM #TABLE_JSON_WORKING_TYPES
			WHERE 
				#TABLE_JSON_WORKING_TYPES.id = @w_i
			
			IF LEN(@w_employee_typ_nm) > 50
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	3
				,	object_code		=	@w_employee_typ
				,	object_nm		=	@w_employee_typ_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Employee Type】：' + ISNULL(L0020.message_english,'') 
											ELSE '【社員区分】：' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 28
				AND L0020.del_datetime IS NULL
			END
			-- CHECK @w_employee_typ IS DUPLICATED IN MIRAI
			SET @w_import_cd_cnt = (SELECT COUNT(1) FROM M0060 WHERE company_cd = @P_company_cd AND import_cd = @w_employee_typ AND del_datetime IS NULL)
			IF @w_import_cd_cnt > 1
			BEGIN
				INSERT INTO #TABLE_ERRORS
				SELECT
					object_type		=	3
				,	object_code		=	@w_employee_typ
				,	object_nm		=	@w_employee_typ_nm
				,	message_error	=	CASE 
											WHEN @w_language = 2
											THEN '【Employee Type：'+@w_employee_typ+'】' + ISNULL(L0020.message_english,'') 
											ELSE '【社員区分：'+@w_employee_typ+'】' + ISNULL(L0020.message,'')
										END
				FROM L0020
				WHERE 
					L0020.message_cd = 32
				AND L0020.del_datetime IS NULL
			END
			-- update status errors for this working types
			IF EXISTS(SELECT 1 FROM #TABLE_ERRORS WHERE object_type = 3 AND object_code = @w_employee_typ)
			BEGIN
				UPDATE #TABLE_JSON_WORKING_TYPES SET 
					is_error = 1
				FROM #TABLE_JSON_WORKING_TYPES
				WHERE 
					#TABLE_JSON_WORKING_TYPES.id = @w_i
			END
			--
			SET @w_i = @w_i + 1
		END
	END
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--PROCESS
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- M0020 & M0022 組織連携
			IF EXISTS (SELECT 1 FROM #TABLE_JSON_DIVISIONS WHERE is_error = 0) AND @P_kot_api_organization_use = 1
			BEGIN
				INSERT INTO #TABLE_M0020
				SELECT 
					@P_company_cd
				,	M0020.organization_cd_1
				,	M0020.organization_cd_2
				,	M0020.organization_cd_3
				,	M0020.organization_cd_4
				,	M0020.organization_cd_5
				,	M0020.organization_typ
				,	#TABLE_JSON_DIVISIONS.name
				,	M0020.import_cd
				FROM #TABLE_JSON_DIVISIONS
				INNER JOIN M0020 ON (
					@P_company_cd			=	M0020.company_cd
				AND code					=	M0020.import_cd
				AND M0020.del_datetime IS NULL
				)
				WHERE 
					#TABLE_JSON_DIVISIONS.is_error = 0
				-- UPDATE M0020 KOT → MIRAIC
				UPDATE M0020 SET 
					organization_nm = #TABLE_M0020.organization_nm
				,	upd_datetime	=	@w_time
				,	upd_prg			= 'A0004'
				,	upd_ip			=	@P_cre_ip
				,	upd_user		=	@P_cre_user
				FROM M0020
				INNER JOIN #TABLE_M0020 ON (
					M0020.company_cd			=	#TABLE_M0020.company_cd
				AND M0020.organization_cd_1		=	#TABLE_M0020.organization_cd_1
				AND M0020.organization_cd_2		=	#TABLE_M0020.organization_cd_2
				AND M0020.organization_cd_3		=	#TABLE_M0020.organization_cd_3
				AND M0020.organization_cd_4		=	#TABLE_M0020.organization_cd_4
				AND M0020.organization_cd_5		=	#TABLE_M0020.organization_cd_5
				)
				WHERE 
					M0020.company_cd	=	@P_company_cd
				AND M0020.del_datetime IS NULL

				INSERT INTO M0020 
				SELECT
					@P_company_cd
				,	#TABLE_JSON_DIVISIONS.code
				,	''
				,	''
				,	''
				,	''
				,	1
				,	#TABLE_JSON_DIVISIONS.name
				,	''
				,	''
				,	#TABLE_JSON_DIVISIONS.code
				,	0
				,	@P_cre_user
				,	@P_cre_ip
				,	'A0004'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #TABLE_JSON_DIVISIONS
				LEFT JOIN M0020 ON (
					@P_company_cd			=	M0020.company_cd
				AND code					=	M0020.import_cd
				AND M0020.del_datetime IS NULL
				)
				WHERE 
					M0020.company_cd IS NULL
				AND	#TABLE_JSON_DIVISIONS.is_error = 0
				-- UPDATE M0022 KOT → MIRAIC
				-- organization_typ = 1
				IF EXISTS (SELECT 1 FROM #TABLE_M0020 WHERE organization_typ = 1)
				BEGIN
					INSERT INTO #TABLE_M0022 VALUES (@P_company_cd,1,1,@w_organization_group_nm1)
				END
				-- organization_typ = 2
				IF EXISTS (SELECT 1 FROM #TABLE_M0020 WHERE organization_typ = 2)
				BEGIN
					INSERT INTO #TABLE_M0022 VALUES(@P_company_cd,2,1,@w_organization_group_nm2)
				END
				-- organization_typ = 3
				IF EXISTS (SELECT 1 FROM #TABLE_M0020 WHERE organization_typ = 3)
				BEGIN
					INSERT INTO #TABLE_M0022 VALUES(@P_company_cd,3,1,@w_organization_group_nm3)
				END
				-- organization_typ = 4
				IF EXISTS (SELECT 1 FROM #TABLE_M0020 WHERE organization_typ = 4)
				BEGIN
					INSERT INTO #TABLE_M0022 VALUES(@P_company_cd,4,1,@w_organization_group_nm4)
				END
				-- organization_typ = 5
				IF EXISTS (SELECT 1 FROM #TABLE_M0020 WHERE organization_typ = 5)
				BEGIN
					INSERT INTO #TABLE_M0022 VALUES(@P_company_cd,5,1,@w_organization_group_nm5)
				END
				-- UPDATE TO M0022
				UPDATE M0022 SET
					use_typ				=	1
				,	upd_user			=	@P_cre_user
				,	upd_ip				=	@P_cre_ip
				,	upd_prg				=	@w_screen_id
				,	upd_datetime		=	@w_time
				,	del_user			=	SPACE(0)
				,	del_ip				=	SPACE(0)
				,	del_prg				=	SPACE(0)
				,	del_datetime		=	NULL
				FROM M0022
				INNER JOIN #TABLE_M0022 ON (
					M0022.company_cd		=	#TABLE_M0022.company_cd
				AND M0022.organization_typ	=	#TABLE_M0022.organization_typ
				)
				WHERE 
					M0022.company_cd	=	@P_company_cd
				--INSERT TO M0022
				INSERT INTO M0022
				SELECT 
					@P_company_cd
				,	#TABLE_M0022.organization_typ
				,	#TABLE_M0022.use_typ
				,	#TABLE_M0022.organization_group_nm
				,	@P_cre_user
				,	@P_cre_ip
				,	@w_screen_id
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #TABLE_M0022
				LEFT OUTER JOIN M0022 ON (
					#TABLE_M0022.company_cd			=	M0022.company_cd
				AND #TABLE_M0022.organization_typ	=	M0022.organization_typ
				)
				WHERE 
					M0022.company_cd IS NULL
			END
			-- M0060 社員区分連携
			IF EXISTS (SELECT 1 FROM #TABLE_JSON_WORKING_TYPES WHERE is_error = 0) AND @P_kot_api_employee_typ_use = 1
			BEGIN
				-- UPDATE
				INSERT INTO #TABLE_M0060_UPDATE
				SELECT 
					@P_company_cd
				,	ISNULL(M0060.employee_typ,0)	-- employee_typ
				,	#TABLE_JSON_WORKING_TYPES.name	-- employee_typ_nm
				,	#TABLE_JSON_WORKING_TYPES.code	-- import_cd
				FROM #TABLE_JSON_WORKING_TYPES
				INNER JOIN M0060 ON (
					@P_company_cd		=	M0060.company_cd
				AND code				=	M0060.import_cd
				AND M0060.del_datetime IS NULL
				)
				WHERE 
					#TABLE_JSON_WORKING_TYPES.is_error = 0
				-- INSERT
				INSERT INTO #TABLE_M0060_INSERT
				SELECT 
					@P_company_cd
				,	0		-- employee_typ
				,	A.name	-- employee_typ_nm
				,	A.code	-- import_cd
				FROM #TABLE_JSON_WORKING_TYPES	AS A
				LEFT OUTER JOIN #TABLE_M0060_UPDATE AS B ON (
					A.code	=	B.import_cd
				)
				WHERE 
					B.import_cd IS NULL
				AND A.is_error = 0
				-- UPDATE M0060 KOT → MIRAIC (WHEN #TABLE_M0060.employee_typ <> 0)
				UPDATE M0060 SET 
					employee_typ_nm		=	#TABLE_M0060_UPDATE.employee_typ_nm
				,	upd_user			=	@P_cre_user
				,	upd_ip				=	@P_cre_ip
				,	upd_prg				=	@w_screen_id
				,	upd_datetime		=	@w_time
				,	del_user			=	SPACE(0)
				,	del_ip				=	SPACE(0)
				,	del_prg				=	SPACE(0)
				,	del_datetime		=	NULL
				FROM M0060
				INNER JOIN #TABLE_M0060_UPDATE ON (
					M0060.company_cd		=	#TABLE_M0060_UPDATE.company_cd
				AND M0060.employee_typ		=	#TABLE_M0060_UPDATE.employee_typ
				)
				WHERE 
					M0060.company_cd			=	@P_company_cd
				AND M0060.del_datetime IS NULL
				-- INSERT M0060 KOT → MIRAIC (WHEN #TABLE_M0060.employee_typ = 0)
				SET @w_employee_typ_max = (SELECT ISNULL(MAX(M0060.employee_typ),0) FROM M0060 WHERE M0060.company_cd = @P_company_cd)
				INSERT INTO M0060
				SELECT 
					#TABLE_M0060_INSERT.company_cd
				,	@w_employee_typ_max + #TABLE_M0060_INSERT.id
				,	#TABLE_M0060_INSERT.employee_typ_nm
				,	#TABLE_M0060_INSERT.import_cd
				,	0							--	arrange_order
				,	@P_cre_user					--	cre_user
				,	@P_cre_ip					--	cre_ip
				,	@w_screen_id				--	cre_prg
				,	@w_time						--	cre_datetime
				,	SPACE(0)					--	upd_user
				,	SPACE(0)					--	upd_ip
				,	SPACE(0)					--	upd_prg
				,	NULL						--	upd_datetime
				,	SPACE(0)					--	del_user
				,	SPACE(0)					--	del_ip
				,	SPACE(0)					--	del_prg
				,	NULL						--	del_datetime
				FROM #TABLE_M0060_INSERT
			END
			-- M0070 従業員連携
			IF EXISTS (SELECT 1 FROM #TABLE_JSON_EMPLOYEES WHERE is_error = 0) AND @P_kot_api_employee_use = 1
			BEGIN
				-- UPDATE 組織
				UPDATE #TABLE_JSON_EMPLOYEES SET 
					belong_cd1	= M0020.organization_cd_1
				,	belong_cd2	= M0020.organization_cd_2
				,	belong_cd3	= M0020.organization_cd_3
				,	belong_cd4	= M0020.organization_cd_4
				,	belong_cd5	= M0020.organization_cd_5
				FROM #TABLE_JSON_EMPLOYEES
				INNER JOIN M0020 ON (
					@P_company_cd						=	M0020.company_cd
				AND #TABLE_JSON_EMPLOYEES.divisionCode	=	M0020.import_cd
				AND M0020.del_datetime IS NULL
				)
				-- UPDATE 社員区分
				UPDATE #TABLE_JSON_EMPLOYEES SET 
					employee_typ	= M0060.employee_typ
				FROM #TABLE_JSON_EMPLOYEES
				INNER JOIN M0060 ON (
					@P_company_cd					=	M0060.company_cd
				AND #TABLE_JSON_EMPLOYEES.typeCode	=	M0060.import_cd
				AND M0060.del_datetime IS NULL
				)
				-- UPDATE M0070 KOT → MIRAIC
				UPDATE M0070 SET 
					employee_last_nm	=	S.lastName
				,	employee_first_nm	=	S.firstName
				,	employee_nm			=	S.lastName + SPACE(1) + S.firstName
				,	furigana			=	S.lastNamePhonetics + SPACE(1) + S.firstNamePhonetics
				,	gender				=	S.gender
				,	mail				=	S.emailAddresses
				,	birth_date			=	S.birthDate
				,	company_in_dt		=	S.hiredDate
				,	company_out_dt		=	S.resignationDate
				,	belong_cd1			=	S.belong_cd1
				,	belong_cd2			=	S.belong_cd2
				,	belong_cd3			=	S.belong_cd3
				,	belong_cd4			=	S.belong_cd4
				,	belong_cd5			=	S.belong_cd5
				,	employee_typ		=	S.employee_typ
				,	upd_user			=	@P_cre_user
				,	upd_ip				=	@P_cre_ip
				,	upd_prg				=	@w_screen_id
				,	upd_datetime		=	@w_time
				,	del_user			=	SPACE(0)
				,	del_ip				=	SPACE(0)
				,	del_prg				=	SPACE(0)
				,	del_datetime		=	NULL
				FROM M0070
				INNER JOIN #TABLE_JSON_EMPLOYEES AS S ON (
					M0070.company_cd		=	@P_company_cd
				AND M0070.employee_cd		=	S.code
				)
				WHERE 
					M0070.company_cd	=	@P_company_cd
				AND S.is_error <> 1
				-- INSERT M0070 KOT → MIRAIC
				INSERT INTO M0070
				SELECT 
					@P_company_cd						AS	company_cd
				,	S.code								AS	employee_cd
				,	S.lastName							AS	employee_last_nm
				,	S.firstName							AS	employee_first_nm
				,	S.lastName + SPACE(1) + S.firstName	AS	employee_nm
				,	S.lastNamePhonetics + SPACE(1) + S.firstNamePhonetics
														AS	furigana
				,	S.gender							AS	gender
				,	S.emailAddresses					AS	mail
				,	S.birthDate							AS	birth_date
				,	S.hiredDate							AS	company_in_dt
				,	S.resignationDate					AS	company_out_dt
				,	0									AS	retirement_reason_typ
				,	SPACE(0)							AS	retirement_reason
				,	0									AS	evaluated_typ
				,	0									AS	[1on1_typ]
				,	0									AS	multireview_typ
				,	0									AS	report_typ
				,	0									AS	office_cd
				,	S.belong_cd1						AS	belong_cd1
				,	S.belong_cd2						AS	belong_cd2
				,	S.belong_cd3						AS	belong_cd3
				,	S.belong_cd4						AS	belong_cd4
				,	S.belong_cd5						AS	belong_cd5
				,	0									AS	job_cd
				,	0									AS	position_cd
				,	S.employee_typ						AS	employee_typ
				,	0									AS	grade
				,	0									AS	salary_grade
				,	SPACE(0)							AS	picture
				,	SPACE(0)							AS	company_mobile_number
				,	SPACE(0)							AS	extension_number
				,	@P_cre_user
				,	@P_cre_ip
				,	@w_screen_id
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #TABLE_JSON_EMPLOYEES AS S
				LEFT OUTER JOIN M0070 ON (
					@P_company_cd			=	M0070.company_cd
				AND S.code					=	M0070.employee_cd
				)
				WHERE
					M0070.company_cd IS NULL
				AND S.is_error <> 1
				-- UPDATE M0071 KOT → MIRAIC
				UPDATE M0071 SET 
					belong_cd1			=	S.belong_cd1
				,	belong_cd2			=	S.belong_cd2
				,	belong_cd3			=	S.belong_cd3
				,	belong_cd4			=	S.belong_cd4
				,	belong_cd5			=	S.belong_cd5
				,	employee_typ		=	S.employee_typ
				,	upd_user			=	@P_cre_user
				,	upd_ip				=	@P_cre_ip
				,	upd_prg				=	@w_screen_id
				,	upd_datetime		=	@w_time
				,	del_user			=	SPACE(0)
				,	del_ip				=	SPACE(0)
				,	del_prg				=	SPACE(0)
				,	del_datetime		=	NULL
				FROM M0071
				INNER JOIN #TABLE_JSON_EMPLOYEES AS S ON (
					M0071.company_cd		=	@P_company_cd
				AND M0071.employee_cd		=	S.code
				AND M0071.application_date	=	@w_application_date
				)
				WHERE S.is_error <> 1
				-- INSERT M0071 KOT → MIRAIC
				INSERT INTO M0071
				SELECT 
					@P_company_cd
				,	S.code
				,	@w_application_date
				,	0						--	office_cd
				,	S.belong_cd1
				,	S.belong_cd2
				,	S.belong_cd3
				,	S.belong_cd4
				,	S.belong_cd5
				,	0			--	job_cd
				,	0			--	position_cd
				,	S.employee_typ
				,	0			--	grade
				,	@P_cre_user
				,	@P_cre_ip
				,	@w_screen_id
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #TABLE_JSON_EMPLOYEES AS S
				LEFT OUTER JOIN M0071 ON (
					@P_company_cd		=	M0071.company_cd
				AND S.code				=	M0071.employee_cd
				AND @w_application_date	=	M0071.application_date
				)
				WHERE
					M0071.company_cd IS NULL
				AND S.is_error <> 1
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by
	--[1]
	SELECT  
		CASE 
			WHEN object_type = 1
			THEN IIF(@w_language = 2, 'Employee', '従業員')
			WHEN object_type = 2
			THEN IIF(@w_language = 2, 'Organization','組織')
			WHEN object_type = 3
			THEN IIF(@w_language = 3, 'Employee Type','社員区分')
			ELSE ''
		END				AS	object_type
	,	object_code		
	,	object_nm		
	,	message_error	
	FROM #TABLE_ERRORS
END
GO