DROP PROCEDURE [SPC_M0070_03_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_研修受講履歴 tab_3
--*  
--*  作成日/create date			:	manhnd				
--*　作成者/created at			:	2024/04/08								
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_03_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(10)	=	N''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	N''
AS
BEGIN
	--[0]
	SELECT
		M0076.detail_no																					AS	detail_no
	,	IIF(ISNULL(M0076.training_cd,0) = 0, N'', CAST(ISNULL(M0076.training_cd,0) AS NVARCHAR))		AS	training_cd
	,	ISNULL(M0076.training_nm,N'')																	AS	training_nm
	,	ISNULL(M0076.training_category_cd,0)															AS	training_category_cd
	,	ISNULL(M0076.training_course_format_cd,0)														AS	training_course_format_cd
	,	ISNULL(M0076.lecturer_name,N'')																	AS	lecturer_name
	,	FORMAT(M0076.training_date_from,'yyyy/MM/dd')													AS	training_date_from
	,	FORMAT(M0076.training_date_to,'yyyy/MM/dd')														AS	training_date_to
	,	ISNULL(M0076.training_status,0)																	AS	training_status
	,	FORMAT(M0076.passing_date,'yyyy/MM/dd')															AS	passing_date
	,	ISNULL(M0076.diploma_file,N'')																	AS	diploma_file
	,	ISNULL(M0076.diploma_file_name,N'')																AS	diploma_file_name
	,	FORMAT(M0076.diploma_file_uploaddatetime,'yyyy/MM/dd HH:mm')									AS	diploma_file_uploaddatetime
	,	ISNULL(M0076.report_submission,0)																AS	report_submission
	,	FORMAT(M0076.report_submission_date,'yyyy/MM/dd')												AS	report_submission_date
	,	ISNULL(M0076.report_storage_location,N'')														AS	report_storage_location
	,	ISNULL(M0076.nationality,N'')																	AS	nationality
	FROM M0076
	WHERE
		M0076.company_cd			=	@P_company_cd
	AND	M0076.employee_cd			=	@P_employee_cd
	AND M0076.del_datetime IS NULL
	ORDER BY M0076.detail_no DESC
END
GO
