DROP PROCEDURE [SPC_CHANGE_LANGUAGE_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_CHANGE_LANGUAGE_ACT1 '740','1','1','','';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	
--*  
--* 作成日/create date			:	2022/08/08										
--*	作成者/creater				:	NAMNT		
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_CHANGE_LANGUAGE_ACT1] 
	@P_company_cd	smallint
,	@P_user_id		nvarchar(50)
,	@P_language		smallint
,	@P_cre_user		nvarchar(50)
,	@P_cre_ip		nvarchar(50)

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					= 0

	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS(SELECT 1 FROM S0010 WHERE S0010.company_cd = @P_company_cd AND S0010.user_id = @P_user_id)
			BEGIN
				INSERT INTO @ERR_TBL VALUES(		
					9999									-- mã lỗi (trùng với mã trong bảng message) 					
				,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0									-- Tùy ý
				,	''									-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
				)
			END
		-- TO DO INSERT UPDATE 
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
			UPDATE S0010
			SET
				language		=	@P_language
			,	upd_user		=	@P_cre_user
			,	upd_ip			=	@P_cre_ip
			,	upd_datetime	=	@w_time
			,	upd_prg			=	'change_lang'
			FROM S0010
			WHERE 
				S0010.company_cd = @P_company_cd
			AND S0010.user_id = @P_user_id
		END

	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
