/****** Object:  StoredProcedure [dbo].[SPC_OM0120_INQ1]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_OM0120_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_sS0020_INQ1 '1'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	[SPC_OM0120_INQ1]_充実度マスタ
--*  
--*  作成日/create date			:	2018/08/27						
--*　作成者/creater				:	DatNT								
--*   					
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_OM0120_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_company_cd	SMALLINT = 0
,	@P_mark_type	INT = 1 
,	@P_mode			INT = 1  -- 1:only master om0120 // 2:get combobox
AS
BEGIN
	SET NOCOUNT ON;
	CREATE TABLE #M2121(
		number_cd		SMALLINT
	,	mark_cd			SMALLINT
	,	explanation		NVARCHAR(50)
	,	point			MONEY
	,	remark1			NVARCHAR(100)
	)
	INSERT INTO #M2121 VALUES
	(1	,1,	'',	10,		''),
	(2	,2,	'',	7.5,	''),
	(3	,3,	'',	5,		''),
	(4	,4,	'',	2.5,	''),
	(5	,5,	'',	0,		'')
	IF(@P_mode = 2)
	BEGIN
		SELECT @P_mark_type  = mark_type
		FROM M2120
		WHERE company_cd = @P_company_cd
		AND del_datetime IS NULL
	END
	UPDATE #M2121
	SET 
		number_cd	=	ISNULL(M2121.item_no,#M2121.number_cd)
	,	mark_cd		=	ISNULL(M2121.mark_cd,#L0010.number_cd )	
	,	explanation	=	M2121.explanation
	,	point		=	ISNULL(M2121.point,#M2121.point)
	,	remark1		=	ISNULL(L0010.remark1,#L0010.remark1)
	FROM #M2121 
	LEFT JOIN M2121 ON(
		@P_company_cd	=	M2121.company_cd
	AND @P_mark_type		=	M2121.mark_typ
	AND number_cd		=	M2121.item_no
	AND M2121.del_datetime IS NULL
	)
	LEFT JOIN L0010  ON(
		L0010.number_cd	=	M2121.mark_cd
	AND (	(L0010.name_typ = 22 AND @P_mark_type = 1)
		OR	(L0010.name_typ = 23 AND @P_mark_type = 2)
		OR	(L0010.name_typ = 25 AND @P_mark_type = 3)
		OR	(L0010.name_typ = 26 AND @P_mark_type = 4)
		OR	(L0010.name_typ = 24 AND @P_mark_type = 5)
		)
	)
	LEFT JOIN L0010 AS #L0010  ON(
		 #L0010.number_cd	=	#M2121.mark_cd
	AND (	(#L0010.name_typ = 22 AND @P_mark_type = 1)
	OR	(#L0010.name_typ = 23 AND @P_mark_type = 2)
	OR	(#L0010.name_typ = 25 AND @P_mark_type = 3)
	OR	(#L0010.name_typ = 26 AND @P_mark_type = 4)
	OR	(#L0010.name_typ = 24 AND @P_mark_type = 5)
	)
	)
	--[0]
	SELECT 
		[name]	
	,	ISNULL(mark_type,1) AS mark_type
	FROM M2120
	WHERE company_cd	=	 @P_company_cd
	AND M2120.del_datetime IS NULL
	--[1]
	SELECT 
		number_cd	
	,	mark_cd		
	,	explanation	
	,	point		
	,	remark1		
	FROM #M2121
	--[2]
	SELECT
		number_cd
	,	[name]
	,	remark1
	FROM l0010
	WHERE 
	(	(name_typ = 22 AND @P_mark_type = 1)
	OR	(name_typ = 23 AND @P_mark_type = 2)
	OR	(name_typ = 25 AND @P_mark_type = 3)
	OR	(name_typ = 26 AND @P_mark_type = 4)
	OR	(name_typ = 24 AND @P_mark_type = 5)
	)
	AND del_datetime IS NULL
	--[3]
	SELECT @P_mark_type	AS mark_type
END
GO
