IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_OM0120_ACT1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_OM0120_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：OM0120 - SAVE/UPDATE
 *
 *  作成日  ：2020-09-25
 *  作成者  ：ANS-ASIA datnt
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_OM0120_ACT1] 
	@P_json			NVARCHAR(MAX)
	--
,	@P_cre_user		NVARCHAR(50) = ''
,	@P_cre_ip		NVARCHAR(50) = ''
,	@P_company_cd	SMALLINT	 = 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@mark_type				SMALLINT
	,	@name					NVARCHAR(20)
	CREATE TABLE #UPDATE_INFO(
		company_cd		SMALLINT
	,	item_no			SMALLINT
	,	upd_user		nvarchar(100)
	,	upd_ip			nvarchar(100)
	,	upd_prg			nvarchar(40)
	,	upd_datetime	datetime
	)
	--
	CREATE TABLE #M2121(
		id						INT IDENTITY(1,1)
	,	company_cd				SMALLINT
	,	item_no					SMALLINT
	,	mark_cd					SMALLINT
	,	explanation				NVARCHAR(50)	
	,	point					NUMERIC(5,2)	
	,  rank_mark_cd				INT
	)
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	INSERT INTO #M2121
		SELECT 
			@P_company_cd
		,	item_no
		,	remark
		,	explanation
		,	point
		,	RANK () OVER ( 
						PARTITION BY remark
						ORDER BY item_no DESC
					)
		FROM OPENJSON(@P_json, '$.tr') WITH(
				item_no					SMALLINT
			,	remark					SMALLINT
			,	explanation				NVARCHAR(50)
			,	point					NUMERIC(5,2)	
		)
	SET @mark_type			=	ISNULL(JSON_VALUE(@P_json,'$.remark_typ'),0)
	SET @name				=	ISNULL(JSON_VALUE(@P_json,'$.name'),'')
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
			BEGIN
				IF NOT EXISTS (SELECT 1 FROM M2120 WHERE company_cd = @P_company_cd)
				BEGIN
					INSERT INTO M2120
					SELECT 
						@P_company_cd
					,	@name
					,	@mark_type
					,	@P_cre_user
					,	@P_cre_ip
					,	'oM0120'
					,	@w_time
					,	''
					,	''
					,	''
					,	NULL
					,	''
					,	''
					,	''
					,	NULL
				END 
				ELSE
				BEGIN
					UPDATE M2120
					SET 
						company_cd		=	@P_company_cd
					,	[name]			=	@name
					,	mark_type		=	@mark_type
					,	upd_user		=	@P_cre_user
					,	upd_ip			=	@P_cre_ip
					,	upd_prg			=	'oM0120'
					,	upd_datetime	=	@w_time
					,	del_user		=	''
					,	del_ip			=	''
					,	del_prg			=	''
					,	del_datetime	=	NULL
					FROM M2120
					WHERE M2120.company_cd = @P_company_cd
				END
				--
				INSERT INTO #UPDATE_INFO
				SELECT 
					M2121.company_cd
				,	item_no
				,	@P_cre_user
				,	@P_cre_ip
				,	'oM0120'
				,	@w_time
				FROM M2121 
				WHERE company_cd	= @P_company_cd 
				AND mark_typ		= @mark_type 
				AND del_datetime IS NULL
				--DEL ADD
				DELETE M2121 WHERE company_cd = @P_company_cd
				--
				INSERT INTO M2121
				SELECT
					@P_company_cd
				,	@mark_type
				,	#M2121.item_no
				,	#M2121.mark_cd
				,	#M2121.explanation
				,	#M2121.point
				,	@P_cre_user
				,	@P_cre_ip
				,	'oM0120'
				,	@w_time
				,	#UPDATE_INFO.upd_user	
				,	#UPDATE_INFO.upd_ip		
				,	#UPDATE_INFO.upd_prg		
				,	#UPDATE_INFO.upd_datetime
				,	''
				,	''
				,	''
				,	NULL
				FROM #M2121 
				LEFT JOIN M2121 ON(
					#M2121.company_cd	=	M2121.company_cd
				AND @mark_type			=	M2121.mark_typ
				AND #M2121.item_no		=	M2121.item_no
				) 
				LEFT JOIN #UPDATE_INFO ON(
					#M2121.company_cd	=	#UPDATE_INFO.company_cd
				AND #M2121.item_no		=	#UPDATE_INFO.item_no
				)
				WHERE M2121.company_cd IS NULL
				--
		END

		
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	-- Insert statements for procedure here
	IF (SELECT COUNT(1) FROM @ERR_TBL) > 1
	BEGIN
		ROLLBACK TRANSACTION
	END
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
	COMPLETE_QUERY:

	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END

GO
