.table-fixed-header{
	max-height: 54vh;
	margin-bottom: 10px;
}
table .md-checkbox-v2 input[type="checkbox"]+label:before {
	margin-right: 0px !important;
}

table tr label {
	margin-top: .5rem;
}

.w-50px {
	width: 50px;
	min-width: 50px;
	max-width: 50px;
}
.w-80px {
	 width: 80px;
	 min-width: 80px;
	 max-width: 80px;
 }
.w-120px {
	width: 120px;
	min-width: 120px;
	max-width: 120px;
}
.w-140px {
	width: 140px;
	min-width: 140px;
	max-width: 140px;
}
.w-160px {
	width: 160px;
	min-width: 160px;
	max-width: 160px;
}
.min-w160px{
	min-width: 160px;
}
.w-200px {
	width: 200px;
	min-width: 200px;
	max-width: 200px;
}
.w-240px {
	/*width: 240px;
	min-width: 240px;*/
	max-width: 240px;
}
.w-260px {
	width: 260px;
	min-width: 260px;
	max-width: 260px;
}
.head_checkbox{
	width: 25px;
	min-width: 0px;
}


/* scroll top table*/
.backfff{
	background-color: #fff;
}
.pagin-poss{
	position: relative;
	min-height: 38px;
}
.show_button_div{
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}
tr.evaluate{ background: #F9F4DC;}

.th-row {
	height: 38px;
	background: #EAEBEE;
    font-weight: bold;
	border-top: 2px solid #dee2e6;
	color: #707070 !important;
	padding-left: 3px !important;
}
th label {
	white-space: nowrap !important;
}

@media ((max-width: 1600px) or (width: 1600px)) {
	label {
		white-space: nowrap !important;
	}
}
.table-bordered thead tr th:not(:last-child) {
    border-right: 1px solid #dee2e6;
}
.th-thead {
	width: 3%;
}

