DROP PROCEDURE [SPC_Q2010_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	前評価者コピー
--* 作成日/create date			:	2018/10/09											
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:  	2019/12/10				
--*	更新者/updater				:　	viettd 　								     	 
--*	更新内容/update content		:	upgradate ver1.6　	
--*   					
--*	更新日/update date			:  	2020/03/06				
--*	更新者/updater				:　	viettd 　								     	 
--*	更新内容/update content		:	change table F0032　
--*   					
--*  更新日/update date			:	2020/04/27
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	fix error when 評価者 = 管理者	
--****************************************************************************************
CREATE PROCEDURE [SPC_Q2010_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json						nvarchar(max)			=	''
	-- common
,	@P_cre_user					nvarchar(50)			=	''
,	@P_cre_ip					nvarchar(50)			=	''
,	@P_employee_cd				nvarchar(10)			=	''
,	@P_company_cd				smallint				=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			int					=	0
	,	@screen_id				nvarchar(20)		=	'Q2010'
	-----------------------SCREEN DATA-------------------------
	,	@fiscal_year			int					=	0
	,	@authority_typ			smallint			=	0
		--
	,	@chk					tinyint			=	0	-- add by viettd 2020/05/18
	,	@i						int				=	1
	,	@cnt					int				=	0
	,	@w_employee_cd			nvarchar(10)	=	''
	,	@w_sheet_cd				smallint		=	0
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--CREATE TEMP TABLE
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	IF object_id('tempdb..#TABLE_JSON', 'U') IS NOT NULL
	BEGIN
		DROP TABLE #TABLE_JSON
	END
	--
	IF object_id('tempdb..#F0030', 'U') IS NOT NULL
	BEGIN
		DROP TABLE #F0030
	END
	--
	CREATE TABLE #TABLE_JSON (
		id							int				identity(1,1)
	,	sheet_cd					smallint
	,	employee_cd					nvarchar(10)		
	,	row_index					nvarchar(100)
	)
	-- TABLE #F0030
	CREATE TABLE #F0030(
		id							int				identity(1,1)
	,	company_cd					smallint
	,	fiscal_year					int
	,	employee_cd					nvarchar(10)		
	,	rater_employee_cd_1			nvarchar(10)
	,	rater_employee_cd_2			nvarchar(10)
	,	rater_employee_cd_3			nvarchar(10)
	,	rater_employee_cd_4			nvarchar(10)
	--	
	,	current_step_done			smallint			-- current_step	 1.done 0.not done
	,	evaluation_step				smallint			-- login_step	
	,	evaluation_step_prev		smallint			-- prev_step
	,	total_step					smallint			-- total_step
	--
	,	sheet_cd					smallint
	,	sheet_kbn					tinyint	
	,	status_cd					smallint
	,	row_index					nvarchar(100)
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--VALIDATE
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
			GOTO COMPLETE_QUERY
		END
		--
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- get data from json
			SET	@fiscal_year			=	JSON_VALUE(@P_json,'$.fiscal_year')
			-- get list from json data
			INSERT INTO #TABLE_JSON
			SELECT
				ISNULL(json_table.sheet_cd,0)								
			,	ISNULL(json_table.employee_cd,'')	
			,	ISNULL(json_table.row_index,'')	
			FROM OPENJSON(@P_json,'$.list') WITH(
				sheet_cd			smallint
			,	employee_cd			nvarchar(10)
			,	row_index			nvarchar(100)
			)AS json_table
			--
			SELECT @authority_typ = ISNULL(S0010.authority_typ,0)
			FROM S0010
			WHERE
				S0010.company_cd		=	@P_company_cd
			AND S0010.user_id			=	@P_cre_user
			AND S0010.del_datetime IS NULL
			-- INSERT INTO #F0030
			INSERT INTO #F0030
			SELECT 
				ISNULL(F0100.company_cd,0)						AS	company_cd
			,	ISNULL(F0100.fiscal_year,0)						AS	fiscal_year
			,	ISNULL(F0100.employee_cd,'')					AS	employee_cd
			,	ISNULL(F0100.rater_employee_cd_1,'')			AS	rater_employee_cd_1
			,	ISNULL(F0100.rater_employee_cd_2,'')			AS	rater_employee_cd_2
			,	ISNULL(F0100.rater_employee_cd_3,'')			AS	rater_employee_cd_3
			,	ISNULL(F0100.rater_employee_cd_4,'')			AS	rater_employee_cd_4
			,	0												AS	current_step_done		-- current_step	 1.done 0.not done
			--	add by viettd 2020/04/27
			,	[dbo].FNC_GET_STEP_EVALUATION
				(
					'Q2010'
				,	M0200.sheet_kbn
				,	F0100.status_cd
				,	F0100.employee_cd
				,	@P_employee_cd
				,	@authority_typ
				,	F0100.rater_employee_cd_1
				,	F0100.rater_employee_cd_2
				,	F0100.rater_employee_cd_3
				,	F0100.rater_employee_cd_4
				)												AS evaluation_step			-- login step
			,	-1												AS	evaluation_step_prev	-- prev step
			,	CASE 
					WHEN F0100.rater_employee_cd_4	<> ''
					THEN 4
					WHEN F0100.rater_employee_cd_4	=	'' AND F0100.rater_employee_cd_3 <> ''
					THEN 3
					WHEN F0100.rater_employee_cd_4	=	'' AND F0100.rater_employee_cd_3 = '' AND F0100.rater_employee_cd_2 <> ''
					THEN 2
					WHEN F0100.rater_employee_cd_4	=	'' AND F0100.rater_employee_cd_3 = '' AND F0100.rater_employee_cd_2 = '' AND F0100.rater_employee_cd_1 <> ''
					THEN 1
					ELSE 0
				END												AS	total_step				-- total step
			,	ISNULL(#TABLE_JSON.sheet_cd,0)					AS	sheet_cd
			,	ISNULL(M0200.sheet_kbn,0)						AS	sheet_kbn
			,	ISNULL(F0100.status_cd,0)						AS	status_cd
			,	ISNULL(#TABLE_JSON.row_index,'')				AS	row_index
			FROM #TABLE_JSON
			INNER JOIN F0100 ON (
				@P_company_cd				=	F0100.company_cd
			AND @fiscal_year				=	F0100.fiscal_year
			AND #TABLE_JSON.employee_cd		=	F0100.employee_cd
			AND #TABLE_JSON.sheet_cd		=	F0100.sheet_cd
			AND F0100.del_datetime IS NULL
			)
			LEFT OUTER JOIN W_M0200 AS M0200 ON(
				@P_company_cd			=	M0200.company_cd
			AND @fiscal_year			=	M0200.fiscal_year
			AND #TABLE_JSON.sheet_cd	=	M0200.sheet_cd
			)
			-- UPDATE evaluation_step_prev
			UPDATE #F0030 SET 
				evaluation_step_prev = evaluation_step - 1
			FROM #F0030
			WHERE 
				#F0030.evaluation_step > 0
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			-- 管理者
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			-- EDITED BY VIETTD 2020/04/27
			UPDATE #F0030 SET 
				evaluation_step			=	ISNULL(F0120_MAX.evaluation_step,0) + 1
			,	evaluation_step_prev	=	ISNULL(F0120_MAX.evaluation_step,0)
			FROM #F0030
			INNER JOIN (
				SELECT 
					ISNULL(F0120.company_cd,0)					AS	company_cd
				,	ISNULL(F0120.fiscal_year,0)					AS	fiscal_year
				,	ISNULL(F0120.employee_cd,'')				AS	employee_cd
				,	ISNULL(F0120.sheet_cd,0)					AS	sheet_cd
				,	ISNULL(MAX(F0120.evaluation_step),0)		AS	evaluation_step
				FROM F0120
				WHERE 
					F0120.company_cd		=	@P_company_cd
				AND F0120.fiscal_year		=	@fiscal_year
				AND F0120.del_datetime IS NULL
				AND F0120.submit_datetime IS NOT NULL
				GROUP BY
					F0120.company_cd
				,	F0120.fiscal_year	
				,	F0120.employee_cd
				,	F0120.sheet_cd	
			) AS F0120_MAX ON(
				#F0030.company_cd				=	F0120_MAX.company_cd
			AND #F0030.fiscal_year				=	F0120_MAX.fiscal_year
			AND #F0030.employee_cd				=	F0120_MAX.employee_cd
			AND #F0030.sheet_cd					=	F0120_MAX.sheet_cd
			)
			WHERE
				#F0030.evaluation_step = 5 -- 5.管理者
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			-- UPDATE STATUS OF STEP
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			UPDATE #F0030 SET 
				current_step_done	=	CASE 
											WHEN F0200_DONE.evaluation_step IS NOT NULL
											THEN 1
											ELSE 0
										END		
			FROM #F0030
			INNER JOIN (
				SELECT 
					F0200.company_cd			AS	company_cd
				,	F0200.fiscal_year			AS	fiscal_year
				,	F0200.employee_cd			AS	employee_cd
				,	F0200.evaluation_step		AS	evaluation_step
				,	ISNULL(F0032.sheet_cd,0)	AS	sheet_cd
				FROM F0200
				LEFT OUTER JOIN F0032 ON (
					F0200.company_cd					=	F0032.company_cd
				AND F0200.fiscal_year					=	F0032.fiscal_year
				AND F0200.employee_cd					=	F0032.employee_cd
				AND F0200.treatment_applications_no		=	F0032.treatment_applications_no
				AND F0032.del_datetime IS NULL
				)
				WHERE 
					F0200.company_cd		=	@P_company_cd
				AND F0200.fiscal_year		=	@fiscal_year
				AND F0200.confirm_datetime IS NOT NULL
				AND F0200.del_datetime IS NULL 
			) AS F0200_DONE ON (
				#F0030.company_cd			=	F0200_DONE.company_cd
			AND #F0030.fiscal_year			=	F0200_DONE.fiscal_year
			AND #F0030.employee_cd			=	F0200_DONE.employee_cd
			AND #F0030.evaluation_step		=	F0200_DONE.evaluation_step
			AND #F0030.sheet_cd				=	F0200_DONE.sheet_cd
			)
		END
		-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		-- CHECK 
		-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--↓↓↓ add by viettd 2020/05/18
		SET @cnt = (SELECT COUNT(id) FROM #F0030)
		WHILE @i <= @cnt
		BEGIN
			SELECT 
				@w_employee_cd	=	ISNULL(#F0030.employee_cd,'')
			,	@w_sheet_cd		=	ISNULL(#F0030.sheet_cd,0)
			FROM #F0030
			WHERE #F0030.id = @i
			--
			EXEC [dbo].SPC_PERMISSION_CHK1 @fiscal_year,@w_employee_cd,@w_sheet_cd,@P_cre_user,@P_company_cd,1,@chk OUT
			-- 0.参照不可　1.参照可能	2.更新可能
			IF @chk IN (0,1)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT 
					102													-- mã lỗi (trùng với mã trong bảng message) 					
				,	'#' + #F0030.row_index								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby											-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	4-- tooltip  										-- Kiểu hiển thị lối : 0. tooltip , 1.dialog , 4.tooltip + popup
				,	0													-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0													-- Tùy ý
				,	N'Không có quyền chỉnh sửa'							-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
				FROM #F0030
				WHERE
					#F0030.id	=	@i
			END
			-- LOOP @i
			SET @i = @i + 1
		END
		--↑↑↑ end add by viettd 2020/05/18
		--一次評価者が「前評価者をコピーする」ボタンを押下
		-- 1. Người thứ 1 copy sẽ báo lỗi 73
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT 
				73													-- mã lỗi (trùng với mã trong bảng message) 					
			,	'#' + #F0030.row_index								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby											-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- tooltip  										-- Kiểu hiển thị lối : 0. tooltip , 1.dialog , 4.tooltip + popup
			,	0													-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0													-- Tùy ý
			,	N'Người thứ 1 copy sẽ báo lỗi 73'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #F0030
			WHERE 
				#F0030.evaluation_step < 2 -- 二次評価
		END
		-- 2. Dữ liệu đánh giá của người thứ 1 mà chưa có thì cũng báo lỗi 73
		-- CHECK STATUS_CD < 一次評価
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT 
				73													-- mã lỗi (trùng với mã trong bảng message) 					
			,	'#' + #F0030.row_index									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby											-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- tooltip  										-- Kiểu hiển thị lối : 0. tooltip , 1.dialog , 4.tooltip + popup				
			,	0													-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0													-- Tùy ý
			,	N'Dữ liệu đánh giá của người thứ 1 mà chưa có thì cũng báo lỗi 73'		-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #F0030
			WHERE 
				(#F0030.sheet_kbn = 1 AND #F0030.status_cd < 4) -- < 一次評価 (目標管理)
			OR	(#F0030.sheet_kbn = 2 AND #F0030.status_cd < 2)	-- < 一次評価 (評価)
		END
		-- 3. Nếu như dữ liệu tại bước hiện tại mà đã có trong bảng F0200 mà vẫn copy từ người phía trước thì báo lỗi mess 54
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT 
				54													-- mã lỗi (trùng với mã trong bảng message) 					
			,	'#' + #F0030.row_index								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	1-- oderby											-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- tooltip  										-- Kiểu hiển thị lối : 0. tooltip , 1.dialog , 4.tooltip + popup				
			,	0													-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0													-- Tùy ý
			,	N'Nếu như dữ liệu tại bước hiện tại mà đã có trong bảng F0200 mà vẫn copy từ người phía trước thì báo lỗi mess 54'							-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #F0030
			WHERE 
				#F0030.current_step_done = 1
		END
		-- 評価完了済みの評価シートに対して「前評価者をコピーする」ボタンを押下
		-- 4.Với người quản lý nếu đến bước cuối cùng rồi vẫn ấn copy sẽ báo lỗi 54 
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL) AND @authority_typ IN (3,4)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT 
				54													-- mã lỗi (trùng với mã trong bảng message) 					
			,	'#' + #F0030.row_index								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	1-- oderby											-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- tooltip  										-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 	, 4.tooltip + popup			
			,	0													-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0													-- Tùy ý
			,	N'Với người quản lý nếu đến bước cuối cùng rồi vẫn ấn copy sẽ báo lỗi 54 '		-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #F0030
			WHERE 
				#F0030.evaluation_step_prev >= #F0030.total_step
		END
		-- 5. Kiểm tra dữ liệu lần trước đã tồn tại để copy chưa?
		INSERT INTO @ERR_TBL
		SELECT 
			21													-- mã lỗi (trùng với mã trong bảng message) 					
		,	'#' + #F0030.row_index								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	1-- oderby											-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	4-- tooltip  										-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 	, 4.tooltip + popup			
		,	0													-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0													-- Tùy ý
		,	N'5. Kiểm tra dữ liệu lần trước đã tồn tại để copy chưa? báo lỗi 21'		-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM #F0030
		LEFT OUTER JOIN F0120 ON(
			#F0030.company_cd			=	F0120.company_cd
		AND #F0030.fiscal_year			=	F0120.fiscal_year
		AND #F0030.employee_cd			=	F0120.employee_cd
		AND #F0030.sheet_cd				=	F0120.sheet_cd
		AND #F0030.evaluation_step_prev	=	F0120.evaluation_step
		)
		WHERE 
			F0120.company_cd IS NULL
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--PROCESS
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- ■■■■■■■■■■■■■■ F0120 ■■■■■■■■■■■■■■
			DELETE D FROM F0120 AS D
			INNER JOIN #F0030 ON(
				D.company_cd					=	@P_company_cd
			AND D.fiscal_year					=	@fiscal_year
			AND D.employee_cd					=	#F0030.employee_cd
			AND D.sheet_cd						=	#F0030.sheet_cd
			AND D.evaluation_step				=	#F0030.evaluation_step
			)
			--INSERT
			INSERT INTO F0120
			SELECT
				@P_company_cd
			,	@fiscal_year
			,	#F0030.employee_cd
			,	#F0030.sheet_cd	
			,	#F0030.evaluation_step
			--,	@P_employee_cd
			,	CASE 
					WHEN ISNULL(#F0030.evaluation_step,0) = 1
					THEN ISNULL(#F0030.rater_employee_cd_1,'')
					WHEN ISNULL(#F0030.evaluation_step,0) = 2
					THEN ISNULL(#F0030.rater_employee_cd_2,'')
					WHEN ISNULL(#F0030.evaluation_step,0) = 3
					THEN ISNULL(#F0030.rater_employee_cd_3,'')
					WHEN ISNULL(#F0030.evaluation_step,0) = 4
					THEN ISNULL(#F0030.rater_employee_cd_4,'')
					ELSE @P_employee_cd
				END 
			,	SPACE(0)
			,	ISNULL(F0120_PREV.point_sum,0)
			,	@P_cre_user
			,	@P_cre_ip
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	@P_cre_user
			,	@P_cre_ip
			,	@screen_id
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #F0030
			INNER JOIN F0120 AS F0120_PREV ON (
				@P_company_cd						=	F0120_PREV.company_cd
			AND @fiscal_year						=	F0120_PREV.fiscal_year
			AND #F0030.employee_cd					=	F0120_PREV.employee_cd
			AND #F0030.sheet_cd						=	F0120_PREV.sheet_cd
			AND #F0030.evaluation_step_prev			=	F0120_PREV.evaluation_step
			)
			-- ■■■■■■■■■■■■■■ F0121 ■■■■■■■■■■■■■■
			DELETE D FROM F0121 AS D
			INNER JOIN #F0030 ON(
				D.company_cd					=	@P_company_cd
			AND D.fiscal_year					=	@fiscal_year
			AND D.employee_cd					=	#F0030.employee_cd
			AND D.sheet_cd						=	#F0030.sheet_cd
			AND D.evaluation_step				=	#F0030.evaluation_step
			)
			--INSERT
			INSERT INTO F0121
			SELECT
				@P_company_cd
			,	@fiscal_year
			,	#F0030.employee_cd
			,	#F0030.sheet_cd	
			,	#F0030.evaluation_step
			,	F0121_PREV.item_no
			,	F0121_PREV.point_cd
			,	F0121_PREV.evaluation_comment
			,	@P_cre_user
			,	@P_cre_ip
			,	@screen_id
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #F0030
			INNER JOIN F0121 AS F0121_PREV ON (
				@P_company_cd						=	F0121_PREV.company_cd
			AND @fiscal_year						=	F0121_PREV.fiscal_year
			AND #F0030.employee_cd					=	F0121_PREV.employee_cd
			AND #F0030.sheet_cd						=	F0121_PREV.sheet_cd
			AND #F0030.evaluation_step_prev			=	F0121_PREV.evaluation_step
			)
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO