DROP PROCEDURE [SPC_I2010_ACT3]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE COMMENT (自己進捗コメント + 一次評価者進捗コメント )
--*  
--* 作成日/create date			:	2018/10/09											
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:	2019/06/12				
--*	更新者/updater				:　 viettd 　								     	 
--*	更新内容/update content		:	Move F0110.progress_comment_self,progress_comment_rater to F0111
--*   					
--* 更新日/update date			:	2021/12/01
--* 更新者/updater				:　	viettd
--* 更新内容/update content		:	upgradate ver 1.8
--*   					
--* 更新日/update date			:	2022/08/16
--* 更新者/updater				:　	viettd
--* 更新内容/update content		:	upgradate ver 1.9
--* 
--****************************************************************************************
CREATE PROCEDURE [SPC_I2010_ACT3] 
	-- Add the parameters for the stored procedure here
	@P_json						nvarchar(max)			=	''
	-- common
,	@P_cre_user					nvarchar(50)			=	''
,	@P_cre_ip					nvarchar(50)			=	''
,	@P_company_cd				smallint				=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@order_by_min				int					=	0
	,	@screen_id					nvarchar(20)		=	'I2010'
	-----------------------SCREEN DATA-------------------------
	,	@fiscal_year				int					=	0
	,	@employee_cd				nvarchar(10)		=	''
	,	@sheet_cd					smallint			=	0
	,	@mode						tinyint				=	0
	,	@progress_comment_self		nvarchar(1000)		=	''			-- 自己進捗コメント
	,	@progress_comment_rater		nvarchar(1000)		=	''			-- 一次評価者進捗コメント
	,	@progress_comment_rater_2	nvarchar(1000)		=	''			-- 二次評価者進捗コメント
	,	@progress_comment_rater_3	nvarchar(1000)		=	''			-- 三次評価者進捗コメント
	,	@progress_comment_rater_4	nvarchar(1000)		=	''			-- 四次評価者進捗コメント
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--CREATE TEMP TABLE
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	CREATE TABLE #TABLE_JSON (
		item_no						smallint				
	,	self_progress_comment		nvarchar(1000)
	,	progress_comment			nvarchar(1000)
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--VALIDATE
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
			GOTO COMPLETE_QUERY
		END
		--
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- get data from json
			SET	@fiscal_year				=	JSON_VALUE(@P_json,'$.fiscal_year')
			SET	@employee_cd				=	JSON_VALUE(@P_json,'$.employee_cd')
			SET	@sheet_cd					=	JSON_VALUE(@P_json,'$.sheet_cd')
			-- 10.明細自己進捗コメント 11.明細進捗コメント  
			-- 20.自己進捗コメント	21.一次評価者進捗コメント 22.二次評価者進捗コメント 23.三次評価者進捗コメント 24.四次評価者進捗コメント
			SET	@mode						=	JSON_VALUE(@P_json,'$.mode')				
			SET @progress_comment_self		=	JSON_VALUE(@P_json,'$.progress_comment_self')	
			SET @progress_comment_rater		=	JSON_VALUE(@P_json,'$.progress_comment_rater')
			SET @progress_comment_rater_2	=	JSON_VALUE(@P_json,'$.progress_comment_rater_2')
			SET @progress_comment_rater_3	=	JSON_VALUE(@P_json,'$.progress_comment_rater_3')
			SET @progress_comment_rater_4	=	JSON_VALUE(@P_json,'$.progress_comment_rater_4')
			-- get list from json data
			INSERT INTO #TABLE_JSON
			SELECT
				ISNULL(json_table.item_no,0)								
			,	ISNULL(json_table.self_progress_comment,'')		
			,	ISNULL(json_table.progress_comment,'')		
			FROM OPENJSON(@P_json,'$.list') WITH(
					item_no					smallint
				,	self_progress_comment	nvarchar(1000)
				,	progress_comment		nvarchar(1000)
			)AS json_table
		END
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--PROCESS
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			--■■■■■■■■■■■■■■■■■■■■■■■■■■ F0110 ■■■■■■■■■■■■■■■■■■■■■■■■■■
			-- 自己進捗コメント + 評価進捗コメント(一次評価進捗コメント～二次評価進捗コメント)
			IF @mode IN (20,21,22,23,24)
			BEGIN
				UPDATE F0110 SET 
					progress_comment_self		=	CASE 
														WHEN @mode = 20  --20.自己進捗コメント 
														THEN @progress_comment_self
														ELSE F0110.progress_comment_self
													END
				,	progress_comment_rater		=	CASE 
														WHEN @mode = 21  --21.一次評価者進捗コメント 
														THEN @progress_comment_rater
														ELSE F0110.progress_comment_rater
													END
				,	progress_comment_rater_2		=	CASE 
														WHEN @mode = 22  --22.二次評価者進捗コメント 
														THEN @progress_comment_rater_2
														ELSE F0110.progress_comment_rater_2
													END
				,	progress_comment_rater_3		=	CASE 
														WHEN @mode = 23  --23.三次評価者進捗コメント 
														THEN @progress_comment_rater_3
														ELSE F0110.progress_comment_rater_3
													END
				,	progress_comment_rater_4		=	CASE 
														WHEN @mode = 24  --24.四次評価者進捗コメント 
														THEN @progress_comment_rater_4
														ELSE F0110.progress_comment_rater_4
													END
				,	upd_user					=	@P_cre_user
				,	upd_ip						=	@P_cre_ip
				,	upd_prg						=	@screen_id
				,	upd_datetime				=	@w_time
				FROM F0110
				WHERE 
					F0110.company_cd			=	@P_company_cd
				AND F0110.fiscal_year			=	@fiscal_year
				AND F0110.employee_cd			=	@employee_cd
				AND F0110.sheet_cd				=	@sheet_cd
				AND F0110.del_datetime IS NULL
			END
			-- 明細自己進捗コメント & 明細進捗コメント
			IF @mode IN(10,11)
			BEGIN
				UPDATE F0111 SET 
					self_progress_comment		=	CASE 
														WHEN @mode = 10  --10.明細自己進捗コメント
														THEN #TABLE_JSON.self_progress_comment
														ELSE F0111.self_progress_comment
													END
				,	progress_comment			=	CASE 
														WHEN @mode = 11  --11.明細進捗コメント
														THEN #TABLE_JSON.progress_comment
														ELSE F0111.progress_comment
													END
				FROM F0111
				INNER JOIN #TABLE_JSON ON (
					F0111.company_cd				=	@P_company_cd
				AND F0111.fiscal_year				=	@fiscal_year
				AND F0111.employee_cd				=	@employee_cd
				AND F0111.sheet_cd					=	@sheet_cd
				AND F0111.item_no					=	#TABLE_JSON.item_no
				)
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO