DROP PROCEDURE [SPC_I2010_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/10/09											
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:	2019/01/07  						
--*	更新者/updater				:	viettd　								     	 
--*	更新内容/update content		:	DONT SAVE BLANK ROW
--*   					
--*	更新日/update date			:	2019/01/28  						
--*	更新者/updater				:	viettd　								     	 
--*	更新内容/update content		:	DONT SAVE BLANK ROW　 　	
--*   					
--*	更新日/update date			:	2019/06/12  						
--*	更新者/updater				:	viettd　								     	 
--*	更新内容/update content		:	Move F0110.progress_comment_self,progress_comment_rater to F0111
--*   					
--*	更新日/update date			:	2019/12/10  						
--*	更新者/updater				:	viettd　								     	 
--*	更新内容/update content		:	upgradate ver1.6
--*   					
--*	更新日/update date			:	2020/10/09  						
--*	更新者/updater				:	viettd　								     	 
--*	更新内容/update content		:	upgradate ver1.7 & 1on1
--*   					
--*	更新日/update date			:	2021/11/16  						
--*	更新者/updater				:	viettd　								     	 
--*	更新内容/update content		:	※処遇用途内のシートの評価がすべて完了した場合、メッセージを表示する。（※特記事項8）
--*   					
--*	更新日/update date			:	2021/12/01  						
--*	更新者/updater				:	viettd　								     	 
--*	更新内容/update content		:	upgradate ver1.8
--*   					
--*	更新日/update date			:	2022/04/13  						
--*	更新者/updater				:	viettd　								     	 
--*	更新内容/update content		:	get item_no from screen
--*   					
--*	更新日/update date			:	2022/08/16  						
--*	更新者/updater				:	viettd　								     	 
--*	更新内容/update content		:	upgrade 1.9
--*   					
--*  更新日/update date			:	2024/02/16 			
--*　更新者/updater				:　	viettd　  　			
--*　更新内容/update content		:	fix ウェイト・合計の場合、計算式は　ポイント× 難易度×ウェイト
--*   					
--*  更新日/update date			:	2024/05/27 			
--*　更新者/updater				:　	viettd　  　			
--*　更新内容/update content		:	admin user : not delete F0120
--*   					
--*  更新日/update date			:	2025/10/01 			
--*　更新者/updater				:　	viettd　  　			
--*　更新内容/update content		:	[確定] and【一時保存】button : not update data 進捗コメント
--*
--****************************************************************************************
CREATE PROCEDURE [SPC_I2010_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json						nvarchar(max)			=	''
	-- common
,	@P_login_employee_cd		nvarchar(10)			=	''
,	@P_cre_user					nvarchar(50)			=	''
,	@P_cre_ip					nvarchar(50)			=	''
,	@P_company_cd				smallint				=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2					=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			int							=	0
	,	@screen_id				nvarchar(20)				=	'I2010'
	-----------------------SCREEN DATA-------------------------
	,	@fiscal_year							int					=	0
	,	@employee_cd							nvarchar(10)		=	''
	,	@sheet_cd								smallint			=	0
	--	汎用
	,	@generic_comment_1						nvarchar(400)		=	''
	,	@generic_comment_2						nvarchar(400)		=	''
	,	@generic_comment_3						nvarchar(400)		=	''
	,	@generic_comment_4						nvarchar(400)		=	''
	,	@generic_comment_5						nvarchar(400)		=	''
	,	@generic_comment_6						nvarchar(400)		=	''
	,	@generic_comment_7						nvarchar(400)		=	''
	,	@generic_comment_8						nvarchar(400)		=	''
	,	@progress_comment_self					nvarchar(1000)		=	''		-- add by viettd 2019/06/12
	,	@progress_comment_rater					nvarchar(1000)		=	''		-- add by viettd 2019/06/12
	,	@progress_comment_display_status		tinyint				=	0		--自己進捗コメント		-- add by viettd 2019/06/12
	,	@progress_comment_display_status1		tinyint				=	0		--一次評価者進捗コメント  -- add by viettd 2019/06/12
	--	評価シート入力
	,	@evaluation_comment0	nvarchar(1000)				=	''
	,	@evaluation_comment1	nvarchar(1000)				=	''
	,	@evaluation_comment2	nvarchar(1000)				=	''
	,	@evaluation_comment3	nvarchar(1000)				=	''
	,	@evaluation_comment4	nvarchar(1000)				=	''
	,	@point_sum0				numeric(8,2)				=	0
	,	@point_sum1				numeric(8,2)				=	0
	,	@point_sum2				numeric(8,2)				=	0
	,	@point_sum3				numeric(8,2)				=	0
	,	@point_sum4				numeric(8,2)				=	0
	,	@mode					tinyint						=	0	--  1.一時保存 2.登録
	------------------------------------------------------------
	,	@weight_display_status		tinyint					=	0
	,	@generic_comment_status1	tinyint					=	0
	,	@generic_comment_status2	tinyint					=	0
	,	@generic_comment_status3	tinyint					=	0
	,	@generic_comment_status4	tinyint					=	0
	,	@generic_comment_status5	tinyint					=	0
	,	@generic_comment_status6	tinyint					=	0
	,	@generic_comment_status7	tinyint					=	0
	,	@generic_comment_status8	tinyint					=	0
	--	COMMON
	,	@status_cd					tinyint					=	0
	,	@next_status_cd				tinyint					=	0		--	3.目標シート承認 -> next status_cd
	,	@evaluation_step			smallint				=	0		--	評価段階
	,	@login_user_typ				smallint				=	0
	,	@weight_display_nm			nvarchar(20)			=	''		--	評価点計算方法)＝1【ウェイト】	2【係数】
	--
	,	@rater_employee_cd_1		nvarchar(10)			=	''
	,	@rater_employee_cd_2		nvarchar(10)			=	''
	,	@rater_employee_cd_3		nvarchar(10)			=	''
	,	@rater_employee_cd_4		nvarchar(10)			=	''
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--CREATE TEMP TABLE
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	CREATE TABLE #TABLE_JSON (
		id						int				identity(1,1)
	,	item_no					smallint		-- add by viettd 2022/04/12
	,	item_title				nvarchar(400)
	,	item_1					nvarchar(400)
	,	item_2					nvarchar(400)
	,	item_3					nvarchar(400)
	,	item_4					nvarchar(400)
	,	item_5					nvarchar(400)
	,	weight					smallint
	,	challenge_level			smallint
	,	self_progress_comment	nvarchar(1000)	-- add by viettd 2021/12/01
	,	progress_comment		nvarchar(1000)	-- add by viettd 2020/10/09
	,	point_cd_0				smallint
	,	evaluation_comment_0	nvarchar(1000)
	,	evaluation_comment_1	nvarchar(1000)
	,	evaluation_comment_2	nvarchar(1000)
	,	evaluation_comment_3	nvarchar(1000)
	,	evaluation_comment_4	nvarchar(1000)
	,	point_cd_1				smallint
	,	point_cd_2				smallint
	,	point_cd_3				smallint
	,	point_cd_4				smallint
	)
	--
	CREATE TABLE #M0200_HIDE_SHOW(
		company_cd									smallint
	,	sheet_cd									smallint
	,	details_feedback_typ						tinyint
	,	comments_feedback_typ						tinyint
	--	汎用
	,	generic_comment_title_1						nvarchar(20)
	,	generic_comment_title_2						nvarchar(20)
	,	generic_comment_title_3						nvarchar(20)
	,	generic_comment_title_4						nvarchar(20)
	,	generic_comment_title_5						nvarchar(20)
	,	generic_comment_title_6						nvarchar(20)
	,	generic_comment_title_7						nvarchar(20)
	,	generic_comment_title_8						nvarchar(20)
	,	generic_comment_status1						tinyint
	,	generic_comment_status2						tinyint
	,	generic_comment_status3						tinyint
	,	generic_comment_status4						tinyint
	,	generic_comment_status5						tinyint
	,	generic_comment_status6						tinyint
	,	generic_comment_status7						tinyint
	,	generic_comment_status8						tinyint
	--	評価シート入力
	,	goal_number									smallint
	,	item_title_title							nvarchar(20)
	,	item_title_1								nvarchar(20)
	,	item_title_2								nvarchar(20)
	,	item_title_3								nvarchar(20)
	,	item_title_4								nvarchar(20)
	,	item_title_5								nvarchar(20)
	--
	,	detail_self_progress_comment_title			nvarchar(50)	-- 自己明細進捗コメントタイトル		add by viettd 2021/12/01
	,	detail_progress_comment_title				nvarchar(50)	-- 明細進捗コメントタイトル			add by viettd 2021/12/01
	,	self_progress_comment_title					nvarchar(50)	-- 自己進捗コメントタイトル			add by viettd 2021/12/01
	,	progress_comment_title						nvarchar(50)	-- 進捗コメントタイトル				add by viettd 2021/12/01

	,	item_title_status							tinyint			-- add by viettd 2020/10/09
	,	item_display_status_1						tinyint
	,	item_display_status_2						tinyint
	,	item_display_status_3						tinyint
	,	item_display_status_4						tinyint
	,	item_display_status_5						tinyint
	,	weight_display_status						tinyint	--ウェイト
	,	weight_display_nm							nvarchar(20)	-- ウェイト名
	,	challenge_level_display_status				tinyint	--難易度
	,	detail_self_progress_comment_display_status	tinyint	-- 明細自己進捗評価コメント	-- add by viettd 2021/12/01
	,	detail_progress_comment_display_status		tinyint	--明細進捗評価コメント
	,	progress_comment_display_status				tinyint	--自己進捗コメント
	--
	,	progress_comment_display_status1			tinyint	--一次評価者進捗コメント
	,	progress_comment_display_status2			tinyint			-- 二次評価者進捗コメント		add by viettd 2021/12/01
	,	progress_comment_display_status3			tinyint			-- 三次評価者進捗コメント		add by viettd 2021/12/01
	,	progress_comment_display_status4			tinyint			-- 四次評価者進捗コメント		add by viettd 2021/12/01
	--
	,	detail_comment_display_status1				tinyint	-- 評価コメント1
	,	detail_comment_display_status2				tinyint	-- 評価コメント2
	,	detail_comment_display_status3				tinyint	-- 評価コメント3
	,	detail_comment_display_status4				tinyint	-- 評価コメント4
	,	detail_myself_comment_display_status		tinyint	-- 自己評価コメント
	,	evaluation_display_status0					tinyint	-- 自己評価
	,	evaluation_display_status1					tinyint	-- 一次評価
	,	evaluation_display_status2					tinyint	-- 二次評価
	,	evaluation_display_status3					tinyint	-- 三次評価
	,	evaluation_display_status4					tinyint	-- 四次評価
	,	total_score_display_status					tinyint	-- 合計点
	--
	,	evaluation_comment_status0					tinyint	-- 自己評価コメント
	,	evaluation_comment_status1					tinyint	-- 一次評価コメント
	,	evaluation_comment_status2					tinyint	-- 二次評価コメント
	,	evaluation_comment_status3					tinyint	-- 三次評価コメント
	,	evaluation_comment_status4					tinyint	-- 四次評価コメント
	--
	,	point_criteria_display_status				tinyint	-- 評価基準
	,	challengelevel_criteria_display_status		tinyint	-- 難易度基準
	,	self_assessment_comment_display_status		tinyint	-- 自己評価コメント
	,	evaluation_comment_display_status			tinyint	-- 評価者コメント
	,	login_user_typ								smallint	-- ログイン者
	)
	--
	CREATE TABLE #F0120(
		id						int				identity(1,1)
	,	company_cd				smallint
	,	fiscal_year				int
	,	employee_cd				nvarchar(10)
	,	sheet_cd				smallint
	,	evaluation_step			smallint
	,	submit_user				nvarchar(50)	
	,	submit_ip				nvarchar(50)	
	,	submit_datetime			datetime
	,	confirm_user			nvarchar(50)	
	,	confirm_ip				nvarchar(50)	
	,	confirm_datetime		datetime
	,	cre_user				nvarchar(50)	
	,	cre_ip					nvarchar(50)	
	,	cre_prg					nvarchar(20)	
	,	cre_datetime			datetime
	)
	--
	CREATE TABLE #TABLE_評価者 (
		id						int				identity(1,1)
	,	company_cd				smallint
	,	employee_cd				nvarchar(10)
	,	evaluation_step			smallint
	)
	--
	--CREATE TABLE #F0111 (
	--	id						int				identity(1,1)
	--,	company_cd				int
	--,	fiscal_year				int
	--,	employee_cd				nvarchar(10)
	--,	sheet_cd				smallint
	--,	item_no					smallint
	--,	cre_user				nvarchar(50)
	--,	cre_ip					nvarchar(50)
	--,	cre_prg					nvarchar(20)
	--,	cre_datetime			datetime
	--,	upd_user				nvarchar(50)
	--,	upd_ip					nvarchar(50)
	--,	upd_prg					nvarchar(20)
	--,	upd_datetime			datetime
	--)
	--
	CREATE TABLE #F0121 (
		id						int				identity(1,1)
	,	company_cd				int
	,	fiscal_year				int
	,	employee_cd				nvarchar(10)
	,	sheet_cd				smallint
	,	evaluation_step			smallint
	,	item_no					smallint
	,	cre_user				nvarchar(50)
	,	cre_ip					nvarchar(50)
	,	cre_prg					nvarchar(20)
	,	cre_datetime			datetime
	,	upd_user				nvarchar(50)
	,	upd_ip					nvarchar(50)
	,	upd_prg					nvarchar(20)
	,	upd_datetime			datetime
	)
	--#TABLE_MESS
	CREATE TABLE #TABLE_MESS (
		id							int				identity(1,1)
	,	message_cd					smallint
	,	message_typ					smallint
	,	message_nm					nvarchar(20)
	,	message						nvarchar(100)
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--VALIDATE
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		--
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- get data from json
			SET	@fiscal_year			=	JSON_VALUE(@P_json,'$.fiscal_year')
			SET	@employee_cd			=	JSON_VALUE(@P_json,'$.employee_cd')
			SET	@sheet_cd				=	JSON_VALUE(@P_json,'$.sheet_cd')
			SET	@generic_comment_1		=	JSON_VALUE(@P_json,'$.generic_comment_1')
			SET	@generic_comment_2		=	JSON_VALUE(@P_json,'$.generic_comment_2')
			SET	@generic_comment_3		=	JSON_VALUE(@P_json,'$.generic_comment_3')
			SET	@generic_comment_4		=	JSON_VALUE(@P_json,'$.generic_comment_4')
			SET	@generic_comment_5		=	JSON_VALUE(@P_json,'$.generic_comment_5')
			SET	@generic_comment_6		=	JSON_VALUE(@P_json,'$.generic_comment_6')
			SET	@generic_comment_7		=	JSON_VALUE(@P_json,'$.generic_comment_7')
			SET	@generic_comment_8		=	JSON_VALUE(@P_json,'$.generic_comment_8')
			SET	@evaluation_comment0	=	JSON_VALUE(@P_json,'$.evaluation_comment0')
			SET	@evaluation_comment1	=	JSON_VALUE(@P_json,'$.evaluation_comment1')
			SET	@evaluation_comment2	=	JSON_VALUE(@P_json,'$.evaluation_comment2')
			SET	@evaluation_comment3	=	JSON_VALUE(@P_json,'$.evaluation_comment3')
			SET	@evaluation_comment4	=	JSON_VALUE(@P_json,'$.evaluation_comment4')
			--
			SET	@progress_comment_self	=	JSON_VALUE(@P_json,'$.progress_comment_self')		-- add by viettd 2019/06/12
			SET	@progress_comment_rater	=	JSON_VALUE(@P_json,'$.progress_comment_rater')		-- add by viettd 2019/06/12
			--
			SET	@point_sum0				=	IIF(JSON_VALUE(@P_json,'$.point_sum0')='',0,CAST(JSON_VALUE(@P_json,'$.point_sum0') AS NUMERIC(8,2)))
			SET	@point_sum1				=	IIF(JSON_VALUE(@P_json,'$.point_sum1')='',0,CAST(JSON_VALUE(@P_json,'$.point_sum1') AS NUMERIC(8,2)))
			SET	@point_sum2				=	IIF(JSON_VALUE(@P_json,'$.point_sum2')='',0,CAST(JSON_VALUE(@P_json,'$.point_sum2') AS NUMERIC(8,2)))
			SET	@point_sum3				=	IIF(JSON_VALUE(@P_json,'$.point_sum3')='',0,CAST(JSON_VALUE(@P_json,'$.point_sum3') AS NUMERIC(8,2)))
			SET	@point_sum4				=	IIF(JSON_VALUE(@P_json,'$.point_sum4')='',0,CAST(JSON_VALUE(@P_json,'$.point_sum4') AS NUMERIC(8,2)))
			SET	@mode					=	JSON_VALUE(@P_json,'$.mode')
			-- get list from json data
			INSERT INTO #TABLE_JSON
			SELECT
				ISNULL(json_table.item_no,0)		
			,	ISNULL(json_table.item_title,'')
			,	ISNULL(json_table.item_1,'')					
			,	ISNULL(json_table.item_2,'')					
			,	ISNULL(json_table.item_3,'')					
			,	ISNULL(json_table.item_4,'')					
			,	ISNULL(json_table.item_5,'')					
			,	ISNULL(json_table.weight,0)					
			,	ISNULL(json_table.challenge_level,0)		
			,	ISNULL(json_table.self_progress_comment,'')			
			,	ISNULL(json_table.progress_comment,'')			
			,	ISNULL(json_table.point_cd_0,0)				
			,	ISNULL(json_table.evaluation_comment_0,'')		
			,	ISNULL(json_table.evaluation_comment_1,'')	
			,	ISNULL(json_table.evaluation_comment_2,'')	
			,	ISNULL(json_table.evaluation_comment_3,'')	
			,	ISNULL(json_table.evaluation_comment_4,'')		
			,	ISNULL(json_table.point_cd_1,0)				
			,	ISNULL(json_table.point_cd_2,0)				
			,	ISNULL(json_table.point_cd_3,0)				
			,	ISNULL(json_table.point_cd_4,0)						
			FROM OPENJSON(@P_json,'$.function_list') WITH(
					item_no					smallint
				,	item_title				nvarchar(400)
				,	item_1					nvarchar(400)
				,	item_2					nvarchar(400)
				,	item_3					nvarchar(400)
				,	item_4					nvarchar(400)
				,	item_5					nvarchar(400)
				,	weight					smallint
				,	challenge_level			smallint
				,	self_progress_comment	nvarchar(1000)
				,	progress_comment		nvarchar(1000)
				,	point_cd_0				smallint
				,	evaluation_comment_0	nvarchar(1000)
				,	evaluation_comment_1	nvarchar(1000)
				,	evaluation_comment_2	nvarchar(1000)
				,	evaluation_comment_3	nvarchar(1000)
				,	evaluation_comment_4	nvarchar(1000)
				,	point_cd_1				smallint
				,	point_cd_2				smallint
				,	point_cd_3				smallint
				,	point_cd_4				smallint
			)AS json_table
			-- add by viettd 2019/01/07
			-- edited by viettd 2019/01/28
			DELETE D FROM #TABLE_JSON AS D
			WHERE 
			--	D.item_title		= ''			-- comment out by viettd 2022/04/13
				D.item_1			= ''
			AND D.item_2			= ''
			AND D.item_3			= ''
			AND D.item_4			= ''
			AND D.item_5			= ''
			AND D.weight			= 0
			AND D.challenge_level	= -1
			-- end edited by viettd 2019/01/07
			-- end add by viettd 2019/01/07
			-- RUN STORE PROCEDUCE
			INSERT INTO #M0200_HIDE_SHOW
			EXEC [dbo].SPC_I2010_LST1 @fiscal_year,@sheet_cd,@employee_cd,@P_login_employee_cd,@P_cre_user,@P_company_cd
			--
			SELECT 
				@weight_display_status					=	ISNULL(#M0200_HIDE_SHOW.weight_display_status,0)
			,	@generic_comment_status1				=	ISNULL(#M0200_HIDE_SHOW.generic_comment_status1,0)
			,	@generic_comment_status2				=	ISNULL(#M0200_HIDE_SHOW.generic_comment_status2,0)
			,	@generic_comment_status3				=	ISNULL(#M0200_HIDE_SHOW.generic_comment_status3,0)
			,	@generic_comment_status4				=	ISNULL(#M0200_HIDE_SHOW.generic_comment_status4,0)
			,	@generic_comment_status5				=	ISNULL(#M0200_HIDE_SHOW.generic_comment_status5,0)
			,	@generic_comment_status6				=	ISNULL(#M0200_HIDE_SHOW.generic_comment_status6,0)
			,	@generic_comment_status7				=	ISNULL(#M0200_HIDE_SHOW.generic_comment_status7,0)
			,	@generic_comment_status8				=	ISNULL(#M0200_HIDE_SHOW.generic_comment_status8,0)
			,	@login_user_typ							=	ISNULL(#M0200_HIDE_SHOW.login_user_typ,0)
			,	@progress_comment_display_status		=	ISNULL(#M0200_HIDE_SHOW.progress_comment_display_status,0)
			,	@progress_comment_display_status1		=	ISNULL(#M0200_HIDE_SHOW.progress_comment_display_status1,0)
			,	@weight_display_nm						=	ISNULL(#M0200_HIDE_SHOW.weight_display_nm,'')
			FROM #M0200_HIDE_SHOW
			-- GET @status_cd
			SELECT 
				@status_cd					=	ISNULL(F0100.status_cd,0)
			,	@rater_employee_cd_1		=	ISNULL(F0100.rater_employee_cd_1,'')
			,	@rater_employee_cd_2		=	ISNULL(F0100.rater_employee_cd_2,'')
			,	@rater_employee_cd_3		=	ISNULL(F0100.rater_employee_cd_3,'')
			,	@rater_employee_cd_4		=	ISNULL(F0100.rater_employee_cd_4,'')
			FROM F0100
			WHERE 
				F0100.company_cd			=	@P_company_cd
			AND F0100.fiscal_year			=	@fiscal_year
			AND F0100.employee_cd			=	@employee_cd
			AND F0100.sheet_cd				=	@sheet_cd
			AND F0100.del_datetime IS NULL
			--
			IF @login_user_typ = 1
			BEGIN
				SET @evaluation_step	= 0
			END
			ELSE IF @login_user_typ = 21
			BEGIN
				SET @evaluation_step	= 1
			END
			ELSE IF @login_user_typ = 22
			BEGIN
				SET @evaluation_step	= 2
			END
			ELSE IF @login_user_typ = 23
			BEGIN
				SET @evaluation_step	= 3
			END
			ELSE IF @login_user_typ = 24
			BEGIN
				SET @evaluation_step	= 4
			END
			--
			INSERT INTO #TABLE_評価者 VALUES(@P_company_cd,@employee_cd,0)
			IF @rater_employee_cd_1 <> ''
			BEGIN
				INSERT INTO #TABLE_評価者 VALUES(@P_company_cd,@rater_employee_cd_1,1)
			END
			IF @rater_employee_cd_2 <> ''
			BEGIN
				INSERT INTO #TABLE_評価者 VALUES(@P_company_cd,@rater_employee_cd_2,2)
			END
			IF @rater_employee_cd_3 <> ''
			BEGIN
				INSERT INTO #TABLE_評価者 VALUES(@P_company_cd,@rater_employee_cd_3,3)
			END
			IF @rater_employee_cd_4 <> ''
			BEGIN
				INSERT INTO #TABLE_評価者 VALUES(@P_company_cd,@rater_employee_cd_4,4)
			END
		END
		-- validate weight (100%) Message.37
		IF @mode <> 1	-- 1.一時保存 2.登録
		BEGIN
			IF @weight_display_status > 0 AND @weight_display_nm = 'ｳｪｲﾄ'
			BEGIN
				IF (SELECT SUM(#TABLE_JSON.weight) FROM #TABLE_JSON) <> 100
				BEGIN
					INSERT INTO @ERR_TBL 
					SELECT
						37									-- mã lỗi (trùng với mã trong bảng message) 					
					,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
					,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
					,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
					,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
					,	0									-- Tùy ý
					,	'ウェイト合計が100%でなければエラー'	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
				END
			END
		END
		-- add by viettd 2021/11/16
		-- CHECK MESS 148
		-- @mode = 1.一時保存 2.登録
		IF @mode = 2
		BEGIN
			INSERT INTO #TABLE_MESS
			EXEC [dbo].[SPC_I2010_CHK1]
				@fiscal_year			
			,	@sheet_cd				
			,	@employee_cd			
			,	@P_company_cd
			,	@status_cd
			,	1					-- sheet_kbn
		END
		-- end add by viettd 2021/11/16
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--PROCESS
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- CHECK ※@status = 0：初期状態
			--■■■■■■■■■■■■■■■■■■ F0100 ■■■■■■■■■■■■■■■■■■
			IF (@status_cd = 0 AND @mode = 2) OR (@status_cd = 0 AND @mode = 2 AND @login_user_typ IN (3,4,5))-- 登録
			BEGIN
				--
				SET @next_status_cd = (
					SELECT 
						TOP 1
						ISNULL(M0310.status_cd,0) 
					FROM M0310 
					WHERE 
						M0310.company_cd		=	@P_company_cd
					AND M0310.category			=	1
					AND M0310.status_cd			>	0	-- 0：初期状態
					AND M0310.status_use_typ	=	1
					AND M0310.del_datetime IS NULL
					ORDER BY
						M0310.status_cd
				)
				--
				-- UPDATE F0100
				UPDATE F0100 SET 
					status_cd		=	@next_status_cd
				,	upd_prg			=	@screen_id
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_datetime	=	@w_time
				,	del_user		=	SPACE(0)
				,	del_ip			=	SPACE(0)
				,	del_prg			=	SPACE(0)
				,	del_datetime	=	NULL
				WHERE
					F0100.company_cd		=	@P_company_cd
				AND F0100.fiscal_year		=	@fiscal_year
				AND F0100.employee_cd		=	@employee_cd
				AND F0100.sheet_cd			=	@sheet_cd
			END
			-- CHECK ※@status = 3：目標シート承認
			IF (@status_cd = 3 AND @mode = 2) OR (@status_cd = 3 AND @mode = 2 AND @login_user_typ IN (3,4,5))-- 登録
			BEGIN
				SET @next_status_cd = (
					SELECT 
						TOP 1
						ISNULL(M0310.status_cd,0) 
					FROM M0310 
					WHERE 
						M0310.company_cd		=	@P_company_cd
					AND M0310.category			=	1
					AND M0310.status_cd			>	3	-- 3：目標シート承認
					AND M0310.status_use_typ	=	1
					AND M0310.del_datetime IS NULL
					ORDER BY
						M0310.status_cd
				)
				-- UPDATE F0100
				UPDATE F0100 SET 
					status_cd		=	@next_status_cd
				,	upd_prg			=	@screen_id
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_datetime	=	@w_time
				,	del_user		=	SPACE(0)
				,	del_ip			=	SPACE(0)
				,	del_prg			=	SPACE(0)
				,	del_datetime	=	NULL
				WHERE
					F0100.company_cd		=	@P_company_cd
				AND F0100.fiscal_year		=	@fiscal_year
				AND F0100.employee_cd		=	@employee_cd
				AND F0100.sheet_cd			=	@sheet_cd
			END 
			-- CHECK ※@status < 4：自己評価済
			IF @status_cd < 4 OR @login_user_typ IN (3,4,5)
			BEGIN
				--■■■■■■■■■■■■■■■■■■ F0101 ■■■■■■■■■■■■■■■■■■
				IF EXISTS (SELECT 1 FROM F0101 WHERE 
													F0101.company_cd	=	@P_company_cd
												AND F0101.fiscal_year	=	@fiscal_year
												AND F0101.employee_cd	=	@employee_cd
												AND F0101.sheet_cd		=	@sheet_cd)
				BEGIN
					UPDATE F0101 SET 
						generic_comment_1	=	CASE 
													WHEN @generic_comment_status1 > 0	-- 1.ENABLED 2.DISABLED
													THEN @generic_comment_1
													ELSE F0101.generic_comment_1
												END
					,	generic_comment_2	=	CASE 
													WHEN @generic_comment_status2 > 0	-- 1.ENABLED 2.DISABLED
													THEN @generic_comment_2
													ELSE F0101.generic_comment_2
												END					
					,	generic_comment_3	=	CASE 
													WHEN @generic_comment_status3 = 1	-- 1.ENABLED
													THEN @generic_comment_3
													ELSE F0101.generic_comment_3
												END					
					,	generic_comment_4	=	CASE 
													WHEN @generic_comment_status4 = 1	-- 1.ENABLED
													THEN @generic_comment_4
													ELSE F0101.generic_comment_4
												END					
					,	generic_comment_5	=	CASE 
													WHEN @generic_comment_status5 = 1	-- 1.ENABLED
													THEN @generic_comment_5
													ELSE F0101.generic_comment_5
												END					
					,	generic_comment_6	=	CASE 
													WHEN @generic_comment_status6 = 1	-- 1.ENABLED
													THEN @generic_comment_6
													ELSE F0101.generic_comment_6
												END					
					,	generic_comment_7	=	CASE 
													WHEN @generic_comment_status7 = 1	-- 1.ENABLED
													THEN @generic_comment_7
													ELSE F0101.generic_comment_7
												END			
					,	generic_comment_8	=	CASE 
													WHEN @generic_comment_status8 > 0	-- 1.ENABLED 2.DISABLED
													THEN @generic_comment_8
													ELSE F0101.generic_comment_8
												END			
					,	upd_user			=	@P_cre_user
					,	upd_ip				=	@P_cre_ip
					,	upd_prg				=	@screen_id
					,	upd_datetime		=	@w_time
					,	del_user			=	SPACE(0)
					,	del_ip				=	SPACE(0)
					,	del_prg				=	SPACE(0)
					,	del_datetime		=	NULL
					WHERE 
						F0101.company_cd	=	@P_company_cd
					AND F0101.fiscal_year	=	@fiscal_year
					AND F0101.employee_cd	=	@employee_cd
					AND F0101.sheet_cd		=	@sheet_cd
				END
				ELSE
				BEGIN
					INSERT INTO F0101
					SELECT 
						@P_company_cd
					,	@fiscal_year
					,	@employee_cd
					,	@sheet_cd
					,	CASE 
							WHEN @generic_comment_status1 > 0 -- 1.ENABLED 2.DISABLED
							THEN @generic_comment_1
							ELSE ''
						END																--	generic_comment_1
					,	CASE 
							WHEN @generic_comment_status2 > 0 -- 1.ENABLED 2.DISABLED
							THEN @generic_comment_2
							ELSE ''
						END																--	generic_comment_2
					,	CASE 
							WHEN @generic_comment_status3 = 1 -- 1.ENABLE 
							THEN @generic_comment_3
							ELSE ''
						END																--	generic_comment_3
					,	CASE 
							WHEN @generic_comment_status4 = 1 -- 1.ENABLE 
							THEN @generic_comment_4
							ELSE ''
						END																--	generic_comment_4
					,	CASE 
							WHEN @generic_comment_status5 = 1 -- 1.ENABLE 
							THEN @generic_comment_5
							ELSE ''
						END																--	generic_comment_5
					,	CASE 
							WHEN @generic_comment_status6 = 1 -- 1.ENABLE 
							THEN @generic_comment_6
							ELSE ''
						END																--	generic_comment_6
					,	CASE 
							WHEN @generic_comment_status7 = 1 -- 1.ENABLE 
							THEN @generic_comment_7
							ELSE ''
						END																--	generic_comment_7
					,	CASE 
							WHEN @generic_comment_status8  > 0 -- 1.ENABLED 2.DISABLED
							THEN @generic_comment_8
							ELSE ''
						END																--	generic_comment_8
					,	@P_cre_user														--	cre_user
					,	@P_cre_ip														--	cre_ip
					,	@screen_id
					,	@w_time															--	cre_datetime
					,	SPACE(0)														--	upd_user
					,	SPACE(0)														--	upd_ip
					,	SPACE(0)
					,	NULL															--	upd_datetime
					,	SPACE(0)														--	del_user
					,	SPACE(0)														--	del_ip
					,	SPACE(0)
					,	NULL
				END
			END
			-- CHECK ※@status <= ２：期首面談
			IF @status_cd <= 2 OR @login_user_typ IN (3,4,5)
			BEGIN
				--■■■■■■■■■■■■■■■■■■ F0110 ■■■■■■■■■■■■■■■■■■
				IF EXISTS (SELECT 1 FROM F0110 WHERE 
													F0110.company_cd	=	@P_company_cd
												AND F0110.fiscal_year	=	@fiscal_year
												AND F0110.employee_cd	=	@employee_cd
												AND F0110.sheet_cd		=	@sheet_cd)
				BEGIN
					UPDATE F0110 SET 			
					---- add by viettd 2019/06/12
					--	progress_comment_self	=	CASE 
					--									WHEN @progress_comment_display_status = 1	-- 1.ENABLED
					--									THEN @progress_comment_self
					--									ELSE F0110.progress_comment_self
					--								END						
					--,	progress_comment_rater	=	CASE 
					--									WHEN @progress_comment_display_status1 = 1	-- 1.ENABLED
					--									THEN @progress_comment_rater
					--									ELSE F0110.progress_comment_rater
					--								END
					---- end add by viettd 2019/06/12
						submit_user			=	CASE 
													WHEN @mode = 2	-- 1.一時保存 2.登録
													THEN @P_cre_user
													ELSE F0110.submit_user
												END					
					,	submit_ip			=	CASE 
													WHEN @mode = 2	-- 1.一時保存 2.登録
													THEN @P_cre_ip
													ELSE F0110.submit_ip
												END					
					,	submit_datetime		=	CASE 
													WHEN @mode = 2	-- 1.一時保存 2.登録
													THEN @w_time
													ELSE F0110.submit_datetime
												END					
					,	upd_user			=	@P_cre_user
					,	upd_ip				=	@P_cre_ip
					,	upd_prg				=	@screen_id
					,	upd_datetime		=	@w_time
					,	del_user			=	SPACE(0)
					,	del_ip				=	SPACE(0)
					,	del_prg				=	SPACE(0)
					,	del_datetime		=	NULL
					WHERE 
						F0110.company_cd	=	@P_company_cd
					AND F0110.fiscal_year	=	@fiscal_year
					AND F0110.employee_cd	=	@employee_cd
					AND F0110.sheet_cd		=	@sheet_cd	
				END
				ELSE
				BEGIN
					INSERT INTO F0110
					SELECT 
						@P_company_cd
					,	@fiscal_year
					,	@employee_cd
					,	@sheet_cd
					-- edited by viettd 2025/10/01
					--,	CASE 
					--		WHEN @progress_comment_display_status = 1 -- 1.ENABLE 
					--		THEN @progress_comment_self
					--		ELSE ''
					--	END																--	progress_comment_self
					--,	CASE 
					--		WHEN @progress_comment_display_status1 = 1 -- 1.ENABLE 
					--		THEN @progress_comment_rater
					--		ELSE ''
					--	END																--	progress_comment_rater
					,	SPACE(0)		AS	progress_comment_self
					,	SPACE(0)		AS	progress_comment_rater
					,	SPACE(0)		AS	progress_comment_rater_2
					,	SPACE(0)		AS	progress_comment_rater_3
					,	SPACE(0)		AS	progress_comment_rater_4					
					,	CASE 
							WHEN @mode = 2 -- 1.一時保存 2.登録
							THEN @P_cre_user
							ELSE ''
						END																--	submit_user
					,	CASE 
							WHEN @mode = 2 -- 1.一時保存 2.登録
							THEN @P_cre_ip
							ELSE ''
						END																--	submit_ip
					,	CASE 
							WHEN @mode = 2 -- 1.一時保存 2.登録
							THEN @w_time
							ELSE NULL
						END																--	submit_datetime
					,	SPACE(0)														--	approval_user
					,	SPACE(0)														--	approval_ip
					,	NULL															--	approval_datetime
					,	@P_cre_user														--	cre_user
					,	@P_cre_ip														--	cre_ip
					,	@screen_id
					,	@w_time															--	cre_datetime
					,	SPACE(0)														--	upd_user
					,	SPACE(0)														--	upd_ip
					,	SPACE(0)
					,	NULL															--	upd_datetime
					,	SPACE(0)														--	del_user
					,	SPACE(0)														--	del_ip
					,	SPACE(0)
					,	NULL															--	del_datetime
				END
				--■■■■■■■■■■■■■■■■■■ F0111 ■■■■■■■■■■■■■■■■■■
				-- update 
				UPDATE F0111 SET 
					item_title			=	U.item_title
				,	item_1				=	U.item_1
				,	item_2				=	U.item_2
				,	item_3				=	U.item_3
				,	item_4				=	U.item_4
				,	item_5				=	U.item_5
				,	weight				=	U.weight
				,	challenge_level		=	U.challenge_level
				,	upd_user			=	@P_cre_user
				,	upd_ip				=	@P_cre_ip
				,	upd_prg				=	@screen_id
				,	upd_datetime		=	@w_time
				,	del_user			=	SPACE(0)
				,	del_ip				=	SPACE(0)
				,	del_prg				=	SPACE(0)
				,	del_datetime		=	NULL
				FROM F0111
				INNER JOIN #TABLE_JSON AS U ON (
					F0111.company_cd		=	@P_company_cd
				AND F0111.fiscal_year		=	@fiscal_year
				AND F0111.employee_cd		=	@employee_cd
				AND F0111.sheet_cd			=	@sheet_cd
				AND F0111.item_no			=	U.item_no
				)
				-- insert 
				INSERT INTO F0111
				SELECT 
					@P_company_cd
				,	@fiscal_year
				,	@employee_cd
				,	@sheet_cd
				,	I.item_no
				,	I.item_title
				,	I.item_1
				,	I.item_2
				,	I.item_3
				,	I.item_4
				,	I.item_5
				,	I.weight
				,	I.challenge_level
				,	SPACE(0)
				,	SPACE(0)
				,	@P_cre_user
				,	@P_cre_ip
				,	@screen_id
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #TABLE_JSON AS I
				LEFT OUTER JOIN F0111 ON (
					@P_company_cd		=	F0111.company_cd
				AND @fiscal_year		=	F0111.fiscal_year
				AND @employee_cd		=	F0111.employee_cd
				AND @sheet_cd			=	F0111.sheet_cd
				AND I.item_no			=	F0111.item_no
				)
				WHERE 
					F0111.item_no IS NULL
				-- DELETE
				UPDATE F0111 SET 
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	@screen_id
				,	del_datetime	=	@w_time
				FROM F0111
				LEFT OUTER JOIN #TABLE_JSON AS D ON (
					F0111.company_cd	= @P_company_cd
				AND F0111.fiscal_year	= @fiscal_year
				AND F0111.employee_cd	= @employee_cd
				AND F0111.sheet_cd		= @sheet_cd
				AND F0111.item_no		= D.item_no
				)
				WHERE 
				--★2025/10/15 Yamazaki
				    F0111.company_cd	=	@P_company_cd
				AND F0111.fiscal_year	=	@fiscal_year
				AND F0111.employee_cd	=	@employee_cd
				AND F0111.sheet_cd		=	@sheet_cd
				--★2025/10/15 Yamazaki
				AND	D.item_no IS NULL
			END
			-- CHECK WHEN 管理者
			IF @login_user_typ IN(3,4,5) AND @status_cd >= 3
			BEGIN
				INSERT INTO #F0120
				SELECT 
					company_cd		
				,	fiscal_year		
				,	employee_cd		
				,	sheet_cd		
				,	evaluation_step	
				,	submit_user		
				,	submit_ip		
				,	submit_datetime	
				,	confirm_user	
				,	confirm_ip		
				,	confirm_datetime
				,	cre_user		
				,	cre_ip			
				,	cre_prg
				,	cre_datetime	
				FROM F0120
				WHERE 
					F0120.company_cd		=	@P_company_cd
				AND F0120.fiscal_year		=	@fiscal_year
				AND F0120.employee_cd		=	@employee_cd
				AND F0120.sheet_cd			=	@sheet_cd
				AND F0120.del_datetime IS NULL
				AND (
						(@status_cd = 3 AND F0120.evaluation_step = 0) 
					OR	(@status_cd = 4 AND F0120.evaluation_step <= 1)
					OR	(@status_cd = 5 AND F0120.evaluation_step <= 2)
					OR	(@status_cd = 6 AND F0120.evaluation_step <= 3)
					OR	(@status_cd = 7 AND F0120.evaluation_step <= 4)
				)
				--
				DELETE D FROM F0120 AS D 
				-- add by viettd 2024/05/27
				INNER JOIN #F0120 ON (
					D.company_cd		=	#F0120.company_cd
				AND D.fiscal_year		=	#F0120.fiscal_year
				AND D.employee_cd		=	#F0120.employee_cd
				AND D.sheet_cd			=	#F0120.sheet_cd
				AND D.evaluation_step	=	#F0120.evaluation_step
				)
				WHERE 
					D.company_cd		=	@P_company_cd
				AND D.fiscal_year		=	@fiscal_year
				AND D.employee_cd		=	@employee_cd
				AND D.sheet_cd			=	@sheet_cd
				--
				INSERT INTO F0120
				SELECT
					@P_company_cd
				,	@fiscal_year
				,	@employee_cd
				,	@sheet_cd
				,	#TABLE_評価者.evaluation_step
				,	#TABLE_評価者.employee_cd
				,	CASE 
						WHEN #TABLE_評価者.evaluation_step = 0
						THEN @evaluation_comment0
						WHEN #TABLE_評価者.evaluation_step = 1
						THEN @evaluation_comment1
						WHEN #TABLE_評価者.evaluation_step = 2
						THEN @evaluation_comment2
						WHEN #TABLE_評価者.evaluation_step = 3
						THEN @evaluation_comment3
						WHEN #TABLE_評価者.evaluation_step = 4
						THEN @evaluation_comment4
						ELSE ''
					END
				,	CASE 
						WHEN #TABLE_評価者.evaluation_step = 0
						THEN @point_sum0
						WHEN #TABLE_評価者.evaluation_step = 1
						THEN @point_sum1
						WHEN #TABLE_評価者.evaluation_step = 2
						THEN @point_sum2
						WHEN #TABLE_評価者.evaluation_step = 3
						THEN @point_sum3
						WHEN #TABLE_評価者.evaluation_step = 4
						THEN @point_sum4
						ELSE ''
					END
				,	CASE 
						WHEN @mode = 2 -- 登録
						THEN @P_cre_user
						ELSE ISNULL(#F0120.submit_user,'')
					END
				,	CASE 
						WHEN @mode = 2 -- 登録
						THEN @P_cre_ip
						ELSE ISNULL(#F0120.submit_ip,'')
					END
				,	CASE 
						WHEN @mode = 2 -- 登録
						THEN @w_time
						ELSE #F0120.submit_datetime
					END		
				,	ISNULL(#F0120.confirm_user,'')
				,	ISNULL(#F0120.confirm_ip,'')
				,	#F0120.confirm_datetime
				-- create
				,	CASE 
						WHEN #F0120.cre_user IS NOT NULL
						THEN #F0120.cre_user
						ELSE @P_cre_user
					END
				,	CASE 
						WHEN #F0120.cre_ip IS NOT NULL
						THEN #F0120.cre_ip
						ELSE @P_cre_ip
					END
				,	CASE 
						WHEN #F0120.cre_prg IS NOT NULL
						THEN #F0120.cre_prg
						ELSE @screen_id
					END
				,	CASE 
						WHEN #F0120.cre_datetime IS NOT NULL
						THEN #F0120.cre_datetime
						ELSE @w_time
					END
				-- update
				,	@P_cre_user
				,	@P_cre_ip
				,	@screen_id
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #TABLE_評価者
				LEFT OUTER JOIN #F0120 ON (
					@P_company_cd						=	#F0120.company_cd
				AND @fiscal_year						=	#F0120.fiscal_year
				AND @employee_cd						=	#F0120.employee_cd
				AND @sheet_cd							=	#F0120.sheet_cd
				AND #TABLE_評価者.evaluation_step		=	#F0120.evaluation_step
				)
				WHERE (
						(@status_cd = 3 AND #TABLE_評価者.evaluation_step = 0) 
					OR	(@status_cd = 4 AND #TABLE_評価者.evaluation_step <= 1)
					OR	(@status_cd = 5 AND #TABLE_評価者.evaluation_step <= 2)
					OR	(@status_cd = 6 AND #TABLE_評価者.evaluation_step <= 3)
					OR	(@status_cd = 7 AND #TABLE_評価者.evaluation_step <= 4)
				)
				-- TABLE F0121
				INSERT INTO #F0121
				SELECT 
					F0121.company_cd
				,	F0121.fiscal_year
				,	F0121.employee_cd
				,	F0121.sheet_cd
				,	F0121.evaluation_step
				,	F0121.item_no
				,	F0121.cre_user	
				,	F0121.cre_ip		
				,	F0121.cre_prg		
				,	F0121.cre_datetime
				,	F0121.upd_user
				,	F0121.upd_ip
				,	F0121.upd_prg
				,	F0121.upd_datetime
				FROM F0121
				INNER JOIN #F0120 ON (
					F0121.company_cd		=	#F0120.company_cd
				AND F0121.fiscal_year		=	#F0120.fiscal_year
				AND F0121.employee_cd		=	#F0120.employee_cd
				AND F0121.sheet_cd			=	#F0120.sheet_cd
				AND F0121.evaluation_step	=	#F0120.evaluation_step
				)
				WHERE
					F0121.company_cd		=	@P_company_cd
				AND F0121.fiscal_year		=	@fiscal_year
				AND F0121.employee_cd		=	@employee_cd
				AND F0121.sheet_cd			=	@sheet_cd
				AND F0121.del_datetime IS NULL
				--
				DELETE D FROM F0121 AS D 
				INNER JOIN #F0121 ON (
					D.company_cd		=	#F0121.company_cd
				AND D.fiscal_year		=	#F0121.fiscal_year
				AND D.employee_cd		=	#F0121.employee_cd
				AND D.sheet_cd			=	#F0121.sheet_cd
				AND D.evaluation_step	=	#F0121.evaluation_step
				AND D.item_no			=	#F0121.item_no
				)
				WHERE 
					D.company_cd		=	@P_company_cd
				AND D.fiscal_year		=	@fiscal_year
				AND D.employee_cd		=	@employee_cd
				AND D.sheet_cd			=	@sheet_cd
				--
				INSERT INTO F0121
				SELECT 
					@P_company_cd
				,	@fiscal_year
				,	@employee_cd
				,	@sheet_cd
				,	#TABLE_評価者.evaluation_step
				,	#TABLE_JSON.item_no				-- edited by viettd 2022/04/13
				,	CASE 
						WHEN #TABLE_評価者.evaluation_step = 0
						THEN #TABLE_JSON.point_cd_0
						WHEN #TABLE_評価者.evaluation_step = 1
						THEN #TABLE_JSON.point_cd_1
						WHEN #TABLE_評価者.evaluation_step = 2
						THEN #TABLE_JSON.point_cd_2
						WHEN #TABLE_評価者.evaluation_step = 3
						THEN #TABLE_JSON.point_cd_3
						WHEN #TABLE_評価者.evaluation_step = 4
						THEN #TABLE_JSON.point_cd_4
						ELSE 0
					END								--	point_cd
				,	CASE 
						WHEN #TABLE_評価者.evaluation_step = 0
						THEN #TABLE_JSON.evaluation_comment_0
						WHEN #TABLE_評価者.evaluation_step = 1
						THEN #TABLE_JSON.evaluation_comment_1
						WHEN #TABLE_評価者.evaluation_step = 2
						THEN #TABLE_JSON.evaluation_comment_2
						WHEN #TABLE_評価者.evaluation_step = 3
						THEN #TABLE_JSON.evaluation_comment_3
						WHEN #TABLE_評価者.evaluation_step = 4
						THEN #TABLE_JSON.evaluation_comment_4
						ELSE ''
					END								--	evaluation_comment
				,	@P_cre_user
				,	@P_cre_ip
				,	@screen_id
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #TABLE_JSON

				LEFT OUTER JOIN #TABLE_評価者 ON (
					@P_company_cd				=	#TABLE_評価者.company_cd
				)
				WHERE (
						(@status_cd = 3 AND #TABLE_評価者.evaluation_step = 0) 
					OR	(@status_cd = 4 AND #TABLE_評価者.evaluation_step <= 1)
					OR	(@status_cd = 5 AND #TABLE_評価者.evaluation_step <= 2)
					OR	(@status_cd = 6 AND #TABLE_評価者.evaluation_step <= 3)
					OR	(@status_cd = 7 AND #TABLE_評価者.evaluation_step <= 4)
				)
				-- UPDATE
				UPDATE F0121 SET
					cre_user		=	#F0121.cre_user
				,	cre_ip			=	#F0121.cre_ip
				,	cre_prg			=	#F0121.cre_prg
				,	cre_datetime	=	#F0121.cre_datetime
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	@screen_id
				,	upd_datetime	=	@w_time
				FROM F0121
				INNER JOIN #F0121 ON(
					F0121.company_cd			=	#F0121.company_cd
				AND F0121.fiscal_year			=	#F0121.fiscal_year
				AND F0121.employee_cd			=	#F0121.employee_cd
				AND F0121.sheet_cd				=	#F0121.sheet_cd
				AND F0121.evaluation_step		=	#F0121.evaluation_step
				AND F0121.item_no				=	#F0121.item_no
				)
			END
			-- CHECK  >= ３：目標承認
			ELSE 
			IF @status_cd >= 3
			BEGIN
				--■■■■■■■■■■■■■■■■■■ F0120 ■■■■■■■■■■■■■■■■■■
				IF EXISTS (SELECT 1 FROM F0120 WHERE 
													F0120.company_cd		=	@P_company_cd
												AND F0120.fiscal_year		=	@fiscal_year
												AND F0120.employee_cd		=	@employee_cd
												AND F0120.sheet_cd			=	@sheet_cd
												AND F0120.evaluation_step	=	@evaluation_step)
				BEGIN
					UPDATE F0120 SET
						rater_employee_cd	=	@P_login_employee_cd
					,	evaluation_comment	=	CASE 
													WHEN @evaluation_step = 0
													THEN @evaluation_comment0
													WHEN @evaluation_step = 1
													THEN @evaluation_comment1
													WHEN @evaluation_step = 2
													THEN @evaluation_comment2
													WHEN @evaluation_step = 3
													THEN @evaluation_comment3
													WHEN @evaluation_step = 4
													THEN @evaluation_comment4
													ELSE ''
												END
					,	point_sum			=	CASE 
													WHEN @evaluation_step = 0
													THEN @point_sum0
													WHEN @evaluation_step = 1
													THEN @point_sum1
													WHEN @evaluation_step = 2
													THEN @point_sum2
													WHEN @evaluation_step = 3
													THEN @point_sum3
													WHEN @evaluation_step = 4
													THEN @point_sum4
													ELSE 0
												END
					,	submit_user			=	CASE 
													WHEN @mode = 2
													THEN @P_cre_user
													ELSE ''
												END
					,	submit_ip			=	CASE 
													WHEN @mode = 2
													THEN @P_cre_ip
													ELSE ''
												END
					,	submit_datetime		=	CASE 
													WHEN @mode = 2
													THEN @w_time
													ELSE NULL
												END
					,	upd_user			=	@P_cre_user
					,	upd_ip				=	@P_cre_ip
					,	upd_prg				=	@screen_id
					,	upd_datetime		=	@w_time
					,	del_user			=	SPACE(0)
					,	del_ip				=	SPACE(0)
					,	del_prg				=	SPACE(0)
					,	del_datetime		=	NULL
					FROM F0120
					WHERE
						F0120.company_cd		=	@P_company_cd
					AND F0120.fiscal_year		=	@fiscal_year
					AND F0120.employee_cd		=	@employee_cd
					AND F0120.sheet_cd			=	@sheet_cd
					AND F0120.evaluation_step	=	@evaluation_step
				END
				ELSE
				BEGIN
					INSERT INTO F0120
					SELECT 
						@P_company_cd
					,	@fiscal_year
					,	@employee_cd
					,	@sheet_cd
					,	@evaluation_step
					,	@P_login_employee_cd			--	rater_employee_cd
					,	CASE 
							WHEN @evaluation_step = 0
							THEN @evaluation_comment0
							WHEN @evaluation_step = 1
							THEN @evaluation_comment1
							WHEN @evaluation_step = 2
							THEN @evaluation_comment2
							WHEN @evaluation_step = 3
							THEN @evaluation_comment3
							WHEN @evaluation_step = 4
							THEN @evaluation_comment4
							ELSE ''	
						END								--	evaluation_comment
					,	CASE 
							WHEN @evaluation_step = 0
							THEN @point_sum0
							WHEN @evaluation_step = 1
							THEN @point_sum1
							WHEN @evaluation_step = 2
							THEN @point_sum2
							WHEN @evaluation_step = 3
							THEN @point_sum3
							WHEN @evaluation_step = 4
							THEN @point_sum4
							ELSE 0
						END								--	point_sum
					,	CASE 
							WHEN @mode = 2
							THEN @P_cre_user
							ELSE SPACE(0)
						END								--	submit_user
					,	CASE 
							WHEN @mode = 2
							THEN @P_cre_ip
							ELSE SPACE(0)
						END								--	submit_ip
					,	CASE 
							WHEN @mode = 2
							THEN @w_time
							ELSE NULL
						END								--	submit_datetime
					,	SPACE(0)						--	confirm_user
					,	SPACE(0)						--	confirm_ip
					,	NULL							--	confirm_datetime
					,	@P_cre_user
					,	@P_cre_ip
					,	@screen_id
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL							 
				END
				--■■■■■■■■■■■■■■■■■■ F0121 ■■■■■■■■■■■■■■■■■■
				INSERT INTO #F0121
				SELECT 
					F0121.company_cd
				,	F0121.fiscal_year
				,	F0121.employee_cd
				,	F0121.sheet_cd
				,	F0121.evaluation_step
				,	F0121.item_no
				,	cre_user	
				,	cre_ip		
				,	cre_prg		
				,	cre_datetime
				,	upd_user	
				,	upd_ip		
				,	upd_prg		
				,	upd_datetime
				FROM F0121
				WHERE
					F0121.company_cd		=	@P_company_cd
				AND F0121.fiscal_year		=	@fiscal_year
				AND F0121.employee_cd		=	@employee_cd
				AND F0121.sheet_cd			=	@sheet_cd
				AND F0121.evaluation_step	=	@evaluation_step
				AND F0121.del_datetime IS NULL
				--
				DELETE D FROM F0121 AS D
				WHERE 
					D.company_cd			=	@P_company_cd
				AND D.fiscal_year			=	@fiscal_year
				AND D.employee_cd			=	@employee_cd
				AND D.sheet_cd				=	@sheet_cd
				AND D.evaluation_step		=	@evaluation_step
				--
				INSERT INTO F0121
				SELECT 
					@P_company_cd
				,	@fiscal_year
				,	@employee_cd
				,	@sheet_cd
				,	@evaluation_step
				--,	#TABLE_JSON.id
				,	#TABLE_JSON.item_no				-- edited by viettd 2022/04/13
				,	CASE 
						WHEN @evaluation_step = 0
						THEN #TABLE_JSON.point_cd_0
						WHEN @evaluation_step = 1
						THEN #TABLE_JSON.point_cd_1
						WHEN @evaluation_step = 2
						THEN #TABLE_JSON.point_cd_2
						WHEN @evaluation_step = 3
						THEN #TABLE_JSON.point_cd_3
						WHEN @evaluation_step = 4
						THEN #TABLE_JSON.point_cd_4
						ELSE 0
					END								--	point_cd
				,	CASE 
						WHEN @evaluation_step = 0
						THEN #TABLE_JSON.evaluation_comment_0
						WHEN @evaluation_step = 1
						THEN #TABLE_JSON.evaluation_comment_1
						WHEN @evaluation_step = 2
						THEN #TABLE_JSON.evaluation_comment_2
						WHEN @evaluation_step = 3
						THEN #TABLE_JSON.evaluation_comment_3
						WHEN @evaluation_step = 4
						THEN #TABLE_JSON.evaluation_comment_4
						ELSE ''
					END								--	evaluation_comment
				--,	CASE 
				--		WHEN @evaluation_step = 0
				--		THEN #TABLE_JSON.evaluation_comment_0
				--		WHEN @evaluation_step IN(1,2,3,4)
				--		THEN #TABLE_JSON.evaluation_comment
				--		ELSE ''
				--	END								--	evaluation_comment
				,	@P_cre_user
				,	@P_cre_ip
				,	@screen_id
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #TABLE_JSON
				-- UPDATE
				UPDATE F0121 SET
					cre_user		=	#F0121.cre_user
				,	cre_ip			=	#F0121.cre_ip
				,	cre_prg			=	#F0121.cre_prg
				,	cre_datetime	=	#F0121.cre_datetime
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	@screen_id
				,	upd_datetime	=	@w_time
				FROM F0121
				INNER JOIN #F0121 ON(
					F0121.company_cd			=	#F0121.company_cd
				AND F0121.fiscal_year			=	#F0121.fiscal_year
				AND F0121.employee_cd			=	#F0121.employee_cd
				AND F0121.sheet_cd				=	#F0121.sheet_cd
				AND F0121.evaluation_step		=	#F0121.evaluation_step
				AND F0121.item_no				=	#F0121.item_no
				)
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	--[1]
	SELECT 
		#TABLE_MESS.message_cd			AS	message_cd
	,	#TABLE_MESS.message_typ			AS	message_typ
	,	#TABLE_MESS.message_nm			AS	message_nm
	,	#TABLE_MESS.[message]			AS	[message]
	FROM #TABLE_MESS
	--[2]
	-- add by viettd 2021/12/01
	SELECT 
		@status_cd				AS	status_cd
	,	@rater_employee_cd_1	AS	employee_cd
	,	@employee_cd			AS	target_employee_cd		-- 彼評価者
END
GO