/****** Object:  StoredProcedure [dbo].[SPC_sS0020_INQ1]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_sS0020_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_sS0020_INQ1 '1'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	sS0020_権限設定マスタ
--*  
--*  作成日/create date			:	2018/08/27						
--*　作成者/creater				:	SonDH								
--*   					
--*	更新日/update date			:  	2020/10/22			
--*	更新者/updater				:　 NGHIANM 　								     	 
--*	更新内容/update content		:	copy from 人事評価システム→基本設定システム(S9020~S9022)
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_sS0020_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_company_cd			SMALLINT		= 0
,	@P_language				NVARCHAR(2)		= ''
AS
BEGIN
	SET NOCOUNT ON;

	--
	DECLARE 
		@w_i							int				=	1
	,	@w_cnt							int				=	0
	,	@w_function_id					nvarchar(10)

	CREATE TABLE #M0020 (
		id							INT IDENTITY(1, 1)
	,	organization_cd_1			nvarchar(20)
	,	organization_cd_2			nvarchar(20)
	,	organization_cd_3			nvarchar(20)
	,	organization_cd_4			nvarchar(20)
	,	organization_cd_5			nvarchar(20)
	,	organization_typ			tinyint
	,	organization_nm				nvarchar(50)
	,	organization_ab_nm			nvarchar(20)
	,	parent_id					int
	,	selector					nvarchar(100),
		arrange_order				int
	)

	CREATE TABLE #L0030 (
		id							INT IDENTITY(1, 1)
	,	function_id					nvarchar(10)
	,	function_nm					nvarchar(50)
	,	category					smallint
	,	arrange_order				smallint
	)
	--
	INSERT INTO #M0020
	SELECT
		organization_cd_1
	,	organization_cd_2
	,	organization_cd_3
	,	organization_cd_4
	,	organization_cd_5
	,	organization_typ
	,	organization_nm
	,	organization_ab_nm
	,	0
	,	CONCAT(
			organization_cd_1
		,	'-'
		,	organization_cd_2
		,	'-'
		,	organization_cd_3
		,	'-'
		,	organization_cd_4
		,	'-'
		,	organization_cd_5
	)
	,	arrange_order
	FROM M0020
	WHERE
		company_cd	=	@P_company_cd
	AND	 del_datetime IS NULL

	-- find parent_id
	-- type = 5
	UPDATE R
	SET parent_id = R1.id
	FROM #M0020 AS R
	INNER JOIN #M0020 AS R1 ON (
		R.organization_cd_1	=	R1.organization_cd_1
	AND	R.organization_cd_2	=	R1.organization_cd_2
	AND	R.organization_cd_3	=	R1.organization_cd_3
	AND	R.organization_cd_4	=	R1.organization_cd_4
	)
	WHERE
		R1.organization_typ = 4
	AND	R.organization_typ = 5
	-- type = 4
	UPDATE R
	SET parent_id = R1.id
	FROM #M0020 AS R
	INNER JOIN #M0020 AS R1 ON (
		R.organization_cd_1	=	R1.organization_cd_1
	AND	R.organization_cd_2	=	R1.organization_cd_2
	AND	R.organization_cd_3	=	R1.organization_cd_3
	)
	WHERE
		R1.organization_typ = 3
	AND	R.organization_typ = 4
	-- type = 3
	UPDATE R
	SET parent_id = R1.id
	FROM #M0020 AS R
	INNER JOIN #M0020 AS R1 ON (
		R.organization_cd_1	=	R1.organization_cd_1
	AND	R.organization_cd_2	=	R1.organization_cd_2
	)
	WHERE
		R1.organization_typ = 2
	AND	R.organization_typ = 3
	-- type = 2
	UPDATE R
	SET parent_id = R1.id
	FROM #M0020 AS R
	INNER JOIN #M0020 AS R1 ON (
		R.organization_cd_1	=	R1.organization_cd_1
	)
	WHERE
		R1.organization_typ = 1
	AND	R.organization_typ = 2


	INSERT INTO #L0030
	SELECT 
		ISNULL(L0030.function_id,'')				AS function_id
	,	CASE	
			WHEN @P_language = 'en' 
			THEN ISNULL(function_nm_english,'')
			ELSE ISNULL(function_nm,'')
		END AS function_nm
	,	ISNULL(category,0)					AS category
	,	ISNULL(arrange_order,0)				AS arrange_order
	FROM L0030
	LEFT JOIN L0034 ON (
		L0030.function_id = L0034.function_id
	)
	WHERE 
		L0030.del_datetime IS NULL
	AND L0030.[system]		=	 0 -- 共通設定
	AND L0034.function_id IS NULL

	DELETE #L0030 FROM #L0030 INNER JOIN M9100 ON(#L0030.function_id = N'sQ9001' AND M9100.company_cd = @P_company_cd) WHERE mypurpose_use_typ <> 1

	IF NOT EXISTS (SELECT 1 FROM M9100 WHERE company_cd = @P_company_cd AND empinf_use_typ = 1 AND del_datetime IS NULL)
	BEGIN
		GOTO COMPLETED
	END
	-- 
	IF NOT EXISTS (SELECT 1 FROM M9101 WHERE company_cd = @P_company_cd AND empsrch_use_typ = 1 AND del_datetime IS NULL)
	BEGIN
		GOTO COMPLETED
	END


	SET @w_cnt = (SELECT COUNT(1) FROM L0034 WHERE L0034.del_datetime IS NULL)
	WHILE @w_i <= @w_cnt
	BEGIN
		SELECT 
			@w_function_id	= L0034.function_id
		FROM L0034
		WHERE 
			L0034.tab_id = @w_i

		IF EXISTS (SELECT 1 FROM M9102 WHERE company_cd = @P_company_cd AND tab_id = @w_i AND M9102.use_typ = 1 AND del_datetime IS NULL)
		BEGIN
			INSERT INTO #L0030
			SELECT 
				ISNULL(function_id,'')				AS function_id
			,	CASE	
					WHEN @P_language = 'en' 
					THEN ISNULL(function_nm_english,'')
					ELSE ISNULL(function_nm,'')
				END AS function_nm
			,	ISNULL(category,0)					AS category
			,	ISNULL(arrange_order,0)					AS arrange_order
			FROM L0030
			WHERE 
				L0030.function_id = @w_function_id
			AND	L0030.del_datetime IS NULL
			AND L0030.[system]		=	 0 -- 共通設定
		END
	SET @w_i = @w_i + 1
	END

	COMPLETED:

	--[0]
	SELECT * FROM #L0030 
	ORDER BY category, arrange_order

	--[1]
	SELECT
		ISNULL(number_cd,0)					AS number_cd
	,	CASE	
			WHEN @P_language = 'en' 
			THEN L0010.name_english
			ELSE L0010.name
		END AS name
	FROM L0010
	WHERE del_datetime IS NULL
	AND name_typ = 5

	--[2]
	SELECT * FROM #M0020 WHERE organization_typ = 1
	ORDER BY
		arrange_order ASC
	,	CASE WHEN organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_1 AS bigint)
			ELSE 999
		END
	,	organization_cd_1
	--[3]
	SELECT * FROM #M0020 WHERE organization_typ = 2
	ORDER BY
		CASE WHEN organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_1 AS bigint)
			ELSE 999
		END
	,	organization_cd_1
	,	arrange_order ASC
	,	CASE WHEN organization_cd_2 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_2 AS bigint)
			ELSE 999
		END
	,	organization_cd_2
	--[4]
	SELECT * FROM #M0020 WHERE organization_typ = 3
	ORDER BY
		CASE WHEN organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_1 AS bigint)
			ELSE 999
		END
	,	organization_cd_1
	,	CASE WHEN organization_cd_2 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_2 AS bigint)
			ELSE 999
		END
	,	organization_cd_2
	,	arrange_order ASC
	,	CASE WHEN organization_cd_3 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_3 AS bigint)
			ELSE 999
		END
	,	organization_cd_3
	--[5]
	SELECT * FROM #M0020 WHERE organization_typ = 4
	ORDER BY
		CASE WHEN organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_1 AS bigint)
			ELSE 999
		END
	,	organization_cd_1
	,	CASE WHEN organization_cd_2 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_2 AS bigint)
			ELSE 999
		END
	,	organization_cd_2
	,	CASE WHEN organization_cd_3 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_3 AS bigint)
			ELSE 999
		END
	,	organization_cd_3
	,	arrange_order ASC
	,	CASE WHEN organization_cd_4 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_4 AS bigint)
			ELSE 999
		END
	,	organization_cd_4
	--[6]
	SELECT * FROM #M0020 WHERE organization_typ = 5
	ORDER BY
		CASE WHEN organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_1 AS bigint)
			ELSE 999
		END
	,	organization_cd_1
	,	CASE WHEN organization_cd_2 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_2 AS bigint)
			ELSE 999
		END
	,	organization_cd_2
	,	CASE WHEN organization_cd_3 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_3 AS bigint)
			ELSE 999
		END
	,	organization_cd_3
	,	CASE WHEN organization_cd_4 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_4 AS bigint)
			ELSE 999
		END
	,	organization_cd_4
	,	arrange_order ASC
	,	CASE WHEN organization_cd_5 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_5 AS bigint)
			ELSE 999
		END
	,	organization_cd_5
	
	--CLEAR
	DROP TABLE #M0020
END
GO
