/****** Object:  StoredProcedure [dbo].[SPC_sS0020_LST1]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_sS0020_LST1]
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	S0020_権限マスタ
--*  
--*  作成日/create date			:	2020/09/14			
--*　作成者/creater				:	nghianm								
--*   					

--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_sS0020_LST1]
	@P_search_key		NVARCHAR(200)	= ''
,	@P_current_page		SMALLINT		= 0
,	@P_page_size		SMALLINT		= 0
,	@P_company_cd		SMALLINT		= 0
AS
BEGIN
	SET NOCOUNT ON;

    -- do stuff
	DECLARE
		@totalRecord		BIGINT		= 0
	,	@pageNumber			INT			= 0

	CREATE TABLE #RESULT (
		id					INT IDENTITY(1, 1)
	,	company_cd			SMALLINT
	,	authority_cd		SMALLINT
	,	authority_nm		NVARCHAR(50)
	,	arrange_order		INT	
	)

	INSERT INTO #RESULT
	SELECT
		ISNULL(S9020.company_cd,0)
	,	ISNULL(S9020.authority_cd,0)
	,	ISNULL(authority_nm,'')
	,	ISNULL(arrange_order,0)
	FROM S9020
	WHERE
		S9020.company_cd	=	@P_company_cd
	AND	del_datetime IS NULL
	AND	(	@P_search_key = '' 
		OR	dbo.FNC_COM_REPLACE_SPACE(authority_nm)		LIKE '%' +  dbo.FNC_COM_REPLACE_SPACE(@P_search_key) + '%' 
	)
	ORDER BY 
		arrange_order ASC
	,	authority_cd	
	
	--[0] get result
	SELECT
		id
	,	company_cd	
	,	authority_cd
	,	authority_nm
	FROM #RESULT
	ORDER BY 
		arrange_order ASC
	,	authority_cd		 
	OFFSET (@P_current_page-1) * @P_page_size ROWS
	FETCH NEXT @P_page_size ROWS ONLY

	--[1]
	SET @totalRecord = (SELECT COUNT(*) FROM #RESULT)
	SET @pageNumber = CEILING(CAST(@totalRecord AS FLOAT) / @P_page_size)
	SELECT @totalRecord AS totalRecord, @pageNumber AS pageMax, @P_current_page AS [page], @P_page_size AS pagesize

	-- clean
	DROP TABLE #RESULT
END

GO

