/****** Object:  StoredProcedure [dbo].[SPC_S0020_INQ2]    Script Date: 2018/08/29 14:13:02 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_sS0020_INQ2]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_S0020_INQ2 '1','1'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	S0020_権限設定マスタ
--*  
--*  作成日/create date			:	2018/08/27						
--*　作成者/creater				:	SonDH								
--*   					
--*	更新日/update date			:  	2020/10/22				
--*	更新者/updater				:　 nghianm 　								     	 
--*	更新内容/update content		:	copy from 人事評価システム→基本設定システム(S9020~S9022)　
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_sS0020_INQ2]
	-- Add the parameters for the stored procedure here	
	@P_authority_cd			SMALLINT		= 0
,	@P_company_cd			SMALLINT		= 0
AS
BEGIN
SET NOCOUNT ON;
	--
	DECLARE 
		@w_i							int				=	1
	,	@w_cnt							int				=	0
	,	@w_function_id					nvarchar(10)

	CREATE TABLE #M0020 (
		id							INT IDENTITY(1, 1)
	,	organization_cd_1			nvarchar(20)
	,	organization_cd_2			nvarchar(20)
	,	organization_cd_3			nvarchar(20)
	,	organization_cd_4			nvarchar(20)
	,	organization_cd_5			nvarchar(20)
	,	authority					smallint
	,	organization_typ			tinyint
	,	organization_nm				nvarchar(50)
	,	organization_ab_nm			nvarchar(20)
	,	parent_id					int
	,	selector					nvarchar(100)
	)

	CREATE TABLE #L0030 (
		id							INT IDENTITY(1, 1)
	,	function_id					nvarchar(10)
	,	function_nm					nvarchar(50)
	,	authority					smallint
	,	category					smallint
	,	arrange_order				smallint
	)
	--
	INSERT INTO #M0020
	SELECT
		S9022.organization_cd_1
	,	S9022.organization_cd_2
	,	S9022.organization_cd_3
	,	S9022.organization_cd_4
	,	S9022.organization_cd_5
	,	S9022.authority
	,	M0020.organization_typ
	,	M0020.organization_nm
	,	M0020.organization_ab_nm
	,	0
	,	CONCAT(
			S9022.organization_cd_1
		,	'-'
		,	S9022.organization_cd_2
		,	'-'
		,	S9022.organization_cd_3
		,	'-'
		,	S9022.organization_cd_4
		,	'-'
		,	S9022.organization_cd_5
	)
	FROM S9022
	LEFT JOIN M0020 ON (
		@P_company_cd			=	M0020.company_cd
	AND	S9022.organization_cd_1	=	M0020.organization_cd_1
	AND	S9022.organization_cd_2	=	M0020.organization_cd_2
	AND	S9022.organization_cd_3	=	M0020.organization_cd_3
	AND	S9022.organization_cd_4	=	M0020.organization_cd_4
	AND	S9022.organization_cd_5	=	M0020.organization_cd_5
	)
	WHERE 
		S9022.company_cd	=	@P_company_cd
	AND	S9022.authority_cd	=	@P_authority_cd	
	AND S9022.del_datetime IS NULL
	ORDER BY
		CASE WHEN S9022.organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(S9022.organization_cd_1 AS bigint)
			ELSE 999
		END
	,	organization_cd_1
	,	CASE WHEN S9022.organization_cd_2 NOT LIKE '%[^0-9]%' THEN CAST(S9022.organization_cd_2 AS bigint)
			ELSE 999
		END
	,	organization_cd_2
	,	CASE WHEN S9022.organization_cd_3 NOT LIKE '%[^0-9]%' THEN CAST(S9022.organization_cd_3 AS bigint)
			ELSE 999
		END
	,	organization_cd_3
	,	CASE WHEN S9022.organization_cd_4 NOT LIKE '%[^0-9]%' THEN CAST(S9022.organization_cd_4 AS bigint)
			ELSE 999
		END
	,	organization_cd_4
	,	arrange_order DESC
	,	CASE WHEN S9022.organization_cd_5 NOT LIKE '%[^0-9]%' THEN CAST(S9022.organization_cd_5 AS bigint)
			ELSE 999
		END
	,	organization_cd_5
	--
	INSERT INTO #L0030 
	SELECT 
		ISNULL(L0030.function_id,'')				AS function_id
	,	ISNULL(L0030.function_nm,'')				AS function_nm
	,	ISNULL(S9021.authority,0)					AS authority
	,	ISNULL(L0030.category,0)					AS category
	,	ISNULL(L0030.arrange_order,0)					AS arrange_order
	FROM L0030
	LEFT JOIN S9021 ON (
		L0030.function_id		=	S9021.function_id
	AND S9021.company_cd		=	@P_company_cd
	AND S9021.authority_cd		=	@P_authority_cd
	)
	LEFT JOIN L0034 ON (
		L0030.function_id = L0034.function_id
	)
	WHERE 
		L0030.del_datetime IS NULL
	AND L0030.[system] = 0 -- 共通設定
	AND L0034.function_id IS NULL

	IF NOT EXISTS (SELECT 1 FROM M9100 WHERE company_cd = @P_company_cd AND empinf_use_typ = 1 AND del_datetime IS NULL)
	BEGIN
		GOTO COMPLETED
	END
	-- 
	IF NOT EXISTS (SELECT 1 FROM M9101 WHERE company_cd = @P_company_cd AND empsrch_use_typ = 1 AND del_datetime IS NULL)
	BEGIN
		GOTO COMPLETED
	END


	SET @w_cnt = (SELECT COUNT(1) FROM L0034 WHERE L0034.del_datetime IS NULL)
	WHILE @w_i <= @w_cnt
	BEGIN
		SELECT 
			@w_function_id	= L0034.function_id
		FROM L0034
		WHERE 
			L0034.tab_id = @w_i

		IF EXISTS (SELECT 1 FROM M9102 WHERE company_cd = @P_company_cd AND tab_id = @w_i AND M9102.use_typ = 1 AND del_datetime IS NULL)
		BEGIN
			INSERT INTO #L0030
			SELECT 
				ISNULL(L0030.function_id,'')				AS function_id
			,	ISNULL(L0030.function_nm,'')				AS function_nm
			,	ISNULL(S9021.authority,0)					AS authority
			,	ISNULL(L0030.category,0)					AS category
			,	ISNULL(L0030.arrange_order,0)				AS arrange_order
			FROM L0030
			LEFT JOIN S9021 ON (
				L0030.function_id		=	S9021.function_id
			AND S9021.company_cd		=	@P_company_cd
			AND S9021.authority_cd		=	@P_authority_cd
			)
			WHERE 
				L0030.function_id = @w_function_id
			AND	L0030.del_datetime IS NULL
			AND L0030.[system] = 0 -- 共通設定

		END
	SET @w_i = @w_i + 1
	END

	COMPLETED:

	--[0]
	SELECT * FROM #L0030
	ORDER BY 
		category
	,	arrange_order

	--[1]
	SELECT
		ISNULL(number_cd,0)					AS number_cd
	,	ISNULL(name,'')						AS [name]
	FROM L0010
	WHERE del_datetime IS NULL
	AND name_typ = 5

	--[2]
	SELECT
		ISNULL(company_cd,0)		AS company_cd
	,	ISNULL(authority_cd,0)		AS authority_cd
	,	ISNULL(authority_nm,'')		AS authority_nm
	,	ISNULL(use_typ,0)			AS use_typ
	,	ISNULL(organization_belong_person_typ,0)	AS organization_belong_person_typ
	,	ISNULL(arrange_order,0)		AS arrange_order
	FROM S9020
	WHERE 
		company_cd		=	@P_company_cd
	AND	authority_cd	=	@P_authority_cd	
	AND del_datetime IS NULL

	--[3]
	SELECT 
		id							
	,	organization_cd_1			
	,	organization_cd_2			
	,	organization_cd_3			
	,	organization_cd_4			
	,	organization_cd_5			
	,	authority					
	,	organization_typ			
	,	organization_nm				
	,	organization_ab_nm			
	,	parent_id					
	,	selector					
	FROM #M0020

	-- clean
	DROP TABLE #M0020
END

GO
