DROP PROCEDURE [SPC_eO0100_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2024/04/16
 *  作成者  ： manhnd
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_eO0100_INQ1]
	@P_table_key			INT					= 	0
,	@P_company_cd			SMALLINT			= 	0
,	@P_language				NVARCHAR(2)			= 	N''
AS
BEGIN
	SET NOCOUNT ON;
	--[0]
	IF @P_table_key = 1 BEGIN EXEC SPC_eO0100_RPT1 @P_company_cd, @P_language END
	IF @P_table_key = 2 BEGIN EXEC SPC_eO0100_RPT2 @P_company_cd, @P_language END
END
GO
