DROP PROCEDURE [SPC_eO0100_RPT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2024/04/16
 *  作成者  ： manhnd
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_eO0100_RPT1]
	@P_company_cd			SMALLINT		= 	0
,	@P_language				NVARCHAR(2)		= 	N''
AS
BEGIN
	SET NOCOUNT ON;
	--[0]
	CREATE TABLE #DATA 
	(
		id								INT					IDENTITY(1,1)
	,	qualification_cd				NVARCHAR(20)
	,	qualification_nm				NVARCHAR(50)
	,	qualification_ab_nm				NVARCHAR(20)
	,	qualification_typ				NVARCHAR(20)
	,	arrange_order					NVARCHAR(20)
	)	
	--	
	IF (@P_language = N'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			N'Qualification Code'				AS	qualification_cd		
		,	N'Qualification Name'				AS	qualification_nm		
		,	N'Abbreviation'						AS	qualification_ab_nm	
		,	N'Qualification Type'				AS	qualification_typ			
		,	N'Order'							AS	arrange_order	
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			N'資格コード'						AS	qualification_cd		
		,	N'資格名'							AS	qualification_nm		
		,	N'資格略称'							AS	qualification_ab_nm	
		,	N'資格種別'							AS	qualification_typ			
		,	N'並び順'							AS	arrange_order	
	END

	INSERT INTO #DATA
	SELECT 
		ISNULL(qualification_cd,N'0')				AS	qualification_cd		
	,	ISNULL(qualification_nm,N'')				AS	qualification_nm		
	,	ISNULL(qualification_ab_nm,N'')				AS	qualification_ab_nm	
	,	ISNULL(qualification_typ,N'0')				AS	qualification_typ			
	,	ISNULL(arrange_order,N'0')					AS	arrange_order	
	FROM M5010
	WHERE 
		company_cd	=	@P_company_cd
	AND del_datetime IS NULL
	ORDER BY 
		arrange_order
	,	qualification_cd

	--[0]
	SELECT
		#DATA.qualification_cd		
	,	#DATA.qualification_nm		
	,	#DATA.qualification_ab_nm	
	,	#DATA.qualification_typ			
	,	#DATA.arrange_order	
	FROM #DATA
	ORDER BY 
		id
END
GO
