IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_oi1010_ACT1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_oI1010_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：OM0120 - SAVE/UPDATE
 *
 *  作成日  ：2020-09-25
 *  作成者  ：ANS-ASIA datnt
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_oI1010_ACT1] 
	@P_json				NVARCHAR(MAX)
,	@P_fiscal_year		INT			 = 0
,	@P_company_cd		INT			 = 0
,	@P_cre_user			NVARCHAR(50) = ''
,	@P_cre_ip			NVARCHAR(50) = ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@times					int		=	0
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	CREATE TABLE #M2600 (
		oneonone_group      	SMALLINT
	,	times					int
	)
	CREATE TABLE #TBL_JSON(
		id						INT		IDENTITY(1,1)
	,	times			SMALLINT
	,	[1on1_title]	nvarchar(20)
	,	[start_date]	date
	,	deadline_date	date
	,	alert			SMALLINT
	)
	
		INSERT INTO #M2600
		SELECT 
			ISNULL(oneonone_group ,0)  
		,	0
		FROM OPENJSON(@P_json, '$.oneonone_group_list') WITH(
			oneonone_group      	smallint
		)
		INSERT INTO #TBL_JSON
		SELECT 
				ISNULL(times,0)			
			,	ISNULL(oneonone_title,'')	
			,	[start_date]	
			,	deadline_date	 
			,	ISNULL(oneonone_alert,0)				
		FROM OPENJSON(@P_json, '$.list_schedule') WITH(
					times			SMALLINT
				,	oneonone_title	NVARCHAR(20)
				,	[start_date]	DATE
				,	deadline_date	DATE
				,	oneonone_alert			SMALLINT
		)
		UPDATE #M2600 
		SET
			#M2600.times = CASE	WHEN M2610.frequency = 1 THEN 6
								WHEN M2610.frequency = 2 THEN 12
								WHEN M2610.frequency = 3 THEN 24
								ELSE ISNULL(M2610.[1on1_times],-1)
							END
		FROM M2610  
		INNER JOIN #M2600 ON(
			M2610.[1on1_group_cd] = #M2600.oneonone_group
		) 
		WHERE company_cd = @P_company_cd 
		AND M2610.del_datetime IS NULL
		--
		SET @times = (SELECT TOP 1 times FROM #M2600)
		--
		INSERT INTO @ERR_TBL
		SELECT 
				132								-- mã lỗi (trùng với mã trong bảng message) 					
			,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	times								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0								-- Tùy ý
			,	'not seting deadline before use alert'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM #TBL_JSON
		WHERE 
			deadline_date IS NULL 
		AND alert	=	2

		INSERT INTO @ERR_TBL
		SELECT TOP 1
				133								-- mã lỗi (trùng với mã trong bảng message) 					
			,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0								-- Tùy ý
			,	'not same times'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM  #M2600 
		WHERE  #M2600.times  <> @times

		INSERT INTO @ERR_TBL 
		SELECT																									
			24									-- mã lỗi (trùng với mã trong bảng message) 								message_no
		,	'.start_date'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
		,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
		,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
		,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
		,	0									-- Tùy ý																	value2
		,	'start_date'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
		FROM #TBL_JSON
		WHERE (#TBL_JSON.[start_date] > #TBL_JSON.deadline_date )--OR(#TBL_JSON.[start_date]IS NULL AND #TBL_JSON.deadline_date IS NULL)

		INSERT INTO @ERR_TBL 
		SELECT																									
			24									-- mã lỗi (trùng với mã trong bảng message) 								message_no
		,	'.deadline_date'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
		,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
		,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
		,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
		,	0									-- Tùy ý																	value2
		,	'deadline_date'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
		FROM #TBL_JSON
		WHERE (#TBL_JSON.[start_date] > #TBL_JSON.deadline_date ) --OR(#TBL_JSON.[start_date]IS NULL AND #TBL_JSON.deadline_date IS NULL)
		IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY

		IF EXISTS (SELECT 1 FROM M9100 WHERE company_cd = @P_company_cd AND M9100.[1on1_beginning_date] IS NULL AND del_datetime IS NULL)
		OR NOT EXISTS ( SELECT 1 FROM M9100 WHERE company_cd = @P_company_cd)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				173								-- mã lỗi (trùng với mã trong bảng message) 					
			,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0								-- Tùy ý
			,	'1on1_beginning_date'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN 
			UPDATE M2620
			SET 
				[1on1_title]			=	#M2620.[1on1_title]
			,	[start_date]			=	#M2620.[start_date] 			
			,	deadline_date			=	#M2620.deadline_date			
			,	alert					=	#M2620.alert			
			,	upd_user				=	@P_cre_user
			,	upd_ip					=	@P_cre_ip
			,	upd_prg					=	'oi1010'
			,	upd_datetime			=	@w_time
			,	del_user				=	''
			,	del_ip					=	''
			,	del_prg					=	''
			,	del_datetime			=	NULL
			FROM M2620 
			INNER JOIN (
				SELECT 
						oneonone_group
					,	#TBL_JSON.times			
					,	[1on1_title]	
					,	[start_date]	
					,	deadline_date	
					,	alert			
				FROM #M2600 CROSS JOIN #TBL_JSON
			) AS #M2620 ON(
				@P_company_cd			=	M2620.company_cd
			AND @P_fiscal_year			=	M2620.fiscal_year
			AND #M2620.oneonone_group	=	M2620.[1on1_group_cd]
			AND	#M2620.times			=	M2620.times
			)
			--
			INSERT INTO M2620
			SELECT 
				@P_company_cd				--company_cd		
			,	@P_fiscal_year 				--fiscal_year		
			,	#M2620.oneonone_group		--1on1_group_cd			
			,	#M2620.times				--times		
			,	#M2620.[1on1_title]			--1on1_title		
			,	#M2620.[start_date]			--start_date									
			,	#M2620.deadline_date		--deadline_date		
			,	#M2620.alert				--alert		
			,	0					--arrange_order		
			,	@P_cre_user			--cre_user
			,	@P_cre_ip			--cre_ip
			,	'oi1010'			--cre_prg
			,	@w_time				--cre_datetime
			,	''					--upd_user
			,	''					--upd_ip
			,	''					--upd_prg
			,	NULL				--upd_datetime
			,	''					--del_user
			,	''					--del_ip
			,	''					--del_prg
			,	NULL				--del_datetime
			FROM 
			 (	SELECT 
					oneonone_group
				,	#TBL_JSON.times			
				,	[1on1_title]	
				,	[start_date]	
				,	deadline_date	
				,	alert			
				FROM #M2600 CROSS JOIN #TBL_JSON
			) AS #M2620 LEFT JOIN M2620 ON(
				@P_company_cd			=	M2620.company_cd
			AND @P_fiscal_year			=	M2620.fiscal_year
			AND #M2620.oneonone_group	=	M2620.[1on1_group_cd]
			AND	#M2620.times			=	M2620.times
			)
			WHERE M2620.company_cd IS NULL
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	-- Insert statements for procedure here
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN

	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END

GO
