/****** Object:  StoredProcedure [dbo].[SPC_oM0200_INQ1]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_oI1010_FND1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_sS0020_INQ1 '1'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	[SPC_oI1010_INQ1]_1on1スケジュール設定
--*  
--*  作成日/create date			:	2020/11/09						
--*　作成者/creater				:	DatNT								
--*   					
--*  更新日/update date			:	2022/08/18
--*　更新者/updater				:	vietdt　
--*　更新内容/update content		:	update ver 1.9			

--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_oI1010_FND1]
	-- Add the parameters for the stored procedure here	
	@P_company_cd				SMALLINT		= 0
,	@P_fiscal_year				SMALLINT		= 0
,	@P_oneonone_group_json		NVARCHAR(MAX)	= ''
,	@P_language					NVARCHAR(2)		= 'jp'
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@ERR_TBL			ERRTABLE
	,	@oneonone_group		SMALLINT	=	0
	,	@detail_status		int			=	0-- check number of diffrent time group
	,	@error				int			=	0
	,	@time_nm			NVARCHAR(50) = ''
	,	@interview_nm		NVARCHAR(50) = ''
	,	@all				NVARCHAR(50) = '全'
	,	@times				NVARCHAR(50) = '回'
	
	IF	@P_language = 'en'
	BEGIN
		SET	@all = 'All '
		SET	@times = ' times'
	END

	CREATE TABLE #M2600 (
		oneonone_group      	SMALLINT
	)
	CREATE TABLE #TEMP_M2601(
		company_cd		SMALLINT
	,	[1on1_group_cd] SMALLINT
	,	attribute		SMALLINT
	,	code			SMALLINT
	)
	CREATE TABLE #DATE(
		id				INT	IDENTITY(1,1),
		[start_date]		DATETIME ,
		deadline_date		DATETIME 
	)
	--
	INSERT INTO #M2600
	SELECT 
		ISNULL(oneonone_group ,0)  
	FROM OPENJSON(@P_oneonone_group_json, '$.oneonone_group_list') WITH(
		oneonone_group      	smallint
	)
	SET @oneonone_group = (SELECT  TOP 1 #M2600.oneonone_group   FROM #M2600 )
	SET @detail_status = (SELECT COUNT (1) FROM #M2600)
	--
	INSERT INTO #TEMP_M2601 
	SELECT 
		company_cd
	,	[1on1_group_cd]
	,	attribute
	,	code
	FROM M2601 
	INNER JOIN #M2600 ON(
		M2601.company_cd		=	@P_company_cd
	AND M2601.[1on1_group_cd]	=	#M2600.oneonone_group
	) 
	WHERE M2601.del_datetime IS NULL
	--CREATE TABLE 12 MONTH BETWEEN start-end date
	--
	COMPLETE_QUERY:
	SELECT 
	 @time_nm =  CASE	WHEN M2610.frequency = 1 THEN @all+'6'+@times
			WHEN M2610.frequency = 2 THEN @all+'12'+@times
			WHEN M2610.frequency = 3 THEN @all+'24'+@times
			WHEN M2610.frequency = 4 THEN CAST(M2610.[1on1_times] AS nvarchar(20))+@times
			ELSE ''
		END 
	,	@interview_nm = interview_nm
	FROM M2610
	LEFT JOIN 
	(SELECT 
		company_cd
	,	interview_cd
	,	MIN(adaption_date) AS adaption_date
	FROM M2200
	WHERE M2200.company_cd		=	@P_company_cd
	GROUP BY company_cd
		,	interview_cd) 
	AS #TEMP_M2200 ON(
		M2610.company_cd		=	#TEMP_M2200.company_cd
	AND M2610.interview_cd		=	#TEMP_M2200.interview_cd
	)
	LEFT JOIN M2200 ON (
		M2610.company_cd		=	M2200.company_cd
	AND M2610.interview_cd		=	M2200.interview_cd
	AND #TEMP_M2200.adaption_date	=	M2200.adaption_date
	)
	WHERE 
		M2610.company_cd		= @P_company_cd
	AND M2610.[1on1_group_cd]	= @oneonone_group	
	AND M2610.del_datetime IS NULL
	--[0]
	SELECT STUFF((SELECT ',' + M0040.position_nm FROM #TEMP_M2601 
							LEFT JOIN M0040 ON(
								#TEMP_M2601.company_cd		=	M0040.company_cd
							AND #TEMP_M2601.code			=	M0040.position_cd
							AND #TEMP_M2601.attribute		=	1
							) 
							WHERE #TEMP_M2601.attribute	=	1 
							ORDER BY M0040.arrange_order
								  ,	 M0040.position_cd
			FOR XML PATH ('')), 1, 1, '')  AS position_nm 
	, STUFF((SELECT ',' + M0030.job_nm FROM #TEMP_M2601 
							LEFT JOIN M0030 ON(
								#TEMP_M2601.company_cd		=	M0030.company_cd
							AND #TEMP_M2601.code			=	M0030.job_cd
							AND #TEMP_M2601.attribute		=	2
							) 
							WHERE #TEMP_M2601.attribute	=	2
							ORDER BY M0030.arrange_order
								  ,	 M0030.job_cd
			FOR XML PATH ('')), 1, 1, '')  AS job_nm 
	, STUFF((SELECT ',' + M0050.grade_nm FROM #TEMP_M2601 
							LEFT JOIN M0050 ON(
								#TEMP_M2601.company_cd		=	M0050.company_cd
							AND #TEMP_M2601.code			=	M0050.grade
							AND #TEMP_M2601.attribute		=	3
							) 
							WHERE #TEMP_M2601.attribute	=	3
							ORDER BY M0050.arrange_order
								  ,	 M0050.grade
			FOR XML PATH ('')), 1, 1, '')  AS grade_nm 
	, STUFF((SELECT ',' + M0060.employee_typ_nm FROM #TEMP_M2601 
							LEFT JOIN M0060 ON(
								#TEMP_M2601.company_cd		=	M0060.company_cd
							AND #TEMP_M2601.code			=	M0060.employee_typ
							AND #TEMP_M2601.attribute		=	4
							) 
							WHERE #TEMP_M2601.attribute	=	4
							ORDER BY M0060.arrange_order
								  ,	 M0060.employee_typ
			FOR XML PATH ('')), 1, 1, '')  AS employee_typ_nm 
	,   @time_nm	AS times
	,	@detail_status AS detail_status
	,	@interview_nm  AS interview_nm
	
	--[1]
	EXEC [dbo].[SPC_oI1010_INQ2] @P_company_cd,@P_fiscal_year,	@oneonone_group
	--[2] check exists table mm2620
	IF NOT EXISTS (SELECT 1 FROM M2620 WHERE company_cd		= @P_company_cd 
										AND fiscal_year		= @P_fiscal_year
										AND [1on1_group_cd] = @oneonone_group 
										AND del_datetime IS NULL)
	BEGIN
		SET @error = 1
	END
	SELECT @error AS error_141
	
	--DROP TABLE
	DROP TABLE #M2600
	DROP TABLE #TEMP_M2601
END
GO
