/****** Object:  StoredProcedure [dbo].[SPC_oM0200_INQ1]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_oI1010_INQ2]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_sS0020_INQ1 '1'
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	GET LIST DATE
--*  
--* 作成日/create date			:	2020/11/09												
--*	作成者/creater				:	datnt						
--*   					
--*	更新日/update date			:	2021/04/22  						
--*	更新者/updater				:	viettd　								     	 
--*	更新内容/update content		:	change M0100.beginning_date -> M0100.1on1_beginning_date
--*
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_oI1010_INQ2]
	-- Add the parameters for the stored procedure here	
	@P_company_cd				SMALLINT		= 0
,	@P_fiscal_year				SMALLINT		= 0
,	@P_oneonone_group				SMALLINT		= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@ERR_TBL			ERRTABLE
	,	@w_time				DATETIME2		= SYSDATETIME()
	,	@beginning_date		datetime		=	null
	,	@start_date			datetime		=	null
	,	@end_date			datetime		=	null
	,	@times				int				=	0
	,	@frequency			int				=	0
	,	@detail_status		int				=	0
	,	@error				int				=	0
	,	@i					INT				=	0
	,	@j					INT				=	0
	,	@time_nm			NVARCHAR(50)	=	''
	,	@interview_nm		NVARCHAR(50)	=	''
	--
	CREATE TABLE #DATE(
		id					INT	IDENTITY(1,1),
		[start_date]		DATETIME ,
		deadline_date		DATETIME 
	)
	--
	SELECT 
		--@beginning_date = M0100.beginning_date
		@beginning_date = M9100.[1on1_beginning_date]		-- edited by viettd 2021/04/22 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	-- CACULATE BEGIN AND END OF DATE
	IF @beginning_date IS NOT NULL
	BEGIN
		SET @start_date = CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		SET @end_date = DATEADD(DD,-1,DATEADD(YYYY,1,@start_date))
	END
	ELSE
	BEGIN 
		SET @start_date		= CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/01/01') AS DATE)
		SET @end_date		= CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/12/31') AS DATE)
	END
	-- get @times
	SET @times = (SELECT  CASE	WHEN M2610.frequency	= 1 THEN 6
								WHEN M2610.frequency	= 2 THEN 12
								WHEN M2610.frequency	= 3 THEN 24
								ELSE ISNULL(M2610.[1on1_times],-1)
							END 
				  FROM M2610 WHERE 
				  	  company_cd	  = @P_company_cd 
				  AND [1on1_group_cd] = @P_oneonone_group 
				  AND del_datetime IS NULL)
	-- get @frequency
	SET @frequency = (SELECT frequency 
					  FROM M2610 
					  WHERE company_cd = @P_company_cd 
					  AND [1on1_group_cd] = @P_oneonone_group 
					  AND del_datetime IS NULL)
	--CREATE TABLE 12 MONTH BETWEEN start-end date
	IF @frequency = 1--@times = 6
	BEGIN
		WHILE @i < 12
		BEGIN
			INSERT INTO #DATE
			SELECT 
				DATEADD(month,@i, @start_date)		-- FirstDate, 
			,	DATEADD(month,@i + 2, DATEADD(DAY,-1,@start_date))  --last date
			SET @i = @i + 2
		END
	END
	ELSE IF @frequency = 2 --@times = 12
	BEGIN
		WHILE @i <12
		BEGIN
			INSERT INTO #DATE
			SELECT 
				DATEADD(month,@i, @start_date)						-- FirstDate, 
			,	DATEADD(month,@i + 1, DATEADD(day,-1,@start_date))  --last date
			SET @i = @i + 1
		END
	END
	ELSE IF @frequency = 3 --@times = 24
	BEGIN
		WHILE @i < 24
		BEGIN
			--
			INSERT INTO #DATE
			SELECT 
				DATEADD(DAY,@i*14, @start_date)		-- FirstDate, 
			,	DATEADD(DAY,(@i + 1)*14 -1, @start_date)  --last date
			SET @i = @i + 1
		END
	END
	ELSE
	BEGIN
		WHILE @i < ISNULL(@times,0) 
		BEGIN
			INSERT INTO #DATE
			SELECT 
				NULL --DATEADD(DAY,@i, @start_date)						-- FirstDate, 
			,	NULL --DATEADD(DAY,@i, @start_date)  --last date
			SET @i = @i + 1
		END
	END
--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
--RESULT
--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
COMPLETE_QUERY:
	SELECT 
	 @time_nm =  CASE	WHEN M2610.frequency = 1 THEN '全6回'
			WHEN M2610.frequency = 2 THEN '全12回'
			WHEN M2610.frequency = 3 THEN '全24回'
			WHEN M2610.frequency = 4 THEN CAST(M2610.[1on1_times] AS nvarchar(20))+ '回'
			ELSE ''
		END 
	,	@interview_nm = interview_nm
	FROM M2610
	LEFT JOIN 
	(SELECT 
		company_cd
	,	interview_cd
	,	MIN(adaption_date) AS adaption_date
	FROM M2200
	WHERE M2200.company_cd		=	@P_company_cd
	GROUP BY company_cd
		,	interview_cd) 
	AS #TEMP_M2200 ON(
		M2610.company_cd		=	#TEMP_M2200.company_cd
	AND M2610.interview_cd		=	#TEMP_M2200.interview_cd
	)
	LEFT JOIN M2200 ON (
		M2610.company_cd		=	M2200.company_cd
	AND M2610.interview_cd		=	M2200.interview_cd
	AND #TEMP_M2200.adaption_date	=	M2200.adaption_date
	)
	WHERE 
		M2610.company_cd		= @P_company_cd
	AND M2610.[1on1_group_cd]	= @P_oneonone_group	
	AND M2610.del_datetime IS NULL
	--[0]
	SELECT 
		id 											AS times
	,	M2620.[1on1_title]							AS oneonone_title
	,	FORMAT(ISNULL(M2620.[start_date],#DATE.[start_date]),'yyyy/MM/dd')	AS [start_date]
	,	FORMAT(ISNULL(M2620.deadline_date,#DATE.deadline_date),'yyyy/MM/dd')	AS deadline_date
	,	M2620.alert
	FROM #DATE
	LEFT JOIN M2620 ON(
		@P_company_cd	=	M2620.company_cd
	AND @P_fiscal_year	=	M2620.fiscal_year
	AND @P_oneonone_group	=	M2620.[1on1_group_cd]
	AND #DATE.id		=	M2620.times
	AND M2620.del_datetime IS NULL
	)
END
GO
