/****** Object:  StoredProcedure [dbo].[SPC_oM0200_INQ1]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_oI1010_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_sS0020_INQ1 '1'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	[SPC_oI1010_INQ1]_1on1スケジュール設定
--*  
--*  作成日/create date			:	2020/11/09						
--*　作成者/creater				:	DatNT								
--*   					

--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_oI1010_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_company_cd	SMALLINT		= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@ERR_TBL			ERRTABLE
	,	@w_time				DATETIME2	 = SYSDATETIME()
	,	@fiscal_year		INT
	--[0]
		select YEAR(@w_time) AS fiscal_year
	--[1]
	SELECT 
		M2600.[1on1_group_cd] AS oneonone_group_cd
	,	[1on1_group_nm] AS oneonone_group_nm
	,	CASE WHEN M2610.frequency = 1 THEN 6
			 WHEN M2610.frequency = 2 THEN 12
			 WHEN M2610.frequency = 3 THEN 24
			 WHEN M2610.frequency = 4 THEN M2610.[1on1_times]
			 ELSE 0
		END times
	FROM M2600
	LEFT JOIN M2610 ON(
		M2600.company_cd		=	M2610.company_cd
	AND M2600.[1on1_group_cd]	=	M2610.[1on1_group_cd]
	AND M2610.del_datetime IS NULL
	)
	WHERE M2600.company_cd = @P_company_cd
	AND M2600.del_datetime IS NULL
	ORDER BY M2600.arrange_order
END
GO
