IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_rI2010_ACT2]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_rI2010_ACT2]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_rI2010_ACT2] 782,2023,'890',4,1,'890'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	REPLY REACTIONS(F4205 & F4204)
--*  
--*  作成日/create date			:	2023/05/08						
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:	
--*　更新内容/update content		:	
--*  
--****************************************************************************************
CREATE PROCEDURE [SPC_rI2010_ACT2] 
	@P_fiscal_year				SMALLINT		=	0
,	@P_employee_cd				NVARCHAR(10)	=	''
,	@P_report_kind				SMALLINT		=	0
,	@P_report_no				SMALLINT		=	0
,	@P_reaction_no				NVARCHAR(10)	=	''
,	@P_reply_no					SMALLINT		=	0
,	@P_reaction_type			SMALLINT		=	0	-- 0.reaction 1.reply 2.answer reply 3.share
,	@P_reply_comment			NVARCHAR(1200)	=	''
,	@P_reaction_cd				SMALLINT		=	0
,	@P_reply_cd					SMALLINT		=	0
	--
,	@P_login_employee_cd		NVARCHAR(10)	=	''
,	@P_cre_user					NVARCHAR(50)	=	''
,	@P_cre_ip					NVARCHAR(50)	=	''
,	@P_company_cd				SMALLINT		=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2					=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@w_order_by_min			int							=	0
	,	@w_screen_id			nvarchar(20)				=	'rI2010'
	,	@w_reply_no				smallint					=	0
	,	@w_infomation_title		nvarchar(30)				=	''
	,	@w_infomation_message	nvarchar(500)				=	''
	,	@w_language				smallint					=	0
	,	@w_to_employee_cd		nvarchar(10)				=	''
	-- GET @w_language
	SELECT 
		@w_language = ISNULL(S0010.[language],0)
	FROM S0010
	WHERE
		S0010.company_cd		=	@P_company_cd
	AND S0010.[user_id]			=	@P_cre_user
	AND S0010.del_datetime IS NULL
	--
	SET @w_infomation_title = IIF(@w_language = 2, 'You have a comment', N'コメントがあります')
	SELECT 
		@w_infomation_message = CASE 
									WHEN @w_language = 2 
									THEN IIF(ISNULL(F4200.title,'') = '',CAST(ISNULL(F4200.times,0) AS NVARCHAR(10))+SPACE(1)+N'Times',ISNULL(F4200.title,'')) 
									+ N': You has a comment from '+ISNULL(M0070.employee_nm,'')
									ELSE IIF(ISNULL(F4200.title,'') = '',CAST(ISNULL(F4200.times,0) AS NVARCHAR(10))+N'回',ISNULL(F4200.title,'')) 
									+ N'に'+ISNULL(M0070.employee_nm,'') + 'さんからコメントがあります。'
								END
	FROM F4200
	LEFT OUTER JOIN M0070 ON (
		@P_company_cd			=	M0070.company_cd
	AND @P_login_employee_cd	=	M0070.employee_cd
	)
	WHERE
		F4200.company_cd		=	@P_company_cd
	AND F4200.fiscal_year		=	@P_fiscal_year
	AND F4200.employee_cd		=	@P_employee_cd
	AND F4200.report_kind		=	@P_report_kind
	AND F4200.report_no			=	@P_report_no
	AND F4200.del_datetime IS NULL
	BEGIN TRY
	BEGIN TRANSACTION
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- F4204 (編集・コメントする)
			IF @P_reaction_type = 0
			BEGIN
				-- F4204
				UPDATE F4204 SET 
					comment			=	@P_reply_comment
				,	reaction_cd		=	@P_reaction_cd
				,	reaction_user	=	CASE
											WHEN (@P_reply_comment <> '' OR @P_reaction_cd > 0)
											THEN @P_cre_user
											ELSE SPACE(0)
										END
				,	reaction_datetime	=	CASE
											WHEN (@P_reply_comment <> '' OR @P_reaction_cd > 0)
											THEN @w_time
											ELSE NULL
										END
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	@w_screen_id
				,	upd_datetime	=	@w_time
				,	del_user		=	SPACE(0)
				,	del_ip			=	SPACE(0)
				,	del_prg			=	SPACE(0)
				,	del_datetime	=	NULL
				FROM F4204
				WHERE 
					F4204.company_cd	=	@P_company_cd
				AND F4204.fiscal_year	=	@P_fiscal_year
				AND F4204.employee_cd	=	@P_employee_cd
				AND F4204.report_kind	=	@P_report_kind
				AND F4204.report_no		=	@P_report_no
				AND F4204.reaction_no	=	@P_reaction_no
				-- F4900 (TARGET : 報告者)
				IF @P_reply_comment <> ''
				BEGIN
					IF EXISTS (SELECT 1 FROM F4900 WHERE 
														company_cd			=	@P_company_cd
													AND infomation_typ		=	3 -- (リアクション)
													AND fiscal_year			=	@P_fiscal_year
													AND employee_cd			=	@P_employee_cd
													AND report_kind			=	@P_report_kind
													AND report_no			=	@P_report_no
													AND to_employee_cd		=	@P_employee_cd
													AND from_employee_cd	=	@P_login_employee_cd
													)
					BEGIN
						UPDATE F4900 SET 
							infomation_date			=	GETDATE()
						,	infomation_title		=	@w_infomation_title
						,	infomation_message		=	@w_infomation_message
						,	display_period			=	DATEADD(DD,14,GETDATE())-- 通知日＋２週間
						,	confirmation_datetime	=	NULL
						,	upd_user				=	@P_cre_user
						,	upd_ip					=	@P_cre_ip
						,	upd_prg					=	@w_screen_id
						,	upd_datetime			=	@w_time
						WHERE
							F4900.company_cd			=	@P_company_cd
						AND F4900.infomation_typ		=	3 -- (リアクション)
						AND F4900.fiscal_year			=	@P_fiscal_year
						AND F4900.employee_cd			=	@P_employee_cd
						AND F4900.report_kind			=	@P_report_kind
						AND F4900.report_no				=	@P_report_no
						AND F4900.to_employee_cd		=	@P_employee_cd
						AND F4900.from_employee_cd		=	@P_login_employee_cd
					END
					ELSE
					BEGIN
						INSERT INTO F4900
						SELECT 
							@P_company_cd
						,	3 -- (リアクション)			-- infomation_typ
						,	@P_fiscal_year
						,	@P_employee_cd
						,	@P_report_kind
						,	@P_report_no
						,	@P_employee_cd						--	to_employee_cd
						,	@P_login_employee_cd				--	from_employee_cd
						,	GETDATE()							--	infomation_date
						,	@w_infomation_title					--	infomation_title
						,	@w_infomation_message				--	infomation_message
						,	DATEADD(DD,14,GETDATE())	AS	display_period		-- 通知日＋２週間
						,	NULL						AS	confirmation_datetime
						,	@P_cre_user					AS	cre_user
						,	@P_cre_ip					AS	cre_ip
						,	@w_screen_id				AS	cre_prg
						,	@w_time						AS	cre_datetime
						,	SPACE(0)					AS	upd_user
						,	SPACE(0)					AS	upd_ip
						,	SPACE(0)					AS	upd_prg
						,	NULL						AS	upd_datetime
						,	SPACE(0)					AS	del_user
						,	SPACE(0)					AS	del_ip
						,	SPACE(0)					AS	del_prg
						,	NULL						AS	del_datetime
					END
				END
			END
			-- F4205 (返信)
			IF @P_reaction_type <> 0
			BEGIN
				-- GET @w_to_employee_cd
				-- 同一F4205.reaction_noのデータが存在する場合、同一F4205.reaction_noの最後のreply_noのリプライユーザーを通知先とする。
				IF EXISTS (SELECT 1 FROM F4205
								WHERE 
									company_cd		=	@P_company_cd
								AND fiscal_year		=	@P_fiscal_year
								AND employee_cd		=	@P_employee_cd
								AND report_kind		=	@P_report_kind
								AND report_no		=	@P_report_no
								AND reaction_no		=	@P_reaction_no
								AND del_datetime IS NULL)
				BEGIN
					-- GET LASTEST REPLY EMPLOYEE
					SELECT 
						TOP 1
						@w_to_employee_cd	=	ISNULL(S0010.employee_cd,'')
					FROM F4205
					LEFT OUTER JOIN S0010 ON (
						F4205.company_cd		=	S0010.company_cd
					AND	F4205.reply_user		=	S0010.[user_id]
					AND S0010.del_datetime IS NULL
					)
					WHERE 
						F4205.company_cd		=	@P_company_cd
					AND F4205.fiscal_year		=	@P_fiscal_year
					AND F4205.employee_cd		=	@P_employee_cd
					AND F4205.report_kind		=	@P_report_kind
					AND F4205.report_no			=	@P_report_no
					AND F4205.reaction_no		=	@P_reaction_no
					AND F4205.del_datetime IS NULL
					ORDER BY
						F4205.reply_no	DESC
				END
				ELSE
				BEGIN
					--同一F4205.reaction_noのデータが存在しない場合、同一F4204.reaction_noのリアクションユーザー（reaction_no）を通知先とする。
					SET @w_to_employee_cd	=	@P_reaction_no
				END
				-- F4205
				IF EXISTS (SELECT 1 FROM F4205 
									WHERE 
										company_cd	=	@P_company_cd 
									AND fiscal_year	=	@P_fiscal_year
									AND employee_cd	=	@P_employee_cd
									AND report_kind	=	@P_report_kind
									AND report_no	=	@P_report_no
									AND reaction_no	=	@P_reaction_no
									AND reply_no	=	@P_reply_no
									)
				BEGIN
					UPDATE F4205 SET 
						comment			=	@P_reply_comment
					,	reply_cd		=	@P_reply_cd
					,	reply_user		=	@P_cre_user
					,	reply_datetime	=	@w_time
					,	upd_user		=	@P_cre_user
					,	upd_ip			=	@P_cre_ip
					,	upd_prg			=	@w_screen_id
					,	upd_datetime	=	@w_time
					FROM F4205
					WHERE 
						F4205.company_cd	=	@P_company_cd
					AND F4205.fiscal_year	=	@P_fiscal_year
					AND F4205.employee_cd	=	@P_employee_cd
					AND F4205.report_kind	=	@P_report_kind
					AND F4205.report_no		=	@P_report_no
					AND F4205.reaction_no	=	@P_reaction_no
					AND F4205.reply_no		=	@P_reply_no
					--
					SET @w_reply_no = @P_reply_no
				END
				ELSE
				BEGIN
					-- INSERT 
					-- MAX @w_reply_no
					SET @w_reply_no = (SELECT ISNULL(MAX(F4205.reply_no),0) FROM F4205 
																			WHERE 
																				company_cd	=	@P_company_cd 
																			AND fiscal_year	=	@P_fiscal_year
																			AND employee_cd	=	@P_employee_cd
																			AND report_kind	=	@P_report_kind
																			AND report_no	=	@P_report_no
																			AND reaction_no	=	@P_reaction_no) +1
					INSERT INTO F4205
					SELECT 
						@P_company_cd
					,	@P_fiscal_year
					,	@P_employee_cd
					,	@P_report_kind
					,	@P_report_no
					,	@P_reaction_no
					,	@w_reply_no
					,	@P_reply_comment
					,	@P_reply_cd
					,	@P_cre_user				-- reply_user
					,	@w_time					-- reply_datetime
					,	@P_cre_user
					,	@P_cre_ip
					,	@w_screen_id
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
				END
				-- F4900
				IF @P_reply_comment <> '' AND @w_to_employee_cd <>	@P_login_employee_cd
				BEGIN
					IF EXISTS (SELECT 1 FROM F4900 WHERE 
														company_cd			=	@P_company_cd
													AND infomation_typ		=	3 -- (リアクション)
													AND fiscal_year			=	@P_fiscal_year
													AND employee_cd			=	@P_employee_cd
													AND report_kind			=	@P_report_kind
													AND report_no			=	@P_report_no
													AND to_employee_cd		=	@w_to_employee_cd
													AND from_employee_cd	=	@P_login_employee_cd
													)
					BEGIN
						UPDATE F4900 SET 
							infomation_date			=	GETDATE()
						,	infomation_title		=	@w_infomation_title
						,	infomation_message		=	@w_infomation_message
						,	display_period			=	DATEADD(DD,14,GETDATE())-- 通知日＋２週間
						,	confirmation_datetime	=	NULL
						,	upd_user				=	@P_cre_user
						,	upd_ip					=	@P_cre_ip
						,	upd_prg					=	@w_screen_id
						,	upd_datetime			=	@w_time
						WHERE
							F4900.company_cd			=	@P_company_cd
						AND F4900.infomation_typ		=	3 -- (リアクション)
						AND F4900.fiscal_year			=	@P_fiscal_year
						AND F4900.employee_cd			=	@P_employee_cd
						AND F4900.report_kind			=	@P_report_kind
						AND F4900.report_no				=	@P_report_no
						AND F4900.to_employee_cd		=	@w_to_employee_cd
						AND F4900.from_employee_cd		=	@P_login_employee_cd
					END
					ELSE
					BEGIN
						INSERT INTO F4900
						SELECT 
							@P_company_cd
						,	3 -- (リアクション)			-- infomation_typ
						,	@P_fiscal_year
						,	@P_employee_cd
						,	@P_report_kind
						,	@P_report_no
						,	@w_to_employee_cd					--	to_employee_cd
						,	@P_login_employee_cd				--	from_employee_cd
						,	GETDATE()							--	infomation_date
						,	@w_infomation_title					--	infomation_title
						,	@w_infomation_message				--	infomation_message
						,	DATEADD(DD,14,GETDATE())	AS	display_period		-- 通知日＋２週間
						,	NULL						AS	confirmation_datetime
						,	@P_cre_user					AS	cre_user
						,	@P_cre_ip					AS	cre_ip
						,	@w_screen_id				AS	cre_prg
						,	@w_time						AS	cre_datetime
						,	SPACE(0)					AS	upd_user
						,	SPACE(0)					AS	upd_ip
						,	SPACE(0)					AS	upd_prg
						,	NULL						AS	upd_datetime
						,	SPACE(0)					AS	del_user
						,	SPACE(0)					AS	del_ip
						,	SPACE(0)					AS	del_prg
						,	NULL						AS	del_datetime
					END
				END
			END
		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by
		--[1]
	SELECT @w_reply_no  AS reply_no
END

GO
