IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_rI2010_ACT7]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_rI2010_ACT7]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_rI2010_ACT7] 782,2023,'890',4,1,'890'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	REJECT REPORT (差戻) (F4200 & F4900)
--*  
--*  作成日/create date			:	2023/06/14						
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:	
--*　更新内容/update content		:	
--*  
--****************************************************************************************
CREATE PROCEDURE [SPC_rI2010_ACT7] 
	@P_fiscal_year				SMALLINT		=	0
,	@P_employee_cd				NVARCHAR(10)	=	''
,	@P_report_kind				SMALLINT		=	0
,	@P_report_no				SMALLINT		=	0
,	@P_reject_comment			NVARCHAR(500)	=	''
	--
,	@P_login_use_typ			TINYINT			=	0
,	@P_login_employee_cd		NVARCHAR(10)	=	''	-- login employee
,	@P_cre_user					NVARCHAR(50)	=	''
,	@P_cre_ip					NVARCHAR(50)	=	''
,	@P_company_cd				SMALLINT		=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2		=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@w_order_by_min				int				=	0
	,	@w_screen_id				nvarchar(20)	=	'rI2010'
	,	@w_language					smallint		=	0
	,	@w_infomation_title			nvarchar(30)	=	''
	,	@w_infomation_message		nvarchar(500)	=	''
	,	@w_status_cd				smallint		=	0
	,	@w_approver_step			tinyint			=	0
	-- GET @w_language
	SELECT 
		@w_language = ISNULL(S0010.[language],0)
	FROM S0010
	WHERE
		S0010.company_cd		=	@P_company_cd
	AND S0010.[user_id]			=	@P_cre_user
	AND S0010.del_datetime IS NULL
	--GET @w_status_cd
	SELECT 
		@w_status_cd		=	ISNULL(F4200.status_cd,0)
	,	@w_approver_step	=	CASE
									WHEN F4200.approver_employee_cd_4 <> ''
									THEN 4
									WHEN F4200.approver_employee_cd_4 = '' AND F4200.approver_employee_cd_3 <> ''
									THEN 3
									WHEN F4200.approver_employee_cd_3 = '' AND F4200.approver_employee_cd_2 <> ''
									THEN 2
									WHEN F4200.approver_employee_cd_2 = '' AND F4200.approver_employee_cd_1 <> ''
									THEN 1
									ELSE 0
								END
	FROM F4200
	WHERE 
		F4200.company_cd		=	@P_company_cd
	AND F4200.fiscal_year		=	@P_fiscal_year
	AND F4200.employee_cd		=	@P_employee_cd
	AND F4200.report_kind		=	@P_report_kind
	AND F4200.report_no			=	@P_report_no
	AND F4200.del_datetime IS NULL
	-- GET @w_infomation_title
	SET @w_infomation_title = IIF(@w_language = 2, 'You have a report declined', N'差戻しがあります')	
	BEGIN TRY
	BEGIN TRANSACTION
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			IF @P_login_use_typ = 4 AND @w_status_cd = 6
			BEGIN
				-- update status F4200
				UPDATE F4200 SET 
					status_cd		=	CASE
											WHEN @w_approver_step = 4
											THEN 5
											WHEN @w_approver_step = 3
											THEN 4
											WHEN @w_approver_step = 2
											THEN 3
											WHEN @w_approver_step = 1
											THEN 2
											ELSE 1
										END
				,	approver_user_1			=	CASE
													WHEN @w_approver_step = 1
													THEN SPACE(0)
													ELSE F4200.approver_user_1
												END
				,	approver_datetime_1		=	CASE
													WHEN @w_approver_step = 1
													THEN NULL
													ELSE F4200.approver_datetime_1
												END
				,	approver_user_2			=	CASE
													WHEN @w_approver_step = 2
													THEN SPACE(0)
													ELSE F4200.approver_user_2
												END
				,	approver_datetime_2		=	CASE
													WHEN @w_approver_step = 2
													THEN NULL
													ELSE F4200.approver_datetime_2
												END
				,	approver_user_3			=	CASE
													WHEN @w_approver_step = 3
													THEN SPACE(0)
													ELSE F4200.approver_user_3
												END
				,	approver_datetime_3		=	CASE
													WHEN @w_approver_step = 3
													THEN NULL
													ELSE F4200.approver_datetime_3
												END
				,	approver_user_4			=	CASE
													WHEN @w_approver_step = 4
													THEN SPACE(0)
													ELSE F4200.approver_user_4
												END
				,	approver_datetime_4		=	CASE
													WHEN @w_approver_step = 4
													THEN NULL
													ELSE F4200.approver_datetime_4
												END
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	@w_screen_id
				,	upd_datetime	=	@w_time
				FROM F4200
				WHERE
					F4200.company_cd		=	@P_company_cd
				AND F4200.fiscal_year		=	@P_fiscal_year
				AND F4200.employee_cd		=	@P_employee_cd
				AND F4200.report_kind		=	@P_report_kind
				AND F4200.report_no			=	@P_report_no	
			END
			ELSE
			BEGIN
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				--F4200
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- update status F4200
				UPDATE F4200 SET 
					status_cd		=	CASE 
											WHEN @P_login_use_typ = 4 AND @w_status_cd = 6
											THEN 
												CASE
													WHEN F4200.approver_employee_cd_4 <> ''
													THEN 5
													WHEN F4200.approver_employee_cd_4 = '' AND F4200.approver_employee_cd_3 <> ''
													THEN 4
													WHEN F4200.approver_employee_cd_3 = '' AND F4200.approver_employee_cd_2 <> ''
													THEN 3
													WHEN F4200.approver_employee_cd_2 = '' AND F4200.approver_employee_cd_1 <> ''
													THEN 2
													ELSE 1
												END
											ELSE 1	-- 未処理
										END
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	@w_screen_id
				,	upd_datetime	=	@w_time
				FROM F4200
				WHERE
					F4200.company_cd		=	@P_company_cd
				AND F4200.fiscal_year		=	@P_fiscal_year
				AND F4200.employee_cd		=	@P_employee_cd
				AND F4200.report_kind		=	@P_report_kind
				AND F4200.report_no			=	@P_report_no	
				-- update approver_user_1 ~ approver_user_4 F4200
				UPDATE F4200 SET 
					approver_user_1			=	SPACE(0)
				,	approver_datetime_1		=	NULL
				,	approver_user_2			=	SPACE(0)
				,	approver_datetime_2		=	NULL
				,	approver_user_3			=	SPACE(0)
				,	approver_datetime_3		=	NULL
				,	approver_user_4			=	SPACE(0)
				,	approver_datetime_4		=	NULL
				,	upd_user				=	@P_cre_user
				,	upd_ip					=	@P_cre_ip
				,	upd_prg					=	@w_screen_id
				,	upd_datetime			=	@w_time
				FROM F4200
				WHERE
					F4200.company_cd		=	@P_company_cd
				AND F4200.fiscal_year		=	@P_fiscal_year
				AND F4200.employee_cd		=	@P_employee_cd
				AND F4200.report_kind		=	@P_report_kind
				AND F4200.report_no			=	@P_report_no
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				--F4201
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- UPDATE F4201.submission_datetime WHEN 一次承認中→未提出
				UPDATE F4201 SET 
					submission_user		=	SPACE(0)
				,	submission_datetime	=	NULL
				,	upd_user			=	@P_cre_user
				,	upd_ip				=	@P_cre_ip
				,	upd_prg				=	@w_screen_id
				,	upd_datetime		=	@w_time
				,	del_user			=	SPACE(0)
				,	del_ip				=	SPACE(0)
				,	del_prg				=	SPACE(0)
				,	del_datetime		=	NULL
				FROM F4201
				WHERE 
					F4201.company_cd		=	@P_company_cd
				AND F4201.fiscal_year		=	@P_fiscal_year
				AND F4201.employee_cd		=	@P_employee_cd
				AND F4201.report_kind		=	@P_report_kind
				AND F4201.report_no			=	@P_report_no
			END
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			--F4900
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			--5(差戻)作成
			IF EXISTS (SELECT 1 FROM F4900 
								WHERE 
									company_cd			=	@P_company_cd 
								AND	infomation_typ		=	5
								AND fiscal_year			=	@P_fiscal_year 
								AND employee_cd			=	@P_employee_cd 
								AND report_kind			=	@P_report_kind 
								AND report_no			=	@P_report_no 
								AND to_employee_cd		=	@P_employee_cd 
								AND from_employee_cd	=	@P_login_employee_cd)
			BEGIN
				UPDATE F4900 SET
					infomation_date			=	GETDATE()
				,	infomation_message		=	@P_reject_comment
				,	confirmation_datetime	=	NULL
				,	upd_user				=	@P_cre_user
				,	upd_ip					=	@P_cre_ip
				,	upd_prg					=	@w_screen_id
				,	upd_datetime			=	@w_time
				,	del_user				=	SPACE(0)
				,	del_ip					=	SPACE(0)
				,	del_prg					=	SPACE(0)
				,	del_datetime			=	NULL
				WHERE 
					F4900.company_cd		=	@P_company_cd
				AND F4900.infomation_typ	=	5
				AND F4900.fiscal_year		=	@P_fiscal_year
				AND F4900.employee_cd		=	@P_employee_cd
				AND F4900.report_kind		=	@P_report_kind
				AND F4900.report_no			=	@P_report_no
				AND F4900.to_employee_cd	=	@P_employee_cd
				AND F4900.from_employee_cd	=	@P_login_employee_cd
			END
			ELSE
			BEGIN
				INSERT INTO F4900
				SELECT 
					@P_company_cd
				,	5
				,	@P_fiscal_year
				,	@P_employee_cd
				,	@P_report_kind
				,	@P_report_no
				,	@P_employee_cd					AS	to_employee_cd
				,	@P_login_employee_cd			AS	from_employee_cd
				,	GETDATE()						AS	infomation_date
				,	@w_infomation_title
				,	@P_reject_comment				AS	infomation_message
				,	NULL							AS	display_period
				,	NULL							AS	confirmation_datetime
				,	@P_cre_user						AS	cre_user
				,	@P_cre_ip						AS	cre_ip
				,	@w_screen_id					AS	cre_prg
				,	@w_time							AS	cre_datetime
				,	SPACE(0)						AS	upd_user
				,	SPACE(0)						AS	upd_ip
				,	SPACE(0)						AS	upd_prg
				,	NULL							AS	upd_datetime
				,	SPACE(0)						AS	del_user
				,	SPACE(0)						AS	del_ip
				,	SPACE(0)						AS	del_prg
				,	NULL							AS	del_datetime
			END
			-- １(通知)更新「確認済」
			UPDATE F4900 SET
				confirmation_datetime	=	@w_time
			,	upd_user				=	@P_cre_user
			,	upd_ip					=	@P_cre_ip
			,	upd_prg					=	@w_screen_id
			,	upd_datetime			=	@w_time
			FROM F4900
			WHERE
				F4900.company_cd		=	@P_company_cd
			AND F4900.infomation_typ	=	1	-- １(通知)
			AND F4900.fiscal_year		=	@P_fiscal_year
			AND F4900.employee_cd		=	@P_employee_cd
			AND F4900.report_kind		=	@P_report_kind
			AND F4900.report_no			=	@P_report_no
			AND F4900.to_employee_cd	=	@P_login_employee_cd
		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by
END

GO
