IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_rI2010_ACT8]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_rI2010_ACT8]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_rI2010_ACT8] 782,2023,'890',4,1,'890'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	SAVE COMMENT OPTION
--*  
--*  作成日/create date			:	2024/03/26						
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:	
--*　更新内容/update content		:	
--*  
--****************************************************************************************
CREATE PROCEDURE [SPC_rI2010_ACT8] 
	@P_detail_no				SMALLINT		=	0
,	@P_comment					NVARCHAR(30)	=	''
,	@P_comment_typ				SMALLINT		=	0	-- ログインユーザーが承認者の場合は「１」、閲覧者の場合は「2」
,	@P_mode						SMALLINT		=	0	-- 0.save 1.delete
--
,	@P_login_employee_cd		NVARCHAR(10)	=	''
,	@P_cre_user					NVARCHAR(50)	=	''
,	@P_cre_ip					NVARCHAR(50)	=	''
,	@P_company_cd				SMALLINT		=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2		=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@w_order_by_min				int				=	0
	,	@w_screen_id				nvarchar(20)	=	'rI2010'
	,	@w_detail_no				SMALLINT		=	0
	BEGIN TRY
	BEGIN TRANSACTION
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- MODE SAVE
			IF @P_mode = 0
			BEGIN
				IF EXISTS (SELECT 1 FROM F4300 WHERE 
												company_cd	= @P_company_cd 
												AND employee_cd = @P_login_employee_cd 
												AND comment_typ = @P_comment_typ 
												AND detail_no	= @P_detail_no
				)
				BEGIN
					UPDATE F4300 SET 
						comment			=	@P_comment
					,	upd_user		=	@P_cre_user
					,	upd_ip			=	@P_cre_ip
					,	upd_prg			=	@w_screen_id
					,	upd_datetime	=	@w_time
					,	del_user		=	SPACE(0)
					,	del_ip			=	SPACE(0)
					,	del_prg			=	SPACE(0)
					,	del_datetime	=	NULL
					FROM F4300
					WHERE 
						F4300.company_cd	=	@P_company_cd
					AND F4300.employee_cd	=	@P_login_employee_cd
					AND F4300.comment_typ	=	@P_comment_typ
					AND F4300.detail_no		=	@P_detail_no
					--
					SET @w_detail_no = @P_detail_no
				END
				ELSE
				BEGIN
					SET @w_detail_no	=	(SELECT ISNULL(MAX(F4300.detail_no),0) FROM F4300 
																						WHERE 
																							company_cd	= @P_company_cd 
																						AND employee_cd = @P_login_employee_cd 
																						AND comment_typ = @P_comment_typ) + 1
					--
					INSERT INTO F4300
					SELECT 
						@P_company_cd
					,	@P_login_employee_cd
					,	@P_comment_typ
					,	@w_detail_no
					,	@P_comment
					,	@P_cre_user
					,	@P_cre_ip
					,	@w_screen_id
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
				END
			END
			-- MODE DELETE
			IF @P_mode = 1
			BEGIN
				UPDATE F4300 SET 
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	@w_screen_id
				,	del_datetime	=	@w_time
				FROM F4300
				WHERE 
					F4300.company_cd	=	@P_company_cd
				AND F4300.employee_cd	=	@P_login_employee_cd
				AND F4300.comment_typ	=	@P_comment_typ
				AND F4300.detail_no		=	@P_detail_no
				--
				SET @w_detail_no = @P_detail_no
			END
		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by
	--[1]
	SELECT 
		@w_detail_no		AS	detail_no
	,	@P_comment			AS	comment
END
GO