IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_rI2010_ACT5]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_rI2010_ACT5]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_rI2010_ACT5] 782,2023,'890',4,1,'890'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	SAVE NOTE (F4206)
--*  
--*  作成日/create date			:	2023/05/08						
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:	
--*　更新内容/update content		:	
--*  
--****************************************************************************************

CREATE PROCEDURE [SPC_rI2010_ACT5] 
	@P_fiscal_year			SMALLINT		=	0
,	@P_employee_cd			NVARCHAR(10)	=	''
,	@P_report_kind			SMALLINT		=	0
,	@P_report_no			SMALLINT		=	0
,	@P_note_no				SMALLINT		=	0
,	@P_note_explanation		NVARCHAR(200)	=	''
,	@P_login_employee_cd	NVARCHAR(10)	=	''	-- LOGIN EMPLOYEE
--
,	@P_cre_user				NVARCHAR(50)	= ''
,	@P_cre_ip				NVARCHAR(50)	= ''
,	@P_company_cd			SMALLINT		= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL				ERRTABLE
	,	@w_note_kind			SMALLINT	=	1
	--
	IF @P_login_employee_cd = @P_employee_cd
	BEGIN
		SET @w_note_kind	=	2
	END
	--
	BEGIN TRY
	BEGIN TRANSACTION
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			IF EXISTS (SELECT 1 FROM F4206 
								WHERE 
									company_cd			=	@P_company_cd 
								AND fiscal_year			=	@P_fiscal_year 
								AND employee_cd			=	@P_employee_cd
								AND report_kind			=	@P_report_kind
								AND report_no			=	@P_report_no
								AND note_employee_cd	=	@P_login_employee_cd
								)
			BEGIN
				UPDATE F4206 SET
					upd_user			=	@P_cre_user
				,	upd_ip				=	@P_cre_ip
				,	upd_prg				=	'RI2010_STICKY'
				,	upd_datetime		=	@w_time
				,	note_kind			=	@w_note_kind
				,	note_no				=	@P_note_no
				,	note_explanation	=	@P_note_explanation
				,	del_user			=	SPACE(0)
				,	del_ip				=	SPACE(0)
				,	del_prg				=	SPACE(0)
				,	del_datetime		=	NULL
				WHERE 
					company_cd			=	@P_company_cd 
				AND fiscal_year			=	@P_fiscal_year 
				AND employee_cd			=	@P_employee_cd
				AND report_kind			=	@P_report_kind
				AND report_no			=	@P_report_no
				AND note_employee_cd	=	@P_login_employee_cd	
			END
			ELSE
			BEGIN
				INSERT INTO F4206
				SELECT 
					@P_company_cd
				,	@P_fiscal_year
				,	@P_employee_cd
				,	@P_report_kind
				,	@P_report_no
				,	@P_login_employee_cd
				,	@w_note_kind
				,	@P_note_no
				,	@P_note_explanation
				,	@P_cre_user
				,	@P_cre_ip
				,	'RI2010_STICKY'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
			END
		END				
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	-- Insert statements for procedure here
	IF (SELECT COUNT(1) FROM @ERR_TBL) > 1
	BEGIN
		ROLLBACK TRANSACTION
	END
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
	COMPLETE_QUERY:

	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END

GO
