IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_rI2010_ACT6]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_rI2010_ACT6]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_rI2010_ACT6] 782,2023,'890',4,1,'890'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	SHARE REPORT (F4207)
--*  
--*  作成日/create date			:	2023/05/08						
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:	
--*　更新内容/update content		:	
--*  
--****************************************************************************************
CREATE PROCEDURE [SPC_rI2010_ACT6] 
	@P_json						NVARCHAR(MAX)	=	''
	--
,	@P_login_employee_cd		NVARCHAR(10)	=	''	-- login employee
,	@P_cre_user					NVARCHAR(50)	=	''
,	@P_cre_ip					NVARCHAR(50)	=	''
,	@P_company_cd				SMALLINT		=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time							DATETIME2		=	SYSDATETIME()
	,	@ERR_TBL						ERRTABLE	
	,	@w_order_by_min					int				=	0
	,	@w_screen_id					nvarchar(20)	=	'rI2010'
	--
	,	@w_fiscal_year					smallint		=	0
	,	@w_employee_cd					nvarchar(10)	=	''
	,	@w_report_kind					smallint		=	0
	,	@w_report_no					smallint		=	0
	,	@w_share_explanation			nvarchar(200)	=	''
	,	@w_share_kbn					tinyint			=	0
	,	@w_language						smallint		=	0
	,	@w_infomation_message			nvarchar(500)	=	''
	,	@w_infomation_title				nvarchar(30)	=	''
	,	@w_infomation_message_1			nvarchar(500)	=	''
	,	@w_infomation_title_1			nvarchar(30)	=	''
	,	@w_cnt							int				=	0
	,	@w_i							int				=	1
	,	@w_sharewith_employee_cd		nvarchar(10)	=	''
	,	@w_sharewith_employee_cd_list	nvarchar(max)	=	''
	-- #TABLE_JSON
	CREATE TABLE #TABLE_JSON (
		id						int		identity(1,1)
	,	sharewith_employee_cd	nvarchar(10)
	)
	-- VALIDATE JSON
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22									-- mã lỗi (trùng với mã trong bảng message) 					
		,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
		GOTO COMPLETE_QUERY
	END
	-- GET VALUE OF JSON
	SET @w_fiscal_year		=	ISNULL(JSON_VALUE(@P_json,'$.fiscal_year'),0)
	SET @w_employee_cd		=	ISNULL(JSON_VALUE(@P_json,'$.employee_cd'),'')
	SET @w_report_kind		=	ISNULL(JSON_VALUE(@P_json,'$.report_kind'),0)
	SET @w_report_no		=	ISNULL(JSON_VALUE(@P_json,'$.report_no'),0)
	SET @w_share_explanation		=	ISNULL(JSON_VALUE(@P_json,'$.share_explanation'),'')
	SET @w_share_kbn		=	ISNULL(JSON_VALUE(@P_json,'$.share_kbn'),0)
	-- GET TABLE FROM JSON
	INSERT INTO #TABLE_JSON
	SELECT
		ISNULL(json_table.employee_cd,'')		
	FROM OPENJSON(@P_json,'$.employees') WITH(
		employee_cd			nvarchar(10)
	)AS json_table
	-- GET @w_language
	SELECT 
		@w_language = ISNULL(S0010.[language],0)
	FROM S0010
	WHERE
		S0010.company_cd		=	@P_company_cd
	AND S0010.[user_id]			=	@P_cre_user
	AND S0010.del_datetime IS NULL
	-- GET @w_infomation_title
	SET @w_infomation_title = IIF(@w_language = 2, 'You have a report shared', N'共有された報告書があります')	
	BEGIN TRY
	BEGIN TRANSACTION
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- UPDATE
			UPDATE F4207 SET 
				share_explanation	=	@w_share_explanation
			,	share_kbn			=	@w_share_kbn
			,	upd_user			=	@P_cre_user
			,	upd_ip				=	@P_cre_ip
			,	upd_prg				=	@w_screen_id
			,	upd_datetime		=	@w_time
			,	del_user			=	SPACE(0)
			,	del_ip				=	SPACE(0)
			,	del_prg				=	SPACE(0)
			,	del_datetime		=	NULL
			FROM F4207
			INNER JOIN #TABLE_JSON ON (
				F4207.company_cd			=	@P_company_cd
			AND F4207.fiscal_year			=	@w_fiscal_year
			AND F4207.employee_cd			=	@w_employee_cd
			AND F4207.report_kind			=	@w_report_kind
			AND F4207.report_no				=	@w_report_no
			AND F4207.shareby_employee_cd	=	@P_login_employee_cd
			AND F4207.sharewith_employee_cd	=	#TABLE_JSON.sharewith_employee_cd
			)
			-- INSERT
			INSERT INTO F4207
			SELECT 
				@P_company_cd
			,	@w_fiscal_year
			,	@w_employee_cd
			,	@w_report_kind
			,	@w_report_no
			,	@P_login_employee_cd
			,	ISNULL(#TABLE_JSON.sharewith_employee_cd,'')
			,	@w_share_explanation
			,	@w_share_kbn
			,	@P_cre_user
			,	@P_cre_ip
			,	@w_screen_id
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #TABLE_JSON
			LEFT OUTER JOIN F4207 ON (
				@P_company_cd						=	F4207.company_cd
			AND	@w_fiscal_year						=	F4207.fiscal_year
			AND	@w_employee_cd						=	F4207.employee_cd
			AND	@w_report_kind						=	F4207.report_kind
			AND	@w_report_no						=	F4207.report_no
			AND	@P_login_employee_cd				=	F4207.shareby_employee_cd
			AND	#TABLE_JSON.sharewith_employee_cd	=	F4207.sharewith_employee_cd
			)							
			WHERE
				F4207.company_cd IS NULL
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			--F4900
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			-- 画面. 共有先社員番号
			SET @w_cnt = (SELECT COUNT(id) FROM #TABLE_JSON)
			WHILE @w_i <= @w_cnt
			BEGIN
				SET @w_sharewith_employee_cd	=	(SELECT ISNULL(sharewith_employee_cd,'') FROM #TABLE_JSON WHERE id = @w_i)
				-- GET @w_infomation_message
				SELECT
					@w_infomation_message =		CASE
													WHEN @w_language = 2
													THEN ISNULL(M0070.employee_nm,'') +  N'''s ' +  IIF(ISNULL(F4200.title,'') = '',CAST(ISNULL(F4200.times,0) AS NVARCHAR(10))+SPACE(1)+N'Times',ISNULL(F4200.title,'')) +SPACE(1)+ N'was shared by ' + ISNULL(M0070_LOGIN.employee_nm,'')
													ELSE ISNULL(M0070_LOGIN.employee_nm,'') +  N'さんから' + ISNULL(M0070.employee_nm,'') + N'さんの' + IIF(ISNULL(F4200.title,'') = '',CAST(ISNULL(F4200.times,0) AS NVARCHAR(10))+N'回',ISNULL(F4200.title,'')) + N'が共有されました。'
												END
				FROM F4200 
				LEFT OUTER JOIN M0070 ON (
					F4200.company_cd		=	M0070.company_cd
				AND F4200.employee_cd		=	M0070.employee_cd
				)
				LEFT OUTER JOIN M0070 AS M0070_LOGIN ON (
					@P_company_cd			=	M0070_LOGIN.company_cd
				AND @P_login_employee_cd	=	M0070_LOGIN.employee_cd
				)
				WHERE 
					F4200.company_cd		=	@P_company_cd
				AND F4200.fiscal_year		=	@w_fiscal_year
				AND F4200.employee_cd		=	@w_employee_cd
				AND F4200.report_kind		=	@w_report_kind
				AND F4200.report_no			=	@w_report_no
				AND F4200.del_datetime IS NULL
				-- GET @w_sharewith_employee_cd_list
				IF @w_i = @w_cnt
				BEGIN
					SET @w_sharewith_employee_cd_list = @w_sharewith_employee_cd_list + (SELECT ISNULL(M0070.employee_nm,'') FROM M0070 WHERE company_cd = @P_company_cd AND employee_cd = @w_sharewith_employee_cd)
				END
				ELSE
				BEGIN
					SET @w_sharewith_employee_cd_list = @w_sharewith_employee_cd_list + (SELECT IIF(@w_language = 2,ISNULL(M0070.employee_nm,''),ISNULL(M0070.employee_nm,'')+'さん') + N',' FROM M0070 WHERE company_cd = @P_company_cd AND employee_cd = @w_sharewith_employee_cd)
				END
				-- INSERT INTO F4900
				IF NOT EXISTS (SELECT 1 FROM F4900 
										WHERE 
											company_cd			= @P_company_cd 
										AND infomation_typ		= 4
										AND fiscal_year			= @w_fiscal_year 
										AND employee_cd			= @w_employee_cd 
										AND report_kind			= @w_report_kind 
										AND report_no			= @w_report_no
										AND to_employee_cd		= @w_sharewith_employee_cd
										AND from_employee_cd	= @P_login_employee_cd
										)
				BEGIN
					INSERT INTO F4900
					SELECT 
						@P_company_cd
					,	4						--	infomation_typ
					,	@w_fiscal_year
					,	@w_employee_cd
					,	@w_report_kind
					,	@w_report_no
					,	@w_sharewith_employee_cd				--  共有先社員番号
					,	@P_login_employee_cd					--  通知元社員コード
					,	GETDATE()					AS	infomation_date
					,	@w_infomation_title
					,	@w_infomation_message
					,	DATEADD(DD,14,GETDATE())	AS	display_period		-- 通知日＋２週間
					,	NULL						AS	confirmation_datetime
					,	@P_cre_user					AS	cre_user
					,	@P_cre_ip					AS	cre_ip
					,	@w_screen_id				AS	cre_prg
					,	@w_time						AS	cre_datetime
					,	SPACE(0)					AS	upd_user
					,	SPACE(0)					AS	upd_ip
					,	SPACE(0)					AS	upd_prg
					,	NULL						AS	upd_datetime
					,	SPACE(0)					AS	del_user
					,	SPACE(0)					AS	del_ip
					,	SPACE(0)					AS	del_prg
					,	NULL						AS	del_datetime
				END
				--
				SET @w_i = @w_i + 1
			END			
			-- 報告者に通知
			IF @w_share_kbn = 1
			BEGIN
				SET @w_infomation_title_1 = IIF(@w_language = 2, 'Report shared', N'報告書が共有されました')	
				SET @w_infomation_message_1	=	(SELECT 
													CASE
														WHEN @w_language = 2
														THEN ISNULL(M0070_LOGIN.employee_nm,'')　+ ' shared ' +  IIF(ISNULL(F4200.title,'') = '',CAST(ISNULL(F4200.times,0) AS NVARCHAR(10))+SPACE(1)+N'Times',ISNULL(F4200.title,'')) +SPACE(1)+ N'with ' + @w_sharewith_employee_cd_list
														ELSE ISNULL(M0070_LOGIN.employee_nm,'') +  N'さんが' + @w_sharewith_employee_cd_list + N'さんに' + IIF(ISNULL(F4200.title,'') = '',CAST(ISNULL(F4200.times,0) AS NVARCHAR(10))+N'回',ISNULL(F4200.title,'')) + N'を共有しました'
													END
												FROM F4200 
												LEFT OUTER JOIN M0070 ON (
													F4200.company_cd		=	M0070.company_cd
												AND F4200.employee_cd		=	M0070.employee_cd
												)
												LEFT OUTER JOIN M0070 AS M0070_LOGIN ON (
													@P_company_cd			=	M0070_LOGIN.company_cd
												AND @P_login_employee_cd	=	M0070_LOGIN.employee_cd
												)
												WHERE 
													F4200.company_cd		=	@P_company_cd
												AND F4200.fiscal_year		=	@w_fiscal_year
												AND F4200.employee_cd		=	@w_employee_cd
												AND F4200.report_kind		=	@w_report_kind
												AND F4200.report_no			=	@w_report_no
												AND F4200.del_datetime IS NULL
												)
				IF NOT EXISTS (SELECT 1 FROM F4900 
										WHERE 
											company_cd			= @P_company_cd 
										AND infomation_typ		= 4
										AND fiscal_year			= @w_fiscal_year 
										AND employee_cd			= @w_employee_cd 
										AND report_kind			= @w_report_kind 
										AND report_no			= @w_report_no
										AND to_employee_cd		= @w_employee_cd
										AND from_employee_cd	= @P_login_employee_cd
										)
				BEGIN
					INSERT INTO F4900
					SELECT 
						@P_company_cd
					,	4						--	infomation_typ
					,	@w_fiscal_year
					,	@w_employee_cd
					,	@w_report_kind
					,	@w_report_no
					,	@w_employee_cd							--  報告者
					,	@P_login_employee_cd					--  通知元社員コード
					,	GETDATE()					AS	infomation_date
					,	@w_infomation_title_1
					,	@w_infomation_message_1
					,	DATEADD(DD,14,GETDATE())	AS	display_period		-- 通知日＋２週間
					,	NULL						AS	confirmation_datetime
					,	@P_cre_user					AS	cre_user
					,	@P_cre_ip					AS	cre_ip
					,	@w_screen_id				AS	cre_prg
					,	@w_time						AS	cre_datetime
					,	SPACE(0)					AS	upd_user
					,	SPACE(0)					AS	upd_ip
					,	SPACE(0)					AS	upd_prg
					,	NULL						AS	upd_datetime
					,	SPACE(0)					AS	del_user
					,	SPACE(0)					AS	del_ip
					,	SPACE(0)					AS	del_prg
					,	NULL						AS	del_datetime
				END
			END
		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by
END

GO
