IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_rI2010_ACT9]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_rI2010_ACT9]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--  EXEC SPC_rI2010_ACT9 '{"fiscal_year":"2023","employee_cd":"a036","report_kind":"3","report_no":"3","free_comment":"","comment":"","questions":[{"question_no":"10","answer_sentence":"","approver_comment":"Reverse Engineering is not allowed"},{"question_no":"25","answer_sentence":"","approver_comment":"Reverse Engineering is not allowed"}],"reaction_comment":[],"reply_comment":[{"reaction_no":"a027","reply_no":"1","comment":"Reverse Engineering is not allowed"}]}','a010','acc010','::1','10035';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	SAVE REPORT (F4200, F4201, F4201_TEMP,F4202, F4202_TEMP)
--*  
--*  作成日/create date			:	2023/05/08						
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:	2023/08/29
--*　更新者/updater				:	viettd
--*　更新内容/update content		:	add F4120 process
--*   					
--*  更新日/update date			:	2024/03/26
--*　更新者/updater				:	viettd
--*　更新内容/update content		:	add set_defualt for reaction_cd
--*   					
--*  更新日/update date			:	2024/05/31
--*　更新者/updater				:	viettd
--*　更新内容/update content		:	fix bug admin is viewer & approver
--*  
--****************************************************************************************
CREATE PROCEDURE [SPC_rI2010_ACT9] 
	@P_json						NVARCHAR(MAX)	=	''
,	@P_login_employee_cd		NVARCHAR(10)	=	''
,	@P_cre_user					NVARCHAR(50)	=	''
,	@P_cre_ip					NVARCHAR(50)	=	''
,	@P_company_cd				SMALLINT		=	0
,	@P_trans_user				NVARCHAR(50)	=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2					=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@w_order_by_min				int							=	0
	,	@w_screen_id				nvarchar(20)				=	'rI2010'
	--
	,	@w_fiscal_year				smallint					=	0
	,	@w_employee_cd				nvarchar(10)				=	''
	,	@w_report_kind				smallint					=	0
	,	@w_report_no				smallint					=	0
	,	@w_free_comment				nvarchar(1200)				=	''
	,	@w_comment					nvarchar(1200)				=	''
	,	@w_reaction_no				nvarchar(10)				=	''
	,	@w_question_no				tinyint						=	0
	,	@w_answer_sentence			nvarchar(1200)				=	''
	,	@w_approver_comment_1		nvarchar(1200)				=	''
	,	@w_approver_comment_2		nvarchar(1200)				=	''
	,	@w_approver_comment_3		nvarchar(1200)				=	''
	,	@w_approver_comment_4		nvarchar(1200)				=	''
	,	@w_reply_no					smallint					=	0
	,	@w_type						nvarchar(10)				=	''
	,	@w_approver_comment			nvarchar(1200)				=	''
	--,	@w_approver_employee_cd_1	nvarchar(10)				=	''
	--,	@w_approver_employee_cd_2	nvarchar(10)				=	''
	--,	@w_approver_employee_cd_3	nvarchar(10)				=	''
	--,	@w_approver_employee_cd_4	nvarchar(10)				=	''
	,	@w_reply_user				nvarchar(50)				=	''
	,	@w_status_cd				smallint					=	0
	,	@w_login_use_typ			tinyint						=	0
	-- VALIDATE JSON
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22									-- mã lỗi (trùng với mã trong bảng message) 					
		,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
		GOTO COMPLETE_QUERY
	END
	-- GET VALUE OF JSON
	SET @w_fiscal_year				=	ISNULL(JSON_VALUE(@P_json,'$.fiscal_year'),0)
	SET @w_employee_cd				=	ISNULL(JSON_VALUE(@P_json,'$.employee_cd'),'')
	SET @w_report_kind				=	ISNULL(JSON_VALUE(@P_json,'$.report_kind'),0)
	SET @w_report_no				=	ISNULL(JSON_VALUE(@P_json,'$.report_no'),0)
	SET @w_type						=	ISNULL(JSON_VALUE(@P_json,'$.type'),'')
	-----------------------------------------
	BEGIN TRY
	BEGIN TRANSACTION
	--
		IF(@w_type = 'reject_tr') AND @P_trans_user = SPACE(0)
		BEGIN
			SET @w_status_cd				=	ISNULL(JSON_VALUE(@P_json,'$.status_cd'),0)
			SET @w_login_use_typ			=	ISNULL(JSON_VALUE(@P_json,'$.login_user_type'),0)
			--
			IF @w_status_cd = 1 AND @w_login_use_typ IN (1,4)
			BEGIN 
				DELETE D 
				FROM F4201_tr AS D
				WHERE
					D.company_cd	=	@P_company_cd
				AND D.fiscal_year	=	@w_fiscal_year
				AND D.employee_cd	=	@w_employee_cd
				AND D.report_kind	=	@w_report_kind
				AND D.report_no		=	@w_report_no
				--
				DELETE D 
				FROM F4202_tr AS D
				WHERE
					D.company_cd		=	@P_company_cd
				AND D.fiscal_year		=	@w_fiscal_year
				AND D.employee_cd		=	@w_employee_cd									
				AND D.report_kind		=	@w_report_kind
				AND D.report_no			=	@w_report_no
				--						
			END
		END
		--
		IF(@w_type = 'F4201_tr' )
		BEGIN
			SET @w_free_comment				=	ISNULL(JSON_VALUE(@P_json,'$.comment'),'')
			--F4201_tr
			IF EXISTS (SELECT 1 FROM F4201_tr
						WHERE
							company_cd =	@P_company_cd
						AND fiscal_year	=	@w_fiscal_year
						AND employee_cd	=	@w_employee_cd
						AND report_kind	=	@w_report_kind
						AND report_no	=	@w_report_no
						AND trans_user	=	@P_trans_user)
			BEGIN
				UPDATE F4201_tr SET 
					free_comment		=	@w_free_comment
				,	upd_user			=	@P_cre_user
				,	upd_ip				=	@P_cre_ip
				,	upd_prg				=	@w_screen_id
				,	upd_datetime		=	@w_time
				,	del_user			=	SPACE(0)
				,	del_ip				=	SPACE(0)
				,	del_prg				=	SPACE(0)
				,	del_datetime		=	NULL
				FROM F4201_tr
				WHERE 
					F4201_tr.company_cd			=	@P_company_cd
				AND F4201_tr.fiscal_year		=	@w_fiscal_year
				AND F4201_tr.employee_cd		=	@w_employee_cd
				AND F4201_tr.report_kind		=	@w_report_kind
				AND F4201_tr.report_no			=	@w_report_no
				AND F4201_tr.trans_user			=	@P_trans_user
			END
			ELSE
			BEGIN
			if not (@w_free_comment ='')
			BEGIN
				INSERT INTO F4201_tr
				SELECT 
					@P_company_cd
				,	@w_fiscal_year
				,	@w_employee_cd
				,	@w_report_kind
				,	@w_report_no
				,	@P_trans_user
				,	@w_free_comment
				,	@P_cre_user
				,	@P_cre_ip
				,	@w_screen_id
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
			END
			END
		END
--
		IF(@w_type = 'F4204_tr')
		BEGIN
			SET @w_comment		=	ISNULL(JSON_VALUE(@P_json,'$.comment'),'')
			SET @w_reaction_no	=	ISNULL(JSON_VALUE(@P_json,'$.no_1'),'')
			IF  EXISTS (select 1	FROM F4204
									WHERE 
										F4204.company_cd		=	@P_company_cd
									AND F4204.fiscal_year		=	@w_fiscal_year
									AND F4204.employee_cd		=	@w_employee_cd
									AND F4204.report_kind		=	@w_report_kind
									AND F4204.report_no			=	@w_report_no
									AND F4204.reaction_no		=	@w_reaction_no
									AND F4204.del_datetime		IS NULL )
			BEGIN
				IF  EXISTS (select 1 FROM F4204_tr
									WHERE 
										F4204_tr.company_cd			=	@P_company_cd
									AND F4204_tr.fiscal_year		=	@w_fiscal_year
									AND F4204_tr.employee_cd		=	@w_employee_cd
									AND F4204_tr.report_kind		=	@w_report_kind
									AND F4204_tr.report_no			=	@w_report_no
									AND F4204_tr.reaction_no		=	@w_reaction_no
									AND F4204_tr.trans_user			=	@P_trans_user ) 
				BEGIN		
					UPDATE F4204_tr SET 
							comment				=	@w_comment
						,	upd_user			=	@P_cre_user
						,	upd_ip				=	@P_cre_ip
						,	upd_prg				=	@w_screen_id
						,	upd_datetime		=	@w_time
						,	del_user			=	SPACE(0)
						,	del_ip				=	SPACE(0)
						,	del_prg				=	SPACE(0)
						,	del_datetime		=	NULL
					FROM F4204_tr
					WHERE 
						F4204_tr.company_cd			=	@P_company_cd
					AND F4204_tr.fiscal_year		=	@w_fiscal_year
					AND F4204_tr.employee_cd		=	@w_employee_cd
					AND F4204_tr.report_kind		=	@w_report_kind
					AND F4204_tr.report_no			=	@w_report_no
					AND F4204_tr.reaction_no		=	@w_reaction_no
					AND F4204_tr.trans_user			=	@P_trans_user
				END
				ELSE
				BEGIN
					INSERT INTO F4204_tr
					SELECT 
						@P_company_cd
					,	@w_fiscal_year
					,	@w_employee_cd
					,	@w_report_kind
					,	@w_report_no
					,	@w_reaction_no
					,	@P_trans_user
					,	@w_comment			
					,	@P_cre_user
					,	@P_cre_ip
					,	@w_screen_id
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
				END			
			END
		END
		IF(@w_type = 'F4202_tr') AND @P_trans_user <> ''
		BEGIN
			SET @w_question_no				=	ISNULL(JSON_VALUE(@P_json,'$.no_1'),'')
			SET @w_answer_sentence			=	ISNULL(JSON_VALUE(@P_json,'$.comment'),'')
			SET @w_approver_comment_1		=	ISNULL(JSON_VALUE(@P_json,'$.comment_1'),'')
			SET @w_approver_comment_2		=	ISNULL(JSON_VALUE(@P_json,'$.comment_2'),'')
			SET @w_approver_comment_3		=	ISNULL(JSON_VALUE(@P_json,'$.comment_3'),'')
			SET @w_approver_comment_4		=	ISNULL(JSON_VALUE(@P_json,'$.comment_4'),'')
			--
			IF  EXISTS (select 1	FROM F4202
									WHERE 
										F4202.company_cd		=	@P_company_cd
									AND F4202.fiscal_year		=	@w_fiscal_year
									AND F4202.employee_cd		=	@w_employee_cd									
									AND F4202.report_kind		=	@w_report_kind
									AND F4202.report_no			=	@w_report_no
									AND F4202.question_no		=	@w_question_no
									AND F4202.del_datetime		IS NULL ) 
			BEGIN
				IF  EXISTS (select 1 FROM F4202_tr
									WHERE 
										F4202_tr.company_cd			=	@P_company_cd
									AND F4202_tr.fiscal_year		=	@w_fiscal_year
									AND F4202_tr.employee_cd		=	@w_employee_cd									
									AND F4202_tr.report_kind		=	@w_report_kind
									AND F4202_tr.report_no			=	@w_report_no
									AND F4202_tr.question_no		=	@w_question_no
									AND F4202_tr.trans_user			=	@P_trans_user)
				BEGIN
					UPDATE F4202_tr SET 
						answer_sentence		=	@w_answer_sentence

					,	approver_comment_1	=	@w_approver_comment_1
					,	approver_comment_2	=	@w_approver_comment_2
					,	approver_comment_3	=	@w_approver_comment_3
					,	approver_comment_4	=	@w_approver_comment_4
					,	upd_user			=	@P_cre_user
					,	upd_ip				=	@P_cre_ip
					,	upd_prg				=	@w_screen_id
					,	upd_datetime		=	@w_time
					,	del_user			=	SPACE(0)
					,	del_ip				=	SPACE(0)
					,	del_prg				=	SPACE(0)
					,	del_datetime		=	NULL
					FROM F4202_tr
					WHERE 
						F4202_tr.company_cd			=	@P_company_cd
					AND F4202_tr.fiscal_year		=	@w_fiscal_year
					AND F4202_tr.employee_cd		=	@w_employee_cd
					AND F4202_tr.report_kind		=	@w_report_kind
					AND F4202_tr.report_no			=	@w_report_no
					AND F4202_tr.question_no		=	@w_question_no
					AND F4202_tr.trans_user			=	@P_trans_user
				END
				ELSE
				BEGIN
					iF not (@w_answer_sentence = '' and @w_approver_comment_1 = ''and @w_approver_comment_2 = ''and @w_approver_comment_3 = ''and @w_approver_comment_4 = '')
					BEGIN
					INSERT INTO F4202_tr
					SELECT 
						@P_company_cd
					,	@w_fiscal_year
					,	@w_employee_cd
					,	@w_report_kind
					,	@w_report_no
					,	@w_question_no
					,	@P_trans_user
					,	@w_answer_sentence
					,	@w_approver_comment_1
					,	@w_approver_comment_2
					,	@w_approver_comment_3
					,	@w_approver_comment_4		
					,	@P_cre_user
					,	@P_cre_ip
					,	@w_screen_id
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					END
				END
			END
		END
		IF(@w_type = 'F4202_tr') AND @P_trans_user = ''
		BEGIN
			SET @w_question_no				=	ISNULL(JSON_VALUE(@P_json,'$.no_1'),'')
			SET @w_answer_sentence			=	ISNULL(JSON_VALUE(@P_json,'$.comment'),'')
			SET @w_approver_comment			=	ISNULL(JSON_VALUE(@P_json,'$.approver_comment'),'')
			SET @w_status_cd				=	ISNULL(JSON_VALUE(@P_json,'$.status_cd'),0)
			SET @w_login_use_typ			=	ISNULL(JSON_VALUE(@P_json,'$.login_user_type'),0)
			IF  EXISTS (select 1	FROM F4202
									WHERE 
										F4202.company_cd		=	@P_company_cd
									AND F4202.fiscal_year		=	@w_fiscal_year
									AND F4202.employee_cd		=	@w_employee_cd									
									AND F4202.report_kind		=	@w_report_kind
									AND F4202.report_no			=	@w_report_no
									AND F4202.question_no		=	@w_question_no
									AND F4202.del_datetime		IS NULL ) 
			BEGIN
				IF  EXISTS (select 1 FROM F4202_tr
									WHERE 
										F4202_tr.company_cd			=	@P_company_cd
									AND F4202_tr.fiscal_year		=	@w_fiscal_year
									AND F4202_tr.employee_cd		=	@w_employee_cd									
									AND F4202_tr.report_kind		=	@w_report_kind
									AND F4202_tr.report_no			=	@w_report_no
									AND F4202_tr.question_no		=	@w_question_no
									AND F4202_tr.trans_user			=	@P_trans_user)
				BEGIN
					IF @w_status_cd = 1 AND @w_login_use_typ IN (1,4)
					BEGIN 
						UPDATE F4202_tr SET 
							answer_sentence		=	@w_answer_sentence
						,	approver_comment_1	=	SPACE(0)
						,	approver_comment_2	=	SPACE(0)
						,	approver_comment_3	=	SPACE(0)
						,	approver_comment_4	=	SPACE(0)
						,	upd_user			=	@P_cre_user
						,	upd_ip				=	@P_cre_ip
						,	upd_prg				=	@w_screen_id
						,	upd_datetime		=	@w_time
						,	del_user			=	SPACE(0)
						,	del_ip				=	SPACE(0)
						,	del_prg				=	SPACE(0)
						,	del_datetime		=	NULL
						FROM F4202_tr
						WHERE 
							F4202_tr.company_cd			=	@P_company_cd
						AND F4202_tr.fiscal_year		=	@w_fiscal_year
						AND F4202_tr.employee_cd		=	@w_employee_cd
						AND F4202_tr.report_kind		=	@w_report_kind
						AND F4202_tr.report_no			=	@w_report_no
						AND F4202_tr.question_no		=	@w_question_no
						AND F4202_tr.trans_user			=	@P_trans_user
					END
					IF @w_status_cd IN (2,3,4,5,6) AND @w_login_use_typ IN (21,22,23,24,3,4)
					BEGIN
						UPDATE F4202_tr SET 
							approver_comment_1	=	CASE 
														WHEN @w_status_cd = 2
														THEN @w_approver_comment
														ELSE F4202_tr.approver_comment_1
													END
						,	approver_comment_2	=	CASE 
														WHEN @w_status_cd = 3
														THEN @w_approver_comment
														ELSE F4202_tr.approver_comment_2
													END
						,	approver_comment_3	=	CASE 
														WHEN @w_status_cd = 4
														THEN @w_approver_comment
														ELSE F4202_tr.approver_comment_3
													END
						,	approver_comment_4	=	CASE 
														WHEN @w_status_cd = 5
														THEN @w_approver_comment
														ELSE F4202_tr.approver_comment_4
													END
						,	upd_user			=	@P_cre_user
						,	upd_ip				=	@P_cre_ip
						,	upd_prg				=	@w_screen_id
						,	upd_datetime		=	@w_time
						,	del_user			=	SPACE(0)
						,	del_ip				=	SPACE(0)
						,	del_prg				=	SPACE(0)
						,	del_datetime		=	NULL
						FROM F4202_tr
						WHERE 
							F4202_tr.company_cd			=	@P_company_cd
						AND F4202_tr.fiscal_year		=	@w_fiscal_year
						AND F4202_tr.employee_cd		=	@w_employee_cd
						AND F4202_tr.report_kind		=	@w_report_kind
						AND F4202_tr.report_no			=	@w_report_no
						AND F4202_tr.question_no		=	@w_question_no
						AND F4202_tr.trans_user			=	@P_trans_user
					END
				END
				ELSE
				BEGIN
				-- REPORT SAVE
					INSERT INTO F4202_tr
					SELECT 
						@P_company_cd
					,	@w_fiscal_year
					,	@w_employee_cd
					,	@w_report_kind
					,	@w_report_no
					,	@w_question_no
					,	@P_trans_user
					,	@w_answer_sentence
					,	CASE 
							WHEN @w_status_cd = 2
							THEN @w_approver_comment
							ELSE SPACE(0)
						END
					,	CASE 
							WHEN @w_status_cd = 3
							THEN @w_approver_comment
							ELSE SPACE(0)
						END
					,	CASE 
							WHEN @w_status_cd = 4
							THEN @w_approver_comment
							ELSE SPACE(0)
						END
					,	CASE 
							WHEN @w_status_cd = 5
							THEN @w_approver_comment
							ELSE SPACE(0)
						END
					,	@P_cre_user
					,	@P_cre_ip
					,	@w_screen_id
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
				END
			END
		END
		IF(@w_type = 'F4205_tr')
		BEGIN
			SET @w_comment		=	ISNULL(JSON_VALUE(@P_json,'$.comment'),'')
			SET @w_reaction_no	=	ISNULL(JSON_VALUE(@P_json,'$.no_1'),'')
			SET @w_reply_no		=	ISNULL(JSON_VALUE(@P_json,'$.no_2'),0)
			--
			IF EXISTS (select 1	FROM F4205
								WHERE 
									F4205.company_cd		=	@P_company_cd
								AND F4205.fiscal_year		=	@w_fiscal_year
								AND F4205.employee_cd		=	@w_employee_cd
								AND F4205.report_kind		=	@w_report_kind
								AND F4205.report_no			=	@w_report_no
								AND F4205.reaction_no		=	@w_reaction_no									
								AND F4205.reply_no			=	@w_reply_no												
								AND F4205.del_datetime		IS NULL ) 
			BEGIN
				IF EXISTS (select 1 FROM F4205_tr
									WHERE 
										F4205_tr.company_cd			=	@P_company_cd
									AND F4205_tr.fiscal_year		=	@w_fiscal_year
									AND F4205_tr.employee_cd		=	@w_employee_cd
									AND F4205_tr.report_kind		=	@w_report_kind
									AND F4205_tr.report_no			=	@w_report_no
									AND F4205_tr.reaction_no		=	@w_reaction_no									
									AND F4205_tr.reply_no			=	@w_reply_no
									AND F4205_tr.trans_user			=	@P_trans_user)
				BEGIN
					--f4205_tr
					UPDATE F4205_tr SET 
						comment				=	@w_comment
					,	upd_user			=	@P_cre_user
					,	upd_ip				=	@P_cre_ip
					,	upd_prg				=	@w_screen_id
					,	upd_datetime		=	@w_time
					,	del_user			=	SPACE(0)
					,	del_ip				=	SPACE(0)
					,	del_prg				=	SPACE(0)
					,	del_datetime		=	NULL
					FROM F4205_tr
					WHERE 
						F4205_tr.company_cd			=	@P_company_cd
					AND F4205_tr.fiscal_year		=	@w_fiscal_year
					AND F4205_tr.employee_cd		=	@w_employee_cd
					AND F4205_tr.report_kind		=	@w_report_kind
					AND F4205_tr.report_no			=	@w_report_no
					AND F4205_tr.reaction_no		=	@w_reaction_no
					AND F4205_tr.reply_no			=	@w_reply_no
					AND F4205_tr.trans_user			=	@P_trans_user
				END
				ELSE
				BEGIN
					INSERT INTO F4205_tr
					SELECT 
						@P_company_cd
					,	@w_fiscal_year
					,	@w_employee_cd
					,	@w_report_kind
					,	@w_report_no
					,	@w_reaction_no
					,	@w_reply_no
					,	@P_trans_user
					,	@w_comment			
					,	@P_cre_user
					,	@P_cre_ip
					,	@w_screen_id
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
				END
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by
END

GO
