IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_rI2010_ACT1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_rI2010_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_rI2010_ACT5] 782,2023,'890',4,1,'890'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	SAVE REPORT (F4200, F4201, F4201_TEMP,F4202, F4202_TEMP)
--*  
--*  作成日/create date			:	2023/05/08						
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:	2023/08/29
--*　更新者/updater				:	viettd
--*　更新内容/update content		:	add F4120 process
--*   					
--*  更新日/update date			:	2024/03/26
--*　更新者/updater				:	viettd
--*　更新内容/update content		:	add set_defualt for reaction_cd
--*   					
--*  更新日/update date			:	2024/05/31
--*　更新者/updater				:	viettd
--*　更新内容/update content		:	fix bug admin is viewer & approver
--*  
--****************************************************************************************
CREATE PROCEDURE [SPC_rI2010_ACT1] 
	@P_json						NVARCHAR(MAX)	=	''
	--
,	@P_login_use_typ			TINYINT			=	0
,	@P_login_employee_cd		NVARCHAR(10)	=	''
,	@P_cre_user					NVARCHAR(50)	=	''
,	@P_cre_ip					NVARCHAR(50)	=	''
,	@P_company_cd				SMALLINT		=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2					=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@w_order_by_min				int							=	0
	,	@w_screen_id				nvarchar(20)				=	'rI2010'
	--
	,	@w_fiscal_year				smallint					=	0
	,	@w_employee_cd				nvarchar(10)				=	''
	,	@w_report_kind				smallint					=	0
	,	@w_report_no				smallint					=	0
	,	@w_report_date				date						=	NULL
	,	@w_adequacy_kbn				smallint					=	0
	,	@w_busyness_kbn				smallint					=	0
	,	@w_other_kbn				smallint					=	0
	,	@w_reaction_cd				smallint					=	0
	,	@w_free_comment				nvarchar(1200)				=	''
	,	@w_comment					nvarchar(1200)				=	''
	,	@w_set_default				tinyint						=	0
	,	@w_admin_and_is_approver	tinyint						=	0	-- add by viettd 2024/05/31
	,	@w_admin_and_is_viewer		tinyint						=	0	-- add by viettd 2024/05/31
	,	@w_reaction_typ				smallint					=	0	-- ログインユーザーが承認者の場合は「１」、閲覧者の場合は「2」
	,	@w_mode						smallint					=	0	--	1.一時保存　2.提出 3.一時保存（Footer）4.コメント  5.承認する 6.確認しました
	,	@w_status_cd				smallint					=	0
	,	@w_language					smallint					=	0
	,	@w_infomation_title			nvarchar(30)				=	''
	,	@w_infomation_message		nvarchar(500)				=	''
	,	@w_infomation_message_typ1	nvarchar(500)				=	''
	,	@w_infomation_title_typ1	nvarchar(30)				=	''
	--
	,	@w_approver_employee_cd_1	nvarchar(10)				=	''
	,	@w_approver_employee_cd_2	nvarchar(10)				=	''
	,	@w_approver_employee_cd_3	nvarchar(10)				=	''
	,	@w_approver_employee_cd_4	nvarchar(10)				=	''
	,	@w_max_status_cd			smallint					=	0
	,	@w_approver_cd_next			nvarchar(10)				=	''
	,	@w_check_f4204				smallint					=	0
	-- #TABLE_JSON
	CREATE TABLE #TABLE_JSON (
		id					int		identity(1,1)
	,	question_no			tinyint
	,	answer_sentence		nvarchar(1200)
	,	answer_number		numeric(3,1)
	,	answer_select		smallint
	,	approver_comment	nvarchar(1200)
	)
	-- F4202_temp history
	CREATE TABLE #TABLE_F4202_temp_H (
		company_cd				smallint
	,	fiscal_year				smallint
	,	employee_cd				nvarchar(10)
	,	report_kind				smallint
	,	report_no				smallint
	,	question_no				tinyint
	,	keep_user				nvarchar(50)
	,	cre_user				nvarchar(50)
	,	cre_ip					nvarchar(50)
	,	cre_prg					nvarchar(50)
	,	cre_datetime			datetime
	)
	-- F4202 history
	CREATE TABLE #TABLE_F4202_H (
		company_cd				smallint
	,	fiscal_year				smallint
	,	employee_cd				nvarchar(10)
	,	report_kind				smallint
	,	report_no				smallint
	,	question_no				tinyint
	,	cre_user				nvarchar(50)
	,	cre_ip					nvarchar(50)
	,	cre_prg					nvarchar(50)
	,	cre_datetime			datetime
	)
	-- add by viettd 2023/08/29
	-- F4121
	CREATE TABLE #TABLE_F4121 (
		id						int			identity(1,1)
	,	company_cd				smallint
	,	fiscal_year				smallint
	,	employee_cd				nvarchar(10)
	,	report_kind				smallint
	,	viewer_employee_cd		nvarchar(10)
	)
	-- VALIDATE JSON
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22									-- mã lỗi (trùng với mã trong bảng message) 					
		,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
		GOTO COMPLETE_QUERY
	END
	-- GET VALUE OF JSON
	SET @w_fiscal_year				=	ISNULL(JSON_VALUE(@P_json,'$.fiscal_year'),0)
	SET @w_employee_cd				=	ISNULL(JSON_VALUE(@P_json,'$.employee_cd'),'')
	SET @w_report_kind				=	ISNULL(JSON_VALUE(@P_json,'$.report_kind'),0)
	SET @w_report_no				=	ISNULL(JSON_VALUE(@P_json,'$.report_no'),0)
	SET @w_report_date				=	IIF(ISNULL(JSON_VALUE(@P_json,'$.report_date'),'') = '',NULL,JSON_VALUE(@P_json,'$.report_date'))
	SET @w_adequacy_kbn				=	ISNULL(JSON_VALUE(@P_json,'$.adequacy_kbn'),0)
	SET @w_busyness_kbn				=	ISNULL(JSON_VALUE(@P_json,'$.busyness_kbn'),0)
	SET @w_other_kbn				=	ISNULL(JSON_VALUE(@P_json,'$.other_kbn'),0)
	SET @w_reaction_cd				=	ISNULL(JSON_VALUE(@P_json,'$.reaction_cd'),0)
	SET @w_free_comment				=	ISNULL(JSON_VALUE(@P_json,'$.free_comment'),'')
	SET @w_comment					=	ISNULL(JSON_VALUE(@P_json,'$.comment'),'')
	SET @w_set_default				=	ISNULL(JSON_VALUE(@P_json,'$.set_default'),0)
	SET @w_admin_and_is_approver	=	ISNULL(JSON_VALUE(@P_json,'$.admin_and_is_approver'),0)
	SET @w_admin_and_is_viewer		=	ISNULL(JSON_VALUE(@P_json,'$.admin_and_is_viewer'),0)
	SET @w_mode						=	ISNULL(JSON_VALUE(@P_json,'$.mode'),0)
	-- GET TABLE FROM JSON
	INSERT INTO #TABLE_JSON
	SELECT
		ISNULL(json_table.question_no,0)		
	,	ISNULL(json_table.answer_sentence,'')
	,	ISNULL(json_table.answer_number,0)					
	,	ISNULL(json_table.answer_select,0)					
	,	ISNULL(json_table.approver_comment,'')					
	FROM OPENJSON(@P_json,'$.questions') WITH(
		question_no			tinyint
	,	answer_sentence		nvarchar(1200)
	,	answer_number		numeric(3,1)
	,	answer_select		smallint
	,	approver_comment	nvarchar(1200)
	)AS json_table
	-- GET @w_language
	SELECT 
		@w_language = ISNULL(S0010.[language],0)
	FROM S0010
	WHERE
		S0010.company_cd		=	@P_company_cd
	AND S0010.[user_id]			=	@P_cre_user
	AND S0010.del_datetime IS NULL
	-- GET @w_infomation_title
	SET @w_infomation_title = IIF(@w_language = 2, 'You have a comment', N'コメントがあります')
	SELECT 
		@w_infomation_message = CASE 
									WHEN @w_language = 2 
									THEN IIF(ISNULL(F4200.title,'') = '',CAST(ISNULL(F4200.times,0) AS NVARCHAR(10))+SPACE(1)+N'Times',ISNULL(F4200.title,'')) 
									+ N': You has a comment from '+ISNULL(M0070.employee_nm,'')
									ELSE IIF(ISNULL(F4200.title,'') = '',CAST(ISNULL(F4200.times,0) AS NVARCHAR(10))+N'回',ISNULL(F4200.title,'')) 
									+ N'に'+ISNULL(M0070.employee_nm,'') + 'さんからコメントがあります。'
								END
	,	@w_infomation_message_typ1	=	CASE 
											WHEN @w_language = 2 
											THEN　N'Please check '+ISNULL(M0070_RPOTRER.employee_nm,'') + '''s '+ IIF(ISNULL(F4200.title,'') = '',CAST(ISNULL(F4200.times,0) AS NVARCHAR(10))+SPACE(1)+N'Times',ISNULL(F4200.title,'')) 
											ELSE ISNULL(M0070_RPOTRER.employee_nm,'') + 'さんの' + IIF(ISNULL(F4200.title,'') = '',CAST(ISNULL(F4200.times,0) AS NVARCHAR(10))+N'回',ISNULL(F4200.title,'')) 
											+ N'を確認してください'
										END
	,	@w_infomation_title_typ1	=	CASE
											WHEN @w_language = 2
											THEN IIF(LEN('You have a report to approve('+ISNULL(M0070_RPOTRER.employee_nm,'')+ N')') > 30, SUBSTRING(('You have a report to approve('+ISNULL(M0070_RPOTRER.employee_nm,'')+ N')'),1,27)+'...','You have a report to approve('+ISNULL(M0070_RPOTRER.employee_nm,'')+ N')')
											ELSE IIF(LEN(N'承認対象の報告書があります('+ISNULL(M0070_RPOTRER.employee_nm,'')+ N'さん)') > 30, SUBSTRING((N'承認対象の報告書があります('+ISNULL(M0070_RPOTRER.employee_nm,'')+ N'さん)'),1,27)+'...',N'承認対象の報告書があります('+ISNULL(M0070_RPOTRER.employee_nm,'')+ N'さん)')
										END
	,	@w_approver_employee_cd_1	=	ISNULL(F4200.approver_employee_cd_1,'')
	,	@w_approver_employee_cd_2	=	ISNULL(F4200.approver_employee_cd_2,'')
	,	@w_approver_employee_cd_3	=	ISNULL(F4200.approver_employee_cd_3,'')
	,	@w_approver_employee_cd_4	=	ISNULL(F4200.approver_employee_cd_4,'')
	,	@w_max_status_cd			=	CASE 
											WHEN ISNULL(F4200.approver_employee_cd_4,'') <>	SPACE(0)
											THEN 5
											WHEN ISNULL(F4200.approver_employee_cd_3,'') <>	SPACE(0)
											THEN 4
											WHEN ISNULL(F4200.approver_employee_cd_2,'') <>	SPACE(0)
											THEN 3
											WHEN ISNULL(F4200.approver_employee_cd_1,'') <>	SPACE(0)
											THEN 2
											ELSE 0
										END
	,	@w_status_cd				=	ISNULL(F4200.status_cd,0)
	FROM F4200
	LEFT OUTER JOIN M0070 ON (
		@P_company_cd			=	M0070.company_cd
	AND @P_login_employee_cd	=	M0070.employee_cd
	)
	LEFT OUTER JOIN M0070 AS M0070_RPOTRER ON (
		F4200.company_cd		=	M0070_RPOTRER.company_cd
	AND F4200.employee_cd		=	M0070_RPOTRER.employee_cd
	)
	WHERE
		F4200.company_cd		=	@P_company_cd
	AND F4200.fiscal_year		=	@w_fiscal_year
	AND F4200.employee_cd		=	@w_employee_cd
	AND F4200.report_kind		=	@w_report_kind
	AND F4200.report_no			=	@w_report_no
	AND F4200.del_datetime IS NULL
	----------------------------------
	BEGIN TRY
	BEGIN TRANSACTION
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- ① status_cd=1（未提出）	- 報告者 & ADMIN
			IF @w_status_cd = 1 AND @P_login_use_typ IN (1,4)
			BEGIN
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- F4201 & F4201_temp
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- MODE 1.一時保存
				IF @w_mode = 1
				BEGIN
					IF EXISTS (SELECT 1 FROM F4201_temp
										WHERE
											company_cd = @P_company_cd
										AND fiscal_year	=	@w_fiscal_year
										AND employee_cd	=	@w_employee_cd
										AND report_kind	=	@w_report_kind
										AND report_no	=	@w_report_no
										AND keep_user	=	@P_cre_user)
					BEGIN
						UPDATE F4201_temp SET 
							keep_datetime	=	@w_time
						,	report_date		=	@w_report_date
						,	adequacy_kbn	=	@w_adequacy_kbn
						,	busyness_kbn	=	@w_busyness_kbn
						,	other_kbn		=	@w_other_kbn
						,	free_comment	=	@w_free_comment
						,	upd_user		=	@P_cre_user
						,	upd_ip			=	@P_cre_ip
						,	upd_prg			=	@w_screen_id
						,	upd_datetime	=	@w_time
						,	del_user		=	SPACE(0)
						,	del_ip			=	SPACE(0)
						,	del_prg			=	SPACE(0)
						,	del_datetime	=	NULL
						FROM F4201_temp
						WHERE 
							F4201_temp.company_cd		=	@P_company_cd
						AND F4201_temp.fiscal_year		=	@w_fiscal_year
						AND F4201_temp.employee_cd		=	@w_employee_cd
						AND F4201_temp.report_kind		=	@w_report_kind
						AND F4201_temp.report_no		=	@w_report_no
						AND F4201_temp.keep_user		=	@P_cre_user
					END
					ELSE
					BEGIN
						INSERT INTO F4201_temp
						SELECT 
							@P_company_cd
						,	@w_fiscal_year
						,	@w_employee_cd
						,	@w_report_kind
						,	@w_report_no
						,	@P_cre_user
						,	@w_time
						,	@w_report_date
						,	@w_adequacy_kbn
						,	@w_busyness_kbn
						,	@w_other_kbn
						,	@w_free_comment
						,	@P_cre_user
						,	@P_cre_ip
						,	@w_screen_id
						,	@w_time
						,	SPACE(0)
						,	SPACE(0)
						,	SPACE(0)
						,	NULL
						,	SPACE(0)
						,	SPACE(0)
						,	SPACE(0)
						,	NULL
					END
				END
				-- MODE 2.提出
				IF @w_mode = 2
				BEGIN
					IF EXISTS (SELECT 1 FROM F4201
										WHERE
											company_cd =	@P_company_cd
										AND fiscal_year	=	@w_fiscal_year
										AND employee_cd	=	@w_employee_cd
										AND report_kind	=	@w_report_kind
										AND report_no	=	@w_report_no)
					BEGIN
						UPDATE F4201 SET 
							--report_date			=	@w_report_date	
							report_date			=	@w_time				-- report_date edited by viettd 2023/10/25 
						,	adequacy_kbn		=	@w_adequacy_kbn
						,	busyness_kbn		=	@w_busyness_kbn
						,	other_kbn			=	@w_other_kbn
						,	free_comment		=	@w_free_comment
						,	submission_user		=	@P_cre_user
						,	submission_datetime	=	@w_time
						,	upd_user			=	@P_cre_user
						,	upd_ip				=	@P_cre_ip
						,	upd_prg				=	@w_screen_id
						,	upd_datetime		=	@w_time
						,	del_user			=	SPACE(0)
						,	del_ip				=	SPACE(0)
						,	del_prg				=	SPACE(0)
						,	del_datetime		=	NULL
						FROM F4201
						WHERE 
							F4201.company_cd		=	@P_company_cd
						AND F4201.fiscal_year		=	@w_fiscal_year
						AND F4201.employee_cd		=	@w_employee_cd
						AND F4201.report_kind		=	@w_report_kind
						AND F4201.report_no			=	@w_report_no
					END
					ELSE
					BEGIN
						INSERT INTO F4201
						SELECT 
							@P_company_cd
						,	@w_fiscal_year
						,	@w_employee_cd
						,	@w_report_kind
						,	@w_report_no
						--,	@w_report_date
						,	@w_time				-- report_date edited by viettd 2023/10/25 
						,	@w_adequacy_kbn
						,	@w_busyness_kbn
						,	@w_other_kbn
						,	@w_free_comment
						,	@P_cre_user				--	submission_user
						,	@w_time					--	submission_datetime
						,	@P_cre_user
						,	@P_cre_ip
						,	@w_screen_id
						,	@w_time
						,	SPACE(0)
						,	SPACE(0)
						,	SPACE(0)
						,	NULL
						,	SPACE(0)
						,	SPACE(0)
						,	SPACE(0)
						,	NULL
					END
					-- DELETE F4201_temp
					DELETE D FROM F4201_temp AS D
					WHERE 
						D.company_cd		=	@P_company_cd
					AND D.fiscal_year		=	@w_fiscal_year
					AND D.employee_cd		=	@w_employee_cd
					AND D.report_kind		=	@w_report_kind
					AND D.report_no			=	@w_report_no
					AND D.keep_user			=	@P_cre_user
				END
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- F4202 & F4202_temp
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- MODE 1.一時保存
				IF @w_mode = 1
				BEGIN
					-- HISTORY
					INSERT INTO #TABLE_F4202_temp_H
					SELECT 
						company_cd				
					,	fiscal_year				
					,	employee_cd				
					,	report_kind				
					,	report_no				
					,	question_no				
					,	keep_user				
					,	cre_user				
					,	cre_ip					
					,	cre_prg					
					,	cre_datetime				
					FROM F4202_temp
					WHERE 
						F4202_temp.company_cd		=	@P_company_cd
					AND F4202_temp.fiscal_year		=	@w_fiscal_year
					AND F4202_temp.employee_cd		=	@w_employee_cd
					AND F4202_temp.report_kind		=	@w_report_kind
					AND F4202_temp.report_no		=	@w_report_no
					AND F4202_temp.keep_user		=	@P_cre_user
					-- DEL
					DELETE D FROM F4202_temp AS D
					WHERE 
						D.company_cd		=	@P_company_cd
					AND D.fiscal_year		=	@w_fiscal_year
					AND D.employee_cd		=	@w_employee_cd
					AND D.report_kind		=	@w_report_kind
					AND D.report_no			=	@w_report_no
					AND D.keep_user			=	@P_cre_user
					-- ADD
					INSERT INTO F4202_temp
					SELECT 
						@P_company_cd
					,	@w_fiscal_year
					,	@w_employee_cd
					,	@w_report_kind
					,	@w_report_no
					,	#TABLE_JSON.question_no
					,	@P_cre_user					--	keep_user
					,	@w_time						--	keep_datetime
					,	#TABLE_JSON.answer_sentence
					,	#TABLE_JSON.answer_number
					,	#TABLE_JSON.answer_select
					,	SPACE(0)					--	approver_comment
					,	@P_cre_user
					,	@P_cre_ip
					,	@w_screen_id
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #TABLE_JSON
					-- UPDATE HISTORY
					UPDATE F4202_temp SET 
						cre_user		=	H.cre_user
					,	cre_ip			=	H.cre_ip
					,	cre_prg			=	H.cre_prg
					,	cre_datetime	=	H.cre_datetime
					FROM F4202_temp
					INNER JOIN #TABLE_F4202_temp_H AS H ON (
						F4202_temp.company_cd		=	H.company_cd
					AND F4202_temp.fiscal_year		=	H.fiscal_year
					AND F4202_temp.employee_cd		=	H.employee_cd
					AND F4202_temp.report_kind		=	H.report_kind
					AND F4202_temp.report_no		=	H.report_no
					AND F4202_temp.question_no		=	H.question_no
					AND F4202_temp.keep_user		=	H.keep_user
					)
				END
				-- MODE 2.提出
				IF @w_mode = 2
				BEGIN
					-- HISTORY
					INSERT INTO #TABLE_F4202_H
					SELECT 
						company_cd				
					,	fiscal_year				
					,	employee_cd				
					,	report_kind				
					,	report_no				
					,	question_no				
					,	cre_user				
					,	cre_ip					
					,	cre_prg					
					,	cre_datetime				
					FROM F4202
					WHERE 
						F4202.company_cd		=	@P_company_cd
					AND F4202.fiscal_year		=	@w_fiscal_year
					AND F4202.employee_cd		=	@w_employee_cd
					AND F4202.report_kind		=	@w_report_kind
					AND F4202.report_no			=	@w_report_no
					-- DEL
					DELETE D FROM F4202 AS D
					WHERE 
						D.company_cd		=	@P_company_cd
					AND D.fiscal_year		=	@w_fiscal_year
					AND D.employee_cd		=	@w_employee_cd
					AND D.report_kind		=	@w_report_kind
					AND D.report_no			=	@w_report_no
					-- ADD
					INSERT INTO F4202
					SELECT 
						@P_company_cd
					,	@w_fiscal_year
					,	@w_employee_cd
					,	@w_report_kind
					,	@w_report_no
					,	#TABLE_JSON.question_no
					,	#TABLE_JSON.answer_sentence
					,	#TABLE_JSON.answer_number
					,	#TABLE_JSON.answer_select
					,	SPACE(0)				--	approver_comment_1
					,	SPACE(0)				--	approver_comment_2
					,	SPACE(0)				--	approver_comment_3
					,	SPACE(0)				--	approver_comment_4
					,	@P_cre_user
					,	@P_cre_ip
					,	@w_screen_id
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #TABLE_JSON
					-- UPDATE HISTORY
					UPDATE F4202 SET 
						cre_user		=	H.cre_user
					,	cre_ip			=	H.cre_ip
					,	cre_prg			=	H.cre_prg
					,	cre_datetime	=	H.cre_datetime
					FROM F4202
					INNER JOIN #TABLE_F4202_H AS H ON (
						F4202.company_cd		=	H.company_cd
					AND F4202.fiscal_year		=	H.fiscal_year
					AND F4202.employee_cd		=	H.employee_cd
					AND F4202.report_kind		=	H.report_kind
					AND F4202.report_no			=	H.report_no
					AND F4202.question_no		=	H.question_no
					)
					-- UPDATE 
					UPDATE F4202_tr SET 
						upd_user			=	@P_cre_user
					,	upd_ip				=	@P_cre_ip
					,	upd_prg				=	@w_screen_id
					,	upd_datetime		=	@w_time
					,	approver_comment_1	=	SPACE(0)
					,	approver_comment_2	=	SPACE(0)
					,	approver_comment_3	=	SPACE(0)
					,	approver_comment_4	=	SPACE(0)
					,	del_user			=	SPACE(0)
					,	del_ip				=	SPACE(0)
					,	del_prg				=	SPACE(0)
					,	del_datetime		=	NULL
					FROM F4202_tr
					INNER JOIN #TABLE_JSON ON (
						F4202_tr.question_no		=	#TABLE_JSON.question_no
					)
					WHERE 
						F4202_tr.company_cd		=	@P_company_cd
					AND F4202_tr.fiscal_year	=	@w_fiscal_year
					AND F4202_tr.employee_cd	=	@w_employee_cd
					AND F4202_tr.report_kind	=	@w_report_kind
					AND F4202_tr.report_no		=	@w_report_no
					-- DELETE F4202_temp
					DELETE D FROM F4202_temp AS D
					WHERE 
						D.company_cd		=	@P_company_cd
					AND D.fiscal_year		=	@w_fiscal_year
					AND D.employee_cd		=	@w_employee_cd
					AND D.report_kind		=	@w_report_kind
					AND D.report_no			=	@w_report_no
					AND D.keep_user			=	@P_cre_user
				END
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- F4200
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- MODE 2.提出
				IF @w_mode = 2
				BEGIN
					UPDATE F4200 SET	
						status_cd		=	CASE 
												WHEN @w_approver_employee_cd_1 = SPACE(0)
												THEN 6	--	承認済み
												ELSE 2	--	一次承認中
											END
					,	upd_user		=	@P_cre_user
					,	upd_ip			=	@P_cre_ip
					,	upd_prg			=	@w_screen_id
					,	upd_datetime	=	@w_time
					FROM F4200
					WHERE
						F4200.company_cd		=	@P_company_cd
					AND F4200.fiscal_year		=	@w_fiscal_year
					AND F4200.employee_cd		=	@w_employee_cd
					AND F4200.report_kind		=	@w_report_kind
					AND F4200.report_no			=	@w_report_no
				END
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- F4120
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- add by viettd 2023/08/29
				-- MODE 2.提出
				IF @w_mode = 2
				BEGIN
					-- GET #TABLE_F4121
					INSERT INTO #TABLE_F4121
					SELECT 
						F4121.company_cd
					,	F4121.fiscal_year
					,	F4121.employee_cd
					,	F4121.report_kind
					,	F4121.viewer_employee_cd
					FROM F4121
					WHERE 
						F4121.company_cd			=	@P_company_cd
					AND F4121.fiscal_year			=	@w_fiscal_year
					AND F4121.employee_cd			=	@w_employee_cd
					AND F4121.report_kind			=	@w_report_kind
					AND (
						@w_approver_employee_cd_1	=	''
					OR	@w_approver_employee_cd_1	<>	'' AND F4121.viewer_employee_cd	<>	@w_approver_employee_cd_1
					)
					AND (
						@w_approver_employee_cd_2	=	''
					OR	@w_approver_employee_cd_2	<>	'' AND F4121.viewer_employee_cd	<>	@w_approver_employee_cd_2
					)
					AND (
						@w_approver_employee_cd_3	=	''
					OR	@w_approver_employee_cd_3	<>	'' AND F4121.viewer_employee_cd	<>	@w_approver_employee_cd_3
					)
					AND (
						@w_approver_employee_cd_4	=	''
					OR	@w_approver_employee_cd_4	<>	'' AND F4121.viewer_employee_cd	<>	@w_approver_employee_cd_4
					)
					AND F4121.del_datetime IS NULL
					-- DELETE F4120
					DELETE D FROM F4120 AS D
					WHERE 
						D.company_cd		=	@P_company_cd
					AND D.fiscal_year		=	@w_fiscal_year
					AND D.employee_cd		=	@w_employee_cd
					AND D.report_kind		=	@w_report_kind
					AND D.report_no			=	@w_report_no
					-- INSERT INTO F4120
					INSERT INTO F4120
					SELECT 
						#TABLE_F4121.company_cd
					,	#TABLE_F4121.fiscal_year
					,	#TABLE_F4121.employee_cd
					,	#TABLE_F4121.report_kind
					,	@w_report_no
					,	#TABLE_F4121.viewer_employee_cd
					,	@P_cre_user
					,	@P_cre_ip
					,	@w_screen_id
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #TABLE_F4121
				END
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- F4900
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- MODE 2.提出 (差戻データがあった場合、再登録時に確認済みとする)
				IF @w_mode = 2
				BEGIN
					UPDATE F4900 SET 
						confirmation_datetime	=	@w_time
					,	upd_user				=	@P_cre_user
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	@w_screen_id
					,	upd_datetime			=	@w_time
					FROM F4900
					WHERE
						F4900.company_cd		=	@P_company_cd
					AND F4900.infomation_typ	=	5
					AND F4900.fiscal_year		=	@w_fiscal_year
					AND F4900.employee_cd		=	@w_employee_cd
					AND F4900.report_kind		=	@w_report_kind
					AND F4900.report_no			=	@w_report_no
					AND F4900.to_employee_cd	=	@w_employee_cd
				END
				-- MODE 2.提出 (一次承認者の通知)
				IF @w_mode = 2 AND @w_approver_employee_cd_1 <> SPACE(0)
				BEGIN
					IF NOT EXISTS (SELECT 1 FROM F4900 
											WHERE 
												company_cd			=	@P_company_cd
											AND infomation_typ		=	1
											AND fiscal_year			=	@w_fiscal_year
											AND employee_cd			=	@w_employee_cd
											AND report_kind			=	@w_report_kind
											AND report_no			=	@w_report_no
											AND to_employee_cd		=	@w_approver_employee_cd_1
											AND from_employee_cd	=	@P_login_employee_cd
											)
					BEGIN
						INSERT INTO F4900
						SELECT 
							@P_company_cd
						,	1 -- 1.通知			-- infomation_typ
						,	@w_fiscal_year
						,	@w_employee_cd
						,	@w_report_kind
						,	@w_report_no
						,	@w_approver_employee_cd_1			--	to_employee_cd
						,	@P_login_employee_cd				--	from_employee_cd
						,	GETDATE()							--	infomation_date
						,	@w_infomation_title_typ1			--	infomation_title
						,	@w_infomation_message_typ1			--	infomation_message
						,	DATEADD(DD,14,GETDATE())	AS	display_period		-- 通知日＋２週間
						,	NULL						AS	confirmation_datetime
						,	@P_cre_user					AS	cre_user
						,	@P_cre_ip					AS	cre_ip
						,	@w_screen_id				AS	cre_prg
						,	@w_time						AS	cre_datetime
						,	SPACE(0)					AS	upd_user
						,	SPACE(0)					AS	upd_ip
						,	SPACE(0)					AS	upd_prg
						,	NULL						AS	upd_datetime
						,	SPACE(0)					AS	del_user
						,	SPACE(0)					AS	del_ip
						,	SPACE(0)					AS	del_prg
						,	NULL						AS	del_datetime
					END
					BEGIN
						UPDATE F4900 SET 
							confirmation_datetime	=	NULL
						,	display_period			=	DATEADD(DD,14,GETDATE())
						,	upd_user				=	@P_cre_user
						,	upd_ip					=	@P_cre_ip
						,	upd_prg					=	@w_screen_id
						,	upd_datetime			=	@w_time
						,	del_user				=	SPACE(0)
						,	del_ip					=	SPACE(0)
						,	del_prg					=	SPACE(0)
						,	del_datetime			=	NULL
						WHERE 
							F4900.company_cd		=	@P_company_cd
						AND F4900.infomation_typ	=	1
						AND F4900.fiscal_year		=	@w_fiscal_year
						AND F4900.employee_cd		=	@w_employee_cd
						AND F4900.report_kind		=	@w_report_kind
						AND F4900.report_no			=	@w_report_no
						AND F4900.to_employee_cd	=	@w_approver_employee_cd_1
						AND F4900.from_employee_cd	=	@P_login_employee_cd
					END
				END
			END
			-- ② status_cd=２～５（承認中）& 6.承認済	-	承認者　＆　閲覧者 & ADMIN
			IF @w_status_cd IN (2,3,4,5,6) AND @P_login_use_typ IN (21,22,23,24,3,4)
			BEGIN
				-- 3.一時保存（Footer）
				IF @w_mode = 3
				BEGIN
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					--F4202_temp
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					-- UPDATE 
					UPDATE F4202_temp SET 
						upd_user			=	@P_cre_user
					,	upd_ip				=	@P_cre_ip
					,	upd_prg				=	@w_screen_id
					,	upd_datetime		=	@w_time
					,	approver_comment	=	ISNULL(#TABLE_JSON.approver_comment,'')
					,	answer_sentence		=	ISNULL(F4202.answer_sentence,'')
					,	answer_number		=	ISNULL(F4202.answer_number,0)
					,	answer_select		=	ISNULL(F4202.answer_select,0)
					,	del_user			=	SPACE(0)
					,	del_ip				=	SPACE(0)
					,	del_prg				=	SPACE(0)
					,	del_datetime		=	NULL
					FROM F4202_temp
					INNER JOIN F4202 ON (
						F4202_temp.company_cd	=	F4202.company_cd
					AND F4202_temp.fiscal_year	=	F4202.fiscal_year
					AND F4202_temp.employee_cd	=	F4202.employee_cd
					AND F4202_temp.report_kind	=	F4202.report_kind
					AND F4202_temp.report_no	=	F4202.report_no
					AND F4202_temp.question_no	=	F4202.question_no
					AND F4202_temp.keep_user	=	@P_cre_user
					AND F4202.del_datetime IS NULL
					)
					INNER JOIN #TABLE_JSON ON (
						F4202.question_no		=	#TABLE_JSON.question_no
					)
					WHERE 
						F4202_temp.company_cd	=	@P_company_cd
					AND F4202_temp.fiscal_year	=	@w_fiscal_year
					AND F4202_temp.employee_cd	=	@w_employee_cd
					AND F4202_temp.report_kind	=	@w_report_kind
					AND F4202_temp.report_no	=	@w_report_no
					AND F4202_temp.keep_user	=	@P_cre_user
					-- INSERT 
					INSERT INTO F4202_temp
					SELECT 
						F4202.company_cd
					,	F4202.fiscal_year
					,	F4202.employee_cd
					,	F4202.report_kind
					,	F4202.report_no
					,	F4202.question_no
					,	@P_cre_user				-- keep_user
					,	@w_time					-- keep_datetime
					,	F4202.answer_sentence
					,	F4202.answer_number
					,	F4202.answer_select
					,	ISNULL(#TABLE_JSON.approver_comment,'')		-- approver_comment
					,	@P_cre_user
					,	@P_cre_ip
					,	@w_screen_id
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM F4202
					LEFT OUTER JOIN F4202_temp ON (
						F4202.company_cd	=	F4202_temp.company_cd
					AND F4202.fiscal_year	=	F4202_temp.fiscal_year
					AND F4202.employee_cd	=	F4202_temp.employee_cd
					AND F4202.report_kind	=	F4202_temp.report_kind
					AND F4202.report_no		=	F4202_temp.report_no
					AND F4202.question_no	=	F4202_temp.question_no
					AND @P_cre_user			=	F4202_temp.keep_user
					AND F4202_temp.del_datetime IS NULL
					)
					LEFT OUTER JOIN #TABLE_JSON ON (
						F4202.question_no		=	#TABLE_JSON.question_no
					)
					WHERE 
						F4202.company_cd	=	@P_company_cd
					AND F4202.fiscal_year	=	@w_fiscal_year
					AND F4202.employee_cd	=	@w_employee_cd
					AND F4202.report_kind	=	@w_report_kind
					AND F4202.report_no		=	@w_report_no
					AND F4202_temp.company_cd IS NULL
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					--F4204_temp
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					-- UPDATE
					IF EXISTS (SELECT 1 FROM F4204_temp 
										WHERE 
											company_cd	=	@P_company_cd
										AND fiscal_year	=	@w_fiscal_year
										AND employee_cd	=	@w_employee_cd
										AND report_kind	=	@w_report_kind
										AND report_no	=	@w_report_no
										AND reaction_no	=	@P_login_employee_cd
										AND keep_user	=	@P_cre_user)
					BEGIN
						UPDATE F4204_temp SET 
							keep_datetime		=	@w_time
						,	comment				=	@w_comment
						,	reaction_cd			=	@w_reaction_cd
						,	reaction_user		=	@P_cre_user
						,	reaction_datetime	=	@w_time
						,	upd_user			=	@P_cre_user
						,	upd_ip				=	@P_cre_ip
						,	upd_prg				=	@w_screen_id
						,	upd_datetime		=	@w_time
						,	del_user			=	SPACE(0)
						,	del_ip				=	SPACE(0)
						,	del_prg				=	SPACE(0)
						,	del_datetime		=	NULL
						FROM F4204_temp
						WHERE 
							company_cd	=	@P_company_cd
						AND fiscal_year	=	@w_fiscal_year
						AND employee_cd	=	@w_employee_cd
						AND report_kind	=	@w_report_kind
						AND report_no	=	@w_report_no
						AND reaction_no	=	@P_login_employee_cd
						AND keep_user	=	@P_cre_user
					END
					ELSE
					-- INSERT
					BEGIN
						INSERT INTO F4204_temp
						SELECT 
							@P_company_cd
						,	@w_fiscal_year
						,	@w_employee_cd
						,	@w_report_kind
						,	@w_report_no
						,	@P_login_employee_cd		--	reaction_no
						,	@P_cre_user					--	keep_user
						,	@w_time						--	keep_datetime
						,	@w_comment
						,	@w_reaction_cd
						,	@P_cre_user					--	reaction_user
						,	@w_time						--	reaction_datetime
						,	@P_cre_user
						,	@P_cre_ip
						,	@w_screen_id
						,	@w_time
						,	SPACE(0)
						,	SPACE(0)
						,	SPACE(0)
						,	NULL
						,	SPACE(0)
						,	SPACE(0)
						,	SPACE(0)
						,	NULL
					END
				END
				-- 4.コメント & 5.承認する & 6.確認しました
				IF @w_mode IN(4,5,6)
				BEGIN
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					--F4202
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					IF @w_mode IN (4,5) -- 4.コメント & 5.承認する
					BEGIN
						-- UPDATE 
						UPDATE F4202 SET 
							upd_user			=	@P_cre_user
						,	upd_ip				=	@P_cre_ip
						,	upd_prg				=	@w_screen_id
						,	upd_datetime		=	@w_time
						,	approver_comment_1	=	CASE 
														WHEN @w_status_cd = 2
														THEN ISNULL(#TABLE_JSON.approver_comment,'')
														ELSE F4202.approver_comment_1
													END
						,	approver_comment_2	=	CASE 
														WHEN @w_status_cd = 3
														THEN ISNULL(#TABLE_JSON.approver_comment,'')
														ELSE F4202.approver_comment_2
													END
						,	approver_comment_3	=	CASE 
														WHEN @w_status_cd = 4
														THEN ISNULL(#TABLE_JSON.approver_comment,'')
														ELSE F4202.approver_comment_3
													END
						,	approver_comment_4	=	CASE 
														WHEN @w_status_cd = 5
														THEN ISNULL(#TABLE_JSON.approver_comment,'')
														ELSE F4202.approver_comment_4
													END
						,	del_user			=	SPACE(0)
						,	del_ip				=	SPACE(0)
						,	del_prg				=	SPACE(0)
						,	del_datetime		=	NULL
						FROM F4202
						INNER JOIN #TABLE_JSON ON (
							F4202.question_no		=	#TABLE_JSON.question_no
						)
						WHERE 
							F4202.company_cd	=	@P_company_cd
						AND F4202.fiscal_year	=	@w_fiscal_year
						AND F4202.employee_cd	=	@w_employee_cd
						AND F4202.report_kind	=	@w_report_kind
						AND F4202.report_no		=	@w_report_no
						-- DELETE F4202_temp
						DELETE D FROM F4202_temp AS D
						WHERE 
							D.company_cd		=	@P_company_cd
						AND D.fiscal_year		=	@w_fiscal_year
						AND D.employee_cd		=	@w_employee_cd
						AND D.report_kind		=	@w_report_kind
						AND D.report_no			=	@w_report_no
						AND D.keep_user			=	@P_cre_user
					END
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					--F4204
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					IF @w_mode IN (4,5)
					BEGIN
						IF EXISTS (SELECT 1 FROM F4204
											WHERE 
												company_cd		=	@P_company_cd
											AND fiscal_year		=	@w_fiscal_year
											AND employee_cd		=	@w_employee_cd
											AND report_kind		=	@w_report_kind
											AND report_no		=	@w_report_no
											AND reaction_no		=	@P_login_employee_cd
						)
						BEGIN
							-- UPDATE
							--IF @w_reaction_cd > 0 OR @w_comment <> '' 
							IF (@w_reaction_cd > 0 OR @w_comment <> '') AND @w_mode = 4	-- add by viettd 2023/08/21
							BEGIN
								SET @w_check_f4204 = 1
								UPDATE F4204 SET 
									comment				=	@w_comment
								,	reaction_cd			=	@w_reaction_cd
								,	reaction_user		=	@P_cre_user
								,	reaction_datetime	=	@w_time
								,	upd_user			=	@P_cre_user
								,	upd_ip				=	@P_cre_ip
								,	upd_prg				=	@w_screen_id
								,	upd_datetime		=	@w_time
								,	del_user			=	SPACE(0)
								,	del_ip				=	SPACE(0)
								,	del_prg				=	SPACE(0)
								,	del_datetime		=	NULL
								FROM F4204
								WHERE 
									F4204.company_cd	=	@P_company_cd
								AND F4204.fiscal_year	=	@w_fiscal_year
								AND F4204.employee_cd	=	@w_employee_cd
								AND F4204.report_kind	=	@w_report_kind
								AND F4204.report_no		=	@w_report_no
								AND F4204.reaction_no	=	@P_login_employee_cd
							END
						END
						ELSE
						BEGIN
							SET @w_check_f4204 = 1
							INSERT INTO F4204
							SELECT 
								@P_company_cd
							,	@w_fiscal_year
							,	@w_employee_cd
							,	@w_report_kind
							,	@w_report_no
							,	@P_login_employee_cd
							,	@w_comment
							,	@w_reaction_cd
							,	CASE 
									WHEN (@w_reaction_cd > 0 OR @w_comment <> '') AND @w_mode = 4	-- add by viettd 2023/08/21
									THEN @P_cre_user
									ELSE SPACE(0)
								END							--	reaction_user
							,	CASE 
									WHEN (@w_reaction_cd > 0 OR @w_comment <> '') AND @w_mode = 4	-- add by viettd 2023/08/21
									THEN @w_time
									ELSE NULL
								END							--	reaction_datetime
							,	@P_cre_user
							,	@P_cre_ip
							,	@w_screen_id
							,	@w_time
							,	SPACE(0)
							,	SPACE(0)
							,	SPACE(0)
							,	NULL
							,	SPACE(0)
							,	SPACE(0)
							,	SPACE(0)
							,	NULL
						END
						-- DELETE F4204_temp
						DELETE D FROM F4204_temp AS D
						WHERE 
							D.company_cd		=	@P_company_cd
						AND D.fiscal_year		=	@w_fiscal_year
						AND D.employee_cd		=	@w_employee_cd
						AND D.report_kind		=	@w_report_kind
						AND D.report_no			=	@w_report_no
						AND D.reaction_no		=	@P_login_employee_cd
						AND D.keep_user			=	@P_cre_user
					END
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					--F4200
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					IF @w_mode IN (4,5)
					BEGIN
						-- update status
						UPDATE F4200 SET 
							status_cd		=	CASE
													--一次承認中
													WHEN @w_status_cd = 2 AND F4200.approver_employee_cd_2 <> ''
													THEN 3	-- 二次承認中
													WHEN @w_status_cd = 2 AND F4200.approver_employee_cd_2 = ''
													THEN 6	-- 報告済み
													--二次承認中
													WHEN @w_status_cd = 3 AND F4200.approver_employee_cd_3 <> ''
													THEN 4	-- 三次承認中
													WHEN @w_status_cd = 3 AND F4200.approver_employee_cd_3 = ''
													THEN 6	-- 報告済み
													--三次承認中
													WHEN @w_status_cd = 4 AND F4200.approver_employee_cd_4 <> ''
													THEN 5	-- 四次承認中
													WHEN @w_status_cd = 4 AND F4200.approver_employee_cd_4 = ''
													THEN 6	-- 報告済み
													--四次承認中
													WHEN @w_status_cd = 5
													THEN 6	-- 報告済み
													ELSE F4200.status_cd
												END
						,	approver_user_1			=	CASE 
															WHEN @w_status_cd = 2
															THEN @P_cre_user
															ELSE F4200.approver_user_1
														END
						,	approver_datetime_1		=	CASE 
															WHEN @w_status_cd = 2
															THEN @w_time
															ELSE F4200.approver_datetime_1
														END
						,	approver_user_2			=	CASE 
															WHEN @w_status_cd = 3
															THEN @P_cre_user
															ELSE F4200.approver_user_2
														END
						,	approver_datetime_2		=	CASE 
															WHEN @w_status_cd = 3
															THEN @w_time
															ELSE F4200.approver_datetime_2
														END
						,	approver_user_3			=	CASE 
															WHEN @w_status_cd = 4
															THEN @P_cre_user
															ELSE F4200.approver_user_3
														END
						,	approver_datetime_3		=	CASE 
															WHEN @w_status_cd = 4
															THEN @w_time
															ELSE F4200.approver_datetime_3
														END
						,	approver_user_4			=	CASE 
															WHEN @w_status_cd = 5
															THEN @P_cre_user
															ELSE F4200.approver_user_4
														END
						,	approver_datetime_4		=	CASE 
															WHEN @w_status_cd = 5
															THEN @w_time
															ELSE F4200.approver_datetime_4
														END
						,	upd_user		=	@P_cre_user
						,	upd_ip			=	@P_cre_ip
						,	upd_prg			=	@w_screen_id
						,	upd_datetime	=	@w_time
						FROM F4200
						WHERE
							F4200.company_cd		=	@P_company_cd
						AND F4200.fiscal_year		=	@w_fiscal_year
						AND F4200.employee_cd		=	@w_employee_cd
						AND F4200.report_kind		=	@w_report_kind
						AND F4200.report_no			=	@w_report_no
					END
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					--F4900
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					-- 3(リアクション)
					IF (@w_comment <> '' AND @w_mode = 4) -- COMMENT
					BEGIN
						IF NOT EXISTS (SELECT 1 FROM F4900 
												WHERE 
													company_cd			=	@P_company_cd 
												AND infomation_typ		=	3 
												AND fiscal_year			=	@w_fiscal_year 
												AND employee_cd			=	@w_employee_cd 
												AND report_kind			=	@w_report_kind 
												AND report_no			=	@w_report_no
												AND to_employee_cd		=	@w_employee_cd
												AND from_employee_cd	=	@P_login_employee_cd
												)
						BEGIN
							INSERT INTO F4900
							SELECT 
								@P_company_cd
							,	3						--	(リアクション)
							,	@w_fiscal_year
							,	@w_employee_cd
							,	@w_report_kind
							,	@w_report_no
							,	@w_employee_cd				-- to_employee_cd
							,	@P_login_employee_cd		-- from_employee_cd
							,	GETDATE()					AS	infomation_date
							,	@w_infomation_title
							,	@w_infomation_message
							,	DATEADD(DD,14,GETDATE())	AS	display_period		-- 通知日＋２週間
							,	NULL						AS	confirmation_datetime
							,	@P_cre_user					AS	cre_user
							,	@P_cre_ip					AS	cre_ip
							,	@w_screen_id				AS	cre_prg
							,	@w_time						AS	cre_datetime
							,	SPACE(0)					AS	upd_user
							,	SPACE(0)					AS	upd_ip
							,	SPACE(0)					AS	upd_prg
							,	NULL						AS	upd_datetime
							,	SPACE(0)					AS	del_user
							,	SPACE(0)					AS	del_ip
							,	SPACE(0)					AS	del_prg
							,	NULL						AS	del_datetime
						END
					END
					-- １(通知)作成 (次の承認者)
					IF @w_mode IN (4,5) AND @w_status_cd < @w_max_status_cd
					BEGIN
						SET @w_approver_cd_next = CASE 
														WHEN @w_status_cd = 2
														THEN @w_approver_employee_cd_2
														WHEN @w_status_cd = 3
														THEN @w_approver_employee_cd_3
														WHEN @w_status_cd = 4
														THEN @w_approver_employee_cd_4
														ELSE SPACE(0)
													END
						-- HAS NEXT APPROVED
						IF @w_approver_cd_next <> SPACE(0)
						BEGIN
							-- INSERT INTO F4900
							IF NOT EXISTS (SELECT 1 FROM F4900 
														WHERE 
															company_cd			=	@P_company_cd 
														AND infomation_typ		=	1	--通知
														AND fiscal_year			=	@w_fiscal_year 
														AND employee_cd			=	@w_employee_cd 
														AND report_kind			=	@w_report_kind 
														AND report_no			=	@w_report_no
														AND to_employee_cd		=	@w_approver_cd_next
														AND from_employee_cd	=	@P_login_employee_cd
														)
							BEGIN
								INSERT INTO F4900
								SELECT 
									@P_company_cd
								,	1						--	infomation_typ
								,	@w_fiscal_year
								,	@w_employee_cd
								,	@w_report_kind
								,	@w_report_no
								,	@w_approver_cd_next			-- to_employee_cd
								,	@P_login_employee_cd		-- from_employee_cd
								,	GETDATE()					AS	infomation_date
								,	@w_infomation_title_typ1	AS	infomation_title
								,	@w_infomation_message_typ1	AS	infomation_message
								,	DATEADD(DD,14,GETDATE())	AS	display_period		-- 通知日＋２週間
								,	NULL						AS	confirmation_datetime
								,	@P_cre_user					AS	cre_user
								,	@P_cre_ip					AS	cre_ip
								,	@w_screen_id				AS	cre_prg
								,	@w_time						AS	cre_datetime
								,	SPACE(0)					AS	upd_user
								,	SPACE(0)					AS	upd_ip
								,	SPACE(0)					AS	upd_prg
								,	NULL						AS	upd_datetime
								,	SPACE(0)					AS	del_user
								,	SPACE(0)					AS	del_ip
								,	SPACE(0)					AS	del_prg
								,	NULL						AS	del_datetime
							END
							ELSE
							BEGIN
								UPDATE F4900 SET 
									confirmation_datetime	=	NULL
								,	display_period			=	DATEADD(DD,14,GETDATE())
								,	upd_user				=	@P_cre_user
								,	upd_ip					=	@P_cre_ip
								,	upd_prg					=	@w_screen_id
								,	upd_datetime			=	@w_time
								,	del_user				=	SPACE(0)
								,	del_ip					=	SPACE(0)
								,	del_prg					=	SPACE(0)
								,	del_datetime			=	NULL
								WHERE 
									F4900.company_cd		=	@P_company_cd
								AND F4900.infomation_typ	=	1
								AND F4900.fiscal_year		=	@w_fiscal_year
								AND F4900.employee_cd		=	@w_employee_cd
								AND F4900.report_kind		=	@w_report_kind
								AND F4900.report_no			=	@w_report_no
								AND F4900.to_employee_cd	=	@w_approver_cd_next
								AND F4900.from_employee_cd	=	@P_login_employee_cd
							END
						END
					END
					-- １(通知)更新「確認済」
					UPDATE F4900 SET
						confirmation_datetime	=	@w_time
					,	upd_user				=	@P_cre_user
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	@w_screen_id
					,	upd_datetime			=	@w_time
					FROM F4900
					WHERE
						F4900.company_cd		=	@P_company_cd
					AND F4900.infomation_typ	=	1	-- １(通知)
					AND F4900.fiscal_year		=	@w_fiscal_year
					AND F4900.employee_cd		=	@w_employee_cd
					AND F4900.report_kind		=	@w_report_kind
					AND F4900.report_no			=	@w_report_no
					AND F4900.to_employee_cd	=	@P_login_employee_cd
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					--F4203
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					-- WHEN VIEWER UPDATE F4203.viewer_datetime
					IF @w_mode IN(4,6) AND @P_login_use_typ >= 3 AND @w_status_cd = 6
					BEGIN
						EXEC [SPC_rI2010_ACT4] @w_fiscal_year,@w_employee_cd,@w_report_kind,@w_report_no,@P_login_employee_cd,@P_cre_user,@P_cre_ip,@P_company_cd
					END
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					--F4301
					--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
					IF @w_mode = 4 AND (@P_login_use_typ IN (21,22,23,24,3) OR (@P_login_use_typ = 4 AND (@w_admin_and_is_approver = 1 OR @w_admin_and_is_viewer = 1)))
					BEGIN
						
						-- 承認者
						IF @P_login_use_typ IN (21,22,23,24)
						BEGIN
							SET @w_reaction_typ = 1
						END
						-- 閲覧者
						IF @P_login_use_typ = 3
						BEGIN
							SET @w_reaction_typ = 2
						END
						-- 管理者：承認者と閲覧者
						IF @P_login_use_typ = 4 AND @w_admin_and_is_approver = 1
						BEGIN
							SET @w_reaction_typ = 1
						END

						IF @P_login_use_typ = 4 AND @w_admin_and_is_viewer = 1
						BEGIN
							SET @w_reaction_typ = 2
						END
						
						-- F4301
						IF @w_set_default = 1
						BEGIN
							IF EXISTS (SELECT 1 FROM F4301 WHERE company_cd = @P_company_cd AND employee_cd = @P_login_employee_cd AND reaction_typ = @w_reaction_typ)
							BEGIN
								UPDATE F4301 SET 
									reaction_cd		=	@w_reaction_cd
								,	upd_user		=	@P_cre_user
								,	upd_ip			=	@P_cre_ip
								,	upd_prg			=	@w_screen_id
								,	upd_datetime	=	@w_time
								,	del_user		=	SPACE(0)
								,	del_ip			=	SPACE(0)
								,	del_prg			=	SPACE(0)
								,	del_datetime	=	NULL
								FROM F4301
								WHERE 
									F4301.company_cd		=	@P_company_cd
								AND F4301.employee_cd		=	@P_login_employee_cd
								AND F4301.reaction_typ		=	@w_reaction_typ
								AND del_datetime			IS NULL

								UPDATE F4301 SET 
									reaction_cd		=	@w_reaction_cd
								,	cre_user		=	@P_cre_user
								,	cre_ip			=	@P_cre_ip
								,	cre_prg			=	@w_screen_id
								,	cre_datetime	=	@w_time
								,	upd_user		=	SPACE(0)
								,	upd_ip			=	SPACE(0)
								,	upd_prg			=	SPACE(0)
								,	upd_datetime	=	NULL
								,	del_user		=	SPACE(0)
								,	del_ip			=	SPACE(0)
								,	del_prg			=	SPACE(0)
								,	del_datetime	=	NULL
								FROM F4301
								WHERE 
									F4301.company_cd		=	@P_company_cd
								AND F4301.employee_cd		=	@P_login_employee_cd
								AND F4301.reaction_typ		=	@w_reaction_typ
								AND del_datetime			IS NOT NULL
							END
							ELSE
							BEGIN
								INSERT INTO F4301
								SELECT 
									@P_company_cd
								,	@P_login_employee_cd
								,	@w_reaction_typ
								,	@w_reaction_cd
								,	@P_cre_user
								,	@P_cre_ip
								,	@w_screen_id
								,	@w_time
								,	SPACE(0)
								,	SPACE(0)
								,	SPACE(0)
								,	NULL
								,	SPACE(0)
								,	SPACE(0)
								,	SPACE(0)
								,	NULL
							END
						END
						ELSE
						BEGIN
							IF EXISTS (SELECT 1 FROM F4301 WHERE company_cd = @P_company_cd AND employee_cd = @P_login_employee_cd AND reaction_typ = @w_reaction_typ AND del_datetime IS NULL)
							BEGIN
								UPDATE F4301 SET 
									del_user		=	@P_cre_user
								,	del_ip			=	@P_cre_ip
								,	del_prg			=	@w_screen_id
								,	del_datetime	=	@w_time
								FROM F4301
								WHERE 
									F4301.company_cd		=	@P_company_cd
								AND F4301.employee_cd		=	@P_login_employee_cd
								AND F4301.reaction_typ		=	@w_reaction_typ
							END
						END
					END
				END
			END
		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by
	--[1]
	SELECT 
		@w_check_f4204 AS check_f4204
	,	@w_status_cd   AS status_cd
END

GO
