DROP PROCEDURE [SPC_M0150_LST1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ SPC_M0150_LST1
-- EXEC SPC_M0150_LST1 '','1','807';
-- select * from m0070
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0150_評価グループマスタ
--*  
--*  作成日/create date			:	2018/08/03						
--*　作成者/creater				:	tannq								
--*   					
--*  更新日/update date			:	2018/11/20
--*　更新者/updater				:　	Longvv-longvv@ans-asia.com
--*　更新内容/update content		:	半角のアンダーバー「_」で検索
--*
--****************************************************************************************
CREATE PROCEDURE [SPC_M0150_LST1]
	-- Add the parameters for the stored procedure here
	@P_group_nm		NVARCHAR(20)	=	''
,	@P_page			INT				=	1
,	@P_company_cd	SMALLINT		=	0

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time			DATE		=	SYSDATETIME()
	,	@ERR_TBL		ERRTABLE	
	,	@order_by_min	INT			=	0
	,	@totalRecord	BIGINT		=	0
	,	@pageMax		INT			=	0	
	,	@page_size		INT			=	10

	-- M0150
	CREATE TABLE #TMP (
		id				INT IDENTITY(1,1) NOT NULL
	,	group_cd		SMALLINT
	,	group_nm		NVARCHAR(50)
	,	arrange_order	INT
	)
	--
	INSERT INTO #TMP 
	SELECT
		M0150.group_cd
	,	M0150.group_nm
	,	M0150.arrange_order
	FROM M0150 WHERE
		M0150.company_cd	=	@P_company_cd
	AND	(	@P_group_nm = '' 
		OR	dbo.FNC_COM_REPLACE_SPACE(M0150.group_nm)		LIKE '%' +  dbo.FNC_COM_REPLACE_SPACE(@P_group_nm) + '%' 
	)
	AND M0150.del_datetime	IS NULL
	ORDER BY M0150.arrange_order,M0150.group_cd

	--
	SET @totalRecord	=	(SELECT COUNT(1) FROM #TMP)
	SET @pageMax		= CEILING(CAST(@totalRecord AS FLOAT) / @page_size)
	IF @pageMax			= 0
	BEGIN
		SET @pageMax	= 1
	END
	IF @P_page > @pageMax
	BEGIN
		SET @P_page = @pageMax
	END

	--[0]
	SELECT 
		group_cd	
	,	group_nm	
	,	arrange_order
	FROM #TMP
	ORDER BY #TMP.arrange_order,#TMP.group_cd
	offset (@P_page - 1) * @page_size rows
	fetch next @page_size rows only
	--[1]
	SELECT	
		@totalRecord	AS totalRecord
	,	@pageMax		AS pageMax
	,	@P_page			AS page
	,	@page_size	AS pagesize

END


GO
