DROP PROCEDURE [SPC_M0150_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0151 M0150
-- EXEC SPC_M0150_INQ1 '','1','807';
-- select * from m0070
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0100_商品登録
--*  
--*  作成日/create date			:	2017/11/03						
--*　作成者/creater				:	tannq								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0150_INQ1]
	-- Add the parameters for the stored procedure here
	@P_company_cd								SMALLINT		=	0
,	@P_group_cd									SMALLINT		=	0

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATE				=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE
	,	@order_by_min			INT					=	0
	,	@totalRecord			BIGINT				=	0
	,	@pageMax				INT					=	0	
	,	@page_size				INT					=	10
	
	--[0]
	SELECT
		employee_typ	
	,	employee_typ_nm	
	,	arrange_order	
	,	max(M0151.detail_no)	AS detail_no
	FROM M0060 LEFT JOIN M0151 ON (
		M0151.company_cd	=	M0060.company_cd
	AND M0151.code			=	M0060.employee_typ
	AND M0151.group_cd		=	@P_group_cd
	AND M0151.del_datetime IS NULL
	AND M0151.attribute		=	1
	)
	WHERE 
		M0060.company_cd	=	@P_company_cd
	AND M0060.del_datetime IS NULL 
	GROUP BY 
		employee_typ	
	,	employee_typ_nm	
	,	arrange_order
	ORDER BY arrange_order,employee_typ

	--[1]
	SELECT
		job_cd		
	,	job_nm		
	,	arrange_order
	,	max(M0151.detail_no)	AS detail_no
	FROM M0030 LEFT JOIN M0151 ON (
		M0151.company_cd	=	M0030.company_cd
	AND M0151.code			=	M0030.job_cd
	AND M0151.group_cd		=	@P_group_cd
	AND M0151.del_datetime IS NULL
	AND M0151.attribute		=	2
	)
	WHERE 
		M0030.company_cd	=	@P_company_cd
	AND M0030.del_datetime IS NULL 
	GROUP BY 
		job_cd
	,	job_nm
	,	arrange_order
	ORDER BY arrange_order,job_cd

	--[2]
	SELECT
		position_cd	
	,	position_nm	
	,	arrange_order
	,	max(M0151.detail_no)	AS detail_no
	FROM M0040 LEFT JOIN M0151 ON (
		M0151.company_cd	=	M0040.company_cd
	AND M0151.code			=	M0040.position_cd
	AND M0151.group_cd	=	@P_group_cd
	AND M0151.del_datetime IS NULL
	AND M0151.attribute		=	3
	)
	WHERE 
		M0040.company_cd	=	@P_company_cd
	AND M0040.del_datetime IS NULL 
	GROUP BY 
		position_cd	
	,	position_nm	
	,	arrange_order
	ORDER BY arrange_order,position_cd

	--[3]
	SELECT
		grade		
	,	grade_nm	
	,	arrange_order
	,	max(M0151.detail_no)	AS detail_no
	FROM M0050 LEFT JOIN M0151 ON (
		M0151.company_cd	=	M0050.company_cd
	AND M0151.code			=	M0050.grade
	AND M0151.group_cd		=	@P_group_cd
	AND M0151.del_datetime IS NULL
	AND M0151.attribute		=	4
	)
	WHERE 
		M0050.company_cd	=	@P_company_cd
	AND M0050.del_datetime IS NULL 
	GROUP BY 
		grade	
	,	grade_nm	
	,	arrange_order
	ORDER BY arrange_order,grade

	--[4]
	SELECT 
		M0150.group_cd
	,	M0150.group_nm
	FROM M0150 WHERE
		M0150.company_cd	=	@P_company_cd
	AND M0150.group_cd		=	@P_group_cd
	AND M0150.del_datetime IS NULL
END


GO
