DROP PROCEDURE [SPC_S0010_INQ2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0010
-- EXEC SPC_S0010_INQ2 '1','721','';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	SYSTEM AUTHO
--*  
--*  作成日/create date			:	2017/11/03						
--*　作成者/creater				:	tannq								
--*   					
--*  更新日/update date			:	2019/03/14
--*　更新者/updater				:　	Longvv-longvv@ans-asia.com
--*　更新内容/update content		:	利用権限 【参照可能】を修正
--*   					
--*  更新日/update date			:	2020/09/21
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgradate ver 1.7 & 1on1
--****************************************************************************************
CREATE PROCEDURE [SPC_S0010_INQ2]
	-- Add the parameters for the stored procedure here
	@P_company_cd				SMALLINT		=	0
,	@P_user_id					NVARCHAR(MAX)	=	''
,	@P_employee_cd				NVARCHAR(20)	=	''	
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time							DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL						ERRTABLE
	,	@order_by_min					INT					=	0
	,	@authority_typ					SMALLINT			=	0		-- 人事評価機能権限タイプ
	,	@employee_cd					NVARCHAR(10)		=	''
	,	@countInfromation				INT					=	0
	,	@is_rater						INT					=	0
	--	add by viettd 2020/09/21
	,	@w_evaluation_use_typ			SMALLINT			=	0
	,	@w_1on1_use_typ					SMALLINT			=	0
	,	@w_multireview_use_typ			SMALLINT			=	0
	,	@w_contract_company_attribute	SMALLINT			=	0		--	管理会社

	,	@w_1on1_authority_typ			SMALLINT			=	0		-- １on１機能権限タイプ
	,	@w_multireview_authority_typ	SMALLINT			=	0		-- マルチレビュー機能権限タイプ
	,	@w_setting_authority_typ		SMALLINT			=	0		-- 共通設定機能権限タイプ

	,	@evaluation_time_status			SMALLINT			=	0
	,	@multireview_time_status		SMALLINT			=	0
	,	@oneonone_time_status			SMALLINT			=	0
	,	@evaluation_user_end_dt			DATE				=	NULL
	,	@multireview_user_end_dt		DATE				=	NULL
	,	@oneonone_user_end_dt			DATE				=	NULL
	--
	,	@w_1on1_is_coach_member			INT					=	0	-- 1. IS COACH OR MEMBER || 0.NOT COACH NOT MEMBER	-- ADD BY VIETTD 2021/04/05
	--,	@w_fiscal_year					INT					=	dbo.FNC_GET_YEAR(@P_company_cd , NULL)					-- ADD BY VIETTD 2021/04/05
	,	@w_mulitireview_is_suppoter		INT					=	0	-- 1. IS SUPPORTER || 0.NOT SUPPORTER				-- ADD BY VIETTD 2021/04/05
	,	@w_user_is_rater_1				TINYINT				=	0	-- 0.IS NOT RATER_1 | 1.IS RATER_1 -- add by viettd 2021/06/16
	--SET @authority_typ ,@employee_cd
	SELECT 
		@authority_typ					=	S0010.authority_typ
	,	@employee_cd					=	S0010.employee_cd 
	,	@w_setting_authority_typ		=	ISNULL(S0010.setting_authority_typ,0)
	,	@w_1on1_authority_typ			=	ISNULL(S0010.[1on1_authority_typ],0)
	,	@w_multireview_authority_typ	=	ISNULL(S0010.multireview_authority_typ,0)
	FROM S0010 
	WHERE 
		S0010.company_cd = @P_company_cd 
	AND S0010.[user_id] COLLATE Latin1_General_CS_AS = @P_user_id 
	AND S0010.del_datetime IS NULL 
	-- ↓↓↓　add by viettd 2021/06/16
	IF EXISTS (SELECT 1 FROM F0030 WHERE company_cd = @P_company_cd AND rater_employee_cd_1 = @employee_cd AND del_datetime IS NULL)
	BEGIN
		SET @w_user_is_rater_1 = 1 -- USER IS RATER_1
	END
	-- ↑↑↑　end add by viettd 2021/06/16


	-- 評価者確認
	IF EXISTS (SELECT 1 FROM F0100 
						WHERE 
						(	F0100.rater_employee_cd_1 = @employee_cd 
						OR	F0100.rater_employee_cd_2 = @employee_cd 
						OR	F0100.rater_employee_cd_3 = @employee_cd 
						OR	F0100.rater_employee_cd_4 = @employee_cd
						)  
						AND F0100.company_cd = @P_company_cd 
						AND F0100.del_datetime IS NULL)
	BEGIN
		SET @is_rater = 1
	END
	-- GET @w_evaluation_use_typ, @w_1on1_use_typ, @w_multireview_use_typ
	SELECT 
		@w_evaluation_use_typ			=	ISNULL(M0001.evaluation_use_typ,0)
	,	@w_1on1_use_typ					=	ISNULL(M0001.[1on1_use_typ],0)
	,	@w_multireview_use_typ			=	ISNULL(M0001.multireview_use_typ,0)
	,	@w_contract_company_attribute	=	ISNULL(M0001.contract_company_attribute,0)
	,	@evaluation_user_end_dt			=	evaluation_user_end_dt	
	,	@multireview_user_end_dt		=	multireview_user_end_dt
	,	@oneonone_user_end_dt			=	[1on1_user_end_dt]	
	FROM M0001
	WHERE
		M0001.company_cd	=	@P_company_cd
	AND M0001.del_datetime IS NULL
	--
	SET @evaluation_time_status = (SELECT	CASE WHEN @evaluation_user_end_dt < @w_time AND @evaluation_user_end_dt IS NOT NULL THEN 0
			ELSE 1  
		END )
	SET @multireview_time_status = (SELECT CASE WHEN @multireview_user_end_dt < @w_time  AND @multireview_user_end_dt IS NOT NULL THEN 0
			ELSE 1  
		END )
	SET @oneonone_time_status = (SELECT	CASE WHEN @oneonone_user_end_dt < @w_time  AND @oneonone_user_end_dt IS NOT NULL THEN 0
			ELSE 1  
		END )
	-- functions that have permission to use
	CREATE TABLE #EXCEPTS(
		id						INT			IDENTITY(1,1) NOT NULL
	,	function_id				NVARCHAR(100)
	,	function_nm				NVARCHAR(100)
	,	authority				SMALLINT
	,	authority_nm			NVARCHAR(20)
	,	category				SMALLINT
	,	arrange_order			SMALLINT
	,	navbar					SMALLINT		-- 0. NOT SHOW IN NARBAR 1.SHOW IN NARBAR
	,	system_typ				SMALLINT		-- ０：共通設定　１：人事評価　２：１on１　３：マルチレビュー 4.共通機能 5.ＭＣ専用画面
	)
	--
	SELECT 
		@countInfromation	=	COUNT(F0900.company_cd)
	FROM F0900
	WHERE 
		F0900.company_cd	=	@P_company_cd
	AND	F0900.employee_cd	=	@employee_cd
	AND	(
		(@authority_typ >	2)
	OR	(@authority_typ <=	2	AND	F0900.employee_cd	=	@employee_cd)
	)
	AND	F0900.confirmation_datetime	IS	NULL
	AND	F0900.del_datetime	IS NULL
	------------------------------------------
	-- 5.ＭＣ専用画面
	------------------------------------------
	IF @w_contract_company_attribute = 1
	BEGIN
		INSERT INTO #EXCEPTS VALUES (N'customer/master/q0001',N'顧客検索',2,N'更新可能',0,1,1,5)
		INSERT INTO #EXCEPTS VALUES (N'customer/oneonone/om0110',N'質問マスタ',2,N'更新可能',1,1,1,5)
		INSERT INTO #EXCEPTS VALUES (N'customer/oneonone/om0010',N'ファイルアップロード',2,N'更新可能',1,2,1,5)
		INSERT INTO #EXCEPTS VALUES (N'customer/oneonone/om0400',N'アンケートマスタ',2,N'更新可能',1,3,1,5)
		--
		-- GET om0110 , om0010 , om0400 FROM 1on1
		INSERT INTO #EXCEPTS
		SELECT
			'customer/oneonone/'+L0030.function_id			AS	function_id
		,	L0030.function_nm						AS	function_nm
		,	2										AS	authority
		,	'更新可能'								AS	authority_nm
		,	ISNULL(L0030.category,0)				AS	category
		,	ISNULL(L0030.arrange_order,0)			AS	arrange_order
		,	CASE 
				WHEN L0030.function_id IN ('oi3010','oi2010') -- oi3010.アンケート記入 oi2010.面談シート入力	
				THEN 0		-- HIDE NAVBAR
				ELSE 1		-- SHOW NAVBAR
			END										AS	navbar
		,	ISNULL(L0030.[system],0)				AS	system_typ
		FROM L0030
		WHERE 
			L0030.del_datetime IS NULL 
		AND L0030.function_id IN('oM0110','oM0010','oM0400')
		AND L0030.[system] = 2  -- 1on1
		ORDER BY 
			L0030.category
		,	L0030.arrange_order 
		--
		GOTO COMPLETE
	END
	------------------------------------------
	-- 4.共通機能
	------------------------------------------

	--INSERT INTO #EXCEPTS VALUES (N'/',N'ログイン',2,N'更新可能',0,0,0,4)
	--INSERT INTO #EXCEPTS VALUES (N'login',N'ログイン',2,N'更新可能',0,0,0,4)
	--INSERT INTO #EXCEPTS VALUES (N'logout',N'ログアウト',2,N'更新可能',0,0,0,4)
	------------------------------------------
	--０：共通設定
	------------------------------------------
	IF @w_setting_authority_typ IN (3,4,5) -- 管理者、システム管理者, 総合管理者
	BEGIN
		-- SHOW NAVBAR
		INSERT INTO #EXCEPTS VALUES (N'basicsetting/sdashboard',N'基本設定メニュー',2,N'更新可能',0,0,1,0)
		-- 3.管理者
		IF @w_setting_authority_typ = 3
		BEGIN
			INSERT INTO #EXCEPTS
			SELECT 
				'basicsetting/'+S9021.function_id		AS	function_id
			,	L0030.function_nm						AS	function_nm
			,	ISNULL(S9021.authority,0)				AS	authority
			,	L0010.ab_nm								AS	authority_nm
			,	ISNULL(L0030.category,0)				AS	category
			,	ISNULL(L0030.arrange_order,0)			AS	arrange_order
			,	1										AS	navbar	
			,	0										AS	system_typ	-- ０：共通設定　
			FROM S0010
			INNER JOIN S9020 ON (
				S0010.company_cd			=	S9020.company_cd
			AND S0010.setting_authority_cd	=	S9020.authority_cd
			AND S9020.del_datetime IS NULL
			)
			INNER JOIN S9021 ON (
				S9020.company_cd	=	S9021.company_cd
			AND S9020.authority_cd	=	S9021.authority_cd
			AND S9021.del_datetime IS NULL 
			)
			INNER JOIN L0030 ON (
				L0030.function_id	=	S9021.function_id
			AND L0030.del_datetime IS NULL 
			)
			LEFT JOIN L0010 ON (
				L0010.name_typ	=	5
			AND L0010.number_cd	=	S9021.authority
			AND L0010.del_datetime IS NULL 
			)
			WHERE 
				S0010.company_cd	=	@P_company_cd
			AND S0010.[user_id]		=	@P_user_id
			AND S9021.function_id IS  NOT NULL
			ORDER BY 
				L0030.category
			,	L0030.arrange_order
		END
		--	4.システム管理者, 5.総合管理者
		IF @w_setting_authority_typ IN (4,5)
		BEGIN
			INSERT INTO #EXCEPTS
			SELECT
				'basicsetting/'+L0030.function_id		AS	function_id
			,	L0030.function_nm						AS	function_nm
			,	2										AS	authority
			,	'更新可能'								AS	authority_nm
			,	ISNULL(L0030.category,0)				AS	category
			,	ISNULL(L0030.arrange_order,0)			AS	arrange_order
			,	1										AS	navbar
			,	ISNULL(L0030.[system],0)				AS	system_typ
			FROM L0030
			WHERE 
				L0030.del_datetime IS NULL 
			AND L0030.function_id IS NOT NULL
			AND L0030.[system] = 0
			ORDER BY 
				L0030.category
			,	L0030.arrange_order
		END
		-- DON'T SHOW IN NAVBAR UPDATE HERE
	END
	------------------------------------------
	--１：人事評価
	------------------------------------------
	IF @w_evaluation_use_typ = 1 AND @evaluation_time_status = 1
	BEGIN
		-- 彼評価者 authority_typ = 1
		IF @authority_typ = 1
		BEGIN
			-- SHOW NAVBAR
			INSERT INTO #EXCEPTS VALUES (N'master/portal/evaluator',N'ホーム',2,N'更新可能',0,0,1,1)
			-- HIDE NAVBAR
		END
		-- 評価者 authority_typ = 2
		IF @authority_typ = 2
		BEGIN
			-- SHOW NAVBAR
			INSERT INTO #EXCEPTS VALUES (N'master/portal',N'ホーム',2,N'更新可能',0,0,1,1)
			-- HIDE NAVBAR
			--INSERT INTO #EXCEPTS VALUES (N'master/i1030/getemployee',N'',2,N'更新可能',0,0,0,1)
		END
		-- 3.管理者
		IF @authority_typ = 3
		BEGIN
			-- SHOW NAVBAR
			INSERT INTO #EXCEPTS VALUES (N'dashboard',N'ダッシュボード',2,N'更新可能',0,0,1,1)
		-- add by viettd 2021/11/23
			-- HIDE NAVBAR
			--INSERT INTO #EXCEPTS VALUES (N'master/i1030/getemployee',N'',2,N'更新可能',0,0,0,1)
			-- GET FROM S0020 + S0021
			INSERT INTO #EXCEPTS
			SELECT 
				'master/'+S0021.function_id		AS	function_id
			,	L0030.function_nm				AS	function_nm
			,	CASE 
					WHEN @P_employee_cd	=	@employee_cd AND ISNULL(S0021.authority,0) <> 0	 AND S0021.function_id IN ('I2010','I2020')
					THEN 2
					WHEN @is_rater = 1 AND S0021.function_id IN ('Q0070','I2040','Q2010') AND ISNULL(S0021.authority,0) = 0
					THEN 2
					ELSE ISNULL(S0021.authority,0)
				END								AS authority
			,	L0010.ab_nm						AS authority_nm
			,	ISNULL(L0030.category,0)		AS category
			,	ISNULL(L0030.arrange_order,0)	AS arrange_order
			,	1								AS navbar
			,	1								AS system_typ		-- １：人事評価
			FROM S0010 
			INNER JOIN S0020 ON (
				S0020.company_cd	=	S0010.company_cd
			AND S0020.authority_cd	=	S0010.authority_cd
			AND S0020.del_datetime IS NULL 
			)
			INNER JOIN S0021 ON (
				S0021.company_cd	=	S0020.company_cd
			AND S0021.authority_cd	=	S0020.authority_cd
			AND S0021.del_datetime IS NULL 
			)
			INNER JOIN L0030 ON (
				L0030.function_id	=	S0021.function_id
			AND L0030.del_datetime IS NULL 
			)
			LEFT JOIN L0010 ON (
				L0010.name_typ	=	5
			AND L0010.number_cd	=	S0021.authority
			AND L0010.del_datetime IS NULL 
			)
			WHERE 
				S0010.company_cd	=	@P_company_cd
			AND S0010.[user_id]		=	@P_user_id
			AND L0030.function_id NOT IN ('I2010','I2020','I2030')
			AND S0021.function_id IS  NOT NULL
			ORDER BY 
				L0030.category
			,	L0030.arrange_order
		END
		-- 4.管理会社者  5.総合管理者
		IF @authority_typ IN (4,5)
		BEGIN
			-- SHOW NAVBAR
			INSERT INTO #EXCEPTS VALUES (N'dashboard',N'ダッシュボード',2,N'更新可能',0,0,1,1)
		-- add by viettd 2021/11/23
			-- HIDE NAVBAR
			--
			INSERT INTO #EXCEPTS
			SELECT
				'master/'+L0030.function_id		AS	function_id
			,	L0030.function_nm				AS	function_nm
			,	2								AS	authority
			,	'更新可能'						AS	authority_nm
			,	ISNULL(L0030.category,0)		AS	category
			,	ISNULL(L0030.arrange_order,0)	AS	arrange_order
			,	CASE 
					WHEN @authority_typ = 4 AND ISNULL(L0030.function_id,'') = 'Q0071'
					THEN 0
					ELSE 1
				END								AS	navbar
			,	ISNULL(L0030.[system],0)		AS	system_typ
			FROM L0030
			WHERE 
				L0030.del_datetime IS NULL 
			AND L0030.function_id IS NOT NULL
			AND L0030.function_id NOT IN ('I2010','I2020','I2030')
			AND L0030.[system] = 1
			ORDER BY 
				L0030.category
			,	L0030.arrange_order
		END
	END 
	------------------------------------------
	-- ２：１on１
	------------------------------------------
	IF @w_1on1_use_typ = 1 AND @oneonone_time_status = 1
	BEGIN
		-- MEMBER
		IF @w_1on1_authority_typ = 1
		BEGIN
			-- SHOW NAVBAR
			INSERT INTO #EXCEPTS VALUES (N'oneonone/odashboardmember',N'ダッシュボード（メンバー）',2,N'更新可能',0,0,1,2)
			--
			INSERT INTO #EXCEPTS
			SELECT
				'oneonone/'+L0030.function_id			AS	function_id
			,	L0030.function_nm						AS	function_nm
			,	2										AS	authority
			,	'更新可能'								AS	authority_nm
			,	ISNULL(L0030.category,0)				AS	category
			,	ISNULL(L0030.arrange_order,0)			AS	arrange_order
			,	CASE 
					WHEN L0030.function_id IN ('oI3010','oI2010') -- oi3010.アンケート記入 oi2010.面談シート入力	
					THEN 0		-- HIDE NAVBAR
					ELSE 1		-- SHOW NAVBAR
				END										AS	navbar
			,	ISNULL(L0030.[system],0)				AS	system_typ
			FROM L0030
			WHERE 
				L0030.del_datetime IS NULL 
			AND L0030.function_id IN('oQ0010','oI2010','oQ2010','oQ2020','oI3010')
			AND L0030.[system] = 2  -- 1on1
			ORDER BY 
				L0030.category
			,	L0030.arrange_order 
			-- HIDE NAVBAR
		END
		--COACH
		IF @w_1on1_authority_typ = 2
		BEGIN
			-- SHOW NAVBAR
			INSERT INTO #EXCEPTS VALUES (N'oneonone/odashboard',N'ダッシュボード（コーチ）',2,N'更新可能',0,0,1,2)
			--
			INSERT INTO #EXCEPTS
			SELECT
				'oneonone/'+L0030.function_id			AS	function_id
			,	L0030.function_nm						AS	function_nm
			,	2										AS	authority
			,	'更新可能'								AS	authority_nm
			,	ISNULL(L0030.category,0)				AS	category
			,	ISNULL(L0030.arrange_order,0)			AS	arrange_order
			,	CASE 
					WHEN L0030.function_id IN ('oI3010','oI2010') -- oi3010.アンケート記入 oi2010.面談シート入力	
					THEN 0		-- HIDE NAVBAR
					ELSE 1		-- SHOW NAVBAR
				END										AS	navbar
			,	ISNULL(L0030.[system],0)				AS	system_typ
			FROM L0030
			WHERE 
				L0030.del_datetime IS NULL 
			AND L0030.function_id IN('oQ0010','oI2010','oQ2010','oQ2020','oI3010')
			AND L0030.[system] = 2  -- 1on1
			ORDER BY 
				L0030.category
			,	L0030.arrange_order 
			-- HIDE NAVBAR
		END
		IF @w_1on1_authority_typ = 3
		BEGIN
			INSERT INTO #EXCEPTS VALUES (N'oneonone/odashboard',N'ダッシュボード（コーチ）',2,N'更新可能',0,0,0,2)
		-- add by viettd 2021/11/23
 -- add by viettd 2021/11/26
			-- GET DATA FROM S2020 + S2021
			IF EXISTS (SELECT 1 FROM F2001 
								WHERE 
									F2001.company_cd		=	@P_company_cd
								--AND	F2001.fiscal_year		=	@w_fiscal_year
								AND	(
										F2001.coach_cd		=	@employee_cd
									OR	F2001.employee_cd	=	@employee_cd
								)
								AND	F2001.del_datetime	IS NULL)
			BEGIN
				SET @w_1on1_is_coach_member = 1	-- is coach or member
			END
			--
			INSERT INTO #EXCEPTS
			SELECT 
				'oneonone/'+S2021.function_id			AS	function_id
			,	L0030.function_nm						AS	function_nm
			,	CASE 
					WHEN @w_1on1_is_coach_member = 1 AND L0030.function_id IN ('oI3010','oI2010','oQ2020','oQ2010')
					THEN 2 -- 2.EDITED
					ELSE ISNULL(S2021.authority,0)
				END										AS	authority
			,	L0010.ab_nm								AS	authority_nm
			,	ISNULL(L0030.category,0)				AS	category
			,	ISNULL(L0030.arrange_order,0)			AS	arrange_order
			,	CASE 
					WHEN L0030.function_id IN ('oI3010','oI2010') -- oi3010.アンケート記入 oi2010.面談シート入力	
					THEN 0		-- HIDE NAVBAR
					ELSE 1		-- SHOW NAVBAR
				END										AS	navbar
			,	2										AS	system_typ	--２：１on１
			FROM S0010
			INNER JOIN S2020 ON (
				S0010.company_cd			=	S2020.company_cd
			AND S0010.[1on1_authority_cd]	=	S2020.authority_cd
			AND S2020.del_datetime IS NULL
			)
			INNER JOIN S2021 ON (
				S2020.company_cd	=	S2021.company_cd
			AND S2020.authority_cd	=	S2021.authority_cd
			AND S2021.del_datetime IS NULL 
			)
			INNER JOIN L0030 ON (
				L0030.function_id	=	S2021.function_id
			AND L0030.del_datetime IS NULL 
			)
			LEFT JOIN L0010 ON (
				L0010.name_typ	=	5
			AND L0010.number_cd	=	S2021.authority
			AND L0010.del_datetime IS NULL 
			)
			WHERE 
				S0010.company_cd	=	@P_company_cd
			AND S0010.[user_id]		=	@P_user_id
			AND S2021.function_id IS  NOT NULL
			ORDER BY 
				L0030.category
			,	L0030.arrange_order
			-- DON'T SHOW IN NAVBAR UPDATE HERE
		END
		-- 4.管理会社者  5.総合管理者
		IF @w_1on1_authority_typ IN (4,5)
		BEGIN
			INSERT INTO #EXCEPTS VALUES (N'oneonone/odashboard',N'ダッシュボード（コーチ）',2,N'更新可能',0,0,0,2)
		-- add by viettd 2021/11/23
 -- add by viettd 2021/11/26
			INSERT INTO #EXCEPTS
			SELECT
				'oneonone/'+L0030.function_id			AS	function_id
			,	L0030.function_nm						AS	function_nm
			,	2										AS	authority
			,	'更新可能'								AS	authority_nm
			,	ISNULL(L0030.category,0)				AS	category
			,	ISNULL(L0030.arrange_order,0)			AS	arrange_order
			,	CASE 
					WHEN L0030.function_id IN ('oI3010','oI2010') -- oi3010.アンケート記入 oi2010.面談シート入力	
					THEN 0		-- HIDE NAVBAR
					ELSE 1		-- SHOW NAVBAR
				END										AS	navbar
			,	ISNULL(L0030.[system],0)				AS	system_typ
			FROM L0030
			WHERE 
				L0030.del_datetime IS NULL 
			AND L0030.function_id IS NOT NULL
			AND L0030.[system] = 2  -- 1on1
			ORDER BY 
				L0030.category
			,	L0030.arrange_order 
		END
	END
	------------------------------------------
	-- ３：マルチレビュー
	------------------------------------------
	IF @w_multireview_use_typ = 1 AND @multireview_time_status = 1
	BEGIN
		-- 2.サポーター	& 人事評価の2.評価者
		--IF (@w_multireview_authority_typ < 3 AND  @authority_typ = 2)
		IF (@w_multireview_authority_typ = 2 AND  @w_user_is_rater_1 = 1)	-- edited by viettd 2021/06/16
		BEGIN
			-- SHOW NAVBAR
			INSERT INTO #EXCEPTS VALUES (N'multiview/mdashboard',N'ダッシュボード(評価者・管理者)',2,N'更新可能',0,0,1,3)	-- 管理者用
			-- HIDE NAVBAR
	-- サポーター用
			--
			INSERT INTO #EXCEPTS
			SELECT
				'multiview/'+L0030.function_id			AS	function_id
			,	L0030.function_nm						AS	function_nm
			,	2										AS	authority
			,	'更新可能'								AS	authority_nm
			,	ISNULL(L0030.category,0)				AS	category
			,	ISNULL(L0030.arrange_order,0)			AS	arrange_order
			,	CASE WHEN 	function_id = 'mQ2000'	THEN 1 
					 ELSE 0 END								AS	navbar -- MI2000 NOT SHOW IN NAVBAR CRcommon 20210322
			,	ISNULL(L0030.[system],0)				AS	system_typ
			FROM L0030
			WHERE 
				L0030.del_datetime IS NULL 
			AND L0030.function_id IN('mI2000','mQ2000')
			AND L0030.[system] = 3  -- muliview
			ORDER BY 
				L0030.category
			,	L0030.arrange_order 
		END
		-- 2.サポーター
		ELSE IF (@w_multireview_authority_typ = 2 AND @w_user_is_rater_1 = 0)
		BEGIN
			-- SHOW NAVBAR
			INSERT INTO #EXCEPTS VALUES (N'multiview/mdashboardsupporter',N'ダッシュボード(サポーター用)',2,N'更新可能',0,0,1,3)	-- サポーター用
			--
			INSERT INTO #EXCEPTS
			SELECT
				'multiview/'+L0030.function_id			AS	function_id
			,	L0030.function_nm						AS	function_nm
			,	2										AS	authority
			,	'更新可能'								AS	authority_nm
			,	ISNULL(L0030.category,0)				AS	category
			,	ISNULL(L0030.arrange_order,0)			AS	arrange_order
			,	CASE WHEN 	function_id = 'mQ2000'	THEN 1 
					 ELSE 0 END								AS	navbar -- MI2000 NOT SHOW IN NAVBAR CRcommon 20210322
			,	ISNULL(L0030.[system],0)				AS	system_typ
			FROM L0030
			WHERE 
				L0030.del_datetime IS NULL 
			AND L0030.function_id IN('mI2000','mQ2000')
			AND L0030.[system] = 3  -- muliview
			ORDER BY 
				L0030.category
			,	L0030.arrange_order 
		END
		-- 3.管理者
		ELSE IF @w_multireview_authority_typ = 3
		BEGIN
			-- SHOW NAVBAR
			INSERT INTO #EXCEPTS VALUES (N'multiview/mdashboard',N'ダッシュボード(評価者・管理者)',2,N'更新可能',0,0,1,3)	-- 管理者用
		-- add by viettd 2021/11/23
			-- HIDE NAVBAR
	-- サポーター用
			-- GET DATA FROM S3020 + S3021
			IF EXISTS (SELECT 1 FROM F3020 WHERE 
										F3020.company_cd		=	@P_company_cd
									--AND	F3020.fiscal_year		=	@w_fiscal_year
									AND	F3020.supporter_cd		=	@employee_cd
									AND	F3020.del_datetime	IS NULL)
			BEGIN
				SET @w_mulitireview_is_suppoter = 1	-- is supporter
			END
			--
			INSERT INTO #EXCEPTS
			SELECT 
				'multiview/'+S3021.function_id			AS	function_id
			,	L0030.function_nm						AS	function_nm
			,	CASE 
					WHEN @w_mulitireview_is_suppoter = 1 AND L0030.function_id IN ('mI2000','mQ2000')
					THEN 2 -- 2.EDITED
					ELSE ISNULL(S3021.authority,0)
				END										AS	authority
			,	L0010.ab_nm								AS	authority_nm
			,	ISNULL(L0030.category,0)				AS	category
			,	ISNULL(L0030.arrange_order,0)			AS	arrange_order
			,	CASE WHEN 	L0030.function_id = 'mI2000'	THEN 0 
					ELSE 1 END								AS	navbar -- MI2000 NOT SHOW IN NAVBAR CRcommon 20210322
			,	3										AS	system_typ	--３：マルチレビュー
			FROM S0010
			INNER JOIN S3020 ON (
				S0010.company_cd				=	S3020.company_cd
			AND S0010.multireview_authority_cd	=	S3020.authority_cd
			AND S3020.del_datetime IS NULL
			)
			INNER JOIN S3021 ON (
				S3020.company_cd	=	S3021.company_cd
			AND S0010.multireview_authority_cd	=	S3021.authority_cd
			AND S3021.del_datetime IS NULL 
			)
			INNER JOIN L0030 ON (
				L0030.function_id	=	S3021.function_id
			AND L0030.del_datetime IS NULL 
			)
			LEFT JOIN L0010 ON (
				L0010.name_typ	=	5
			AND L0010.number_cd	=	S3021.authority
			AND L0010.del_datetime IS NULL 
			)
			WHERE 
				S0010.company_cd	=	@P_company_cd
			AND S0010.[user_id]		=	@P_user_id
			AND S3021.function_id IS NOT NULL
			ORDER BY 
				L0030.category
			,	L0030.arrange_order
		END
		-- 4.管理会社者  5.総合管理者
		ELSE IF @w_multireview_authority_typ IN (4,5)
		BEGIN
			-- SHOW NAVBAR
			INSERT INTO #EXCEPTS VALUES (N'multiview/mdashboard',N'ダッシュボード(評価者・管理者)',2,N'更新可能',0,0,1,3)	-- 管理者用
		-- add by viettd 2021/11/23
			-- HIDE NAVBAR
	-- サポーター用

			INSERT INTO #EXCEPTS
			SELECT
				'multiview/'+L0030.function_id			AS	function_id
			,	L0030.function_nm						AS	function_nm
			,	2										AS	authority
			,	'更新可能'								AS	authority_nm
			,	ISNULL(L0030.category,0)				AS	category
			,	ISNULL(L0030.arrange_order,0)			AS	arrange_order
			,	CASE WHEN 	L0030.function_id = 'mI2000'	THEN 0 
					ELSE 1 END								AS	navbar -- MI2000 NOT SHOW IN NAVBAR CRcommon 20210322
			,	ISNULL(L0030.[system],0)				AS	system_typ
			FROM L0030
			WHERE 
				L0030.del_datetime IS NULL 
			AND L0030.function_id IS NOT NULL
			AND L0030.[system] = 3  -- muliview
			ORDER BY 
				L0030.category
			,	L0030.arrange_order 
		END
	END
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--PROCESS RESULT
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
COMPLETE:
	--[0]
	SELECT
		function_id	
	,	function_nm	
	,	authority	
	,	authority_nm
	,	category	
	,	arrange_order
	,	navbar
	,	system_typ
	FROM #EXCEPTS
	ORDER BY
		#EXCEPTS.system_typ		DESC
	,	#EXCEPTS.category		ASC
	,	#EXCEPTS.arrange_order	ASC
	--[1]
	SELECT
		M0070.company_cd
	,	M0070.employee_cd
	,	M0070.employee_nm
	,	M0070.employee_ab_nm
	,	M0070.furigana
	,	M0070.gender
	,	M0070.mail
	,	M0070.birth_date
	,	FORMAT(M0070.company_in_dt,'yyyy/MM/dd')	AS company_in_dt
	,	FORMAT(M0070.company_out_dt,'yyyy/MM/dd')	AS company_out_dt
	,	M0070.evaluated_typ
	,	M0070.office_cd
	,	M0070.belong_cd1
	,	M0070.belong_cd2
	,	M0070.job_cd
	,	M0070.position_cd
	,	M0070.employee_typ
	,	M0070.grade
	,	M0070.base_salary
	,	M0070.picture
	,	M0070.cre_user
	,	M0070.cre_ip
	,	M0070.cre_datetime
	,	M0070.upd_user
	,	M0070.upd_ip
	,	M0070.upd_datetime
	,	M0070.del_user
	,	M0070.del_ip
	,	M0070.del_datetime
	,	@countInfromation	AS	 countInfromation
	FROM S0010 
	INNER JOIN M0070 ON (
		M0070.company_cd	=	S0010.company_cd
	AND M0070.employee_cd	=	S0010.employee_cd
	AND M0070.del_datetime IS NULL 
	)
	WHERE
		S0010.company_cd		=	@P_company_cd
	AND S0010.user_id			=	@P_user_id
	AND S0010.del_datetime	IS NULL
	--[2]
	SELECT 
		@authority_typ					AS	authority_typ					-- 人事評価機能権限タイプ
	,	@w_1on1_authority_typ			AS	w_1on1_authority_typ			-- １on１機能権限タイプ
	,	@w_multireview_authority_typ	AS	multireview_authority_typ		-- マルチレビュータイプ
	,	@w_setting_authority_typ		AS	setting_authority_typ			-- 共通設定機能権限タイプ
END
