DROP FUNCTION [FNC_GET_ORGANIZATION_BELONG_PERSON_TYP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--++ Test ++
-- SELECT dbo.FNC_GET_ORGANIZATION_BELONG_PERSON_TYP(751,3,1)
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	GET  organization_belong_person_typ FROM S0020 , S2020 , S3020, S9020
--*								:	自分の所属する組織のみ閲覧可能
--*
--*  作成日/create date			:	2021/06/09									
--*　作成者/creater				:	viettd								
--*   					
--*	更新日/update date			:  	2023/03/30
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	upgrade ver2.0
--*   					
--*	更新日/update date			:  	2024/03/18
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	upgrade ver2.1
--*   					
--****************************************************************************************
CREATE FUNCTION [FNC_GET_ORGANIZATION_BELONG_PERSON_TYP]
(
	-- Add the parameters for the function here
	@P_company_cd			SMALLINT	=	0			
,	@P_authority_cd			SMALLINT	=	0
,	@P_system				SMALLINT	=	1	-- 1.人事評価 2.1on1 3.マルチレビュー 4.基本設定 5.週報 6.社員情報
)
RETURNS SMALLINT
AS
BEGIN
	-- Declare the return variable here
	DECLARE 
		@w_organization_belong_person_typ				SMALLINT	=	0
	-- 1.人事評価
	IF @P_system = 1
	BEGIN
		SET @w_organization_belong_person_typ = (	SELECT 
														ISNULL(S0020.organization_belong_person_typ,0) 
													FROM S0020 
													WHERE 
														company_cd		= @P_company_cd 
													AND authority_cd	= @P_authority_cd 
													AND del_datetime IS NULL
													)
	END
	-- 2.1ON1
	ELSE IF @P_system = 2
	BEGIN
		SET @w_organization_belong_person_typ = (	SELECT 
														ISNULL(S2020.organization_belong_person_typ,0) 
													FROM S2020 
													WHERE 
														company_cd		= @P_company_cd 
													AND authority_cd	= @P_authority_cd 
													AND del_datetime IS NULL
													)
	END
	-- 3.MULITIREVIEW
	ELSE IF @P_system = 3
	BEGIN
		SET @w_organization_belong_person_typ = (	SELECT 
														ISNULL(S3020.organization_belong_person_typ,0) 
													FROM S3020 
													WHERE 
														company_cd		= @P_company_cd 
													AND authority_cd	= @P_authority_cd 
													AND del_datetime IS NULL
													)
	END
	--4.BASIC SETTING
	ELSE IF @P_system = 4
	BEGIN
		SET @w_organization_belong_person_typ = (	SELECT 
														ISNULL(S9020.organization_belong_person_typ,0) 
													FROM S9020 
													WHERE 
														company_cd		= @P_company_cd 
													AND authority_cd	= @P_authority_cd 
													AND del_datetime IS NULL
													)
	END
	--5.WEEKLYREPORT
	ELSE IF @P_system = 5
	BEGIN
		SET @w_organization_belong_person_typ = (	SELECT 
														ISNULL(S4020.organization_belong_person_typ,0) 
													FROM S4020 
													WHERE 
														company_cd		= @P_company_cd 
													AND authority_cd	= @P_authority_cd 
													AND del_datetime IS NULL
													)
	END
	--6.EMPLOYEE_INFORMATION
	ELSE IF @P_system = 6
	BEGIN
		SET @w_organization_belong_person_typ = (	SELECT 
														ISNULL(S5020.organization_belong_person_typ,0) 
													FROM S5020 
													WHERE 
														company_cd		= @P_company_cd 
													AND authority_cd	= @P_authority_cd 
													AND del_datetime IS NULL
													)
	END
	--
	RETURN @w_organization_belong_person_typ
END
GO