DROP FUNCTION [FNC_GET_NUMBER_OF_ORGANIZATION]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--++ Test ++
-- SELECT dbo.FNC_GET_NUMBER_OF_ORGANIZATION(751,1,1)
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	GET  number of organization FROM S0022 , S2022 , S3022, S9022
--*								:	自分の所属する組織のみ閲覧可能
--*
--*  作成日/create date			:	2021/06/09									
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:  	2023/04/04					
--*　更新者/updater				:　 viettd 　								     	 
--*　更新内容/update content		:	upgrade ver2.0
--*   					
--*  更新日/update date			:  	2024/03/21				
--*　更新者/updater				:　 viettd 　								     	 
--*　更新内容/update content		:	upgrade ver2.1

--****************************************************************************************
CREATE FUNCTION [FNC_GET_NUMBER_OF_ORGANIZATION]
(
	-- Add the parameters for the function here
	@P_company_cd			SMALLINT	=	0			
,	@P_authority_cd			SMALLINT	=	0
,	@P_system				SMALLINT	=	1	-- 1.人事評価 2.1on1 3.マルチレビュー 4.基本設定 5.週報 6.社員情報
)
RETURNS INT
AS
BEGIN
	-- Declare the return variable here
	DECLARE 
		@w_evaluation_organization_cnt		INT		=	0
	-- 1.人事評価
	IF @P_system = 1
	BEGIN
		SET @w_evaluation_organization_cnt =	(
												SELECT 
													COUNT(S0022.company_cd)
												FROM S0022
												WHERE 
													company_cd			=	@P_company_cd
												AND authority_cd		=	@P_authority_cd
												AND authority			=	1	-- USE
												AND del_datetime IS NULL
												)
	END
	ELSE IF @P_system = 2
	BEGIN
		SET @w_evaluation_organization_cnt =	(	
												SELECT 
													COUNT(S2022.company_cd)
												FROM S2022 
												WHERE 
													company_cd		=	@P_company_cd 
												AND authority_cd	=	@P_authority_cd 
												AND authority		=	1	-- USE
												AND del_datetime IS NULL
												)
	END
	ELSE IF @P_system = 3
	BEGIN
		SET @w_evaluation_organization_cnt =	(	
												SELECT 
													COUNT(S3022.company_cd)
												FROM S3022 
												WHERE 
													company_cd		=	@P_company_cd 
												AND authority_cd	=	@P_authority_cd 
												AND authority		=	1	-- USE
												AND del_datetime IS NULL
												)
	END
	ELSE IF @P_system = 4
	BEGIN
		SET @w_evaluation_organization_cnt =	(	
												SELECT 
													COUNT(S9022.company_cd)
												FROM S9022 
												WHERE 
													company_cd		=	@P_company_cd 
												AND authority_cd	=	@P_authority_cd 
												AND authority		=	1	-- USE
												AND del_datetime IS NULL
												)
	END
	ELSE IF @P_system = 5
	BEGIN
		SET @w_evaluation_organization_cnt =	(	
												SELECT 
													COUNT(S4022.company_cd)
												FROM S4022 
												WHERE 
													company_cd		=	@P_company_cd 
												AND authority_cd	=	@P_authority_cd 
												AND authority		=	1	-- USE
												AND del_datetime IS NULL
												)
	END
	ELSE IF @P_system = 6
	BEGIN
		SET @w_evaluation_organization_cnt =	(	
												SELECT 
													COUNT(S5022.company_cd)
												FROM S5022 
												WHERE 
													company_cd		=	@P_company_cd 
												AND authority_cd	=	@P_authority_cd 
												AND authority		=	1	-- USE
												AND del_datetime IS NULL
												)
	END
	--
	RETURN @w_evaluation_organization_cnt
END
GO