DROP FUNCTION [FNC_GET_BIRTHDAY_AGE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Test
-- SELECT dbo.FNC_GET_BIRTHDAY_AGE('1991/12/02',NULL)
-- SELECT dbo.FNC_GET_BIRTHDAY_AGE('1991/12/02','2020/12/02')
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	GET REDUNDANT TIME BETWEEN DATETIME
--*  
--*  作成日/create date			:	2016/01/11											
--*　作成者/creater				:	namnb								
--*   					
--*  更新日/update date			:  						
--*　更新者/updater				:　  　								     	 
--*　更新内容/update content		:	　	
--****************************************************************************************
CREATE FUNCTION [FNC_GET_BIRTHDAY_AGE]
(
	-- Add the parameters for the function here
	@P_birthday				DATE		=	NULL
,	@P_date					DATE		=	NULL
)
RETURNS INT
AS
BEGIN
	-- Declare the return variable here
	DECLARE 
		@w_date					date		=	NULL
	,	@w_date_temp			date		=	NULL
	,	@w_years				int			=	0
	-- 
	IF @P_date IS NULL
	BEGIN
		SET @w_date	=	SYSDATETIME()
	END
	ELSE
	BEGIN
		SET @w_date = @P_date
	END
	-- CHECK BIRTHDAY IS NULL
	IF @P_birthday IS NULL
	BEGIN
		RETURN 0
	END
	-- CHECK BIRTHDAY > CURRENT DAY
	IF DATEDIFF(YEAR,@P_birthday,@w_date) <= 0
	BEGIN
		RETURN 0
	END
	--
	SET @w_years = DATEDIFF(YYYY,@P_birthday,@w_date)
	SET @w_date_temp = DATEADD(YYYY,@w_years,@P_birthday)
	--
	IF @w_date < @w_date_temp
	BEGIN
		SET @w_years = @w_years - 1
	END
	-- 
	RETURN @w_years
	--RETURN DATEDIFF(HOUR,@P_birthday,@w_date)/8766
END



GO
