DROP FUNCTION [FNC_COM_REPLACE_SPACE]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
/****************************************************************************************************
 *
 *  処理概要：COMMON
 *
 *  作成日  ：2018/08/20
 *  作成者  ：ANS-ASIA TUANTV
 *
 *  更新日  ：2018/08/20
 *  更新者  ：Longvv-longvv@ans-asia.com
 *  更新内容：半角のアンダーバー「_」で検索
 *
 ****************************************************************************************************/
/*パラメータ*/
CREATE FUNCTION [FNC_COM_REPLACE_SPACE](
	--
	@P_Name VARCHAR(1000)	= ''
)
RETURNS VARCHAR(1000)
AS
BEGIN
	
	SET @P_Name = LTRIM(RTRIM(REPLACE(REPLACE(@P_Name,' ',''),'　','')))
	SET @P_Name = REPLACE(@P_Name,'_', '/_/')
	SET @P_Name = REPLACE(@P_Name,'[', '')
	SET @P_Name = REPLACE(@P_Name,']', '')
	--
	RETURN @P_Name
END
--
--
GO
