DROP FUNCTION [GET_DELIMITER]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	GET DELIMITER
--*  
--*  作成日/create date			:	2015/11/05											
--*　作成者/creater				:	viettd　								
--*   					
--*  更新日/update date			:  						
--*　更新者/updater				:　  　								     	 
--*　更新内容/update content		:	　	
--****************************************************************************************
CREATE FUNCTION [GET_DELIMITER]
(
	-- Add the parameters for the function here
)
RETURNS  nvarchar(10)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @delimiter nvarchar(10)		= '|#|@'
	RETURN @delimiter
END





GO
