DROP TYPE [ERRTABLE]
GO
CREATE TYPE [ERRTABLE] AS TABLE(
	[message_no] [int] NULL,
	[item] [nvarchar](100) NULL,
	[order_by] [int] NULL,
	[error_typ] [int] NULL,
	[value1] [int] NULL,
	[value2] [int] NULL,
	[remark] [nvarchar](500) NULL
)
GO
