DROP FUNCTION [FNC_GET_STEP_EVALUATION]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Test
-- EXEC FNC_GET_STEP_EVALUATION 'I2030',2,0,'822','901',3,'900','901','902','904'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	評価段階を取得する/ GET STEP EVALUATION
--*  
--*  作成日/create date			:	2020/02/24											
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:  	2020/10/09					
--*　更新者/updater				:　 viettd　								     	 
--*　更新内容/update content		:	upgradte ver1.7 & 1on1　	
--*   					
--*  更新日/update date			:  	2021/07/27					
--*　更新者/updater				:　 viettd　								     	 
--*　更新内容/update content		:	when authority_typ = 5.総合管理者 then edited every thing
--*   					
--*  更新日/update date			:  	2022/08/16					
--*　更新者/updater				:　 viettd　								     	 
--*　更新内容/update content		:	upgrade 1.9
--****************************************************************************************
CREATE FUNCTION [dbo].[FNC_GET_STEP_EVALUATION]
(
	@screen_id					nvarchar(10)	=	''	-- using for screen?
,	@sheet_kbn					tinyint			=	0	-- 1.目標シート　2.定性シート
,	@status_cd					smallint		=	0
,	@P_employee_cd				nvarchar(10)	=	''
--	Login user 
,	@P_login_employee_cd		nvarchar(10)	=	''
,	@P_authority_typ			smallint		=	0
--	評価者情報	
,	@P_rater_employee_cd_1		nvarchar(10)	=	''
,	@P_rater_employee_cd_2		nvarchar(10)	=	''
,	@P_rater_employee_cd_3		nvarchar(10)	=	''
,	@P_rater_employee_cd_4		nvarchar(10)	=	''
)
RETURNS SMALLINT
AS
BEGIN
	DECLARE 
		@login_user_typ			AS		SMALLINT		=	-1
		-- add by viettd 2021/07/27
		IF @P_authority_typ = 5 -- 5.総合管理者
		BEGIN
			--目標シート
			IF @sheet_kbn = 1
			BEGIN
				IF @screen_id = 'I2010'
				BEGIN
					SET @login_user_typ = 3  -- 3.管理者
					GOTO COMPLETE_QUERY
				END
				--
				IF @screen_id IN('I2030','Q2010')
				BEGIN
					SET @login_user_typ = 5  -- 5.管理者
					GOTO COMPLETE_QUERY
				END
			END
			--定性シート
			IF @sheet_kbn = 2
			BEGIN
				IF @screen_id IN('I2030','I2020','Q2010')
				BEGIN
					SET @login_user_typ = 5  -- 5.管理者
					GOTO COMPLETE_QUERY
				END
				IF @screen_id IN('I2030','I2020','Q2010')
				BEGIN
					SET @login_user_typ = 5  -- 5.管理者
					GOTO COMPLETE_QUERY
				END
			END
		END
		-- end add by viettd 2021/07/27
		-- 管理者 = 評価者 SET @P_authority_typ = 2 -- 2.評価者
		IF (
			(@P_login_employee_cd = @P_rater_employee_cd_1 AND @P_rater_employee_cd_1 != '')
		OR	(@P_login_employee_cd = @P_rater_employee_cd_2 AND @P_rater_employee_cd_2 != '')
		OR	(@P_login_employee_cd = @P_rater_employee_cd_3 AND @P_rater_employee_cd_3 != '')
		OR	(@P_login_employee_cd = @P_rater_employee_cd_4 AND @P_rater_employee_cd_4 != '')
		)
		AND @P_authority_typ IN (2,6)
		BEGIN
			SET @P_authority_typ = 2 -- 2.評価者
		END
		-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		-- 被評価者用
		-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF @P_employee_cd = @P_login_employee_cd AND @P_authority_typ IN (1,2,6)
		BEGIN
			IF @screen_id = 'I2010'
			BEGIN
				SET @login_user_typ = 1	-- 1. 被評価者用
				GOTO COMPLETE_QUERY	
			END
			--
			IF @screen_id IN('I2030','I2020','Q2010')
			BEGIN
				SET @login_user_typ = 0	-- 0. 被評価者用
				GOTO COMPLETE_QUERY	
			END
		END
		--
		IF @sheet_kbn = 1
		BEGIN
			-- 四次評価中
			IF @P_rater_employee_cd_4 = @P_login_employee_cd AND @status_cd >= 7 AND @P_authority_typ IN (2,6) -- ７：三次評価済。四次評価中。
			BEGIN
				IF @screen_id = 'I2010'
				BEGIN
					SET @login_user_typ = 24 -- 24. 四次評価中
					GOTO COMPLETE_QUERY
				END
				--
				IF @screen_id IN('I2030','Q2010')
				BEGIN
					SET @login_user_typ = 4 -- 4. 四次評価中
					GOTO COMPLETE_QUERY
				END
			END
			-- 三次評価中
			IF @P_rater_employee_cd_3 = @P_login_employee_cd AND @status_cd >= 6 AND @P_authority_typ IN (2,6) -- ６：二次評価済。三次評価中。
			BEGIN
				IF @screen_id = 'I2010'
				BEGIN
					SET @login_user_typ = 23 -- 23. 三次評価中
					GOTO COMPLETE_QUERY
				END
				--
				IF @screen_id IN('I2030','Q2010')
				BEGIN
					SET @login_user_typ = 3 -- 3. 三次評価中
					GOTO COMPLETE_QUERY
				END
			END
			-- 二次評価中
			IF @P_rater_employee_cd_2 = @P_login_employee_cd AND @status_cd >= 5 AND @P_authority_typ IN (2,6) -- ５：一次評価済。二次評価中。
			BEGIN
				IF @screen_id = 'I2010'
				BEGIN
					SET @login_user_typ = 22 -- 22. 二次評価中
					GOTO COMPLETE_QUERY
				END
				--
				IF @screen_id IN('I2030','Q2010')
				BEGIN
					SET @login_user_typ = 2 -- 2. 二次評価中
					GOTO COMPLETE_QUERY
				END
			END
			-- 一次評価者
			IF @P_rater_employee_cd_1 = @P_login_employee_cd AND @P_authority_typ IN (2,6)
			BEGIN
				IF @screen_id = 'I2010'
				BEGIN
					SET @login_user_typ = 21 -- 21. 一次評価者
					GOTO COMPLETE_QUERY
				END
				--
				IF @screen_id IN('I2030','Q2010')
				BEGIN
					SET @login_user_typ = 1 -- 1. 一次評価者
					GOTO COMPLETE_QUERY
				END
			END	
			-- 管理者 & 会社管理者
			IF @P_authority_typ IN(3,4)
			BEGIN
				IF @screen_id = 'I2010'
				BEGIN
					SET @login_user_typ = 3  -- 3.管理者
					GOTO COMPLETE_QUERY
				END
				--
				IF @screen_id IN('I2030','Q2010')
				BEGIN
					SET @login_user_typ = 5  -- 5.管理者
					GOTO COMPLETE_QUERY
				END
			END
		END 
		-- IF @sheet_kbn = 2
		IF @sheet_kbn = 2
		BEGIN
			-- 四次評価中
			IF @P_rater_employee_cd_4 = @P_login_employee_cd AND @status_cd >= 5 AND @P_authority_typ IN (2,6) -- ５：三次評価済。四次評価中。
			BEGIN
				IF @screen_id IN('I2030','I2020','Q2010')
				BEGIN
					SET @login_user_typ = 4 -- 4. 四次評価中
					GOTO COMPLETE_QUERY
				END
			END
			-- 三次評価中
			IF @P_rater_employee_cd_3 = @P_login_employee_cd AND @status_cd >= 4 AND @P_authority_typ IN (2,6) -- ４：二次評価済。三次評価中。
			BEGIN
				IF @screen_id IN('I2030','I2020','Q2010')
				BEGIN
					SET @login_user_typ = 3 -- 3. 三次評価中
					GOTO COMPLETE_QUERY
				END
			END
			-- 二次評価中
			IF @P_rater_employee_cd_2 = @P_login_employee_cd AND @status_cd >= 3 AND @P_authority_typ IN (2,6) -- ３：一次評価済。二次評価中。
			BEGIN
				IF @screen_id IN('I2030','I2020','Q2010')
				BEGIN
					SET @login_user_typ = 2 -- 2. 二次評価中。
					GOTO COMPLETE_QUERY
				END
			END
			-- 一次評価中
			IF @P_rater_employee_cd_1 = @P_login_employee_cd AND @P_authority_typ IN (2,6)
			BEGIN
				IF @screen_id IN('I2030','I2020','Q2010')
				BEGIN
					SET @login_user_typ = 1 -- 1. 一次評価中。
					GOTO COMPLETE_QUERY
				END
			END
			-- 管理者 & 会社管理者
			IF @P_authority_typ IN(3,4)
			BEGIN
				IF @screen_id IN('I2030','I2020','Q2010')
				BEGIN
					SET @login_user_typ = 5  -- 5.管理者
					GOTO COMPLETE_QUERY
				END
			END
		END
COMPLETE_QUERY:
	-- 
	RETURN @login_user_typ
END
 
GO
