DROP FUNCTION [FNC_GET_YEAR]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Test
-- SELECT dbo.FNC_GET_YEAR(1007,NULL)
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	FNC_GET_YEAR 
--*  
--*  作成日/create date			:	2020/02/20											
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:  						
--*　更新者/updater				:　  　								     	 
--*　更新内容/update content		:	　	
--****************************************************************************************
CREATE FUNCTION [FNC_GET_YEAR]
(
	-- Add the parameters for the function here
	@P_company_cd			SMALLINT	=	0			
,	@P_date					DATE		=	NULL
)
RETURNS INT
AS
BEGIN
	-- Declare the return variable here
	DECLARE 
		@w_date					date		=	NULL
	,	@beginning_date			date		=	NULL
	,	@P_year					int			=	0
	,	@P_year_prev			int			=	0
	,	@P_year_next			int			=	0
	,	@P_year_date_from		date		=	NULL
	,	@P_year_date_to			date		=	NULL
	,	@P_year_prev_from		date		=	NULL
	,	@P_year_prev_to			date		=	NULL
	,	@P_year_next_from		date		=	NULL
	,	@P_year_next_to			date		=	NULL
	,	@result					int			=	0
	-- 
	IF @P_date IS NULL
	BEGIN
		SET @P_date = GETDATE()
	END
	--
	SET @P_year	= DATEPART(YYYY,@P_date)
	SET @P_year_prev	=	@P_year - 1
	SET @P_year_next	=	@P_year + 1
	--
	SELECT 
		@beginning_date		=	M9100.beginning_date
	FROM M9100
	WHERE
		M9100.company_cd			=	@P_company_cd
	AND M9100.del_datetime IS NULL
	--
	IF @beginning_date IS NOT NULL
	BEGIN
		SET @P_year_date_from	= CAST((CAST(@P_year AS nvarchar(4)) + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		SET @P_year_date_to		= DATEADD(DD,-1,DATEADD(YYYY,1,@P_year_date_from))
		-- 
		SET @P_year_prev_from	= CAST((CAST(@P_year_prev AS nvarchar(4)) + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		SET @P_year_prev_to		= DATEADD(DD,-1,DATEADD(YYYY,1,@P_year_prev_from))
		-- 
		SET @P_year_next_from	= CAST((CAST(@P_year_next AS nvarchar(4)) + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		SET @P_year_next_to		= DATEADD(DD,-1,DATEADD(YYYY,1,@P_year_next_from))
	END
	ELSE
	BEGIN 
		--
		SET @P_year_date_from	=	CAST((CAST(@P_year AS nvarchar(4)) + '/01/01') AS DATE)
		SET @P_year_date_to		=	CAST((CAST(@P_year AS nvarchar(4)) + '/12/31') AS DATE)
		--
		SET @P_year_prev_from	=	CAST((CAST(@P_year_prev AS nvarchar(4)) + '/01/01') AS DATE)
		SET @P_year_prev_to		=	CAST((CAST(@P_year_prev AS nvarchar(4)) + '/12/31') AS DATE)
		--
		SET @P_year_next_from	=	CAST((CAST(@P_year_next AS nvarchar(4)) + '/01/01') AS DATE)
		SET @P_year_next_to		=	CAST((CAST(@P_year_next AS nvarchar(4)) + '/12/31') AS DATE)
	END
	----------------------------
	IF @P_date >= @P_year_next_from AND @P_date <= @P_year_next_to
	BEGIN
		SET @result =  @P_year_next
	END
	ELSE IF @P_date >= @P_year_prev_from AND @P_date <= @P_year_prev_to
	BEGIN
		SET @result =  @P_year_prev
	END
	ELSE IF @P_date >= @P_year_date_from AND @P_date <= @P_year_date_to
	BEGIN
		SET @result =  @P_year
	END
	ELSE
	BEGIN
		SET @result =  @P_year
	END
	--
	RETURN @result
END
 
GO