DROP PROCEDURE [SPC_MY_PURPOSE_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE MY PURPOSE (マイパーパス登録)
--*  
--* 作成日/create date			:	2023/03/28											
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:	
--*	更新者/updater				:　 
--*	更新内容/update content		:	
--* 
--****************************************************************************************
CREATE PROCEDURE [SPC_MY_PURPOSE_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json						nvarchar(max)			=	''
,	@P_employee_cd				nvarchar(10)			=	''
	-- common
,	@P_cre_user					nvarchar(50)			=	''
,	@P_cre_ip					nvarchar(50)			=	''
,	@P_company_cd				smallint				=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@order_by_min				int					=	0
	,	@w_screen_id					nvarchar(20)		=	'MY_PURPOSE'
	,	@w_today						date				=	GETDATE()
	-----------------------SCREEN DATA-------------------------
	,	@w_mypurpose		nvarchar(20)		=	''			-- マイパーパス
	,	@w_comment			nvarchar(400)		=	''			-- マイパーパスを設定した理由
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--CREATE TEMP TABLE
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--VALIDATE
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
			GOTO COMPLETE_QUERY
		END
		--
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- get data from json
			SET	@w_mypurpose				=	JSON_VALUE(@P_json,'$.mypurpose')
			SET	@w_comment					=	JSON_VALUE(@P_json,'$.comment')
		END
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--PROCESS
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			--■■■■■■■■■■■■■■■■■■■■■■■■■■ F9000 ■■■■■■■■■■■■■■■■■■■■■■■■■■
			IF EXISTS (SELECT 1 FROM F9000 WHERE company_cd = @P_company_cd AND employee_cd = @P_employee_cd)
			BEGIN
				UPDATE F9000 SET 
					mypurpose		=	@w_mypurpose
				,	comment			=	@w_comment
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	@w_screen_id
				,	upd_datetime	=	@w_time
				,	del_user		=	NULL
				,	del_ip			=	NULL
				,	del_prg			=	NULL
				,	del_datetime	=	NULL
				FROM F9000
				WHERE 
					F9000.company_cd	=	@P_company_cd
				AND F9000.employee_cd	=	@P_employee_cd
			END
			ELSE
			BEGIN
				INSERT INTO F9000
				SELECT 
					@P_company_cd
				,	@P_employee_cd
				,	@w_mypurpose
				,	@w_comment
				,	@P_cre_user
				,	@P_cre_ip
				,	@w_screen_id
				,	@w_time
				,	NULL
				,	NULL
				,	NULL
				,	NULL
				,	NULL
				,	NULL
				,	NULL
				,	NULL
			END
			--■■■■■■■■■■■■■■■■■■■■■■■■■■ F9001 ■■■■■■■■■■■■■■■■■■■■■■■■■■
			IF EXISTS (SELECT 1 FROM F9001 WHERE company_cd = @P_company_cd AND employee_cd = @P_employee_cd AND registration_date = @w_today)
			BEGIN
				UPDATE F9001 SET
					mypurpose		=	@w_mypurpose
				,	comment			=	@w_comment
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	@w_screen_id
				,	upd_datetime	=	@w_time
				,	del_user		=	NULL
				,	del_ip			=	NULL
				,	del_prg			=	NULL
				,	del_datetime	=	NULL
				FROM F9001
				WHERE 
					F9001.company_cd		=	@P_company_cd
				AND F9001.employee_cd		=	@P_employee_cd
				AND F9001.registration_date	=	@w_today
			END
			ELSE
			BEGIN
				INSERT INTO F9001
				SELECT 
					@P_company_cd
				,	@P_employee_cd
				,	@w_today
				,	@w_mypurpose
				,	@w_comment
				,	@P_cre_user
				,	@P_cre_ip
				,	@w_screen_id
				,	@w_time
				,	NULL
				,	NULL
				,	NULL
				,	NULL
				,	NULL
				,	NULL
				,	NULL
				,	NULL
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO