DROP PROCEDURE [SPC_M0170_ACT2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/09/17											
--*	作成者/creater				:	Tuantv						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0170_ACT2] 
	-- Add the parameters for the stored procedure here
	@P_company_cd					SMALLINT			= 0
,	@P_sheet_cd						SMALLINT			= ''	
	-- common							  
,	@P_cre_user						NVARCHAR(50)		= ''
,	@P_cre_ip						NVARCHAR(50)		= ''

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time							DATETIME2			= SYSDATETIME()
	,	@ERR_TBL						ERRTABLE			  
	,	@order_by_min					INT					= 0
	
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--
		IF NOT EXISTS (SELECT 1 FROM M0200 WHERE 
												company_cd	=	@P_company_cd 
											AND sheet_cd	=	@P_sheet_cd 
											AND	sheet_kbn	=	2
											AND del_datetime IS NULL)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(
				21
			,	'#sheet_cd'
			,	0-- oderby
			,	2-- dialog  
			,	0
			,	0
			,	'sheet_cd not found'
			)
		END
		--
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			UPDATE M0200
			SET
				M0200.del_user		=	@P_cre_user
			,	M0200.del_ip		=	@P_cre_ip
			,	M0200.del_prg		=	'M0170'
			,	M0200.del_datetime	=	@w_time
			FROM M0200
			WHERE
				M0200.company_cd	=	@P_company_cd
			AND	M0200.sheet_cd		=	@P_sheet_cd
			AND	M0200.sheet_kbn		=	2

			UPDATE M0201
			SET
				M0201.del_user		=	@P_cre_user
			,	M0201.del_ip		=	@P_cre_ip
			,	M0201.del_prg		=	'M0170'
			,	M0201.del_datetime	=	@w_time
			FROM M0201
			WHERE
				M0201.company_cd	=	@P_company_cd
			AND	M0201.sheet_cd		=	@P_sheet_cd

		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

