DROP PROCEDURE [SPC_M0170_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/09/17											
--*	作成者/creater				:	Tuantv						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0170_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)		=	''				
,	@P_upload_file	NVARCHAR(100)		=	''
,	@P_cre_user		NVARCHAR(50)		=	''
,	@P_cre_ip		NVARCHAR(50)		=	''
,	@P_company_cd	SMALLINT			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time									DATETIME2		= SYSDATETIME()
	,	@order_by_min							INT				= 0
	,	@ERR_TBL								ERRTABLE
	,	@w_r_sheet_cd							SMALLINT		= 0
	,	@w_r_sheet_nm							NVARCHAR(50)	= 0
	,	@w_r_sheet_ab_nm						NVARCHAR(20)	= 0
	,	@w_category								SMALLINT		= 0
	,	@w_point_kinds							SMALLINT		= 0
	,	@w_point_calculation_typ1				SMALLINT		= 0
	,	@w_point_calculation_typ2				SMALLINT		= 0
	,	@w_evaluation_period					SMALLINT		= 0
	,	@w_details_feedback_typ					TINYINT			= 0
	,	@w_comments_feedback_typ				TINYINT			= 0
	,	@w_upload_file							NVARCHAR(50)	= 0
	,	@w_upload_file_nm						NVARCHAR(50)	= 0
	,	@w_generic_comment_display_typ_1		TINYINT			= 0
	,	@w_generic_comment_title_1				NVARCHAR(20)	= 0
	,	@w_generic_comment_1					NVARCHAR(400)	= 0
	,	@w_generic_comment_display_typ_2		TINYINT			= 0
	,	@w_generic_comment_title_2				NVARCHAR(20)	= 0
	,	@w_generic_comment_2					NVARCHAR(400)	= 0
	,	@w_generic_comment_display_typ_3		TINYINT			= 0
	,	@w_generic_comment_title_3				NVARCHAR(20)	= 0
	,	@w_generic_comment_display_typ_4		TINYINT			= 0
	,	@w_generic_comment_title_4				NVARCHAR(20)	= 0
	,	@w_generic_comment_display_typ_5		TINYINT			= 0
	,	@w_generic_comment_title_5				NVARCHAR(20)	= 0
	,	@w_generic_comment_display_typ_6		TINYINT			= 0
	,	@w_generic_comment_title_6				NVARCHAR(20)	= 0
	,	@w_generic_comment_display_typ_7		TINYINT			= 0
	,	@w_generic_comment_title_7				NVARCHAR(20)	= 0
	,	@w_generic_comment_display_typ_8		TINYINT			= 0
	,	@w_generic_comment_title_8				NVARCHAR(20)	= 0
	,	@w_generic_comment_8					NVARCHAR(400)	= 0
	,	@w_item_display_typ_1					TINYINT			= 0
	,	@w_item_title_1							NVARCHAR(20)	= ''
	,	@w_item_display_typ_2					TINYINT			= 0
	,	@w_item_title_2							NVARCHAR(20)	= ''
	,	@w_item_display_typ_3					TINYINT			= 0
	,	@w_item_title_3							NVARCHAR(20)	= ''
	,	@w_weight_display_typ					TINYINT			= 0
	,	@w_evaluation_display_typ				TINYINT			= 0
	,	@w_self_assessment_comment_display_typ	TINYINT			= 0
	,	@w_point_criteria_display_typ			TINYINT			= 0
	--
	,	@w_detail_comment_display_typ_0			TINYINT			= 0	
	,	@w_detail_comment_display_typ_1			TINYINT			= 0		
	,	@w_detail_comment_display_typ_2			TINYINT			= 0		
	,	@w_detail_comment_display_typ_3			TINYINT			= 0		
	,	@w_detail_comment_display_typ_4			TINYINT			= 0	
	,	@w_detail_progress_comment_display_typ			TINYINT			= 0	
	--
	,	@w_total_score_display_typ				TINYINT			= 0
	,	@w_evaluation_comment_display_typ		TINYINT			= 0
	,	@w_arrange_order						INT				= 0
	,	@w_mode									NVARCHAR(1)		= 0
	,	@w_mode_import							NVARCHAR(3)		= 0
	,	@w_max_id								SMALLINT		= 0
	,	@w_item_no								SMALLINT		= 0
	,	@w_upload								NVARCHAR(50)	= '' 
	,	@w_format_upload						NVARCHAR(50)	= ''
	,	@w_sreen_id								NVARCHAR(10)	= ''
	,	@w_uploadfile							NVARCHAR(20)	= ''
	,	@w_file_name							NVARCHAR(20)	= ''
	,	@w_flag									NVARCHAR(1)		= ''
	,	@w_flag_upload							NVARCHAR(50)	= ''
	,	@w_evaluation_self_typ					TINYINT			= 0
	,	@w_detail_self_progress_comment_display_typ					TINYINT			= 0
	,	@w_detail_self_progress_comment_title	NVARCHAR(50)	= ''
	,	@w_detail_progress_comment_title		NVARCHAR(50)	= ''
	,	@w_self_progress_comment_display_typ	TINYINT			= 0
	,	@w_self_progress_comment_title			NVARCHAR(50)	= ''
	,	@w_progress_comment_display_typ			TINYINT			= 0
	,	@w_progress_comment_title				NVARCHAR(50)	= ''
	-- START TRANSACTION		
	BEGIN TRANSACTION
	BEGIN TRY
		-- ASSIGN
		SET @w_r_sheet_cd								=	JSON_VALUE(@P_json,'$.r_sheet_cd')
		SET @w_r_sheet_nm 								=	JSON_VALUE(@P_json,'$.r_sheet_nm')
		SET @w_r_sheet_ab_nm 							=	JSON_VALUE(@P_json,'$.sheet_ab_nm')
		SET @w_category									=	JSON_VALUE(@P_json,'$.category')
		SET @w_point_kinds								=	JSON_VALUE(@P_json,'$.point_kinds')
		SET @w_point_calculation_typ1					=	JSON_VALUE(@P_json,'$.point_calculation_typ1')
		SET @w_point_calculation_typ2					=	JSON_VALUE(@P_json,'$.point_calculation_typ2')
		SET @w_evaluation_period						=	JSON_VALUE(@P_json,'$.evaluation_period')
		SET @w_details_feedback_typ						=	JSON_VALUE(@P_json,'$.details_feedback_typ')
		SET @w_comments_feedback_typ					=	JSON_VALUE(@P_json,'$.comments_feedback_typ')
		SET @w_upload_file								=	JSON_VALUE(@P_json,'$.upload_file')
		SET @w_upload_file_nm							=	JSON_VALUE(@P_json,'$.upload_file_nm')
		SET @w_generic_comment_display_typ_1			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_1')
		SET @w_generic_comment_title_1					=	JSON_VALUE(@P_json,'$.generic_comment_title_1')
		SET @w_generic_comment_1						=	JSON_VALUE(@P_json,'$.generic_comment_1')
		SET @w_generic_comment_display_typ_2			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_2')
		SET @w_generic_comment_title_2					=	JSON_VALUE(@P_json,'$.generic_comment_title_2')
		SET @w_generic_comment_2						=	JSON_VALUE(@P_json,'$.generic_comment_2')
		SET @w_generic_comment_display_typ_3			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_3')
		SET @w_generic_comment_title_3					=	JSON_VALUE(@P_json,'$.generic_comment_title_3')
		SET @w_generic_comment_display_typ_4			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_4')
		SET @w_generic_comment_title_4					=	JSON_VALUE(@P_json,'$.generic_comment_title_4')
		SET @w_generic_comment_display_typ_5			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_5')
		SET @w_generic_comment_title_5					=	JSON_VALUE(@P_json,'$.generic_comment_title_5')
		SET @w_generic_comment_display_typ_6			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_6')
		SET @w_generic_comment_title_6					=	JSON_VALUE(@P_json,'$.generic_comment_title_6')
		SET @w_generic_comment_display_typ_7			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_7')
		SET @w_generic_comment_title_7					=	JSON_VALUE(@P_json,'$.generic_comment_title_7')
		SET @w_generic_comment_display_typ_8			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_8')
		SET @w_generic_comment_title_8					=	JSON_VALUE(@P_json,'$.generic_comment_title_8')
		SET @w_generic_comment_8						=	JSON_VALUE(@P_json,'$.generic_comment_8')
		SET @w_item_display_typ_1						=	JSON_VALUE(@P_json,'$.item_display_typ_1')
		SET @w_item_title_1								=	JSON_VALUE(@P_json,'$.item_title_1')
		SET @w_item_display_typ_2						=	JSON_VALUE(@P_json,'$.item_display_typ_2')
		SET @w_item_title_2								=	JSON_VALUE(@P_json,'$.item_title_2')
		SET @w_item_display_typ_3						=	JSON_VALUE(@P_json,'$.item_display_typ_3')
		SET @w_item_title_3								=	JSON_VALUE(@P_json,'$.item_title_3')
		SET @w_weight_display_typ						=	JSON_VALUE(@P_json,'$.weight_display_typ')
		SET @w_evaluation_display_typ					=	JSON_VALUE(@P_json,'$.evaluation_display_typ')
		SET @w_detail_comment_display_typ_0				=	JSON_VALUE(@P_json,'$.detail_comment_display_typ_0')
		SET @w_detail_comment_display_typ_1				=	JSON_VALUE(@P_json,'$.detail_comment_display_typ_1')
		SET @w_detail_comment_display_typ_2				=	JSON_VALUE(@P_json,'$.detail_comment_display_typ_2')
		SET @w_detail_comment_display_typ_3				=	JSON_VALUE(@P_json,'$.detail_comment_display_typ_3')
		SET @w_detail_comment_display_typ_4				=	JSON_VALUE(@P_json,'$.detail_comment_display_typ_4')
		SET @w_detail_progress_comment_display_typ		=	JSON_VALUE(@P_json,'$.detail_progress_comment_display_typ')
		SET @w_self_assessment_comment_display_typ		=	JSON_VALUE(@P_json,'$.self_assessment_comment_display_typ')
		SET @w_point_criteria_display_typ				=	JSON_VALUE(@P_json,'$.point_criteria_display_typ')
		SET @w_arrange_order							=	JSON_VALUE(@P_json,'$.arrange_order')
		SET @w_total_score_display_typ				    =	JSON_VALUE(@P_json,'$.total_score_display_typ')
		SET @w_evaluation_comment_display_typ			=	JSON_VALUE(@P_json,'$.evaluation_comment_display_typ')
		SET @w_sreen_id									=   'm0170_'
		SET @w_mode										=	JSON_VALUE(@P_json,'$.mode')
		SET @w_mode_import								=	JSON_VALUE(@P_json,'$.mode_import')
		SET @w_flag										=	JSON_VALUE(@P_json,'$.flag')
		SET @w_flag_upload								=	JSON_VALUE(@P_json,'$.upload_file')
		SET @w_evaluation_self_typ						=	JSON_VALUE(@P_json,'$.evaluation_self_typ')
		SET @w_detail_self_progress_comment_display_typ	=	JSON_VALUE(@P_json,'$.detail_self_progress_comment_display_typ')
		SET @w_detail_self_progress_comment_title		=	JSON_VALUE(@P_json,'$.detail_self_progress_comment_title')
		SET @w_detail_progress_comment_title			=	JSON_VALUE(@P_json,'$.detail_progress_comment_title')
		SET @w_self_progress_comment_display_typ		=	JSON_VALUE(@P_json,'$.self_progress_comment_display_typ')
		SET @w_self_progress_comment_title				=	JSON_VALUE(@P_json,'$.self_progress_comment_title')
		SET @w_progress_comment_display_typ				=	JSON_VALUE(@P_json,'$.progress_comment_display_typ')
		SET @w_progress_comment_title					=	JSON_VALUE(@P_json,'$.progress_comment_title')

		--select @w_flag as w_flag
		--select @P_upload_file as P_upload_file
		--select @w_upload_file as w_upload_file
		--select @w_generic_comment_title_2 as generic_comment_title_2
		CREATE TABLE #M0201 (
			id					INT IDENTITY(1,1)
		,	company_cd			SMALLINT	
		,	sheet_cd			SMALLINT
		,	item_no				SMALLINT
		,	item_detail_1		NVARCHAR(1000)
		,	item_detail_2		NVARCHAR(1000)
		,	item_detail_3		NVARCHAR(1000)
		,	weight				SMALLINT
		,	mode_row			NVARCHAR(1)
		)

		INSERT INTO #M0201
		SELECT
			@P_company_cd
		,	@w_r_sheet_cd
		,	item_no
		,	item_detail_1	
		,	item_detail_2	
		,	item_detail_3	
		,	weight	
		,	mode_row		
		FROM OPENJSON(@P_json, '$.tr_generic_comment') WITH(
			item_no				SMALLINT
		,	item_detail_1		NVARCHAR(1000)
		,	item_detail_2		NVARCHAR(1000)
		,	item_detail_3		NVARCHAR(1000)
		,	weight				SMALLINT
		,	mode_row			NVARCHAR(1)
		)
		WHERE
			item_detail_1 <>''
		OR item_detail_2  <>''
		OR item_detail_3  <>''
		OR weight <> 0

		SET @w_max_id = (
			SELECT MAX(M0200.sheet_cd) 
			FROM M0200 WITH(NOLOCK)
			WHERE (M0200.company_cd = @P_company_cd)
		)

		IF (ISJSON(@P_json) <= 0)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				22									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'#'									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	0			  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format x'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END

		IF(
			EXISTS (
					SELECT 1
					FROM #M0201
					WHERE @w_flag = 'Y'
					GROUP BY 
						#M0201.company_cd
					,	#M0201.sheet_cd
					HAVING
						SUM(#M0201.weight) <> 100
					
					--AND @w_flag = 'Y'
				   ) AND @w_point_calculation_typ1 = 1
			--OR NOT EXISTS(SELECT 1 FROM #M0201)
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				37						
			,	'#'						
			,	0-- oderby				
			,	1			  			
			,	0						
			,	0						
			,	'json format y'			
		END
		
		--select @w_upload_file as upload_file
		--select CHARINDEX('.',@w_upload_file) as pos
		--select @w_format_upload as format_upload

		SET @w_format_upload = SUBSTRING(@w_upload_file,CHARINDEX('.',@w_upload_file),4)
		IF (@w_format_upload !='.pdf' AND @w_upload_file != '')
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				27						
			,	'#'						
			,	0-- oderby				
			,	1			  			
			,	0						
			,	0						
			,	'not file upload is .pdf'			
		END
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			IF(@w_mode ='A')
			BEGIN
				SET @w_max_id = (SELECT MAX(M0200.sheet_cd) FROM M0200  WHERE M0200.company_cd = @P_company_cd)
				
				IF EXISTS(SELECT COUNT(1) FROM M0200 WHERE M0200.company_cd = @P_company_cd HAVING COUNT(1) < 1 )
				BEGIN 
					SET @w_max_id = 1
				END
				ELSE
				BEGIN
					SET @w_max_id = @w_max_id + 1
				END
				SET @w_upload_file = REPLACE(@P_upload_file,@P_cre_user,@w_max_id)
				INSERT INTO M0200
				SELECT 
					@P_company_cd																						
				,	@w_max_id 
				,	2
				,	@w_r_sheet_nm 	
				,	@w_r_sheet_ab_nm						
				,	@w_category										
				,	@w_evaluation_period	
				,	@w_point_kinds							
				,	@w_point_calculation_typ1
				,	@w_point_calculation_typ2
				,	@w_evaluation_self_typ
				,	@w_details_feedback_typ					
				,	@w_comments_feedback_typ				
				,	@w_upload_file
				,	@w_upload_file_nm --''IIF(@P_file_name ='',@w_file_name,@P_file_name)
				,	0					
				,	@w_generic_comment_display_typ_1		
				,	@w_generic_comment_title_1			
				,	@w_generic_comment_1	
				,	@w_generic_comment_display_typ_2		
				,	@w_generic_comment_title_2				
				,	@w_generic_comment_2	
				,	@w_generic_comment_display_typ_3		
				,	@w_generic_comment_title_3				
				,	@w_generic_comment_display_typ_4		
				,	@w_generic_comment_title_4					
				,	@w_generic_comment_display_typ_5		
				,	@w_generic_comment_title_5	
				,	@w_generic_comment_display_typ_6		
				,	@w_generic_comment_title_6	
				,	@w_generic_comment_display_typ_7		
				,	@w_generic_comment_title_7	
				,	@w_generic_comment_display_typ_8
				,	@w_generic_comment_title_8		
				,	@w_generic_comment_8
				,	0
				,	''
				,	@w_item_display_typ_1							 
				,	@w_item_title_1									 
				,	@w_item_display_typ_2							 
				,	@w_item_title_2	
				,	@w_item_display_typ_3							 
				,	@w_item_title_3	
				,	0
				,	''
				,	0
				,	''
				-- /////
				,	@w_weight_display_typ
				,	0 -- challenge_level_display_typ
				,	@w_detail_self_progress_comment_display_typ
				,	@w_detail_self_progress_comment_title
				,	@w_detail_progress_comment_display_typ
				,	@w_detail_progress_comment_title
				,	@w_self_progress_comment_display_typ
				,	@w_self_progress_comment_title
				,	@w_progress_comment_display_typ
				,	@w_progress_comment_title
				,	@w_evaluation_display_typ
				-- ///
				,	@w_detail_comment_display_typ_0
				,	@w_detail_comment_display_typ_1
				,	@w_detail_comment_display_typ_2
				,	@w_detail_comment_display_typ_3
				,	@w_detail_comment_display_typ_4
				,	@w_total_score_display_typ											
				,	@w_point_criteria_display_typ
				,	0
				,	@w_self_assessment_comment_display_typ
				,	@w_evaluation_comment_display_typ			--evaluation_comment_display_typ
				,	@w_arrange_order
				,	@P_cre_user		
				,	@P_cre_ip
				,	'M0170'
				,	@w_time
				,	''
				,	''
				,	''
				,	NULL
				,	''
				,	''
				,	''
				,	NULL
			--select @w_max_id as @w_max_id
				INSERT INTO M0201
				SELECT
					@P_company_cd			AS company_cd		
				,	@w_max_id				AS sheet_cd
				,	#M0201.id				AS item_no
				,	''
				,	#M0201.item_detail_1
				,	#M0201.item_detail_2
				,	#M0201.item_detail_3
				,	#M0201.weight	
				,	@P_cre_user
				,	@P_cre_ip
				,	'M0170'
				,	@w_time
				,	''
				,	''
				,	''
				,	NULL
				,	''
				,	''
				,	''
				,	NULL
				FROM #M0201
				--select 'M0201',* from M0201
			END	 --end mode A

			IF(@w_mode ='U')
			BEGIN

				SET @w_upload_file = REPLACE(@P_upload_file,@P_cre_user,@w_r_sheet_cd)
				--select @w_flag_upload as w_flag_upload
				IF (@w_upload_file_nm != '')
				BEGIN
					IF(@w_flag_upload = '')
					BEGIN
						SET @w_upload_file_nm = (
							SELECT upload_file_nm 
							FROM M0200 
							WHERE M0200.company_cd	= @P_company_cd
							AND M0200.sheet_cd		= @w_r_sheet_cd
							AND del_datetime IS NULL
							AND M0200.sheet_kbn		= 2
						)
					END
					ELSE
					BEGIN
						SET @w_upload_file_nm	=	JSON_VALUE(@P_json,'$.upload_file_nm')
					END
				END

				UPDATE M0200 SET 
					M0200.sheet_nm                                 = @w_r_sheet_nm 	
				,	M0200.sheet_ab_nm							   = @w_r_sheet_ab_nm						
				,	M0200.category								   = @w_category										
				,	M0200.evaluation_period						   = @w_evaluation_period	
				,	M0200.point_kinds							   = @w_point_kinds							
				,	M0200.point_calculation_typ1				   = @w_point_calculation_typ1
				,	M0200.point_calculation_typ2				   = @w_point_calculation_typ2
				,	M0200.evaluation_self_typ					   = @w_evaluation_self_typ
				,	M0200.details_feedback_typ					   = @w_details_feedback_typ					
				,	M0200.comments_feedback_typ					   = @w_comments_feedback_typ				
				,	M0200.upload_file							   = @w_upload_file 
				,	M0200.upload_file_nm						   = @w_upload_file_nm--IIF(@P_file_name ='',@w_file_name,@P_file_name)
				,	M0200.goal_number							   = 0					
				,	M0200.generic_comment_display_typ_1			   = @w_generic_comment_display_typ_1		
				,	M0200.generic_comment_title_1				   = @w_generic_comment_title_1	
				,	M0200.generic_comment_1							= @w_generic_comment_1
				,	M0200.generic_comment_display_typ_2			   = @w_generic_comment_display_typ_2		
				,	M0200.generic_comment_title_2				   = @w_generic_comment_title_2				
				,	M0200.generic_comment_2							= @w_generic_comment_2
				,	M0200.generic_comment_display_typ_3			   = @w_generic_comment_display_typ_3		
				,	M0200.generic_comment_title_3				   = @w_generic_comment_title_3				
				,	M0200.generic_comment_display_typ_4			   = @w_generic_comment_display_typ_4		
				,	M0200.generic_comment_title_4				   = @w_generic_comment_title_4				
				,	M0200.generic_comment_display_typ_5			   = @w_generic_comment_display_typ_5		
				,	M0200.generic_comment_title_5				   = @w_generic_comment_title_5	
				,	M0200.generic_comment_display_typ_6			   = @w_generic_comment_display_typ_6		
				,	M0200.generic_comment_title_6				   = @w_generic_comment_title_6
				,	M0200.generic_comment_display_typ_7				= @w_generic_comment_display_typ_7		
				,	M0200.generic_comment_title_7				   = @w_generic_comment_title_7		
				,	M0200.generic_comment_display_typ_8			   = @w_generic_comment_display_typ_8
				,	M0200.generic_comment_title_8				   = @w_generic_comment_title_8		
				,	M0200.generic_comment_8						   = @w_generic_comment_8			
				,	M0200.item_display_typ_1					   = @w_item_display_typ_1							 
				,	M0200.item_title_1							   = @w_item_title_1									 
				,	M0200.item_display_typ_2					   = @w_item_display_typ_2							 
				,	M0200.item_title_2							   = @w_item_title_2	
				,	M0200.item_display_typ_3					   = @w_item_display_typ_3							 
				,	M0200.item_title_3							   = @w_item_title_3	
				,	M0200.item_display_typ_4					   = 0
				,	M0200.item_title_4							   = ''
				,	M0200.item_display_typ_5					   = 0
				,	M0200.item_title_5							   = ''
				-- //
				,	M0200.weight_display_typ					   = @w_weight_display_typ
				,	M0200.challenge_level_display_typ			   = 0
				,	M0200.detail_self_progress_comment_display_typ = @w_detail_self_progress_comment_display_typ
				,	M0200.detail_self_progress_comment_title	  	= @w_detail_self_progress_comment_title
				,	M0200.detail_progress_comment_display_typ		= @w_detail_progress_comment_display_typ
				,	M0200.detail_progress_comment_title			   = @w_detail_progress_comment_title
				,	M0200.self_progress_comment_display_typ		   = @w_self_progress_comment_display_typ
				,	M0200.self_progress_comment_title			   = @w_self_progress_comment_title
				,	M0200.progress_comment_display_typ			   = @w_progress_comment_display_typ
				,	M0200.progress_comment_title				   = @w_progress_comment_title
				,	M0200.evaluation_display_typ				   = @w_evaluation_display_typ
				-- //
				,	M0200.detail_comment_display_typ_0			   = @w_detail_comment_display_typ_0
				,	M0200.detail_comment_display_typ_1			   = @w_detail_comment_display_typ_1
				,	M0200.detail_comment_display_typ_2			   = @w_detail_comment_display_typ_2
				,	M0200.detail_comment_display_typ_3			   = @w_detail_comment_display_typ_3
				,	M0200.detail_comment_display_typ_4			   = @w_detail_comment_display_typ_4
				,	M0200.total_score_display_typ				   = @w_total_score_display_typ			
				,	M0200.point_criteria_display_typ			   = @w_point_criteria_display_typ
				,	M0200.challengelevel_criteria_display_typ	   = 0
				,	M0200.self_assessment_comment_display_typ	   = @w_self_assessment_comment_display_typ
				,	M0200.evaluation_comment_display_typ		   = @w_evaluation_comment_display_typ					--evaluation_comment_display_typ
				,	M0200.arrange_order							   = @w_arrange_order
				,	M0200.upd_user								   = @P_cre_user
				,	M0200.upd_ip								   = @P_cre_ip
				,	M0200.upd_prg								   = 'M0170'
				,	M0200.upd_datetime							   = @w_time
				FROM M0200
				WHERE M0200.company_cd	= @P_company_cd
				AND M0200.sheet_cd		= @w_r_sheet_cd
				AND del_datetime IS NULL
				AND M0200.sheet_kbn		= 2
				
				SET @w_item_no = ISNULL((SELECT MAX(item_no) 
										 FROM M0201
										 WHERE 
											 company_cd  = @P_company_cd 
										 AND sheet_cd = @w_r_sheet_cd),0)
										 			
				--select '#M0201',* from #M0201 

				--select *
				--FROM M0201
				--LEFT JOIN #M0201 ON  M0201.company_cd   = #M0201.company_cd
				--				AND  M0201.sheet_cd		= #M0201.sheet_cd
				--				AND  M0201.item_no      = #M0201.item_no
				--WHERE
				--	M0201.company_cd	= @P_company_cd
				--AND M0201.sheet_cd		= @w_r_sheet_cd
				--AND	#M0201.item_no IS NULL

				
				--M0201_[UPDATE]
				UPDATE M0201
				SET
					M0201.item_detail_1		=	#M0201.item_detail_1
				,	M0201.item_detail_2		=	#M0201.item_detail_2
				,	M0201.item_detail_3		=	#M0201.item_detail_3
				,	M0201.weight			=	#M0201.weight
				,	upd_user				=	@P_cre_user
				,	upd_ip					=	@P_cre_ip
				,	upd_prg					=	'M0170'
				,	upd_datetime			=	@w_time
				FROM M0201
				INNER JOIN #M0201 ON M0201.company_cd	= #M0201.company_cd
								AND  M0201.sheet_cd		= #M0201.sheet_cd
								AND  M0201.item_no		= #M0201.item_no	
				WHERE 
					  #M0201.mode_row = 'U'
				
				
				--M0201_[DELETE]
				IF(@w_mode_import ='csv')
				BEGIN
					UPDATE M0201
					SET
						del_user		=	@P_cre_user
					,	del_ip			=	@P_cre_ip
					,	del_prg			=	'M0170'
					,	del_datetime	=	@w_time
					FROM M0201
					LEFT JOIN #M0201 ON  M0201.company_cd   = #M0201.company_cd
									AND  M0201.sheet_cd		= #M0201.sheet_cd
									AND  M0201.item_no      = #M0201.item_no
									AND	#M0201.item_no IS NULL
					WHERE
						M0201.company_cd	= @P_company_cd
					AND M0201.sheet_cd		= @w_r_sheet_cd
					AND	#M0201.item_no IS NULL
				END
				ELSE
				BEGIN
					UPDATE M0201
					SET
						del_user		=	@P_cre_user
					,	del_ip			=	@P_cre_ip
					,	del_prg			=	'M0170'
					,	del_datetime	=	@w_time
					FROM M0201
					LEFT JOIN #M0201 ON  M0201.company_cd   = #M0201.company_cd
									AND  M0201.sheet_cd		= #M0201.sheet_cd
									AND  M0201.item_no      = #M0201.item_no
									--AND	#M0201.item_no IS NULL
					WHERE
						M0201.company_cd	= @P_company_cd
					AND M0201.sheet_cd		= @w_r_sheet_cd
					AND	#M0201.item_no IS NULL
				END
				--AND #M0201.mode_row = 'U'
				--M0121_[INSERT NEW]
				INSERT INTO M0201
				SELECT
					#M0201.company_cd													
				,	#M0201.sheet_cd
				,	ROW_NUMBER() OVER(ORDER BY #M0201.company_cd ASC) + @w_item_no
				,	''
				,	#M0201.item_detail_1
				,	#M0201.item_detail_2
				,	#M0201.item_detail_3
				,	#M0201.weight	
				,	@P_cre_user
				,	@P_cre_ip
				,	'M0170'
				,	@w_time
				,	''
				,	''
				,	''
				,	NULL
				,	''
				,	''
				,	''
				,	NULL
				FROM #M0201
				WHERE #M0201.mode_row = 'A'
				
			END --end mode U		
		END

	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- INSERT STATEMENTS FOR PROCEDURE HERE
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	--[1]
	SELECT @w_upload_file AS upload_file
	--SELECT 
	--	IIF(@w_mode = 'A',@w_max_id,@w_r_sheet_cd) AS r_sheet_cd
	--,	STUFF(@w_upload,LEN(@w_upload)-3,4,'')	   AS upload
	--,	@P_company_cd							   AS company_cd
END
GO
