/****** Object:  StoredProcedure [dbo].[SPC_1ON1_DASHBOARD_MEMBER_ACT1]    Script Date: 2018/09/26 11:00:57 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_1ON1_DASHBOARD_MEMBER_ACT1] 
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA FOR MEMBER POPUP TARGET
--*  
--* 作成日/create date			:	2020/12/08									
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:  	2021/11/26	
--*	更新者/updater				:　 	vietdt		     	 
--*	更新内容/update content		:	桁数変更 -Change the number of digits
--*   					
--*	更新日/update date			:  		
--*	更新者/updater				:　 				     	 
--*	更新内容/update content		:
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_1ON1_DASHBOARD_MEMBER_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json						NVARCHAR(max)		= ''
,	@P_employee_cd				NVARCHAR(10)		= 0		-- LOGIN EMPLOYEE
,	@P_cre_user					NVARCHAR(50)		= ''	
,	@P_cre_ip					NVARCHAR(50)		= ''
,	@P_company_cd				SMALLINT			= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					=	0
	,	@w_screen_id			nvarchar(20)		=	'oDashboard_member'
	,	@w_fiscal_year			smallint			=	0
	,	@w_target1				nvarchar(1000)		=	0	--edit by vietdt 2021/11/26
	,	@w_target2				nvarchar(1000)		=	0	--edit by vietdt 2021/11/26
	,	@w_target3				nvarchar(1000)		=	0	--edit by vietdt 2021/11/26
	,	@w_comment				nvarchar(400)		=	0	--edit by namnt 2022/09/09
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--VALIDATE
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		--
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			SET	@w_fiscal_year		=	ISNULL(JSON_VALUE(@P_json,'$.fiscal_year_1on1_target'),0)
			SET	@w_target1			=	ISNULL(JSON_VALUE(@P_json,'$.target1'),'')
			SET	@w_target2			=	ISNULL(JSON_VALUE(@P_json,'$.target2'),'')
			SET	@w_target3			=	ISNULL(JSON_VALUE(@P_json,'$.target3'),'')
			SET	@w_comment			=	ISNULL(JSON_VALUE(@P_json,'$.comment'),'')
			-- UPDATE 
			IF EXISTS (SELECT 1 FROM F2100 
								WHERE 
									F2100.company_cd	=	@P_company_cd
								AND F2100.fiscal_year	=	@w_fiscal_year
								AND F2100.employee_cd	=	@P_employee_cd
			)
			BEGIN
				UPDATE F2100 SET 
					target1			=	CASE 
											WHEN ISNULL(M2100.target1_use_typ,0) = 1
											THEN @w_target1
											ELSE F2100.target1
										END
				,	target2			=	CASE 
											WHEN ISNULL(M2100.target2_use_typ,0) = 1
											THEN @w_target2
											ELSE F2100.target2
										END
				,	target3			=	CASE 
										WHEN ISNULL(M2100.target3_use_typ,0) = 1
										THEN @w_target3
										ELSE F2100.target3
										END
				,	comment			=	CASE 
										WHEN ISNULL(M2100.comment_use_typ,0) = 1
										THEN @w_comment
										ELSE F2100.comment
										END
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	@w_screen_id
				,	upd_datetime	=	@w_time
				,	del_user		=	NULL
				,	del_ip			=	NULL
				,	del_prg			=	NULL
				,	del_datetime	=	NULL
				FROM F2100
				INNER JOIN M2100 WITH(NOLOCK) ON (
					F2100.company_cd		=	M2100.company_cd
				AND F2100.fiscal_year		=	M2100.fiscal_year
				AND M2100.del_datetime IS NULL
				)
				WHERE 
					F2100.company_cd		=	@P_company_cd
				AND F2100.fiscal_year		=	@w_fiscal_year
				AND F2100.employee_cd		=	@P_employee_cd
			END
			ELSE
			BEGIN
				INSERT INTO F2100
				SELECT 
					@P_company_cd
				,	@w_fiscal_year
				,	@P_employee_cd
				,	CASE 
						WHEN ISNULL(M2100.target1_use_typ,0) = 1
						THEN @w_target1
						ELSE NULL
					END
				,	CASE 
						WHEN ISNULL(M2100.target2_use_typ,0) = 1
						THEN @w_target2
						ELSE NULL
					END
				,	CASE 
						WHEN ISNULL(M2100.target3_use_typ,0) = 1
						THEN @w_target3
						ELSE NULL
					END
				,	CASE 
						WHEN ISNULL(M2100.comment_use_typ,0) = 1
						THEN @w_comment
						ELSE NULL
					END
				,	@P_cre_user
				,	@P_cre_ip
				,	@w_screen_id
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM M2100
				WHERE 
					M2100.company_cd	=	@P_company_cd
				AND M2100.fiscal_year	=	@w_fiscal_year
				AND M2100.del_datetime IS NULL
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
