/****** Object:  StoredProcedure [dbo].[SPC_1ON1_DASHBOARD_MEMBER_ACT2]    Script Date: 2018/09/26 11:00:57 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_1ON1_DASHBOARD_MEMBER_ACT2] 
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	DELETE DATA FOR MEMBER POPUP TARGET
--*  
--* 作成日/create date			:	2020/12/08									
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:  		
--*	更新者/updater				:　 				     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_1ON1_DASHBOARD_MEMBER_ACT2] 
	-- Add the parameters for the stored procedure here
	@P_fiscal_year				SMALLINT			= 0
,	@P_employee_cd				NVARCHAR(10)		= 0		-- LOGIN EMPLOYEE
,	@P_cre_user					NVARCHAR(50)		= ''	
,	@P_cre_ip					NVARCHAR(50)		= ''
,	@P_company_cd				SMALLINT			= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					=	0
	,	@w_screen_id			nvarchar(20)		=	'oDashboard_member'
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--VALIDATE
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS (SELECT 1 FROM F2100 
								WHERE 
									F2100.company_cd	=	@P_company_cd
								AND F2100.fiscal_year	=	@P_fiscal_year
								AND F2100.employee_cd	=	@P_employee_cd
								AND F2100.del_datetime IS NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				21									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'DELETE IS NOT EXITST'				-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		--
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			UPDATE F2100 SET 
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	@w_screen_id
			,	del_datetime	=	@w_time
			FROM F2100
			WHERE 
				F2100.company_cd		=	@P_company_cd
			AND F2100.fiscal_year		=	@P_fiscal_year
			AND F2100.employee_cd		=	@P_employee_cd
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
