IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_M0120_INQ1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_M0120_INQ1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：M0120 - Refer
 *
 *  作成日  ：2018/09/05
 *  作成者  ：ANS-ASIA BINHNN
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *EXEC SPC_M0120_INQ1 '3','740';
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_M0120_INQ1]
	@P_point_kinds		SMALLINT = 0
,	@P_company_cd		SMALLINT = 0
AS
BEGIN
	SET NOCOUNT ON;

	CREATE TABLE #RESULT(
		id					INT IDENTITY(1,1)
	,	company_cd			SMALLINT
	,	point_kinds			SMALLINT
	,	point_kinds_nm		NVARCHAR(50)
	,	arrange_order		INT
	)

	--
	CREATE TABLE #DETAIL(
		id					INT IDENTITY(1,1)
	,	company_cd			SMALLINT
	,	point_kinds			SMALLINT
	,	point_cd			SMALLINT
	,	point_nm			NVARCHAR(20)
	,	point_criteria		NVARCHAR(50)
	,	point				SMALLINT
	)

	--
	INSERT INTO #RESULT
	SELECT
		company_cd
	,	point_kinds
	,	point_kinds_nm
	,	arrange_order
	FROM M0120
	WHERE
		M0120.company_cd  =	@P_company_cd
	AND	M0120.point_kinds = @P_point_kinds
	AND	M0120.del_datetime IS NULL

	--
	INSERT INTO #DETAIL
	SELECT
		M0120.company_cd
	,	M0120.point_kinds
	,	ISNULL(M0121.point_cd,0)
	,	ISNULL(M0121.point_nm,'')
	,	ISNULL(M0121.point_criteria,'')
	,	ISNULL(M0121.point,'')
	FROM M0120
	LEFT JOIN M0121 ON  M0120.company_cd  = M0121.company_cd
					AND M0120.point_kinds = M0121.point_kinds
					AND M0121.del_datetime IS NULL
	WHERE
		M0120.company_cd  =	@P_company_cd
	AND	M0120.point_kinds = @P_point_kinds
	AND	M0120.del_datetime IS NULL

	--[0]
	SELECT
		id				
	,	company_cd		
	,	point_kinds		
	,	point_kinds_nm	
	,	arrange_order	
	FROM #RESULT

	--[1]
	SELECT
		id				
	,	company_cd		
	,	point_kinds		
	,	point_cd		
	,	point_nm		
	,	point_criteria	
	,	point			
	FROM #DETAIL
END

GO
