IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_M0120_LST1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_M0120_LST1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要						：	M0120 - 評価基準マスタ
 *
 *  作成日						：	2018/09/04
 *  作成者						：	ANS-ASIA BINHNN
 *   					
 *  更新日/update date			:	2018/11/20
 *　更新者/updater				:　	Longvv-longvv@ans-asia.com
 *　更新内容/update content		:	半角のアンダーバー「_」で検索
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_M0120_LST1]
	@P_search_key		NVARCHAR(20)
,	@P_current_page		SMALLINT	=	1
,	@P_page_size		SMALLINT	=	10
,	@P_company_cd		SMALLINT
AS
BEGIN
	SET NOCOUNT ON;

    --
	DECLARE
		@totalRecord		BIGINT		= 0
	,	@pageNumber			INT			= 0

	--
	CREATE TABLE #RESULT (
		id					INT IDENTITY(1,1)
	,	company_cd			SMALLINT
	,	point_kinds			SMALLINT
	,	point_kinds_nm		NVARCHAR(50)
	,	arrange_order		INT
	)

	--
	INSERT INTO #RESULT
	SELECT
		company_cd
	,	point_kinds
	,	point_kinds_nm
	,	arrange_order
	FROM M0120
	WHERE
		M0120.company_cd	=	@P_company_cd
	AND	(	@P_search_key = '' 
		OR	dbo.FNC_COM_REPLACE_SPACE(M0120.point_kinds_nm)		LIKE '%' +  dbo.FNC_COM_REPLACE_SPACE(@P_search_key) + '%' 
	)
	AND	M0120.del_datetime IS NULL
	
	--
	SET @totalRecord = (SELECT COUNT(1) FROM #RESULT)
	SET @pageNumber  = CEILING(CAST(@totalRecord AS FLOAT) / IIF(@P_page_size = 0,10,@P_page_size))

	--[0]
	SELECT
		company_cd
	,	point_kinds
	,	point_kinds_nm
	,	arrange_order
	FROM #RESULT
	ORDER BY 
		arrange_order
	,	point_kinds

	OFFSET (@P_current_page-1) * @P_page_size ROWS
	FETCH NEXT IIF(@P_page_size = 0,10,@P_page_size) ROWS ONLY

	--[1]
	SELECT 
		@totalRecord		AS totalRecord
	,	@pageNumber			AS pageMax
	,	@P_current_page		AS [page]
	,	@P_page_size		AS pagesize

	-- clean
	DROP TABLE #RESULT
END


GO
