IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_M0120_ACT1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_M0120_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：M0120 - SAVE/UPDATE
 *
 *  作成日  ：2018/09/05
 *  作成者  ：ANS-ASIA BINHNN
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_M0120_ACT1] 
	@P_json			NVARCHAR(MAX)
	--
,	@P_cre_user		NVARCHAR(50) = ''
,	@P_cre_ip		NVARCHAR(50) = ''
,	@P_company_cd	SMALLINT	 = 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	 
	,	@order_by_min			INT			 = 0
	-- M0120
	,	@P_point_kinds			SMALLINT	 = 0
	,	@P_point_kinds_nm		NVARCHAR(50) = ''
	,	@P_arrange_order		INT			 = 0
	,	@P_mode					NVARCHAR(1)	 = ''
	,	@w_point_cd				SMALLINT	 = 0
	
	--
	CREATE TABLE #M0121(
		id						INT IDENTITY(1,1)
	,	company_cd				SMALLINT	
	,	point_kinds				SMALLINT
	,	point_cd				SMALLINT
	,	point_nm				NVARCHAR(20)
	,	point_criteria			NVARCHAR(50)
	,	point					SMALLINT
	,	mode					NVARCHAR(1)
	)
	--
	BEGIN TRANSACTION
	BEGIN TRY
		--
		SET @P_point_kinds			=	JSON_VALUE(@P_json,'$.point_kinds')
		SET @P_point_kinds_nm		=	JSON_VALUE(@P_json,'$.point_kinds_nm')
		SET @P_arrange_order		=	JSON_VALUE(@P_json,'$.arrange_order')
		
		--
		IF (@P_point_kinds <> 0)
		BEGIN
			SET @P_mode = 'U'
		END
		ELSE
		BEGIN
			SET @P_mode = 'A'
			SET @P_point_kinds = ISNULL((SELECT MAX(point_kinds) 
										 FROM M0120 
										 WHERE company_cd  = @P_company_cd),0) + 1
		END

		--INSERT #M0121
		INSERT INTO #M0121
		SELECT
			@P_company_cd
		,	@P_point_kinds
		,	point_cd
		,	point_nm
		,	point_criteria
		,	point
		,	mode
		FROM OPENJSON(@P_json, '$.list_point_kinds') WITH(
			point_cd		SMALLINT
		,	point_nm		NVARCHAR(20)	
		,	point_criteria	NVARCHAR(50)
		,	point			SMALLINT
		,	mode			NVARCHAR(1)
		)

		--
		IF EXISTS (SELECT 1 FROM M0120 WHERE company_cd = @P_company_cd AND point_kinds = @P_point_kinds AND del_datetime IS NOT NULL)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				8
			,	'#point_kinds'
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'point_kinds not found'
			
		END

		--
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
			IF @P_mode = 'A'
			BEGIN
				--M0120
				INSERT INTO M0120
				SELECT
					@P_company_cd
				,	@P_point_kinds
				,	@P_point_kinds_nm
				,	@P_arrange_order
				,	@P_cre_user
				,	@P_cre_ip
				,	'M0120'
				,	@w_time
				,	''
				,	''
				,	''
				,	NULL
				,	''
				,	''
				,	''
				,	NULL
				
				--
				--M0121
				INSERT INTO M0121
				SELECT
					@P_company_cd
				,	@P_point_kinds
				,	#M0121.id				AS point_cd
				,	#M0121.point_nm
				,	#M0121.point_criteria
				,	#M0121.point	
				,	@P_cre_user
				,	@P_cre_ip
				,	'M0120'
				,	@w_time
				,	''
				,	''
				,	''
				,	NULL
				,	''
				,	''
				,	''
				,	NULL
				FROM #M0121 
			END
			ELSE 
			BEGIN
				--M0120
				UPDATE M0120
				SET
					point_kinds_nm	=	@P_point_kinds_nm
				,	arrange_order	=	@P_arrange_order
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	'M0120'
				,	upd_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	point_kinds		=	@P_point_kinds

				--
				SET @w_point_cd = ISNULL((SELECT MAX(point_cd) 
										 FROM M0121
										 WHERE 
											 company_cd  = @P_company_cd 
										 AND point_kinds = @P_point_kinds),0)
				
				--
				--M0121_[DELETE]
				UPDATE M0121
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0120'
				,	del_datetime	=	@w_time
				FROM M0121
				LEFT JOIN #M0121 ON M0121.company_cd   = #M0121.company_cd
								AND  M0121.point_kinds = #M0121.point_kinds
								AND  M0121.point_cd    = #M0121.point_cd
				WHERE
					M0121.company_cd  = @P_company_cd
				AND M0121.point_kinds = @P_point_kinds
				AND	#M0121.point_cd IS NULL
				
				--
				--M0121_[UPDATE]
				UPDATE M0121
				SET
					point_nm		=	#M0121.point_nm
				,	point_criteria	=	#M0121.point_criteria
				,	point			=	#M0121.point
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	'M0120'
				,	upd_datetime	=	@w_time
				FROM M0121
				INNER JOIN #M0121 ON M0121.company_cd  = #M0121.company_cd
								AND  M0121.point_kinds = #M0121.point_kinds
								AND  M0121.point_cd    = #M0121.point_cd
				WHERE
					#M0121.mode = 'U'

				--
				--M0121_[INSERT NEW]
				INSERT INTO M0121
				SELECT
					#M0121.company_cd
				,	#M0121.point_kinds
				,	ROW_NUMBER() OVER(ORDER BY #M0121.company_cd ASC) + @w_point_cd
				,	#M0121.point_nm
				,	#M0121.point_criteria
				,	#M0121.point	
				,	@P_cre_user
				,	@P_cre_ip
				,	'M0120'
				,	@w_time
				,	''
				,	''
				,	''
				,	NULL
				,	''
				,	''
				,	''
				,	NULL
				FROM #M0121
				WHERE #M0121.mode = 'A'
							
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	
	--[1]
	SELECT @P_point_kinds AS point_kinds
END

GO
