DROP PROCEDURE [SPC_I2050_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_I2050_ACT1 '{"fiscal_year":"2020","list_treatment_applications_no":[{"treatment_applications_no":"1"},{"treatment_applications_no":"2"},{"treatment_applications_no":"3"}],"list":[{"row_index": "1","employee_cd":"800","sheet_cd_list":["1","3","4"]},{"row_index": "2","employee_cd":"801","sheet_cd_list":["1","3","4"]},{"row_index": "3","employee_cd":"802","sheet_cd_list":["1","3","4"]},{"row_index": "4","employee_cd":"803","sheet_cd_list":["1","3","4"]}]}','721','192.168.5.121','740';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	ステータスを戻す
--* 作成日/create date			:	2020/10/01										
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:  	2021/03/23	
--*	更新者/updater				:	viettd　						     	 
--*	更新内容/update content		:	評価中のステータス（一次評価中～四次評価中）の中でM0310.status_use_typ=1のステータスであっても、
--*									評価者の設定がされていない場合は、その前のステータスに更新する
--*   					
--*	更新日/update date			:  	2021/04/07	
--*	更新者/updater				:	viettd　						     	 
--*	更新内容/update content		:	update F0200.point_sum ~ rank_cd = 0
--*   					
--*	更新日/update date			:  	2021/09/07	
--*	更新者/updater				:	viettd　						     	 
--*	更新内容/update content		:	目標評価シート（W_M0200.sheet_kbn=1）が1次評価中（F0100.status_cd＝4）、
--*								:	定性評価シート（W_M0200.sheet_kbn=2）が自己評価中（F0100.status_cd＝1）の状態だったらエラー
--*								:	add message 147
--*   					
--*	更新日/update date			:  	2021/10/15	
--*	更新者/updater				:	viettd　						     	 
--*	更新内容/update content		:	fix error when update F0200
--*   					
--*	更新日/update date			:  	2021/12/01	
--*	更新者/updater				:	viettd　						     	 
--*	更新内容/update content		:	upgrade ver1.8
--*   					
--*	更新日/update date			:  	2024/03/11	
--*	更新者/updater				:	viettd　						     	 
--*	更新内容/update content		:	既に初期ステータスで、それ以上ステータスが戻らない場合エラーメッセージを表示
--*   			
--*	更新日/update date			:  	2025/07/28	
--*	更新者/updater				:	viettd　						     	 
--*	更新内容/update content		:	change F0200,F0201.status_cd -> F0200,F0201.status_cd_prev
--*   			
--*	更新日/update date			:  	2025/09/17	
--*	更新者/updater				:	viettd　						     	 
--*	更新内容/update content		:	UPDATE F0110 + F0120 WHEN BACK STATUS_CD
--*   			
--****************************************************************************************
CREATE PROCEDURE [SPC_I2050_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json						nvarchar(max)			=	''
	-- common
,	@P_cre_user					nvarchar(50)			=	''
,	@P_cre_ip					nvarchar(50)			=	''
,	@P_company_cd				smallint				=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			int					=	0
	,	@screen_id				nvarchar(20)		=	'I2050'
	-----------------------SCREEN DATA-------------------------
	,	@fiscal_year				int					=	0
	,	@i							int					=	1
	,	@cnt						int					=	0
	,	@w_status_cd				smallint			=	0
	,	@w_category					smallint			=	0
	,	@w_sheet_cd					smallint			=	0
	,	@target_management_typ		tinyint				=	0
	,	@evaluation_use_typ			tinyint				=	0
	--
	,	@tmp_employee_cd			nvarchar(10)		=	''
	,	@pre_status_cd				smallint			=	0
	,	@tmp_cnt					int					=	0
	,	@tmp_i						int					=	1
	,	@w_evaluation_status_cd		smallint			=	0 -- 1 --自己評価中 2 -- 一次評価中. add by viettd 2024/03/11
	,	@only_teisei_employee_cd	nvarchar(10)		=	''-- add by viettd 2024/03/11
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--CREATE TEMP TABLE
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	IF object_id('tempdb..#TABLE_JSON', 'U') IS NOT NULL
	BEGIN
		DROP TABLE #TABLE_JSON
	END
	--
	IF object_id('tempdb..#M0310', 'U') IS NOT NULL
	BEGIN
		DROP TABLE #M0310
	END
	--
	IF object_id('tempdb..#JSON_LIST_TREATMENT', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #JSON_LIST_TREATMENT
    END
	--
	IF object_id('tempdb..#F0200_TMP', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #F0200_TMP
    END
	--
	IF object_id('tempdb..#EMPLOYEE_TREATMENT_SHEET', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #EMPLOYEE_TREATMENT_SHEET
    END	
	--
	IF object_id('tempdb..#TABLE_ERR_147', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #TABLE_ERR_147
    END	
	-- #TABLE_JSON
	CREATE TABLE #TABLE_JSON (
		id							int				identity(1,1)
	,	company_cd					smallint
	,	fiscal_year					int
	,	employee_cd					nvarchar(10)
	,	sheet_cd					smallint
	,	sheet_kbn					tinyint
	,	status_cd					smallint
	,	prev_status_cd				smallint
	,	row_index					int
	--	
	,	rater_employee_cd_1			nvarchar(10)	-- add by viettd 2021/03/23
	,	rater_employee_cd_2			nvarchar(10)	-- add by viettd 2021/03/23
	,	rater_employee_cd_3			nvarchar(10)	-- add by viettd 2021/03/23
	,	rater_employee_cd_4			nvarchar(10)	-- add by viettd 2021/03/23
	--
	,	evaluation_self_typ			tinyint			-- add by viettd 2021/12/01
	,	evaluation_step_current		smallint		-- add by viettd 2025/09/17
	)
	-- #JSON_LIST_TREATMENT
	CREATE TABLE #JSON_LIST_TREATMENT(
		id								int			identity(1,1)
	,	treatment_applications_no		smallint
	)
	-- #M0310
	CREATE TABLE #M0310(
		id							int		identity(1,1)
	,	company_cd					smallint
	,	category					smallint
	,	sheet_cd					smallint	-- add by viettd 2021/12/01
	,	status_cd					smallint
	,	status_cd_prev				smallint
	)
	-- #F0200_TMP
	CREATE TABLE #F0200_TMP (
		id								int			identity(1,1)
	,	company_cd						smallint
	,	fiscal_year						int
	,	employee_cd						nvarchar(10)
	,	treatment_applications_no		smallint
	,	evaluation_step					smallint
	,	sheet_cd						smallint
	,	sheet_kbn						tinyint
	,	status_cd						smallint	--　元ステータス
	,	prev_status_cd					smallint	--　先ステータス add by viettd 2025/07/28
	,	f0201_status					smallint	--	add by viettd 2025/07/28
	)
	-- #F0120_TMP
	CREATE TABLE #F0120_TMP (
		id								int			identity(1,1)
	,	company_cd						smallint
	,	fiscal_year						int
	,	employee_cd						nvarchar(10)
	,	sheet_cd						smallint
	,	evaluation_step					smallint
	,	evaluation_step_current			smallint
	)
	-- #EMPLOYEE_TREATMENT_SHEET
	CREATE TABLE #EMPLOYEE_TREATMENT_SHEET (
		id								int			identity(1,1)
	,	company_cd						smallint
	,	fiscal_year						int
	,	treatment_applications_no		smallint
	,	employee_cd						nvarchar(10)
	,	sheet_cd						smallint
	)
	-- add by viettd 2021/09/08
	CREATE TABLE #TABLE_ERR_147 (
		id								int			identity(1,1)
	,	company_cd						smallint
	,	fiscal_year						int
	,	employee_cd						nvarchar(10)	
	,	row_index						int		
	,	error_flag						tinyint			-- 0.not error 1.error
	)
	-- #TABLE_ONLY_TESEI
	CREATE TABLE #TABLE_ONLY_TESEI (
		company_cd					smallint
	,	fiscal_year					int
	,	employee_cd					nvarchar(10)
	,	sheet_cd					smallint
	,	sheet_kbn					tinyint
	,	status_cd					smallint
	,	row_index					int
	,	evaluation_self_typ			tinyint
	)
	-- #TABLE_ONLY_TARGET
	CREATE TABLE #TABLE_ONLY_TARGET (
		company_cd					smallint
	,	fiscal_year					int
	,	employee_cd					nvarchar(10)
	,	sheet_cd					smallint
	,	sheet_kbn					tinyint
	,	status_cd					smallint
	,	row_index					int
	,	evaluation_self_typ			tinyint
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--VALIDATE
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- get data from json
		SET	@fiscal_year			=	JSON_VALUE(@P_json,'$.fiscal_year')
		-- get list from json data
		INSERT INTO #TABLE_JSON
		SELECT
			@P_company_cd
		,	@fiscal_year
		,	employee_cd
		,	sheet_cd
		,	NULL
		,	NULL
		,	NULL
		,	row_index
		,	NULL
		,	NULL
		,	NULL
		,	NULL
		,	NULL				AS	evaluation_self_typ
		,	NULL				AS	evaluation_step
		FROM OPENJSON(@P_json,'$.list') WITH(
			row_index			int
		,	employee_cd			nvarchar(10)
		,	sheet_cd_list		nvarchar(max) '$.sheet_cd_list' AS JSON
		)
		OUTER APPLY OPENJSON(sheet_cd_list)
		WITH (sheet_cd nvarchar(10) '$');
		-- UPDATE SHEET_KBN
		UPDATE #TABLE_JSON SET 
			sheet_kbn			= ISNULL(W_M0200.sheet_kbn,0)
		,	evaluation_self_typ	= ISNULL(W_M0200.evaluation_self_typ,0)
		FROM #TABLE_JSON
		INNER JOIN W_M0200 ON (
			#TABLE_JSON.company_cd		=	W_M0200.company_cd
		AND #TABLE_JSON.fiscal_year		=	W_M0200.fiscal_year
		AND #TABLE_JSON.sheet_cd		=	W_M0200.sheet_cd
		)
		WHERE 
			W_M0200.del_datetime IS NULL
		-- INSERT INTO #JSON_LIST_TREATMENT
		INSERT INTO #JSON_LIST_TREATMENT
		SELECT json_table.treatment_applications_no FROM OPENJSON(@P_json,'$.list_treatment_applications_no') WITH(
			treatment_applications_no	smallint
		)AS json_table
		WHERE
			json_table.treatment_applications_no > 0
		-- get @target_management_typ +  @evaluation_use_typ
		SELECT 
			@target_management_typ	=	ISNULL(M0100.target_management_typ,0)		-- 目標
		,	@evaluation_use_typ		=	ISNULL(M0100.evaluation_use_typ,0)			-- 定性
		FROM M0100
		WHERE 
			M0100.company_cd		=	@P_company_cd
		AND M0100.del_datetime IS NULL
		-- get all status from table M0310
		INSERT INTO #M0310
		SELECT 
			M0310.company_cd	
		,	M0310.category	
		,	ISNULL(TABLE_JSON.sheet_cd,0)	AS	sheet_cd
		,	M0310.status_cd	
		,	NULL
		FROM M0310
		INNER JOIN(
			SELECT 
				#TABLE_JSON.company_cd		AS	company_cd
			,	#TABLE_JSON.sheet_cd		AS	sheet_cd
			,	#TABLE_JSON.sheet_kbn		AS	sheet_kbn
			FROM #TABLE_JSON
			GROUP BY
				#TABLE_JSON.company_cd	
			,	#TABLE_JSON.sheet_cd	
			,	#TABLE_JSON.sheet_kbn	
		) AS TABLE_JSON ON (
			M0310.company_cd		=	TABLE_JSON.company_cd
		AND	M0310.category			=	TABLE_JSON.sheet_kbn
		)
		INNER JOIN W_M0200 ON (
			TABLE_JSON.company_cd	=	W_M0200.company_cd
		AND @fiscal_year			=	W_M0200.fiscal_year
		AND	TABLE_JSON.sheet_cd		=	W_M0200.sheet_cd
		AND W_M0200.del_datetime IS NULL
		)
		WHERE 
			M0310.company_cd		=	@P_company_cd
		AND M0310.status_use_typ	=	1
		AND M0310.category IN (1,2)		-- 1.目標シート・2.定性評価シート
		AND M0310.del_datetime IS NULL		
		AND (
			W_M0200.evaluation_self_typ = 1
		OR	W_M0200.evaluation_self_typ = 0 AND (M0310.category = 1 AND M0310.status_cd <> 3)	-- 1.目標シート: 自己評価中
		OR	W_M0200.evaluation_self_typ = 0 AND (M0310.category = 2 AND M0310.status_cd <> 1)	-- 2.定性評価シート: 自己評価中
		)
		-- UPDATE PREV STATUS_CD
		SET @cnt = (SELECT COUNT(#M0310.id) FROM #M0310)
		WHILE @i <= @cnt
		BEGIN
			SET @w_status_cd	= (SELECT ISNULL(#M0310.status_cd,0)	FROM #M0310 WHERE #M0310.id = @i)
			SET @w_category		= (SELECT ISNULL(#M0310.category,0)		FROM #M0310 WHERE #M0310.id = @i)
			SET @w_sheet_cd		= (SELECT ISNULL(#M0310.sheet_cd,0)		FROM #M0310 WHERE #M0310.id = @i)
			--
			UPDATE #M0310 SET 
				status_cd_prev =	CASE
										-- When dont use 定性: if status_cd <= 6.評価確定待ち then set 6
										WHEN @evaluation_use_typ = 0 AND #M0310.category = 2 AND #M0310.status_cd <= 6
										THEN 6
										-- When dont use 目標: if status_cd <= 6.評価確定待ち then set 6
										-- 目標　＆　status_cd >= 3.自己評価中 and status_cd<= 8.評価確定待ち then set 8
										WHEN @target_management_typ = 0 AND #M0310.category = 1 AND #M0310.status_cd >= 3 AND #M0310.status_cd <= 8
										THEN 8
										-- get max status_cd prev
										ELSE ISNULL(M0310_MAX.status_cd_max,0)
									END
			FROM #M0310
			INNER JOIN (
				SELECT 
					#M0310.company_cd			AS	company_cd
				,	#M0310.category				AS	category
				,	#M0310.sheet_cd				AS	sheet_cd
				,	MAX(#M0310.status_cd)		AS	status_cd_max
				FROM #M0310
				WHERE
					#M0310.category		=	@w_category
				AND	#M0310.status_cd	<	@w_status_cd
				GROUP BY 
					#M0310.company_cd
				,	#M0310.category
				,	#M0310.sheet_cd
			) AS M0310_MAX ON (
				#M0310.company_cd		=	M0310_MAX.company_cd
			AND #M0310.category			=	M0310_MAX.category
			AND #M0310.sheet_cd			=	M0310_MAX.sheet_cd
			)
			WHERE 
				#M0310.company_cd	=	@P_company_cd
			AND	#M0310.category		=	@w_category
			AND	#M0310.sheet_cd		=	@w_sheet_cd
			AND #M0310.status_cd	=	@w_status_cd
			--
			SET @i = @i + 1
		END
		-- add by viettd 2021/09/07
		-- add mess 147
		-- 目標評価シート（W_M0200.sheet_kbn=1）が1次評価中（F0100.status_cd＝4）、
		-- 定性評価シート（W_M0200.sheet_kbn=2）が自己評価中（F0100.status_cd＝1）の状態だったらエラー
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- 目標評価シート
			-- INSERT WHEN （W_M0200.sheet_kbn=1）が1次評価中（F0100.status_cd＝4）
			INSERT INTO #TABLE_ERR_147
			SELECT 
				#TABLE_JSON.company_cd
			,	#TABLE_JSON.fiscal_year
			,	#TABLE_JSON.employee_cd
			,	#TABLE_JSON.row_index
			,	0	-- error_flag
			FROM #TABLE_JSON
			LEFT OUTER JOIN M0200 ON (
				#TABLE_JSON.company_cd	=	M0200.company_cd
			AND #TABLE_JSON.sheet_cd	=	M0200.sheet_cd
			AND M0200.del_datetime IS NULL
			)
			LEFT OUTER JOIN F0100 ON (
				#TABLE_JSON.company_cd	=	F0100.company_cd
			AND #TABLE_JSON.fiscal_year	=	F0100.fiscal_year
			AND #TABLE_JSON.employee_cd	=	F0100.employee_cd
			AND #TABLE_JSON.sheet_cd	=	F0100.sheet_cd
			AND F0100.del_datetime IS NULL
			)
			WHERE
				M0200.sheet_kbn =	1	-- 目標評価
			AND F0100.status_cd	=	4	-- 1次評価中
			GROUP BY
				#TABLE_JSON.company_cd
			,	#TABLE_JSON.fiscal_year
			,	#TABLE_JSON.employee_cd
			,	#TABLE_JSON.row_index
			-- 定性評価シート
			-- UPDATE error_flag = 1 WHEN EXISTS  定性評価シート（W_M0200.sheet_kbn=2）が自己評価中（F0100.status_cd＝1）
			UPDATE #TABLE_ERR_147 SET 
				error_flag = 1
			FROM #TABLE_JSON
			INNER JOIN (
				SELECT 
					#TABLE_JSON.company_cd
				,	#TABLE_JSON.fiscal_year
				,	#TABLE_JSON.employee_cd
				FROM #TABLE_JSON
				LEFT OUTER JOIN M0200 ON (
					#TABLE_JSON.company_cd	=	M0200.company_cd
				AND #TABLE_JSON.sheet_cd	=	M0200.sheet_cd
				AND M0200.del_datetime IS NULL
				)
				LEFT OUTER JOIN F0100 ON (
					#TABLE_JSON.company_cd	=	F0100.company_cd
				AND #TABLE_JSON.fiscal_year	=	F0100.fiscal_year
				AND #TABLE_JSON.employee_cd	=	F0100.employee_cd
				AND #TABLE_JSON.sheet_cd	=	F0100.sheet_cd
				AND F0100.del_datetime IS NULL
				)
				WHERE
					M0200.sheet_kbn =	2	-- 定性評価
				AND F0100.status_cd	=	1	-- 自己評価中
				GROUP BY
					#TABLE_JSON.company_cd
				,	#TABLE_JSON.fiscal_year
				,	#TABLE_JSON.employee_cd
			) AS TABLE_TEMP ON (
				#TABLE_JSON.company_cd		=	TABLE_TEMP.company_cd
			AND #TABLE_JSON.fiscal_year		=	TABLE_TEMP.fiscal_year
			AND #TABLE_JSON.employee_cd		=	TABLE_TEMP.employee_cd
			)
			-- check error 147
			IF EXISTS (SELECT 1 FROM #TABLE_ERR_147 WHERE error_flag = 1)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT 
					147															-- mã lỗi (trùng với mã trong bảng message) 					
				,	'#row_index'+CAST(#TABLE_ERR_147.row_index AS nvarchar(10))	-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby													-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	4-- tooltip  												-- Kiểu hiển thị lối : 0. tooltip , 1.dialog , 4.tooltip + popup
				,	0															-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0															-- Tùy ý
				,	N'message 147 '												-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
				FROM #TABLE_ERR_147
			END
		END
		-- end add by viettd 2021/09/07
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		-- UPDATE STATUS_CD
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		UPDATE #TABLE_JSON SET 
			status_cd	= ISNULL(F0100.status_cd,0)
		FROM #TABLE_JSON
		INNER JOIN F0100 ON (
			#TABLE_JSON.company_cd		=	F0100.company_cd
		AND #TABLE_JSON.fiscal_year		=	F0100.fiscal_year
		AND #TABLE_JSON.employee_cd		=	F0100.employee_cd
		AND #TABLE_JSON.sheet_cd		=	F0100.sheet_cd
		)
		WHERE 
			F0100.del_datetime IS NULL
		-- add by viettd 2025/09/17
		-- update evaluation_step current into #TABLE_JSON
		UPDATE #TABLE_JSON SET 
			evaluation_step_current	=	CASE 
											WHEN #TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.status_cd = 3	-- 目標：3.自己評価中
											THEN 0
											WHEN #TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.status_cd = 4	-- 目標：4.一次評価中
											THEN 1
											WHEN #TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.status_cd = 5	-- 目標：5.二次評価中
											THEN 2
											WHEN #TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.status_cd = 6	-- 目標：6.三次評価中
											THEN 3
											WHEN #TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.status_cd = 7	-- 目標：7.四次評価中
											THEN 4
											--
											WHEN #TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.status_cd = 1	-- 目標：1.自己評価中
											THEN 0
											WHEN #TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.status_cd = 2	-- 目標：2.一次評価中
											THEN 1
											WHEN #TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.status_cd = 3	-- 目標：3.二次評価中
											THEN 2
											WHEN #TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.status_cd = 4	-- 目標：4.三次評価中
											THEN 3
											WHEN #TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.status_cd = 5	-- 目標：5.四次評価中
											THEN 4
											ELSE -1
										END
		FROM #TABLE_JSON
		-- add by viettd 2024/03/11
		-- IF HAS 自己評価
		IF EXISTS (SELECT 1 FROM M0310 
							WHERE 
								M0310.company_cd		=	@P_company_cd
							AND M0310.category			=	2	-- 定性シート
							AND M0310.status_cd			=	1	--　自己評価中
							AND M0310.status_use_typ	=	1
							AND M0310.del_datetime IS NULL)
		BEGIN
			SET @w_evaluation_status_cd = 1 --　自己評価中
		END
		-- IF HAS NOT 自己評価 THEN SET 一次評価
		IF @w_evaluation_status_cd = 0 AND EXISTS (SELECT 1 FROM M0310 
							WHERE 
								M0310.company_cd		=	@P_company_cd
							AND M0310.category			=	2	-- 定性シート
							AND M0310.status_cd			=	2	-- 一次評価中
							AND M0310.status_use_typ	=	1
							AND M0310.del_datetime IS NULL)
		BEGIN
			SET @w_evaluation_status_cd = 2 -- 一次評価中
		END
		--■ when has not teisei (sheet_kn = 2)  
		INSERT INTO #TABLE_ONLY_TARGET
		SELECT 
			#TABLE_JSON.company_cd
		,	#TABLE_JSON.fiscal_year
		,	#TABLE_JSON.employee_cd
		,	#TABLE_JSON.sheet_cd
		,	#TABLE_JSON.sheet_kbn
		,	#TABLE_JSON.status_cd
		,	#TABLE_JSON.row_index
		,	#TABLE_JSON.evaluation_self_typ
		FROM #TABLE_JSON
		LEFT OUTER JOIN (
			SELECT 
				#TABLE_JSON.employee_cd
			FROM #TABLE_JSON
			WHERE 
				#TABLE_JSON.sheet_kbn = 2
			GROUP BY
				#TABLE_JSON.employee_cd
		) AS TABLE_JSON_TESEI ON (
			#TABLE_JSON.employee_cd		=	TABLE_JSON_TESEI.employee_cd
		)
		WHERE 
			TABLE_JSON_TESEI.employee_cd IS NULL
		--
		INSERT INTO @ERR_TBL
		SELECT 
			160																-- mã lỗi (trùng với mã trong bảng message) 					
		,	'#row_index'+CAST(#TABLE_ONLY_TARGET.row_index AS nvarchar(10))	-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby														-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	4-- tooltip  													-- Kiểu hiển thị lối : 0. tooltip , 1.dialog , 4.tooltip + popup
		,	0																-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0																-- Tùy ý
		,	N'message 160'													-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM #TABLE_ONLY_TARGET
		LEFT OUTER JOIN (
			SELECT 
				#TABLE_ONLY_TARGET.company_cd			AS	company_cd	
			,	#TABLE_ONLY_TARGET.fiscal_year			AS	fiscal_year
			,	#TABLE_ONLY_TARGET.employee_cd			AS	employee_cd
			FROM #TABLE_ONLY_TARGET
			WHERE 
				#TABLE_ONLY_TARGET.status_cd	> 0
			GROUP BY
				#TABLE_ONLY_TARGET.company_cd
			,	#TABLE_ONLY_TARGET.fiscal_year
			,	#TABLE_ONLY_TARGET.employee_cd
		) AS TABLE_ONLY_TARGET_LARGE_0 ON (
			#TABLE_ONLY_TARGET.company_cd		=	TABLE_ONLY_TARGET_LARGE_0.company_cd
		AND	#TABLE_ONLY_TARGET.fiscal_year		=	TABLE_ONLY_TARGET_LARGE_0.fiscal_year
		AND	#TABLE_ONLY_TARGET.employee_cd		=	TABLE_ONLY_TARGET_LARGE_0.employee_cd
		)
		WHERE 
			#TABLE_ONLY_TARGET.status_cd	=	0 -- 未処理
		AND TABLE_ONLY_TARGET_LARGE_0.employee_cd IS NULL
		GROUP BY
			#TABLE_ONLY_TARGET.company_cd
		,	#TABLE_ONLY_TARGET.fiscal_year
		,	#TABLE_ONLY_TARGET.employee_cd
		,	#TABLE_ONLY_TARGET.row_index
		--■ when has not target (sheet_kn = 1)  
		INSERT INTO #TABLE_ONLY_TESEI
		SELECT 
			#TABLE_JSON.company_cd
		,	#TABLE_JSON.fiscal_year
		,	#TABLE_JSON.employee_cd
		,	#TABLE_JSON.sheet_cd
		,	#TABLE_JSON.sheet_kbn
		,	#TABLE_JSON.status_cd
		,	#TABLE_JSON.row_index
		,	#TABLE_JSON.evaluation_self_typ
		FROM #TABLE_JSON
		LEFT OUTER JOIN (
			SELECT 
				#TABLE_JSON.employee_cd
			FROM #TABLE_JSON
			WHERE 
				#TABLE_JSON.sheet_kbn = 1
			GROUP BY
				#TABLE_JSON.employee_cd
		) AS TABLE_JSON_TARGET ON (
			#TABLE_JSON.employee_cd		=	TABLE_JSON_TARGET.employee_cd
		)
		WHERE 
			TABLE_JSON_TARGET.employee_cd	IS NULL
		-- 
		IF EXISTS(SELECT 1 FROM #TABLE_ONLY_TESEI)
		BEGIN
			-- 自己評価中がなし
			IF @w_evaluation_status_cd = 2
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT 
					160																-- mã lỗi (trùng với mã trong bảng message) 					
				,	'#row_index'+CAST(#TABLE_ONLY_TESEI.row_index AS nvarchar(10))	-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby														-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	4-- tooltip  													-- Kiểu hiển thị lối : 0. tooltip , 1.dialog , 4.tooltip + popup
				,	0																-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0																-- Tùy ý
				,	N'message 160'													-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
				FROM #TABLE_ONLY_TESEI
				LEFT OUTER JOIN (
					SELECT 
						#TABLE_ONLY_TESEI.company_cd			AS	company_cd	
					,	#TABLE_ONLY_TESEI.fiscal_year			AS	fiscal_year
					,	#TABLE_ONLY_TESEI.employee_cd			AS	employee_cd
					FROM #TABLE_ONLY_TESEI
					WHERE 
						#TABLE_ONLY_TESEI.status_cd	> 2
					GROUP BY
						#TABLE_ONLY_TESEI.company_cd
					,	#TABLE_ONLY_TESEI.fiscal_year
					,	#TABLE_ONLY_TESEI.employee_cd
				) AS TABLE_ONLY_TESEI_LARGE_2 ON (
					#TABLE_ONLY_TESEI.company_cd		=	TABLE_ONLY_TESEI_LARGE_2.company_cd
				AND	#TABLE_ONLY_TESEI.fiscal_year		=	TABLE_ONLY_TESEI_LARGE_2.fiscal_year
				AND	#TABLE_ONLY_TESEI.employee_cd		=	TABLE_ONLY_TESEI_LARGE_2.employee_cd
				)
				WHERE 
					#TABLE_ONLY_TESEI.status_cd	=	2 -- 一次評価中
				AND TABLE_ONLY_TESEI_LARGE_2.employee_cd IS NULL
				GROUP BY
					#TABLE_ONLY_TESEI.company_cd
				,	#TABLE_ONLY_TESEI.fiscal_year
				,	#TABLE_ONLY_TESEI.employee_cd
				,	#TABLE_ONLY_TESEI.row_index
			END
			-- 自己評価中があり
			IF @w_evaluation_status_cd = 1
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT 
					160																-- mã lỗi (trùng với mã trong bảng message) 					
				,	'#row_index'+CAST(#TABLE_ONLY_TESEI.row_index AS nvarchar(10))	-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby														-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	4-- tooltip  													-- Kiểu hiển thị lối : 0. tooltip , 1.dialog , 4.tooltip + popup
				,	0																-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0																-- Tùy ý
				,	N'message 160'													-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
				FROM #TABLE_ONLY_TESEI
				LEFT OUTER JOIN (
					SELECT 
						#TABLE_ONLY_TESEI.company_cd			AS	company_cd	
					,	#TABLE_ONLY_TESEI.fiscal_year			AS	fiscal_year
					,	#TABLE_ONLY_TESEI.employee_cd			AS	employee_cd
					FROM #TABLE_ONLY_TESEI
					WHERE 
						(#TABLE_ONLY_TESEI.evaluation_self_typ = 0 AND #TABLE_ONLY_TESEI.status_cd > 2)
					OR	(#TABLE_ONLY_TESEI.evaluation_self_typ = 1 AND #TABLE_ONLY_TESEI.status_cd > 1)
					GROUP BY
						#TABLE_ONLY_TESEI.company_cd
					,	#TABLE_ONLY_TESEI.fiscal_year
					,	#TABLE_ONLY_TESEI.employee_cd
				) AS TABLE_ONLY_TESEI_LARGE_2 ON (
					#TABLE_ONLY_TESEI.company_cd		=	TABLE_ONLY_TESEI_LARGE_2.company_cd
				AND	#TABLE_ONLY_TESEI.fiscal_year		=	TABLE_ONLY_TESEI_LARGE_2.fiscal_year
				AND	#TABLE_ONLY_TESEI.employee_cd		=	TABLE_ONLY_TESEI_LARGE_2.employee_cd
				)
				WHERE 
				(
						(#TABLE_ONLY_TESEI.evaluation_self_typ = 0 AND #TABLE_ONLY_TESEI.status_cd = 2)
					OR	(#TABLE_ONLY_TESEI.evaluation_self_typ = 1 AND #TABLE_ONLY_TESEI.status_cd = 1)
				)
				AND TABLE_ONLY_TESEI_LARGE_2.employee_cd IS NULL
				GROUP BY
					#TABLE_ONLY_TESEI.company_cd
				,	#TABLE_ONLY_TESEI.fiscal_year
				,	#TABLE_ONLY_TESEI.employee_cd
				,	#TABLE_ONLY_TESEI.row_index
			END
		END
		--■ when has target (sheet_kbn = 1) & tesei (sheet_kbn = 2) and status_cd = 0
		INSERT INTO @ERR_TBL
		SELECT 
			160															-- mã lỗi (trùng với mã trong bảng message) 					
		,	'#row_index'+CAST(#TABLE_JSON.row_index AS nvarchar(10))	-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby													-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	4-- tooltip  												-- Kiểu hiển thị lối : 0. tooltip , 1.dialog , 4.tooltip + popup
		,	0															-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0															-- Tùy ý
		,	N'message 160'												-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM #TABLE_JSON
		LEFT OUTER JOIN (
			SELECT 
				company_cd				AS	company_cd			
			,	fiscal_year				AS	fiscal_year			
			,	employee_cd				AS	employee_cd			
			,	sheet_cd				AS	sheet_cd			
			,	sheet_kbn				AS	sheet_kbn			
			,	status_cd				AS	status_cd			
			,	row_index				AS	row_index			
			,	evaluation_self_typ		AS	evaluation_self_typ	
			FROM #TABLE_ONLY_TESEI
			UNION ALL
			SELECT 
				company_cd				AS	company_cd				
			,	fiscal_year				AS	fiscal_year			
			,	employee_cd				AS	employee_cd			
			,	sheet_cd				AS	sheet_cd			
			,	sheet_kbn				AS	sheet_kbn			
			,	status_cd				AS	status_cd			
			,	row_index				AS	row_index			
			,	evaluation_self_typ		AS	evaluation_self_typ	
			FROM #TABLE_ONLY_TARGET
		) AS TABLE_EMPLOYEE_ERROR ON (
			#TABLE_JSON.company_cd		=	TABLE_EMPLOYEE_ERROR.company_cd
		AND #TABLE_JSON.fiscal_year		=	TABLE_EMPLOYEE_ERROR.fiscal_year
		AND #TABLE_JSON.employee_cd		=	TABLE_EMPLOYEE_ERROR.employee_cd
		)
		WHERE 
			#TABLE_JSON.sheet_kbn	=	1
		AND #TABLE_JSON.status_cd	=	0
		AND TABLE_EMPLOYEE_ERROR.employee_cd IS NULL
		GROUP BY
			#TABLE_JSON.company_cd
		,	#TABLE_JSON.fiscal_year
		,	#TABLE_JSON.employee_cd
		,	#TABLE_JSON.row_index
		-- end add by viettd 2024/03/11
		-- UPDATE rater_employee_cd_1 ~ rater_employee_cd_4
		UPDATE #TABLE_JSON SET 
			rater_employee_cd_1 = ISNULL(F0100.rater_employee_cd_1,'')
		,	rater_employee_cd_2 = ISNULL(F0100.rater_employee_cd_2,'')
		,	rater_employee_cd_3 = ISNULL(F0100.rater_employee_cd_3,'')
		,	rater_employee_cd_4 = ISNULL(F0100.rater_employee_cd_4,'')
		FROM #TABLE_JSON
		INNER JOIN F0100 ON (
			#TABLE_JSON.company_cd		=	F0100.company_cd
		AND #TABLE_JSON.fiscal_year		=	F0100.fiscal_year
		AND #TABLE_JSON.employee_cd		=	F0100.employee_cd
		AND #TABLE_JSON.sheet_cd		=	F0100.sheet_cd
		)
		WHERE
			F0100.company_cd		=	@P_company_cd
		AND F0100.fiscal_year		=	@fiscal_year
		AND F0100.del_datetime IS NULL
		-- update prev_status_cd
		UPDATE #TABLE_JSON SET 
			prev_status_cd = ISNULL(#M0310.status_cd_prev,0)
		FROM #TABLE_JSON
		INNER JOIN #M0310 ON (
			#TABLE_JSON.company_cd			=	#M0310.company_cd
		AND #TABLE_JSON.sheet_kbn			=	#M0310.category
		AND #TABLE_JSON.sheet_cd			=	#M0310.sheet_cd		-- add by viettd 2021/12/01
		AND #TABLE_JSON.status_cd			=	#M0310.status_cd
		)
		-- ↓↓↓ add by viettd 2021/03/23
		-- 四次評価中
		UPDATE #TABLE_JSON SET 
			prev_status_cd = ISNULL(M3010_MAX.status_cd_max,0)
		FROM #TABLE_JSON
		INNER JOIN (
			SELECT 
				#M0310.company_cd			AS	company_cd
			,	#M0310.category				AS	category
			,	#M0310.sheet_cd				AS	sheet_cd
			,	MAX(#M0310.status_cd)		AS	status_cd_max
			FROM #M0310
			WHERE
				#M0310.status_cd	<	CASE 
											WHEN #M0310.category = 1	-- 目標
											THEN 7　-- 四次評価中（目標）
											ELSE 5	-- 四次評価中（定性）
										END
			GROUP BY 
				#M0310.company_cd
			,	#M0310.category
			,	#M0310.sheet_cd
		) AS M3010_MAX ON (
			#TABLE_JSON.company_cd	=	M3010_MAX.company_cd
		AND #TABLE_JSON.sheet_kbn	=	M3010_MAX.category
		AND #TABLE_JSON.sheet_cd	=	M3010_MAX.sheet_cd
		)
		WHERE 
			#TABLE_JSON.rater_employee_cd_4	= SPACE(0) -- NOT rater_employee_cd_4
		AND (
			(#TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.prev_status_cd = 7)
		OR	(#TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.prev_status_cd = 5)
		)
		-- 三次評価中
		UPDATE #TABLE_JSON SET 
			prev_status_cd = ISNULL(M3010_MAX.status_cd_max,0)
		FROM #TABLE_JSON
		INNER JOIN (
			SELECT 
				#M0310.company_cd			AS	company_cd
			,	#M0310.category				AS	category
			,	#M0310.sheet_cd				AS	sheet_cd
			,	MAX(#M0310.status_cd)		AS	status_cd_max
			FROM #M0310
			WHERE
				#M0310.status_cd	<	CASE 
											WHEN #M0310.category = 1	-- 目標
											THEN 6	-- 三次評価中（目標）
											ELSE 4	-- 三次評価中（定性）
										END
			GROUP BY 
				#M0310.company_cd
			,	#M0310.category
			,	#M0310.sheet_cd
		) AS M3010_MAX ON (
			#TABLE_JSON.company_cd	=	M3010_MAX.company_cd
		AND #TABLE_JSON.sheet_kbn	=	M3010_MAX.category
		AND #TABLE_JSON.sheet_cd	=	M3010_MAX.sheet_cd
		)
		WHERE 
			#TABLE_JSON.rater_employee_cd_3	= SPACE(0) -- NOT rater_employee_cd_3
		AND (
			(#TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.prev_status_cd = 6)
		OR	(#TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.prev_status_cd = 4)
		)			
		-- 二次評価中
		UPDATE #TABLE_JSON SET 
			prev_status_cd = ISNULL(M3010_MAX.status_cd_max,0)
		FROM #TABLE_JSON
		INNER JOIN (
			SELECT 
				#M0310.company_cd			AS	company_cd
			,	#M0310.category				AS	category
			,	#M0310.sheet_cd				AS	sheet_cd
			,	MAX(#M0310.status_cd)		AS	status_cd_max
			FROM #M0310
			WHERE
				#M0310.status_cd	<	CASE 
											WHEN #M0310.category = 1	-- 目標
											THEN 5	-- 二次評価中（目標）
											ELSE 3	-- 二次評価中（定性）
										END
			GROUP BY 
				#M0310.company_cd
			,	#M0310.category
			,	#M0310.sheet_cd
		) AS M3010_MAX ON (
			#TABLE_JSON.company_cd	=	M3010_MAX.company_cd
		AND #TABLE_JSON.sheet_kbn	=	M3010_MAX.category
		AND #TABLE_JSON.sheet_cd	=	M3010_MAX.sheet_cd
		)
		WHERE 
			#TABLE_JSON.rater_employee_cd_2	= SPACE(0) -- NOT rater_employee_cd_2
		AND (
			(#TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.prev_status_cd = 5)
		OR	(#TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.prev_status_cd = 3)
		)	
		-- ↑↑↑ end add by viettd 2021/03/23
		-- process status sync from 1.目標 to 2.定性
		SET @tmp_cnt = (SELECT COUNT(#TABLE_JSON.id) FROM #TABLE_JSON)
		WHILE @tmp_i <=  @tmp_cnt
		BEGIN
			SELECT 
				@tmp_employee_cd		=	#TABLE_JSON.employee_cd
			FROM #TABLE_JSON
			WHERE 
				#TABLE_JSON.id			=	@tmp_i
			AND #TABLE_JSON.sheet_kbn	=	1　-- 目標	
			-- GET MIN STATUS_CD OF 1.目標
			SELECT 
				@pre_status_cd = MIN(#TABLE_JSON.prev_status_cd)
			FROM #TABLE_JSON
			WHERE 
				#TABLE_JSON.employee_cd	=	@tmp_employee_cd
			AND #TABLE_JSON.sheet_kbn	=	1	-- 目標	
			-- update status_cd for all sheet_cd (sheet_kbn = 1)
			UPDATE #TABLE_JSON SET 
				status_cd	=	@pre_status_cd
			FROM #TABLE_JSON
			WHERE 
				#TABLE_JSON.employee_cd		=	@tmp_employee_cd
			AND #TABLE_JSON.sheet_kbn		=	1	-- 目標
			--　sync status_cd to 2.定性
			UPDATE #TABLE_JSON SET 
				prev_status_cd =	CASE 
										-- 7.四次評価中 (目標)		6.評価確定待ち (定性)
										WHEN @pre_status_cd = 7 AND #TABLE_JSON.status_cd = 6
										THEN 5 -- 5.四次評価中 (定性)
										-- 6.三次評価中 (目標)		5.四次評価中 (定性)
										WHEN @pre_status_cd = 6 AND #TABLE_JSON.status_cd = 5
										THEN 4 -- 4.三次評価中 (定性)
										-- 5.二次評価中 (目標)		4.三次評価中 (定性)
										WHEN @pre_status_cd = 5 AND #TABLE_JSON.status_cd = 4
										THEN 3 -- 3.二次評価中 (定性)
										-- 4.一次評価中 (目標)		3.二次評価中 (定性)
										WHEN @pre_status_cd = 4 AND #TABLE_JSON.status_cd = 3
										THEN 2 -- 2.一次評価中 (定性)
										-- 3.自己評価中 (目標)		2.一次評価中 (定性)		W_M0200.evaluation_self_typ = 1
										WHEN @pre_status_cd = 3 AND #TABLE_JSON.status_cd = 2 AND W_M0200.evaluation_self_typ = 1 AND ISNULL(M0100.evaluation_self_assessment_typ,0) = 1
										THEN 1 -- 1.自己評価中 (定性)
										-- 3.自己評価中 (目標)		2.一次評価中 (定性)		W_M0200.evaluation_self_typ = 0
										WHEN @pre_status_cd = 3 AND #TABLE_JSON.status_cd = 2 AND (W_M0200.evaluation_self_typ = 0 OR ISNULL(M0100.evaluation_self_assessment_typ,0) = 0)
										THEN 2 -- ２：一次評価中。 (定性)
										-- 2.目標承認待ち (目標)		
										WHEN @pre_status_cd = 2 
										THEN #TABLE_JSON.status_cd
										-- 1.期首面談中 (目標)	0.未処理 (目標) 	1.自己評価中 (定性)
										WHEN @pre_status_cd IN(1,0)
										THEN 0 -- 0.未処理 (定性)
										ELSE #TABLE_JSON.prev_status_cd
									END 
			FROM #TABLE_JSON
			INNER JOIN M0100 ON (
				#TABLE_JSON.company_cd			=	M0100.company_cd
			AND M0100.del_datetime IS NULL
			)
			LEFT OUTER JOIN W_M0200 ON (
				#TABLE_JSON.company_cd			=	W_M0200.company_cd
			AND #TABLE_JSON.fiscal_year			=	W_M0200.fiscal_year
			AND #TABLE_JSON.sheet_cd			=	W_M0200.sheet_cd
			AND W_M0200.del_datetime IS NULL
			)
			WHERE 
				#TABLE_JSON.employee_cd = @tmp_employee_cd
			AND #TABLE_JSON.sheet_kbn = 2 -- 定性
			-- if employee has status_cd = 0 then set reset status_cd = 0 for all sheet
			IF EXISTS (SELECT 1 FROM #TABLE_JSON WHERE employee_cd = @tmp_employee_cd AND status_cd = 0)
			BEGIN
				UPDATE #TABLE_JSON SET 
					status_cd = 0
				FROM #TABLE_JSON
				WHERE 
					#TABLE_JSON.employee_cd = @tmp_employee_cd
			END
			-- get employee_cd of loop each
			SELECT 
				@only_teisei_employee_cd		=	#TABLE_JSON.employee_cd
			FROM #TABLE_JSON
			WHERE 
				#TABLE_JSON.id			=	@tmp_i
			-- when has not sheet_cd (sheet_kbn = 1) then get only  sheet_cd (sheet_kbn = 2) of employee_cd 
			IF EXISTS (SELECT 1 FROM #TABLE_JSON WHERE employee_cd = @only_teisei_employee_cd AND sheet_kbn = 1)
			BEGIN
				SET @only_teisei_employee_cd = SPACE(0)
			END
			-- Only teisei sheet (sheet_cd (sheet_kbn = 2) of employee_cd )
			IF @only_teisei_employee_cd <> SPACE(0)
			BEGIN
				-- 自己評価中がなし
				IF @w_evaluation_status_cd = 2
				BEGIN
					UPDATE #TABLE_JSON SET 
						prev_status_cd = 2
					FROM #TABLE_JSON
					WHERE 
						#TABLE_JSON.employee_cd =	@only_teisei_employee_cd
					AND #TABLE_JSON.sheet_kbn	=	2	-- 定性
					AND #TABLE_JSON.status_cd	=	2	-- 一次評価中
				END
				-- 自己評価中があり
				IF @w_evaluation_status_cd = 1
				BEGIN
					UPDATE #TABLE_JSON SET 
						prev_status_cd =	CASE 
												WHEN evaluation_self_typ = 1
												THEN 1	-- 自己評価中
												ELSE 2	-- 一次評価中
											END
					FROM #TABLE_JSON
					WHERE 
						#TABLE_JSON.employee_cd			=	@only_teisei_employee_cd
					AND #TABLE_JSON.sheet_kbn			=	2	-- 定性
					AND
					(
						(#TABLE_JSON.evaluation_self_typ = 0 AND #TABLE_JSON.status_cd = 2)
					OR	(#TABLE_JSON.evaluation_self_typ = 1 AND #TABLE_JSON.status_cd = 1)
					)
				END
			END
			--
			SET @tmp_i = @tmp_i + 1
		END
		--
		INSERT INTO #EMPLOYEE_TREATMENT_SHEET
		SELECT 
			DISTINCT
			F0032.company_cd
		,	F0032.fiscal_year
		,	F0032.treatment_applications_no
		,	F0032.employee_cd
		,	F0032.sheet_cd
		FROM F0032
		INNER JOIN (
			SELECT 
				DISTINCT
				#TABLE_JSON.employee_cd		AS	employee_cd
			FROM #TABLE_JSON
		) AS EMP ON (
			F0032.company_cd		=	@P_company_cd
		AND F0032.fiscal_year		=	@fiscal_year
		AND	F0032.employee_cd		=	EMP.employee_cd
		)
		INNER JOIN #JSON_LIST_TREATMENT ON (
			F0032.company_cd				=	@P_company_cd
		AND F0032.fiscal_year				=	@fiscal_year
		AND F0032.treatment_applications_no	=	#JSON_LIST_TREATMENT.treatment_applications_no
		)
		WHERE 
			F0032.company_cd		=	@P_company_cd
		AND F0032.fiscal_year		=	@fiscal_year
		AND F0032.del_datetime IS NULL
		--INSERT #F0200_TMP
		INSERT INTO #F0200_TMP
		SELECT 
			S.company_cd
		,	S.fiscal_year
		,	S.employee_cd
		,	S.treatment_applications_no
		,	NULL									AS	evaluation_step
		,	S.sheet_cd								AS	sheet_cd
		,	ISNULL(W_M0200.sheet_kbn,0)				AS	sheet_kbn
		,	ISNULL(#TABLE_JSON.status_cd,0)			AS	status_cd
		,	ISNULL(#TABLE_JSON.prev_status_cd,0)	AS	prev_status_cd
		,	NULL									AS	f0201_status
		FROM #EMPLOYEE_TREATMENT_SHEET AS S
		LEFT OUTER JOIN #TABLE_JSON ON (
			S.company_cd			=	#TABLE_JSON.company_cd
		AND S.fiscal_year			=	#TABLE_JSON.fiscal_year
		AND S.employee_cd			=	#TABLE_JSON.employee_cd
		AND S.sheet_cd				=	#TABLE_JSON.sheet_cd
		)
		LEFT OUTER JOIN W_M0200 ON (
			S.company_cd			=	W_M0200.company_cd
		AND S.fiscal_year			=	W_M0200.fiscal_year
		AND S.sheet_cd				=	W_M0200.sheet_cd
		AND W_M0200.del_datetime IS NULL
		)
		---- UPDATE #F0200_TMP ------
		UPDATE #F0200_TMP SET 
			evaluation_step	=	CASE 
									--目標
									WHEN #F0200_TMP.sheet_kbn = 1 AND #F0200_TMP.prev_status_cd = 7	
									THEN 4
									WHEN #F0200_TMP.sheet_kbn = 1 AND #F0200_TMP.prev_status_cd = 6	
									THEN 3
									WHEN #F0200_TMP.sheet_kbn = 1 AND #F0200_TMP.prev_status_cd = 5	
									THEN 2
									WHEN #F0200_TMP.sheet_kbn = 1 AND #F0200_TMP.prev_status_cd <= 4	
									THEN 1
									-- 定性
									WHEN #F0200_TMP.sheet_kbn = 2 AND #F0200_TMP.prev_status_cd = 5	
									THEN 4
									WHEN #F0200_TMP.sheet_kbn = 2 AND #F0200_TMP.prev_status_cd = 4	
									THEN 3
									WHEN #F0200_TMP.sheet_kbn = 2 AND #F0200_TMP.prev_status_cd = 3	
									THEN 2	-- edited by viettd 2021/10/15
									WHEN #F0200_TMP.sheet_kbn = 2 AND #F0200_TMP.prev_status_cd <= 2 	
									THEN 1
									ELSE 0
								END
		,	f0201_status	=	CASE
									--目標
									WHEN #F0200_TMP.sheet_kbn = 1 AND #F0200_TMP.prev_status_cd < 8
									THEN 1
									WHEN #F0200_TMP.sheet_kbn = 1 AND #F0200_TMP.prev_status_cd = 8	
									THEN 2
									WHEN #F0200_TMP.sheet_kbn = 1 AND #F0200_TMP.prev_status_cd = 9	
									THEN 3
									WHEN #F0200_TMP.sheet_kbn = 1 AND #F0200_TMP.prev_status_cd = 10	
									THEN 4
									-- 定性
									WHEN #F0200_TMP.sheet_kbn = 2 AND #F0200_TMP.prev_status_cd < 6	
									THEN 1
									WHEN #F0200_TMP.sheet_kbn = 2 AND #F0200_TMP.prev_status_cd = 6	
									THEN 2
									WHEN #F0200_TMP.sheet_kbn = 2 AND #F0200_TMP.prev_status_cd = 7	
									THEN 3
									WHEN #F0200_TMP.sheet_kbn = 2 AND #F0200_TMP.prev_status_cd = 8	
									THEN 4
									ELSE 0
								END
		FROM #F0200_TMP
		-- ↓↓↓ add by viettd 2025/09/17
		-- update into F0110 when status_cd = 0.未処理 (only 目標シート sheet_kbn = 1)
		UPDATE F0110 SET 
			submit_user			=	CASE 
										WHEN #TABLE_JSON.prev_status_cd = 0 
										THEN SPACE(0)
										ELSE F0110.submit_user
									END
		,	submit_ip			=	CASE 
										WHEN #TABLE_JSON.prev_status_cd = 0 
										THEN SPACE(0)
										ELSE F0110.submit_ip
									END
		,	submit_datetime		=	CASE 
										WHEN #TABLE_JSON.prev_status_cd = 0 
										THEN NULL
										ELSE F0110.submit_datetime
									END
		,	approval_user		=	CASE 
										WHEN #TABLE_JSON.prev_status_cd IN (1,2) 
										THEN SPACE(0)
										ELSE F0110.approval_user
									END
		,	approval_ip			=	CASE 
										WHEN #TABLE_JSON.prev_status_cd IN (1,2) 
										THEN SPACE(0)
										ELSE F0110.approval_ip
									END
		,	approval_datetime	=	CASE 
										WHEN #TABLE_JSON.prev_status_cd IN (1,2) 
										THEN NULL
										ELSE F0110.approval_datetime
									END
		,	upd_user			=	@P_cre_user
		,	upd_ip				=	@P_cre_ip
		,	upd_prg				=	@screen_id
		,	upd_datetime		=	@w_time
		FROM F0110
		INNER JOIN #TABLE_JSON ON (
			F0110.company_cd	=	@P_company_cd
		AND F0110.fiscal_year	=	@fiscal_year
		AND F0110.employee_cd	=	#TABLE_JSON.employee_cd
		AND F0110.sheet_cd		=	#TABLE_JSON.sheet_cd
		)
		WHERE 
			F0110.company_cd			=	@P_company_cd
		AND F0110.fiscal_year			=	@fiscal_year
		AND #TABLE_JSON.sheet_kbn		=	1	-- 目標シート
		AND #TABLE_JSON.prev_status_cd	<=	2 -- 2.目標承認待ち	
		AND F0110.del_datetime IS NULL
		-- update into F0120 when status_cd in 評価中(目標シート→ステータス4～8、定性評価シート→ステータス2～6から戻す場合のみ)
		INSERT INTO #F0120_TMP
		SELECT 
			#TABLE_JSON.company_cd
		,	#TABLE_JSON.fiscal_year
		,	#TABLE_JSON.employee_cd
		,	#TABLE_JSON.sheet_cd
		,	CASE 
				WHEN #TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.prev_status_cd = 3	-- 目標：3.自己評価中
				THEN 0
				WHEN #TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.prev_status_cd = 4	-- 目標：4.一次評価中
				THEN 1
				WHEN #TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.prev_status_cd = 5	-- 目標：5.二次評価中
				THEN 2
				WHEN #TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.prev_status_cd = 6	-- 目標：6.三次評価中
				THEN 3
				WHEN #TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.prev_status_cd = 7	-- 目標：7.四次評価中
				THEN 4
				--
				WHEN #TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.prev_status_cd = 1	-- 目標：1.自己評価中
				THEN 0
				WHEN #TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.prev_status_cd = 2	-- 目標：2.一次評価中
				THEN 1
				WHEN #TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.prev_status_cd = 3	-- 目標：3.二次評価中
				THEN 2
				WHEN #TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.prev_status_cd = 4	-- 目標：4.三次評価中
				THEN 3
				WHEN #TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.prev_status_cd = 5	-- 目標：5.四次評価中
				THEN 4
				ELSE -1
			END			AS	evaluation_step
		,	#TABLE_JSON.evaluation_step_current		AS	evaluation_step_current
		FROM #TABLE_JSON
		INNER JOIN F0120 ON (
			#TABLE_JSON.company_cd	=	F0120.company_cd
		AND #TABLE_JSON.fiscal_year	=	F0120.fiscal_year
		AND #TABLE_JSON.employee_cd	=	F0120.employee_cd
		AND #TABLE_JSON.sheet_cd	=	F0120.sheet_cd
		AND F0120.del_datetime IS NULL
		)
		WHERE
			(#TABLE_JSON.sheet_kbn = 1 AND #TABLE_JSON.prev_status_cd IN (3,4,5,6,7))
		OR	(#TABLE_JSON.sheet_kbn = 2 AND #TABLE_JSON.prev_status_cd IN (1,2,3,4,5))
		-- UPDATE INTO F0120
		UPDATE F0120 SET 
			submit_user			=	SPACE(0)
		,	submit_ip			=	SPACE(0)
		,	submit_datetime		=	NULL
		,	confirm_user		=	SPACE(0)
		,	confirm_ip			=	SPACE(0)
		,	confirm_datetime	=	NULL
		,	upd_user			=	@P_cre_user
		,	upd_ip				=	@P_cre_ip
		,	upd_prg				=	@screen_id
		,	upd_datetime		=	@w_time
		FROM F0120
		INNER JOIN #F0120_TMP ON (
			F0120.company_cd		=	#F0120_TMP.company_cd
		AND F0120.fiscal_year		=	#F0120_TMP.fiscal_year
		AND F0120.employee_cd		=	#F0120_TMP.employee_cd
		AND F0120.sheet_cd			=	#F0120_TMP.sheet_cd
		AND F0120.evaluation_step	=	#F0120_TMP.evaluation_step
		)
		-- update current of evaluation_step
		UPDATE F0120 SET 
			submit_user			=	SPACE(0)
		,	submit_ip			=	SPACE(0)
		,	submit_datetime		=	NULL
		,	confirm_user		=	SPACE(0)
		,	confirm_ip			=	SPACE(0)
		,	confirm_datetime	=	NULL
		,	upd_user			=	@P_cre_user
		,	upd_ip				=	@P_cre_ip
		,	upd_prg				=	@screen_id
		,	upd_datetime		=	@w_time
		FROM F0120
		INNER JOIN #F0120_TMP ON (
			F0120.company_cd		=	#F0120_TMP.company_cd
		AND F0120.fiscal_year		=	#F0120_TMP.fiscal_year
		AND F0120.employee_cd		=	#F0120_TMP.employee_cd
		AND F0120.sheet_cd			=	#F0120_TMP.sheet_cd
		AND F0120.evaluation_step	=	#F0120_TMP.evaluation_step_current
		)		
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--PROCESS
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			--■ UPDATE F0100
			UPDATE F0100 SET 
				status_cd		=	ISNULL(#TABLE_JSON.prev_status_cd,0)
			,	upd_user		=	@P_cre_user
			,	upd_ip			=	@P_cre_ip
			,	upd_prg			=	@screen_id
			,	upd_datetime	=	@w_time
			FROM F0100
			INNER JOIN #TABLE_JSON ON (
				F0100.company_cd			=	#TABLE_JSON.company_cd
			AND F0100.fiscal_year			=	#TABLE_JSON.fiscal_year
			AND F0100.employee_cd			=	#TABLE_JSON.employee_cd
			AND F0100.sheet_cd				=	#TABLE_JSON.sheet_cd
			)
			WHERE 
				F0100.company_cd			=	@P_company_cd
			AND F0100.fiscal_year			=	@fiscal_year
			AND F0100.status_cd > 0
			AND F0100.del_datetime IS NULL
			
			--■ UPDATE F0201
			UPDATE F0201 SET 
			--	四次評価中
				point_sum				=	IIF(#F0200_TMP.f0201_status=1,0,F0201.point_sum)
			,	adjust_point			=	IIF(#F0200_TMP.f0201_status=1,0,F0201.adjust_point)
			,	rank_cd					=	IIF(#F0200_TMP.f0201_status=1,0,F0201.rank_cd)
			--	評価確定待ち
			,	confirm_user			=	IIF(#F0200_TMP.f0201_status=2,'',F0201.confirm_user)	
			,	confirm_ip				=	IIF(#F0200_TMP.f0201_status=2,'',F0201.confirm_ip		)
			,	confirm_datetime		=	IIF(#F0200_TMP.f0201_status=2,NULL,F0201.confirm_datetime)
			--	一次評価者ﾌｨｰﾄﾞﾊﾞｯｸ待ち
			,	raterFB_user			=	IIF(#F0200_TMP.f0201_status=3,'',F0201.raterFB_user)	
			,	raterFB_ip				=	IIF(#F0200_TMP.f0201_status=3,'',F0201.raterFB_ip)		
			,	raterFB_datetime		=	IIF(#F0200_TMP.f0201_status=3,NULL,F0201.raterFB_datetime)
			--	被評価者ﾌｨｰﾄﾞﾊﾞｯｸ待ち
			,	evaluatorFB_user		=	IIF(#F0200_TMP.f0201_status=4,'',F0201.evaluatorFB_user)	
			,	evaluatorFB_ip			=	IIF(#F0200_TMP.f0201_status=4,'',F0201.evaluatorFB_ip)		
			,	evaluatorFB_datetime	=	IIF(#F0200_TMP.f0201_status=4,NULL,F0201.evaluatorFB_datetime)
			-- HISTORY
			,	upd_user				=	@P_cre_user
			,	upd_ip					=	@P_cre_ip
			,	upd_prg					=	@screen_id
			,	upd_datetime			=	@w_time
			FROM F0201
			INNER JOIN #F0200_TMP ON (
				F0201.company_cd					=	#F0200_TMP.company_cd
			AND F0201.fiscal_year					=	#F0200_TMP.fiscal_year
			AND F0201.employee_cd					=	#F0200_TMP.employee_cd
			AND F0201.treatment_applications_no		=	#F0200_TMP.treatment_applications_no
			)
			WHERE
				#F0200_TMP.f0201_status > 0

			--■ UPDATE F0200
			UPDATE F0200 SET 
				confirm_user		=	CASE 
											WHEN F0200.evaluation_step >= #F0200_TMP.evaluation_step
											THEN NULL
											ELSE F0200.confirm_user
										END
			,	confirm_ip			=	CASE 
											WHEN F0200.evaluation_step >= #F0200_TMP.evaluation_step
											THEN NULL
											ELSE F0200.confirm_ip
										END
			,	confirm_datetime	=	CASE 
											WHEN F0200.evaluation_step >= #F0200_TMP.evaluation_step
											THEN NULL
											ELSE F0200.confirm_datetime
										END
			,	point_sum			=	CASE 
											WHEN F0200.evaluation_step > #F0200_TMP.evaluation_step
											THEN 0
											WHEN F0200.evaluation_step = 1 AND F0200.confirm_datetime IS NULL
											THEN 0
											ELSE F0200.point_sum
										END
			,	adjust_point		=	CASE 
											WHEN F0200.evaluation_step > #F0200_TMP.evaluation_step
											THEN 0
											WHEN F0200.evaluation_step = 1 AND F0200.confirm_datetime IS NULL
											THEN 0
											ELSE F0200.adjust_point
										END
			,	rank_cd				=	CASE 
											WHEN F0200.evaluation_step > #F0200_TMP.evaluation_step
											THEN 0
											WHEN F0200.evaluation_step = 1 AND F0200.confirm_datetime IS NULL
											THEN 0
											ELSE F0200.rank_cd
										END
			,	upd_user			=	@P_cre_user
			,	upd_ip				=	@P_cre_ip
			,	upd_prg				=	@screen_id
			,	upd_datetime		=	@w_time
			FROM F0200
			INNER JOIN #F0200_TMP ON (
				F0200.company_cd					=	#F0200_TMP.company_cd
			AND F0200.fiscal_year					=	#F0200_TMP.fiscal_year
			AND F0200.employee_cd					=	#F0200_TMP.employee_cd
			AND F0200.treatment_applications_no		=	#F0200_TMP.treatment_applications_no
			)
			WHERE
				#F0200_TMP.evaluation_step > 0
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO