DROP PROCEDURE [SPC_A0003_ACT2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_M0001_ACT2 '{"company_cd":"807","company_nm":"Vi\u1ec7t Nam V\u00f4 \u0110\u1ecbch","company_ab_nm":"Team Vi\u1ec7t Nam kiki","zip_cd":"104-003","address1":"\u6771\u4eac\u90fd\u4e2d\u592e\u533a\u65b0\u5ddd","address2":"","address3":"","tel":"","fax":"","incharge_nm":"","contract_company_attribute":"","use_start_dt":"1900\/01\/01","user_end_dt":"2018\/09\/04","contract_cd":"807","cooperation_typ":"0","billing_to_typ":"0","destination_nm":"","Billing_incharge_nm":"","Billing_zip_cd":"","Billing_address1":"","Billing_address2":"","Billing_address3":"","Billing_tel":"","table_m0002":[{"detail_no":"1","incharge_cd":"833"},{"detail_no":"2","incharge_cd":"1"},{"detail_no":"","incharge_cd":"111"},{"detail_no":"","incharge_cd":""}]}','1','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/09/05											
--*	作成者/creater				:	Longvv						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_A0003_ACT2] 
	-- Add the parameters for the stored procedure here
	@P_company_cd			INT				=	0
,	@P_access_token			NVARCHAR(510)	=	''
,	@P_refresh_token		NVARCHAR(510)	=	''
,	@P_effective_date		DATETIME		=	NULL
,	@P_status				TINYINT			=	0
,	@P_cre_user				NVARCHAR(50)	=	''
,	@P_cre_ip				NVARCHAR(50)	=	''
--,	@P_company_cd	INT				= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time								DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL							ERRTABLE	
	,	@order_by_min						INT					=	0
	,	@w_detail_max						TINYINT				=	0
	--	API
	--
	-- START TRANSACTION
	SET @w_detail_max = (SELECT ISNULL(MAX(detail_no),0) FROM M0003 WHERE M0003.company_cd = @P_company_cd)
	BEGIN TRANSACTION
	BEGIN TRY
		--		
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			UPDATE M0001 SET 			
				kot_api_use_typ	=	1
			--
			,	upd_user							=	@P_cre_user			
			,	upd_ip								=	@P_cre_ip
			,	upd_prg								=	'A0003'	
			,	upd_datetime						=	@w_time		
			WHERE 
				M0001.company_cd	= @P_company_cd
			AND M0001.del_datetime	IS NULL
			--■ UPDATE M0001
			IF EXISTS (SELECT 1 FROM M0003 WHERE M0003.company_cd = @P_company_cd AND M0003.access_token <> @P_access_token AND M0003.del_datetime IS NULL) 
			BEGIN
				UPDATE M0003 SET 			
					M0003.[status]						=	1													
				--
				,	upd_user							=	@P_cre_user			
				,	upd_ip								=	@P_cre_ip
				,	upd_prg								=	'A0003'	
				,	upd_datetime						=	@w_time		
				,	del_user							=	@P_cre_user			
				,	del_ip								=	@P_cre_ip
				,	del_prg								=	'A0003'	
				,	del_datetime						=	@w_time		
				WHERE 
					M0003.company_cd	=	@P_company_cd
				AND M0003.detail_no		=	@w_detail_max
				AND M0003.access_token	<> @P_access_token
				AND M0003.del_datetime	IS NULL
			END
			IF EXISTS (SELECT 1 FROM M0003 WHERE M0003.company_cd = @P_company_cd AND M0003.access_token = @P_access_token ) 
			BEGIN
				UPDATE M0003 SET 			
					upd_user							=	@P_cre_user			
				,	upd_ip								=	@P_cre_ip
				,	upd_prg								=	'A0003'	
				,	upd_datetime						=	@w_time		
				,	del_user							=	''	
				,	del_ip								=	''
				,	del_prg								=	''	
				,	del_datetime						=	NULL		
				WHERE 
					M0003.company_cd	=	@P_company_cd
				AND M0003.detail_no		=	@w_detail_max
				AND M0003.access_token	= @P_access_token
			END
			IF NOT EXISTS (SELECT 1 FROM M0003 WHERE M0003.company_cd = @P_company_cd AND M0003.access_token = @P_access_token AND M0003.del_datetime IS NULL) 
			BEGIN	
				INSERT INTO M0003
				SELECT 
					@P_company_cd
				,	2
				,	@w_detail_max+1
				,	@P_access_token
				,	@P_refresh_token
				,	@P_effective_date
				,	0
				,	@P_cre_user
				,	@P_cre_ip
				,	'A0003'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by


END

