DROP PROCEDURE [SPC_A0003_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_M0001_ACT1 '{"company_cd":"807","company_nm":"Vi\u1ec7t Nam V\u00f4 \u0110\u1ecbch","company_ab_nm":"Team Vi\u1ec7t Nam kiki","zip_cd":"104-003","address1":"\u6771\u4eac\u90fd\u4e2d\u592e\u533a\u65b0\u5ddd","address2":"","address3":"","tel":"","fax":"","incharge_nm":"","contract_company_attribute":"","use_start_dt":"1900\/01\/01","user_end_dt":"2018\/09\/04","contract_cd":"807","cooperation_typ":"0","billing_to_typ":"0","destination_nm":"","Billing_incharge_nm":"","Billing_zip_cd":"","Billing_address1":"","Billing_address2":"","Billing_address3":"","Billing_tel":"","table_m0002":[{"detail_no":"1","incharge_cd":"833"},{"detail_no":"2","incharge_cd":"1"},{"detail_no":"","incharge_cd":"111"},{"detail_no":"","incharge_cd":""}]}','1','::1';
--  EXEC SPC_A0003_ACT1 '10046','{"company_cd":"","api_use_typ":"0","api_client_id":"","api_client_secret":"","api_office_cd":"","api_office_nm":"","api_employee_use":"0","api_position_use":"0","api_organization_use":"0","kot_api_use_typ":"","kot_client_id":"546","kot_client_secret":"5675","kot_api_employee_use":"0","kot_api_organization_use":"0","kot_api_employee_typ_use":"0","kot_api_employee_get":"0"}','1','118.70.128.67';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/09/05											
--*	作成者/creater				:	Longvv						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_A0003_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_company_cd	INT				=	0
,	@P_json			NVARCHAR(MAX)	= ''
,	@P_cre_user		NVARCHAR(50)	= ''
,	@P_cre_ip		NVARCHAR(50)	= ''
--,	@P_company_cd	INT				= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time								DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL							ERRTABLE	
	,	@order_by_min						INT					=	0
	--	API
	,	@api_use_typ						TINYINT				=	0
	,	@api_office_cd       				NVARCHAR(255)		=	''
	,	@api_office_nm       				NVARCHAR(255)		=	''
	,	@api_employee_use     				NVARCHAR(255)		=	''
	,	@api_position_use					TINYINT				=	0
	,	@api_organization_use				TINYINT				=	0
	,	@kot_api_use_typ					TINYINT				=	0
	,	@kot_client_id						NVARCHAR(510)		=	''
	,	@kot_client_secret					NVARCHAR(510)		=	''
	,	@kot_api_employee_use				TINYINT				=	0
	,	@kot_api_organization_use			TINYINT				=	0
	,	@kot_api_employee_typ_use			TINYINT				=	0
	,	@kot_api_employee_get				TINYINT				=	0
	,	@w_type								TINYINT				=	1
	--
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
	
		--API
		SET @api_use_typ						=	ISNULL(JSON_VALUE(@P_json,'$.api_use_typ'),0)
		SET @api_office_cd       				=	ISNULL(JSON_VALUE(@P_json,'$.api_office_cd'),SPACE(0))
		SET @api_office_nm						=	ISNULL(JSON_VALUE(@P_json,'$.api_office_nm'),SPACE(0))
		SET @api_employee_use     				=	ISNULL(JSON_VALUE(@P_json,'$.api_employee_use'),0)
		SET @api_position_use					=	ISNULL(JSON_VALUE(@P_json,'$.api_position_use'),0)
		SET @api_organization_use				=	ISNULL(JSON_VALUE(@P_json,'$.api_organization_use'),0)
		SET	@kot_api_use_typ					=	ISNULL(JSON_VALUE(@P_json,'$.api_kot_use_typ'),0)
		SET	@kot_client_id						=	ISNULL(JSON_VALUE(@P_json,'$.kot_client_id'),0)
		SET	@kot_client_secret					=	ISNULL(JSON_VALUE(@P_json,'$.kot_client_secret'),0)
		SET	@kot_api_employee_use				=	ISNULL(JSON_VALUE(@P_json,'$.kot_api_employee_use'),0)
		SET	@kot_api_organization_use			=	ISNULL(JSON_VALUE(@P_json,'$.kot_api_organization_use'),0)
		SET	@kot_api_employee_typ_use			=	ISNULL(JSON_VALUE(@P_json,'$.kot_api_employee_typ_use'),0)
		SET	@kot_api_employee_get				=	ISNULL(JSON_VALUE(@P_json,'$.kot_api_employee_upload_use'),0)
		SET	@w_type								=	ISNULL(JSON_VALUE(@P_json,'$.type'),1)
		--SET	@P_SSO_URL		            		=	JSON_VALUE(@P_json,'$.SSO_URL')
		--		
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			--■ UPDATE M0001
			IF EXISTS (SELECT 1 FROM M0001 WHERE M0001.company_cd = @P_company_cd AND del_datetime IS NULL ) 
			BEGIN
			IF @w_type = 1
			BEGIN
			UPDATE M0001 SET 			
				company_cd							=	@P_company_cd														
			--,	contract_company_attribute			=	2
			,	api_use_typ							=	@api_use_typ
			,	api_office_cd						=	@api_office_cd
			,	api_office_nm						=	@api_office_nm
			,	api_employee_use					=	@api_employee_use
			,	api_position_use					=	@api_position_use
			,	api_organization_use				=	@api_organization_use
			--
			,	upd_user							=	@P_cre_user			
			,	upd_ip								=	@P_cre_ip
			,	upd_prg								=	'M0001'	
			,	upd_datetime						=	@w_time		
			WHERE 
				M0001.company_cd	= @P_company_cd
			AND M0001.del_datetime	IS NULL
			
			END
			ELSE IF @w_type = 2
			BEGIN
			UPDATE M0001 SET 			
				kot_api_use_typ						=	@kot_api_use_typ
			,	kot_api_employee_use				=	@kot_api_employee_use
			,	kot_api_organization_use			=	@kot_api_organization_use
			,	kot_api_employee_typ_use			=	@kot_api_employee_typ_use
			--
			,	upd_user							=	@P_cre_user			
			,	upd_ip								=	@P_cre_ip
			,	upd_prg								=	'M0001'	
			,	upd_datetime						=	@w_time		
			WHERE 
				M0001.company_cd	= @P_company_cd
			AND M0001.del_datetime	IS NULL
			END
			ELSE
			BEGIN
			UPDATE M0001 SET 			
				kot_api_employee_get				=	@kot_api_employee_get
			--
			,	upd_user							=	@P_cre_user			
			,	upd_ip								=	@P_cre_ip
			,	upd_prg								=	'M0001'	
			,	upd_datetime						=	@w_time		
			WHERE 
				M0001.company_cd	= @P_company_cd
			AND M0001.del_datetime	IS NULL
			END
			
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	SELECT 
		@kot_client_id			AS client_id
	,	@kot_client_secret		AS client_secret

END

GO

