BEGIN
    DROP PROCEDURE [dbo].[SPC_rQ2011_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC SPC_rQ2011_ACT1 '{"mygroup_cd":"-1","mygroup_nm":"qưeqwe","tr_employee":[{"tb_employee_cd":"ANS902"},{"tb_employee_cd":"1"},{"tb_employee_cd":"2"}]}','721','::1','740','721';

/****************************************************************************************************
 *
 *  処理概要：rQ2011 - SAVE/UPDATE
 *
 *  作成日  ：2023/04/13
 *  作成者  ：ANS-ASIA QUANGND
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_rQ2011_ACT1] 
	@P_json			NVARCHAR(MAX)= ''
	--
,	@P_cre_user		NVARCHAR(50) = ''
,	@P_cre_ip		NVARCHAR(50) = ''
,	@P_company_cd	SMALLINT	 = 0
,	@P_employee_cd	NVARCHAR(10) = ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2		= SYSDATETIME()
	,	@ERR_TBL				ERRTABLE
	,	@w_mygroup_cd			SMALLINT		= 0
	,	@w_mygroup_nm			NVARCHAR(20)	= ''
	,	@w_mygroup_cd_max		SMALLINT		= 0
	,	@w_mygroup_cd_key		SMALLINT		= 0
	--
	CREATE TABLE #F4011_CRE(
		id						INT IDENTITY(1,1)	
	,	company_cd				SMALLINT
	,	employee_cd				NVARCHAR(10)
	,	mygroup_cd				SMALLINT
	,	mygroup_member_cd		NVARCHAR(10)
	)
	--
	CREATE TABLE #F4011_UPD(
		id						INT IDENTITY(1,1)	
	,	company_cd				SMALLINT
	,	employee_cd				NVARCHAR(10)
	,	mygroup_cd				SMALLINT
	,	mygroup_member_cd		NVARCHAR(10)
	,	cre_user				NVARCHAR(50)
	,	cre_ip					NVARCHAR(50)
	,	cre_prg					NVARCHAR(20)
	,	cre_datetime			DATETIME
	)
	--
	CREATE TABLE #F4011_DEL(
		id						INT IDENTITY(1,1)	
	,	company_cd				SMALLINT
	,	employee_cd				NVARCHAR(10)
	,	mygroup_cd				SMALLINT
	,	mygroup_member_cd		NVARCHAR(10)
	)
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	--
	SET @w_mygroup_cd		=	ISNULL(JSON_VALUE(@P_json,'$.mygroup_cd'),0)
	SET @w_mygroup_nm		=	ISNULL(JSON_VALUE(@P_json,'$.mygroup_nm'),'')
	SET @w_mygroup_cd_max	=	(SELECT ISNULL(MAX(mygroup_cd),0) FROM f4010 WHERE company_cd = @P_company_cd AND employee_cd = @P_employee_cd)
	SET @w_mygroup_cd_key	=	IIF(@w_mygroup_cd = -1, @w_mygroup_cd_max + 1, @w_mygroup_cd)
	--
	INSERT INTO #F4011_CRE
	SELECT 
		@P_company_cd
	,	@P_employee_cd		
	,	@w_mygroup_cd_key	
	,	employee_cd
	FROM OPENJSON(@P_json, '$.cre_employee') WITH(
			employee_cd		NVARCHAR(10)
	)
	IF EXISTS (SELECT mygroup_member_cd FROM #F4011_CRE GROUP BY mygroup_member_cd HAVING COUNT(*)>1)
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			32								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	''					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	--
	INSERT INTO #F4011_UPD
	SELECT 
		@P_company_cd
	,	@P_employee_cd		
	,	@w_mygroup_cd	
	,	mygroup_member_cd
	,	cre_user
	,	cre_ip
	,	cre_prg
	,	cre_datetime
	FROM F4011
	WHERE
		company_cd  = @P_company_cd
	AND employee_cd = @P_employee_cd
	AND mygroup_cd	= @w_mygroup_cd
	AND del_datetime IS NULL
	--
	INSERT INTO #F4011_DEL
	SELECT 
		@P_company_cd
	,	@P_employee_cd		
	,	@w_mygroup_cd_key	
	,	employee_cd
	FROM OPENJSON(@P_json, '$.del_employee') WITH(
			employee_cd		NVARCHAR(10)
	)
	BEGIN TRANSACTION
	BEGIN TRY
		--F4010
		UPDATE F4010
		SET 
			company_cd		=	@P_company_cd
		,	employee_cd		=	@P_employee_cd
		,	mygroup_cd		=	@w_mygroup_cd_key
		,	mygroup_nm		=	@w_mygroup_nm
		,	upd_user		=	@P_cre_user
		,	upd_ip			=	@P_cre_ip
		,	upd_prg			=	'rQ2011'
		,	upd_datetime	=	@w_time
		,	del_user		=	''
		,	del_ip			=	''
		,	del_prg			=	''
		,	del_datetime	=	NULL
		FROM F4010
		WHERE
			F4010.company_cd		= @P_company_cd
		AND F4010.employee_cd		= @P_employee_cd
		AND	F4010.mygroup_cd		= @w_mygroup_cd_key
		AND F4010.del_datetime IS NULL
		--
		UPDATE F4010
		SET 
			company_cd		=	@P_company_cd
		,	employee_cd		=	@P_employee_cd
		,	mygroup_cd		=	@w_mygroup_cd_key
		,	mygroup_nm		=	@w_mygroup_nm
		,	cre_user		=	@P_cre_user
		,	cre_ip			=	@P_cre_ip
		,	cre_prg			=	'rQ2011'
		,	cre_datetime	=	@w_time
		,	upd_user		=	''
		,	upd_ip			=	''
		,	upd_prg			=	''
		,	upd_datetime	=	NULL
		,	del_user		=	''
		,	del_ip			=	''
		,	del_prg			=	''
		,	del_datetime	=	NULL
		FROM F4010
		WHERE
			F4010.company_cd		= @P_company_cd
		AND F4010.employee_cd		= @P_employee_cd
		AND	F4010.mygroup_cd		= @w_mygroup_cd_key
		AND F4010.del_datetime IS NOT NULL
		--insert
		INSERT INTO F4010
		SELECT 
			@P_company_cd
		,	@P_employee_cd
		,	@w_mygroup_cd_key
		,	@w_mygroup_nm
		,	0
		,	@P_cre_user
		,	@P_cre_ip
		,	'rQ2011'
		,	@w_time
		,	''
		,	''
		,	''
		,	NULL
		,	''
		,	''
		,	''
		,	NULL
		WHERE  
			@w_mygroup_cd = -1
		--F4011
		DELETE D FROM F4011 AS D
		INNER JOIN #F4011_DEL ON (
			D.mygroup_member_cd = #F4011_DEL.mygroup_member_cd
		)
		WHERE 
			D.company_cd		= @P_company_cD
		AND	D.employee_cd	    = @P_employee_cd
		AND D.mygroup_cd		= @w_mygroup_cd_key
		--insert
		INSERT INTO F4011
		SELECT 
			@P_company_cd
		,	@P_employee_cd
		,	#F4011_CRE.mygroup_cd
		,	#F4011_CRE.mygroup_member_cd
		,	0
		,	@P_cre_user
		,	@P_cre_ip
		,	'rQ2011'
		,	@w_time
		,	''
		,	''
		,	''
		,	NULL
		,	''
		,	''
		,	''
		,	NULL
		FROM #F4011_CRE
		LEFT JOIN F4011 ON(
			@P_company_cd 					=	F4011.company_cd
		AND #F4011_CRE.employee_cd 			=	F4011.employee_cd	
		AND #F4011_CRE.mygroup_cd			=	F4011.mygroup_cd
		AND	#F4011_CRE.mygroup_member_cd	=	F4011.mygroup_member_cd 
		)
		WHERE  
			F4011.company_cd IS NULL
		--
		UPDATE F4011
		SET 
			cre_user		=	#F4011_UPD.cre_user
		,	cre_ip			=	#F4011_UPD.cre_ip
		,	cre_prg			=	#F4011_UPD.cre_prg
		,	cre_datetime	=	#F4011_UPD.cre_datetime
		,	upd_user		=	@P_cre_user
		,	upd_ip			=	@P_cre_ip
		,	upd_prg			=	'rQ2011'
		,	upd_datetime	=	@w_time
		FROM F4011
		INNER JOIN #F4011_UPD ON (
			F4011.company_cd		= #F4011_UPD.company_cd
		AND	F4011.employee_cd		= #F4011_UPD.employee_cd
		AND F4011.mygroup_cd		= #F4011_UPD.mygroup_cd
		AND F4011.mygroup_member_cd = #F4011_UPD.mygroup_member_cd
		)
		WHERE
			F4011.company_cd	= @P_company_cd
		AND F4011.employee_cd	= @P_employee_cd
		AND F4011.mygroup_cd	= @w_mygroup_cd
		AND F4011.del_datetime IS NULL
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	-- Insert statements for procedure here
	IF (SELECT COUNT(1) FROM @ERR_TBL) > 1
	BEGIN
		ROLLBACK TRANSACTION
	END
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
	COMPLETE_QUERY:

	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END

GO
