DROP PROCEDURE [SPC_M0050_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/08/22											
--*	作成者/creater				:	namnb						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0050_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			nvarchar(max)
	-- common
,	@P_cre_user		nvarchar(50)
,	@P_cre_ip		nvarchar(50)
,	@P_company_cd	smallint
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			int					=	0
	,	@i						int					=	0
	,	@total					int					=	0
	,	@max					int					=	0
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY

		-- do stuff
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN

			-- insert old data
			CREATE TABLE #M0050 (
				company_cd		smallint
			,	grade			smallint
			,	cre_user		nvarchar(50)
			,	cre_ip			nvarchar(50)
			,	cre_datetime	datetime
			,	del_datetime	datetime
			)
			--
			INSERT INTO #M0050
			SELECT
				company_cd
			,	grade
			,	cre_user
			,	cre_ip
			,	cre_datetime
			,	del_datetime
			FROM M0050
			WHERE
				company_cd	=	@P_company_cd
			--
			DELETE FROM M0050 WHERE company_cd = @P_company_cd

			-- insert new data
			CREATE TABLE #SPLIT (
				id				smallint identity(1, 1)
			,	grade			int
			,	grade_nm		nvarchar(10)
			)
			--
			INSERT INTO #SPLIT
			SELECT
				JSON_VALUE([value],'$.grade')		AS grade
			,	JSON_VALUE([value],'$.grade_nm')	AS grade_nm
			FROM OPENJSON(@P_json,'$.tr')
			SELECT @total = count(1) from #SPLIT
			SELECT @max = 1 + count(1) from #SPLIT WHERE #SPLIT.grade <> 0 

			--
			WHILE(@i < @total)
			BEGIN 
				SET @i = @i + 1
				IF  exists (SELECT 1  FROM #SPLIT WHERE #SPLIT.id = @i AND #SPLIT.grade = 0)
				BEGIN
					SET @max = @max + 1
				END
				INSERT INTO M0050
				SELECT
					@P_company_cd
				,	CASE WHEN grade <> 0
						 THEN grade
						 ELSE @max
					END
				,	grade_nm
				,	id
				,	@P_cre_user
				,	@P_cre_ip
				,	'M0050'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #SPLIT
				WHERE #SPLIT.id	= @i
				
			END
			-- update new data
			UPDATE M0050 SET
			cre_user	= CASE WHEN #M0050.del_datetime IS NOT NULL
						THEN @P_cre_user
						ELSE
							#M0050.cre_user
						END
		,	cre_ip		= CASE WHEN #M0050.del_datetime IS NOT NULL
						THEN @P_cre_ip
						ELSE
							#M0050.cre_ip
						END
		,	cre_datetime	= CASE WHEN #M0050.del_datetime IS NOT NULL
						THEN @w_time
						ELSE
							#M0050.cre_datetime
						END
		,	upd_user	= CASE WHEN #M0050.del_datetime IS NOT NULL
						THEN SPACE(0)
						ELSE
							@P_cre_user
						END
		,	upd_ip		= CASE WHEN #M0050.del_datetime IS NOT NULL
						THEN SPACE(0)
						ELSE
							@P_cre_ip
						END
		,	upd_datetime	= CASE WHEN #M0050.del_datetime IS NOT NULL
						THEN NULL
						ELSE
							@w_time
						END
		,	upd_prg	= CASE WHEN #M0050.del_datetime IS NOT NULL
						THEN NULL
						ELSE
							'M0050'
						END
		FROM M0050
		INNER JOIN #M0050 ON(
			M0050.company_cd	=	#M0050.company_cd
		AND M0050.grade			=	#M0050.grade
		)
		--	 drop temp table M0050
		DROP TABLE #SPLIT
		DROP TABLE #M0050

		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
