DROP PROCEDURE [SPC_M0050_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0050
-- EXEC [SPC_M0050_INQ1] '1';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0100_商品登録
--*  
--*  作成日/create date			:	2017/11/03						
--*　作成者/creater				:	tannq								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0050_INQ1]
	-- Add the parameters for the stored procedure here
	@P_company_cd							smallint	=	0
	-- common
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					datetime2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE
	--
	SELECT
		grade
	,	grade_nm
	,	arrange_order
	FROM M0050 
	WHERE 
		M0050.company_cd	=	@P_company_cd
	AND M0050.del_datetime IS NULL 
	ORDER BY arrange_order

END


GO
