.list-search-content .list-search-child{
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-bottom:1px solid #d0d6da;
    border-left: 3px solid #fff;
    cursor: pointer;
    overflow: hidden;
}
ul {
    margin-bottom:0px;
}
.list-search-content .list-search-father{
    height: 45px;
    line-height: 45px;
}

.w15{
    padding-left: 15px;
    border-bottom:1px solid #d0d6da;
    border-left: 3px solid #fff;
    cursor: pointer;
    overflow: hidden;
}

.w15:hover{
    background-color: #EAEFF5;
    border-left: 3px solid #2B71B9;
}

.w15.active {
    background-color: #EAEFF5;
    border-left: 3px solid #2B71B9;
}
.list-search-content .list-search-child p{
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.list-search-content .list-search-child span{
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-left: 20px;
}

.list-search-content .sub_collapse .panel-heading-menu .list-search-child {
    border-bottom:1px solid #d0d6da;
}

.panel-collapse .list-group .list-search-child {
    border-bottom:1px solid #d0d6da;
}

.height100td {
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
    position: relative;
    height: 65vh;
}

.list-search-content{
    margin-bottom: 0px;
    /* height: 58vh; */
    overflow-y: auto;
    overflow-x: hidden;
}

.w-100{
    width: 100px !important;
}
.w25{
    width: 25%;
}
.minw-150{
    min-width: 150px;
}
.minw-100{
    min-width: 100px;
}
@media screen and (max-width:768px){
    .w25{
        width: auto !important;
        min-width: 150px !important;
    }
}
.disn{
    display: none;
}
.table-responsive {
    overflow: visible;
}
.table-responsive.has-copy {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.2);
    border:1px solid #3c763d;
}
.calHe.has-copy:before,
.calHe.has-copy:after {
    position: absolute;
    top: 20px;
    right: 0;
    margin: auto;
}
.calHe.has-copy:after {
    content: "コピー中";
    top:65px;
    font-size: 13px;
}
.calHe.has-copy:before {
    content: "\f0c5";
    font-family: FontAwesome;
   /* box-shadow: 0px 0px 5px 1px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);*/
    padding-bottom: 25px;
    z-index: 99;
}
.multiselect-list li {
    cursor: pointer;
    padding-top: 5px;
    padding-left: 1rem;
}
.multiselect-list li:nth-of-type(odd) {
    background-color: rgba(0,0,0,.03);
}

#has-balloontip-class {
    position: absolute;
    top: -27px;
    color: red;
    border: 1px solid;
    border-radius: 4px;
    padding: 2px 4px;
    margin-bottom: 0;
    min-width: 100px;
    z-index: 999;
    background: white !important;
}

#has-balloontip-class .arrow {
    border-top: 5px solid red;
    border-right: 5px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 25px;
    width: 0;
    border-left: 5px solid transparent;
    right: 0;
    margin: auto;
}

.tooltip.has-error .tooltip-arrow {
    border-top-color: #dc3545 !important;
}

.tooltip.has-error .tooltip-inner {
    background-color: #fff !important;
    color: #000000;
    border-radius: 3px!important;
    word-break: break-all;
    border:1px solid #dc3545;
}

.has-error.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .has-error.bs-tooltip-bottom .arrow::before {
    bottom: 0;
    border-width: 0 .4rem .4rem;
    border-bottom-color: #dc3545;
}
.has-error.bs-tooltip-auto[x-placement^=top] .arrow::before, .has-error.bs-tooltip-top .arrow::before {
    top: 0;
    border-width: .4rem .4rem 0;
    border-top-color: #dc3545;
}
.has-error.tooltip.in {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
}
.card.marb50,
.card.calHe {
    height: 100%;
}
.text-overflow {
    max-width: 10rem;
}
.label-error {
    position: absolute;
    height: 20px;
    width: 20px !important;
    z-index: 9999;
}
.label-title {
    position: absolute;
    width: calc(100% - 30px);
    height: 30px;
    z-index: 999;
    margin-left: 30px;
}


.marb50 {
    margin-bottom: 15px !important;
}
/*new*/
.my-list .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}
.my-list .list-group-item {
    border: 1px solid #d0d6da;
    border-left: 0;
    border-right: 0;
    color: black;
}
.list-search-content ul {
    padding: 0;
    list-style: none;
}
.list-search-content a {
    display: grid;
    align-items: center;
    color: black;
    text-decoration: none;
    grid-template-rows: 45px;
}
.list-search-content a:hover,
.list-search-content a.actived {
    background-color: #EAEFF5;
    border-left: 3px solid #c17900;
}
a:hover{
    color: 3px solid #c17900 !important;
}
.list-search-content ul > li > a {
    border-bottom: 1px solid #d0d6da;
}
a.lv1 {
    padding-left: 15px;
}
a.lv2 {
    padding-left: 30px;
}
a.lv3 {
    padding-left: 45px;
}
a.lv4 {
    padding-left: 60px;
}
a.lv5 {
    padding-left: 75px;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: "\f054";
    font-family: FontAwesome;
}
.breadcrumb {
    padding: 5px 0 !important;
    background-color: transparent;
}
a.rotator i,
.lv1.actived i,
.lv2.actived i,
.lv3.actived i,
.lv4.actived i,
.lv5.actived i {
    transform: rotate(90deg) translate(0px);
}
.weather-select{
    text-align: center;
}
.ics-hide{
    display: none;
}
.adaption_date .textbox-error{
    position: absolute;
    top: 100%;
}
.calHe.has-copy:before {
    left: -74%;
    top : 3px;
}
.calHe.has-copy:after {
    top: 50px;
    left: -73%;
}
@media (min-width: 992px) and (max-width: 1110px) {
    .picture-img {
        margin-top: -28px;
    }
    dl {
        margin-bottom: 0px;
    }
    .calHe.has-copy:before {
        left: -74%;
        top : 3px;
    }
    .calHe.has-copy:after {
        top: 50px;
        left: -73%;
    }
}
@media (max-width: 575px) {
	.picture-img {
        margin-top: -28px;
    }
    dl {
        margin-bottom: 0px;
    }
    .calHe.has-copy:before {
        left: -74%;
        top : 27px;
    }
    .calHe.has-copy:after {
        top: 77px;
        left: -73%;
    }
}
@media (min-width: 397px) and (max-width: 501px) {
    .calHe.has-copy:before {
        left: -74%;
        top : 3px;
    }
    .calHe.has-copy:after {
        top: 50px;
        left: -73%;
    }
}
@media (min-width: 502px) and (max-width: 575px) {
    .calHe.has-copy:before {
        left: -74%;
        top : 3px;
    }
    .calHe.has-copy:after {
        top: 50px;
        left: -73%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .picture-img {
        margin-top: -28px;
    }
    dl {
        margin-bottom: 0px;
    }
    .calHe.has-copy:before {
        left: -74%;
        top : 3px;
    }
    .calHe.has-copy:after {
        top: 50px;
        left: -73%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .picture-img {
        margin-top: -28px;
    }
    dl {
        margin-bottom: 0px;
    }
    .calHe.has-copy:before {
        left: -74%;
        top : 3px;
    }
    .calHe.has-copy:after {
        top: 50px;
        left: -73%;
    }
    .header-left-function{
        max-width: 50% !important;
        flex: 0 0 50%;
    }
    .nav-menubar-pc{
        max-width: 50% !important;
        flex: 0 0 50%;
    }
}
.hidden-target{
    display: none !important;
}