IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_rDashboard_ACT1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_rDashboard_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_rI2010_ACT6] 782,2023,'890',4,1,'890'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	READ NOTIFIOCATIONS
--*  
--*  作成日/create date			:	2023/05/08						
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:	
--*　更新内容/update content		:	
--*  
--****************************************************************************************
CREATE PROCEDURE [SPC_rDashboard_ACT1] 
	@P_fiscal_year				SMALLINT		=	0
,	@P_infomation_typ			TINYINT			=	0
,	@P_employee_cd				NVARCHAR(10)	=	''
,	@P_report_kind				SMALLINT		=	0
,	@P_report_no				SMALLINT		=	0
,	@P_from_employee_cd			NVARCHAR(10)	=	''
,	@P_to_employee_cd			NVARCHAR(10)	=	''
	--
,	@P_login_employee_cd		NVARCHAR(10)	=	''	-- login employee
,	@P_cre_user					NVARCHAR(50)	=	''
,	@P_cre_ip					NVARCHAR(50)	=	''
,	@P_company_cd				SMALLINT		=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2					=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@w_order_by_min			int							=	0
	,	@w_screen_id			nvarchar(20)				=	'rDashboard'
	BEGIN TRY
	BEGIN TRANSACTION
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- UPDATE
			UPDATE F4900 SET 
				confirmation_datetime	=	@w_time
			,	upd_user				=	@P_cre_user
			,	upd_ip					=	@P_cre_ip
			,	upd_prg					=	@w_screen_id
			,	upd_datetime			=	@w_time
			FROM F4900
			WHERE
				F4900.company_cd		=	@P_company_cd
			AND F4900.infomation_typ	=	@P_infomation_typ
			AND F4900.fiscal_year		=	@P_fiscal_year
			AND F4900.employee_cd		=	@P_employee_cd
			AND F4900.report_kind		=	@P_report_kind
			AND F4900.report_no			=	@P_report_no
			AND F4900.to_employee_cd	=	@P_to_employee_cd
			AND F4900.from_employee_cd	=	@P_from_employee_cd
		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by
END

GO
