:root {
	--primary-pink: #ec6c96fd;
	--light-pink: #f6adc6;
	--dark-pink: #c38a9e;
	--secondary-pink: #ec6c96fd;
	--border-pink: #f7dff7;
	--sticky-1: #81C784;
	--sticky-2: #FFF176;
	--sticky-3: #E57373;
	--sticky-4: #BA68C8;
	--sticky-5: #81C784;
	--hover-pink-tr: #f6eeee;
  }
.sticky {
	max-width: 240px;
}

.sticky_readonly {
	max-width: 240px;
}

.nw {
	white-space: nowrap;
}

.fix-but>a {
	margin-top: 3px;
	margin-bottom: 3px;
}

.tbl {
	width: 100%;
}

.col-custom {
	flex: 0 0 80%;
	max-width: 80%;
}

.w175 {
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 175px;
}

.btn i:first-child {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.col-md-auto {
	bottom: 8px;
	width: 20%;
}

.col-md-auto2 {
	width: 13%;
	padding-left: 1%;
	max-width: 200px;
}

.col-md-auto a {
	width: 100%;
}

.input-group .mmdd {
	width: 100%;
}

.tr-adjustpoint {
	display: flex;
}

.td-adjustpoint {
	line-height: 35px;
}

.bl102 {
	position: relative;
	display: inline-block;
}

.bl102 .btn-remove-but {
	position: absolute;
	margin-top: 20px;
	right: 15px;
	font-size: 16px;
	color: white;
}

.numericX1,
.numericX2,
.numericX3,
.numericX4,
.numericX5,
.numericX6,
.numericX7,
.numericX8 {
	text-align: right;
}

.btn-chat {
	min-width: 293px;
	max-width: 293px;
}

.vb-2 {
	margin-bottom: 10px;
}

.vt-3 {
	margin-bottom: 10px;
	margin-top: 10px;
}

.table-responsive {
	width: 50%;
}

@media (max-width: 575px) {
	#table-data-1 {
		min-width: 470px;
	}

	.col-md-auto2 {
		margin: 5px 0px;
		max-width: unset !important;
	}

	.vp-2 {
		margin: 5px 0px;
		max-width: unset !important;
	}

	.col-custom {
		max-width: unset !important;
	}

	.vt-3 {
		margin-top: unset !important;
	}

	.table-responsive {
		width: 100% !important;
	}

	.block_bottom {
		margin-bottom: 50px
	}

	#row_sticky_2 {
		padding-left: 10px;
	}

	#row_sticky {
		padding-left: 10px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.col-md-auto2 {
		margin: 5px 0px;
		max-width: unset !important;
	}

	.vp-2 {
		margin: 5px 0px;
		max-width: unset !important;
	}

	.col-custom {
		max-width: unset !important;
	}

	.vt-3 {
		margin-top: unset !important;
	}

	.table-responsive {
		width: 100% !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-custom {
		max-width: unset !important;
	}

	.table-responsive {
		width: 100% !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.col-custom {
		max-width: unset !important;
	}
}

@media (min-width: 1200px) and (max-width: 1400px) {
	.col-custom {
		max-width: unset !important;
	}

	.aaa {
		padding-left: 2px !important;
		padding-right: 2px !important;
	}
}

@media (min-width: 1300px) and (max-width: 1600px) {
	.col-md-auto2 {
		padding: 5px;
	}

	.col-md-auto {
		bottom: 8px;
		width: 22%;
	}

	.qq {
		padding-left: 5px !important;
		padding-right: 0px !important;
	}
}

@media (max-width: 575px) {
	.col-md-auto2 {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.label_row_sticky {
		width: 100%;
		padding-left: 0px;
	}
}

@media (min-width: 576px) {
	.label_row_sticky {
		padding-left: 15px;
	}
}


#option_icon {
	margin-right: 8px;
	margin-top: 6px;
}

.sticky_div_1 {
	cursor: pointer;
	border-radius: 0.25rem;
}

.sticky_div_2 {
	cursor: pointer;
	border-radius: 0.25rem;
}

.sticky_readonly {
	cursor: pointer;
	border-radius: 0.25rem;
}

.sticky_div_3 {
	cursor: pointer;
	border-radius: 0.25rem;
}

.sticky_div_4 {
	cursor: pointer;
	border-radius: 0.25rem;
}

.sticky_div_5 {
	cursor: pointer;
	border-radius: 0.25rem;
}

#sticky_text {
	padding-top: 6px;
}

#sticky_text_2 {
	padding-top: 6px;
}

#sticky_text_3 {
	padding-top: 6px;
}

#sticky_text_4 {
	padding-top: 6px;
}

#sticky_text_5 {
	padding-top: 6px;
}

.dropdown_item {
	height: 36px !important;
}

.sticky.active {
	height: 60px;
}

.dropdown-menu {
	padding-top: 0px;
	padding-bottom: 0px;
}

.btn-outline-brand-xl.sticky {
	border: gray !important;
}

.btn-outline-brand-xl.sticky_readonly {
	border: gray !important;
}

.sticky {
	max-width: 200px;
}

.sticky_readonly {
	max-width: 200px;
}

#label_text {}

.label_stick {
	width: 100%;
	min-height: 46px;
}

.sticky_2_div_1 {
	cursor: pointer;
	border-radius: 0.25rem;
}

.sticky_2_div_2 {
	cursor: pointer;
	border-radius: 0.25rem;
}

.sticky_2_div_3 {
	cursor: pointer;
	border-radius: 0.25rem;
}

.sticky_2_div_4 {
	cursor: pointer;
	border-radius: 0.25rem;
}

.sticky_2_div_5 {
	cursor: pointer;
	border-radius: 0.25rem;
}

#sticky_2_text {
	padding-top: 6px;
}

#sticky_2_text_2 {
	padding-top: 6px;
}

#sticky_2_text_3 {
	padding-top: 6px;
}

#sticky_2_text_4 {
	padding-top: 6px;
}

#sticky_2_text_5 {
	padding-top: 6px;
}

.dropdown_item {
	height: 36px !important;
}

.sticky_2.active {
	height: 60px;
}

.dropdown-menu {
	padding-top: 0px;
	padding-bottom: 0px;
}

.btn-outline-brand-xl.sticky_2 {
	border: gray !important;
}

.sticky_2 {
	max-width: 200px;
}

#label_text2_1 {
	margin-bottom: 0px
}

#label_text2_2 {
	margin-bottom: 0px
}

#label_text2_3 {
	margin-bottom: 0px
}

#label_text2_4 {
	margin-bottom: 0px
}

#label_text2_5 {
	margin-bottom: 0px
}

#btn_add_sticky {
	width: 200px;
	margin-bottom: 6px;
	border-color: var(--primary-pink) !important;
	min-height: 60px;
}

.fa-plus {
	color: var(--primary-pink);
}

#btn_add_sticky_2 {
	width: 200px;
	margin-bottom: 6px;
	border-color: var(--primary-pink) !important;
}

#sticky_2_div_text_1 {
	margin-top: 0px;
}

#sticky_2_div_text_2 {
	margin-top: 0px;
}

#sticky_2_div_text_3 {
	margin-top: 0px;
}

#sticky_2_div_text_4 {
	margin-top: 0px;
}

#sticky_2_div_text_5 {
	margin-top: 0px;
}

#sticky_div_text_1 {
	margin-top: 0px;
}

#sticky_div_text_2 {
	margin-top: 0px;
}

#sticky_div_text_3 {
	margin-top: 0px;
}

#sticky_div_text_4 {
	margin-top: 0px;
}

#sticky_div_text_5 {
	margin-top: 0px;
}

#label_text_1 {
	margin-bottom: 0px;
}

#label_text_2 {
	margin-bottom: 0px;
}

#label_text_3 {
	margin-bottom: 0px;
}

#label_text_4 {
	margin-bottom: 0px;
}

#label_text_5 {
	margin-bottom: 0px;
}

.sticky_2 {
	margin-bottom: 6px;
}

.sticky {
	margin-bottom: 6px;
}

.sticky_readonly {
	margin-bottom: 6px;
}

/* .active {
	max-height: 48px;
} */
@media (min-width: 750px) {
	.row_range_date {
		display: flex
	}
}

@media (max-width: 1300px) {
	.small_block {
		width: unset !important;
	}
}

@media (max-width: 1350px) and (min-width: 1023px) {
	.first_block_row {
		width: 200px;
		max-width: unset;
	}
}

#btn_add_sticky:hover {
	background-color: var(--primary-pink) !important;

}

#btn_add_sticky:hover i {
	color: white;
}

#btn_add_sticky_2:hover {
	background-color: var(--primary-pink) !important;

}

#btn_add_sticky_2:hover i {
	color: white;
}

input[type="checkbox"]:disabled + span {
	background-color: #d0d6da;
	cursor: not-allowed; /* Đổi con trỏ chuột */
  }
.label_disabled {
	color: #d0d6da !important;
	cursor: not-allowed !important; /* Đổi con trỏ chuột */
}
@media (min-width: 575px) {
.row_custom {
	display: flex;
	height: 30px;
}
}
@media (max-width: 575px) {
	.row_custom {
		display: flex;
		height: 100px;
	}
	}