DROP PROCEDURE [SPC_M0070_02_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--* EXEC SPC_M0070_02_INQ1 '7', '740', '721', ''
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスタ tab_2
--*  
--*  作成日/create date			:						
--*　作成者/creater				:									
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_02_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(10)	=	N''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	N''
AS
BEGIN
	DECLARE 
		@w_time				DATETIME2			= SYSDATETIME()
	,	@w_language			INT					=	1

	SELECT 
		@w_language								=	ISNULL(S0010.language,1)
	FROM S0010 
	WHERE 
		S0010.company_cd		=	@P_company_cd
	AND S0010.user_id			=	@P_user_id

	--[0]
	SELECT 
		M0075.detail_no					AS	detail_no
	,	ISNULL(M5010.qualification_cd		, 0)	AS	qualification_cd
	,	ISNULL(M5010.qualification_nm		, N'')	AS	qualification_nm
	,	ISNULL(M5010.qualification_typ		, 0)	AS	qualification_typ
	,	CASE
			WHEN	@w_language = 2
			THEN	ISNULL(L0010.name_english,'')
			ELSE	ISNULL(L0010.name,'')
		END												AS qualification_typ_nm
	,	ISNULL( CONVERT(VARCHAR(10), M0075.headquarters_other, 111)	, NULL)	AS	headquarters_other
	,	ISNULL( CONVERT(VARCHAR(10), M0075.possibility_transfer, 111)	, NULL)	AS	possibility_transfer
	,	ISNULL(M0075.remarks				, N'')	AS	remarks
	FROM M0075
	LEFT JOIN M5010	WITH (NOLOCK) ON (
		M5010.company_cd		=	M0075.company_cd
	AND	M5010.qualification_cd	=	M0075.qualification_cd
	)
	LEFT JOIN L0010 WITH (NOLOCK) ON (
		L0010.name_typ			=	57
	AND	L0010.number_cd			=	M5010.qualification_typ
	AND	L0010.del_datetime		IS NULL
	)
	WHERE
		M0075.company_cd	= @P_company_cd
	AND	M0075.employee_cd	= @P_employee_cd
	AND M0075.del_datetime IS NULL
END
GO
