DROP PROCEDURE [SPC_M0070_02_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_M0070_02_ACT1 '{"employee_cd":"2","user_id":"2","list_tab_02":[{"mode_row":"U","detail_no":"1","qualification_cd":"3","qualification_typ":"1","headquarters_other":"2024-03-30","possibility_transfer":"2024-04-02","remarks":"Remark 2"},{"mode_row":"N","detail_no":"3","qualification_cd":"4","qualification_typ":"2","headquarters_other":"2024\/03\/30","possibility_transfer":"2024\/03\/31","remarks":"11111111"}]}','721','::1','740';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	M0070_社員マスタ tab_2
--*  
--* 作成日/create date			:												
--*	作成者/creater				:						
--*   					
--*	更新日/update date			:  					
--*	更新者/updater				:　 　								     	 
--*	更新内容/update content		:	　	
--* 
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_02_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(max)	=	N''
	-- common
,	@P_cre_user		NVARCHAR(50)	=	N''
,	@P_cre_ip		NVARCHAR(50)	=	N''
,	@P_company_cd	SMALLINT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					=	0
	,	@employee_cd			NVARCHAR(20)
	,	@w_max					INT					=	0
	
	CREATE TABLE #m0075(
		id							INT NOT NULL IDENTITY(1,1) 							
	,	detail_no					SMALLINT
	,	qualification_cd			SMALLINT
	,	qualification_nm			NVARCHAR(100)
	,	qualification_typ			SMALLINT
	,	headquarters_other			DATE
	,	possibility_transfer		DATE
	,	remarks						NVARCHAR(100)
	)

	CREATE TABLE #m0075_NEW_RECORD(
		id							INT NOT NULL IDENTITY(1,1) 							
	,	detail_no					SMALLINT
	,	qualification_cd			SMALLINT
	,	qualification_nm			NVARCHAR(100)
	,	qualification_typ			SMALLINT
	,	headquarters_other			DATE
	,	possibility_transfer		DATE
	,	remarks						NVARCHAR(100)
	)

	-- DATA TABLE JSON
	INSERT INTO #m0075
	SELECT
		detail_no
	,	ISNULL(qualification_cd			, 0)
	,	ISNULL(qualification_nm			, N'')
	,	ISNULL(qualification_typ		, 0)
	,	ISNULL(headquarters_other		, NULL)
	,	ISNULL(possibility_transfer		, NULL)
	,	ISNULL(remarks					, N'')
	FROM OPENJSON(@P_json,'$.list_tab_02') WITH(
		detail_no					SMALLINT
	,	qualification_cd			SMALLINT
	,	qualification_nm			NVARCHAR(100)
	,	qualification_typ			SMALLINT
	,	headquarters_other			DATE
	,	possibility_transfer		DATE
	,	remarks						NVARCHAR(100)
	)

	INSERT INTO #m0075_NEW_RECORD
	SELECT
		detail_no
	,	ISNULL(qualification_cd			, 0)
	,	ISNULL(qualification_nm			, N'')
	,	ISNULL(qualification_typ		, 0)
	,	ISNULL(headquarters_other		, NULL)
	,	ISNULL(possibility_transfer		, NULL)
	,	ISNULL(remarks					, N'')
	FROM #m0075
	WHERE
		#m0075.detail_no = 0
	AND NOT (
			#m0075.qualification_cd = 0
		AND #m0075.qualification_typ = 0
		AND #m0075.remarks LIKE N''
		AND	#m0075.headquarters_other LIKE N'1900-01-01'
		AND #m0075.possibility_transfer LIKE N'1900-01-01'
	)	
	
	IF NOT EXISTS(SELECT 1 FROM #m0075	
		WHERE 
			#m0075.qualification_cd = 0
		AND	#m0075.qualification_nm = N''
		AND	#m0075.headquarters_other LIKE N'1900-01-01'
		AND #m0075.possibility_transfer LIKE N'1900-01-01'
		AND	#m0075.remarks	= N''
	)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT
			8
		,	N'.qualification_nm' 
		,	0-- oderby
		,	0-- dialog  
		,	#m0075.id
		,	0
		,	N'qualification_cd require'
		FROM #m0075
		WHERE 
			#m0075.qualification_cd = 0
		AND	#m0075.qualification_nm = N''
	END

	-- START TRANSACTION5
	BEGIN TRANSACTION
	BEGIN TRY
		SET @employee_cd			=	JSON_VALUE(@P_json,'$.employee_cd')

		SELECT 
			@w_max =	ISNULL(MAX(M0075.detail_no), 0)
		FROM M0075
		WHERE
			M0075.company_cd            = @P_company_cd
		AND M0075.employee_cd			= @employee_cd

		IF EXISTS(SELECT 1 FROM #m0075	WHERE #m0075.headquarters_other >= #m0075.possibility_transfer AND #m0075.possibility_transfer <> N'1900-01-01' AND #m0075.headquarters_other <> N'1900-01-01')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24
			,	N'.headquarters_other' 
			,	0-- oderby
			,	0-- dialog  
			,	#m0075.id
			,	0
			,	N'error headquarters_other'
			FROM #m0075
			WHERE 
				#m0075.headquarters_other >= #m0075.possibility_transfer
			AND #m0075.possibility_transfer <> N'1900-01-01'
			AND #m0075.headquarters_other <> N'1900-01-01'

			INSERT INTO @ERR_TBL
			SELECT
				24
			,	N'.possibility_transfer' 
			,	0-- oderby
			,	0-- dialog  
			,	#m0075.id
			,	0
			,	N'error possibility_transfer'
			FROM #m0075
			WHERE 
				#m0075.headquarters_other >= #m0075.possibility_transfer
			AND #m0075.possibility_transfer <> N'1900-01-01'
			AND #m0075.headquarters_other <> N'1900-01-01'
		END

		IF EXISTS(SELECT 1 FROM #m0075 
				LEFT JOIN M5010 ON ( 
					#m0075.qualification_cd = M5010.qualification_cd 
				AND #m0075.qualification_nm = M5010.qualification_nm )
				WHERE M5010.qualification_cd IS NULL AND M5010.qualification_nm IS NULL
				AND NOT (
					#m0075.qualification_cd = 0
				AND	#m0075.qualification_nm = N''
				AND #m0075.qualification_typ = 0
				AND #m0075.remarks LIKE N''
				AND	#m0075.headquarters_other LIKE N'1900-01-01'
				AND #m0075.possibility_transfer LIKE N'1900-01-01'
			)
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				161
			,	N'.qualification_nm' 
			,	0-- oderby
			,	0-- dialog  
			,	#m0075.id
			,	0
			,	N'error qualification_nm'
			FROM #m0075
			LEFT JOIN M5010 ON ( 
				#m0075.qualification_cd = M5010.qualification_cd
			AND #m0075.qualification_nm = M5010.qualification_nm
			)
			WHERE M5010.qualification_cd IS NULL 
			AND M5010.qualification_nm IS NULL
			AND NOT (
					#m0075.qualification_cd = 0
				AND	#m0075.qualification_nm = N''
				AND #m0075.qualification_typ = 0
				AND #m0075.remarks LIKE N''
				AND	#m0075.headquarters_other LIKE N'1900-01-01'
				AND #m0075.possibility_transfer LIKE N'1900-01-01'
			)
		END

		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			--del
			UPDATE M0075 
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0075
			LEFT JOIN #m0075		ON (
				M0075.company_cd            = @P_company_cd
			AND M0075.employee_cd			= @employee_cd
			AND	M0075.detail_no				= #m0075.detail_no
			)
			WHERE
				M0075.del_datetime IS NULL
			AND	M0075.company_cd	= @P_company_cd
			AND	M0075.employee_cd	= @employee_cd
			AND	#m0075.detail_no	IS NULL

			UPDATE M0075
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0075
			LEFT JOIN #m0075		ON (
				M0075.company_cd            = @P_company_cd
			AND M0075.employee_cd			= @employee_cd
			AND	M0075.detail_no				= #m0075.detail_no
			)
			WHERE
				M0075.del_datetime IS NULL
			AND	M0075.company_cd	= @P_company_cd
			AND	M0075.employee_cd	= @employee_cd
			AND	#m0075.qualification_cd = 0
			AND	#m0075.qualification_nm = N''
			AND	#m0075.headquarters_other LIKE N'1900-01-01'
			AND #m0075.possibility_transfer LIKE N'1900-01-01'
			AND	#m0075.remarks	= N'' 

			--upd
			UPDATE M0075 SET
				qualification_cd						= #m0075.qualification_cd
			,   qualification_typ						= #m0075.qualification_typ
			,   headquarters_other						= IIF(#m0075.headquarters_other = N'1900-01-01',NULL, #m0075.headquarters_other)
			,   possibility_transfer					= IIF(#m0075.possibility_transfer = N'1900-01-01',NULL, #m0075.possibility_transfer)
			,   remarks									= #m0075.remarks
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0075
			INNER JOIN #m0075		ON (
				M0075.company_cd            = @P_company_cd
			AND M0075.employee_cd			= @employee_cd
			AND	M0075.detail_no				= #m0075.detail_no
			)
			WHERE
				M0075.del_datetime IS NULL
			AND	M0075.company_cd	= @P_company_cd
			AND	M0075.employee_cd	= @employee_cd
			AND	NOT (
				#m0075.qualification_cd = 0
				AND	#m0075.qualification_nm = N''
				AND	#m0075.headquarters_other LIKE N'1900-01-01'
				AND #m0075.possibility_transfer LIKE N'1900-01-01'
				AND	#m0075.remarks	= N'' 
			)

			--insert
			INSERT INTO M0075 
			SELECT 
				@P_company_cd
			,	@employee_cd
			,	#m0075_NEW_RECORD.id + @w_max					
			,	#m0075_NEW_RECORD.qualification_cd	
			,	#m0075_NEW_RECORD.qualification_typ	
			,	IIF(#m0075_NEW_RECORD.headquarters_other = N'1900-01-01',NULL, #m0075_NEW_RECORD.headquarters_other)
			,	IIF(#m0075_NEW_RECORD.possibility_transfer = N'1900-01-01',NULL, #m0075_NEW_RECORD.possibility_transfer)
			,	#m0075_NEW_RECORD.remarks
			,	@P_cre_user							--,[cre_user]
			,	@P_cre_ip							--,[cre_ip]
			,	N'M0070'								--,[cre_prg]
			,	@w_time								--,[cre_datetime]
			,	N''									--,[upd_user]
			,	N''									--,[upd_ip]
			,	N''									--,[upd_prg]
			,	NULL								--,[upd_datetime]
			,	N''									--,[del_user]
			,	N''									--,[del_ip]
			,	N''									--,[del_prg]
			,	NULL								--,[del_datetime]
			FROM #m0075_NEW_RECORD
			WHERE 
				#m0075_NEW_RECORD.detail_no = 0
			AND NOT (
					#m0075_NEW_RECORD.qualification_cd = 0
				AND #m0075_NEW_RECORD.qualification_typ = 0
				AND #m0075_NEW_RECORD.remarks LIKE N''
				AND	#m0075_NEW_RECORD.headquarters_other LIKE N'1900-01-01'
				AND #m0075_NEW_RECORD.possibility_transfer LIKE N'1900-01-01'
			)
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by

	SELECT 
		@employee_cd AS employee_cd

	DROP TABLE IF EXISTS #m0075
	DROP TABLE IF EXISTS #m0075_NEW_RECORD
END


GO
