
.list-search-content .list-search-child{
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-bottom:1px solid #d0d6da;
    border-left: 3px solid #fff;
    cursor: pointer;
    overflow: hidden;
}

.list-search-content .list-search-father{
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-bottom:1px solid #d0d6da;
    border-left: 3px solid #fff;
    cursor: pointer;
    overflow: hidden;
}

.list-search-content .list-search-father:hover{
    background-color: #EAEFF5;
    border-left: 3px solid #2B71B9;
}


.list-search-content .list-search-child p{
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.list-search-content .list-search-child span{
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-left: 20px;
}

.list-search-content .sub_collapse .panel-heading-menu .list-search-child {
    border-bottom:1px solid #d0d6da;
}

.panel-collapse .list-group .list-search-child {
    border-bottom:1px solid #d0d6da;
}
/*.height100td {
    width: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    position: relative;
    height: 65vh;
}*/
@media (max-width: 1366px) {
   /* #rightcontent {
        height: 81vh !important;
    }
    #leftcontent {
        height: 81vh !important;
    }*/
}
.ln-1{
    min-width: 106px;
}
