IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_MI2000_ACT1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_MI2000_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：M0080 - SAVE/UPDATE
 *
 *  作成日  ：2020/09/25
 *  作成者  ：ANS-ASIA nghianm
 * EXEC SPC_MI2000_ACT1 '{"employee_cd":"minni05","detail_no":"0","supporter_cd":"minni0","review_date":"2022\/10\/17","project_title":"ProjectTitleProjectTitleProjectTitleProjectTitlePr","evaluation_typ":"1","comment_date":"2022\/10\/17","comment":"DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDe","use_typ":"1","fiscal_year":"2022"}','accmin0','::1','10000';
 *  更新日  ：2021/03/29
 *  更新者  ：ANS-ASIA vietdt
 *  更新内容：edit F3900.infomation_message
 *
 *  更新日  ：2021/04/09
 *  更新者  ：ANS-ASIA vietdt
 *  更新内容：add msg 143		
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_MI2000_ACT1] 
	@P_json			NVARCHAR(MAX)		= ''
,	@P_cre_user		NVARCHAR(50)		= ''
,	@P_cre_ip		NVARCHAR(50)		= ''
,	@P_company_cd	SMALLINT			= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2	  = GETDATE()
	,	@ERR_TBL				ERRTABLE		
	,	@employee_cd			NVARCHAR(10)	=	''
	,	@detail_no				SMALLINT		=	0
	,	@detail_no_max			SMALLINT		=	0
	,	@supporter_cd			NVARCHAR(10)	=	''
	,	@review_date			DATE			=	NULL
	,	@project_title			NVARCHAR(50)	=	''
	,	@evaluation_point		SMALLINT		=	0
	,	@comment_date			DATE			=	NULL
	,	@comment				NVARCHAR(400)	=	''
	,	@use_typ				SMALLINT		=	0
	,	@fiscal_year			INT				=	0	-- add by vietdt 2021/03/29
	,	@check_confirm_flg		TINYINT			=	0	-- 0.未確定　1.確定
	,	@supporter_nm			NVARCHAR(20)	=	''
	,	@employee_nm			NVARCHAR(20)	=	''	-- edited by vietdt 2021/03/29
	,	@w_fiscal_year_current	SMALLINT		=	0
	,	@w_today				DATE			= GETDATE()
	-- TABLE #MAIL
	CREATE TABLE #MAIL (
		company_cd				SMALLINT
	,	fiscal_year				INT
	,	employee_cd				NVARCHAR(10)
	,	rater_employee_cd_1		NVARCHAR(10)
	,	rater_employee_nm		NVARCHAR(101)
	,	mail					NVARCHAR(50)
	,	infomation_title		NVARCHAR(30)
	,	infomation_message		NVARCHAR(500)
	,	[language]				SMALLINT
	)
	-- CHECK NOT EXISTS EMAIL
	CREATE TABLE #TABLE_EMAIL_ERR (
		error_no				INT
	,	error_nm				NVARCHAR(50)			
	)
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	-- GET VALUE FROM JSON
	SET @employee_cd			=	ISNULL(JSON_VALUE(@P_json,'$.employee_cd'),'')
	SET @detail_no				=	ISNULL(JSON_VALUE(@P_json,'$.detail_no'),0)
	SET @supporter_cd			=	ISNULL(JSON_VALUE(@P_json,'$.supporter_cd'),'')
	SET @review_date			=	ISNULL(JSON_VALUE(@P_json,'$.review_date'),NULL)
	SET @project_title			=	ISNULL(JSON_VALUE(@P_json,'$.project_title'),'')
	SET @evaluation_point		=	ISNULL(JSON_VALUE(@P_json,'$.evaluation_typ'),0)
	SET @comment_date			=	IIF(JSON_VALUE(@P_json,'$.comment_date') = '' ,NULL,ISNULL(JSON_VALUE(@P_json,'$.comment_date'),NULL))
	SET @comment				=	ISNULL(JSON_VALUE(@P_json,'$.comment'),'')
	SET @use_typ				=	ISNULL(JSON_VALUE(@P_json,'$.use_typ'),0)		-- 0.UNCHECK 1.CHECKED (一次評価者へメールで通知する)
	SET @fiscal_year			=	ISNULL(JSON_VALUE(@P_json,'$.fiscal_year'),0)	-- add by vietdt 2021/03/29
	-- GET SUPPOTER NAME
	SELECT 
		@supporter_nm = ISNULL(M0070.employee_nm,'')  
	FROM M0070 
	WHERE 
		M0070.company_cd = @P_company_cd  
	AND M0070.employee_cd = @supporter_cd 
	AND M0070.del_datetime IS NULL
	-- GET さんから name -- edited by vietdt 2021/03/29
	SELECT 
		@employee_nm = ISNULL(M0070.employee_nm,'')  
	FROM M0070 
	WHERE 
		M0070.company_cd = @P_company_cd  
	AND M0070.employee_cd = @employee_cd 
	AND M0070.del_datetime IS NULL
	-- GET @w_fiscal_year_current
	SET @w_fiscal_year_current =  dbo.FNC_GET_YEAR(@P_company_cd,@review_date)
	-- GET @check_confirm_flg
	SELECT 
		@check_confirm_flg = ISNULL(F3010.confirm_flg,0) 
	FROM F3010 
	WHERE 
		F3010.company_cd	= @P_company_cd 
	AND F3010.fiscal_year	= @w_fiscal_year_current
	AND F3010.del_datetime IS NULL
	-- CHECK @check_confirm_flg
	-- MESSAGE 135
	IF @check_confirm_flg = 1 -- 確定
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			135								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'確定済'							-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	--CHECK MESSAGE 143 -- add by vietdt 2021/03/29
	IF @w_fiscal_year_current <> @fiscal_year -- 確定
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			143								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'確定済'							-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	-- add by vietdt 2021/03/29
	--SENT MAIL
	INSERT INTO #MAIL
	SELECT 
		F0100.company_cd
	,	F0100.fiscal_year
	,	F0100.employee_cd
	,	F0100.rater_employee_cd_1
	,	SPACE(0)	AS	employee_nm
	,	SPACE(0)	AS	mail
	,	SPACE(0)	AS	infomation_title
	,	SPACE(0)	AS	infomation_message
	,	S0010.[language] AS [language]
	FROM F0100
	LEFT JOIN S0010 ON (
		F0100.rater_employee_cd_1	=	S0010.employee_cd
	AND F0100.company_cd	=	S0010.company_cd
	AND S0010.del_datetime IS NULL
	)
	WHERE 
		F0100.company_cd	= @P_company_cd
	AND F0100.fiscal_year	= @w_fiscal_year_current
	AND F0100.employee_cd	= @employee_cd
	AND F0100.del_datetime IS NULL
	GROUP BY
		F0100.company_cd
	,	F0100.fiscal_year
	,	F0100.employee_cd
	,	F0100.rater_employee_cd_1
	,	S0010.[language]
	-- UPDATE mail + rater1_nm from M0070

	UPDATE #MAIL SET
		rater_employee_nm	= ISNULL(M0070.employee_nm,'')
	,	mail				= ISNULL(M0070.mail,'')
	,	infomation_title	= N'マルチレビュー通知'
	,	infomation_message	= IIF(S0010.[language] = 2 , N'Supporter '+@supporter_nm+N' gave a review to '+@employee_nm,N'サポーター '+@supporter_nm+N'さんから'+@employee_nm+N'さんにレビューがありました')  -- edited by vietdt 2021/03/29
	,	[language] = S0010.[language]
	FROM #MAIL
	INNER JOIN M0070 ON (
		#MAIL.company_cd			=	M0070.company_cd
	AND #MAIL.rater_employee_cd_1	=	M0070.employee_cd
	AND M0070.del_datetime IS NULL
	)
	LEFT JOIN S0010 ON (
		M0070.employee_cd	=	S0010.employee_cd
	AND M0070.company_cd	=	S0010.company_cd
	AND S0010.del_datetime IS NULL
	)
	-- CHECK MAIL IS NOT EIXSTS 
	IF EXISTS (SELECT 1 FROM #MAIL WHERE #MAIL.mail IS NULL OR #MAIL.mail = '') AND @use_typ = 1 
	BEGIN
		INSERT INTO #TABLE_EMAIL_ERR VALUES (134,'NOT EXITSTED MAIL')
	END
	--
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			--INSERT F3000 + F3001
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			-- GET @detail_no_max FROM TABLE F3000
			SET @detail_no_max	= ISNULL((SELECT MAX(detail_no) 
										 FROM F3000 
										 WHERE F3000.company_cd  = @P_company_cd
										 AND F3000.employee_cd = @employee_cd),0) + 1
			-- MODE INSERT
			IF NOT EXISTS (SELECT 1 FROM F3000 
								WHERE F3000.company_cd = @P_company_cd 
								AND F3000.employee_cd = @employee_cd 
								AND F3000.detail_no = @detail_no)
			BEGIN
				--insert into F3001
				INSERT INTO F3000
				SELECT
					@P_company_cd
				,	@employee_cd
				,	@detail_no_max
				,	@supporter_cd
				,	@review_date
				,	@project_title
				,	@evaluation_point
				,	@comment_date
				,	@comment
				,	@P_cre_user
				,	@P_cre_ip
				,	'mI2000'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				--insert into F3001
				INSERT INTO F3001
				SELECT 
					@P_company_cd
				,	@employee_cd
				,	@detail_no_max
				,	#MAIL.rater_employee_cd_1
				,	SPACE(0)					AS	rater_employee_comment_1
				,	1.0							AS	importance_point
				,	@evaluation_point * 1.0		AS	point
				,	@P_cre_user
				,	@P_cre_ip
				,	'mI2000'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #MAIL
			END
			-- MODE UPDATE
			ELSE
			BEGIN
				--UPDATE F3000
				UPDATE F3000 SET
					review_date			=	@review_date
				,	project_title		=	@project_title
				,	evaluation_point	=	@evaluation_point
				,	comment_date		=	@comment_date
				,	comment				=	@comment
				,	upd_user			=	@P_cre_user
				,	upd_ip				=	@P_cre_ip
				,	upd_prg				=	'mI2000'
				,	upd_datetime		=	@w_time
				WHERE 
					F3000.company_cd	=	@P_company_cd
				AND F3000.employee_cd	=	@employee_cd
				AND F3000.detail_no		=	@detail_no
				--UPDATE F3001
				-- DEL + ADD
				DELETE D FROM F3001 AS D 
				WHERE 
					D.company_cd	= @P_company_cd 
				AND D.employee_cd	= @employee_cd 
				AND D.detail_no		= @detail_no
				--
				INSERT INTO F3001
				SELECT DISTINCT
					@P_company_cd
				,	@employee_cd
				,	@detail_no
				,	#MAIL.rater_employee_cd_1
				,	''
				,	1.0
				,	@evaluation_point * 1.0
				,	@P_cre_user
				,	@P_cre_ip
				,	'mI2000'
				,	@w_time
				,	''
				,	''
				,	''
				,	NULL
				,	''
				,	''
				,	''
				,	NULL
				FROM #MAIL
			END
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			--INSERT F3900
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			IF NOT EXISTS (SELECT 1 FROM F3900 
						INNER JOIN #MAIL ON (
							F3900.company_cd			= #MAIL.company_cd
						AND F3900.target_employee_cd	= #MAIL.employee_cd
						AND F3900.fiscal_year			= #MAIL.fiscal_year
						)
						WHERE F3900.company_cd			= @P_company_cd
						AND F3900.infomationn_typ		= 3
						AND F3900.infomation_date		= @w_today
						AND F3900.target_employee_cd	= @employee_cd
						AND F3900.supporter_cd			= @supporter_cd --datnt CR2021-03-30
						AND F3900.fiscal_year			= @w_fiscal_year_current
						AND F3900.employee_cd			= #MAIL.rater_employee_cd_1)
			BEGIN
				INSERT INTO F3900
				SELECT 
					@P_company_cd
				,	3										-- infomationn_typ
				,	@w_today								-- infomation_date
				,	@employee_cd							-- target_employee_cd
				,	@supporter_cd
				,	@w_fiscal_year_current					-- fiscal_year
				,	#MAIL.rater_employee_cd_1				-- employee_cd
				,	ISNULL(#MAIL.infomation_title,'')		-- infomation_title
				,	ISNULL(#MAIL.infomation_message,'')		-- infomation_message
				,	NULL									-- confirmation_datetime
				,	@P_cre_user
				,	@P_cre_ip
				,	'mI2000'
				,	@w_time
				,	''
				,	''
				,	''
				,	NULL
				,	''
				,	''
				,	''
				,	NULL
				FROM #MAIL
			END
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			--INSERT F3901
			--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			IF @use_typ = 1 -- CHECKED 一次評価者へメールで通知する
			BEGIN
				DELETE FROM F3901
				FROM F3901
				INNER JOIN #MAIL ON (
					F3901.company_cd			= #MAIL.company_cd
				AND F3901.target_employee_cd	= #MAIL.employee_cd
				AND F3901.fiscal_year			= #MAIL.fiscal_year
				)
				WHERE 
					F3901.company_cd			= @P_company_cd
				AND F3901.infomationn_typ		= 3
				AND F3901.infomation_date		= @w_today
				AND F3901.target_employee_cd	= @employee_cd
				AND F3901.supporter_cd			= @supporter_cd --datnt CR2021-03-30
				AND F3901.fiscal_year			= @w_fiscal_year_current
				AND F3901.employee_cd			= #MAIL.rater_employee_cd_1
				--INSERT INTO F3901
				INSERT INTO F3901
				SELECT 
					@P_company_cd
				,	3										--	infomationn_typ
				,	@w_today								--	infomation_date
				,	@employee_cd							--	target_employee_cd
				,	@supporter_cd
				,	@w_fiscal_year_current					--	fiscal_year
				,	#MAIL.rater_employee_cd_1				--	employee_cd
				,	#MAIL.mail								--	send_mailaddress
				,	ISNULL(#MAIL.infomation_title,'')		--	infomation_title
				,	ISNULL(#MAIL.infomation_message,'')		--	infomation_message
				,	@w_time									--	send_datetime
				,	@P_cre_user
				,	@P_cre_ip
				,	'mI2000'
				,	@w_time
				,	''
				,	''
				,	''
				,	NULL
				,	''
				,	''
				,	''
				,	NULL
				FROM #MAIL				
				WHERE 
					#MAIL.mail <> ''
			END
		END		
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
	--[1] MESS ERROR NOT EIXTS EMAIL
	SELECT * FROM #TABLE_EMAIL_ERR
	--[2] list mail
	IF @use_typ = 1
	BEGIN
		SELECT 
		#MAIL.mail
	,	infomation_title
	,	infomation_message
	,	[language]
	FROM #MAIL
	WHERE 
		#MAIL.mail <> ''
	END
END
GO

