.p-content{
    overflow:auto;
    max-height: 100vh ;
    margin-top: 70px;
}
.mw-100{
    min-width: 100px;
    max-width: 100px;
}
.pop_tr td{
    height: 40px;
}
.tr_checkall td{
    height: 40px;
}