/* copy icon */
#data-select{
	display: block;
	position: absolute;
	background: white;
	z-index: 99999;
	display: none;
	padding-right: 0px !important;
	padding-left: 0px !important;
	width: 500px;
}

.dropdown-weather{
	margin-bottom: unset !important;
}

.comment__list {
    border-bottom: #ccc 1px solid;
    display: flex;
    padding: 5px 5px;
}

.comment__list__left i {
    font-size: 2rem;
    color: var(--primary-pink);
}

.comment__list__right {
	width: 100%;
}

.comment__list__question span {
    font-size: 1rem;
    font-weight: bold;
}

.comment__list__answer span {
    font-size: 0.7rem;
}

.img-weather {
	margin-top: 2rem;
}