/* begin css upload */
/* .avatar .img.loaded p {
  display: none;
} */
#ei0200_popup .img>.flex-box {
  width: 120px;
  height: 120px;
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: ease 0.52s border-color;
  -moz-transition: ease 0.52s border-color;
  -webkit-transition: ease 0.52s border-color;
  -ms-transition: ease 0.52s border-color;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto;
}

#ei0200_popup .img>.flex-box img {
  width: 120px;
  height: 120px;
  border-radius: 400px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px #ccc, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
  background-size: 100% !important;
  object-fit: cover;
}

#ei0200_popup .img>.flex-box p {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

#ei0200_popup .flex-box {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -ms-box;
  display: -moz-box;
}

#ei0200_popup .flex-box {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -ms-box;
  display: -moz-box;
  position: relative;
}

/* .flex-box-image {
  border: 1px solid #ddd;
  border-radius: 50%;
} */
/* .loaded .imgs {
  width: 120px;
  height: 120px;
  border: 1px solid #ddd;
  border-radius: 50%;
} */
/* css btn clear file */
#ei0200_popup .btn-clearfile {
  border: unset;
  background: unset;
  outline: unset;

  width: 30px;
  height: 30px;
  margin-left: 10px;
  color: #d9534f;
  cursor: pointer;
  border: 1px solid #d9534f;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
}

#ei0200_popup .btn-clearfile:hover,
#ei0200_popup .btn-clearfile:focus {
  background: #d9534f;
  color: #ffffff;
}

/* css btn upload */
#ei0200_popup .btn-upload {
  border: unset;
  background: unset;
  outline: unset;

  width: 30px;
  height: 30px;
  color: #2a70b8;
  cursor: pointer;
  border: 1px solid #2a70b8;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
}

#ei0200_popup .btn-upload:hover,
#ei0200_popup .btn-upload:focus {
  background: #2a70b8;
  color: #ffffff;
}

#ei0200_popup .avatar .img img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* end css upload */

/* begin css popup */
#ei0200_popup {
  overflow: hidden;
}

#ei0200_popup .mw-1st {
  max-width: calc(100% / 5) !important;
  flex: 0 0 calc(100% / 5) !important;
  padding: 0 10px !important;
}

#ei0200_popup .mw-auto-1st {
  max-width: calc(100% / 5 * 4) !important;
  flex: 0 0 calc(100% / 5 * 4) !important;
  padding: 0 10px !important;
}

#ei0200_popup .mw-2st {
  max-width: calc(100% / 4) !important;
  flex: 0 0 calc(100% / 4) !important;
  padding: 0 10px !important;
}

#ei0200_popup .mw-auto-2st {
  max-width: calc(100% / 4 * 2) !important;
  flex: 0 0 calc(100% / 4 * 2) !important;
  padding: 0 10px !important;
}

#ei0200_popup .mw-3st {
  max-width: 190px !important;
  flex: 0 0 190px !important;
  padding: 0 10px !important;
}

#ei0200_popup .nowrap {
  white-space: nowrap;
}

#ei0200_popup .row:first-child .mw-auto-1st .h-50 .row {
  margin: 0 -10px !important;
}

/* start css responsive function btns in popup */
/* .popup-wrapper nav.navbar .navbar-collapse .nav-menubar-pc ul li .btn.btn-horizontal.btn-outline-primary {
  border-color: #707070 !important;
  box-shadow: none !important;
} */

/* @media only screen and (max-width: 945px) {
  .popup-wrapper nav.navbar .navbar-toggler {
    display: none;
  }

  .popup-wrapper nav.navbar .navbar-collapse {
    display: block !important;
  }

  .popup-wrapper nav.navbar .navbar-collapse .nav-menubar-mobile {
    width: 100% !important;
    max-width: 100% !important;
    padding-bottom: 10px;
  }

  .popup-wrapper nav.navbar .navbar-collapse .nav-menubar-mobile .dropdown img {
    margin-top: 0px !important;
  }

  .popup-wrapper nav.navbar .navbar-collapse .nav-menubar-mobile .dropdown-menu {
    position: absolute;
    left: calc(100% + -163px) !important;
    width: 150px !important;
    top: 40px !important;
  }

  .popup-wrapper nav.navbar .navbar-collapse .nav-menubar-mobile .dropdown-menu a {
    background-color: #fff;
  }
} */

/* responsive for mobile */
@media only screen and (max-width: 800px) {

  /* responsive first row */
  #ei0200_popup .row:first-child {
    margin-bottom: 0px !important;
  }

  #ei0200_popup .row:first-child .mw-1st {
    max-width: 140px !important;
    flex: 0 0 140px !important;
  }

  #ei0200_popup .row:first-child .mw-auto-1st {
    max-width: calc(100% - 140px) !important;
    flex: 0 0 calc(100% - 140px) !important;
  }

  #ei0200_popup .row:first-child .mw-auto-1st .h-50:first-child {
    height: 33% !important;
  }

  #ei0200_popup .row:first-child .mw-auto-1st .h-50:first-child .mw-1st {
    max-width: unset !important;
    flex: unset !important;
  }

  #ei0200_popup .row:first-child .mw-auto-1st .h-50:nth-child(2) {
    height: 67% !important;
  }

  #ei0200_popup .row:first-child .mw-auto-1st .h-50:nth-child(2) .mw-2st,
  #ei0200_popup .row:first-child .mw-auto-1st .h-50:nth-child(2) .mw-auto-2st {
    max-width: unset !important;
    flex: unset !important;
  }

  /* #ei0200_popup .row:first-child .mw-auto-1st .h-50:first-child .mw-1st .d-flex {
    align-items: start !important;
  } */
  /* responsive another rows */
  #ei0200_popup .row:not(:first-child) .mw-1st {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
}

/* @media only screen and (max-width: 575px) {
  .popup-wrapper nav.navbar {
    top: 44px;
  }

  .popup-wrapper .p-content {
    margin-top: 105px !important;
  }
} */

/* start css responsive function btns in popup */
/* end css popup */

.p-content {
  margin-top: 50px !important;
}
#ei0200_popup {
  padding-bottom: 50px !important;
}

/* 2024/05/04 */
.tooltip-inner {
  background-color: #31b5cc;
}
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #31b5cc !important;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #31b5cc !important;
}

#ei0200_popup .fake-input-disabled {
  height: 38px;
  background-color: #eaeaea;
  cursor: default;
  border-radius: 0.25rem;
  line-height: 38px;
  padding: 0 0.75rem;
  border: 1px solid #d0d6da;
}
.nav-link {
  background-color: #31b5cc;
}

body {
    font-family: sans-serif !important;
}

.p-head {
    background: #31b5cc !important;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range) i {
    color: #31b5cc !important;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range) {
    color: #31b5cc !important;
    border: 1px solid #31b5cc;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):active i,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):hover i,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):focus i {
    color: #fff !important;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):focus,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):active,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):hover {
    background-color: #31b5cc !important;
    color: white !important;
    border: 1px solid #dee2e6;
}

.md-checkbox-v2 input[type="checkbox"]+label:before {
    background-color: #31b5cc !important;
}

.md-checkbox-v2 input[type="checkbox"]+label {
    color: #31b5cc !important;
}

.md-checkbox-v2 input[type="checkbox"]:checked+label:before {
    background: #31b5cc !important;

}

.md-checkbox-v2 input[type="checkbox"]:checked+label {
    color: #31b5cc !important;
}

.md-checkbox-v2 input[type="checkbox"]:focus+label::before {
    outline: rgb(207, 204, 196) auto 5px;
}

.pagination.circle.outline li.active .page-link {
    border: 1px solid #31b5cc !important;
    background: #31b5cc !important;
}

.pagination.circle.outline li:not([disabled]):hover .page-link,
.pagination.circle.outline li:not([disabled]):focus .page-link,
.pagination.circle.outline li:not([disabled]):active .page-link {
    border: 1px solid #31b5cc !important;
}

.pagination.circl li:hover .page-link,
.pagination.circl li:focus .page-link,
.pagination.circl li:active .page-link {
    background: #31b5cc !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #cfccc4;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #44bdd485;
}

.form-control:disabled,
.form-control[readonly],
.form-control.required:disabled {
    background-color: #eaeaea;
    cursor: default;
}

.form-control[readonly]:focus {
    box-shadow: unset;
    -moz-box-shadow: unset;
    -webkit-box-shadow: unset;
}

.form-control.required {
    background: #fff0d3;
}

.form-control.textbox-error {
    color: #f72809;
    border: 1px solid #f72809;
}

.ck-value:checked+label {
    border: 1px solid #5a5a5a !important;
    background: #31b5cc !important;
    color: #fff !important;
}

.button--action {
    background-color: #31b5cc;
}

.button--action:hover {
    background-color: #62d1e0;
}

.tab-style.nav-tabs .nav-item .show,
.tab-style.nav-tabs .nav-item .active {
    background-color: #31b5cc;
    border-color: #31b5cc;
}

/* 2024/05/04 */
.tooltip-inner {
    background-color: #31b5cc;
}

.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #31b5cc !important;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-top-color: #31b5cc !important;
}

 a:hover {
    color: #31b5cc;
}