.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.navbar-expand-lg .navbar-toggler {
    display: none;
}
.p-content {
    overflow: auto;
    max-height: calc(100vh - 30px);
    margin-top: 50px;
}
.input-type {
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  margin: 0 auto 0px auto;
  display: block;
  text-align: center;
  font-size: 16px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}
.input-type:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.input-type:focus {
  background-color: white;
  /*width: 80%;*/
  color: #44B0BD;
}