.p-content {
    margin-top: 70px!important;
}
.div_target_employee{
    padding: 0!important;
}
.content {
    padding-top: 45px !important;
}
@media (max-width: 575px) {
    .content {
        padding-top: 60px !important;
    }
    .table {
    overflow-y: hidden !important;
  }
}