.search-condition {
  position: relative;
}

.search-condition .hid {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0px !important;
}

a[aria-expanded="false"] .fa-caret-up,
a[aria-expanded="true"] .fa-caret-down {
  display: none;
}

a[aria-expanded="true"] .fa-caret-up,
a[aria-expanded="false"] .fa-caret-down {
  display: inline-block;
}

.p-content {
  margin-top: 70px !important;
}

.pager-wrap.row {
  margin-left: 0px !important;
  margin-top: 10px !important;
  width: 100%;
}

.comment__share {
  margin-left: 0;
  margin-right: 0;
}

.comment__button {
  width: 100%;
}

@media (min-width: 1369px) {
  .td-width {
    max-width: 100px;
    min-width: 100px;
  }
}

@media (max-width: 1368px) {
  .td-width {
    max-width: 80px;
    min-width: 80px;
  }
}

@media (max-width: 575.98px) {
  .pager-wrap.row {
    margin-left: 0px !important;
    margin-top: 10px !important;
    width: 100%;
  }

  #cb_page {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 370px) {

  #basic-addon2 {
    font-size: 14px;
  }
}