.search-condition {
    position: relative;
}

.search-condition .hid {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0px !important;
}

a[aria-expanded="false"] .fa-caret-up,
a[aria-expanded="true"] .fa-caret-down {
    display: none;
}

a[aria-expanded="true"] .fa-caret-up,
a[aria-expanded="false"] .fa-caret-down {
    display: inline-block;
}

.p-content {
    margin-top: 70px !important;
}

.pager-wrap.row {
    margin-left: 0px !important;
    margin-top: 10px !important;
    width: 100%;
}

.td-width {
    max-width: 100px;
}

.employee-share {
    max-height: 385px;
    overflow-y: auto;
}

.table th {
    box-shadow: inset 1px 1px #cfd3d8, 0 1px #cfd3d8;
}

.table thead tr th {
    position: sticky;
    top: -1px;
}
.btn-key-primary {
    color: var(--primary-pink) !important;
    border: 1px solid var(--primary-pink) !important;
}

.btn-key-primary:focus {
    border: 1px solid var(--primary-pink) !important;
    background: var(--secondary-pink) !important;
    color: #fff !important;
}

.btn-key-primary:hover {
    color: white !important;
    background-color: var(--secondary-pink) !important;
}
