DROP PROCEDURE [SPC_M0070_07_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	M0070_社員マスター賞罰タブ SAVE DATA
--*  
--* 作成日/create date			:	2024/04/08										
--*	作成者/creater				:	Quanlh						
--*　　	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_07_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)		=	N''				
	-- common
,	@P_cre_user		NVARCHAR(50)		=	N''
,	@P_cre_ip		NVARCHAR(100)		=	N''
,	@P_company_cd	SMALLINT			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			= SYSDATETIME()
	,	@order_by_min				INT					= 0
	,	@ERR_TBL					ERRTABLE		
	,	@employee_cd				NVARCHAR(10)		= N''	
	,	@w_max						INT					= 0
	--v1.7 M0070
	CREATE TABLE #M0084(
		id										INT NOT NULL IDENTITY(1,1) 		
	,	detail_no								SMALLINT
	,	commuting_method						SMALLINT
	,	commuting_distance						NUMERIC(7,2)
	,	drivinglicense_renewal_deadline			DATE
	,	commuting_method_detail					NVARCHAR(20)
	,	departure_point							NVARCHAR(20)
	,	arrival_point							NVARCHAR(20)
	,	commuter_ticket_classification			SMALLINT
	,	commuting_expenses						MONEY
	)
	--
	CREATE TABLE #M0084_INSERT(	
		id										INT NOT NULL IDENTITY(1,1) 	
	,	detail_no								SMALLINT
	,	commuting_method						SMALLINT
	,	commuting_distance						NUMERIC(7,2)
	,	drivinglicense_renewal_deadline			DATE
	,	commuting_method_detail					NVARCHAR(20)
	,	departure_point							NVARCHAR(20)
	,	arrival_point							NVARCHAR(20)
	,	commuter_ticket_classification			SMALLINT
	,	commuting_expenses						MONEY
	)
	-- INSERT INTO #M0084
	INSERT INTO #M0084
	SELECT
		detail_no_tab07
	,	ISNULL(commuting_method	,0)				
	,	ISNULL(commuting_distance,0)	
	,	ISNULL(drivinglicense_renewal_deadline,NULL)		
	,	ISNULL(commuting_method_detail,N'')		
	,	ISNULL(departure_point,N'')				
	,	ISNULL(arrival_point,N'')					
	,	ISNULL(commuter_ticket_classification,0)		
	,	ISNULL(commuting_expenses,0)				
	FROM OPENJSON(@P_json,'$.list_tab_07') WITH(
		detail_no_tab07							SMALLINT
	,	commuting_method						SMALLINT
	,	commuting_distance						NUMERIC(7,2)
	,	drivinglicense_renewal_deadline			DATE
	,	commuting_method_detail					NVARCHAR(20)
	,	departure_point							NVARCHAR(20)
	,	arrival_point							NVARCHAR(20)
	,	commuter_ticket_classification			SMALLINT
	,	commuting_expenses						MONEY
	)
	
	INSERT INTO #M0084_INSERT
	SELECT
		detail_no
	,	ISNULL(commuting_method	,0)				
	,	ISNULL(commuting_distance,0)			
	,	ISNULL(drivinglicense_renewal_deadline,NULL)		
	,	ISNULL(commuting_method_detail,N'')		
	,	ISNULL(departure_point,N'')				
	,	ISNULL(arrival_point,N'')					
	,	ISNULL(commuter_ticket_classification,0)		
	,	ISNULL(commuting_expenses,0)	
	FROM #M0084
	WHERE
		#M0084.detail_no = 0
	AND	#M0084.commuting_method <> 0
	-- START TRANSACTION		
	BEGIN TRANSACTION
	BEGIN TRY
		-- ASSIGN
		SET @employee_cd			=	JSON_VALUE(@P_json,'$.employee_cd')
		--MAX No
		SELECT 
			@w_max =	ISNULL(MAX(M0084.detail_no), 0)
		FROM M0084
		WHERE
			M0084.company_cd            = @P_company_cd
		AND M0084.employee_cd			= @employee_cd
		--
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			--Del
			UPDATE M0084 
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0084
			LEFT JOIN #M0084		ON (
				M0084.company_cd            = @P_company_cd
			AND M0084.employee_cd			= @employee_cd
			AND	M0084.detail_no				= #M0084.detail_no
			)
			WHERE
				M0084.del_datetime  IS NULL
			AND	M0084.company_cd	= @P_company_cd
			AND	M0084.employee_cd	= @employee_cd
			AND	#M0084.detail_no	IS NULL
			OR #M0084.commuting_method = 0
			--Udate
			UPDATE M0084 SET
				commuting_method						= #M0084.commuting_method
			,	commuting_distance						= #M0084.commuting_distance
			,   drivinglicense_renewal_deadline			= IIF(#M0084.drivinglicense_renewal_deadline = N'1900-01-01',NULL, #M0084.drivinglicense_renewal_deadline)
			,   commuting_method_detail					= #M0084.commuting_method_detail
			,	departure_point							= #M0084.departure_point
			,	arrival_point							= #M0084.arrival_point
			,	commuter_ticket_classification			= #M0084.commuter_ticket_classification
			,	commuting_expenses						= #M0084.commuting_expenses
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0084
			INNER JOIN #M0084		ON (
				M0084.company_cd            = @P_company_cd
			AND M0084.employee_cd			= @employee_cd
			AND	M0084.detail_no				= #M0084.detail_no
			)
			WHERE
				M0084.del_datetime IS NULL
			AND	M0084.company_cd	= @P_company_cd
			AND	M0084.employee_cd	= @employee_cd
			--Insert	
			INSERT INTO M0084 
			SELECT 
				@P_company_cd
			,	@employee_cd
			,	#M0084_INSERT.id + @w_max				
			,	#M0084_INSERT.commuting_method
			,	#M0084_INSERT.commuting_distance
			,	IIF(#M0084_INSERT.drivinglicense_renewal_deadline = N'1900-01-01',NULL, #M0084_INSERT.drivinglicense_renewal_deadline)
			,	#M0084_INSERT.commuting_method_detail
			,	#M0084_INSERT.departure_point
			,	#M0084_INSERT.arrival_point
			,	#M0084_INSERT.commuter_ticket_classification
			,	#M0084_INSERT.commuting_expenses
			,	@P_cre_user							--,[cre_user]
			,	@P_cre_ip							--,[cre_ip]
			,	N'M0070'							--,[cre_prg]
			,	@w_time								--,[cre_datetime]
			,	N''									--,[upd_user]
			,	N''									--,[upd_ip]
			,	N''									--,[upd_prg]
			,	NULL								--,[upd_datetime]
			,	N''									--,[del_user]
			,	N''									--,[del_ip]
			,	N''									--,[del_prg]
			,	NULL								--,[del_datetime]
			FROM #M0084_INSERT
			WHERE 
				#M0084_INSERT.detail_no = 0
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- INSERT STATEMENTS FOR PROCEDURE HERE
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	SELECT 
		@employee_cd AS employee_cd
	--
	DROP TABLE IF EXISTS #M0084
	DROP TABLE IF EXISTS #M0084_INSERT
END

