DROP PROCEDURE [SPC_M0070_07_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+  EXEC SPC_M0070_07_INQ1 '10','740','721';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスター賞罰タブ
--*  
--*  作成日/create date			:	2024/04/01						
--*　作成者/creater				:	Quanlh								
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_07_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(10)	=	N''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	N''
AS
BEGIN	
	SET NOCOUNT ON;
	DECLARE
		@w_language							SMALLINT		=	1	--1 jp / 2 en
	,	@total3								MONEY			=	0
	,	@total4								MONEY			=	0
	,	@total6								MONEY			=	0
	,	@total								MONEY			=	0
	,	@sum_total							MONEY			=	0



	SET @w_language = (SELECT S0010.language FROM S0010 WITH(NOLOCK)
						WHERE S0010.del_datetime IS NULL
						AND S0010.company_cd	= @P_company_cd 
						AND S0010.user_id	= @P_user_id) 
	SET @total3 = (SELECT  SUM(M0084.commuting_expenses * 1.0 / L0010_65.numeric_value1) AS Total
					FROM M0084 WITH(NOLOCK) 
					LEFT JOIN L0010 AS L0010_65 WITH(NOLOCK) ON(
						M0084.commuter_ticket_classification = L0010_65.number_cd
					AND	L0010_65.name_typ				= 65
					AND	L0010_65.del_datetime IS NULL
					)
					WHERE 
						M0084.employee_cd = @P_employee_cd 
					AND M0084.company_cd = @P_company_cd 
					AND M0084.commuting_method = 3 
					AND M0084.del_datetime IS NULL				
					)	
	SET @total4 = (SELECT  SUM(M0084.commuting_expenses * 1.0 / L0010_65.numeric_value1) AS Total
					FROM M0084 WITH(NOLOCK) 
					LEFT JOIN L0010 AS L0010_65 WITH(NOLOCK) ON(
						M0084.commuter_ticket_classification = L0010_65.number_cd
					AND	L0010_65.name_typ				= 65
					AND	L0010_65.del_datetime IS NULL
					)
					WHERE 
						M0084.employee_cd = @P_employee_cd 
					AND M0084.company_cd = @P_company_cd 
					AND M0084.commuting_method = 4 
					AND M0084.del_datetime IS NULL				
					)	
	SET @total6 = (SELECT  SUM(M0084.commuting_expenses * 1.0 / L0010_66.numeric_value1) AS Total
					FROM M0084 WITH(NOLOCK) 
					LEFT JOIN L0010 AS L0010_66 WITH(NOLOCK) ON(
						M0084.commuter_ticket_classification = L0010_66.number_cd
					AND	L0010_66.name_typ				= 66
					AND	L0010_66.del_datetime IS NULL
					)
					WHERE 
						M0084.employee_cd = @P_employee_cd 
					AND M0084.company_cd = @P_company_cd 
					AND M0084.commuting_method = 6
					AND M0084.del_datetime IS NULL				
					)	
	SET @total = (SELECT  SUM(M0084.commuting_expenses) AS Total
					FROM M0084 WITH(NOLOCK) 					
					WHERE 
						M0084.employee_cd = @P_employee_cd 
					AND M0084.company_cd = @P_company_cd 
					AND M0084.commuting_method <> 3
					AND M0084.commuting_method <> 4
					AND M0084.commuting_method <> 6
					AND M0084.del_datetime IS NULL				
					)	
	SET @sum_total = ISNULL(@total,0) + ISNULL(@total3,0) + ISNULL(@total4,0) +ISNULL(@total6,0)
	--[0]
	SELECT
		M0084.detail_no
	,	M0084.commuting_method
	,	CASE
				WHEN @w_language = 2
				THEN ISNULL(L0010_64.name_english,N'')
				ELSE ISNULL(L0010_64.name,N'')
		END		AS commuting_method_name
	,	IIF(ISNULL(M0084.commuting_distance,0) > 1, FORMAT(M0084.commuting_distance, '###,###.00'),  FORMAT(M0084.commuting_distance, '0.00')) 							AS commuting_distance
	,	ISNULL( CONVERT(VARCHAR(10), M0084.drivinglicense_renewal_deadline, 111)	, NULL)	AS drivinglicense_renewal_deadline
	,	ISNULL(M0084.commuting_method_detail,N'') AS commuting_method_detail
	,	ISNULL(M0084.departure_point,N'') AS departure_point
	,	ISNULL(M0084.arrival_point,N'') AS arrival_point
	,	ISNULL(M0084.commuter_ticket_classification,0) AS commuter_ticket_classification
	,	ISNULL(FORMAT(M0084.commuting_expenses, '###,###'),0) AS commuting_expenses
	FROM M0084 WITH(NOLOCK)
	LEFT JOIN L0010 AS L0010_64 WITH(NOLOCK) ON(
		M0084.commuting_method = L0010_64.number_cd
	AND	L0010_64.name_typ				= 64
	AND	L0010_64.del_datetime IS NULL
	)
	LEFT JOIN L0010 AS L0010_65 WITH(NOLOCK) ON(
		M0084.commuter_ticket_classification = L0010_65.number_cd
	AND	L0010_65.name_typ				= 65
	AND	L0010_65.del_datetime IS NULL
	)
	LEFT JOIN L0010 AS L0010_66 WITH(NOLOCK) ON(
		M0084.commuter_ticket_classification = L0010_66.number_cd
	AND	L0010_66.name_typ				= 66
	AND	L0010_66.del_datetime IS NULL
	)
	WHERE
		M0084.employee_cd = @P_employee_cd
	AND M0084.company_cd = @P_company_cd
	AND M0084.del_datetime IS NULL
	--[1]
	SELECT	ISNULL(FORMAT(ROUND(@sum_total,0), '###,###.##'),0) AS total_expenses
END
GO
