.table-fixed-header{
	max-height: 54vh;
	margin-bottom: 10px;
}
table .md-checkbox-v2 input[type="checkbox"]+label:before {
	margin-right: 0px !important;
}
.justify-content-md-center {
	justify-content:center;
}
.md-radio-v2 input[type="radio"]:focus + label, .md-checkbox-v2 input[type="checkbox"]:focus + label {
    outline: thin dotted;
}
table tr label {
	margin-top: .5rem;
}

.w-50px {
	width: 50px;
	min-width: 50px;
	max-width: 50px;
}
.w-80px {
	 width: 80px;
	 min-width: 80px;
	 max-width: 80px;
 }
.w-120px {
	width: 120px;
	min-width: 120px;
	max-width: 120px;
}
.w-140px {
	width: 140px;
	min-width: 140px;
	max-width: 140px;
}
.w-160px {
	width: 160px;
	min-width: 160px;
	max-width: 160px;
}
.min-w160px{
	min-width: 160px;
}
.w-200px {
	width: 200px;
	min-width: 200px;
	max-width: 200px;
}
.w-240px {
	/*width: 240px;
	min-width: 240px;*/
	max-width: 240px;
}
.w-260px {
	width: 260px;
	min-width: 260px;
	max-width: 260px;
}
.head_checkbox{
	width: 25px;
	min-width: 0px;
}


/* scroll top table*/
.backfff{
	background-color: #fff;
}
.pagin-poss{
	position: relative;
	min-height: 38px;
}
.show_button_div{
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}
tr.evaluate{ background: #F9F4DC;}
.checkbox-os0030 .checkmark {
	top:-5px;
	left: 10px;
}
.checkbox-os0030-body .checkmark {
	top:-15px;
	left: 10px;
}
.form-control-plaintext {
	padding-top:  unset !important;
}
@media (max-width: 1368px) {
	.table-responsive{
		height: 520px;
	}
}
/*fixed top table*/
.scroll-div1 {
	width: 4600px;
	overflow-x: scroll;
	overflow-y: hidden;
}
.wmd-view-topscroll {
	height: 18px;
}

.wmd-view-topscroll, .wmd-view {
	overflow-x: scroll;
}
.line-border-bottom {
    border-left: 5px solid #ffc000;
}
@media (max-width: 575px) {
	#table-data {
	  min-width: 1000px !important;
	}
	#leftcontent > .inner, #rightcontent > .inner {
		min-height: unset !important;
		height: unset !important;
    }
    .div-reflect {
        justify-content :unset !important;
	}
	.btn-group.pl-4 {
		padding-left: unset !important;
		margin-top: 10px !important;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	#table-data {
		min-width: 1100px !important;
	}
	#leftcontent > .inner, #rightcontent > .inner {
		min-height: unset !important;
		height: unset !important;
	}
	.btn-group.pl-4 {
		padding-left: unset !important;
		margin-top: 10px !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#table-data {
		min-width: 1200px !important;
    }
    .div-reflect {
        justify-content :unset !important;
	}
	.btn-group.pl-4 {
		float:right;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#table-data {
		min-width: 1300px !important;
    }
    .div-reflect {
        justify-content :unset !important;
	}
	.btn-group.pl-4 {
		float:right;
	}
}
@media (min-width: 320px) and (max-width: 387px) {
	#table-data {
		min-width: 1300px !important;
    }
    .div-reflect {
        display: unset !important;
    }
    #reflect {
        margin-left: unset !important;
    }
    .header-left-function h5 {
        font-size: 16px !important;
    }
}
@media (min-width: 800px) {
	h5 {
		min-width: 450px;
	}
}
@media (max-width: 500px) {
	.container-fluid {
		margin-top: 20px;
	}
	#result {
		margin-top: 20px;
	}
	.pager-wrap {
		display: unset;
	}
}
