/****** Object:  StoredProcedure [dbo].[SPC_M0160_LST1]    Script Date: 2018/09/17 13:56:05 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_M0160_LST1]
SET QUOTED_IDENTIFIER ON
GO
-- EXEC SPC_M0160_LST1 '','1','16','1'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0160_目標管理シートマスタ
--*  
--*  作成日/create date			:	2018/09/03						
--*　作成者/creater				:	sondh								
--*   					
--*  更新日/update date			:	2018/11/20
--*　更新者/updater				:　	Longvv-longvv@ans-asia.com
--*　更新内容/update content		:	半角のアンダーバー「_」で検索
--*
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0160_LST1]
	@P_search_key		NVARCHAR(200)		= ''
,	@P_current_page		SMALLINT			= 0
,	@P_page_size		SMALLINT			= 0
,	@P_company_cd		SMALLINT			= 0
AS
BEGIN
	SET NOCOUNT ON;

    -- do stuff
	DECLARE
		@totalRecord		BIGINT			= 0
	,	@pageNumber			INT				= 0

	--
	CREATE TABLE #RESULT (
		id					INT IDENTITY(1, 1)
	,	company_cd			SMALLINT
	,	sheet_cd			SMALLINT
	,	sheet_nm			NVARCHAR(50)
	,	sheet_ab_nm			NVARCHAR(10)
	)

	--
	INSERT INTO #RESULT
	SELECT
		ISNULL(M0200.company_cd,0)
	,	ISNULL(M0200.sheet_cd,0)
	,	ISNULL(M0200.sheet_nm,'')
	,	ISNULL(M0200.sheet_ab_nm,'')
	FROM M0200
	WHERE
		M0200.company_cd	=	@P_company_cd
	AND	M0200.sheet_kbn		=	1
	AND	M0200.del_datetime IS NULL
	AND	(	@P_search_key = '' 
		OR	dbo.FNC_COM_REPLACE_SPACE(M0200.sheet_nm)		LIKE '%' +  dbo.FNC_COM_REPLACE_SPACE(@P_search_key) + '%' 
		OR	dbo.FNC_COM_REPLACE_SPACE(M0200.sheet_ab_nm)	LIKE '%' +  dbo.FNC_COM_REPLACE_SPACE(@P_search_key) + '%' 
	)
	ORDER BY 
		arrange_order
	,	sheet_cd
	--[0]
	SELECT 
		id
	,	company_cd				
	,	sheet_cd	
	,	sheet_nm	
	,	sheet_ab_nm	
	FROM #RESULT
	ORDER BY
		id
	OFFSET (@P_current_page-1) * @P_page_size ROWS
	FETCH NEXT @P_page_size ROWS ONLY

	--[1]
	SET @totalRecord = (SELECT COUNT(*) FROM #RESULT)
	SET @pageNumber = CEILING(CAST(@totalRecord AS FLOAT) / @P_page_size)
	SELECT @totalRecord AS totalRecord, @pageNumber AS pageMax, @P_current_page AS [page], @P_page_size AS pagesize

	-- clean
	DROP TABLE #RESULT
END


GO
