/****** Object:  StoredProcedure [dbo].[SPC_M0160_ACT1]    Script Date: 2018/09/18 15:02:00 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_M0160_ACT1] 
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/09/17											
--*	作成者/creater				:	SonDH						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0160_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(MAX)
,	@P_upload_file			NVARCHAR(100)		= ''
	-- common
,	@P_cre_user				NVARCHAR(50)		= ''
,	@P_cre_ip				NVARCHAR(50)		= ''
,	@P_company_cd			SMALLINT			= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time										DATETIME2			= SYSDATETIME()
	,	@order_by_min								INT					= 0
	,	@ERR_TBL									ERRTABLE	
	--
	,	@sheet_cd									SMALLINT			= 0
	,	@sheet_kbn									TINYINT				= 0
	,	@sheet_nm									NVARCHAR(50)		= ''
	,	@sheet_ab_nm								NVARCHAR(10)		= ''
	--,	@category									SMALLINT			= 0
	,	@evaluation_period							SMALLINT			= 0
	,	@point_kinds								SMALLINT			= 0
	,	@point_calculation_typ1						SMALLINT			= 0
	,	@point_calculation_typ2						SMALLINT			= 0
	,	@details_feedback_typ						TINYINT				= 0
	,	@comments_feedback_typ						TINYINT				= 0
	,	@upload_file								NVARCHAR(50)		= ''
	,	@upload_file_nm								NVARCHAR(50)		= ''
	,	@goal_number								SMALLINT			= 0
	,	@generic_comment_display_typ_1				TINYINT				= 0
	,	@generic_comment_title_1					NVARCHAR(20)		= ''
	,	@generic_comment_1							NVARCHAR(400)		= ''
	,	@generic_comment_display_typ_2				TINYINT				= 0
	,	@generic_comment_title_2					NVARCHAR(20)		= ''
	,	@generic_comment_2							NVARCHAR(400)		= ''
	,	@generic_comment_display_typ_3				TINYINT				= 0
	,	@generic_comment_title_3					NVARCHAR(20)		= ''
	--,	@generic_comment_3							NVARCHAR(400)		= ''
	,	@generic_comment_display_typ_4				TINYINT				= 0
	,	@generic_comment_title_4					NVARCHAR(20)		= ''
	--,	@generic_comment_4							NVARCHAR(400)		= ''
	,	@generic_comment_display_typ_5				TINYINT				= 0
	,	@generic_comment_title_5					NVARCHAR(20)		= ''
	--,	@generic_comment_5							NVARCHAR(400)		= ''
	,	@generic_comment_display_typ_6				TINYINT				= 0
	,	@generic_comment_title_6					NVARCHAR(20)		= ''
	,	@generic_comment_6							NVARCHAR(400)		= ''
	,	@generic_comment_display_typ_7				TINYINT				= 0
	,	@generic_comment_title_7					NVARCHAR(20)		= ''
	,	@generic_comment_7							NVARCHAR(400)		= ''
	--v1.7
	,	@generic_comment_display_typ_8				TINYINT				= 0
	,	@generic_comment_title_8					NVARCHAR(20)		= ''
	,	@generic_comment_8							NVARCHAR(400)		= ''
	,	@item_title_display_typ						TINYINT				= 0
	,	@item_title_title							NVARCHAR(20)		= ''
	--v1.7
	,	@item_display_typ_1							TINYINT				= 0
	,	@item_title_1								NVARCHAR(20)		= ''
	,	@item_display_typ_2							TINYINT				= 0
	,	@item_title_2								NVARCHAR(20)		= ''
	,	@item_display_typ_3							TINYINT				= 0
	,	@item_title_3								NVARCHAR(20)		= ''
	,	@item_display_typ_4							TINYINT				= 0
	,	@item_title_4								NVARCHAR(20)		= ''
	,	@item_display_typ_5							TINYINT				= 0
	,	@item_title_5								NVARCHAR(20)		= ''
	,	@weight_display_typ							TINYINT				= 0
	,	@challenge_level_display_typ				TINYINT				= 0
	,	@progress_comment_display_typ				TINYINT				= 0
	,	@detail_progress_comment_display_typ		TINYINT				= 0
	,	@evaluation_display_typ						TINYINT				= 0
	--,	@detail_comment_display_typ					TINYINT				= 0
	,	@total_score_display_typ					TINYINT				= 0
	,	@point_criteria_display_typ					TINYINT				= 0
	,	@challengelevel_criteria_display_typ		TINYINT				= 0
	,	@self_assessment_comment_display_typ		TINYINT				= 0
	,	@evaluation_comment_display_typ				TINYINT				= 0
	,	@arrange_order								INT					= 0
	,	@sheet_cd_max								INT					= 0
	,	@self_assessment_comment_display_typ1		TINYINT				= 0        
    ,	@detail_comment_display_typ_0         		TINYINT				= 0
	,	@detail_comment_display_typ_1         		TINYINT				= 0
    ,	@detail_comment_display_typ_2         		TINYINT				= 0
    ,	@detail_comment_display_typ_3         		TINYINT				= 0
    ,	@detail_comment_display_typ_4				TINYINT				= 0
	--
	,	@w_evaluation_self_typ					TINYINT			= 0
	,	@w_detail_self_progress_comment_display_typ					TINYINT			= 0
	,	@w_detail_self_progress_comment_title	NVARCHAR(50)	= ''
	,	@w_detail_progress_comment_title		NVARCHAR(50)	= ''
	,	@w_self_progress_comment_display_typ	TINYINT			= 0
	,	@w_self_progress_comment_title			NVARCHAR(50)	= ''
	,	@w_progress_comment_display_typ			TINYINT			= 0
	,	@w_progress_comment_title				NVARCHAR(50)	= ''
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
	-- ASSIGN
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	CREATE TABLE #M0201 (
			id					INT IDENTITY(1,1)
		,	company_cd			SMALLINT	
		,	item_title				NVARCHAR(400)
		)

		INSERT INTO #M0201
		SELECT
			@P_company_cd
		,	item_title	
		FROM OPENJSON(@P_json, '$.tr_generic_comment') WITH(
			item_title				NVARCHAR(400)
		)

	--
	SET @sheet_cd 								=	JSON_VALUE(@P_json,'$.sheet_cd')
	--SET @sheet_kbn							=	JSON_VALUE(@P_json,'$.sheet_kbn')
	SET @sheet_nm								=	JSON_VALUE(@P_json,'$.sheet_nm')
	SET @sheet_ab_nm							=	JSON_VALUE(@P_json,'$.sheet_ab_nm')
	--SET @category								=	JSON_VALUE(@P_json,'$.category')
	SET @evaluation_period						=	JSON_VALUE(@P_json,'$.evaluation_period')
	SET @point_kinds							=	JSON_VALUE(@P_json,'$.point_kinds')
	SET @point_calculation_typ1					=	JSON_VALUE(@P_json,'$.point_calculation_typ1')
	SET @point_calculation_typ2					=	JSON_VALUE(@P_json,'$.point_calculation_typ2')
	SET @details_feedback_typ					=	JSON_VALUE(@P_json,'$.details_feedback_typ')
	SET @comments_feedback_typ					=	JSON_VALUE(@P_json,'$.comments_feedback_typ')
	SET @upload_file_nm							=	JSON_VALUE(@P_json,'$.upload_file_nm')
	SET @goal_number							=	JSON_VALUE(@P_json,'$.goal_number')
	SET @generic_comment_display_typ_1			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_1')
	SET @generic_comment_title_1				=	JSON_VALUE(@P_json,'$.generic_comment_title_1')
	SET	@generic_comment_1						=	JSON_VALUE(@P_json,'$.generic_comment_1')	
	SET @generic_comment_display_typ_2			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_2')
	SET @generic_comment_title_2				=	JSON_VALUE(@P_json,'$.generic_comment_title_2')
	SET	@generic_comment_2						=	JSON_VALUE(@P_json,'$.generic_comment_2')	
	SET @generic_comment_display_typ_3			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_3')
	SET @generic_comment_title_3				=	JSON_VALUE(@P_json,'$.generic_comment_title_3')
	--SET	@generic_comment_3						=	JSON_VALUE(@P_json,'$.generic_comment_3')	
	SET @generic_comment_display_typ_4			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_4')
	SET @generic_comment_title_4				=	JSON_VALUE(@P_json,'$.generic_comment_title_4')
	--SET	@generic_comment_4						=	JSON_VALUE(@P_json,'$.generic_comment_4')	
	SET @generic_comment_display_typ_5			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_5')
	SET @generic_comment_title_5				=	JSON_VALUE(@P_json,'$.generic_comment_title_5')
	--SET	@generic_comment_5						=	JSON_VALUE(@P_json,'$.generic_comment_5')	
	SET @generic_comment_display_typ_6			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_6')
	SET @generic_comment_title_6				=	JSON_VALUE(@P_json,'$.generic_comment_title_6')
	SET	@generic_comment_6						=	JSON_VALUE(@P_json,'$.generic_comment_6')	
	SET @generic_comment_display_typ_7			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_7')
	SET @generic_comment_title_7				=	JSON_VALUE(@P_json,'$.generic_comment_title_7')
	SET	@generic_comment_7						=	JSON_VALUE(@P_json,'$.generic_comment_7')
	
	SET @generic_comment_display_typ_8			=	JSON_VALUE(@P_json,'$.generic_comment_display_typ_8')
	SET @generic_comment_title_8				=	JSON_VALUE(@P_json,'$.generic_comment_title_8')
	SET	@generic_comment_8						=	JSON_VALUE(@P_json,'$.generic_comment_8')	
	SET @item_title_display_typ						=	JSON_VALUE(@P_json,'$.item_title_display_typ')
	SET @item_title_title							=	JSON_VALUE(@P_json,'$.item_title_title')


	SET @item_display_typ_1						=	JSON_VALUE(@P_json,'$.item_display_typ_1')
	SET @item_title_1							=	JSON_VALUE(@P_json,'$.item_title_1')
	SET @item_display_typ_2						=	JSON_VALUE(@P_json,'$.item_display_typ_2')
	SET @item_title_2							=	JSON_VALUE(@P_json,'$.item_title_2')
	SET @item_display_typ_3						=	JSON_VALUE(@P_json,'$.item_display_typ_3')
	SET @item_title_3							=	JSON_VALUE(@P_json,'$.item_title_3')
	SET @item_display_typ_4						=	JSON_VALUE(@P_json,'$.item_display_typ_4')
	SET @item_title_4							=	JSON_VALUE(@P_json,'$.item_title_4')
	SET @item_display_typ_5						=	JSON_VALUE(@P_json,'$.item_display_typ_5')
	SET @item_title_5							=	JSON_VALUE(@P_json,'$.item_title_5')
	SET @weight_display_typ						=	JSON_VALUE(@P_json,'$.weight_display_typ')
	SET @challenge_level_display_typ			=	JSON_VALUE(@P_json,'$.challenge_level_display_typ')
	SET @progress_comment_display_typ			=	JSON_VALUE(@P_json,'$.progress_comment_display_typ')
	SET @detail_progress_comment_display_typ			=	JSON_VALUE(@P_json,'$.detail_progress_comment_display_typ')
	SET @evaluation_display_typ					=	JSON_VALUE(@P_json,'$.evaluation_display_typ')
	SET @detail_comment_display_typ_0			=	JSON_VALUE(@P_json,'$.detail_comment_display_typ_0')
	SET @detail_comment_display_typ_1			=	JSON_VALUE(@P_json,'$.detail_comment_display_typ_1')
	SET @detail_comment_display_typ_2			=	JSON_VALUE(@P_json,'$.detail_comment_display_typ_2')
	SET @detail_comment_display_typ_3			=	JSON_VALUE(@P_json,'$.detail_comment_display_typ_3')
	SET @detail_comment_display_typ_4			=	JSON_VALUE(@P_json,'$.detail_comment_display_typ_4')
	SET @total_score_display_typ				=	JSON_VALUE(@P_json,'$.total_score_display_typ')
	SET @point_criteria_display_typ				=	JSON_VALUE(@P_json,'$.point_criteria_display_typ')
	SET @challengelevel_criteria_display_typ	=	JSON_VALUE(@P_json,'$.challengelevel_criteria_display_typ')
	SET @self_assessment_comment_display_typ	=	JSON_VALUE(@P_json,'$.self_assessment_comment_display_typ')
	SET @evaluation_comment_display_typ			=	JSON_VALUE(@P_json,'$.evaluation_comment_display_typ')
	SET @arrange_order							=	JSON_VALUE(@P_json,'$.arrange_order')
	--
	SET @w_evaluation_self_typ						=	JSON_VALUE(@P_json,'$.evaluation_self_typ')
	SET @w_detail_self_progress_comment_display_typ	=	JSON_VALUE(@P_json,'$.detail_self_progress_comment_display_typ')
	SET @w_detail_self_progress_comment_title		=	JSON_VALUE(@P_json,'$.detail_self_progress_comment_title')
	SET @w_detail_progress_comment_title			=	JSON_VALUE(@P_json,'$.detail_progress_comment_title')
	SET @w_self_progress_comment_display_typ		=	JSON_VALUE(@P_json,'$.self_progress_comment_display_typ')
	SET @w_self_progress_comment_title				=	JSON_VALUE(@P_json,'$.self_progress_comment_title')
	SET @w_progress_comment_display_typ				=	JSON_VALUE(@P_json,'$.progress_comment_display_typ')
	SET @w_progress_comment_title					=	JSON_VALUE(@P_json,'$.progress_comment_title')
	--
	SET @sheet_cd_max = (SELECT ISNULL(MAX(sheet_cd),0) FROM M0200 WHERE company_cd = @P_company_cd)

	--VALIDATE item_display_typ_1, item_display_typ_2, item_display_typ_3, item_display_typ_4, item_display_typ_5
	IF (
		@item_display_typ_1 = 0 
	AND @item_display_typ_2 = 0
	AND @item_display_typ_3 = 0
	AND @item_display_typ_4 = 0
	AND @item_display_typ_5 = 0
	)
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			67								
		,	''										
		,	0-- oderby						
		,	2-- dialog  					
		,	0								
		,	0								
		,	'item_display_typ'					
		)
	END

	--VALIDATE goal_number
	IF (@goal_number = 0)
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			67								
		,	'#goal_number'										
		,	0-- oderby						
		,	0-- tooltip  					
		,	0								
		,	0								
		,	'goal_number'					
		)
	END
	--IF @challenge_level_display_typ  =  0 AND EXISTS(SELECT 1 FROM m0110 WHERE company_cd = @P_company_cd and del_datetime IS NULL) 
	--BEGIN
	--	INSERT INTO @ERR_TBL VALUES(		
	--		93								
	--	,	''										
	--	,	0-- oderby						
	--	,	2-- tooltip  					
	--	,	0								
	--	,	0								
	--	,	'challenge_level_display_typ'					
	--	)
	--END
	IF @challenge_level_display_typ  =  1 AND NOT EXISTS(SELECT 1 FROM m0110 WHERE company_cd = @P_company_cd and del_datetime IS NULL) 
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			94								
		,	''										
		,	0-- oderby						
		,	2-- tooltip  					
		,	0								
		,	0								
		,	'challenge_level_display_typ'					
		)
	END
	--
	IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
	BEGIN
		--
		IF EXISTS (SELECT 1 FROM M0200 WHERE company_cd = @P_company_cd AND sheet_cd = @sheet_cd AND del_datetime IS NULL)
		BEGIN
			--
			SET @upload_file = REPLACE(@P_upload_file,@P_cre_user,@sheet_cd)

			--
			UPDATE M0200
			SET
				sheet_nm								= 		@sheet_nm							
			,	sheet_ab_nm								= 		@sheet_ab_nm						
			,	category								= 		0								--category					
			,	evaluation_period						= 		@evaluation_period					
			,	point_kinds								= 		@point_kinds						
			,	point_calculation_typ1					= 		@point_calculation_typ1	
			,	point_calculation_typ2					= 		@point_calculation_typ2
			,	[evaluation_self_typ]					=		@w_evaluation_self_typ
			,	details_feedback_typ					= 		@details_feedback_typ				
			,	comments_feedback_typ					= 		@comments_feedback_typ				
			,	upload_file								= 		@upload_file					--@P_upload_file	
			,	upload_file_nm							= 		@upload_file_nm					--@P_upload_file_nm						
			,	goal_number								= 		@goal_number						
			,	generic_comment_display_typ_1			= 		@generic_comment_display_typ_1		
			,	generic_comment_title_1					= 		@generic_comment_title_1	
			,	generic_comment_1						= 		@generic_comment_1			
			,	generic_comment_display_typ_2			= 		@generic_comment_display_typ_2		
			,	generic_comment_title_2					= 		@generic_comment_title_2			
			,	generic_comment_2						= 		@generic_comment_2			
			,	generic_comment_display_typ_3			= 		@generic_comment_display_typ_3		
			,	generic_comment_title_3					= 		@generic_comment_title_3	
			--,	generic_comment_3						= 		@generic_comment_3					
			,	generic_comment_display_typ_4			= 		@generic_comment_display_typ_4		
			,	generic_comment_title_4					= 		@generic_comment_title_4	
			--,	generic_comment_4						= 		@generic_comment_4					
			,	generic_comment_display_typ_5			= 		@generic_comment_display_typ_5		
			,	generic_comment_title_5					= 		@generic_comment_title_5	
			--,	generic_comment_5						= 		@generic_comment_5		
			,	generic_comment_display_typ_6			= 		@generic_comment_display_typ_6		
			,	generic_comment_title_6					= 		@generic_comment_title_6
			,	generic_comment_display_typ_7			= 		@generic_comment_display_typ_7		
			,	generic_comment_title_7					= 		@generic_comment_title_7
			,	generic_comment_display_typ_8			= 		@generic_comment_display_typ_8		
			,	generic_comment_title_8					= 		@generic_comment_title_8	
			,	generic_comment_8						= 		@generic_comment_8	
			,	item_title_display_typ					= 		@item_title_display_typ					
			,	item_title_title						= 		@item_title_title		
			,	item_display_typ_1						= 		@item_display_typ_1					
			,	item_title_1							= 		@item_title_1						
			,	item_display_typ_2						= 		@item_display_typ_2					
			,	item_title_2							= 		@item_title_2						
			,	item_display_typ_3						= 		@item_display_typ_3					
			,	item_title_3							= 		@item_title_3						
			,	item_display_typ_4						= 		@item_display_typ_4					
			,	item_title_4							= 		@item_title_4						
			,	item_display_typ_5						= 		@item_display_typ_5					
			,	item_title_5							= 		@item_title_5
			--
			,	weight_display_typ						= 		@weight_display_typ					
			,	challenge_level_display_typ				= 		@challenge_level_display_typ
			,	[detail_self_progress_comment_display_typ]	=   @w_detail_self_progress_comment_display_typ
			,	detail_self_progress_comment_title		=		@w_detail_self_progress_comment_title
			,	detail_progress_comment_display_typ		= 		@detail_progress_comment_display_typ
			,	detail_progress_comment_title			=		@w_detail_progress_comment_title
			,	self_progress_comment_display_typ		=		@w_self_progress_comment_display_typ
			,	[self_progress_comment_title]			=		@w_self_progress_comment_title
			,	progress_comment_display_typ			= 		@progress_comment_display_typ
			,	progress_comment_title					=		@w_progress_comment_title
			,	evaluation_display_typ					= 		@evaluation_display_typ
			--
			,	detail_comment_display_typ_0			= 		@detail_comment_display_typ_0
			,	detail_comment_display_typ_1			= 		@detail_comment_display_typ_1
			,	detail_comment_display_typ_2			= 		@detail_comment_display_typ_2
			,	detail_comment_display_typ_3			= 		@detail_comment_display_typ_3
			,	detail_comment_display_typ_4			= 		@detail_comment_display_typ_4			
			,	total_score_display_typ					= 		@total_score_display_typ			
			,	point_criteria_display_typ				= 		@point_criteria_display_typ		
			,	challengelevel_criteria_display_typ		=		@challengelevel_criteria_display_typ	
			,	self_assessment_comment_display_typ		= 		@self_assessment_comment_display_typ
			,	evaluation_comment_display_typ			= 		@evaluation_comment_display_typ		
			,	arrange_order							= 		@arrange_order		
			,	upd_user								=		@P_cre_user	
			,	upd_ip									=		@P_cre_ip	
			,	upd_prg									=		'M0160'			
			,	upd_datetime							=		@w_time	
			FROM M0200
			WHERE 
				company_cd		=	@P_company_cd
			AND sheet_cd		=	@sheet_cd
			AND sheet_kbn		=	1
			AND del_datetime IS NULL
		END
		ELSE
		BEGIN
			--
			SET @upload_file = REPLACE(@P_upload_file,@P_cre_user,@sheet_cd_max+1)
			--
			INSERT INTO M0200
			SELECT 
				@P_company_cd								--company_cd
			,	@sheet_cd_max + 1							--sheet_cd
			,	1											--sheet_kbn
			,	@sheet_nm									--sheet_nm
			,	@sheet_ab_nm								--sheet_ab_nm
			,	0											--category
			,	@evaluation_period							--evaluation_period
			,	@point_kinds								--point_kinds
			,	@point_calculation_typ1						--point_calculation_typ1
			,	@point_calculation_typ2						--point_calculation_typ2
			,	@w_evaluation_self_typ--
			,	@details_feedback_typ						--details_feedback_typ
			,	@comments_feedback_typ						--comments_feedback_typ
			,	@upload_file								--upload_file
			,	@upload_file_nm								--upload_file_nm
			,	@goal_number								--goal_number
			,	@generic_comment_display_typ_1				--generic_comment_display_typ_1
			,	@generic_comment_title_1					--generic_comment_title_1
			,	@generic_comment_1							--generic_comment_1
			,	@generic_comment_display_typ_2				--generic_comment_display_typ_2
			,	@generic_comment_title_2					--generic_comment_title_2
			,	@generic_comment_2							--generic_comment_2
			,	@generic_comment_display_typ_3				--generic_comment_display_typ_3
			,	@generic_comment_title_3					--generic_comment_title_3
			,	@generic_comment_display_typ_4				--generic_comment_display_typ_4
			,	@generic_comment_title_4					--generic_comment_title_4
			,	@generic_comment_display_typ_5				--generic_comment_display_typ_5
			,	@generic_comment_title_5					--generic_comment_title_5
			,	@generic_comment_display_typ_6				--generic_comment_display_typ_6
			,	@generic_comment_title_6					--generic_comment_title_6
			,	@generic_comment_display_typ_7				--generic_comment_display_typ_7
			,	@generic_comment_title_7					--generic_comment_title_7
			,	@generic_comment_display_typ_8				--generic_comment_display_typ_8
			,	@generic_comment_title_8					--generic_comment_title_8
			,	@generic_comment_8							--generic_comment_8
			,	@item_title_display_typ						--item_title_display_typ
			,	@item_title_title							--item_title_title
			,	@item_display_typ_1							--item_display_typ_1
			,	@item_title_1								--item_title_1
			,	@item_display_typ_2							--item_display_typ_2
			,	@item_title_2								--item_title_2
			,	@item_display_typ_3							--item_display_typ_3
			,	@item_title_3								--item_title_3
			,	@item_display_typ_4							--item_display_typ_4
			,	@item_title_4								--item_title_4
			,	@item_display_typ_5							--item_display_typ_5
			,	@item_title_5								--item_title_5
			--
			,	@weight_display_typ							--weight_display_typ
			,	@challenge_level_display_typ				--challenge_level_display_typ
			,	@w_detail_self_progress_comment_display_typ
			,	@w_detail_self_progress_comment_title
			,	@detail_progress_comment_display_typ				--progress_comment_display_typ
			,	@w_detail_progress_comment_title
			,	@w_self_progress_comment_display_typ
			,	@w_self_progress_comment_title
			,	@progress_comment_display_typ				--progress_comment_display_typ
			,	@w_progress_comment_title
			,	@evaluation_display_typ						--evaluation_display_typ
			--
			,	@detail_comment_display_typ_0				--detail_comment_display_typ_0
			,	@detail_comment_display_typ_1				--detail_comment_display_typ_1
			,	@detail_comment_display_typ_2				--detail_comment_display_typ_2
			,	@detail_comment_display_typ_3				--detail_comment_display_typ_3
			,	@detail_comment_display_typ_4				--detail_comment_display_typ_4
			,	@total_score_display_typ					--total_score_display_typ
			,	@point_criteria_display_typ					--point_criteria_display_typ
			,	@challengelevel_criteria_display_typ		--challengelevel_criteria_display_typ						
			,	@self_assessment_comment_display_typ		--self_assessment_comment_display_typ						
			,	@evaluation_comment_display_typ				--evaluation_comment_display_typ						
			,	@arrange_order								--arrange_order						
			,	@P_cre_user									--cre_user						
			,	@P_cre_ip									--cre_ip						
			,	'M0160'										--cre_prg						
			,	@w_time										--cre_datetime						
			,	SPACE(0)									--upd_user						
			,	SPACE(0)									--upd_ip						
			,	SPACE(0)									--upd_prg						
			,	NULL										--upd_datetime						
			,	SPACE(0)									--del_user						
			,	SPACE(0)									--del_ip						
			,	SPACE(0)									--del_prg						
			,	NULL										--del_datetime						
			SET @sheet_cd = @sheet_cd_max + 1
		END

			-- UPDATE M0201
			UPDATE M0201 
			SET
				M0201.item_title = #M0201.item_title
			,	upd_user		 =	@P_cre_user									--upd_user						
			,	upd_ip			 =	@P_cre_ip									--upd_ip							
			,	upd_prg			 =	'M0160'										--upd_prg							
			,	upd_datetime	 =	@w_time										--upd_datetimee	
			,	del_user		 =	SPACE(0)									--del_user			
			,	del_ip			 =	SPACE(0)									--del_ip			
			,	del_prg			 =	SPACE(0)									--del_prg			
			,	del_datetime	 =	NULL										--del_datetime		
			FROM #M0201 
			INNER JOIN M0201 ON(
				#M0201.company_cd	=	M0201.company_cd
			AND @sheet_cd			=	M0201.sheet_cd
			AND #M0201.id			=	M0201.item_no
			)
			-- INSERT M0201
			INSERT M0201 
			SELECT
				@P_company_cd
			,	@sheet_cd
			,	#M0201.id
			,	#M0201.item_title
			,	''
			,	''
			,	''
			,	0
			,	@P_cre_user									--upd_user						
			,	@P_cre_ip									--upd_ip							
			,	'M0160'										--upd_prg							
			,	@w_time										--upd_datetimee	
			,	SPACE(0)									--del_user			
			,	SPACE(0)									--del_ip			
			,	SPACE(0)									--del_prg			
			,	NULL										--del_datetime		
			,	SPACE(0)									--del_user			
			,	SPACE(0)									--del_ip			
			,	SPACE(0)									--del_prg			
			,	NULL										--del_datetime		
			FROM #M0201 
			LEFT JOIN M0201 ON(
				#M0201.company_cd	=	M0201.company_cd
			AND @sheet_cd			=	M0201.sheet_cd
			AND #M0201.id			=	M0201.item_no
			)
			WHERE M0201.sheet_cd IS NULL


			-- DELETE M0201
			UPDATE M0201 
			SET
				del_user		 =	@P_cre_user										--del_user			
			,	del_ip			 =	@P_cre_ip										--del_ip			
			,	del_prg			 =	'M0160'											--del_prg			
			,	del_datetime	 =	@w_time											--del_datetime		
			FROM M0201  
			LEFT JOIN #M0201 ON(
					M0201.company_cd = #M0201.company_cd	
			AND 	M0201.sheet_cd	 = @sheet_cd			
			AND 	M0201.item_no	 = #M0201.id			
			)
			WHERE #M0201.company_cd IS NULL
			AND M0201.sheet_cd		= @sheet_cd	
			AND M0201.company_cd	 = @P_company_cd
	END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- INSERT STATEMENTS FOR PROCEDURE HERE
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	--[1]
	SELECT @sheet_cd AS sheet_cd
	--[2]
	SELECT @upload_file AS upload_file
END

GO