/****** Object:  StoredProcedure [dbo].[SPC_M0160_INQ1]    Script Date: 2018/09/17 14:32:00 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_M0160_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0020
-- EXEC SPC_M0160_INQ1 '9','1'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0100_商品登録
--*  
--*  作成日/create date			:	2018/08/16						
--*　作成者/creater				:	DatNT								
--*   					
--*  更新日/update date			:	2021/09/06
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	move item 進捗コメント
--*   					
--*  更新日/update date			:	2022/03/11
--*　更新者/updater				:　	vietdt
--*　更新内容/update content		:	cr add target_self_assessment_typ
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0160_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_sheet_cd					SMALLINT			=	0
,	@P_company_cd				SMALLINT			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@check_challenge_level			SMALLINT		=	0
	,	@total_generic_comment			INT				=	0
	,	@goal_number					INT				=	0
	--add by vietdt 2022/03/11
	,	@w_target_self_assessment_typ	SMALLINT		=	0
	-- 
	SET @total_generic_comment = (	SELECT	generic_comment_display_typ_1 + generic_comment_display_typ_2 
												+ generic_comment_display_typ_3 + generic_comment_display_typ_4 
												+ generic_comment_display_typ_5+ generic_comment_display_typ_6
												+ generic_comment_display_typ_7 + generic_comment_display_typ_8
										FROM M0200
										WHERE 
											M0200.company_cd	=	@P_company_cd
										AND M0200.sheet_cd		=	@P_sheet_cd
										AND M0200.sheet_kbn		=	1
										AND M0200.del_datetime IS NULL
									)
	SELECT 
		@goal_number = ISNULL(goal_number,1) 
	FROM M0200 
	WHERE 
		M0200.company_cd	= @P_company_cd 
	AND M0200.sheet_cd		= @P_sheet_cd 
	AND M0200.del_datetime IS NULL
	--[0]
	SELECT 
		ISNULL(M0200.company_cd,0)																	AS company_cd
	,	ISNULL(M0200.sheet_cd,0)																	AS sheet_cd
	,	ISNULL(M0200.sheet_kbn,0)																	AS sheet_kbn
	,	ISNULL(M0200.sheet_nm, '')																	AS sheet_nm
	,	ISNULL(M0200.sheet_ab_nm, '')																AS sheet_ab_nm
	,	ISNULL(M0200.category,0)																	AS category
	,	ISNULL(M0200.evaluation_period,0)															AS evaluation_period
	,	ISNULL(M0101.period_nm,'')																	AS period_nm
	,	ISNULL(M0200.point_kinds,0)																	AS point_kinds
	,	ISNULL(M0200.point_calculation_typ1,0)														AS point_calculation_typ1
	,	ISNULL(M0200.point_calculation_typ2,0)														AS point_calculation_typ2
	,	ISNULL(M0200.details_feedback_typ,0)														AS details_feedback_typ
	,	ISNULL(M0200.comments_feedback_typ,0)														AS comments_feedback_typ
	,	ISNULL(M0200.upload_file, '')																AS upload_file
	,	ISNULL(M0200.upload_file_nm, '')															AS upload_file_nm
	,	ISNULL(M0200.goal_number,0)																	AS goal_number
	,	ISNULL(M0200.generic_comment_display_typ_1,0)												AS generic_comment_display_typ_1
	,	ISNULL(M0200.generic_comment_title_1,'')													AS generic_comment_title_1
	,	ISNULL(M0200.generic_comment_1,'')															AS generic_comment_1
	,	ISNULL(M0200.generic_comment_display_typ_2,0)												AS generic_comment_display_typ_2
	,	ISNULL(M0200.generic_comment_title_2,'')													AS generic_comment_title_2
	,	ISNULL(M0200.generic_comment_2,'')															AS generic_comment_2
	,	ISNULL(M0200.generic_comment_display_typ_3,0)												AS generic_comment_display_typ_3
	,	ISNULL(M0200.generic_comment_title_3,'')													AS generic_comment_title_3
	,	ISNULL(M0200.generic_comment_display_typ_4,0)												AS generic_comment_display_typ_4
	,	ISNULL(M0200.generic_comment_title_4,'')													AS generic_comment_title_4
	,	ISNULL(M0200.generic_comment_display_typ_5,0)												AS generic_comment_display_typ_5
	,	ISNULL(M0200.generic_comment_title_5,'')													AS generic_comment_title_5
	,	ISNULL(M0200.generic_comment_display_typ_6,0)												AS generic_comment_display_typ_6
	,	ISNULL(M0200.generic_comment_title_6,'')													AS generic_comment_title_6
	,	ISNULL(M0200.generic_comment_display_typ_7,0)												AS generic_comment_display_typ_7
	,	ISNULL(M0200.generic_comment_title_7,'')													AS generic_comment_title_7
	,	ISNULL(M0200.generic_comment_display_typ_8,0)												AS generic_comment_display_typ_8
	,	ISNULL(M0200.generic_comment_title_8,'')													AS generic_comment_title_8
	,	ISNULL(M0200.generic_comment_8,'')															AS generic_comment_8
	,	ISNULL(M0200.item_title_display_typ,0)														AS item_title_display_typ
	,	ISNULL(M0200.item_title_title,'')															AS item_title_title
	,	ISNULL(M0200.item_display_typ_1,0)															AS item_display_typ_1
	,	ISNULL(M0200.item_title_1,'')																AS item_title_1
	,	ISNULL(M0200.item_display_typ_2,0)															AS item_display_typ_2
	,	ISNULL(M0200.item_title_2,'')																AS item_title_2
	,	ISNULL(M0200.item_display_typ_3,0)															AS item_display_typ_3
	,	ISNULL(M0200.item_title_3,'')																AS item_title_3
	,	ISNULL(M0200.item_display_typ_4,0)															AS item_display_typ_4
	,	ISNULL(M0200.item_title_4,'')																AS item_title_4
	,	ISNULL(M0200.item_display_typ_5,0)															AS item_display_typ_5
	,	ISNULL(M0200.item_title_5,'')																AS item_title_5
	,	ISNULL(M0200.weight_display_typ,0)															AS weight_display_typ
	,	ISNULL(M0200.challenge_level_display_typ,0)													AS challenge_level_display_typ
	,	ISNULL(M0200.detail_progress_comment_display_typ,0)											AS detail_progress_comment_display_typ
	,	ISNULL(M0200.progress_comment_display_typ,0)												AS progress_comment_display_typ
	,	ISNULL(M0200.evaluation_display_typ,0)														AS evaluation_display_typ
	,	ISNULL(M0200.detail_comment_display_typ_0,0)												AS detail_comment_display_typ_0
	,	ISNULL(M0200.detail_comment_display_typ_1,0)												AS detail_comment_display_typ_1
	,	ISNULL(M0200.detail_comment_display_typ_2,0)												AS detail_comment_display_typ_2
	,	ISNULL(M0200.detail_comment_display_typ_3,0)												AS detail_comment_display_typ_3
	,	ISNULL(M0200.detail_comment_display_typ_4,0)												AS detail_comment_display_typ_4
	,	ISNULL(M0200.total_score_display_typ,0)														AS total_score_display_typ
	,	ISNULL(M0200.point_criteria_display_typ,0)													AS point_criteria_display_typ
	,	ISNULL(M0200.challengelevel_criteria_display_typ,0)											AS challengelevel_criteria_display_typ
	,	ISNULL(M0200.self_assessment_comment_display_typ,0)											AS self_assessment_comment_display_typ
	,	ISNULL(M0200.evaluation_comment_display_typ,0)												AS evaluation_comment_display_typ
	,	ISNULL(M0200.arrange_order,0)																AS arrange_order
	,	100 - (7/1.5- @total_generic_comment/1.5)*15												AS count_with_1
	,	(
			challengelevel_criteria_display_typ 
		+	point_criteria_display_typ)																AS count_with_3
	,	(
			self_assessment_comment_display_typ 
		+	evaluation_comment_display_typ
		+	progress_comment_display_typ
		)																							AS count_with_4
	,	(
			item_title_display_typ
		+	item_display_typ_1 
		+	item_display_typ_2 
		+	item_display_typ_3 
		+	item_display_typ_4 
		+	item_display_typ_5 
		+	weight_display_typ							-- ウェイト
		+	challenge_level_display_typ					-- 難易度
		+	detail_progress_comment_display_typ			-- 進捗コメント		add by viettd 2021/09/06
		)												AS col_span
	,	CASE 
			WHEN ISNULL(M0200.upload_file,'') <> ''
			THEN '/uploads/m0160/'+CONVERT(NVARCHAR(10),M0200.company_cd)+'/'+ISNULL(M0200.upload_file,'')	
			ELSE ''
		END																							AS file_adress
	,	ISNULL(M0200.evaluation_comment_display_typ,0)												AS evaluation_comment_display_typ
	,	ISNULL(M0200.evaluation_self_typ, 0)														AS evaluation_self_typ
	,	ISNULL(M0200.detail_self_progress_comment_display_typ, 0)									AS detail_self_progress_comment_display_typ
	,	ISNULL(M0200.detail_self_progress_comment_title, '')										AS detail_self_progress_comment_title
	,	ISNULL(M0200.detail_progress_comment_title, '')												AS detail_progress_comment_title
	,	ISNULL(M0200.self_progress_comment_display_typ, 0)											AS self_progress_comment_display_typ
	,	ISNULL(M0200.self_progress_comment_title, 0)												AS self_progress_comment_title
	,	ISNULL(M0200.progress_comment_title, 0)														AS progress_comment_title
	FROM M0200
	LEFT JOIN M0101 ON (
		M0200.company_cd			=	M0101.company_cd
	AND M0200.evaluation_period		=	M0101.detail_no
	AND M0101.del_datetime IS NULL
	)
	WHERE 
		M0200.company_cd	=	@P_company_cd
	AND M0200.sheet_cd		=	@P_sheet_cd
	AND M0200.sheet_kbn		=	1
	AND M0200.del_datetime IS NULL

	--[1]
	IF EXISTS(SELECT 1 FROM M0110 WHERE del_datetime IS NULL AND company_cd = @P_company_cd)
	BEGIN
		SET @check_challenge_level = 1
	END
	ELSE
	BEGIN
		SET @check_challenge_level = 0
	END
	--add by vietdt 2022/03/11
	SET @w_target_self_assessment_typ = (SELECT ISNULL(target_self_assessment_typ,0) FROM M0100 WHERE del_datetime IS NULL AND company_cd = @P_company_cd)
	--
	SELECT 
		@check_challenge_level			AS check_challenge_level
	,	@w_target_self_assessment_typ	AS target_self_assessment_typ
	--[2]
	SELECT 
		company_cd
	,	sheet_cd
	,	item_no
	,	item_title
	FROM M0201 
	WHERE company_cd = @P_company_cd
	AND sheet_cd = @P_sheet_cd
	AND del_datetime IS NULL
	ORDER BY item_no
	--[3]
	EXEC SPC_M0160_LST2 @P_company_cd,@goal_number,@P_sheet_cd
END
GO
