.table-data{
    /* height: 66vh; */
    overflow-y: auto;
    overflow-x: visible;
}
.justify-content-md-center {
    justify-content :center;
}
@-moz-document url-prefix(){
    .table-data{
        height: 60vh;
        overflow-x: hidden;
    }
    .height100td{
        max-height: 60vh;
    }
}

.fixed-header{
    margin-bottom: 0px !important;
}

.table-data{
    margin-bottom: 15px;
}

.tooltip{
    z-index:9999 !important;
}

.height100td{
    height: 65vh;
}

#result{
    overflow-y: hidden;
}

#btn-reflect{
    padding-left: 15px;
    padding-right: 15px;
}


.div-reflect{
    display: flex;
    justify-content: flex-end;
}

#reflect{
    width: 189px;
    margin-left: 10px;
}
.md-checkbox-v2 input[type="checkbox"]:checked+label {
    color: #3598DB;
    white-space: unset !important;
}

/*=========*/
@media (min-width: 768px) and (max-width: 1366px) {
    .col-ltx-3{
        max-width: 30%;
        display: flex;
        justify-content: center;
    }
    .col-ltx-7{
        max-width: 70%;
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width: 1700px) and (max-width: 1900px){
    .checkbox-div {
        min-width: 19%;
    }
}
@media (min-width: 1260px) and (max-width: 1669px){
    .checkbox-div {
        min-width: 32%;
    }
}
/* new */
#table-organization ul {
    list-style: none;
    padding: 0;
}
.ck-inline {
    width: 100%;
    height: 35px;
}
.ck-inline div.md-checkbox-v2 {
    text-align: center;
}
.ck-inline label {
    margin-bottom: 0;
}
.ck-inline td {
    border: 1px solid #dee2e6;
}
.ck-inline td:first-child {
    width: 40px;
}
.lv1 td:last-child {
    text-align: center;
}
.lv1,.lv2,.lv3,.lv4,.lv5 {
    display: inherit;
    margin-top: -1px;
    color: black;
    cursor: inherit;
}
.lv1:hover,.lv2:hover,.lv3:hover,.lv4:hover,.lv5:hover {
    color: black;
    text-decoration: none;
}
#table-organization > ul > li:first-child > a {
    margin-top: 0px !important;
}
.lv1 {
    background: #eaebee;
}
.lv3 {
    padding-left: 40px;
}
.lv4 {
    padding-left: 80px;
}
.lv5 {
    padding-left: 120px;
}
.lv2 td:last-child,
.lv3 td:last-child,
.lv4 td:last-child,
.lv5 td:last-child {
    padding: 0 10px;
}
.li-lv2 {
    border-left: 1px solid #dee2e6;
}
.td1-level1 {
    width: 41px !important;
}
.td1-level2 {
    border-left: 0 !important;
}
.checkbox-set.container {
    padding-left:unset !important;
}
.checkbox-set .checkmark {
    position: absolute;
    top: -14px;
    left: 9px;
    height: 18px;
    width: 19px;
    background-color: white;
    border: 1px solid #d0d6da;
}
@media (max-width: 575px) {
	#table-data {
	  min-width: 1000px !important;
	}
	#leftcontent > .inner, #rightcontent > .inner {
		min-height: unset !important;
		height: unset !important;
    }
    .div-reflect {
        justify-content :unset !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
	#table-data {
		min-width: 1100px !important;
	}
	#leftcontent > .inner, #rightcontent > .inner {
		min-height: unset !important;
		height: unset !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#table-data {
		min-width: 1200px !important;
    }
    .div-reflect {
        justify-content :unset !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
	#table-data {
		min-width: 1300px !important;
    }
    .div-reflect {
        justify-content :unset !important;
    }
}
@media (min-width: 320px) and (max-width: 387px) {
	#table-data {
		min-width: 1300px !important;
    }
    .div-reflect {
        display: unset !important;
    }
    #reflect {
        margin-left: unset !important;
    }
    .header-left-function h5 {
        font-size: 16px !important;
    }
}
@media(min-width:1069px) and (max-width:1424px){
    .div-reflect {
        justify-content: unset
    }
}
@media (min-width: 1425px){
    .ln-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
 
}
@media(max-width:1061px){
    .ln-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
h5 {
    min-width: 330px;
}
@media (max-width: 1600px)  and (min-width:1424px){
    #text__function__authority {
        max-width: 180px;
    }
}