.chechbox-width {
	max-width: 280px;
	min-width: 280px;
}
.input-group-btn .form-control {
    padding-right: 0.5rem !important;
}
.check-box-disabled {
	background-color: #ccc;
}
/*  */


@media  (min-width:1200px) and (max-width:1386px) {
	.ln-xl-3{
		flex: 0 0 21%;
		max-width: 21%;
	}
	.ln-xl-2{
		flex: 0 0 20.666667%;
		max-width: 20.666667%;
	}
}

@media  ((min-width: 768px)) and (max-width:996px) {
	.ln-md-3{
	
	}
	.ln-md-4{
	    flex: 0 0 27%;
        max-width: 27%;
	}
	.ln-md-5{
	    flex: 0 0 31.333333%;
       max-width: 31.333333%;
	} 
}