DROP PROCEDURE [SPC_M0001_INQ2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0001
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	[SPC_M0001_INQ2]_GET DATA POPUP
--*  
--* 作成日/create date			:	2021/12/13											
--*	作成者/creater				:	VIETDT						
--*   					 
--*	更新日/update date			:						
--*	更新者/updater				:								     	 
--*	更新内容/update content		:	
--****************************************************************************************

CREATE PROCEDURE [dbo].[SPC_M0001_INQ2]
	-- Add the parameters for the stored procedure here	
	@P_company_cd				SMALLINT		= 0
AS
BEGIN
	SET NOCOUNT ON;
	--[0]
	SELECT 
		ISNULL(S0010.user_id,'')		AS	user_id	
	,	ISNULL(S0010.password,'')		AS 	password	
	,	ISNULL(S0010.sso_user,'')		AS 	sso_user	
	FROM S0010
	WHERE
		S0010.company_cd				=	@P_company_cd
	AND	S0010.authority_typ				=	4
	AND	S0010.del_datetime	IS NULL
END
GO
