DROP PROCEDURE [SPC_M0001_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0001
--  
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0100
--*  
--*  作成日/create date			:	2018/09/04						
--*　作成者/creater				:	Longvv								
--*   				
--*  更新日/update date			:  2023/03/29
--*　更新者/updater				:　namnt
--*　更新内容/update content		:	ver2.0
--****************************************************************************************
CREATE PROCEDURE [SPC_M0001_INQ1]
	@P_company_cd	smallint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE 
		@P_kot_client_secret		NVARCHAR(255)	=	''
	,	@P_kot_client_id			NVARCHAR(255)	=	''
	SELECT TOP 1
		@P_kot_client_secret	=	S0001.kot_client_secret
	,	@P_kot_client_id		=	S0001.kot_client_id
	FROM S0001
	WHERE
		S0001.del_datetime IS NULL
    -- [0] M0001
	SELECT
		company_cd			
	,	company_nm			
	,	company_ab_nm			
	,	IIF((M0001.zip_cd != NULL OR M0001.zip_cd !=''),(LEFT(M0001.zip_cd,3)+'-'+RIGHT(M0001.zip_cd,4)),'')	AS zip_cd		
	,	address1			
	,	address2			
	,	address3			
	,	tel			
	,	fax			
	,	incharge_nm	
	--
	,	evaluation_use_typ	
	,	evaluation_contract_attribute					
	,	CONVERT(NVARCHAR(10),evaluation_use_start_dt,111) AS evaluation_use_start_dt			
	,	CONVERT(NVARCHAR(10),evaluation_user_end_dt,111) AS evaluation_user_end_dt	
	--
	,	[1on1_use_typ]				AS oneonone_use_typ			
	,	[1on1_contract_attribute]	AS oneonone_contract_attribute				
	,	CONVERT(NVARCHAR(10),[1on1_use_start_dt],111) AS [oneonone_use_start_dt]			
	,	CONVERT(NVARCHAR(10),[1on1_user_end_dt],111) AS  [oneonone_user_end_dt]		
	--
	,	multireview_use_typ
	,	multireview_contract_attribute					
	,	CONVERT(NVARCHAR(10),multireview_use_start_dt,111) AS multireview_use_start_dt			
	,	CONVERT(NVARCHAR(10),multireview_user_end_dt,111) AS multireview_user_end_dt		
	--
	,	report_use_typ
	,	report_contract_attribute					
	,	CONVERT(NVARCHAR(10),report_use_start_dt,111) AS report_use_start_dt			
	,	CONVERT(NVARCHAR(10),report_user_end_dt,111) AS report_user_end_dt		
	,	contract_cd			
	,	cooperation_typ	
	,	SSO_use_typ	
	,	SSO_typ		
	--,	SSO_URL				
	,	SSO_sp_NameIDFormat			
	,	SSO_sp_x509cert				
	,	SSO_sp_privateKey			
	,	SSO_sp_entityId				
	,	SSO_sp_singleLogoutService	
	,	SSO_idp_entityId			
	,	SSO_idp_singleSignOnService	
	,	SSO_idp_singleLogoutService	
	,	SSO_idp_x509cert			
	,	billing_to_typ			
	,	destination_nm			
	,	Billing_incharge_nm			
	,	IIF((M0001.Billing_zip_cd != NULL OR M0001.Billing_zip_cd !=''),(LEFT(M0001.Billing_zip_cd,3)+'-'+RIGHT(M0001.Billing_zip_cd,4)),'')	AS Billing_zip_cd		
	,	Billing_address1			
	,	Billing_address2			
	,	Billing_address3			
	,	Billing_tel	
	,	api_use_typ				
	,	api_office_cd			
	,	api_office_nm			
	,	api_employee_use		
	,	api_position_use		
	,	api_organization_use	
	,	CASE WHEN 	SSO_use_typ = 1 
			THEN 'lb-required'
			ELSE ''
			END								AS sso_label
	,	CASE WHEN 	SSO_use_typ = 1 
			THEN 'required'
			ELSE ''
			END								AS sso_input
	,	CASE WHEN 	api_use_typ = 1 
			THEN 'lb-required'
			ELSE ''
			END								AS api_label
	,	CASE WHEN 	api_use_typ = 1 
			THEN 'required'
			ELSE ''
			END								AS api_input
	,	ISNULL(marcopolo_use_typ,0) AS marcopolo_use_typ
	,	kot_api_use_typ
	,	@P_kot_client_id AS kot_client_id
	,	@P_kot_client_secret AS kot_client_secret
	,	kot_api_employee_use
	,	kot_api_organization_use
	,	kot_api_employee_typ_use
	,	kot_api_employee_get	
	FROM M0001
	WHERE
		company_cd		=	@P_company_cd
	AND	del_datetime	IS NULL
	-- [1] M0002
	SELECT
		ISNULL(M0002.company_cd,0)		AS	company_cd	
	,	ISNULL(M0002.detail_no,0)		AS 	detail_no
	,	ISNULL(M0002.incharge_cd,0)		AS	incharge_cd	
	,	ISNULL(M0070.employee_nm,'')	AS	employee_nm		
	FROM M0002
	LEFT OUTER JOIN M0070 WITH(NOLOCK) ON(
		M0002.incharge_cd	=	M0070.employee_cd
	AND	1					=	M0070.company_cd
	AND	M0070.del_datetime	IS NULL	
	)
	WHERE
		M0002.company_cd		=	@P_company_cd
	AND	M0002.del_datetime	IS NULL
	-- [2] S0010
	SELECT
		ISNULL(S0010.user_id,'')		AS	user_id	
	,	ISNULL(S0010.password,'')		AS 	password	
	,	ISNULL(S0010.sso_user,'')		AS 	sso_user	
	FROM S0010
	WHERE
		S0010.company_cd		=	@P_company_cd
	AND	S0010.authority_typ		=	4
	AND	S0010.del_datetime		IS NULL
END

GO
