DROP PROCEDURE [SPC_M0001_LST1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0001
-- EXEC [SPC_M0001_INQ1] '1'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0100
--*  
--*  作成日/create date			:	2018/09/04						
--*　作成者/creater				:	Longvv								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0001_LST1]
	@P_search_key		nvarchar(200)
,	@P_current_page		smallint
,	@P_page_size		smallint
,	@P_company_cd		smallint
AS
BEGIN
	SET NOCOUNT ON;

    -- do stuff
	DECLARE
		@totalRecord		bigint		= 0
	,	@pageNumber			int			= 0
	,	@Max_company_cd		INT			= 0
	CREATE TABLE #RESULT (
		id				int identity(1, 1)
	,	company_cd		smallint
	,	company_nm		nvarchar(50)
	)

	INSERT INTO #RESULT
	SELECT
		company_cd
	,	company_nm
	FROM M0001
	WHERE
		--company_cd	<>	1
		del_datetime IS NULL
	AND	(@P_search_key = '' OR company_nm LIKE '%' + @P_search_key + '%' OR company_ab_nm LIKE '%' + @P_search_key + '%')
	ORDER BY 
		company_cd ASC
	--[0] get result
	SELECT
		company_cd
	,	company_nm
	FROM #RESULT
	ORDER BY 
		company_cd ASC 
	OFFSET (@P_current_page-1) * @P_page_size ROWS
	FETCH NEXT @P_page_size ROWS ONLY

	--[1]
	SET @totalRecord = (SELECT COUNT(*) FROM #RESULT)
	SET @pageNumber = CEILING(CAST(@totalRecord AS FLOAT) / @P_page_size)
	SELECT @totalRecord AS totalRecord, @pageNumber AS pageMax, @P_current_page AS [page], @P_page_size AS pagesize

	--[2]
	SET @Max_company_cd =	ISNULL((SELECT MAX(company_cd) FROM M0001),0)
	SELECT 	IIF(@Max_company_cd < 100,100,(@Max_company_cd+1)) AS max_company_cd
	-- clean
	DROP TABLE #RESULT
END


GO