DROP PROCEDURE [SPC_M0001_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_M0001_ACT1 '{"company_cd":"807","company_nm":"Vi\u1ec7t Nam V\u00f4 \u0110\u1ecbch","company_ab_nm":"Team Vi\u1ec7t Nam kiki","zip_cd":"104-003","address1":"\u6771\u4eac\u90fd\u4e2d\u592e\u533a\u65b0\u5ddd","address2":"","address3":"","tel":"","fax":"","incharge_nm":"","contract_company_attribute":"","use_start_dt":"1900\/01\/01","user_end_dt":"2018\/09\/04","contract_cd":"807","cooperation_typ":"0","billing_to_typ":"0","destination_nm":"","Billing_incharge_nm":"","Billing_zip_cd":"","Billing_address1":"","Billing_address2":"","Billing_address3":"","Billing_tel":"","table_m0002":[{"detail_no":"1","incharge_cd":"833"},{"detail_no":"2","incharge_cd":"1"},{"detail_no":"","incharge_cd":"111"},{"detail_no":"","incharge_cd":""}]}','1','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/09/05											
--*	作成者/creater				:	Longvv						
--*   					
--*	更新日/update date			:  	2023/03/29			 		
--*	更新者/updater				:　 namnt 　								     	 
--*	更新内容/update content		:	ver2.0　	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0001_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)	= ''
,	@P_cre_user		NVARCHAR(50)	= ''
,	@P_cre_ip		NVARCHAR(50)	= ''
--,	@P_company_cd	INT				= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time								DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL							ERRTABLE	
	,	@order_by_min						INT					=	0
	,	@max_detail_no						SMALLINT			=	0
	,	@Max_company_cd						SMALLINT			=	0	
	,	@company_cd							SMALLINT			=	-1
	,	@P_company_cd						SMALLINT			=	-1								
	,	@P_company_nm						NVARCHAR(50)		=	''								
	,	@P_company_ab_nm					NVARCHAR(20)		=	''		
	,	@P_zip_cd							NVARCHAR(7)			=	''									
	,	@P_address1							NVARCHAR(100)		=	''								
	,	@P_address2							NVARCHAR(100)		=	''							
	,	@P_address3							NVARCHAR(100)		=	''							
	,	@P_tel								NVARCHAR(20)		=	''							
	,	@P_fax								NVARCHAR(20)		=	''							
	,	@P_incharge_nm						NVARCHAR(30)		=	''		
	-- ver 1.7
	,	@evaluation_use_typ					SMALLINT			=	0	
	,	@evaluation_contract_attribute		SMALLINT			=	0	
	,	@evaluation_use_start_dt        	DATE				=	NULL
	,	@evaluation_user_end_dt         	DATE				=	NULL
	,	@oneonone_use_typ					SMALLINT			=	0	
	,	@oneonone_contract_attribute    	SMALLINT			=	0	
	,	@oneonone_use_start_dt         		DATE				=	NULL
	,	@oneonone_user_end_dt         		DATE				=	NULL
	,	@multireview_use_typ				SMALLINT			=	0	
	,	@multireview_contract_attribute		SMALLINT			=	0	
	,	@multireview_use_start_dt      		DATE				=	NULL
	,	@multireview_user_end_dt       		DATE				=	NULL
	,	@report_use_typ						SMALLINT			=	0	
	,	@report_contract_attribute			SMALLINT			=	0	
	,	@report_use_start_dt      			DATE				=	NULL
	,	@report_user_end_dt       			DATE				=	NULL
	--
	,	@P_contract_cd						NVARCHAR(10)		=	''									
	,	@P_cooperation_typ					TINYINT				=	0									
	,	@P_billing_to_typ					TINYINT				=	0											
	,	@P_destination_nm					NVARCHAR(50)		=	''												
	,	@P_Billing_incharge_nm				NVARCHAR(30)		=	''													
	,	@P_Billing_zip_cd					NVARCHAR(7)			=	''												
	,	@P_Billing_address1					NVARCHAR(100)		=	''												
	,	@P_Billing_address2					NVARCHAR(100)		=	''												
	,	@P_Billing_address3					NVARCHAR(100)		=	''												
	,	@P_Billing_tel						NVARCHAR(30)		=	''		
	,	@P_SSO_use_typ						TINYINT				=	0		
	,	@P_SSO_typ							SMALLINT			=	0		
	--,	@P_SSO_URL							NVARCHAR(255)		=	''		
	,	@P_sp_NameIDFormat					NVARCHAR(255)		=	''
	,	@P_sp_x509cert            			NVARCHAR(MAX)		=	''
	,	@P_sp_privateKey          			NVARCHAR(255)		=	''
	,	@P_sp_entityId            			NVARCHAR(255)		=	''
	,	@P_sp_singleLogoutService 			NVARCHAR(255)		=	''
	,	@P_idp_entityId           			NVARCHAR(255)		=	''
	,	@P_idp_singleSignOnService			NVARCHAR(255)		=	''
	,	@P_idp_singleLogoutService			NVARCHAR(255)		=	''
	,	@P_idp_x509cert           			NVARCHAR(MAX)		=	''
	--	API
	,	@api_use_typ						TINYINT				=	0
	,	@api_office_cd       				NVARCHAR(255)		=	''
	,	@api_office_nm       				NVARCHAR(255)		=	''
	,	@api_employee_use     				NVARCHAR(255)		=	''
	,	@api_position_use					TINYINT				=	0
	,	@api_organization_use				TINYINT				=	0
	,	@marcopolo_use_typ					SMALLINT			=	0		
	--
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		-- assign
		SET	@P_company_cd						=	IIF(JSON_VALUE(@P_json,'$.company_cd')='',-1,JSON_VALUE(@P_json,'$.company_cd'))       
		SET	@P_company_nm						=	JSON_VALUE(@P_json,'$.company_nm')
		SET	@P_company_ab_nm					=	JSON_VALUE(@P_json,'$.company_ab_nm')    
		SET	@P_zip_cd							=	REPLACE(JSON_VALUE(@P_json,'$.zip_cd'), '-', '')
		SET	@P_address1							=	JSON_VALUE(@P_json,'$.address1')    
		SET	@P_address2							=	JSON_VALUE(@P_json,'$.address2')    
		SET	@P_address3							=	JSON_VALUE(@P_json,'$.address3')         
		SET	@P_tel								=	JSON_VALUE(@P_json,'$.tel') 
		SET	@P_fax								=	JSON_VALUE(@P_json,'$.fax')           
		SET	@P_incharge_nm						=	JSON_VALUE(@P_json,'$.incharge_nm')           
					
		SET	@evaluation_use_typ					=	JSON_VALUE(@P_json,'$.evaluation_use_typ') 
		SET	@evaluation_contract_attribute		=	JSON_VALUE(@P_json,'$.evaluation_contract_attribute') 
		SET	@evaluation_use_start_dt			=	IIF(JSON_VALUE(@P_json,'$.evaluation_use_start_dt') = '' ,NULL,JSON_VALUE(@P_json,'$.evaluation_use_start_dt')) 
		SET	@evaluation_user_end_dt				=	IIF(JSON_VALUE(@P_json,'$.evaluation_user_end_dt') = '' ,NULL,JSON_VALUE(@P_json,'$.evaluation_user_end_dt'))   
		SET	@oneonone_use_typ					=	JSON_VALUE(@P_json,'$.oneonone_use_typ') 
		SET	@oneonone_contract_attribute    	=	JSON_VALUE(@P_json,'$.oneonone_contract_attribute') 
		SET	@oneonone_use_start_dt				=	IIF(JSON_VALUE(@P_json,'$.oneonone_use_start_dt') = '' ,NULL,JSON_VALUE(@P_json,'$.oneonone_use_start_dt'))    	
		SET	@oneonone_user_end_dt         		=	IIF(JSON_VALUE(@P_json,'$.oneonone_user_end_dt') = '' ,NULL,JSON_VALUE(@P_json,'$.oneonone_user_end_dt'))   
		SET	@multireview_use_typ				=	JSON_VALUE(@P_json,'$.multireview_use_typ') 
		SET	@multireview_contract_attribute		=	JSON_VALUE(@P_json,'$.multireview_contract_attribute') 
		SET	@multireview_use_start_dt      		=	IIF(JSON_VALUE(@P_json,'$.multireview_use_start_dt') = '' ,NULL,JSON_VALUE(@P_json,'$.multireview_use_start_dt')) 
		SET	@multireview_user_end_dt       		=	IIF(JSON_VALUE(@P_json,'$.multireview_user_end_dt') = '' ,NULL,JSON_VALUE(@P_json,'$.multireview_user_end_dt'))   
		SET	@report_use_typ						=	JSON_VALUE(@P_json,'$.report_use_typ') 
		SET	@report_contract_attribute			=	JSON_VALUE(@P_json,'$.report_contract_attribute') 
		SET	@report_use_start_dt      			=	IIF(JSON_VALUE(@P_json,'$.report_use_start_dt') = '' ,NULL,JSON_VALUE(@P_json,'$.report_use_start_dt')) 
		SET	@report_user_end_dt       			=	IIF(JSON_VALUE(@P_json,'$.report_user_end_dt') = '' ,NULL,JSON_VALUE(@P_json,'$.report_user_end_dt'))   
		
		SET	@P_contract_cd						=	IIF(JSON_VALUE(@P_json,'$.contract_cd') = '' ,NULL,JSON_VALUE(@P_json,'$.contract_cd'))                   
		SET	@P_cooperation_typ					=	JSON_VALUE(@P_json,'$.cooperation_typ')        
		SET	@P_billing_to_typ					=	JSON_VALUE(@P_json,'$.billing_to_typ')
		SET	@P_destination_nm					=	JSON_VALUE(@P_json,'$.destination_nm')    
		SET	@P_Billing_incharge_nm				=	JSON_VALUE(@P_json,'$.Billing_incharge_nm')              
		SET	@P_Billing_zip_cd					=	REPLACE(JSON_VALUE(@P_json,'$.Billing_zip_cd'), '-', '')        
		SET	@P_Billing_address1					=	JSON_VALUE(@P_json,'$.Billing_address1')
		SET	@P_Billing_address2					=	JSON_VALUE(@P_json,'$.Billing_address2')
		SET	@P_Billing_address3					=	JSON_VALUE(@P_json,'$.Billing_address3')              
		SET	@P_Billing_tel						=	JSON_VALUE(@P_json,'$.Billing_tel') 
		SET	@P_SSO_use_typ						=	JSON_VALUE(@P_json,'$.SSO_use_typ')
		SET	@P_SSO_typ							=	JSON_VALUE(@P_json,'$.SSO_typ')
		--API
		SET @api_use_typ						=	ISNULL(JSON_VALUE(@P_json,'$.api_use_typ'),0)
		SET @api_office_cd       				=	ISNULL(JSON_VALUE(@P_json,'$.api_office_cd'),SPACE(0))
		SET @api_office_nm						=	ISNULL(JSON_VALUE(@P_json,'$.api_office_nm'),SPACE(0))
		SET @api_employee_use     				=	ISNULL(JSON_VALUE(@P_json,'$.api_employee_use'),0)
		SET @api_position_use					=	ISNULL(JSON_VALUE(@P_json,'$.api_position_use'),0)
		SET @api_organization_use				=	ISNULL(JSON_VALUE(@P_json,'$.api_organization_use'),0)
		SET @marcopolo_use_typ					=	ISNULL(JSON_VALUE(@P_json,'$.marcopolo_use_typ'),0)
		--SET	@P_SSO_URL		            		=	JSON_VALUE(@P_json,'$.SSO_URL')
		IF @P_SSO_use_typ = 1
		BEGIN
			SET @P_sp_NameIDFormat					=	JSON_VALUE(@P_json,'$.sp_NameIDFormat')
			SET @P_sp_x509cert             			=	JSON_VALUE(@P_json,'$.sp_x509cert')
			SET @P_sp_privateKey           			=	JSON_VALUE(@P_json,'$.sp_privateKey')
			SET @P_sp_entityId            			=	JSON_VALUE(@P_json,'$.sp_entityId')
			SET @P_sp_singleLogoutService  			=	JSON_VALUE(@P_json,'$.sp_singleLogoutService')
			SET @P_idp_entityId           			=	JSON_VALUE(@P_json,'$.idp_entityId')
			SET @P_idp_singleSignOnService 			=	JSON_VALUE(@P_json,'$.idp_singleSignOnService')
			SET @P_idp_singleLogoutService			=	JSON_VALUE(@P_json,'$.idp_singleLogoutService')
			SET @P_idp_x509cert            			=	JSON_VALUE(@P_json,'$.idp_x509cert')
		END
		-- CREATE TABLE #TEMP_M0002_INSERT
		CREATE TABLE #TEMP_M0002_INSERT (
			id				INT			IDENTITY(1,1)	
		,	detail_no		SMALLINT
		,	incharge_cd		NVARCHAR(10)
		)
		--
		INSERT INTO #TEMP_M0002_INSERT
		SELECT
			JSON_VALUE([value],'$.detail_no')			AS	detail_no
		,	JSON_VALUE([value],'$.incharge_cd')			AS	incharge_cd
		FROM OPENJSON(@P_json,'$.table_m0002')
		WHERE 
			ISNULL(JSON_VALUE([value],'$.detail_no'),0)		= 0
		AND	ISNULL(JSON_VALUE([value],'$.incharge_cd'),'')	<> ''
		-- CREATE TABLE #TEMP_M0002_UPDATE
		CREATE TABLE #TEMP_M0002_UPDATE (
			id				INT			IDENTITY(1,1)	
		,	detail_no		SMALLINT
		,	incharge_cd		NVARCHAR(10)
		)
		--
		INSERT INTO #TEMP_M0002_UPDATE
		SELECT
			JSON_VALUE([value],'$.detail_no')			AS	detail_no
		,	JSON_VALUE([value],'$.incharge_cd')			AS	incharge_cd
		FROM OPENJSON(@P_json,'$.table_m0002')
		WHERE 
			ISNULL(JSON_VALUE([value],'$.detail_no'),0)		<> 0
		AND	ISNULL(JSON_VALUE([value],'$.incharge_cd'),'')	<> ''
		IF EXISTS (SELECT 1 FROM M0001 WHERE contract_cd = @P_contract_cd AND company_cd <> @P_company_cd AND  del_datetime IS NULL)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				74									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'#contract_cd'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	0-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'contract_cd duplicate'				-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		--		
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			--■ UPDATE M0001
			IF EXISTS (SELECT 1 FROM M0001 WHERE M0001.company_cd = @P_company_cd AND del_datetime IS NULL ) 
			BEGIN
			UPDATE M0001 SET 			
				company_cd							=	@P_company_cd										
			,	company_nm							=	@P_company_nm										
			,	company_ab_nm						=	@P_company_ab_nm										
			,	zip_cd								=	@P_zip_cd										
			,	address1							=	@P_address1											
			,	address2							=	@P_address2											
			,	address3							=	@P_address3											
			,	tel									=	@P_tel										
			,	fax									=	@P_fax										
			,	incharge_nm							=	@P_incharge_nm		
			--
			,	evaluation_use_typ					=	@evaluation_use_typ				
			,	evaluation_contract_attribute		=	@evaluation_contract_attribute
			,	evaluation_use_start_dt				=	@evaluation_use_start_dt										
			,	evaluation_user_end_dt				=	@evaluation_user_end_dt			
			,	[1on1_use_typ]						=	@oneonone_use_typ				
			,	[1on1_contract_attribute] 			=	@oneonone_contract_attribute   
			,	[1on1_use_start_dt]					=	@oneonone_use_start_dt											
			,	[1on1_user_end_dt]         			=	@oneonone_user_end_dt         
			,	multireview_use_typ					=	@multireview_use_typ			
			,	multireview_contract_attribute		=	@multireview_contract_attribute
			,	multireview_use_start_dt      		=	@multireview_use_start_dt      								
			,	multireview_user_end_dt       		=	@multireview_user_end_dt  
			,	report_use_typ						=	@report_use_typ			
			,	report_contract_attribute			=	@report_contract_attribute
			,	report_use_start_dt      			=	@report_use_start_dt      								
			,	report_user_end_dt       			=	@report_user_end_dt  
			,	marcopolo_use_typ					=	@marcopolo_use_typ
			--
			,	contract_cd							=	@P_contract_cd										
			,	cooperation_typ						=	@P_cooperation_typ	
			,	SSO_use_typ							=	@P_SSO_use_typ		
			,	SSO_typ								=	@P_SSO_typ			
			--,	SSO_URL								=	@P_SSO_URL	
			,	SSO_sp_NameIDFormat					=   @P_sp_NameIDFormat			
			,	SSO_sp_x509cert						=	@P_sp_x509cert				
			,	SSO_sp_privateKey					=	@P_sp_privateKey			
			,	SSO_sp_entityId						=	@P_sp_entityId				
			,	SSO_sp_singleLogoutService			=	@P_sp_singleLogoutService	
			,	SSO_idp_entityId					=	@P_idp_entityId			
			,	SSO_idp_singleSignOnService			=	@P_idp_singleSignOnService	
			,	SSO_idp_singleLogoutService			=	@P_idp_singleLogoutService	
			,	SSO_idp_x509cert					=	@P_idp_x509cert								
			,	billing_to_typ						=	@P_billing_to_typ										
			,	destination_nm						=	@P_destination_nm										
			,	Billing_incharge_nm					=	@P_Billing_incharge_nm										
			,	Billing_zip_cd						=	@P_Billing_zip_cd										
			,	Billing_address1					=	@P_Billing_address1											
			,	Billing_address2					=	@P_Billing_address2											
			,	Billing_address3					=	@P_Billing_address3											
			,	Billing_tel							=	@P_Billing_tel										
			--,	contract_company_attribute			=	2
			,	api_use_typ							=	@api_use_typ
			
			,	api_office_cd						=	@api_office_cd
			,	api_office_nm						=	@api_office_nm
			,	api_employee_use					=	@api_employee_use
			,	api_position_use					=	@api_position_use
			,	api_organization_use				=	@api_organization_use
			--
			,	upd_user							=	@P_cre_user			
			,	upd_ip								=	@P_cre_ip
			,	upd_prg								=	'M0001'	
			,	upd_datetime						=	@w_time		
			FROM M0001
			WHERE 
				M0001.company_cd	= @P_company_cd
			AND M0001.del_datetime	IS NULL
			
			END
			ELSE
			BEGIN
				SET @Max_company_cd =	ISNULL((SELECT MAX(company_cd) FROM M0001),0)
				SET @company_cd		=	IIF(@Max_company_cd < 100,100,(@Max_company_cd+1))
				--■ INSERT M0001
				INSERT INTO M0001 (
					company_cd					
				,	company_nm					
				,	company_ab_nm				
				,	zip_cd						
				,	address1					
				,	address2					
				,	address3					
				,	tel							
				,	fax							
				,	incharge_nm					
				,	evaluation_use_typ				
				,	evaluation_contract_attribute
				,	evaluation_use_start_dt			
				,	evaluation_user_end_dt			
				,	[1on1_use_typ]					
				,	[1on1_contract_attribute] 		
				,	[1on1_use_start_dt]				
				,	[1on1_user_end_dt]         		
				,	multireview_use_typ				
				,	multireview_contract_attribute
				,	multireview_use_start_dt      
				,	multireview_user_end_dt  
				,	report_use_typ				
				,	report_contract_attribute
				,	report_use_start_dt      
				,	report_user_end_dt  
				,	marcopolo_use_typ
				,	contract_cd					
				,	cooperation_typ	
				,	SSO_use_typ	
				,	SSO_typ		
				,	SSO_sp_NameIDFormat			
				,	SSO_sp_x509cert				
				,	SSO_sp_privateKey			
				,	SSO_sp_entityId				
				,	SSO_sp_singleLogoutService	
				,	SSO_idp_entityId			
				,	SSO_idp_singleSignOnService	
				,	SSO_idp_singleLogoutService	
				,	SSO_idp_x509cert							
				,	billing_to_typ				
				,	destination_nm				
				,	Billing_incharge_nm			
				,	Billing_zip_cd				
				,	Billing_address1			
				,	Billing_address2			
				,	Billing_address3			
				,	Billing_tel					
				,	contract_company_attribute	  
				,	api_use_typ			
				,	api_office_cd		
				,	api_office_nm		
				,	api_employee_use	
				,	api_position_use	
				,	api_organization_use
				,	cre_user
				,	cre_ip
				,	cre_prg
				,	cre_datetime
				)
				SELECT	
					@company_cd			
				,	@P_company_nm					
				,	@P_company_ab_nm				
				,	@P_zip_cd						
				,	@P_address1						
				,	@P_address2						
				,	@P_address3						
				,	@P_tel							
				,	@P_fax							
				,	@P_incharge_nm					
				,	@evaluation_use_typ				
				,	@evaluation_contract_attribute
				,	@evaluation_use_start_dt		
				,	@evaluation_user_end_dt			
				,	@oneonone_use_typ				
				,	@oneonone_contract_attribute   
				,	@oneonone_use_start_dt			
				,	@oneonone_user_end_dt         
				,	@multireview_use_typ			
				,	@multireview_contract_attribute
				,	@multireview_use_start_dt      	
				,	@multireview_user_end_dt 
				,	@report_use_typ			
				,	@report_contract_attribute
				,	@report_use_start_dt      	
				,	@report_user_end_dt 
				,	@marcopolo_use_typ
				,	@P_contract_cd					
				,	@P_cooperation_typ	
				,	@P_SSO_use_typ	
				,	@P_SSO_typ		
				,	@P_sp_NameIDFormat			
				,	@P_sp_x509cert				
				,	@P_sp_privateKey			
				,	@P_sp_entityId				
				,	@P_sp_singleLogoutService	
				,	@P_idp_entityId			
				,	@P_idp_singleSignOnService	
				,	@P_idp_singleLogoutService	
				,	@P_idp_x509cert				
				,	@P_billing_to_typ				
				,	@P_destination_nm				
				,	@P_Billing_incharge_nm			
				,	@P_Billing_zip_cd				
				,	@P_Billing_address1				
				,	@P_Billing_address2				
				,	@P_Billing_address3				
				,	@P_Billing_tel					
				,	2
				,	@api_use_typ
				,	@api_office_cd
				,	@api_office_nm
				,	@api_employee_use
				,	@api_position_use
				,	@api_organization_use
				,	@P_cre_user
				,	@P_cre_ip
				,	'M0001'	
				,	@w_time
			END
			--M0002
			--■ UPDATE M0002
			IF EXISTS (SELECT 1 FROM M0001 WHERE M0001.company_cd = @P_company_cd AND del_datetime IS NULL )
			BEGIN
				IF EXISTS (SELECT 1 FROM #TEMP_M0002_UPDATE)    
				BEGIN
					--UPDATE M0101
					UPDATE M0002 SET 
						detail_no			=	TEMP.detail_no				
					,	incharge_cd			=	TEMP.incharge_cd		                               
					,	upd_user			=	@P_cre_user			
					,	upd_ip				=	@P_cre_ip
					,	upd_prg				=	'M0001'	
					,	upd_datetime		=	@w_time		
					FROM M0002
					INNER JOIN #TEMP_M0002_UPDATE AS TEMP ON (
						M0002.detail_no		= TEMP.detail_no
					)
					WHERE 
						M0002.company_cd	= @P_company_cd
					AND M0002.del_datetime	IS NULL
					--DELETE M0002
					UPDATE M0002 SET    
						del_user			=	@P_cre_user			
					,	del_ip				=	@P_cre_ip
					,	del_prg				=	'M0001'		
					,	del_datetime		=	@w_time		
					FROM M0002
					LEFT JOIN #TEMP_M0002_UPDATE AS TEMP ON (
						M0002.detail_no		= TEMP.detail_no
					)
					WHERE 
						M0002.company_cd	= @P_company_cd
					AND M0002.del_datetime	IS NULL
					AND TEMP.detail_no		IS NULL
				END
				ELSE
				BEGIN
					--DELETE M0002
					UPDATE M0002 SET    
						del_user			=	@P_cre_user			
					,	del_ip				=	@P_cre_ip
					,	del_prg				=	'M0001'		
					,	del_datetime		=	@w_time		
					FROM M0002
					WHERE 
						M0002.company_cd	= @P_company_cd
					AND M0002.del_datetime	IS NULL
				END

				--■ INSERT M0002
				IF EXISTS (SELECT 1 FROM #TEMP_M0002_INSERT) 
				BEGIN
				SET @max_detail_no = ISNULL((SELECT MAX(ISNULL(M0002.detail_no,0)) FROM M0002 WHERE company_cd = @P_company_cd),0) 
				INSERT INTO M0002 (
					company_cd	
				,	detail_no			
				,	incharge_cd                                 				
				,	cre_user
				,	cre_ip
				,	cre_prg
				,	cre_datetime
				)
				SELECT
					@P_company_cd	
				,	@max_detail_no+TEMP.id     
				,	TEMP.incharge_cd                         
				,	@P_cre_user
				,	@P_cre_ip
				,	'M0001'	
				,	@w_time
				FROM #TEMP_M0002_INSERT AS TEMP
				END
			END
			ELSE
			BEGIN
				--DELETE M0002
				UPDATE M0002 SET    
					del_user			=	@P_cre_user			
				,	del_ip				=	@P_cre_ip	
				,	del_prg				=	'M0001'	
				,	del_datetime		=	@w_time		
				FROM M0002
				WHERE 
					M0002.company_cd	= @P_company_cd
				AND M0002.del_datetime	IS NULL
				--■ INSERT M0002
				IF EXISTS (SELECT 1 FROM #TEMP_M0002_INSERT) 
				BEGIN 
				INSERT INTO M0002 (
					company_cd	
				,	detail_no			
				,	incharge_cd                                 				
				,	cre_user
				,	cre_ip
				,	cre_prg
				,	cre_datetime
				)
				SELECT
					@company_cd	
				,	TEMP.id     
				,	TEMP.incharge_cd                         
				,	@P_cre_user
				,	@P_cre_ip
				,	'M0001'	
				,	@w_time
				FROM #TEMP_M0002_INSERT AS TEMP
			END
		END
	END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by

--[1]
	SELECT IIF(@P_company_cd = -1,@company_cd,@P_company_cd) AS company_cd
END

GO
