/****** Object:  StoredProcedure [dbo].[SPC_M0140_FND1]    Script Date: 2018/09/06 11:18:13 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_I1041_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- EXEC SPC_I1041_INQ1 '514','3';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0140_評語マスタ
--*  
--*  作成日/create date			:	2018/09/19					
--*　作成者/creater				:	datnt								
--*   					
--*  更新日/update date			:  2022/08/08
--*　更新者/updater				:　namnt
--*　更新内容/update content		:  evaluate category = 3 => target 1~3
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_I1041_INQ1]
	-- Add the parameters for the stored procedure here
	@P_company_cd				SMALLINT		= 0
,	@P_category					SMALLINT		= 0
,	@P_language					NVARCHAR(2)		= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATE				=	SYSDATETIME()
	-- GET PERIOD_DATE
	--[0]
	SELECT DISTINCT
		M0310.category
	,	CASE	
			WHEN @P_language = 'en' 
			THEN L0010.name_english
			ELSE L0010.name
			END AS name
	FROM M0310 
	LEFT JOIN L0010 ON(
		M0310.category	=	L0010.number_cd
	AND	10				=	L0010.name_typ
	AND L0010.del_datetime IS NULL
	)
	WHERE M0310.company_cd		=	@P_company_cd
	AND	M0310.status_use_typ	=	1

	AND m0310.del_datetime IS NULL
	--[1]
	SELECT 
		CASE	
			WHEN M0310.status_nm = NULL OR M0310.status_nm = ''
			THEN 
				CASE	
					WHEN @P_language = 'en' 
					THEN L0040.status_nm_english
					ELSE L0040.status_nm
					END 
			ELSE M0310.status_nm
		END AS status_nm
	,	M0310.status_cd
	FROM M0310 
	LEFT JOIN L0040 ON (
		M0310.category	=	L0040.category
	AND	M0310.status_cd	=	L0040.status_cd
	AND	((L0040.category <> 3 AND M0310.status_cd >	0)
		 OR	(
				L0040.category = 3 AND L0040.status_cd >=2 AND L0040.status_cd <= 11 	
			)	
		)
	)
	WHERE M0310.company_cd		=	@P_company_cd
	AND	M0310.status_use_typ	=	1
	AND	M0310.category			=	@P_category
	AND	((M0310.category <> 3 AND M0310.status_cd >	0) -- CR2021-02-23 datnt
		 OR	(
				M0310.category = 3 AND M0310.status_cd >=2 AND M0310.status_cd <= 11 	
			)	
		)
	AND m0310.del_datetime IS NULL
	--[2]
	SELECT
			ISNULL(L0010.name_typ,0)					AS	name_typ
		,	ISNULL(L0010.number_cd,0)					AS	number_cd
		,	CASE	
				WHEN @P_language = 'en' 
				THEN L0010.name_english
				ELSE L0010.name
			END											AS	name
		,	ISNULL(L0010.kana,'')						AS	kana
		,	ISNULL(L0010.ab_nm,0)						AS	ab_nm
		FROM L0010
		WHERE 
			L0010.name_typ			=	12
		AND(
			((@P_category = 3) AND (L0010.number_cd <=3 AND L0010.number_cd >=1))
			OR(@P_category <> 3))
		AND L0010.del_datetime IS NULL
		ORDER BY
			L0010.arrange_order ASC
END
GO
