DROP PROCEDURE [SPC_I1041_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/08/20											
--*	作成者/creater				:	longvv				
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_I1041_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			nvarchar(max)
	-- common
,	@P_cre_user		nvarchar(50)
,	@P_cre_ip		nvarchar(50)
,	@P_company_cd	smallint

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					= 0
	,	@category			   	INT					= 0
	,	@status_cd			   	INT					= 0
	,	@notice_information		INT					= 0
	,	@notice_mail			INT					= 0
	,	@notice_title			NVARCHAR(50)		= ''
	,	@notice_message			NVARCHAR(1000)		= ''
	,	@notice_sending_target	INT					= 0
	,	@notice_send_date		INT					= 0
	,	@alert_information		INT					= 0
	,	@alert_mail				INT					= 0
	,	@alert_title			NVARCHAR(50)		= ''
	,	@alert_message			NVARCHAR(1000)		= ''
	,	@alert_sending_target	INT					= 0
	,	@alert_send_date		INT					= 0

	CREATE TABLE #TBL_JSON(
		id						INT		IDENTITY(1,1)
	,	company_cd				INT
	,	category				INT
	,	status_cd				INT
	,	[start_date]			DATE
	,	deadline_date			DATE
	,	notice_information		INT
	,	alert_information		INT
	)
	
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		-- assign
		SET		@category			   	=	JSON_VALUE(@P_json,'$.category')
		SET		@status_cd			   	=	JSON_VALUE(@P_json,'$.status_cd')
		SET		@notice_information		=	JSON_VALUE(@P_json,'$.notice_information')
		SET		@notice_mail			=	JSON_VALUE(@P_json,'$.notice_mail')
		SET		@notice_title			=	JSON_VALUE(@P_json,'$.notice_title')
		SET		@notice_message			=	JSON_VALUE(@P_json,'$.notice_message')
		SET		@notice_sending_target	=	IIF(JSON_VALUE(@P_json,'$.notice_sending_target')=-1,0,JSON_VALUE(@P_json,'$.notice_sending_target'))
		SET		@notice_send_date		=	JSON_VALUE(@P_json,'$.notice_send_date')
		SET		@alert_information		=	JSON_VALUE(@P_json,'$.alert_information')
		SET		@alert_mail				=	JSON_VALUE(@P_json,'$.alert_mail')
		SET		@alert_title			=	JSON_VALUE(@P_json,'$.alert_title')
		SET		@alert_message			=	JSON_VALUE(@P_json,'$.alert_message')
		SET		@alert_sending_target	=	IIF(JSON_VALUE(@P_json,'$.alert_sending_target')=-1,0,JSON_VALUE(@P_json,'$.alert_sending_target'))
		SET		@alert_send_date		=	JSON_VALUE(@P_json,'$.alert_send_date')
		
		--check json
	IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				8									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
	IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
		IF EXISTS(SELECT 1 FROM M0311 WHERE company_cd = @P_company_cd AND category = @category AND status_cd = @status_cd)
			UPDATE M0311
			SET
				company_cd				=	@P_company_cd
			,	category				=	@category
			,	status_cd				=	@status_cd
			,	notice_information		=	@notice_information
			,	notice_mail				=	@notice_mail
			,	notice_title			=	@notice_title
			,	notice_message			=	@notice_message
			,	notice_sending_target	=	@notice_sending_target
			,	notice_send_date		=	@notice_send_date
			,	alert_information		=	@alert_information
			,	alert_mail				=	@alert_mail
			,	alert_title				=	@alert_title
			,	alert_message			=	@alert_message
			,	alert_sending_target	=	@alert_sending_target
			,	alert_send_date			=	@alert_send_date
			,	upd_user				=	@P_cre_user
			,	upd_ip					=	@P_cre_ip
			,	upd_prg					=	'I1041'
			,	upd_datetime			=	@w_time
			,	del_user				=	SPACE(0)
			,	del_ip					=	SPACE(0)
			,	del_prg					=   SPACE(0) 
			,	del_datetime			=	NULL
			WHERE	company_cd	=	@P_company_cd 
			AND		category	=	@category 
			AND		status_cd	=	@status_cd 
		END 
		IF NOT EXISTS(SELECT 1 FROM M0311 WHERE company_cd = @P_company_cd AND category = @category AND status_cd = @status_cd )
		BEGIN
			INSERT INTO M0311
			SELECT 
				@P_company_cd
			,	@category
			,	@status_cd
			,	@notice_information
			,	@notice_mail
			,	@notice_title
			,	@notice_message
			,	@notice_sending_target
			,	@notice_send_date
			,	@alert_information
			,	@alert_mail
			,	@alert_title
			,	@alert_message
			,	@alert_sending_target
			,	@alert_send_date
			,	@P_cre_user
			,	@P_cre_ip
			,	'I1041'
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
		END

	

	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
