/****** Object:  StoredProcedure [dbo].[SPC_M0140_FND1]    Script Date: 2018/09/06 11:18:13 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_I1041_FND1]
SET QUOTED_IDENTIFIER ON
GO
-- EXEC SPC_M0130_INQ1 '';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0140_評語マスタ
--*  
--*  作成日/create date			:	2018/09/19					
--*　作成者/creater				:	datnt								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_I1041_FND1]
	-- Add the parameters for the stored procedure here
	@P_company_cd				SMALLINT		= 0
,	@P_category					SMALLINT		= 0
,	@P_status_cd				SMALLINT		= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATE				=	SYSDATETIME()
	-- GET PERIOD_DATE
	--[0]
	SELECT 
		notice_information
	,	notice_mail
	,	notice_title
	,	notice_message
	,	notice_sending_target
	,	notice_send_date
	,	alert_information
	,	alert_mail
	,	alert_title
	,	alert_message
	,	alert_sending_target
	,	alert_send_date
	,	CASE WHEN notice_information = 1 OR notice_mail = 1
			THEN 'lb-required'
			ELSE ''
		END AS label_required1
	,	CASE WHEN notice_information = 1 OR notice_mail = 1
			THEN 'required'
			ELSE'' 
		END AS input_required1
	,	CASE WHEN alert_information = 1 OR alert_mail = 1
			THEN 'lb-required'
			ELSE ''
		END AS label_required2
	,	CASE WHEN alert_information = 1 OR alert_mail = 1
			THEN 'required'
			ELSE'' 
		END AS input_required2
	FROM M0311
	WHERE	company_cd		=	@P_company_cd
	AND		category		=	@P_category
	AND		status_cd		=	@P_status_cd
	AND		del_datetime IS NULL
END
GO
