DROP PROCEDURE [SPC_SM0100_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_SM0100_ACT1 '{}','1','::1','1';

 --  EXEC SPC_SM0100_ACT1 '{"beginning_date":"04\/01","beginning_date_1on1":"04\/01","beginning_date_report":"04\/01","password_length":"","password_character_limit":"0","password_age":"","mypurpose_use_typ":"1","empinf_user_typ":"1","empsrch_user_typ":"0","empcom_user_typ":"on","cert_user_typ":"on","resume_user_typ":"on","obj":[{"tab_id":"1","tab_nm":"その他社員情報","isChecked":1},{"tab_id":"2","tab_nm":"資格","isChecked":0},{"tab_id":"3","tab_nm":"人事評価","isChecked":0},{"tab_id":"4","tab_nm":"研修受講履歴","isChecked":0},{"tab_id":"5","tab_nm":"業務経歴","isChecked":0},{"tab_id":"6","tab_nm":"学歴","isChecked":0},{"tab_id":"7","tab_nm":"連絡先","isChecked":0},{"tab_id":"8","tab_nm":"通勤","isChecked":0},{"tab_id":"9","tab_nm":"家族","isChecked":1},{"tab_id":"10","tab_nm":"休職","isChecked":1},{"tab_id":"11","tab_nm":"有期雇用契約","isChecked":0},{"tab_id":"12","tab_nm":"社会保険","isChecked":0},{"tab_id":"13","tab_nm":"給与","isChecked":0},{"tab_id":"14","tab_nm":"賞罰","isChecked":0}]}','721','::1','740';

 --****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2020/10/08										
--*	作成者/creater				:	nghianm						
--*   					
--*	更新日/update date			:  	2021/04/22				
--*	更新者/updater				:　 viettd 　								     	 
--*	更新内容/update content		:	add item 1on1_beginning_date　	
--*   					
--*	更新日/update date			:  	2021/09/08				
--*	更新者/updater				:　 viettd 　								     	 
--*	更新内容/update content		:	fix bug insert data error in @P_beginning_date_full
--****************************************************************************************
CREATE PROCEDURE [SPC_SM0100_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)	= ''
,	@P_cre_user		NVARCHAR(50)	= ''
,	@P_cre_ip		NVARCHAR(50)	= ''
,	@P_company_cd	INT				= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time								DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL							ERRTABLE	
	,	@order_by_min						INT					=	0
	,	@P_beginning_date_full				NVARCHAR(10)		=	''
	,	@P_beginning_date_full_1on1			NVARCHAR(10)		=	''	-- add by viettd 2021/04/22
	,	@P_beginning_date_full_report		NVARCHAR(10)		=	''	-- add by viettd 2021/04/22
    ,	@P_password_length                  TINYINT				=	0  
    ,	@P_password_character_limit			TINYINT				=	0  
    ,	@P_password_age						TINYINT				=	0  
	,	@P_mypurpose_use_typ				TINYINT				=	0
	,	@P_empsrch_user_typ					TINYINT				=	0  
	,	@P_empcom_user_typ					TINYINT				=	0  
	,	@P_cert_user_typ					TINYINT				=	0  
	,	@P_resume_user_typ					TINYINT				=	0
	,	@P_empinf_user_typ					TINYINT				=	0
	,	@P_multilingual_option_use_typ		TINYINT				=	0
	

	CREATE TABLE #TEMP_TABLE_JSON_TAB (
		id							INT			IDENTITY(1,1)	
	,	tab_id						SMALLINT
	,	tab_nm						NVARCHAR(50)
	,	is_check					SMALLINT
	)
	CREATE TABLE #TEMP_TABLE_L9103 (
		id							INT			IDENTITY(1,1)	
	,	language_cd						NVARCHAR(3)
	,	[index]						INT
	)
	CREATE TABLE #TEMP_TABLE_L9103_CHECK (
		id							INT			IDENTITY(1,1)	
	,	[index]						INT
	)
	INSERT INTO #TEMP_TABLE_JSON_TAB
	SELECT
		JSON_VALUE([value],'$.tab_id')													
	,	JSON_VALUE([value],'$.tab_nm')													
	,	JSON_VALUE([value],'$.isChecked')												
	FROM OPENJSON(@P_json,'$.obj')
	--
	INSERT INTO #TEMP_TABLE_L9103
	SELECT
		language_cd	
	,	ISNULL([index],0)		
	FROM OPENJSON(@P_json,'$.language_cd')WITH(
		language_cd				NVARCHAR(3)		
	,	[index]					INT
	)
	WHERE 
		language_cd <> ''
	--
	INSERT INTO #TEMP_TABLE_L9103_CHECK
	SELECT			
		ISNULL([index],0)
	FROM OPENJSON(@P_json,'$.language_cd')WITH(
		language_cd				NVARCHAR(3)	
	,	[index]					INT		
	)
	WHERE 
		language_cd = ''
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		SET @P_multilingual_option_use_typ		=	JSON_VALUE(@P_json,'$.multilingual_option_use_typ')
		IF @P_multilingual_option_use_typ = 0 AND EXISTS (SELECT 1 FROM #TEMP_TABLE_L9103)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				170									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.language_find'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	[index]									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'language_find'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #TEMP_TABLE_L9103

		END
		IF @P_multilingual_option_use_typ = 1 AND NOT EXISTS (SELECT 1 FROM #TEMP_TABLE_L9103)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				18									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.language_find'		-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	[index]									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'language_find'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #TEMP_TABLE_L9103_CHECK
		END
		-- process
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- assign
			SET	@P_beginning_date_full              =	JSON_VALUE(@P_json,'$.beginning_date')
			SET	@P_beginning_date_full_1on1         =	JSON_VALUE(@P_json,'$.beginning_date_1on1')
			SET	@P_beginning_date_full_report         =	JSON_VALUE(@P_json,'$.beginning_date_report')
			SET	@P_password_length                  =	IIF(JSON_VALUE(@P_json,'$.password_length')='',NULL,JSON_VALUE(@P_json,'$.password_length'))          
			SET	@P_password_character_limit        	=	JSON_VALUE(@P_json,'$.password_character_limit')  
			SET	@P_password_age                     =	IIF(JSON_VALUE(@P_json,'$.password_age')='',NULL,JSON_VALUE(@P_json,'$.password_age'))          
			SET	@P_mypurpose_use_typ                =	IIF(JSON_VALUE(@P_json,'$.mypurpose_use_typ')='',NULL,JSON_VALUE(@P_json,'$.mypurpose_use_typ'))          
			--■ UPDATE M0100
			SET	@P_empsrch_user_typ					=	JSON_VALUE(@P_json,'$.empsrch_user_typ')  
			SET	@P_empcom_user_typ					=	JSON_VALUE(@P_json,'$.empcom_user_typ')  
			SET	@P_cert_user_typ					=	JSON_VALUE(@P_json,'$.cert_user_typ')  
			SET	@P_resume_user_typ					=	JSON_VALUE(@P_json,'$.resume_user_typ')
			SET	@P_empinf_user_typ					=	JSON_VALUE(@P_json,'$.empinf_user_typ')
			
			
			IF EXISTS (SELECT 1 FROM M9100 WHERE M9100.company_cd = @P_company_cd AND del_datetime IS NULL ) 
			BEGIN
				UPDATE M9100 SET 
					beginning_date              		=	IIF(@P_beginning_date_full = '',NULL,'1900/'+@P_beginning_date_full)          
				,	[1on1_beginning_date]				=	IIF(@P_beginning_date_full_1on1 = '',NULL,'1900/'+@P_beginning_date_full_1on1)
				,	[report_beginning_date]				=	IIF(@P_beginning_date_full_report = '',NULL,'1900/'+@P_beginning_date_full_report)
				,	password_length                  	=	@P_password_length               
				,	password_character_limit        	=	@P_password_character_limit      
				,	password_age                     	=	@P_password_age   
				,	mypurpose_use_typ                   =	@P_mypurpose_use_typ   
				,	empinf_use_typ						=	@P_empinf_user_typ 
				,	multilingual_option_use_typ			=	@P_multilingual_option_use_typ
				,	upd_user							=	@P_cre_user			
				,	upd_ip								=	@P_cre_ip	
				,	upd_prg								=	'sM0100'
				,	upd_datetime						=	@w_time		
				FROM M9100
				WHERE 
					M9100.company_cd	= @P_company_cd
				AND M9100.del_datetime	IS NULL
			END
			ELSE
			BEGIN
			INSERT INTO M9100
				(
					company_cd	               
				,	beginning_date
				,	[1on1_beginning_date]						-- add by viettd 2021/04/22  
				,	[report_beginning_date]
				,	empinf_use_typ
				,	password_length                 
				,	password_character_limit        
				,	password_age
				,	mypurpose_use_typ
				,	multilingual_option_use_typ
				,	cre_user
				,	cre_ip
				,	cre_prg
				,	cre_datetime
				)
				SELECT
					@P_company_cd							
				     
				--,	'1900/'+@P_beginning_date_full
				--,	'1900/'+@P_beginning_date_full_1on1			-- add by viettd 2021/04/22     
				-- edited by viettd 2021/09/08
				,	IIF(@P_beginning_date_full = '',NULL,'1900/'+@P_beginning_date_full)	
				,	IIF(@P_beginning_date_full_1on1 = '',NULL,'1900/'+@P_beginning_date_full_1on1)	
				,	IIF(@P_beginning_date_full_report = '',NULL,'1900/'+@P_beginning_date_full_report)	
				,	@P_empinf_user_typ
				,	@P_password_length           
				,	@P_password_character_limit 
				,	@P_password_age
				,	@P_mypurpose_use_typ
				,	@P_multilingual_option_use_typ
				,	@P_cre_user
				,	@P_cre_ip
				,	'sM0100'
				,	@w_time
			END
			IF EXISTS (SELECT 1 FROM M9101 WHERE M9101.company_cd = @P_company_cd AND del_datetime IS NULL ) 
			BEGIN
				UPDATE M9101 SET 
					empsrch_use_typ              		=	@P_empsrch_user_typ       
				,	empcom_use_typ						=	@P_empcom_user_typ
				,	cert_use_typ						=	@P_cert_user_typ
				,	resume_use_typ                  	=	@P_resume_user_typ      
				,	upd_user							=	@P_cre_user			
				,	upd_ip								=	@P_cre_ip	
				,	upd_prg								=	'sM0100'
				,	upd_datetime						=	@w_time		
				FROM M9101
				WHERE 
					M9101.company_cd	= @P_company_cd
				AND M9101.del_datetime	IS NULL
			END
			ELSE
			BEGIN
			INSERT INTO M9101
				(
					company_cd	               
				,	empsrch_use_typ
				,	empcom_use_typ
				,	cert_use_typ
				,	resume_use_typ
				,	cre_user
				,	cre_ip
				,	cre_prg
				,	cre_datetime
				,	upd_user
				,	upd_ip
				,	upd_prg
				,	upd_datetime
				,	del_user
				,	del_ip
				,	del_prg
				,	del_datetime

				)
				SELECT
					@P_company_cd							
				,	@P_empsrch_user_typ
				,	@P_empcom_user_typ
				,	@P_cert_user_typ
				,	@P_resume_user_typ
				,	@P_cre_user
				,	@P_cre_ip
				,	'sM0100'
				,	@w_time
				,	''
				,	''
				,	''
				,	NULL
				,	''
				,	''
				,	''
				,	NULL
			END
			--
			UPDATE M9102 SET 
				tab_id              				=	#TEMP_TABLE_JSON_TAB.tab_id          
			,	use_typ								=	#TEMP_TABLE_JSON_TAB.is_check
			,	upd_user							=	@P_cre_user			
			,	upd_ip								=	@P_cre_ip	
			,	upd_prg								=	'sM0100'
			,	upd_datetime						=	@w_time		
			FROM M9102 INNER JOIN #TEMP_TABLE_JSON_TAB ON(
				M9102.tab_id = #TEMP_TABLE_JSON_TAB.tab_id
			AND M9102.company_cd	= @P_company_cd
			)
			WHERE 
				M9102.del_datetime	IS NULL
			--
			INSERT INTO M9102  
			SELECT
				@P_company_cd
			,	#TEMP_TABLE_JSON_TAB.tab_id
			,	#TEMP_TABLE_JSON_TAB.is_check
			,	@P_cre_user
			,	@P_cre_ip
			,	'sM0100'
			,	@w_time
			,	''
			,	''
			,	''
			,	NULL
			,	''
			,	''
			,	''
			,	NULL
			FROM  #TEMP_TABLE_JSON_TAB LEFT JOIN M9102 ON(
				#TEMP_TABLE_JSON_TAB.tab_id = M9102.tab_id
			AND	M9102.company_cd	= @P_company_cd
			)
			WHERE 
				M9102.company_cd IS NULL
			AND	M9102.del_datetime	IS NULL
			--
			UPDATE M5100 SET
				M5100.use_typ			=	0
			,	M5100.upd_user			=	@P_cre_user
			,	M5100.upd_ip			=	@P_cre_ip
			,	M5100.upd_prg			=	N'sM0100'
			,	M5100.upd_datetime		=	@w_time
			FROM M9102
			LEFT OUTER JOIN M5100 ON (
				M9102.company_cd		=	M5100.company_cd
			AND	M9102.tab_id			=	M5100.tab_id
			)
			WHERE	
				M9102.company_cd		=	@P_company_cd
			AND	M9102.use_typ			=	0
			AND	M5100.use_typ			=	1
			--m9103
			DELETE M9103 
			FROM M9103
			LEFT JOIN #TEMP_TABLE_L9103 ON (
				M9103.detail_no = #TEMP_TABLE_L9103.id 
			)
			WHERE 
				company_cd =@P_company_cd
			AND #TEMP_TABLE_L9103.id is null
			--update
			UPDATE M9103 SET
				M9103.language_cd		=	#TEMP_TABLE_L9103.language_cd
			,	M9103.upd_user			=	@P_cre_user
			,	M9103.upd_ip			=	@P_cre_ip
			,	M9103.upd_prg			=	N'sM0100'
			,	M9103.upd_datetime		=	@w_time
			FROM M9103
			INNER JOIN #TEMP_TABLE_L9103 ON (
				M9103.detail_no = #TEMP_TABLE_L9103.id 
			)
			WHERE	
				M9103.company_cd		=	@P_company_cd
			-- INSERT
			INSERT INTO M9103
			SELECT
				@P_company_cd
			,	#TEMP_TABLE_L9103.id
			,	#TEMP_TABLE_L9103.language_cd
			,	@P_cre_user
			,	@P_cre_ip
			,	'sM0100'
			,	@w_time
			,	''
			,	''
			,	''
			,	NULL
			,	''
			,	''
			,	''
			,	NULL
			FROM  #TEMP_TABLE_L9103 
			LEFT JOIN M9103 ON(
				#TEMP_TABLE_L9103.id	= M9103.detail_no
			AND	@P_company_cd			= M9103.company_cd
			)
			WHERE 
				M9103.company_cd IS NULL
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO