.table-data{
    height: 66vh;
    overflow-y: auto;
    overflow-x: visible;
}
.list-search-content .list-search-child {
    line-height: 40px;
}
table {
    margin-bottom: 0px !important;
}
@-moz-document url-prefix(){
    .table-data{
        height: 60vh;
        overflow-x: hidden;
    }
    #leftcontent, #rightcontent{
        /*height: 80vh;*/
    }
    .height100td{
        max-height: 60vh;
    }
}

.fixed-header{
    margin-bottom: 0px !important;
}

.table-data{
    margin-bottom: 15px;
}

.tooltip{
    z-index:9999 !important;
}

.height100td{
    height: 65vh;
}

#result{
    overflow-y: hidden;
}

#btn-reflect{
    padding-left: 15px;
    padding-right: 15px;
}


.div-reflect{
    display: flex;
    justify-content: flex-end;
}

#reflect{
    width: 189px;
    margin-left: 10px;
}
/*=========*/
@media (min-width: 768px) and (max-width: 1366px) {
    .col-ltx-3{
        max-width: 30%;
        display: flex;
        justify-content: center;
    }
    .col-ltx-7{
        max-width: 70%;
        display: flex;
        justify-content: flex-end;
    }
}


/* new */
#table-organization ul {
    list-style: none;
    padding: 0;
}
.ck-inline {
    width: 100%;
    height: 35px;
}
.ck-inline div.md-checkbox-v2 {
    text-align: center;
}
.ck-inline label {
    margin-bottom: 0;
}
.ck-inline td {
    border: 1px solid #dee2e6;
}
.ck-inline td:first-child {
    width: 40px;
}
.lv1 td:last-child {
    text-align: center;
}
.lv1,.lv2,.lv3,.lv4,.lv5 {
    display: inherit;
    margin-top: -1px;
    color: black;
    cursor: inherit;
}
.lv1:hover,.lv2:hover,.lv3:hover,.lv4:hover,.lv5:hover {
    color: black;
    text-decoration: none;
}
#table-organization > ul > li:first-child > a {
    margin-top: 0px !important;
}
.lv1 {
    background: #eaebee;
}
.lv3 {
    padding-left: 40px;
}
.lv4 {
    padding-left: 80px;
}
.lv5 {
    padding-left: 120px;
}
.lv2 td:last-child,
.lv3 td:last-child,
.lv4 td:last-child,
.lv5 td:last-child {
    padding: 0 10px;
}
.li-lv2 {
    border-left: 1px solid #dee2e6;
}
.td1-level1 {
    width: 41px !important;
}
.td1-level2 {
    border-left: 0 !important;
}
@media (min-width: 1020px) and (max-width: 1026px) {
    .col-ltx-3{
        max-width: 50%;
        display: flex;
        justify-content: center;
    }
    .col-ltx-7{
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}
@media (max-width: 1450px) {
    #size-text{
        max-width: 150px;
    }
}
@media (max-width: 1300px) {
    #size-text{
        max-width: 150px;
    }
    #btn-reflect{
        padding-left: 2px;
        padding-right: 2px;
    }
    #reflect{
        width: 124px !important;
    }
}