/****** Object:  StoredProcedure [dbo].[SPC_oI1020_INQ1]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_oI1020_RPT1]
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	[SPC_oI1010_INQ1]_1on1スケジュール設定
--*  
--*  作成日/create date			:	2020/11/09						
--*　作成者/creater				:	DatNT								
--*   					
--*  更新日/update date			:	2021/06/03
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	when 3.管理者(authority_typ = 3) and not choice organization in S0022 then view all employees
--*   					
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_oI1020_RPT1]
	-- Add the parameters for the stored procedure here	
	@P_company_cd		SMALLINT		= 0
,	@P_user_id			NVARCHAR(100)	=	''
,	@P_json				NVARCHAR(MAX)	= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@ERR_TBL							ERRTABLE
	,	@w_time								DATETIME2	= SYSDATETIME()
	,	@fiscal_year						INT			=	0
	,	@year_date							DATE		=	NULL
	,	@group_cd							INT				=	0
	,	@group_nm							NVARCHAR(20)	=	''
	,	@coach_cd							NVARCHAR(20)				=	''
	,	@date_from							DATE			=	NULL
	,	@date_to							DATE			=	NULL
	,	@member_cd							NVARCHAR(20)					=	''
	,	@position_cd						INT				=	0
	,	@choice_in_screen					INT				=	0
	,	@authority_typ						INT				=	0
	,	@authority_cd						INT				=	0
	,	@string_column						NVARCHAR(MAX)	=	''
	,	@string_column_alter				NVARCHAR(MAX)	=	''
	,	@string_column_alter1				NVARCHAR(MAX)	=	''
	,	@string_column_alter2				NVARCHAR(MAX)	=	''
	,	@string_column_alter3				NVARCHAR(MAX)	=	''
	,	@string_sql							NVARCHAR(MAX)	=	''
	,	@string_sql1						NVARCHAR(MAX)	=	''
	,	@string_sql2						NVARCHAR(MAX)	=	''
	,	@string_sql3						NVARCHAR(MAX)	=	''
	,	@times								INT				=	0
	,	@j									INT				=	1
	,	@k									INT				=	1
	,	@mode								INT				=	1 -- 1:search /2: apply newest value
	,	@error								INT				=	0
	,	@belong_count						INT				=	0
	,	@belong_col							NVARCHAR(200)	=	''
	,	@end_while							INT				=	1
	,	@start_while						INT				=	1
	,	@YEAR								smallint		=	0     
	,	@beginning_date						date			=	NULL
	,	@temp_date							date			=	NULL
	,	@table_count						INT				=	1
	-- add by viettd 2021/06/03
	,	@w_1on1_organization_cnt			INT				=	0	-- 0.view all 1.only view organization choiced
	,	@w_organization_belong_person_typ	SMALLINT		=	0
	--
	IF object_id('tempdb..#RESULT', 'U') IS NOT NULL
	BEGIN
		DROP TABLE #RESULT
	END
	-- #TABLE_ORGANIZATION
	CREATE TABLE #TABLE_ORGANIZATION(
		organization_typ			tinyint
	,	organization_cd_1			nvarchar(20)
	,	organization_cd_2			nvarchar(20)
	,	organization_cd_3			nvarchar(20)
	,	organization_cd_4			nvarchar(20)
	,	organization_cd_5			nvarchar(20)	 
	,	choice_in_screen				tinyint		-- 1.choice in screen 0.get from master S0022
	)
	CREATE TABLE #TBL_EMP(
		company_cd						SMALLINT				--company_cd
	,	employee_cd		NVARCHAR(10)
	,	employee_nm		NVARCHAR(40)			--employee_nm
	,	belong_cd1		NVARCHAR(100)
	,	position_cd		INT						--position_cd
	)
	--
	CREATE TABLE #M0070H(
		application_date				DATE					--application_date
	,	company_cd						SMALLINT				--company_cd
	,	employee_cd						NVARCHAR(10)			--employee_cd
	,	employee_nm						NVARCHAR(40)			--employee_nm
	,	employee_ab_nm					NVARCHAR(20)			--employee_ab_nm
	,	furigana						NVARCHAR(40)			--furigana
	,	office_cd						SMALLINT				--office_cd
	,	office_nm						NVARCHAR(50)			--office_nm
	,	belong_cd1						NVARCHAR(50)			--belong_cd1
	,	belong_cd2						NVARCHAR(50)			--belong_cd2
	,	belong_cd3						NVARCHAR(50)			--belong_cd3
	,	belong_cd4						NVARCHAR(50)			--belong_cd4
	,	belong_cd5						NVARCHAR(50)			--belong_cd5
	,	job_cd							SMALLINT				--job_cd
	,	position_cd						INT						--position_cd
	,	employee_typ					SMALLINT				--employee_typ
	,	grade							SMALLINT				--grade
	,	belong_cd1_nm					NVARCHAR(20)			--belong_nm1
	,	belong_cd2_nm					NVARCHAR(20)			--belong_nm2
	,	belong_cd3_nm					NVARCHAR(20)			--belong_nm3
	,	belong_cd4_nm					NVARCHAR(20)			--belong_nm4
	,	belong_cd5_nm					NVARCHAR(20)			--belong_nm5
	,	job_nm							NVARCHAR(20)			--job_nm
	,	position_nm						NVARCHAR(20)			--position_nm
	,	grade_nm						NVARCHAR(20)			--grade_nm
	,	employee_typ_nm					NVARCHAR(10)			--employee_typ_nm
	)
	CREATE TABLE #RESULT(
		fiscal_year					NVARCHAR(10)				--fiscal_year		
	,	employee_cd					NVARCHAR(10)			--employee_cd		
	,	employee_nm					NVARCHAR(40)			--employee_nm		
	,	belong_cd1_nm				NVARCHAR(50)			--belong1_nm		
	,	belong_cd2_nm				NVARCHAR(20)				--belong2_nm		
	,	belong_cd3_nm				NVARCHAR(50)				--belong3_nm		
	,	belong_cd4_nm				NVARCHAR(20)			--belong4_nm		
	,	belong_cd5_nm				NVARCHAR(50)			--belong5_nm		
	,	position_nm					NVARCHAR(20)			--position_nm		
	,	job_nm						NVARCHAR(50)			--job_nm			
	,	grade_nm					NVARCHAR(20)				--grade_nm		
	,	employee_typ_nm				NVARCHAR(50)			--employee_typ_nm	
	,	[1on1_group_cd]				NVARCHAR(50)
	,	[1on1_group_nm]				NVARCHAR(50)
	,	[1on1_times]				NVARCHAR(50)
	)
	CREATE TABLE #TEMP_F2001_WHILE(
		employee_cd				NVARCHAR(10)	
	,	column_nm				NVARCHAR(200)
	,	column_value			NVARCHAR(200)
	)
	--
	CREATE TABLE #TIME_M2610(
		[1on1_group_cd] SMALLINT
	,	times			INT
	)
	--
	CREATE TABLE #TIME(
		times   INT
	)
	CREATE TABLE #TEMP_M2601(
		company_cd		SMALLINT
	,	[1on1_group_cd] SMALLINT
	,	attribute		SMALLINT
	,	code			SMALLINT
	)
	CREATE TABLE #TEMP_M2200(
		interview_cd		INT
	,	interview_nm		NVARCHAR(50)
	)
	--
	SELECT 
		@authority_typ	=	ISNULL([1on1_authority_typ],0) 
	,	@authority_cd	=	ISNULL([1on1_authority_cd],0) 
	FROM S0010 
	LEFT JOIN M0070 ON (
		M0070.company_cd		=	S0010.company_cd
	AND M0070.employee_cd		=	S0010.employee_cd
	AND M0070.del_datetime		IS NULL 
	) 
	WHERE 
		S0010.user_id		= @P_user_id 
	AND S0010.company_cd	= @P_company_cd 
	AND S0010.del_datetime  IS NULL
	-- COUNT ALL ORGANIZATIONS OF S2022 -- add by viettd 2021/06/03
	SET @w_1on1_organization_cnt = [dbo].FNC_GET_NUMBER_OF_ORGANIZATION(@P_company_cd,@authority_cd,2)
	-- GET @w_organization_belong_person_typ add by viettd 2021/06/03
	SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP(@P_company_cd,@authority_cd,2)
	--
	SET @YEAR =  YEAR(@w_time) 
	SELECT 
		--@beginning_date = M0100.beginning_date
		@beginning_date = M9100.[1on1_beginning_date] 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	SET @temp_date = CAST(CONVERT(NVARCHAR(4),(@YEAR))+'-'+FORMAT(@beginning_date,'MM-dd') AS DATE)
	IF (@temp_date <= @w_time ) OR @beginning_date IS NULL
	BEGIN
		SET @year_date			=	CAST((CAST(@YEAR AS nvarchar(4)) +'-'+FORMAT(@w_time,'MM-dd')) AS DATE)
	END
	ELSE
	BEGIN
		SET @year_date			=	CAST((CAST(@YEAR-1 AS nvarchar(4)) +'-'+FORMAT(@w_time,'MM-dd')) AS DATE)
	END
	--
	SET @fiscal_year		=	JSON_VALUE(@P_json,'$.fiscal_year')
	SET	@group_cd			=	ISNULL(IIF(JSON_VALUE(@P_json,'$.group_cd') = '',-1,JSON_VALUE(@P_json,'$.group_cd')),-1)
	SET	@coach_cd			=	JSON_VALUE(@P_json,'$.coach_cd')
	SET	@date_from			=	IIF(JSON_VALUE(@P_json,'$.date_from')='',NULL,JSON_VALUE(@P_json,'$.date_from'))
	SET	@date_to			=	IIF(JSON_VALUE(@P_json,'$.date_to')='',NULL,JSON_VALUE(@P_json,'$.date_to'))
	SET	@member_cd			=	JSON_VALUE(@P_json,'$.member_cd')
	SET	@position_cd		=	ISNULL(IIF(JSON_VALUE(@P_json,'$.position_cd') = '',-1,JSON_VALUE(@P_json,'$.position_cd')),-1)
	SET @mode				=	JSON_VALUE(@P_json,'$.mode')
	
	SET @group_nm =(SELECT [1on1_group_nm] FROM M2600 WHERE company_cd = @P_company_cd AND [1on1_group_cd] =  @group_cd AND del_datetime IS NULL)
	
	IF (@date_from IS NOT NULL OR @date_to IS NOT NULL) AND @group_cd <> -1
	BEGIN
		SELECT 
			@times = IIF(COUNT(1) = 0, NULL,COUNT(1))
		,	@start_while = min(times)
		FROM  M2620 
		WHERE M2620.company_cd		= @P_company_cd
		AND M2620.fiscal_year		= @fiscal_year
		AND M2620.[1on1_group_cd]	= @group_cd
		AND (@date_from IS NULL OR @date_from <= M2620.[start_date])
		AND (@date_to IS NULL	OR  M2620.[deadline_date] <= @date_to)
		AND M2620.del_datetime IS NULL
	END
	ELSE
	BEGIN
		INSERT INTO #TIME_M2610
		SELECT 
			[1on1_group_cd]
		,	CASE WHEN M2610.frequency = 1 THEN 6
				WHEN M2610.frequency = 2 THEN 12
				WHEN M2610.frequency = 3 THEN 24
				WHEN M2610.frequency = 4 THEN M2610.[1on1_times]
				ELSE 0
			END
		FROM M2610 
		WHERE M2610.company_cd		= @P_company_cd
		AND (M2610.[1on1_group_cd]	= @group_cd OR @group_cd  = -1)
		AND M2610.del_datetime IS NULL
		SET @times	=	(SELECT 
						MAX(times)
					FROM #TIME_M2610) 
	END
	
	SET @belong_count = (SELECT COUNT(1) FROM M0022 WHERE company_cd = @P_company_cd AND use_typ = 1 AND del_datetime IS NULL )
	IF @times IS NULL
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			21								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'no data in m2610'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
		GOTO COMPLETE_QUERY
	END
	--GET HISTORY OF M0070
	INSERT INTO #M0070H
	EXEC [dbo].SPC_REFER_M0070H_INQ1 @year_date,'',@P_company_cd

	INSERT INTO #TBL_EMP
	SELECT
		company_cd
	,	employee_cd
	,	employee_nm
	,	belong_cd1
	,	position_cd
	FROM #M0070H
	-- GET ORGANIZATION
	INSERT INTO #TABLE_ORGANIZATION
	EXEC SPC_REFER_ORGANIZATION_FND1 @P_json,@P_user_id,@P_company_cd,2
	--
	INSERT INTO #TEMP_M2601 
	SELECT 
		company_cd
	,	[1on1_group_cd]
	,	attribute
	,	code
	FROM M2601 
	WHERE 
		M2601.company_cd		=	@P_company_cd
	AND M2601.[1on1_group_cd]	=	@group_cd
	AND M2601.del_datetime IS NULL
	--DELETE ORGANIZATION NOT IN #ORG_TEMP
	IF EXISTS (SELECT 1 FROM #TABLE_ORGANIZATION ) 
	BEGIN
		SET @choice_in_screen = (SELECT TOP 1 choice_in_screen FROM #TABLE_ORGANIZATION WHERE choice_in_screen = 1)
		-- 1.choice in screen 
		-- 0.get from master S0022
		-- Filter organization_typ = 1
		IF @choice_in_screen = 1
		BEGIN
			DELETE D FROM #M0070H AS D
			FULL OUTER JOIN #TABLE_ORGANIZATION AS S ON (
				D.belong_cd1			=	S.organization_cd_1
			AND D.belong_cd2			=	S.organization_cd_2
			AND D.belong_cd3			=	S.organization_cd_3
			AND D.belong_cd4			=	S.organization_cd_4
			AND D.belong_cd5			=	S.organization_cd_5
			)
			WHERE 
				D.employee_cd IS NULL
			OR	S.organization_typ IS NULL
		END
		ELSE IF NOT (@authority_typ = 3 AND @w_1on1_organization_cnt = 0 AND @w_organization_belong_person_typ = 0) -- edited by viettd 2021/06/03
		BEGIN
			DELETE D FROM #M0070H AS D
			FULL OUTER JOIN #TABLE_ORGANIZATION AS S ON (
				D.belong_cd1			=	S.organization_cd_1
			AND D.belong_cd2			=	S.organization_cd_2
			AND D.belong_cd3			=	S.organization_cd_3
			AND D.belong_cd4			=	S.organization_cd_4
			AND D.belong_cd5			=	S.organization_cd_5
			)
			WHERE 
				D.company_cd IS NULL
			OR	S.organization_typ IS NULL
			AND @authority_typ NOT IN(4,5) --4.会社管理者 5.総合管理者
		END
	END

	-- DELETE EMPLOYEE NOT SUIT WITH SEARCH CONDITION
	DELETE D FROM  #M0070H AS D INNER JOIN M0070 ON (D.company_cd = M0070.company_cd AND D.employee_cd = M0070.employee_cd AND ISNULL(M0070.[1on1_typ],1) = 0 AND m0070.del_datetime IS NULL) 
	DELETE #M0070H WHERE ISNULL(position_cd,'-1') <> @position_cd AND @position_cd <> '-1'
	DELETE #M0070H WHERE ISNULL(employee_cd,'') <> @member_cd AND @member_cd <> ''
	SET @end_while = @start_while + @times
	WHILE @start_while < @end_while
	BEGIN
		INSERT INTO #TIME
		SELECT
		@start_while
		SET @string_column = @string_column + ',['+ CAST((@start_while) AS NVARCHAR(10))+'] '
		SET @start_while = @start_while + 1
	END
	WHILE @k <= @belong_count
	BEGIN
		SET @belong_col = @belong_col + ',belong_cd'+ CAST((@k) AS NVARCHAR(10))+'_nm '
		SET @k = @k + 1
	END
	
	---- DELETE EMPLOYEE NOT SUIT WITH SEARCH CONDITION
	DELETE #M0070H WHERE ISNULL(employee_cd,'') <> @member_cd AND  @member_cd <> ''
	--position
	IF @group_cd <> -1 
	BEGIN
		IF EXISTS(SELECT 1 FROM #TEMP_M2601 WHERE #TEMP_M2601.attribute		=	1)
		BEGIN
			DELETE D FROM  #M0070H AS D 
			LEFT JOIN #TEMP_M2601 ON(D.position_cd = #TEMP_M2601.code AND #TEMP_M2601.attribute		=	1)
			WHERE #TEMP_M2601.code IS NULL
		END
		-- job_cd
		IF EXISTS(SELECT 1 FROM #TEMP_M2601 WHERE #TEMP_M2601.attribute		=	2)
		BEGIN
			DELETE D FROM  #M0070H AS D 
			LEFT JOIN #TEMP_M2601 ON(D.job_cd = #TEMP_M2601.code AND #TEMP_M2601.attribute		=	2)
			WHERE #TEMP_M2601.code IS NULL
		END
		--grade
		IF EXISTS(SELECT 1 FROM #TEMP_M2601 WHERE #TEMP_M2601.attribute		=	3)
		BEGIN
			DELETE D FROM  #M0070H AS D 
			LEFT JOIN #TEMP_M2601 ON(D.grade = #TEMP_M2601.code AND #TEMP_M2601.attribute		=	3)
			WHERE #TEMP_M2601.code IS NULL
		END
		--employee_typ
		IF EXISTS(SELECT 1 FROM #TEMP_M2601 WHERE #TEMP_M2601.attribute		=	4)
		BEGIN
			DELETE D FROM  #M0070H AS D 
			LEFT JOIN #TEMP_M2601 ON(D.employee_typ = #TEMP_M2601.code AND #TEMP_M2601.attribute		=	4)
			WHERE #TEMP_M2601.code IS NULL
		END
	END
	IF @coach_cd <> ''
	BEGIN
		DELETE D FROM  #M0070H AS D 
		LEFT JOIN( SELECT 
					company_cd
					,	fiscal_year
					,	employee_cd
					FROM
					F2001
					WHERE company_cd = @P_company_cd
					AND fiscal_year = @fiscal_year
					AND ISNULL(coach_cd,'') = @coach_cd AND @coach_cd<> ''
					AND F2001.del_datetime IS NULL
					) AS #DELETE_COACH ON (
			D.company_cd	=	#DELETE_COACH.company_cd
		AND @fiscal_year	=	#DELETE_COACH.fiscal_year
		AND D.employee_cd	=	#DELETE_COACH.employee_cd
		)
		WHERE  #DELETE_COACH.employee_cd IS NULL
	END

	INSERT INTO #TEMP_M2200
		SELECT
		M2200.interview_cd
	,	M2200.interview_nm
	FROM M2200 
	INNER JOIN 
	(SELECT 
		company_cd
	,	interview_cd
	,	MIN(adaption_date) AS adaption_date
	FROM M2200
	WHERE M2200.company_cd		=	@P_company_cd
	GROUP BY company_cd
		,	interview_cd) 
	AS #TEMP_M2200 ON(
		M2200.company_cd		=	#TEMP_M2200.company_cd
	AND M2200.interview_cd		=	#TEMP_M2200.interview_cd
	AND M2200.adaption_date		=	#TEMP_M2200.adaption_date
	)
	WHERE M2200.del_datetime IS NULL
	AND M2200.company_cd		=	@P_company_cd
	--
	WHILE @j	<=	5
	BEGIN
	INSERT INTO #TEMP_F2001_WHILE
	SELECT
			#M0070H.employee_cd
		,CASE
				WHEN	@j	=	1
				THEN	CONVERT(NVARCHAR(5),#TIME.times)+'A'
				WHEN	@j	=	2
				THEN	CONVERT(NVARCHAR(5),#TIME.times)+'B'
				WHEN	@j	=	3
				THEN	CONVERT(NVARCHAR(5),#TIME.times)+'C'
				WHEN	@j	=	4
				THEN	CONVERT(NVARCHAR(5),#TIME.times)+'D'
				WHEN	@j	=	5
				THEN	CONVERT(NVARCHAR(5),#TIME.times)+'E'
				ELSE	''
			END		
		,	CASE
				WHEN	@j	=	1 
				THEN	CAST(ISNULL(#TIME.times,0) AS NVARCHAR(20))
				WHEN	@j	=	2 
				THEN	CAST(F2001.coach_cd AS NVARCHAR(20))
				WHEN	@j	=	3 
				THEN	CAST(#F2001_COACH.employee_nm AS NVARCHAR(100))
				WHEN	@j	=	4 
				THEN	CAST(F2001.interview_cd AS NVARCHAR(20))
				WHEN	@j	=	5 
				THEN	CAST(ISNULL(M2200.interview_nm,#TEMP_M2200.interview_nm) AS NVARCHAR(100))
				ELSE	''
			END
		FROM #M0070H CROSS JOIN #TIME
		LEFT JOIN F2000 ON(
			#M0070H.company_cd	=	F2000.company_cd
		AND	@fiscal_year		=	F2000.fiscal_year
		AND	#M0070H.employee_cd	=	F2000.employee_cd
		AND F2000.del_datetime IS NULL
		)
		LEFT JOIN F2001 ON(
			F2000.company_cd	=	F2001.company_cd
		AND @fiscal_year		=	F2001.fiscal_year
		AND #M0070H.employee_cd	=	F2001.employee_cd
		AND #TIME.times			=	F2001.times
		AND F2001.del_datetime IS NULL
		)
		LEFT JOIN M2200 ON(
			F2001.company_cd	=	M2200.company_cd
		AND F2001.interview_cd	=	M2200.interview_cd
		AND F2001.adaption_date	=	M2200.adaption_date
		AND M2200.del_datetime IS NULL
		)
		LEFT JOIN M0070 AS #F2001_COACH ON(
			F2000.company_cd	=	#F2001_COACH.company_cd
		AND F2001.coach_cd		=	#F2001_COACH.employee_cd	
		)
		LEFT JOIN #TEMP_M2200 ON(
		F2001.interview_cd	=	#TEMP_M2200.interview_cd
		)
		-- table to remove coach not suit in search condition
		SET @j = @j + 1
	END
	--
	CREATE TABLE #TBL_HEADER_DYNAMIC(
			ID							BIGINT	IDENTITY(1,1)
		,	col_temp_name				NVARCHAR(20) 
		,	col_temp					NVARCHAR(100) 
		)	

		INSERT INTO #TBL_HEADER_DYNAMIC		
		SELECT 
			CONVERT(NVARCHAR(5),#TIME.times)+'A'
		,	'回数'		
		FROM  #TIME 
		INSERT INTO #TBL_HEADER_DYNAMIC	
		SELECT 
			CONVERT(NVARCHAR(5),#TIME.times)+'B'	
		,	'コーチコード'		
		FROM #TIME 
		INSERT INTO #TBL_HEADER_DYNAMIC	
		SELECT 
			CONVERT(NVARCHAR(5),#TIME.times)+'C'		
		,	'コーチ名'	
		FROM #TIME	
		INSERT INTO #TBL_HEADER_DYNAMIC	
		SELECT 
			CONVERT(NVARCHAR(5),#TIME.times)+'D'		
		,	'1on1シートコード'		
		FROM #TIME
		INSERT INTO #TBL_HEADER_DYNAMIC	
		SELECT 
			CONVERT(NVARCHAR(5),#TIME.times)+'E'
		,	'シート名'		
		FROM #TIME 
		--
		INSERT INTO #RESULT
		SELECT 
			'年度'							AS	fiscal_year	
		,	'社員番号'						AS	employee_cd																
		,	'社員名'							AS	employee_nm													
		,	'組織１'							AS	belong1_nm																																							
		,	'組織２'							AS	belong2_nm	
		,	'組織３'							AS	belong3_nm	
		,	'組織４'							AS	belong4_nm													
		,	'組織５'							AS	belong5_nm													
		,	'役職'							AS	position_nm													
		,	'職種'							AS	job_nm														
		,	'等級'							AS	grade_nm	
		,	'社員区分'						AS	employee_typ_nm		
		,	'1on1グループコード'				AS	[1on1_group_cd]		
		,	'1on1グループ名称'				AS	[1on1_group_nm]		
		,	'実施回数'						AS	[1on1_times]	
		UPDATE #RESULT
		SET 
			belong_cd1_nm	= M0022_1.organization_group_nm
		,	belong_cd2_nm	= M0022_2.organization_group_nm
		,	belong_cd3_nm	= M0022_3.organization_group_nm
		,	belong_cd4_nm	= M0022_4.organization_group_nm
		,	belong_cd5_nm	= M0022_5.organization_group_nm
		FROM #RESULT 
		LEFT JOIN M0022 AS M0022_1 ON(
			@P_company_cd	=	M0022_1.company_cd
		AND 1				=	M0022_1.organization_typ 
		AND 1				=	M0022_1.use_typ
		AND M0022_1.del_datetime IS NULL
		)
		LEFT JOIN M0022 AS M0022_2 ON(
			@P_company_cd	=	M0022_2.company_cd
		AND 2				=	M0022_2.organization_typ 
		AND 1				=	M0022_2.use_typ
		AND M0022_2.del_datetime IS NULL
		)
		LEFT JOIN M0022 AS M0022_3 ON(
			@P_company_cd	=	M0022_3.company_cd
		AND 3				=	M0022_3.organization_typ 
		AND 1				=	M0022_3.use_typ
		AND M0022_3.del_datetime IS NULL
		)
		LEFT JOIN M0022 AS M0022_4 ON(
			@P_company_cd	=	M0022_4.company_cd
		AND 4				=	M0022_4.organization_typ 
		AND 1				=	M0022_4.use_typ
		AND M0022_4.del_datetime IS NULL
		)
		LEFT JOIN M0022 AS M0022_5 ON(
			@P_company_cd	=	M0022_5.company_cd
		AND 5				=	M0022_5.organization_typ 
		AND 1				=	M0022_5.use_typ
		AND M0022_5.del_datetime IS NULL
		)
		if @group_cd = -1 
		BEGIN
			SET @group_cd = NULL
		END
		INSERT INTO #RESULT
		SELECT 
			CAST(@fiscal_year AS NVARCHAR(20))
		,	employee_cd			
		,	employee_nm			
		,	belong_cd1_nm		
		,	belong_cd2_nm
		,	belong_cd3_nm
		,	belong_cd4_nm		
		,	belong_cd5_nm		
		,	position_nm			
		,	job_nm				
		,	grade_nm	
		,	employee_typ_nm	
		,	CAST(@group_cd AS nvarchar(20))	 			
		,	CAST(ISNULL(@group_nm,'') AS nvarchar(50))	
		,	CAST(@times AS nvarchar(50))				
		FROM #M0070H
		--
		INSERT INTO #TEMP_F2001_WHILE
		SELECT 
			'社員番号'
		,	col_temp_name
		,	col_temp
		FROM 
		#TBL_HEADER_DYNAMIC
		SELECT @string_column_alter = stuff((select ','+ N'['+ cast((#TIME.times) as nvarchar(10))+'A],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'B],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'C],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'D],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'E]'
								 from #TIME
								 ORDER BY times
								 offset 0 rows
								fetch next 120 rows only
								 for xml path('')),1,1,'')
		--
		IF(SELECT COUNT(1) FROM #TIME )> 120
		BEGIN
		SET @table_count = 2
			SELECT @string_column_alter1 = stuff((select ','+ N'['+ cast((#TIME.times) as nvarchar(10))+'A],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'B],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'C],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'D],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'E]'
								 from #TIME
								 ORDER BY times
								 offset 120 rows
								fetch next 80 rows only
								 for xml path('')),1,1,'')
		END

		IF(SELECT COUNT(1) FROM #TIME )> 120
		BEGIN
		SET @table_count = 3
			SELECT @string_column_alter2 = stuff((select ','+ N'['+ cast((#TIME.times) as nvarchar(10))+'A],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'B],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'C],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'D],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'E]'
								 from #TIME
								 ORDER BY times
								 offset 200 rows
								fetch next 80 rows only
								 for xml path('')),1,1,'')
		END
		IF(SELECT COUNT(1) FROM #TIME )> 280
		BEGIN
		SET @table_count = 4
			SELECT @string_column_alter3 = stuff((select ','+ N'['+ cast((#TIME.times) as nvarchar(10))+'A],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'B],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'C],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'D],'
													+ N'['+ cast((#TIME.times) as nvarchar(10))+'E]'
								 from #TIME
								 ORDER BY times
								 offset 280 rows
								fetch next 366 rows only
								 for xml path('')),1,1,'')
		END

	 SET @string_sql = 
	 ' SELECT  
			ROW_NUMBER() OVER( ORDER BY employee_cd ASC)  AS ID
		,	fiscal_year
		,	employee_cd																
		,	employee_nm													
		'+@belong_col+'											
		,	position_nm													
		,	job_nm														
		,	grade_nm	
		,	employee_typ_nm	
		,	[1on1_group_cd]	
		,	[1on1_group_nm]		
		,	[1on1_times]	
		,	'+@string_column_alter+'					
		FROM (
		SELECT 
			#RESULT.fiscal_year
		,	#RESULT.employee_cd			
		,	#RESULT.employee_nm			
		,	#RESULT.belong_cd1_nm		
		,	#RESULT.belong_cd2_nm
		,	#RESULT.belong_cd3_nm
		,	#RESULT.belong_cd4_nm		
		,	#RESULT.belong_cd5_nm		
		,	#RESULT.position_nm			
		,	#RESULT.job_nm				
		,	#RESULT.grade_nm	
		,	#RESULT.employee_typ_nm	
		,	#RESULT.[1on1_group_cd]		
		,	#RESULT.[1on1_group_nm]	
		,	#RESULT.[1on1_times]	
		,	#TEMP_F2001_WHILE.column_nm
		,	#TEMP_F2001_WHILE.column_value
		FROM #RESULT
		LEFT JOIN #TEMP_F2001_WHILE ON(
			#RESULT.employee_cd = #TEMP_F2001_WHILE.employee_cd
		)
		)
		AS P
		Pivot(MAX(column_value) FOR column_nm IN ('+@string_column_alter+')) AS A
		ORDER BY 
		CASE WHEN  ISNUMERIC(employee_cd)  = 1  AND employee_cd <> ''社員番号''
		   THEN CAST(employee_cd AS BIGINT) 
		   WHEN employee_cd = ''社員番号''
		   THEN -999999999999999999999999
		   ELSE 999999999999999 
		END 
		,	employee_cd
		'

		SET @string_sql1 = 
		' SELECT  
			ROW_NUMBER() OVER( ORDER BY employee_cd ASC)  AS ID	
		,	'+@string_column_alter1+'					
		FROM (
		SELECT 
			#TEMP_F2001_WHILE.employee_cd
		,	#TEMP_F2001_WHILE.column_nm
		,	#TEMP_F2001_WHILE.column_value
		FROM #TEMP_F2001_WHILE
		)
		AS P
		Pivot(MAX(column_value) FOR column_nm IN ('+@string_column_alter1+')) AS A
		ORDER BY 
		CASE WHEN  ISNUMERIC(employee_cd)  = 1  AND employee_cd <> ''社員番号''
		   THEN CAST(employee_cd AS BIGINT) 
		   WHEN employee_cd = ''社員番号''
		   THEN -999999999999999999999999
		   ELSE 999999999999999 
		END 
		,	employee_cd
		'
		SET @string_sql2 = 
	 ' SELECT  
			ROW_NUMBER() OVER( ORDER BY employee_cd ASC)  AS ID	
		,	'+@string_column_alter2+'					
		FROM (
		SELECT 
			#TEMP_F2001_WHILE.employee_cd
		,	#TEMP_F2001_WHILE.column_nm
		,	#TEMP_F2001_WHILE.column_value
		FROM #TEMP_F2001_WHILE
		)
		AS P
		Pivot(MAX(column_value) FOR column_nm IN ('+@string_column_alter2+')) AS A
		ORDER BY 
		CASE WHEN  ISNUMERIC(employee_cd)  = 1  AND employee_cd <> ''社員番号''
		   THEN CAST(employee_cd AS BIGINT) 
		   WHEN employee_cd = ''社員番号''
		   THEN -999999999999999999999999
		   ELSE 999999999999999 
		END 
		,	employee_cd
		'
		SET @string_sql3 = 
	 ' SELECT  
			ROW_NUMBER() OVER( ORDER BY employee_cd ASC)  AS ID	
		,	'+@string_column_alter3+'					
		FROM (
		SELECT 
			#TEMP_F2001_WHILE.employee_cd
		,	#TEMP_F2001_WHILE.column_nm
		,	#TEMP_F2001_WHILE.column_value
		FROM #TEMP_F2001_WHILE
		)
		AS P
		Pivot(MAX(column_value) FOR column_nm IN ('+@string_column_alter3+')) AS A
		ORDER BY 
		CASE WHEN  ISNUMERIC(employee_cd)  = 1  AND employee_cd <> ''社員番号''
		   THEN CAST(employee_cd AS BIGINT) 
		   WHEN employee_cd = ''社員番号''
		   THEN -999999999999999999999999
		   ELSE 999999999999999 
		END 
		,	employee_cd
		'
		COMPLETE_QUERY:
		--[0]
		SELECT 
			message_no
		,	item
		,	order_by
		,	error_typ
		,	value1
		,	value2
		,	remark
		FROM @ERR_TBL
		ORDER BY 
			order_by
		--[1]
		select @table_count AS table_count
		--[2...]
		EXECUTE(@string_sql)
		IF(SELECT COUNT(1) FROM #TIME )> 120
		BEGIN
			EXECUTE(@string_sql1)
		END
		IF(SELECT COUNT(1) FROM #TIME )> 200
		BEGIN
			EXECUTE(@string_sql2)
		END
		IF(SELECT COUNT(1) FROM #TIME )> 280
		BEGIN
			EXECUTE(@string_sql3)
		END
		
		
	--DROP TABLE
	DROP TABLE #TABLE_ORGANIZATION
	DROP TABLE #M0070H
	DROP TABLE #RESULT
	DROP TABLE #TBL_EMP
	DROP TABLE #TBL_HEADER_DYNAMIC
	DROP TABLE #TEMP_F2001_WHILE
	DROP TABLE #TEMP_M2200
	DROP TABLE #TEMP_M2601
	DROP TABLE #TIME
	DROP TABLE #TIME_M2610
END
GO
