IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_oi1020_ACT1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_oI1020_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：OI1020 - SAVE/UPDATE
 *
 *  作成日  ：	2020-09-25
 *  作成者  ：	ANS-ASIA datnt
 *
 *  更新日  ：	2021/08/24
 *  更新者  ：	viettd
 *  更新内容：	add mode CSV import INTO SAVE
 *
 *  更新日  ：	2022/07/19
 *  更新者  ：	viettd
 *  更新内容：	cr checklist msg 129
 *   					
 *  更新日/update date			:	2022/08/19
 *　更新者/updater				:	vietdt　
 *　更新内容/update content		:	update ver 1.9	
  *   					
 *  更新日/update date			:	2022/10/05
 *　更新者/updater				:	namnt　
 *　更新内容/update content		:	
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_oI1020_ACT1] 
	@P_company_cd		SMALLINT		= 0
,	@P_cre_user			NVARCHAR(50)	= ''
,	@P_cre_ip			NVARCHAR(50)	= ''
,	@P_json				NVARCHAR(MAX)	= ''
,	@P_language			NVARCHAR(4)		= 'jp'
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2		=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@fiscal_year				INT				=	0
	,	@group_cd					INT				=	0
	,	@string_column_alter		NVARCHAR(MAX)	=	''
	,	@string_column				NVARCHAR(MAX)	=	''
	,	@times						INT				=	0
	,	@i							INT				=	1
	,	@current_year				INT				=	0
	,	@w_interview_master_cnt		INT				=	0		-- add by viettd 2021/08/24
	,	@w_i						INT				=	1		-- add by viettd 2021/08/24
	,	@w_start_date				DATE			=	NULL	-- add by viettd 2021/08/24
	,	@w_interview_cd				SMALLINT		=	0		-- add by viettd 2021/08/24
	,	@w_times					INT				=	0		-- add by viettd 2021/08/24
	--------------------------------------------------------
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	SET @fiscal_year		=	JSON_VALUE(@P_json,'$.fiscal_year')
	SET @group_cd			=	JSON_VALUE(@P_json,'$.group_cd')
	-- CREATE TEMPORARY TABLE
	CREATE TABLE #TBL_JSON(
		id				INT			identity(1,1)
	,	row_index		INT
	,	employee_cd		NVARCHAR(10)
	,	times			SMALLINT
	,	interview_cd	SMALLINT
	,	coach_cd		NVARCHAR(10)
	,	[start_date]	DATE
	,	adaption_date	DATE
	,	f2200_status	INT
	)
	--#TBL_JSON_EMPLOYEE
	CREATE TABLE #TBL_JSON_EMPLOYEE(
		id				INT  IDENTITY(1,1)
	,	employee_cd		NVARCHAR(10)
	)
	-- TABLE #TABLE_F2301_COACH_DB
	CREATE TABLE #TABLE_F2301_COACH_DB (
		company_cd			SMALLINT
	,	fiscal_year			SMALLINT
	,	[1on1_group_cd]		SMALLINT
	,	times				SMALLINT
	,	submit				TINYINT
	,	employee_cd			NVARCHAR(10)		-- member / coach
	)
	CREATE TABLE #TABLE_F2301_EMPLOYEE (
		company_cd			SMALLINT
	,	fiscal_year			SMALLINT
	,	[1on1_group_cd]		SMALLINT
	,	times				SMALLINT
	,	submit				TINYINT				-- 1.coach / 2.member
	,	employee_cd			NVARCHAR(10)		-- member / coach
	)
	-- TABLE #S0010_COACH
	CREATE TABLE #S0010_COACH(
		coach_cd		NVARCHAR(10)
	,	employee_status	 INT			--1:member /  0:not either member and coach / 2: coach
	)
	-- END CREATE TEMPORARY TABLE
	INSERT INTO #TBL_JSON
	SELECT 
		row_index
	,	employee_cd	
	,	times			
	,	ISNULL(IIF(interview_cd = '',-1,interview_cd),-1)	
	,	ISNULL(coach_cd ,'')	
	,	[start_date]
	,	NULL						-- adaption_date
	,	0							-- f2200_status
	FROM OPENJSON(@P_json,'$.list_pair') WITH(
		row_index		INT
	,	employee_cd		NVARCHAR(10)
	,	times			INT
	,	interview_cd	NVARCHAR(50)
	,	coach_cd		NVARCHAR(50)
	,	[start_date]	DATE
	) AS A
	WHERE 
		A.interview_cd > 0
	OR	ISNULL(A.coach_cd,'')	<>	''
	-- REMOVE PAIRS HAS NO DATA
	--DELETE #TBL_JSON WHERE interview_cd = -1 AND coach_cd = ''
	-- add by viettd 2021/08/24
	-- UPDATE [start_date] FROM MASTER M2620
	UPDATE #TBL_JSON SET 
		[start_date] = M2620.[start_date]
	FROM #TBL_JSON
	INNER JOIN M2620 ON (
		@P_company_cd			=	M2620.company_cd
	AND @fiscal_year			=	M2620.fiscal_year
	AND @group_cd				=	M2620.[1on1_group_cd]
	AND #TBL_JSON.times			=	M2620.times
	AND M2620.del_datetime IS NULL
	)
	--GET ONLY EMPLOYEE FROM TABLE JSON
	INSERT INTO #TBL_JSON_EMPLOYEE
	SELECT
		employee_cd
	FROM #TBL_JSON
	GROUP BY employee_cd
	-- mark all employee has been registered  in table F2200
	UPDATE #TBL_JSON SET 
		[f2200_status]	=	1
	FROM #TBL_JSON 
	INNER JOIN F2200 ON(
		@P_company_cd			=	F2200.company_cd
	AND @fiscal_year			=	F2200.fiscal_year
	AND #TBL_JSON.employee_cd	=	F2200.employee_cd
	AND #TBL_JSON.times			=	F2200.times
	AND F2200.del_datetime IS NULL
	--add vietdt 2022/07/19
	AND F2200.submit_datetime_member IS NOT NULL
	)
	--
	SET @current_year = (SELECT [dbo].[FNC_GET_YEAR_1ON1] (@P_company_cd,@w_time))
	-- CHECK NO DATA SELECTED
	IF NOT EXISTS (SELECT 1 FROM #TBL_JSON  )
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			126								
		,	'.emp_error'					
		,	0-- oderby						
		,	1-- dialog  					
		,	0								
		,	0								
		,	'no row detail is checked'		
		)
	END
	-- COACH AND INTERVIEW SHEET MUST INPUT BOTH
	INSERT INTO @ERR_TBL 
	SELECT 
		127								
	,	'.emp_error'								
	,	0-- oderby						
	,	4--   							
	,	#TBL_JSON.row_index		
	,	0								
	,	'not setting coach or sheet'	
		
	FROM #TBL_JSON
	WHERE (interview_cd <> -1 AND coach_cd = '') 
	OR	(interview_cd = -1 AND coach_cd <> '')
	-- INPUT COACH NOT IN MASTER M0070
	INSERT INTO @ERR_TBL 
	SELECT
		128								
	,	'.emp_error'									
	,	0-- oderby						
	,	4  								
	,	#TBL_JSON.row_index						
	,	0								
	,	'import coach_cd not in master employee'					
	FROM #TBL_JSON 
	LEFT JOIN M0070 ON(
		@P_company_cd =  M0070.company_cd 	
	AND #TBL_JSON.coach_cd = M0070.employee_cd
	AND M0070.del_datetime IS NULL) 
	WHERE M0070.company_cd IS NULL AND coach_cd <> ''
	-- CHECK EXISTS DATA IN F2200
	INSERT INTO @ERR_TBL
	SELECT
		129								
	,	'.emp_error'					 				
	,	0-- oderby						
	,	4  						
	,	#TBL_JSON.row_index				
	,	0								
	,	'CANNOT CHANGE VALUE WHEN EXISTS DATA IN F2200'				
	FROM #TBL_JSON 
	INNER JOIN F2001 ON(
		@P_company_cd			=	F2001.company_cd
	AND @fiscal_year			=	F2001.fiscal_year
	AND #TBL_JSON.employee_cd	=	F2001.employee_cd
	AND #TBL_JSON.times			=	F2001.times
	AND #TBL_JSON.[f2200_status] = 1
	)
	WHERE	
		#TBL_JSON.coach_cd		<>	F2001.coach_cd 
	OR	#TBL_JSON.interview_cd	<> F2001.interview_cd
	-- CHECK IS EMPLOYEE  EXISTS IN ANOTHER  GROUP ?
	INSERT INTO @ERR_TBL 
	SELECT
		130													
	,	'.emp_error'								
	,	0-- oderby			
	,	4 					
	,	#TBL_JSON.row_index	
	,	0						
	,	'employee has been assign in another group'					
	FROM #TBL_JSON 
	INNER JOIN F2000 ON (
		@P_company_cd			= F2000.company_cd 
	AND fiscal_year				= @fiscal_year 
	AND #TBL_JSON.employee_cd	= F2000.employee_cd
	AND @group_cd				<> F2000.[1on1_group_cd]
	AND del_datetime IS NULL)
	-- cannot coach yourself
	INSERT INTO @ERR_TBL 
	SELECT
		131							
	,	'.emp_error'				
	,	0-- oderby					
	,	4  					
	,	#TBL_JSON.row_index
	,	0					
	,	'cannot coach yourself'			
	FROM #TBL_JSON 
	WHERE #TBL_JSON.employee_cd = coach_cd
	-- add by viettd 2021/08/24 
	-- add check group_cd is existed in M2620
	IF NOT EXISTS (
		SELECT 1 FROM M2620
		WHERE
			M2620.company_cd		=	@P_company_cd
		AND M2620.fiscal_year		=	@fiscal_year
		AND M2620.[1on1_group_cd]	=	@group_cd
		AND M2620.del_datetime IS NULL
	)
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			141								
		,	''					
		,	0-- oderby						
		,	1-- dialog  					
		,	0								
		,	0								
		,	'GROUP_CD IS NOT EXITED IN TABLE M2620'		
		)
	END
	-- MESS 142 check interview_cd not exits in times
	-- INTERVIEW_CD IS NOT EXITED IN TABLE M2200
	SET @w_interview_master_cnt = (SELECT COUNT(1) FROM #TBL_JSON)
	WHILE @w_i <= @w_interview_master_cnt
	BEGIN
		SET @w_start_date = (SELECT #TBL_JSON.[start_date] FROM #TBL_JSON WHERE id = @w_i)
		SET @w_interview_cd = (SELECT #TBL_JSON.interview_cd FROM #TBL_JSON WHERE id = @w_i)
		SET @w_times = (SELECT #TBL_JSON.times FROM #TBL_JSON WHERE id = @w_i)
		--
		IF NOT EXISTS (
			SELECT 1 FROM M2200 
			WHERE 
				M2200.company_cd	= @P_company_cd 
			AND M2200.interview_cd	= @w_interview_cd 
			AND M2200.adaption_date <= @w_start_date 
			AND M2200.del_datetime IS NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				142								
			,	''					
			,	0-- oderby						
			,	5-- csv import error   					
			,	0								
			,	0								
			,	IIF(@P_language = 'en','Times ','回数')+ CAST(@w_times AS nvarchar(3)) + ':'		
			)
		END
		-- INCREMENT
		SET @w_i = @w_i + 1
	END
	-------------------------------------------------------------------------
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN 
			--  GET DATA F2001 INTO #TABLE_F2301_COACH_DB
			INSERT INTO #TABLE_F2301_COACH_DB
			SELECT 
				@P_company_cd
			,	@fiscal_year
			,	ISNULL(F2000.[1on1_group_cd],0)
			,	ISNULL(F2001.times,0)
			,	1					-- submit
			,	ISNULL(F2001.coach_cd,'')	AS	employee_cd
			FROM #TBL_JSON_EMPLOYEE
			LEFT OUTER JOIN F2001 ON (
				@P_company_cd					=	F2001.company_cd
			AND @fiscal_year					=	F2001.fiscal_year
			AND #TBL_JSON_EMPLOYEE.employee_cd	=	F2001.employee_cd
			AND F2001.del_datetime IS NULL
			)
			LEFT OUTER JOIN F2000 ON (
				@P_company_cd					=	F2000.company_cd
			AND @fiscal_year					=	F2000.fiscal_year
			AND #TBL_JSON_EMPLOYEE.employee_cd	=	F2000.employee_cd
			AND F2000.del_datetime IS NULL
			)
			-- UPDATE adaption_date
			UPDATE #TBL_JSON SET 
				adaption_date = #M2200.adaption_date 
			FROM  #TBL_JSON 
			LEFT JOIN 
			(
				SELECT 
					#TBL_JSON.employee_cd
				,	#TBL_JSON.times
				,	MAX(M2200.adaption_date) AS adaption_date
				FROM #TBL_JSON 
				LEFT JOIN M2200 ON(
					@P_company_cd			=	M2200.company_cd
				AND #TBL_JSON.interview_cd	=	M2200.interview_cd
				AND #TBL_JSON.[start_date]	>=  M2200.adaption_date
				AND M2200.del_datetime IS NULL
				)
				GROUP BY #TBL_JSON.employee_cd 
					,	#TBL_JSON.interview_cd
					,	#TBL_JSON.times
			) AS #M2200 ON(
				#TBL_JSON.employee_cd	= 	#M2200.employee_cd
			AND #TBL_JSON.times			=	#M2200.times
			)
			--
			UPDATE F2000 SET 
				company_cd				=	@P_company_cd
			,	fiscal_year				=	@fiscal_year			
			,	employee_cd				=	#TBL_JSON_EMPLOYEE.employee_cd	
			,	[1on1_group_cd]			=	@group_cd		
			,	upd_user				=	@P_cre_user
			,	upd_ip					=	@P_cre_ip
			,	upd_prg					=	'oI1020'
			,	upd_datetime			=	@w_time
			,	del_user				=	''
			,	del_ip					=	''
			,	del_prg					=	''
			,	del_datetime			=	NULL
			FROM F2000 
			INNER JOIN #TBL_JSON_EMPLOYEE ON(
				F2000.company_cd	= @P_company_cd 
			AND F2000.fiscal_year	= @fiscal_year
			AND F2000.employee_cd	= #TBL_JSON_EMPLOYEE.employee_cd
			)
			--
			INSERT INTO F2000
			SELECT 
				@P_company_cd
			,	@fiscal_year			
			,	#TBL_JSON_EMPLOYEE.employee_cd
			,	@group_cd		
			,	@P_cre_user
			,	@P_cre_ip
			,	'oI1020'
			,	@w_time
			,	''
			,	''
			,	''
			,	NULL
			,	''
			,	''
			,	''
			,	NULL
			FROM #TBL_JSON_EMPLOYEE
			LEFT JOIN F2000 ON(
				F2000.company_cd	= @P_company_cd 
			AND F2000.fiscal_year	= @fiscal_year
			AND F2000.employee_cd	= #TBL_JSON_EMPLOYEE.employee_cd
			) 
			WHERE F2000.company_cd IS NULL
			--
			UPDATE F2001 SET 
				company_cd			=	@P_company_cd
			,	fiscal_year			=	@fiscal_year			
			,	employee_cd			=	#TBL_JSON.employee_cd	
			,	times				=	#TBL_JSON.times
			,	coach_cd			=	#TBL_JSON.coach_cd
			,	interview_cd		=	#TBL_JSON.interview_cd
			,	adaption_date		=	#TBL_JSON.adaption_date
			,	upd_user				=	@P_cre_user
			,	upd_ip					=	@P_cre_ip
			,	upd_prg					=	'oI1020'
			,	upd_datetime			=	@w_time
			,	del_user				=	''
			,	del_ip					=	''
			,	del_prg					=	''
			,	del_datetime			=	NULL
			FROM F2001 
			INNER JOIN #TBL_JSON ON(
				F2001.company_cd	= @P_company_cd 
			AND F2001.fiscal_year	= @fiscal_year
			AND F2001.employee_cd	= #TBL_JSON.employee_cd
			AND F2001.times			=	#TBL_JSON.times
			)
			--
			UPDATE F2001 SET
				del_user				=	@P_cre_user
			,	del_ip					=	@P_cre_ip
			,	del_prg					=	'oI1020'
			,	del_datetime			=	@w_time
			FROM F2001
			INNER JOIN #TBL_JSON_EMPLOYEE ON(
				F2001.employee_cd	=	#TBL_JSON_EMPLOYEE.employee_cd
			)
			LEFT JOIN #TBL_JSON ON(
				F2001.company_cd	= @P_company_cd 
			AND F2001.fiscal_year	= @fiscal_year
			AND F2001.employee_cd	= #TBL_JSON.employee_cd
			AND F2001.times			= #TBL_JSON.times
			)
			WHERE #TBL_JSON.employee_cd IS NULL
			AND F2001.company_cd	= @P_company_cd 
			AND F2001.fiscal_year	= @fiscal_year
			AND F2001.employee_cd	= #TBL_JSON_EMPLOYEE.employee_cd
			--
			INSERT INTO F2001
			SELECT 
				@P_company_cd
			,	@fiscal_year
			,	#TBL_JSON.employee_cd
			,	#TBL_JSON.times
			,	#TBL_JSON.coach_cd
			,	#TBL_JSON.interview_cd
			,	#TBL_JSON.adaption_date	
			,	@P_cre_user
			,	@P_cre_ip
			,	'oI1020'
			,	@w_time
			,	''
			,	''
			,	''
			,	NULL
			,	''
			,	''
			,	''
			,	NULL
			FROM #TBL_JSON 
			LEFT JOIN F2001 ON(
				F2001.company_cd		= @P_company_cd 
			AND F2001.fiscal_year		= @fiscal_year
			AND F2001.employee_cd		= #TBL_JSON.employee_cd
			AND F2001.times				= #TBL_JSON.times
			)
			WHERE F2001.company_cd IS NULL
			------------INSERT UPDATE DELETE TABLE F2301------------
			-- F2301.submit = 2 -- member 
			--------------------------------------------------------
			-- UPDATE + ADD + DEL F2301 WITH submit = 2
			INSERT INTO #TABLE_F2301_EMPLOYEE
			SELECT 
				@P_company_cd
			,	@fiscal_year
			,	@group_cd
			,	#TBL_JSON.times
			,	2						-- 2.member
			,	#TBL_JSON.employee_cd
			FROM #TBL_JSON
			GROUP BY
				#TBL_JSON.times
			,	#TBL_JSON.employee_cd
			-- UPDATE 
			UPDATE F2301 SET 
				upd_user		=	@P_cre_user
			,	upd_ip			=	@P_cre_ip
			,	upd_prg			=	'OI1020'
			,	upd_datetime	=	@w_time
			,	del_user		=	SPACE(0)
			,	del_ip			=	SPACE(0)
			,	del_prg			=	SPACE(0)
			,	del_datetime	=	NULL
			FROM F2301
			INNER JOIN #TABLE_F2301_EMPLOYEE ON (
				F2301.company_cd		=	@P_company_cd
			AND F2301.fiscal_year		=	@fiscal_year
			AND F2301.[1on1_group_cd]	=	@group_cd
			AND F2301.times				=	#TABLE_F2301_EMPLOYEE.times
			AND F2301.submit			=	2 -- member
			AND F2301.employee_cd		=	#TABLE_F2301_EMPLOYEE.employee_cd
			)
			-- ADD
			INSERT INTO F2301
			SELECT 
				@P_company_cd
			,	@fiscal_year
			,	@group_cd
			,	S.times
			,	2		-- submit
			,	S.employee_cd
			,	NULL	-- send_user
			,	NULL	-- send_ip
			,	NULL	-- send_datetime
			,	@P_cre_user
			,	@P_cre_ip
			,	'OI1020'
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #TABLE_F2301_EMPLOYEE AS S
			LEFT OUTER JOIN F2301 ON (
				S.company_cd			=	F2301.company_cd
			AND S.fiscal_year			=	F2301.fiscal_year
			AND S.[1on1_group_cd]		=	F2301.[1on1_group_cd]
			AND S.times					=	F2301.times
			AND S.submit				=	F2301.submit
			AND S.employee_cd			=	F2301.employee_cd
			)
			WHERE 
				F2301.company_cd IS NULL
			AND S.submit  = 2	-- 2.MEMBER
			------------------------------------
			-- F2301.submit = 1 -- coach 
			------------------------------------
			-- DELETE COACH IN #TABLE_F2301_COACH_DB AND EXISTED IN SCREEN => GET COACH NOT IN SCREEN BUT EXISTS IN TABLE (F2301) #TABLE_F2301_COACH_DB
			DELETE D FROM #TABLE_F2301_COACH_DB AS D 
			INNER JOIN #TBL_JSON ON (
				D.company_cd			=	@P_company_cd
			AND D.fiscal_year			=	@fiscal_year
			AND D.[1on1_group_cd]		=	@group_cd
			AND D.times					=	#TBL_JSON.times
			AND D.submit				=	1
			AND D.employee_cd			=	#TBL_JSON.coach_cd
			)
			-- DELETE COACH FROM #TABLE_F2301_COACH_DB BUT NOT EIXTS IN F2001
			DELETE D FROM #TABLE_F2301_COACH_DB AS D 
			INNER JOIN F2001 ON (
				D.company_cd			=	F2001.company_cd
			AND D.fiscal_year			=	F2001.fiscal_year
			AND D.[1on1_group_cd]		=	@group_cd
			AND D.times					=	F2001.times
			AND D.submit				=	1
			AND D.employee_cd			=	F2001.coach_cd
			AND F2001.del_datetime IS NULL
			)
			-- REMOVE ALL COACH IN F2301 FROM TABLE #TABLE_F2301_COACH_DB
			DELETE D FROM F2301 AS D
			INNER JOIN #TABLE_F2301_COACH_DB ON (
				D.company_cd		=	#TABLE_F2301_COACH_DB.company_cd
			AND D.fiscal_year		=	#TABLE_F2301_COACH_DB.fiscal_year
			AND D.[1on1_group_cd]	=	#TABLE_F2301_COACH_DB.[1on1_group_cd]
			AND D.times				=	#TABLE_F2301_COACH_DB.times
			AND D.submit			=	#TABLE_F2301_COACH_DB.submit
			AND D.employee_cd		=	#TABLE_F2301_COACH_DB.employee_cd
			)
			-- UPDATE + ADD + DEL F2301 WITH submit = 1
			-- INSERT ALL COACH ON SCREEN
			INSERT INTO #TABLE_F2301_EMPLOYEE
			SELECT 
				@P_company_cd
			,	@fiscal_year
			,	@group_cd
			,	#TBL_JSON.times
			,	1						-- 1.coach
			,	#TBL_JSON.coach_cd
			FROM #TBL_JSON
			GROUP BY
				#TBL_JSON.times
			,	#TBL_JSON.coach_cd
			-- INSERT ALL COACH IN F2001 NOT ON SCREEN
			--INSERT INTO #TABLE_F2301_EMPLOYEE
			--SELECT 
			--	@P_company_cd
			--,	@fiscal_year
			--,	@group_cd
			--,	F2001.times
			--,	1						-- 1.coach
			--,	F2001.coach_cd
			--FROM F2001 
			--LEFT JOIN  #TBL_JSON ON(
			--	F2001.company_cd	= @P_company_cd
			--AND F2001.fiscal_year	= @fiscal_year
			--AND F2001.coach_cd		= #TBL_JSON.coach_cd
			--AND F2001.times			= #TBL_JSON.times
			--AND F2001.del_datetime IS NULL
			--)
			--WHERE #TBL_JSON.employee_cd IS NULL
			--GROUP BY
			--	F2001.times
			--,	F2001.coach_cd
			-- F2301 WTIH COACH FROM TABLE #TBL_JSON
			UPDATE F2301 SET 
				upd_user		=	@P_cre_user
			,	upd_ip			=	@P_cre_ip
			,	upd_prg			=	'OI1020'
			,	upd_datetime	=	@w_time
			,	del_user		=	SPACE(0)
			,	del_ip			=	SPACE(0)
			,	del_prg			=	SPACE(0)
			,	del_datetime	=	NULL
			FROM F2301
			INNER JOIN #TABLE_F2301_EMPLOYEE ON (
				F2301.company_cd		=	@P_company_cd
			AND F2301.fiscal_year		=	@fiscal_year
			AND F2301.[1on1_group_cd]	=	@group_cd
			AND F2301.times				=	#TABLE_F2301_EMPLOYEE.times
			AND F2301.submit			=	1 -- coach
			AND F2301.employee_cd		=	#TABLE_F2301_EMPLOYEE.employee_cd
			)
			-- ADD
			INSERT INTO F2301
			SELECT 
				@P_company_cd
			,	@fiscal_year
			,	@group_cd
			,	S.times
			,	1		-- submit
			,	S.employee_cd
			,	NULL	-- send_user
			,	NULL	-- send_ip
			,	NULL	-- send_datetime
			,	@P_cre_user
			,	@P_cre_ip
			,	'OI1020'
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #TABLE_F2301_EMPLOYEE AS S
			LEFT OUTER JOIN F2301 ON (
				S.company_cd			=	F2301.company_cd
			AND S.fiscal_year			=	F2301.fiscal_year
			AND S.[1on1_group_cd]		=	F2301.[1on1_group_cd]
			AND S.times					=	F2301.times
			AND S.submit				=	F2301.submit
			AND S.employee_cd			=	F2301.employee_cd
			)
			WHERE 
				F2301.company_cd IS NULL
			AND S.submit = 1 -- COACH
			---------------UPDATE AUTHORITY--------------
			--get all coach hasbeen remove selected row in selected year on screen
			INSERT INTO #S0010_COACH
			SELECT 
				S0010.employee_cd
			,	0
			FROM S0010
			LEFT JOIN F2001 ON(
				S0010.company_cd		=	F2001.company_cd
			--AND		@fiscal_year			=	F2001.fiscal_year --commented by namnt 20221005
			AND	S0010.employee_cd		=	F2001.coach_cd
			AND F2001.del_datetime IS NULL
			)
			WHERE	S0010.company_cd = @P_company_cd 
			AND		S0010.[1on1_authority_typ] = 2 
			AND		F2001.company_cd IS NULL 
			AND		@fiscal_year			=	F2001.fiscal_year --updated by namnt 20221005
			--  coach has been remove but still a member Update to authority =1 
			UPDATE #S0010_COACH SET 
				employee_status = 1
			FROM  #S0010_COACH 
			INNER JOIN F2001 ON(
				F2001.company_cd		=	@P_company_cd
			AND @current_year			=	F2001.fiscal_year  -- check with current year not year selected on screen
			AND	#S0010_COACH.coach_cd	=	F2001.employee_cd
			AND F2001.del_datetime IS NULL
			)
			WHERE F2001.del_datetime IS NULL
			-- GET coach has been remove in selected row but still a coach other employee
			UPDATE #S0010_COACH SET 
				employee_status = 2
			FROM  #S0010_COACH 
			INNER JOIN F2001 ON(
				F2001.company_cd		=	@P_company_cd
			AND @current_year			=	F2001.fiscal_year   -- check with current year not year selected on screen
			AND	#S0010_COACH.coach_cd	=	F2001.coach_cd
			AND F2001.del_datetime IS NULL
			)
			WHERE F2001.del_datetime IS NULL
			---update all member selected on screen and not a role coach in f2001  = 1
			UPDATE S0010 SET 
				[1on1_authority_typ]	=	1
			,	upd_user				=	@P_cre_user
			,	upd_ip					=	@P_cre_ip
			,	upd_prg					=	'oI1020'
			,	upd_datetime			=	@w_time
			FROM S0010 
			INNER JOIN #TBL_JSON_EMPLOYEE ON(
				S0010.company_cd	= @P_company_cd
			AND S0010.employee_cd	= #TBL_JSON_EMPLOYEE.employee_cd
			AND ISNULL(S0010.[1on1_authority_typ],0) < 3
			)LEFT JOIN F2001 ON(
				F2001.company_cd		=	@P_company_cd
			AND @current_year			=	F2001.fiscal_year  -- check with current year not year selected on screen
			AND	S0010.employee_cd		=	F2001.coach_cd
			AND F2001.del_datetime IS NULL
			)
			WHERE F2001.company_cd   IS NULL
			AND   S0010.del_datetime IS NULL
			AND		@fiscal_year = @current_year	-- update for current year only
			-- update all coach assign on screen
			UPDATE S0010 SET 
				[1on1_authority_typ]	=	2 
			,	upd_user				=	@P_cre_user
			,	upd_ip					=	@P_cre_ip
			,	upd_prg					=	'oI1020'
			,	upd_datetime			=	@w_time
			FROM S0010 
			INNER JOIN #TBL_JSON ON(
				S0010.company_cd	= @P_company_cd
			AND S0010.employee_cd	= #TBL_JSON.coach_cd
			AND @current_year		= @fiscal_year
			AND ISNULL(S0010.[1on1_authority_typ],0) < 3
			)
			WHERE  S0010.del_datetime IS NULL
			-- update authority of coach has been remove 
			UPDATE S0010 SET 
				[1on1_authority_typ]	=	#S0010_COACH.employee_status
			,	upd_user				=	@P_cre_user
			,	upd_ip					=	@P_cre_ip
			,	upd_prg					=	'oI1020'
			,	upd_datetime			=	@w_time
			FROM S0010 
			INNER JOIN #S0010_COACH ON(
				S0010.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	#S0010_COACH.coach_cd
			AND ISNULL(S0010.[1on1_authority_typ],0) < 3
			)
			WHERE ISNULL(S0010.[1on1_authority_typ],0) < 3
			AND S0010.del_datetime IS NULL
			--CR26/3 INSERT INTO F2900
			UPDATE F2900
			SET 
				del_user		=	SPACE(0)			
			,	del_ip			=	SPACE(0)			
			,	del_prg			=	SPACE(0)			
			,	del_datetime	=	NULL					
			FROM #TBL_JSON_EMPLOYEE AS TBL_EMP
			INNER JOIN  F2900  ON(
				@P_company_cd			= F2900.company_cd	
			AND	1						= F2900.infomation_typ
			AND	CAST(@w_time AS DATE)	= F2900.infomation_date
			AND TBL_EMP.employee_cd		= F2900.target_employee_cd
			AND @fiscal_year			= F2900.fiscal_year
			AND TBL_EMP.employee_cd		= F2900.employee_cd
			)
			--
			INSERT INTO F2900
			SELECT 
				@P_company_cd					--company_cd				
			,	1								--infomationn_typ	
			,	1								--message_typ
			,	CAST(@w_time AS DATE)							--infomation_date				
			,	TBL_EMP.employee_cd				--target_employee_cd				
			,	@fiscal_year					--fiscal_year				
			,	TBL_EMP.employee_cd				--employee_cd				
			,	IIF(@P_language = 'en','Set annual goals.','年間目標を設定してください。'	)	--infomation_title				
			,	IIF(@P_language = 'en','Set annual goals.','年間目標を設定してください。'	)	--infomation_message				
			,	NULL								--confirmation_datetime				
			,	@P_cre_user						--cre_user				
			,	@P_cre_ip						--cre_ip				
			,	'oI1020'						--cre_prg				
			,	@w_time							--cre_datetime				
			,	SPACE(0)						--upd_user				
			,	SPACE(0)						--upd_ip				
			,	SPACE(0)						--upd_prg				
			,	NULL							--upd_datetime				
			,	SPACE(0)						--del_user				
			,	SPACE(0)						--del_ip				
			,	SPACE(0)						--del_prg				
			,	NULL							--del_datetime				
			FROM #TBL_JSON_EMPLOYEE AS TBL_EMP
			LEFT JOIN  F2900  ON(
				@P_company_cd			= F2900.company_cd	
			AND	1						= F2900.infomation_typ
			AND	CAST(@w_time AS DATE)	= F2900.infomation_date
			AND TBL_EMP.employee_cd		= F2900.target_employee_cd
			AND @fiscal_year			= F2900.fiscal_year
			AND TBL_EMP.employee_cd		= F2900.employee_cd
			)
			WHERE F2900.company_cd IS NULL
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN

	--[0]
	SELECT 
		ERR.message_no
	,	ERR.item
	,	ERR.order_by
	,	ERR.error_typ
	,	ERR.value1
	,	ERR.value2
	,	ERR.remark
	,	IIF(@P_language = 'en',L0020.message_english ,L0020.[message]) AS message_content
	FROM @ERR_TBL AS ERR
	LEFT OUTER JOIN L0020 ON (
		ERR.message_no	=	L0020.message_cd
	)
	ORDER BY 
		order_by
END

GO
