/****** Object:  StoredProcedure [dbo].[SPC_oI1020_INQ1]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_oI1020_FND1]
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	REFER DATA PAIRS
--*  
--*  作成日/create date			:	2020/11/09						
--*　作成者/creater				:	DatNT								
--*   					
--*  更新日/update date			:	2021/05/11
--*　更新者/updater				:　	vietdt
--*　更新内容/update content		:	fix bug when export csv but dont choice group
--*   					
--*  更新日/update date			:	2021/06/03
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	when 3.管理者(authority_typ = 3) and not choice organization in S0022 then view all employees
--*   					
--*  更新日/update date			:	2021/08/24
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	improve perfomance & add paging & apply latest
--*   					
--*  更新日/update date			:	2022/01/13
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	IS fix bug 画面で社員の属性と異なるグループに所属した場合、
--*   					
--*  更新日/update date			:	2022/08/19
--*　更新者/updater				:	vietdt　
--*　更新内容/update content		:	update ver 1.9	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_oI1020_FND1]
	-- Add the parameters for the stored procedure here	
	@P_company_cd		SMALLINT		= 0
,	@P_user_id			NVARCHAR(100)	= ''
,	@P_json				NVARCHAR(MAX)	= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@ERR_TBL							ERRTABLE
	,	@w_time								DATETIME2		=	SYSDATETIME()
	,	@fiscal_year						INT				=	0
	,	@year_date							DATE			=	NULL
	,	@group_cd							INT				=	0
	,	@coach_cd							NVARCHAR(20)	=	''
	,	@date_from							DATE			=	NULL
	,	@date_to							DATE			=	NULL
	,	@member_cd							NVARCHAR(20)	=	''
	,	@position_cd						NVARCHAR(20)	=	''
	,	@choice_in_screen					INT				=	0
	,	@authority_typ						INT				=	0
	,	@authority_cd						INT				=	0
	,	@string_column_smaller_250			NVARCHAR(MAX)	=	''
	,	@string_header_smaller_250			NVARCHAR(MAX)	=	''
	,	@string_header_lager_250			NVARCHAR(MAX)	=	''
	,	@string_column_lager_250			NVARCHAR(MAX)	=	''
	,	@string_sql_small_250				NVARCHAR(MAX)	=	''
	,	@string_sql_lager_250				NVARCHAR(MAX)	=	''
	,	@string_sql_header_small_250		NVARCHAR(MAX)	=	''
	,	@string_sql_header_lager_250		NVARCHAR(MAX)	=	''
	,	@string_fixed_data					NVARCHAR(MAX)	=	''
	,	@times								INT				=	0
	,	@end_while							INT				=	1
	,	@start_while						INT				=	1
	,	@start_for							INT				=	1
	,	@mode								INT				=	1 -- 1:search /2: apply newest value /3.report csv
	,	@error								INT				=	0
	,	@beginning_date						date			=	NULL
	,	@temp_date							date			=	NULL
	,	@json_combo_interview				NVARCHAR(MAX)	=	'{'
	,	@temp_json							NVARCHAR(MAX)	=	''
	,	@k									INT				=	1
	,	@belong_count						INT				=	0
	,	@belong_col							NVARCHAR(MAX)	=	''
	,	@t1									DATETIME		=	NULL
	,	@t2									DATETIME		=	NULL
	--
	,	@w_times_max						INT				=	0	-- add by viettd 2021/05/11
	-- add by viettd 2021/06/03
	,	@w_1on1_organization_cnt			INT				=	0	-- 0.view all 1.only view organization choiced
	,	@w_organization_belong_person_typ	SMALLINT		=	0

	,	@w_totalRecord						BIGINT			=	0	-- add by viettd 2021/08/24
	,	@w_pageMax							INT				=	0	-- add by viettd 2021/08/24
	,	@w_page_size						INT				=	20	-- add by viettd 2021/08/24
	,	@w_page								INT				=	1
	,	@w_language							SMALLINT		=	1	--add by vietdt	2022/08/19 
	--
	CREATE TABLE #TEMP_F2001_WHILE(
		employee_cd				NVARCHAR(10)	
	,	column_nm				NVARCHAR(200)
	,	column_value			NVARCHAR(200)
	)
	CREATE TABLE #TABLE_ORGANIZATION(
		organization_typ			tinyint
	,	organization_cd_1			nvarchar(50)
	,	organization_cd_2			nvarchar(50)
	,	organization_cd_3			nvarchar(50)
	,	organization_cd_4			nvarchar(50)
	,	organization_cd_5			nvarchar(50)	 
	,	choice_in_screen				tinyint		-- 1.choice in screen 0.get from master S0022
	)
	CREATE TABLE #TBL_HEADER(
		fiscal_year					NVARCHAR(50)				--fiscal_year		
	,	employee_cd					NVARCHAR(50)			--employee_cd		
	,	employee_nm					NVARCHAR(101)			--employee_nm		
	,	belong_cd1_nm				NVARCHAR(50)			--belong1_nm		
	,	belong_cd2_nm				NVARCHAR(50)				--belong2_nm		
	,	belong_cd3_nm				NVARCHAR(50)				--belong3_nm		
	,	belong_cd4_nm				NVARCHAR(50)			--belong4_nm		
	,	belong_cd5_nm				NVARCHAR(50)			--belong5_nm		
	,	position_nm					NVARCHAR(50)			--position_nm		
	,	job_nm						NVARCHAR(50)			--job_nm			
	,	grade_nm					NVARCHAR(50)				--grade_nm		
	,	employee_typ_nm				NVARCHAR(50)			--employee_typ_nm	
	,	[1on1_group_cd]				NVARCHAR(50)
	,	[1on1_group_nm]				NVARCHAR(50)
	,	[1on1_times]				NVARCHAR(50)
	)
	CREATE TABLE #M0070H(
		application_date				DATE					--application_date
	,	company_cd						SMALLINT				--company_cd
	,	employee_cd						NVARCHAR(10)			--employee_cd
	,	employee_nm						NVARCHAR(101)			--employee_nm
	,	employee_ab_nm					NVARCHAR(50)			--employee_ab_nm
	,	furigana						NVARCHAR(50)			--furigana
	,	office_cd						SMALLINT				--office_cd
	,	office_nm						NVARCHAR(50)			--office_nm
	,	belong_cd1						NVARCHAR(50)			--belong_cd1
	,	belong_cd2						NVARCHAR(50)			--belong_cd2
	,	belong_cd3						NVARCHAR(50)			--belong_cd3
	,	belong_cd4						NVARCHAR(50)			--belong_cd4
	,	belong_cd5						NVARCHAR(50)			--belong_cd5
	,	job_cd							SMALLINT				--job_cd
	,	position_cd						INT						--position_cd
	,	employee_typ					SMALLINT				--employee_typ
	,	grade							SMALLINT				--grade
	,	belong_cd1_nm					NVARCHAR(50)			--belong_nm1
	,	belong_cd2_nm					NVARCHAR(50)			--belong_nm2
	,	belong_cd3_nm					NVARCHAR(50)			--belong_nm3
	,	belong_cd4_nm					NVARCHAR(50)			--belong_nm4
	,	belong_cd5_nm					NVARCHAR(50)			--belong_nm5
	,	job_nm							NVARCHAR(50)			--job_nm
	,	position_nm						NVARCHAR(50)			--position_nm
	,	grade_nm						NVARCHAR(50)			--grade_nm
	,	employee_typ_nm					NVARCHAR(50)			--employee_typ_nm
	)
	CREATE TABLE #TBL_EMP(
		company_cd						SMALLINT				--company_cd
	,	employee_cd		NVARCHAR(10)
	,	employee_nm		NVARCHAR(101)			--employee_nm
	,	belong_cd1		NVARCHAR(100)
	,	belong_cd2		NVARCHAR(100)
	,	belong_cd3		NVARCHAR(100)
	,	belong_cd4		NVARCHAR(100)
	,	belong_cd5		NVARCHAR(100)
	,	position_cd		INT						--position_cd
	)
	-- add by viettd 2021/08/24
	-- #F2001_EMPLOYEES
	CREATE TABLE #F2001_EMPLOYEES(
		company_cd			smallint										
	,	fiscal_year			smallint										
	,	employee_cd			NVARCHAR(10)
	)
	--#F2001_EMPLOYEES_FOR_PAGE
	CREATE TABLE #F2001_EMPLOYEES_FOR_PAGE(
		company_cd			smallint										
	,	fiscal_year			smallint										
	,	employee_cd			NVARCHAR(10)
	)
	-- #TABLE_JSON_PAIR 
	CREATE TABLE #TABLE_JSON_APPLY_LATEST_PAIR (
		id					int			identity(1,1)
	,	employee_cd			nvarchar(10)
	)
	--#F2001
	CREATE TABLE #F2001(
		company_cd			smallint										
	,	fiscal_year			smallint										
	,	employee_cd			NVARCHAR(10)										
	,	times				NVARCHAR(10)									
	,	coach_cd			NVARCHAR(10)
	,	coach_nm			NVARCHAR(101)
	,	interview_cd		NVARCHAR(10)	
	,	pair				nvarchar(500)
	,	position_cd			int
	,	job_cd				int
	,	grade				int
	,	employee_typ		int
	,	level_org			int	-- ~ this sound like M0020.organization_typ 
	,	[1on1_group_cd]		smallint
	,	[1on1_group_nm]		nvarchar(50)
	,	[1on1_times]		smallint
	,	belong_cd1_is_used	tinyint			-- add by viettd 2021/08/24
	,	belong_cd2_is_used	tinyint			-- add by viettd 2021/08/24
	,	belong_cd3_is_used	tinyint			-- add by viettd 2021/08/24
	,	belong_cd4_is_used	tinyint			-- add by viettd 2021/08/24
	,	belong_cd5_is_used	tinyint			-- add by viettd 2021/08/24
	)
	CREATE TABLE #TEMP_M2601(
		company_cd		SMALLINT
	,	[1on1_group_cd] SMALLINT
	,	attribute		SMALLINT
	,	code			SMALLINT
	)
	CREATE TABLE #M2620(
		times				int
	,	[start_date]		date
	,	deadline_date		date
	,	title				nvarchar(50)
	)
	CREATE TABLE #TBL_COACH(
		coach_cd		NVARCHAR(10)
	,	coach_nm		NVARCHAR(101)
	,	belong_cd1		NVARCHAR(100)
	,	belong_cd2		NVARCHAR(100)
	,	belong_cd3		NVARCHAR(100)
	,	belong_cd4		NVARCHAR(100)
	,	belong_cd5		NVARCHAR(100)
	)
	CREATE TABLE #DELETE_COACH(
		employee_cd		NVARCHAR(10)	
	,	coach_cd		NVARCHAR(10)
	)
	CREATE TABLE #TIME(
		times					INT
	)
	CREATE TABLE #TEMP_MAX_M2200(
		interview_cd	SMALLINT
	,	adaption_date	DATE
	,	times			INT
	)
	CREATE TABLE #TBL_HEADER_DYNAMIC(
		ID							BIGINT	IDENTITY(1,1)
	,	col_temp_name				NVARCHAR(50) 
	,	col_temp					NVARCHAR(100) 
	)
	--GET AUTHORITY
	SELECT 
		@authority_typ	=	ISNULL([1on1_authority_typ],0) 
	,	@authority_cd	=	ISNULL([1on1_authority_cd],0) 
	,	@w_language		=	ISNULL(S0010.language,1)	--add by vietdt	2022/08/19 
	FROM S0010 
	LEFT JOIN M0070 ON (
		M0070.company_cd		=	S0010.company_cd
	AND M0070.employee_cd		=	S0010.employee_cd
	AND M0070.del_datetime		IS NULL 
	) 
	WHERE 
		S0010.user_id		= @P_user_id 
	AND S0010.company_cd	= @P_company_cd 
	AND S0010.del_datetime  IS NULL
	-- COUNT ALL ORGANIZATIONS OF S2022 -- add by viettd 2021/06/03
	SET @w_1on1_organization_cnt = [dbo].FNC_GET_NUMBER_OF_ORGANIZATION(@P_company_cd,@authority_cd,2)
	-- GET @w_organization_belong_person_typ add by viettd 2021/06/03
	SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP(@P_company_cd,@authority_cd,2)
	-- get json value
	SET @fiscal_year		=	JSON_VALUE(@P_json,'$.fiscal_year')
	SET	@group_cd			=	JSON_VALUE(@P_json,'$.group_cd')
	SET	@coach_cd			=	ISNULL(JSON_VALUE(@P_json,'$.coach_cd') , '')
	SET	@date_from			=	IIF(JSON_VALUE(@P_json,'$.date_from')='',NULL,JSON_VALUE(@P_json,'$.date_from'))
	SET	@date_to			=	IIF(JSON_VALUE(@P_json,'$.date_to')='',NULL,JSON_VALUE(@P_json,'$.date_to'))
	SET	@member_cd			=	ISNULL(JSON_VALUE(@P_json,'$.member_cd'), '')
	SET	@position_cd		=	ISNULL(IIF(JSON_VALUE(@P_json,'$.position_cd') = '',-1,JSON_VALUE(@P_json,'$.position_cd')),-1)
	SET @w_page_size		=	JSON_VALUE(@P_json,'$.page_size')
	SET @w_page				=	JSON_VALUE(@P_json,'$.page')
	SET @mode				=	JSON_VALUE(@P_json,'$.mode')
	-- add by viettd 2021/08/24
	INSERT INTO #TABLE_JSON_APPLY_LATEST_PAIR
	SELECT 
		employee_cd	
	FROM OPENJSON(@P_json,'$.list_pair') WITH(
		employee_cd	NVARCHAR(10)
	,	ck_item		int
	)
	WHERE
		ck_item  = 1
	--CALCULATE YEAR DATE FROM @fiscal_year
	SELECT 
		@beginning_date = M9100.[1on1_beginning_date] 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	-- 
	IF @beginning_date IS NOT NULL
	BEGIN
		SET @temp_date = CAST(CONVERT(NVARCHAR(4),(@fiscal_year))+'/'+FORMAT(@beginning_date,'MM/dd') AS DATE)
		SET @year_date = DATEADD(DD,-1,DATEADD(YYYY,1,@temp_date))
	END
	--
	IF @beginning_date IS NULL
	BEGIN
		SET @year_date = CAST(CONVERT(NVARCHAR(4),(@fiscal_year))+'/12/31' AS DATE)
	END
	--CALCULATE @times
	SET @times	=	(
					SELECT 
						CASE 
							WHEN M2610.frequency = 1 THEN 6
							WHEN M2610.frequency = 2 THEN 12
							WHEN M2610.frequency = 3 THEN 24
							WHEN M2610.frequency = 4 THEN M2610.[1on1_times]
							ELSE 0
						END times
					FROM M2610 
					WHERE 
						M2610.company_cd		= @P_company_cd
					AND M2610.[1on1_group_cd]	= @group_cd
					AND M2610.del_datetime IS NULL
					)
	-- ↓↓↓　add by viettd 2021/05/11
	-- if dont choice group & mode 3. export csv
	IF @mode = 3 AND @group_cd < 0
	BEGIN
		SELECT 
			@times = ISNULL(MAX(M2610.[1on1_times]),0)
		FROM M2610
		WHERE 
			M2610.company_cd	=	@P_company_cd
		AND M2610.del_datetime IS NULL
		--
		SELECT 
			@w_times_max =	CASE 
								WHEN M2610_MAX.frequency = 3
								THEN 24
								WHEN M2610_MAX.frequency = 2
								THEN 12
								WHEN M2610_MAX.frequency = 1
								THEN 6
								ELSE 0
							END
		FROM 
		(
			SELECT 
				ISNULL(MAX(M2610.frequency),0)		AS frequency
			FROM M2610
			WHERE 
				M2610.company_cd	=	@P_company_cd
			AND M2610.del_datetime IS NULL
			AND M2610.frequency <>	4	-- 4.その他
		) AS M2610_MAX
		-- 
		IF @times < @w_times_max
		BEGIN
			SET @times = @w_times_max
		END
	END
	-- ↑↑↑　end add by viettd 2021/05/11
	--
	IF (@date_from IS NOT NULL OR @date_to IS NOT NULL)
	BEGIN
		SELECT 
			@times			= IIF(COUNT(1) = 0, NULL,COUNT(1))
		,	@start_while	= min(times)
		,	@start_for		= min(times) 
		FROM M2620 
		WHERE 
			M2620.company_cd		= @P_company_cd
		AND M2620.fiscal_year		= @fiscal_year
		AND M2620.[1on1_group_cd]	= @group_cd
		AND (@date_from IS NULL OR @date_from <= M2620.[start_date])
		AND (@date_to IS NULL	OR  M2620.[deadline_date] <= @date_to)
		AND M2620.del_datetime IS NULL
	END
	--
	SET @belong_count = (SELECT COUNT(1) FROM M0022 WHERE company_cd = @P_company_cd AND use_typ = 1 AND del_datetime IS NULL )
	WHILE @k <= @belong_count
	BEGIN
		SET @belong_col = @belong_col + ',belong_cd'+ CAST((@k) AS NVARCHAR(10))+'_nm '
		SET @k = @k + 1
	END
	--GET HISTORY OF M0070
	INSERT INTO #M0070H
	EXEC [dbo].SPC_REFER_M0070H_INQ1 @year_date,'',@P_company_cd
	--add vietdt 2022/01/13 
	--add column check group
	ALTER TABLE #M0070H
	ADD exit_group SMALLINT;  --0 or null : not exists group or group <> search group , 1 exists group = search group 
	--find employee belong to search group 
	UPDATE #M0070H
	SET
		exit_group = 1
	FROM #M0070H
	INNER JOIN F2000 ON (
		#M0070H.company_cd		=	F2000.company_cd
	AND	#M0070H.employee_cd		=	F2000.employee_cd
	AND	F2000.fiscal_year		=	@fiscal_year
	AND	F2000.[1on1_group_cd]	=	@group_cd
	AND	F2000.del_datetime		IS NULL
	)
	--delete employee exists group <> search group 
	DELETE #M0070H
	FROM #M0070H 
	INNER JOIN F2000 ON (
		#M0070H.company_cd		=	F2000.company_cd
	AND	#M0070H.employee_cd		=	F2000.employee_cd
	AND	F2000.fiscal_year		=	@fiscal_year
	AND	F2000.[1on1_group_cd]	<>	@group_cd
	AND	F2000.del_datetime		IS NULL
	)
	--add vietdt 2022/01/13 
	---
	INSERT INTO #TBL_EMP
	SELECT
		company_cd
	,	employee_cd
	,	employee_nm
	,	belong_cd1
	,	belong_cd2
	,	belong_cd3
	,	belong_cd4
	,	belong_cd5
	,	position_cd
	FROM M0070
	WHERE 
		M0070.company_cd = @P_company_cd
	AND M0070.del_datetime IS NULL
	AND M0070.company_out_dt IS NULL
	-- GET ORGANIZATION
	INSERT INTO #TABLE_ORGANIZATION
	EXEC SPC_REFER_ORGANIZATION_FND1 @P_json,@P_user_id,@P_company_cd,2
	--
	INSERT INTO #TEMP_M2601 
	SELECT 
		company_cd
	,	[1on1_group_cd]
	,	attribute
	,	code
	FROM M2601 
	WHERE 
		M2601.company_cd		=	@P_company_cd
	AND M2601.[1on1_group_cd]	=	@group_cd
	AND M2601.del_datetime IS NULL
	--
	INSERT INTO #M2620
	SELECT 
		times
	,	[start_date]
	,	deadline_date
	,	[1on1_title]
	FROM M2620
	WHERE 
		M2620.company_cd		=	@P_company_cd
	AND M2620.fiscal_year		=	@fiscal_year 
	AND M2620.[1on1_group_cd]	=	@group_cd 
	AND M2620.del_datetime IS NULL
	--
	INSERT INTO #TEMP_MAX_M2200
	SELECT 
		interview_cd
	,	MAX(adaption_date) AS adaption_date
	,	#M2620.times
	FROM #M2620 
	LEFT JOIN M2200 ON(
		@P_company_cd		=	M2200.company_cd
	AND #M2620.start_date	>=	M2200.adaption_date
	AND M2200.del_datetime IS NULL
	)
	GROUP BY 
		company_cd
	,	interview_cd
	,	#M2620.times
	--DELETE ORGANIZATION NOT IN #ORG_TEMP
	IF EXISTS (SELECT 1 FROM #TABLE_ORGANIZATION)
	BEGIN
		SET @choice_in_screen = (SELECT TOP 1 choice_in_screen FROM #TABLE_ORGANIZATION WHERE choice_in_screen = 1)
		-- 1.choice in screen
		IF @choice_in_screen = 1
		BEGIN
			DELETE D FROM #M0070H AS D
			FULL OUTER JOIN #TABLE_ORGANIZATION AS S ON (
				D.company_cd	=	@P_company_cd
			AND D.belong_cd1	=	S.organization_cd_1
			AND D.belong_cd2	=	S.organization_cd_2
			AND D.belong_cd3	=	S.organization_cd_3
			AND D.belong_cd4	=	S.organization_cd_4
			AND D.belong_cd5	=	S.organization_cd_5
			)
			WHERE 
				D.company_cd IS NULL
			OR	S.organization_typ IS NULL
		END
		ELSE IF NOT (@authority_typ = 3 AND @w_1on1_organization_cnt = 0 AND @w_organization_belong_person_typ = 0) -- edited by viettd 2021/06/03
		BEGIN
			DELETE D FROM #M0070H AS D
			FULL OUTER JOIN #TABLE_ORGANIZATION AS S ON (
				D.company_cd			=	@P_company_cd
			AND D.belong_cd1			=	S.organization_cd_1
			AND D.belong_cd2			=	S.organization_cd_2
			AND D.belong_cd3			=	S.organization_cd_3
			AND D.belong_cd4			=	S.organization_cd_4
			AND D.belong_cd5			=	S.organization_cd_5
			)
			WHERE 
				D.company_cd IS NULL
			OR	S.organization_typ IS NULL
			AND @authority_typ NOT IN(4,5) --4.会社管理者 5.総合管理者
		END
	END
	-- DELETE EMPLOYEE NOT SUIT WITH SEARCH CONDITION
	DELETE #M0070H WHERE ISNULL(position_cd,-1) <> @position_cd AND @position_cd <> -1
	---- DELETE EMPLOYEE NOT SUIT WITH SEARCH CONDITION
	DELETE D FROM  #M0070H AS D INNER JOIN M0070 ON (D.company_cd = M0070.company_cd AND D.employee_cd = M0070.employee_cd AND ISNULL(M0070.[1on1_typ],1) = 0 AND m0070.del_datetime IS NULL) 
	--
	DELETE #M0070H WHERE ISNULL(employee_cd,'') <> @member_cd AND  @member_cd <> ''
	--position
	IF EXISTS(SELECT 1 FROM #TEMP_M2601 WHERE #TEMP_M2601.attribute		=	1)
	BEGIN
		DELETE D FROM  #M0070H AS D 
		LEFT JOIN #TEMP_M2601 ON(D.position_cd = #TEMP_M2601.code AND #TEMP_M2601.attribute		=	1)
		WHERE #TEMP_M2601.code IS NULL AND ISNULL(D.exit_group,0) <> 1
	END
	-- job_cd
	IF EXISTS(SELECT 1 FROM #TEMP_M2601 WHERE #TEMP_M2601.attribute		=	2)
	BEGIN
		DELETE D FROM  #M0070H AS D 
		LEFT JOIN #TEMP_M2601 ON(D.job_cd = #TEMP_M2601.code AND #TEMP_M2601.attribute		=	2)
		WHERE #TEMP_M2601.code IS NULL AND ISNULL(D.exit_group,0) <> 1
	END
	--grade
	IF EXISTS(SELECT 1 FROM #TEMP_M2601 WHERE #TEMP_M2601.attribute		=	3)
	BEGIN
		DELETE D FROM  #M0070H AS D 
		LEFT JOIN #TEMP_M2601 ON(D.grade = #TEMP_M2601.code AND #TEMP_M2601.attribute		=	3)
		WHERE #TEMP_M2601.code IS NULL AND ISNULL(D.exit_group,0) <> 1
	END
	--employee_typ
	IF EXISTS(SELECT 1 FROM #TEMP_M2601 WHERE #TEMP_M2601.attribute		=	4)
	BEGIN
		DELETE D FROM  #M0070H AS D 
		LEFT JOIN #TEMP_M2601 ON(D.employee_typ = #TEMP_M2601.code AND #TEMP_M2601.attribute		=	4)
		WHERE #TEMP_M2601.code IS NULL AND ISNULL(D.exit_group,0) <> 1
	END
	--- DELETE EMPLOYEE HAS BEEN RETIRED
	DELETE D FROM  #M0070H AS D 
	INNER JOIN M0070 ON(
		D.company_cd	= M0070.company_cd 
	AND D.employee_cd	= M0070.employee_cd
	AND M0070.del_datetime IS NULL)
	WHERE 
		(M0070.company_in_dt IS NOT NULL AND M0070.company_in_dt > @year_date)
	OR	(M0070.company_out_dt IS NOT NULL AND M0070.company_out_dt <= @year_date)
	--
	SET @end_while = @start_while + @times
	WHILE @start_while < @end_while
	BEGIN
		INSERT INTO #TIME
		SELECT
			@start_while
		--
		IF EXISTS (	SELECT 
					1
				FROM #M2620 
				INNER JOIN M2200 ON(
					@P_company_cd		=	M2200.company_cd
				AND #M2620.start_date	>=	M2200.adaption_date
				AND M2200.del_datetime IS NULL
				)
				WHERE #M2620.times = @start_while
		)
		BEGIN	
			-- CREATE JSON FOR SELECT BOX DETAIL
			SET @temp_json = 
				(SELECT
					ISNULL(M2200.interview_cd,-1) AS interview_cd
				,	ISNULL(M2200.interview_nm,'') AS interview_nm
				,	ISNULL(M2200.adaption_date,'') AS adaption_date
				FROM #TEMP_MAX_M2200 
				INNER JOIN M2200 ON(
						@P_company_cd					=	M2200.company_cd
					AND #TEMP_MAX_M2200.interview_cd	=	M2200.interview_cd
					AND #TEMP_MAX_M2200.adaption_date	=	M2200.adaption_date
					AND M2200.del_datetime IS NULL
				)
				WHERE #TEMP_MAX_M2200.times = @start_while
				FOR JSON PATH 
				)
			--
			SET @json_combo_interview =	@json_combo_interview +'"'+ CAST((@start_while) AS NVARCHAR(10))+'":'+@temp_json+','
		END
		-- SEPRATE COLUMN WHEN TIME > 250
		IF @start_while <	250
		BEGIN
			SET @string_column_smaller_250 = @string_column_smaller_250 + ',[time'+ CAST((@start_while) AS NVARCHAR(10))+']'
			SET @string_header_smaller_250 = @string_header_smaller_250 +','+ N'['+ cast((@start_while) as nvarchar(10))+'A],'
																  + N'['+ cast((@start_while) as nvarchar(10))+'B],'
																  + N'['+ cast((@start_while) as nvarchar(10))+'C],'
																  + N'['+ cast((@start_while) as nvarchar(10))+'D],'
																  + N'['+ cast((@start_while) as nvarchar(10))+'E]'
		END
		IF @start_while	>=	250
		BEGIN
			SET @string_column_lager_250 = @string_column_lager_250 + ',[time'+ CAST((@start_while) AS NVARCHAR(10))+']'
			SET @string_header_lager_250 = @string_header_lager_250 +','+ N'['+ cast((@start_while) as nvarchar(10))+'A],'
																  + N'['+ cast((@start_while) as nvarchar(10))+'B],'
																  + N'['+ cast((@start_while) as nvarchar(10))+'C],'
																  + N'['+ cast((@start_while) as nvarchar(10))+'D],'
																  + N'['+ cast((@start_while) as nvarchar(10))+'E]'
		END
		-- INCREMENT
		SET @start_while = @start_while + 1
	END
	--
	SET @string_column_smaller_250 = Stuff(@string_column_smaller_250, 1, 1, '')
	SET @string_column_lager_250 = Stuff(@string_column_lager_250, 1, 1, '')
	--header
	SET @string_header_smaller_250 = Stuff(@string_header_smaller_250, 1, 1, '')
	SET @string_header_lager_250 = Stuff(@string_header_lager_250, 1, 1, '')
	--
	SET @json_combo_interview = Stuff(@json_combo_interview, LEN(@json_combo_interview), 1, '')
	SET @json_combo_interview = @json_combo_interview + '}'
	IF ISJSON (@json_combo_interview) = 0
	BEGIN
		SET @error = 142
	END
	--IS CHECK SETTING IN MASTER
	IF @times IS NULL
	BEGIN
		SET @error = 21
	END
	--MODE 2 apply new latest
	IF(@mode = 2) 
	BEGIN
		-- GET LIST COACH
		INSERT INTO #TBL_COACH
		SELECT 
			#TBL_EMP.employee_cd				AS coach_cd
		,	SPACE(0)							AS coach_nm
		,	ISNULL(#TBL_EMP.belong_cd1,'')
		,	ISNULL(#TBL_EMP.belong_cd2,'')
		,	ISNULL(#TBL_EMP.belong_cd3,'')
		,	ISNULL(#TBL_EMP.belong_cd4,'')
		,	ISNULL(#TBL_EMP.belong_cd5,'')
		FROM #TBL_EMP 
		INNER JOIN M2610 ON(
			#TBL_EMP.company_cd		=	M2610.company_cd
		AND @group_cd				=	M2610.[1on1_group_cd]
		AND	#TBL_EMP.position_cd	=	M2610.coach_position_cd
		AND M2610.del_datetime IS NULL
		)	
		WHERE 
			#TBL_EMP.company_cd		=	@P_company_cd
		AND M2610.[1on1_group_cd]	=	@group_cd
		-- UPDATE COACH_NM
		UPDATE #TBL_COACH SET 
			coach_nm	=	#TBL_EMP.employee_nm
		FROM #TBL_COACH
		LEFT JOIN #TBL_EMP ON(
			#TBL_EMP.employee_cd	=	#TBL_COACH.coach_cd
		)
		-- INSERT ALL COACH SUIT WITH POSITION IN M2610
		INSERT INTO #F2001 
		SELECT 
			#M0070H.company_cd
		,	@fiscal_year
		,	#M0070H.employee_cd
		,	'time'+CAST(#TIME.times AS nvarchar(5))
		,	#TBL_COACH.coach_cd
		,	#TBL_COACH.coach_nm
		,	M2610.interview_cd
		,	'{"time":"'+CAST(#TIME.times AS NVARCHAR(10))+'","coach_cd":"","coach_nm":"","interview_cd":"","interview_nm":""}'
		,	#M0070H.position_cd	
		,	#M0070H.job_cd		
		,	#M0070H.grade		
		,	#M0070H.employee_typ
		,	CASE WHEN #TBL_COACH.belong_cd5 <> '' THEN 5
				WHEN #TBL_COACH.belong_cd4 <> '' THEN 4
				WHEN #TBL_COACH.belong_cd3 <> '' THEN 3
				WHEN #TBL_COACH.belong_cd2 <> '' THEN 2
				WHEN #TBL_COACH.belong_cd1 <> '' THEN 1
				ELSE 0
			END							-- level_org
		,	0							--[1on1_group_cd]	
		,	''							--[1on1_group_nm]	
		,	0							--[1on1_times]	
		,	0	AS belong_cd1_is_used	-- add by viettd 2021/08/24
		,	0	AS belong_cd2_is_used	-- add by viettd 2021/08/24
		,	0	AS belong_cd3_is_used	-- add by viettd 2021/08/24
		,	0	AS belong_cd4_is_used	-- add by viettd 2021/08/24
		,	0	AS belong_cd5_is_used	-- add by viettd 2021/08/24
		FROM #M0070H 
		CROSS JOIN #TIME
		LEFT JOIN #TBL_COACH ON(
			(#M0070H.belong_cd1	=	#TBL_COACH.belong_cd1 OR #TBL_COACH.belong_cd1 = '')
		AND	(#M0070H.belong_cd2	=	#TBL_COACH.belong_cd2 OR #TBL_COACH.belong_cd2 = '')
		AND	(#M0070H.belong_cd3	=	#TBL_COACH.belong_cd3 OR #TBL_COACH.belong_cd3 = '')
		AND	(#M0070H.belong_cd4	=	#TBL_COACH.belong_cd4 OR #TBL_COACH.belong_cd4 = '')
		AND	(#M0070H.belong_cd5	=	#TBL_COACH.belong_cd5 OR #TBL_COACH.belong_cd5 = '')
		AND #M0070H.employee_cd <> #TBL_COACH.coach_cd
		)
		LEFT JOIN M2610 ON(
			#M0070H.company_cd	=	M2610.company_cd
		AND @group_cd			=	M2610.[1on1_group_cd]
		AND M2610.del_datetime IS NULL
		)
		-- add by viettd 2021/08/24
		WHERE 
			@coach_cd = ''
		OR	(@coach_cd <> '' AND #TBL_COACH.coach_cd = @coach_cd)
		-- add by viettd 2021/08/24
		-- DELETE data duplicate with level_org small than other -> muc dich lay coach gan bo phan vs emp do nhat
		DELETE D FROM #F2001 AS D 
		LEFT JOIN (	SELECT 
						employee_cd
					,	MAX(level_org) AS max_level_org
					FROM #F2001
					GROUP BY #F2001.employee_cd
		) AS #TBL_TEMP ON(
			#TBL_TEMP.employee_cd	=	D.employee_cd
		AND #TBL_TEMP.max_level_org	=	D.level_org
		)
		WHERE #TBL_TEMP.employee_cd IS NULL
		-- ONLY APPLY LATEST EMPLOYEE WHEN CHOICE IN SCREEN
		UPDATE #F2001 SET 
			coach_cd = NULL
		,	coach_nm = NULL
		,	interview_cd = NULL
		FROM #F2001
		INNER JOIN (
			SELECT 
				#F2001.company_cd		AS company_cd
			,	#F2001.fiscal_year		AS fiscal_year
			,	#F2001.employee_cd		AS employee_cd
			FROM #F2001
			LEFT OUTER JOIN #TABLE_JSON_APPLY_LATEST_PAIR ON (
				#F2001.employee_cd	=	#TABLE_JSON_APPLY_LATEST_PAIR.employee_cd
			)
			WHERE 
				#TABLE_JSON_APPLY_LATEST_PAIR.employee_cd IS NULL
		) AS F2001_APPLY ON (
			#F2001.company_cd		=	F2001_APPLY.company_cd
		AND #F2001.fiscal_year		=	F2001_APPLY.fiscal_year
		AND #F2001.employee_cd		=	F2001_APPLY.employee_cd
		)
	END
	ELSE --MODE 1 OR MODE 3 (search & report)
	BEGIN
		INSERT INTO #F2001 
		SELECT 
			#M0070H.company_cd
		,	@fiscal_year
		,	#M0070H.employee_cd
		,	'time'+CAST(#TIME.times AS nvarchar(5))
		,	coach_cd
		,	#TEMP_TBL_COACH.employee_nm
		,	F2001.interview_cd
		,	'{"time":"'+CAST(#TIME.times AS NVARCHAR(10))+'","coach_cd":"","coach_nm":"","interview_cd":"","interview_nm":""}'
		,	#M0070H.position_cd	
		,	#M0070H.job_cd		
		,	#M0070H.grade		
		,	#M0070H.employee_typ
		,	0   -- level_org
		,	M2600.[1on1_group_cd]	
		,	[1on1_group_nm]	
		,	CASE 
				WHEN @group_cd = -1
				THEN NULL
				ELSE @times
			END							-- edited by viettd 2021/05/11
		,	0	AS belong_cd1_is_used	-- add by viettd 2021/08/24
		,	0	AS belong_cd2_is_used	-- add by viettd 2021/08/24
		,	0	AS belong_cd3_is_used	-- add by viettd 2021/08/24
		,	0	AS belong_cd4_is_used	-- add by viettd 2021/08/24
		,	0	AS belong_cd5_is_used	-- add by viettd 2021/08/24
		FROM #M0070H  
		CROSS JOIN #TIME 
		LEFT JOIN F2001 ON(
			#M0070H.company_cd	=	F2001.company_cd
		AND @fiscal_year		=	F2001.fiscal_year
		AND #M0070H.employee_cd	=	F2001.employee_cd
		AND #TIME.times			=	F2001.times
		AND F2001.del_datetime IS NULL
		)
		LEFT OUTER JOIN F2000 ON (
			#M0070H.company_cd	=	F2000.company_cd
		AND @fiscal_year		=	F2000.fiscal_year
		AND #M0070H.employee_cd	=	F2000.employee_cd
		AND F2000.del_datetime IS NULL
		)
		LEFT JOIN M0070 AS #TEMP_TBL_COACH ON(
			F2001.company_cd	=	#TEMP_TBL_COACH.company_cd
		AND F2001.coach_cd		=	#TEMP_TBL_COACH.employee_cd
		)
		LEFT JOIN M2610 ON(
			F2000.company_cd		=	M2610.company_cd
		AND F2000.[1on1_group_cd]	=	M2610.[1on1_group_cd]
		AND M2610.del_datetime IS NULL
		)
		LEFT JOIN M2600 ON(
			F2000.company_cd		=	M2600.company_cd
		AND F2000.[1on1_group_cd]	=	M2600.[1on1_group_cd]
		AND M2600.del_datetime IS NULL
		)
		-- add by viettd 2021/08/24
		WHERE 
			@coach_cd = ''
		OR	(@coach_cd <> '' AND F2001.coach_cd = @coach_cd)
		-- add by viettd 2021/05/11
		-- WHEN MODE 3 EXPORT CSV & dont choice group THEN UPDATE time for employee 
		IF @mode = 3 AND @group_cd = -1
		BEGIN
			UPDATE #F2001 SET 
				[1on1_times]	=	CASE 
									WHEN ISNULL(M2610.frequency,0) = 4 -- その他
									THEN ISNULL(M2610.[1on1_times],0)
									WHEN ISNULL(M2610.frequency,0) IN (1,2,3)
									THEN 12 / ISNULL(M2610.frequency,0)
									ELSE #F2001.times
								END
			FROM #F2001
			INNER JOIN M2610 ON (
				#F2001.company_cd		=	M2610.company_cd
			AND #F2001.[1on1_group_cd]	=	M2610.[1on1_group_cd]
			AND M2610.del_datetime IS NULL
			)	
		END
		-- end add by viettd 2021/05/11
	END
	-- update pair in #F2001
	UPDATE #F2001 SET 
		pair = JSON_MODIFY(
							JSON_MODIFY(
								JSON_MODIFY(
									JSON_MODIFY(pair,'$.coach_cd',ISNULL(#F2001.coach_cd,'')),
										'$.coach_nm',ISNULL(#F2001.coach_nm,'')),
											'$.interview_cd',ISNULL(CAST(#F2001.interview_cd AS nvarchar(10)),'')),
												'$.interview_nm',ISNULL(#M2200_DISTINCT.interview_nm,''))
	FROM #F2001
	LEFT JOIN (
		SELECT 
			company_cd
		,	interview_cd 
		,	interview_nm
		FROM M2200
		WHERE 
			company_cd = @P_company_cd
		AND del_datetime IS NULL
		GROUP BY 
			company_cd
		,	interview_cd
		,	interview_nm
	) AS #M2200_DISTINCT ON(
		#F2001.company_cd	= #M2200_DISTINCT.company_cd	
	AND #F2001.interview_cd	= #M2200_DISTINCT.interview_cd
	)
	----------------------- FILTER COACH -----------------------
	---- DELTETE ON SCREEN SEARCH (coach)
	--IF @coach_cd <> ''
	--BEGIN
	--	DELETE D FROM #F2001 AS D 
	--	LEFT JOIN  (
	--		SELECT 
	--			employee_cd 
	--		FROM  #F2001 
	--		WHERE 
	--			ISNULL(coach_cd,'') = @coach_cd 
	--		AND @coach_cd<> '' 
	--	) AS #TEMP ON(
	--		D.employee_cd	=	#TEMP.employee_cd
	--	)
	--	WHERE #TEMP.employee_cd IS NULL
	--END

	-- add by viettd 2021/08/24
	UPDATE #F2001 SET 
		belong_cd1_is_used = ISNULL(M0022_1.use_typ,0)
	,	belong_cd2_is_used = ISNULL(M0022_2.use_typ,0)
	,	belong_cd3_is_used = ISNULL(M0022_3.use_typ,0)
	,	belong_cd4_is_used = ISNULL(M0022_4.use_typ,0)
	,	belong_cd5_is_used = ISNULL(M0022_5.use_typ,0)
	FROM #F2001
	INNER JOIN M0022 AS M0022_1 ON (
		#F2001.company_cd	=	M0022_1.company_cd
	AND 1					=	M0022_1.organization_typ
	AND M0022_1.del_datetime IS NULL
	)
	INNER JOIN M0022 AS M0022_2 ON (
		#F2001.company_cd	=	M0022_2.company_cd
	AND 2					=	M0022_2.organization_typ
	AND M0022_2.del_datetime IS NULL
	)
	INNER JOIN M0022 AS M0022_3 ON (
		#F2001.company_cd	=	M0022_3.company_cd
	AND 3					=	M0022_3.organization_typ
	AND M0022_3.del_datetime IS NULL
	)
	INNER JOIN M0022 AS M0022_4 ON (
		#F2001.company_cd	=	M0022_4.company_cd
	AND 4					=	M0022_4.organization_typ
	AND M0022_4.del_datetime IS NULL
	)
	INNER JOIN M0022 AS M0022_5 ON (
		#F2001.company_cd	=	M0022_5.company_cd
	AND 5					=	M0022_5.organization_typ
	AND M0022_5.del_datetime IS NULL
	)
	-- MODE SEARCH & APPLY LATEST
	IF @mode IN (1,2)
	BEGIN
		-- GET ALL EMPLOYEES
		INSERT INTO #F2001_EMPLOYEES
		SELECT 
			#F2001.company_cd
		,	#F2001.fiscal_year
		,	#F2001.employee_cd
		FROM #F2001
		GROUP BY
			#F2001.company_cd
		,	#F2001.fiscal_year
		,	#F2001.employee_cd
		-- get paging value
		SET @w_totalRecord	=	(SELECT COUNT(1) FROM #F2001_EMPLOYEES)
		SET @w_pageMax		=	CEILING(CAST(@w_totalRecord AS FLOAT) / @w_page_size)
		IF @w_pageMax		= 0
		BEGIN
			SET @w_pageMax	= 1
		END
		IF @w_page > @w_pageMax
		BEGIN
			SET @w_page = @w_pageMax
		END
		-- GET EMPLOYEES FOR A PAGE
		INSERT INTO #F2001_EMPLOYEES_FOR_PAGE
		SELECT 
			#F2001_EMPLOYEES.company_cd
		,	#F2001_EMPLOYEES.fiscal_year
		,	#F2001_EMPLOYEES.employee_cd
		FROM #F2001_EMPLOYEES
		ORDER BY 
			CASE ISNUMERIC(#F2001_EMPLOYEES.employee_cd) 
			   WHEN 1 
			   THEN CAST(#F2001_EMPLOYEES.employee_cd AS BIGINT) 
			   ELSE 999999999999999 
			END 
		,	#F2001_EMPLOYEES.employee_cd
		offset (@w_page - 1) * @w_page_size rows
		fetch next @w_page_size rows only
	END
	--[0]
	-- get string @string_fixed_data for header
	IF(@mode = 3) -- MODE REPORT
	BEGIN
		SET @string_fixed_data = '
				fiscal_year
			,	employee_cd																
			,	employee_nm													
			'+@belong_col+'											
			,	position_nm													
			,	job_nm														
			,	grade_nm	
			,	employee_typ_nm	
			,	[1on1_group_cd]	
			,	[1on1_group_nm]		
			,	[1on1_times]		'
		-- GET DETAIL
		IF @string_column_smaller_250 <> ''
		BEGIN
			SET @string_sql_small_250 = 
			'
			SELECT
			'+@string_fixed_data+'
			,	'+@string_column_smaller_250+'
			FROM
			(
				SELECT 
					#F2001.company_cd					
				,	#F2001.employee_cd
				,	#F2001.times
				,	#F2001.fiscal_year
				,	#F2001.pair
				,	#M0070H.belong_cd1_nm	
				,	#M0070H.belong_cd2_nm	
				,	#M0070H.belong_cd3_nm	
				,	#M0070H.belong_cd4_nm	
				,	#M0070H.belong_cd5_nm
				,	#M0070H.job_cd
				,	#M0070H.job_nm			
				,	#M0070H.position_nm		
				,	#M0070H.grade_nm		
				,	#M0070H.employee_typ_nm	
				,	belong_cd1	
				,	belong_cd2	
				,	belong_cd3	
				,	belong_cd4	
				,	belong_cd5	
				,	belong_cd1_is_used			
				,	belong_cd2_is_used
				,	belong_cd3_is_used
				,	belong_cd4_is_used
				,	belong_cd5_is_used
				,	#M0070H.position_cd	
				,	employee_nm	
				,	[1on1_group_cd]	
				,	[1on1_group_nm]	
				,	[1on1_times]	
				FROM #F2001
				INNER JOIN #M0070H ON(
					#F2001.employee_cd	=	#M0070H.employee_cd
				)
			) AS P
			Pivot(MAX(pair) FOR times IN ('+@string_column_smaller_250+')) AS A
			ORDER BY	
				CASE ISNUMERIC(employee_cd) 
				   WHEN 1 
				   THEN CAST(employee_cd AS BIGINT) 
				   ELSE 999999999999999 
				END 
			,	employee_cd
			'
		END 
	END
	ELSE -- MODE SEARCH OR APPLY NEWEST DATA
	BEGIN
		SET @string_fixed_data = '
				company_cd		
			,	employee_cd	
			,	employee_nm	
			,	belong_cd1
			,	belong_cd1_nm	
			,	belong_cd2
			,	belong_cd2_nm	
			,	belong_cd3	
			,	belong_cd3_nm	
			,	belong_cd4	
			,	belong_cd4_nm
			,	belong_cd5
			,	belong_cd5_nm	
			,	belong_cd1_is_used			
			,	belong_cd2_is_used
			,	belong_cd3_is_used
			,	belong_cd4_is_used
			,	belong_cd5_is_used
			,	job_nm		
			,	position_cd	
			,	position_nm		
			,	grade_nm		
			,	employee_typ_nm	'
		-- GET DETAIL
		IF @string_column_smaller_250 <> ''
		BEGIN
			SET @string_sql_small_250 = 
			'
			SELECT
			'+@string_fixed_data+'
			,	'+@string_column_smaller_250+'
			FROM
			(
				SELECT 
					#F2001.company_cd					
				,	#F2001.employee_cd
				,	#F2001.times
				,	#F2001.fiscal_year
				,	#F2001.pair
				,	#M0070H.belong_cd1_nm	
				,	#M0070H.belong_cd2_nm	
				,	#M0070H.belong_cd3_nm	
				,	#M0070H.belong_cd4_nm	
				,	#M0070H.belong_cd5_nm
				,	#M0070H.job_cd
				,	#M0070H.job_nm			
				,	#M0070H.position_nm		
				,	#M0070H.grade_nm		
				,	#M0070H.employee_typ_nm	
				,	belong_cd1	
				,	belong_cd2	
				,	belong_cd3	
				,	belong_cd4	
				,	belong_cd5	
				,	belong_cd1_is_used			
				,	belong_cd2_is_used
				,	belong_cd3_is_used
				,	belong_cd4_is_used
				,	belong_cd5_is_used
				,	#M0070H.position_cd	
				,	employee_nm	
				,	[1on1_group_cd]	
				,	[1on1_group_nm]	
				,	[1on1_times]	
				FROM #F2001_EMPLOYEES_FOR_PAGE
				INNER JOIN #F2001 ON (
					#F2001_EMPLOYEES_FOR_PAGE.company_cd	=	#F2001.company_cd
				AND #F2001_EMPLOYEES_FOR_PAGE.fiscal_year	=	#F2001.fiscal_year
				AND #F2001_EMPLOYEES_FOR_PAGE.employee_cd	=	#F2001.employee_cd
				) 
				INNER JOIN #M0070H ON(
					#F2001.employee_cd	=	#M0070H.employee_cd
				)
			) AS P
			Pivot(MAX(pair) FOR times IN ('+@string_column_smaller_250+')) AS A
			ORDER BY	
				CASE ISNUMERIC(employee_cd) 
				   WHEN 1 
				   THEN CAST(employee_cd AS BIGINT) 
				   ELSE 999999999999999 
				END 
			,	employee_cd
			'
		END 
	END
	IF  @string_column_smaller_250 = ''
	BEGIN
		SELECT
			#M0070H.belong_cd1_nm	
		,	#M0070H.belong_cd2_nm	
		,	#M0070H.belong_cd3_nm	
		,	#M0070H.belong_cd4_nm	
		,	#M0070H.belong_cd5_nm
		,	#M0070H.job_cd
		,	#M0070H.job_nm			
		,	#M0070H.position_nm		
		,	#M0070H.grade_nm		
		,	#M0070H.employee_typ_nm	
		,	belong_cd1	
		,	belong_cd2	
		,	belong_cd3	
		,	belong_cd4	
		,	belong_cd5	
		,	ISNULL(M0022_1.use_typ,0) AS belong_cd1_is_used			
		,	ISNULL(M0022_2.use_typ,0) AS belong_cd2_is_used
		,	ISNULL(M0022_3.use_typ,0) AS belong_cd3_is_used
		,	ISNULL(M0022_4.use_typ,0) AS belong_cd4_is_used
		,	ISNULL(M0022_5.use_typ,0) AS belong_cd5_is_used
		,	position_cd	
		,	employee_nm	
		,	employee_cd
		FROM #M0070H
		LEFT JOIN M0022 AS M0022_1 ON (
			#M0070H.company_cd	=	M0022_1.company_cd
		AND 1					=	M0022_1.organization_typ
		AND M0022_1.del_datetime IS NULL
		)
		LEFT JOIN M0022 AS M0022_2 ON (
			#M0070H.company_cd	=	M0022_2.company_cd
		AND 2					=	M0022_2.organization_typ
		AND M0022_2.del_datetime IS NULL
		)
		LEFT JOIN M0022 AS M0022_3 ON (
			#M0070H.company_cd	=	M0022_3.company_cd
		AND 3					=	M0022_3.organization_typ
		AND M0022_3.del_datetime IS NULL
		)
		LEFT JOIN M0022 AS M0022_4 ON (
			#M0070H.company_cd	=	M0022_4.company_cd
		AND 4					=	M0022_4.organization_typ
		AND M0022_4.del_datetime IS NULL
		)
		LEFT JOIN M0022 AS M0022_5 ON (
			#M0070H.company_cd	=	M0022_5.company_cd
		AND 5					=	M0022_5.organization_typ
		AND M0022_5.del_datetime IS NULL
		)
	END
	ELSE
	BEGIN
		-- RUN EXECUTE
		EXECUTE (@string_sql_small_250)		
	END
	--[1]
	SELECT 
		times
	,	FORMAT([start_date],'yyyy/MM/dd')			AS  [start_date]
	,	FORMAT(deadline_date,'yyyy/MM/dd')			AS  deadline_date
	--add by vietdt	2022/08/19
	,	CASE
			WHEN	@w_language = 2			
			THEN	IIF(title = '','Times '+ CAST(times AS nvarchar(20)),title)	
			ELSE	IIF(title = '',CAST(times AS nvarchar(20))+'回目',title)	
		END											AS	title
	FROM #M2620
	--[2]
	SELECT 
		ISNULL(@start_for,0)						AS start_for
	,	ISNULL(@start_for,0) + ISNULL(@times,0) - 1	AS end_for
	,	ISNULL(@times,0)							AS times
	,	@error										AS error
	,	@fiscal_year								AS fiscal_year
	--[3]
	SELECT @json_combo_interview AS json_combo_interview
	--[4]
	INSERT INTO #TBL_HEADER_DYNAMIC		
	SELECT 
		CONVERT(NVARCHAR(5),#TIME.times)+'A'
	--add by vietdt	2022/08/19
	,	CASE
			WHEN	@w_language = 2			
			THEN	'Times'
			ELSE	'回数'
		END
	FROM  #TIME 
	INSERT INTO #TBL_HEADER_DYNAMIC	
	SELECT 
		CONVERT(NVARCHAR(5),#TIME.times)+'B'	
	--add by vietdt	2022/08/19
	,	CASE
			WHEN	@w_language = 2			
			THEN	'Coach Code'
			ELSE	'コーチコード'
		END
	FROM #TIME 
	INSERT INTO #TBL_HEADER_DYNAMIC	
	SELECT 
		CONVERT(NVARCHAR(5),#TIME.times)+'C'	
	--add by vietdt	2022/08/19
	,	CASE
			WHEN	@w_language = 2			
			THEN	'Coach Name'
			ELSE	'コーチ名'
		END
	FROM #TIME	
	INSERT INTO #TBL_HEADER_DYNAMIC	
	SELECT 
		CONVERT(NVARCHAR(5),#TIME.times)+'D'	
	--add by vietdt	2022/08/19
	,	CASE
			WHEN	@w_language = 2			
			THEN	'1on1 Sheet Code'
			ELSE	'1on1シートコード'
		END
	FROM #TIME
	INSERT INTO #TBL_HEADER_DYNAMIC	
	SELECT 
		CONVERT(NVARCHAR(5),#TIME.times)+'E'
	--add by vietdt	2022/08/19
	,	CASE
			WHEN	@w_language = 2			
			THEN	'Sheet Name'
			ELSE	'シート名'
		END
	FROM #TIME 
	--add by vietdt	2022/08/19
	-- INSERT #TBL_HEADER
	IF	@w_language = 2	
	BEGIN
		INSERT INTO #TBL_HEADER
		SELECT 
			'Fiscal Year'					AS	fiscal_year	
		,	'No'							AS	employee_cd																
		,	'Employee Name'					AS	employee_nm													
		,	'ORG1'							AS	belong1_nm																																							
		,	'ORG2'							AS	belong2_nm	
		,	'ORG3'							AS	belong3_nm	
		,	'ORG4'							AS	belong4_nm													
		,	'ORG5'							AS	belong5_nm													
		,	'Position'						AS	position_nm													
		,	'Job'							AS	job_nm														
		,	'Grade'							AS	grade_nm	
		,	'Classification'				AS	employee_typ_nm		
		,	'1on1 Group Code'				AS	[1on1_group_cd]		
		,	'1on1 Group Name'				AS	[1on1_group_nm]		
		,	'Implement Times'				AS	[1on1_times]
	END
	ELSE
	BEGIN
		INSERT INTO #TBL_HEADER
		SELECT 
			'年度'							AS	fiscal_year	
		,	'社員番号'						AS	employee_cd																
		,	'社員名'							AS	employee_nm													
		,	'組織１'							AS	belong1_nm																																							
		,	'組織２'							AS	belong2_nm	
		,	'組織３'							AS	belong3_nm	
		,	'組織４'							AS	belong4_nm													
		,	'組織５'							AS	belong5_nm													
		,	'役職'							AS	position_nm													
		,	'職種'							AS	job_nm														
		,	'等級'							AS	grade_nm	
		,	'社員区分'						AS	employee_typ_nm		
		,	'1on1グループコード'				AS	[1on1_group_cd]		
		,	'1on1グループ名称'				AS	[1on1_group_nm]		
		,	'実施回数'						AS	[1on1_times]	
	END
	
	-- UPDATE #TBL_HEADER
	UPDATE #TBL_HEADER
	SET 
		belong_cd1_nm	= M0022_1.organization_group_nm
	,	belong_cd2_nm	= M0022_2.organization_group_nm
	,	belong_cd3_nm	= M0022_3.organization_group_nm
	,	belong_cd4_nm	= M0022_4.organization_group_nm
	,	belong_cd5_nm	= M0022_5.organization_group_nm
	FROM #TBL_HEADER 
	LEFT JOIN M0022 AS M0022_1 ON(
		@P_company_cd	=	M0022_1.company_cd
	AND 1				=	M0022_1.organization_typ 
	AND 1				=	M0022_1.use_typ
	AND M0022_1.del_datetime IS NULL
	)
	LEFT JOIN M0022 AS M0022_2 ON(
		@P_company_cd	=	M0022_2.company_cd
	AND 2				=	M0022_2.organization_typ 
	AND 1				=	M0022_2.use_typ
	AND M0022_2.del_datetime IS NULL
	)
	LEFT JOIN M0022 AS M0022_3 ON(
		@P_company_cd	=	M0022_3.company_cd
	AND 3				=	M0022_3.organization_typ 
	AND 1				=	M0022_3.use_typ
	AND M0022_3.del_datetime IS NULL
	)
	LEFT JOIN M0022 AS M0022_4 ON(
		@P_company_cd	=	M0022_4.company_cd
	AND 4				=	M0022_4.organization_typ 
	AND 1				=	M0022_4.use_typ
	AND M0022_4.del_datetime IS NULL
	)
	LEFT JOIN M0022 AS M0022_5 ON(
		@P_company_cd	=	M0022_5.company_cd
	AND 5				=	M0022_5.organization_typ 
	AND 1				=	M0022_5.use_typ
	AND M0022_5.del_datetime IS NULL
	)
	-- INSERT INTO #TEMP_F2001_WHILE
	INSERT INTO #TEMP_F2001_WHILE
	SELECT 
	--add by vietdt	2022/08/19
		CASE
			WHEN	@w_language = 2			
			THEN	'No'
			ELSE	'社員番号'
		END
	,	col_temp_name
	,	col_temp
	FROM #TBL_HEADER_DYNAMIC
	--
	IF @string_header_smaller_250 <> '' AND  (@mode = 3) -- MODE REPORT
	BEGIN
		SET @string_sql_header_small_250 = 
		' SELECT  
			fiscal_year
		,	employee_cd																
		,	employee_nm													
		'+@belong_col+'											
		,	position_nm													
		,	job_nm														
		,	grade_nm	
		,	employee_typ_nm	
		,	[1on1_group_cd]	
		,	[1on1_group_nm]		
		,	[1on1_times]	
		,	'+@string_header_smaller_250+'					
		FROM (
		SELECT 
			#TBL_HEADER.fiscal_year
		,	#TBL_HEADER.employee_cd			
		,	#TBL_HEADER.employee_nm			
		,	#TBL_HEADER.belong_cd1_nm		
		,	#TBL_HEADER.belong_cd2_nm
		,	#TBL_HEADER.belong_cd3_nm
		,	#TBL_HEADER.belong_cd4_nm		
		,	#TBL_HEADER.belong_cd5_nm		
		,	#TBL_HEADER.position_nm			
		,	#TBL_HEADER.job_nm				
		,	#TBL_HEADER.grade_nm	
		,	#TBL_HEADER.employee_typ_nm	
		,	#TBL_HEADER.[1on1_group_cd]		
		,	#TBL_HEADER.[1on1_group_nm]	
		,	#TBL_HEADER.[1on1_times]	
		,	#TEMP_F2001_WHILE.column_nm
		,	#TEMP_F2001_WHILE.column_value
		FROM #TBL_HEADER
		LEFT JOIN #TEMP_F2001_WHILE ON(
			#TBL_HEADER.employee_cd = #TEMP_F2001_WHILE.employee_cd
		)
		)
		AS P
		Pivot(MAX(column_value) FOR column_nm IN ('+@string_header_smaller_250+')) AS A
		'
		EXECUTE (@string_sql_header_small_250) 
	END
	ELSE
	BEGIN
		SELECT 0 AS just_keep_next_table_in_order -- KEEP TABLE IN ORDER (dữ chỗ)
	END
	-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- CASE TIME > 250 
	-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--[5] 
	IF @string_column_lager_250 = ''
	BEGIN
		SELECT SPACE(0) AS string_column_lager_250
	END
	--
	IF @string_column_lager_250 <> ''
	BEGIN
		IF @mode = 3  -- EXPORT CSV
		BEGIN
			SET @string_sql_lager_250 = 
			'
			SELECT
				employee_cd	
			,	'+@string_column_lager_250+'
			FROM
			(
			SELECT 
				#F2001.company_cd					
			,	#F2001.employee_cd
			,	#F2001.times
			,	#F2001.pair
			FROM #F2001
			INNER JOIN #M0070H ON(
				#F2001.employee_cd	=	#M0070H.employee_cd
			)
			) AS P
			Pivot(MAX(pair) FOR times IN ('+@string_column_lager_250+')) AS A
			ORDER BY	
				CASE ISNUMERIC(employee_cd) 
				   WHEN 1 
				   THEN CAST(employee_cd AS BIGINT) 
				   ELSE 999999999999999 
				END 
			,	employee_cd
			'
			EXECUTE (@string_sql_lager_250) 
		END
		ELSE
		BEGIN
			SET @string_sql_lager_250 = 
			'
			SELECT
				employee_cd	
			,	'+@string_column_lager_250+'
			FROM
			(
			SELECT 
				#F2001.company_cd					
			,	#F2001.employee_cd
			,	#F2001.times
			,	#F2001.pair
			FROM #F2001_EMPLOYEES_FOR_PAGE 
			INNER JOIN #F2001 ON (
				#F2001_EMPLOYEES_FOR_PAGE.company_cd	=	#F2001.company_cd
			AND #F2001_EMPLOYEES_FOR_PAGE.fiscal_year	=	#F2001.fiscal_year
			AND #F2001_EMPLOYEES_FOR_PAGE.employee_cd	=	#F2001.employee_cd
			) 
			INNER JOIN #M0070H ON(
				#F2001.employee_cd	=	#M0070H.employee_cd
			)
			) AS P
			Pivot(MAX(pair) FOR times IN ('+@string_column_lager_250+')) AS A
			ORDER BY	
				CASE ISNUMERIC(employee_cd) 
				   WHEN 1 
				   THEN CAST(employee_cd AS BIGINT) 
				   ELSE 999999999999999 
				END 
			,	employee_cd
			'
			EXECUTE (@string_sql_lager_250) 
		END
	END
	--[6]
	IF @string_header_lager_250 <> ''
	BEGIN
		SET @string_sql_header_lager_250 = 
		' SELECT  
			employee_cd																
		,	'+@string_header_lager_250+'					
		FROM (
			SELECT 
				#TBL_HEADER.employee_cd				AS	employee_cd
			,	#TEMP_F2001_WHILE.column_nm			AS	column_nm
			,	#TEMP_F2001_WHILE.column_value		AS	column_value
			FROM #TBL_HEADER
			LEFT JOIN #TEMP_F2001_WHILE ON(
				#TBL_HEADER.employee_cd = #TEMP_F2001_WHILE.employee_cd
			)
		)AS P
		Pivot(MAX(column_value) FOR column_nm IN ('+@string_header_lager_250+')) AS A
		'
		EXECUTE (@string_sql_header_lager_250)
	END
	ELSE
	BEGIN
		SELECT SPACE(0) AS string_column_lager_250
	END
	-- [7]
	SELECT	
		@w_totalRecord	AS totalRecord
	,	@w_pageMax		AS pageMax
	,	@w_page			AS page
	,	@w_page_size	AS pagesize
	,	((@w_page - 1) * @w_page_size + 1) AS offset

	--DROP TABLE
	DROP TABLE #TABLE_ORGANIZATION
	DROP TABLE #M0070H
	DROP TABLE #DELETE_COACH
	DROP TABLE #F2001
	DROP TABLE #M2620
	DROP TABLE #TBL_COACH
	DROP TABLE #TBL_EMP
	DROP TABLE #TEMP_M2601
	DROP TABLE #TIME
END
GO
