DROP PROCEDURE [SPC_M0060_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/08/16											
--*	作成者/creater				:	namnb						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0060_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			nvarchar(max)
	-- common
,	@P_cre_user		nvarchar(50)
,	@P_cre_ip		nvarchar(50)
,	@P_company_cd	smallint
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			int					=	0
	,	@P_employee_typ			smallint			=	0
	,	@P_employee_typ_nm		nvarchar(50)		=	''
	,	@P_arrange_order		nvarchar(4)			=	0
	,	@employee_typ			smallint			=	0
	,	@import_cd				nvarchar(255)		=	''
	,	@w_import_cd			nvarchar(255)		=	''
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		-- assign
		SET @P_employee_typ			=	JSON_VALUE(@P_json,'$.employee_typ')
		SET @P_employee_typ_nm		=	JSON_VALUE(@P_json,'$.employee_typ_nm')
		SET @P_arrange_order		=	JSON_VALUE(@P_json,'$.arrange_order')
		SET @P_arrange_order		=	IIF(@P_arrange_order IS NULL OR @P_arrange_order ='',0,@P_arrange_order)
		SET	@w_import_cd			=	JSON_VALUE(@P_json,'$.import_cd')
		--If update and not update itself
		IF  EXISTS (
			SELECT 1 FROM M0060
			WHERE
				company_cd = @P_company_cd
			AND	import_cd  = @w_import_cd
			AND	employee_typ  <> @P_employee_typ
			AND import_cd  IS NOT NULL
			AND	del_datetime IS NULL
			AND import_cd <> ''
			AND import_cd IS NOT NULL
		)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				159
			,	'#import_cd'
			,	0
			,	1
			,	0
			,	0
			,	'validate 159'
			)
		END
		-- do stuff
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			IF @P_employee_typ = 0
			BEGIN
				SET @employee_typ  = ISNULL((SELECT MAX(employee_typ) FROM M0060 WHERE company_cd = @P_company_cd), 0) + 1
				INSERT INTO M0060
				SELECT
					@P_company_cd
				,	@employee_typ
				,	@P_employee_typ_nm
				,	@w_import_cd
				,	@P_arrange_order
				,	@P_cre_user
				,	@P_cre_ip
				,	'M0060'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
			END
			ELSE BEGIN
				UPDATE M0060
				SET
					employee_typ_nm	=	@P_employee_typ_nm
				,	arrange_order	=	@P_arrange_order
				,	import_cd		=	@w_import_cd
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg         =   'M0060'
				,	upd_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_typ	=	@P_employee_typ
				AND	del_datetime IS NULL
				
				SET @employee_typ  = @P_employee_typ
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	SELECT @employee_typ AS employee_typ
END

GO
