DROP PROCEDURE [SPC_M0060_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		namnb
-- Create date: 2018/08/20
-- Description:	get right content
-- =============================================
CREATE PROCEDURE [SPC_M0060_INQ1]
	@P_employee_typ		smallint
,	@P_company_cd		smallint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
		employee_typ
	,	employee_typ_nm
	,	arrange_order
	,	import_cd
	FROM M0060
	WHERE
		company_cd		=	@P_company_cd
	AND	employee_typ	=	@P_employee_typ
	AND	del_datetime IS NULL
END

GO
