DROP PROCEDURE [SPC_oS0030_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_oS0030_ACT1 '{}','','::1','';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	SAVE DATA
--*  
--*  作成日/create date			:	2020/10/22						
--*　作成者/creater				:	nghianm								
--*   					
--*  更新日/update date			:	2021/04/23
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	change FNC_GET_YEAR => FNC_GET_YEAR_1ON1
--*   					
--*	更新日/update date			:  	2021/10/11					
--*	更新者/updater				:　 viettd　								     	 
--*	更新内容/update content		:	※S0010.authority_typ＝3（管理者）、S0010.authority_typ＝4（管理会社）、
--*								:	S0010.authority_typ＝5（総合管理者）は更新対象外とする。　
--****************************************************************************************
CREATE PROCEDURE [SPC_oS0030_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)	= ''
,	@P_cre_user		NVARCHAR(50)	= ''
,	@P_cre_ip		NVARCHAR(50)	= ''
,	@P_company_cd	SMALLINT		= 0
,	@P_mode			INT				= 0  -- mode = 0: update, mode = 1: Delete 
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					=	0
	,	@w_1on1_authority_cd	SMALLINT			=	0
	--
	,	@w_count				INT					=	0
	,	@w_i					INT					=	1
	,	@w_employee_cd			NVARCHAR(10)		=	''
	,	@current_year			INT					=	0
	,	@oneonone_authority_typ	INT				=	0
	--
	-- #M0070
	CREATE TABLE #M0070 (
		id						INT			IDENTITY(1,1)	
	,	row_index				nvarchar(100)
	,	company_cd				SMALLINT
	,	employee_cd				NVARCHAR(10)
	,	[1on1_authority_typ]	SMALLINT 
	,	[1on1_authority_cd]		SMALLINT 
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- GET VALUE
		SET @current_year = (select dbo.FNC_GET_YEAR_1ON1(@P_company_cd,@w_time))
		SET @w_1on1_authority_cd = JSON_VALUE(@P_json,'$.authority_cd')
		-- INSERT DATA INTO #M0070
		INSERT INTO #M0070
		SELECT
			JSON_VALUE([value],'$.row_index')			AS	row_index
		,	@P_company_cd								AS	company_cd
		,	JSON_VALUE([value],'$.tb_employee_cd')		AS	employee_cd
		,	0											AS	[1on1_authority_typ]
		,	0											AS	[1on1_authority_cd]
		FROM OPENJSON(@P_json,'$.tr_employee')
		-- update authority_typ FROM S0010
		UPDATE #M0070 SET 
			 [1on1_authority_typ]	= ISNULL(S0010.[1on1_authority_typ],0)
		,	 [1on1_authority_cd]	= ISNULL(S0010.[1on1_authority_cd],0)
		FROM #M0070
		INNER JOIN S0010 ON (
			#M0070.company_cd		=	S0010.company_cd
		AND #M0070.employee_cd		=	S0010.employee_cd
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND S0010.del_datetime IS NULL
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--VALIDATE
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		-- MESS 45 解除の際に、権限が設定されていない社員を選択したらエラー
		-- 1. MODE DELETE
		IF @P_mode = 1
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT 
				45													-- mã lỗi (trùng với mã trong bảng message) 					
			,	'#' + #M0070.row_index								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby											-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- tooltip  										-- Kiểu hiển thị lối : 0. tooltip , 1.dialog , 4.tooltip + popup
			,	0													-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0													-- Tùy ý
			,	N'Delete when not regiter [1on1_authority_typ]'		-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #M0070
			WHERE 
				#M0070.[1on1_authority_cd] = 0
		END
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--PROCESS SAVE
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL) 
		BEGIN
			-- 1. MODE DELETE
			IF @P_mode = 1
			BEGIN
				-- update all employee's authority_typ
				UPDATE #M0070 SET 
					[1on1_authority_typ] = 0
				FROM #M0070
				WHERE 
					#M0070.[1on1_authority_typ] NOT IN (4,5)
				-- LOOP
				SET @w_count = (SELECT COUNT(#M0070.id) FROM #M0070)
				WHILE @w_i <= @w_count
				BEGIN
					SET @w_employee_cd = (SELECT #M0070.employee_cd FROM #M0070 WHERE #M0070.id = @w_i)
					-- 2.コッチ
					IF EXISTS (SELECT 1 FROM F2001 WHERE 
													F2001.company_cd	= @P_company_cd 
												AND F2001.fiscal_year	= @current_year
												AND F2001.coach_cd		= @w_employee_cd 
												AND F2001.del_datetime IS NULL)
					BEGIN
						UPDATE #M0070 SET 
							[1on1_authority_typ] = 2	-- 2.コッチ
						FROM #M0070
						WHERE 
							#M0070.id = @w_i
						AND #M0070.[1on1_authority_typ] NOT IN (4,5)
					END 
					-- 1.メンバー
					IF EXISTS (SELECT 1 FROM F2001 WHERE 
													F2001.company_cd  = @P_company_cd 
												AND F2001.fiscal_year = @current_year
												AND F2001.employee_cd = @w_employee_cd 
												AND F2001.del_datetime IS NULL) 
					BEGIN
						UPDATE #M0070 SET 
							[1on1_authority_typ] = 1	-- 1.メンバー
						FROM #M0070
						WHERE 
							#M0070.id = @w_i
						AND #M0070.[1on1_authority_typ] NOT IN (4,5)
					END
					--
					SET @w_i = @w_i + 1
				END
			END
			-- 0. MODE SAVE
			IF @P_mode = 0
			BEGIN
				UPDATE #M0070 SET 
					[1on1_authority_typ] = 3	-- 3.管理者
				FROM #M0070
				WHERE  
					#M0070.[1on1_authority_typ] NOT IN (4,5)
			END
			-- ■S0010
			UPDATE S0010 SET 
				S0010.[1on1_authority_typ]		=	#M0070.[1on1_authority_typ]
			,	S0010.[1on1_authority_cd]		=	CASE 
														WHEN @P_mode = 1 -- DELETE
														THEN 0
														WHEN @P_mode = 0 AND #M0070.[1on1_authority_typ] IN (4,5)
														THEN 0
														ELSE @w_1on1_authority_cd
													END
			,	upd_user						=	@P_cre_user			
			,	upd_ip							=	@P_cre_ip	
			,	upd_prg							=	'oS0030'
			,	upd_datetime					=	@w_time		
			FROM S0010
			INNER JOIN #M0070 ON (
				S0010.company_cd	= @P_company_cd
			AND S0010.employee_cd	= #M0070.employee_cd
			)
			WHERE 
				S0010.company_cd = @P_company_cd
			AND S0010.del_datetime IS NULL
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO