DROP PROCEDURE [SPC_M0190_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/09/17											
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0190_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			nvarchar(max)			=	''
	-- common
,	@P_cre_user		nvarchar(50)			=	''
,	@P_cre_ip		nvarchar(50)			=	''
,	@P_company_cd	smallint				=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			int					=	0
	--
	,	@category				smallint			=	0
	,	@status_cd				smallint			=	0
	,	@status_nm				nvarchar(50)		=	''
	,	@status_use_typ			tinyint				=	0
	,	@max_status_cd			smallint			=	0
	--
	,	@target_management_typ				AS	tinyint			= 0
	,	@evaluation_use_typ					AS	tinyint			= 0
	,	@interview_use_typ					AS	tinyint			= 0
	,	@feedback_use_typ					AS	tinyint			= 0
	,	@target_self_assessment_typ			AS	tinyint			= 0
	,	@target_evaluation_typ_1			AS	tinyint			= 0
	,	@target_evaluation_typ_2			AS	tinyint			= 0
	,	@target_evaluation_typ_3			AS	tinyint			= 0
	,	@target_evaluation_typ_4			AS	tinyint			= 0
	,	@evaluation_self_assessment_typ		AS	tinyint			= 0
	,	@evaluation_typ_1					AS	tinyint			= 0
	,	@evaluation_typ_2					AS	tinyint			= 0
	,	@evaluation_typ_3					AS	tinyint			= 0
	,	@evaluation_typ_4					AS	tinyint			= 0
	--
	SELECT	
		@target_management_typ				=	ISNULL(M0100.target_management_typ,0)
	,	@evaluation_use_typ					=	ISNULL(M0100.evaluation_use_typ,0)
	,	@interview_use_typ					=	ISNULL(M0100.interview_use_typ,0)
	,	@feedback_use_typ					=	ISNULL(M0100.feedback_use_typ,0)
	,	@target_self_assessment_typ			=	ISNULL(M0100.target_self_assessment_typ,0)
	,	@target_evaluation_typ_1			=	ISNULL(M0100.target_evaluation_typ_1,0)
	,	@target_evaluation_typ_2			=	ISNULL(M0100.target_evaluation_typ_2,0)
	,	@target_evaluation_typ_3			=	ISNULL(M0100.target_evaluation_typ_3,0)
	,	@target_evaluation_typ_4			=	ISNULL(M0100.target_evaluation_typ_4,0)
	,	@evaluation_self_assessment_typ		=	ISNULL(M0100.evaluation_self_assessment_typ,0)
	,	@evaluation_typ_1					=	ISNULL(M0100.evaluation_typ_1,0)
	,	@evaluation_typ_2					=	ISNULL(M0100.evaluation_typ_2,0)
	,	@evaluation_typ_3					=	ISNULL(M0100.evaluation_typ_3,0)
	,	@evaluation_typ_4					=	ISNULL(M0100.evaluation_typ_4,0)
	FROM M0100								
	WHERE 
		M0100.company_cd		=	@P_company_cd
	AND M0100.del_datetime IS NULL
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--CREATE TEMP TABLE
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	CREATE TABLE #TABLE_JSON (
		id						int				identity(1,1)
	,	category				smallint
	,	status_cd				smallint
	,	status_nm				nvarchar(100)
	,	status_use_typ			tinyint
	)
	CREATE TABLE #M0310 (
		category				smallint
	,	status_cd				smallint
	,	status_use_typ			tinyint
	,	detail_no				int
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--VALIDATE
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--PROCESS
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- get json data
			INSERT INTO #TABLE_JSON
			SELECT json_table.category,json_table.status_cd,json_table.status_nm,json_table.status_use_typ FROM OPENJSON(@P_json,'$.function_list') WITH(
					category				smallint
				,	status_cd				smallint
				,	status_nm				nvarchar(100)
				,	status_use_typ			tinyint
				,	disabled_status			tinyint
			)AS json_table

			-- GET @max_status_cd
			SET @max_status_cd = (SELECT TOP 1 ISNULL(L0040.status_cd,0) 
									FROM L0040 
									WHERE 
										L0040.category = 3 
									AND L0040.del_datetime IS NULL
									ORDER BY
										L0040.status_cd DESC
									)
			INSERT INTO #M0310 
			SELECT 
				#TABLE_JSON.category
			,	#TABLE_JSON.status_cd
			,	CASE 
					--	1:目標管理
					WHEN #TABLE_JSON.category = 1 AND @target_management_typ = 0
					THEN 0
					WHEN #TABLE_JSON.category = 1 AND @target_self_assessment_typ = 0 AND #TABLE_JSON.status_cd = 3
					THEN 0
					WHEN #TABLE_JSON.category = 1 AND @target_evaluation_typ_1 = 0 AND #TABLE_JSON.status_cd = 4
					THEN 0
					WHEN #TABLE_JSON.category = 1 AND @target_evaluation_typ_2 = 0 AND #TABLE_JSON.status_cd = 5
					THEN 0
					WHEN #TABLE_JSON.category = 1 AND @target_evaluation_typ_3 = 0 AND #TABLE_JSON.status_cd = 6
					THEN 0
					WHEN #TABLE_JSON.category = 1 AND @target_evaluation_typ_4 = 0 AND #TABLE_JSON.status_cd = 7
					THEN 0
					WHEN #TABLE_JSON.category = 1 AND @feedback_use_typ = 0 AND #TABLE_JSON.status_cd IN (9,10,11)
					THEN 0
					-- 2:評価
					WHEN #TABLE_JSON.category = 2 AND @evaluation_use_typ = 0
					THEN 0
					WHEN #TABLE_JSON.category = 2 AND @evaluation_self_assessment_typ = 0 AND #TABLE_JSON.status_cd = 1
					THEN 0
					WHEN #TABLE_JSON.category = 2 AND @evaluation_typ_1 = 0 AND #TABLE_JSON.status_cd = 2
					THEN 0
					WHEN #TABLE_JSON.category = 2 AND @evaluation_typ_2 = 0 AND #TABLE_JSON.status_cd = 3
					THEN 0
					WHEN #TABLE_JSON.category = 2 AND @evaluation_typ_3 = 0 AND #TABLE_JSON.status_cd = 4
					THEN 0
					WHEN #TABLE_JSON.category = 2 AND @evaluation_typ_4 = 0 AND #TABLE_JSON.status_cd = 5
					THEN 0
					WHEN #TABLE_JSON.category = 2 AND @feedback_use_typ = 0 AND #TABLE_JSON.status_cd IN (7,8,9)
					THEN 0
					-- 3:期中面談
					WHEN #TABLE_JSON.category = 3 AND ISNULL(M0310.status_cd,0) = 1	-- 1.期首面談
					THEN ISNULL(#TABLE_JSON.status_use_typ,0)
					WHEN #TABLE_JSON.category = 3 AND ISNULL(M0310.status_cd,0) = @max_status_cd AND @feedback_use_typ = 0
					THEN 0
					WHEN #TABLE_JSON.category = 3 AND ISNULL(M0310.status_cd,0) = @max_status_cd AND @feedback_use_typ = 1
					THEN ISNULL(#TABLE_JSON.status_use_typ,0)
					WHEN #TABLE_JSON.category = 3 AND ISNULL(M0310.status_cd,0) > 1 AND ISNULL(M0310.status_cd,0) < @max_status_cd AND @interview_use_typ = 0
					THEN 0
					WHEN #TABLE_JSON.category = 3 AND @interview_use_typ = 1
					THEN ISNULL(#TABLE_JSON.status_use_typ,0)
					ELSE 1
				END	
			,	0
			FROM #TABLE_JSON
			LEFT OUTER JOIN M0310 ON (
				M0310.company_cd			=	@P_company_cd
			AND M0310.category				=	#TABLE_JSON.category
			AND M0310.status_cd				=	#TABLE_JSON.status_cd
			)
			DELETE #M0310 WHERE status_use_typ = 0
			UPDATE #M0310
			SET detail_no = CASE WHEN #M0310.category IN(1,2) THEN #M0310_2.detail_no - 1
							ELSE #M0310_2.detail_no
							END
			FROM #M0310 INNER JOIN (
				SELECT 
					category
				,	status_cd
				,	RANK ()  OVER(PARTITION BY #M0310.category ORDER BY #M0310.status_cd ASC) AS detail_no
				FROM #M0310
			) AS #M0310_2 ON(
				#M0310.category			=	#M0310_2.category
			AND #M0310.status_cd		=	#M0310_2.status_cd
			)

			-- UPDATE DATA
			UPDATE M0310 SET 
				status_nm			=	ISNULL(#TABLE_JSON.status_nm,'')
			,	status_use_typ		=	#M0310.status_use_typ
			,	detail_no			=	#M0310.detail_no
			,	upd_user			=	@P_cre_user
			,	upd_ip				=	@P_cre_ip
			,	upd_prg				=	'M0190'
			,	upd_datetime		=	@w_time
			FROM M0310
			INNER JOIN #TABLE_JSON ON (
				M0310.company_cd			=	@P_company_cd
			AND M0310.category				=	#TABLE_JSON.category
			AND M0310.status_cd				=	#TABLE_JSON.status_cd
			)
			INNER JOIN #M0310 ON(
				M0310.company_cd			=	@P_company_cd
			AND M0310.category				=	#M0310.category
			AND M0310.status_cd				=	#M0310.status_cd
			)
			-- for #TABLE_JSON.status_use_typ = 0
			UPDATE M0310 SET 
				status_use_typ	=	0
			,	detail_no = NULL
			FROM M0310
			INNER JOIN #TABLE_JSON ON (
				M0310.company_cd			=	@P_company_cd
			AND M0310.category				=	#TABLE_JSON.category
			AND M0310.status_cd				=	#TABLE_JSON.status_cd
			)
			WHERE
				#TABLE_JSON.status_use_typ = 0
			AND	#TABLE_JSON.category = 3
			-- INSERT DATA
			INSERT INTO M0310
			SELECT 
				@P_company_cd
			,	ISNULL(#TABLE_JSON.category,0)
			,	ISNULL(#TABLE_JSON.status_cd,0)
			,	ISNULL(#TABLE_JSON.status_nm,'')
			,	CASE 
					--	1:目標管理
					WHEN #TABLE_JSON.category = 1 AND @target_management_typ = 0
					THEN 0
					WHEN #TABLE_JSON.category = 1 AND @target_self_assessment_typ = 0 AND #TABLE_JSON.status_cd = 3
					THEN 0
					WHEN #TABLE_JSON.category = 1 AND @target_evaluation_typ_1 = 0 AND #TABLE_JSON.status_cd = 4
					THEN 0
					WHEN #TABLE_JSON.category = 1 AND @target_evaluation_typ_2 = 0 AND #TABLE_JSON.status_cd = 5
					THEN 0
					WHEN #TABLE_JSON.category = 1 AND @target_evaluation_typ_3 = 0 AND #TABLE_JSON.status_cd = 6
					THEN 0
					WHEN #TABLE_JSON.category = 1 AND @target_evaluation_typ_4 = 0 AND #TABLE_JSON.status_cd = 7
					THEN 0
					WHEN #TABLE_JSON.category = 1 AND @feedback_use_typ = 0 AND #TABLE_JSON.status_cd IN (9,10,11)
					THEN 0
					-- 2:評価
					WHEN #TABLE_JSON.category = 2 AND @evaluation_use_typ = 0
					THEN 0
					WHEN #TABLE_JSON.category = 2 AND @evaluation_self_assessment_typ = 0 AND #TABLE_JSON.status_cd = 1
					THEN 0
					WHEN #TABLE_JSON.category = 2 AND @evaluation_typ_1 = 0 AND #TABLE_JSON.status_cd = 2
					THEN 0
					WHEN #TABLE_JSON.category = 2 AND @evaluation_typ_2 = 0 AND #TABLE_JSON.status_cd = 3
					THEN 0
					WHEN #TABLE_JSON.category = 2 AND @evaluation_typ_3 = 0 AND #TABLE_JSON.status_cd = 4
					THEN 0
					WHEN #TABLE_JSON.category = 2 AND @evaluation_typ_4 = 0 AND #TABLE_JSON.status_cd = 5
					THEN 0
					WHEN #TABLE_JSON.category = 2 AND @feedback_use_typ = 0 AND #TABLE_JSON.status_cd IN (7,8,9)
					THEN 0
					-- 3:期中面談
					WHEN #TABLE_JSON.category = 3 AND ISNULL(M0310.status_cd,0) = 1	-- 1.期首面談
					THEN ISNULL(#TABLE_JSON.status_use_typ,0)
					WHEN #TABLE_JSON.category = 3 AND ISNULL(M0310.status_cd,0) = @max_status_cd AND @feedback_use_typ = 0
					THEN 0
					WHEN #TABLE_JSON.category = 3 AND ISNULL(M0310.status_cd,0) = @max_status_cd AND @feedback_use_typ = 1
					THEN ISNULL(#TABLE_JSON.status_use_typ,0)
					WHEN #TABLE_JSON.category = 3 AND ISNULL(M0310.status_cd,0) > 1 AND ISNULL(M0310.status_cd,0) < @max_status_cd AND @interview_use_typ = 0
					THEN 0
					WHEN #TABLE_JSON.category = 3 AND @interview_use_typ = 1
					THEN ISNULL(#TABLE_JSON.status_use_typ,0)
					ELSE #TABLE_JSON.status_use_typ
				END																				---	status_use_typ
			,	#M0310.detail_no
			,	@P_cre_user
			,	@P_cre_ip
			,	'M0190'
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #TABLE_JSON
			LEFT OUTER JOIN M0310 ON (
				@P_company_cd			=	M0310.company_cd
			AND #TABLE_JSON.category	=	M0310.category
			AND #TABLE_JSON.status_cd	=	M0310.status_cd
			)
			LEFT OUTER JOIN #M0310 ON (
				#TABLE_JSON.category	=	#M0310.category
			AND #TABLE_JSON.status_cd	=	#M0310.status_cd
			)
			WHERE
				#TABLE_JSON.category <> 0
			AND M0310.company_cd IS NULL
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO