.list-img img {
	width: 30px;
}
.group-btn{
  display: flex;
  margin-left: auto;
}
.month-search {
	max-width: 165px;
}
.popup {
	border: none !important;
	padding-right: 11px !important;
	cursor: pointer;
}
.select-width {
	width:8% !important;
}
.checkbox-text {
	max-width: 110px;
}
.table0:first-child {
	border-bottom:2px solid black;
}
.table select {
	font-size:14px;
}
.date-fiscal-year {
	width: 160px !important;
	max-width:160px !important;
}
@media (min-width: 1700px) and (max-width: 1900px){
	.row-month {
		min-width: 64%;
	}
}
@media (max-width: 575px){
	.date-fiscal-year {
		width: unset !important;
		max-width:unset !important;
	}
}
@media (min-width: 1260px) and (max-width: 1669px){
	.month-search {
		min-width: 137px;
	}
	.row-month {
		min-width: 80%;
	}
	.checkbox-text {
		min-width: 110px;
	}
	.date-fiscal-year {
		width: 160px !important;
		max-width:160px !important;
	}
}
}
@media (min-width: 1200px){
	.date-fiscal-year {
		width: 160px !important;
		max-width:160px !important;
	}
}
.tr2 th{
	top : 49px !important;
}
.w-120px{
	min-width: 120px;
}
h5 {
	min-width: 250px;
}