/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT11]    Script Date: 2024/04/08 15:50:05 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT11]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file 社員マスタ (その他社員情報)
 *
 *  作成日  ： 2024/04/08
 *  作成者  ： PhuongDT
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT11]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA (
		id							INT IDENTITY(1,1)
	,	employee_cd					NVARCHAR(20)
	,	blood_type					NVARCHAR(20)
	,	headquarters_prefectures	NVARCHAR(50)
	,	headquarters_other			NVARCHAR(50)
	,	possibility_transfer		NVARCHAR(50)
	,	nationality					NVARCHAR(20)
	,	residence_card_no			NVARCHAR(50)
	,	status_residence			NVARCHAR(50)
	,	expiry_date					NVARCHAR(20)
	,	permission_activities		NVARCHAR(50)
	,	disability_classification	NVARCHAR(50)
	,	disability_recognition_date	NVARCHAR(50)
	,	disability_content			NVARCHAR(50)
	,	common_name					NVARCHAR(100)
	,	common_name_furigana		NVARCHAR(100)
	,	maiden_name					NVARCHAR(100)
	,	maiden_name_furigana		NVARCHAR(100)
	,	business_name				NVARCHAR(100)
	,	business_name_furigana		NVARCHAR(100)
	,	base_style					NVARCHAR(20)
	,	sub_style					NVARCHAR(20)
	,	driver_point				NVARCHAR(20)
	,	analytical_point			NVARCHAR(20)
	,	expressive_point			NVARCHAR(20)
	,	amiable_point				NVARCHAR(20)
	)

	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Employee Code' 			AS employee_cd					
		,	'Blood Type' 				AS blood_type					
		,	'Headquarters Prefectures' 	AS headquarters_prefectures	
		,	'Headquarters Other' 		AS headquarters_other			
		,	'Possibility Transfer' 		AS possibility_transfer		
		,	'Nationality' 				AS nationality					
		,	'Residence Card No' 		AS residence_card_no			
		,	'Status Residence' 			AS status_residence			
		,	'Expiry Date' 				AS expiry_date
		,	'Permission Activities' 	AS permission_activities		
		,	'Disability Classification' AS disability_classification	
		,	'Disability Recognition Date' AS disability_recognition_date
		,	'Disability Content' 		AS disability_content			
		,	'Common Name' 				AS common_name					
		,	'Common Name Furigana' 		AS common_name_furigana		
		,	'Maiden Name' 				AS maiden_name					
		,	'Maiden Name Furigana' 		AS maiden_name_furigana		
		,	'Business Name' 			AS business_name				
		,	'Business Name Furigana' 	AS business_name_furigana		
		,	'Base Style'				AS base_style
		,	'Sub Style'					AS sub_style
		,	'Driver Point'				AS driver_point
		,	'Analytical Point'			AS analytical_point
		,	'Expressive Point'			AS expressive_point
		,	'Amiable Point'				AS amiable_point					
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'社員コード' 				    AS employee_cd
		,	'血液型' 					AS blood_type					
		,	'本拠地_都道府県'			    AS headquarters_prefectures
		,	'本拠地_その他' 			    AS headquarters_other
		,	'転勤可否' 					AS possibility_transfer		
		,	'国籍' 						AS nationality					
		,	'在留カード番号' 			    AS residence_card_no
		,	'在留資格' 					AS status_residence			
		,	'在留期限日' 				    AS expiry_date
		,	'資格外活動許可' 			    AS permission_activities
		,	'障害手帳区分' 				AS disability_classification	
		,	'障害認定日' 				    AS disability_recognition_date
		,	'障害内容' 					AS disability_content			
		,	'通称名' 					AS common_name					
		,	'通称名フリガナ' 			    AS common_name_furigana
		,	'旧姓' 						AS maiden_name					
		,	'旧姓フリガナ' 				AS maiden_name_furigana		
		,	'ビジネスネーム' 			    AS business_name
		,	'ビジネスネームフリガナ'	    AS business_name_furigana
		,	'ベーススタイル' 			    AS base_style
		,	'サブスタイル' 				AS sub_style					
		,	'ドライバー得点' 			    AS driver_point
		,	'アナリティカル得点' 		    AS analytical_point
		,	'エクスプレッシブ得点' 		    AS expressive_point
		,	'エミアブル得点' 			    AS amiable_point
	END
	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(M0074.employee_cd,'')				
	,	ISNULL(blood_type,0)	
	,	ISNULL(headquarters_prefectures,0)	
	,	ISNULL(headquarters_other,'')				
	,	ISNULL(possibility_transfer,'')				
	,	ISNULL(nationality,'')					
	,	ISNULL(residence_card_no,'')					
	,	ISNULL(status_residence,0)					
	,	FORMAT(NULLIF(expiry_date,'1900-01-01'), 'yyyy/MM/dd')	
	,	ISNULL(permission_activities,0)		
	,	ISNULL(disability_classification,0)			
	,	FORMAT(NULLIF(disability_recognition_date,'1900-01-01'), 'yyyy/MM/dd')
	,	ISNULL(disability_content,'')
	,	ISNULL(common_name,'')	
	,	ISNULL(common_name_furigana,'')
	,	ISNULL(maiden_name,'')
	,	ISNULL(maiden_name_furigana,'')
	,	ISNULL(business_name,'')				
	,	ISNULL(business_name_furigana,'')
	,	ISNULL(base_style,0)
	,	ISNULL(sub_style,0)
	,	ISNULL(driver_point,0)
	,	ISNULL(analytical_point,0)
	,	ISNULL(expressive_point,0)
	,	ISNULL(amiable_point,0)	
	FROM M0074
	WHERE 
		M0074.company_cd			=	@P_company_cd
	AND M0074.del_datetime IS NULL
	ORDER BY 
		CASE (SELECT 1 WHERE M0074.employee_cd NOT LIKE '%[^0-9]%')
		   WHEN 1 
		   THEN CAST(M0074.employee_cd AS BIGINT) 
		   ELSE 999999999999999 
		END 
    ,	M0074.employee_cd

	--[0]
	SELECT
		#DATA.employee_cd				
	,	#DATA.blood_type					
	,	#DATA.headquarters_prefectures	
	,	#DATA.headquarters_other			
	,	#DATA.possibility_transfer		
	,	#DATA.nationality					
	,	#DATA.residence_card_no			
	,	#DATA.status_residence			
	,	#DATA.expiry_date					
	,	#DATA.permission_activities		
	,	#DATA.disability_classification	
	,	#DATA.disability_recognition_date
	,	#DATA.disability_content			
	,	#DATA.common_name					
	,	#DATA.common_name_furigana		
	,	#DATA.maiden_name					
	,	#DATA.maiden_name_furigana		
	,	#DATA.business_name				
	,	#DATA.business_name_furigana		
	,	#DATA.base_style					
	,	#DATA.sub_style					
	,	#DATA.driver_point				
	,	#DATA.analytical_point			
	,	#DATA.expressive_point			
	,	#DATA.amiable_point					
	FROM #DATA
	ORDER BY
		id
END
GO
