/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT12]    Script Date: 2024/04/08 15:50:05 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT12]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file 社員マスタ (資格)
 *
 *  作成日  ： 2024/04/08
 *  作成者  ： PhuongDT
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT12]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA (
		id							INT IDENTITY(1,1)
	,	employee_cd					NVARCHAR(20)
	,	detail_no					NVARCHAR(20)
	,	qualification_cd			NVARCHAR(50)
	,	qualification_typ			NVARCHAR(50)
	,	headquarters_other			NVARCHAR(50)
	,	possibility_transfer		NVARCHAR(50)
	,	remarks						NVARCHAR(100)
	)

	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Employee Code' 			AS employee_cd					
		,	'Detail No' 				AS detail_no					
		,	'Qualification Code' 		AS qualification_cd	
		,	'Qualification Type' 		AS qualification_typ			
		,	'Headquarters Other' 		AS headquarters_other		
		,	'Possibility Transfer' 		AS possibility_transfer					
		,	'Remarks' 					AS remarks							
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'社員コード' 				    AS employee_cd
		,	'明細番号' 					AS detail_no					
		,	'資格コード' 				    AS qualification_cd
		,	'資格種別' 					AS qualification_typ			
		,	'資格取得日' 				    AS headquarters_other
		,	'資格有効期限' 				AS possibility_transfer					
		,	'備考' 						AS remarks	
	END
	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(M0075.employee_cd,'')				
	,	ISNULL(detail_no,0)	
	,	ISNULL(qualification_cd,0)	
	,	ISNULL(qualification_typ,0)	
	,	FORMAT(NULLIF(headquarters_other,'1900-01-01'), 'yyyy/MM/dd')	
	,	FORMAT(NULLIF(possibility_transfer,'1900-01-01'), 'yyyy/MM/dd')
	,	ISNULL(remarks,'')
	FROM M0075
	WHERE 
		M0075.company_cd			=	@P_company_cd
	AND M0075.del_datetime IS NULL
	ORDER BY 
		M0075.employee_cd
    ,   M0075.detail_no

	--[0]
	SELECT
		#DATA.employee_cd				
	,	#DATA.detail_no					
	,	#DATA.qualification_cd	
	,	#DATA.qualification_typ	
	,	#DATA.headquarters_other			
	,	#DATA.possibility_transfer		
	,	#DATA.remarks							
	FROM #DATA
	ORDER BY
		id
END
GO