/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT4]    Script Date: 2018/10/01 12:01:23 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT4]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2018/10/01
 *  作成者  ： sondh
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT4]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)		= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA (
		id						INT IDENTITY(1,1)
	,	position_cd				NVARCHAR(20)
	,	position_nm				NVARCHAR(50)
	,	position_ab_nm			NVARCHAR(50)
    ,	import_cd				NVARCHAR(255)
	,	arrange_order			NVARCHAR(20)
	)
					
	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Position Code'				AS position_cd			
		,	'Position Name'				AS position_nm				
		,	'Position Abbreviation'		AS position_ab_nm
        ,	'Import Code'				AS import_cd
		,	'Order'				        AS arrange_order
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'役職コード'				AS position_cd			
		,	'役職名'					AS position_nm				
		,	'役職略称'				AS position_ab_nm
        ,	'取込用コード'			AS import_cd
        ,	'並び順'					AS arrange_order
	END				
	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(position_cd,0)					
	,	ISNULL(position_nm,'')					
	,	ISNULL(position_ab_nm,'')
    ,	ISNULL(REPLACE(REPLACE(import_cd, CHAR(13), ' '), CHAR(10), ' '),'')
	,	ISNULL(arrange_order,0)					
	FROM M0040
	WHERE 
		company_cd			=	@P_company_cd
	AND del_datetime IS NULL
	ORDER BY 
		arrange_order
	,	position_cd

	--[0]
	SELECT
		#DATA.position_cd			
	,	#DATA.position_nm		
	,	#DATA.position_ab_nm
    ,	#DATA.import_cd
	,	#DATA.arrange_order	
	FROM #DATA
	ORDER BY
		id
END

GO
