/****** Object:  StoredProcedure [dbo].[SPC_O0100_ACT22]    Script Date: 2018/10/02 17:20:02 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_ACT22]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	O0100
--*  
--*  作成日/create date			:	2024/04/10								
--*　作成者/creater				:	PhuongDT								
--*   					
--*  更新日/update date			:  						
--*　更新者/updater				:　  　								     	 
--*　更新内容/update content	:
--*  
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_O0100_ACT22]
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)		=	''
,	@P_exec_user			NVARCHAR(100)		=	''
,	@P_company_cd			SMALLINT			=	0	
,	@P_cre_user				NVARCHAR(50)		=	''
,	@P_cre_ip				NVARCHAR(50)		=	''
,	@P_no					INT					=	0
,	@P_count				INT					=	0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 	
		@w_time			DATETIME2	= SYSDATETIME()
	,	@order_by_min	INT			= 0
	,	@ERR_TBL		ERRTABLE	
	--
	CREATE TABLE #TEMP(
		id							INT		IDENTITY(1,1)
	,	exec_user					NVARCHAR(100)
	,	company_cd					SMALLINT
	,	employee_cd					NVARCHAR(50)
	,	work_history_kbn			NVARCHAR(50)
	,	detail_no					NVARCHAR(50)
	,	item_id						NVARCHAR(50)
	,	date_from					NVARCHAR(50)
	,	date_to						NVARCHAR(50)
	,	text_item					NVARCHAR(200)
	,	select_item					NVARCHAR(50)
	,	number_item					NVARCHAR(50)
	)
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- VALIDATE
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22						-- mã lỗi (trùng với mã trong bảng message) 					
			,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống 			
			,	0-- oderby				-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0						-- Tùy ý
			,	'json format'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- GET  TEMP
		INSERT INTO #TEMP
		SELECT
			CONCAT(@P_exec_user, CAST(@P_no AS NVARCHAR(10)))																		
		,	@P_company_cd															
		,	RTRIM(LTRIM(employee_cd))											
		,	RTRIM(LTRIM(work_history_kbn))											
		,	RTRIM(LTRIM(detail_no))
		,	RTRIM(LTRIM(item_id))
		,	RTRIM(LTRIM(date_from))
		,	RTRIM(LTRIM(date_to))											
		,	RTRIM(LTRIM(text_item))													
		,	RTRIM(LTRIM(select_item))												
		,	REPLACE(RTRIM(LTRIM(number_item)),'.00','')												
		FROM OPENJSON(@P_json) WITH(										
			employee_cd					NVARCHAR(50)
		,	work_history_kbn			NVARCHAR(50)
		,	detail_no					NVARCHAR(50)
		,	item_id						NVARCHAR(50)
		,	date_from					NVARCHAR(50)
		,	date_to						NVARCHAR(50)
		,	text_item					NVARCHAR(200)
		,	select_item					NVARCHAR(50)
		,	number_item					NVARCHAR(50)						
		)
		--------------------------------------------
		--VALIDATE MAXLENGHT employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.employee_cd)>10)
		--VALIDATE REQUIRED employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.employee_cd = '')
		--	--
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.employee_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				151				
			,	'employee_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Employee Code','社員コード')	
			FROM #TEMP 
			WHERE
				#TEMP.employee_cd = 0
		END
		-- VALIDATE EXIST employee_cd IN M0070
		IF NOT EXISTS (
			SELECT 1 FROM #TEMP 
			INNER JOIN M0070 ON (
				M0070.company_cd = @P_company_cd
			AND	M0070.employee_cd = #TEMP.employee_cd
			AND M0070.del_datetime is NULL
			)
		)
		BEGIN
		INSERT INTO @ERR_TBL
		SELECT
			111				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT work_history_kbn
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'work_history_kbn'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Work History Kbn','業務経歴区分')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.work_history_kbn)>3)
		--VALIDATE NUMERIC work_history_kbn
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'work_history_kbn'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Work History Kbn','業務経歴区分')	
		FROM #TEMP 
		WHERE
			(#TEMP.work_history_kbn <> '')
		AND (#TEMP.work_history_kbn LIKE '%[^0-9]%')
		--VALIDATE NUMERIC work_history_kbn < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.work_history_kbn NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'work_history_kbn'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Work History Kbn','業務経歴区分')
			FROM #TEMP 
			WHERE 
				(#TEMP.work_history_kbn NOT LIKE '%[^0-9]%')
			AND	(#TEMP.work_history_kbn < 0)
			-- VALIDATE EXIST work_history_kbn
			
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT detail_no
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Detail No','明細番号')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.detail_no)>3)
		--VALIDATE NUMERIC detail_no
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Detail No','明細番号')	
		FROM #TEMP 
		WHERE
			(#TEMP.detail_no <> '')
		AND (#TEMP.detail_no LIKE '%[^0-9]%')
		--VALIDATE NUMERIC detail_no < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.detail_no NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'detail_no'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Detail No','明細番号')
			FROM #TEMP 
			WHERE 
				(#TEMP.detail_no NOT LIKE '%[^0-9]%')
			AND	(#TEMP.detail_no < 0)
		END
		--	validate detail_no = blank
		INSERT INTO @ERR_TBL
		SELECT
			8				
		,	N'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = N'en',N'Detail No',N'明細番号')
		FROM #TEMP 
		WHERE
			#TEMP.detail_no = ''
		--	validate detail_no = 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.detail_no NOT LIKE '%[^0-9]%' AND #TEMP.detail_no <> '')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	N'detail_no'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = N'en',N'Detail No',N'明細番号')
			FROM #TEMP 
			WHERE
				#TEMP.detail_no = 0
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT item_id
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'item_id'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Item ID','項目ID')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.item_id)>3)
		--VALIDATE NUMERIC item_id
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'item_id'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Item ID','項目ID')	
		FROM #TEMP 
		WHERE
			(#TEMP.item_id <> '')
		AND (#TEMP.item_id LIKE '%[^0-9]%')
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.item_id NOT LIKE '%[^0-9]%')
		BEGIN
			--VALIDATE NUMERIC item_id < 0
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'item_id'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Item ID','項目ID')
			FROM #TEMP 
			WHERE 
				(#TEMP.item_id NOT LIKE '%[^0-9]%')
			AND	(#TEMP.item_id < 0)
			-- VALIDATE EXIST item_id IN L0010
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				INNER JOIN L0010 ON (
					L0010.number_cd = #TEMP.item_id
				AND L0010.name_typ = 78
				AND L0010.del_datetime is NULL
				)
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'item_id'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Item ID','項目ID')
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT date_from 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'date_from'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Date From','日付FROM')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.date_from)>10)
		--VALIDATE DATE date_from
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'date_from'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Date From','日付FROM')	
		FROM #TEMP 
		WHERE
			(#TEMP.date_from <> '')
		AND	(ISDATE(#TEMP.date_from)=0)
		--VALIDATE DATE date_from >  date_to	
		IF EXISTS (SELECT 1 FROM #TEMP WHERE (ISDATE(#TEMP.date_from)=1) AND (ISDATE(#TEMP.date_to)=1))
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24				
			,	'date_from'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Date From','日付FROM')		
			FROM #TEMP 
			WHERE
				CAST(#TEMP.date_from AS DATE) > CAST(#TEMP.date_to AS DATE)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT date_to 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'date_to'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Date To','日付TO')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.date_to)>10)
		--VALIDATE DATE date_to
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'date_to'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Date To','日付TO')	
		FROM #TEMP 
		WHERE
			(#TEMP.date_to <> '')
		AND	(ISDATE(#TEMP.date_to)=0)
		--VALIDATE DATE date_from >  date_to	
		IF EXISTS (SELECT 1 FROM #TEMP WHERE (ISDATE(#TEMP.date_from)=1) AND (ISDATE(#TEMP.date_to)=1))
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24				
			,	'date_to'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Date To','日付TO')	
			FROM #TEMP 
			WHERE
				CAST(#TEMP.date_from AS DATE) > CAST(#TEMP.date_to AS DATE)
		END
		-------------------------------------------------
		-- VALIDATE maxlength text_item by item_id IN L0010
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.item_id NOT LIKE '%[^0-9]%')
		BEGIN
			IF EXISTS (
				SELECT 1 FROM #TEMP 
				INNER JOIN L0010 ON (
					L0010.number_cd = #TEMP.item_id
				AND L0010.name_typ = 78
				AND L0010.del_datetime is NULL
				)
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					28				
				,	'text_item'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Text Item','文字項目')	
				FROM #TEMP 
				WHERE
					(#TEMP.item_id IN (8,9,28,29,30) AND LEN(#TEMP.text_item)>100)
				OR (#TEMP.item_id IN (10,11,26,27) AND LEN(#TEMP.text_item)>150)
				OR (#TEMP.item_id NOT IN (8,9,10,11,26,27,28,29,30) AND LEN(#TEMP.text_item)>50)
			END
		END
		-------------------------------------------------
		--VALIDATE NUMERIC select_item
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'select_item'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Select Item','選択項目')	
		FROM #TEMP 
		WHERE
			(#TEMP.select_item <> '')
		AND (#TEMP.select_item LIKE '%[^0-9]%')
		--VALIDATE NUMERIC select_item < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.select_item NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'select_item'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Select Item','選択項目')
			FROM #TEMP 
			WHERE 
				(#TEMP.select_item NOT LIKE '%[^0-9]%')
			AND	(#TEMP.select_item < 0)
		END
		--VALIDATE EXIST select_item in M5021
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.work_history_kbn NOT LIKE '%[^0-9]%' AND #TEMP.item_id NOT LIKE '%[^0-9]%' AND #TEMP.select_item NOT LIKE '%[^0-9]%')
		BEGIN
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				LEFT JOIN M5021 ON (
					M5021.selected_items_no = #TEMP.select_item
				AND M5021.work_history_kbn	= #TEMP.work_history_kbn
				AND M5021.item_id			= #TEMP.item_id
				AND M5021.company_cd		= @P_company_cd
				AND M5021.del_datetime is NULL
				)
				WHERE #TEMP.select_item = 0 OR M5021.selected_items_no IS NOT NULL
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'select_item'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Select Item','選択項目')	
			END
		END
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.work_history_kbn NOT LIKE '%[^0-9]%' AND #TEMP.item_id NOT LIKE '%[^0-9]%' AND #TEMP.select_item NOT LIKE '%[^0-9]%')
		BEGIN
			IF EXISTS (
				SELECT 1 FROM #TEMP 
				INNER JOIN M5020 ON (
					M5020.company_cd = #TEMP.company_cd
				AND M5020.work_history_kbn	= #TEMP.work_history_kbn
				AND M5020.item_id			= #TEMP.item_id
				AND M5020.company_cd		= @P_company_cd
				AND M5020.del_datetime is NULL
				)
				WHERE M5020.item_display_kbn = 0 
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'item_id'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Item ID','選択項目')	
			END
		END
		
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.work_history_kbn NOT LIKE '%[^0-9]%' AND #TEMP.item_id NOT LIKE '%[^0-9]%' AND #TEMP.select_item NOT LIKE '%[^0-9]%')
		BEGIN
			IF EXISTS (
				SELECT 1 FROM #TEMP 
				LEFT JOIN M5020 ON (
					M5020.company_cd = #TEMP.company_cd
				AND M5020.work_history_kbn	= #TEMP.work_history_kbn
				AND M5020.company_cd		= @P_company_cd
				AND #TEMP.item_id		= M5020.item_id
				AND M5020.del_datetime IS NULL 
				)
				WHERE  M5020.company_cd IS NULL
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'work_history_kbn'				
				,	0-- oderby		 
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Work History Kbn','業務経歴区分')

			END
		END
		-------------------------------------------------
		-- VALIDATE DECIMAL number_item numeric(10,2)
		IF EXISTS (SELECT 1 FROM #TEMP WHERE LEN(#TEMP.number_item)> 0)
		BEGIN
			IF (SELECT ISNUMERIC(#TEMP.number_item) FROM #TEMP) = 0
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					11				
				,	'number_item'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Number Item','数字項目')	
			END
			ELSE
			BEGIN
				IF (SELECT CHARINDEX('.', #TEMP.number_item) FROM #TEMP) > 0
				BEGIN
					IF (SELECT LEN(#TEMP.number_item) - CHARINDEX('.', #TEMP.number_item) FROM #TEMP) > 2 -- phan thap phan
					OR (SELECT LEN(LEFT(#TEMP.number_item, CHARINDEX('.', #TEMP.number_item) -1)) FROM #TEMP) > IIF((SELECT CHARINDEX('-', #TEMP.number_item) FROM #TEMP) > 0, 9, 8) -- phan so nguyen
					BEGIN
						INSERT INTO @ERR_TBL
						SELECT
							28				
						,	'number_item'				
						,	0-- oderby		
						,	1-- dialog  	
						,	0				
						,	0				
						,	IIF(@P_language = 'en','Number Item','数字項目')	
					END
				END
				ELSE
				BEGIN
					INSERT INTO @ERR_TBL
					SELECT	
						28				
					,	'number_item'				
					,	0-- oderby		
					,	1-- dialog  	
					,	0				
					,	0				
					,	IIF(@P_language = 'en','Number Item','数字項目')	
					FROM #TEMP
					WHERE 
						CHARINDEX('-', #TEMP.number_item) > 0 AND LEN(#TEMP.number_item) > 9
					OR	CHARINDEX('-', #TEMP.number_item) = 0 AND LEN(#TEMP.number_item) > 8
				END 
			END
		END
		-------------------------------------------------

		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- PROCESS
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- Chổ nay dung de viet code xu ly du lieu sau khi validate xong
		--
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
			DELETE W FROM  WRK_M0077 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE T.company_cd IS NOT NULL
			--
			UPDATE WRK_M0077 
			SET
				WRK_M0077.date_from = IIF(#TEMP.date_from = '', NULL, #TEMP.date_from )
			,	WRK_M0077.date_to = IIF(#TEMP.date_to = '', NULL, #TEMP.date_to )	
			,	WRK_M0077.text_item = #TEMP.text_item		
			,	WRK_M0077.select_item= #TEMP.select_item			
			,	WRK_M0077.number_item = IIF(#TEMP.number_item = '', NULL, #TEMP.number_item )	
			,	WRK_M0077.upd_user = @P_cre_user			
			,	WRK_M0077.upd_ip =  @P_cre_ip	
			,	WRK_M0077.upd_prg = 'O0100'		
			,	WRK_M0077.upd_datetime = @w_time
			FROM #TEMP
			INNER JOIN WRK_M0077 ON (
				#TEMP.employee_cd		=	WRK_M0077.employee_cd
			AND #TEMP.work_history_kbn	=	WRK_M0077.work_history_kbn
			AND #TEMP.detail_no			=	WRK_M0077.detail_no
			AND #TEMP.item_id			=	WRK_M0077.item_id
			AND WRK_M0077.company_cd    =	@P_company_cd
			)

			INSERT INTO WRK_M0077 
			SELECT 
				#TEMP.exec_user
			,	#TEMP.company_cd
			,	#TEMP.employee_cd				
			,	#TEMP.work_history_kbn				
			,	#TEMP.detail_no					
			,	#TEMP.item_id	
			,	IIF(#TEMP.date_from = '', NULL, #TEMP.date_from )
			,	IIF(#TEMP.date_to = '', NULL, #TEMP.date_to )	
			,	#TEMP.text_item		
			,	#TEMP.select_item			
			,	IIF(#TEMP.number_item = '', NULL, #TEMP.number_item )	
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP

		END
		ELSE
		BEGIN
			DELETE W FROM  WRK_M0077 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE W.exec_user LIKE '%WRK_M0077%'
			--
			INSERT INTO WRK_M0077 
			SELECT 
				CONCAT('WRK_M0077_', CAST(@P_no AS NVARCHAR(10)))
			,	0
			,	''				
			,	0				
			,	0					
			,	0	
			,	NULL	
			,	NULL			
			,	''	
			,	0			
			,	0
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
		END			
		--

		IF (@P_no = @P_count) 
		BEGIN
			--
			IF (EXISTS(SELECT 1 FROM @ERR_TBL) OR EXISTS(SELECT 1 FROM WRK_M0077 WHERE exec_user LIKE '%WRK_M0077%'))
			BEGIN
				TRUNCATE TABLE WRK_M0077
				--
				GOTO COMPLETE_QUERY
			END

			-- UPDATE M0077
			UPDATE M0077
			SET 
				date_from				= WRK_M0077.date_from
			,	date_to					= WRK_M0077.date_to
			,	text_item				= WRK_M0077.text_item
			,	select_item				= WRK_M0077.select_item
			,	number_item				= WRK_M0077.number_item
			,	upd_user				=	@P_cre_user		
			,	upd_ip					=	@P_cre_ip	
			,	upd_prg					=	'O0100'	
			,	upd_datetime			=	@w_time	
			,	del_user				=	SPACE(0)
			,	del_ip					=	SPACE(0)
			,	del_prg					=	SPACE(0)
			,	del_datetime			=	NULL
			FROM M0077 
			INNER JOIN WRK_M0077 ON (
				M0077.company_cd		=	WRK_M0077.company_cd
			AND M0077.employee_cd		=	WRK_M0077.employee_cd
			AND M0077.work_history_kbn	=	WRK_M0077.work_history_kbn
			AND M0077.detail_no			=	WRK_M0077.detail_no
			AND M0077.item_id			=	WRK_M0077.item_id
			AND WRK_M0077.company_cd    = @P_company_cd
			)		

			-- INSERT M0077
			INSERT INTO M0077 
			SELECT  
				WRK_M0077.company_cd
			,	WRK_M0077.employee_cd
			,	WRK_M0077.work_history_kbn
			,	WRK_M0077.detail_no					
			,	WRK_M0077.item_id	
			,	WRK_M0077.date_from			
			,	WRK_M0077.date_to		
			,	WRK_M0077.text_item					
			,	WRK_M0077.select_item				
			,	WRK_M0077.number_item				
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM WRK_M0077 
			LEFT JOIN M0077 ON (
				M0077.company_cd		=	WRK_M0077.company_cd
			AND M0077.employee_cd		=	WRK_M0077.employee_cd
			AND M0077.work_history_kbn	=	WRK_M0077.work_history_kbn
			AND M0077.detail_no			=	WRK_M0077.detail_no
			AND M0077.item_id			=	WRK_M0077.item_id
			)	
			WHERE 
				M0077.employee_cd IS NULL
			AND	WRK_M0077.employee_cd <> ''
			AND M0077.work_history_kbn IS NULL
			AND	WRK_M0077.work_history_kbn <> ''
			AND M0077.detail_no IS NULL
			AND	WRK_M0077.detail_no <> ''
			AND M0077.item_id IS NULL
			AND	WRK_M0077.item_id <> ''
			AND WRK_M0077.company_cd    = @P_company_cd

			--
			DELETE WRK_M0077
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	COMPLETE_QUERY:
	--
	IF EXISTS(SELECT 1 FROM @ERR_TBL AS ERR_TBL WHERE ERR_TBL.item = 'EXCEPTION')
	BEGIN
		IF @@TRANCOUNT >0
		BEGIN
			ROLLBACK TRANSACTION
		END
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END

	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO