/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT1]    Script Date: 2018/10/01 10:41:29 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT1]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2018/10/01
 *  作成者  ： sondh
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT1]
	@P_company_cd			SMALLINT		= 0
,	@P_language				NVARCHAR(2)		= ''
AS
BEGIN
	SET NOCOUNT ON;
	--[0]
	CREATE TABLE #DATA 
	(
		id						INT IDENTITY(1,1)
	,	office_cd				NVARCHAR(20)
	,	office_nm				NVARCHAR(50)
	,	office_ab_nm			NVARCHAR(50)
	,	zip_cd					NVARCHAR(20)
	,	address1				NVARCHAR(100)
	,	address2				NVARCHAR(100)
	,	address3				NVARCHAR(100)
	,	tel						NVARCHAR(20)
	,	fax						NVARCHAR(20)
	,	responsible_cd			NVARCHAR(20)	
	,	arrange_order			NVARCHAR(20)
	)	
	--	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Office Code'				AS office_cd		
		,	'Office Name'				AS office_nm		
		,	'Abbreviation'		AS office_ab_nm	
		,	'Post Code'					AS zip_cd			
		,	'Address 1'					AS address1		
		,	'Address 2'					AS address2		
		,	'Address 3'					AS address3		
		,	'Telephone Number'			AS tel				
		,	'Fax Number'				AS fax				
		,	'Supervisor Code'			AS responsible_cd	
		,	'Order'						AS arrange_order	
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'事業所コード'				AS office_cd		
		,	'事業所名'					AS office_nm		
		,	'事業所略称'					AS office_ab_nm	
		,	'郵便番号'					AS zip_cd			
		,	'住所1'						AS address1		
		,	'住所2'						AS address2		
		,	'住所3'						AS address3		
		,	'電話番号'					AS tel				
		,	'ＦＡＸ番号'					AS fax				
		,	'責任者コード'				AS responsible_cd	
		,	'並び順'						AS arrange_order	
	END
	--
	INSERT INTO #DATA
	SELECT 
		ISNULL(office_cd,0)							AS office_cd		
	,	ISNULL(office_nm,'')						AS office_nm		
	,	ISNULL(office_ab_nm,'')						AS office_ab_nm	
	,	ISNULL(zip_cd,'')							AS zip_cd			
	,	ISNULL(address1,'')							AS address1		
	,	ISNULL(address2,'')							AS address2		
	,	ISNULL(address3,'')							AS address3		
	,	ISNULL(tel,'')								AS tel				
	,	ISNULL(fax,'')								AS fax				
	,	ISNULL(responsible_cd,'')					AS responsible_cd	
	,	ISNULL(arrange_order,0)						AS arrange_order	
	FROM M0010
	WHERE 
		company_cd	=	@P_company_cd
	AND del_datetime IS NULL
	ORDER BY 
		arrange_order
	,	office_cd

	--[0]
	SELECT
		#DATA.office_cd		
	,	#DATA.office_nm		
	,	#DATA.office_ab_nm	
	,	#DATA.zip_cd			
	,	#DATA.address1		
	,	#DATA.address2		
	,	#DATA.address3		
	,	#DATA.tel				
	,	#DATA.fax				
	,	#DATA.responsible_cd	
	,	#DATA.arrange_order	
	FROM #DATA
	ORDER BY 
		id
END

GO
