/****** Object:  StoredProcedure [dbo].[SPC_O0100_ACT2]    Script Date: 2018/10/04 17:04:43 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_ACT2]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- SPC_M0001_INQ1 1,5
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	O0100

--*  
--*  作成日/create date			:	2018/10/04										
--*　作成者/creater				:	sondh　								
--*   					
--*  更新日/update date			:  	2018/10/06						
--*　更新者/updater				:　 tuantv 　								     	 
--*　更新内容/update content		:	change processing import CR date 2018/10/31　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_O0100_ACT2]
	-- Add the parameters for the stored procedure here
	@P_json						NVARCHAR(max)		=	''
,	@P_exec_user				NVARCHAR(100)		=	''
,	@P_company_cd				SMALLINT			=	0	
,	@P_cre_user					NVARCHAR(50)		=	''
,	@P_cre_ip					NVARCHAR(50)		=	''
,	@P_no						INT					=	0
,	@P_count					INT					=	0
,	@P_language					NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 	
		@w_time						DATETIME2			= SYSDATETIME()
	,	@order_by_min				INT					= 0
	,	@ERR_TBL					ERRTABLE	
	,	@organization_typ			INT					= 0
	,	@increment1					NVARCHAR(50)		= ''
	,	@increment2					NVARCHAR(50)		= ''
	,	@increment3					NVARCHAR(50)		= ''
	,	@increment4					NVARCHAR(50)		= ''
	,	@increment5					NVARCHAR(50)		= ''
	--
	CREATE TABLE #TEMP(
		id						INT		IDENTITY(1,1)
	,	exec_user				NVARCHAR(100)
	,	company_cd				SMALLINT
	,	organization_typ		NVARCHAR(50)
	,	organization_cd_1			NVARCHAR(50)
	,	organization_cd_2			NVARCHAR(50)
	,	organization_cd_3			NVARCHAR(50)
	,	organization_cd_4			NVARCHAR(50)
	,	organization_cd_5			NVARCHAR(50)
	,	organization_nm			NVARCHAR(100)
	,	organization_ab_nm		NVARCHAR(50)
	,	responsible_cd			NVARCHAR(50)
	,	import_cd				NVARCHAR(256)
	,	arrange_order			NVARCHAR(50)
	,	import_cd_check			INT
	)
	--
	--
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- VALIDATE
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22						-- mã lỗi (trùng với mã trong bảng message) 					
			,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby				-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0						-- Tùy ý
			,	'json format'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- GET  DATA
		INSERT INTO #TEMP
		SELECT
			CONCAT(@P_exec_user, CAST(@P_no AS NVARCHAR(10))) 
		,	@P_company_cd
		,	RTRIM(LTRIM(organization_typ))			
		,	RTRIM(LTRIM(organization_cd_1))
		,	RTRIM(LTRIM(organization_cd_2))
		,	RTRIM(LTRIM(organization_cd_3))
		,	RTRIM(LTRIM(organization_cd_4))
		,	RTRIM(LTRIM(organization_cd_5))							
		,	RTRIM(LTRIM(organization_nm))					
		,	RTRIM(LTRIM(organization_ab_nm))							
		,	RTRIM(LTRIM(responsible_cd))
		,	RTRIM(LTRIM(import_cd))	
		,	RTRIM(LTRIM(arrange_order))	
		,	0
		FROM OPENJSON(@P_json) WITH(
			organization_typ		NVARCHAR(50)
		,	organization_cd_1		NVARCHAR(50)
		,	organization_cd_2		NVARCHAR(50)
		,	organization_cd_3		NVARCHAR(50)
		,	organization_cd_4		NVARCHAR(50)
		,	organization_cd_5		NVARCHAR(50)
		,	organization_nm			NVARCHAR(100)
		,	organization_ab_nm		NVARCHAR(50)
		,	responsible_cd			NVARCHAR(50)
		,	import_cd				NVARCHAR(256)
		,	arrange_order			NVARCHAR(50)
		,	import_cd_check			int
		)
		
		-- if update import_cd itself not check
		UPDATE #TEMP
		SET import_cd_check = 1
		FROM #TEMP
		INNER JOIN M0020 ON (
				#TEMP.company_cd			=	M0020.company_cd
			AND #TEMP.organization_typ		=	M0020.organization_typ
			AND #TEMP.organization_cd_1		=	M0020.organization_cd_1
			AND #TEMP.organization_cd_2		=	M0020.organization_cd_2
			AND #TEMP.organization_cd_3		=	M0020.organization_cd_3
			AND #TEMP.organization_cd_4		=	M0020.organization_cd_4
			AND #TEMP.organization_cd_5		=	M0020.organization_cd_5
			AND #TEMP.import_cd				=	M0020.import_cd
			AND M0020.del_datetime IS NULL
		)
		--VALIDATE MAXLENGHT organization_typ 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'organization_typ'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Division', '組織区分')	
		FROM #TEMP 
		WHERE
			(LEN(organization_typ)>1)
		--VALIDATE NUMERIC organization_typ 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'organization_typ'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Division', '組織区分')		
		FROM #TEMP 
		WHERE
			(#TEMP.organization_typ <> '') 
		AND (#TEMP.organization_typ LIKE '%[^0-9]%')
		--VALIDATE NUMERIC organization_typ < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.organization_typ NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				151				
			,	'organization_typ'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Division', '組織区分')		
			FROM #TEMP 
			WHERE 
				#TEMP.organization_typ = 0

			--VALIDATE organization_typ <> 1,2,3,4,5
			INSERT INTO @ERR_TBL
			SELECT
				70				
			,	'organization_typ'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Division', '組織区分')		
			FROM #TEMP 
			WHERE
				((#TEMP.organization_typ <> '') 
					AND (#TEMP.organization_typ NOT LIKE '%[^0-9]%')
					AND #TEMP.organization_typ <> '1'
					AND #TEMP.organization_typ <> '2'
					AND #TEMP.organization_typ <> '3'
					AND #TEMP.organization_typ <> '4'
					AND #TEMP.organization_typ <> '5')
			OR (#TEMP.organization_typ = '')
		END

		--**********************ORGANIZATION_CD_1*****************************--
		--VALIDATE MAXLENGHT organization_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'organization_cd1'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Code 1', '組織コード1')		
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.organization_cd_1)>20)
		-- check required when organization_type >=2
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.organization_typ NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				69				
			,	'organization_cd1'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 1', '組織コード1')		
			FROM #TEMP 
			WHERE
				organization_typ >= 2
			AND organization_cd_1 = ''
			-- check wrong input
			INSERT INTO @ERR_TBL
			SELECT
				9				
			,	'organization_cd1'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 1', '組織コード1')		
			FROM #TEMP 
			WHERE
				organization_typ = 1
			AND (  organization_cd_2 <> ''
				OR 	organization_cd_3 <> ''
				OR 	organization_cd_4 <> ''
				OR 	organization_cd_5 <> ''
				)
		END
		--**********************ORGANIZATION_CD_2*****************************--
		--VALIDATE MAXLENGHT organization_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'organization_cd2'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Code 2', '組織コード2')		
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.organization_cd_2)>20)
		-- check required when organization_type >=3
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.organization_typ NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				69				
			,	'organization_cd2'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 2', '組織コード2')		
			FROM #TEMP 
			WHERE
				organization_typ >= 3
			AND (organization_cd_1 = '' OR organization_cd_2 = '')
			-- check wrong input
			INSERT INTO @ERR_TBL
			SELECT
				9				
			,	'organization_cd1'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 1', '組織コード1')		
			FROM #TEMP 
			WHERE
				organization_typ = 2
			AND ( 	organization_cd_3 <> ''
				OR 	organization_cd_4 <> ''
				OR 	organization_cd_5 <> ''
				)
		END
		--**********************ORGANIZATION_CD_3*****************************--
		--VALIDATE MAXLENGHT organization_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'organization_cd3'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Code 3', '組織コード3')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.organization_cd_3)>20)
		-- check required when organization_type >=4
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.organization_typ NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				69				
			,	'organization_cd3'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 3', '組織コード3')	
			FROM #TEMP 
			WHERE
				organization_typ >= 4
			AND (	organization_cd_1 = '' 
				OR	organization_cd_2 = ''
				OR	organization_cd_3 = ''
				)
			-- check wrong input
			INSERT INTO @ERR_TBL
			SELECT
				9				
			,	'organization_cd1'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 1', '組織コード1')	
			FROM #TEMP 
			WHERE
				organization_typ = 3
			AND (  	organization_cd_4 <> ''
				OR 	organization_cd_5 <> ''
				)
		END
		--**********************ORGANIZATION_CD_4*****************************--
		--VALIDATE MAXLENGHT organization_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'organization_cd4'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Code 4', '組織コード4')		
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.organization_cd_4)>20)
		-- check required when organization_type >=5
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.organization_typ NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				69				
			,	'organization_cd4'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 4', '組織コード4')	
			FROM #TEMP 
			WHERE
				organization_typ >= 5
			AND (	organization_cd_1 = '' 
				OR	organization_cd_2 = ''
				OR	organization_cd_3 = ''
				OR	organization_cd_4 = ''
				)
			-- check wrong input
			INSERT INTO @ERR_TBL
			SELECT
				9				
			,	'organization_cd1'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 1', '組織コード1')		
			FROM #TEMP 
			WHERE
				organization_typ = 4
			AND (  	organization_cd_5 <> ''
				)
		END
		--**********************ORGANIZATION_CD_5*****************************--
		--VALIDATE MAXLENGHT organization_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'organization_cd5'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Code 5', '組織コード5')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.organization_cd_5)>20)
		
		--VALIDATE MAXLENGHT organization_nm 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'organization_nm'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Name', '組織名')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.organization_nm)>50)
		--VALIDATE MAXLENGHT organization_ab_nm 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'organization_ab_nm'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Abbreviated Department Name', '組織略称')		
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.organization_ab_nm)>10)
		--cr 2020/09/01
		INSERT INTO @ERR_TBL
		SELECT
			107				
		,	'responsible_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Supervisor Code', '責任者コード')		
		FROM #TEMP 
		LEFT JOIN M0070 ON(
			#TEMP.company_cd		=	M0070.company_cd
		AND #TEMP.responsible_cd	=	M0070.employee_cd
		AND M0070.del_datetime IS NULL
		)
		WHERE M0070.company_cd IS NULL
		AND #TEMP.responsible_cd <> '0'
		AND #TEMP.responsible_cd <> ''
		--VALIDATE MAXLENGHT responsible_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'responsible_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Supervisor Code', '責任者コード')		
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.responsible_cd)>10)
		--VALIDATE MAXLENGHT arrange_order 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'arrange_order'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Order', '並び順')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.arrange_order)>4)
		--VALIDATE NUMERIC arrange_order 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'arrange_order'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Order', '並び順')
		FROM #TEMP 
		WHERE
			(#TEMP.arrange_order <> '') 
		AND (#TEMP.arrange_order LIKE '%[^0-9]%')
		--VALIDATE NUMERIC arrange_order < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.arrange_order NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'arrange_order'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Order', '並び順')
			FROM #TEMP 
			WHERE
				(#TEMP.arrange_order NOT LIKE '%[^0-9]%') 
			AND (#TEMP.arrange_order < 0)
		END

		--VALIDATE MAXLENGHT import_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'import_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Import CD', '取込用コード')
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.import_cd)>255)

		-- VALIDATE DUPLICATE import_cd
		INSERT INTO @ERR_TBL
		SELECT
			159				
		,	'import_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Import CD', '取込用コード')	
		FROM #TEMP 
		INNER JOIN WRK_M0020 ON(
				#TEMP.company_cd			=	WRK_M0020.company_cd
			AND #TEMP.import_cd				=	WRK_M0020.import_cd
			AND WRK_M0020.import_cd <> ''
			AND WRK_M0020.del_datetime IS NULL
		)

        IF (NOT EXISTS(SELECT 1 FROM @ERR_TBL))
        BEGIN
            INSERT INTO @ERR_TBL
            SELECT
                159
            ,	'import_cd'
            ,	0-- oderby
            ,	1-- dialog
            ,	0
            ,	0
            ,	IIF(@P_language = 'en','Import CD', '取込用コード')
            FROM #TEMP
            INNER JOIN M0020 ON(
                    #TEMP.company_cd			=	M0020.company_cd
                AND #TEMP.import_cd				=	M0020.import_cd
                AND M0020.import_cd <> ''
                AND M0020.del_datetime IS NULL
            ) INNER JOIN WRK_M0020 ON (
				M0020.company_cd = WRK_M0020.company_cd
			AND M0020.import_cd = WRK_M0020.import_cd
			)
            WHERE #TEMP.import_cd_check <> 1
        END

		--
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- PROCESS
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- Chỗ này dùng để viết code xử lý dữ liệu sau khi validate xong
		--
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
															   
			SET @organization_typ = (SELECT organization_typ FROM #TEMP)
			-- GET AUTO INCREMENT WITH organization_typ = 1
			IF(@organization_typ = 1 AND NOT EXISTS (SELECT 1 FROM WRK_M0020 
															WHERE company_cd = @P_company_cd 
															AND organization_typ = 1 
															AND (WRK_M0020.organization_cd_1  NOT LIKE '%[^0-9]%')
													 ))
			BEGIN 
				SELECT @increment1 = ISNULL(MAX(M0020.organization_cd_1),0)  + 1
				FROM M0020 
				WHERE organization_typ = 1 AND company_cd = @P_company_cd
				AND (M0020.organization_cd_1  NOT LIKE '%[^0-9]%')
			END 
			ELSE 
			BEGIN
				SELECT @increment1 = ISNULL(MAX(WRK_M0020.organization_cd_1),0) + 1
				FROM WRK_M0020 
				WHERE organization_typ = 1 AND company_cd = @P_company_cd
				AND (WRK_M0020.organization_cd_1  NOT LIKE '%[^0-9]%')
			END
			-- GET AUTO INCREMENT WITH organization_typ = 2
			IF(@organization_typ = 2 AND NOT EXISTS (SELECT 1 FROM WRK_M0020 INNER JOIN #TEMP ON (
																	WRK_M0020.company_cd		= #TEMP.company_cd
																AND WRK_M0020.organization_cd_1 = #TEMP.organization_cd_1
																)
															  WHERE WRK_M0020.company_cd = @P_company_cd
															   AND WRK_M0020.organization_typ = 2
															   AND (WRK_M0020.organization_cd_2  NOT LIKE '%[^0-9]%')
															   ))
			BEGIN
				SELECT @increment2 = ISNULL(MAX(M0020.organization_cd_2),0) + 1
				FROM M0020 INNER JOIN #TEMP ON(
					M0020.company_cd = #TEMP.company_cd
				AND M0020.organization_cd_1 = #TEMP.organization_cd_1
				AND	M0020.organization_typ = #TEMP.organization_typ
				AND M0020.organization_typ = 2
				)
				 WHERE M0020.organization_typ = 2
				 AND (M0020.organization_cd_2  NOT LIKE '%[^0-9]%')
			END
			ELSE 
			BEGIN
				SELECT @increment2 = ISNULL(MAX(WRK_M0020.organization_cd_2),0) + 1
				FROM WRK_M0020 INNER JOIN #TEMP ON(
					WRK_M0020.company_cd = #TEMP.company_cd
				AND WRK_M0020.organization_cd_1 = #TEMP.organization_cd_1
				AND	WRK_M0020.organization_typ = #TEMP.organization_typ
				AND WRK_M0020.organization_typ = 2
				)
				 WHERE WRK_M0020.organization_typ = 2
				 AND (WRK_M0020.organization_cd_2 NOT LIKE '%[^0-9]%')
			END
			-- GET AUTO INCREMENT WITH organization_typ = 3
			IF(@organization_typ = 3 AND NOT EXISTS (SELECT 1 FROM WRK_M0020 INNER JOIN #TEMP ON (
																	WRK_M0020.company_cd		= #TEMP.company_cd
																AND WRK_M0020.organization_cd_1 = #TEMP.organization_cd_1
																AND WRK_M0020.organization_cd_2 = #TEMP.organization_cd_2
																)
																WHERE WRK_M0020.company_cd		= @P_company_cd 
																AND WRK_M0020.organization_typ	= 3
																AND (WRK_M0020.organization_cd_3 NOT LIKE '%[^0-9]%')
																))
			BEGIN
				SELECT @increment3 = ISNULL(MAX(M0020.organization_cd_3),0) + 1
				FROM M0020 INNER JOIN #TEMP ON(
					M0020.company_cd = #TEMP.company_cd
				AND M0020.organization_cd_1 = #TEMP.organization_cd_1
				AND M0020.organization_cd_2 = #TEMP.organization_cd_2
				AND	M0020.organization_typ = #TEMP.organization_typ
				AND M0020.organization_typ = 3
				)
				 WHERE M0020.organization_typ = 3 
				 AND (M0020.organization_cd_3  NOT LIKE '%[^0-9]%')
			END
			ELSE 
			BEGIN
				SELECT @increment3 = ISNULL(MAX(WRK_M0020.organization_cd_3),0) + 1
				FROM WRK_M0020 INNER JOIN #TEMP ON(
					WRK_M0020.company_cd = #TEMP.company_cd
				AND WRK_M0020.organization_cd_1 = #TEMP.organization_cd_1
				AND WRK_M0020.organization_cd_2 = #TEMP.organization_cd_2
				AND	WRK_M0020.organization_typ = #TEMP.organization_typ
				AND WRK_M0020.organization_typ = 3
				)
				 WHERE WRK_M0020.organization_typ = 3 
				 AND (WRK_M0020.organization_cd_3 NOT LIKE '%[^0-9]%')
			END
			-- GET AUTO INCREMENT WITH organization_typ = 4
			IF(@organization_typ = 4 AND NOT EXISTS (SELECT 1 FROM WRK_M0020 INNER JOIN #TEMP ON (
																	WRK_M0020.company_cd		= #TEMP.company_cd
																AND WRK_M0020.organization_cd_1 = #TEMP.organization_cd_1
																AND WRK_M0020.organization_cd_2 = #TEMP.organization_cd_2
																AND WRK_M0020.organization_cd_3 = #TEMP.organization_cd_3
																)
																WHERE WRK_M0020.company_cd = @P_company_cd 
																AND WRK_M0020.organization_typ = 4
																AND (WRK_M0020.organization_cd_4 NOT LIKE '%[^0-9]%')
																))
			BEGIN
				SELECT @increment4 = ISNULL(MAX(M0020.organization_cd_4),0) + 1
				FROM M0020 INNER JOIN #TEMP ON(
					M0020.company_cd = #TEMP.company_cd
				AND M0020.organization_cd_1 = #TEMP.organization_cd_1
				AND M0020.organization_cd_2 = #TEMP.organization_cd_2
				AND M0020.organization_cd_3 = #TEMP.organization_cd_3
				AND	M0020.organization_typ = #TEMP.organization_typ
				AND M0020.organization_typ = 4
				)
				 WHERE M0020.organization_typ = 4
				 AND (M0020.organization_cd_4 NOT LIKE '%[^0-9]%')
			END
			ELSE BEGIN
				SELECT @increment4 = ISNULL(MAX(WRK_M0020.organization_cd_4),0) + 1
				FROM WRK_M0020 INNER JOIN #TEMP ON(
					WRK_M0020.company_cd = #TEMP.company_cd
				AND WRK_M0020.organization_cd_1 = #TEMP.organization_cd_1
				AND WRK_M0020.organization_cd_2 = #TEMP.organization_cd_2
				AND WRK_M0020.organization_cd_3 = #TEMP.organization_cd_3
				AND	WRK_M0020.organization_typ = #TEMP.organization_typ
				AND WRK_M0020.organization_typ = 4
				)
				 WHERE WRK_M0020.organization_typ = 4
				 AND (WRK_M0020.organization_cd_4 NOT LIKE '%[^0-9]%')
			END
			-- GET AUTO INCREMENT WITH organization_typ = 5
			IF(@organization_typ = 5 AND NOT EXISTS (SELECT 1 FROM WRK_M0020 INNER JOIN #TEMP ON (
																	WRK_M0020.company_cd		= #TEMP.company_cd
																AND WRK_M0020.organization_cd_1 = #TEMP.organization_cd_1
																AND WRK_M0020.organization_cd_2 = #TEMP.organization_cd_2
																AND WRK_M0020.organization_cd_3 = #TEMP.organization_cd_3
																)
																WHERE WRK_M0020.company_cd = @P_company_cd 
																AND WRK_M0020.organization_typ = 5
																AND (WRK_M0020.organization_cd_5 NOT LIKE '%[^0-9]%')
																))
			BEGIN
				SELECT @increment5 = ISNULL(MAX(M0020.organization_cd_5),0) + 1
				FROM M0020 INNER JOIN #TEMP ON(
					M0020.company_cd = #TEMP.company_cd
				AND M0020.organization_cd_1 = #TEMP.organization_cd_1
				AND M0020.organization_cd_2 = #TEMP.organization_cd_2
				AND M0020.organization_cd_3 = #TEMP.organization_cd_3
				AND M0020.organization_cd_4 = #TEMP.organization_cd_4
				AND	M0020.organization_typ = #TEMP.organization_typ
				AND M0020.organization_typ = 5
				)
				 WHERE M0020.organization_typ = 5
				 AND (M0020.organization_cd_5 NOT LIKE '%[^0-9]%')
			END
			ELSE BEGIN
				SELECT @increment5 = ISNULL(MAX(WRK_M0020.organization_cd_5),0) + 1
				FROM WRK_M0020 INNER JOIN #TEMP ON(
					WRK_M0020.company_cd = #TEMP.company_cd
				AND WRK_M0020.organization_cd_1 = #TEMP.organization_cd_1
				AND WRK_M0020.organization_cd_2 = #TEMP.organization_cd_2
				AND WRK_M0020.organization_cd_3 = #TEMP.organization_cd_3
				AND WRK_M0020.organization_cd_4 = #TEMP.organization_cd_4
				AND	WRK_M0020.organization_typ = #TEMP.organization_typ
				AND WRK_M0020.organization_typ = 5
				)
				 WHERE WRK_M0020.organization_typ = 5
				 AND (WRK_M0020.organization_cd_5 NOT LIKE '%[^0-9]%')
			END
			--
			DELETE W FROM  WRK_M0020 AS W INNER JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user 
			INSERT INTO WRK_M0020 
			SELECT 
				#TEMP.exec_user
			,	#TEMP.company_cd
			,	CASE WHEN #TEMP.organization_typ = 1	AND 	#TEMP.organization_cd_1 = ''
					THEN @increment1 
					ELSE #TEMP.organization_cd_1
				END
			,	CASE WHEN #TEMP.organization_typ = 2	AND 	#TEMP.organization_cd_2 = ''
					THEN @increment2  
					ELSE #TEMP.organization_cd_2
				END
			,	CASE WHEN #TEMP.organization_typ = 3	AND 	#TEMP.organization_cd_3 = ''
					THEN @increment3 
					ELSE #TEMP.organization_cd_3
				END
			,	CASE WHEN #TEMP.organization_typ = 4	AND 	#TEMP.organization_cd_4 = ''
					THEN @increment4 
					ELSE #TEMP.organization_cd_4
				END
			,	CASE WHEN #TEMP.organization_typ = 5	AND 	#TEMP.organization_cd_5 = ''
					THEN @increment5  
					ELSE #TEMP.organization_cd_5
				END
			--,	#TEMP.organization_cd_2
			--,	#TEMP.organization_cd_3
			--,	#TEMP.organization_cd_4
			--,	#TEMP.organization_cd_5
			,	#TEMP.organization_typ		
			,	#TEMP.organization_nm			
			,	#TEMP.organization_ab_nm		
			,	#TEMP.responsible_cd
			,	#TEMP.import_cd	
			,	#TEMP.arrange_order			
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP

		END
		ELSE
		BEGIN
			--
			INSERT INTO WRK_M0020 
			SELECT 
				CONCAT('WRK_M0020_', CAST(@P_no AS NVARCHAR(10)))
			,	''
			,	''
			,	''
			,	''
			,	''
			,	0	
			,	0		
			,	''	
			,	''	
			,	''	
			,	''	
			,	0
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	

			--
		END


		IF (@P_no = @P_count) 
		BEGIN
			--
			IF (EXISTS(SELECT 1 FROM @ERR_TBL) OR EXISTS(SELECT 1 FROM WRK_M0020 WHERE exec_user LIKE '%WRK_M0020%') )
			BEGIN
				TRUNCATE TABLE WRK_M0020
				--
				GOTO COMPLETE_QUERY
			END

			--
			UPDATE M0020
			SET
				organization_nm		=	WRK_M0020.organization_nm	
			,	organization_ab_nm	=	WRK_M0020.organization_ab_nm	
			,	responsible_cd		=	WRK_M0020.responsible_cd	
			,	import_cd			=	WRK_M0020.import_cd
			,	arrange_order		=	WRK_M0020.arrange_order	
			,	upd_user			=	@P_cre_user		
			,	upd_ip				=	@P_cre_ip
			,	upd_prg				=	'O0100'		
			,	upd_datetime		=	@w_time	
			,	del_user			=	SPACE(0)
			,	del_ip				=	SPACE(0)
			,	del_prg				=	SPACE(0)
			,	del_datetime		=	NULL
			FROM M0020
			INNER JOIN WRK_M0020 ON (
				M0020.company_cd			=	WRK_M0020.company_cd
			AND M0020.organization_typ		=	WRK_M0020.organization_typ
			AND M0020.organization_cd_1		=	WRK_M0020.organization_cd_1
			AND M0020.organization_cd_2		=	WRK_M0020.organization_cd_2
			AND M0020.organization_cd_3		=	WRK_M0020.organization_cd_3
			AND M0020.organization_cd_4		=	WRK_M0020.organization_cd_4
			AND M0020.organization_cd_5		=	WRK_M0020.organization_cd_5
			)

			--
			INSERT INTO M0020 
			SELECT 
				WRK_M0020.company_cd
			,	WRK_M0020.organization_cd_1
			,	WRK_M0020.organization_cd_2
			,	WRK_M0020.organization_cd_3
			,	WRK_M0020.organization_cd_4
			,	WRK_M0020.organization_cd_5
			,	WRK_M0020.organization_typ		
			,	WRK_M0020.organization_nm			
			,	WRK_M0020.organization_ab_nm		
			,	WRK_M0020.responsible_cd
			,	WRK_M0020.import_cd
			,	WRK_M0020.arrange_order			
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM WRK_M0020 
			LEFT JOIN M0020 ON (
				WRK_M0020.company_cd		=	M0020.company_cd	
			AND WRK_M0020.organization_typ	=	M0020.organization_typ
			AND WRK_M0020.organization_cd_1	=	M0020.organization_cd_1
			AND WRK_M0020.organization_cd_2	=	M0020.organization_cd_2
			AND WRK_M0020.organization_cd_3	=	M0020.organization_cd_3
			AND WRK_M0020.organization_cd_4	=	M0020.organization_cd_4
			AND WRK_M0020.organization_cd_5	=	M0020.organization_cd_5
			)
			WHERE 
				M0020.organization_typ IS NULL	
			AND M0020.organization_cd_1 IS NULL
			AND WRK_M0020.organization_typ  <> ''
			AND WRK_M0020.organization_cd_1	<> ''

			TRUNCATE TABLE WRK_M0020
		END
	
	END TRY
	BEGIN CATCH
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	COMPLETE_QUERY:
	--
	IF EXISTS(SELECT 1 FROM @ERR_TBL AS ERR_TBL WHERE ERR_TBL.item = 'EXCEPTION')
	BEGIN
		IF @@TRANCOUNT >0
		BEGIN
			ROLLBACK TRANSACTION
		END
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END

	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO