/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT7]    Script Date: 2018/10/01 15:50:05 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT7]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2018/10/01
 *  作成者  ： sondh
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT7]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA (
		id							INT IDENTITY(1,1)
	,	employee_cd					NVARCHAR(50)
	,	employee_last_nm			NVARCHAR(50)
	,	employee_first_nm			NVARCHAR(50)
	,	employee_nm					NVARCHAR(101)
	,	furigana					NVARCHAR(50)
	,	gender						NVARCHAR(20)
	,	mail						NVARCHAR(50)
	,	birth_date					NVARCHAR(20)
	,	company_in_dt				NVARCHAR(30)
	,	company_out_dt				NVARCHAR(30)
	,	retirement_reason_typ		nvarchar(200)
	,	retirement_reason			nvarchar(200)
	,	evaluated_typ				NVARCHAR(20)
	,	oneonone_typ				nvarchar(200)
	,	multireview_typ				nvarchar(200)
	,	report_typ					nvarchar(200)
	,	office_cd					NVARCHAR(20)
	,	belong_cd1					NVARCHAR(20)
	,	belong_cd2					NVARCHAR(20)
	,	belong_cd3					NVARCHAR(20)
	,	belong_cd4					NVARCHAR(20)
	,	belong_cd5					NVARCHAR(20)
	,	job_cd						NVARCHAR(20)
	,	position_cd					NVARCHAR(20)
	,	employee_typ				NVARCHAR(50)
	,	grade						NVARCHAR(20)
	,	salary_grade				NVARCHAR(50)
	,	company_mobile_number		NVARCHAR(50)
	,	extension_number			NVARCHAR(50)
	,	sso_user					NVARCHAR(255)
	,	_user_id					NVARCHAR(50)
	)

	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Employee Code'				AS employee_cd						
		,	'Surname'		            AS employee_last_nm
		,	'First Name'		        AS employee_first_nm
		,	'Employee Name'				AS employee_nm			
		,	'Furigana'					AS furigana		
		,	'Gender'					AS gender			
		,	'E-Mail Address'			AS mail
		,	'Date of Birth'				AS birth_date		
		,	'Date of Hire'			    AS company_in_dt
		,	'Termination (Retirement) Date'	AS company_out_dt
		,	'Retirement Reason Type'	AS retirement_reason_typ	
		,	'Retirement Reason'			AS retirement_reason	
		,	'Evaluation Type'			AS evaluated_typ	
		,	'1o1 Type'					AS oneonone_typ	
		,	'Multireview Type'			AS multireview_typ
		,	'Report Type'				AS report_typ
		,	'Office Code'				AS office_cd		
		,	'Department Code 1'			AS belong_cd1		
		,	'Department Code 2'			AS belong_cd2	
		,	'Department Code 3'			AS belong_cd3	
		,	'Department Code 4'			AS belong_cd4	
		,	'Department Code 5'			AS belong_cd5		
		,	'Job Code'					AS job_cd			
		,	'Position Code'				AS position_cd		
		,	'Employee Classification'	AS employee_typ	
		,	'Rank'						AS grade
		,	'Salary Grade'				AS salary_grade
		,	'Company Mobile Number'		AS company_mobile_number
		,	'Extension Number'			AS extension_number
		,	'SSO User'					AS sso_user	
		,	'User ID'					AS _user_id	
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'社員コード'					AS employee_cd						
		,	'社員姓'						AS employee_last_nm	
		,	'社員名'						AS employee_first_nm	
		,	'社員氏名'					AS employee_nm			
		,	'ふりがな'					AS furigana		
		,	'性別'						AS gender			
		,	'メールアドレス'				AS mail			
		,	'生年月日'					AS birth_date		
		,	'入社日'						AS company_in_dt	
		,	'退社日'						AS company_out_dt	
		,	'退職理由区分'				AS retirement_reason_typ	
		,	'退職理由'					AS retirement_reason	
		,	'評価対象区分'				AS evaluated_typ	
		,	'１on１対象区分'				AS oneonone_typ	
		,	'マルチレビュー対象区分'		AS multireview_typ	
		,	'報告書対象区分'				AS report_typ	
		,	'事業所コード'				AS office_cd		
		,	'所属コード１'				AS belong_cd1		
		,	'所属コード２'				AS belong_cd2	
		,	'所属コード３'				AS belong_cd3	
		,	'所属コード４'				AS belong_cd4	
		,	'所属コード５'				AS belong_cd5		
		,	'職種コード'					AS job_cd			
		,	'役職コード'					AS position_cd		
		,	'社員区分'					AS employee_typ	
		,	'等級'						AS grade
		,	'号俸'						AS salary_grade
		,	'社有携帯番号'				AS company_mobile_number
		,	'内線番号'					AS extension_number
		,	'SSOユーザ'					AS sso_user	
		,	'ユーザーID'					AS _user_id
	END
	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(M0070.employee_cd,'')				
	,	ISNULL(employee_last_nm,'')	
	,	ISNULL(employee_first_nm,'')	
	,	ISNULL(employee_nm,'')				
	,	ISNULL(furigana,'')				
	,	ISNULL(gender,0)					
	,	ISNULL(mail,'')					
	,	FORMAT(NULLIF(birth_date,'1900-01-01'), 'yyyy/MM/dd')		
	,	FORMAT(NULLIF(company_in_dt,'1900-01-01'), 'yyyy/MM/dd')		
	,	FORMAT(NULLIF(company_out_dt,'1900-01-01'), 'yyyy/MM/dd')	
	,	ISNULL(retirement_reason_typ,0)
	,	ISNULL(retirement_reason,'')
	,	ISNULL(evaluated_typ,0)	
	,	ISNULL([1on1_typ],0)
	,	ISNULL(multireview_typ,0)
	,	ISNULL(report_typ,0)
	,	ISNULL(office_cd,0)				
	,	ISNULL(belong_cd1,0)				
	,	ISNULL(belong_cd2,0)
	,	ISNULL(belong_cd3,0)
	,	ISNULL(belong_cd4,0)
	,	ISNULL(belong_cd5,0)				
	,	ISNULL(job_cd,0)					
	,	ISNULL(position_cd,0)				
	,	ISNULL(employee_typ,0)			
	,	ISNULL(grade,0)		
	,	ISNULL(salary_grade,0)	
	,	ISNULL(company_mobile_number,'')	
	,	ISNULL(extension_number,'')	
	,	ISNULL(S0010.sso_user,'')	
	,	ISNULL(S0010.user_id,'')
	FROM M0070
	LEFT JOIN S0010 ON(
		M0070.company_cd	= S0010.company_cd
	AND M0070.employee_cd	= S0010.employee_cd
	AND S0010.del_datetime IS NULL
	)
	WHERE 
		M0070.company_cd			=	@P_company_cd
	AND M0070.del_datetime IS NULL
	ORDER BY 
		CASE (SELECT 1 WHERE M0070.employee_cd NOT LIKE '%[^0-9]%')
		   WHEN 1 
		   THEN CAST(M0070.employee_cd AS BIGINT) 
		   ELSE 999999999999999 
		END 
    ,	M0070.employee_cd

	--[0]
	SELECT
		#DATA.employee_cd					
	,	#DATA.employee_last_nm				
	,	#DATA.employee_first_nm				
	,	#DATA.employee_nm				
	,	#DATA.furigana		
	,	#DATA.gender			
	,	#DATA.mail			
	,	#DATA.birth_date		
	,	#DATA.company_in_dt	
	,	#DATA.company_out_dt
	,	#DATA.retirement_reason_typ
	,	#DATA.retirement_reason
	,	#DATA.evaluated_typ	
	,	#DATA.oneonone_typ
	,	#DATA.multireview_typ
	,	#DATA.report_typ
	,	#DATA.office_cd		
	,	#DATA.belong_cd1		
	,	#DATA.belong_cd2
	,	#DATA.belong_cd3
	,	#DATA.belong_cd4
	,	#DATA.belong_cd5		
	,	#DATA.job_cd			
	,	#DATA.position_cd		
	,	#DATA.employee_typ	
	,	#DATA.grade	
	,	#DATA.salary_grade	
	,	#DATA.company_mobile_number	
	,	#DATA.extension_number	
	,	#DATA.sso_user
	,	#DATA._user_id		
	FROM #DATA
	ORDER BY
		id
END

GO
