/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT5]    Script Date: 2018/10/01 12:01:23 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT5]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2018/10/01
 *  作成者  ： sondh
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT5]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA (
		id						INT IDENTITY(1,1)
	,	grade					NVARCHAR(20)
	,	grade_nm				NVARCHAR(50)
	,	arrange_order			NVARCHAR(20)
	)
					
	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Rank Code'				AS grade				
		,	'Rank Name'		AS grade_nm		
		,	'Order'		AS arrange_order	
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'等級コード'				AS grade				
		,	'等級名'					AS grade_nm				
		,	'並び順'					AS arrange_order		
	END
	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(grade,0)					
	,	ISNULL(grade_nm,'')					
	,	ISNULL(arrange_order,0)					
	FROM M0050
	WHERE 
		company_cd			=	@P_company_cd
	AND del_datetime IS NULL
	ORDER BY 
		arrange_order
	,	grade

	--[0]
	SELECT
		#DATA.grade					
	,	#DATA.grade_nm			
	,	#DATA.arrange_order	
	FROM #DATA
	ORDER BY
		id
END

GO
