/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT14]    Script Date: 2024/04/08 15:50:05 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT14]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2024/04/10
 *  作成者  ： PhuongDT
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT14]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA (
		id									INT IDENTITY(1,1)
	,	employee_cd							NVARCHAR(50)
	,	owning_house_kbn					NVARCHAR(50)
	,	head_household						NVARCHAR(50)
	,	post_code							NVARCHAR(50)
	,	address1							NVARCHAR(50)
	,	address2							NVARCHAR(50)
	,	address3							NVARCHAR(50)
	,	home_phone_number					NVARCHAR(50)
	,	personal_phone_number				NVARCHAR(50)
	,	personal_email_address				NVARCHAR(100)
	,	emergency_contact_name				NVARCHAR(50)
	,	emergency_contact_relationship		NVARCHAR(50)
	,	emergency_contact_birthday			NVARCHAR(50)
	,	emergency_contact_post_code			NVARCHAR(50)
	,	emergency_contact_addres1			NVARCHAR(50)
	,	emergency_contact_addres2			NVARCHAR(50)
	,	emergency_contact_addres3			NVARCHAR(50)
	,	emergency_contact_phone_number		NVARCHAR(50)
	)

	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Employee Code' 					AS employee_cd					
		,	'Owning House Kbn' 					AS owning_house_kbn					
		,	'Head Household' 					AS head_household	
		,	'Post Code' 						AS post_code			
		,	'Prefectures' 						AS address1					
		,	'City/Chome/Chome' 					AS address2					
		,	'Street Address/Building/Room Number' 						AS address3					
		,	'Home Phone Number' 				AS home_phone_number			
		,	'Personal Phone Number' 			AS personal_phone_number			
		,	'Personal Email Address' 			AS personal_email_address			
		,	'Emergency Contact Name' 			AS emergency_contact_name					
		,	'Emergency Contact Relationship' 	AS emergency_contact_relationship
		,	'Emergency Contact Birthday' 		AS emergency_contact_birthday	
		,	'Emergency Contact Post Code' 		AS emergency_contact_post_code					
		,	'Emergency Contact Addres 1' 		AS emergency_contact_addres1				
		,	'Emergency Contact Addres 2' 		AS emergency_contact_addres2				
		,	'Emergency Contact Addres 3' 		AS emergency_contact_addres3				
		,	'Emergency Contact Phone Number' 	AS emergency_contact_phone_number					
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'社員コード' 				        AS employee_cd
		,	'持ち家区分' 					    AS owning_house_kbn
		,	'世帯主' 						AS head_household	
		,	'郵便番号' 						AS post_code			
		,	'都道府県' 						AS address1					
		,	'市区町村・丁目' 						AS address2					
		,	'番地・建物・部屋番号' 						AS address3					
		,	'自宅電話番号' 					AS home_phone_number			
		,	'個人携帯電話番号' 				AS personal_phone_number			
		,	'個人メールアドレス' 				AS personal_email_address					
		,	'緊急連絡先氏名' 					AS emergency_contact_name					
		,	'緊急連絡先続柄' 					AS emergency_contact_relationship					
		,	'緊急連絡先生年月日' 				AS emergency_contact_birthday					
		,	'緊急連絡先郵便番号' 				AS emergency_contact_post_code					
		,	'緊急連絡先住所１' 				AS emergency_contact_addres1				
		,	'緊急連絡先住所２' 				AS emergency_contact_addres2				
		,	'緊急連絡先住所３' 				AS emergency_contact_addres3				
		,	'緊急連絡先電話番号' 				AS emergency_contact_phone_number	
	END
	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(employee_cd,'')				
	,	ISNULL(owning_house_kbn,0)	
	,	ISNULL(head_household,0)	
	,	ISNULL(post_code,'')				
	,	ISNULL(address1,'')				
	,	ISNULL(address2,'')				
	,	ISNULL(address3,'')				
	,	ISNULL(home_phone_number,'')				
	,	ISNULL(personal_phone_number,'')				
	,	ISNULL(personal_email_address,'')				
	,	ISNULL(emergency_contact_name,'')				
	,	ISNULL(emergency_contact_relationship,'')				
	,	FORMAT(NULLIF(emergency_contact_birthday,'1900-01-01'), 'yyyy/MM/dd')	
	,	ISNULL(emergency_contact_post_code,'')
	,	ISNULL(emergency_contact_addres1,'')
	,	ISNULL(emergency_contact_addres2,'')
	,	ISNULL(emergency_contact_addres3,'')
	,	ISNULL(emergency_contact_phone_number,'')
	FROM M0083
	WHERE 
		M0083.company_cd			=	@P_company_cd
	AND M0083.del_datetime IS NULL
	ORDER BY 
		M0083.employee_cd

	--[0]
	SELECT
		#DATA.employee_cd				
	,	#DATA.owning_house_kbn
	,	#DATA.head_household
    ,	#DATA.post_code
	,	#DATA.address1			
	,	#DATA.address2			
	,	#DATA.address3			
	,	#DATA.home_phone_number		
	,	#DATA.personal_phone_number					
	,	#DATA.personal_email_address			
	,	#DATA.emergency_contact_name			
	,	#DATA.emergency_contact_relationship				
	,	#DATA.emergency_contact_birthday				
	,	#DATA.emergency_contact_post_code				
	,	#DATA.emergency_contact_addres1 				
	,	#DATA.emergency_contact_addres2				
	,	#DATA.emergency_contact_addres3				
	,	#DATA.emergency_contact_phone_number				
	FROM #DATA
	ORDER BY
		id
END
GO