/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT8]    Script Date: 2018/10/01 15:50:05 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT8]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2018/10/01
 *  作成者  ： sondh
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT8]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)		= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA (
		id						INT IDENTITY(1,1)
	,	employee_cd				NVARCHAR(20)
	,	application_date		NVARCHAR(20)
	,	office_cd				NVARCHAR(20)
	,	belong_cd1				NVARCHAR(20)
	,	belong_cd2				NVARCHAR(50)
	,	belong_cd3				NVARCHAR(50)
	,	belong_cd4				NVARCHAR(50)
	,	belong_cd5				NVARCHAR(50)
	,	job_cd					NVARCHAR(20)
	,	position_cd				NVARCHAR(20)
	,	employee_typ			NVARCHAR(50)
	,	grade					NVARCHAR(20)
	)

	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Employee Code'					
		,	'Applied Date'					
		,	'Office Code'				
		,	'Department Code 1'						
		,	'Department Code 2'				
		,	'Department Code 3'				
		,	'Department Code 4'				
		,	'Department Code 5'					
		,	'Job Code'					
		,	'Position Code'					
		,	'Employee Classification'						
		,	'Rank'			
	END
	ELSE
	BEGIN
	INSERT INTO #DATA
		SELECT 
			'社員コード'					
		,	'適用年月日'					
		,	'事業所コード'				
		,	'所属コード１'						
		,	'所属コード２'				
		,	'所属コード３'				
		,	'所属コード４'				
		,	'所属コード５'						
		,	'職種コード'					
		,	'役職コード'					
		,	'社員区分'						
		,	'等級'								
	END						   		
	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(employee_cd,'')			
	,	FORMAT(NULLIF(application_date,'1900-01-01'),'yyyy/MM/dd')
	,	ISNULL(office_cd,0)			
	,	ISNULL(belong_cd1,0)			
	,	ISNULL(belong_cd2,0)
	,	ISNULL(belong_cd3,0)
	,	ISNULL(belong_cd4,0)
	,	ISNULL(belong_cd5,0)			
	,	ISNULL(job_cd,0)				
	,	ISNULL(position_cd,0)			
	,	ISNULL(employee_typ,0)		
	,	ISNULL(grade,0)							
	FROM M0071
	WHERE 
		company_cd			=	@P_company_cd
	AND del_datetime IS NULL
	ORDER BY 
		CASE (SELECT 1 WHERE employee_cd NOT LIKE '%[^0-9]%')
		   WHEN 1 
		   THEN CAST(employee_cd AS BIGINT) 
		   ELSE 999999999999999 
		END 
    ,	employee_cd

	--[0]
	SELECT
		#DATA.employee_cd						
	,	#DATA.application_date			
	,	#DATA.office_cd				
	,	#DATA.belong_cd1		
	,	#DATA.belong_cd2	
	,	#DATA.belong_cd3	
	,	#DATA.belong_cd4	
	,	#DATA.belong_cd5			
	,	#DATA.job_cd			
	,	#DATA.position_cd			
	,	#DATA.employee_typ	
	,	#DATA.grade			
	FROM #DATA
	ORDER BY
		id
END

GO
