/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT6]    Script Date: 2018/10/01 15:50:05 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT6]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2018/10/01
 *  作成者  ： sondh
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT6]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA (
		id							INT IDENTITY(1,1)
	,	employee_typ				NVARCHAR(50)
	,	employee_typ_nm				NVARCHAR(50)
	,	import_cd				NVARCHAR(255)
	,	arrange_order				NVARCHAR(20)
	)
								
	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Employee Classification'				AS employee_typ		
		,	'Employee Classification Name'		AS employee_typ_nm		
		,	'Import Code'		AS import_cd		
		,	'Order'				AS arrange_order	
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'社員区分'					AS employee_typ		
		,	'社員区分名'					AS employee_typ_nm	
		,	'取込用コード'			AS import_cd
		,	'並び順'						AS arrange_order		
	END
	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(employee_typ,0)					
	,	ISNULL(employee_typ_nm,'')			
	,	ISNULL(REPLACE(REPLACE(import_cd, CHAR(13), ' '), CHAR(10), ' '),'')
	,	ISNULL(arrange_order,0)					
	FROM M0060
	WHERE 
		company_cd			=	@P_company_cd
	AND del_datetime IS NULL
	ORDER BY 
		arrange_order
	,	employee_typ

	--[0]
	SELECT
		#DATA.employee_typ				
	,	#DATA.employee_typ_nm		
	,	#DATA.import_cd
	,	#DATA.arrange_order	
	FROM #DATA
	ORDER BY
		id
END

GO
