/****** Object:  StoredProcedure [dbo].[SPC_O0100_ACT21]    Script Date: 2018/10/02 17:20:02 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_ACT21]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	O0100
--*  
--*  作成日/create date			:	2024/04/10								
--*　作成者/creater				:	PhuongDT								
--*   					
--*  更新日/update date			:  						
--*　更新者/updater				:　  　								     	 
--*　更新内容/update content	:
--*  
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_O0100_ACT21]
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)		=	''
,	@P_exec_user			NVARCHAR(100)		=	''
,	@P_company_cd			SMALLINT			=	0	
,	@P_cre_user				NVARCHAR(50)		=	''
,	@P_cre_ip				NVARCHAR(50)		=	''
,	@P_no					INT					=	0
,	@P_count				INT					=	0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 	
		@w_time			DATETIME2	= SYSDATETIME()
	,	@order_by_min	INT			= 0
	,	@w_editable_kbn	INT			= 0
	,	@ERR_TBL		ERRTABLE	
	--
	CREATE TABLE #TEMP(
		id							INT		IDENTITY(1,1)
	,	exec_user					NVARCHAR(100)
	,	company_cd					SMALLINT
	,	employee_cd					NVARCHAR(50)
	,	detail_no					NVARCHAR(20)
	,	training_cd					NVARCHAR(50)
	,	training_nm					NVARCHAR(100)
	,	training_category_cd		NVARCHAR(50)
	,	training_course_format_cd	NVARCHAR(50)
	,	lecturer_name				NVARCHAR(50)
	,	training_date_from			NVARCHAR(50)
	,	training_date_to			NVARCHAR(50)
	,	training_status				NVARCHAR(50)
	,	passing_date				NVARCHAR(50)
	,	report_submission			NVARCHAR(50)
	,	report_submission_date		NVARCHAR(50)
	,	report_storage_location		NVARCHAR(100)
	,	nationality					NVARCHAR(100)
	)
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- VALIDATE
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22						-- mã lỗi (trùng với mã trong bảng message) 					
			,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống 			
			,	0-- oderby				-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0						-- Tùy ý
			,	'json format'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- GET  TEMP
		INSERT INTO #TEMP
		SELECT
			CONCAT(@P_exec_user, CAST(@P_no AS NVARCHAR(10)))																		
		,	@P_company_cd															
		,	RTRIM(LTRIM(employee_cd))											
		,	RTRIM(LTRIM(detail_no))
		,	RTRIM(LTRIM(training_cd))
		,	RTRIM(LTRIM(training_nm))
		,	RTRIM(LTRIM(training_category_cd))											
		,	RTRIM(LTRIM(training_course_format_cd))													
		,	RTRIM(LTRIM(lecturer_name))	
		,	RTRIM(LTRIM(training_date_from))
		,	RTRIM(LTRIM(training_date_to))
		,	RTRIM(LTRIM(training_status))											
		,	RTRIM(LTRIM(passing_date))													
		,	RTRIM(LTRIM(report_submission))												
		,	RTRIM(LTRIM(report_submission_date))												
		,	RTRIM(LTRIM(report_storage_location))												
		,	RTRIM(LTRIM(nationality))												
		FROM OPENJSON(@P_json) WITH(										
			employee_cd					NVARCHAR(50)
		,	detail_no					NVARCHAR(20)
		,	training_cd					NVARCHAR(50)
		,	training_nm					NVARCHAR(100)
		,	training_category_cd		NVARCHAR(50)
		,	training_course_format_cd	NVARCHAR(50)
		,	lecturer_name				NVARCHAR(100)
		,	training_date_from			NVARCHAR(50)
		,	training_date_to			NVARCHAR(50)
		,	training_status				NVARCHAR(50)
		,	passing_date				NVARCHAR(50)
		,	report_submission			NVARCHAR(50)
		,	report_submission_date		NVARCHAR(50)
		,	report_storage_location		NVARCHAR(100)
		,	nationality					NVARCHAR(100)						
		)

		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.training_cd NOT LIKE '%[^0-9]%')
		BEGIN
			SET @w_editable_kbn = (
				SELECT editable_kbn FROM #TEMP 
				INNER JOIN M5030 ON (
					M5030.company_cd = @P_company_cd
				AND	M5030.training_cd = #TEMP.training_cd
				AND M5030.del_datetime is NULL
				)
			)
		END
		--------------------------------------------
		--VALIDATE MAXLENGHT employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.employee_cd)>10)
		--VALIDATE REQUIRED employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.employee_cd = '')
		--	--
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.employee_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				151				
			,	'employee_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Employee Code','社員コード')	
			FROM #TEMP 
			WHERE
				#TEMP.employee_cd = 0
		END
		-- VALIDATE EXIST employee_cd IN M0070
		IF NOT EXISTS (
			SELECT 1 FROM #TEMP 
			INNER JOIN M0070 ON (
				M0070.company_cd = @P_company_cd
			AND	M0070.employee_cd = #TEMP.employee_cd
			AND M0070.del_datetime is NULL
			)
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				111				
			,	'employee_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Employee Code','社員コード')	
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT detail_no
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Detail No','明細番号')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.detail_no)>3)
		--VALIDATE REQUIRED detail_no 							
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Detail No','明細番号')	
		FROM #TEMP 
		WHERE
			(#TEMP.detail_no = '')
		--VALIDATE NUMERIC detail_no
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Detail No','明細番号')	
		FROM #TEMP 
		WHERE
			(#TEMP.detail_no <> '')
		AND (#TEMP.detail_no LIKE '%[^0-9]%')
		--VALIDATE NUMERIC detail_no < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.detail_no NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'detail_no'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Detail No','明細番号')
			FROM #TEMP 
			WHERE 
				(#TEMP.detail_no NOT LIKE '%[^0-9]%')
			AND	(#TEMP.detail_no < 0)
		END
		--	validate detail_no = 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.detail_no NOT LIKE '%[^0-9]%' AND #TEMP.detail_no <> '')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	N'detail_no'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = N'en',N'Detail No',N'明細番号')
			FROM #TEMP 
			WHERE
				#TEMP.detail_no = 0
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT training_cd
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'training_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Training Code','研修コード')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.training_cd)>3)
		--VALIDATE NUMERIC training_cd
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'training_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Training Code','研修コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.training_cd <> '')
		AND (#TEMP.training_cd LIKE '%[^0-9]%')
		--VALIDATE NUMERIC training_cd < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.training_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'training_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Training Code','研修コード')
			FROM #TEMP 
			WHERE 
				(#TEMP.training_cd NOT LIKE '%[^0-9]%')
			AND	(#TEMP.training_cd < 0)
			-- VALIDATE EXIST training_status IN M5030
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				INNER JOIN M5030 ON (
					M5030.company_cd = @P_company_cd
				AND	M5030.training_cd = #TEMP.training_cd
				AND M5030.del_datetime is NULL
				)
			)
			BEGIN
			INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'training_cd'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Training Code','研修コード')
				FROM #TEMP
				WHERE 
					#TEMP.training_cd <> ''  
				AND #TEMP.training_cd <> 0
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT training_nm 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'training_nm'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Training Name','研修名')	
		FROM #TEMP 
		WHERE
			(LEN(training_nm)>50)
		-------------------------------------------------
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.training_cd NOT LIKE '%[^0-9]%')
		BEGIN
			-- VALIDATE EXIST training_category_cd IN M5031 when training_cd = 0 or blank or M5030.editable_kbn = 1
			IF  EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.training_cd = '' OR #TEMP.training_cd = 0) OR @w_editable_kbn = 1
			BEGIN
				--VALIDATE MAXLENGHT training_category_cd
				INSERT INTO @ERR_TBL
				SELECT
					28				
				,	'training_category_cd'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Training Category Code','研修カテゴリー')	
				FROM #TEMP 
				WHERE
					(LEN(#TEMP.training_category_cd)>3)
				--VALIDATE NUMERIC training_category_cd
				INSERT INTO @ERR_TBL
				SELECT
					11				
				,	'training_category_cd'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Training Category Code','研修カテゴリー')	
				FROM #TEMP 
				WHERE
					(#TEMP.training_category_cd <> '')
				AND (#TEMP.training_category_cd LIKE '%[^0-9]%')
				-- VALIDATE EXIST training_category_cd IN M5031
				IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.training_category_cd NOT LIKE '%[^0-9]%')
				BEGIN
					IF NOT EXISTS (
						SELECT 1 FROM #TEMP 
						LEFT JOIN M5031 ON (
							M5031.company_cd = @P_company_cd
						AND	M5031.training_category_cd = #TEMP.training_category_cd
						AND M5031.del_datetime is NULL
						)
						WHERE #TEMP.training_category_cd = 0 OR M5031.training_category_cd IS NOT NULL
					)
					BEGIN
						INSERT INTO @ERR_TBL
						SELECT
							70				
						,	'training_category_cd'				
						,	0-- oderby		
						,	1-- dialog  	
						,	0				
						,	0				
						,	IIF(@P_language = 'en','Training Category Code','研修カテゴリー')
						FROM #TEMP
					END
				END
			END
		END
		-------------------------------------------------
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.training_cd NOT LIKE '%[^0-9]%')
		BEGIN
			-- VALIDATE EXIST training_course_format_cd IN M5032 when training_cd = 0 or blank or M5030.editable_kbn = 1
			IF  EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.training_cd = '' OR #TEMP.training_cd = 0) OR @w_editable_kbn = 1
			BEGIN
				--VALIDATE MAXLENGHT training_course_format_cd
				INSERT INTO @ERR_TBL
				SELECT
					28				
				,	'training_course_format_cd'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Training Course Format Code','受講形式')	
				FROM #TEMP 
				WHERE
					(LEN(#TEMP.training_course_format_cd)>3)
				--VALIDATE NUMERIC training_course_format_cd
				INSERT INTO @ERR_TBL
				SELECT
					11				
				,	'training_course_format_cd'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Training Course Format Code','受講形式')	
				FROM #TEMP 
				WHERE
					(#TEMP.training_course_format_cd <> '')
				AND (#TEMP.training_course_format_cd LIKE '%[^0-9]%')
				-- VALIDATE EXIST training_course_format_cd IN M5032
				IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.training_course_format_cd NOT LIKE '%[^0-9]%')
				BEGIN
					IF NOT EXISTS (
						SELECT 1 FROM #TEMP 
						LEFT JOIN M5032 ON (
							M5032.company_cd = @P_company_cd
						AND	M5032.training_course_format_cd = #TEMP.training_course_format_cd
						AND M5032.del_datetime is NULL
						)
						WHERE #TEMP.training_course_format_cd = 0 OR M5032.training_course_format_cd IS NOT NULL
					)
					BEGIN
						INSERT INTO @ERR_TBL
						SELECT
							70				
						,	'training_course_format_cd'				
						,	0-- oderby		
						,	1-- dialog  	
						,	0				
						,	0				
						,	IIF(@P_language = 'en','Training Course Format Code','受講形式')
					END
				END
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT lecturer_name 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'lecturer_name'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Lecturer Name','講師名')	
		FROM #TEMP 
		WHERE
			(LEN(lecturer_name)>20)
		-------------------------------------------------
		--VALIDATE MAXLENGHT training_date_from 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'training_date_from'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Training Date From','受講日FROM')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.training_date_from)>10)
		--VALIDATE DATE training_date_from
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'training_date_from'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Training Date From','受講日FROM')	
		FROM #TEMP 
		WHERE
			(#TEMP.training_date_from <> '')
		AND	(ISDATE(#TEMP.training_date_from)=0)
		--VALIDATE DATE training_date_to > training_date_from
		IF EXISTS (SELECT 1 FROM #TEMP WHERE (ISDATE(#TEMP.training_date_from)=1) AND (ISDATE(#TEMP.training_date_to)=1))
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24				
			,	'training_date_from'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Training Date From','受講日FROM')	
			FROM #TEMP 
			WHERE
				CAST(#TEMP.training_date_from AS DATE) > CAST(#TEMP.training_date_to AS DATE)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT training_date_to 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'training_date_to'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Training Date To','受講日TO')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.training_date_to)>10)
		--VALIDATE DATE training_date_to
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'training_date_to'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Training Date To','受講日TO')	
		FROM #TEMP 
		WHERE
			(#TEMP.training_date_to <> '')
		AND	(ISDATE(#TEMP.training_date_to)=0)
		--VALIDATE DATE training_date_to > training_date_from
		IF EXISTS (SELECT 1 FROM #TEMP WHERE (ISDATE(#TEMP.training_date_from)=1) AND (ISDATE(#TEMP.training_date_to)=1))
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24				
			,	'training_date_to'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Training Date To','受講日TO')
			FROM #TEMP 
			WHERE
				CAST(#TEMP.training_date_from AS DATE) > CAST(#TEMP.training_date_to AS DATE)
		END
		-------------------------------------------------
		--VALIDATE NUMERIC training_status < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.training_status NOT LIKE '%[^0-9]%')
		BEGIN
			-- VALIDATE EXIST training_status IN L0010
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				INNER JOIN L0010 ON (
					L0010.name_typ = 59
				AND	L0010.number_cd = #TEMP.training_status
				AND L0010.del_datetime is NULL
				)
			) AND NOT EXISTS (SELECT training_status FROM #TEMP WHERE training_status IS NULL OR training_status=0 AND training_status='' )
			BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				70				
			,	'training_status'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Training Status','受講状況')
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT passing_date 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'passing_date'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Passing Date','合格日')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.passing_date)>10)
		--VALIDATE DATE passing_date
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'passing_date'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Passing Date','合格日')	
		FROM #TEMP 
		WHERE
			(#TEMP.passing_date <> '')
		AND	(ISDATE(#TEMP.passing_date)=0)
		-------------------------------------------------
		--VALIDATE MAXLENGHT report_submission
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'report_submission'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Report Submission','レポート提出要否')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.report_submission)>3)
		--VALIDATE NUMERIC report_submission
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'report_submission'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Report Submission','レポート提出要否')	
		FROM #TEMP 
		WHERE
			(#TEMP.report_submission <> '')
		AND (#TEMP.report_submission LIKE '%[^0-9]%')
		--VALIDATE NUMERIC report_submission < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.report_submission NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'report_submission'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Report Submission','レポート提出要否')
			FROM #TEMP 
			WHERE 
				(#TEMP.report_submission NOT LIKE '%[^0-9]%')
			AND	(#TEMP.report_submission < 0)
			-- VALIDATE EXIST report_submission IN L0010
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				INNER JOIN L0010 ON (
					L0010.name_typ = 60
				AND	L0010.number_cd = #TEMP.report_submission
				AND L0010.del_datetime is NULL
				)
			) AND NOT EXISTS (SELECT report_submission FROM #TEMP WHERE report_submission IS NULL OR report_submission=0 AND report_submission='' )
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'report_submission'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Report Submission','レポート提出要否')
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT report_submission_date 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'report_submission_date'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Report Submission Date','レポート提出日')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.report_submission_date)>10)
		--VALIDATE DATE report_submission_date
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'report_submission_date'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Report Submission Date','レポート提出日')	
		FROM #TEMP 
		WHERE
			(#TEMP.report_submission_date <> '')
		AND	(ISDATE(#TEMP.report_submission_date)=0)
		-------------------------------------------------
		--VALIDATE MAXLENGHT report_storage_location 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'report_storage_location'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Report Storage Location','レポート格納先')	
		FROM #TEMP 
		WHERE
			(LEN(report_storage_location)>50)
		-------------------------------------------------
		--VALIDATE MAXLENGHT nationality 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'nationality'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Nationality','備考')	
		FROM #TEMP 
		WHERE
			(LEN(nationality)>50)
		-------------------------------------------------
		--VALIDATE UNIQUE detail_no
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.detail_no NOT LIKE '%[^0-9]%' AND LEN(#TEMP.detail_no) < 4)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				159			
			,	'detail_no'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Detail No','明細番号')	
			FROM #TEMP INNER JOIN WRK_M0076 ON(
				#TEMP.company_cd			= WRK_M0076.company_cd
			AND #TEMP.employee_cd			= WRK_M0076.employee_cd
			AND WRK_M0076.company_cd		= @P_company_cd
			AND WRK_M0076.detail_no			= #TEMP.detail_no
			)
		END
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- PROCESS
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- Chổ nay dung de viet code xu ly du lieu sau khi validate xong
		--
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
			DELETE W FROM  WRK_M0076 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE T.company_cd IS NOT NULL
			--
			INSERT INTO WRK_M0076 
			SELECT 
				#TEMP.exec_user
			,	#TEMP.company_cd
			,	#TEMP.employee_cd				
			,	#TEMP.detail_no					
			,	#TEMP.training_cd	
			,	IIF(M5030.editable_kbn = 0, M5030.training_nm, #TEMP.training_nm)	
			,	IIF(M5030.editable_kbn = 0, M5030.training_category_cd, IIF(#TEMP.training_category_cd = '',  0, #TEMP.training_category_cd ))
			,	IIF(M5030.editable_kbn = 0, M5030.training_course_format_cd, IIF(#TEMP.training_course_format_cd = '',  0, #TEMP.training_course_format_cd ))
			,	#TEMP.lecturer_name	
			,	IIF(#TEMP.training_date_from = '', NULL, #TEMP.training_date_from )
			,	IIF(#TEMP.training_date_to = '', NULL, #TEMP.training_date_to )
			,	IIF(#TEMP.training_status='',0,#TEMP.training_status)				
			,	IIF(#TEMP.passing_date = '', NULL, #TEMP.passing_date )
			,	''								-- diploma_file
			,	''								-- diploma_file_name
			,	NULL							-- diploma_file_uploaddatetime
			,	IIF(#TEMP.report_submission='',0,#TEMP.report_submission)			
			,	IIF(#TEMP.report_submission_date = '', NULL, #TEMP.report_submission_date )		
			,	#TEMP.report_storage_location			
			,	#TEMP.nationality			
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
			LEFT JOIN M5030 ON (
				M5030.company_cd = @P_company_cd
			AND	M5030.training_cd = #TEMP.training_cd
			AND	M5030.editable_kbn = 0
			AND M5030.del_datetime is NULL
			)
		END
		ELSE
		BEGIN
			DELETE W FROM  WRK_M0076 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE W.exec_user LIKE '%WRK_M0076_%'
			--
			INSERT INTO WRK_M0076 
			SELECT 
				CONCAT('WRK_M0076_', CAST(@P_no AS NVARCHAR(10)))
			,	0
			,	''				
			,	0				
			,	0	
			,	''	
			,	0			
			,	0	
			,	''
			,	NULL	
			,	NULL	
			,	0			
			,	NULL	
			,	''								-- diploma_file
			,	''								-- diploma_file_name
			,	NULL							-- diploma_file_uploaddatetime
			,	0		
			,	NULL			
			,	''			
			,	''
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
		END			
		--

		IF (@P_no = @P_count) 
		BEGIN
			--
			IF (EXISTS(SELECT 1 FROM @ERR_TBL) OR EXISTS(SELECT 1 FROM WRK_M0076 WHERE exec_user LIKE '%WRK_M0076%'))
			BEGIN
				TRUNCATE TABLE WRK_M0076
				--
				GOTO COMPLETE_QUERY
			END

			-- UPDATE M0076
			UPDATE M0076
			SET 
				training_cd					= WRK_M0076.training_cd
			,	training_nm					= WRK_M0076.training_nm
			,	training_category_cd		= WRK_M0076.training_category_cd
			,	training_course_format_cd	= WRK_M0076.training_course_format_cd
			,	lecturer_name				= WRK_M0076.lecturer_name
			,	training_date_from			= WRK_M0076.training_date_from
			,	training_date_to			= WRK_M0076.training_date_to
			,	training_status				= WRK_M0076.training_status
			,	passing_date				= WRK_M0076.passing_date
			,	report_submission			= WRK_M0076.report_submission
			,	report_submission_date		= WRK_M0076.report_submission_date
			,	report_storage_location		= WRK_M0076.report_storage_location
			,	nationality					= WRK_M0076.nationality
			,	upd_user				=	@P_cre_user		
			,	upd_ip					=	@P_cre_ip	
			,	upd_prg					=	'O0100'	
			,	upd_datetime			=	@w_time	
			,	del_user				=	SPACE(0)
			,	del_ip					=	SPACE(0)
			,	del_prg					=	SPACE(0)
			,	del_datetime			=	NULL
			FROM M0076 
			INNER JOIN WRK_M0076 ON (
				M0076.company_cd	=	WRK_M0076.company_cd
			AND M0076.employee_cd	=	WRK_M0076.employee_cd
			AND M0076.detail_no		=	WRK_M0076.detail_no
			AND WRK_M0076.company_cd    = @P_company_cd
			)		

			-- INSERT M0076
			INSERT INTO M0076
			SELECT  
				WRK_M0076.company_cd
			,	WRK_M0076.employee_cd
			,	WRK_M0076.detail_no					
			,	WRK_M0076.training_cd	
			,	WRK_M0076.training_nm	
			,	WRK_M0076.training_category_cd			
			,	WRK_M0076.training_course_format_cd		
			,	WRK_M0076.lecturer_name	
			,	WRK_M0076.training_date_from	
			,	WRK_M0076.training_date_to	
			,	WRK_M0076.training_status			
			,	WRK_M0076.passing_date	
			,	''								-- diploma_file
			,	''								-- diploma_file_name
			,	NULL							-- diploma_file_uploaddatetime
			,	WRK_M0076.report_submission			
			,	WRK_M0076.report_submission_date			
			,	WRK_M0076.report_storage_location			
			,	WRK_M0076.nationality			
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM WRK_M0076 
			LEFT JOIN M0076 ON (
				M0076.company_cd	=	WRK_M0076.company_cd
			AND M0076.employee_cd	=	WRK_M0076.employee_cd
			AND M0076.detail_no		=	WRK_M0076.detail_no
			)	
			WHERE 
				M0076.employee_cd IS NULL
			AND	WRK_M0076.employee_cd <> ''
			AND M0076.detail_no IS NULL
			AND	WRK_M0076.detail_no <> ''
			AND WRK_M0076.company_cd    = @P_company_cd

			--
			DELETE WRK_M0076
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	COMPLETE_QUERY:
	--
	IF EXISTS(SELECT 1 FROM @ERR_TBL AS ERR_TBL WHERE ERR_TBL.item = 'EXCEPTION')
	BEGIN
		IF @@TRANCOUNT >0
		BEGIN
			ROLLBACK TRANSACTION
		END
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END

	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO
