/****** Object:  StoredProcedure [dbo].[SPC_O0100_INQ1]    Script Date: 2018/10/01 16:12:31 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_INQ1]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2018/10/01
 *  作成者  ： sondh
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_INQ1]
	@P_table_key			INT					= 0
,	@P_json					NVARCHAR(MAX)		= N''
,	@P_company_cd			SMALLINT			= 0
,	@P_user_id				NVARCHAR(50)		= ''
,	@P_language				NVARCHAR(2)			= ''
,	@P_json_filter			NVARCHAR(MAX)		= N''
AS
BEGIN
	SET NOCOUNT ON;
	--[0]
	IF @P_table_key = 1 BEGIN EXEC SPC_O0100_RPT1 @P_company_cd, @P_language END
	IF @P_table_key = 2 BEGIN EXEC SPC_O0100_RPT2 @P_company_cd, @P_language END
	IF @P_table_key = 3 BEGIN EXEC SPC_O0100_RPT3 @P_company_cd, @P_language END
	IF @P_table_key = 4 BEGIN EXEC SPC_O0100_RPT4 @P_company_cd, @P_language END
	IF @P_table_key = 5 BEGIN EXEC SPC_O0100_RPT5 @P_company_cd, @P_language END
	IF @P_table_key = 6 BEGIN EXEC SPC_O0100_RPT6 @P_company_cd, @P_language END
	IF @P_table_key = 7 BEGIN EXEC SPC_O0100_RPT7 @P_company_cd, @P_language END
	IF @P_table_key = 8 BEGIN EXEC SPC_O0100_RPT8 @P_company_cd, @P_language END
	IF @P_table_key = 9 BEGIN EXEC SPC_O0100_RPT9 @P_company_cd, @P_language END
	IF @P_table_key = 10 BEGIN EXEC SPC_O0100_RPT10 @P_company_cd, @P_language END
	IF @P_table_key = 11 BEGIN EXEC SPC_O0100_RPT11 @P_company_cd, @P_language END
	IF @P_table_key = 12 BEGIN EXEC SPC_O0100_RPT12 @P_company_cd, @P_language END
	IF @P_table_key = 13 BEGIN EXEC SPC_O0100_RPT13 @P_company_cd, @P_language END
	IF @P_table_key = 14 BEGIN EXEC SPC_O0100_RPT14 @P_company_cd, @P_language END
	IF @P_table_key = 15 BEGIN EXEC SPC_O0100_RPT15 @P_company_cd, @P_language END
	IF @P_table_key = 16 BEGIN EXEC SPC_O0100_RPT16 @P_company_cd, @P_language END
	IF @P_table_key = 17 BEGIN EXEC SPC_O0100_RPT17 @P_company_cd, @P_language END
	IF @P_table_key = 18 BEGIN EXEC SPC_O0100_RPT18 @P_company_cd, @P_language END
	IF @P_table_key = 19 BEGIN EXEC SPC_O0100_RPT19 @P_company_cd, @P_language END
	IF @P_table_key = 20 BEGIN EXEC SPC_O0100_RPT20 @P_company_cd, @P_language END
	IF @P_table_key = 21 BEGIN EXEC SPC_O0100_RPT21 @P_company_cd, @P_language END
	IF @P_table_key = 22 BEGIN EXEC SPC_O0100_RPT22 @P_company_cd, @P_language END
	IF @P_table_key = 23 BEGIN EXEC SPC_O0100_RPT23 @P_json, @P_company_cd, @P_user_id, @P_language,@P_json_filter END
	IF @P_table_key = 24 BEGIN EXEC SPC_O0100_RPT24 @P_company_cd, @P_language END
END
GO
