/****** Object:  StoredProcedure [dbo].[SPC_O0100_ACT12]    Script Date: 2018/10/02 17:20:02 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_ACT12]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	O0100
--*  
--*  作成日/create date			:	2024/04/09								
--*　作成者/creater				:	PhuongDT								
--*   					
--*  更新日/update date			:  						
--*　更新者/updater				:　  　								     	 
--*　更新内容/update content	:
--*  
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_O0100_ACT12]
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)		=	''
,	@P_exec_user			NVARCHAR(100)		=	''
,	@P_company_cd			SMALLINT			=	0	
,	@P_cre_user				NVARCHAR(50)		=	''
,	@P_cre_ip				NVARCHAR(50)		=	''
,	@P_no					INT					=	0
,	@P_count				INT					=	0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 	
		@w_time			DATETIME2	= SYSDATETIME()
	,	@order_by_min	INT			= 0
	,	@ERR_TBL		ERRTABLE	
	--
	CREATE TABLE #TEMP(
		id							INT		IDENTITY(1,1)
	,	exec_user					NVARCHAR(100)
	,	company_cd					SMALLINT
	,	employee_cd					NVARCHAR(50)
	,	detail_no					NVARCHAR(50)
	,	qualification_cd			NVARCHAR(50)
	,	qualification_typ			NVARCHAR(50)
	,	headquarters_other			NVARCHAR(50)
	,	possibility_transfer		NVARCHAR(50)
	,	remarks						NVARCHAR(100)
	)
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- VALIDATE
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22						-- mã lỗi (trùng với mã trong bảng message) 					
			,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống 			
			,	0-- oderby				-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0						-- Tùy ý
			,	'json format'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- GET  TEMP
		INSERT INTO #TEMP
		SELECT
			CONCAT(@P_exec_user, CAST(@P_no AS NVARCHAR(10)))																		
		,	@P_company_cd															
		,	RTRIM(LTRIM(employee_cd))											
		,	RTRIM(LTRIM(detail_no))
		,	RTRIM(LTRIM(qualification_cd))
		,	RTRIM(LTRIM(qualification_typ))
		,	RTRIM(LTRIM(headquarters_other))											
		,	RTRIM(LTRIM(possibility_transfer))													
		,	RTRIM(LTRIM(remarks))												
		FROM OPENJSON(@P_json) WITH(										
			employee_cd					NVARCHAR(50)
		,	detail_no					NVARCHAR(50)
		,	qualification_cd			NVARCHAR(50)
		,	qualification_typ			NVARCHAR(50)
		,	headquarters_other			NVARCHAR(50)
		,	possibility_transfer		NVARCHAR(50)
		,	remarks						NVARCHAR(100)						
		)
		--------------------------------------------
		--VALIDATE MAXLENGHT employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.employee_cd)>10)
		--VALIDATE REQUIRED employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.employee_cd = '')
		--	--
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.employee_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				151				
			,	'employee_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Employee Code','社員コード')	
			FROM #TEMP 
			WHERE
				#TEMP.employee_cd = 0
		END
		-- VALIDATE EXIST employee_cd IN M0070
		IF NOT EXISTS (
			SELECT 1 FROM #TEMP 
			INNER JOIN M0070 ON (
				M0070.company_cd = @P_company_cd
			AND	M0070.employee_cd = #TEMP.employee_cd
			AND M0070.del_datetime is NULL
			)
		)
		BEGIN
		INSERT INTO @ERR_TBL
		SELECT
			111				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT detail_no
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Detail No','明細番号')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.detail_no)>3)
		--VALIDATE REQUIRED detail_no 							
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Detail No','明細番号')	
		FROM #TEMP 
		WHERE
			(#TEMP.detail_no = '')
		--VALIDATE NUMERIC detail_no
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Detail No','明細番号')	
		FROM #TEMP 
		WHERE
			(#TEMP.detail_no <> '')
		AND (#TEMP.detail_no LIKE '%[^0-9]%')
		--VALIDATE NUMERIC detail_no < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.detail_no NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'detail_no'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Detail No','明細番号')
			FROM #TEMP 
			WHERE 
				(#TEMP.detail_no NOT LIKE '%[^0-9]%')
			AND	(#TEMP.detail_no < 0)
		END
		-------------------------------------------------
		--VALIDATE UNIQUE detail_no
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.detail_no NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				159			
			,	'detail_no'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Detail No','明細番号')	
			FROM #TEMP INNER JOIN WRK_M0075 ON(
				#TEMP.company_cd			= WRK_M0075.company_cd
			AND #TEMP.employee_cd			= WRK_M0075.employee_cd
			AND WRK_M0075.company_cd		= @P_company_cd
			AND WRK_M0075.detail_no			= #TEMP.detail_no
			)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT qualification_cd
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'qualification_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Qualification Code','資格コード')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.qualification_cd)>3)
		--VALIDATE NUMERIC qualification_cd
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'qualification_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Qualification Code','資格コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.qualification_cd <> '')
		AND (#TEMP.qualification_cd LIKE '%[^0-9]%')
		--VALIDATE NUMERIC qualification_cd < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.qualification_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'qualification_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Qualification Code','資格コード')
			FROM #TEMP 
			WHERE 
				(#TEMP.qualification_cd NOT LIKE '%[^0-9]%')
			AND	(#TEMP.qualification_cd < 0)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT qualification_typ
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'qualification_typ'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Qualification Type','資格種別')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.qualification_typ)>3)
		--VALIDATE NUMERIC qualification_typ
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'qualification_typ'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Qualification Type','資格種別')	
		FROM #TEMP 
		WHERE
			(#TEMP.qualification_typ <> '')
		AND (#TEMP.qualification_typ LIKE '%[^0-9]%')
		--VALIDATE NUMERIC qualification_typ < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.qualification_typ NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'qualification_typ'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Qualification Type','資格種別')
			FROM #TEMP 
			WHERE 
				(#TEMP.qualification_typ NOT LIKE '%[^0-9]%')
			AND	(#TEMP.qualification_typ < 0)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT headquarters_other 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'headquarters_other'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Headquarters Other','資格取得日')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.headquarters_other)>10)
		--VALIDATE DATE headquarters_other
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'headquarters_other'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Headquarters Other','資格取得日')	
		FROM #TEMP 
		WHERE
			(#TEMP.headquarters_other <> '')
		AND	(ISDATE(#TEMP.headquarters_other)=0)
		--VALIDATE DATE possibility_transfer > headquarters_other
		IF EXISTS (SELECT 1 FROM #TEMP WHERE (ISDATE(#TEMP.possibility_transfer)=1) AND (ISDATE(#TEMP.headquarters_other)=1))
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24				
			,	'headquarters_other'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Headquarters Other','資格取得日')	
			FROM #TEMP 
			WHERE
				CAST(#TEMP.headquarters_other AS DATE) > CAST(#TEMP.possibility_transfer AS DATE)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT possibility_transfer 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'possibility_transfer'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Possibility Transfer','資格有効期限')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.possibility_transfer)>10)
		--VALIDATE DATE possibility_transfer
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'possibility_transfer'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Possibility Transfer','資格有効期限')	
		FROM #TEMP 
		WHERE
			(#TEMP.possibility_transfer <> '')
		AND	(ISDATE(#TEMP.possibility_transfer)=0)
		--VALIDATE DATE possibility_transfer > headquarters_other
		IF EXISTS (SELECT 1 FROM #TEMP WHERE (ISDATE(#TEMP.possibility_transfer)=1) AND (ISDATE(#TEMP.headquarters_other)=1))
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24				
			,	'possibility_transfer'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Possibility Transfer','資格有効期限')	
			FROM #TEMP 
			WHERE
				CAST(#TEMP.headquarters_other AS DATE) > CAST(#TEMP.possibility_transfer AS DATE)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT remarks 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'remarks'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Remarks','備考')	
		FROM #TEMP 
		WHERE
			(LEN(remarks)>50)

		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.qualification_cd NOT LIKE '%[^0-9]%' AND #TEMP.qualification_typ NOT LIKE '%[^0-9]%')
		BEGIN
			-- VALIDATE EXIST qualification_cd IN M5010
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				INNER JOIN M5010 ON (
					M5010.company_cd = @P_company_cd
				AND	M5010.qualification_cd = #TEMP.qualification_cd
				AND M5010.del_datetime is NULL
				)
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'qualification_cd'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Qualification Code','資格コード')
			END
			-- VALIDATE EXIST qualification_cd IN M5010
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				INNER JOIN M5010 ON (
					M5010.company_cd = @P_company_cd
				AND	M5010.qualification_cd = #TEMP.qualification_cd
				AND	M5010.qualification_typ = #TEMP.qualification_typ
				AND M5010.del_datetime is NULL
				)
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'qualification_typ'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Qualification Type','資格種別')
			END
		END
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- PROCESS
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- Chổ nay dung de viet code xu ly du lieu sau khi validate xong
		--
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
			DELETE W FROM  WRK_M0075 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE T.company_cd IS NOT NULL
			--
			INSERT INTO WRK_M0075 
			SELECT 
				#TEMP.exec_user
			,	#TEMP.company_cd
			,	#TEMP.employee_cd				
			,	#TEMP.detail_no					
			,	#TEMP.qualification_cd	
			,	#TEMP.qualification_typ	
			,	IIF(#TEMP.headquarters_other = '', NULL, #TEMP.headquarters_other )			
			,	IIF(#TEMP.possibility_transfer = '', NULL, #TEMP.possibility_transfer )		
			,	#TEMP.remarks			
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
		END
		ELSE
		BEGIN
			DELETE W FROM  WRK_M0075 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE W.exec_user LIKE '%WRK_M0075_%'
			--
			INSERT INTO WRK_M0075 
			SELECT 
				CONCAT('WRK_M0075_', CAST(@P_no AS NVARCHAR(10)))
			,	0
			,	''				
			,	0					
			,	0	
			,	0	
			,	NULL			
			,	NULL		
			,	''
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
		END			
		--
		IF (@P_no = @P_count) 
		BEGIN
			--
			IF (EXISTS(SELECT 1 FROM @ERR_TBL) OR EXISTS(SELECT 1 FROM WRK_M0075 WHERE exec_user LIKE '%WRK_M0075%'))
			BEGIN
				TRUNCATE TABLE WRK_M0075
				--
				GOTO COMPLETE_QUERY
			END
			ELSE
			BEGIN
				-- UPDATE M0075
				UPDATE M0075
				SET 
					qualification_cd			= WRK_M0075.qualification_cd
				,	qualification_typ			= WRK_M0075.qualification_typ
				,	headquarters_other			= WRK_M0075.headquarters_other
				,	possibility_transfer		= WRK_M0075.possibility_transfer
				,	remarks						= WRK_M0075.remarks
				,	upd_user				=	@P_cre_user		
				,	upd_ip					=	@P_cre_ip	
				,	upd_prg					=	'O0100'	
				,	upd_datetime			=	@w_time	
				,	del_user				=	SPACE(0)
				,	del_ip					=	SPACE(0)
				,	del_prg					=	SPACE(0)
				,	del_datetime			=	NULL
				FROM M0075 
				INNER JOIN WRK_M0075 ON (
					M0075.company_cd	=	WRK_M0075.company_cd
				AND M0075.employee_cd	=	WRK_M0075.employee_cd
				AND M0075.detail_no		=	WRK_M0075.detail_no
				AND WRK_M0075.company_cd    = @P_company_cd
				)		

				-- INSERT M0075
				INSERT INTO M0075
				SELECT  
					WRK_M0075.company_cd
				,	WRK_M0075.employee_cd
				,	WRK_M0075.detail_no					
				,	WRK_M0075.qualification_cd	
				,	WRK_M0075.qualification_typ			
				,	WRK_M0075.headquarters_other		
				,	WRK_M0075.possibility_transfer					
				,	WRK_M0075.remarks				
				,	@P_cre_user			
				,	@P_cre_ip	
				,	'O0100'		
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM WRK_M0075 
				LEFT JOIN M0075 ON (
					M0075.company_cd	=	WRK_M0075.company_cd
				AND M0075.employee_cd	=	WRK_M0075.employee_cd
				AND M0075.detail_no		=	WRK_M0075.detail_no
				)	
				WHERE 
					M0075.employee_cd IS NULL
				AND	WRK_M0075.employee_cd <> ''
				AND M0075.detail_no IS NULL
				AND	WRK_M0075.detail_no <> ''
				AND WRK_M0075.company_cd    = @P_company_cd

				--
				DELETE WRK_M0075
			END
		END
		
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	COMPLETE_QUERY:
	--
	IF EXISTS(SELECT 1 FROM @ERR_TBL AS ERR_TBL WHERE ERR_TBL.item = 'EXCEPTION')
	BEGIN
		IF @@TRANCOUNT >0
		BEGIN
			ROLLBACK TRANSACTION
		END
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END

	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO
