/****** Object:  StoredProcedure [dbo].[SPC_O0100_ACT16]    Script Date: 2018/10/02 17:20:02 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_ACT16]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	O0100
--*  
--*  作成日/create date			:	2024/04/12								
--*　作成者/creater				:	PhuongDT								
--*   					
--*  更新日/update date			:  						
--*　更新者/updater				:　  　								     	 
--*　更新内容/update content	:
--*  
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_O0100_ACT16]
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)		=	''
,	@P_exec_user			NVARCHAR(100)		=	''
,	@P_company_cd			SMALLINT			=	0	
,	@P_cre_user				NVARCHAR(50)		=	''
,	@P_cre_ip				NVARCHAR(50)		=	''
,	@P_no					INT					=	0
,	@P_count				INT					=	0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 	
		@w_time			DATETIME2	= SYSDATETIME()
	,	@order_by_min	INT			= 0
	,	@ERR_TBL		ERRTABLE	
	,	@w_detail_no	INT			= 0
	--
	CREATE TABLE #TEMP(
		id									INT		IDENTITY(1,1)
	,	exec_user							NVARCHAR(100)
	,	company_cd							SMALLINT
	,	employee_cd							NVARCHAR(50)
	,	marital_status						NVARCHAR(20)
	,	detail_no							NVARCHAR(20)
	,	full_name							NVARCHAR(50)
	,	full_name_furigana					NVARCHAR(50)
	,	relationship						NVARCHAR(50)
	,	gender								NVARCHAR(50)
	,	birthday							NVARCHAR(50)
	,	residential_classification			NVARCHAR(50)
	,	profession							NVARCHAR(50)
	)
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- VALIDATE
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22						-- mã lỗi (trùng với mã trong bảng message) 					
			,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống 			
			,	0-- oderby				-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0						-- Tùy ý
			,	'json format'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- GET  TEMP
		INSERT INTO #TEMP
		SELECT
			CONCAT(@P_exec_user, CAST(@P_no AS NVARCHAR(10)))																		
		,	@P_company_cd															
		,	RTRIM(LTRIM(employee_cd))											
		,	RTRIM(LTRIM(marital_status))											
		,	RTRIM(LTRIM(detail_no))											
		,	RTRIM(LTRIM(full_name))
		,	RTRIM(LTRIM(full_name_furigana))
		,	RTRIM(LTRIM(relationship))
		,	RTRIM(LTRIM(gender))
		,	RTRIM(LTRIM(birthday))
		,	RTRIM(LTRIM(residential_classification))											
		,	RTRIM(LTRIM(profession))												
		FROM OPENJSON(@P_json) WITH(										
			employee_cd							NVARCHAR(50)
		,	marital_status						NVARCHAR(20)
		,	detail_no							NVARCHAR(20)
		,	full_name							NVARCHAR(50)
		,	full_name_furigana					NVARCHAR(50)
		,	relationship						NVARCHAR(50)
		,	gender								NVARCHAR(50)
		,	birthday							NVARCHAR(50)
		,	residential_classification			NVARCHAR(50)
		,	profession							NVARCHAR(50)						
		)
		--------------------------------------------
		--VALIDATE MAXLENGHT employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.employee_cd)>10)
		--VALIDATE REQUIRED employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.employee_cd = '')
		--	--
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.employee_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				151				
			,	'employee_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Employee Code','社員コード')	
			FROM #TEMP 
			WHERE
				#TEMP.employee_cd = 0
		END
		-- VALIDATE EXIST employee_cd IN M0070
		IF NOT EXISTS (
			SELECT 1 FROM #TEMP 
			INNER JOIN M0070 ON (
				M0070.company_cd = @P_company_cd
			AND	M0070.employee_cd = #TEMP.employee_cd
			AND M0070.del_datetime is NULL
			)
		)
		BEGIN
		INSERT INTO @ERR_TBL
		SELECT
			111				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT marital_status
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'marital_status'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Marital Status','配偶者有無')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.marital_status)>3)
		--VALIDATE NUMERIC marital_status
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'marital_status'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Marital Status','配偶者有無')	
		FROM #TEMP 
		WHERE
			(#TEMP.marital_status <> '')
		AND (#TEMP.marital_status LIKE '%[^0-9]%')
		--VALIDATE NUMERIC marital_status < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.marital_status NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'marital_status'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Marital Status','配偶者有無')
			FROM #TEMP 
			WHERE 
				(#TEMP.marital_status NOT LIKE '%[^0-9]%')
			AND	(#TEMP.marital_status < 0)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT detail_no
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Detail No','明細番号')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.detail_no)>3)
		--VALIDATE REQUIRED detail_no 							
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Detail No','明細番号')	
		FROM #TEMP 
		WHERE
			(#TEMP.detail_no = '')
		--VALIDATE NUMERIC detail_no
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Detail No','明細番号')	
		FROM #TEMP 
		WHERE
			(#TEMP.detail_no <> '')
		AND (#TEMP.detail_no LIKE '%[^0-9]%')
		--VALIDATE NUMERIC detail_no < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.detail_no NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'detail_no'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Detail No','明細番号')
			FROM #TEMP 
			WHERE 
				(#TEMP.detail_no NOT LIKE '%[^0-9]%')
			AND	(#TEMP.detail_no < 0)
		END
		--	validate detail_no = 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.detail_no NOT LIKE '%[^0-9]%' AND #TEMP.detail_no <> '')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	N'detail_no'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = N'en',N'Detail No',N'明細番号')
			FROM #TEMP 
			WHERE
				#TEMP.detail_no = 0
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT full_name 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'full_name'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Full Name','氏名')	
		FROM #TEMP 
		WHERE
			(LEN(full_name)>10)
		-------------------------------------------------
		--VALIDATE MAXLENGHT full_name_furigana 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'full_name_furigana'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Full Name Furigana','フリガナ')	
		FROM #TEMP 
		WHERE
			(LEN(full_name_furigana)>10)
		-------------------------------------------------
		--VALIDATE MAXLENGHT relationship 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'relationship'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Relationship','続柄')	
		FROM #TEMP 
		WHERE
			(LEN(relationship)>10)
		-------------------------------------------------
		--VALIDATE MAXLENGHT gender
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'gender'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Gender','性別')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.gender)>3)
		--VALIDATE NUMERIC gender
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'gender'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Gender','性別')	
		FROM #TEMP 
		WHERE
			(#TEMP.gender <> '')
		AND (#TEMP.gender LIKE '%[^0-9]%')
		--VALIDATE NUMERIC gender < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.gender NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'gender'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Gender','性別')
			FROM #TEMP 
			WHERE 
				(#TEMP.gender NOT LIKE '%[^0-9]%')
			AND	(#TEMP.gender < 0)
			-- VALIDATE EXIST gender IN L0010
			IF NOT EXISTS (
				SELECT * FROM #TEMP 
				LEFT JOIN L0010 ON (
					L0010.number_cd = #TEMP.gender
				AND L0010.name_typ = 68
				AND L0010.del_datetime is NULL
				)
				WHERE #TEMP.gender = 0 OR L0010.number_cd IS NOT NULL
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'gender'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Gender','性別')
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT birthday 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'birthday'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Birthday','生年月日')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.birthday)>10)
		--VALIDATE DATE birthday
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'birthday'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Birthday','生年月日')	
		FROM #TEMP 
		WHERE
			(#TEMP.birthday <> '')
		AND	(ISDATE(#TEMP.birthday)=0)
		--VALIDATE DATE birthday >  today	
		IF EXISTS (SELECT 1 FROM #TEMP WHERE ISDATE(#TEMP.birthday)=1)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24				
			,	'birthday'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Birthday','生年月日')	
			FROM #TEMP 
			WHERE
				CAST(#TEMP.birthday AS DATE) > CAST(FORMAT(GETDATE(), 'yyyy/MM/dd') AS DATE)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT residential_classification
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'residential_classification'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Residential Classification','居住区分')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.residential_classification)>3)
		--VALIDATE NUMERIC residential_classification
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'residential_classification'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Residential Classification','居住区分')	
		FROM #TEMP 
		WHERE
			(#TEMP.residential_classification <> '')
		AND (#TEMP.residential_classification LIKE '%[^0-9]%')
		--VALIDATE NUMERIC residential_classification < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.residential_classification NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'residential_classification'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Residential Classification','居住区分')
			FROM #TEMP 
			WHERE 
				(#TEMP.residential_classification NOT LIKE '%[^0-9]%')
			AND	(#TEMP.residential_classification < 0)
			-- VALIDATE EXIST residential_classification IN L0010
			IF NOT EXISTS (
				SELECT * FROM #TEMP 
				LEFT JOIN L0010 ON (
					L0010.number_cd = #TEMP.residential_classification
				AND L0010.name_typ = 69
				AND L0010.del_datetime is NULL
				)
				WHERE #TEMP.residential_classification = 0 OR L0010.number_cd IS NOT NULL
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'residential_classification'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Residential Classification','居住区分')
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT profession 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'profession'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Profession','職業')	
		FROM #TEMP 
		WHERE
			(LEN(profession)>10)
		-------------------------------------------------
		--VALIDATE UNIQUE detail_no
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.detail_no NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				159			
			,	'detail_no'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Detail No','明細番号')	
			FROM #TEMP INNER JOIN WRK_M0086 ON(
				#TEMP.company_cd			= WRK_M0086.company_cd
			AND #TEMP.employee_cd			= WRK_M0086.employee_cd
			AND WRK_M0086.company_cd		= @P_company_cd
			AND WRK_M0086.detail_no			= #TEMP.detail_no
			)
		END

		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- PROCESS
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- Chổ nay dung de viet code xu ly du lieu sau khi validate xong
		--
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
			DELETE W FROM  WRK_M0085 AS W INNER JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user
			IF NOT EXISTS(SELECT 1 FROM #TEMP INNER JOIN WRK_M0085 ON (
				#TEMP.company_cd =	WRK_M0085.company_cd
			AND	#TEMP.employee_cd =	WRK_M0085.employee_cd
			))
			BEGIN 
				INSERT INTO WRK_M0085 
				SELECT 
					#TEMP.exec_user
				,	#TEMP.company_cd
				,	#TEMP.employee_cd				
				,	#TEMP.marital_status					
				,	@P_cre_user			
				,	@P_cre_ip	
				,	'O0100'		
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				FROM #TEMP
			END
			ELSE
			BEGIN 
				UPDATE WRK_M0085
				SET 
					marital_status			= 	#TEMP.marital_status
				FROM #TEMP 
				INNER JOIN WRK_M0085 ON (
					#TEMP.company_cd			=	WRK_M0085.company_cd
				AND #TEMP.employee_cd			=	WRK_M0085.employee_cd
				AND WRK_M0085.company_cd    	= 	@P_company_cd
				)
			END

			DELETE W FROM  WRK_M0086 AS W INNER JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user
			--
			--DELETE WRK_M0086
			INSERT INTO WRK_M0086 
			SELECT																
				#TEMP.exec_user
			,	#TEMP.company_cd
			,	#TEMP.employee_cd				
			,	#TEMP.detail_no				
			,	#TEMP.full_name					
			,	#TEMP.full_name_furigana	
			,	#TEMP.relationship	
			,	#TEMP.gender
			,	IIF(#TEMP.birthday = '', NULL, #TEMP.birthday )
			,	#TEMP.residential_classification	
			,	#TEMP.profession						
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
		END
		ELSE
		BEGIN
			IF NOT EXISTS (SELECT 1 FROM WRK_M0085
			WHERE WRK_M0085.exec_user NOT LIKE '%'+CONCAT('WRK_M0085', CAST(@P_no AS NVARCHAR(10)))+'%')
			BEGIN
				INSERT INTO WRK_M0085 
				SELECT 
					CONCAT('WRK_M0085_', CAST(@P_no AS NVARCHAR(10)))
				,	0
				,	''				
				,	0
				,	@P_cre_user			
				,	@P_cre_ip	
				,	'O0100'		
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				FROM #TEMP
			END
			IF NOT EXISTS (SELECT 1 FROM WRK_M0086
			WHERE WRK_M0086.exec_user NOT LIKE '%'+CONCAT('WRK_M0086', CAST(@P_no AS NVARCHAR(10)))+'%')
			BEGIN
				INSERT INTO WRK_M0086
				SELECT 
					CONCAT('WRK_M0086_', CAST(@P_no AS NVARCHAR(10)))
				,	0
				,	''				
				,	0			
				,	''				
				,	''	
				,	''	
				,	0
				,	NULL	
				,	0	
				,	''
				,	@P_cre_user			
				,	@P_cre_ip	
				,	'O0100'		
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				FROM #TEMP	
			END
		END																		
		--

		IF (@P_no = @P_count) 
		BEGIN
			--
			IF (EXISTS(SELECT 1 FROM @ERR_TBL) OR EXISTS(SELECT 1 FROM WRK_M0085 WHERE exec_user LIKE '%WRK_M0085%') 
											   OR EXISTS(SELECT 1 FROM WRK_M0086 WHERE exec_user LIKE '%WRK_M0086%'))
			BEGIN
				DELETE WRK_M0085
				DELETE WRK_M0086
				--
				GOTO COMPLETE_QUERY
			END

			-- UPDATE M0085
			UPDATE M0085
			SET 
				marital_status			= 	WRK_M0085.marital_status
			,	upd_user				=	@P_cre_user		
			,	upd_ip					=	@P_cre_ip	
			,	upd_prg					=	'O0100'	
			,	upd_datetime			=	@w_time	
			,	del_user				=	SPACE(0)
			,	del_ip					=	SPACE(0)
			,	del_prg					=	SPACE(0)
			,	del_datetime			=	NULL
			FROM M0085 
			INNER JOIN WRK_M0085 ON (
				M0085.company_cd			=	WRK_M0085.company_cd
			AND M0085.employee_cd			=	WRK_M0085.employee_cd
			AND WRK_M0085.company_cd    	= 	@P_company_cd
			)		

			-- INSERT M0085
			INSERT INTO M0085 
			SELECT  
				WRK_M0085.company_cd
			,	WRK_M0085.employee_cd
			,	WRK_M0085.marital_status		
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM WRK_M0085 
			LEFT JOIN M0085 ON (
				M0085.company_cd			=	WRK_M0085.company_cd
			AND M0085.employee_cd			=	WRK_M0085.employee_cd
			)	
			WHERE 
				M0085.employee_cd IS NULL
			AND	WRK_M0085.employee_cd <> ''
			AND WRK_M0085.company_cd    = @P_company_cd

			-- UPDATE M0086
			UPDATE M0086
			SET 
				full_name						= WRK_M0086.full_name
			,	full_name_furigana				= WRK_M0086.full_name_furigana
			,	relationship					= WRK_M0086.relationship
			,	gender							= WRK_M0086.gender
			,	birthday						= WRK_M0086.birthday
			,	residential_classification		= WRK_M0086.residential_classification
			,	profession						= WRK_M0086.profession
			,	upd_user				=	@P_cre_user		
			,	upd_ip					=	@P_cre_ip	
			,	upd_prg					=	'O0100'	
			,	upd_datetime			=	@w_time	
			,	del_user				=	SPACE(0)
			,	del_ip					=	SPACE(0)
			,	del_prg					=	SPACE(0)
			,	del_datetime			=	NULL
			FROM M0086 
			INNER JOIN WRK_M0086 ON (
				M0086.company_cd			=	WRK_M0086.company_cd
			AND M0086.employee_cd			=	WRK_M0086.employee_cd
			AND M0086.detail_no				=	WRK_M0086.detail_no
			AND WRK_M0086.company_cd    	= 	@P_company_cd
			)		

			-- INSERT M0086
			INSERT INTO M0086 
			SELECT  
				WRK_M0086.company_cd
			,	WRK_M0086.employee_cd
			,	WRK_M0086.detail_no
			,	WRK_M0086.full_name					
			,	WRK_M0086.full_name_furigana	
			,	WRK_M0086.relationship			
			,	WRK_M0086.gender			
			,	WRK_M0086.birthday			
			,	WRK_M0086.residential_classification				
			,	WRK_M0086.profession				
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM WRK_M0086 
			LEFT JOIN M0086 ON (
				M0086.company_cd			=	WRK_M0086.company_cd
			AND M0086.employee_cd			=	WRK_M0086.employee_cd
			AND M0086.detail_no				=	WRK_M0086.detail_no
			)	
			WHERE 
				M0086.employee_cd IS NULL
			AND	WRK_M0086.employee_cd <> ''
			AND M0086.detail_no IS NULL
			AND WRK_M0086.company_cd    = @P_company_cd
			
			--
			DELETE WRK_M0085
			DELETE WRK_M0086
			
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	COMPLETE_QUERY:
	--
	IF EXISTS(SELECT 1 FROM @ERR_TBL AS ERR_TBL WHERE ERR_TBL.item = 'EXCEPTION')
	BEGIN
		IF @@TRANCOUNT >0
		BEGIN
			ROLLBACK TRANSACTION
		END
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END

	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO
