/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT16]    Script Date: 2024/04/08 15:50:05 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT16]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2024/04/12
 *  作成者  ： PhuongDT
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT16]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA (
		id									INT IDENTITY(1,1)
	,	employee_cd							NVARCHAR(20)
	,	marital_status						NVARCHAR(20)
	,	detail_no							NVARCHAR(20)
	,	full_name							NVARCHAR(50)
	,	full_name_furigana					NVARCHAR(50)
	,	relationship						NVARCHAR(50)
	,	gender								NVARCHAR(50)
	,	birthday							NVARCHAR(50)
	,	residential_classification			NVARCHAR(50)
	,	profession							NVARCHAR(50)
	)

	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Employee Code' 					AS employee_cd					
		,	'Marital Status' 					AS marital_status					
		,	'Detail No' 						AS detail_no					
		,	'Full Name' 						AS full_name	
		,	'Full Name Furigana' 				AS full_name_furigana			
		,	'Relationship' 						AS relationship					
		,	'Gender' 							AS gender					
		,	'Birthday' 							AS birthday					
		,	'Residential Classification' 		AS residential_classification			
		,	'Profession' 						AS profession							
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'社員コード' 				        AS employee_cd
		,	'配偶者有無' 					    AS marital_status
		,	'明細番号' 						AS detail_no					
		,	'氏名' 							AS full_name	
		,	'フリガナ' 						AS full_name_furigana			
		,	'続柄' 							AS relationship					
		,	'性別' 							AS gender					
		,	'生年月日' 						AS birthday					
		,	'居住区分' 						AS residential_classification			
		,	'職業' 							AS profession
	END
	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(M0085.employee_cd,'')				
	,	ISNULL(M0085.marital_status,0)	
	,	ISNULL(detail_no,0)	
	,	ISNULL(full_name,'')				
	,	ISNULL(full_name_furigana,'')				
	,	ISNULL(relationship,'')				
	,	ISNULL(gender,0)				
	,	FORMAT(NULLIF(birthday,'1900-01-01'), 'yyyy/MM/dd')					
	,	ISNULL(residential_classification,0)				
	,	ISNULL(profession,'')	
	FROM M0085
	LEFT JOIN M0086 ON(
		M0085.company_cd	= M0086.company_cd
	AND M0085.employee_cd	= M0086.employee_cd
	AND M0086.del_datetime IS NULL
	)
	WHERE 
		M0085.company_cd			=	@P_company_cd
	AND M0085.del_datetime IS NULL
	ORDER BY 
		CASE (SELECT 1 WHERE M0085.employee_cd NOT LIKE '%[^0-9]%')
		   WHEN 1 
		   THEN CAST(M0085.employee_cd AS BIGINT) 
		   ELSE 999999999999999 
		END 
    ,	M0085.employee_cd

	--[0]
	SELECT
		#DATA.employee_cd				
	,	#DATA.marital_status					
	,	#DATA.detail_no					
	,	#DATA.full_name
	,	#DATA.full_name_furigana
	,	#DATA.relationship			
	,	#DATA.gender			
	,	#DATA.birthday			
	,	#DATA.residential_classification		
	,	#DATA.profession									
	FROM #DATA
	ORDER BY
		id
END
GO