/****** Object:  StoredProcedure [dbo].[SPC_O0100_ACT11]    Script Date: 2018/10/02 17:20:02 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_ACT11]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	O0100
--*  
--*  作成日/create date			:	2024/04/09								
--*　作成者/creater				:	PhuongDT								
--*   					
--*  更新日/update date			:  						
--*　更新者/updater				:　  　								     	 
--*　更新内容/update content	:
--*  
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_O0100_ACT11]
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)		=	''
,	@P_exec_user			NVARCHAR(100)		=	''
,	@P_company_cd			SMALLINT			=	0	
,	@P_cre_user				NVARCHAR(50)		=	''
,	@P_cre_ip				NVARCHAR(50)		=	''
,	@P_no					INT					=	0
,	@P_count				INT					=	0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 	
		@w_time			DATETIME2	= SYSDATETIME()
	,	@order_by_min	INT			= 0
	,	@ERR_TBL		ERRTABLE	
	--
	CREATE TABLE #TEMP(
		id							INT		IDENTITY(1,1)
	,	exec_user					NVARCHAR(100)
	,	company_cd					SMALLINT
	,	employee_cd					NVARCHAR(50)
	,	blood_type					NVARCHAR(20)
	,	headquarters_prefectures	NVARCHAR(50)
	,	headquarters_other			NVARCHAR(50)
	,	possibility_transfer		NVARCHAR(50)
	,	nationality					NVARCHAR(20)
	,	residence_card_no			NVARCHAR(50)
	,	status_residence			NVARCHAR(50)
	,	expiry_date					NVARCHAR(20)
	,	permission_activities		NVARCHAR(50)
	,	disability_classification	NVARCHAR(50)
	,	disability_recognition_date	NVARCHAR(50)
	,	disability_content			NVARCHAR(100)
	,	common_name					NVARCHAR(150)
	,	common_name_furigana		NVARCHAR(150)
	,	maiden_name					NVARCHAR(150)
	,	maiden_name_furigana		NVARCHAR(150)
	,	business_name				NVARCHAR(150)
	,	business_name_furigana		NVARCHAR(150)
	,	base_style					NVARCHAR(20)
	,	sub_style					NVARCHAR(20)
	,	driver_point				NVARCHAR(20)
	,	analytical_point			NVARCHAR(20)
	,	expressive_point			NVARCHAR(20)
	,	amiable_point				NVARCHAR(20)
	)
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- VALIDATE
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22						-- mã lỗi (trùng với mã trong bảng message) 					
			,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống 			
			,	0-- oderby				-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0						-- Tùy ý
			,	'json format'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- GET  TEMP
		INSERT INTO #TEMP
		SELECT
			CONCAT(@P_exec_user, CAST(@P_no AS NVARCHAR(10)))																		
		,	@P_company_cd															
		,	RTRIM(LTRIM(employee_cd))											
		,	RTRIM(LTRIM(blood_type))
		,	RTRIM(LTRIM(headquarters_prefectures))
		,	RTRIM(LTRIM(headquarters_other))											
		,	RTRIM(LTRIM(possibility_transfer))													
		,	RTRIM(LTRIM(nationality))												
		,	RTRIM(LTRIM(residence_card_no))												
		,	RTRIM(LTRIM(status_residence))											
		,	RTRIM(LTRIM(expiry_date))										
		,	RTRIM(LTRIM(permission_activities))
		,	RTRIM(LTRIM(disability_classification))
		,	RTRIM(LTRIM(disability_recognition_date))
		,	RTRIM(LTRIM(disability_content))
		,	RTRIM(LTRIM(common_name))
		,	RTRIM(LTRIM(common_name_furigana))
		,	RTRIM(LTRIM(maiden_name))		
		,	RTRIM(LTRIM(maiden_name_furigana))		
		,	RTRIM(LTRIM(business_name))
		,	RTRIM(LTRIM(business_name_furigana))
		,	RTRIM(LTRIM(base_style))
		,	RTRIM(LTRIM(sub_style))
		,	REPLACE(RTRIM(LTRIM(driver_point)),'.00','')	
		,	REPLACE(RTRIM(LTRIM(analytical_point)),'.00','')	
		,	REPLACE(RTRIM(LTRIM(expressive_point)),'.00','')
		,	REPLACE(RTRIM(LTRIM(amiable_point)),'.00','')
		FROM OPENJSON(@P_json) WITH(										
			employee_cd					NVARCHAR(50)
		,	blood_type					NVARCHAR(20)
		,	headquarters_prefectures	NVARCHAR(50)
		,	headquarters_other			NVARCHAR(50)
		,	possibility_transfer		NVARCHAR(50)
		,	nationality					NVARCHAR(20)
		,	residence_card_no			NVARCHAR(50)
		,	status_residence			NVARCHAR(50)
		,	expiry_date					NVARCHAR(20)
		,	permission_activities		NVARCHAR(50)
		,	disability_classification	NVARCHAR(50)
		,	disability_recognition_date	NVARCHAR(50)
		,	disability_content			NVARCHAR(100)
		,	common_name					NVARCHAR(150)
		,	common_name_furigana		NVARCHAR(150)
		,	maiden_name					NVARCHAR(150)
		,	maiden_name_furigana		NVARCHAR(150)
		,	business_name				NVARCHAR(150)
		,	business_name_furigana		NVARCHAR(150)
		,	base_style					NVARCHAR(20)
		,	sub_style					NVARCHAR(20)
		,	driver_point				NVARCHAR(20)
		,	analytical_point			NVARCHAR(20)
		,	expressive_point			NVARCHAR(20)
		,	amiable_point				NVARCHAR(20)						
		)
		--------------------------------------------
		--VALIDATE MAXLENGHT employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.employee_cd)>10)
		--VALIDATE REQUIRED employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.employee_cd = '')
		--	--
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.employee_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				151				
			,	'employee_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Employee Code','社員コード')	
			FROM #TEMP 
			WHERE
				#TEMP.employee_cd = 0
		END
		-- VALIDATE EXIST employee_cd IN M0070
		IF NOT EXISTS (
			SELECT 1 FROM #TEMP 
			INNER JOIN M0070 ON (
				M0070.company_cd = @P_company_cd
			AND	M0070.employee_cd = #TEMP.employee_cd
			AND M0070.del_datetime is NULL
			)
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				111				
			,	'employee_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Employee Code','社員コード')	
		END
		-------------------------------------------------
		--VALIDATE NUMERIC blood_type
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'blood_type'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Blood Type','血液型')	
		FROM #TEMP 
		WHERE
			(#TEMP.blood_type <> '')
		AND (#TEMP.blood_type LIKE '%[^0-9]%')
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.blood_type NOT LIKE '%[^0-9]%')
		BEGIN
			--VALIDATE NUMERIC blood_type < 0
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'blood_type'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Blood Type','血液型')
			FROM #TEMP 
			WHERE 
				(#TEMP.blood_type NOT LIKE '%[^0-9]%')
			AND	(#TEMP.blood_type < 0)
			-- VALIDATE EXIST blood_type IN L0010
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				INNER JOIN L0010 ON (
					L0010.number_cd = #TEMP.blood_type
				AND L0010.name_typ = 52
				AND L0010.del_datetime is NULL
				)
			) AND NOT EXISTS (SELECT #TEMP.blood_type FROM #TEMP WHERE #TEMP.blood_type = '' OR #TEMP.blood_type IS NULL)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'blood_type'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Blood Type','血液型')
			END
		END
		-------------------------------------------------
		--VALIDATE NUMERIC headquarters_prefectures
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'headquarters_prefectures'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Headquarters Prefectures','本拠地_都道府県')	
		FROM #TEMP 
		WHERE
			(#TEMP.headquarters_prefectures <> '')
		AND (#TEMP.headquarters_prefectures LIKE '%[^0-9]%')
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.headquarters_prefectures NOT LIKE '%[^0-9]%')
		BEGIN
			--VALIDATE NUMERIC headquarters_prefectures < 0
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'headquarters_prefectures'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Headquarters Prefectures','本拠地_都道府県')
			FROM #TEMP 
			WHERE 
				(#TEMP.headquarters_prefectures NOT LIKE '%[^0-9]%')
			AND	(#TEMP.headquarters_prefectures < 0)
			-- VALIDATE EXIST headquarters_prefectures IN L0011
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				LEFT JOIN L0011 ON (
					L0011.number_cd = #TEMP.headquarters_prefectures
				AND #TEMP.headquarters_prefectures <> 0
 				AND L0011.del_datetime is NULL
				)
				WHERE #TEMP.headquarters_prefectures = 0 OR L0011.number_cd IS NOT NULL
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'headquarters_prefectures'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Headquarters Prefectures','本拠地_都道府県')
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT headquarters_other 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'headquarters_other'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Headquarters Other','本拠地_その他')	
		FROM #TEMP 
		WHERE
			(LEN(headquarters_other)>20)
		-------------------------------------------------
		--VALIDATE NUMERIC possibility_transfer
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'possibility_transfer'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Possibility Transfer','転勤可否')	
		FROM #TEMP 
		WHERE
			(#TEMP.possibility_transfer <> '')
		AND (#TEMP.possibility_transfer LIKE '%[^0-9]%')
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.possibility_transfer NOT LIKE '%[^0-9]%')
		BEGIN
			--VALIDATE NUMERIC possibility_transfer < 0
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'possibility_transfer'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Possibility Transfer','転勤可否')
			FROM #TEMP 
			WHERE 
				(#TEMP.possibility_transfer NOT LIKE '%[^0-9]%')
			AND	(#TEMP.possibility_transfer < 0)
			-- VALIDATE EXIST possibility_transfer IN L0010
			IF NOT EXISTS (
				SELECT * FROM #TEMP 
				LEFT JOIN L0010 ON (
					L0010.number_cd = #TEMP.possibility_transfer
				AND L0010.name_typ = 53
				AND L0010.del_datetime is NULL
				)
				WHERE #TEMP.possibility_transfer = 0 OR L0010.number_cd IS NOT NULL
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'possibility_transfer'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Possibility Transfer','転勤可否')
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT nationality 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'nationality'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Nationality','国籍')	
		FROM #TEMP 
		WHERE
			(LEN(nationality)>3)
		-- VALIDATE EXIST nationality IN L0012
		IF NOT EXISTS (
			SELECT * FROM #TEMP 
			INNER JOIN L0012 ON (
                L0012.del_datetime is NULL
			AND	(L0012.number_cd = #TEMP.nationality
			OR L0012.name = #TEMP.nationality
			OR L0012.name_en = #TEMP.nationality)
			)
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				70				
			,	'nationality'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Nationality','国籍')
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT residence_card_no 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'residence_card_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Residence Card No','在留カード番号')	
		FROM #TEMP 
		WHERE
			(LEN(residence_card_no)>12)
		-------------------------------------------------
		--VALIDATE NUMERIC status_residence
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'status_residence'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Status Residence','在留資格')	
		FROM #TEMP 
		WHERE
			(#TEMP.status_residence <> '')
		AND (#TEMP.status_residence LIKE '%[^0-9]%')
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.status_residence NOT LIKE '%[^0-9]%')
		BEGIN
			--VALIDATE NUMERIC status_residence < 0
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'status_residence'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Status Residence','在留資格')
			FROM #TEMP 
			WHERE 
				(#TEMP.status_residence NOT LIKE '%[^0-9]%')
			AND	(#TEMP.status_residence < 0)
			-- VALIDATE EXIST status_residence IN L0010
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				LEFT JOIN L0010 ON (
					L0010.number_cd = #TEMP.status_residence
				AND L0010.name_typ = 54
				AND L0010.del_datetime is NULL
				)
				WHERE #TEMP.status_residence = 0 OR L0010.number_cd IS NOT NULL
			) AND NOT EXISTS (SELECT #TEMP.status_residence FROM #TEMP WHERE #TEMP.status_residence = '' OR #TEMP.status_residence IS NULL)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'status_residence'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Status Residence','在留資格')
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT expiry_date 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'expiry_date'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Expiry Date','在留期限日')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.expiry_date)>10)
		--VALIDATE DATE expiry_date
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'expiry_date'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Expiry Date','在留期限日')	
		FROM #TEMP 
		WHERE
			(#TEMP.expiry_date <> '')
		AND	(ISDATE(#TEMP.expiry_date)=0)
		-------------------------------------------------
		--VALIDATE NUMERIC permission_activities
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'permission_activities'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Permission Activities','資格外活動許可')	
		FROM #TEMP 
		WHERE
			(#TEMP.permission_activities <> '')
		AND (#TEMP.permission_activities LIKE '%[^0-9]%')
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.permission_activities NOT LIKE '%[^0-9]%')
		BEGIN
			--VALIDATE NUMERIC permission_activities < 0
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'permission_activities'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Permission Activities','資格外活動許可')
			FROM #TEMP 
			WHERE 
				(#TEMP.permission_activities NOT LIKE '%[^0-9]%')
			AND	(#TEMP.permission_activities < 0)
			-- VALIDATE EXIST permission_activities IN L0010
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				LEFT JOIN L0010 ON (
					L0010.number_cd = #TEMP.permission_activities
				AND L0010.name_typ = 55
				AND L0010.del_datetime is NULL
				)
				WHERE #TEMP.permission_activities = 0 OR L0010.number_cd IS NOT NULL
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'permission_activities'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Permission Activities','資格外活動許可')
			END
		END
		-------------------------------------------------
		--VALIDATE NUMERIC disability_classification
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'disability_classification'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Disability Classification','障害手帳区分')	
		FROM #TEMP 
		WHERE
			(#TEMP.disability_classification <> '')
		AND (#TEMP.disability_classification LIKE '%[^0-9]%')
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.disability_classification NOT LIKE '%[^0-9]%')
		BEGIN
			--VALIDATE NUMERIC disability_classification < 0
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'disability_classification'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Disability Classification','障害手帳区分')
			FROM #TEMP 
			WHERE 
				(#TEMP.disability_classification NOT LIKE '%[^0-9]%')
			AND	(#TEMP.disability_classification < 0)
			-- VALIDATE EXIST disability_classification IN L0010
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				LEFT JOIN L0010 ON (
					L0010.number_cd = #TEMP.disability_classification
				AND L0010.name_typ = 56
				AND L0010.del_datetime is NULL
				)
				WHERE #TEMP.disability_classification = 0 OR L0010.number_cd IS NOT NULL
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'disability_classification'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Disability Classification','障害手帳区分')
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT disability_recognition_date 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'disability_recognition_date'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Disability Recognition Date','障害認定日')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.disability_recognition_date)>10)
		--VALIDATE DATE disability_recognition_date
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'disability_recognition_date'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Disability Recognition Date','障害認定日')	
		FROM #TEMP 
		WHERE
			(#TEMP.disability_recognition_date <> '')
		AND	(ISDATE(#TEMP.disability_recognition_date)=0)
		-------------------------------------------------
		--VALIDATE MAXLENGHT disability_content 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'disability_content'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Disability Content','障害内容')	
		FROM #TEMP 
		WHERE
			(LEN(disability_content)>50)
		-------------------------------------------------
		--VALIDATE MAXLENGHT common_name 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'common_name'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Common Name','通称名')	
		FROM #TEMP 
		WHERE
			(LEN(common_name)>100)
		-------------------------------------------------
		--VALIDATE MAXLENGHT common_name_furigana 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'common_name_furigana'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Common Name Furigana','通称名フリガナ')	
		FROM #TEMP 
		WHERE
			(LEN(common_name_furigana)>100)
		-------------------------------------------------
		--VALIDATE MAXLENGHT maiden_name 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'maiden_name'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Maiden Name','旧姓')	
		FROM #TEMP 
		WHERE
			(LEN(maiden_name)>100)
		-------------------------------------------------
		--VALIDATE MAXLENGHT maiden_name_furigana 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'maiden_name_furigana'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Maiden Name Furigana','旧姓フリガナ')	
		FROM #TEMP 
		WHERE
			(LEN(maiden_name_furigana)>100)				
		-------------------------------------------------
		--VALIDATE MAXLENGHT business_name 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'business_name'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Business Name','ビジネスネーム')	
		FROM #TEMP 
		WHERE
			(LEN(business_name)>100)
		-------------------------------------------------
		--VALIDATE MAXLENGHT business_name_furigana 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'business_name_furigana'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Business Name Furigana','ビジネスネームフリガナ')	
		FROM #TEMP 
		WHERE
			(LEN(business_name_furigana)>100)
		------------------------------------------
		--VALIDATE NUMERIC base_style 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'base_style'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Base Style','ベーススタイル')	
		FROM #TEMP 
		WHERE
			(#TEMP.base_style <> '') 
		AND (#TEMP.base_style LIKE '%[^0-9]%')
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.base_style NOT LIKE '%[^0-9]%')
		BEGIN
			--VALIDATE NUMERIC base_style < 0
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'base_style'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Base Style','ベーススタイル')	
			FROM #TEMP 
			WHERE 
				(#TEMP.base_style NOT LIKE '%[^0-9]%')
			AND	(#TEMP.base_style < 0)
			-- VALIDATE EXIST base_style IN L0010
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				LEFT JOIN L0010 ON (
					L0010.number_cd = #TEMP.base_style
				AND L0010.name_typ = 18
				AND L0010.del_datetime is NULL
				)
				WHERE #TEMP.base_style = 0 OR L0010.number_cd IS NOT NULL
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'base_style'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Base Style','ベーススタイル')	
			END
		END
		------------------------------------------------------
		--VALIDATE NUMERIC sub_style 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'sub_style'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Sub Style','サブスタイル')
		FROM #TEMP 
		WHERE
			(#TEMP.sub_style <> '') 
		AND (#TEMP.sub_style LIKE '%[^0-9]%')
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.sub_style NOT LIKE '%[^0-9]%')
		BEGIN
			--VALIDATE NUMERIC sub_style < 0
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'sub_style'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Sub Style','サブスタイル')	
			FROM #TEMP 
			WHERE 
				(#TEMP.sub_style NOT LIKE '%[^0-9]%')
			AND	(#TEMP.sub_style < 0)
			-- VALIDATE EXIST sub_style IN L0010
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				LEFT JOIN L0010 ON (
					L0010.number_cd = #TEMP.sub_style
				AND L0010.name_typ = 18
				AND L0010.del_datetime is NULL
				)
				WHERE #TEMP.sub_style = 0 OR L0010.number_cd IS NOT NULL
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'sub_style'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Sub Style','サブスタイル')
			END
		END
		------------------------------------------------------
		--VALIDATE MAXLENGHT driver_point 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'driver_point'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Driver Point','ドライバー得点')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.driver_point)>3)
		--VALIDATE NUMERIC driver_point 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'driver_point'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Driver Point','ドライバー得点')	
		FROM #TEMP 
		WHERE
			(#TEMP.driver_point <> '') 
		AND (#TEMP.driver_point LIKE '%[^0-9]%')
		--VALIDATE NUMERIC driver_point < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.driver_point NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'driver_point'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Driver Point','ドライバー得点')	
			FROM #TEMP 
			WHERE 
				(#TEMP.driver_point NOT LIKE '%[^0-9]%')
			AND	(#TEMP.driver_point < 0)
		END
		------------------------------------------------------
		--VALIDATE MAXLENGHT analytical_point 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'analytical_point'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Analytical Point','アナリティカル得点')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.analytical_point)>3)
		--VALIDATE NUMERIC analytical_point 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'analytical_point'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Analytical Point','アナリティカル得点')	
		FROM #TEMP 
		WHERE
			(#TEMP.analytical_point <> '') 
		AND (#TEMP.analytical_point LIKE '%[^0-9]%')
		--VALIDATE NUMERIC analytical_point < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.analytical_point NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'analytical_point'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Analytical Point','アナリティカル得点')	
			FROM #TEMP 
			WHERE 
				(#TEMP.analytical_point NOT LIKE '%[^0-9]%')
			AND	(#TEMP.analytical_point < 0)
		END
		------------------------------------------------------
		--VALIDATE MAXLENGHT expressive_point 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'expressive_point'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Expressive Point','エクスプレッシブ得点'	)	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.expressive_point)>3)
		--VALIDATE NUMERIC expressive_point 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'expressive_point'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Expressive Point','エクスプレッシブ得点'	)	
		FROM #TEMP 
		WHERE
			(#TEMP.expressive_point <> '') 
		AND (#TEMP.expressive_point LIKE '%[^0-9]%')
		--VALIDATE NUMERIC expressive_point < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.expressive_point NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'expressive_point'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Expressive Point','エクスプレッシブ得点'	)
			FROM #TEMP 
			WHERE 
				(#TEMP.expressive_point NOT LIKE '%[^0-9]%')
			AND	(#TEMP.expressive_point < 0)
		END
		------------------------------------------------------
		--VALIDATE MAXLENGHT amiable_point 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'amiable_point'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Amiable Point','エミアブル得点')
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.amiable_point)>3)
		--VALIDATE NUMERIC amiable_point 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'amiable_point'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Amiable Point','エミアブル得点')
		FROM #TEMP 
		WHERE
			(#TEMP.amiable_point <> '') 
		AND (#TEMP.amiable_point LIKE '%[^0-9]%')
		--VALIDATE NUMERIC amiable_point < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.amiable_point NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'amiable_point'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Amiable Point','エミアブル得点')
			FROM #TEMP 
			WHERE 
				(#TEMP.amiable_point NOT LIKE '%[^0-9]%')
			AND	(#TEMP.amiable_point < 0)
		END

		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- PROCESS
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- Chổ nay dung de viet code xu ly du lieu sau khi validate xong
		--
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
			DELETE W FROM  WRK_M0074 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE T.company_cd IS NOT NULL
			--
			INSERT INTO WRK_M0074 
			SELECT 
				#TEMP.exec_user
			,	#TEMP.company_cd
			,	#TEMP.employee_cd				
			,	IIF(#TEMP.blood_type = '', 0, #TEMP.blood_type )							
			,	#TEMP.headquarters_prefectures	
			,	#TEMP.headquarters_other			
			,	#TEMP.possibility_transfer		
			,	IIF(#TEMP.nationality = '', '', L0012.number_cd)				
			,	#TEMP.residence_card_no			
			,	#TEMP.status_residence			
			,	IIF(#TEMP.expiry_date = '', NULL, #TEMP.expiry_date )				
			,	#TEMP.permission_activities		
			,	#TEMP.disability_classification	
			,	IIF(#TEMP.disability_recognition_date = '', NULL, #TEMP.disability_recognition_date )	
			,	#TEMP.disability_content			
			,	#TEMP.common_name					
			,	#TEMP.common_name_furigana		
			,	#TEMP.maiden_name					
			,	#TEMP.maiden_name_furigana		
			,	#TEMP.business_name				
			,	#TEMP.business_name_furigana		
			,	'' 									-- attached_file1
			,	'' 									-- attached_file1_name
			,	NULL 								-- attached_file1_uploaddatetime
			,	'' 
			,	'' 
			,	NULL 
			,	'' 
			,	'' 
			,	NULL 
			,	'' 
			,	'' 
			,	NULL 
			,	'' 
			,	'' 
			,	NULL 
			,	#TEMP.base_style					
			,	#TEMP.sub_style					
			,	#TEMP.driver_point				
			,	#TEMP.analytical_point			
			,	#TEMP.expressive_point			
			,	#TEMP.amiable_point	
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
			LEFT JOIN L0012 ON (
                L0012.del_datetime IS NULL
			AND	(L0012.number_cd = #TEMP.nationality
			OR L0012.name = #TEMP.nationality
			OR L0012.name_en = #TEMP.nationality)
			)
		END
		ELSE
		BEGIN
			DELETE W FROM  WRK_M0074 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE W.exec_user LIKE '%WRK_M0074_%'
			--
			INSERT INTO WRK_M0074 
			SELECT 
				CONCAT('WRK_M0074_', CAST(@P_no AS NVARCHAR(10)))
			,	0
			,	''				
			,	0					
			,	0	
			,	''			
			,	0		
			,	''					
			,	''			
			,	0			
			,	NULL					
			,	0		
			,	0	
			,	NULL	
			,	''
			,	''					
			,	''					
			,	''					
			,	''					
			,	''					
			,	''					
			,	'' 									-- attached_file1
			,	'' 									-- attached_file1_name
			,	NULL 								-- attached_file1_uploaddatetime
			,	'' 
			,	'' 
			,	NULL 
			,	'' 
			,	'' 
			,	NULL 
			,	'' 
			,	'' 
			,	NULL 
			,	'' 
			,	'' 
			,	NULL 
			,	0					
			,	0					
			,	0				
			,	0			
			,	0			
			,	0	
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
		END			
		--

		IF (@P_no = @P_count) 
		BEGIN
			--
			IF (EXISTS(SELECT 1 FROM @ERR_TBL) OR EXISTS(SELECT 1 FROM WRK_M0074 WHERE exec_user LIKE '%WRK_M0074%'))
			BEGIN
				TRUNCATE TABLE WRK_M0074
				--
				GOTO COMPLETE_QUERY
			END

			-- UPDATE M0074
			UPDATE M0074
			SET 
				blood_type					= WRK_M0074.blood_type
			,	headquarters_prefectures	= WRK_M0074.headquarters_prefectures
			,	headquarters_other			= WRK_M0074.headquarters_other
			,	possibility_transfer		= WRK_M0074.possibility_transfer
			,	nationality					= WRK_M0074.nationality
			,	residence_card_no			= WRK_M0074.residence_card_no
			,	status_residence			= WRK_M0074.status_residence
			,	expiry_date					= WRK_M0074.expiry_date
			,	permission_activities		= WRK_M0074.permission_activities
			,	disability_classification	= WRK_M0074.disability_classification
			,	disability_recognition_date	= WRK_M0074.disability_recognition_date
			,	disability_content			= WRK_M0074.disability_content
			,	common_name					= WRK_M0074.common_name
			,	common_name_furigana		= WRK_M0074.common_name_furigana
			,	maiden_name					= WRK_M0074.maiden_name
			,	maiden_name_furigana		= WRK_M0074.maiden_name_furigana
			,	business_name				= WRK_M0074.business_name
			,	business_name_furigana		= WRK_M0074.business_name_furigana
			,	base_style					= WRK_M0074.base_style
			,	sub_style					= WRK_M0074.sub_style
			,	driver_point				= WRK_M0074.driver_point
			,	analytical_point			= WRK_M0074.analytical_point
			,	expressive_point			= WRK_M0074.expressive_point
			,	amiable_point				= WRK_M0074.amiable_point
			,	upd_user				=	@P_cre_user		
			,	upd_ip					=	@P_cre_ip	
			,	upd_prg					=	'O0100'	
			,	upd_datetime			=	@w_time	
			FROM M0074 
			INNER JOIN WRK_M0074 ON (
				M0074.company_cd	=	WRK_M0074.company_cd
			AND M0074.employee_cd	=	WRK_M0074.employee_cd
			AND WRK_M0074.company_cd    = @P_company_cd
			)		

			-- INSERT M0074
			INSERT INTO M0074
			SELECT  
				WRK_M0074.company_cd
			,	WRK_M0074.employee_cd
			,	WRK_M0074.blood_type					
			,	WRK_M0074.headquarters_prefectures	
			,	WRK_M0074.headquarters_other			
			,	WRK_M0074.possibility_transfer		
			,	WRK_M0074.nationality					
			,	WRK_M0074.residence_card_no			
			,	WRK_M0074.status_residence			
			,	WRK_M0074.expiry_date					
			,	WRK_M0074.permission_activities		
			,	WRK_M0074.disability_classification	
			,	WRK_M0074.disability_recognition_date	
			,	WRK_M0074.disability_content			
			,	WRK_M0074.common_name					
			,	WRK_M0074.common_name_furigana		
			,	WRK_M0074.maiden_name					
			,	WRK_M0074.maiden_name_furigana		
			,	WRK_M0074.business_name				
			,	WRK_M0074.business_name_furigana		
			,	'' 									-- attached_file1
			,	'' 									-- attached_file1_name
			,	NULL 								-- attached_file1_uploaddatetime
			,	'' 
			,	'' 
			,	NULL 
			,	'' 
			,	'' 
			,	NULL 
			,	'' 
			,	'' 
			,	NULL 
			,	'' 
			,	'' 
			,	NULL 
			,	WRK_M0074.base_style					
			,	WRK_M0074.sub_style					
			,	WRK_M0074.driver_point				
			,	WRK_M0074.analytical_point			
			,	WRK_M0074.expressive_point			
			,	WRK_M0074.amiable_point				
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM WRK_M0074 
			LEFT JOIN M0074 ON (
				M0074.company_cd	=	WRK_M0074.company_cd
			AND M0074.employee_cd	=	WRK_M0074.employee_cd
			)	
			WHERE 
				M0074.employee_cd IS NULL
			AND	WRK_M0074.employee_cd <> ''
			AND WRK_M0074.company_cd    = @P_company_cd

			--
			DELETE WRK_M0074
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	COMPLETE_QUERY:
	--
	IF EXISTS(SELECT 1 FROM @ERR_TBL AS ERR_TBL WHERE ERR_TBL.item = 'EXCEPTION')
	BEGIN
		IF @@TRANCOUNT >0
		BEGIN
			ROLLBACK TRANSACTION
		END
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END

	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO
