/****** Object:  StoredProcedure [dbo].[SPC_O0100_ACT13]    Script Date: 2018/10/02 17:20:02 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_ACT13]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	O0100
--*  
--*  作成日/create date			:	2024/04/10								
--*　作成者/creater				:	PhuongDT								
--*   					
--*  更新日/update date			:  						
--*　更新者/updater				:　  　								     	 
--*　更新内容/update content	:
--*  
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_O0100_ACT13]
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)		=	''
,	@P_exec_user			NVARCHAR(100)		=	''
,	@P_company_cd			SMALLINT			=	0	
,	@P_cre_user				NVARCHAR(50)		=	''
,	@P_cre_ip				NVARCHAR(50)		=	''
,	@P_no					INT					=	0
,	@P_count				INT					=	0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 	
		@w_time			DATETIME2	= SYSDATETIME()
	,	@order_by_min	INT			= 0
	,	@ERR_TBL		ERRTABLE	
	,	@w_detail_no	INT			= 0
	--
	CREATE TABLE #TEMP(
		id									INT		IDENTITY(1,1)
	,	exec_user							NVARCHAR(100)
	,	company_cd							SMALLINT
	,	employee_cd							NVARCHAR(50)
	,	detail_no							NVARCHAR(20)
	,	final_education_kbn					NVARCHAR(50)
	,	final_education_other				NVARCHAR(100)
	,	graduation_year						NVARCHAR(50)
	,	graduation_school_cd				NVARCHAR(50)
	,	graduation_school_other				NVARCHAR(100)
	,	faculty								NVARCHAR(100)
	,	major								NVARCHAR(100)
	)
	
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- VALIDATE
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22						-- mã lỗi (trùng với mã trong bảng message) 					
			,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống 			
			,	0-- oderby				-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0						-- Tùy ý
			,	'json format'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- GET  TEMP
		INSERT INTO #TEMP
		SELECT
			CONCAT(@P_exec_user, CAST(@P_no AS NVARCHAR(10)))																		
		,	@P_company_cd															
		,	RTRIM(LTRIM(employee_cd))											
		,	RTRIM(LTRIM(detail_no))											
		,	RTRIM(LTRIM(final_education_kbn))
		,	RTRIM(LTRIM(final_education_other))
		,	RTRIM(LTRIM(graduation_year))
		,	RTRIM(LTRIM(graduation_school_cd))
		,	RTRIM(LTRIM(graduation_school_other))
		,	RTRIM(LTRIM(faculty))											
		,	RTRIM(LTRIM(major))												
		FROM OPENJSON(@P_json) WITH(										
			employee_cd							NVARCHAR(50)
		,	detail_no							NVARCHAR(20)
		,	final_education_kbn					NVARCHAR(50)
		,	final_education_other				NVARCHAR(100)
		,	graduation_year						NVARCHAR(50)
		,	graduation_school_cd				NVARCHAR(50)
		,	graduation_school_other				NVARCHAR(100)
		,	faculty								NVARCHAR(100)
		,	major								NVARCHAR(100)						
		)
		
		--VALIDATE NUMERIC detail_no

		IF NOT EXISTS (SELECT 1 FROM #TEMP WHERE ISNUMERIC(#TEMP.detail_no) = 1)
		BEGIN
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	N'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = N'en',N'Detail No',N'明細番号')	
		END
		ELSE
		BEGIN
			SET @w_detail_no = (SELECT detail_no from #TEMP)
		END
		
		--------------------------------------------
		--VALIDATE MAXLENGHT employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.employee_cd)>10)
		--VALIDATE REQUIRED employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.employee_cd = '')
		--	--
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.employee_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				151				
			,	'employee_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Employee Code','社員コード')	
			FROM #TEMP 
			WHERE
				#TEMP.employee_cd = 0
		END
		-- VALIDATE EXIST employee_cd IN M0070
		IF NOT EXISTS (
			SELECT 1 FROM #TEMP 
			INNER JOIN M0070 ON (
				M0070.company_cd = @P_company_cd
			AND	M0070.employee_cd = #TEMP.employee_cd
			AND M0070.del_datetime is NULL
			)
		)
		BEGIN
		INSERT INTO @ERR_TBL
		SELECT
			111				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT detail_no
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	N'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = N'en',N'Detail No',N'明細番号')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.detail_no)>3)
		
		--VALIDATE NUMERIC detail_no < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.detail_no NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	N'detail_no'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = N'en',N'Detail No',N'明細番号')
			FROM #TEMP 
			WHERE 
				(#TEMP.detail_no NOT LIKE '%[^0-9]%')
			AND	(#TEMP.detail_no < 0)
		END
		--	validate detail_no = blank
		INSERT INTO @ERR_TBL
		SELECT
			8				
		,	N'detail_no'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = N'en',N'Detail No',N'明細番号')
		FROM #TEMP 
		WHERE
			#TEMP.detail_no = ''
		-------------------------------------------------
		--VALIDATE MAXLENGHT final_education_kbn
		IF @w_detail_no = 0 
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				28				
			,	'final_education_kbn'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Final Education Kbn','最終学歴区分')	
			FROM #TEMP 
			WHERE
				(LEN(#TEMP.final_education_kbn)>3)
			--VALIDATE NUMERIC final_education_kbn
			INSERT INTO @ERR_TBL
			SELECT
				11				
			,	'final_education_kbn'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Final Education Kbn','最終学歴区分')	
			FROM #TEMP 
			WHERE
				(#TEMP.final_education_kbn <> '')
			AND (#TEMP.final_education_kbn LIKE '%[^0-9]%')
			--VALIDATE NUMERIC final_education_kbn < 0
			IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.final_education_kbn NOT LIKE '%[^0-9]%')
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					13				
				,	'final_education_kbn'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Final Education Kbn','最終学歴区分')
				FROM #TEMP 
				WHERE 
					(#TEMP.final_education_kbn NOT LIKE '%[^0-9]%')
				AND	(#TEMP.final_education_kbn < 0)
				-- VALIDATE EXIST final_education_kbn IN L0010
				IF NOT EXISTS (
					SELECT 1 FROM #TEMP 
					LEFT JOIN L0010 ON (
						L0010.number_cd = #TEMP.final_education_kbn
					AND L0010.name_typ = 61
					AND L0010.del_datetime is NULL
					)
					WHERE #TEMP.final_education_kbn = 0 OR L0010.number_cd IS NOT NULL
				)
				BEGIN
					INSERT INTO @ERR_TBL
					SELECT
						70				
					,	'final_education_kbn'				
					,	0-- oderby		
					,	1-- dialog  	
					,	0				
					,	0				
					,	IIF(@P_language = 'en','Final Education Kbn','最終学歴区分')
				END
			END
			-------------------------------------------------
			--VALIDATE MAXLENGHT final_education_other 
			INSERT INTO @ERR_TBL
			SELECT
				28				
			,	'final_education_other'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Final Education Other','最終学歴その他')	
			FROM #TEMP 
			WHERE
				(LEN(final_education_other)>50)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT graduation_year
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'graduation_year'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Graduation Year','卒業年')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.graduation_year)>4)
		--VALIDATE NUMERIC graduation_year
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'graduation_year'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Graduation Year','卒業年')	
		FROM #TEMP 
		WHERE
			(#TEMP.graduation_year <> '')
		AND (#TEMP.graduation_year LIKE '%[^0-9]%')
		--VALIDATE NUMERIC graduation_year < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.graduation_year NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'graduation_year'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Graduation Year','卒業年')
			FROM #TEMP 
			WHERE 
				(#TEMP.graduation_year NOT LIKE '%[^0-9]%')
			AND	(#TEMP.graduation_year < 0)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT graduation_school_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'graduation_school_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Graduation School Code','卒業学校')	
		FROM #TEMP 
		WHERE
			(LEN(graduation_school_cd)>20)
		-- VALIDATE EXIST graduation_school_cd IN L0010
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.graduation_school_cd <> '')
		BEGIN
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				INNER JOIN L0013 ON (
					L0013.school_code = #TEMP.graduation_school_cd
				AND L0013.del_datetime is NULL
				)
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'graduation_school_cd'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Graduation School Code','卒業学校')	
			END
		END
		--VALIDATE graduation_school_cd and graduation_school_other ALL BLANK
		INSERT INTO @ERR_TBL
		SELECT
			8				
		,	'graduation_school_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Graduation School Code','卒業学校')	
		FROM #TEMP 
		WHERE 
			(#TEMP.graduation_school_cd = '' 
		AND #TEMP.final_education_kbn NOT IN(8,9))
		AND  #TEMP.graduation_school_other = ''
		-------------------------------------------------
		--VALIDATE MAXLENGHT graduation_school_other 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'graduation_school_other'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Graduation School Other','卒業学校その他')	
		FROM #TEMP 
		WHERE
			(LEN(graduation_school_other)>50)
		-------------------------------------------------
		--VALIDATE MAXLENGHT faculty 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'faculty'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Faculty','学部')	
		FROM #TEMP 
		WHERE
			(LEN(faculty)>50)
		-------------------------------------------------
		--VALIDATE MAXLENGHT major 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'major'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Major','専攻')	
		FROM #TEMP 
		WHERE
			(LEN(major)>50)
		-------------------------------------------------
		--VALIDATE UNIQUE record
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.employee_cd NOT LIKE '%[^0-9]%' AND ISNUMERIC(#TEMP.detail_no)=1)
		BEGIN
			IF @w_detail_no = 0 
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					159			
				,	'detail_no'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Detail No','明細番号')	
				FROM #TEMP INNER JOIN WRK_M0078 ON(
					#TEMP.company_cd			= WRK_M0078.company_cd
				AND #TEMP.employee_cd			= WRK_M0078.employee_cd
				AND WRK_M0078.company_cd		= @P_company_cd
				AND #TEMP.detail_no				= 0
				)
			END
			ELSE 
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					159			
				,	'detail_no'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Detail No','明細番号')	
				FROM #TEMP INNER JOIN WRK_M0079 ON(
					#TEMP.company_cd			= WRK_M0079.company_cd
				AND #TEMP.employee_cd			= WRK_M0079.employee_cd
				AND #TEMP.detail_no				= WRK_M0079.detail_no
				AND WRK_M0079.company_cd		= @P_company_cd
				AND WRK_M0079.detail_no			= @w_detail_no
				)
			END
		END

		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- PROCESS
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- Chổ nay dung de viet code xu ly du lieu sau khi validate xong
		--
		IF @w_detail_no = 0 
		BEGIN
			-- insert table WRK_M0078
			IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
			BEGIN
				DELETE W FROM  WRK_M0078 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE T.company_cd IS NOT NULL
				--
				INSERT INTO WRK_M0078 
				SELECT 
					#TEMP.exec_user
				,	#TEMP.company_cd
				,	#TEMP.employee_cd				
				,	#TEMP.final_education_kbn				
				,	IIF(#TEMP.final_education_kbn = 9, #TEMP.final_education_other, '')					
				,	#TEMP.graduation_year	
				,	IIF(#TEMP.final_education_kbn IN(8,9),NULL, #TEMP.graduation_school_cd)
				,	#TEMP.graduation_school_other	
				,	#TEMP.faculty	
				,	#TEMP.major						
				,	@P_cre_user			
				,	@P_cre_ip	
				,	'O0100'		
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				FROM #TEMP
			END
			ELSE
			BEGIN
				DELETE W FROM  WRK_M0078 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE W.exec_user LIKE '%WRK_M0078_%'
				--
				INSERT INTO WRK_M0078 
				SELECT 
					CONCAT('WRK_M0078_', CAST(@P_no AS NVARCHAR(10)))
				,	0
				,	''				
				,	0				
				,	''					
				,	0	
				,	''
				,	''	
				,	''	
				,	''
				,	@P_cre_user			
				,	@P_cre_ip	
				,	'O0100'		
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				FROM #TEMP
			END	
		END
		ELSE
		BEGIN 
		-- insert table WRK_M0079
			IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
			BEGIN
				DELETE W FROM  WRK_M0079 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE T.company_cd IS NOT NULL
				--
				INSERT INTO WRK_M0079 
				SELECT 
					#TEMP.exec_user
				,	#TEMP.company_cd
				,	#TEMP.employee_cd				
				,	#TEMP.detail_no				
				,	#TEMP.graduation_year	
				,	#TEMP.graduation_school_cd	
				,	#TEMP.graduation_school_other	
				,	#TEMP.faculty	
				,	#TEMP.major						
				,	@P_cre_user			
				,	@P_cre_ip	
				,	'O0100'		
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				FROM #TEMP
			END
			ELSE
			BEGIN
				DELETE W FROM  WRK_M0079 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE W.exec_user LIKE '%WRK_M0079_%'
				--
				INSERT INTO WRK_M0079 
				SELECT 
					CONCAT('WRK_M0079_', CAST(@P_no AS NVARCHAR(10)))
				,	0
				,	''				
				,	0				
				,	0	
				,	''
				,	''	
				,	''	
				,	''
				,	@P_cre_user			
				,	@P_cre_ip	
				,	'O0100'		
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL	
				FROM #TEMP
			END	
		END

		IF (@P_no = @P_count) 
			BEGIN
				--
				IF (EXISTS(SELECT 1 FROM @ERR_TBL) OR EXISTS(SELECT 1 FROM WRK_M0078 WHERE exec_user LIKE '%WRK_M0078%') OR EXISTS(SELECT 1 FROM WRK_M0079 WHERE exec_user LIKE '%WRK_M0079%'))
				BEGIN
					TRUNCATE TABLE WRK_M0078
					TRUNCATE TABLE WRK_M0079
					--
					GOTO COMPLETE_QUERY
				END
				ELSE
				BEGIN 
					-- UPDATE M0078
					UPDATE M0078
					SET 
						final_education_kbn					= WRK_M0078.final_education_kbn
					,	final_education_other				= WRK_M0078.final_education_other
					,	graduation_year						= WRK_M0078.graduation_year
					,	graduation_school_cd				= WRK_M0078.graduation_school_cd
					,	graduation_school_other				= WRK_M0078.graduation_school_other
					,	faculty								= WRK_M0078.faculty
					,	major								= WRK_M0078.major
					,	upd_user				=	@P_cre_user		
					,	upd_ip					=	@P_cre_ip	
					,	upd_prg					=	'O0100'	
					,	upd_datetime			=	@w_time	
					,	del_user				=	SPACE(0)
					,	del_ip					=	SPACE(0)
					,	del_prg					=	SPACE(0)
					,	del_datetime			=	NULL
					FROM M0078 
					INNER JOIN WRK_M0078 ON (
						M0078.company_cd			=	WRK_M0078.company_cd
					AND M0078.employee_cd			=	WRK_M0078.employee_cd
					AND WRK_M0078.company_cd    	= @P_company_cd
					AND M0078.del_datetime IS NULL
					)		

					-- INSERT M0078
					INSERT INTO M0078 
					SELECT  
						WRK_M0078.company_cd
					,	WRK_M0078.employee_cd
					,	WRK_M0078.final_education_kbn
					,	WRK_M0078.final_education_other					
					,	WRK_M0078.graduation_year	
					,	WRK_M0078.graduation_school_cd			
					,	WRK_M0078.graduation_school_other			
					,	WRK_M0078.faculty			
					,	WRK_M0078.major				
					,	@P_cre_user			
					,	@P_cre_ip	
					,	'O0100'		
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL	
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM WRK_M0078 
					LEFT JOIN M0078 ON (
						M0078.company_cd			=	WRK_M0078.company_cd
					AND M0078.employee_cd			=	WRK_M0078.employee_cd
					AND M0078.final_education_kbn	=	WRK_M0078.final_education_kbn
					)	
					WHERE 
						M0078.employee_cd IS NULL
					AND	WRK_M0078.employee_cd <> ''
					AND M0078.final_education_kbn IS NULL
					AND	WRK_M0078.final_education_kbn <> ''
					AND WRK_M0078.company_cd    = @P_company_cd

					-- UPDATE M0079
					UPDATE M0079
					SET 
						graduation_year						= WRK_M0079.graduation_year
					,	graduation_school_cd				= WRK_M0079.graduation_school_cd
					,	graduation_school_other				= WRK_M0079.graduation_school_other
					,	faculty								= WRK_M0079.faculty
					,	major								= WRK_M0079.major
					,	upd_user				=	@P_cre_user		
					,	upd_ip					=	@P_cre_ip	
					,	upd_prg					=	'O0100'	
					,	upd_datetime			=	@w_time	
					,	del_user				=	SPACE(0)
					,	del_ip					=	SPACE(0)
					,	del_prg					=	SPACE(0)
					,	del_datetime			=	NULL
					FROM M0079 
					INNER JOIN WRK_M0079 ON (
						M0079.company_cd			=	WRK_M0079.company_cd
					AND M0079.employee_cd			=	WRK_M0079.employee_cd
					AND M0079.detail_no				=	WRK_M0079.detail_no
					AND WRK_M0079.company_cd    	= @P_company_cd
					AND M0079.del_datetime IS NULL
					)		

					-- INSERT M0079
					INSERT INTO M0079 
					SELECT  
						WRK_M0079.company_cd
					,	WRK_M0079.employee_cd
					,	WRK_M0079.detail_no
					,	WRK_M0079.graduation_year	
					,	WRK_M0079.graduation_school_cd			
					,	WRK_M0079.graduation_school_other			
					,	WRK_M0079.faculty			
					,	WRK_M0079.major				
					,	@P_cre_user			
					,	@P_cre_ip	
					,	'O0100'		
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL	
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM WRK_M0079 
					LEFT JOIN M0079 ON (
						M0079.company_cd			=	WRK_M0079.company_cd
					AND M0079.employee_cd			=	WRK_M0079.employee_cd
					AND M0079.detail_no				=	WRK_M0079.detail_no
					)	
					WHERE 
						M0079.employee_cd IS NULL
					AND	WRK_M0079.employee_cd <> ''
					AND M0079.detail_no IS NULL
					AND	WRK_M0079.detail_no <> ''
					AND WRK_M0079.company_cd    = @P_company_cd

					--
					DELETE WRK_M0078
					DELETE WRK_M0079
				END
			END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	COMPLETE_QUERY:
	--
	IF EXISTS(SELECT 1 FROM @ERR_TBL AS ERR_TBL WHERE ERR_TBL.item = 'EXCEPTION')
	BEGIN
		IF @@TRANCOUNT >0
		BEGIN
			ROLLBACK TRANSACTION
		END
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END

	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
