/****** Object:  StoredProcedure [dbo].[SPC_O0100_ACT8]    Script Date: 2018/10/03 17:23:08 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_ACT8]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_O0100_ACT8 '{"employee_cd":"10","application_date":"2024\/04\/09","office_cd":"998","belong_cd1":"","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","job_cd":"065h46425","position_cd":"34534530","employee_typ":"0v","grade":"3f33310"}','1100461','10046','1','118.70.128.67','1','38','jp';
--*********************************** *****************************************************
--*   											
--*  処理概要/process overview	:	O0100

--*  
--*  作成日/create date			:	2018/10/03										
--*　作成者/creater				:	sondh　								
--*   		--*  更新日/update date			:  	2018/10/06						
--*　更新者/updater				:　 tuantv 　								     	 
--*　更新内容/update content		:	change processing import CR date 2018/10/31
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_O0100_ACT8]
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)		=	''
,	@P_exec_user			NVARCHAR(100)		=	''
,	@P_company_cd			INT			=	0	
,	@P_cre_user				NVARCHAR(50)		=	''
,	@P_cre_ip				NVARCHAR(50)		=	''
,	@P_no					INT					=	0
,	@P_count				INT					=	0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 	
		@w_time				DATETIME2 = SYSDATETIME()
	,	@order_by_min		INT		  = 0
	,	@ERR_TBL			ERRTABLE  
	--
	CREATE TABLE #TEMP (
		id					INT		IDENTITY(1,1)
	,	exec_user			NVARCHAR(100)
	,	company_cd			INT
	,	employee_cd			NVARCHAR(50)
	,	application_date	NVARCHAR(50)
	,	office_cd			NVARCHAR(50)
	,	belong_cd1			NVARCHAR(50)
	,	belong_cd2			NVARCHAR(50)
	,	belong_cd3			NVARCHAR(50)
	,	belong_cd4			NVARCHAR(50)
	,	belong_cd5			NVARCHAR(50)
	,	job_cd				NVARCHAR(50)
	,	position_cd			NVARCHAR(50)
	,	employee_typ		NVARCHAR(50)
	,	grade				NVARCHAR(50)
	)
	-- create application is max m0071
	CREATE TABLE #M0071_MAX (
		id					INT		IDENTITY(1,1)
	,	company_cd			INT
	,	employee_cd			NVARCHAR(50)
	,	application_date	NVARCHAR(50)
	)
			
			
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- VALIDATE
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22						-- mã lỗi (trùng với mã trong bảng message) 					
			,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby				-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0						-- Tùy ý
			,	'json format'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- GET  DATA
		INSERT INTO #TEMP
		SELECT
			CONCAT(@P_exec_user, CAST(@P_no AS NVARCHAR(10))) 
		,	@P_company_cd
		,	RTRIM(LTRIM(employee_cd))		
		,	RTRIM(LTRIM(application_date))		
		,	RTRIM(LTRIM(office_cd))		
		,	RTRIM(LTRIM(belong_cd1))		
		,	RTRIM(LTRIM(belong_cd2))
		,	RTRIM(LTRIM(belong_cd3))
		,	RTRIM(LTRIM(belong_cd4))
		,	RTRIM(LTRIM(belong_cd5))		
		,	RTRIM(LTRIM(job_cd))		
		,	RTRIM(LTRIM(position_cd))		
		,	RTRIM(LTRIM(employee_typ))		
		,	RTRIM(LTRIM(grade))		
		FROM OPENJSON(@P_json) WITH(
			employee_cd			NVARCHAR(50)
		,	application_date	NVARCHAR(50)
		,	office_cd			NVARCHAR(50)
		,	belong_cd1			NVARCHAR(50)
		,	belong_cd2			NVARCHAR(50)
		,	belong_cd3			NVARCHAR(50)
		,	belong_cd4			NVARCHAR(50)
		,	belong_cd5			NVARCHAR(50)
		,	job_cd				NVARCHAR(50)
		,	position_cd			NVARCHAR(50)
		,	employee_typ		NVARCHAR(50)
		,	grade				NVARCHAR(50)
		)
		
		--VALIDATE MAXLENGHT employee_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(LEN(employee_cd)>10)
		--VALIDATE REQUIRED employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.employee_cd = '')
		IF EXISTS (SELECT 1 FROM #TEMP WHERE ISNUMERIC(#TEMP.office_cd)  = 1 AND LEN(#TEMP.office_cd)<=3)
		INSERT INTO @ERR_TBL
		SELECT
			108				
		,	'office_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Office Code','営業所コード')	
		FROM #TEMP LEFT JOIN M0010 ON(
			@P_company_cd	=	M0010.company_cd
		AND #TEMP.office_cd	=	M0010.office_cd
		AND M0010.del_datetime IS NULL
		)
		WHERE M0010.company_cd IS NULL 
		AND #TEMP.office_cd	<> 0 
		AND #TEMP.office_cd	<> ''
		IF EXISTS (SELECT 1 FROM #TEMP WHERE ISNUMERIC(#TEMP.grade)  = 1 AND LEN(#TEMP.grade)<=3)
		BEGIN
		INSERT INTO @ERR_TBL
		SELECT
			70				
		,	'grade'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Grade','等級')	
		FROM #TEMP LEFT JOIN M0050 ON(
			@P_company_cd	=	M0050.company_cd
		AND #TEMP.grade	=	M0050.grade
		AND M0050.del_datetime IS NULL
		)
		WHERE M0050.company_cd IS NULL 
		AND #TEMP.grade	<> 0 
		AND #TEMP.grade	<> ''
		END
		IF EXISTS (SELECT 1 FROM #TEMP WHERE ISNUMERIC(#TEMP.job_cd)  = 1 AND LEN(#TEMP.job_cd)<=3)
		BEGIN
		INSERT INTO @ERR_TBL
		SELECT
			109			
		,	'job_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Job Code','職種コード')	
		FROM #TEMP LEFT JOIN M0030 ON(
			@P_company_cd	=	M0030.company_cd
		AND #TEMP.job_cd	=	M0030.job_cd
		AND M0030.del_datetime IS NULL
		)
		WHERE M0030.company_cd IS NULL 
		AND #TEMP.job_cd	> 0 
		AND #TEMP.job_cd	<> ''
		END
		--
		IF EXISTS (SELECT 1 FROM #TEMP WHERE ISNUMERIC(#TEMP.position_cd)  = 1 AND LEN(#TEMP.position_cd)<=3)
		BEGIN
		INSERT INTO @ERR_TBL
		SELECT
			106
		,	'position_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Position Code', '役職コード')		
		FROM #TEMP LEFT JOIN M0040 ON(
			@P_company_cd		=	M0040.company_cd
		AND #TEMP.position_cd	=	M0040.position_cd
		AND M0040.del_datetime IS NULL
		)
		WHERE M0040.company_cd IS NULL 
		AND (#TEMP.position_cd	<> 0 AND #TEMP.position_cd	<> '-1')
		AND #TEMP.position_cd	<> ''
		END
		---
		IF EXISTS (SELECT 1 FROM #TEMP WHERE ISNUMERIC(#TEMP.employee_typ)  = 1)
		BEGIN
		INSERT INTO @ERR_TBL
		SELECT
			110	
		,	'employee_typ'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Classification','社員区分')	
		FROM #TEMP LEFT JOIN M0060 ON(
			@P_company_cd		=	M0060.company_cd
		AND #TEMP.employee_typ	=	M0060.employee_typ
		AND M0060.del_datetime IS NULL
		)
		WHERE M0060.company_cd IS NULL 
		AND #TEMP.employee_typ	<> 0 
		AND #TEMP.employee_typ	<> ''
		END
		---
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.employee_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				151				
			,	'employee_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Employee Code','社員コード')	
			FROM #TEMP 
			WHERE
				#TEMP.employee_cd = 0
		END
		--VALIDATE REQUIRED application_date 							
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'application_date'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Applied Date','適用年月日')	
		FROM #TEMP 
		WHERE
			(#TEMP.application_date = '')
		--VALIDATE MAXLENGHT application_date 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'application_date'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Applied Date','適用年月日')		
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.application_date)>10)
		--VALIDATE DATE application_date 
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'application_date'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Applied Date','適用年月日')	
		FROM #TEMP 
		WHERE
			(#TEMP.application_date <> '' 
		AND	ISDATE(#TEMP.application_date) = 0)
		--VALIDATE MAXLENGHT office_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'office_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Office Code','営業所コード')		
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.office_cd)>3)
		--VALIDATE NUMERIC office_cd 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'office_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Office Code','営業所コード')		
		FROM #TEMP 
		WHERE
			(#TEMP.office_cd <> '')
		AND (#TEMP.office_cd LIKE '%[^0-9]%')
		--VALIDATE NUMERIC office_cd < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.office_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'office_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Office Code','営業所コード')	
			FROM #TEMP 
			WHERE 
				(#TEMP.office_cd NOT LIKE '%[^0-9]%')
			AND	(#TEMP.office_cd < 0)
		END
		--VALIDATE MAXLENGHT belong_cd1 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'belong_cd1'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Code 1','所属コード1')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.belong_cd1)>20)
		INSERT INTO @ERR_TBL
			SELECT
				105				
			,	'belong_cd1'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 1', '所属コード1')		
			FROM #TEMP LEFT JOIN M0020 ON(
				#TEMP.belong_cd1 = M0020.organization_cd_1
			AND M0020.organization_typ = 1
			AND M0020.del_datetime IS NULL
			AND M0020.company_cd = @P_company_cd
			) 
			WHERE
				M0020.organization_cd_1 IS NULL
			AND #TEMP.belong_cd1 <>''
			AND (
				#TEMP.belong_cd1 <> ''
			OR #TEMP.belong_cd2 <> ''
			OR #TEMP.belong_cd3 <> ''
			OR #TEMP.belong_cd4 <> ''
			OR #TEMP.belong_cd5 <> ''
			)
		--VALIDATE MAXLENGHT belong_cd2
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'belong_cd2'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Code 2','所属コード2')
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.belong_cd2)>20)
		INSERT INTO @ERR_TBL
			SELECT
				105				
			,	'belong_cd2'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 2', '所属コード2')		
			FROM #TEMP LEFT JOIN M0020 ON(
				#TEMP.belong_cd1 = M0020.organization_cd_1
			AND M0020.organization_typ = 2
			AND #TEMP.belong_cd2 = M0020.organization_cd_2
			AND M0020.del_datetime IS NULL
			AND M0020.company_cd = @P_company_cd
			) 
			WHERE
				M0020.organization_cd_1 IS NULL

			AND #TEMP.belong_cd2 <>''

		
		--VALIDATE MAXLENGHT belong_cd2
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'belong_cd3'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Code 3','所属コード3')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.belong_cd3)>20)
		INSERT INTO @ERR_TBL
			SELECT
				105				
			,	'belong_cd3'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 3', '所属コード3')		
			FROM #TEMP LEFT JOIN M0020 ON(
				#TEMP.belong_cd1 = M0020.organization_cd_1
			AND M0020.organization_typ = 3
			AND #TEMP.belong_cd2 = M0020.organization_cd_2
			AND #TEMP.belong_cd3 =M0020.organization_cd_3
			AND M0020.del_datetime IS NULL
			AND M0020.company_cd = @P_company_cd
			) 
			WHERE
				M0020.organization_cd_1 IS NULL
		
			AND #TEMP.belong_cd3 <>''
		
		
		--VALIDATE MAXLENGHT belong_cd2
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'belong_cd4'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Code 4','所属コード4')
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.belong_cd4)>20)
		INSERT INTO @ERR_TBL
			SELECT
				105				
			,	'belong_cd4'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 4', '所属コード4')		
			FROM #TEMP LEFT JOIN M0020 ON(
				#TEMP.belong_cd1 = M0020.organization_cd_1
			AND M0020.organization_typ = 4
			AND #TEMP.belong_cd2 = M0020.organization_cd_2
			AND #TEMP.belong_cd3 =M0020.organization_cd_3
			AND #TEMP.belong_cd4 = M0020.organization_cd_4
			AND M0020.del_datetime IS NULL
			AND M0020.company_cd = @P_company_cd
			) 
			WHERE
				M0020.organization_cd_1 IS NULL
			AND #TEMP.belong_cd4 <>''
			
		--VALIDATE MAXLENGHT belong_cd5
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'belong_cd5'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Department Code 5','所属コード5')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.belong_cd5)>20)
		INSERT INTO @ERR_TBL
			SELECT
				105				
			,	'belong_cd5'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Department Code 5', '所属コード5')		
			FROM #TEMP LEFT JOIN M0020 ON(
				#TEMP.belong_cd1 = M0020.organization_cd_1
			AND M0020.organization_typ = 5
			AND #TEMP.belong_cd2 = M0020.organization_cd_2
			AND #TEMP.belong_cd3 = M0020.organization_cd_3
			AND #TEMP.belong_cd4 = M0020.organization_cd_4
			AND #TEMP.belong_cd5 = M0020.organization_cd_5
			AND M0020.del_datetime IS NULL
			AND M0020.company_cd = @P_company_cd
			) 
			WHERE
				M0020.organization_cd_1 IS NULL
			AND #TEMP.belong_cd5 <>''
			
		--VALIDATE MAXLENGHT job_cd
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'job_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Job Code','職種コード')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.job_cd)>3)
		--VALIDATE NUMERIC job_cd
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'job_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Job Code','職種コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.job_cd <> '')
		AND (#TEMP.job_cd LIKE '%[^0-9]%')
		--VALIDATE NUMERIC job_cd < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.job_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'job_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Job Code','職種コード')	
			FROM #TEMP 
			WHERE 
				(#TEMP.job_cd NOT LIKE '%[^0-9]%')
			AND	(#TEMP.job_cd < 0)
		END
		--VALIDATE MAXLENGHT position_cd
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'position_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Position Code','役職コード')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.position_cd)>3)
		--VALIDATE NUMERIC position_cd
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'position_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Position Code','役職コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.position_cd <> '')
		AND (ISNUMERIC(#TEMP.position_cd) = 0)
		--VALIDATE NUMERIC position_cd < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE ISNUMERIC(#TEMP.position_cd) = 1)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'position_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Position Code','役職コード')	
			FROM #TEMP 
			WHERE 
				(ISNUMERIC(#TEMP.position_cd) = 1)
			AND	(#TEMP.position_cd < -1)
		END
		-- VALIDATE EXIST position_cd IN M0070

		--VALIDATE MAXLENGHT employee_typ 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'employee_typ'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Classification','社員区分')		
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.employee_typ)>3)
		--VALIDATE NUMERIC employee_typ 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'employee_typ'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Classification','社員区分')		
		FROM #TEMP 
		WHERE
			(#TEMP.employee_typ <> '') 
		AND (#TEMP.employee_typ LIKE '%[^0-9]%')
		--VALIDATE NUMERIC employee_typ < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.employee_typ NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'employee_typ'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Employee Classification','社員区分')	
			FROM #TEMP 
			WHERE 
				(#TEMP.employee_typ NOT LIKE '%[^0-9]%')
			AND	(#TEMP.employee_typ < 0)
		END
		--VALIDATE MAXLENGHT grade 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'grade'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Rank','等級')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.grade)>3)
		--VALIDATE NUMERIC grade 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'grade'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Rank','等級')	
		FROM #TEMP 
		WHERE
			(#TEMP.grade <> '') 
		AND (#TEMP.grade LIKE '%[^0-9]%')
		--VALIDATE NUMERIC grade < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.grade NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'grade'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Rank','等級')	
			FROM #TEMP 
			WHERE 
				(#TEMP.grade NOT LIKE '%[^0-9]%')
			AND	(#TEMP.grade < 0)
		END
		INSERT INTO @ERR_TBL
		SELECT
			111			
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP LEFT JOIN M0070 ON(
			@P_company_cd		=	M0070.company_cd
		AND #TEMP.employee_cd	=	M0070.employee_cd
		AND M0070.del_datetime IS NULL
		)
		WHERE M0070.company_cd IS NULL 
		AND #TEMP.employee_cd	<> '0' 
		AND #TEMP.employee_cd	<> ''
		--
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- PROCESS
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- Chỗ này dùng để viết code xử lý dữ liệu sau khi validate xong

		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
		DELETE W FROM  WRK_M0071 AS W INNER JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user 
			INSERT INTO WRK_M0071 
			SELECT 
				#TEMP.exec_user
			,	#TEMP.company_cd
			,	#TEMP.employee_cd
			,	#TEMP.application_date
			,	#TEMP.office_cd		
			,	#TEMP.belong_cd1	
			,	#TEMP.belong_cd2	
			,	#TEMP.belong_cd3	
			,	#TEMP.belong_cd4	
			,	#TEMP.belong_cd5	
			,	#TEMP.job_cd		
			,	#TEMP.position_cd	
			,	#TEMP.employee_typ	
			,	#TEMP.grade	
			,	@P_cre_user		
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
		END
		ELSE
		BEGIN
		DELETE W FROM  WRK_M0071 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE W.exec_user LIKE '%WRK_M0071_%'
			INSERT INTO WRK_M0071 
			SELECT 
				CONCAT('WRK_M0071_', CAST(@P_no AS NVARCHAR(10)))		
			,	0
			,	''
			,	NULL
			,	0
			,	0
			,	0
			,	0
			,	0
			,	0
			,	0
			,	0
			,	0
			,	0
			,	@P_cre_user		
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
		END

		--
		IF (@P_no = @P_count) 
		BEGIN
			--
		IF (EXISTS(SELECT 1 FROM @ERR_TBL) OR EXISTS(SELECT 1 FROM WRK_M0071 WHERE exec_user LIKE '%WRK_M0071%'))
			BEGIN
				TRUNCATE TABLE WRK_M0071
				--
				GOTO COMPLETE_QUERY
			END

			--
			UPDATE M0071
			SET
				office_cd			=	WRK_M0071.office_cd		
			,	belong_cd1			=	WRK_M0071.belong_cd1		
			,	belong_cd2			=	WRK_M0071.belong_cd2
			,	belong_cd3			=	WRK_M0071.belong_cd3
			,	belong_cd4			=	WRK_M0071.belong_cd4
			,	belong_cd5			=	WRK_M0071.belong_cd5		
			,	job_cd				=	WRK_M0071.job_cd			
			,	position_cd			=	WRK_M0071.position_cd		
			,	employee_typ		=	WRK_M0071.employee_typ	
			,	grade				=	WRK_M0071.grade				
			,	upd_user			=	@P_cre_user		
			,	upd_ip				=	@P_cre_ip	
			,	upd_prg				=	'O0100'	
			,	upd_datetime		=	@w_time	
			,	del_user			=	SPACE(0)
			,	del_ip				=	SPACE(0)
			,	del_prg				=	SPACE(0)
			,	del_datetime		=	NULL
			FROM M0071 
			INNER JOIN WRK_M0071 ON (
				M0071.company_cd		=	WRK_M0071.company_cd
			AND M0071.employee_cd		=	WRK_M0071.employee_cd
			AND M0071.application_date	=	WRK_M0071.application_date
			)

			--
			INSERT INTO M0071
			SELECT 
				WRK_M0071.company_cd
			,	WRK_M0071.employee_cd
			,	WRK_M0071.application_date
			,	WRK_M0071.office_cd		
			,	WRK_M0071.belong_cd1		
			,	WRK_M0071.belong_cd2
			,	WRK_M0071.belong_cd3
			,	WRK_M0071.belong_cd4
			,	WRK_M0071.belong_cd5		
			,	WRK_M0071.job_cd			
			,	WRK_M0071.position_cd		
			,	WRK_M0071.employee_typ	
			,	WRK_M0071.grade				
			,	@P_cre_user			
			,	@P_cre_ip
			,	'O0100'				
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM WRK_M0071
			LEFT JOIN M0071 ON (
				WRK_M0071.company_cd		=	M0071.company_cd	
			AND WRK_M0071.employee_cd		=	M0071.employee_cd
			AND WRK_M0071.application_date	=	M0071.application_date		
			)
			WHERE 
				M0071.employee_cd IS NULL
			--AND WRK_M0071.employee_cd <>''
			AND WRK_M0071.application_date <>''

			--
			INSERT INTO M0071
			SELECT 
				WRK_M0071.company_cd
			,	WRK_M0071.employee_cd
			,	WRK_M0071.application_date
			,	WRK_M0071.office_cd		
			,	WRK_M0071.belong_cd1		
			,	WRK_M0071.belong_cd2
			,	WRK_M0071.belong_cd3
			,	WRK_M0071.belong_cd4
			,	WRK_M0071.belong_cd5		
			,	WRK_M0071.job_cd			
			,	WRK_M0071.position_cd		
			,	WRK_M0071.employee_typ	
			,	WRK_M0071.grade				
			,	@P_cre_user			
			,	@P_cre_ip
			,	'O0100'				
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM WRK_M0071
			LEFT JOIN M0071 ON (
				WRK_M0071.company_cd		=	M0071.company_cd	
			AND WRK_M0071.employee_cd		=	M0071.employee_cd
			AND WRK_M0071.application_date	=	M0071.application_date		
			)
			WHERE 
				M0071.employee_cd IS NULL
			--AND WRK_M0071.employee_cd = ''
			AND WRK_M0071.application_date  = ''
			-- INSERT #M0071_MAX
			INSERT INTO #M0071_MAX
			SELECT		
				@P_company_cd
			,	employee_cd		
			,	MAX(application_date)			
			FROM M0071
			WHERE
				company_cd = @P_company_cd
			GROUP BY
				employee_cd
			--update M0070
			UPDATE M0070
			SET
				office_cd				=	M0071.office_cd			
			,	belong_cd1				=	M0071.belong_cd1		
			,	belong_cd2				=	M0071.belong_cd2
			,	belong_cd3				=	M0071.belong_cd3
			,	belong_cd4				=	M0071.belong_cd4
			,	belong_cd5				=	M0071.belong_cd5		
			,	job_cd					=	M0071.job_cd			
			,	position_cd				=	M0071.position_cd		
			,	employee_typ			=	M0071.employee_typ		
			,	grade					=	M0071.grade			
			,	upd_user				=	@P_cre_user		
			,	upd_ip					=	@P_cre_ip	
			,	upd_prg					=	'O0100'	
			,	upd_datetime			=	@w_time	
			,	del_user				=	SPACE(0)
			,	del_ip					=	SPACE(0)
			,	del_prg					=	SPACE(0)
			,	del_datetime			=	NULL
			FROM M0070 
			lEFT JOIN #M0071_MAX ON (
				@P_company_cd		= #M0071_MAX.company_cd
			AND M0070.employee_cd	= #M0071_MAX.employee_cd
			)
			LEFT JOIN M0071 ON (
				@P_company_cd				= M0071.company_cd
			AND M0070.employee_cd			= M0071.employee_cd
			AND #M0071_MAX.application_date = M0071.application_date
			)
			WHERE
				M0070.company_cd	=  @P_company_cd
			AND M0070.employee_cd	= #M0071_MAX.employee_cd
			AND M0070.del_datetime	IS NULL
			--INSERT M0070 (đã có validate tồn tại trường hợp ko có nhân viên trong bảng m0070)
			--INSERT INTO M0070
			--SELECT 
			--	@P_company_cd
			--,	#M0071_MAX.employee_cd
			--,	SPACE(0)	
			--,	SPACE(0)
			--,	SPACE(0)		
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	M0071.office_cd			
			--,	M0071.belong_cd1		
			--,	M0071.belong_cd2
			--,	M0071.belong_cd3
			--,	M0071.belong_cd4
			--,	M0071.belong_cd5		
			--,	M0071.job_cd			
			--,	M0071.position_cd		
			--,	M0071.employee_typ		
			--,	M0071.grade				
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	@P_cre_user			
			--,	@P_cre_ip
			--,	'O0100'			
			--,	@w_time
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	NULL	
			--,	SPACE(0)
			--,	SPACE(0)
			--,	SPACE(0)
			--,	NULL	
			--FROM #M0071_MAX
			--LEFT JOIN M0071 ON (
			--	#M0071_MAX.company_cd		=	@P_company_cd	
			--AND #M0071_MAX.employee_cd		=	M0071.employee_cd
			--AND #M0071_MAX.application_date =	M0071.application_date
			--)
			--LEFT JOIN M0070 ON (
			--	@P_company_cd			= M0070.company_cd
			--AND #M0071_MAX.employee_cd	= M0070.employee_cd
			--)
			--WHERE 
			--	M0070.employee_cd IS NULL
			--AND	#M0071_MAX.employee_cd <> ''

			TRUNCATE TABLE WRK_M0071
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	COMPLETE_QUERY:
	--
	IF EXISTS(SELECT 1 FROM @ERR_TBL AS ERR_TBL WHERE ERR_TBL.item = 'EXCEPTION')
	BEGIN
		IF @@TRANCOUNT >0
		BEGIN
			ROLLBACK TRANSACTION
		END
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END

	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO
