/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT13]    Script Date: 2024/04/08 15:50:05 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT13]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2024/04/11
 *  作成者  ： PhuongDT
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT13]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #TEMP (
		id									INT IDENTITY(1,1)
	,	employee_cd							NVARCHAR(20)
	,	detail_no							SMALLINT
	,	final_education_kbn					NVARCHAR(50)
	,	final_education_other				NVARCHAR(50)
	,	graduation_year						NVARCHAR(50)
	,	graduation_school_cd				NVARCHAR(50)
	,	graduation_school_other				NVARCHAR(50)
	,	faculty								NVARCHAR(50)
	,	major								NVARCHAR(50)
	)

	CREATE TABLE #DATA (
		id									INT IDENTITY(1,1)
	,	employee_cd							NVARCHAR(20)
	,	detail_no							NVARCHAR(20)
	,	final_education_kbn					NVARCHAR(50)
	,	final_education_other				NVARCHAR(50)
	,	graduation_year						NVARCHAR(50)
	,	graduation_school_cd				NVARCHAR(50)
	,	name								NVARCHAR(50)
	,	graduation_school_other				NVARCHAR(50)
	,	faculty								NVARCHAR(50)
	,	major								NVARCHAR(50)
	)

	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Employee Code' 					AS employee_cd					
		,	'Detail No' 						AS detail_no					
		,	'Final Education Kbn' 				AS final_education_kbn	
		,	'Final Education Other' 			AS final_education_other			
		,	'Graduation Year' 					AS graduation_year					
		,	'Graduation School Code' 			AS graduation_school_cd		
		,	'Name' 								AS name	
		,	'Graduation School Other' 			AS graduation_school_other					
		,	'Faculty' 							AS faculty			
		,	'Major' 							AS major							
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'社員コード' 				    	AS employee_cd
		,	'明細番号' 						AS detail_no					
		,	'最終学歴区分' 					AS final_education_kbn	
		,	'最終学歴その他' 					AS final_education_other			
		,	'卒業年' 						AS graduation_year
		,	'卒業学校' 						AS graduation_school_cd		
		,	'卒業学校名' 					    AS name
		,	'卒業学校その他' 					AS graduation_school_other					
		,	'学部' 							AS faculty			
		,	'専攻' 							AS major	
	END
	--INSERT #TEMP FROM M0078
	INSERT INTO #TEMP
	SELECT 
		ISNULL(employee_cd,'')				
	,	NULL
	,	ISNULL(final_education_kbn,0)	
	,	ISNULL(final_education_other,'')		
	,	ISNULL(graduation_year,0)		
	,	ISNULL(graduation_school_cd,'')		
	,	ISNULL(graduation_school_other,'')		
	,	ISNULL(faculty,'')		
	,	ISNULL(major,'')		
	FROM M0078
	WHERE 
		M0078.company_cd			=	@P_company_cd
	AND M0078.del_datetime IS NULL
	--INSERT #TEMP FROM M0079
	INSERT INTO #TEMP
	SELECT 
		ISNULL(employee_cd,'')				
	,	ISNULL(detail_no,'')
	,	NULL	
	,	NULL		
	,	ISNULL(graduation_year,0)		
	,	ISNULL(graduation_school_cd,'')		
	,	ISNULL(graduation_school_other,'')		
	,	ISNULL(faculty,'')		
	,	ISNULL(major,'')		
	FROM M0079
	WHERE 
		M0079.company_cd			=	@P_company_cd
	AND M0079.del_datetime IS NULL

	--INSERT #DATA
	INSERT INTO #DATA
	SELECT 
		ISNULL(employee_cd,'')				
	,	ISNULL(detail_no,0)
	,	ISNULL(final_education_kbn,0)	
	,	ISNULL(final_education_other,'')		
	,	ISNULL(graduation_year,0)		
	,	ISNULL(graduation_school_cd,'')	
	,	ISNULL(L0013.school_name,'')
	,	ISNULL(graduation_school_other,'')		
	,	ISNULL(faculty,'')		
	,	ISNULL(major,'')		
	FROM #TEMP
	LEFT JOIN L0013 ON (
		#TEMP.graduation_school_cd		= L0013.school_code 
	AND L0013.del_datetime IS NULL
	)
	ORDER BY 
		#TEMP.employee_cd
	,	#TEMP.detail_no

	--[0]
	SELECT
		#DATA.employee_cd				
	,	#DATA.detail_no					
	,	#DATA.final_education_kbn
	,	#DATA.final_education_other
	,	#DATA.graduation_year			
	,	#DATA.graduation_school_cd		
	,	#DATA.name	
	,	#DATA.graduation_school_other			
	,	#DATA.faculty		
	,	#DATA.major									
	FROM #DATA
	ORDER BY
		id
END
GO