/****** Object:  StoredProcedure [dbo].[SPC_O0100_ACT3]    Script Date: 2018/10/03 14:28:20 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_ACT3]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- SPC_M0001_INQ1 1,5
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	O0100

--*  
--*  作成日/create date			:	2018/10/03										
--*　作成者/creater				:	sondh　								
--*   					
--*  更新日/update date			:  	2018/10/06						
--*　更新者/updater				:　 tuantv 　								     	 
--*　更新内容/update content		:	change processing import CR date 2018/10/31	　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_O0100_ACT3]
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)		=	''
,	@P_exec_user			NVARCHAR(100)		=	''
,	@P_company_cd			SMALLINT			=	0	
,	@P_cre_user				NVARCHAR(50)		=	''
,	@P_cre_ip				NVARCHAR(50)		=	''
,	@P_no					INT					=	0
,	@P_count				INT					=	0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 	
		@w_time						DATETIME2			= SYSDATETIME()
	,	@order_by_min				INT					= 0
	,	@ERR_TBL					ERRTABLE	
	,	@max_job_cd					INT					= 0
	,	@w_check_arrange			INT					= 0
	,	@w_check_job				INT					= 0
	--
	CREATE TABLE #TEMP(
		id					INT		IDENTITY(1,1)
	,	exec_user			NVARCHAR(80)
	,	company_cd			SMALLINT
	,	job_cd				NVARCHAR(50)
	,	job_nm				NVARCHAR(100)
	,	job_ab_nm			NVARCHAR(50)
	,	arrange_order		NVARCHAR(50)
	)
	
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- VALIDATE
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22						-- mã lỗi (trùng với mã trong bảng message) 					
			,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby				-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0						-- Tùy ý
			,	'json format'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- GET  DATA
		INSERT INTO #TEMP
		SELECT
			CONCAT(@P_exec_user, CAST(@P_no AS NVARCHAR(10))) 
		,	@P_company_cd
		,	RTRIM(LTRIM(job_cd))		
		,	RTRIM(LTRIM(job_nm))		
		,	RTRIM(LTRIM(job_ab_nm))		
		,	RTRIM(LTRIM(arrange_order))	
		FROM OPENJSON(@P_json) WITH(
			job_cd			NVARCHAR(50)
		,	job_nm			NVARCHAR(100)
		,	job_ab_nm		NVARCHAR(50)
		,	arrange_order	NVARCHAR(50)
		)
		
		--SELECT * FROM #TEMP RETURN

		--VALIDATE MAXLENGHT job_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'job_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Job Code', '職種コード')	
		FROM #TEMP 
		WHERE
			LEN(job_cd)>3
		--VALIDATE NUMERIC job_cd 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'job_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Job Code', '職種コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.job_cd <> '') 
		AND (#TEMP.job_cd LIKE '%[^0-9]%')
		--VALIDATE NUMERIC job_cd < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.job_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				151			
			,	'job_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Job Code', '職種コード')	
			FROM #TEMP 
			WHERE
				 #TEMP.job_cd = 0
		END
		--VALIDATE REQUIRED job_cd
		INSERT INTO @ERR_TBL
		SELECT
			8				
		,	'job_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Job Code', '職種コード')	
		FROM #TEMP 
		WHERE
			#TEMP.job_cd  = ''
		--VALIDATE MAXLENGHT job_nm 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'job_nm'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Job Title ', '職種名')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.job_nm)>50)
		--VALIDATE MAXLENGHT job_ab_nm 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'job_ab_nm'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Job Title Abbreviation', '職種略称')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.job_ab_nm)>10)
		--VALIDATE MAXLENGHT arrange_order 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'arrange_order'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Order', '並び順')
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.arrange_order)>4)
		--VALIDATE NUMERIC arrange_order 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'arrange_order'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Order', '並び順')	
		FROM #TEMP 
		WHERE
			(#TEMP.arrange_order <> '') 
		AND (#TEMP.arrange_order LIKE '%[^0-9]%')
		--VALIDATE NUMERIC arrange_order < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.arrange_order NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'arrange_order'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Order', '並び順')
			FROM #TEMP 
			WHERE
				(#TEMP.arrange_order NOT LIKE '%[^0-9]%') 
			AND (#TEMP.arrange_order < 0)
		END
		--
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- PROCESS
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- Chỗ này dùng để viết code xử lý dữ liệu sau khi validate xong

		
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
		DELETE W FROM  WRK_M0030 AS W INNER JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user
			-- Check job_cd trong bang chinh
			INSERT INTO WRK_M0030 
			SELECT 
				#TEMP.exec_user
			,	#TEMP.company_cd
			,	#TEMP.job_cd			
			,	#TEMP.job_nm			
			,	#TEMP.job_ab_nm		
			,	#TEMP.arrange_order				
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
		END
		ELSE
		BEGIN
			--
			INSERT INTO WRK_M0030 
			SELECT 
				CONCAT('WRK_M0030_', CAST(@P_no AS NVARCHAR(10)))
			,	0
			,	0
			,	''
			,	''
			,	0
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
		END

		--
		IF (@P_no = @P_count) 
		BEGIN
			--
			IF (EXISTS(SELECT 1 FROM @ERR_TBL) OR EXISTS(SELECT 1 FROM WRK_M0030 WHERE exec_user LIKE '%WRK_M0030%'))
			BEGIN
				TRUNCATE TABLE WRK_M0030
				--
				GOTO COMPLETE_QUERY
			END
				
			--
			UPDATE M0030
			SET
				job_nm				=	WRK_M0030.job_nm				
			,	job_ab_nm			=	WRK_M0030.job_ab_nm			
			,	arrange_order		=	WRK_M0030.arrange_order			
			,	upd_user			=	@P_cre_user		
			,	upd_ip				=	@P_cre_ip	
			,	upd_prg				=	'O0100'	
			,	upd_datetime		=	@w_time	
			,	del_user			=	SPACE(0)
			,	del_ip				=	SPACE(0)
			,	del_prg				=	SPACE(0)
			,	del_datetime		=	NULL
			FROM M0030 
			INNER JOIN WRK_M0030 ON (
				M0030.company_cd	=	WRK_M0030.company_cd
			AND M0030.job_cd		=	WRK_M0030.job_cd
			)

			--
			INSERT INTO M0030
			SELECT 
				WRK_M0030.company_cd
			,	WRK_M0030.job_cd
			,	WRK_M0030.job_nm	
			,	WRK_M0030.job_ab_nm		
			,	WRK_M0030.arrange_order	
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM WRK_M0030
			LEFT JOIN M0030 ON (
				WRK_M0030.company_cd	=	M0030.company_cd	
			AND WRK_M0030.job_cd		=	M0030.job_cd		
			)
			WHERE 
				M0030.job_cd IS NULL	
			--AND WRK_M0030.job_cd <> ''
			
			--
			SET @max_job_cd = ISNULL((SELECT MAX(job_cd)+1 FROM M0030 WHERE company_cd = @P_company_cd),0)
			
			--
			INSERT INTO M0030
			SELECT 
				WRK_M0030.company_cd
			,	@max_job_cd
			,	WRK_M0030.job_nm	
			,	WRK_M0030.job_ab_nm		
			,	WRK_M0030.arrange_order	
			,	@P_cre_user			
			,	@P_cre_ip
			,	'O0100'				
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM WRK_M0030
			LEFT JOIN M0030 ON (
				WRK_M0030.company_cd	=	M0030.company_cd	
			AND WRK_M0030.job_cd		=	M0030.job_cd		
			)
			WHERE 
				M0030.job_cd IS NULL	
			--AND WRK_M0030.job_cd		=	''

			--
			TRUNCATE TABLE WRK_M0030
		END
	END TRY
	BEGIN CATCH
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
			'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
			'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
			'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	COMPLETE_QUERY:
	--
	IF EXISTS(SELECT 1 FROM @ERR_TBL AS ERR_TBL WHERE ERR_TBL.item = 'EXCEPTION')
	BEGIN
		IF @@TRANCOUNT >0
		BEGIN
			ROLLBACK TRANSACTION
		END
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END

	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO
