/****** Object:  StoredProcedure [dbo].[SPC_O0100_ACT1]    Script Date: 2018/10/02 17:20:02 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_ACT1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- SPC_M0001_INQ1 1,5
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	O0100

--*  
--*  作成日/create date			:	2018/10/02										
--*　作成者/creater				:	sondh　								
--*   					
--*  更新日/update date			:  	2018/10/06						
--*　更新者/updater				:　 tuantv 　								     	 
--*　更新内容/update content		:	change processing import CR date 2018/10/31	　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_O0100_ACT1]
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)		=	''
,	@P_exec_user			NVARCHAR(100)		=	''
,	@P_company_cd			SMALLINT			=	0	
,	@P_cre_user				NVARCHAR(50)		=	''
,	@P_cre_ip				NVARCHAR(50)		=	''
,	@P_no					INT					=	0
,	@P_count				INT					=	0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 	
		@w_time						DATETIME2			= SYSDATETIME()
	,	@order_by_min				INT					= 0
	,	@ERR_TBL					ERRTABLE	
	,	@import_number				INT					= 0
	,	@max_office_cd				INT					= 0

	--
	CREATE TABLE #TEMP(
		id					INT		IDENTITY(1,1)
	,	exec_user			NVARCHAR(100)
	,	company_cd			SMALLINT
	,	office_cd			NVARCHAR(50)
	,	office_nm			NVARCHAR(100)
	,	office_ab_nm		NVARCHAR(50)
	,	zip_cd				NVARCHAR(50)
	,	address1			NVARCHAR(200)
	,	address2			NVARCHAR(200)
	,	address3			NVARCHAR(200)
	,	tel					NVARCHAR(50)
	,	fax					NVARCHAR(50)
	,	responsible_cd		NVARCHAR(50)
	,	arrange_order		NVARCHAR(50)
	)
	
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- VALIDATE
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22						-- mã lỗi (trùng với mã trong bảng message) 					
			,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby				-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0						-- Tùy ý
			,	'json format'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END

		-- GET  DATA
		INSERT INTO #TEMP
		SELECT
			CONCAT(@P_exec_user, CAST(@P_no AS NVARCHAR(10))) 
		,	@P_company_cd
		,	RTRIM(LTRIM(office_cd))		
		,	RTRIM(LTRIM(office_nm))		
		,	RTRIM(LTRIM(office_ab_nm))		
		,	RTRIM(LTRIM(zip_cd))			
		,	RTRIM(LTRIM(address1))			
		,	RTRIM(LTRIM(address2))			
		,	RTRIM(LTRIM(address3))			
		,	RTRIM(LTRIM(tel))				
		,	RTRIM(LTRIM(fax))				
		,	RTRIM(LTRIM(responsible_cd))	
		,	RTRIM(LTRIM(arrange_order))	
		FROM OPENJSON(@P_json) WITH(
			office_cd			NVARCHAR(50)
		,	office_nm			NVARCHAR(100)
		,	office_ab_nm		NVARCHAR(50)
		,	zip_cd				NVARCHAR(50)
		,	address1			NVARCHAR(200)
		,	address2			NVARCHAR(200)
		,	address3			NVARCHAR(200)
		,	tel					NVARCHAR(50)
		,	fax					NVARCHAR(50)
		,	responsible_cd		NVARCHAR(50)
		,	arrange_order		NVARCHAR(50)
		)
		
		--VALIDATE MAXLENGHT office_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'office_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		--,	'営業所コード'	
		,	IIF(@P_language = 'en','Office Code', '営業所コード')
		FROM #TEMP 
		WHERE
			LEN(office_cd)>3
		--VALIDATE NUMERIC office_cd 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'office_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Office Code', '営業所コード')
		FROM #TEMP 
		WHERE
			(#TEMP.office_cd <> '') 
		AND (#TEMP.office_cd LIKE '%[^0-9]%')
		--VALIDATE NUMERIC office_cd < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.office_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				151				
			,	'office_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Office Code', '営業所コード')
			FROM #TEMP 
			WHERE 
				CAST(#TEMP.office_cd AS INT) = 0
		END
		--VALIDATE MAXLENGHT office_nm 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'office_nm'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Office Name', '営業所名')
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.office_nm)>50)
		--VALIDATE MAXLENGHT office_ab_nm 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'office_ab_nm'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Abbreviation', '営業所略称')
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.office_ab_nm)>20)
		--VALIDATE MAXLENGHT zip_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'zip_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Post Code', '郵便番号')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.zip_cd)>7)
		--VALIDATE MAXLENGHT address1 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'address1'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Address 1', '住所1')
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.address1)>100)
		--VALIDATE MAXLENGHT address2 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'address2'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Address 2', '住所2')
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.address2)>100)
		--VALIDATE MAXLENGHT address3 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'address3'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Address 3', '住所3')
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.address3)>100)
		--VALIDATE MAXLENGHT tel 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'tel'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Telephone Number', '電話番号')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.tel)>20)
		--VALIDATE MAXLENGHT fax
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'fax'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Fax Number', 'ＦＡＸ番号')
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.fax)>20)
		--VALIDATE MAXLENGHT tel 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'responsible_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Supervisor Code', '責任者コード')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.responsible_cd)>10)
	--cr 2020/09/01
		INSERT INTO @ERR_TBL
		SELECT
			107				
		,	'responsible_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Supervisor Code', '責任者コード')	
		FROM #TEMP 
		LEFT JOIN M0070 ON(
			@P_company_cd		=	M0070.company_cd
		AND #TEMP.responsible_cd	=	M0070.employee_cd
		AND M0070.del_datetime IS NULL
		)
		WHERE M0070.company_cd IS NULL
		AND #TEMP.responsible_cd <> '0'
		AND #TEMP.responsible_cd <> ''

		--VALIDATE MAXLENGHT tel 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'arrange_order'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Order', '並び順')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.arrange_order)>4)
		--VALIDATE NUMERIC arrange_order 
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'arrange_order'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Order', '並び順')
		FROM #TEMP 
		WHERE
			(#TEMP.arrange_order <> '') 
		AND (#TEMP.arrange_order LIKE '%[^0-9]%')
		--VALIDATE NUMERIC arrange_order < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.arrange_order NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				11				
			,	'arrange_order'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Order', '並び順')
			FROM #TEMP 
			WHERE
				(#TEMP.arrange_order NOT LIKE '%[^0-9]%')
			AND (#TEMP.arrange_order < 0)
		END
		--
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- PROCESS
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- Chỗ này dùng để viết code xử lý dữ liệu sau khi validate xong
		--INSERT WRK_M0010 office_cd <> ''
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
		
		DELETE W FROM  WRK_M0010 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE T.company_cd IS NOT NULL
			--
			INSERT INTO WRK_M0010 
			SELECT 
				#TEMP.exec_user
			,	#TEMP.company_cd
			,	#TEMP.office_cd			
			,	#TEMP.office_nm			
			,	#TEMP.office_ab_nm		
			,	#TEMP.zip_cd				
			,	#TEMP.address1			
			,	#TEMP.address2			
			,	#TEMP.address3			
			,	#TEMP.tel					
			,	#TEMP.fax					
			,	#TEMP.responsible_cd		
			,	#TEMP.arrange_order	
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
		END
		ELSE
		BEGIN
			--
			INSERT INTO WRK_M0010 
			SELECT 
				CONCAT('WRK_M0010_', CAST(@P_no AS NVARCHAR(10)))	
			,	0													
			,	0													
			,	''													
			,	''													
			,	''													
			,	''													
			,	''													
			,	''													
			,	''													
			,	''													
			,	''													
			,	0													
			,	@P_cre_user											
			,	@P_cre_ip											
			,	'O0100'												
			,	@w_time												
			,	SPACE(0)											
			,	SPACE(0)											
			,	SPACE(0)											
			,	NULL												
			,	SPACE(0)											
			,	SPACE(0)											
			,	SPACE(0)											
			,	NULL												
		END
	
		--
		IF (@P_no = @P_count) 
		BEGIN
			--
			IF (EXISTS(SELECT 1 FROM @ERR_TBL) OR EXISTS(SELECT 1 FROM WRK_M0010 WHERE exec_user LIKE '%WRK_M0010%'))
			BEGIN
				TRUNCATE TABLE WRK_M0010
				--
				GOTO COMPLETE_QUERY
			END
			--
			--UPDATE M0010
			UPDATE M0010
			SET
				office_nm			=	WRK_M0010.office_nm			
			,	office_ab_nm		=	WRK_M0010.office_ab_nm		
			,	zip_cd				=	WRK_M0010.zip_cd				
			,	address1			=	WRK_M0010.address1			
			,	address2			=	WRK_M0010.address2			
			,	address3			=	WRK_M0010.address3			
			,	tel					=	WRK_M0010.tel					
			,	fax					=	WRK_M0010.fax					
			,	responsible_cd		=	WRK_M0010.responsible_cd		
			,	arrange_order		=	WRK_M0010.arrange_order	
			,	upd_user			=	@P_cre_user		
			,	upd_ip				=	@P_cre_ip	
			,	upd_prg				=	'O0100'	
			,	upd_datetime		=	@w_time	
			,	del_user			=	SPACE(0)
			,	del_ip				=	SPACE(0)
			,	del_prg				=	SPACE(0)
			,	del_datetime		=	NULL
			FROM M0010 
			INNER JOIN WRK_M0010 ON (
				M0010.company_cd	=	WRK_M0010.company_cd
			AND M0010.office_cd		=	WRK_M0010.office_cd
			)
			
			--
			--INSERT M0010
			INSERT INTO M0010
			SELECT 
				WRK_M0010.company_cd
			,	WRK_M0010.office_cd			
			,	WRK_M0010.office_nm			
			,	WRK_M0010.office_ab_nm		
			,	WRK_M0010.zip_cd				
			,	WRK_M0010.address1			
			,	WRK_M0010.address2			
			,	WRK_M0010.address3			
			,	WRK_M0010.tel					
			,	WRK_M0010.fax					
			,	WRK_M0010.responsible_cd		
			,	WRK_M0010.arrange_order	
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM WRK_M0010
			LEFT JOIN M0010 ON (
				WRK_M0010.company_cd	=	M0010.company_cd	
			AND WRK_M0010.office_cd		=	M0010.office_cd		
			)
			WHERE 
				M0010.office_cd IS NULL	
			--AND WRK_M0010.office_cd <> ''
			SET @max_office_cd = (SELECT MAX(M0010.office_cd)+1 FROM M0010 WHERE M0010.company_cd = @P_company_cd)
			INSERT INTO M0010
			SELECT 
				WRK_M0010.company_cd
			,	@max_office_cd		
			,	WRK_M0010.office_nm			
			,	WRK_M0010.office_ab_nm		
			,	WRK_M0010.zip_cd				
			,	WRK_M0010.address1			
			,	WRK_M0010.address2			
			,	WRK_M0010.address3			
			,	WRK_M0010.tel					
			,	WRK_M0010.fax					
			,	WRK_M0010.responsible_cd		
			,	WRK_M0010.arrange_order	
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM WRK_M0010
			LEFT JOIN M0010 ON (
				WRK_M0010.company_cd	=	M0010.company_cd	
			AND WRK_M0010.office_cd		=	M0010.office_cd		
			)
			WHERE 
				M0010.office_cd IS NULL	
			--AND WRK_M0010.office_cd = ''

			--
			TRUNCATE TABLE WRK_M0010
		END
	END TRY
	BEGIN CATCH

	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	COMPLETE_QUERY:
	--
	IF EXISTS(SELECT 1 FROM @ERR_TBL AS ERR_TBL WHERE ERR_TBL.item = 'EXCEPTION')
	BEGIN
		IF @@TRANCOUNT >0
		BEGIN
			ROLLBACK TRANSACTION
		END
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END

	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO
