/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT2]    Script Date: 2018/10/01 11:42:52 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT2]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2018/10/01
 *  作成者  ： sondh
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT2]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)		= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA 
	(
		id							INT IDENTITY(1,1)
	,	organization_typ			NVARCHAR(30)
	,	organization_cd_1			NVARCHAR(20)
	,	organization_cd_2			NVARCHAR(20)
	,	organization_cd_3			NVARCHAR(20)
	,	organization_cd_4			NVARCHAR(20)
	,	organization_cd_5			NVARCHAR(20)
	,	organization_nm				NVARCHAR(50)
	,	organization_ab_nm			NVARCHAR(50)
	,	responsible_cd				NVARCHAR(30)
	,	import_cd					NVARCHAR(255)
	,	arrange_order				NVARCHAR(20)
	)	
	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Department Division'				AS organization_typ			
		,	'Department Code 1'				AS organization_cd_1		
		,	'Department Code 2'				AS organization_cd_2
		,	'Department Code 3'				AS organization_cd_3
		,	'Department Code 4'				AS organization_cd_4
		,	'Department Code 5'				AS organization_cd_5			
		,	'Department Name'					AS organization_nm				
		,	'Abbreviated Department Name'			AS organization_ab_nm		
		,	'Supervisor Code'					AS responsible_cd
		,	'Import Code'						AS import_cd
		,	'Order'								AS arrange_order	
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'組織区分'					AS organization_typ			
		,	'組織コード1'				AS organization_cd_1		
		,	'組織コード2'				AS organization_cd_2
		,	'組織コード3'				AS organization_cd_3
		,	'組織コード4'				AS organization_cd_4
		,	'組織コード5'				AS organization_cd_5			
		,	'組織名'						AS organization_nm				
		,	'組織略称'					AS organization_ab_nm		
		,	'責任者コード'				AS responsible_cd		
		,	'取込用コード'				AS import_cd	
		,	'並び順'						AS arrange_order			
	END

	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(M0020.organization_typ,0)					AS organization_typ			
	,	ISNULL(M0020.organization_cd_1,'')					AS organization_cd_1
	,	ISNULL(M0020.organization_cd_2,'')					AS organization_cd_2
	,	ISNULL(M0020.organization_cd_3,'')					AS organization_cd_3
	,	ISNULL(M0020.organization_cd_4,'')					AS organization_cd_4
	,	ISNULL(M0020.organization_cd_5,'')					AS organization_cd_5			
	,	ISNULL(M0020.organization_nm,'')					AS organization_nm			
	,	ISNULL(M0020.organization_ab_nm,'')					AS organization_ab_nm		
	,	ISNULL(M0020.responsible_cd,'')						AS responsible_cd	
	,	ISNULL(REPLACE(REPLACE(M0020.import_cd, CHAR(13), ' '), CHAR(10), ' '),'') AS import_cd
	,	ISNULL(M0020.arrange_order,0)						AS arrange_order			
	FROM  M0020 
	WHERE 
		M0020.company_cd		=	@P_company_cd
	AND M0020.del_datetime IS NULL
	ORDER BY 
		M0020.arrange_order
	,	M0020.organization_cd_1
	,	M0020.organization_cd_2
	,	M0020.organization_cd_3
	,	M0020.organization_cd_4
	,	M0020.organization_cd_5

	--[0]
	SELECT
		#DATA.organization_typ
	,	#DATA.organization_cd_1
	,	#DATA.organization_cd_2
	,	#DATA.organization_cd_3
	,	#DATA.organization_cd_4
	,	#DATA.organization_cd_5	
	,	#DATA.organization_nm	
	,	#DATA.organization_ab_nm
	,	#DATA.responsible_cd	
	,	#DATA.import_cd
	,	#DATA.arrange_order	
	FROM #DATA
	ORDER BY 
		id
END

GO
