/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT21]    Script Date: 2024/04/08 15:50:05 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT21]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2024/04/10
 *  作成者  ： PhuongDT
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT21]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA (
		id							INT IDENTITY(1,1)
	,	employee_cd					NVARCHAR(20)
	,	detail_no					NVARCHAR(20)
	,	training_cd					NVARCHAR(50)
	,	training_nm					NVARCHAR(50)
	,	training_category_cd		NVARCHAR(50)
	,	training_course_format_cd	NVARCHAR(50)
	,	lecturer_name				NVARCHAR(50)
	,	training_date_from			NVARCHAR(50)
	,	training_date_to			NVARCHAR(50)
	,	training_status				NVARCHAR(50)
	,	passing_date				NVARCHAR(50)
	,	report_submission			NVARCHAR(50)
	,	report_submission_date		NVARCHAR(50)
	,	report_storage_location		NVARCHAR(50)
	,	nationality					NVARCHAR(100)
	)

	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Employee Code' 				AS employee_cd					
		,	'Detail No' 					AS detail_no					
		,	'Training Code' 				AS training_cd	
		,	'Training Name' 				AS training_nm			
		,	'Training Category Code' 		AS training_category_cd		
		,	'Training Course Format Code' 	AS training_course_format_cd					
		,	'Lecturer Name' 				AS lecturer_name			
		,	'Training Date From' 			AS training_date_from			
		,	'Training Date To' 				AS training_date_to					
		,	'Training Status' 				AS training_status		
		,	'Passing Date' 					AS passing_date	
		,	'Report Submission'			 	AS report_submission	
		,	'Report Submission Date' 		AS report_submission_date			
		,	'Report Storage Location' 		AS report_storage_location			
		,	'Nationality' 					AS nationality						
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'社員コード' 				    AS employee_cd
		,	'明細番号' 					AS detail_no					
		,	'研修コード' 				    AS training_cd
		,	'研修名' 					AS training_nm			
		,	'研修カテゴリー' 			    AS training_category_cd
		,	'受講形式' 					AS training_course_format_cd					
		,	'講師名' 					AS lecturer_name			
		,	'受講日FROM' 				AS training_date_from			
		,	'受講日TO' 					AS training_date_to					
		,	'受講状況' 					AS training_status		
		,	'合格日' 					AS passing_date	
		,	'レポート提出要否'			    AS report_submission
		,	'レポート提出日' 			    AS report_submission_date
		,	'レポート格納先' 			    AS report_storage_location
		,	'備考' 						AS nationality	
	END
	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(M0076.employee_cd,'')				
	,	ISNULL(detail_no,0)	
	,	ISNULL(training_cd,0)	
	,	ISNULL(training_nm,'')				
	,	ISNULL(training_category_cd,0)				
	,	ISNULL(training_course_format_cd,0)					
	,	ISNULL(lecturer_name,'')					
	,	FORMAT(NULLIF(training_date_from,'1900-01-01'), 'yyyy/MM/dd')	
	,	FORMAT(NULLIF(training_date_to,'1900-01-01'), 'yyyy/MM/dd')	
	,	ISNULL(training_status,0)		
	,	FORMAT(NULLIF(passing_date,'1900-01-01'), 'yyyy/MM/dd')		
	,	ISNULL(report_submission,0)
	,	FORMAT(NULLIF(report_submission_date,'1900-01-01'), 'yyyy/MM/dd')	
	,	ISNULL(report_storage_location,'')	
	,	ISNULL(nationality,'')
	FROM M0076
	WHERE 
		M0076.company_cd			=	@P_company_cd
	AND M0076.del_datetime IS NULL
	ORDER BY 
		M0076.employee_cd
	,	M0076.detail_no

	--[0]
	SELECT
		#DATA.employee_cd				
	,	#DATA.detail_no					
	,	#DATA.training_cd	
	,	#DATA.training_nm			
	,	#DATA.training_category_cd		
	,	#DATA.training_course_format_cd					
	,	#DATA.lecturer_name			
	,	#DATA.training_date_from			
	,	#DATA.training_date_to					
	,	#DATA.training_status		
	,	#DATA.passing_date	
	,	#DATA.report_submission	
	,	#DATA.report_submission_date			
	,	#DATA.report_storage_location			
	,	#DATA.nationality					
	FROM #DATA
	ORDER BY
		id
END
GO