/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT3]    Script Date: 2018/10/01 12:01:23 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT3]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2018/10/01
 *  作成者  ： sondh
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT3]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)		= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA (
		id						INT IDENTITY(1,1)
	,	job_cd					NVARCHAR(20)
	,	job_nm					NVARCHAR(50)
	,	job_ab_nm				NVARCHAR(50)
	,	arrange_order			NVARCHAR(20)
	)
		
	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Job Code'					AS job_cd				
		,	'Job Title '					AS job_nm					
		,	'Job Title Abbreviation'		AS job_ab_nm	
		,	'Order'				AS arrange_order	
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'職種コード'				AS job_cd				
		,	'職種名'					AS job_nm					
		,	'職種略称'				AS job_ab_nm			
		,	'並び順'					AS arrange_order
	END				
	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(job_cd,0)					
	,	ISNULL(job_nm,'')					
	,	ISNULL(job_ab_nm,'')				
	,	ISNULL(arrange_order,0)					
	FROM M0030
	WHERE 
		company_cd			=	@P_company_cd
	AND del_datetime IS NULL
	ORDER BY 
		arrange_order
	,	job_cd

	--[0]
	SELECT 
		#DATA.job_cd			
	,	#DATA.job_nm		
	,	#DATA.job_ab_nm	
	,	#DATA.arrange_order
	FROM #DATA
	ORDER BY
		id
END

GO
