/****** Object:  StoredProcedure [dbo].[SPC_O0100_ACT14]    Script Date: 2018/10/02 17:20:02 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_ACT14]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	O0100
--*  
--*  作成日/create date			:	2024/04/11
--*　作成者/creater				:	PhuongDT								
--*   					
--*  更新日/update date			:  						
--*　更新者/updater				:　  　								     	 
--*　更新内容/update content	:
--*  
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_O0100_ACT14]
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)		=	''
,	@P_exec_user			NVARCHAR(100)		=	''
,	@P_company_cd			SMALLINT			=	0	
,	@P_cre_user				NVARCHAR(50)		=	''
,	@P_cre_ip				NVARCHAR(50)		=	''
,	@P_no					INT					=	0
,	@P_count				INT					=	0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 	
		@w_time			DATETIME2	= SYSDATETIME()
	,	@order_by_min	INT			= 0
	,	@ERR_TBL		ERRTABLE	
	--
	CREATE TABLE #TEMP(
		id									INT		IDENTITY(1,1)
	,	exec_user							NVARCHAR(100)
	,	company_cd							SMALLINT
	,	employee_cd							NVARCHAR(50)
	,	owning_house_kbn					NVARCHAR(50)
	,	head_household						NVARCHAR(50)
	,	post_code							NVARCHAR(50)
	,	address1							NVARCHAR(50)
	,	address2							NVARCHAR(100)
	,	address3							NVARCHAR(100)
	,	home_phone_number					NVARCHAR(50)
	,	personal_phone_number				NVARCHAR(50)
	,	personal_email_address				NVARCHAR(150)
	,	emergency_contact_name				NVARCHAR(100)
	,	emergency_contact_relationship		NVARCHAR(50)
	,	emergency_contact_birthday			NVARCHAR(50)
	,	emergency_contact_post_code			NVARCHAR(50)
	,	emergency_contact_addres1			NVARCHAR(100)
	,	emergency_contact_addres2			NVARCHAR(100)
	,	emergency_contact_addres3			NVARCHAR(100)
	,	emergency_contact_phone_number		NVARCHAR(50)
	)
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- VALIDATE
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22						-- mã lỗi (trùng với mã trong bảng message) 					
			,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống 			
			,	0-- oderby				-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0						-- Tùy ý
			,	'json format'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- GET  TEMP
		INSERT INTO #TEMP
		SELECT
			CONCAT(@P_exec_user, CAST(@P_no AS NVARCHAR(10)))																		
		,	@P_company_cd															
		,	RTRIM(LTRIM(employee_cd))											
		,	RTRIM(LTRIM(owning_house_kbn))											
		,	RTRIM(LTRIM(head_household))
		,	LEFT(RTRIM(LTRIM(post_code)),3)+ RIGHT(RTRIM(LTRIM(post_code)),4)	
		,	RTRIM(LTRIM(address1))
		,	RTRIM(LTRIM(address2))
		,	RTRIM(LTRIM(address3))
		,	RTRIM(LTRIM(home_phone_number))											
		,	RTRIM(LTRIM(personal_phone_number))													
		,	RTRIM(LTRIM(personal_email_address))												
		,	RTRIM(LTRIM(emergency_contact_name))												
		,	RTRIM(LTRIM(emergency_contact_relationship))												
		,	RTRIM(LTRIM(emergency_contact_birthday))												
		,	LEFT(RTRIM(LTRIM(emergency_contact_post_code)),3)+ RIGHT(RTRIM(LTRIM(emergency_contact_post_code)),4)	    												
		,	RTRIM(LTRIM(emergency_contact_addres1))												
		,	RTRIM(LTRIM(emergency_contact_addres2))												
		,	RTRIM(LTRIM(emergency_contact_addres3))												
		,	RTRIM(LTRIM(emergency_contact_phone_number))												
		FROM OPENJSON(@P_json) WITH(										
			employee_cd					NVARCHAR(50)
		,	owning_house_kbn					NVARCHAR(50)
		,	head_household						NVARCHAR(50)
		,	post_code							NVARCHAR(50)
		,	address1							NVARCHAR(50)
		,	address2							NVARCHAR(100)
		,	address3							NVARCHAR(100)
		,	home_phone_number					NVARCHAR(50)
		,	personal_phone_number				NVARCHAR(50)
		,	personal_email_address				NVARCHAR(150)
		,	emergency_contact_name				NVARCHAR(100)
		,	emergency_contact_relationship		NVARCHAR(50)
		,	emergency_contact_birthday			NVARCHAR(50)
		,	emergency_contact_post_code			NVARCHAR(50)
		,	emergency_contact_addres1			NVARCHAR(100)
		,	emergency_contact_addres2			NVARCHAR(100)
		,	emergency_contact_addres3			NVARCHAR(100)
		,	emergency_contact_phone_number		NVARCHAR(50)						
		)
		--------------------------------------------
		--VALIDATE MAXLENGHT employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.employee_cd)>10)
		--VALIDATE REQUIRED employee_cd 							
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.employee_cd = '')
		--	--
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.employee_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				151				
			,	'employee_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Employee Code','社員コード')	
			FROM #TEMP 
			WHERE
				#TEMP.employee_cd = 0
		END
		-- VALIDATE EXIST employee_cd IN M0070
		IF NOT EXISTS (
			SELECT 1 FROM #TEMP 
			INNER JOIN M0070 ON (
				M0070.company_cd = @P_company_cd
			AND	M0070.employee_cd = #TEMP.employee_cd
			AND M0070.del_datetime is NULL
			)
		)
		BEGIN
		INSERT INTO @ERR_TBL
		SELECT
			111				
		,	'employee_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code','社員コード')	
		END
		-------------------------------------------------
		--VALIDATE NUMERIC owning_house_kbn
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'owning_house_kbn'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Owning House Kbn','持ち家区分')	
		FROM #TEMP 
		WHERE
			(#TEMP.owning_house_kbn <> '')
		AND (#TEMP.owning_house_kbn LIKE '%[^0-9]%')
		--VALIDATE NUMERIC owning_house_kbn < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.owning_house_kbn NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'owning_house_kbn'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Owning House Kbn','持ち家区分')
			FROM #TEMP 
			WHERE 
				(#TEMP.owning_house_kbn NOT LIKE '%[^0-9]%')
			AND	(#TEMP.owning_house_kbn < 0)
			-- VALIDATE EXIST owning_house_kbn IN L0010
			IF NOT EXISTS (
				SELECT * FROM #TEMP 
				LEFT JOIN L0010 ON (
					L0010.number_cd = #TEMP.owning_house_kbn
				AND L0010.name_typ = 62
				AND L0010.del_datetime is NULL
				)
				WHERE #TEMP.owning_house_kbn = 0 OR L0010.number_cd IS NOT NULL
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'owning_house_kbn'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Owning House Kbn','持ち家区分')
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT head_household
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'head_household'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Head Household','世帯主')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.head_household)>5)
		--VALIDATE NUMERIC head_household
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'head_household'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Head Household','世帯主')	
		FROM #TEMP 
		WHERE
			(#TEMP.head_household <> '')
		AND (#TEMP.head_household LIKE '%[^0-9]%')
		--VALIDATE NUMERIC head_household < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.head_household NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'head_household'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Head Household','世帯主')
			FROM #TEMP 
			WHERE 
				(#TEMP.head_household NOT LIKE '%[^0-9]%')
			AND	(#TEMP.head_household < 0)
			-- VALIDATE EXIST head_household
			INSERT INTO @ERR_TBL
			SELECT
				70				
			,	'head_household'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Head Household','世帯主')
			FROM #TEMP 
			WHERE 
				(#TEMP.head_household NOT IN (0,1))
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT post_code
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'post_code'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Post Code','郵便番号')			
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.post_code)>7)
		--VALIDATE NUMERIC post_code
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'post_code'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Post Code','郵便番号')			
		FROM #TEMP 
		WHERE
			(#TEMP.post_code <> '')
		AND (#TEMP.post_code LIKE '%[^0-9]%')
		--VALIDATE NUMERIC post_code < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.post_code NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'post_code'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Post Code','郵便番号')		
			FROM #TEMP 
			WHERE 
				(#TEMP.post_code NOT LIKE '%[^0-9]%')
			AND	(#TEMP.post_code < 0)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT address1 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'address1'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Prefectures','都道府県')	
		FROM #TEMP 
		WHERE
			(LEN(address1)>10)
		-------------------------------------------------
		--VALIDATE MAXLENGHT address2 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'address2'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','City/Chome/Chome','市区町村・丁目')	
		FROM #TEMP 
		WHERE
			(LEN(address2)>50)
		-------------------------------------------------
		--VALIDATE MAXLENGHT address3 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'address3'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Street Address/Building/Room Number','番地・建物・部屋番号')	
		FROM #TEMP 
		WHERE
			(LEN(address3)>50)
		-------------------------------------------------
		--VALIDATE MAXLENGHT home_phone_number 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'home_phone_number'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Home Phone Number','自宅電話番号')	
		FROM #TEMP 
		WHERE
			(LEN(home_phone_number)>20)
		-- VALIDATE phone contain '-' and number
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'home_phone_number'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Home Phone Number','自宅電話番号')	
		FROM #TEMP 
		WHERE #TEMP.home_phone_number LIKE '%[^0-9/-]%'
		-------------------------------------------------
		--VALIDATE MAXLENGHT personal_phone_number 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'personal_phone_number'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Personal Phone Number','個人携帯電話番号')	
		FROM #TEMP 
		WHERE
			(LEN(personal_phone_number)>20)
		-- VALIDATE phone contain '-' and number
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'personal_phone_number'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Personal Phone Number','個人携帯電話番号')
		FROM #TEMP 
		WHERE 
			#TEMP.personal_phone_number LIKE '%[^0-9/-]%'
		-------------------------------------------------
		--VALIDATE MAXLENGHT personal_email_address 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'personal_email_address'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Personal Email Address','個人メールアドレス')	
		FROM #TEMP 
		WHERE
			(LEN(personal_email_address)>100)
		-------------------------------------------------
		--VALIDATE MAXLENGHT emergency_contact_name 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'emergency_contact_name'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Emergency Contact Name','緊急連絡先氏名')	
		FROM #TEMP 
		WHERE
			(LEN(emergency_contact_name)>50)
		-------------------------------------------------
		--VALIDATE NUMERIC emergency_contact_relationship
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'emergency_contact_relationship'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Emergency Contact Relationship','緊急連絡先続柄')		
		FROM #TEMP 
		WHERE
			(#TEMP.emergency_contact_relationship <> '')
		AND (#TEMP.emergency_contact_relationship LIKE '%[^0-9]%')
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.emergency_contact_relationship NOT LIKE '%[^0-9]%')
		BEGIN
			--VALIDATE NUMERIC emergency_contact_relationship < 0
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'emergency_contact_relationship'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Emergency Contact Relationship','緊急連絡先続柄')	
			FROM #TEMP 
			WHERE 
				(#TEMP.emergency_contact_relationship NOT LIKE '%[^0-9]%')
			AND	(#TEMP.emergency_contact_relationship < 0)
			-- VALIDATE EXIST emergency_contact_relationship IN L0010
			IF NOT EXISTS (
				SELECT 1 FROM #TEMP 
				INNER JOIN L0010 ON (
					L0010.number_cd = #TEMP.emergency_contact_relationship
				AND L0010.name_typ = 63
				AND L0010.del_datetime is NULL
				)
			) AND NOT EXISTS (SELECT emergency_contact_relationship FROM #TEMP WHERE emergency_contact_relationship = 0 OR emergency_contact_relationship IS NULL OR emergency_contact_relationship = '')
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					70				
				,	'emergency_contact_relationship'				
				,	0-- oderby		
				,	1-- dialog  	
				,	0				
				,	0				
				,	IIF(@P_language = 'en','Emergency Contact Relationship','緊急連絡先続柄')	
			END
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT emergency_contact_birthday 							
		INSERT INTO @ERR_TBL												
		SELECT															
			28				
		,	'emergency_contact_birthday'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Emergency Contact Birthday','緊急連絡先生年月日')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.emergency_contact_birthday)>10)
		--VALIDATE DATE emergency_contact_birthday
		INSERT INTO @ERR_TBL
		SELECT
			15				
		,	'emergency_contact_birthday'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Emergency Contact Birthday','緊急連絡先生年月日')	
		FROM #TEMP 
		WHERE
			(#TEMP.emergency_contact_birthday <> '')
		AND	(ISDATE(#TEMP.emergency_contact_birthday)=0)
		--VALIDATE DATE emergency_contact_birthday >  today	
		IF EXISTS (SELECT 1 FROM #TEMP WHERE ISDATE(#TEMP.emergency_contact_birthday)=1)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24				
			,	'emergency_contact_birthday'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Emergency Contact Birthday','緊急連絡先生年月日')		
			FROM #TEMP 
			WHERE
				CAST(#TEMP.emergency_contact_birthday AS DATE) > CAST(FORMAT(GETDATE(), 'yyyy/MM/dd') AS DATE)
		END
		-------------------------------------------------
		--VALIDATE MAXLENGHT emergency_contact_post_code
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'emergency_contact_post_code'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Emergency Contact Post Code','緊急連絡先郵便番号')		
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.emergency_contact_post_code)>7)
		--VALIDATE NUMERIC emergency_contact_post_code
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'emergency_contact_post_code'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Emergency Contact Post Code','緊急連絡先郵便番号')		
		FROM #TEMP 
		WHERE
			(#TEMP.emergency_contact_post_code <> '')
		AND (#TEMP.emergency_contact_post_code LIKE '%[^0-9]%')
		--VALIDATE NUMERIC emergency_contact_post_code < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.emergency_contact_post_code NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'emergency_contact_post_code'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Emergency Contact Post Code','緊急連絡先郵便番号')	
			FROM #TEMP 
			WHERE 
				(#TEMP.emergency_contact_post_code NOT LIKE '%[^0-9]%')
			AND	(#TEMP.emergency_contact_post_code < 0)
		END

		-------------------------------------------------
		--VALIDATE MAXLENGHT emergency_contact_addres1 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'emergency_contact_addres1'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Emergency Contact Addres 1','緊急連絡先住所１')	
		FROM #TEMP 
		WHERE
			(LEN(emergency_contact_addres1)>10)
		-------------------------------------------------
		--VALIDATE MAXLENGHT emergency_contact_addres2 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'emergency_contact_addres2'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Emergency Contact Addres 2','緊急連絡先住所２')	
		FROM #TEMP 
		WHERE
			(LEN(emergency_contact_addres2)>50)
		-------------------------------------------------
		--VALIDATE MAXLENGHT emergency_contact_addres3 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'emergency_contact_addres3'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Emergency Contact Addres 3','緊急連絡先住所３')	
		FROM #TEMP 
		WHERE
			(LEN(emergency_contact_addres3)>50)
		-------------------------------------------------
		--VALIDATE MAXLENGHT emergency_contact_phone_number 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'emergency_contact_phone_number'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Emergency Contact Phone Number','緊急連絡先電話番号')	
		FROM #TEMP 
		WHERE
			(LEN(emergency_contact_phone_number)>20)
		-- VALIDATE phone contain '-' and number
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'emergency_contact_phone_number'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Emergency Contact Phone Number','緊急連絡先電話番号')		
		FROM #TEMP 
		WHERE #TEMP.emergency_contact_phone_number LIKE '%[^0-9/-]%'

		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- PROCESS
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- Chổ nay dung de viet code xu ly du lieu sau khi validate xong
		--

		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
			DELETE W FROM  WRK_M0083 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE T.company_cd IS NOT NULL
			--
			INSERT INTO WRK_M0083 
			SELECT 
				#TEMP.exec_user
			,	#TEMP.company_cd
			,	#TEMP.employee_cd				
			,	#TEMP.owning_house_kbn				
			,	#TEMP.head_household					
			,	#TEMP.post_code	
			,	#TEMP.address1	
			,	#TEMP.address2	
			,	#TEMP.address3	
			,	#TEMP.home_phone_number			
			,	#TEMP.personal_phone_number		
			,	#TEMP.personal_email_address			
			,	#TEMP.emergency_contact_name			
			,	IIF(#TEMP.emergency_contact_relationship = '', NULL, #TEMP.emergency_contact_relationship )	 			
			,	IIF(#TEMP.emergency_contact_birthday = '', NULL, #TEMP.emergency_contact_birthday )		
			,	#TEMP.emergency_contact_post_code			
			,	#TEMP.emergency_contact_addres1			
			,	#TEMP.emergency_contact_addres2			
			,	#TEMP.emergency_contact_addres3			
			,	#TEMP.emergency_contact_phone_number			
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
		END
		ELSE
		BEGIN
			DELETE W FROM  WRK_M0083 AS W LEFT JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user  WHERE W.exec_user LIKE '%WRK_M0083_%'
			--
			INSERT INTO WRK_M0083 
			SELECT 
				CONCAT('WRK_M0083_', CAST(@P_no AS NVARCHAR(10)))
			,	0
			,	''				
			,	0				
			,	0					
			,	''	
			,	''	
			,	''	
			,	''	
			,	''			
			,	''	
			,	''			
			,	''			
			,	''			
			,	NULL			
			,	''			
			,	''		
			,	''			
			,	''		
			,	''
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
		END			
		--

		IF (@P_no = @P_count) 
		BEGIN
			--
			IF (EXISTS(SELECT 1 FROM @ERR_TBL) OR EXISTS(SELECT 1 FROM WRK_M0083 WHERE exec_user LIKE '%WRK_M0083%'))
			BEGIN
				TRUNCATE TABLE WRK_M0083
				--
				GOTO COMPLETE_QUERY
			END

			-- UPDATE M0083
			UPDATE M0083
			SET 
				owning_house_kbn				= WRK_M0083.owning_house_kbn
			,	head_household					= WRK_M0083.head_household
			,	post_code						= WRK_M0083.post_code
			,	address1						= WRK_M0083.address1
			,	address2						= WRK_M0083.address2
			,	address3						= WRK_M0083.address3
			,	home_phone_number				= WRK_M0083.home_phone_number
			,	personal_phone_number			= WRK_M0083.personal_phone_number
			,	personal_email_address			= WRK_M0083.personal_email_address
			,	emergency_contact_name			= WRK_M0083.emergency_contact_name
			,	emergency_contact_relationship	= WRK_M0083.emergency_contact_relationship
			,	emergency_contact_birthday		= WRK_M0083.emergency_contact_birthday
			,	emergency_contact_post_code		= WRK_M0083.emergency_contact_post_code
			,	emergency_contact_addres1		= WRK_M0083.emergency_contact_addres1
			,	emergency_contact_addres2		= WRK_M0083.emergency_contact_addres2
			,	emergency_contact_addres3		= WRK_M0083.emergency_contact_addres3
			,	emergency_contact_phone_number	= WRK_M0083.emergency_contact_phone_number
			,	upd_user				=	@P_cre_user		
			,	upd_ip					=	@P_cre_ip	
			,	upd_prg					=	'O0100'	
			,	upd_datetime			=	@w_time	
			,	del_user				=	SPACE(0)
			,	del_ip					=	SPACE(0)
			,	del_prg					=	SPACE(0)
			,	del_datetime			=	NULL
			FROM M0083 
			INNER JOIN WRK_M0083 ON (
				M0083.company_cd		=	WRK_M0083.company_cd
			AND M0083.employee_cd		=	WRK_M0083.employee_cd
			AND WRK_M0083.company_cd    = @P_company_cd
			)		

			-- INSERT M0083
			INSERT INTO M0083 
			SELECT  
				WRK_M0083.company_cd
			,	WRK_M0083.employee_cd
			,	WRK_M0083.owning_house_kbn
			,	WRK_M0083.head_household					
			,	WRK_M0083.post_code	
			,	WRK_M0083.address1			
			,	WRK_M0083.address2			
			,	WRK_M0083.address3			
			,	WRK_M0083.home_phone_number		
			,	WRK_M0083.personal_phone_number					
			,	WRK_M0083.personal_email_address				
			,	WRK_M0083.emergency_contact_name				
			,	WRK_M0083.emergency_contact_relationship				
			,	WRK_M0083.emergency_contact_birthday				
			,	WRK_M0083.emergency_contact_post_code				
			,	WRK_M0083.emergency_contact_addres1				
			,	WRK_M0083.emergency_contact_addres2				
			,	WRK_M0083.emergency_contact_addres3			
			,	WRK_M0083.emergency_contact_phone_number			
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM WRK_M0083 
			LEFT JOIN M0083 ON (
				M0083.company_cd		=	WRK_M0083.company_cd
			AND M0083.employee_cd		=	WRK_M0083.employee_cd
			)	
			WHERE 
				M0083.employee_cd IS NULL
			AND	WRK_M0083.employee_cd <> ''
			AND WRK_M0083.company_cd    = @P_company_cd

			--
			DELETE WRK_M0083
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	COMPLETE_QUERY:
	--
	IF EXISTS(SELECT 1 FROM @ERR_TBL AS ERR_TBL WHERE ERR_TBL.item = 'EXCEPTION')
	BEGIN
		IF @@TRANCOUNT >0
		BEGIN
			ROLLBACK TRANSACTION
		END
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END

	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
