/****** Object:  StoredProcedure [dbo].[SPC_O0100_RPT22]    Script Date: 2024/04/08 15:50:05 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_RPT22]
SET QUOTED_IDENTIFIER ON
GO
--+TEST+
-- 
/****************************************************************************************************
 *
 *  処理概要:  export csv file
 *
 *  作成日  ： 2024/04/10
 *  作成者  ： PhuongDT
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_O0100_RPT22]
	@P_company_cd			SMALLINT			= 0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	--
	CREATE TABLE #DATA (
		id							INT IDENTITY(1,1)
	,	employee_cd					NVARCHAR(50)
	,	work_history_kbn			NVARCHAR(50)
	,	detail_no					NVARCHAR(50)
	,	item_id						NVARCHAR(50)
	,	item_title					NVARCHAR(150)
	,	date_from					NVARCHAR(50)
	,	date_to						NVARCHAR(50)
	,	text_item					NVARCHAR(150)
	,	select_item					NVARCHAR(50)
	,	number_item					NVARCHAR(50)
	)

	--INSERT #DATA	
	IF (@P_language = 'en')
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'Employee Code' 				AS employee_cd					
		,	'Work History Kbn' 				AS work_history_kbn					
		,	'Detail No' 					AS detail_no	
		,	'Item ID' 						AS item_id		
		,	'Item Title' 					AS item_title	
		,	'Date From' 					AS date_from		
		,	'Date To' 						AS date_to					
		,	'Text Item' 					AS text_item			
		,	'Select Item' 					AS select_item			
		,	'Number Item' 					AS number_item					
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT 
			'社員コード' 				        AS employee_cd
		,	'業務経歴区分' 					AS work_history_kbn					
		,	'明細番号' 						AS detail_no	
		,	'項目ID' 						AS item_id			
		,	'項目名' 						AS item_title	
		,	'日付FROM' 						AS date_from		
		,	'日付TO' 						AS date_to					
		,	'文字項目' 						AS text_item			
		,	'選択項目' 						AS select_item			
		,	'数字項目' 						AS number_item	
	END
	--INSERT #DATA 
	INSERT INTO #DATA
	SELECT 
		ISNULL(M0077.employee_cd,'')				
	,	ISNULL(M0077.work_history_kbn,0)	
	,	ISNULL(M0077.detail_no,0)	
	,	ISNULL(M0077.item_id,0)				
	,	ISNULL(M5020.item_title,'')
	,	FORMAT(NULLIF(M0077.date_from,'1900-01-01'), 'yyyy/MM/dd')	
	,	FORMAT(NULLIF(M0077.date_to,'1900-01-01'), 'yyyy/MM/dd')	
	,	ISNULL(M0077.text_item,'')		
	,	ISNULL(M0077.select_item,0)	
	,	ISNULL(M0077.number_item,0)
	FROM M0077
	LEFT JOIN M5020 ON ( 
		M0077.company_cd			= M5020.company_cd 
	AND M0077.work_history_kbn		= M5020.work_history_kbn 
	AND M0077.item_id				= M5020.item_id 
	AND M5020.del_datetime IS NULL
	)
	WHERE 
		M0077.company_cd			=	@P_company_cd
	AND M0077.del_datetime IS NULL
	ORDER BY 
		CASE (SELECT 1 WHERE M0077.employee_cd NOT LIKE '%[^0-9]%')
		   WHEN 1 
		   THEN CAST(M0077.employee_cd AS BIGINT) 
		   ELSE 999999999999999 
		END 
    ,	M0077.employee_cd
	,	M0077.work_history_kbn
	,	M0077.detail_no
	,	M0077.item_id

	--[0]
	SELECT
		#DATA.employee_cd				
	,	#DATA.work_history_kbn					
	,	#DATA.detail_no	
	,	#DATA.item_id		
	,	#DATA.item_title
	,	#DATA.date_from		
	,	#DATA.date_to					
	,	#DATA.text_item			
	,	#DATA.select_item			
	,	#DATA.number_item				
	FROM #DATA
	ORDER BY
		id
END
GO