/****** Object:  StoredProcedure [dbo].[SPC_O0100_ACT4]    Script Date: 2018/10/03 14:28:20 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_O0100_ACT4]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- SPC_M0001_INQ1 1,5
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	O0100

--*  
--*  作成日/create date			:	2018/10/03										
--*　作成者/creater				:	sondh　								
--*   					
--*  更新日/update date			:  	2018/10/06						
--*　更新者/updater				:　 tuantv 　								     	 
--*　更新内容/update content		:	change processing import CR date 2018/10/31　	
--*   					
--*  更新日/update date			:  	2023/12/04					
--*　更新者/updater				:　 viettd 　								     	 
--*　更新内容/update content		:	APPLY POSITION FROM SMALLINT -> INT
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_O0100_ACT4]
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)		=	''
,	@P_exec_user			NVARCHAR(100)		=	''
,	@P_company_cd			SMALLINT			=	0	
,	@P_cre_user				NVARCHAR(50)		=	''
,	@P_cre_ip				NVARCHAR(50)		=	''
,	@P_no					INT					=	0
,	@P_count				INT					=	0
,	@P_language				NVARCHAR(2)			= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 	
		@w_time						DATETIME2			= SYSDATETIME()
	,	@order_by_min				INT					= 0
	,	@ERR_TBL					ERRTABLE	
	,	@max_position_cd			INT					= 0
	--
	CREATE TABLE #TEMP(
		id					INT		IDENTITY(1,1)
	,	exec_user			NVARCHAR(80)
	,	company_cd			SMALLINT
	,	position_cd			NVARCHAR(50)
	,	position_nm			NVARCHAR(100)
	,	position_ab_nm		NVARCHAR(50)
    ,	import_cd			NVARCHAR(500)
	,	arrange_order		NVARCHAR(50)
    ,	import_cd_check		INT
	)
	
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- VALIDATE
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22						-- mã lỗi (trùng với mã trong bảng message) 					
			,	''						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby				-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  			-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0						-- Tùy ý
			,	'json format'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- GET  DATA
		INSERT INTO #TEMP
		SELECT
			CONCAT(@P_exec_user, CAST(@P_no AS NVARCHAR(10))) 
		,	@P_company_cd
		,	RTRIM(LTRIM(position_cd))		
		,	RTRIM(LTRIM(position_nm))		
		,	RTRIM(LTRIM(position_ab_nm))
        ,	RTRIM(LTRIM(import_cd))
        ,	RTRIM(LTRIM(arrange_order))
		,   0
		FROM OPENJSON(@P_json) WITH(
			position_cd			NVARCHAR(50)
		,	position_nm			NVARCHAR(100)
		,	position_ab_nm		NVARCHAR(50)
        ,	import_cd			NVARCHAR(500)
		,	arrange_order		NVARCHAR(50)
        ,	import_cd_check		INT
		)

        -- if update import_cd itself not check
        UPDATE #TEMP
        SET import_cd_check = 1
            FROM #TEMP
                INNER JOIN M0040 ON (
            #TEMP.company_cd			    =	M0040.company_cd
            AND #TEMP.position_cd		    =	M0040.position_cd
            AND #TEMP.position_nm		    =	M0040.position_nm
            AND #TEMP.position_ab_nm		=	M0040.position_ab_nm
            AND #TEMP.import_cd				=	M0040.import_cd
            AND M0040.del_datetime IS NULL
            )
		
		--VALIDATE MAXLENGHT position_cd 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'position_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Position Code','役職コード')		
		FROM #TEMP 
		WHERE
			--LEN(position_cd)>3
			LEN(position_cd) > 5 -- edited by viettd 2023/12/04
		--VALIDATE REQUIRED position_cd
		INSERT INTO @ERR_TBL
		SELECT
			8				
		,	'position_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Position Code','役職コード')		
		FROM #TEMP 
		WHERE #TEMP.position_cd = ''
		--VALIDATE NUMERIC position_cd
		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'position_cd'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Position Code','役職コード')	
		FROM #TEMP 
		WHERE
			(#TEMP.position_cd <> '') 
		AND (#TEMP.position_cd LIKE '%[^0-9]%')
		--VALIDATE NUMERIC position_cd < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.position_cd NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				151				
			,	'position_cd'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Position Code','役職コード')	
			FROM #TEMP
			WHERE 
				#TEMP.position_cd = 0
		END
		--VALIDATE MAXLENGHT position_nm 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'position_nm'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Position Name','役職名'	)
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.position_nm)>50)
		--VALIDATE MAXLENGHT position_ab_nm 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'position_ab_nm'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Position Abbreviation','役職略称')	
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.position_ab_nm)>10)
		--VALIDATE MAXLENGHT arrange_order 
		INSERT INTO @ERR_TBL
		SELECT
			28				
		,	'arrange_order'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Order', '並び順')
		FROM #TEMP 
		WHERE
			(LEN(#TEMP.arrange_order)>4)
		--VALIDATE NUMERIC arrange_order 

		INSERT INTO @ERR_TBL
		SELECT
			11				
		,	'arrange_order'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Order', '並び順')
		FROM #TEMP 
		WHERE
			(#TEMP.arrange_order <> '') 
		AND (#TEMP.arrange_order LIKE '%[^0-9]%')
		--VALIDATE NUMERIC arrange_order < 0
		IF EXISTS (SELECT 1 FROM #TEMP WHERE #TEMP.arrange_order NOT LIKE '%[^0-9]%')
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				13				
			,	'arrange_order'				
			,	0-- oderby		
			,	1-- dialog  	
			,	0				
			,	0				
			,	IIF(@P_language = 'en','Order', '並び順')
			FROM #TEMP 
			WHERE
				(#TEMP.arrange_order NOT LIKE '%[^0-9]%') 
			AND (#TEMP.arrange_order < 0)
		END

		--VALIDATE MAXLENGHT import_cd
        INSERT INTO @ERR_TBL
        SELECT
            28
        ,	'import_cd'
        ,	0-- oderby
        ,	1-- dialog
        ,	0
        ,	0
        ,	IIF(@P_language = 'en','Import CD', '取込用コード')
        FROM #TEMP
        WHERE
            (LEN(#TEMP.import_cd)>255)

        -- VALIDATE DUPLICATE import_cd
        INSERT INTO @ERR_TBL
        SELECT
            159
        ,	'import_cd'
        ,	0-- oderby
        ,	1-- dialog
        ,	0
        ,	0
        ,	IIF(@P_language = 'en','Import CD', '取込用コード')
        FROM #TEMP
        INNER JOIN WRK_M0040 ON(
                #TEMP.company_cd			=	WRK_M0040.company_cd
            AND #TEMP.import_cd				=	WRK_M0040.import_cd
            AND WRK_M0040.import_cd <> ''
            AND WRK_M0040.del_datetime IS NULL
        )

        IF (NOT EXISTS(SELECT 1 FROM @ERR_TBL))
        BEGIN
            INSERT INTO @ERR_TBL
            SELECT
                159
            ,	'import_cd'
            ,	0-- oderby
            ,	1-- dialog
            ,	0
            ,	0
            ,	IIF(@P_language = 'en','Import CD', '取込用コード')
            FROM #TEMP
                     INNER JOIN M0040 ON(
                        #TEMP.company_cd			=	M0040.company_cd
                    AND #TEMP.import_cd				=	M0040.import_cd
                    AND M0040.import_cd <> ''
                    AND M0040.del_datetime IS NULL
                ) INNER JOIN WRK_M0020 ON (
				M0040.company_cd = WRK_M0020.company_cd
			AND M0040.import_cd = WRK_M0020.import_cd
			)
            WHERE #TEMP.import_cd_check <> 1
        END

		--
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- PROCESS
		--★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
		-- Chỗ này dùng để viết code xử lý dữ liệu sau khi validate xong
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
		DELETE W FROM  WRK_M0040 AS W INNER JOIN  #TEMP AS T ON W.company_cd = @P_company_cd AND W.exec_user = T.exec_user 
			--
			INSERT INTO WRK_M0040 
			SELECT 
				#TEMP.exec_user
			,	#TEMP.company_cd
			,	#TEMP.position_cd
			,	#TEMP.position_nm
			,	#TEMP.position_ab_nm
            ,	#TEMP.import_cd
			,	#TEMP.arrange_order	
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #TEMP
		END
		ELSE
        BEGIN
			--
			INSERT INTO WRK_M0040 
			SELECT 
				CONCAT('WRK_M0040_', CAST(@P_no AS NVARCHAR(10)))
			,	0
			,	0
			,	''
			,	''
			,	''
			,	0
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
		END

		IF (@P_no = @P_count) 
		BEGIN
			--
			IF (EXISTS(SELECT 1 FROM @ERR_TBL) OR EXISTS(SELECT 1 FROM WRK_M0040 WHERE exec_user LIKE '%WRK_M0040%'))
			BEGIN
				TRUNCATE TABLE WRK_M0040
				--
				GOTO COMPLETE_QUERY
			END

			--
			UPDATE M0040
			SET
				position_nm			=	WRK_M0040.position_nm		
			,	position_ab_nm		=	WRK_M0040.position_ab_nm
            ,	import_cd			=	WRK_M0040.import_cd
			,	arrange_order		=	WRK_M0040.arrange_order	
			,	upd_user			=	@P_cre_user		
			,	upd_ip				=	@P_cre_ip	
			,	upd_prg				=	'O0100'
			,	upd_datetime		=	@w_time	
			,	del_user			=	SPACE(0)
			,	del_ip				=	SPACE(0)
			,	del_prg				=	SPACE(0)
			,	del_datetime		=	NULL	
			FROM M0040
			INNER JOIN WRK_M0040 ON (
				M0040.company_cd	  =	WRK_M0040.company_cd
				AND M0040.position_cd =	WRK_M0040.position_cd
			)
			
			--INSERT M0040
			INSERT INTO M0040
			SELECT 
				WRK_M0040.company_cd
			,	WRK_M0040.position_cd
			,	WRK_M0040.position_nm		
			,	WRK_M0040.position_ab_nm	
			,	WRK_M0040.import_cd
			,	WRK_M0040.arrange_order
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'		
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM WRK_M0040
			LEFT JOIN M0040 ON (
				WRK_M0040.company_cd	=	M0040.company_cd	
			AND WRK_M0040.position_cd	=	M0040.position_cd		
			)
			WHERE 
				M0040.position_cd IS NULL
			--AND	WRK_M0040.exec_user <>''

			--
			SET @max_position_cd = ISNULL((SELECT MAX(position_cd)+1 FROM M0040 WHERE company_cd = @P_company_cd),0)
			
			--
			INSERT INTO M0040
			SELECT 
				WRK_M0040.company_cd
			,	@max_position_cd
			,	WRK_M0040.position_nm		
			,	WRK_M0040.position_ab_nm
            ,	WRK_M0040.import_cd
			,	WRK_M0040.arrange_order		
			,	@P_cre_user			
			,	@P_cre_ip	
			,	'O0100'			
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM WRK_M0040
			LEFT JOIN M0040 ON (
				WRK_M0040.company_cd	=	M0040.company_cd	
			AND WRK_M0040.position_cd	=	M0040.position_cd		
			)
			WHERE 
				M0040.position_cd IS NULL
			--AND	WRK_M0040.exec_user = ''

			--
			TRUNCATE TABLE WRK_M0040
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                      +                                    + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	COMPLETE_QUERY:
	--
	IF EXISTS(SELECT 1 FROM @ERR_TBL AS ERR_TBL WHERE ERR_TBL.item = 'EXCEPTION')
	BEGIN
		IF @@TRANCOUNT >0
		BEGIN
			ROLLBACK TRANSACTION
		END
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION
	END

	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO
