DROP PROCEDURE [SPC_M0070_09_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスタ
--*  
--*  作成日/create date			:	2024/03/27						
--*　作成者/creater				:	Quanlh								
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_09_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(MAX)	=	N''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	N''
,	@P_language				NVARCHAR(2)		=	N''
AS
BEGIN	
	--[0]
	SELECT
		detail_no
	,	ISNULL( CONVERT(VARCHAR(10), M0087.leave_absence_startdate, 111)	, NULL)	AS leave_absence_startdate
	,	ISNULL( CONVERT(VARCHAR(10), M0087.leave_absence_enddate, 111)	, NULL)	AS leave_absence_enddate
	,	ISNULL(remarks				, N'')	AS	remarks
	FROM M0087 WITH(NOLOCK)
	WHERE
		employee_cd = @P_employee_cd
	AND company_cd = @P_company_cd
	AND del_datetime IS NULL
END
GO
