DROP PROCEDURE [SPC_M0070_09_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	M0070_社員マスタ SAVE DATA
--*  
--* 作成日/create date			:	2024/03/27											
--*	作成者/creater				:	Quanlh						
--*　　	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_09_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)		=	N''				
	-- common
,	@P_cre_user		NVARCHAR(50)		=	N''
,	@P_cre_ip		NVARCHAR(100)		=	N''
,	@P_company_cd	SMALLINT			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			= SYSDATETIME()
	,	@order_by_min				INT					= 0
	,	@ERR_TBL					ERRTABLE		
	,	@employee_cd				NVARCHAR(10)		= N''	
	,	@w_max						INT					= 0
	
	--v1.7 M0070
	CREATE TABLE #M0087(
		id						INT NOT NULL IDENTITY(1,1) 		
	,	detail_no				SMALLINT
	,	leave_absence_startdate	DATETIME
	,	leave_absence_enddate	DATETIME
	,	remarks					NVARCHAR(100)
	)
	CREATE TABLE #M0087_INSERT(	
		id						INT NOT NULL IDENTITY(1,1) 	
	,	detail_no				SMALLINT
	,	leave_absence_startdate	DATETIME
	,	leave_absence_enddate	DATETIME
	,	remarks					NVARCHAR(100)
	)
	-- INSERT INTO #M0087
	INSERT INTO #M0087
	SELECT
		detail_no
	,	IIF(leave_absence_startdate	= N'1900-01-01',NULL,leave_absence_startdate)
	,	IIF(leave_absence_enddate	= N'1900-01-01',NULL,leave_absence_enddate)
	,	ISNULL(remarks,N'')
	FROM OPENJSON(@P_json,'$.list_tab_09') WITH(
		detail_no				SMALLINT
	,	leave_absence_startdate	DATETIME
	,	leave_absence_enddate	DATETIME
	,	remarks					NVARCHAR(100)
	)
	--
	INSERT INTO #M0087_INSERT
	SELECT
		detail_no
	,	leave_absence_startdate
	,	leave_absence_enddate
	,	ISNULL(remarks,N'')
	FROM #M0087
	WHERE
		detail_no = 0
	-- START TRANSACTION		
	BEGIN TRANSACTION
	BEGIN TRY
		-- ASSIGN
		SET @employee_cd			=	JSON_VALUE(@P_json,'$.employee_cd')
		--MAX No
		SELECT 
			@w_max =	ISNULL(MAX(M0087.detail_no), 0)
		FROM M0087
		WHERE
			M0087.company_cd            = @P_company_cd
		AND M0087.employee_cd			= @employee_cd	
		--INSERT ERROR
		-- CHECK CONTAIN 	
		IF EXISTS(SELECT 1 FROM #M0087	
			WHERE (
				leave_absence_startdate IS NULL
				OR leave_absence_enddate IS NULL)
				OR  (
					leave_absence_startdate IS NULL
				AND leave_absence_enddate IS NULL	
				)
			)
		BEGIN		
			INSERT INTO @ERR_TBL
			SELECT
				8
			,	N'.leave_absence_startdate' 
			,	0-- oderby
			,	0-- dialog  
			,	#M0087.id
			,	0
			,	N'leave_absence_startdate require'
			FROM #M0087		
			WHERE 
				#M0087.leave_absence_enddate IS NOT NULL
			AND #M0087.leave_absence_startdate IS NULL


			INSERT INTO @ERR_TBL	
			SELECT
				8
			,	N'.leave_absence_startdate' 
			,	0-- oderby
			,	0-- dialog  
			,	#M0087.id
			,	0
			,	N'leave_absence_startdate require'
			FROM #M0087		
			WHERE 
				#M0087.leave_absence_enddate IS NULL
			AND #M0087.leave_absence_startdate IS NULL
			AND #M0087.remarks <> N''
		END
		--
		IF EXISTS(SELECT 1 FROM #M0087	WHERE #M0087.leave_absence_startdate > #M0087.leave_absence_enddate AND #M0087.leave_absence_startdate IS NOT NULL AND #M0087.leave_absence_enddate IS NOT NULL)
		BEGIN		
			INSERT INTO @ERR_TBL
			SELECT
				24
			,	N'.leave_absence_enddate' 
			,	0-- oderby
			,	0-- dialog  
			,	#M0087.id
			,	0
			,	N'error leave_absence_enddate'
			FROM #M0087
			WHERE 
				#M0087.leave_absence_startdate > #M0087.leave_absence_enddate
			AND #M0087.leave_absence_enddate IS NOT NULL
			AND #M0087.leave_absence_startdate IS NOT NULL		
			UNION
			SELECT
				24
			,	N'.leave_absence_startdate' 
			,	0-- oderby
			,	0-- dialog  
			,	#M0087.id
			,	0
			,	N'error leave_absence_startdate'
			FROM #M0087		
			WHERE 
				#M0087.leave_absence_startdate > #M0087.leave_absence_enddate
			AND #M0087.leave_absence_enddate IS NOT NULL
			AND #M0087.leave_absence_startdate IS NOT NULL
		END

		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			--Del
			UPDATE M0087 
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0087
			LEFT JOIN #M0087		ON (
				M0087.company_cd            = @P_company_cd
			AND M0087.employee_cd			= @employee_cd
			AND	M0087.detail_no				= #M0087.detail_no
			)
			WHERE
				M0087.del_datetime  IS NULL
			AND	M0087.company_cd	= @P_company_cd
			AND	M0087.employee_cd	= @employee_cd
			AND	#M0087.detail_no	IS NULL
			--
			UPDATE M0087
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0087
			LEFT JOIN #M0087		ON (
				M0087.company_cd            = @P_company_cd
			AND M0087.employee_cd			= @employee_cd
			AND	M0087.detail_no				= #M0087.detail_no
			)
			WHERE
				M0087.del_datetime IS NULL
			AND	M0087.company_cd	= @P_company_cd
			AND	M0087.employee_cd	= @employee_cd
			AND	#M0087.leave_absence_enddate IS NULL
			AND #M0087.leave_absence_startdate IS NULL
			AND	#M0087.remarks	= N'' 
			--Udate
			UPDATE M0087 SET
				leave_absence_startdate					= #M0087.leave_absence_startdate
			,	leave_absence_enddate					= #M0087.leave_absence_enddate
			,   remarks									= #M0087.remarks
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0087
			INNER JOIN #M0087		ON (
				M0087.company_cd            = @P_company_cd
			AND M0087.employee_cd			= @employee_cd
			AND	M0087.detail_no				= #M0087.detail_no
			)
			WHERE
				M0087.del_datetime IS NULL
			AND	M0087.company_cd	= @P_company_cd
			AND	M0087.employee_cd	= @employee_cd
			AND	NOT (	
					#M0087.leave_absence_enddate IS NULL
				AND #M0087.leave_absence_startdate IS NULL
				AND	#M0087.remarks	= N'' 
			)
			--Insert
			INSERT INTO M0087 
			SELECT 
				@P_company_cd
			,	@employee_cd
			,	#M0087_INSERT.id + @w_max				
			,	#M0087_INSERT.leave_absence_startdate
			,	#M0087_INSERT.leave_absence_enddate
			,	#M0087_INSERT.remarks
			,	@P_cre_user							--,[cre_user]
			,	@P_cre_ip							--,[cre_ip]
			,	N'M0070'							--,[cre_prg]
			,	@w_time								--,[cre_datetime]
			,	N''									--,[upd_user]
			,	N''									--,[upd_ip]
			,	N''									--,[upd_prg]
			,	NULL								--,[upd_datetime]
			,	N''									--,[del_user]
			,	N''									--,[del_ip]
			,	N''									--,[del_prg]
			,	NULL								--,[del_datetime]
			FROM #M0087_INSERT
			WHERE 
				#M0087_INSERT.detail_no = 0
			AND NOT (
				#M0087_INSERT.leave_absence_startdate IS NULL
			AND #M0087_INSERT.leave_absence_enddate IS NULL
			AND #M0087_INSERT.remarks LIKE N''
			)
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- INSERT STATEMENTS FOR PROCEDURE HERE
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	SELECT 
		@employee_cd AS employee_cd
	--
	DROP TABLE IF EXISTS #M0087
	DROP TABLE IF EXISTS #M0087_INSERT
END

