/****** Object:  StoredProcedure [dbo].[SPC_PORTAL_INQ1]    Script Date: 2018/09/11 14:28:51 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_PORTAL_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ [SPC_PORTAL_INQ1]
-- EXEC SPC_PORTAL_INQ1 '2018','1','794';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	PORTAL
--*  
--*  作成日/create date			:	2018/10/22				
--*　作成者/creater				:	Longvv								
--*   					
--*  更新日/update date			:	2020/02/14  
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	remove condition M0100.interview_use_typ = 1
--*   					
--*  更新日/update date			:	2022/02/10  
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	add check sheet_cd not exist in W_M0200
--*   					
--*  更新日/update date			:	2020/08/23  
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	Ver 1.9
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_PORTAL_INQ1]
	@P_fiscal_year				SMALLINT		=	0
,	@P_company_cd				SMALLINT		=	0
,	@P_user_id					NVARCHAR(50)	=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_Date							DATE			=	GETDATE()
	,	@P_employee_cd					NVARCHAR(10)	=	''
	,	@P_employee_nm					NVARCHAR(101)	=	''
	,	@beginning_date					DATE			=	NULL
	,	@year_month_day					DATE			=	NULL
	,	@fiscal_year					INT				=	0
	,	@interview_use_typ				SMALLINT		=	0	--期首面談なし
	,	@evaluation_self_assessment		SMALLINT		=	0	--自己評価なし
	,	@status_cd						SMALLINT		=	0
	,	@w_language						INT				=	1	--1: jp / 2 :en
	--
	--SET @interview_use_typ
	--IF 
	--EXISTS(	SELECT 1 
	--			FROM M0100 
	--			WHERE 
	--				M0100.company_cd			=	@P_company_cd
	--			AND	M0100.interview_use_typ		=	1
	--			AND M0100.del_datetime IS NULL)
	--AND  
	--EXISTS(	SELECT 1 
	--			FROM M0310 
	--			WHERE 
	--				M0310.company_cd		=	@P_company_cd
	--			AND	M0310.category			=	3 
	--			AND M0310.status_cd			=	1
	--			AND M0310.status_use_typ	=	1
	--			AND M0310.del_datetime IS NULL)
	--BEGIN
	--	SET @interview_use_typ	=	1						--	期首面談あり
	--END
	-- add by viettd 2020/02/14
	IF EXISTS(	SELECT 1 
				FROM M0310 
				WHERE 
					M0310.company_cd		=	@P_company_cd
				AND	M0310.category			=	3 
				AND M0310.status_cd			=	1
				AND M0310.status_use_typ	=	1
				AND M0310.del_datetime IS NULL)
	BEGIN
		SET @interview_use_typ	=	1						--	期首面談あり
	END

	--SET @evaluation_self_assessment
	IF EXISTS(	SELECT 1 
				FROM M0100 
				WHERE 
					M0100.company_cd						=	@P_company_cd
				AND	M0100.evaluation_self_assessment_typ	=	1
				AND M0100.del_datetime IS NULL)
	BEGIN
		SET @evaluation_self_assessment	=	1				--	自己評価あり
	END
	--settinng status_cd = 0 
	IF	@interview_use_typ	= 1 
	BEGIN	
		SELECT @status_cd			=	0
	END
	ELSE
	BEGIN
		IF @evaluation_self_assessment = 1
		BEGIN
			SELECT @status_cd		=	1
		END
		ELSE
		BEGIN
			SELECT @status_cd		=	2
		END
	END
	--
	IF @P_fiscal_year = 0 OR @P_fiscal_year IS NULL
	BEGIN
		SET @P_fiscal_year =( SELECT dbo.FNC_GET_YEAR(@P_company_cd,null))
	END
	--
	IF NOT EXISTS (SELECT 1 FROM F0010 WHERE F0010.fiscal_year = @P_fiscal_year AND F0010.company_cd = @P_company_cd)
	BEGIN
		SET @P_fiscal_year = (SELECT TOP 1 fiscal_year FROM F0010 
		                      WHERE (F0010.company_cd = @P_company_cd)
							    AND (F0010.del_datetime IS NULL)
							  ORDER BY F0010.fiscal_year DESC
							  )
	END
	--
	SELECT 
		@beginning_date = M9100.beginning_date 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	--
	IF @beginning_date IS NOT NULL
	BEGIN
		SET @year_month_day	=	CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
	END
	ELSE
	BEGIN
		SET @year_month_day	=	CAST((CAST(YEAR(@w_Date) AS nvarchar(4)) + '/01/01') AS DATE)
	END
	--
	SELECT  
		@P_employee_cd	=	ISNULL(M0070.employee_cd,'')
	,	@P_employee_nm	=	ISNULL(M0070.employee_nm,'')
	,	@w_language		=	ISNULL(S0010.language,1)
	FROM S0010 
	LEFT OUTER JOIN M0070 WITH(NOLOCK) ON(
		S0010.company_cd	=	M0070.company_cd
	AND	S0010.employee_cd	=	M0070.employee_cd
	) 
	WHERE 
		S0010.user_id		=	@P_user_id
	AND s0010.company_cd	=	@P_company_cd
	AND	S0010.del_datetime	IS NULL 
	CREATE TABLE #TEMP_F0100 (
		ID						BIGINT	IDENTITY(1,1)
	,	sheet_cd				SMALLINT		
	,	status_cd				SMALLINT
	,	fiscal_year				SMALLINT
	,	evaluation_period		SMALLINT
	,	sheet_kbn				TINYINT
	,	sheet_nm				NVARCHAR(50)
	,	period_date				NVARCHAR(50)	
	,	rater_employee_cd_1		NVARCHAR(50)
	,	rater_employee_nm_1		NVARCHAR(101)
	,	status_cd0_flg			SMALLINT
	)	
	--[0]
	SELECT
		CASE 
			WHEN	@w_language =2
			THEN	@P_employee_nm+' '+CONVERT(NVARCHAR(4),ISNULL(F0010.fiscal_year,0))+' Evaluation Sheet List'
			ELSE	@P_employee_nm+'さん'+CONVERT(NVARCHAR(4),ISNULL(F0010.fiscal_year,0))+'年度の評価シート一覧'
		END	 AS fiscal_year_nm
	,	ISNULL(F0010.fiscal_year,0) AS fiscal_year
	FROM F0010
	WHERE 
		F0010.company_cd	=	@P_company_cd 
	AND F0010.del_datetime	IS NULL
	--[1]
	INSERT INTO #TEMP_F0100 
	SELECT	
		F0100.sheet_cd
	,	F0100.status_cd
	,	F0100.fiscal_year
	,	M0200.evaluation_period
	,	M0200.sheet_kbn
	,	M0200.sheet_nm
	,	CASE
			--CASE1: start period > end period and  start fiscal_year < start period   -->end period flus 1 year 
			WHEN (@P_fiscal_year > 0) AND (CAST('1900-'+FORMAT(M0101.period_from,'MM-dd') AS DATE) > CAST('1900-'+ FORMAT(M0101.period_to,'MM-dd') AS DATE)) 
				AND @year_month_day	<=	(CAST(CONVERT(NVARCHAR(4),(@P_fiscal_year))+'-'+FORMAT(M0101.period_from,'MM-dd') AS DATE)) 
			THEN CONVERT(NVARCHAR(4),(@P_fiscal_year))+'/'+FORMAT(M0101.period_from,'MM/dd')+'  ~  '+CONVERT(NVARCHAR(4),(@P_fiscal_year+1))+'/'+FORMAT(M0101.period_to,'MM/dd')
			--CASE2: start period >end period and  start fiscal_year > start period  -->start period flus 1 year ; end period -->end period flus 2 year 
			WHEN (@P_fiscal_year > 0) AND (CAST('1900-'+FORMAT(M0101.period_from,'MM-dd') AS DATE) > CAST('1900-'+ FORMAT(M0101.period_to,'MM-dd') AS DATE)) 
				AND @year_month_day	>	(CAST(CONVERT(NVARCHAR(4),(@P_fiscal_year))+'-'+FORMAT(M0101.period_from,'MM-dd') AS DATE)) 
			THEN CONVERT(NVARCHAR(4),(@P_fiscal_year +1))+'/'+FORMAT(M0101.period_from,'MM/dd')+'  ~  '+CONVERT(NVARCHAR(4),(@P_fiscal_year+2))+'/'+FORMAT(M0101.period_to,'MM/dd')
			--CASE3: start fiscal_year > start period -->start period,end period  flus 1 year
			WHEN (@P_fiscal_year	>	0)	AND @year_month_day	>	(CAST(CONVERT(NVARCHAR(4),(@P_fiscal_year))+'-'+FORMAT(M0101.period_from,'MM-dd') AS DATE)) 
			THEN CONVERT(NVARCHAR(4),(@P_fiscal_year+1))+'/'+FORMAT(M0101.period_from,'MM/dd')+'  ~  '+CONVERT(NVARCHAR(4),(@P_fiscal_year+1))+'/'+FORMAT(M0101.period_to,'MM/dd')
			-- otherwise return normal way of date
			ELSE CONVERT(NVARCHAR(4),(@P_fiscal_year))+'/'+FORMAT(M0101.period_from,'MM/dd')+'  ~  '+CONVERT(NVARCHAR(4),(@P_fiscal_year))+'/'+FORMAT(M0101.period_to,'MM/dd')
		END
	,	F0100.rater_employee_cd_1
	,	M0070.employee_nm AS rater_employee_nm_1
	,	CASE 
			WHEN F0100.status_cd = 0 AND M0200.sheet_kbn = 2
			THEN 1
			ELSE 0
		END
	FROM F0100
	--LEFT OUTER JOIN W_M0200 AS M0200 WITH(NOLOCK) ON(
	--	F0100.company_cd	=	M0200.company_cd
	--AND F0100.fiscal_year	=	M0200.fiscal_year
	--AND	F0100.sheet_cd		=	M0200.sheet_cd
	--)
	-- edited by viettd 2022/02/10
	INNER JOIN W_M0200 AS M0200 WITH(NOLOCK) ON(
		F0100.company_cd	=	M0200.company_cd
	AND F0100.fiscal_year	=	M0200.fiscal_year
	AND	F0100.sheet_cd		=	M0200.sheet_cd
	AND M0200.del_datetime IS NULL
	)
	LEFT OUTER JOIN M0101 WITH(NOLOCK) ON(
		M0200.company_cd		=	M0101.company_cd
	AND	M0200.evaluation_period	=	M0101.detail_no
	)
	LEFT OUTER JOIN M0070 WITH(NOLOCK) ON (
		F0100.company_cd			=	M0070.company_cd
	AND	F0100.rater_employee_cd_1	=	M0070.employee_cd
	)
	WHERE 
		F0100.company_cd	=	@P_company_cd
	AND	F0100.fiscal_year	=	@P_fiscal_year
	AND	F0100.employee_cd	=	@P_employee_cd
	AND F0100.del_datetime	IS NULL
	SELECT 
		@P_employee_cd AS employee_cd
	,	#TEMP_F0100.sheet_cd			
	--,	CASE 
	--		WHEN #TEMP_F0100.status_cd0_flg	<> 	0
	--		THEN @status_cd
	--		ELSE #TEMP_F0100.status_cd	
	--	END	AS status_cd	   
	-- cr2020-12-04 
	,	M0310.detail_no AS status_cd
	--end cr2020-12-04
	,	#TEMP_F0100.fiscal_year			
	,	#TEMP_F0100.evaluation_period	
	,	#TEMP_F0100.sheet_kbn			
	,	#TEMP_F0100.sheet_nm			
	,	#TEMP_F0100.period_date			
	,	#TEMP_F0100.rater_employee_cd_1
	,	#TEMP_F0100.rater_employee_nm_1
	,	CASE	 
			WHEN ISNULL(M0310.status_nm,'')	<> ''
			THEN ISNULL(M0310.status_nm,'')
			ELSE ISNULL(IIF(@w_language = 2,L0040.status_nm_english,L0040.status_nm),'')	
		END									AS	status_nm
	,	CASE	
			WHEN #TEMP_F0100.sheet_kbn = 1
			THEN 'borderStep4'
			ELSE 'borderStep8'
		END	borderStep
	,	CASE	
			WHEN #TEMP_F0100.sheet_kbn = 1
			THEN 'circleStep4'
			ELSE 'circleStep8'
		END	circleStep
	,	CASE	
			WHEN #TEMP_F0100.sheet_kbn = 1
			THEN 'colorStep4'
			ELSE 'colorStep8'
		END	colorStep
	,	CASE	
			WHEN #TEMP_F0100.sheet_kbn = 1
			THEN '/master/i2010'
			ELSE '/master/i2020'
		END	AS screen_refer
	 FROM #TEMP_F0100
	 LEFT OUTER JOIN M0310 ON (
	 		@P_company_cd					=	M0310.company_cd
	 AND	#TEMP_F0100.sheet_kbn			=	M0310.category
	 --AND	#TEMP_F0100.status_cd			=	M0310.status_cd
	 AND(
			(#TEMP_F0100.status_cd0_flg		<>	0	AND M0310.status_cd =	@status_cd)
		OR	(#TEMP_F0100.status_cd0_flg		=	0	AND M0310.status_cd =	#TEMP_F0100.status_cd)
		)
	 )
	 LEFT OUTER JOIN L0040 ON(
	 		#TEMP_F0100.sheet_kbn			=	L0040.category
	 --AND	#TEMP_F0100.status_cd			=	L0040.status_cd
	 AND(
			(#TEMP_F0100.status_cd0_flg		<>	0	AND L0040.status_cd =	@status_cd)
		OR	(#TEMP_F0100.status_cd0_flg		=	0	AND L0040.status_cd =	#TEMP_F0100.status_cd)
		)
	 )
	ORDER BY #TEMP_F0100.sheet_kbn,#TEMP_F0100.status_cd,#TEMP_F0100.sheet_cd
	 --[2]
	 SELECT 
		company_cd
	,	category
	,	status_cd
	,	infomationn_typ
	,	fiscal_year
	,	CASE
			WHEN	ISNULL(infomation_date,'') <> ''
			THEN	CONVERT(NVARCHAR(10),infomation_date,111)
			ELSE	NULL
		END			AS infomation_date
	,	target_employee_cd
	,	sheet_cd
	,	employee_cd
	,	infomation_title
	,	infomation_message
	FROM F0900
	WHERE 
		F0900.company_cd			=	@P_company_cd
	AND	F0900.employee_cd			=	@P_employee_cd	--Edit longvv  fix is 2019/02/18
	AND	F0900.confirmation_datetime	IS NULL
	AND	F0900.del_datetime	IS NULL
	ORDER BY 
		CASE 
			WHEN F0900.confirmation_datetime IS NULL 
			THEN 0
			ELSE 1
		END
	,	F0900.infomation_date	 DESC 
	,	F0900.target_employee_cd ASC
	--[3] 今年
	SELECT @P_fiscal_year AS  current_year
	--DROP TABLE
	DROP TABLE #TEMP_F0100
END	

GO