/****** Object:  StoredProcedure [dbo].[SPC_PORTAL_INQ2]    Script Date: 2018/09/11 14:28:51 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_PORTAL_INQ2]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ [SPC_PORTAL_INQ1]
-- EXEC SPC_PORTAL_INQ2 '2021','740','A794','0','2','-1','','','';
--****************************************************************************************
--*   EXEC SPC_PORTAL_INQ2 '2023','10035','acc004','1','-1','-1','{"list_organization_step1":[{"organization_cd_1":""}],"list_organization_step2":[],"list_organization_step3":[],"list_organization_step4":[],"list_organization_step5":[]}';								
--*  処理概要/process overview	:	PORTAL
--*  
--*  作成日/create date			:	2018/10/22				
--*　作成者/creater				:	Longvv								
--*   					
--*  更新日/update date			:	2019/05/27
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	update ver 1.5
--*   					
--*  更新日/update date			:	2020/01/20
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	update ver 1.6
--*   					
--*  更新日/update date			:	2020/02/14  
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	remove condition M0100.interview_use_typ = 1
--*   					
--*  更新日/update date			:	2020/04/28  
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	自分が評価者となっている完了していない評価シートがある
--*
--*  更新日/update date			:	2022/12/22  
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	人事評価機能の評価者権限としては、
--*									・今年度の評価シートはすべて閲覧可能
--*									・昨年度以前の評価シートは未完了のもののみ閲覧可能（評価完了したら閲覧できなくなる）
--*									としたいです。
--* 更新日/update date			:	2023/06/07
--*　更新者/updater				:　namnt
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_PORTAL_INQ2]
	@P_fiscal_year				SMALLINT		=	0
,	@P_company_cd				SMALLINT		=	0
,	@P_user_id					NVARCHAR(50)	=	''
,	@P_evaluation_typ			SMALLINT		=	0
,	@P_evaluation_stage			SMALLINT		=	0
,	@P_period					SMALLINT		=	0
,	@P_belong_cd_1				nvarchar(20)	=	''
,	@P_belong_cd_2				nvarchar(20)	=	''
,	@P_belong_cd_3				nvarchar(20)	=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_Date							DATE			=	GETDATE()
	,	@P_employee_cd					NVARCHAR(10)	=	''
	,	@P_employee_nm					NVARCHAR(200)	=	''	
	,	@beginning_date					DATE			=	NULL
	,	@year_month_day					DATE			=	NULL
	,	@year_month_day_search			DATE			=	NULL
	,	@fiscal_year					INT				=	0
	,	@interview_use_typ				SMALLINT		=	0	--期首面談なし
	,	@evaluation_self_assessment		SMALLINT		=	0	--自己評価なし
	,	@status_cd						SMALLINT		=	0
	,	@w_language						INT				=	1	--1: jp / 2 :en
	,	@current_year					INT				=	dbo.FNC_GET_YEAR(@P_company_cd,NULL)	-- add by viettd 2022/12/22
	--
	----SET @interview_use_typ
	--IF EXISTS(	SELECT 1 
	--			FROM M0100 
	--			WHERE 
	--				M0100.company_cd			=	@P_company_cd
	--			AND	M0100.interview_use_typ		=	1
	--			AND M0100.del_datetime IS NULL)
	--AND  
	--EXISTS(	SELECT 1 
	--			FROM M0310 
	--			WHERE 
	--				M0310.company_cd		=	@P_company_cd
	--			AND	M0310.category			=	3 
	--			AND M0310.status_cd			=	1
	--			AND M0310.status_use_typ	=	1
	--			AND M0310.del_datetime IS NULL)
	--BEGIN
	--	SET @interview_use_typ	=	1						--	期首面談あり
	--END
	-- edited by viettd 2020/02/14
	IF EXISTS(	SELECT 1 
				FROM M0310 
				WHERE 
					M0310.company_cd		=	@P_company_cd
				AND	M0310.category			=	3 
				AND M0310.status_cd			=	1
				AND M0310.status_use_typ	=	1
				AND M0310.del_datetime IS NULL)
	BEGIN
		SET @interview_use_typ	=	1						--	期首面談あり
	END
	--SET @evaluation_self_assessment
	IF EXISTS(	SELECT 1 
				FROM M0100 
				WHERE 
					M0100.company_cd						=	@P_company_cd
				AND	M0100.evaluation_self_assessment_typ	=	1
				AND M0100.del_datetime IS NULL)
	BEGIN
		SET @evaluation_self_assessment	=	1				--	自己評価あり
	END
	--settinng status_cd = 0 
	IF	@interview_use_typ	= 1 
	BEGIN	
		SELECT @status_cd			=	0
	END
	ELSE
	BEGIN
		IF @evaluation_self_assessment = 1
		BEGIN
			SELECT @status_cd		=	1
		END
		ELSE
		BEGIN
			SELECT @status_cd		=	2
		END
	END
	--edit by vietdt 2022/04/28
	--
	IF @P_fiscal_year = 0 OR @P_fiscal_year IS NULL
	BEGIN
		SET @P_fiscal_year =( SELECT dbo.FNC_GET_YEAR(@P_company_cd,null))
	END
	--
	IF NOT EXISTS (SELECT 1 FROM F0010 WHERE F0010.fiscal_year = @P_fiscal_year AND F0010.company_cd = @P_company_cd)
	BEGIN
		SET @P_fiscal_year = (SELECT TOP 1 fiscal_year FROM F0010 
		                      WHERE (F0010.company_cd = @P_company_cd)
							    AND (F0010.del_datetime IS NULL)
							  ORDER BY F0010.fiscal_year DESC
							  )
	END
	--

	SELECT 
		@beginning_date = M9100.beginning_date 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	--
	IF @beginning_date IS NOT NULL
	BEGIN
		SET @year_month_day	=	CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		SET @year_month_day_search	=	CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		SET @year_month_day_search	=	DATEADD(DD,-1,DATEADD(YYYY,1,@year_month_day))
	END
	ELSE
	BEGIN
		SET @year_month_day			=	CAST((CAST(YEAR(@w_Date) AS nvarchar(4)) + '/01/01') AS DATE)
		SET @year_month_day_search	=	CAST((CAST(YEAR(@w_Date) AS nvarchar(4)) + '/01/01') AS DATE)
	END
	--end edit by vietdt 2022/04/28
	--
	SELECT  
		@P_employee_cd	=	ISNULL(M0070.employee_cd,'')
	,	@P_employee_nm	=	ISNULL(M0070.employee_nm,'')
	,	@w_language		=	ISNULL(S0010.language,1)
	FROM S0010 
	LEFT OUTER JOIN M0070 WITH(NOLOCK) ON(
		S0010.company_cd	=	M0070.company_cd
	AND	S0010.employee_cd	=	M0070.employee_cd
	) 
	WHERE 
		S0010.user_id		=	@P_user_id
	AND s0010.company_cd	=	@P_company_cd
	AND	S0010.del_datetime	IS NULL 
	CREATE TABLE #TEMP_F0100 (
		ID						BIGINT	IDENTITY(1,1)
	,	sheet_cd				SMALLINT		
	,	status_cd				SMALLINT
	,	fiscal_year				SMALLINT
	,	evaluation_period		SMALLINT
	,	sheet_kbn				TINYINT
	,	sheet_nm				NVARCHAR(50)
	,	period_date				NVARCHAR(50)	
	,	rater_employee_cd_1		NVARCHAR(50)
	,	rater_employee_nm_1		NVARCHAR(200)
	,	status_cd0_flg			SMALLINT
	)
	CREATE TABLE #TEMP_RATER (
		ID						BIGINT	IDENTITY(1,1)
	,	sheet_cd				SMALLINT		
	,	status_cd				SMALLINT
	,	fiscal_year				SMALLINT
	,	sheet_kbn				TINYINT
	,	sheet_nm				NVARCHAR(50)
	,	employee_cd				NVARCHAR(10)
	,	evaluation_step			SMALLINT
	,	rater_background		TINYINT			-- add by viettd 2019/05/27
	,	current_year_is_rater	TINYINT			-- add by viettd 2022/12/22	-- 0. current year is not rater | 1. is rater
	,	rater_employee_cd_1		NVARCHAR(10)	-- add by viettd 2022/12/22
	,	rater_employee_cd_2		NVARCHAR(10)	-- add by viettd 2022/12/22
	,	rater_employee_cd_3		NVARCHAR(10)	-- add by viettd 2022/12/22
	,	rater_employee_cd_4		NVARCHAR(10)	-- add by viettd 2022/12/22
	)
	CREATE TABLE #TABLE_ORGANIZATION (
		organization_typ				tinyint
	,	organization_cd_1				nvarchar(20)
	,	organization_cd_2				nvarchar(20)
	,	organization_cd_3				nvarchar(20)
	,	organization_cd_4				nvarchar(20)
	,	organization_cd_5				nvarchar(20)	
	,	choice_in_screen				tinyint	
	)
	CREATE TABLE #M0071_TEMP(
		company_cd			SMALLINT
	,	employee_cd			NVARCHAR(10)
	,	fiscal_year			SMALLINT
	,	sheet_cd			smallint
	,	application_date	DATE
	,	employee_nm			NVARCHAR(200)
	,	employee_ab_nm		NVARCHAR(200)
	,	furigana			NVARCHAR(50)
	,	office_cd			SMALLINT
	,	office_nm			NVARCHAR(50)
	,	belong_cd1			NVARCHAR(50)
	,	belong_cd2			NVARCHAR(50)
	,	belong_cd3			NVARCHAR(50)
	,	belong_cd4			NVARCHAR(50)
	,	belong_cd5			NVARCHAR(50)
	,	job_cd				SMALLINT
	,	position_cd			INT
	,	employee_typ		SMALLINT
	,	grade				SMALLINT
	,	belong_nm1			NVARCHAR(50)
	,	belong_nm2			NVARCHAR(50)
	,	belong_nm3			NVARCHAR(50)
	,	belong_nm4			NVARCHAR(50)
	,	belong_nm5			NVARCHAR(50)
	,	job_nm				NVARCHAR(50)
	,	position_nm			NVARCHAR(50)
	,	grade_nm			NVARCHAR(50)
	,	employee_typ_nm		NVARCHAR(50)
	)
	--#M0070H
	CREATE TABLE #M0070H(
		application_date				date
	,	company_cd						smallint
	,	employee_cd						nvarchar(10)
	,	employee_nm						nvarchar(200)
	,	employee_ab_nm					nvarchar(50)
	,	furigana						nvarchar(50)
	,	office_cd						smallint
	,	office_nm						nvarchar(50)
	,	belong_cd_1						nvarchar(20)
	,	belong_cd_2						nvarchar(20)
	,	belong_cd_3						nvarchar(20)
	,	belong_cd_4						nvarchar(20)
	,	belong_cd_5						nvarchar(20)
	,	job_cd							smallint
	,	position_cd						int
	,	employee_typ					smallint
	,	grade							smallint
	,	belong_nm_1						nvarchar(50)
	,	belong_nm_2						nvarchar(50)
	,	belong_nm_3						nvarchar(50)
	,	belong_nm_4						nvarchar(50)
	,	belong_nm_5						nvarchar(50)
	,	job_nm							nvarchar(50)
	,	position_nm						nvarchar(50)
	,	grade_nm						nvarchar(50)
	,	employee_typ_nm					nvarchar(50)
	)
	CREATE TABLE #TEMP_STATUS_M0070 (
		ID								INT	IDENTITY(1,1)
	,	company_cd						SMALLINT
	,	sheet_cd						smallint
	,	employee_cd						nvarchar(20)
	,	belong_cd1						nvarchar(20)
	,	belong_cd2						nvarchar(20)
	,	belong_cd3						nvarchar(20)
	,	belong_cd4						nvarchar(20)
	,	belong_cd5						nvarchar(20)
	,	sheet_belong_cd_1				nvarchar(20)
	,	sheet_belong_cd_2				nvarchar(20)
	,	sheet_belong_cd_3				nvarchar(20)
	,	sheet_belong_cd_4				nvarchar(20)
	,	sheet_belong_cd_5				nvarchar(20)
	)
	-------
	
	INSERT INTO #M0070H
	EXEC [dbo].SPC_REFER_M0070H_INQ1 @year_month_day_search,'',@P_company_cd
	INSERT INTO #M0071_TEMP
	EXEC [dbo].[SPC_REFER_M0071_INQ1] @P_fiscal_year,'',0,@P_company_cd
	
	INSERT INTO #TEMP_STATUS_M0070
	SELECT
		@P_company_cd
	,	sheet_cd
	,	#M0070H.employee_cd		
	,	#M0070H.belong_cd_1						
	,	#M0070H.belong_cd_2		
	,	#M0070H.belong_cd_3						
	,	#M0070H.belong_cd_4						
	,	#M0070H.belong_cd_5						
	,	#M0071_TEMP.belong_cd1			
	,	#M0071_TEMP.belong_cd2			
	,	#M0071_TEMP.belong_cd3			
	,	#M0071_TEMP.belong_cd4		
	,	#M0071_TEMP.belong_cd5
	FROM #M0070H
	LEFT OUTER JOIN #M0071_TEMP WITH(NOLOCK) ON(
		#M0070H.company_cd		=	#M0071_TEMP.company_cd
	AND	#M0070H.employee_cd		=	#M0071_TEMP.employee_cd
	)
	DELETE D FROM #TEMP_STATUS_M0070 AS D
	WHERE 
		D.company_cd IS NULL
	OR	(@P_belong_cd_1 <> '' AND D.sheet_belong_cd_1 <> @P_belong_cd_1)
	OR	(@P_belong_cd_2 <> '' AND D.sheet_belong_cd_2 <> @P_belong_cd_2)
	OR	(@P_belong_cd_3 <> '' AND D.sheet_belong_cd_3 <> @P_belong_cd_3)
	--[0]
	SELECT
		CASE 
			WHEN	@w_language =2
			THEN	@P_employee_nm+' '+CONVERT(NVARCHAR(4),ISNULL(F0010.fiscal_year,0))+' Evaluation Sheet List'
			ELSE	@P_employee_nm+'さん'+CONVERT(NVARCHAR(4),ISNULL(F0010.fiscal_year,0))+'年度の評価シート一覧'
		END	 AS fiscal_year_nm
	,	ISNULL(F0010.fiscal_year,0) AS fiscal_year
	FROM F0010
	WHERE 
		F0010.company_cd	=	@P_company_cd 
	AND F0010.del_datetime	IS NULL
	--[1]
	INSERT INTO #TEMP_F0100 
	SELECT	
		F0100.sheet_cd
	,	F0100.status_cd 
	,	F0100.fiscal_year
	,	M0200.evaluation_period
	,	M0200.sheet_kbn
	,	M0200.sheet_nm
	--edit by vietdt 2022/04/28
	,	CASE
			--CASE1: start period > end period and  start fiscal_year < start period   -->end period flus 1 year 
			WHEN (@P_fiscal_year > 0) AND (CAST('1900-'+FORMAT(M0101.period_from,'MM-dd') AS DATE) > CAST('1900-'+ FORMAT(M0101.period_to,'MM-dd') AS DATE)) 
				AND @year_month_day	<=	(CAST(CONVERT(NVARCHAR(4),(@P_fiscal_year))+'-'+FORMAT(M0101.period_from,'MM-dd') AS DATE)) 
			THEN CONVERT(NVARCHAR(4),(@P_fiscal_year))+'/'+FORMAT(M0101.period_from,'MM/dd')+'  ~  '+CONVERT(NVARCHAR(4),(@P_fiscal_year+1))+'/'+FORMAT(M0101.period_to,'MM/dd')
			--CASE2: start period >end period and  start fiscal_year > start period  -->start period flus 1 year ; end period -->end period flus 2 year 
			WHEN (@P_fiscal_year > 0) AND (CAST('1900-'+FORMAT(M0101.period_from,'MM-dd') AS DATE) > CAST('1900-'+ FORMAT(M0101.period_to,'MM-dd') AS DATE)) 
				AND @year_month_day	>	(CAST(CONVERT(NVARCHAR(4),(@P_fiscal_year))+'-'+FORMAT(M0101.period_from,'MM-dd') AS DATE)) 
			THEN CONVERT(NVARCHAR(4),(@P_fiscal_year +1))+'/'+FORMAT(M0101.period_from,'MM/dd')+'  ~  '+CONVERT(NVARCHAR(4),(@P_fiscal_year+2))+'/'+FORMAT(M0101.period_to,'MM/dd')
			--CASE3: start fiscal_year > start period -->start period,end period  flus 1 year
			WHEN (@P_fiscal_year	>	0)	AND @year_month_day	>	(CAST(CONVERT(NVARCHAR(4),(@P_fiscal_year))+'-'+FORMAT(M0101.period_from,'MM-dd') AS DATE)) 
			THEN CONVERT(NVARCHAR(4),(@P_fiscal_year+1))+'/'+FORMAT(M0101.period_from,'MM/dd')+'  ~  '+CONVERT(NVARCHAR(4),(@P_fiscal_year+1))+'/'+FORMAT(M0101.period_to,'MM/dd')
			-- otherwise return normal way of date
			ELSE CONVERT(NVARCHAR(4),(@P_fiscal_year))+'/'+FORMAT(M0101.period_from,'MM/dd')+'  ~  '+CONVERT(NVARCHAR(4),(@P_fiscal_year))+'/'+FORMAT(M0101.period_to,'MM/dd')
		END
	--end edit by vietdt 2022/04/28
	,	F0100.rater_employee_cd_1
	,	M0070.employee_nm AS rater_employee_nm_1
	,	CASE 
			WHEN F0100.status_cd = 0 AND M0200.sheet_kbn = 2
			THEN 1
			ELSE 0
		END
	FROM F0100
	LEFT OUTER JOIN W_M0200 AS M0200 WITH(NOLOCK) ON(
		F0100.company_cd	=	M0200.company_cd
	AND	F0100.fiscal_year	=	M0200.fiscal_year
	AND	F0100.sheet_cd		=	M0200.sheet_cd
	)
	LEFT OUTER JOIN M0101 WITH(NOLOCK) ON(
		M0200.company_cd		=	M0101.company_cd
	AND	M0200.evaluation_period	=	M0101.detail_no
	)
	LEFT OUTER JOIN M0070 WITH(NOLOCK) ON (
		F0100.company_cd			=	M0070.company_cd
	AND	F0100.rater_employee_cd_1	=	M0070.employee_cd
	)
	WHERE 
		F0100.company_cd	=	@P_company_cd
	AND	F0100.fiscal_year	=	@P_fiscal_year
	AND	F0100.employee_cd	=	@P_employee_cd
	AND F0100.del_datetime	IS NULL
	--
	SELECT 
		@P_employee_cd AS employee_cd
	,	#TEMP_F0100.sheet_cd			
	--,	CASE 
	--		WHEN #TEMP_F0100.status_cd0_flg	<> 	0
	--		THEN @status_cd
	--		ELSE #TEMP_F0100.status_cd	
	--	END	AS status_cd
	-- cr2020-12-04 
	,	M0310.detail_no AS status_cd
	--end cr2020-12-04
	,	#TEMP_F0100.fiscal_year			
	,	#TEMP_F0100.evaluation_period	
	,	#TEMP_F0100.sheet_kbn			
	,	#TEMP_F0100.sheet_nm			
	,	#TEMP_F0100.period_date			
	,	#TEMP_F0100.rater_employee_cd_1
	,	#TEMP_F0100.rater_employee_nm_1
	,	CASE	 
			WHEN ISNULL(M0310.status_nm,'')	<> ''
			THEN ISNULL(M0310.status_nm,'')
			ELSE ISNULL(IIF(@w_language = 2,L0040.status_nm_english,L0040.status_nm),'')	
		END								AS	status_nm
	,	CASE	
			WHEN #TEMP_F0100.sheet_kbn = 1
			THEN 'borderStep4'
			ELSE 'borderStep8'
		END	borderStep
	,	CASE	
			WHEN #TEMP_F0100.sheet_kbn = 1
			THEN 'circleStep4'
			ELSE 'circleStep8'
		END	circleStep
	,	CASE	
			WHEN #TEMP_F0100.sheet_kbn = 1
			THEN 'colorStep4'
			ELSE 'colorStep8'
		END	colorStep
	,	CASE	
			WHEN #TEMP_F0100.sheet_kbn = 1
			THEN '/master/i2010'
			ELSE '/master/i2020'
		END	AS screen_refer
	 FROM #TEMP_F0100
	 LEFT OUTER JOIN M0310 ON (
	 		@P_company_cd					=	M0310.company_cd
	 AND	#TEMP_F0100.sheet_kbn			=	M0310.category
	 --AND	#TEMP_F0100.status_cd			=	M0310.status_cd
	 AND(
			(#TEMP_F0100.status_cd0_flg		<>	0	AND M0310.status_cd =	@status_cd)
		OR	(#TEMP_F0100.status_cd0_flg		=	0	AND M0310.status_cd =	#TEMP_F0100.status_cd)
		)
	 )
	 LEFT OUTER JOIN L0040 ON(
	 		#TEMP_F0100.sheet_kbn			=	L0040.category
	 --AND	#TEMP_F0100.status_cd			=	L0040.status_cd
	 AND(
			(#TEMP_F0100.status_cd0_flg		<>	0	AND L0040.status_cd =	@status_cd)
		OR	(#TEMP_F0100.status_cd0_flg		=	0	AND L0040.status_cd =	#TEMP_F0100.status_cd)
		)
	 )
	ORDER BY #TEMP_F0100.sheet_kbn,#TEMP_F0100.status_cd,#TEMP_F0100.sheet_cd
	 --[2]
	 SELECT 
		F0900.company_cd
	,	F0900.category
	,	F0900.status_cd
	,	F0900.infomationn_typ
	,	F0900.fiscal_year
	,	CASE
			WHEN	ISNULL(F0900.infomation_date,'') <> ''
			THEN	CONVERT(NVARCHAR(10),F0900.infomation_date,111)
			ELSE	NULL
		END			AS infomation_date
	,	F0900.target_employee_cd
	,	F0900.sheet_cd
	,	F0900.employee_cd
	,	M0070.employee_nm			AS target_employee_nm
	,	F0900.infomation_title
	,	F0900.infomation_message
	FROM F0900
	LEFT OUTER JOIN M0070 WITH(NOLOCK) ON(
		F0900.company_cd			=	M0070.company_cd
	AND	F0900.target_employee_cd	=	M0070.employee_cd
	AND	M0070.del_datetime			IS	NULL
	)
	WHERE 
		F0900.company_cd			=	@P_company_cd
	AND	F0900.employee_cd			=	@P_employee_cd	--Edit longvv  fix is 2019/02/18
	AND	F0900.confirmation_datetime	IS NULL
	AND	F0900.del_datetime	IS NULL
	ORDER BY 
		CASE 
			WHEN F0900.confirmation_datetime IS NULL 
			THEN 0
			ELSE 1
		END
	,	F0900.infomation_date	 DESC 
	,	F0900.target_employee_cd ASC
	--[3] 今年
	SELECT @P_fiscal_year AS  current_year
	--[4] 評価対象シート一覧
	INSERT INTO #TEMP_RATER 
	SELECT	
		F0100.sheet_cd
	,	CASE  
			WHEN F0100.status_cd = 0 AND M0200.sheet_kbn = 2
			THEN @status_cd
			ELSE F0100.status_cd
		END
	,	F0100.fiscal_year
	,	M0200.sheet_kbn
	,	M0200.sheet_nm
	,	F0100.employee_cd
	-- ↓↓↓ edited by viettd 2020/01/20
	,	CASE 
			WHEN M0200.sheet_kbn = 1 AND F0100.status_cd IN(1,2,4,10,11) AND F0100.rater_employee_cd_1 = @P_employee_cd
			THEN 1
			WHEN M0200.sheet_kbn = 1 AND F0100.status_cd = 5 AND F0100.rater_employee_cd_2 = @P_employee_cd
			THEN 2
			WHEN M0200.sheet_kbn = 1 AND F0100.status_cd = 6 AND F0100.rater_employee_cd_3 = @P_employee_cd
			THEN 3
			WHEN M0200.sheet_kbn = 1 AND F0100.status_cd = 7 AND F0100.rater_employee_cd_4 = @P_employee_cd
			THEN 4
			WHEN M0200.sheet_kbn = 2 AND F0100.status_cd IN(2,8,9) AND F0100.rater_employee_cd_1 = @P_employee_cd
			THEN 1
			WHEN M0200.sheet_kbn = 2 AND F0100.status_cd = 3 AND F0100.rater_employee_cd_2 = @P_employee_cd
			THEN 2
			WHEN M0200.sheet_kbn = 2 AND F0100.status_cd = 4 AND F0100.rater_employee_cd_3 = @P_employee_cd
			THEN 3
			WHEN M0200.sheet_kbn = 2 AND F0100.status_cd = 5 AND F0100.rater_employee_cd_4 = @P_employee_cd
			THEN 4
			ELSE 0
		END											AS	evaluation_step
	-- ↑↑↑ end edited by viettd 2020/01/20
	,	1											AS	rater_background	-- 0.RED 1.WHITE
	,	CASE 
			WHEN F0030_CURRENT.company_cd IS NOT NULL
			THEN 1
			ELSE 0
		END											AS	current_year_is_rater
	,	ISNULL(F0100.rater_employee_cd_1,'')		AS	rater_employee_cd_1
	,	ISNULL(F0100.rater_employee_cd_2,'')		AS	rater_employee_cd_2
	,	ISNULL(F0100.rater_employee_cd_3,'')		AS	rater_employee_cd_3
	,	ISNULL(F0100.rater_employee_cd_4,'')		AS	rater_employee_cd_4
	FROM F0100
	INNER JOIN #TEMP_STATUS_M0070 ON(
		F0100.company_cd	=	#TEMP_STATUS_M0070.company_cd
	AND	F0100.employee_cd	=	#TEMP_STATUS_M0070.employee_cd
	AND	F0100.sheet_cd	=	#TEMP_STATUS_M0070.sheet_cd
	)
	LEFT OUTER JOIN W_M0200 AS M0200 WITH(NOLOCK) ON(
		F0100.company_cd	=	M0200.company_cd
	AND	F0100.fiscal_year	=	M0200.fiscal_year
	AND	F0100.sheet_cd		=	M0200.sheet_cd
	)
	LEFT OUTER JOIN M0101 WITH(NOLOCK) ON(
		M0200.company_cd		=	M0101.company_cd
	AND	M0200.evaluation_period	=	M0101.detail_no
	)
	LEFT OUTER JOIN (
		SELECT 
			F0030.company_cd			AS	company_cd
		,	F0030.employee_cd			AS	employee_cd
		FROM F0030
		WHERE 
			F0030.company_cd			=	@P_company_cd
		AND F0030.fiscal_year			=	@current_year
		AND	F0030.del_datetime	IS NULL
		AND	(
			F0030.rater_employee_cd_1	=	@P_employee_cd
		OR	F0030.rater_employee_cd_2	=	@P_employee_cd
		OR	F0030.rater_employee_cd_3	=	@P_employee_cd
		OR	F0030.rater_employee_cd_4	=	@P_employee_cd	
		)
		GROUP BY
			F0030.company_cd
		,	F0030.employee_cd
	) AS F0030_CURRENT ON (
		F0100.company_cd			=	F0030_CURRENT.company_cd
	AND F0100.employee_cd			=	F0030_CURRENT.employee_cd
	)
	WHERE
		F0100.company_cd	=	@P_company_cd
	AND	F0100.fiscal_year	=	@P_fiscal_year
	AND (
		(@P_period = -1)
	OR	(@P_period <> -1 AND M0101.detail_no = @P_period)
	)
	AND	F0100.del_datetime	IS NULL
	--AND	(
	--		F0100.rater_employee_cd_1	=	@P_employee_cd
	--	OR	F0100.rater_employee_cd_2	=	@P_employee_cd
	--	OR	F0100.rater_employee_cd_3	=	@P_employee_cd
	--	OR	F0100.rater_employee_cd_4	=	@P_employee_cd	
	--)
	-- UPDATE BACKGROUND
	UPDATE #TEMP_RATER SET 
		rater_background	=	CASE 
									WHEN 
									(	(TEMP.sheet_kbn	= 1	AND TEMP.evaluation_step	=	1 AND TEMP.status_cd IN(1,2,10,11))
									OR	(TEMP.sheet_kbn	= 1	AND TEMP.evaluation_step	=	1 AND TEMP.status_cd = 4  AND F0120.submit_datetime IS NULL)
									OR	(TEMP.sheet_kbn	= 1	AND TEMP.evaluation_step	=	2 AND TEMP.status_cd = 5  AND F0120.submit_datetime IS NULL)
									OR	(TEMP.sheet_kbn	= 1	AND TEMP.evaluation_step	=	3 AND TEMP.status_cd = 6  AND F0120.submit_datetime IS NULL)
									OR	(TEMP.sheet_kbn	= 1	AND TEMP.evaluation_step	=	4 AND TEMP.status_cd = 7  AND F0120.submit_datetime IS NULL)
									-- 
									OR	(TEMP.sheet_kbn	= 2	AND TEMP.evaluation_step	=	1 AND TEMP.status_cd IN(8,9) )
									OR	(TEMP.sheet_kbn	= 2	AND TEMP.evaluation_step	=	1 AND TEMP.status_cd = 2  AND F0120.submit_datetime IS NULL)
									OR	(TEMP.sheet_kbn	= 2	AND TEMP.evaluation_step	=	2 AND TEMP.status_cd = 3  AND F0120.submit_datetime IS NULL)
									OR	(TEMP.sheet_kbn	= 2	AND TEMP.evaluation_step	=	3 AND TEMP.status_cd = 4  AND F0120.submit_datetime IS NULL)
									OR	(TEMP.sheet_kbn	= 2	AND TEMP.evaluation_step	=	4 AND TEMP.status_cd = 5  AND F0120.submit_datetime IS NULL)
									) AND (@w_Date >= F0300.start_date OR ISNULL(F0300.start_date,'9999/01/01') = '9999/01/01')
									THEN 0
									ELSE 1
								END
	FROM #TEMP_RATER AS TEMP
	--↓↓↓ add by datnt 2020/08/20
	LEFT JOIN M0200 ON(
		@P_company_cd	=	M0200.company_cd
	AND	TEMP.sheet_cd	=	M0200.sheet_cd
	AND M0200.del_datetime IS NULL
	)
	LEFT JOIN F0300 ON(
		@P_company_cd			=	F0300.company_cd
	AND	@P_fiscal_year			=	F0300.fiscal_year
	AND M0200.sheet_kbn			=	F0300.category
	AND TEMP.status_cd			=	F0300.status_cd
	AND M0200.evaluation_period	=	F0300.period_detail_no
	AND F0300.del_datetime IS NULL
	)
	LEFT JOIN F0120 ON(
		F0120.company_cd	= @P_company_cd
	AND F0120.fiscal_year	= @P_fiscal_year
	AND F0120.employee_cd	=	TEMP.employee_cd
	AND F0120.sheet_cd		=	TEMP.sheet_cd
	AND	TEMP.evaluation_step = F0120.evaluation_step
	)
	--↑↑↑ end add by datnt 2020/08/20
	--↓↓↓ add by viettd 2022/12/22
	IF @P_fiscal_year < @current_year
	BEGIN
		-- REMOVE EMPLOYEE WHEN LOGIN USER IS NOT RATER OF CURRENT YEAR AND NOT RATER OF PART YEAR
		DELETE D FROM #TEMP_RATER AS D
		WHERE 
			D.current_year_is_rater = 0
		AND D.rater_employee_cd_1 <> @P_employee_cd
		AND D.rater_employee_cd_2 <> @P_employee_cd
		AND D.rater_employee_cd_3 <> @P_employee_cd
		AND D.rater_employee_cd_4 <> @P_employee_cd
		-- REMOVE EMPLOYEE WHEN LOGIN USER IS NOT RATER OF CURRENT YEAR AND SHEET DONE (LOGIN IS RATER OF PART YEAR)
		DELETE D FROM #TEMP_RATER AS D
		WHERE 
			D.current_year_is_rater = 0
		AND (
			D.rater_employee_cd_1 = @P_employee_cd
		OR	D.rater_employee_cd_2 = @P_employee_cd
		OR	D.rater_employee_cd_3 = @P_employee_cd
		OR	D.rater_employee_cd_4 = @P_employee_cd
		)
		AND (
			D.sheet_kbn = 1 AND D.status_cd = 12
		OR	D.sheet_kbn = 2 AND D.status_cd = 10
		)
	END
	ELSE
	BEGIN
		DELETE D FROM #TEMP_RATER AS D
		WHERE 
			D.rater_employee_cd_1 <> @P_employee_cd
		AND D.rater_employee_cd_2 <> @P_employee_cd
		AND D.rater_employee_cd_3 <> @P_employee_cd
		AND D.rater_employee_cd_4 <> @P_employee_cd
	END

	---- 自分が評価者となっている完了していない評価シートがある
	--DELETE D FROM #TEMP_RATER AS D
	--WHERE 
	--(	D.sheet_kbn = 1 AND D.status_cd = 12
	--OR	D.sheet_kbn = 2 AND D.status_cd = 10
	--)
	--AND D.current_year_is_rater = 0				-- add by viettd 2022/12/22
	----↑↑↑ end add by viettd 2020/04/28.
	-- GET DATA
	SELECT 
		TEMP.sheet_cd						
	,	TEMP.status_cd				
	,	TEMP.fiscal_year				
	,	TEMP.sheet_kbn				
	,	TEMP.sheet_nm	
	,	TEMP.employee_cd
	,	CASE	
			WHEN TEMP.sheet_kbn = 1
			THEN '/master/i2010'
			ELSE '/master/i2020'
		END	AS screen_refer
	,	ISNULL(M0070.employee_nm,'')		AS employee_nm
	,	CASE	 
			WHEN ISNULL(M0310.status_nm,'')	<> ''
			THEN ISNULL(M0310.status_nm,'')
			ELSE ISNULL(IIF(@w_language = 2,L0040.status_nm_english,L0040.status_nm),'')	
		END									AS	status_nm
	,	CASE 
			WHEN TEMP.rater_background = 0
			THEN 'rater_background'
			ELSE ''
		END									AS	rater_background
	FROM #TEMP_RATER AS TEMP
	LEFT OUTER JOIN M0070 WITH(NOLOCK) ON(
		@P_company_cd		=	M0070.company_cd
	AND	TEMP.employee_cd	=	M0070.employee_cd
	)
	LEFT OUTER JOIN M0310 ON (
		@P_company_cd		=	M0310.company_cd
	AND	TEMP.sheet_kbn		=	M0310.category
	AND	TEMP.status_cd		=	M0310.status_cd
	)
	LEFT OUTER JOIN L0040 ON(
		TEMP.sheet_kbn		=	L0040.category
	AND	TEMP.status_cd		=	L0040.status_cd
	)
	WHERE
		(@P_evaluation_stage = -1
	OR	(@P_evaluation_stage <> -1 AND M0310.status_cd = @P_evaluation_stage))
	AND (@P_evaluation_typ = -1
	OR	(@P_evaluation_typ <> -1 AND M0310.category = @P_evaluation_typ)
	)
	ORDER BY 
		TEMP.rater_background
	,	CASE ISNUMERIC(TEMP.employee_cd) 
		   WHEN 1 
		   THEN CAST(TEMP.employee_cd AS BIGINT) 
		   ELSE 999999999999999 
		END 
    ,	TEMP.employee_cd
	--■DROP TABLE
	----[5]
	SELECT
		ISNULL(@P_evaluation_typ, 0)			AS evaluation_typ
	,	ISNULL(@P_evaluation_stage, 0)			AS evaluation_stage
	--[5]
	SELECT 
		ISNULL(M0310.status_cd,0) AS status_cd
	,	ISNULL(M0310.status_nm,0) AS status_nm
	FROM M0310
	WHERE 
		M0310.status_use_typ	= 1 
	AND M0310.category			= @P_evaluation_typ 
	AND M0310.company_cd		= @P_company_cd
	AND M0310.del_datetime		IS NULL
	DROP TABLE #TEMP_F0100
	DROP TABLE #TEMP_RATER

END	
GO


