DROP PROCEDURE [SPC_M0070_LST3]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--++ TEST ++
-- EXEC SPC_M0070_LST3 '1990/03/30',''
-- EXEC SPC_M0070_LST3 '1990/03/30','2018/08/30'
-- EXEC SPC_M0070_LST3 '19900330',''
-- EXEC SPC_M0070_LST3 '19900330','20180830'
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	RANDOM PASSWORD
--*  
--* 作成日/create date			:	2018/08/30											
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_LST3]
	@P_date_from	AS	DATE	=  NULL
,	@P_date_to		AS	DATE	=  NULL
,	@P_mode			AS	INT		=  0
,	@P_language		NVARCHAR(2)		= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE
		@month_count	AS	INT			= 0
	,	@w_time			DATETIME2		=	SYSDATETIME()

	--
	IF @P_date_from = ''
	BEGIN
		SET @P_date_from = NULL
	END
	--
	IF @P_date_to = ''
	BEGIN
		SET @P_date_to = NULL
	END
	SET @month_count = DATEDIFF(MM,@P_date_from,ISNULL(@P_date_to,@w_time))
	--[0]	
	SELECT 
		CASE 
			WHEN @P_mode = 0
			THEN CAST([dbo].FNC_GET_BIRTHDAY_AGE(@P_date_from,@P_date_to)	AS NVARCHAR(10))	
			WHEN @P_mode = 1
			THEN IIF(@month_count / 12 = 0,'',CAST(@month_count / 12 AS nvarchar(10)) + IIF(@P_language = 'en', IIF((@month_count / 12) = 1 OR (@month_count / 12) = -1, ' Year ', ' Years '), '年')) +  IIF(@month_count % 12 = 0,'',CAST(@month_count % 12 AS nvarchar(10)) + IIF(@P_language = 'en', IIF((@month_count % 12) = 1 OR (@month_count % 12) = -1, ' Month ', ' Months '), 'ヶ月')) 
			ELSE ''
		END	AS year_num
	--[1]
	IF @P_date_from		>	@P_date_to
	BEGIN
		SELECT 1 AS year_check -- ERROR
	END
	ELSE
	BEGIN
		SELECT 0 AS year_check -- TRUE
	END
END

GO
