DROP PROCEDURE [dbo].[SPC_M0070_LOGIN_INFO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- +--TEST--+
-- EXEC XXX '{}','','::1';
-- EXEC SPC_M0070_ACT1 '{"employee_cd":"2","employee_last_nm":"CAN","employee_first_nm":"EDITED","employee_nm":"CAN EDITED","employee_ab_nm":"","furigana":"CAN EDITED","gender":"2","mail":"kakakiki2197@gmail.com","birth_date":"","company_in_dt":"2016\/06\/06","company_out_dt":"","director_typ":1,"retirement_reason_typ":"","retirement_reason":"","oneonone_typ":1,"multireview_typ":1,"report_typ":1,"base_style":"0","sub_style":"0","driver_point":"0","analytical_point":"0","expressive_point":"0","amiable_point":"0","application_date":"2023\/05\/16","user_id":"2","password":"1","sso_user":"","office_cd":"0","organization_step1":"3","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1","authority_cd":"3","oneonone_authority_cd":"4","multireview_authority_cd":"3","setting_authority_cd":"0","report_authority_cd":"7","job_cd":"1","position_cd":"9","employee_typ":"1","grade":"5","base_salary":"","picture":"","imgInp":"","ck1":"0","list":[{"application_date":"2023\/05\/16","office_cd":"1","belong_cd1":"3","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"9","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2022\/09\/14","office_cd":"1","belong_cd1":"1","belong_cd2":"2","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"9","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2022\/08\/26","office_cd":"1","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"10","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2016\/06\/06","office_cd":"1","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"10","job_cd":"1","employee_typ":"1","grade":"5"}],"evaluated_typ":1,"list_character":[],"list_date":[],"list_number_item":[],"mode_pic":"N","mode":0,"mode_exists":"N"}','','721','::1','740';
-- EXEC SPC_M0070_ACT1 '{"employee_cd":"2","employee_last_nm":"CAN","employee_first_nm":"EDITED","employee_nm":"CAN EDITED","employee_ab_nm":"","furigana":"CAN EDITED","gender":"2","mail":"kakakiki2197@gmail.com","birth_date":"","company_in_dt":"2016\/06\/06","company_out_dt":"","director_typ":1,"retirement_reason_typ":"","retirement_reason":"","oneonone_typ":1,"multireview_typ":1,"report_typ":1,"base_style":"0","sub_style":"0","driver_point":"0","analytical_point":"0","expressive_point":"0","amiable_point":"0","application_date":"2023\/05\/16","user_id":"2","password":"1","sso_user":"","office_cd":"0","organization_step1":"3","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1","authority_cd":"3","oneonone_authority_cd":"4","multireview_authority_cd":"3","setting_authority_cd":"0","report_authority_cd":"7","job_cd":"1","position_cd":"9","employee_typ":"1","grade":"5","base_salary":"","picture":"","imgInp":"","ck1":"0","list":[{"application_date":"2023\/05\/16","office_cd":"0","belong_cd1":"3","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"9","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2022\/09\/14","office_cd":"1","belong_cd1":"1","belong_cd2":"2","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"9","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2022\/08\/26","office_cd":"1","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"10","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2016\/06\/06","office_cd":"1","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"10","job_cd":"1","employee_typ":"1","grade":"5"}],"evaluated_typ":1,"list_character":[],"list_date":[],"list_number_item":[],"mode_pic":"N","mode":0,"mode_exists":"N"}','','721','::1','740';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	M0070_社員マスタ SAVE DATA
--*  
--* 作成日/create date			:	2018/08/16											
--*	作成者/creater				:	DatNT						
--*   					
--*	更新日/update date			:  	2018/11/12					
--*	更新者/updater				:　 tuantv - tuantv@ans-asia.com　								     	 
--*	更新内容/update content		:	Update CR 2018/11/06	
--*   					
--*	更新日/update date			:  	2018/11/16					
--*	更新者/updater				:　 longvv - longvv@ans-asia.com　								     	 
--*	更新内容/update content		:	fix is 
--*   					
--*	更新日/update date			:  	2021/09/14					
--*	更新者/updater				:　 viettd							     	 
--*	更新内容/update content		:	change authority_typ in S0010 
--*　　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0070_LOGIN_INFO] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)		=	''				
,	@P_picture		NVARCHAR(50)		=	''
	-- common
,	@P_cre_user		NVARCHAR(50)		=	''
,	@P_cre_ip		NVARCHAR(100)		=	''
,	@P_company_cd	SMALLINT			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			= SYSDATETIME()
	,	@order_by_min				INT					= 0
	,	@ERR_TBL					ERRTABLE	
	,	@employee_cd				NVARCHAR (20)		=	''		
	,	@company_in_dt				DATE				= NULL						
	,	@company_out_dt				DATE				= NULL		
	,	@evaluated_typ				INT					= 0								
	,	@grade						INT					= 0		
	,	@base_salary				MONEY				= 0
	,	@picture					NVARCHAR(100)		= ''
	,	@authory					INT					= 0
	,	@password					NVARCHAR(40)		= ''
	,	@sso_user					NVARCHAR(255)		= ''
	,	@user_id					NVARCHAR(50)		= ''
	,	@latest_date				DATE				= NULL
	,	@check_au					INT					= 0
	,	@mode						INT					= 0
	,	@mode_pic					NVARCHAR(1)			= ''
	,	@mode_exists				NVARCHAR(1)			= ''
	,	@application_date			DATE				=	NULL
	,	@authority_typ				SMALLINT			= 0
	,	@year						INT					= 0
	--
	,	@password_length			TINYINT				= 0
	,	@password_character_limit	TINYINT				= 0
	,	@len						TINYINT				= 0
	,	@old_picture				NVARCHAR(200)		= ''
	,	@m0071_last_date			DATE				=	NULL
	,	@latest_date2				DATE				=	NULL
	,	@cout_M0071					INT					=	0
	,	@old_password				NVARCHAR(40)		= ''
	--v1.7 M0070
	,	@oneonone_typ				tinyint			=	0
	,	@multireview_typ			tinyint			=	0
	,	@report_typ					tinyint			=	0
	,	@base_style					smallint		=	0
	,	@sub_style					smallint		=	0
	,	@driver_point				smallint		=	0
	,	@analytical_point			smallint		=	0
	,	@expressive_point			smallint		=	0
	,	@amiable_point				smallint		=	0
	,	@director_typ				smallint		=	99
	,	@oneonone_authority_typ		smallint		=	0
	,	@multireview_authority_typ	smallint		=	0
	,	@oneonone_authority_cd		smallint		=	0
	,	@multireview_authority_cd	smallint		=	0
	,	@setting_authority_cd		smallint		=	0	
	,	@setting_authority_typ		smallint		=	0
	,	@report_authority_cd		smallint		=	0	
	,	@report_authority_typ		smallint		=	0
	,	@empinfo_authority_cd		smallint		=	0	
	,	@empinfo_authority_typ		smallint		=	1	
	,	@fiscal_year_report			smallint		=	dbo.FNC_GET_YEAR_WEEKLY_REPORT(@P_company_cd,NULL)
	--
	,	@supported_languages        NVARCHAR(3)		=	''
	,	@multilingual_typ			tinyint			=	0
	,	@fiscal_year_closest		smallint		=	null
	,	@fiscal_year_closest_report		smallint		=	null
	CREATE TABLE #TBL_JSON(
		application_date		DATE	
	,	office_cd				INT		
	,	belong_cd1				NVARCHAR(50)	
	,	belong_cd2				NVARCHAR(50)
	,	belong_cd3				NVARCHAR(50)
	,	belong_cd4				NVARCHAR(50)
	,	belong_cd5				NVARCHAR(50)	
	,	job_cd					INT		
	,	position_cd				INT		
	,	employee_typ			INT		
	,	grade					INT		
	,	detail_no					INT		
	)
	CREATE TABLE #M0072(
		item_cd				NVARCHAR(10)
	,	character_item		NVARCHAR(400)
	,	number_item			NUMERIC(9,1)
	,	date_item			DATE
	,	item_kind			SMALLINT
	,	item_no				SMALLINT
	)
	-- INSERT value character item 
	INSERT INTO #M0072
	SELECT
		item_cd
	,	character_item			
	,	NULL
	,	NULL
	,	0
	,	1
	FROM OPENJSON(@P_json,'$.list_character') WITH(
		item_cd				NVARCHAR(10)	
	,	character_item		NVARCHAR(400)		
	)
	-- INSERT value number item 
	INSERT INTO #M0072
	SELECT
		item_cd
	,	''
	,	IIF(number_item = '',NULL,REPLACE(number_item,',',''))
	,	NULL
	,	0
	,	1
	FROM OPENJSON(@P_json,'$.list_number_item') WITH(
		item_cd				NVARCHAR(10)	
	,	number_item			NVARCHAR(10)
	) 
	-- INSERT value date item 
	INSERT INTO #M0072
	SELECT
		item_cd
	,	''
	,	NULL
	,	IIF(date_item = '',NULL,date_item	)	
	,	0
	,	1
	FROM OPENJSON(@P_json,'$.list_date') WITH(
		item_cd				NVARCHAR(10)	
	,	date_item			DATE		
	)
	UPDATE #M0072 
	SET #M0072.item_kind  = M0080.item_kind
	FROM #M0072
	INNER JOIN M0080 ON(
		@P_company_cd	=	M0080.company_cd
	AND #M0072.item_cd	=   M0080.item_cd
	AND M0080.del_datetime IS NULL
	)
	-- reindex item_no of check box
	UPDATE #M0072
		SET #M0072.item_no = #M0072_CHECKBOX.item_no 
	FROM #M0072 
	INNER JOIN (
	SELECT 
		item_cd
	,	#M0072.number_item
	,	DENSE_RANK () OVER (PARTITION BY #M0072.item_cd ORDER BY #M0072.number_item) AS item_no
	FROM #M0072
	) AS #M0072_CHECKBOX ON(
		#M0072.item_cd		=	#M0072_CHECKBOX.item_cd
	AND	#M0072.number_item	=	#M0072_CHECKBOX.number_item
	)

	-- START TRANSACTION		
	BEGIN TRANSACTION
	BEGIN TRY
		-- ASSIGN
		SET @employee_cd					=	JSON_VALUE(@P_json,'$.employee_cd')
		SET	@company_in_dt					=	CAST(NULLIF(JSON_VALUE(@P_json,'$.company_in_dt	'),'')AS DATE)
		SET @company_out_dt					=	CAST(NULLIF(JSON_VALUE(@P_json,'$.company_out_dt'),'')AS DATE)
		SET @evaluated_typ					=	JSON_VALUE(@P_json,'$.evaluated_typ')
		SET	@grade							=	JSON_VALUE(@P_json,'$.grade')
		SET	@base_salary					=	JSON_VALUE(@P_json,'$.base_salary')
		SET	@authory						=	JSON_VALUE(@P_json,'$.authority_cd')
		SET	@password						=	JSON_VALUE(@P_json,'$.password')
		SET	@user_id						=	JSON_VALUE(@P_json,'$.user_id')
		SET	@sso_user						=	JSON_VALUE(@P_json,'$.sso_user')
		SET	@mode							=	JSON_VALUE(@P_json,'$.mode')
		SET @mode_pic						=	JSON_VALUE(@P_json,'$.mode_pic')
		SET @mode_exists					=	JSON_VALUE(@P_json,'$.mode_exists')
		SET	@oneonone_typ					=	JSON_VALUE(@P_json,'$.oneonone_typ')
		SET	@multireview_typ				=	JSON_VALUE(@P_json,'$.multireview_typ')
		SET	@report_typ						=	JSON_VALUE(@P_json,'$.report_typ')
		SET	@base_style						=	JSON_VALUE(@P_json,'$.base_style')
		SET	@sub_style						=	JSON_VALUE(@P_json,'$.sub_style')
		SET	@driver_point					=	JSON_VALUE(@P_json,'$.driver_point')
		SET	@analytical_point				=	JSON_VALUE(@P_json,'$.analytical_point')
		SET	@expressive_point				=	JSON_VALUE(@P_json,'$.expressive_point')
		SET	@amiable_point					=	JSON_VALUE(@P_json,'$.amiable_point')
		SET	@director_typ					=	JSON_VALUE(@P_json,'$.director_typ')
		SET	@oneonone_authority_cd			=	JSON_VALUE(@P_json,'$.oneonone_authority_cd')
		SET	@multireview_authority_cd		=	JSON_VALUE(@P_json,'$.multireview_authority_cd')
		SET @application_date				=	CAST(NULLIF(JSON_VALUE(@P_json,'$.application_date'),'')AS DATE)
		SET	@setting_authority_cd			=	JSON_VALUE(@P_json,'$.setting_authority_cd')
		SET	@report_authority_cd			=	JSON_VALUE(@P_json,'$.report_authority_cd')
		SET	@empinfo_authority_cd			=	JSON_VALUE(@P_json,'$.empinfo_authority_cd')
		SET	@supported_languages			=	JSON_VALUE(@P_json,'$.supported_languages')
		SET	@multilingual_typ				=	JSON_VALUE(@P_json,'$.multilingual_typ')
		IF @empinfo_authority_cd <> 0 
		BEGIN
		SET	@empinfo_authority_typ			= 3
		END
		ELSE
		BEGIN
		SET	@empinfo_authority_typ			= 1
		END
		--get previous employee pass
		SELECT	@old_password				=	S0010.password
			,	@authority_typ				=	ISNULL(authority_typ,0)
			,	@oneonone_authority_typ		=	ISNULL([1on1_authority_typ],0)
			,	@multireview_authority_typ	=	ISNULL(multireview_authority_typ,0)
			,	@setting_authority_typ		=	ISNULL(setting_authority_typ,0)
			,	@report_authority_typ		=	ISNULL(report_authority_typ,0)
		FROM S0010
		WHERE S0010.company_cd	= @P_company_cd 
						AND S0010.user_id		= @user_id  
						AND S0010.employee_cd	= @employee_cd 
						AND S0010.del_datetime IS NULL
		-- INSERT INTO #TBL_JSON
		INSERT INTO #TBL_JSON
		SELECT
			application_date
		,	office_cd			
		,	belong_cd1			
		,	belong_cd2
		,	belong_cd3
		,	belong_cd4
		,	belong_cd5			
		,	job_cd				
		,	position_cd			
		,	employee_typ		
		,	grade	
		,	detail_no
		FROM OPENJSON(@P_json,'$.list') WITH(
			application_date		DATE	
		,	office_cd				INT		
		,	belong_cd1				NVARCHAR(50)	
		,	belong_cd2				NVARCHAR(50)
		,	belong_cd3				NVARCHAR(50)
		,	belong_cd4				NVARCHAR(50)
		,	belong_cd5				NVARCHAR(50)	
		,	job_cd					INT		
		,	position_cd				INT		
		,	employee_typ			INT		
		,	grade					INT	
		,	detail_no				INT
		)
		-- check user_id is existed
		IF EXISTS(SELECT 1 FROM S0010 WHERE company_cd = @P_company_cd  AND user_id = @user_id AND employee_cd <> @employee_cd AND user_id <> '' AND del_datetime IS NULL)
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT
				55
			,	'#user_id' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'user_id is existed'
			
		END
		--
		IF ISNULL(@user_id,'')=''
		AND (
			ISNULL(@director_typ,0)<>1 
		OR ISNULL(@oneonone_authority_cd,0)<>0 
		OR ISNULL(@multireview_authority_cd,0)<>0 
		OR ISNULL(@setting_authority_cd,0)<>0 
		OR ISNULL(@report_authority_cd,0)<>0 
		OR ISNULL(@empinfo_authority_cd,0)<>0
		OR ISNULL(@authory,0)<>0 
		OR ISNULL(@multilingual_typ,0)<>0)
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT
				171
			,	'#user_id' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'user_id'
			
		END
		IF ISNULL(@multilingual_typ,0)=0 and ISNULL(@supported_languages,'')<>''
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT
				170
			,	'#multilingual_typ_lable' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'multilingual_typ'
			
		END
		IF ISNULL(@multilingual_typ,0)=1 and ISNULL(@supported_languages,'')=''
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT
				25
			,	'#supported_languages' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'supported_languages'
			
		END
		-- check password is existed
		--IF (@password <> '' AND EXISTS(SELECT 1 FROM S0010 WHERE company_cd = @P_company_cd  AND password = @password AND employee_cd <> @employee_cd AND del_datetime IS NULL ))
		--BEGIN 
		--	INSERT INTO @ERR_TBL
		--	SELECT
		--		53
		--	,	'#password' 
		--	,	0-- oderby
		--	,	0-- dialog  
		--	,	0
		--	,	0
		--	,	'password is existed'
		--END
		--get latest_date
		SET @latest_date	=  (SELECT TOP 1 application_date FROM #TBL_JSON WHERE detail_no = 0 ORDER BY application_date DESC)
		SET @cout_M0071		=  (SELECT COUNT(*) FROM M0071 WHERE company_cd = @P_company_cd AND employee_cd = @employee_cd AND del_datetime IS NULL )
		SET @latest_date2	= (SELECT TOP 1 application_date FROM M0071 WHERE company_cd = @P_company_cd AND employee_cd = @employee_cd AND del_datetime IS NULL  ORDER BY application_date DESC)
		-- check date 
		IF @latest_date IS NOT NULL AND	@application_date < @latest_date
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				59
			,	'#application_date' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'employee_cd not found'
		END
		-- CR check password
		SELECT
			@password_length			=	ISNULL(M9100.password_length,0)
		,	@password_character_limit	=	ISNULL(M9100.password_character_limit,0)
		FROM M9100 WHERE 
			M9100.company_cd = @P_company_cd
		AND M9100.del_datetime IS NULL
		--
		SET @password_length			=	ISNULL(@password_length,0)
		SET @password_character_limit	=	ISNULL(@password_character_limit,0)
		SET @len						=	(SELECT LEN(@password) )
		--
 		IF (@password_character_limit = 1 AND NOT EXISTS (select 1 where @password LIKE '%[A-Za-z]%' AND @password LIKE '%[0-9]%'))
		OR (@password_character_limit = 2 AND NOT EXISTS (select 1 where @password LIKE '%[A-Za-z]%' AND @password LIKE '%[0-9]%' AND @password LIKE '%[^a-zA-Z0-9]%'))
		OR (@password_length > @len AND @password_length > 0) 
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT
				53
			,	'#password' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'password length'
			WHERE @user_id <> ''
			
		END
		IF (@company_in_dt >= @company_out_dt) 
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT
				24
			,	'#company_in_dt,#company_out_dt' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'company_in_dth'		
		END
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
		SET @year = (SELECT [dbo].[FNC_GET_YEAR] (@P_company_cd,@w_time))
		IF EXISTS(SELECT 1 FROM M0070 WHERE company_cd  = @P_company_cd AND employee_cd = @employee_cd)
			BEGIN

				UPDATE M0070
				SET
					company_in_dt				=	@company_in_dt									--,[company_in_dt]
				,	company_out_dt				=	@company_out_dt									--,[company_out_dt]
				,	evaluated_typ				=	@evaluated_typ									--,[evaluated_typ]
				,	[1on1_typ]					=	@oneonone_typ
				,	multireview_typ				=	@multireview_typ
				,	report_typ					=	@report_typ
				--IIF(@P_picture = '',@old_picture,@p_picture)	--,[picture]
				,	del_user					=	''
				,	del_ip						=	''
				,	del_prg						=	''
				,	del_datetime				=	NULL
				WHERE	M0070.company_cd		= @P_company_cd
					AND M0070.employee_cd		= @employee_cd

			END 

		
		
			-- IF CHECKED 総合管理者
			IF @director_typ = 0
			BEGIN
				SET @oneonone_authority_typ = 5
				SET @multireview_authority_typ = 5
				SET @setting_authority_typ	=	5
				SET @report_authority_typ	=	5
				SET @authority_typ = 5
				SET @empinfo_authority_typ = 5
			END 
			
			ELSE 
			BEGIN
				--■ ONE ON ONE
				IF @oneonone_authority_typ <> 4 AND @oneonone_authority_cd = 0  
				BEGIN
					SET @oneonone_authority_typ = 0
				END
				-- MEMBER
				IF EXISTS (SELECT 1 FROM F2001 WHERE company_cd  = @P_company_cd 
												AND  fiscal_year = @year
												AND  employee_cd = @employee_cd 
												AND  del_datetime IS NULL) 
						AND ISNULL(@oneonone_authority_typ,0) <> 4
				BEGIN
					SET @oneonone_authority_typ = 1
				END
				-- COACH
				IF EXISTS (SELECT 1 FROM F2001 WHERE company_cd	 = @P_company_cd 
												AND  fiscal_year = @year
												AND  coach_cd	 = @employee_cd 
												AND  del_datetime IS NULL) 
						AND ISNULL(@oneonone_authority_typ,0) <> 4
				BEGIN
					SET @oneonone_authority_typ = 2
				END
				-- ADMIN
				IF @oneonone_authority_typ <> 4 AND @oneonone_authority_cd > 0  
				BEGIN
					SET @oneonone_authority_typ = 3
				END
				--■ MULTIREVIEW
				IF @multireview_authority_typ <> 4 AND @multireview_authority_cd = 0  
				BEGIN
					SET @multireview_authority_typ = 0
				END
				IF EXISTS (SELECT 1 FROM f3020 WHERE company_cd		= @P_company_cd
												AND  fiscal_year	= @year
												AND  supporter_cd	= @employee_cd 
												AND del_datetime IS NULL)
				   AND ISNULL(@multireview_authority_typ,0) <> 4
				BEGIN
					SET @multireview_authority_typ = 2
				END

				IF NOT EXISTS (SELECT 1 
						FROM S0010 
						LEFT OUTER JOIN F0100 ON ( 
							S0010.company_cd	= F0100.company_cd		
						AND F0100.fiscal_year	= @year	
						)
　　　　　　				WHERE	 
							S0010.company_cd	= @P_company_cd																																											
　　　　　　　			AND (	
							F0100.rater_employee_cd_1   = @employee_cd
						OR	F0100.rater_employee_cd_2	= @employee_cd 																																										
　　　　　　　　　　　　　OR	F0100.rater_employee_cd_3   = @employee_cd
						OR	F0100.rater_employee_cd_4   = @employee_cd
						)		
						AND F0100.company_cd	IS NOT NULL)
				BEGIN
					SET @fiscal_year_closest = (SELECT TOP 1 MAX(F0100.fiscal_year) FROM F0100 																																					
												WHERE	 
													F0100.company_cd	= @P_company_cd																																											
　　　　　　　										AND (
															F0100.rater_employee_cd_1 = @employee_cd
														OR	F0100.rater_employee_cd_2 =	@employee_cd																																						
　　　　　　　　　　　　　　　								OR	F0100.rater_employee_cd_3 = @employee_cd
														OR	F0100.rater_employee_cd_4 = @employee_cd
													)
													AND F0100.fiscal_year < @year
													AND F0100.del_datetime IS NULL
													GROUP BY
														F0100.company_cd
													,   F0100.employee_cd
												)
					END
					IF EXISTS (SELECT 1 FROM F0100 
						WHERE	 
							F0100.company_cd	= @P_company_cd																																											
　　　　　　　			AND F0100.employee_cd = @employee_cd
						AND F0100.fiscal_year < @year
						AND F0100.del_datetime IS NULL
						)
					BEGIN
		
					SET @fiscal_year_closest = (SELECT TOP 1 IIF(@fiscal_year_closest > MAX(F0100.fiscal_year),@fiscal_year_closest,  MAX(F0100.fiscal_year)) FROM F0100
						WHERE	 
							F0100.company_cd	= @P_company_cd																																											
　　　　　　　			AND F0100.employee_cd = @employee_cd
						AND F0100.fiscal_year < @year
						AND F0100.del_datetime IS NULL
						GROUP BY
							F0100.company_cd
						,   F0100.employee_cd
						)
					END
				IF @multireview_authority_typ <> 4 AND @multireview_authority_cd > 0  
				BEGIN
					SET @multireview_authority_typ = 3
				END
				--■SETTING
				IF @setting_authority_typ <> 4 AND @setting_authority_cd > 0  
				BEGIN
					SET @setting_authority_typ = 3
				END
				ELSE
				BEGIN
					SET @setting_authority_typ = 0
				END
		
				--■EVALUTATE
				-- admin
				IF @authority_typ <> 4 AND @authory > 0  
				BEGIN
					SET @authority_typ = 3
				END
				-- rater 評価者
				ELSE IF @authority_typ <> 4  AND EXISTS(
					SELECT 1 
						FROM S0010 
						LEFT OUTER JOIN F0100 ON ( 
							F0100.company_cd = @P_company_cd
						AND F0100.fiscal_year	= @year	
						)
　　　　　　				WHERE	 
							S0010.company_cd	= @P_company_cd		
						　　AND (	
								F0100.rater_employee_cd_1  = @employee_cd
							OR	F0100.rater_employee_cd_2  = @employee_cd																																									
　　　　　　　　　　　　　　　 OR	F0100.rater_employee_cd_3  = @employee_cd
							OR	F0100.rater_employee_cd_4  = @employee_cd
								)	
						AND F0100.company_cd	IS NOT NULL
					) AND EXISTS (
								SELECT 1 
								FROM S0010 
								INNER JOIN F0100 ON ( 
									S0010.company_cd	= F0100.company_cd		
								AND F0100.fiscal_year	= @year																																								
　　　　　　　　　　　　　　　　　	AND (	
									S0010.employee_cd	= F0100.rater_employee_cd_1 
								OR	S0010.employee_cd	= F0100.rater_employee_cd_2																																											
　　　　　　　　　　　　　　　　　 OR	S0010.employee_cd	= F0100.rater_employee_cd_3 
								OR	S0010.employee_cd	= F0100.rater_employee_cd_4
								)																																											
　　　　　　　　　　　　　　　　　	AND F0100.del_datetime IS NULL	
　　　　　　						)
								--LEFT OUTER JOIN M0200 ON ( 
								--	F0100.company_cd	= M0200.company_cd																																										
　　　　　　　　--　　　　　　　　　	AND F0100.sheet_cd		= M0200.sheet_cd																																											
　　　　　　　　--　　　　　　　　　	AND M0200.del_datetime IS NULL
								--)																																										
　　　　　　						WHERE	 
									S0010.company_cd	= @P_company_cd																																											
　　　　　　　					AND S0010.employee_cd   = @employee_cd																																											
　　　　　　　	--				AND (      
								--	(M0200.sheet_kbn = 1 AND F0100.status_cd < 12)																																											
　　　　　　　　--　　				OR	(M0200.sheet_kbn = 2 AND F0100.status_cd < 10)
								--)
				)
				BEGIN
					SET @authority_typ = 2
				END
				
	
				ELSE IF @authority_typ <> 4 AND EXISTS (
								SELECT 1 
								FROM F0100 
								WHERE 
									F0100.company_cd	= @P_company_cd 
								AND F0100.fiscal_year	= @year 
								AND F0100.employee_cd	= @employee_cd 
								AND F0100.del_datetime IS NULL
				) 
				BEGIN
					SET @authority_typ = 1
				END
				ELSE IF @authority_typ <> 4  AND NOT EXISTS(
					SELECT 1 
						FROM S0010 
						LEFT OUTER JOIN F0100 ON ( 
							S0010.company_cd	= F0100.company_cd		
						AND F0100.fiscal_year	= @year
						)
　　　　　　				WHERE	 
							S0010.company_cd	= @P_company_cd																																											
　　　　　　　				AND (	
									F0100.rater_employee_cd_1 = @employee_cd  
								OR	F0100.rater_employee_cd_2 = @employee_cd																																										
　　　　　　　　　　　　　　　　　 OR	F0100.rater_employee_cd_3 = @employee_cd
								OR	F0100.rater_employee_cd_4 = @employee_cd
								)	
						AND F0100.company_cd	IS NOT NULL
					) AND EXISTS (
								SELECT 1 
								FROM S0010 
								INNER JOIN F0100 ON ( 
									S0010.company_cd	= F0100.company_cd		
								AND F0100.fiscal_year	= @fiscal_year_closest																																								
　　　　　　　　　　　　　　　　　	AND (	
									S0010.employee_cd	= F0100.rater_employee_cd_1 
								OR	S0010.employee_cd	= F0100.rater_employee_cd_2																																											
　　　　　　　　　　　　　　　　　 OR	S0010.employee_cd	= F0100.rater_employee_cd_3 
								OR	S0010.employee_cd	= F0100.rater_employee_cd_4
								)																																											
　　　　　　　　　　　　　　　　　	AND F0100.del_datetime IS NULL	
　　　　　　						)																																									
　　　　　　						WHERE	 
									S0010.company_cd	= @P_company_cd																																											
　　　　　　　					AND S0010.employee_cd   = @employee_cd																																											
				)
				BEGIN
					SET @authority_typ = 2
				END
				ELSE IF @authority_typ <> 4 AND EXISTS (
								SELECT 1 
								FROM F0100 
								WHERE 
									F0100.company_cd	= @P_company_cd 
								AND F0100.fiscal_year	= @fiscal_year_closest 
								AND F0100.employee_cd	= @employee_cd 
								AND F0100.del_datetime IS NULL
				) 
				BEGIN
					SET @authority_typ = 1
				END
				ELSE 
				BEGIN
					SET @authority_typ = 0
				END
				--report
				IF @report_authority_typ <> 4 AND @report_authority_cd = 0  
				BEGIN
					SET @report_authority_typ = 0
				END
				-- set F4011-note
				IF NOT EXISTS (SELECT 1 
						FROM S0010 
						LEFT OUTER JOIN F4111 ON ( 
							S0010.company_cd	= F4111.company_cd		
						AND F4111.fiscal_year	= @fiscal_year_report	
						AND F4111.del_datetime IS NULL)
　　　　　　				WHERE	 
							S0010.company_cd	= @P_company_cd																																											
　　　　　　　			AND (	
									F4111.approver_employee_cd_1  = @employee_cd
								OR	F4111.approver_employee_cd_2  = @employee_cd																																											
　　　　　　　　　　　　　　　　　	OR	F4111.approver_employee_cd_3  = @employee_cd
								OR	F4111.approver_employee_cd_4  = @employee_cd
								)	
						AND F4111.company_cd	IS NOT NULL)
				BEGIN
					SET @fiscal_year_closest_report = (SELECT TOP 1 MAX(F4111.fiscal_year) FROM F4111 WHERE	 
							F4111.company_cd	= @P_company_cd																																											
　　　　　　　				AND (	
									F4111.approver_employee_cd_1  = @employee_cd
								OR	F4111.approver_employee_cd_2  = @employee_cd																																											
　　　　　　　　　　　　　　　　　	OR	F4111.approver_employee_cd_3  = @employee_cd
								OR	F4111.approver_employee_cd_4  = @employee_cd
								)		
							AND F4111.fiscal_year < @fiscal_year_report
							AND F4111.del_datetime IS NULL
						GROUP BY
							F4111.company_cd
						,   F4111.employee_cd
					)
					IF EXISTS (SELECT TOP 1 IIF(@fiscal_year_closest_report > MAX(ISNULL(F4111.fiscal_year,@fiscal_year_closest_report)),@fiscal_year_closest_report, MAX(ISNULL(F4111.fiscal_year,@fiscal_year_closest_report))) FROM F4111 WHERE	 
							F4111.company_cd	= @P_company_cd																																											
　　　　　　　			AND F4111.employee_cd = @employee_cd	
						AND F4111.fiscal_year < @fiscal_year_report
						AND F4111.del_datetime IS NULL
						GROUP BY
							F4111.company_cd
						,   F4111.employee_cd)
					BEGIN
					SET @fiscal_year_closest_report = (SELECT TOP 1 IIF(@fiscal_year_closest_report > MAX(ISNULL(F4111.fiscal_year,@fiscal_year_closest_report)),@fiscal_year_closest_report, MAX(ISNULL(F4111.fiscal_year,@fiscal_year_closest_report))) FROM F4111 WHERE	 
							F4111.company_cd	= @P_company_cd																																											
　　　　　　　			AND F4111.employee_cd = @employee_cd	
						AND F4111.fiscal_year < @fiscal_year_report
						AND F4111.del_datetime IS NULL
						GROUP BY
							F4111.company_cd
						,   F4111.employee_cd
					)
					END
				END

				IF @report_authority_typ <> 4 AND @report_authority_cd > 0  
				BEGIN
					SET @report_authority_typ = 3
				END
			
				ELSE IF @report_authority_typ <> 4
				AND EXISTS (
								SELECT 1 
								FROM S0010 
								LEFT OUTER JOIN F4111 ON ( 
									S0010.company_cd	= F4111.company_cd		
								AND F4111.fiscal_year	= @fiscal_year_report																																																																																	
　　　　　　　　　　　　　　　　　	AND F4111.del_datetime IS NULL	
　　　　　　						)																																								
　　　　　　						WHERE	 
									S0010.company_cd	= @P_company_cd																																											
　　　　　　　					AND (	
									F4111.approver_employee_cd_1= @employee_cd
								OR	F4111.approver_employee_cd_2= @employee_cd																																										
　　　　　　　　　　　　　　　　　 OR	F4111.approver_employee_cd_3= @employee_cd
								OR	F4111.approver_employee_cd_4= @employee_cd
								)		
								AND F4111.company_cd	IS NOT NULL
				)
				AND EXISTS (
								SELECT 1 
								FROM S0010 
								LEFT OUTER JOIN F4111 ON ( 
									S0010.company_cd	= F4111.company_cd		
								AND F4111.fiscal_year	= @fiscal_year_report																																								
　　　　　　　　　　　　　　　　　	AND (	
									S0010.employee_cd	= F4111.approver_employee_cd_1
								OR	S0010.employee_cd	= F4111.approver_employee_cd_2																																										
　　　　　　　　　　　　　　　　　 OR	S0010.employee_cd	= F4111.approver_employee_cd_3
								OR	S0010.employee_cd	= F4111.approver_employee_cd_4
								)																																											
　　　　　　　　　　　　　　　　　	AND F4111.del_datetime IS NULL	
　　　　　　						)																																								
　　　　　　						WHERE	 
									S0010.company_cd	= @P_company_cd																																											
　　　　　　　					AND S0010.employee_cd   = @employee_cd	
								AND F4111.company_cd	IS NOT NULL
				) 
				BEGIN
					SET @report_authority_typ = 2
				END
				ELSE IF @report_authority_typ <> 4 AND EXISTS (
					SELECT 1 
					FROM F4110 
					WHERE 
						F4110.company_cd	= @P_company_cd 
					AND F4110.fiscal_year	= @fiscal_year_report 
					AND F4110.employee_cd	= @employee_cd 
					AND F4110.del_datetime IS NULL
				) 
				BEGIN
					SET @report_authority_typ = 1
				END
				ELSE IF @report_authority_typ <> 4
				AND NOT EXISTS (
								SELECT 1 
								FROM S0010 
								LEFT OUTER JOIN F4111 ON ( 
									S0010.company_cd	= F4111.company_cd		
								AND F4111.fiscal_year	= @fiscal_year_report																																																																																		
　　　　　　　　　　　　　　　　　	AND F4111.del_datetime IS NULL	
　　　　　　						)																																								
　　　　　　						WHERE	 
									S0010.company_cd	= @P_company_cd																																											
　　　　　　　					AND (	
									F4111.approver_employee_cd_1= @employee_cd
								OR	F4111.approver_employee_cd_2= @employee_cd																																										
　　　　　　　　　　　　　　　　　 OR	F4111.approver_employee_cd_3= @employee_cd
								OR	F4111.approver_employee_cd_4= @employee_cd
								)		
								AND F4111.company_cd	IS NOT NULL
				)
				AND EXISTS (
								SELECT 1 
								FROM S0010 
								LEFT OUTER JOIN F4111 ON ( 
									S0010.company_cd	= F4111.company_cd		
								AND F4111.fiscal_year	= @fiscal_year_closest_report																																								
　　　　　　　　　　　　　　　　　	AND (	
									S0010.employee_cd	= F4111.approver_employee_cd_1
								OR	S0010.employee_cd	= F4111.approver_employee_cd_2																																										
　　　　　　　　　　　　　　　　　 OR	S0010.employee_cd	= F4111.approver_employee_cd_3
								OR	S0010.employee_cd	= F4111.approver_employee_cd_4
								)																																											
　　　　　　　　　　　　　　　　　	AND F4111.del_datetime IS NULL	
　　　　　　						)																																								
　　　　　　						WHERE	 
									S0010.company_cd	= @P_company_cd																																											
　　　　　　　					AND S0010.employee_cd   = @employee_cd	
								AND F4111.company_cd	IS NOT NULL
				) 
				BEGIN
					SET @report_authority_typ = 2
				END
				ELSE IF @report_authority_typ <> 4
				AND NOT EXISTS (
								SELECT 1 
								FROM S0010 
								LEFT OUTER JOIN F4111 ON ( 
									S0010.company_cd	= F4111.company_cd		
								AND F4111.fiscal_year	= @fiscal_year_report																																				
　　　　　　　　　　　　　　　　　	AND F4111.employee_cd   = @employee_cd																																							
　　　　　　　　　　　　　　　　　	AND F4111.del_datetime IS NULL	
　　　　　　						)																																								
　　　　　　						WHERE	 
									S0010.company_cd	= @P_company_cd																																											
　　　　　　　					AND S0010.employee_cd   = @employee_cd	
								AND F4111.company_cd	IS NOT NULL
				)
				AND EXISTS (
								SELECT 1 
								FROM S0010 
								LEFT OUTER JOIN F4111 ON ( 
									S0010.company_cd	= F4111.company_cd		
								AND F4111.fiscal_year	= @fiscal_year_closest_report																																								
　　　　　　　　　　　　　　　　　	AND F4111.employee_cd   = @employee_cd																																							
　　　　　　　　　　　　　　　　　	AND F4111.del_datetime IS NULL	
　　　　　　						)																																								
　　　　　　						WHERE	 
									S0010.company_cd	= @P_company_cd																																											
　　　　　　　					AND S0010.employee_cd   = @employee_cd	
								AND F4111.company_cd	IS NOT NULL
				) 
				BEGIN
					SET @report_authority_typ = 1
				END
				

				IF @empinfo_authority_typ <> 4 AND @empinfo_authority_cd = 0  
				BEGIN
					SET @empinfo_authority_typ = 1
				END
				-- set F4011-note

				IF @empinfo_authority_typ <> 4 AND @empinfo_authority_cd > 0  
				BEGIN
					SET @empinfo_authority_typ = 3
				END

			END

			-- delete S0010 when @user_id is empty
			IF(@user_id = '') and not EXISTS (select 1 from @ERR_TBL) 
			BEGIN 
				UPDATE S0010 SET
					del_user				=		@P_cre_user				
				,	del_ip					=		@P_cre_ip
				,	del_prg					=		'M0070'				
				,	del_datetime			=		@w_time		
				WHERE 
					S0010.company_cd	=	@P_company_cd
				AND	S0010.employee_cd	=	@employee_cd	
			END
			-- update S0010
			ELSE IF	EXISTS(SELECT 1 FROM S0010 WHERE 
												S0010.company_cd	= @P_company_cd 
											AND S0010.user_id		= @user_id  
											AND S0010.employee_cd	= @employee_cd 
											AND S0010.del_datetime IS NULL)and not EXISTS (select 1 from @ERR_TBL) 
			BEGIN
				UPDATE S0010 SET 
					company_cd					=	@P_company_cd
				,	user_id						=	@user_id
				,	employee_cd					=	@employee_cd
				,	password					=	@password
				,	sso_user					=	@sso_user
				,	authority_typ				=	@authority_typ
				,	authority_cd				=	@authory
				,	[1on1_authority_typ]		=	@oneonone_authority_typ
				,	[1on1_authority_cd]			=	@oneonone_authority_cd
				,	multireview_authority_typ	=	@multireview_authority_typ
				,	multireview_authority_cd	=	@multireview_authority_cd
				,	setting_authority_typ		=	@setting_authority_typ
				,	setting_authority_cd		=	@setting_authority_cd
				,	report_authority_typ		=	@report_authority_typ
				,	report_authority_cd			=	@report_authority_cd
				,	empinfo_authority_cd		=	@empinfo_authority_cd
				,	empinfo_authority_typ		=	@empinfo_authority_typ
				,	multilingual_use_typ		=	@multilingual_typ
				,	supported_languages			=	@supported_languages
				,	remember_token				=		''
				,	failed_login_count			=		CASE WHEN @old_password <> @password 
														 THEN 0
														 ELSE S0010.failed_login_count
													END
				,	pass_change_datetime	=		CASE WHEN @old_password <> @password 
														 THEN @w_time
														 ELSE S0010.pass_change_datetime
													END
				,	last_login_ip			=		''
				,	last_login_datetime		=		NULL
				,	upd_user				=		@P_cre_user		
				,	upd_ip					=		@P_cre_ip
				,	upd_prg					=		'M0070'		
				,	upd_datetime			=		@w_time			
				,	del_user				=		''				
				,	del_ip					=		''		
				,	del_prg					=		''		
				,	del_datetime			=		NULL	
				WHERE 
					S0010.company_cd		= @P_company_cd 
				AND	S0010.user_id			= @user_id 
				AND	S0010.employee_cd		= @employee_cd
				AND	S0010.del_datetime IS NULL		
			END
			ELSE IF  EXISTS(SELECT 1 FROM S0010 WHERE 
													S0010.company_cd	=	@P_company_cd
												AND	S0010.user_id		=	@user_id
												AND	S0010.del_datetime	IS NOT NULL	) and not EXISTS (select 1 from @ERR_TBL) 
			BEGIN
				UPDATE S0010 SET 
					del_user				=		@P_cre_user			
				,	del_ip					=		@P_cre_ip	
				,	del_prg					=		'M0070'		
				,	del_datetime			=		 @w_time		
				WHERE 
					S0010.company_cd		=		@P_company_cd 
				AND	S0010.employee_cd		=		@employee_cd 
				AND	S0010.del_datetime IS NULL		

				UPDATE S0010 SET 
					company_cd				=		@P_company_cd
				,	user_id					=		@user_id
				,	employee_cd				=		@employee_cd
				,	password				=		@password
				,	sso_user				=		@sso_user
				,	authority_typ			=		@authority_typ
				,	authority_cd			=		@authory
				,	[1on1_authority_typ]		=	@oneonone_authority_typ
				,	[1on1_authority_cd]			=	@oneonone_authority_cd
				,	multireview_authority_typ	=	@multireview_authority_typ
				,	multireview_authority_cd	=	@multireview_authority_cd
				,	setting_authority_typ		=	@setting_authority_typ
				,	setting_authority_cd		=	@setting_authority_cd
				,	report_authority_typ		=	@report_authority_typ
				,	report_authority_cd			=	@report_authority_cd
				,	empinfo_authority_cd		=	@empinfo_authority_cd
				,	empinfo_authority_typ		=	@empinfo_authority_typ
				,	multilingual_use_typ		=	@multilingual_typ
				,	supported_languages			=	@supported_languages
				,	remember_token			=		''
				,	failed_login_count		=		CASE WHEN @old_password <> @password 
														 THEN 0
														 ELSE S0010.failed_login_count
													END
				,	pass_change_datetime	=		CASE WHEN @old_password <> @password 
														 THEN @w_time
														 ELSE S0010.pass_change_datetime
													END
				,	last_login_ip			=		''
				,	last_login_datetime		=		NULL
				,	upd_user				=		@P_cre_user		
				,	upd_ip					=		@P_cre_ip		
				,	upd_prg					=		'M0070'
				,	upd_datetime			=		@w_time			
				,	del_user				=		''				
				,	del_ip					=		''	
				,	del_prg					=		''			
				,	del_datetime			=		NULL	
				WHERE 
					S0010.company_cd		= @P_company_cd 
				AND	S0010.user_id			= @user_id 
				AND	S0010.del_datetime IS NOT NULL		
			END
			ELSE IF  NOT EXISTS(SELECT 1 FROM S0010 WHERE 
													S0010.company_cd	=	@P_company_cd
												AND	S0010.user_id		=	@user_id
												AND	S0010.employee_cd	=	@employee_cd) and not EXISTS (select 1 from @ERR_TBL) 
			BEGIN
				-- DELETE EMPLOYEE 
				UPDATE S0010 SET
					del_user				=		@P_cre_user				
				,	del_ip					=		@P_cre_ip	
				,	del_prg					=		'M0070'			
				,	del_datetime			=		@w_time		
				WHERE 
					S0010.company_cd	=	@P_company_cd
				AND	S0010.employee_cd	=	@employee_cd	
				--
				INSERT INTO S0010
				SELECT 
					@P_company_cd
				,	@user_id
				,	@employee_cd
				,	@password
				,	@sso_user
				,	@authority_typ
				,	@authory
				,	ISNULL(@oneonone_authority_typ,0)
				,	@oneonone_authority_cd
				,	ISNULL(@multireview_authority_typ,0)
				,	@multireview_authority_cd
				,	ISNULL(@report_authority_typ,0)
				,	@report_authority_cd
				,	0
				,	@empinfo_authority_cd
				,	ISNULL(@setting_authority_typ,0)
				,	@setting_authority_cd
				,   1
				,	@multilingual_typ
				,	@supported_languages
				,	''
				,	0
				,   @w_time
				,	''
				,	NULL
				,	@P_cre_user		
				,	@P_cre_ip	
				,	'M0070'	
				,	@w_time			
				,	''				
				,	''	
				,	''			
				,	NULL			
				,	''	
				,	''			
				,	''				
				,	NULL	
			END	
		--v1.7 M0072 DEL + ADD
		DELETE M0072 WHERE company_cd = @P_company_cd AND employee_cd = @employee_cd 
		INSERT INTO M0072
		SELECT 
			@P_company_cd
		,	@employee_cd
		,	#M0072.item_cd
		,	#M0072.item_no
		,	#M0072.character_item
		,	#M0072.number_item
		,	#M0072.date_item
		,	@P_cre_user		
		,	@P_cre_ip	
		,	'M0070'	
		,	@w_time			
		,	''				
		,	''	
		,	''			
		,	NULL			
		,	''	
		,	''			
		,	''				
		,	NULL	
		FROM #M0072 
		
			
	END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- INSERT STATEMENTS FOR PROCEDURE HERE
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by

	SELECT 
		@employee_cd AS employee_cd
	,	@old_picture AS old_picture
	select @employee_cd
END

GO
