DROP PROCEDURE [dbo].[SPC_M0070_EMPLOYEE_INFO]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';
-- EXEC SPC_M0070_ACT1 '{"employee_cd":"2","employee_last_nm":"CAN","employee_first_nm":"EDITED","employee_nm":"CAN EDITED","employee_ab_nm":"","furigana":"CAN EDITED","gender":"2","mail":"kakakiki2197@gmail.com","birth_date":"","company_in_dt":"2016\/06\/06","company_out_dt":"","director_typ":1,"retirement_reason_typ":"","retirement_reason":"","oneonone_typ":1,"multireview_typ":1,"report_typ":1,"base_style":"0","sub_style":"0","driver_point":"0","analytical_point":"0","expressive_point":"0","amiable_point":"0","application_date":"2023\/05\/16","user_id":"2","password":"1","sso_user":"","office_cd":"0","organization_step1":"3","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1","authority_cd":"3","oneonone_authority_cd":"4","multireview_authority_cd":"3","setting_authority_cd":"0","report_authority_cd":"7","job_cd":"1","position_cd":"9","employee_typ":"1","grade":"5","base_salary":"","picture":"","imgInp":"","ck1":"0","list":[{"application_date":"2023\/05\/16","office_cd":"1","belong_cd1":"3","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"9","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2022\/09\/14","office_cd":"1","belong_cd1":"1","belong_cd2":"2","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"9","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2022\/08\/26","office_cd":"1","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"10","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2016\/06\/06","office_cd":"1","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"10","job_cd":"1","employee_typ":"1","grade":"5"}],"evaluated_typ":1,"list_character":[],"list_date":[],"list_number_item":[],"mode_pic":"N","mode":0,"mode_exists":"N"}','','721','::1','740';
-- EXEC SPC_M0070_ACT1 '{"employee_cd":"2","employee_last_nm":"CAN","employee_first_nm":"EDITED","employee_nm":"CAN EDITED","employee_ab_nm":"","furigana":"CAN EDITED","gender":"2","mail":"kakakiki2197@gmail.com","birth_date":"","company_in_dt":"2016\/06\/06","company_out_dt":"","director_typ":1,"retirement_reason_typ":"","retirement_reason":"","oneonone_typ":1,"multireview_typ":1,"report_typ":1,"base_style":"0","sub_style":"0","driver_point":"0","analytical_point":"0","expressive_point":"0","amiable_point":"0","application_date":"2023\/05\/16","user_id":"2","password":"1","sso_user":"","office_cd":"0","organization_step1":"3","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1","authority_cd":"3","oneonone_authority_cd":"4","multireview_authority_cd":"3","setting_authority_cd":"0","report_authority_cd":"7","job_cd":"1","position_cd":"9","employee_typ":"1","grade":"5","base_salary":"","picture":"","imgInp":"","ck1":"0","list":[{"application_date":"2023\/05\/16","office_cd":"0","belong_cd1":"3","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"9","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2022\/09\/14","office_cd":"1","belong_cd1":"1","belong_cd2":"2","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"9","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2022\/08\/26","office_cd":"1","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"10","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2016\/06\/06","office_cd":"1","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"10","job_cd":"1","employee_typ":"1","grade":"5"}],"evaluated_typ":1,"list_character":[],"list_date":[],"list_number_item":[],"mode_pic":"N","mode":0,"mode_exists":"N"}','','721','::1','740';
--EXEC SPC_M0070_EMPLOYEE_INFO '{"employee_cd":"14","mail":"","tel-haifun":"","tel-exten":"","application_date":"2022\/09\/14","user_id":"14","list_organization":[{"arrange_order":"","organization_cd1":"1","organization_cd2":"1|2|||","organization_cd3":"1|2|1||","organization_cd4":"1|2|1|1|","organization_cd5":"1|2|1|1|1","position_cd":"11"},{"arrange_order":"2","organization_cd1":"1","organization_cd2":"1|2|||","organization_cd3":"1|2|1||","organization_cd4":"1|2|1|1|","organization_cd5":"1|2|1|1|1","position_cd":"11"},{"arrange_order":"3","organization_cd1":"1","organization_cd2":"1|2|||","organization_cd3":"1|2|1||","organization_cd4":"1|2|1|1|","organization_cd5":"1|2|1|1|1","position_cd":"11"},{"arrange_order":"4","organization_cd1":"1","organization_cd2":"1|2|||","organization_cd3":"1|2|1||","organization_cd4":"1|2|1|1|","organization_cd5":"1|2|1|1|1","position_cd":"11"}],"organization_step1":"","organization_step2":"","organization_step3":"","organization_step4":"","organization_step5":""}','','721','::1','740';
--  EXEC SPC_M0070_EMPLOYEE_INFO '{"employee_cd":"6","mail":"345345","tel":"","tel_extends":"","application_date":"2025\/02\/01","user_id":"1","grade":"0","salary_grade":"0","company_out_dt":"2025\/06\/19","retirement_reason":"thích","office_cd":"0","list_organization":[{"arrange_order":"","organization_cd1":"-1","organization_cd2":"-1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":"-1"},{"arrange_order":"","organization_cd1":"-1","organization_cd2":"-1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":"-1"},{"arrange_order":"","organization_cd1":"1","organization_cd2":"1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":-1},{"arrange_order":"","organization_cd1":"1","organization_cd2":"1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":"-1"}],"list":[{"application_date":"2025\/02\/01","office_cd":"0","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"","job_cd":"","employee_typ":"","grade":""}],"organization_step1":"-1","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1"}','','721','::1','740';
-- EXEC SPC_M0070_EMPLOYEE_INFO '{"employee_cd":"30","mail":"","tel":"","tel_extends":"","application_date":"2022\/11\/29","user_id":"30","grade":"0","salary_grade":"","company_out_dt":"","retirement_reason":"","position_cd":"14","job_cd":"2","employee_typ":"4","office_cd":"11","row_data_02":[{"arrange_order":"","organization_cd1":"-1","organization_cd2":"-1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":"-1","detail_no":"0"},{"arrange_order":"","organization_cd1":"-1","organization_cd2":"-1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":-1,"detail_no":"-1","organization_step1":"-1","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1"},{"arrange_order":"0","organization_cd1":"1","organization_cd2":"1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":"-1","detail_no":"1"},{"arrange_order":"0","organization_cd1":"2","organization_cd2":"1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":"-1","detail_no":"2"}],"list":[{"application_date":"","office_cd":"","belong_cd1":"-1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"","employee_typ":"","grade":"","organization_step1":"-1","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1"},{"application_date":"","office_cd":"","belong_cd1":"1","belong_cd2":"1|1|||","belong_cd3":"-1","belong_cd4":"-1","belong_cd5":"-1","position_cd":"-1","job_cd":"","employee_typ":"","grade":""},{"application_date":"","office_cd":"","belong_cd1":"2","belong_cd2":"2|1|||","belong_cd3":"-1","belong_cd4":"-1","belong_cd5":"-1","position_cd":"-1","job_cd":"","employee_typ":"","grade":""},{"application_date":"2022\/11\/29","office_cd":"11","belong_cd1":"","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"14","job_cd":"2","employee_typ":"4","grade":""},{"application_date":"2022\/11\/29","office_cd":"11","belong_cd1":"1","belong_cd2":"1","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"0","employee_typ":"0","grade":"0"},{"application_date":"2022\/11\/29","office_cd":"11","belong_cd1":"2","belong_cd2":"1","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"0","employee_typ":"0","grade":"0"},{"application_date":"2022\/11\/28","office_cd":"11","belong_cd1":"2","belong_cd2":"1","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"14","job_cd":"2","employee_typ":"4","grade":"0"},{"application_date":"2022\/11\/28","office_cd":"11","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"0","employee_typ":"0","grade":"0"},{"application_date":"2022\/11\/28","office_cd":"11","belong_cd1":"21","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"0","employee_typ":"0","grade":"0"},{"application_date":"2022\/11\/27","office_cd":"11","belong_cd1":"2","belong_cd2":"1","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"14","job_cd":"2","employee_typ":"4","grade":"0"},{"application_date":"2022\/11\/26","office_cd":"3","belong_cd1":"2","belong_cd2":"1","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"8","job_cd":"4","employee_typ":"1","grade":"0"},{"application_date":"2022\/11\/25","office_cd":"0","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"0","employee_typ":"0","grade":"0"},{"application_date":"2022\/09\/14","office_cd":"0","belong_cd1":"","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"","job_cd":"","employee_typ":"","grade":"0"}],"organization_step1":"-1","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1"}','','721','::1','740';
--  EXEC SPC_M0070_EMPLOYEE_INFO '{"employee_cd":"30","mail":"","tel":"","tel_extends":"","application_date":"2022\/11\/29","user_id":"30","grade":"0","salary_grade":"0","company_out_dt":"","retirement_reason":"","position_cd":"14","job_cd":"2","employee_typ":"4","office_cd":"11","row_data_02":[{"arrange_order":"","organization_cd1":"-1","organization_cd2":"-1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":"-1","detail_no_data_row":"0"},{"arrange_order":"","organization_cd1":"-1","organization_cd2":"-1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":-1,"detail_no_data_row":"-1","organization_step1":"-1","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1"},{"arrange_order":"","organization_cd1":"2","organization_cd2":"-1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":"-1","detail_no_data_row":"0"}],"list":[{"application_date":"","office_cd":"","belong_cd1":"-1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"","employee_typ":"","grade":"","organization_step1":"-1","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1"},{"application_date":"","office_cd":"","belong_cd1":"2","belong_cd2":"-1","belong_cd3":"-1","belong_cd4":"-1","belong_cd5":"-1","position_cd":"-1","job_cd":"","employee_typ":"","grade":""},{"application_date":"2022\/11\/29","office_cd":"11","belong_cd1":"","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"14","job_cd":"2","employee_typ":"4","grade":"0"},{"application_date":"2022\/11\/28","office_cd":"11","belong_cd1":"2","belong_cd2":"1","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"14","job_cd":"2","employee_typ":"4","grade":"0"},{"application_date":"2022\/11\/28","office_cd":"11","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"0","employee_typ":"0","grade":"0"},{"application_date":"2022\/11\/28","office_cd":"11","belong_cd1":"21","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"0","employee_typ":"0","grade":"0"},{"application_date":"2022\/11\/27","office_cd":"11","belong_cd1":"2","belong_cd2":"1","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"14","job_cd":"2","employee_typ":"4","grade":"0"},{"application_date":"2022\/11\/26","office_cd":"3","belong_cd1":"2","belong_cd2":"1","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"8","job_cd":"4","employee_typ":"1","grade":"0"},{"application_date":"2022\/11\/25","office_cd":"0","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"0","employee_typ":"0","grade":"0"},{"application_date":"2022\/09\/14","office_cd":"0","belong_cd1":"","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"","job_cd":"","employee_typ":"","grade":"0"}],"organization_step1":"-1","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1"}','','721','::1','740';
--EXEC SPC_M0070_EMPLOYEE_INFO '{"employee_cd":"20","mail":"vietdt@ans-asia.com","tel":"","tel_extends":"","application_date":"2022\/09\/14","user_id":"","grade":"0","salary_grade":"","company_out_dt":"","retirement_reason":"","position_cd":"-1","job_cd":"0","employee_typ":"0","change_data_emp":"0","office_cd":"0","row_data_02":[{"arrange_order":"","organization_cd1":"-1","organization_cd2":"-1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":"-1","detail_no_data_row":"0"},{"arrange_order":"","organization_cd1":"1","organization_cd2":"1|1|||","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":-1,"detail_no_data_row":"-1","organization_step1":"1","organization_step2":"1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1"},{"arrange_order":"","organization_cd1":"2","organization_cd2":"1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":"-1","detail_no_data_row":"0"},{"arrange_order":"10","organization_cd1":"3","organization_cd2":"-1","organization_cd3":"-1","organization_cd4":"-1","organization_cd5":"-1","position_cd":"-1","detail_no_data_row":"0"},{"arrange_order":"","organization_cd1":"1","organization_cd2":"2","organization_cd3":"1","organization_cd4":"-1","organization_cd5":"-1","position_cd":"-1","detail_no_data_row":"0"}],"list":[{"application_date":"","detail_no":"","office_cd":"","belong_cd1":"-1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"","employee_typ":"","grade":"","organization_step1":"1","organization_step2":"1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1"},{"application_date":"","detail_no":"","office_cd":"","belong_cd1":"2","belong_cd2":"2|1|||","belong_cd3":"-1","belong_cd4":"-1","belong_cd5":"-1","position_cd":"-1","job_cd":"","employee_typ":"","grade":""},{"application_date":"","detail_no":"","office_cd":"","belong_cd1":"3","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"","employee_typ":"","grade":""},{"application_date":"","detail_no":"","office_cd":"","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"","employee_typ":"","grade":""},{"application_date":"2022\/09\/14","detail_no":"0","office_cd":"0","belong_cd1":"","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"-1","job_cd":"0","employee_typ":"0","grade":""}],"organization_step1":"1","organization_step2":"1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1"}','','721','::1','740';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	M0070_社員マスタ SAVE DATA
--*  
--* 作成日/create date			:	2018/08/16											
--*	作成者/creater				:	DatNT						
--*   					
--*　　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0070_EMPLOYEE_INFO] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)		=	''				
,	@P_picture		NVARCHAR(50)		=	''
	-- common
,	@P_cre_user		NVARCHAR(50)		=	''
,	@P_cre_ip		NVARCHAR(100)		=	''
,	@P_company_cd	SMALLINT			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			= SYSDATETIME()
	,	@order_by_min				INT					= 0
	,	@ERR_TBL					ERRTABLE	
	,	@employee_cd				NVARCHAR (20)		=	''		
	,	@company_in_dt				DATE				= NULL						
	,	@company_out_dt				DATE				= NULL		
	,	@evaluated_typ				INT					= 0								
	,	@application_date			DATE				=	NULL				
	,	@office_cd					INT					= 0		
	,	@belong_cd1					NVARCHAR(50)				= ''		
	,	@belong_cd2					NVARCHAR(50)				= ''	
	,	@belong_cd3					NVARCHAR(50)				= ''		
	,	@belong_cd4					NVARCHAR(50)				= ''	
	,	@belong_cd5					NVARCHAR(50)				= ''		
	,	@job_cd						INT					= 0		
	,	@position_cd				INT					= 0		
	,	@employee_typ				INT					= 0		
	,	@grade						INT					= 0			
	,	@base_salary				MONEY				= 0
	,	@picture					NVARCHAR(100)		= ''
	,	@authory					INT					= 0
	,	@password					NVARCHAR(40)		= ''
	,	@sso_user					NVARCHAR(255)		= ''
	,	@user_id					NVARCHAR(50)		= ''
	,	@latest_date				DATE				= NULL
	,	@check_au					INT					= 0
	,	@mode						INT					= 0
	,	@mode_pic					NVARCHAR(1)			= ''
	,	@mode_exists				NVARCHAR(1)			= ''
	,	@authority_typ				SMALLINT			= 0
	,	@year						INT					= 0
	,	@max_detail					INT					=	0
	--
	,	@len						TINYINT				= 0
	,	@old_picture				NVARCHAR(200)		= ''
	,	@m0071_last_date			DATE				=	NULL
	,	@latest_date2				DATE				=	NULL
	,	@cout_M0071					INT					=	0
	,	@old_password				NVARCHAR(40)		= ''
	--v1.7 M0070
	,	@base_style					smallint		=	0
	,	@sub_style					smallint		=	0
	,	@driver_point				smallint		=	0
	,	@analytical_point			smallint		=	0
	,	@expressive_point			smallint		=	0
	,	@amiable_point				smallint		=	0
	,	@oneonone_authority_typ		smallint		=	0
	,	@multireview_authority_typ	smallint		=	0
	,	@oneonone_authority_cd		smallint		=	0
	,	@multireview_authority_cd	smallint		=	0
	,	@setting_authority_cd		smallint		=	0	
	,	@setting_authority_typ		smallint		=	0
	,	@report_authority_cd		smallint		=	0	
	,	@report_authority_typ		smallint		=	0
	,	@tel						NVARCHAR(50)	=	''	
	,	@tel_extends				NVARCHAR(50)	=	''	
	,	@mail						NVARCHAR(100)	=	''	
	,	@retirement_reason_typ		smallint		=	0
	,	@retirement_reason			nvarchar(100)	=	''
	,	@salary_grade				MONEY			=	0
	,	@change_data_emp			SMALLINT		=	0
	CREATE TABLE #TBL_JSON(
		application_date		DATE	
	,	office_cd				INT		
	,	belong_cd1				NVARCHAR(50)	
	,	belong_cd2				NVARCHAR(50)
	,	belong_cd3				NVARCHAR(50)
	,	belong_cd4				NVARCHAR(50)
	,	belong_cd5				NVARCHAR(50)	
	,	job_cd					INT		
	,	position_cd				INT		
	,	employee_typ			INT		
	,	grade					INT		
	,	detail_no				INT		
	)

	CREATE TABLE #ORGANIZATION(
		id INT IDENTITY(1,1)					
	,	arrange_order		INT
	,	belong_cd1		NVARCHAR(40)
	,	belong_cd2		NVARCHAR(40)
	,	belong_cd3		NVARCHAR(40)
	,	belong_cd4		NVARCHAR(40)
	,	belong_cd5		NVARCHAR(40)
	,	position_cd		INT
	,	detail_no		INT
	)
	INSERT INTO #ORGANIZATION
	SELECT
		arrange_order	
	,	organization_cd1		
	,	organization_cd2		
	,	organization_cd3	
	,	organization_cd4	
	,	organization_cd5		
	,	position_cd		
	,	detail_no_data_row
	FROM OPENJSON(@P_json,'$.row_data_02') WITH(
		arrange_order			INT
	,	organization_cd1		NVARCHAR(40)
	,	organization_cd2		NVARCHAR(40)
	,	organization_cd3		NVARCHAR(40)
	,	organization_cd4		NVARCHAR(40)
	,	organization_cd5		NVARCHAR(40)
	,	position_cd		INT
	,	detail_no_data_row		INT
	)


	DELETE TOP(2) FROM #ORGANIZATION
	DELETE FROM #ORGANIZATION
	WHERE 
		(#ORGANIZATION.arrange_order IS NULL OR #ORGANIZATION.arrange_order = '' OR #ORGANIZATION.arrange_order = 0 )
	AND (#ORGANIZATION.belong_cd1 IS NULL OR #ORGANIZATION.belong_cd1 = '' OR #ORGANIZATION.belong_cd1 = '-1')
	
	-- INSERT value character item 
	INSERT INTO @ERR_TBL
	SELECT
		8
	,	N'.organization_cd1' 
	,	0-- oderby
	,	0-- dialog  
	,	#ORGANIZATION.id
	,	0
	,	N''
	FROM #ORGANIZATION
	WHERE 
		(#ORGANIZATION.arrange_order IS NOT NULL AND #ORGANIZATION.arrange_order <> '' OR #ORGANIZATION.arrange_order <> 0 AND #ORGANIZATION.arrange_order <> -1)
	AND (#ORGANIZATION.belong_cd1 IS NULL OR #ORGANIZATION.belong_cd1 = '' OR #ORGANIZATION.belong_cd1 = '-1')
	AND (#ORGANIZATION.position_cd = '0' OR #ORGANIZATION.position_cd = '-1')
	INSERT INTO @ERR_TBL
	SELECT
		8
	,	N'.position_cd' 
	,	0-- oderby
	,	0-- dialog  
	,	#ORGANIZATION.id
	,	0
	,	N''
	FROM #ORGANIZATION
	WHERE 
		(#ORGANIZATION.arrange_order IS NOT NULL AND #ORGANIZATION.arrange_order <> '' OR #ORGANIZATION.arrange_order <> 0 AND #ORGANIZATION.arrange_order <> -1)
	AND (#ORGANIZATION.belong_cd1 IS NULL OR #ORGANIZATION.belong_cd1 = '' OR #ORGANIZATION.belong_cd1 = '-1')
	AND (#ORGANIZATION.position_cd = '0' OR #ORGANIZATION.position_cd = '-1' OR #ORGANIZATION.position_cd IS NULL)
	-- START TRANSACTION	

	IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
	BEGIN

	BEGIN TRANSACTION
	BEGIN TRY
		-- ASSIGN
		SET @employee_cd					=	JSON_VALUE(@P_json,'$.employee_cd')
		SET	@company_in_dt					=	CAST(NULLIF(JSON_VALUE(@P_json,'$.company_in_dt	'),'')AS DATE)
		SET @company_out_dt					=	CAST(NULLIF(JSON_VALUE(@P_json,'$.company_out_dt'),'')AS DATE)
		SET	@base_salary					=	JSON_VALUE(@P_json,'$.base_salary')
		SET @mail							=	JSON_VALUE(@P_json,'$.mail')
		SET @tel							=	JSON_VALUE(@P_json,'$.tel')
		SET @tel_extends					=	JSON_VALUE(@P_json,'$.tel_extends')
		SET @application_date				=	CAST(NULLIF(JSON_VALUE(@P_json,'$.application_date'),'')AS DATE)
		SET	@retirement_reason_typ			=	JSON_VALUE(@P_json,'$.retirement_reason_typ')
		SET	@retirement_reason				=	JSON_VALUE(@P_json,'$.retirement_reason')
		SET	@position_cd					=	JSON_VALUE(@P_json,'$.position_cd')
		SET	@job_cd							=	JSON_VALUE(@P_json,'$.job_cd')
		SET	@employee_typ					=	JSON_VALUE(@P_json,'$.employee_typ')
		SET	@grade							=	JSON_VALUE(@P_json,'$.grade')
		SET	@office_cd						=	JSON_VALUE(@P_json,'$.office_cd')
		SET	@salary_grade					=	JSON_VALUE(@P_json,'$.salary_grade')
		SET	@change_data_emp				=	JSON_VALUE(@P_json,'$.change_data_emp')
		SET @belong_cd1						=	IIF(JSON_VALUE(@P_json,'$.organization_step1') ='-1','',JSON_VALUE(@P_json,'$.organization_step1'))
		SET @belong_cd2						=	IIF(JSON_VALUE(@P_json,'$.organization_step2') ='-1','',JSON_VALUE(@P_json,'$.organization_step2'))
		SET @belong_cd3						=	IIF(JSON_VALUE(@P_json,'$.organization_step3') ='-1','',JSON_VALUE(@P_json,'$.organization_step3'))
		SET @belong_cd4						=	IIF(JSON_VALUE(@P_json,'$.organization_step4') ='-1','',JSON_VALUE(@P_json,'$.organization_step4'))
		SET @belong_cd5						=	IIF(JSON_VALUE(@P_json,'$.organization_step5') ='-1','',JSON_VALUE(@P_json,'$.organization_step5'))
		--get previous employee pass
		SELECT	@old_password				=	S0010.password
			,	@authority_typ				=	ISNULL(authority_typ,0)
			,	@oneonone_authority_typ		=	ISNULL([1on1_authority_typ],0)
			,	@multireview_authority_typ	=	ISNULL(multireview_authority_typ,0)
			,	@setting_authority_typ		=	ISNULL(setting_authority_typ,0)
			,	@report_authority_typ		=	ISNULL(report_authority_typ,0)
		FROM S0010
		WHERE S0010.company_cd	= @P_company_cd 
						AND S0010.user_id		= @user_id  
						AND S0010.employee_cd	= @employee_cd 
						AND S0010.del_datetime IS NULL
		-- INSERT INTO #TBL_JSON
		INSERT INTO #TBL_JSON
		SELECT
			application_date
		,	office_cd			
		,	belong_cd1			
		,	belong_cd2
		,	belong_cd3
		,	belong_cd4
		,	belong_cd5			
		,	job_cd				
		,	position_cd			
		,	employee_typ		
		,	grade
		,	detail_no
		FROM OPENJSON(@P_json,'$.list') WITH(
			application_date		DATE	
		,	office_cd				INT		
		,	belong_cd1				NVARCHAR(50)	
		,	belong_cd2				NVARCHAR(50)
		,	belong_cd3				NVARCHAR(50)
		,	belong_cd4				NVARCHAR(50)
		,	belong_cd5				NVARCHAR(50)	
		,	job_cd					INT		
		,	position_cd				INT		
		,	employee_typ			INT		
		,	grade					INT		
		,	detail_no				INT		
		)

		-- check user_id is existed
		IF EXISTS(SELECT 1 FROM S0010 WHERE company_cd = @P_company_cd  AND user_id = @user_id AND employee_cd <> @employee_cd AND user_id <> '' AND del_datetime IS NULL)
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT
				55
			,	'#user_id' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'user_id is existed'
			
		END
		-- check password is existed
		--IF (@password <> '' AND EXISTS(SELECT 1 FROM S0010 WHERE company_cd = @P_company_cd  AND password = @password AND employee_cd <> @employee_cd AND del_datetime IS NULL ))
		--BEGIN 
		--	INSERT INTO @ERR_TBL
		--	SELECT
		--		53
		--	,	'#password' 
		--	,	0-- oderby
		--	,	0-- dialog  
		--	,	0
		--	,	0
		--	,	'password is existed'
		--END
		--get latest_date
		SET @latest_date	=  (SELECT TOP 1 application_date FROM #TBL_JSON where detail_no = 0 ORDER BY application_date DESC)
		SET @cout_M0071		=  (SELECT COUNT(*) FROM M0071 WHERE company_cd = @P_company_cd AND employee_cd = @employee_cd AND del_datetime IS NULL )
		SET @latest_date2	= (SELECT TOP 1 application_date FROM M0071 WHERE company_cd = @P_company_cd AND employee_cd = @employee_cd ORDER BY application_date DESC)
		-- check date 

		IF @latest_date IS NOT NULL AND	@application_date < @latest_date
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				59
			,	'#application_date' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'employee_cd not found'
		END
		-- CR check password

		IF (@company_in_dt >= @company_out_dt) 
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT
				24
			,	'#company_in_dt,#company_out_dt' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'company_in_dth'		
		END
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
		SET @year = (SELECT [dbo].[FNC_GET_YEAR] (@P_company_cd,@w_time))
		IF EXISTS(SELECT 1 FROM M0070 WHERE company_cd  = @P_company_cd AND employee_cd = @employee_cd)
			BEGIN
				IF @latest_date IS NOT NULL AND ((@latest_date = @application_date ) 
				OR (@latest_date < @application_date AND @latest_date2 <> @application_date) 
				OR (@latest_date < @application_date AND @mode = 1 AND @latest_date2 < @application_date AND @latest_date2 IS NOT NULL))
				OR @latest_date2 IS NULL OR ( @latest_date IS NULL AND @latest_date2 < @application_date )
				OR	@cout_M0071	=	1
				BEGIN
					UPDATE M0070
					SET
						office_cd					=	@office_cd					--,[office_cd]
					,	belong_cd1					=	@belong_cd1					--,[belong_cd1]
					,	belong_cd2					=	@belong_cd2					--,[belong_cd2]
					,	belong_cd3					=	@belong_cd3					--,[belong_cd1]
					,	belong_cd4					=	@belong_cd4					--,[belong_cd2]
					,	belong_cd5					=	@belong_cd5					--,[belong_cd1]
					,	job_cd						=	@job_cd						--,[job_cd]
					,	position_cd					=	@position_cd				--,[position_cd]
					,	employee_typ				=	@employee_typ				--,[employee_typ]
					,	grade						=	@grade						--,[grade]
					WHERE	M0070.company_cd		=	@P_company_cd
					AND M0070.employee_cd			=	@employee_cd
				END 
				ELSE IF EXISTS(SELECT 1 FROM #TBL_JSON )
				BEGIN
					UPDATE M0070
					SET
						office_cd					=	#TBL_JSON.office_cd			--,[office_cd]
					,	belong_cd1					=	#TBL_JSON.belong_cd1		--,[belong_cd1]
					,	belong_cd2					=	#TBL_JSON.belong_cd2		--,[belong_cd2]
					,	belong_cd3					=	#TBL_JSON.belong_cd3		--,[belong_cd2]
					,	belong_cd4					=	#TBL_JSON.belong_cd4		--,[belong_cd2]
					,	belong_cd5					=	#TBL_JSON.belong_cd5		--,[belong_cd2]
					,	job_cd						=	@job_cd						--,[job_cd]
					,	position_cd					=	@position_cd				--,[position_cd]
					,	employee_typ				=	@employee_typ				--,[employee_typ]
					,	grade						=	@grade			
					FROM #TBL_JSON
					WHERE	M0070.company_cd		= @P_company_cd
					AND M0070.employee_cd			= @employee_cd
					AND #TBL_JSON.application_date	= @latest_date
				END
				ELSE
				BEGIN
					UPDATE M0070
					SET
						office_cd					=	0						--,[office_cd]
					,	belong_cd1					=	''				--,[belong_cd1]
					,	belong_cd2					=	''				--,[belong_cd2]
					,	belong_cd3					=	''				--,[belong_cd2]
					,	belong_cd4					=	''				--,[belong_cd2]
					,	belong_cd5					=	''				--,[belong_cd2]
					,	job_cd						=	0				--,[job_cd]
					,	position_cd					=	0				--,[position_cd]
					,	employee_typ				=	0				--,[employee_typ]
					,	grade						=	0				--,[grade]
					WHERE	M0070.company_cd		= @P_company_cd
					AND M0070.employee_cd			= @employee_cd
				END
				UPDATE M0070
				SET
					company_out_dt				=	@company_out_dt									--,[company_out_dt]
				,	mail						=	@mail
				,	company_mobile_number		=	@tel
				,	extension_number			=	@tel_extends
				,	salary_grade				=	@salary_grade

				--IIF(@P_picture = '',@old_picture,@p_picture)	--,[picture]
				,	del_user					=	''
				,	del_ip						=	''
				,	del_prg						=	''
				,	del_datetime				=	NULL
				WHERE	M0070.company_cd		= @P_company_cd
					AND M0070.employee_cd		= @employee_cd

			END 
			
			IF @latest_date IS NOT NULL AND @application_date = @latest_date 
			BEGIN
				INSERT INTO #TBL_JSON
					SELECT
						@application_date						--[application_date]
					,	@office_cd						--[office_cd]
					,	@belong_cd1						--[belong_cd1]
					,	@belong_cd2						--[belong_cd2]
					,	@belong_cd3						--[belong_cd1]
					,	@belong_cd4						--[belong_cd2]
					,	@belong_cd5						--[belong_cd1]			
					,	@job_cd						--[job_cd]
					,	@position_cd						--[position_cd]
					,	@employee_typ						--[employee_typ]
					,	@grade						--[grade]		
					,	0										--detail
					FROM M0071
				WHERE company_cd		=	@P_company_cd
				AND	 employee_cd		=	@employee_cd
				AND  application_date	=	@application_date
				AND	@change_data_emp = 1
				
				UPDATE M0071 SET		
					office_cd		= 		@office_cd
				,	belong_cd1		= 		@belong_cd1
				,	belong_cd2		= 		@belong_cd2
				,	belong_cd3		= 		@belong_cd3
				,	belong_cd4		= 		@belong_cd4
				,	belong_cd5		= 		@belong_cd5
				,	job_cd			= 		@job_cd
				,	position_cd		= 		@position_cd
				,	employee_typ	= 		@employee_typ
				,	grade			= 		@grade
				,	upd_user		=		@P_cre_user		
				,	upd_ip			=		@P_cre_ip	
				,	upd_prg			=		'M0070'
				,	upd_datetime	=		@w_time	
				,	del_user		=		SPACE(0)
				,	del_ip			=		SPACE(0)
				,	del_prg			=		SPACE(0)
				,	del_datetime	=		NULL	
				WHERE company_cd		=	@P_company_cd
				AND	 employee_cd		=	@employee_cd
				AND  application_date	=	@application_date
				--AND del_datetime IS NULL
			END
			IF EXISTS(SELECT 1 FROM M0071 WHERE company_cd = @P_company_cd AND employee_cd = @employee_cd AND application_date = @application_date  ) AND (@mode <> 1 OR (@mode = 1 AND @application_date > @latest_date2))
			BEGIN
				INSERT INTO #TBL_JSON
					SELECT
						@application_date						--[application_date]
					,	@office_cd						--[office_cd]
					,	@belong_cd1						--[belong_cd1]
					,	@belong_cd2						--[belong_cd2]
					,	@belong_cd3						--[belong_cd1]
					,	@belong_cd4						--[belong_cd2]
					,	@belong_cd5						--[belong_cd1]			
					,	@job_cd						--[job_cd]
					,	@position_cd						--[position_cd]
					,	@employee_typ						--[employee_typ]
					,	@grade						--[grade]		
					,	0										--detail
					FROM M0071
				WHERE company_cd		=	@P_company_cd
				AND	 employee_cd		=	@employee_cd
				AND  application_date	=	@application_date
				AND	@change_data_emp = 1
				UPDATE M0071 SET
					office_cd		= 		@office_cd
				,	belong_cd1		= 		@belong_cd1
				,	belong_cd2		= 		@belong_cd2
				,	belong_cd3		= 		@belong_cd3
				,	belong_cd4		= 		@belong_cd4
				,	belong_cd5		= 		@belong_cd5
				,	job_cd			= 		@job_cd
				,	position_cd		= 		@position_cd
				,	employee_typ	= 		@employee_typ
				,	grade			= 		@grade
				,	upd_user		=		@P_cre_user		
				,	upd_ip			=		@P_cre_ip	
				,	upd_prg			=		'M0070'
				,	upd_datetime	=		@w_time	
				,	del_user		=		SPACE(0)
				,	del_ip			=		SPACE(0)
				,	del_prg			=		SPACE(0)
				,	del_datetime	=		NULL	
				WHERE company_cd		=	@P_company_cd
				AND	 employee_cd		=	@employee_cd
				AND  application_date	=	@application_date
			END
			BEGIN
				--IF ((@application_date <> @m0071_last_date OR @m0071_last_date IS NULL))
				IF NOT EXISTS (SELECT 1 FROM M0071 WHERE application_date = @application_date and company_cd = @P_company_cd and employee_cd =@employee_cd)
				BEGIN

					INSERT INTO #TBL_JSON
					SELECT
						@application_date						--[application_date]
					,	@office_cd								--[office_cd]
					,	@belong_cd1								--[belong_cd1]
					,	@belong_cd2								--[belong_cd2]
					,	@belong_cd3								--[belong_cd1]
					,	@belong_cd4								--[belong_cd2]
					,	@belong_cd5								--[belong_cd1]
					,	@job_cd									--[job_cd]
					,	@position_cd							--[position_cd]
					,	@employee_typ							--[employee_typ]
					,	@grade									--[grade]	
					,	0			
					INSERT INTO M0071
					SELECT
						@P_company_cd								--[company_cd]
					,	@employee_cd							--[employee_cd]
					,	@application_date						--[application_date]
					,	@office_cd								--[office_cd]
					,	@belong_cd1								--[belong_cd1]
					,	@belong_cd2								--[belong_cd2]
					,	@belong_cd3								--[belong_cd1]
					,	@belong_cd4								--[belong_cd2]
					,	@belong_cd5								--[belong_cd1]
					,	@job_cd									--[job_cd]
					,	@position_cd							--[position_cd]
					,	@employee_typ							--[employee_typ]
					,	@grade									--[grade]
					,	@P_cre_user								--[cre_user]
					,	@P_cre_ip								--[cre_ip]
					,	'M0070'									--[cre_prg]
					,	@w_time									--[cre_datetime]
					,	''										--[upd_user]
					,	''										--[upd_ip]
					,	''										--[upd_prg]
					,	NULL									--[upd_datetime]
					,	''										--[del_user]
					,	''										--[del_ip]
					,	''										--[del_prg]
					,	NULL									--[del_datetime])
				END
			END

				UPDATE M0073
				SET	
					belong_cd1	=	IIF(#ORGANIZATION.belong_cd1 = '-1','',#ORGANIZATION.belong_cd1)
				,	belong_cd2	=	IIF(#ORGANIZATION.belong_cd2 = '-1','',#ORGANIZATION.belong_cd2)
				,	belong_cd3	=	IIF(#ORGANIZATION.belong_cd3 = '-1','',#ORGANIZATION.belong_cd3)
				,	belong_cd4	=	IIF(#ORGANIZATION.belong_cd4 = '-1','',#ORGANIZATION.belong_cd4)
				,	belong_cd5	=	IIF(#ORGANIZATION.belong_cd5 = '-1','',#ORGANIZATION.belong_cd5)
				,	position_cd	= #ORGANIZATION.position_cd
				,	arrange_order	= #ORGANIZATION.arrange_order
				,	[upd_user]			=	 @P_cre_user
				,	[upd_ip]			=	@P_cre_ip
				,	[upd_prg]			=	'M0070'
				,	[upd_datetime]		=	@w_time
				,	[del_user]			=	 ''
				,	[del_ip]			=	''
				,	[del_prg]			=	'M0070'
				,	[del_datetime]		=	NULL
				FROM 
					#ORGANIZATION 
				INNER JOIN M0073 ON(
					@P_company_cd			=	M0073.company_cd
				AND	@employee_cd			=	M0073.employee_cd
				AND @application_date		=	M0073.application_date
				AND	#ORGANIZATION.detail_no    =	M0073.detail_no
				)
			
				UPDATE M0073
				SET	
					[del_user]			=	 @P_cre_user
				,	[del_ip]			=	@P_cre_ip
				,	[del_prg]			=	'M0070'
				,	[del_datetime]		=	@w_time
				FROM 
					#ORGANIZATION 
				RIGHT JOIN M0073 ON(
					@P_company_cd		=	M0073.company_cd
				AND	@employee_cd		=	M0073.employee_cd
				AND @application_date	=	M0073.application_date
				AND	#ORGANIZATION.detail_no        =	M0073.detail_no
				)
				WHERE
					#ORGANIZATION.id IS NULL
				AND @P_company_cd		=	M0073.company_cd
				AND	@employee_cd		=	M0073.employee_cd
				AND @application_date	=	M0073.application_date
				AND M0073.del_datetime IS NULL

				--IF ((@application_date <> @m0071_last_date OR @m0071_last_date IS NULL))
					select @max_detail = MAX(a.detail_no ) FROM 
						#ORGANIZATION 
					INNER JOIN M0073 AS a ON(
						@P_company_cd				=	a.company_cd
					AND	@employee_cd				=	a.employee_cd
					AND @application_date			=	a.application_date

					)
					GROUP BY
					a.company_cd
					,a.employee_cd
					,a.application_date
					DELETE  FROM #ORGANIZATION WHERE #ORGANIZATION.detail_no <> 0

					UPDATE #ORGANIZATION
					SET detail_no = B.detail_no
					FROM  #ORGANIZATION as A INNER JOIN (
					SELECT id,ROW_NUMBER()   OVER (ORDER BY id) AS detail_no
					FROM #ORGANIZATION 
					WHERE
						detail_no = 0
						) AS B ON(A.id = B.id)
					WHERE A.detail_no = 0

					INSERT INTO #TBL_JSON
					SELECT
						@application_date		
					,	0				
					,	#ORGANIZATION.belong_cd1				
					,	#ORGANIZATION.belong_cd2				
					,	#ORGANIZATION.belong_cd3				
					,	#ORGANIZATION.belong_cd4				
					,	#ORGANIZATION.belong_cd5				
					,	0					
					,	0				
					,	0			
					,	0				
					,	#ORGANIZATION.detail_no		+ @max_detail								--detail
					FROM 
						#ORGANIZATION 
					LEFT JOIN M0073 AS a ON(
						@P_company_cd		=	a.company_cd
					AND	@employee_cd		=	a.employee_cd
					AND @application_date	=	a.application_date
					AND	#ORGANIZATION.detail_no		+ @max_detail   =	a.detail_no
					)
					WHERE
						a.company_cd IS NULL
						
					INSERT INTO M0073
					SELECT
						@P_company_cd								--[company_cd]
					,	@employee_cd							--[employee_cd]
					,	@application_date						--[application_date]
					,	#ORGANIZATION.detail_no		+ @max_detail								--detail
					,	IIF(#ORGANIZATION.belong_cd1 = '-1','',#ORGANIZATION.belong_cd1)										--[belong_cd1]
					,	IIF(#ORGANIZATION.belong_cd2 = '-1','',#ORGANIZATION.belong_cd2)										--[belong_cd2]
					,	IIF(#ORGANIZATION.belong_cd3 = '-1','',#ORGANIZATION.belong_cd3)										--[belong_cd1]
					,	IIF(#ORGANIZATION.belong_cd4 = '-1','',#ORGANIZATION.belong_cd4)										--[belong_cd2]
					,	IIF(#ORGANIZATION.belong_cd5 = '-1','',#ORGANIZATION.belong_cd5)										--[belong_cd1]
					,	#ORGANIZATION.position_cd										--[position_cd]
					,	#ORGANIZATION.arrange_order										--[arrange]
					,	@P_cre_user								--[cre_user]
					,	@P_cre_ip								--[cre_ip]
					,	'M0070'									--[cre_prg]
					,	@w_time									--[cre_datetime]
					,	''										--[upd_user]
					,	''										--[upd_ip]
					,	''										--[upd_prg]
					,	NULL									--[upd_datetime]
					,	''										--[del_user]
					,	''										--[del_ip]
					,	''										--[del_prg]
					,	NULL									--[del_datetime])
					FROM 
						#ORGANIZATION 
					LEFT JOIN M0073 AS a ON(
						@P_company_cd		=	a.company_cd
					AND	@employee_cd		=	a.employee_cd
					AND @application_date	=	a.application_date
					AND	#ORGANIZATION.detail_no		+ @max_detail   =	a.detail_no
					)
					WHERE
						a.company_cd IS NULL

					UPDATE M0073 SET 
						del_user					=	@P_cre_user
					,	del_ip						=	@P_cre_ip
					,	del_prg						=	'M0070'
					,	del_datetime				=	@w_time
					FROM M0073
					LEFT JOIN #TBL_JSON ON(
						M0073.company_cd		= @P_company_cd
					AND	M0073.employee_cd		= @employee_cd
					AND	m0073.application_date	= #TBL_JSON.application_date
					AND	m0073.detail_no	= #TBL_JSON.detail_no
					)
					WHERE #TBL_JSON.application_date IS NULL
					AND	M0073.company_cd		= @P_company_cd
					AND	M0073.employee_cd		= @employee_cd
					AND	M0073.del_datetime IS NULL
								-- M0071	

			UPDATE M0071 SET 
				del_user					=	@P_cre_user
			,	del_ip						=	@P_cre_ip
			,	del_prg						=	'M0070'
			,	del_datetime				=	@w_time
			FROM M0071
			LEFT JOIN #TBL_JSON ON(
				M0071.company_cd		= @P_company_cd
			AND	M0071.employee_cd		= @employee_cd
			AND	m0071.application_date	= #TBL_JSON.application_date
			AND #TBL_JSON.detail_no	=	0
			)
			WHERE #TBL_JSON.application_date IS NULL
			AND	M0071.company_cd		= @P_company_cd
			AND	M0071.employee_cd		= @employee_cd
			AND M0071.del_datetime		IS NULL
			-- M0071	
			-- IF CHECKED 総合管理者
		
			SET @latest_date = (SELECT MAX(application_date) FROM M0071 WHERE M0071.company_cd = @P_company_cd AND M0071.employee_cd = @employee_cd AND del_datetime IS NULL )
			IF @latest_date IS NOT NULL
			BEGIN
			UPDATE M0070
			SET
				office_cd					=	M71.office_cd							--,[office_cd]
			,	belong_cd1					=	M71.belong_cd1					--,[belong_cd1]
			,	belong_cd2					=	M71.belong_cd2					--,[belong_cd2]
			,	belong_cd3					=	M71.belong_cd3					--,[belong_cd2]
			,	belong_cd4					=	M71.belong_cd4					--,[belong_cd2]
			,	belong_cd5					=	M71.belong_cd5					--,[belong_cd2]
			,	job_cd						=	M71.job_cd						--,[job_cd]
			,	position_cd					=	M71.position_cd					--,[position_cd]
			,	employee_typ				=	M71.employee_typ				--,[employee_typ]
			,	grade						=	M71.grade						--,[grade]
			FROM 
				M0070 INNER JOIN (
				SELECT 
						office_cd			
					,	belong_cd1			
					,	belong_cd2			
					,	belong_cd3			
					,	belong_cd4			
					,	belong_cd5			
					,	job_cd				
					,	position_cd			
					,	employee_typ		
					,	grade				
					FROM M0071 
					WHERE 
						company_cd = @P_company_cd
					AND employee_cd = @employee_cd
					AND application_date = @latest_date
				) AS M71 ON(
					M0070.company_cd = @P_company_cd
				AND M0070.employee_cd = @employee_cd
				)
			WHERE	
				M0070.company_cd		= @P_company_cd
			AND M0070.employee_cd			= @employee_cd
			END
	END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	END
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- INSERT STATEMENTS FOR PROCEDURE HERE
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by

	SELECT 
		@employee_cd AS employee_cd
	,	@old_picture AS old_picture
END

