DROP PROCEDURE [SPC_M0070_ACT4]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE POPUP RETIRED
--*  
--* 作成日/create date			:	2020/09/26											
--*	作成者/creater				:	datnt						
--*   					
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_ACT4] 
	-- Add the parameters for the stored procedure here
	-- common
	@P_company_cd			nvarchar(20)		=	''
,	@P_user_ip				nvarchar(50)		=	''
,	@P_user_login			nvarchar(50)		=	''
,	@P_json					nvarchar(max)		=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@order_by_min				int					=	0
	,	@company_out_dt				date				=	NULL
	,	@company_in_dt				date				=	NULL
	,	@retirement_reason_typ		INT					=	0
	,	@retirement_reason			NVARCHAR(500)		=	''
	,	@employee_cd				NVARCHAR(50)		=	''
	CREATE TABLE #TBL_INFO(
		ck_item    		INT
	,	employee_cd		nvarchar(50)
	,	employee_nm		nvarchar(50)
	,	sheet_kbn 		INT
	,	sheet_cd  		INT
	,	sheet_nm   		NVARCHAR(50)
	,	status_cd  		INT
	,	status_nm		NVARCHAR(50)
	,	fiscal_year		INT
	,	treatment_no	INT
	,	is_del_treatment	INT
	)
	INSERT INTO #TBL_INFO
			SELECT	
				[row].ck_item    	
			,	[row].employee_cd	  
			,	[row].employee_nm	
			,	[row].sheet_kbn 	    
			,	[row].sheet_cd  	 
			,	[row].sheet_nm   	 
			,	[row].status_cd  	 
			,	[row].status_nm	 
			,	[row].fiscal_year	
			,	0
			,	0
			FROM OPENJSON(@P_json,'$.list') WITH(
					ck_item    		INT
				,	employee_cd		nvarchar(50)
				,	employee_nm		nvarchar(50)
				,	sheet_kbn 		INT
				,	sheet_cd  		INT
				,	sheet_nm   		nvarchar(50)
				,	status_cd  		INT
				,	status_nm		nvarchar(50)	
				,	fiscal_year		nvarchar(50)	
			) AS [row] 
			SET		@company_out_dt			=	JSON_VALUE(@P_json,'$.company_out_dt') 
			SET		@retirement_reason_typ	=	JSON_VALUE(@P_json,'$.retirement_reason_typ') 
			SET		@retirement_reason		=	JSON_VALUE(@P_json,'$.retirement_reason')  
			SET		@employee_cd = JSON_VALUE(@P_json,'$.selected_employee_cd')
			SET		@company_in_dt	=	(	
											SELECT
												company_in_dt
											FROM M0070
											WHERE
												company_cd = @P_company_cd	
											AND	employee_cd = @employee_cd
											AND	del_datetime IS NULL										
										)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		IF (@company_in_dt >= @company_out_dt) 
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT
				24
			,	'#company_out_dt' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'company_in_dth'		
		END
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
			DELETE #TBL_INFO WHERE ck_item = 0
			UPDATE #TBL_INFO 
			SET 
				#TBL_INFO.treatment_no = #TEMP_F0032.treatment_applications_no
			FROM #TBL_INFO INNER JOIN 
			(SELECT		company_cd
					,	fiscal_year
					,	treatment_applications_no
					,	MAX(group_cd) AS group_cd
					,	employee_cd
					,	sheet_cd
			FROM F0032 
			WHERE del_datetime IS NULL
			GROUP BY company_cd
				,	fiscal_year
				,	treatment_applications_no
				,	employee_cd
				,	sheet_cd
			)AS #TEMP_F0032 ON(
				@P_company_cd			=	#TEMP_F0032.company_cd
			AND #TBL_INFO.fiscal_year	=	#TEMP_F0032.fiscal_year
			AND #TBL_INFO.employee_cd	=	#TEMP_F0032.employee_cd
			AND #TBL_INFO.sheet_cd		=	#TEMP_F0032.sheet_cd
			)
			UPDATE F0100 
			SET 
				del_user		= @P_user_login
			,	del_ip			= @P_user_ip
			,	del_prg			= 'M0070'
			,	del_datetime	= @w_time
			FROM F0100 
			INNER JOIN #TBL_INFO ON (
				F0100.company_cd	= @P_company_cd
			AND F0100.employee_cd	= #TBL_INFO.employee_cd
			AND F0100.sheet_cd		= #TBL_INFO.sheet_cd
			AND F0100.fiscal_year	=	#TBL_INFO.fiscal_year
			)
			UPDATE F0120 
			SET 
				del_user		= @P_user_login
			,	del_ip			= @P_user_ip
			,	del_prg			= 'M0070'
			,	del_datetime	= @w_time
			FROM F0120 
			INNER JOIN #TBL_INFO ON (
				F0120.company_cd	= @P_company_cd
			AND F0120.employee_cd	= #TBL_INFO.employee_cd
			AND F0120.sheet_cd		= #TBL_INFO.sheet_cd
			AND F0120.fiscal_year	= #TBL_INFO.fiscal_year
			)
			--F0032
			UPDATE F0032
			SET 
				del_user		= @P_user_login
			,	del_ip			= @P_user_ip
			,	del_prg			= 'M0070'
			,	del_datetime	= @w_time
			FROM F0032 
			INNER JOIN #TBL_INFO ON (
				F0032.company_cd	= @P_company_cd
			AND F0032.fiscal_year	= #TBL_INFO.fiscal_year
			AND F0032.employee_cd	= #TBL_INFO.employee_cd
			AND f0032.sheet_cd		= #TBL_INFO.sheet_cd
			)
	-- L	AY NHUNG tHANG TREATE BI XOA HET SHEET O BANG F0032
			UPDATE #TBL_INFO 
			SET 
				#TBL_INFO.is_del_treatment = #TEMP_F0032.treatment_applications_no
			FROM #TBL_INFO INNER JOIN 
			(SELECT		company_cd
					,	fiscal_year
					,	treatment_applications_no
					,	MAX(group_cd) AS group_cd
					,	employee_cd
					,	sheet_cd
			FROM F0032 
			GROUP BY company_cd
				,	fiscal_year
				,	treatment_applications_no
				,	employee_cd
				,	sheet_cd
			)AS #TEMP_F0032 ON(
				@P_company_cd			=	#TEMP_F0032.company_cd
			AND #TBL_INFO.fiscal_year	=	#TEMP_F0032.fiscal_year
			AND #TBL_INFO.employee_cd	=	#TEMP_F0032.employee_cd
			AND #TBL_INFO.sheet_cd		=	#TEMP_F0032.sheet_cd
			)
			-- TIM NHUNG THANG TREATMEANT BI XOA HET SHEET CD
			LEFT JOIN 
			(SELECT		company_cd
					,	fiscal_year
					,	treatment_applications_no
					,	MAX(group_cd) AS group_cd
					,	employee_cd
					,	sheet_cd
			FROM F0032 
			WHERE del_datetime IS NULL
			GROUP BY company_cd
				,	fiscal_year
				,	treatment_applications_no
				,	employee_cd
				,	sheet_cd
			)AS #TEMP_F0032_2 ON(
				@P_company_cd			=	#TEMP_F0032_2.company_cd
			AND #TBL_INFO.fiscal_year	=	#TEMP_F0032_2.fiscal_year
			AND #TBL_INFO.employee_cd	=	#TEMP_F0032_2.employee_cd
			AND #TEMP_F0032.treatment_applications_no	=	#TEMP_F0032_2.treatment_applications_no
			)
			WHERE #TEMP_F0032_2.employee_cd IS NULL
			--F0030 thieu key dung treat #TBL_INFO update tu f0032
			UPDATE F0030 
			SET 
				del_user		= @P_user_login
			,	del_ip			= @P_user_ip
			,	del_prg			= 'M0070'
			,	del_datetime	= @w_time
			FROM F0030 
			INNER JOIN #TBL_INFO ON (
				F0030.company_cd				= @P_company_cd
			AND F0030.fiscal_year				= #TBL_INFO.fiscal_year
			AND F0030.employee_cd				= #TBL_INFO.employee_cd
			AND F0030.treatment_applications_no	=	#TBL_INFO.treatment_no
			)
			--F0100
			UPDATE F0100 
			SET 
				del_user		= @P_user_login
			,	del_ip			= @P_user_ip
			,	del_prg			= 'M0070'
			,	del_datetime	= @w_time
			FROM F0100 
			INNER JOIN #TBL_INFO ON (
				F0100.company_cd	= @P_company_cd
			AND F0100.fiscal_year	= #TBL_INFO.fiscal_year
			AND F0100.employee_cd	= #TBL_INFO.employee_cd
			AND F0100.sheet_cd		= #TBL_INFO.sheet_cd
			)
			--F0100
			UPDATE F0101 
			SET 
				del_user		= @P_user_login
			,	del_ip			= @P_user_ip
			,	del_prg			= 'M0070'
			,	del_datetime	= @w_time
			FROM F0101 
			INNER JOIN #TBL_INFO ON (
				F0101.company_cd	= @P_company_cd
			AND F0101.fiscal_year	= #TBL_INFO.fiscal_year
			AND F0101.employee_cd	= #TBL_INFO.employee_cd
			AND F0101.sheet_cd		= #TBL_INFO.sheet_cd
			)
			--F0110
			UPDATE F0110 
			SET 
				del_user		= @P_user_login
			,	del_ip			= @P_user_ip
			,	del_prg			= 'M0070'
			,	del_datetime	= @w_time
			FROM F0110 
			INNER JOIN #TBL_INFO ON (
				F0110.company_cd	= @P_company_cd
			AND F0110.fiscal_year	= #TBL_INFO.fiscal_year
			AND F0110.employee_cd	= #TBL_INFO.employee_cd
			AND F0110.sheet_cd		= #TBL_INFO.sheet_cd
			)
			--F0111
			UPDATE F0111 
			SET 
				del_user		= @P_user_login
			,	del_ip			= @P_user_ip
			,	del_prg			= 'M0070'
			,	del_datetime	= @w_time
			FROM F0111 
			INNER JOIN #TBL_INFO ON (
				F0111.company_cd	= @P_company_cd
			AND F0111.fiscal_year	= #TBL_INFO.fiscal_year
			AND F0111.employee_cd	= #TBL_INFO.employee_cd
			AND F0111.sheet_cd		= #TBL_INFO.sheet_cd
			)
			--F0121
			UPDATE F0121 
			SET 
				del_user		= @P_user_login
			,	del_ip			= @P_user_ip
			,	del_prg			= 'M0070'
			,	del_datetime	= @w_time
			FROM F0121 
			INNER JOIN #TBL_INFO ON (
				F0121.company_cd	= @P_company_cd
			AND F0121.fiscal_year	= #TBL_INFO.fiscal_year
			AND F0121.employee_cd	= #TBL_INFO.employee_cd
			AND F0121.sheet_cd		= #TBL_INFO.sheet_cd
			)
			----F0122 thieu key
			--UPDATE F0122 
			--SET 
			--	del_user		= @P_user_login
			--,	del_ip			= @P_user_ip
			--,	del_prg			= 'M0070'
			--,	del_datetime	= @w_time
			--FROM F0122 
			--INNER JOIN #TBL_INFO ON (
			--	F0122.company_cd	= @P_company_cd
			--AND F0122.fiscal_year	= #TBL_INFO.fiscal_year
			--AND F0122.employee_cd	= #TBL_INFO.employee_cd
			--)
			--F0200 thieu key dung treat #TBL_INFO update tu f0032
			UPDATE F0200 
			SET 
				del_user		= @P_user_login
			,	del_ip			= @P_user_ip
			,	del_prg			= 'M0070'
			,	del_datetime	= @w_time
			FROM F0200 
			INNER JOIN #TBL_INFO ON (
				F0200.company_cd				= @P_company_cd
			AND F0200.fiscal_year				= #TBL_INFO.fiscal_year
			AND F0200.employee_cd				= #TBL_INFO.employee_cd
			AND F0200.treatment_applications_no	= #TBL_INFO.treatment_no
			)
			--F0201 thieu key dung treat #TBL_INFO update tu f0032
			UPDATE F0201 
			SET 
				del_user		= @P_user_login
			,	del_ip			= @P_user_ip
			,	del_prg			= 'M0070'
			,	del_datetime	= @w_time
			FROM F0201 
			INNER JOIN #TBL_INFO ON (
				F0201.company_cd	= @P_company_cd
			AND F0201.fiscal_year	= #TBL_INFO.fiscal_year
			AND F0201.employee_cd	= #TBL_INFO.employee_cd
			AND F0201.treatment_applications_no	= #TBL_INFO.treatment_no
			)

			UPDATE M0070 
			SET 
				company_out_dt			=	@company_out_dt
			,	retirement_reason_typ	=	@retirement_reason_typ
			,	retirement_reason		=	@retirement_reason
			WHERE 
				company_cd		=	@P_company_cd
			AND employee_cd		=	@employee_cd
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END


GO
