DROP PROCEDURE [SPC_M0070_LST4]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	POPUP RETIRED
--*  
--* 作成日/create date			:	2020/09/25											
--*	作成者/creater				:	DatNT					
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_LST4]
	@P_company_cd			AS	INT				=  0
,	@P_user_id				AS NVARCHAR(50)	=  ''
,	@P_employee_cd			AS	NVARCHAR(20)	=  ''
,	@P_company_out_dt		AS DATE				= NULL
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE
		@w_time			DATETIME2		=	SYSDATETIME()
	,	@beginning_date DATE			=	NULL
	,	@start_date		DATE			=	NULL
	,	@fiscal_year	INT				=	0
	,	@authority_cd		INT				=	0
	,	@authority_typ		INT				=	0
	,	@w_language			INT					=	1	--add vietdt 2022/08/08
	SELECT 
		@w_language						=	ISNULL(S0010.language,1)
	FROM S0010 
	WHERE 
		S0010.company_cd = @P_company_cd 
	AND S0010.[user_id] COLLATE Latin1_General_CS_AS = @P_user_id 
	AND S0010.del_datetime IS NULL 
END
	--// bo search theo dk fiscal_year ma search theo thoi gian hien tai
		--IF(@P_company_out_dt IS NULL OR @P_company_out_dt = '1900-01-01')
		--BEGIN
		--	SELECT 
		--	 @P_company_out_dt = company_out_dt
		--	FROM M0070
		--	WHERE company_cd	=	@P_company_cd
		--	AND employee_cd		=	@P_employee_cd
		--	AND del_datetime IS NULL
		--END
		--SET @beginning_date = (SELECT beginning_date FROM M0100 WHERE company_cd = @P_company_cd)
		--IF @beginning_date IS NOT NULL
		--BEGIN
		--	SET @start_date = CAST((FORMAT(@P_company_out_dt,'yyyy') + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		--	IF(@P_company_out_dt < @start_date)
		--	BEGIN 
		--		SET @fiscal_year =  FORMAT(DATEADD(YYYY,-1,@P_company_out_dt),'yyyy')
		--	END
		--	ELSE
		--	BEGIN
		--		SET @fiscal_year = FORMAT(@start_date,'yyyy')
		--	END
		--END
		--ELSE
		--BEGIN 
		--	SET @start_date		= CAST((FORMAT(@P_company_out_dt,'yyyy') + '/01/01') AS DATE)
		--	IF(@P_company_out_dt < @start_date)
		--	BEGIN 
		--		SET @fiscal_year = FORMAT(DATEADD(YYYY,-1,@P_company_out_dt),'yyyy')
		--	END
		--	ELSE
		--	BEGIN
		--		SET @fiscal_year = FORMAT(@start_date,'yyyy')
		--	END
		--END
	--//// end bo search theo dk fiscal_year ma search theo thoi gian hien tai
	SELECT 
		@authority_cd = s0010.setting_authority_cd
	,	@authority_typ	= s0010.setting_authority_typ
	FROM s0010 where company_cd = @P_company_cd AND user_id = @P_user_id AND del_datetime IS NULL
--[0]
	SELECT 
			 FORMAT (company_out_dt, 'yyyy/MM/dd') as company_out_dt
			,	retirement_reason_typ
			,	retirement_reason
			FROM M0070
			WHERE company_cd	=	@P_company_cd
			AND employee_cd		=	@P_employee_cd
			AND del_datetime IS NULL
--[1]
	SELECT 
		M0070.employee_cd
	,	M0070.employee_nm
	,	CASE W_M0200.sheet_kbn 
			WHEN 1 THEN IIF(@w_language = 2, 'Objective Management Sheet', '目標管理シート')
			WHEN 2 THEN IIF(@w_language = 2, 'Evaluation Sheet', '評価シート')
			ELSE ''
		END AS sheet_kbn_nm
	,	sheet_kbn
	,	W_M0200.sheet_cd
	,	W_M0200.sheet_nm	
	,	F0100.status_cd
	,		CASE 
			WHEN ISNULL(M0310.status_nm,'') <> ''
			THEN M0310.status_nm
			ELSE ISNULL(IIF(@w_language = 2, L0040.status_nm_english, L0040.status_nm),'')
		END AS status_nm
	,	F0100.fiscal_year
	FROM M0070 
	LEFT JOIN F0100 ON(
		M0070.company_cd	=	F0100.company_cd
	AND M0070.employee_cd	=	F0100.employee_cd
	AND F0100.del_datetime IS NULL
	)
	LEFT JOIN W_M0200 ON(
		M0070.company_cd	=	W_M0200.company_cd
	AND	F0100.fiscal_year	=	W_M0200.fiscal_year
	AND F0100.sheet_cd		=	W_M0200.sheet_cd
	)
	LEFT JOIN M0310 ON(
		M0070.company_cd	=	M0310.company_cd
	AND F0100.status_cd		=	M0310.status_cd
	AND W_M0200.sheet_kbn	=	M0310.category
	)
	LEFT JOIN L0040 ON (
		M0310.company_cd					=	@P_company_cd
	AND M0310.category						=	L0040.category
	AND M0310.status_cd						=	L0040.status_cd
	AND L0040.del_datetime IS NULL
	)
	WHERE 
	1	= CASE WHEN sheet_kbn = 1  AND F0100.status_cd < 12 
			THEN 1
			WHEN sheet_kbn = 2  AND F0100.status_cd < 10
			THEN 1
			ELSE 0
		END
	AND M0070.del_datetime IS NULL
	AND F0100.del_datetime IS NULL
	AND F0100.fiscal_year	<= YEAR(@w_time)
	AND M0070.company_cd	= @P_company_cd
	AND M0070.employee_cd	= @P_employee_cd
	--[2] -- check disable button save
	IF @authority_typ > 3
	BEGIN
		SELECT 1 AS disable_status
	END
	ELSE
	BEGIN
		SELECT
			CASE WHEN authority > 1  THEN 1 
			ELSE 0
			END AS disable_status
		FROM S9021 
		WHERE company_cd = @P_company_cd
		AND authority_cd = @authority_cd
		AND function_id	=	'M0070'
		AND del_datetime IS NULL
	END
	

GO
