DROP PROCEDURE [SPC_M0070_ACT5]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	CANCEL POPUP RETIRED
--*  
--* 作成日/create date			:	2020/09/26											
--*	作成者/creater				:	datnt						
--*   					
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_ACT5] 
	-- Add the parameters for the stored procedure here
	-- common
	@P_company_cd			nvarchar(20)		=	''
,	@P_user_ip				nvarchar(50)		=	''
,	@P_user_login			nvarchar(50)		=	''
,	@P_json					nvarchar(max)		=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@employee_cd				NVARCHAR(50)		=	''
	SET		@employee_cd = JSON_VALUE(@P_json,'$.selected_employee_cd')
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		UPDATE M0070 
		SET 
			company_out_dt			=	NULL
		,	retirement_reason_typ	=	''
		,	retirement_reason		=	''
		,	upd_datetime			= @w_time
		,	upd_ip					= @P_user_ip
		,	upd_prg					= 'M0070'
		,	upd_user				= @P_user_login
		WHERE 
			company_cd		=	@P_company_cd
		AND employee_cd		=	@employee_cd
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END


GO
