DROP PROCEDURE [SPC_M0070_ACT3]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	DELETE DATA
--*  
--* 作成日/create date			:	2018/08/16											
--*	作成者/creater				:	namnb						
--*   					
--*	更新日/update date			:  	2018/11/12					
--*	更新者/updater				:　  tuantv - tuantv@ans-asia.com　								     	 
--*	更新内容/update content		:	Update CR 2018/11/06	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_ACT3] 
	-- Add the parameters for the stored procedure here
	-- common
	@P_employee_cd				nvarchar(20)	=	''
,	@P_application_date			DATE			=	NULL
,	@P_cre_user					nvarchar(50)	=	''
,	@P_cre_ip					nvarchar(50)	=	''
,	@P_company_cd				smallint
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			int					=	0
	,	@max_application_date	date				=	''
	CREATE TABLE #M0071(
		office_cd		INT
	,	belong_cd1		nvarchar(50)
	,	belong_cd2		nvarchar(50)
	,	job_cd			INT
	,	position_cd		INT
	,	employee_typ	INT
	,	grade			INT
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		SELECT @max_application_date = MAX(M0071.application_date) FROM M0071 WHERE company_cd = @P_company_cd AND employee_cd = @P_employee_cd and del_datetime IS NULL
		IF NOT EXISTS (SELECT 1 FROM M0071 WHERE company_cd = @P_company_cd AND employee_cd = @P_employee_cd AND application_date = @P_application_date AND del_datetime IS NULL)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(
				21
			,	'#employee_cd'
			,	0-- oderby
			,	2-- dialog  
			,	0
			,	0
			,	'employee_cd not found'
			)
		END
		
	
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			UPDATE M0071	
			SET del_user					=	@P_cre_user
			,	del_ip						=	@P_cre_ip
			,	del_prg						=	'M0070'
			,	del_datetime				=	@w_time
			FROM M0071 
			WHERE  company_cd			= @P_company_cd 
			AND		employee_cd			= @P_employee_cd 
			AND		application_date	= @P_application_date 
			AND		del_datetime IS NULL
			IF(@P_application_date = @max_application_date)
			BEGIN
				INSERT INTO #M0071
				SELECT TOP 1 
					office_cd		
				,	belong_cd1	
				,	belong_cd2	
				,	job_cd		
				,	position_cd	
				,	employee_typ	
				,	grade			
				FROM M0071
				WHERE	M0071.company_cd		=	@P_company_cd
				AND		M0071.employee_cd		=	@P_employee_cd
				AND		m0071.application_date	<	@max_application_date
				AND		m0071.del_datetime IS NULL
				ORDER BY M0071.application_date DESC
				--
				UPDATE M0070
				SET	
					office_cd				=	#M0071.office_cd					--,[office_cd]
				,	belong_cd1				=	#M0071.belong_cd1					--,[belong_cd1]
				,	belong_cd2				=	#M0071.belong_cd2					--,[belong_cd2]
				,	job_cd					=	#M0071.job_cd						--,[job_cd]
				,	position_cd				=	#M0071.position_cd					--,[position_cd]
				,	employee_typ			=	#M0071.employee_typ					--,[employee_typ]
				,	grade					=	#M0071.grade						--,[grade]
				,	upd_user				=	@P_cre_user
				,	upd_ip					=	@P_cre_ip
				,	upd_prg					=	'M0070'
				,	upd_datetime			=	@w_time
				FROM #M0071
				WHERE	M0070.company_cd	= @P_company_cd
					AND M0070.employee_cd	= @P_employee_cd
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END


GO
