DROP PROCEDURE [SPC_M0070_LST1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************************
--*   		EXEC SPC_M0070_LST1 '','{"list_organization_step1":[],"list_organization_step2":[],"list_organization_step3":[],"list_organization_step4":[],"list_organization_step5":[]}','0','1','100','10035','hanhntm','','jp';
									
--*  処理概要/process overview	:	M0070_社員マスタ
--*  
--*  作成日/create date			:	2018/08/20				
--*　作成者/creater				:	datnt								
--*   					
--*  更新日/update date			:	2018/11/15
--*　更新者/updater				:　	Longvv
--*　更新内容/update content		:	UPDATE CR 2018/11/14
--*   					
--*  更新日/update date			:	2018/11/20
--*　更新者/updater				:　	Longvv-longvv@ans-asia.com
--*　更新内容/update content		:	半角のアンダーバー「_」で検索
--*   					
--*  更新日/update date			:	2021/06/03
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	when 3.管理者(authority_typ = 3) and not choice organization in s9022 then view all employees
--*
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_LST1]
	@P_search_key			NVARCHAR(200)	=	''
,	@P_list_org				NVARCHAR(MAX)	=	0
,	@P_company_out_dt_flg	SMALLINT		=	0
,	@P_current_page			SMALLINT		=	0
,	@P_page_size			SMALLINT		=	0
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(MAX)	=	''
,	@P_employee_cd 			NVARCHAR(MAX)	=	''
,	@P_language				NVARCHAR(2)		= ''
AS
BEGIN
	SET NOCOUNT ON;
    -- do stuff
	DECLARE
		@totalRecord						BIGINT			=	0
	,	@w_time								date			= getdate()
	,	@pageNumber							INT				=	0
	,	@employee_cd_position				INT				=	0
	,	@arrange_order						INT				=	0
	,	@position_cd						INT				=	0   --quangnd smallint
	,	@P_authority_typ					SMALLINT		=	0
	,	@P_authority_cd						SMALLINT		=	0
	,	@belong_cd1							NVARCHAR(100)	=	0
	,	@belong_cd2							NVARCHAR(100)	=	0
	,	@belong_cd3							NVARCHAR(100)	=	0
	,	@belong_cd4							NVARCHAR(100)	=	0
	,	@belong_cd5							NVARCHAR(100)	=	0
	,	@employee_cd_login					NVARCHAR(MAX)	=	''
	,	@choice_in_screen					INT				=	0
	-- add by viettd 2021/06/03
	,	@w_setting_organization_cnt			INT				=	0	-- 0.view all 1.only view organization choiced
	,	@w_organization_belong_person_typ	SMALLINT		=	0
	SET @w_time = CONVERT(date, @w_time)
	-- CREATE TABLE
	-- #ORGANIZATION_1
	CREATE TABLE #ORGANIZATION_1(
		organization_cd_1			nvarchar(20)
	)
	--#TABLE_ORGANIZATION
	CREATE TABLE #TABLE_ORGANIZATION(
		organization_typ			tinyint
	,	organization_cd_1			nvarchar(20)
	,	organization_cd_2			nvarchar(20)
	,	organization_cd_3			nvarchar(20)
	,	organization_cd_4			nvarchar(20)
	,	organization_cd_5			nvarchar(20)	
	,	choice_in_screen			tinyint		-- 1.choice in screen 0.get from master s9022
	)
	-- #RESULT
	CREATE TABLE #RESULT (
		id					INT IDENTITY(1, 1)
	,	company_cd			smallint
	,	employee_cd			NVARCHAR	(20)
	,	employee_nm			NVARCHAR	(101)
	,	belong_cd1			NVARCHAR	(40)
	,	belong_cd2			NVARCHAR	(40)
	,	belong_cd3			NVARCHAR	(40)
	,	belong_cd4			NVARCHAR	(40)
	,	belong_cd5			NVARCHAR	(40)
	,	organization_nm		NVARCHAR	(50)
	,	company_out_dt		NVARCHAR	(10)
	,	evaluated_typ		INT			
	,	[1on1_typ]			INT
	,	multireview_typ		INT
	,	report_typ			INT
	)
	--
	SELECT 
		@P_authority_typ	=	ISNULL(s0010.setting_authority_typ,0) 
	,	@P_authority_cd		=	ISNULL(s0010.setting_authority_cd,0)
	,	@position_cd		=	ISNULL(M0070.position_cd,0)
	,	@employee_cd_login	=	ISNULL(M0070.employee_cd,'')
	FROM s0010 LEFT JOIN M0070 ON (
		M0070.company_cd		=	s0010.company_cd
	AND M0070.employee_cd		=	s0010.employee_cd
	AND M0070.del_datetime		IS NULL 
	) 
	WHERE 
		s0010.user_id		= @P_user_id 
	AND s0010.company_cd	= @P_company_cd 
	AND s0010.del_datetime  IS NULL
	-- COUNT ALL ORGANIZATIONS OF S9022 -- add by viettd 2021/06/03
	SET @w_setting_organization_cnt = [dbo].FNC_GET_NUMBER_OF_ORGANIZATION(@P_company_cd,@P_authority_cd,4)
	-- GET @w_organization_belong_person_typ add by viettd 2021/06/03
	SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP(@P_company_cd,@P_authority_cd,4)
	--
	SET @arrange_order	= ISNULL((SELECT ISNULL(M0040.arrange_order,0) FROM M0040 WHERE M0040.del_datetime IS NULL AND M0040.position_cd = @position_cd AND M0040.company_cd = @P_company_cd),0)
	--
	SELECT 
		@belong_cd1		=	M0070.belong_cd1
	,	@belong_cd2		=	M0070.belong_cd2
	,	@belong_cd3		=	M0070.belong_cd3
	,	@belong_cd4		=	M0070.belong_cd4
	,	@belong_cd5		=	M0070.belong_cd5
	FROM M0070
	WHERE
		@P_company_cd	=	M0070.company_cd
	AND @employee_cd_login	=	M0070.employee_cd
	--
	INSERT INTO #ORGANIZATION_1
	SELECT 
		json_table.organization_cd_1
	FROM OPENJSON(@P_list_org,'$.list_organization_step1') WITH(
		organization_cd_1				nvarchar(20)
	)AS json_table
	WHERE
		json_table.organization_cd_1 <> ''
	--
	INSERT INTO #TABLE_ORGANIZATION
	EXEC SPC_REFER_ORGANIZATION_FND1 @P_list_org,@P_user_id,@P_company_cd,4
	--
	INSERT INTO #RESULT
	SELECT 
		M0070.company_cd	
	,	M0070.employee_cd	
	,	M0070.employee_nm			
	,	M0070.belong_cd1
	,	M0070.belong_cd2
	,	M0070.belong_cd3
	,	M0070.belong_cd4
	,	M0070.belong_cd5		 
	,	M0020.organization_nm
	,	CASE
			WHEN (M0070.company_out_dt IS NOT NULL AND (M0070.company_out_dt <  @w_time))
			THEN IIF(@P_language = 'en', 'RETD', '退職')	
			ELSE	''
		END
	,	M0070.evaluated_typ
	,	M0070.[1on1_typ]
	,	M0070.multireview_typ
	,	M0070.report_typ
	FROM M0070 
	LEFT JOIN M0010
	ON M0070.company_cd = M0010.company_cd
	AND M0070.office_cd = M0010.office_cd
	AND	(M0010.del_datetime IS NULL)
	LEFT JOIN M0020 AS M0020	ON 
		(M0070.company_cd			=	M0020.company_cd)
	AND	(M0070.belong_cd1 			=	M0020.organization_cd_1)
	AND	M0020.organization_typ	=	1
	AND	(M0020.del_datetime IS NULL)
	
	LEFT OUTER JOIN s9020 ON (
		M0070.company_cd	=	s9020.company_cd
	AND	@P_authority_cd		=	s9020.authority_cd
	)
	LEFT JOIN M0040	ON (
		M0070.company_cd	=	M0040.company_cd
	AND M0070.position_cd	=	M0040.position_cd
	)
	WHERE 
		M0070.company_cd = @P_company_cd 
	AND	(	@P_search_key = '' 
		OR	dbo.FNC_COM_REPLACE_SPACE(employee_nm)		LIKE '%' +  dbo.FNC_COM_REPLACE_SPACE(@P_search_key) + '%' 
		OR	dbo.FNC_COM_REPLACE_SPACE(furigana)			LIKE '%' +  dbo.FNC_COM_REPLACE_SPACE(@P_search_key) + '%' 
	)
	AND
	(
		@P_authority_typ <> 3 OR
		(ISNULL(s9020.use_typ,0)	<> 1 OR ( ISNULL(s9020.use_typ,0)  = 1 AND ISNULL(M0040.arrange_order,0) > @arrange_order ))
	)
	--AND	(
	--	(@P_organization_cd = '')
	-- OR (M0020.organization_typ = 1 AND @P_organization_cd = M0020.organization_cd_1 ))
	AND	M0070.del_datetime IS NULL
	AND	(M0020.del_datetime IS NULL)
	
	 AND(
		(@P_company_out_dt_flg	=	1)	
	OR	(@P_company_out_dt_flg	=	0	AND (M0070.company_out_dt IS  NULL OR M0070.company_out_dt >=  @w_time))
	)
	
	ORDER BY 
		CASE ISNUMERIC(M0070.employee_cd) 
		   WHEN 1 
		   THEN CAST(M0070.employee_cd AS BIGINT) 
		   ELSE 999999999999999 
		END 
    ,	M0070.employee_cd
	--DELETE ORGANIZATION NOT IN #ORG_TEMP
	IF EXISTS (SELECT 1 FROM #TABLE_ORGANIZATION ) 
	BEGIN
		SET @choice_in_screen = (SELECT TOP 1 choice_in_screen FROM #TABLE_ORGANIZATION WHERE choice_in_screen = 1)
		-- 1.choice in screen 
		-- 0.get from master s9022
		-- Filter organization_typ = 1
		IF @choice_in_screen = 1
		BEGIN
			DELETE D FROM #RESULT AS D
			FULL OUTER JOIN #TABLE_ORGANIZATION AS S ON (
				D.belong_cd1			=	S.organization_cd_1
			AND D.belong_cd2			=	S.organization_cd_2
			AND D.belong_cd3			=	S.organization_cd_3
			AND D.belong_cd4			=	S.organization_cd_4
			AND D.belong_cd5			=	S.organization_cd_5
			)
			WHERE 
				D.employee_cd IS NULL
			OR	S.organization_typ IS NULL
		END
		ELSE IF NOT (@P_authority_typ = 3 AND @w_setting_organization_cnt = 0 AND @w_organization_belong_person_typ = 0) -- edited by viettd 2021/06/03
		BEGIN
			DELETE D FROM #RESULT AS D
			FULL OUTER JOIN #TABLE_ORGANIZATION AS S ON (
				D.belong_cd1			=	S.organization_cd_1
			AND D.belong_cd2			=	S.organization_cd_2
			AND D.belong_cd3			=	S.organization_cd_3
			AND D.belong_cd4			=	S.organization_cd_4
			AND D.belong_cd5			=	S.organization_cd_5
			)
			WHERE 
				D.employee_cd IS NULL
			OR	S.organization_typ IS NULL
			AND @P_authority_typ NOT IN(4,5) --4.会社管理者 5.総合管理者
		END
	END
	--
	--SET @employee_cd_position	=	(SELECT id from #RESULT WHERE employee_cd = @P_employee_cd)
	--IF	@P_employee_cd	<>	''	AND @employee_cd_position IS NOT NULL
	--BEGIN
	--	SET @P_current_page			=	CEILING(CAST(@employee_cd_position AS FLOAT)/@P_page_size)
	--END
	
	SET @totalRecord = (SELECT COUNT(*) FROM #RESULT)
	SET @pageNumber = CEILING(CAST(@totalRecord AS FLOAT) / @P_page_size)	--[0] GET RESULT
	IF @pageNumber = 0
	BEGIN
		SET @pageNumber = 1
	END
	IF @P_current_page > @pageNumber
	BEGIN
		SET @P_current_page = @pageNumber
	END	
	--[0]
	SELECT
		#RESULT.company_cd
	,	employee_cd		
	,	employee_nm	
	,	belong_cd1 AS organization_cd	
	,	organization_nm	
	,	company_out_dt	
	,	evaluated_typ
	,	IIF((evaluated_typ = 0 AND M0001.evaluation_use_typ = 1), '1','0') AS evaluated_typ_label
	,	IIF(([1on1_typ] = 0 AND M0001.[1on1_use_typ] = 1), '1','0') AS oneonone_typ_label
	,	IIF((multireview_typ = 0 AND M0001.multireview_use_typ = 1), '1','0') AS multireview_typ_label
	,	IIF((report_typ = 0 AND M0001.report_use_typ = 1), '1','0') AS report_typ_label
	FROM #RESULT
	INNER JOIN M0001 ON(
		#RESULT.company_cd = M0001.company_cd
	AND M0001.del_datetime IS NULL
	)
	ORDER BY 
		CASE ISNUMERIC(#RESULT.employee_cd) 
		   WHEN 1 
		   THEN CAST(#RESULT.employee_cd AS BIGINT) 
		   ELSE 999999999999999 
		END 
    ,	#RESULT.employee_cd
				 
	OFFSET (@P_current_page-1) * @P_page_size ROWS
	FETCH NEXT @P_page_size ROWS ONLY
	--[1]
	SELECT 
		@totalRecord AS totalRecord
	,	@pageNumber AS pageMax
	,	@P_current_page AS [page]
	,	@P_page_size AS pagesize

	-- [2]
		SELECT 
			ISNULL(M0020.organization_cd_1,0)				AS	organization_cd
		,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
		FROM M0020
		LEFT OUTER	JOIN s9022 ON (
			M0020.company_cd			=	s9022.company_cd
		AND M0020.organization_cd_1		=	s9022.organization_cd_1
		AND M0020.organization_cd_2		=	s9022.organization_cd_2
		AND M0020.organization_cd_3		=	s9022.organization_cd_3
		AND M0020.organization_cd_4		=	s9022.organization_cd_4
		AND M0020.organization_cd_5		=	s9022.organization_cd_5
		AND @P_authority_cd				=	s9022.authority_cd
		AND s9022.del_datetime IS NULL
		)
		WHERE 
			M0020.company_cd			=	@P_company_cd
		AND M0020.del_datetime			IS NULL
		AND M0020.organization_typ		=	1
		AND(
				@w_setting_organization_cnt	=	0	
			OR	
			(
				@w_setting_organization_cnt	>	0
			AND	s9022.authority			=	1 -- 利用可能	
			)
		)
		ORDER BY
			M0020.arrange_order
		,	M0020.organization_cd_1
	--[3]
	IF EXISTS (SELECT 1 FROM #ORGANIZATION_1)
	BEGIN
		SELECT 
			organization_cd_1		AS organization_cd
		,	@P_company_out_dt_flg	AS company_out_dt_flg
		FROM #ORGANIZATION_1
	END ELSE
	BEGIN
		SELECT 
			''						AS organization_cd
		,	@P_company_out_dt_flg	AS company_out_dt_flg
	END
	-- CLEAN
	DROP TABLE #RESULT
END
GO
