DROP PROCEDURE [SPC_M0070_INQ2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  EXEC SPC_M0070_INQ2 '10035','hanhntm','0','';

--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスタ
--*  
--*  作成日/create date			:	2020/09/16						
--*　作成者/creater				:	DatNT								
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_INQ2]
	-- Add the parameters for the stored procedure here	
	@P_company_cd					SMALLINT		=	0
,	@P_user_id						NVARCHAR(50)	=	''
,	@P_mode							INT				=	0
,	@P_employee_cd					NVARCHAR(50)	=	''
AS
BEGIN
	DECLARE 
		@w_time				DATETIME2			= SYSDATETIME()
	,	@authority_typ		INT					=	0
	,	@authority_cd		INT					=	0
	--,	@is_rater			INT					=	0
	,	@login_employee_cd	NVARCHAR(20)		=''
		SELECT 
			@authority_typ		=	ISNULL(authority_typ,0) 
		,	@authority_cd		=	ISNULL(S0010.authority_cd,0)
		,	@login_employee_cd	= s0010.employee_cd
		FROM S0010 LEFT JOIN M0070 ON (
			M0070.company_cd		=	S0010.company_cd
		AND M0070.employee_cd		=	S0010.employee_cd
		AND M0070.del_datetime		IS NULL 
		) 
		WHERE 
			S0010.user_id	= @P_user_id
		AND S0010.company_cd	= @P_company_cd 
		AND S0010.del_datetime  IS NULL
	--	-- 評価者確認
	--IF EXISTS (SELECT 1 FROM F0100 
	--					WHERE 
	--					(	F0100.rater_employee_cd_1 = @login_employee_cd 
	--					OR	F0100.rater_employee_cd_2 = @login_employee_cd 
	--					OR	F0100.rater_employee_cd_3 = @login_employee_cd 
	--					OR	F0100.rater_employee_cd_4 = @login_employee_cd
	--					)  
	--					AND F0100.company_cd = @P_company_cd 
	--					AND F0100.del_datetime IS NULL)
	--BEGIN
	--	SET @is_rater = 1
	--END
	--[0]	
		SELECT 
			M0072.employee_cd		
		,	M0080.item_cd	
		,	M0080.item_nm
		,	M0072.character_item	
		,	CAST(M0072.number_item as nvarchar(50))			AS number_item
		,	FORMAT(M0072.date_item,'yyyy/MM/dd')			AS date_item	
		,	M0080.item_kind
		,	M0080.item_digits
		FROM M0080 
		LEFT JOIN M0072 ON(
			M0072.company_cd	=	M0080.company_cd
		AND M0072.item_cd		=	M0080.item_cd
		AND M0072.employee_cd	=	@P_employee_cd
		AND M0072.item_no		=	1 -- get distinct item of selectbox and checkbox  in m0072  
		AND M0072.del_datetime IS NULL
		)
		LEFT JOIN M0082 ON(
			M0080.company_cd	= M0082.company_cd
		AND M0080.item_cd		= M0082.item_cd
		AND @authority_cd		=	M0082.authority_cd
		)
		WHERE M0080.del_datetime IS NULL
		AND M0080.company_cd	= @P_company_cd 
		AND M0080.item_display_kbn	= 1
		AND (
				(@authority_typ = 3 AND M0082.browsing_kbn = 1) 
			OR	(@authority_typ = 2	AND M0080.rater_browsing_kbn = 1)
			OR	(@authority_typ > 3 )
		)
		AND (
				(@P_mode = 1 AND M0080.search_item_kbn = 1  )  -- mode = 1 for search condition
			OR	 @P_mode	=	0								-- mode = 0 for master
		)
		ORDER BY 
			M0080.arrange_order 
		,	M0080.item_cd
	--[1] 
		SELECT 
			M0081.company_cd
		,	M0081.item_cd
		,	M0081.detail_no
		,	M0081.detail_name
		,	CASE WHEN M0072.item_no IS NOT NULL AND M0080.item_kind = 4 THEN 'checked'
				 WHEN M0072.item_no IS NOT NULL AND M0080.item_kind = 5 THEN 'selected'
				 ELSE ''
			END AS selected_status
		FROM M0081 
		LEFT JOIN M0080 ON(
			M0081.company_cd = M0080.company_cd
		AND M0081.item_cd	 = M0080.item_cd
		AND M0080.del_datetime IS NULL
		)
		LEFT JOIN M0072 ON(
			M0081.company_cd = M0072.company_cd
		AND M0081.item_cd	 = M0072.item_cd
		AND @P_employee_cd	 = M0072.employee_cd
		AND M0081.detail_no	 = M0072.number_item
		AND M0072.del_datetime IS NULL
		)
		WHERE M0081.company_cd = @P_company_cd
		AND M0081.del_datetime IS NULL
END
GO
