DROP PROCEDURE [dbo].[SPC_M0070_HEADER_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';
-- EXEC SPC_M0070_ACT1 '{"employee_cd":"2","employee_last_nm":"CAN","employee_first_nm":"EDITED","employee_nm":"CAN EDITED","employee_ab_nm":"","furigana":"CAN EDITED","gender":"2","mail":"kakakiki2197@gmail.com","birth_date":"","company_in_dt":"2016\/06\/06","company_out_dt":"","director_typ":1,"retirement_reason_typ":"","retirement_reason":"","oneonone_typ":1,"multireview_typ":1,"report_typ":1,"base_style":"0","sub_style":"0","driver_point":"0","analytical_point":"0","expressive_point":"0","amiable_point":"0","application_date":"2023\/05\/16","user_id":"2","password":"1","sso_user":"","office_cd":"0","organization_step1":"3","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1","authority_cd":"3","oneonone_authority_cd":"4","multireview_authority_cd":"3","setting_authority_cd":"0","report_authority_cd":"7","job_cd":"1","position_cd":"9","employee_typ":"1","grade":"5","base_salary":"","picture":"","imgInp":"","ck1":"0","list":[{"application_date":"2023\/05\/16","office_cd":"1","belong_cd1":"3","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"9","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2022\/09\/14","office_cd":"1","belong_cd1":"1","belong_cd2":"2","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"9","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2022\/08\/26","office_cd":"1","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"10","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2016\/06\/06","office_cd":"1","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"10","job_cd":"1","employee_typ":"1","grade":"5"}],"evaluated_typ":1,"list_character":[],"list_date":[],"list_number_item":[],"mode_pic":"N","mode":0,"mode_exists":"N"}','','721','::1','740';
-- EXEC SPC_M0070_ACT1 '{"employee_cd":"2","employee_last_nm":"CAN","employee_first_nm":"EDITED","employee_nm":"CAN EDITED","employee_ab_nm":"","furigana":"CAN EDITED","gender":"2","mail":"kakakiki2197@gmail.com","birth_date":"","company_in_dt":"2016\/06\/06","company_out_dt":"","director_typ":1,"retirement_reason_typ":"","retirement_reason":"","oneonone_typ":1,"multireview_typ":1,"report_typ":1,"base_style":"0","sub_style":"0","driver_point":"0","analytical_point":"0","expressive_point":"0","amiable_point":"0","application_date":"2023\/05\/16","user_id":"2","password":"1","sso_user":"","office_cd":"0","organization_step1":"3","organization_step2":"-1","organization_step3":"-1","organization_step4":"-1","organization_step5":"-1","authority_cd":"3","oneonone_authority_cd":"4","multireview_authority_cd":"3","setting_authority_cd":"0","report_authority_cd":"7","job_cd":"1","position_cd":"9","employee_typ":"1","grade":"5","base_salary":"","picture":"","imgInp":"","ck1":"0","list":[{"application_date":"2023\/05\/16","office_cd":"0","belong_cd1":"3","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"9","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2022\/09\/14","office_cd":"1","belong_cd1":"1","belong_cd2":"2","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"9","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2022\/08\/26","office_cd":"1","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"10","job_cd":"1","employee_typ":"1","grade":"5"},{"application_date":"2016\/06\/06","office_cd":"1","belong_cd1":"1","belong_cd2":"","belong_cd3":"","belong_cd4":"","belong_cd5":"","position_cd":"10","job_cd":"1","employee_typ":"1","grade":"5"}],"evaluated_typ":1,"list_character":[],"list_date":[],"list_number_item":[],"mode_pic":"N","mode":0,"mode_exists":"N"}','','721','::1','740';
-- EXEC SPC_M0070_HEADER_ACT1 '{"employee_cd":"6","employee_last_nm":"課長bnamt1","employee_first_nm":"さん","employee_nm":"課長bnamt1 さん","employee_ab_nm":"","furigana":"cyou","gender":"3","birth_date":"1992\/01\/01","company_in_dt":"2024-04-01","company_out_dt":"","application_date":"2024-04-01","user_id":"18888","list":[],"list_character":[{"character_item":"","item_cd":""}],"list_date":[{"date_item":"","item_cd":""}],"list_number_item":[{"number_item":"","item_cd":""},{"number_item":"","item_cd":""}],"mode_pic":"N","mode":0,"mode_exists":"N","organization_step1":"","organization_step2":"","organization_step3":"","organization_step4":"","organization_step5":""}','','721','::1','740';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	M0070_社員マスタ SAVE DATA
--*  
--* 作成日/create date			:	2018/08/16											
--*	作成者/creater				:	DatNT						
--*   					
--*	更新日/update date			:  	2018/11/12					
--*	更新者/updater				:　 tuantv - tuantv@ans-asia.com　								     	 
--*	更新内容/update content		:	Update CR 2018/11/06	
--*   					
--*	更新日/update date			:  	2018/11/16					
--*	更新者/updater				:　 longvv - longvv@ans-asia.com　								     	 
--*	更新内容/update content		:	fix is 
--*   					
--*	更新日/update date			:  	2021/09/14					
--*	更新者/updater				:　 viettd							     	 
--*	更新内容/update content		:	change authority_typ in S0010 
--*　　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0070_HEADER_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)		=	''				
,	@P_picture		NVARCHAR(200)		=	''
	-- common
,	@P_cre_user		NVARCHAR(50)		=	''
,	@P_cre_ip		NVARCHAR(100)		=	''
,	@P_company_cd	SMALLINT			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			= SYSDATETIME()
	,	@order_by_min				INT					= 0
	,	@ERR_TBL					ERRTABLE	
	,	@employee_cd				NVARCHAR (20)		=	''	
	,	@employee_nm				NVARCHAR (101)		=	''			
	,	@employee_last_nm			NVARCHAR (50)		=	''			
	,	@employee_first_nm			NVARCHAR (50)		=	''			
	,	@employee_ab_nm				NVARCHAR (50)		=	''			
	,	@furigana					NVARCHAR (50)		=	''			
	,	@gender						INT 				= 0		
	,	@birth_date					DATE				= NULL		
	,	@company_in_dt				DATE				= NULL						
	,	@company_out_dt				DATE				= NULL		
	,	@evaluated_typ				INT					= 0								
	,	@grade						INT					= 0		
	,	@base_salary				MONEY				= 0
	,	@picture					NVARCHAR(100)		= ''
	,	@authory					INT					= 0
	,	@sso_user					NVARCHAR(255)		= ''
	,	@latest_date				DATE				= NULL
	,	@check_au					INT					= 0
	,	@mode						INT					= 0
	,	@mode_pic					NVARCHAR(1)			= ''
	,	@mode_exists				NVARCHAR(1)			= ''
	,	@application_date			DATE				=	NULL
	,	@authority_typ				SMALLINT			= 0
	,	@year						INT					= 0
	--
	,	@password_length			TINYINT				= 0
	,	@password_character_limit	TINYINT				= 0
	,	@len						TINYINT				= 0
	,	@old_picture				NVARCHAR(200)		= ''
	,	@m0071_last_date			DATE				=	NULL
	,	@latest_date2				DATE				=	NULL
	,	@cout_M0071					INT					=	0
	,	@old_password				NVARCHAR(40)		= ''
	,	@user_id					NVARCHAR(50)		= ''
	--v1.7 M0070
	CREATE TABLE #TBL_JSON(
		application_date		DATE	
	,	office_cd				INT		
	,	belong_cd1				NVARCHAR(50)	
	,	belong_cd2				NVARCHAR(50)
	,	belong_cd3				NVARCHAR(50)
	,	belong_cd4				NVARCHAR(50)
	,	belong_cd5				NVARCHAR(50)	
	,	job_cd					INT		
	,	position_cd				INT		
	,	employee_typ			INT		
	,	grade					INT		
	)
	

	-- START TRANSACTION		
	BEGIN TRANSACTION
	BEGIN TRY
		-- ASSIGN
		SET @employee_cd					=	JSON_VALUE(@P_json,'$.employee_cd')
		SET @employee_nm					=	JSON_VALUE(@P_json,'$.employee_nm')
		SET @employee_first_nm				=	JSON_VALUE(@P_json,'$.employee_first_nm')
		SET @employee_last_nm				=	JSON_VALUE(@P_json,'$.employee_last_nm')
		SET @furigana						=	JSON_VALUE(@P_json,'$.furigana')
		SET @gender							=	JSON_VALUE(@P_json,'$.gender')
		SET @birth_date						=	CAST(NULLIF(JSON_VALUE(@P_json,'$.birth_date'),'') AS DATE)
		SET	@company_in_dt					=	CAST(NULLIF(JSON_VALUE(@P_json,'$.company_in_dt	'),'')AS DATE)
		SET @company_out_dt					=	CAST(NULLIF(JSON_VALUE(@P_json,'$.company_out_dt'),'')AS DATE)
		SET @evaluated_typ					=	JSON_VALUE(@P_json,'$.evaluated_typ')
		SET	@grade							=	JSON_VALUE(@P_json,'$.grade')
		SET	@base_salary					=	JSON_VALUE(@P_json,'$.base_salary')
		SET	@authory						=	JSON_VALUE(@P_json,'$.authority_cd')
		SET	@user_id						=	JSON_VALUE(@P_json,'$.user_id')
		SET	@sso_user						=	JSON_VALUE(@P_json,'$.sso_user')
		SET	@mode							=	JSON_VALUE(@P_json,'$.mode')
		SET @mode_pic						=	JSON_VALUE(@P_json,'$.mode_pic')
		SET @mode_exists					=	JSON_VALUE(@P_json,'$.mode_exists')
		SET @application_date					=	JSON_VALUE(@P_json,'$.application_date')

		--get previous employee pass
		SELECT	@old_password				=	S0010.password
			,	@authority_typ				=	ISNULL(authority_typ,0)
		FROM S0010
		WHERE S0010.company_cd	= @P_company_cd 
						AND S0010.user_id		= @user_id  
						AND S0010.employee_cd	= @employee_cd 
						AND S0010.del_datetime IS NULL
		-- INSERT INTO #TBL_JSON
		INSERT INTO #TBL_JSON
		SELECT
			application_date
		,	office_cd			
		,	belong_cd1			
		,	belong_cd2
		,	belong_cd3
		,	belong_cd4
		,	belong_cd5			
		,	job_cd				
		,	position_cd			
		,	employee_typ		
		,	grade				
		FROM OPENJSON(@P_json,'$.list') WITH(
			application_date		DATE	
		,	office_cd				INT		
		,	belong_cd1				NVARCHAR(50)	
		,	belong_cd2				NVARCHAR(50)
		,	belong_cd3				NVARCHAR(50)
		,	belong_cd4				NVARCHAR(50)
		,	belong_cd5				NVARCHAR(50)	
		,	job_cd					INT		
		,	position_cd				INT		
		,	employee_typ			INT		
		,	grade					INT		
		)
		-- check user_id is existed
		IF EXISTS(SELECT 1 FROM S0010 WHERE company_cd = @P_company_cd  AND user_id = @user_id AND employee_cd <> @employee_cd AND user_id <> '' AND del_datetime IS NULL)
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT
				55
			,	'#user_id' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'user_id is existed'
			
		END
		-- check password is existed
		--IF (@password <> '' AND EXISTS(SELECT 1 FROM S0010 WHERE company_cd = @P_company_cd  AND password = @password AND employee_cd <> @employee_cd AND del_datetime IS NULL ))
		--BEGIN 
		--	INSERT INTO @ERR_TBL
		--	SELECT
		--		53
		--	,	'#password' 
		--	,	0-- oderby
		--	,	0-- dialog  
		--	,	0
		--	,	0
		--	,	'password is existed'
		--END
		--get latest_date
		SET @latest_date	=  (SELECT TOP 1 application_date FROM #TBL_JSON ORDER BY application_date DESC)
		SET @cout_M0071		=  (SELECT COUNT(*) FROM M0071 WHERE company_cd = @P_company_cd AND employee_cd = @employee_cd AND del_datetime IS NULL )
		SET @latest_date2	= (SELECT TOP 1 application_date FROM M0071 WHERE company_cd = @P_company_cd AND employee_cd = @employee_cd AND del_datetime IS NULL  ORDER BY application_date DESC)
		-- check date 
		IF @latest_date IS NOT NULL AND	@application_date < @latest_date
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				59
			,	'#application_date' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'employee_cd not found'
		END
		-- CR check password
		SELECT
			@password_length			=	ISNULL(M9100.password_length,0)
		,	@password_character_limit	=	ISNULL(M9100.password_character_limit,0)
		FROM M9100 WHERE 
			M9100.company_cd = @P_company_cd
		AND M9100.del_datetime IS NULL
		--
		SET @password_length			=	ISNULL(@password_length,0)
		SET @password_character_limit	=	ISNULL(@password_character_limit,0)
		--
		IF (@company_in_dt >= @company_out_dt) 
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT
				24
			,	'#company_in_dt,#company_out_dt' 
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'company_in_dth'		
		END
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
		SET @year = (SELECT [dbo].[FNC_GET_YEAR] (@P_company_cd,@w_time))
		IF EXISTS(SELECT 1 FROM M0070 WHERE company_cd  = @P_company_cd AND employee_cd = @employee_cd)
			BEGIN
				--
				SET @old_picture	=	ISNULL((SELECT picture FROM M0070 WHERE company_cd  =@P_company_cd AND employee_cd = @employee_cd),'')
				SELECT @m0071_last_date = MAX(application_date) FROM M0071 WHERE company_cd = @P_company_cd AND employee_cd = @employee_cd
				--
				IF @latest_date IS NOT NULL AND ((@latest_date = @application_date ) 
				OR (@latest_date < @application_date AND @latest_date2 <> @application_date) 
				OR (@latest_date < @application_date AND @mode = 1 AND @latest_date2 < @application_date AND @latest_date2 IS NOT NULL))
				OR @latest_date2 IS NULL OR ( @latest_date IS NULL AND @latest_date2 < @application_date )
				OR	@cout_M0071	=	1
				BEGIN
					UPDATE M0070
					SET
						grade						=	@grade						--,[grade]
					WHERE	M0070.company_cd		=	@P_company_cd
					AND M0070.employee_cd			=	@employee_cd
				END 
				UPDATE M0070
				SET
					employee_nm					=	@employee_nm									--,[employee_nm]
				,	employee_first_nm			=	@employee_first_nm
				,	employee_last_nm			=	@employee_last_nm
				,	furigana					=	@furigana										--,[furigana]
				,	gender						=	@gender											--,[gender]
				,	birth_date					=	@birth_date										--,[birth_date]
				,	company_in_dt				=	@company_in_dt									--,[company_in_dt]
				,	company_out_dt				=	@company_out_dt									--,[company_out_dt]
				,	evaluated_typ				=	@evaluated_typ									--,[evaluated_typ]
				,	salary_grade				=	@base_salary									--,[base_salary]
				,	picture						=	
					CASE
						WHEN @P_picture = '' AND @mode_pic = 'Y' AND @mode_exists = 'Y' THEN @p_picture
						WHEN @P_picture = '' AND @mode_pic = 'N' AND @mode_exists = 'N'THEN @old_picture
						WHEN @P_picture <> '' THEN @P_picture
						ELSE ''
					END
				--IIF(@P_picture = '',@old_picture,@p_picture)	--,[picture]
				,	upd_user					=	@P_cre_user
				,	upd_ip						=	@P_cre_ip
				,	upd_prg						=	'M0070'
				,	upd_datetime				=	@w_time
				,	del_user					=	''
				,	del_ip						=	''
				,	del_prg						=	''
				,	del_datetime				=	NULL
				WHERE	M0070.company_cd		= @P_company_cd
					AND M0070.employee_cd		= @employee_cd

			END 
			ELSE
			BEGIN
				IF(@m0071_last_date <> @application_date OR @m0071_last_date IS NULL)
				BEGIN
				INSERT INTO M0070
				SELECT
					@P_company_cd						-- [company_cd]
				,	@employee_cd						--,[employee_cd]
				,	@employee_last_nm
				,	@employee_first_nm
				,	@employee_nm						--,[employee_nm]
				,	@furigana							--,[furigana]
				,	@gender								--,[gender]
				,	''								--,[mail]
				,	@birth_date							--,[birth_date]
				,	@company_in_dt						--,[company_in_dt]
				,	@company_out_dt						--,[company_out_dt]
				,	0
				,	''
				,	@evaluated_typ						--,[evaluated_typ]
				,	0
				,	0
				,	0
				,	0									--,[office_cd]
				,	0									--,[belong_cd1]
				,	0									--,[belong_cd2]
				,	0									--,[belong_cd1]
				,	0									--,[belong_cd2]
				,	0									--,[belong_cd1]
				,	0									--,[job_cd]
				,	0									--,[position_cd]
				,	0									--,[employee_typ]
				,	@grade								--,[grade]
				,	@base_salary						--,[base_salary]
				,	@P_picture							--,[picture]
				,	0
				,	0
				,	@P_cre_user							--,[cre_user]
				,	@P_cre_ip							--,[cre_ip]
				,	'M0070'								--,[cre_prg]
				,	@w_time								--,[cre_datetime]
				,	''									--,[upd_user]
				,	''									--,[upd_ip]
				,	''									--,[upd_prg]
				,	NULL								--,[upd_datetime]
				,	''									--,[del_user]
				,	''									--,[del_ip]
				,	''									--,[del_prg]
				,	NULL								--,[del_datetime]
				END
			END
		
		
			-- IF CHECKED 総合管理者

			-- delete S0010 when @user_id is empty
			--IF(@user_id = '')
			--BEGIN 
			--	UPDATE S0010 SET
			--		del_user				=		@P_cre_user				
			--	,	del_ip					=		@P_cre_ip
			--	,	del_prg					=		'M0070'				
			--	,	del_datetime			=		@w_time		
			--	WHERE 
			--		S0010.company_cd	=	@P_company_cd
			--	AND	S0010.employee_cd	=	@employee_cd	
			--END
			---- update S0010
			--ELSE IF	EXISTS(SELECT 1 FROM S0010 WHERE 
			--									S0010.company_cd	= @P_company_cd 
			--								AND S0010.user_id		= @user_id  
			--								AND S0010.employee_cd	= @employee_cd 
			--								AND S0010.del_datetime IS NULL)
			--BEGIN
			--	UPDATE S0010 SET 
			--		company_cd					=	@P_company_cd
			--	,	user_id						=	@user_id
			--	,	employee_cd					=	@employee_cd
			--	,	sso_user					=	@sso_user
			--	,	authority_typ				=	@authority_typ
			--	,	authority_cd				=	@authory
			--	,	remember_token				=		''
			--	,	last_login_ip			=		''
			--	,	last_login_datetime		=		NULL
			--	,	upd_user				=		@P_cre_user		
			--	,	upd_ip					=		@P_cre_ip
			--	,	upd_prg					=		'M0070'		
			--	,	upd_datetime			=		@w_time			
			--	,	del_user				=		''				
			--	,	del_ip					=		''		
			--	,	del_prg					=		''		
			--	,	del_datetime			=		NULL	
			--	WHERE 
			--		S0010.company_cd		= @P_company_cd 
			--	AND	S0010.user_id			= @user_id 
			--	AND	S0010.employee_cd		= @employee_cd
			--	AND	S0010.del_datetime IS NULL		
			--END
			--ELSE IF  EXISTS(SELECT 1 FROM S0010 WHERE 
			--										S0010.company_cd	=	@P_company_cd
			--									AND	S0010.user_id		=	@user_id
			--									AND	S0010.del_datetime	IS NOT NULL	)
			--BEGIN
			--	UPDATE S0010 SET 
			--		del_user				=		@P_cre_user			
			--	,	del_ip					=		@P_cre_ip	
			--	,	del_prg					=		'M0070'		
			--	,	del_datetime			=		 @w_time		
			--	WHERE 
			--		S0010.company_cd		=		@P_company_cd 
			--	AND	S0010.employee_cd		=		@employee_cd 
			--	AND	S0010.del_datetime IS NULL		

			--	UPDATE S0010 SET 
			--		company_cd				=		@P_company_cd
			--	,	user_id					=		@user_id
			--	,	employee_cd				=		@employee_cd
			--	,	sso_user				=		@sso_user
			--	,	authority_typ			=		@authority_typ
			--	,	authority_cd			=		@authory
			--	,	remember_token			=		''
			--	,	last_login_ip			=		''
			--	,	last_login_datetime		=		NULL
			--	,	upd_user				=		@P_cre_user		
			--	,	upd_ip					=		@P_cre_ip		
			--	,	upd_prg					=		'M0070'
			--	,	upd_datetime			=		@w_time			
			--	,	del_user				=		''				
			--	,	del_ip					=		''	
			--	,	del_prg					=		''			
			--	,	del_datetime			=		NULL	
			--	WHERE 
			--		S0010.company_cd		= @P_company_cd 
			--	AND	S0010.user_id			= @user_id 
			--	AND	S0010.del_datetime IS NOT NULL		
			--END
			--ELSE IF  NOT EXISTS(SELECT 1 FROM S0010 WHERE 
			--										S0010.company_cd	=	@P_company_cd
			--									AND	S0010.user_id		=	@user_id
			--									AND	S0010.employee_cd	=	@employee_cd)
			--BEGIN
			--	-- DELETE EMPLOYEE 
			--	UPDATE S0010 SET
			--		del_user				=		@P_cre_user				
			--	,	del_ip					=		@P_cre_ip	
			--	,	del_prg					=		'M0070'			
			--	,	del_datetime			=		@w_time		
			--	WHERE 
			--		S0010.company_cd	=	@P_company_cd
			--	AND	S0010.employee_cd	=	@employee_cd	
			--	--
			--	INSERT INTO S0010
			--	SELECT 
			--		@P_company_cd
			--	,	@user_id
			--	,	@employee_cd
			--	,	''
			--	,	@sso_user
			--	,	@authority_typ
			--	,	@authory
			--	,	0
			--	,	0
			--	,	0
			--	,	0
			--	,	0
			--	,	0
			--	,   0
			--	,	0
			--	,	0
			--	,	0
			--	,   1
			--	,	0
			--	,	''
			--	,	''
			--	,	0
			--	,   @w_time
			--	,	''
			--	,	NULL
			--	,	@P_cre_user		
			--	,	@P_cre_ip	
			--	,	'M0070'	
			--	,	@w_time			
			--	,	''				
			--	,	''	
			--	,	''			
			--	,	NULL			
			--	,	''	
			--	,	''			
			--	,	''				
			--	,	NULL	
			--END	

		

	
		
			
	END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- INSERT STATEMENTS FOR PROCEDURE HERE
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by

	SELECT 
		@employee_cd AS employee_cd
	,	@old_picture AS old_picture
END

GO
