DROP PROCEDURE [SPC_M0070_HEADER_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- +--TEST--+ 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスタ
--*  
--*  作成日/create date			:	2018/08/16						
--*　作成者/creater				:	DatNT								
--*   					
--*  更新日/update date			:	2018/11/15
--*　更新者/updater				:　	Longvv
--*　更新内容/update content		:	UPDATE CR 2018/11/15
--*   					
--*  更新日/update date			:	2021/06/03
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	when 3.管理者(authority_typ = 3) and not choice organization in S0022 then view all employees
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_HEADER_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(MAX)	=	''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	''
,	@P_language				NVARCHAR(2)		= ''
AS
BEGIN
	DECLARE 
		@w_time									DATETIME2			= SYSDATETIME()
	,	@organization_cd						NVARCHAR(40)		=	''
	,	@application_date_depart				DATE				=	NULL
	,	@application_date_grade					DATE				=	NULL
	,	@company_in_dt							DATE				=	NULL
	,	@month_count							int					=	0
	,	@P_authority_cd							SMALLINT			=	0
	,	@P_authority_typ						SMALLINT			=	0
	,	@employee_cd							NVARCHAR(100)		=	''
	,	@company_out_dt							DATE				=	NULL
	,	@arrange_order							INT					=	0
	,	@position_cd							INT					=	0
	,	@belong_cd1								NVARCHAR(40)		=	''
	,	@belong_cd2								NVARCHAR(40)		=	''
	,	@belong_cd3								NVARCHAR(40)		=	''
	,	@belong_cd4								NVARCHAR(40)		=	''
	,	@belong_cd5								NVARCHAR(40)		=	''
	,	@belong_cd1_emp							NVARCHAR(40)		=	''
	,	@belong_cd2_emp							NVARCHAR(40)		=	''
	,	@belong_cd3_emp							NVARCHAR(40)		=	''
	,	@belong_cd4_emp							NVARCHAR(40)		=	''
	,	@grade									INT					=	0
	-- add by viettd 2021/06/03
	,	@w_setting_organization_cnt				INT					=	0	-- 0.view all 1.only view organization choiced
	,	@w_organization_belong_person_typ		SMALLINT			=	0
	--
	SELECT 
		@P_authority_cd			=	S0010.setting_authority_cd
	,	@P_authority_typ		=	S0010.setting_authority_typ
	,	@employee_cd			=	S0010.employee_cd
	,	@position_cd			=	ISNULL(M0070.position_cd,0)
	FROM S0010 
	LEFT JOIN M0070 ON (
		M0070.company_cd		=	S0010.company_cd
	AND M0070.employee_cd		=	S0010.employee_cd
	AND M0070.del_datetime		IS NULL 
	) 
	WHERE
		S0010.company_cd		=	@P_company_cd
	AND S0010.user_id			=	@P_user_id
	AND S0010.del_datetime IS NULL
	-- GET @arrange_order
    SET @arrange_order	= ISNULL((SELECT ISNULL(M0040.arrange_order,0) FROM M0040 WHERE M0040.del_datetime IS NULL AND M0040.position_cd = @position_cd AND M0040.company_cd = @P_company_cd),0)
	-- COUNT ALL ORGANIZATIONS OF S9022 -- add by viettd 2021/06/03
	SET @w_setting_organization_cnt = [dbo].FNC_GET_NUMBER_OF_ORGANIZATION(@P_company_cd,@P_authority_cd,4)
	-- GET @w_organization_belong_person_typ add by viettd 2021/06/03
	SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP(@P_company_cd,@P_authority_cd,4)
	--
	CREATE TABLE #M0071(
		company_cd			INT	
	,	application_date	DATE
	,	office_cd			INT
	,	belong_cd1			NVARCHAR	(40)
	,	belong_cd2			NVARCHAR	(40)	
	,	belong_cd3			NVARCHAR	(40)	
	,	belong_cd4			NVARCHAR	(40)	
	,	belong_cd5			NVARCHAR	(40)		
	,	position_cd			INT	
	,	job_cd				INT
	,	employee_typ		INT
	,	grade				INT
	)
	CREATE TABLE #TABLE_M0071(
		application_date	DATE					
	,	office_cd			INT
	,	belong_cd1			NVARCHAR(100)
	,	belong_cd2			NVARCHAR(100)
	,	belong_cd3			NVARCHAR(100)
	,	belong_cd4			NVARCHAR(100)
	,	belong_cd5			NVARCHAR(100)
	,	job_cd				INT
	,	position_cd			INT
	,	employee_typ		INT
	,	grade				INT			
	,	office_nm			NVARCHAR(100)
	,	belong_cd1_nm		NVARCHAR(100)
	,	belong_cd2_nm		NVARCHAR(100)
	,	belong_cd3_nm		NVARCHAR(100)
	,	belong_cd4_nm		NVARCHAR(100)
	,	belong_cd5_nm		NVARCHAR(100)
	,	position_nm			NVARCHAR(100)
	,	job_nm				NVARCHAR(100)
	,	employee_typ_nm		NVARCHAR(100)
	,	grade_nm			NVARCHAR(100)
	,	count_organization_cd	INT
	)
	CREATE TABLE #TEMP_M0070(
		company_cd					INT	
	,	employee_cd					NVARCHAR(20)
	,	belong_cd1					NVARCHAR	(40)
	,	belong_cd2					NVARCHAR	(40)	
	,	belong_cd3					NVARCHAR	(40)	
	,	belong_cd4					NVARCHAR	(40)	
	,	belong_cd5					NVARCHAR	(40)		
	,	count_organization_cd		NVARCHAR(200)
	)
	--#TABLE_ORGANIZATION
	CREATE TABLE #TABLE_ORGANIZATION(
		organization_typ			tinyint
	,	organization_cd_1			nvarchar(20)
	,	organization_cd_2			nvarchar(20)
	,	organization_cd_3			nvarchar(20)
	,	organization_cd_4			nvarchar(20)
	,	organization_cd_5			nvarchar(20)	 
	,	choice_in_screen			tinyint		-- 1.choice in screen 0.get from master S0022
	)
	-- GET @month_count
	SELECT @month_count = DATEDIFF(MM,M0070.company_in_dt,ISNULL(M0070.company_out_dt,@w_time)) 
	FROM M0070
	WHERE
		company_cd  = @P_company_cd
	AND	employee_cd = @P_employee_cd
	--
	SELECT 
		@belong_cd1		=	M0070.belong_cd1
	,	@belong_cd2		=	M0070.belong_cd2
	,	@belong_cd3		=	M0070.belong_cd3
	,	@belong_cd4		=	M0070.belong_cd4
	,	@belong_cd5		=	M0070.belong_cd5
	FROM M0070
	WHERE
		@P_company_cd	=	M0070.company_cd
	AND @employee_cd	=	M0070.employee_cd
	--
	SELECT
		@belong_cd1_emp		=	M0070.belong_cd1
	,	@belong_cd2_emp		=	M0070.belong_cd2
	,	@belong_cd3_emp		=	M0070.belong_cd3
	,	@belong_cd4_emp		=	M0070.belong_cd4
	FROM M0070
	WHERE
		@P_company_cd	=	M0070.company_cd
	AND @P_employee_cd	=	M0070.employee_cd
	--
	INSERT INTO #TABLE_ORGANIZATION
	EXEC SPC_REFER_ORGANIZATION_FND1 '',@P_user_id,@P_company_cd,4
	--
	INSERT INTO #TEMP_M0070
	SELECT 
		@P_company_cd						--company_cd				
	,	M0070.employee_cd					--employee_cd			
	,	M0070.belong_cd1					--belong_cd1			
	,	M0070.belong_cd2					--belong_cd2			
	,	M0070.belong_cd3					--belong_cd3			
	,	M0070.belong_cd4					--belong_cd4			
	,	M0070.belong_cd5					--belong_cd5			
	,	CASE WHEN ISNULL(M0070.belong_cd5,'') <> '' THEN 5
				WHEN ISNULL(M0070.belong_cd4,'') <> '' THEN 4
				WHEN ISNULL(M0070.belong_cd3,'') <> '' THEN 3
				WHEN ISNULL(M0070.belong_cd2,'') <> '' THEN 2
				WHEN ISNULL(M0070.belong_cd1,'') <> '' THEN 1
				ELSE 0
		END
	FROM M0070
	WHERE M0070.company_cd = @P_company_cd
	AND M0070.employee_cd = @P_employee_cd
	AND M0070.del_datetime IS NULL
	--DELETE ORGANIZATION NOT IN #ORG_TEMP
	IF EXISTS (SELECT 1 FROM #TABLE_ORGANIZATION ) 
	BEGIN
		IF NOT (@P_authority_typ = 3 AND @w_setting_organization_cnt = 0 AND @w_organization_belong_person_typ = 0) -- edited by viettd 2021/06/03
		BEGIN
			DELETE D FROM #TEMP_M0070 AS D
			FULL OUTER JOIN #TABLE_ORGANIZATION AS S ON (
				D.belong_cd1			=	S.organization_cd_1
			AND D.belong_cd2			=	S.organization_cd_2
			AND D.belong_cd3			=	S.organization_cd_3
			AND D.belong_cd4			=	S.organization_cd_4
			AND D.belong_cd5			=	S.organization_cd_5
			)
			WHERE 
				D.employee_cd IS NULL
			OR	S.organization_typ IS NULL
			AND @P_authority_typ NOT IN(4,5) --4.会社管理者 5.総合管理者
		END
	END
	--
	IF EXISTS(SELECT 1 FROM #TEMP_M0070)
	BEGIN
		INSERT INTO #TABLE_M0071
		SELECT 
			M0071.application_date
		  ,	M0071.office_cd
		  ,	M0071.belong_cd1
		  ,	M0071.belong_cd2
		  ,	M0071.belong_cd3
		  ,	M0071.belong_cd4
		  ,	M0071.belong_cd5
		  ,	M0071.job_cd
		  ,	M0071.position_cd
		  ,	M0071.employee_typ
		  ,	M0071.grade
		  ,	CASE
				WHEN ISNULL(M0010.office_ab_nm,'') = '' THEN M0010.office_nm
				ELSE M0010.office_ab_nm
			END
		  ,CASE
				WHEN ISNULL(m0020_1.organization_ab_nm,'') = '' THEN m0020_1.organization_nm	
				ELSE m0020_1.organization_ab_nm
			END																						AS belong_cd1_nm
		  ,CASE
				WHEN ISNULL(m0020_2.organization_ab_nm,'') = '' THEN m0020_2.organization_nm	
				ELSE m0020_2.organization_ab_nm
			END																						AS belong_cd2_nm
		  ,CASE
				WHEN ISNULL(m0020_3.organization_ab_nm,'') = '' THEN m0020_3.organization_nm	
				ELSE m0020_3.organization_ab_nm
			END																						AS belong_cd3_nm
		  ,CASE
				WHEN ISNULL(m0020_4.organization_ab_nm,'') = '' THEN m0020_4.organization_nm	
				ELSE m0020_4.organization_ab_nm
			END																						AS belong_cd4_nm
		  ,CASE
				WHEN ISNULL(m0020_5.organization_ab_nm,'') = '' THEN m0020_5.organization_nm	
				ELSE m0020_5.organization_ab_nm
			END																						AS belong_cd5_nm
		  ,	CASE
				WHEN ISNULL(m0040.position_ab_nm,'') = '' THEN m0040.position_nm	
				ELSE m0040.position_ab_nm
			END	
		  ,	CASE
				WHEN ISNULL(m0030.job_ab_nm,'') = '' THEN m0030.job_nm	
				ELSE m0030.job_ab_nm
			END	
		  ,	m0060.employee_typ_nm
		  ,	m0050.grade_nm
		  ,	CASE WHEN m0020_5.organization_nm <> '' THEN 5
				WHEN  m0020_4.organization_nm <> '' THEN 4
				WHEN  m0020_3.organization_nm <> '' THEN 3
				WHEN  m0020_2.organization_nm <> '' THEN 2
				WHEN  m0020_1.organization_nm <> '' THEN 1
			END 
		FROM M0071 LEFT JOIN M0010 ON 
			M0071.company_cd	= M0010.company_cd
		AND M0071.office_cd		= M0010.office_cd
		LEFT JOIN M0020 AS M0020_1 ON 
			M0071.company_cd	= M0020_1.company_cd
		AND	1					= M0020_1.organization_typ
		AND	M0071.belong_cd1	= M0020_1.organization_cd_1	
		LEFT JOIN M0020 AS M0020_2 ON 
			M0071.company_cd	= M0020_2.company_cd
		AND	2					= M0020_2.organization_typ
		AND	M0071.belong_cd1	= M0020_2.organization_cd_1
		AND	M0071.belong_cd2	= M0020_2.organization_cd_2	
		LEFT JOIN M0020 AS M0020_3 ON 
			M0071.company_cd	= M0020_3.company_cd
		AND	3					= M0020_3.organization_typ
		AND	M0071.belong_cd1	= M0020_3.organization_cd_1
		AND	M0071.belong_cd2	= M0020_3.organization_cd_2
		AND	M0071.belong_cd3	= M0020_3.organization_cd_3	
		LEFT JOIN M0020 AS M0020_4 ON 
			M0071.company_cd	= M0020_4.company_cd
		AND	4					= M0020_4.organization_typ
		AND	M0071.belong_cd1	= M0020_4.organization_cd_1
		AND	M0071.belong_cd2	= M0020_4.organization_cd_2
		AND	M0071.belong_cd3	= M0020_4.organization_cd_3
		AND	M0071.belong_cd4	= M0020_4.organization_cd_4	
		LEFT JOIN M0020 AS M0020_5 ON 
			M0071.company_cd	= M0020_5.company_cd
		AND	5					= M0020_5.organization_typ
		AND	M0071.belong_cd1	= M0020_5.organization_cd_1
		AND	M0071.belong_cd2	= M0020_5.organization_cd_2
		AND	M0071.belong_cd3	= M0020_5.organization_cd_3
		AND	M0071.belong_cd4	= M0020_5.organization_cd_4
		AND	M0071.belong_cd5	= M0020_5.organization_cd_5	
		LEFT JOIN M0030 ON 
			M0071.company_cd	= M0030.company_cd
		AND M0071.job_cd		= M0030.job_cd
		LEFT JOIN M0040 ON
			M0071.company_cd	= M0040.company_cd
		AND	M0071.position_cd	= M0040.position_cd
		LEFT JOIN M0050 ON
			M0071.company_cd	= M0050.company_cd
		AND	M0071.grade	= M0050.grade
		LEFT JOIN M0060 ON
			M0071.company_cd	= M0060.company_cd
		AND	M0071.employee_typ	= M0060.employee_typ
		WHERE	
			M0071.company_cd = @P_company_cd 
		AND employee_cd = @P_employee_cd
		AND M0071.del_datetime IS NULL
	  --SELECT THE LATEST RECORD IN M0071
		INSERT INTO #M0071
		SELECT TOP 1
			@P_company_cd
		,	M0071.application_date
		,	M0071.office_cd
		,	M0071.belong_cd1
		,	M0071.belong_cd2
		,	M0071.belong_cd3
		,	M0071.belong_cd4
		,	M0071.belong_cd5
		,	M0071.position_cd
		,	M0071.job_cd
		,	M0071.employee_typ
		,	M0071.grade
		FROM M0071
		WHERE M0071.company_cd = @P_company_cd 
		AND employee_cd = @P_employee_cd
		AND M0071.del_datetime IS NULL
		ORDER BY application_date DESC
		END
		--@company_out_dt
		SELECT 
			@company_out_dt		=	company_out_dt 
		FROM M0070 
		WHERE 
			company_cd	=	@P_company_cd	
		AND	employee_cd	=	@P_employee_cd
		AND del_datetime IS NULL
		-- get newest application date of depart 
		SELECT 
			@belong_cd1	=	belong_cd1
		,	@grade		=	grade
		FROM #M0071
		--
		SELECT  
			@application_date_depart = MAX(M0071.application_date )
		FROM M0071 
		LEFT JOIN #M0071  ON
			M0071.company_cd			=	#M0071.company_cd
		AND	M0071.belong_cd1			<>	#M0071.belong_cd1
		WHERE  
			M0071.company_cd			=	#M0071.company_cd
		AND M0071.application_date		<=	#M0071.application_date
		AND	M0071.employee_cd = @P_employee_cd
		AND	del_datetime IS NULL 
		--- GET start work date
		SELECT @company_in_dt = company_in_dt FROM M0070 WHERE 
															company_cd = @P_company_cd 
														AND employee_cd = @P_employee_cd
		--
		SELECT  
			@application_date_depart = MIN(M0071.application_date )
		FROM M0071
		WHERE  M0071.company_cd		= @P_company_cd
		AND (	
			(@application_date_depart	IS NULL)
		OR	(@application_date_depart	IS NOT NULL	AND M0071.application_date	> @application_date_depart)
		)
		AND	M0071.employee_cd		= @P_employee_cd
		AND	del_datetime IS NULL 
		--
		IF(@application_date_depart IS NULL AND EXISTS(SELECT 1 
														FROM M0071 LEFT JOIN #M0071 ON
															M0071.company_cd	= #M0071.company_cd
														AND	M0071.belong_cd1	= #M0071.belong_cd1
														WHERE  
															M0071.company_cd	= #M0071.company_cd
														AND	M0071.employee_cd	= @P_employee_cd
														AND	ISNULL(M0071.belong_cd1,0)	<> 0
														AND	del_datetime IS NULL  ) )
		BEGIN 
			SET @application_date_depart = @company_in_dt
		END
	--[0]
	IF NOT EXISTS(SELECT 1 FROM M0070 where company_cd = @P_company_cd AND employee_cd = @P_employee_cd AND del_datetime IS NULL)
	BEGIN 
		SELECT 1 AS keep_emp
	END
	ELSE IF EXISTS(SELECT 1 FROM #TEMP_M0070)
	BEGIN
		SELECT 
			#TEMP_M0070.employee_cd
		,	M0070.employee_last_nm
		,	M0070.employee_first_nm
		,	M0070.employee_nm
		,	M0070.furigana
		,	M0070.gender
		,	M0070.mail
		,	M0070.picture
		,	FORMAT(M0070.company_in_dt,'yyyy/MM/dd') AS company_in_dt
		,	[dbo].FNC_GET_BIRTHDAY_AGE(M0070.birth_date,NULL)AS	year_old
		,	 IIF(@month_count / 12 = 0,'',CAST(@month_count / 12 AS nvarchar(10)) +IIF(@P_language = 'en', IIF((@month_count / 12) = 1 OR (@month_count / 12) = -1, ' Year ', ' Years '), '年')) +  IIF(@month_count % 12 = 0,'',CAST(@month_count % 12 AS nvarchar(10)) + IIF(@P_language = 'en', IIF((@month_count % 12) = 1 OR (@month_count % 12) = -1, ' Month ', ' Months '), 'ヶ月')) 
			 AS	period_date
		,	FORMAT(M0070.birth_date,'yyyy/MM/dd')			AS birth_date
		,	1 as keep_emp
		,	M0070.picture
		,	S0010.language					--quangnd
		FROM #TEMP_M0070
		INNER JOIN M0070 ON(
			#TEMP_M0070.company_cd	= M0070.company_cd
		AND #TEMP_M0070.employee_cd	= M0070.employee_cd
		)
		 LEFT JOIN S0010 ON
			M0070.company_cd = S0010.company_cd
		AND	M0070.employee_cd = S0010.employee_cd
		AND S0010.del_datetime IS NULL
		LEFT JOIN L0010 ON(
			17							=	L0010.name_typ
		AND M0070.retirement_reason_typ	=	L0010.number_cd
		AND L0010.del_datetime IS NULL
		)
	END	
	ELSE
	BEGIN
		SELECT 0 AS keep_emp
	END
	

END
GO
