DROP PROCEDURE [dbo].[SPC_M0070_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスタ
--*  
--*  作成日/create date			:	2018/08/16						
--*　作成者/creater				:	DatNT								
--*   					
--*  更新日/update date			:	2018/11/15
--*　更新者/updater				:　	Longvv
--*　更新内容/update content		:	UPDATE CR 2018/11/15
--*   					
--*  更新日/update date			:	2021/06/03
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	when 3.管理者(authority_typ = 3) and not choice organization in S0022 then view all employees
--*	 EXEC SPC_M0070_INQ1 '30','740','721','jp';
--*	 EXEC SPC_M0070_INQ1 '235','10046','721','jp';

--EXEC SPC_M0070_INQ1 '1509','740','721','jp';

--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0070_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(MAX)	=	''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	''
,	@P_language				NVARCHAR(2)		= ''
AS
BEGIN
	DECLARE 
		@w_time									DATETIME2			= SYSDATETIME()
	,	@organization_cd						NVARCHAR(40)		=	''
	,	@application_date_depart				DATE				=	NULL
	,	@w_application_dt						DATE				=	GETDATE()
	,	@application_date_grade					DATE				=	NULL
	,	@company_in_dt							DATE				=	NULL
	,	@month_count							int					=	0
	,	@P_authority_cd							SMALLINT			=	0
	,	@P_authority_typ						SMALLINT			=	0
	,	@employee_cd							NVARCHAR(100)		=	''
	,	@company_out_dt							DATE				=	NULL
	,	@arrange_order							INT					=	0
	,	@position_cd							INT					=	0
	,	@belong_cd1								NVARCHAR(40)		=	''
	,	@belong_cd2								NVARCHAR(40)		=	''
	,	@belong_cd3								NVARCHAR(40)		=	''
	,	@belong_cd4								NVARCHAR(40)		=	''
	,	@belong_cd5								NVARCHAR(40)		=	''
	,	@belong_cd1_emp							NVARCHAR(40)		=	''
	,	@belong_cd2_emp							NVARCHAR(40)		=	''
	,	@belong_cd3_emp							NVARCHAR(40)		=	''
	,	@belong_cd4_emp							NVARCHAR(40)		=	''
	,	@grade									INT					=	0
	-- add by viettd 2021/06/03
	,	@w_setting_organization_cnt				INT					=	0	-- 0.view all 1.only view organization choiced
	,	@w_organization_belong_person_typ		SMALLINT			=	0
	--
	SELECT 
		@P_authority_cd			=	S0010.setting_authority_cd
	,	@P_authority_typ		=	S0010.setting_authority_typ
	,	@employee_cd			=	S0010.employee_cd
	,	@position_cd			=	ISNULL(M0070.position_cd,0)
	FROM S0010 
	LEFT JOIN M0070 ON (
		M0070.company_cd		=	S0010.company_cd
	AND M0070.employee_cd		=	S0010.employee_cd
	AND M0070.del_datetime		IS NULL 
	) 
	WHERE
		S0010.company_cd		=	@P_company_cd
	AND S0010.user_id			=	@P_user_id
	AND S0010.del_datetime IS NULL
	-- GET @arrange_order
    SET @arrange_order	= ISNULL((SELECT ISNULL(M0040.arrange_order,0) FROM M0040 WHERE M0040.del_datetime IS NULL AND M0040.position_cd = @position_cd AND M0040.company_cd = @P_company_cd),0)
	-- COUNT ALL ORGANIZATIONS OF S9022 -- add by viettd 2021/06/03
	SET @w_setting_organization_cnt = [dbo].FNC_GET_NUMBER_OF_ORGANIZATION(@P_company_cd,@P_authority_cd,4)
	-- GET @w_organization_belong_person_typ add by viettd 2021/06/03
	SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP(@P_company_cd,@P_authority_cd,4)
	--
	CREATE TABLE #COMBOBOX (
		organization_nm			NVARCHAR	(100)
	,	organization_cd_1 		NVARCHAR	(40)	
	,	organization_cd_2 		NVARCHAR	(40)	
	,	organization_cd_3 		NVARCHAR	(40)	
	,	organization_cd_4 		NVARCHAR	(40)	
	,	organization_cd_5		NVARCHAR	(40)	
	,	detail_no				INT	
	,	step					INT	
	
	)
	CREATE TABLE #M0071(
		company_cd			INT	
	,	application_date	DATE
	,	office_cd			INT
	,	belong_cd1			NVARCHAR	(40)
	,	belong_cd2			NVARCHAR	(40)	
	,	belong_cd3			NVARCHAR	(40)	
	,	belong_cd4			NVARCHAR	(40)	
	,	belong_cd5			NVARCHAR	(40)		
	,	position_cd			INT	
	,	job_cd				INT
	,	employee_typ		INT
	,	grade				INT
	
	)
	CREATE TABLE #TABLE_M0071(
		application_date	DATE					
	,	office_cd			INT
	,	belong_cd1			NVARCHAR(100)
	,	belong_cd2			NVARCHAR(100)
	,	belong_cd3			NVARCHAR(100)
	,	belong_cd4			NVARCHAR(100)
	,	belong_cd5			NVARCHAR(100)
	,	job_cd				INT
	,	position_cd			INT
	,	employee_typ		INT
	,	grade				INT			
	,	office_nm			NVARCHAR(100)
	,	belong_cd1_nm		NVARCHAR(100)
	,	belong_cd2_nm		NVARCHAR(100)
	,	belong_cd3_nm		NVARCHAR(100)
	,	belong_cd4_nm		NVARCHAR(100)
	,	belong_cd5_nm		NVARCHAR(100)
	,	position_nm			NVARCHAR(100)
	,	job_nm				NVARCHAR(100)
	,	employee_typ_nm		NVARCHAR(100)
	,	grade_nm			NVARCHAR(100)
	,	count_organization_cd	INT
	,	typ					INT	--M0071:0,0073:1
	,	arrange_order		INT	
	,	detail_no			INT	
	)
	CREATE TABLE #TEMP_M0070(
		company_cd					INT	
	,	employee_cd					NVARCHAR(20)
	,	belong_cd1					NVARCHAR	(40)
	,	belong_cd2					NVARCHAR	(40)	
	,	belong_cd3					NVARCHAR	(40)	
	,	belong_cd4					NVARCHAR	(40)	
	,	belong_cd5					NVARCHAR	(40)		
	,	count_organization_cd		NVARCHAR(200)
	)
	--#TABLE_ORGANIZATION
	CREATE TABLE #TABLE_ORGANIZATION(
		organization_typ			tinyint
	,	organization_cd_1			nvarchar(20)
	,	organization_cd_2			nvarchar(20)
	,	organization_cd_3			nvarchar(20)
	,	organization_cd_4			nvarchar(20)
	,	organization_cd_5			nvarchar(20)	 
	,	choice_in_screen			tinyint		-- 1.choice in screen 0.get from master S0022
	)
	-- GET @month_count
	SELECT @month_count = DATEDIFF(MM,M0070.company_in_dt,ISNULL(M0070.company_out_dt,@w_time)) 
	FROM M0070
	WHERE
		company_cd  = @P_company_cd
	AND	employee_cd = @P_employee_cd
	--
	SELECT 
		@belong_cd1		=	M0070.belong_cd1
	,	@belong_cd2		=	M0070.belong_cd2
	,	@belong_cd3		=	M0070.belong_cd3
	,	@belong_cd4		=	M0070.belong_cd4
	,	@belong_cd5		=	M0070.belong_cd5
	FROM M0070
	WHERE
		@P_company_cd	=	M0070.company_cd
	AND @employee_cd	=	M0070.employee_cd
	--
	SELECT
		@belong_cd1_emp		=	M0070.belong_cd1
	,	@belong_cd2_emp		=	M0070.belong_cd2
	,	@belong_cd3_emp		=	M0070.belong_cd3
	,	@belong_cd4_emp		=	M0070.belong_cd4
	FROM M0070
	WHERE
		@P_company_cd	=	M0070.company_cd
	AND @P_employee_cd	=	M0070.employee_cd
	--
	INSERT INTO #TABLE_ORGANIZATION
	EXEC SPC_REFER_ORGANIZATION_FND1 '',@P_user_id,@P_company_cd,4
	--
	INSERT INTO #TEMP_M0070
	SELECT 
		@P_company_cd						--company_cd				
	,	M0070.employee_cd					--employee_cd			
	,	M0070.belong_cd1					--belong_cd1			
	,	M0070.belong_cd2					--belong_cd2			
	,	M0070.belong_cd3					--belong_cd3			
	,	M0070.belong_cd4					--belong_cd4			
	,	M0070.belong_cd5					--belong_cd5			
	,	CASE WHEN ISNULL(M0070.belong_cd5,'') <> '' THEN 5
				WHEN ISNULL(M0070.belong_cd4,'') <> '' THEN 4
				WHEN ISNULL(M0070.belong_cd3,'') <> '' THEN 3
				WHEN ISNULL(M0070.belong_cd2,'') <> '' THEN 2
				WHEN ISNULL(M0070.belong_cd1,'') <> '' THEN 1
				ELSE 0
		END
	FROM M0070
	WHERE M0070.company_cd = @P_company_cd
	AND M0070.employee_cd = @P_employee_cd
	AND M0070.del_datetime IS NULL
	--DELETE ORGANIZATION NOT IN #ORG_TEMP
	IF EXISTS (SELECT 1 FROM #TABLE_ORGANIZATION ) 
	BEGIN
		IF NOT (@P_authority_typ = 3 AND @w_setting_organization_cnt = 0 AND @w_organization_belong_person_typ = 0) -- edited by viettd 2021/06/03
		BEGIN
			DELETE D FROM #TEMP_M0070 AS D
			FULL OUTER JOIN #TABLE_ORGANIZATION AS S ON (
				D.belong_cd1			=	S.organization_cd_1
			AND D.belong_cd2			=	S.organization_cd_2
			AND D.belong_cd3			=	S.organization_cd_3
			AND D.belong_cd4			=	S.organization_cd_4
			AND D.belong_cd5			=	S.organization_cd_5
			)
			WHERE 
				D.employee_cd IS NULL
			OR	S.organization_typ IS NULL
			AND @P_authority_typ NOT IN(4,5) --4.会社管理者 5.総合管理者
		END
	END
	--
	IF EXISTS(SELECT 1 FROM #TEMP_M0070)
	BEGIN
		INSERT INTO #TABLE_M0071
		SELECT 
			M0071.application_date
		  ,	M0071.office_cd
		  ,	M0071.belong_cd1
		  ,	M0071.belong_cd2
		  ,	M0071.belong_cd3
		  ,	M0071.belong_cd4
		  ,	M0071.belong_cd5
		  ,	M0071.job_cd
		  ,	M0071.position_cd
		  ,	M0071.employee_typ
		  ,	M0071.grade
		  ,	CASE
				WHEN ISNULL(M0010.office_ab_nm,'') = '' THEN M0010.office_nm
				ELSE M0010.office_ab_nm
			END
		  ,CASE
				WHEN ISNULL(m0020_1.organization_ab_nm,'') = '' THEN m0020_1.organization_nm	
				ELSE m0020_1.organization_ab_nm
			END																						AS belong_cd1_nm
		  ,CASE
				WHEN ISNULL(m0020_2.organization_ab_nm,'') = '' THEN m0020_2.organization_nm	
				ELSE m0020_2.organization_ab_nm
			END																						AS belong_cd2_nm
		  ,CASE
				WHEN ISNULL(m0020_3.organization_ab_nm,'') = '' THEN m0020_3.organization_nm	
				ELSE m0020_3.organization_ab_nm
			END																						AS belong_cd3_nm
		  ,CASE
				WHEN ISNULL(m0020_4.organization_ab_nm,'') = '' THEN m0020_4.organization_nm	
				ELSE m0020_4.organization_ab_nm
			END																						AS belong_cd4_nm
		  ,CASE
				WHEN ISNULL(m0020_5.organization_ab_nm,'') = '' THEN m0020_5.organization_nm	
				ELSE m0020_5.organization_ab_nm
			END																						AS belong_cd5_nm
		  ,	CASE
				WHEN ISNULL(m0040.position_ab_nm,'') = '' THEN m0040.position_nm	
				ELSE m0040.position_ab_nm
			END	
		  ,	CASE
				WHEN ISNULL(m0030.job_ab_nm,'') = '' THEN m0030.job_nm	
				ELSE m0030.job_ab_nm
			END	
		  ,	m0060.employee_typ_nm
		  ,	m0050.grade_nm
		  ,	CASE WHEN m0020_5.organization_nm <> '' THEN 5
				WHEN  m0020_4.organization_nm <> '' THEN 4
				WHEN  m0020_3.organization_nm <> '' THEN 3
				WHEN  m0020_2.organization_nm <> '' THEN 2
				WHEN  m0020_1.organization_nm <> '' THEN 1
			END 
		,	0
		,	0
		,	0
		FROM M0071 LEFT JOIN M0010 ON 
			M0071.company_cd	= M0010.company_cd
		AND M0071.office_cd		= M0010.office_cd
		LEFT JOIN M0020 AS M0020_1 ON 
			M0071.company_cd	= M0020_1.company_cd
		AND	1					= M0020_1.organization_typ
		AND	M0071.belong_cd1	= M0020_1.organization_cd_1	
		LEFT JOIN M0020 AS M0020_2 ON 
			M0071.company_cd	= M0020_2.company_cd
		AND	2					= M0020_2.organization_typ
		AND	M0071.belong_cd1	= M0020_2.organization_cd_1
		AND	M0071.belong_cd2	= M0020_2.organization_cd_2	
		LEFT JOIN M0020 AS M0020_3 ON 
			M0071.company_cd	= M0020_3.company_cd
		AND	3					= M0020_3.organization_typ
		AND	M0071.belong_cd1	= M0020_3.organization_cd_1
		AND	M0071.belong_cd2	= M0020_3.organization_cd_2
		AND	M0071.belong_cd3	= M0020_3.organization_cd_3	
		LEFT JOIN M0020 AS M0020_4 ON 
			M0071.company_cd	= M0020_4.company_cd
		AND	4					= M0020_4.organization_typ
		AND	M0071.belong_cd1	= M0020_4.organization_cd_1
		AND	M0071.belong_cd2	= M0020_4.organization_cd_2
		AND	M0071.belong_cd3	= M0020_4.organization_cd_3
		AND	M0071.belong_cd4	= M0020_4.organization_cd_4	
		LEFT JOIN M0020 AS M0020_5 ON 
			M0071.company_cd	= M0020_5.company_cd
		AND	5					= M0020_5.organization_typ
		AND	M0071.belong_cd1	= M0020_5.organization_cd_1
		AND	M0071.belong_cd2	= M0020_5.organization_cd_2
		AND	M0071.belong_cd3	= M0020_5.organization_cd_3
		AND	M0071.belong_cd4	= M0020_5.organization_cd_4
		AND	M0071.belong_cd5	= M0020_5.organization_cd_5	
		LEFT JOIN M0030 ON 
			M0071.company_cd	= M0030.company_cd
		AND M0071.job_cd		= M0030.job_cd
		LEFT JOIN M0040 ON
			M0071.company_cd	= M0040.company_cd
		AND	M0071.position_cd	= M0040.position_cd
		LEFT JOIN M0050 ON
			M0071.company_cd	= M0050.company_cd
		AND	M0071.grade	= M0050.grade
		LEFT JOIN M0060 ON
			M0071.company_cd	= M0060.company_cd
		AND	M0071.employee_typ	= M0060.employee_typ
		WHERE	
			M0071.company_cd = @P_company_cd 
		AND employee_cd = @P_employee_cd
		AND M0071.del_datetime IS NULL
		INSERT INTO #M0071
		SELECT TOP 1
			@P_company_cd
		,	M0071.application_date
		,	M0071.office_cd
		,	M0071.belong_cd1
		,	M0071.belong_cd2
		,	M0071.belong_cd3
		,	M0071.belong_cd4
		,	M0071.belong_cd5
		,	M0071.position_cd
		,	M0071.job_cd
		,	M0071.employee_typ
		,	M0071.grade
		FROM M0071
		WHERE M0071.company_cd = @P_company_cd 
		AND employee_cd = @P_employee_cd
		AND M0071.del_datetime IS NULL
		ORDER BY application_date DESC
		END
		INSERT INTO #TABLE_M0071
		SELECT 
			M0073.application_date
		  ,	M0071.office_cd
		  ,	M0073.belong_cd1
		  ,	M0073.belong_cd2
		  ,	M0073.belong_cd3
		  ,	M0073.belong_cd4
		  ,	M0073.belong_cd5
		  ,	0
		  ,	M0073.position_cd
		  ,	0
		  ,	0
		  ,''
		  ,CASE
				WHEN ISNULL(m0020_1.organization_ab_nm,'') = '' THEN m0020_1.organization_nm	
				ELSE m0020_1.organization_ab_nm
			END																						AS belong_cd1_nm
		  ,CASE
				WHEN ISNULL(m0020_2.organization_ab_nm,'') = '' THEN m0020_2.organization_nm	
				ELSE m0020_2.organization_ab_nm
			END																						AS belong_cd2_nm
		  ,CASE
				WHEN ISNULL(m0020_3.organization_ab_nm,'') = '' THEN m0020_3.organization_nm	
				ELSE m0020_3.organization_ab_nm
			END																						AS belong_cd3_nm
		  ,CASE
				WHEN ISNULL(m0020_4.organization_ab_nm,'') = '' THEN m0020_4.organization_nm	
				ELSE m0020_4.organization_ab_nm
			END																						AS belong_cd4_nm
		  ,CASE
				WHEN ISNULL(m0020_5.organization_ab_nm,'') = '' THEN m0020_5.organization_nm	
				ELSE m0020_5.organization_ab_nm
			END																						AS belong_cd5_nm
		  ,	CASE
				WHEN ISNULL(m0040.position_ab_nm,'') = '' THEN m0040.position_nm	
				ELSE m0040.position_ab_nm
			END	
		  ,	''
		  ,	''
		  ,	''
		  ,	CASE WHEN m0020_5.organization_nm <> '' THEN 5
				WHEN  m0020_4.organization_nm <> '' THEN 4
				WHEN  m0020_3.organization_nm <> '' THEN 3
				WHEN  m0020_2.organization_nm <> '' THEN 2
				WHEN  m0020_1.organization_nm <> '' THEN 1
			END 
		,	1
		,	M0073.arrange_order
		,	M0073.detail_no
		FROM M0073 LEFT JOIN 
		M0071 ON(
			M0073.company_cd = M0071.company_cd
		AND M0073.employee_cd = M0071.employee_cd
		AND M0073.application_date = M0071.application_date
		) LEFT JOIN M0010 ON 
			M0071.company_cd	= M0010.company_cd
		AND M0071.office_cd		= M0010.office_cd
		LEFT JOIN M0020 AS M0020_1 ON 
			M0073.company_cd	= M0020_1.company_cd
		AND	1					= M0020_1.organization_typ
		AND	M0073.belong_cd1	= M0020_1.organization_cd_1	
		LEFT JOIN M0020 AS M0020_2 ON 
			M0073.company_cd	= M0020_2.company_cd
		AND	2					= M0020_2.organization_typ
		AND	M0073.belong_cd1	= M0020_2.organization_cd_1
		AND	M0073.belong_cd2	= M0020_2.organization_cd_2	
		LEFT JOIN M0020 AS M0020_3 ON 
			M0073.company_cd	= M0020_3.company_cd
		AND	3					= M0020_3.organization_typ
		AND	M0073.belong_cd1	= M0020_3.organization_cd_1
		AND	M0073.belong_cd2	= M0020_3.organization_cd_2
		AND	M0073.belong_cd3	= M0020_3.organization_cd_3	
		LEFT JOIN M0020 AS M0020_4 ON 
			M0073.company_cd	= M0020_4.company_cd
		AND	4					= M0020_4.organization_typ
		AND	M0073.belong_cd1	= M0020_4.organization_cd_1
		AND	M0073.belong_cd2	= M0020_4.organization_cd_2
		AND	M0073.belong_cd3	= M0020_4.organization_cd_3
		AND	M0073.belong_cd4	= M0020_4.organization_cd_4	
		LEFT JOIN M0020 AS M0020_5 ON 
			M0073.company_cd	= M0020_5.company_cd
		AND	5					= M0020_5.organization_typ
		AND	M0073.belong_cd1	= M0020_5.organization_cd_1
		AND	M0073.belong_cd2	= M0020_5.organization_cd_2
		AND	M0073.belong_cd3	= M0020_5.organization_cd_3
		AND	M0073.belong_cd4	= M0020_5.organization_cd_4
		AND	M0073.belong_cd5	= M0020_5.organization_cd_5	
		LEFT JOIN M0030 ON 
			M0073.company_cd	= M0030.company_cd
		AND M0071.job_cd		= M0030.job_cd
		LEFT JOIN M0040 ON
			M0073.company_cd	= M0040.company_cd
		AND	M0073.position_cd	= M0040.position_cd
		LEFT JOIN M0050 ON
			M0073.company_cd	= M0050.company_cd
		AND	M0071.grade	= M0050.grade
		LEFT JOIN M0060 ON
			M0073.company_cd	= M0060.company_cd
		AND	M0071.employee_typ	= M0060.employee_typ
		WHERE	
			M0073.company_cd = @P_company_cd 
		AND M0073.employee_cd = @P_employee_cd
		AND M0073.del_datetime IS NULL
		ORDER BY
			M0073.arrange_order ASC
		,	M0073.detail_no
	  --SELECT THE LATEST RECORD IN M0071
		
		--@company_out_dt
		SELECT 
			@company_out_dt		=	company_out_dt 
		FROM M0070 
		WHERE 
			company_cd	=	@P_company_cd	
		AND	employee_cd	=	@P_employee_cd
		AND del_datetime IS NULL
		-- get newest application date of depart 
		SELECT 
			@belong_cd1	=	belong_cd1
		,	@grade		=	grade
		FROM #M0071

		--
		SELECT  
			@application_date_depart = MAX(M0071.application_date )
		FROM M0071 
		LEFT JOIN #M0071  ON
			M0071.company_cd			=	#M0071.company_cd
		AND	M0071.belong_cd1			<>	#M0071.belong_cd1
		WHERE  
			M0071.company_cd			=	#M0071.company_cd
		AND M0071.application_date		<=	#M0071.application_date
		AND	M0071.employee_cd = @P_employee_cd
		AND	del_datetime IS NULL 
		--- GET start work date
		SELECT @company_in_dt = company_in_dt FROM M0070 WHERE 
															company_cd = @P_company_cd 
														AND employee_cd = @P_employee_cd
		--
		SELECT  
			@application_date_depart = MIN(M0071.application_date )
		FROM M0071
		WHERE  M0071.company_cd		= @P_company_cd
		AND (	
			(@application_date_depart	IS NULL)
		OR	(@application_date_depart	IS NOT NULL	AND M0071.application_date	> @application_date_depart)
		)
		AND	M0071.employee_cd		= @P_employee_cd
		AND	del_datetime IS NULL 
		--
		IF(@application_date_depart IS NULL AND EXISTS(SELECT 1 
														FROM M0071 LEFT JOIN #M0071 ON
															M0071.company_cd	= #M0071.company_cd
														AND	M0071.belong_cd1	= #M0071.belong_cd1
														WHERE  
															M0071.company_cd	= #M0071.company_cd
														AND	M0071.employee_cd	= @P_employee_cd
														AND	ISNULL(M0071.belong_cd1,0)	<> 0
														AND	del_datetime IS NULL  ) )
		BEGIN 
			SET @application_date_depart = @company_in_dt
		END
		SELECT @w_application_dt = (SELECT MAX(application_date) FROM M0071 WHERE company_cd = @P_company_cd AND employee_cd = @P_employee_cd AND del_datetime IS NULL  GROUP BY company_cd,employee_cd)

	--[0]
	IF NOT EXISTS(SELECT 1 FROM M0070 where company_cd = @P_company_cd AND employee_cd = @P_employee_cd AND del_datetime IS NULL)
	BEGIN 
		SELECT 
			1 AS keep_emp
		,	0 AS multilingual_typ
	END
	ELSE IF EXISTS(SELECT 1 FROM #TEMP_M0070)
	BEGIN
		SELECT 
			#TEMP_M0070.employee_cd
		,	M0070.employee_last_nm
		,	M0070.employee_first_nm
		,	M0070.employee_nm
		,	M0070.furigana
		,	M0070.gender
		,	M0070.mail
		,	M0070.company_mobile_number AS tel
		,	M0070.extension_number AS tel_extends
		,	FORMAT(M0070.birth_date,'yyyy/MM/dd')			AS birth_date
		,	[dbo].FNC_GET_BIRTHDAY_AGE(M0070.birth_date,NULL)AS	year_old
		,	 IIF(@month_count / 12 = 0,'',CAST(@month_count / 12 AS nvarchar(10)) +IIF(@P_language = 'en', IIF((@month_count / 12) = 1 OR (@month_count / 12) = -1, ' Year ', ' Years '), '年')) +  IIF(@month_count % 12 = 0,'',CAST(@month_count % 12 AS nvarchar(10)) + IIF(@P_language = 'en', IIF((@month_count % 12) = 1 OR (@month_count % 12) = -1, ' Month ', ' Months '), 'ヶ月')) 
			 AS	period_date
		,	FORMAT(M0070.company_in_dt,'yyyy/MM/dd')				AS company_in_dt
		,	FORMAT(M0070.company_out_dt,'yyyy/MM/dd')				AS company_out_dt
		,	M0070.retirement_reason_typ
		,	M0070.retirement_reason
		,	CASE
				WHEN @P_language = 'en'
				THEN L0010.name_english
				ELSE L0010.name
			END														AS retirement_reason_typ_nm
		,	M0070.evaluated_typ
		,	M0070.[1on1_typ]	AS oneonone_typ
		,	M0070.multireview_typ
		,	M0070.office_cd
		,	#TEMP_M0070.belong_cd1
		,	#TEMP_M0070.belong_cd2
		,	#TEMP_M0070.belong_cd3
		,	#TEMP_M0070.belong_cd4
		,	#TEMP_M0070.belong_cd5
		,	M0070.job_cd
		,	M0070.position_cd
		,	M0070.employee_typ
		,	M0070.grade
		,	M0070.picture
		,	M0070.salary_grade
		,	M0070.report_typ
		,	M0070.grade
		,	1 as keep_emp
		,	S0010.user_id
		,	S0010.password
		,	S0010.authority_cd
		,	S0010.sso_user
		,	count_organization_cd
		,	S0010.[1on1_authority_cd] AS oneonone_authority_cd
		,	S0010.multireview_authority_cd
		,	S0010.setting_authority_cd
		,	S0010.report_authority_cd
		,	S0010.empinfo_authority_cd
		,	CASE WHEN S0010.authority_typ = 5
			THEN 0
			ELSE 1
			END		AS director_typ
		,	S0010.language					--quangnd
		,	ISNULL(S0010.multilingual_use_typ,0) AS multilingual_typ
		FROM #TEMP_M0070
		INNER JOIN M0070 ON(
			#TEMP_M0070.company_cd	= M0070.company_cd
		AND #TEMP_M0070.employee_cd	= M0070.employee_cd
		)
		 LEFT JOIN S0010 ON
			M0070.company_cd = S0010.company_cd
		AND	M0070.employee_cd = S0010.employee_cd
		AND S0010.del_datetime IS NULL
		LEFT JOIN L0010 ON(
			17							=	L0010.name_typ
		AND M0070.retirement_reason_typ	=	L0010.number_cd
		AND L0010.del_datetime IS NULL
		)
		LEFT JOIN M9100 ON (
			M0070.company_cd =  M9100.company_cd
		AND M9100.del_datetime IS NULL
		)
	END	
	ELSE
	BEGIN
		SELECT 
			0 AS keep_emp 
		,	0 AS multilingual_typ
	END
	--[1]
		SELECT 
			FORMAT(application_date,'yyyy/MM/dd') AS application_date
		,	office_cd		
		,	belong_cd1		
		,	belong_cd2		
		,	belong_cd3		
		,	belong_cd4		
		,	belong_cd5		
		,	job_cd			
		,	position_cd		
		,	employee_typ	
		,	grade			
		,	office_nm		
		,	belong_cd1_nm	
		,	belong_cd2_nm	
		,	belong_cd3_nm	
		,	belong_cd4_nm	
		,	belong_cd5_nm	
		,	position_nm		
		,	job_nm			
		,	employee_typ_nm	
		,	grade_nm	
		,	typ
		,	detail_no
		FROM #TABLE_M0071
		ORDER BY #TABLE_M0071.application_date DESC
		,	typ
		,	arrange_order
		,	detail_no 
		--[2]
		SELECT 
			FORMAT(application_date,'yyyy/MM/dd') AS application_date
		,	office_cd
		,	belong_cd1
		,	belong_cd2
		,	belong_cd3
		,	belong_cd4
		,	belong_cd5
		,	#M0071.position_cd
		,	#M0071.job_cd
		,	#M0071.employee_typ
		,	#M0071.grade 
		,	CASE
				WHEN ISNULL(m0040.position_ab_nm,'') = '' THEN m0040.position_nm	
				ELSE m0040.position_ab_nm
			END	 AS position_nm
		  ,	CASE
				WHEN ISNULL(m0030.job_ab_nm,'') = '' THEN m0030.job_nm	
				ELSE m0030.job_ab_nm
			END	 AS job_nm
		  ,	m0060.employee_typ_nm
		  ,	m0050.grade_nm AS grade_nm
		FROM  #M0071
		LEFT JOIN M0030 ON 
			#M0071.company_cd	= M0030.company_cd
		AND #M0071.job_cd		= M0030.job_cd
		LEFT JOIN M0040 ON
			#M0071.company_cd	= M0040.company_cd
		AND	#M0071.position_cd	= M0040.position_cd
		LEFT JOIN M0050 ON
			#M0071.company_cd	= M0050.company_cd
		AND	#M0071.grade	= M0050.grade
		LEFT JOIN M0060 ON
			#M0071.company_cd	= M0060.company_cd
		AND	#M0071.employee_typ	= M0060.employee_typ
		--@company_out_dt
		SELECT 
			@company_out_dt		=	company_out_dt 
		FROM M0070 
		WHERE 
			company_cd	=	@P_company_cd	
		AND	employee_cd	=	@P_employee_cd
		AND del_datetime IS NULL
		-- get newest application date of depart 
		SELECT 
			@belong_cd1	=	belong_cd1
		,	@grade		=	grade
		FROM #M0071
		--
		SELECT  
			@application_date_depart = MAX(M0071.application_date )
		FROM M0071 
		LEFT JOIN #M0071  ON
			M0071.company_cd			=	#M0071.company_cd
		AND	M0071.belong_cd1			<>	#M0071.belong_cd1
		WHERE  
			M0071.company_cd			=	#M0071.company_cd
		AND M0071.application_date		<=	#M0071.application_date
		AND	M0071.employee_cd = @P_employee_cd
		AND	del_datetime IS NULL 
		--- GET start work date
		SELECT @company_in_dt = company_in_dt FROM M0070 WHERE 
															company_cd = @P_company_cd 
														AND employee_cd = @P_employee_cd
		--
		SELECT  @application_date_depart = MIN(M0071.application_date )
		FROM M0071
		WHERE  M0071.company_cd		= @P_company_cd
		AND (	
			(@application_date_depart	IS NULL)
		OR	(@application_date_depart	IS NOT NULL	AND M0071.application_date	> @application_date_depart)
		)
		AND	M0071.employee_cd		= @P_employee_cd
		AND	del_datetime IS NULL 

		--
		IF(@application_date_depart IS NULL AND EXISTS(SELECT 1 FROM M0071 LEFT JOIN #M0071 ON
																								M0071.company_cd	= #M0071.company_cd
																							AND	M0071.belong_cd1	= #M0071.belong_cd1
																							WHERE  
																								M0071.company_cd	= #M0071.company_cd
																							AND	M0071.employee_cd	= @P_employee_cd
																							AND	ISNULL(M0071.belong_cd1,0)	<> 0
																							AND	del_datetime IS NULL  ) )
		BEGIN 
			SET @application_date_depart = @company_in_dt
		END
		--calculate years
		SET @month_count =	CASE
								WHEN	@company_out_dt IS NULL	 
								THEN	DATEDIFF(MM,@application_date_depart,@w_time)
								ELSE	DATEDIFF(MM,@application_date_depart,@company_out_dt)
							END


		--[3]
		SELECT 
				CASE	
					WHEN @belong_cd1 <> '' AND @month_count > 0
					THEN IIF(@month_count / 12 = 0,'',CAST(@month_count / 12 AS nvarchar(10)) + IIF(@P_language = 'en', IIF((@month_count / 12) = 1 OR (@month_count / 12) = -1, ' Year ', ' Years '), '年')) +  IIF(@month_count % 12 = 0,'',CAST(@month_count % 12 AS nvarchar(10)) + IIF(@P_language = 'en', IIF((@month_count % 12) = 1 OR (@month_count % 12) = -1, ' Month ', ' Months '), 'ヶ月')) 		
					ELSE ''
				END		AS year_depart

		-- get newest application date of grade 
		SELECT  @application_date_grade = MAX(M0071.application_date )
		FROM M0071 LEFT JOIN #M0071 ON
			M0071.company_cd		= #M0071.company_cd
		AND M0071.grade				<> #M0071.grade
		WHERE M0071.company_cd		= #M0071.company_cd
		AND M0071.application_date	<= #M0071.application_date
		--AND ISNULL(M0071.grade,0)	<> 0
		AND	M0071.employee_cd		= @P_employee_cd
		AND	del_datetime IS NULL

		SELECT  @application_date_grade = MIN(M0071.application_date )
		FROM M0071
		WHERE M0071.company_cd		= @P_company_cd
		AND (	
			(@application_date_grade	IS NULL)
		OR	(@application_date_grade	IS NOT NULL	AND M0071.application_date	> @application_date_grade)
		)
		AND	M0071.employee_cd		= @P_employee_cd
		AND	del_datetime IS NULL

		IF(@application_date_grade IS NULL AND EXISTS(SELECT 1 FROM M0071 LEFT JOIN #M0071  ON
																								M0071.company_cd	= #M0071.company_cd
																							AND	M0071.grade			= #M0071.grade
																							WHERE  
																								M0071.company_cd	= #M0071.company_cd
																							AND	M0071.employee_cd	= @P_employee_cd
																							AND ISNULL(M0071.grade,0)			<> 0
																							AND	del_datetime IS NULL  ))
		BEGIN 
			SET @application_date_grade = @company_in_dt
		END

		--[4]
		SET @month_count =	CASE
								WHEN	@company_out_dt IS NULL
								THEN	DATEDIFF(MM,@application_date_grade,@w_time)
								ELSE	DATEDIFF(MM,@application_date_grade,@company_out_dt)
							END
		SELECT	
				CASE	
					WHEN @grade > 0 AND @month_count > 0
					THEN IIF(@month_count / 12 = 0,'',CAST(@month_count / 12 AS nvarchar(10)) + IIF(@P_language = 'en', IIF((@month_count / 12) = 1 OR (@month_count / 12) = -1, ' Year ', ' Years '), '年')) +  IIF(@month_count % 12 = 0,'',CAST(@month_count % 12 AS nvarchar(10)) + IIF(@P_language = 'en', IIF((@month_count % 12) = 1 OR (@month_count % 12) = -1, ' Month ', ' Months '), 'ヶ月'))  
					ELSE ''
				END		AS year_grade
	--[5]
	SELECT 
	CASE WHEN ISNULL(M0022.organization_group_nm,'')   = '' 
		THEN '組織'+CAST(M0022.organization_typ AS NVARCHAR (3))
		ELSE M0022.organization_group_nm
	END AS organization_group_nm
	,	M0022.organization_typ
	FROM M0022 
	WHERE company_cd = @P_company_cd
	--AND use_typ = 1
	AND M0022.del_datetime IS NULL
	--[6]
	select SSO_use_typ,marcopolo_use_typ from M0001 where company_cd = @P_company_cd
	--[7]  get combobox with  type = 2\
	INSERT INTO #COMBOBOX
	SELECT 
		M0020.organization_nm
	,	M0020.organization_cd_1
	,	M0020.organization_cd_2
	,	M0020.organization_cd_3
	,	M0020.organization_cd_4
	,	M0020.organization_cd_5	
	,	0
	,	2
	FROM M0020 
	WHERE M0020.company_cd				= @P_company_cd
	AND M0020.organization_typ = 2
	AND m0020.organization_cd_1 = @belong_cd1_emp
	AND M0020.del_datetime IS NULL

	INSERT INTO #COMBOBOX
	SELECT 
		M0020.organization_nm
	,	M0020.organization_cd_1
	,	M0020.organization_cd_2
	,	M0020.organization_cd_3
	,	M0020.organization_cd_4
	,	M0020.organization_cd_5	
	,	M0073.detail_no --hidden roww
	,	2
	FROM M0020 INNER JOIN M0073 ON(
		M0073.belong_cd1 = M0020.organization_cd_1
		AND application_date = @w_application_dt
		AND M0073.employee_cd = @P_employee_cd
		AND M0020.organization_typ = 2
	)
	WHERE M0020.company_cd				= @P_company_cd
	
	AND M0020.del_datetime IS NULL
	AND  M0073.del_datetime IS NULL
	SELECT * FROM #COMBOBOX WHERE step =2
	--[8] get combobox with  type = 3
	INSERT INTO #COMBOBOX
	SELECT 
		M0020.organization_nm
	,	M0020.organization_cd_1
	,	M0020.organization_cd_2
	,	M0020.organization_cd_3
	,	M0020.organization_cd_4
	,	M0020.organization_cd_5	
	,	0
	,	3
	FROM M0020
	WHERE M0020.company_cd				= @P_company_cd
	AND M0020.organization_typ = 3
	AND m0020.organization_cd_1 = @belong_cd1_emp
	AND m0020.organization_cd_2 = @belong_cd2_emp
	AND M0020.del_datetime IS NULL
	
	INSERT INTO #COMBOBOX
	SELECT 
		M0020.organization_nm
	,	M0020.organization_cd_1
	,	M0020.organization_cd_2
	,	M0020.organization_cd_3
	,	M0020.organization_cd_4
	,	M0020.organization_cd_5	
	,	M0073.detail_no --hidden roww
	,	3
	FROM M0020 INNER JOIN M0073 ON(
		M0073.belong_cd1 = M0020.organization_cd_1
	AND M0073.belong_cd2 = M0020.organization_cd_2
	AND application_date = @w_application_dt
	AND M0073.employee_cd = @P_employee_cd
	AND M0020.organization_typ = 3
	)
	WHERE M0020.company_cd				= @P_company_cd
	AND M0020.del_datetime IS NULL
	AND  M0073.del_datetime IS NULL
	SELECT * FROM #COMBOBOX WHERE step = 3
	--[9] get combobox with  type = 4
	INSERT INTO #COMBOBOX
	SELECT 
		M0020.organization_nm
	,	M0020.organization_cd_1
	,	M0020.organization_cd_2
	,	M0020.organization_cd_3
	,	M0020.organization_cd_4
	,	M0020.organization_cd_5	
	,	0
	,	4
	FROM M0020 
	WHERE M0020.company_cd				= @P_company_cd
	AND M0020.organization_typ = 4
	AND m0020.organization_cd_1 = @belong_cd1_emp
	AND m0020.organization_cd_2 = @belong_cd2_emp
	AND m0020.organization_cd_3 = @belong_cd3_emp
	AND M0020.del_datetime IS NULL

	INSERT INTO #COMBOBOX
	SELECT 
		M0020.organization_nm
	,	M0020.organization_cd_1
	,	M0020.organization_cd_2
	,	M0020.organization_cd_3
	,	M0020.organization_cd_4
	,	M0020.organization_cd_5	
	,	M0073.detail_no --hidden roww
	,	4
	FROM M0020 INNER JOIN M0073 ON(
		M0073.belong_cd1 = M0020.organization_cd_1
	AND M0073.belong_cd2 = M0020.organization_cd_2
	AND M0073.belong_cd3 = M0020.organization_cd_3
	AND application_date = @w_application_dt
	AND M0020.organization_typ = 4
	AND M0073.employee_cd = @P_employee_cd
	)
	WHERE M0020.company_cd				= @P_company_cd
	AND M0020.del_datetime IS NULL
	AND  M0073.del_datetime IS NULL
	SELECT * FROM #COMBOBOX WHERE step = 4
	--[10] get combobox with  type = 5
	INSERT INTO #COMBOBOX
	SELECT 
		M0020.organization_nm
	,	M0020.organization_cd_1
	,	M0020.organization_cd_2
	,	M0020.organization_cd_3
	,	M0020.organization_cd_4
	,	M0020.organization_cd_5	
	,	0
	,	5
	FROM M0020 
	WHERE M0020.company_cd				= @P_company_cd
	AND M0020.organization_typ = 5
	AND m0020.organization_cd_1 = @belong_cd1_emp
	AND m0020.organization_cd_2 = @belong_cd2_emp
	AND m0020.organization_cd_3 = @belong_cd3_emp
	AND m0020.organization_cd_4 = @belong_cd4_emp
	AND M0020.del_datetime IS NULL

	INSERT INTO #COMBOBOX
	SELECT 
		M0020.organization_nm
	,	M0020.organization_cd_1
	,	M0020.organization_cd_2
	,	M0020.organization_cd_3
	,	M0020.organization_cd_4
	,	M0020.organization_cd_5	
	,	M0073.detail_no --hidden roww
	,	5
	FROM M0020 INNER JOIN M0073 ON(
		M0073.belong_cd1 = M0020.organization_cd_1
	AND M0073.belong_cd2 = M0020.organization_cd_2
	AND M0073.belong_cd3 = M0020.organization_cd_3
	AND M0073.belong_cd4 = M0020.organization_cd_4
	AND application_date = @w_application_dt
	AND M0020.organization_typ = 5
	AND M0073.employee_cd = @P_employee_cd
	)
	WHERE M0020.company_cd				= @P_company_cd
	AND M0020.del_datetime IS NULL
	SELECT * FROM #COMBOBOX WHERE step = 5
	--[11]
	SELECT ISNULL(MAX(count_organization_cd),0)  AS count_organization_cd FROM #TABLE_M0071
	--[12]
	SELECT 
		detail_no
	,	belong_cd1
	,	belong_cd2
	,	belong_cd3
	,	belong_cd4
	,	belong_cd5
	,	position_cd
	,	arrange_order
	FROM 
		M0073 
	WHERE 
		company_cd = @P_company_cd 
	AND employee_cd = @P_employee_cd 
	AND application_date = @w_application_dt
	AND del_datetime IS NULL
	ORDER BY
		arrange_order
		select * from #TABLE_M0071  ORDER BY #TABLE_M0071.application_date DESC
		,	typ
		,	arrange_order
		,	detail_no 
	--[14]
	SELECT 
		'' AS language_cd
	,	'' AS language_name
	,	''  AS is_check
	UNION ALL
	SELECT
		M9103.language_cd AS language_cd
	,	IIF(@P_language ='en',L0014.language_name_en,L0014.language_name) AS language_name

	,	CASE WHEN ISNULL(S0010.multilingual_use_typ,0)  = 0 
			THEN ''
			ELSE ISNULL(S0010.supported_languages,'')
		END AS is_check
	FROM M9103
	LEFT JOIN L0014 ON (
	M9103.language_cd= L0014.language_cd
	)
	LEFT JOIN S0010 ON (
		M9103.company_cd = S0010.company_cd
	AND	@P_employee_cd = S0010.employee_cd
	AND M9103.language_cd = S0010.supported_languages
	)
	WHERE 
		M9103.company_cd = @P_company_cd
	AND M9103.del_datetime IS NULL
	--[15]
	SELECT 
		ISNULL(M9100.multilingual_option_use_typ,0) AS multilingual_option_use_typ
	FROM M9100
	WHERE
		company_cd = @P_company_cd
	AND M9100.del_datetime IS NULL
END
GO
