DROP PROCEDURE [dbo].[SPC_M0070_ACT2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	M0070_社員マスタ DELETE DATA
--*  
--* 作成日/create date			:	2018/08/16											
--*	作成者/creater				:	namnb						
--*   					
--*	更新日/update date			:  	2018/11/12					
--*	更新者/updater				:　 tuantv - tuantv@ans-asia.com　								     	 
--*	更新内容/update content		:	Update CR 2018/11/06	　	
--*   					
--*	更新日/update date			:  	2018/11/16					
--*	更新者/updater				:　 longvv - longvv@ans-asia.com　								     	 
--*	更新内容/update content		:	Fix IS VN
--* 
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0070_ACT2]
	-- Add the parameters for the stored procedure here
	@P_json			nvarchar(max)	=	''
	-- common
,	@P_cre_user		nvarchar(50)	=	''
,	@P_cre_ip		nvarchar(50)	=	''
,	@P_company_cd	smallint
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			int					=	0
	,	@employee_cd			nvarchar(20)
	,	@user_id				nvarchar(MAX)
	
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		SET @employee_cd			=	JSON_VALUE(@P_json,'$.employee_cd')
		SET @user_id				=	JSON_VALUE(@P_json,'$.user_id')
		IF NOT EXISTS (SELECT 1 FROM M0070 WHERE company_cd = @P_company_cd AND employee_cd = @employee_cd AND del_datetime IS NULL)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(
				21
			,	'#employee_cd'
			,	0-- oderby
			,	2-- dialog  
			,	0
			,	0
			,	'employee_cd not found'
			)
		END
		--IF NOT EXISTS (SELECT 1 FROM s0010 WHERE company_cd = @P_company_cd AND user_id = @user_id AND del_datetime IS NULL)
		--BEGIN
		--	INSERT INTO @ERR_TBL VALUES(
		--		21
		--	,	'#employee_cd'
		--	,	0-- oderby
		--	,	2-- dialog  
		--	,	0
		--	,	0
		--	,	'employee_cd not found'
		--	)
		--END
		

		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			UPDATE M0070
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd			=	@employee_cd

				UPDATE S0010
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	user_id			=	@user_id

				UPDATE M0071
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd			=	@employee_cd
				AND del_datetime IS NULL

				UPDATE M0072
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd			=	@employee_cd
				AND del_datetime IS NULL
				UPDATE M0073
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				--tab01
				UPDATE M0074
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				--tab02
				UPDATE M0075
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				--tab04
				UPDATE M0077
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				--tab05
				UPDATE M0078
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				UPDATE M0079
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				--tab08
				UPDATE M0085
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				UPDATE M0086
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				--tab11
				UPDATE M0090
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				UPDATE M0091
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				--tab10
				UPDATE M0088
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				UPDATE M0087
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				UPDATE M0093
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				UPDATE M0083
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				UPDATE M0084
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				UPDATE M0092
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL

				UPDATE M0076
				SET
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'M0070'
				,	del_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	employee_cd		=	@employee_cd
				AND del_datetime IS NULL
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END


GO
