DROP PROCEDURE [SPC_M0070_GET_AUTHORITY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	POPUP RETIRED
--*  
--* 作成日/create date			:	2020/09/25											
--*	作成者/creater				:	DatNT					
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_GET_AUTHORITY]
	@P_company_cd	AS	INT				=  0
AS
BEGIN
	--[0]
		SELECT authority_cd,authority_nm 
		FROM S0020 
		WHERE 
			company_cd = @P_company_cd 
		AND del_datetime IS NULL
		ORDER BY 
			arrange_order ASC
		,	authority_cd
	--[1]
		SELECT authority_cd,authority_nm 
		FROM S2020 
		WHERE 
			company_cd = @P_company_cd 
		AND del_datetime IS NULL
		ORDER BY 
			arrange_order ASC
		,	authority_cd
	--[2]
		SELECT authority_cd,authority_nm 
		FROM S3020 
		WHERE 
			company_cd = @P_company_cd 
		AND del_datetime IS NULL
		ORDER BY 
			arrange_order ASC
		,	authority_cd
	--[3]
		SELECT authority_cd,authority_nm 
		FROM S9020 
		WHERE 
			company_cd = @P_company_cd 
		AND del_datetime IS NULL
		ORDER BY 
			arrange_order ASC
		,	authority_cd
	--[4]
		SELECT authority_cd,authority_nm 
		FROM S4020 
		WHERE 
			company_cd = @P_company_cd 
		AND del_datetime IS NULL
		ORDER BY 
			arrange_order ASC
		,	authority_cd
		--[5]
		SELECT authority_cd,authority_nm 
		FROM S5020 
		WHERE 
			company_cd = @P_company_cd 
		AND del_datetime IS NULL
		ORDER BY 
			arrange_order ASC
		,	authority_cd
END
GO
