DROP PROCEDURE [SPC_M0070_06_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスター賞罰タブ
--*  
--*  作成日/create date			:	2024/04/01						
--*　作成者/creater				:	Quanlh								
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_06_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(10)	=	N''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	N''
AS
BEGIN	
	SET NOCOUNT ON;
	DECLARE
		@w_language							SMALLINT		=	1	--1 jp / 2 en
	,	@w_year_old							NVARCHAR(10)	=	N''
	,	@w_relationship						NVARCHAR(10)	=	N''

	SET @w_language = (SELECT S0010.language FROM S0010 
						WHERE S0010.del_datetime IS NULL
						AND S0010.company_cd	= @P_company_cd 
						AND S0010.user_id	= @P_user_id) 
	SET @w_year_old = [dbo].FNC_GET_BIRTHDAY_AGE((SELECT emergency_contact_birthday FROM M0083 WITH(NOLOCK) WHERE M0083.employee_cd = @P_employee_cd AND M0083.company_cd = @P_company_cd AND M0083.del_datetime IS NULL),NULL)
	SET @w_relationship	= (
		SELECT 
			CASE
				WHEN @w_language = 2			
				THEN IIF(ISNULL(L0010.name_english,N'') = N'',M0083.emergency_contact_relationship,L0010.name_english)
				ELSE IIF(ISNULL(L0010.name,N'') = N'',M0083.emergency_contact_relationship,L0010.name)
			END									AS relationship FROM M0083 WITH(NOLOCK)	
		LEFT JOIN L0010 WITH(NOLOCK) ON(
			M0083.emergency_contact_relationship = CONVERT(NVARCHAR(10), L0010.number_cd)
		AND	L0010.name_typ				= 63
		AND	L0010.del_datetime IS NULL
		)
		WHERE
			M0083.employee_cd = @P_employee_cd
		AND M0083.company_cd = @P_company_cd
		AND M0083.del_datetime IS NULL
		)
	--[0]
	SELECT
		M0083.owning_house_kbn				
	,	M0083.head_household					
	,	IIF((M0083.post_code != NULL OR M0083.post_code !=N''),(LEFT(M0083.post_code,3)+N'-'+RIGHT(M0083.post_code,4)),N'') AS post_code						
	,	M0083.address1						
	,	M0083.address2						
	,	M0083.address3						
	,	M0083.home_phone_number				
	,	M0083.personal_phone_number			
	,	M0083.personal_email_address			
	,	M0083.emergency_contact_name			
	,	IIF(@w_relationship = N'0',N'',@w_relationship)								AS relationship
	,	M0083.emergency_contact_relationship	AS relationship_cd
	,	ISNULL(FORMAT(M0083.emergency_contact_birthday,'yyyy/MM/dd'),N'')				AS emergency_contact_birthday
	,	IIF(M0083.emergency_contact_birthday IS NOT NULL,@w_year_old,N'')				AS	year_old
	,	IIF((M0083.emergency_contact_post_code != NULL OR M0083.emergency_contact_post_code !=N''),(LEFT(M0083.emergency_contact_post_code,3)+N'-'+RIGHT(M0083.emergency_contact_post_code,4)),N'') AS emergency_contact_post_code		
	,	M0083.emergency_contact_addres1		
	,	M0083.emergency_contact_addres2		
	,	M0083.emergency_contact_addres3		
	,	M0083.emergency_contact_phone_number	
	FROM M0083 WITH(NOLOCK)	
	LEFT JOIN L0010 WITH(NOLOCK) ON(
		M0083.emergency_contact_relationship = CONVERT(NVARCHAR(10), L0010.number_cd)
	AND	L0010.name_typ				= 63
	AND	L0010.del_datetime IS NULL
	)
	WHERE
		M0083.employee_cd = @P_employee_cd
	AND M0083.company_cd = @P_company_cd
	AND M0083.del_datetime IS NULL
END
GO
