/****** Object:  StoredProcedure [dbo].[SPC_oM0200_INQ1]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_oM0010_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_sS0020_INQ1 '1'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	[SPC_oM0200_INQ1]_充実度マスタ
--*  
--*  作成日/create date			:	2018/08/27						
--*　作成者/creater				:	DatNT								
--*   					

--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_oM0010_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_company_cd	SMALLINT		= 0
,	@P_employee_cd			NVARCHAR(10)   = ''
,	@P_1on1_authority_typ	SMALLINT	   = 0
,	@P_1on1_authority_cd	SMALLINT	   = 0
,	@P_refer_kbn			SMALLINT	   = 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@ERR_TBL			ERRTABLE
	,	@file_name			NVARCHAR(10)
	,	@check_manager		TINYINT
	,	@check_member		TINYINT
	,	@check_coach		TINYINT
	,	@contract_company_attr	INT				=	0
	SET @contract_company_attr = (SELECT contract_company_attribute  FROM M0001 WHERE company_cd = @P_company_cd AND del_datetime IS NULL)
	IF @contract_company_attr = 1
	BEGIN
		SET @P_company_cd = 0
	END
	-------check quyen
	IF(@P_1on1_authority_typ = 3 AND @P_1on1_authority_cd <> 0)
	BEGIN
		SET @check_manager = 1
	END
	ELSE
	BEGIN
		SET @check_manager = 0
	END
	IF EXISTS (SELECT 1 FROM F2001 WHERE F2001.company_cd = @P_company_cd AND F2001.employee_cd = @P_employee_cd AND F2001.del_datetime IS NULL)
	BEGIN
		SET @check_member = 1
	END
	ELSE
	BEGIN
		SET @check_member = 0
	END
	IF EXISTS (SELECT 1 FROM F2001 WHERE F2001.company_cd = @P_company_cd AND F2001.coach_cd = @P_employee_cd AND F2001.del_datetime IS NULL)
	BEGIN
		SET @check_coach = 1
	END
	ELSE
	BEGIN
		SET @check_coach = 0
	END
	-------
	CREATE TABLE #DATA(
		company_cd		int
	,	refer_kbn    	int
	,	file_cd      	smallint
	,	user_use_typ	tinyint
	,	file_nm       	nvarchar(50)
	,	title			nvarchar(50)
	,	admin_use_typ	smallint
	,	coach_use_typ 	smallint
	,	member_use_typ	smallint
	,	file_status		INT		--0:''  / 1:'New'
	,	arrange_order   INT
	)
		INSERT INTO #DATA
		SELECT 
			M2300.company_cd
		,	refer_kbn    
		,	file_cd      
		,	user_use_typ	
		,	file_nm       
		,	title			
		,	admin_use_typ
		,	coach_use_typ 
		,	member_use_typ
		,	0
		,	arrange_order
		FROM M2300
		WHERE company_cd = @P_company_cd
		AND del_datetime IS NULL
	IF @P_company_cd <> 0
	BEGIN
		-- INSERT ADDITION DATA FROM MC COMPANY
		INSERT INTO #DATA
		SELECT 
			@P_company_cd
		,	M2300.refer_kbn    
		,	M2300.file_cd      
		,	M2300.user_use_typ	
		,	M2300.file_nm       
		,	M2300.title			
		,	M2300.admin_use_typ
		,	M2300.coach_use_typ 
		,	M2300.member_use_typ
		,	1
		,	M2300.arrange_order
		FROM M2300 
		LEFT JOIN #DATA ON(
			M2300.refer_kbn		=	#DATA.refer_kbn
		AND	M2300.file_cd		=	#DATA.file_cd
		)
		WHERE M2300.company_cd	= 0
		AND M2300.refer_kbn		= 1
		AND #DATA.file_cd IS NULL
		AND del_datetime IS NULL
	END
	--[0]
		SELECT 
			 company_cd
		,	refer_kbn
		,	file_cd
		,	ISNULL(user_use_typ,1) AS user_use_typ
		,	file_nm
		,	title
		,	admin_use_typ
		,	coach_use_typ
		,	member_use_typ	
		,	file_status
		,	CASE WHEN	(@P_company_cd = 0 AND refer_kbn = 1) 
					OR	(company_cd <> 0 AND refer_kbn = 2) THEN 1 
				 WHEN	company_cd <> 0 AND refer_kbn = 1 THEN 2
				ELSE 99
			END AS btn -- 1:btn delete / 2:select box / 99: none
		,	REVERSE(SUBSTRING(REVERSE(file_nm), 0 , CHARINDEX('.',REVERSE(file_nm))))   AS character_end
		FROM #DATA
		ORDER BY company_cd asc
			,	refer_kbn	asc
			,	file_cd		asc
	--[1]
		SELECT
			ISNULL(company_cd,0)	AS  company_cd
		,	ISNULL(file_cd,0)		AS	file_cd
		,	ISNULL(user_use_typ,0)	AS  user_use_typ
		,	ISNULL(file_nm,'')		AS  file_nm
		,	ISNULL(title,'')		AS  title
		,	REVERSE(SUBSTRING(REVERSE(file_nm), 0 , CHARINDEX('.',REVERSE(file_nm))))   AS character_end
		,	REVERSE(SUBSTRING(REVERSE(file_nm),  CHARINDEX('.',REVERSE(file_nm))+1,LEN(file_nm)))   AS name_file
		,	ISNULL(refer_kbn,0)		AS  refer_kbn

		FROM M2300
		WHERE company_cd = @P_company_cd
		AND	  user_use_typ = 1
		AND   del_datetime IS NULL
		AND  (
			  (RIGHT(file_nm,3) = 'mp4')
		   OR (RIGHT(file_nm,3) = 'avi')
		   OR (RIGHT(file_nm,3) = 'wmv')
		   OR (RIGHT(file_nm,3) = 'mov')
		)
		AND (
				(@check_manager = 1 AND M2300.admin_use_typ =1)
			OR	
				(@check_member = 1 AND M2300.member_use_typ =1)
			OR	
				(@check_coach = 1 AND M2300.coach_use_typ =1)
			OR	(@P_1on1_authority_typ = 4  AND M2300.admin_use_typ =1)
			OR	( @P_1on1_authority_typ = 5 AND M2300.admin_use_typ =1)
		)
		--[2]
		SELECT
			ISNULL(company_cd,0)	AS  company_cd
		,	ISNULL(file_cd,0)		AS	file_cd
		,	ISNULL(user_use_typ,0)	AS  user_use_typ
		,	ISNULL(file_nm,'')		AS  file_nm
		,	ISNULL(title,'')		AS  title
		,	REVERSE(SUBSTRING(REVERSE(file_nm), 0 , CHARINDEX('.',REVERSE(file_nm))))   AS character_end
		,	REVERSE(SUBSTRING(REVERSE(file_nm),  CHARINDEX('.',REVERSE(file_nm))+1,LEN(file_nm)))   AS name_file
		,	ISNULL(refer_kbn,0)		AS  refer_kbn
		FROM M2300
		WHERE company_cd = @P_company_cd
		AND	  user_use_typ = 1
		AND   del_datetime IS NULL
		AND RIGHT(file_nm,3) <> 'mp4'
		AND RIGHT(file_nm,3) <> 'avi'
		AND RIGHT(file_nm,3) <> 'wmv'
		AND RIGHT(file_nm,3) <> 'mov'
		AND (
				(@check_manager = 1 AND M2300.admin_use_typ =1)
			OR	
				(@check_member = 1 AND M2300.member_use_typ =1)
			OR	
				(@check_coach = 1 AND M2300.coach_use_typ =1)
			OR	(@P_1on1_authority_typ = 4  AND M2300.admin_use_typ =1)
			OR	( @P_1on1_authority_typ = 5 AND M2300.admin_use_typ =1)
		)
END
GO

