IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_OM0010_ACT1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_OM0010_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：OM0120 - SAVE/UPDATE
 *
 *  作成日  ：2020-09-25
 *  作成者  ：ANS-ASIA datnt
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_OM0010_ACT1] 
	@P_json				NVARCHAR(MAX)
	--
,	@P_file_nm		NVARCHAR(50) = ''
,	@P_mode				NVARCHAR(50) = ''
,	@P_cre_user			NVARCHAR(50) = ''
,	@P_cre_ip			NVARCHAR(50) = ''
,	@P_company_cd		SMALLINT	 = 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@file_cd				INT				=	0
	,	@file_cd_mc				INT				=	0
	,	@refer_kbn				INT				=	2
	,	@contract_company_attr	INT				=	0
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
		GOTO COMPLETE_QUERY
	END
	
	SET @contract_company_attr = (SELECT contract_company_attribute  FROM M0001 WHERE company_cd = @P_company_cd AND del_datetime IS NULL)
	IF @contract_company_attr = 1
	BEGIN
		SET @P_company_cd = 0
		SET @refer_kbn = 1
	END
	-- GET max file_cd
	SET @file_cd = (SELECT ISNULL(MAX(file_cd),0) FROM M2300 WHERE company_cd = @P_company_cd )

	CREATE TABLE #M2300 (
		id				int identity(1,1)
	,	refer_kbn    	int
	,	file_cd      	smallint
	,	user_use_typ	tinyint
	,	file_nm       	nvarchar(50)
	,	title			nvarchar(50)
	,	admin_use_typ	smallint
	,	coach_use_typ 	smallint
	,	member_use_typ	smallint
	)
	INSERT INTO #M2300
		SELECT 
				ISNULL(refer_kbn ,0)   
			,	ISNULL(file_cd,0) 
			,	ISNULL(user_use_typ,1)
			,	ISNULL(file_nm,'')       
			,	ISNULL(title,'')			
			,	ISNULL(admin_use_typ,0)
			,	ISNULL(coach_use_typ,0)
			,	ISNULL(member_use_typ,0)
		FROM OPENJSON(@P_json, '$.list') WITH(
					refer_kbn    	int
				,	file_cd      	smallint
				,	user_use_typ	tinyint
				,	file_nm       	nvarchar(50)
				,	title			nvarchar(50)
				,	admin_use_typ	smallint
				,	coach_use_typ 	smallint
				,	member_use_typ	smallint
		)
		
	BEGIN TRANSACTION
	BEGIN TRY
		IF @P_mode = 'UPLOAD'
		BEGIN
			INSERT INTO M2300
			SELECT 
				@P_company_cd				--company_cd
			,	@refer_kbn 					--refer_kbn
			,	@file_cd + 1					--file_cd					
			,	1							--user_use_typ
			,	@P_file_nm					--file_nm
			,	''							--title
			,	0							--admin_use_typ
			,	0							--coach_use_typ
			,	0							--member_use_typ
			,	0							--arrange_order
			,	@P_cre_user
			,	@P_cre_ip
			,	'oM0010'
			,	@w_time
			,	''
			,	''
			,	''
			,	NULL
			,	''
			,	''
			,	''
			,	NULL
		END 
		IF @P_mode = 'SAVE'
		BEGIN
			UPDATE M2300
			SET 
				company_cd				=	@P_company_cd
			,	refer_kbn				=	#M2300.refer_kbn 			
			,	file_cd					=	#M2300.file_cd			
			,	user_use_typ			=	#M2300.user_use_typ			
			,	file_nm					=	#M2300.file_nm					
			,	title					=	#M2300.title					
			,	admin_use_typ			=	#M2300.admin_use_typ		
			,	coach_use_typ			=	#M2300.coach_use_typ		
			,	member_use_typ			=	#M2300.member_use_typ		
			,	arrange_order			=	0	            
			,	upd_user				=	@P_cre_user
			,	upd_ip					=	@P_cre_ip
			,	upd_prg					=	'oM0010'
			,	upd_datetime			=	@w_time
			,	del_user				=	''
			,	del_ip					=	''
			,	del_prg					=	''
			,	del_datetime			=	NULL
			FROM M2300 
			INNER JOIN #M2300 ON(
				M2300.company_cd	= @P_company_cd 
			AND M2300.refer_kbn		= #M2300.refer_kbn 
			AND M2300.file_cd		= #M2300.file_cd
			)

			INSERT INTO M2300
			SELECT 
				@P_company_cd					--company_cd
			,	#M2300.refer_kbn 				--refer_kbn
			,	#M2300.file_cd					--file_cd					
			,	#M2300.user_use_typ				--user_use_typ
			,	#M2300.file_nm					--file_nm
			,	#M2300.title					--title
			,	#M2300.admin_use_typ			--admin_use_typ
			,	#M2300.coach_use_typ			--coach_use_typ
			,	#M2300.member_use_typ			--member_use_typ
			,	0								--arrange_order
			,	@P_cre_user
			,	@P_cre_ip
			,	'oM0010'
			,	@w_time
			,	''
			,	''
			,	''
			,	NULL
			,	''
			,	''
			,	''
			,	NULL
			FROM #M2300 
			LEFT JOIN M2300 ON(
				 @P_company_cd		=	M2300.company_cd
			AND  #M2300.refer_kbn 	=	M2300.refer_kbn	
			AND  #M2300.file_cd		=	M2300.file_cd	
			)
			WHERE  M2300.company_cd IS  NULL
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN

	
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
	--[1]
	select @file_cd + 1 AS  file_cd
END

GO
