SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_I1020_ACT1] 
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_S0020_ACT1 '{}','','::1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/08/28									
--*	作成者/creater				:	SonDH						
--*   					
--*	更新日/update date			:  	2020/10/09					
--*	更新者/updater				:　 viettd 　								     	 
--*	更新内容/update content		:	upgradate ver1.7& 1on1　	
--*   					
--*  更新日/update date			:	2022/08/16
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgrade 1.9
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_I1020_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json						NVARCHAR(max)
,	@P_fiscal_year				INT					= 0
,	@P_treatment_applications_no INT				= 0
,	@P_mode						INT					= 0
,	@P_update					INT					= 0
,	@P_W_M_999					INT					= 0
,	@P_use_type_json			NVARCHAR(max)
	-- common
,	@P_cre_user					NVARCHAR(50)		= ''	
,	@P_cre_ip					NVARCHAR(50)		= ''
,	@P_company_cd				SMALLINT			= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			= SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					= 0
	,	@fiscal_year			INT					= 0
	
	--
	CREATE TABLE #DATA(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT
	,	group_cd					SMALLINT
	,	treatment_applications_no	SMALLINT
	,	detail_no					SMALLINT	
	,	sheet_cd					SMALLINT	
	,	use_typ						TINYINT
	,	[weight]					SMALLINT
	,	[uid]						NVARCHAR(50)
	)
	--
	CREATE TABLE #USE_TYPE_ZERO(
		id							INT IDENTITY(1,1)
	,	group_cd					SMALLINT
	,	treatment_applications_no	SMALLINT
	,	use_typ						TINYINT
	)
	--
	CREATE TABLE #TEMP(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT
	,	treatment_applications_no	SMALLINT
	,	group_cd					SMALLINT	
	,	sheet_cd					SMALLINT	
	,	RN							INT			
	)
	--
	CREATE TABLE #GROUP(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT
	,	treatment_applications_no	SMALLINT
	,	group_cd					SMALLINT	
	,	total_weight				INT		
	)
	--
	CREATE TABLE #F0020(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	,	group_cd					SMALLINT				
	,	treatment_applications_no	SMALLINT
	,	use_typ						TINYINT
	)
	--
	CREATE TABLE #F0020_OLD(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	,	group_cd					SMALLINT				
	,	treatment_applications_no	SMALLINT
	,	use_typ						TINYINT
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	,	del_user					NVARCHAR(50)
	,	del_ip						NVARCHAR(50)
	,	del_prg						NVARCHAR(20)
	,	del_datetime				DATETIME
	)
	--
	CREATE TABLE #F0021(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	,	group_cd					SMALLINT				
	,	treatment_applications_no	SMALLINT
	,	detail_no					SMALLINT
	,	sheet_cd					SMALLINT
	,	[weight]					SMALLINT	
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	,	del_user					NVARCHAR(50)
	,	del_ip						NVARCHAR(50)
	,	del_prg						NVARCHAR(20)
	,	del_datetime				DATETIME
	)

	--#M0110
	CREATE TABLE #M0110(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	,	challenge_level				SMALLINT				
	,	challenge_level_nm			NVARCHAR(50)
	,	betting_rate				NUMERIC(5,2)
	,	explanation					NVARCHAR(50)
	)

	--#W_M0110
	CREATE TABLE #W_M0110(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	,	challenge_level				SMALLINT				
	,	challenge_level_nm			NVARCHAR(50)
	,	betting_rate				NUMERIC(5,2)
	,	explanation					NVARCHAR(50)
	--
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	,	del_user					NVARCHAR(50)
	,	del_ip						NVARCHAR(50)
	,	del_prg						NVARCHAR(20)
	,	del_datetime				DATETIME
	)

	--#M0120
	CREATE TABLE #M0120(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	,	point_kinds					SMALLINT				
	,	point_kinds_nm				NVARCHAR(50)
	,	arrange_order				SMALLINT	
	)

	--#W_M0120
	CREATE TABLE #W_M0120(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	,	point_kinds					SMALLINT				
	,	point_kinds_nm				NVARCHAR(50)
	,	arrange_order				SMALLINT	
	--
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	,	del_user					NVARCHAR(50)
	,	del_ip						NVARCHAR(50)
	,	del_prg						NVARCHAR(20)
	,	del_datetime				DATETIME
	)

	--#M0120
	CREATE TABLE #M0121(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	,	point_kinds					SMALLINT				
	,	point_cd					SMALLINT
	,	point_nm					NVARCHAR(20)
	,	point_criteria				NVARCHAR(50)
	,	point						SMALLINT	
	)

	--#W_M0120
	CREATE TABLE #W_M0121(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	,	point_kinds					SMALLINT				
	,	point_cd					SMALLINT
	,	point_nm					NVARCHAR(20)
	,	point_criteria				NVARCHAR(50)
	,	point						SMALLINT	
	--
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	,	del_user					NVARCHAR(50)
	,	del_ip						NVARCHAR(50)
	,	del_prg						NVARCHAR(20)
	,	del_datetime				DATETIME
	)

	--#M0130
	CREATE TABLE #M0130(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	treatment_applications_no	SMALLINT
	,	fiscal_year					INT	
	,	rank_cd						SMALLINT
	,	rank_nm						NVARCHAR(10)
	,	points_from					NUMERIC(5,2)
	,	points_to					NUMERIC(5,2)
	)

	--#W_M0130
	CREATE TABLE #W_M0130(
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	treatment_applications_no	SMALLINT
	,	fiscal_year					INT	
	,	rank_cd						SMALLINT
	,	rank_nm						NVARCHAR(10)
	,	points_from					NUMERIC(5,2)
	,	points_to					NUMERIC(5,2)
	--
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	,	del_user					NVARCHAR(50)
	,	del_ip						NVARCHAR(50)
	,	del_prg						NVARCHAR(20)
	,	del_datetime				DATETIME
	)

	--#M0200
	CREATE TABLE #M0200(
		id											INT IDENTITY(1,1)
	,	company_cd									SMALLINT
	,	fiscal_year									INT
	,	sheet_cd									SMALLINT
	,	sheet_kbn									tinyint
	,	sheet_nm									nvarchar(50)
	,	sheet_ab_nm									nvarchar(10)
	,	category									smallint
	,	evaluation_period							smallint
	,	point_kinds									smallint
	,	point_calculation_typ1						smallint
	,	point_calculation_typ2						smallint
	,	evaluation_self_typ							tinyint
	,	details_feedback_typ						tinyint
	,	comments_feedback_typ						tinyint
	,	upload_file									nvarchar(50)
	,	upload_file_nm								nvarchar(50)
	,	goal_number									smallint
	,	generic_comment_display_typ_1				tinyint
	,	generic_comment_title_1						nvarchar(20)
	,	generic_comment_1							nvarchar(400)
	,	generic_comment_display_typ_2				tinyint
	,	generic_comment_title_2						nvarchar(20)
	,	generic_comment_2							nvarchar(400)
	,	generic_comment_display_typ_3				tinyint
	,	generic_comment_title_3						nvarchar(20)
	,	generic_comment_display_typ_4				tinyint
	,	generic_comment_title_4						nvarchar(20)
	,	generic_comment_display_typ_5				tinyint
	,	generic_comment_title_5						nvarchar(20)
	,	generic_comment_display_typ_6				tinyint
	,	generic_comment_title_6						nvarchar(20)
	,	generic_comment_display_typ_7				tinyint
	,	generic_comment_title_7						nvarchar(20)
	--	add by viettd 2020/10/09
	,	generic_comment_display_typ_8				tinyint
	,	generic_comment_title_8						nvarchar(20)
	,	generic_comment_8							nvarchar(400)
	,	item_title_display_typ						tinyint
	,	item_title_title							nvarchar(20)
	--
	,	item_display_typ_1							tinyint
	,	item_title_1								nvarchar(20)
	,	item_display_typ_2							tinyint
	,	item_title_2								nvarchar(20)
	,	item_display_typ_3							tinyint
	,	item_title_3								nvarchar(20)
	,	item_display_typ_4							tinyint
	,	item_title_4								nvarchar(20)
	,	item_display_typ_5							tinyint
	,	item_title_5								nvarchar(20)
	,	weight_display_typ							tinyint
	,	challenge_level_display_typ					tinyint
	--
	,	detail_self_progress_comment_display_typ	tinyint
	,	detail_self_progress_comment_title			nvarchar(50)
	,	detail_progress_comment_display_typ			tinyint		-- add by viettd 2020/10/09
	,	detail_progress_comment_title				nvarchar(50)
	,	self_progress_comment_display_typ			tinyint
	,	self_progress_comment_title					nvarchar(50)
	,	progress_comment_display_typ				tinyint
	,	progress_comment_title						nvarchar(50)
	--
	,	evaluation_display_typ						tinyint
	,	detail_comment_display_typ_0				tinyint
	,	detail_comment_display_typ_1				tinyint
	,	detail_comment_display_typ_2				tinyint
	,	detail_comment_display_typ_3				tinyint
	,	detail_comment_display_typ_4				tinyint
	,	total_score_display_typ						tinyint
	,	point_criteria_display_typ					tinyint
	,	challengelevel_criteria_display_typ			tinyint
	,	self_assessment_comment_display_typ			tinyint
	,	evaluation_comment_display_typ				tinyint
	,	arrange_order								int
	)

	--#M0200
	CREATE TABLE #W_M0200(
		id										INT IDENTITY(1,1)
	,	company_cd								SMALLINT
	,	fiscal_year								INT
	,	sheet_cd								SMALLINT
	,	sheet_kbn tinyint
	,	sheet_nm nvarchar(50)
	,	sheet_ab_nm nvarchar(10)
	,	category smallint
	,	evaluation_period smallint
	,	point_kinds smallint
	,	point_calculation_typ1 smallint
	,	point_calculation_typ2 smallint
	,	evaluation_self_typ tinyint
	,	details_feedback_typ tinyint
	,	comments_feedback_typ tinyint
	,	upload_file nvarchar(50)
	,	upload_file_nm nvarchar(50)
	,	goal_number smallint
	,	generic_comment_display_typ_1 tinyint
	,	generic_comment_title_1 nvarchar(20)
	,	generic_comment_1 nvarchar(400)
	,	generic_comment_display_typ_2 tinyint
	,	generic_comment_title_2 nvarchar(20)
	,	generic_comment_2 nvarchar(400)
	,	generic_comment_display_typ_3 tinyint
	,	generic_comment_title_3 nvarchar(20)
	,	generic_comment_display_typ_4 tinyint
	,	generic_comment_title_4 nvarchar(20)
	,	generic_comment_display_typ_5 tinyint
	,	generic_comment_title_5 nvarchar(20)
	,	generic_comment_display_typ_6 tinyint
	,	generic_comment_title_6 nvarchar(20)
	,	generic_comment_display_typ_7 tinyint
	,	generic_comment_title_7 nvarchar(20)
	--	add by viettd 2020/10/09
	,	generic_comment_display_typ_8	tinyint
	,	generic_comment_title_8			nvarchar(20)
	,	generic_comment_8				nvarchar(400)
	,	item_title_display_typ			tinyint
	,	item_title_title				nvarchar(20)
	--
	,	item_display_typ_1 tinyint
	,	item_title_1 nvarchar(20)
	,	item_display_typ_2 tinyint
	,	item_title_2 nvarchar(20)
	,	item_display_typ_3 tinyint
	,	item_title_3 nvarchar(20)
	,	item_display_typ_4 tinyint
	,	item_title_4 nvarchar(20)
	,	item_display_typ_5 tinyint
	,	item_title_5 nvarchar(20)
	,	weight_display_typ tinyint
	,	challenge_level_display_typ tinyint
	,	detail_self_progress_comment_display_typ tinyint
	,	detail_self_progress_comment_title	nvarchar(50)
	,	detail_progress_comment_display_typ	tinyint		-- add by viettd 2020/10/09
	,	detail_progress_comment_title		nvarchar(50)
	,	self_progress_comment_display_typ	tinyint
	,	self_progress_comment_title			nvarchar(50)
	,	progress_comment_display_typ tinyint --
	,	progress_comment_title				nvarchar(50)
	,	evaluation_display_typ tinyint
	,	detail_comment_display_typ_0 tinyint
	,	detail_comment_display_typ_1 tinyint
	,	detail_comment_display_typ_2 tinyint
	,	detail_comment_display_typ_3 tinyint
	,	detail_comment_display_typ_4 tinyint
	,	total_score_display_typ tinyint
	,	point_criteria_display_typ tinyint
	,	challengelevel_criteria_display_typ tinyint
	,	self_assessment_comment_display_typ tinyint
	,	evaluation_comment_display_typ tinyint
	,	arrange_order int
	--
	,	cre_user								NVARCHAR(50) 
	,	cre_ip									NVARCHAR(50) 
	,	cre_prg									NVARCHAR(20) 
	,	cre_datetime							DATETIME 
	,	upd_user								NVARCHAR(50) 
	,	upd_ip									NVARCHAR(50) 
	,	upd_prg									NVARCHAR(20) 
	,	upd_datetime							DATETIME 
	,	del_user								NVARCHAR(50) 
	,	del_ip									NVARCHAR(50) 
	,	del_prg									NVARCHAR(20) 
	,	del_datetime							DATETIME 
	)

	--#M0201
	CREATE TABLE #M0201(
		id										INT IDENTITY(1,1)
	,	company_cd								SMALLINT
	,	fiscal_year								INT
	,	sheet_cd								SMALLINT
	,	item_no									SMALLINT
	,	item_title								NVARCHAR(400)			-- add by viettd 2020/10/09
	,	item_detail_1							NVARCHAR(1000)
	,	item_detail_2							NVARCHAR(1000)
	,	item_detail_3							NVARCHAR(1000)	
	,	[weight]								SMALLINT							
	)

	--#W_M0201
	CREATE TABLE #W_M0201(
		id										INT IDENTITY(1,1)
	,	company_cd								SMALLINT
	,	fiscal_year								INT
	,	sheet_cd								SMALLINT
	,	item_no									SMALLINT
	,	item_title								NVARCHAR(400)			-- add by viettd 2020/10/09
	,	item_detail_1							NVARCHAR(1000)
	,	item_detail_2							NVARCHAR(1000)
	,	item_detail_3							NVARCHAR(1000)	
	,	[weight]								SMALLINT		
	--
	,	cre_user								NVARCHAR(50) 
	,	cre_ip									NVARCHAR(50) 
	,	cre_prg									NVARCHAR(20) 
	,	cre_datetime							DATETIME 
	,	upd_user								NVARCHAR(50) 
	,	upd_ip									NVARCHAR(50) 
	,	upd_prg									NVARCHAR(20) 
	,	upd_datetime							DATETIME 
	,	del_user								NVARCHAR(50) 
	,	del_ip									NVARCHAR(50) 
	,	del_prg									NVARCHAR(20) 
	,	del_datetime							DATETIME 					
	)
	--
	CREATE TABLE #DATA98(
		id							INT IDENTITY(1,1)
	,	treatment_applications_no	SMALLINT
	,	evaluation_period			SMALLINT
	)
	--
	CREATE TABLE #DATA98_COUNT_EVAL(
		id							INT IDENTITY(1,1)
	,	treatment_applications_no	SMALLINT
	,	total						SMALLINT
	)
	--
	CREATE TABLE #COUNT_BY_GROUP (
		group_cd SMALLINT,
		treatment_applications_no smallint,
		num_zero SMALLINT,
		total SMALLINT
	)

	-- GET DATA #DATA
	INSERT INTO #DATA
	SELECT
		@P_company_cd
	,	@P_fiscal_year
	,	ISNULL(group_cd, 0)		
	,	@P_treatment_applications_no
	,	ISNULL(detail_no,0)
	,	ISNULL(sheet_cd, 0)
	,	ISNULL(use_typ, 0)
	,	IIF([weight] = '',NULL, [weight])
	,	ISNULL([uid], 0)
	FROM OPENJSON(@P_json) WITH(
		group_cd						SMALLINT
	--,	treatment_applications_no		SMALLINT
	,	detail_no						SMALLINT
	,	sheet_cd						SMALLINT
	,	use_typ							TINYINT
	,	[weight]						NVARCHAR(50)
	,	[uid]							NVARCHAR(50)
	)
	-- COUNT zero
	INSERT INTO #COUNT_BY_GROUP
	SELECT group_cd, treatment_applications_no, 0, count(*)
	FROM #DATA
	GROUP BY #DATA.group_cd, #DATA.treatment_applications_no
	--
	UPDATE T1
	SET num_zero = T2.num_zero
	FROM #COUNT_BY_GROUP AS T1
	LEFT JOIN (
		SELECT group_cd, treatment_applications_no, count(sheet_cd) as num_zero
		FROM #DATA
		WHERE #DATA.sheet_cd = 0
		GROUP BY #DATA.group_cd, #DATA.treatment_applications_no
	) AS T2 ON (T1.group_cd = T2.group_cd AND T1.treatment_applications_no = T2.treatment_applications_no)
	--
	--select * from #DATA
	DELETE FROM #COUNT_BY_GROUP WHERE total = 1 OR num_zero IS NULL
	-- get table with use_typ = 0
	INSERT INTO #USE_TYPE_ZERO
	SELECT
		ISNULL(group_cd, 0)		
	,	@P_treatment_applications_no
	,	ISNULL(use_typ, 0)
	FROM OPENJSON(@P_use_type_json) WITH(
		group_cd						SMALLINT
	--,	treatment_applications_no		SMALLINT
	,	use_typ							TINYINT
	)


	--GET DATA #F0020
	INSERT INTO #F0020
	SELECT 
		company_cd	
	,	fiscal_year	
	,	group_cd	
	,	treatment_applications_no		
	,	0--use_typ
	FROM #DATA
	GROUP BY 
		company_cd
	,	fiscal_year	
	,	group_cd	
	,	treatment_applications_no
	--


	--GET DATA #F0020_OLD
	INSERT INTO #F0020_OLD
	SELECT 
		ISNULL(company_cd,0)					
	,	ISNULL(fiscal_year,0)					
	,	ISNULL(group_cd,0)					
	,	ISNULL(treatment_applications_no,0)
	,	ISNULL(use_typ, 0)
	,	cre_user					
	,	cre_ip	
	,	cre_prg					
	,	cre_datetime				
	,	upd_user					
	,	upd_ip		
	,	upd_prg				
	,	upd_datetime				
	,	del_user					
	,	del_ip	
	,	del_prg					
	,	del_datetime					
	FROM F0020
	WHERE 
		company_cd  = @P_company_cd
	AND fiscal_year = @P_fiscal_year
	AND del_datetime IS NULL

	--GET DATA #F0021
	INSERT INTO #F0021
	SELECT 
		ISNULL(company_cd,0)					
	,	ISNULL(fiscal_year,0)					
	,	ISNULL(group_cd,0)					
	,	ISNULL(treatment_applications_no,0)
	,	ISNULL(detail_no,0)
	,	ISNULL(sheet_cd,0)					
	,	[weight]
	,	cre_user					
	,	cre_ip			
	,	cre_prg			
	,	cre_datetime				
	,	upd_user					
	,	upd_ip	
	,	upd_prg					
	,	upd_datetime				
	,	del_user					
	,	del_ip	
	,	del_prg					
	,	del_datetime					
	FROM F0021
	WHERE 
		company_cd  = @P_company_cd
	AND fiscal_year = @P_fiscal_year
	AND del_datetime IS NULL
	--
	INSERT INTO #TEMP
	SELECT		
		company_cd
	,	fiscal_year
	,	treatment_applications_no				
	,	group_cd
	,	sheet_cd
	,	COUNT(sheet_cd)
	FROM #DATA
	GROUP BY 
		company_cd
	,	fiscal_year
	,	treatment_applications_no				
	,	group_cd
	,	sheet_cd
	HAVING COUNT(sheet_cd) > 1
	--
	INSERT INTO #GROUP
	SELECT		
		company_cd
	,	fiscal_year
	,	treatment_applications_no				
	,	group_cd
	,	SUM(weight)
	FROM #DATA
	GROUP BY 
		company_cd
	,	fiscal_year
	,	treatment_applications_no				
	,	group_cd
	--,	sheet_cd
	HAVING SUM(weight) <> 0 AND SUM(weight) <> 100

	IF 1 = 1
	BEGIN
	--GET DATA #M0110
	INSERT INTO #M0110
	SELECT 
		ISNULL(company_cd,0)				
	,	@P_fiscal_year				
	,	ISNULL(challenge_level,0)			
	,	ISNULL(challenge_level_nm,'')		
	,	ISNULL(betting_rate,0)
	,	ISNULL(explanation,'')			
	FROM M0110
	WHERE 
		del_datetime IS NULL
	AND company_cd = @P_company_cd

	--GET DATA #W_M0110
	INSERT INTO #W_M0110
	SELECT 
		ISNULL(company_cd,0)				
	,	ISNULL(fiscal_year,0)				
	,	ISNULL(challenge_level,0)			
	,	ISNULL(challenge_level_nm,'')		
	,	ISNULL(betting_rate,0)	
	,	ISNULL(W_M0110.explanation,'')		
	,	cre_user					
	,	cre_ip	
	,	cre_prg					
	,	cre_datetime				
	,	upd_user					
	,	upd_ip		
	,	upd_prg				
	,	upd_datetime				
	,	del_user					
	,	del_ip	
	,	del_prg					
	,	del_datetime
	FROM W_M0110
	WHERE 
		del_datetime IS NULL
	AND company_cd	=	@P_company_cd
	AND fiscal_year	=	@P_fiscal_year

	--GET DATA #M0120
	INSERT INTO #M0120
	SELECT
		ISNULL(company_cd,0)					
	,	@P_fiscal_year					
	,	ISNULL(point_kinds,0)					
	,	ISNULL(point_kinds_nm,'')				
	,	ISNULL(arrange_order,0)
	FROM M0120
	WHERE 
		del_datetime IS NULL
	AND company_cd = @P_company_cd
	
	--GET DATA #W_M0120
	INSERT INTO #W_M0120
	SELECT 
		ISNULL(company_cd,0)					
	,	ISNULL(fiscal_year,0)					
	,	ISNULL(point_kinds,0)					
	,	ISNULL(point_kinds_nm,'')				
	,	ISNULL(arrange_order,0)
	,	cre_user					
	,	cre_ip	
	,	cre_prg					
	,	cre_datetime				
	,	upd_user					
	,	upd_ip		
	,	upd_prg				
	,	upd_datetime				
	,	del_user					
	,	del_ip	
	,	del_prg					
	,	del_datetime
	FROM W_M0120			
	WHERE 
		del_datetime IS NULL
	AND company_cd	=	@P_company_cd
	AND fiscal_year	=	@P_fiscal_year	

	--GET DATA #M0121
	INSERT INTO #M0121
	SELECT
		ISNULL(company_cd,0)					
	,	@P_fiscal_year					
	,	ISNULL(point_kinds,0)					
	,	ISNULL(point_cd,0)				
	,	ISNULL(point_nm,'')
	,	ISNULL(point_criteria,'')
	,	ISNULL(point,0)
	FROM M0121
	WHERE 
		del_datetime IS NULL
	AND company_cd = @P_company_cd

	--GET DATA #W_M0121
	INSERT INTO #W_M0121
	SELECT
		ISNULL(company_cd,0)					
	,	ISNULL(fiscal_year,0)					
	,	ISNULL(point_kinds,0)					
	,	ISNULL(point_cd,0)				
	,	ISNULL(point_nm,'')
	,	ISNULL(point_criteria,'')
	,	ISNULL(point,0)
	,	cre_user					
	,	cre_ip	
	,	cre_prg					
	,	cre_datetime				
	,	upd_user					
	,	upd_ip		
	,	upd_prg				
	,	upd_datetime				
	,	del_user					
	,	del_ip	
	,	del_prg					
	,	del_datetime
	FROM W_M0121
	WHERE 
		del_datetime IS NULL
	AND company_cd	=	@P_company_cd
	AND fiscal_year	=	@P_fiscal_year

	--GET DATA #M0130
	INSERT INTO #M0130
	SELECT 
		ISNULL(company_cd,0)
	,	ISNULL(treatment_applications_no, 0)
	,	@P_fiscal_year
	,	ISNULL(rank_cd,0)
	,	ISNULL(rank_nm,'')
	,	points_from
	,	points_to
	FROM M0130
	WHERE 
		del_datetime IS NULL
	AND company_cd	=	@P_company_cd

	--GET DATA #W_M0130
	INSERT INTO #W_M0130
	SELECT 
		ISNULL(company_cd,0)
	,	ISNULL(treatment_applications_no, 0)
	,	ISNULL(fiscal_year,0)
	,	ISNULL(rank_cd,0)
	,	ISNULL(rank_nm,'')
	,	points_from
	,	points_to
	,	cre_user
	,	cre_ip
	,	cre_prg
	,	cre_datetime
	,	upd_user
	,	upd_ip
	,	upd_prg
	,	upd_datetime
	,	del_user
	,	del_ip
	,	del_prg
	,	del_datetime
	FROM W_M0130
	WHERE 
		del_datetime IS NULL
	AND company_cd	=	@P_company_cd
	AND fiscal_year	=	@P_fiscal_year

	--GET DATA #W_M0200
	INSERT INTO #W_M0200
	SELECT
		ISNULL(company_cd, 0)
	,	ISNULL(fiscal_year,0)
	,	ISNULL(sheet_cd, 0)
	,	ISNULL(sheet_kbn, 0)
	,	ISNULL(sheet_nm, '')
	,	ISNULL(sheet_ab_nm, '')
	,	ISNULL(category, 0)
	,	ISNULL(evaluation_period, 0)
	,	ISNULL(point_kinds, 0)
	,	ISNULL(point_calculation_typ1, 0)
	,	ISNULL(point_calculation_typ2, 0)
	,	ISNULL(evaluation_self_typ, 0) --
	,	ISNULL(details_feedback_typ, 0)
	,	ISNULL(comments_feedback_typ, 0)
	,	ISNULL(upload_file, '')
	,	ISNULL(upload_file_nm, '')
	,	ISNULL(goal_number, 0)
	,	ISNULL(generic_comment_display_typ_1, 0)
	,	ISNULL(generic_comment_title_1, '')
	,	ISNULL(generic_comment_1, '')
	,	ISNULL(generic_comment_display_typ_2, 0)
	,	ISNULL(generic_comment_title_2, '')
	,	ISNULL(generic_comment_2, '')
	,	ISNULL(generic_comment_display_typ_3, 0)
	,	ISNULL(generic_comment_title_3, '')
	,	ISNULL(generic_comment_display_typ_4, 0)
	,	ISNULL(generic_comment_title_4, '')
	,	ISNULL(generic_comment_display_typ_5, 0)
	,	ISNULL(generic_comment_title_5, '')
	,	ISNULL(generic_comment_display_typ_6, 0)
	,	ISNULL(generic_comment_title_6, '')
	,	ISNULL(generic_comment_display_typ_7, 0)
	,	ISNULL(generic_comment_title_7, '')
	--	add by viettd 2020/10/09
	,	ISNULL(generic_comment_display_typ_8,0)
	,	ISNULL(generic_comment_title_8,'')
	,	ISNULL(generic_comment_8,'')
	,	ISNULL(item_title_display_typ,0)
	,	ISNULL(item_title_title,'')
	--
	,	ISNULL(item_display_typ_1, 0)
	,	ISNULL(item_title_1, '')
	,	ISNULL(item_display_typ_2, 0)
	,	ISNULL(item_title_2, '')
	,	ISNULL(item_display_typ_3, 0)
	,	ISNULL(item_title_3, '')
	,	ISNULL(item_display_typ_4, 0)
	,	ISNULL(item_title_4, '')
	,	ISNULL(item_display_typ_5, 0)
	,	ISNULL(item_title_5, '')
	,	ISNULL(weight_display_typ, 0)
	,	ISNULL(challenge_level_display_typ, 0)
	--
	,	ISNULL(detail_self_progress_comment_display_typ, 0)
	,	ISNULL(detail_self_progress_comment_title, '')
	,	ISNULL(detail_progress_comment_display_typ,0)	-- add by viettd 2020/10/09
	,	ISNULL(detail_progress_comment_title, '')
	,	ISNULL(self_progress_comment_display_typ, 0)
	,	ISNULL(self_progress_comment_title, '')
	,	ISNULL(progress_comment_display_typ, 0)
	,	ISNULL(progress_comment_title, '')
	--
	,	ISNULL(evaluation_display_typ, 0)
	,	ISNULL(detail_comment_display_typ_0, 0)
	,	ISNULL(detail_comment_display_typ_1, 0)
	,	ISNULL(detail_comment_display_typ_2, 0)
	,	ISNULL(detail_comment_display_typ_3, 0)
	,	ISNULL(detail_comment_display_typ_4, 0)
	,	ISNULL(total_score_display_typ, 0)
	,	ISNULL(point_criteria_display_typ, 0)
	,	ISNULL(challengelevel_criteria_display_typ, 0)
	,	ISNULL(self_assessment_comment_display_typ, 0)
	,	ISNULL(evaluation_comment_display_typ, 0)
	,	ISNULL(arrange_order, 0)
	,	cre_user
	,	cre_ip
	,	cre_prg
	,	cre_datetime
	,	upd_user
	,	upd_ip
	,	upd_prg
	,	upd_datetime
	,	del_user
	,	del_ip	
	,	del_prg	
	,	del_datetime
	FROM W_M0200
	WHERE 
		del_datetime IS NULL
	AND company_cd	=	@P_company_cd
	AND fiscal_year	=	@P_fiscal_year

	--GET DATA #M0201
	INSERT INTO #M0201
	SELECT 
		ISNULL(company_cd,0)								
	,	@P_fiscal_year								
	,	ISNULL(sheet_cd,0)								
	,	ISNULL(item_no,0)		
	,	ISNULL(item_title,'')				--	add by viettd 2020/10/09					
	,	ISNULL(item_detail_1,'')							
	,	ISNULL(item_detail_2,'')							
	,	ISNULL(item_detail_3,'')							
	,	[weight]						
	FROM M0201
	WHERE 
		del_datetime IS NULL
	AND company_cd	=	@P_company_cd

	--GET DATA #W_M0201
	INSERT INTO #W_M0201
	SELECT 
		ISNULL(company_cd,0)								
	,	ISNULL(fiscal_year,0)								
	,	ISNULL(sheet_cd,0)								
	,	ISNULL(item_no,0)		
	,	ISNULL(item_title,'')				--	add by viettd 2020/10/09							
	,	ISNULL(item_detail_1,'')							
	,	ISNULL(item_detail_2,'')							
	,	ISNULL(item_detail_3,'')							
	,	[weight]
	,	cre_user					
	,	cre_ip	
	,	cre_prg					
	,	cre_datetime				
	,	upd_user					
	,	upd_ip		
	,	upd_prg				
	,	upd_datetime				
	,	del_user					
	,	del_ip	
	,	del_prg					
	,	del_datetime							
	FROM W_M0201
	WHERE 
		del_datetime IS NULL
	AND company_cd	=	@P_company_cd
	AND fiscal_year	=	@P_fiscal_year
	END
	--GET DATA #M0200
	INSERT INTO #M0200
	SELECT
		ISNULL(company_cd, 0)
	,	@P_fiscal_year
	,	ISNULL(sheet_cd, 0)
	,	ISNULL(sheet_kbn, 0) b
	,	ISNULL(sheet_nm, '')
	,	ISNULL(sheet_ab_nm, '')
	,	ISNULL(category, 0)
	,	ISNULL(evaluation_period, 0)
	,	ISNULL(point_kinds, 0)
	,	ISNULL(point_calculation_typ1, 0)
	,	ISNULL(point_calculation_typ2, 0)
	,	ISNULL(evaluation_self_typ, 0)
	,	ISNULL(details_feedback_typ, 0)
	,	ISNULL(comments_feedback_typ, 0)
	,	ISNULL(upload_file, '')
	,	ISNULL(upload_file_nm, '')
	,	ISNULL(goal_number, 0)
	,	ISNULL(generic_comment_display_typ_1, 0)
	,	ISNULL(generic_comment_title_1, '')
	,	ISNULL(generic_comment_1, '')
	,	ISNULL(generic_comment_display_typ_2, 0)
	,	ISNULL(generic_comment_title_2, '')
	,	ISNULL(generic_comment_2, '')
	,	ISNULL(generic_comment_display_typ_3, 0)
	,	ISNULL(generic_comment_title_3, '')
	,	ISNULL(generic_comment_display_typ_4, 0)
	,	ISNULL(generic_comment_title_4, '')
	,	ISNULL(generic_comment_display_typ_5, 0)
	,	ISNULL(generic_comment_title_5, '')
	,	ISNULL(generic_comment_display_typ_6, 0)
	,	ISNULL(generic_comment_title_6, '')
	,	ISNULL(generic_comment_display_typ_7, 0)
	,	ISNULL(generic_comment_title_7, '')
	--	add by viettd 2020/10/09
	,	ISNULL(generic_comment_display_typ_8,0)
	,	ISNULL(generic_comment_title_8,'')
	,	ISNULL(generic_comment_8,'')
	,	ISNULL(item_title_display_typ,0)
	,	ISNULL(item_title_title,'')
	--
	,	ISNULL(item_display_typ_1, 0)
	,	ISNULL(item_title_1, '')
	,	ISNULL(item_display_typ_2, 0)
	,	ISNULL(item_title_2, '')
	,	ISNULL(item_display_typ_3, 0)
	,	ISNULL(item_title_3, '')
	,	ISNULL(item_display_typ_4, 0)
	,	ISNULL(item_title_4, '')
	,	ISNULL(item_display_typ_5, 0)
	,	ISNULL(item_title_5, '')
	,	ISNULL(weight_display_typ, 0)
	,	ISNULL(challenge_level_display_typ, 0)
	--
	,	ISNULL(detail_self_progress_comment_display_typ, 0)
	,	ISNULL(detail_self_progress_comment_title, '')
	,	ISNULL(detail_progress_comment_display_typ,0)	-- add by viettd 2020/10/09
	,	ISNULL(detail_progress_comment_title, '')
	,	ISNULL(self_progress_comment_display_typ, 0)
	,	ISNULL(self_progress_comment_title, '')
	,	ISNULL(progress_comment_display_typ, 0)
	,	ISNULL(progress_comment_title, '')
	--
	,	ISNULL(evaluation_display_typ, 0)
	,	ISNULL(detail_comment_display_typ_0, 0)
	,	ISNULL(detail_comment_display_typ_1, 0)
	,	ISNULL(detail_comment_display_typ_2, 0)
	,	ISNULL(detail_comment_display_typ_3, 0)
	,	ISNULL(detail_comment_display_typ_4, 0)
	,	ISNULL(total_score_display_typ, 0)
	,	ISNULL(point_criteria_display_typ, 0)
	,	ISNULL(challengelevel_criteria_display_typ, 0)
	,	ISNULL(self_assessment_comment_display_typ, 0)
	,	ISNULL(evaluation_comment_display_typ, 0)
	,	ISNULL(arrange_order, 0)
	FROM M0200
	WHERE 
		del_datetime IS NULL
	AND company_cd	=	@P_company_cd
	--select * from #DATA

	--CHECK VALIDATE SHEET_CD = -1 (MESSAGE = 8)
	--IF EXISTS (SELECT 1 FROM #DATA WHERE [sheet_cd] = -1)
	--BEGIN
	--	INSERT INTO @ERR_TBL 
	--	SELECT							
	--		8				
	--	,	'.'+[uid]+' .sheet_cd'								 				
	--	,	0-- oderby						
	--	,	0			  					
	--	,	#DATA.treatment_applications_no							
	--	,	#DATA.id				
	--	,	'SHEETCD'						
	--	FROM #DATA
	--	WHERE [sheet_cd] = -1
	--END
	--CHECK VALIDATE WEIGHT = 0 (MESSAGE = 8)
	IF EXISTS (SELECT 1 FROM #DATA WHERE [weight] IS NULL) AND @P_mode = 0
	BEGIN
		INSERT INTO @ERR_TBL 
		SELECT							
			8				
		,	'.'+[uid]+' .weight'								 				
		,	0-- oderby						
		,	0			  					
		,	#DATA.treatment_applications_no							
		,	#DATA.id				
		,	'WEIGHT'						
		FROM #DATA
		WHERE [weight] IS NULL AND sheet_cd <> 0
	END
	--END VALIDATE WEIGHT = 0

	--CHECK VALIDATE TOTAL WEIGHT (MESSAGE = 37)
	--IF EXISTS(SELECT 1 FROM #GROUP)
	--BEGIN
	--	INSERT INTO @ERR_TBL 
	--	SELECT							
	--		37							
	--	,	'.'+[uid]+' .weight'								 				
	--	,	0-- oderby						
	--	,	0			  					
	--	,	#DATA.treatment_applications_no							
	--	,	#DATA.id				
	--	,	'TOTAL-WEIGHT'						
	--	FROM #GROUP
	--	INNER JOIN #DATA ON (
	--		#GROUP.company_cd					=	#DATA.company_cd
	--	AND #GROUP.fiscal_year					=	#DATA.fiscal_year
	--	AND #GROUP.treatment_applications_no	=	#DATA.treatment_applications_no
	--	AND #GROUP.group_cd						=	#DATA.group_cd
	--	)
	--END
	--END CHECK VALIDATE TOTAL WEIGHT 

	--CHECK DUPLICATE SHEET_CD (MESSAGE = 32)
	IF EXISTS(SELECT 1 FROM #TEMP) AND @P_mode = 0
	BEGIN
		INSERT INTO @ERR_TBL 
		SELECT							
			32								
		,	'.'+[uid]+' .sheet_cd'								 				
		,	0-- oderby						
		,	2			  					
		,	#DATA.treatment_applications_no							
		,	#DATA.id				
		,	'DUPLICATE'						
		FROM #TEMP
		INNER JOIN #DATA ON (
			#TEMP.company_cd					=	#DATA.company_cd
		AND #TEMP.fiscal_year					=	#DATA.fiscal_year
		AND #TEMP.treatment_applications_no		=	#DATA.treatment_applications_no
		AND #TEMP.group_cd						=	#DATA.group_cd
		AND #TEMP.sheet_cd						=	#DATA.sheet_cd
		)
	END
	ELSE BEGIN
		--CHECK VALIDATE SHEET_CD = 0 (MESSAGE = 148)
	--select sheet_cd, treatment_applications_no, group_cd from #DATA WHERE sheet_cd = 0
	--SELECT * FROM #COUNT_BY_GROUP
	IF EXISTS (SELECT 1 FROM #COUNT_BY_GROUP) AND @P_mode = 0
	BEGIN
		INSERT INTO @ERR_TBL 
		SELECT							
			149
		,	'.tbd'+CAST([group_cd] AS NVARCHAR(10))+CAST([treatment_applications_no] AS NVARCHAR(10))+' tr:first-child td:first-child div'
		,	0-- oderby
		,	3
		,	treatment_applications_no
		,	group_cd
		,	'DETECTED ZERO IN GROUP'
		FROM #COUNT_BY_GROUP
	END
	--END CHECK VALIDATE SHEET_CD = -1 (MESSAGE = 8)
	END

	INSERT INTO #DATA98
	SELECT DISTINCT
		#DATA.treatment_applications_no
	,	evaluation_period
	FROM #DATA
	INNER JOIN #M0200 AS W ON (
		@P_company_cd		=	W.company_cd
	AND	#DATA.fiscal_year	=	W.fiscal_year
	AND	#DATA.sheet_cd		=	W.sheet_cd
	)
	--
	INSERT INTO #DATA98_COUNT_EVAL
	SELECT treatment_applications_no, COUNT(evaluation_period) as total
	FROM #DATA98
	GROUP BY
		treatment_applications_no
	HAVING
		COUNT(evaluation_period) > 1
	--
	IF NOT EXISTS (SELECT 1 FROM @ERR_TBL) AND EXISTS (
		SELECT TOP 1 treatment_applications_no, total
		FROM #DATA98_COUNT_EVAL
	) AND @P_mode = 0
	BEGIN
		DECLARE @results NVARCHAR(500)
		--
		SELECT @results = coalesce(@results + ',', '') + '#tab' + convert(NVARCHAR(12), treatment_applications_no)
		FROM #DATA98_COUNT_EVAL
		ORDER BY treatment_applications_no
		--
		INSERT INTO @ERR_TBL 
		SELECT							
			98								
		,	'.sheet_cd'								 				
		,	0-- oderby						
		,	1			  					
		,	0
		,	0
		,	@results
	END

	IF EXISTS(SELECT 1 FROM @ERR_TBL) GOTO COMPLETE_QUERY
	--END CHECK DUPLICATE 

	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			IF @P_mode = 0
			BEGIN
				IF EXISTS (SELECT 1 FROM F0020 
									WHERE 
										 company_cd	 = @P_company_cd
									AND	 fiscal_year = @P_fiscal_year
									AND  del_datetime IS NULL
							)
				BEGIN
					--DELETE F0020
					DELETE FROM F0020 WHERE company_cd = @P_company_cd AND fiscal_year = @P_fiscal_year AND treatment_applications_no = @P_treatment_applications_no
					--UPDATE F0020
					INSERT INTO F0020
					SELECT 
						#F0020.company_cd
					,	#F0020.fiscal_year					
					,	#F0020.group_cd					
					,	#F0020.treatment_applications_no
					,	1
					,	#F0020_OLD.cre_user
					,	#F0020_OLD.cre_ip
					,	#F0020_OLD.cre_prg
					,	#F0020_OLD.cre_datetime
					,	@P_cre_user	
					,	@P_cre_ip	
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #F0020
					INNER JOIN #F0020_OLD ON (
						#F0020.company_cd					=	#F0020_OLD.company_cd
					AND	#F0020.fiscal_year					=	#F0020_OLD.fiscal_year
					AND #F0020.group_cd						=	#F0020_OLD.group_cd
					AND #F0020.treatment_applications_no	=	#F0020_OLD.treatment_applications_no
					)
					WHERE 
						#F0020_OLD.company_cd IS NOT NULL
					--DELETE #F0020
					DELETE #F0020 
						FROM #F0020 
						INNER JOIN #F0020_OLD ON (
							#F0020.company_cd					=	#F0020_OLD.company_cd
						AND	#F0020.fiscal_year					=	#F0020_OLD.fiscal_year
						AND #F0020.group_cd						=	#F0020_OLD.group_cd
						AND #F0020.treatment_applications_no	=	#F0020_OLD.treatment_applications_no	
						)
						WHERE #F0020_OLD.company_cd IS NOT NULL
					--INSERT NEW F0020
					INSERT INTO F0020
					SELECT 
						#F0020.company_cd	
					,	#F0020.fiscal_year	
					,	#F0020.group_cd	
					,	#F0020.treatment_applications_no			
					,	1
					,	@P_cre_user	
					,	@P_cre_ip	
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #F0020
					--DELETE F0021
					DELETE FROM F0021 WHERE company_cd = @P_company_cd AND fiscal_year = @P_fiscal_year AND treatment_applications_no = @P_treatment_applications_no
					--UDPATE F0021
					INSERT INTO F0021
					SELECT 
						#DATA.company_cd
					,	#DATA.fiscal_year					
					,	#DATA.group_cd					
					,	#DATA.treatment_applications_no	
					,	#DATA.detail_no
					,	#DATA.sheet_cd					
					,	#DATA.[weight]			
					,	#F0021.cre_user
					,	#F0021.cre_ip
					,	#F0021.cre_prg
					,	#F0021.cre_datetime
					,	@P_cre_user	
					,	@P_cre_ip	
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #DATA
					INNER JOIN #F0021 ON (
						#DATA.company_cd					=		#F0021.company_cd				
					AND	#DATA.fiscal_year					=		#F0021.fiscal_year				
					AND #DATA.group_cd						=		#F0021.group_cd					
					AND #DATA.treatment_applications_no		=		#F0021.treatment_applications_no
					--AND #DATA.sheet_cd						=		#F0021.sheet_cd					
					AND #DATA.detail_no						=		#F0021.detail_no
					)
					WHERE #F0021.company_cd IS NOT NULL
					--DELETE #DATA
					DELETE #DATA 
						FROM #DATA 
						INNER JOIN #F0021 ON (
							#DATA.company_cd				=		#F0021.company_cd				
						AND	#DATA.fiscal_year				=		#F0021.fiscal_year				
						AND #DATA.group_cd					=		#F0021.group_cd					
						AND #DATA.treatment_applications_no	=		#F0021.treatment_applications_no
						--AND #DATA.sheet_cd					=		#F0021.sheet_cd		
						AND #DATA.detail_no					=		#F0021.detail_no			
						)
						WHERE #F0021.company_cd IS NOT NULL
					--INSERT NEW F0021
					INSERT INTO F0021
					SELECT 
						#DATA.company_cd
					,	#DATA.fiscal_year					
					,	#DATA.group_cd					
					,	#DATA.treatment_applications_no	
					,	#DATA.detail_no
					,	#DATA.sheet_cd					
					,	#DATA.[weight]			
					,	@P_cre_user	
					,	@P_cre_ip
					,	'I1020'	
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #DATA
				END
				ELSE
				BEGIN
					--INSERT NEW F0020
					INSERT INTO F0020
					SELECT 
						#F0020.company_cd	
					,	#F0020.fiscal_year	
					,	#F0020.group_cd	
					,	#F0020.treatment_applications_no
					,	1
					,	@P_cre_user	
					,	@P_cre_ip
					,	'I1020'	
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #F0020
					--INSERT NEW F0021
					INSERT INTO F0021
					SELECT 
						#DATA.company_cd
					,	#DATA.fiscal_year					
					,	#DATA.group_cd					
					,	#DATA.treatment_applications_no	
					,	#DATA.detail_no
					,	#DATA.sheet_cd					
					,	#DATA.[weight]			
					,	@P_cre_user	
					,	@P_cre_ip	
					,	'I1020'	
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #DATA
					LEFT OUTER JOIN F0021 ON (
						#DATA.company_cd = F0021.company_cd
					AND	#DATA.fiscal_year = F0021.fiscal_year
					AND	#DATA.group_cd	 = F0021.group_cd				
					AND	#DATA.treatment_applications_no	 = F0021.treatment_applications_no
					AND	#DATA.detail_no = F0021.detail_no
					)
					WHERE
						F0021.company_cd IS NULL
				END
				-- update use_type
				UPDATE T1
				SET use_typ = 0
				FROM F0020 AS T1
				INNER JOIN #USE_TYPE_ZERO AS T2 ON (
					T1.company_cd					=	@P_company_cd
				AND	T1.fiscal_year					=	@P_fiscal_year
				AND	T1.group_cd						=	T2.group_cd
				AND	T1.treatment_applications_no	=	T2.treatment_applications_no
				)

				IF @P_W_M_999 = 1
				BEGIN
					--#W_M0110
					DELETE FROM W_M0110 WHERE company_cd = @P_company_cd AND fiscal_year = @P_fiscal_year
					--UPDATE
					INSERT INTO W_M0110
					SELECT
						#M0110.company_cd
					,	#M0110.fiscal_year
					,	#M0110.challenge_level
					,	#M0110.challenge_level_nm
					,	#M0110.betting_rate
					,	#M0110.explanation
					,	#W_M0110.cre_user
					,	#W_M0110.cre_ip
					,	#W_M0110.cre_prg
					,	#W_M0110.cre_datetime
					,	@P_cre_user
					,	@P_cre_ip
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #M0110
					INNER JOIN #W_M0110 ON (
						#M0110.company_cd		=	#W_M0110.company_cd
					AND	#M0110.fiscal_year		=	#W_M0110.fiscal_year
					AND #M0110.challenge_level	=	#W_M0110.challenge_level
					)
					--INSERT NEW
					INSERT INTO W_M0110
					SELECT
						#M0110.company_cd
					,	#M0110.fiscal_year
					,	#M0110.challenge_level
					,	#M0110.challenge_level_nm
					,	#M0110.betting_rate
					,	#M0110.explanation
					,	@P_cre_user
					,	@P_cre_ip
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #M0110
					LEFT JOIN #W_M0110 ON (
						#M0110.company_cd		=	#W_M0110.company_cd
					AND	#M0110.fiscal_year		=	#W_M0110.fiscal_year
					AND #M0110.challenge_level	=	#W_M0110.challenge_level
					)
					WHERE 
						#W_M0110.challenge_level IS NULL
				
					--#W_M0120
					DELETE FROM W_M0120 WHERE company_cd = @P_company_cd AND fiscal_year = @P_fiscal_year
					--UPDATE
					INSERT INTO W_M0120
					SELECT
						#M0120.company_cd
					,	#M0120.fiscal_year
					,	#M0120.point_kinds
					,	#M0120.point_kinds_nm
					,	#M0120.arrange_order
					,	#W_M0120.cre_user
					,	#W_M0120.cre_ip
					,	#W_M0120.cre_prg
					,	#W_M0120.cre_datetime
					,	@P_cre_user
					,	@P_cre_ip
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #M0120
					INNER JOIN #W_M0120 ON (
						#M0120.company_cd	=	#W_M0120.company_cd
					AND #M0120.fiscal_year	=	#W_M0120.fiscal_year
					AND #M0120.point_kinds	=	#W_M0120.point_kinds
					)
					--INSERT NEW
					INSERT INTO W_M0120
					SELECT
						#M0120.company_cd
					,	#M0120.fiscal_year
					,	#M0120.point_kinds
					,	#M0120.point_kinds_nm
					,	#M0120.arrange_order
					,	@P_cre_user
					,	@P_cre_ip
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #M0120
					LEFT JOIN #W_M0120 ON (
						#M0120.company_cd	=	#W_M0120.company_cd
					AND #M0120.fiscal_year	=	#W_M0120.fiscal_year
					AND #M0120.point_kinds	=	#W_M0120.point_kinds
					)
					WHERE
						#W_M0120.point_kinds IS NULL
			
					--W_M0121
					DELETE FROM W_M0121 WHERE company_cd = @P_company_cd AND fiscal_year = @P_fiscal_year
					--UPDATE 
					INSERT INTO W_M0121
					SELECT
						#M0121.company_cd
					,	#M0121.fiscal_year
					,	#M0121.point_kinds
					,	#M0121.point_cd
					,	#M0121.point_nm
					,	#M0121.point_criteria
					,	#M0121.point
					,	#W_M0121.cre_user
					,	#W_M0121.cre_ip
					,	#W_M0121.cre_prg
					,	#W_M0121.cre_datetime
					,	@P_cre_user
					,	@P_cre_ip
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #M0121
					INNER JOIN #W_M0121 ON (
						#M0121.company_cd	=	#W_M0121.company_cd
					AND	#M0121.fiscal_year	=	#W_M0121.fiscal_year
					AND	#M0121.point_kinds	=	#W_M0121.point_kinds
					AND #M0121.point_cd		=	#W_M0121.point_cd
					)
					--INSERT NEW
					INSERT INTO W_M0121
					SELECT
						#M0121.company_cd
					,	#M0121.fiscal_year
					,	#M0121.point_kinds
					,	#M0121.point_cd
					,	#M0121.point_nm
					,	#M0121.point_criteria
					,	#M0121.point
					,	@P_cre_user
					,	@P_cre_ip
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #M0121
					LEFT JOIN #W_M0121 ON (
						#M0121.company_cd	=	#W_M0121.company_cd
					AND	#M0121.fiscal_year	=	#W_M0121.fiscal_year
					AND	#M0121.point_kinds	=	#W_M0121.point_kinds
					AND #M0121.point_cd		=	#W_M0121.point_cd
					)
					WHERE 
						#W_M0121.point_cd IS NULL

					--W_M0130
					DELETE FROM W_M0130 WHERE company_cd = @P_company_cd AND fiscal_year = @P_fiscal_year
					--UPDATE
					INSERT INTO W_M0130
					SELECT 
						#M0130.company_cd
					,	#M0130.fiscal_year
					,	#M0130.treatment_applications_no
					,	#M0130.rank_cd
					,	#M0130.rank_nm
					,	#M0130.points_from
					,	#M0130.points_to
					,	#W_M0130.cre_user
					,	#W_M0130.cre_ip
					,	#W_M0130.cre_prg
					,	#W_M0130.cre_datetime
					,	@P_cre_user
					,	@P_cre_ip
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #M0130
					INNER JOIN #W_M0130 ON (
						#M0130.company_cd	=	#W_M0130.company_cd
					AND	#M0130.fiscal_year	=	#W_M0130.fiscal_year
					AND	#M0130.treatment_applications_no	=	#W_M0130.treatment_applications_no
					AND	#M0130.rank_cd		=	#W_M0130.rank_cd
					)
					--INSERT NEW
					INSERT INTO W_M0130
					SELECT 
						#M0130.company_cd
					,	#M0130.fiscal_year
					,	#M0130.treatment_applications_no
					,	#M0130.rank_cd
					,	#M0130.rank_nm
					,	#M0130.points_from
					,	#M0130.points_to
					,	@P_cre_user
					,	@P_cre_ip
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL
					FROM #M0130
					LEFT JOIN #W_M0130 ON (
						#M0130.company_cd	=	#W_M0130.company_cd
					AND	#M0130.fiscal_year	=	#W_M0130.fiscal_year
					AND	#M0130.treatment_applications_no	=	#W_M0130.treatment_applications_no
					AND	#M0130.rank_cd		=	#W_M0130.rank_cd
					)
					WHERE 
						#W_M0130.rank_cd IS NULL
					--W_M0200
					DELETE FROM W_M0200 WHERE company_cd = @P_company_cd AND fiscal_year = @P_fiscal_year
					--UPDATE
					INSERT INTO W_M0200
					SELECT
						#M0200.company_cd
					,	#M0200.fiscal_year
					,	#M0200.sheet_cd
					,	#M0200.sheet_kbn
					,	#M0200.sheet_nm
					,	#M0200.sheet_ab_nm
					,	#M0200.category
					,	#M0200.evaluation_period
					,	#M0200.point_kinds
					,	#M0200.point_calculation_typ1
					,	#M0200.point_calculation_typ2
					,	#M0200.evaluation_self_typ
					,	#M0200.details_feedback_typ
					,	#M0200.comments_feedback_typ
					,	#M0200.upload_file
					,	#M0200.upload_file_nm
					,	#M0200.goal_number
					,	#M0200.generic_comment_display_typ_1
					,	#M0200.generic_comment_title_1
					,	#M0200.generic_comment_1
					,	#M0200.generic_comment_display_typ_2
					,	#M0200.generic_comment_title_2
					,	#M0200.generic_comment_2
					,	#M0200.generic_comment_display_typ_3
					,	#M0200.generic_comment_title_3
					,	#M0200.generic_comment_display_typ_4
					,	#M0200.generic_comment_title_4
					,	#M0200.generic_comment_display_typ_5
					,	#M0200.generic_comment_title_5
					,	#M0200.generic_comment_display_typ_6
					,	#M0200.generic_comment_title_6
					,	#M0200.generic_comment_display_typ_7
					,	#M0200.generic_comment_title_7
					--
					,	#M0200.generic_comment_display_typ_8
					,	#M0200.generic_comment_title_8
					,	#M0200.generic_comment_8
					,	#M0200.item_title_display_typ
					,	#M0200.item_title_title
					--
					,	#M0200.item_display_typ_1
					,	#M0200.item_title_1
					,	#M0200.item_display_typ_2
					,	#M0200.item_title_2
					,	#M0200.item_display_typ_3
					,	#M0200.item_title_3
					,	#M0200.item_display_typ_4
					,	#M0200.item_title_4
					,	#M0200.item_display_typ_5
					,	#M0200.item_title_5
					,	#M0200.weight_display_typ
					,	#M0200.challenge_level_display_typ
					--
					,	#M0200.detail_self_progress_comment_display_typ
					,	#M0200.detail_self_progress_comment_title
					,	#M0200.detail_progress_comment_display_typ		-- add by viettd 2020/10/09
					,	#M0200.detail_progress_comment_title
					,	#M0200.self_progress_comment_display_typ
					,	#M0200.self_progress_comment_title
					,	#M0200.progress_comment_display_typ
					,	#M0200.progress_comment_title
					--
					,	#M0200.evaluation_display_typ
					,	#M0200.detail_comment_display_typ_0
					,	#M0200.detail_comment_display_typ_1
					,	#M0200.detail_comment_display_typ_2
					,	#M0200.detail_comment_display_typ_3
					,	#M0200.detail_comment_display_typ_4
					,	#M0200.total_score_display_typ
					,	#M0200.point_criteria_display_typ
					,	#M0200.challengelevel_criteria_display_typ
					,	#M0200.self_assessment_comment_display_typ
					,	#M0200.evaluation_comment_display_typ
					,	#M0200.arrange_order
					,	#W_M0200.cre_user
					,	#W_M0200.cre_ip
					,	#W_M0200.cre_prg
					,	#W_M0200.cre_datetime
					,	@P_cre_user
					,	@P_cre_ip
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL			
					FROM #M0200
					INNER JOIN #W_M0200 ON (
						#M0200.company_cd	=	#W_M0200.company_cd
					AND	#M0200.fiscal_year	=	#W_M0200.fiscal_year
					AND	#M0200.sheet_cd		=	#W_M0200.sheet_cd
					)
					--INSERT NEW
					INSERT INTO W_M0200
					SELECT
						#M0200.company_cd
					,	#M0200.fiscal_year
					,	#M0200.sheet_cd
					,	#M0200.sheet_kbn
					,	#M0200.sheet_nm
					,	#M0200.sheet_ab_nm
					,	#M0200.category
					,	#M0200.evaluation_period
					,	#M0200.point_kinds
					,	#M0200.point_calculation_typ1
					,	#M0200.point_calculation_typ2
					,	#M0200.evaluation_self_typ
					,	#M0200.details_feedback_typ
					,	#M0200.comments_feedback_typ
					,	#M0200.upload_file
					,	#M0200.upload_file_nm
					,	#M0200.goal_number
					,	#M0200.generic_comment_display_typ_1
					,	#M0200.generic_comment_title_1
					,	#M0200.generic_comment_1
					,	#M0200.generic_comment_display_typ_2
					,	#M0200.generic_comment_title_2
					,	#M0200.generic_comment_2
					,	#M0200.generic_comment_display_typ_3
					,	#M0200.generic_comment_title_3
					,	#M0200.generic_comment_display_typ_4
					,	#M0200.generic_comment_title_4
					,	#M0200.generic_comment_display_typ_5
					,	#M0200.generic_comment_title_5
					,	#M0200.generic_comment_display_typ_6
					,	#M0200.generic_comment_title_6
					,	#M0200.generic_comment_display_typ_7
					,	#M0200.generic_comment_title_7
					--
					,	#M0200.generic_comment_display_typ_8
					,	#M0200.generic_comment_title_8
					,	#M0200.generic_comment_8
					,	#M0200.item_title_display_typ
					,	#M0200.item_title_title
					--
					,	#M0200.item_display_typ_1
					,	#M0200.item_title_1
					,	#M0200.item_display_typ_2
					,	#M0200.item_title_2
					,	#M0200.item_display_typ_3
					,	#M0200.item_title_3
					,	#M0200.item_display_typ_4
					,	#M0200.item_title_4
					,	#M0200.item_display_typ_5
					,	#M0200.item_title_5
					,	#M0200.weight_display_typ
					,	#M0200.challenge_level_display_typ
					--
					,	#M0200.detail_self_progress_comment_display_typ
					,	#M0200.detail_self_progress_comment_title
					,	#M0200.detail_progress_comment_display_typ		-- add by viettd 2020/10/09
					,	#M0200.detail_progress_comment_title
					,	#M0200.self_progress_comment_display_typ
					,	#M0200.self_progress_comment_title
					,	#M0200.progress_comment_display_typ
					,	#M0200.progress_comment_title
					--
					,	#M0200.evaluation_display_typ
					,	#M0200.detail_comment_display_typ_0
					,	#M0200.detail_comment_display_typ_1
					,	#M0200.detail_comment_display_typ_2
					,	#M0200.detail_comment_display_typ_3
					,	#M0200.detail_comment_display_typ_4
					,	#M0200.total_score_display_typ
					,	#M0200.point_criteria_display_typ
					,	#M0200.challengelevel_criteria_display_typ
					,	#M0200.self_assessment_comment_display_typ
					,	#M0200.evaluation_comment_display_typ
					,	#M0200.arrange_order
					,	@P_cre_user
					,	@P_cre_ip
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL	
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL			
					FROM #M0200
					LEFT JOIN #W_M0200 ON (
						#M0200.company_cd	=	#W_M0200.company_cd
					AND	#M0200.fiscal_year	=	#W_M0200.fiscal_year
					AND	#M0200.sheet_cd		=	#W_M0200.sheet_cd
					)
					WHERE 
						#W_M0200.sheet_cd IS NULL
					--W_M0201
					DELETE FROM W_M0201 WHERE company_cd = @P_company_cd AND fiscal_year = @P_fiscal_year
					--UPDATE
					INSERT INTO W_M0201
					SELECT
						#M0201.company_cd					
					,	#M0201.fiscal_year					
					,	#M0201.sheet_cd					
					,	#M0201.item_no		
					,	#M0201.item_title				
					,	#M0201.item_detail_1				
					,	#M0201.item_detail_2				
					,	#M0201.item_detail_3				
					,	#M0201.[weight]			
					,	#W_M0201.cre_user
					,	#W_M0201.cre_ip
					,	#W_M0201.cre_prg
					,	#W_M0201.cre_datetime
					,	@P_cre_user
					,	@P_cre_ip
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL					
					FROM #M0201
					INNER JOIN #W_M0201 ON (
						#M0201.company_cd	=	#W_M0201.company_cd
					AND	#M0201.fiscal_year	=	#W_M0201.fiscal_year
					AND	#M0201.sheet_cd		=	#W_M0201.sheet_cd
					AND	#M0201.item_no		=	#W_M0201.item_no
					)
					--INSERT NEW
					INSERT INTO W_M0201
					SELECT
						#M0201.company_cd					
					,	#M0201.fiscal_year					
					,	#M0201.sheet_cd					
					,	#M0201.item_no			
					,	#M0201.item_title			
					,	#M0201.item_detail_1				
					,	#M0201.item_detail_2				
					,	#M0201.item_detail_3				
					,	#M0201.[weight]			
					,	@P_cre_user
					,	@P_cre_ip
					,	'I1020'
					,	@w_time
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL			
					,	SPACE(0)
					,	SPACE(0)
					,	SPACE(0)
					,	NULL					
					FROM #M0201
					LEFT JOIN #W_M0201 ON (
						#M0201.company_cd	=	#W_M0201.company_cd
					AND	#M0201.fiscal_year	=	#W_M0201.fiscal_year
					AND	#M0201.sheet_cd		=	#W_M0201.sheet_cd
					AND	#M0201.item_no		=	#W_M0201.item_no
					)
					WHERE
						#W_M0201.item_no IS NULL
					END
				END
		END
		-- drop table
		DROP TABLE #DATA98, #DATA98_COUNT_EVAL
		DROP TABLE #COUNT_BY_GROUP, #USE_TYPE_ZERO
		--
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	--[1]
	SELECT * FROM @ERR_TBL WHERE message_no = 98
END

GO