/****** Object:  StoredProcedure [dbo].[SPC_I1020_INQ2]    Script Date: 2018/11/29 15:15:13 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_I1020_INQ2]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_I1020_INQ2 '1','2018'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	I1020
--*  
--*  作成日/create date			:	2018/09/26						
--*　作成者/creater				:	SonDH								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_I1020_INQ2]
	-- Add the parameters for the stored procedure here	
	@P_fiscal_year			INT				= 0
,	@P_company_cd			SMALLINT		= 0
AS
BEGIN
SET NOCOUNT ON;
	--
	SELECT
		ISNULL(company_cd,0)					AS company_cd
	,	fiscal_year								AS fiscal_year
	,	ISNULL(treatment_applications_no,0)		AS treatment_applications_no
	,	ISNULL(use_typ,0)						AS use_typ
	FROM F0011
	WHERE
		company_cd		=	@P_company_cd
	AND	fiscal_year		=	@P_fiscal_year
	AND del_datetime IS NULL
	AND use_typ = 0
END

GO
