SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_I1020_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_I1020_INQ1 '1','2018'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	I1020
--*  
--*  作成日/create date			:	2018/09/26						
--*　作成者/creater				:	SonDH								
--*   					
--*  更新日/update date			:	2022/03/10
--*　更新者/updater				:　	VietDT
--*　更新内容/update content		:	CR sheet_cd=0 =>input = 0 and disabled 
--*   					
--*  更新日/update date			:	2022/08/16
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgrade 1.9
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_I1020_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_fiscal_year			INT				= 0
,	@P_company_cd			SMALLINT		= 0
,	@P_check_fiscal			SMALLINT		= 0
,	@P_check_treatment			SMALLINT		= 0
,	@P_treatment_applications_no SMALLINT		= 0
AS
BEGIN
SET NOCOUNT ON;
	DECLARE
		@beginning_date		DATE			= NULL
	,	@fiscal_year		INT				= NULL
	,	@w_time				DATE			= SYSDATETIME()
	,	@start_date			DATE			= NULL
	,	@w_btn				NVARCHAR(50)	= ''
	,	@w_text				NVARCHAR(50)	= ''
	--
	CREATE TABLE #F0010 (
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	)
	CREATE TABLE #MAIN (
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	,	treatment_applications_no	SMALLINT
	,	treatment_applications_nm	NVARCHAR(50)
	,	group_cd					SMALLINT	
	,	group_nm					NVARCHAR(50)
	,	use_typ						INT
	)
	--
	CREATE TABLE #RESULT (
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	,	treatment_applications_no	SMALLINT
	,	treatment_applications_nm	NVARCHAR(50)
	,	group_cd					SMALLINT	
	,	group_nm					NVARCHAR(50)
	,	detail_no					SMALLINT
	,	sheet_cd					SMALLINT
	,	[weight]					NVARCHAR(50)	
	)
	--
	CREATE TABLE #TEMP (
		id							INT IDENTITY(1,1)
	,	company_cd					SMALLINT
	,	fiscal_year					INT	
	,	treatment_applications_no	SMALLINT
	,	group_cd					SMALLINT	
	,	group_nm					NVARCHAR(50)
	,	count_row					INT
	)
	--INSERT INTO #F0010
	INSERT INTO #F0010
	SELECT 
		F0010.company_cd
	,	F0010.fiscal_year
	FROM F0010
	WHERE 
		F0010.company_cd	=	@P_company_cd
	AND	F0010.del_datetime	IS NULL
	ORDER BY F0010.fiscal_year DESC
	--2019/01/09
	SET @beginning_date = (SELECT beginning_date FROM M9100 WHERE company_cd = @P_company_cd)
	IF @beginning_date IS NOT NULL
	BEGIN
		SET @start_date = CAST((FORMAT(@w_time,'yyyy') + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		IF(@w_time < @start_date)
		BEGIN 
			SET @fiscal_year =  FORMAT(DATEADD(YYYY,-1,@w_time),'yyyy')
		END
		ELSE
		BEGIN
			SET @fiscal_year = FORMAT(@start_date,'yyyy')
		END
	END
	ELSE
	BEGIN 
		SET @start_date		= CAST((FORMAT(@w_time,'yyyy') + '/01/01') AS DATE)
		IF(@w_time < @start_date)
		BEGIN 
			SET @fiscal_year =  FORMAT(DATEADD(YYYY,-1,@w_time),'yyyy')
		END
		ELSE
		BEGIN
			SET @fiscal_year = FORMAT(@start_date,'yyyy')
		END
	END
	IF NOT EXISTS (SELECT 1 FROM #F0010 WHERE fiscal_year = @fiscal_year)
	BEGIN
		SET @fiscal_year	=	(SELECT fiscal_year FROM #F0010 WHERE id = 1)
	END
	 
	--
	IF (@P_check_fiscal = 1)
	BEGIN
		SET @fiscal_year = @P_fiscal_year
	END

	--
	INSERT INTO #MAIN
	SELECT 
		ISNULL(M0102.company_cd,0)
	,	ISNULL(@fiscal_year,0)
	,	ISNULL(M0102.detail_no,0)
	,	ISNULL(M0102.treatment_applications_nm,'')
	,	ISNULL(M0150.group_cd,0)
	,	ISNULL(M0150.group_nm,'')
	,	ISNULL(F0011.use_typ,0)
	FROM M0102
	LEFT JOIN F0011 ON (
		M0102.company_cd	=	F0011.company_cd
	AND @fiscal_year		=	F0011.fiscal_year
	AND M0102.detail_no		=	F0011.treatment_applications_no
	)
	LEFT JOIN M0150 ON (
		M0102.company_cd	=	M0150.company_cd
	AND M0150.del_datetime IS NULL
	)
	WHERE 
		M0102.company_cd	=	@P_company_cd
	AND M0102.del_datetime IS NULL
	AND F0011.use_typ = 1
	AND F0011.sheet_use_typ = 1
	AND F0011.del_datetime IS NULL
	ORDER BY 
		M0102.company_cd
	,	M0102.detail_no
	,	M0150.arrange_order
	,	M0150.group_cd
	--
	IF (@P_check_treatment = 0)
	BEGIN
		SET @P_treatment_applications_no = (select top 1 treatment_applications_no from #MAIN)
	END
	--
	INSERT INTO #RESULT
	SELECT 
		ISNULL(#MAIN.company_cd,0)
	,	ISNULL(#MAIN.fiscal_year,0)
	,	ISNULL(#MAIN.treatment_applications_no,0)
	,	ISNULL(#MAIN.treatment_applications_nm,'')
	,	ISNULL(#MAIN.group_cd,0)
	,	ISNULL(#MAIN.group_nm,'')
	,	ISNULL(F0021.detail_no,0)
	,	ISNULL(F0021.sheet_cd,0)
	,	F0021.[weight]
	FROM #MAIN
	LEFT JOIN F0020 ON (
		#MAIN.company_cd					=	F0020.company_cd
	AND #MAIN.fiscal_year					=	F0020.fiscal_year
	AND #MAIN.group_cd						=	F0020.group_cd
	AND #MAIN.treatment_applications_no		=	F0020.treatment_applications_no
	AND F0020.del_datetime IS NULL
	)
	LEFT JOIN F0021 ON (
		F0020.company_cd				=	F0021.company_cd
	AND	F0020.fiscal_year				=	F0021.fiscal_year
	AND	F0020.group_cd					=	F0021.group_cd
	AND	F0020.treatment_applications_no	=	F0021.treatment_applications_no
	)
	WHERE
		#MAIN.treatment_applications_no = @P_treatment_applications_no
	--
	INSERT INTO #TEMP
	SELECT 
		company_cd					
	,	fiscal_year					
	,	treatment_applications_no	
	,	group_cd	
	,	group_nm
	,	COUNT(group_cd)
	FROM #RESULT
	GROUP BY 
		company_cd					
	,	fiscal_year					
	,	treatment_applications_no	
	,	group_cd	
	,	group_nm
	
	--[0]
	SELECT DISTINCT					
		#MAIN.company_cd						AS company_cd					
	,	#MAIN.fiscal_year						AS fiscal_year				
	,	#MAIN.treatment_applications_no			AS treatment_applications_no	
	,	#MAIN.treatment_applications_nm			AS treatment_applications_nm
	,	#MAIN.use_typ							AS use_typ
	,	IIF(#MAIN.treatment_applications_no = @P_treatment_applications_no,'selected','') as selected
	FROM #MAIN
	ORDER BY 
		company_cd
	,	fiscal_year
	,	treatment_applications_no
			
	--[1]
	SELECT 
		#MAIN.group_cd	
	,	#MAIN.group_nm				
	,	#TEMP.count_row					
	,	#RESULT.sheet_cd	
	,	@P_treatment_applications_no as treatment_applications_no
	,	#RESULT.detail_no
	--edit by vietdt 2022/03/10 
	,	CASE
			WHEN	#RESULT.sheet_cd = 0
			THEN	0
			ELSE	ISNULL(#RESULT.[weight],'')
		END										AS [weight]	
	--add by vietdt 2022/03/10 
	,	CASE
			WHEN	#RESULT.sheet_cd = 0
			THEN	'disabled'
			ELSE	''
		END				AS class_weight
	,	ISNULL(M0200.sheet_nm,'')  AS sheet_nm
	,	CONCAT(CAST(#RESULT.treatment_applications_no AS NVARCHAR(10)),'_',CAST(#RESULT.group_cd AS NVARCHAR(10)))		AS  check_group	
	FROM #RESULT
	INNER JOIN #TEMP ON (
		#RESULT.company_cd					=	#TEMP.company_cd
	AND	#RESULT.fiscal_year					=	#TEMP.fiscal_year
	AND	#RESULT.treatment_applications_no	=	#TEMP.treatment_applications_no
	AND	#RESULT.group_cd					=	#TEMP.group_cd
	)
	LEFT JOIN M0200 ON (
		#RESULT.company_cd = M0200.company_cd
	AND #RESULT.sheet_cd   = M0200.sheet_cd
	AND M0200.del_datetime IS NULL
	)
	LEFT JOIN #MAIN ON ( 
		#MAIN.company_cd					=	#TEMP.company_cd					
	AND #MAIN.fiscal_year					=	#TEMP.fiscal_year					
	AND #MAIN.treatment_applications_no		=	#TEMP.treatment_applications_no	
	AND #MAIN.group_cd						=	#TEMP.group_cd	
	AND #MAIN.group_nm						=	#TEMP.group_nm		
	)
	ORDER BY 
		#RESULT.company_cd
	,	#RESULT.fiscal_year
	,	#RESULT.treatment_applications_no
	,	#RESULT.id

	--[2]      2019/01/09
	SELECT @fiscal_year AS fiscal_year
	--
	IF EXISTS (SELECT 1 FROM W_M0110 WHERE company_cd = @P_company_cd AND fiscal_year = @fiscal_year) 
	OR EXISTS (SELECT 1 FROM W_M0120 WHERE company_cd = @P_company_cd AND fiscal_year = @fiscal_year) 
	OR EXISTS (SELECT 1 FROM W_M0121 WHERE company_cd = @P_company_cd AND fiscal_year = @fiscal_year) 
	OR EXISTS (SELECT 1 FROM W_M0130 WHERE company_cd = @P_company_cd AND fiscal_year = @fiscal_year) 
	OR EXISTS (SELECT 1 FROM W_M0200 WHERE company_cd = @P_company_cd AND fiscal_year = @fiscal_year) 
	OR EXISTS (SELECT 1 FROM W_M0201 WHERE company_cd = @P_company_cd AND fiscal_year = @fiscal_year)
	BEGIN
		SET @w_text = 'confirm'
	END
	--
	IF EXISTS (	SELECT 1 FROM F0030
				--INNER JOIN #MAIN ON (
				--	F0030.company_cd = #MAIN.company_cd
				--AND F0030.fiscal_year = #MAIN.fiscal_year
				--AND F0030.treatment_applications_no = #MAIN.treatment_applications_no
				--AND F0030.group_cd = #MAIN.group_cd
				--)
				WHERE
					F0030.company_cd = @P_company_cd
				AND F0030.fiscal_year = @fiscal_year
				AND	F0030.del_datetime IS NULL)
	BEGIN
		SET @w_btn = 'disabled'
	END
	--[3]
	SELECT  
		@w_btn  AS btn
	,	@w_text AS [text]
	--DROP TABLE 
	DROP TABLE #F0010
	DROP TABLE #MAIN
	DROP TABLE #RESULT
	DROP TABLE #TEMP
END

GO