.table tr label {
  margin-top: 0.5rem;
  /* white-space: nowrap !important; */
}
.table tr .thead {
  height: 38px;
  background: #eaebee;
  font-weight: bold;
  border-top: 2px solid #dee2e6;
  color: #707070 !important;
  padding-left: 3px !important;
  max-width: 335px !important;
  min-width: 335px !important;
  width: 335px !important;
}

/* @media ((max-width: 1600px) or (width: 1600px)) {
  label {
    white-space: nowrap !important;
  }
} */
.table thead tr th:not(:last-child) {
  border-right: 1px solid #dee2e6;
}
.table tbody tr td:not(:first-child) {
  text-align: center;
}

.table tbody tr td:first-child .md-checkbox-v2 {
  width: inherit;
}
.table tbody tr td:first-child .md-checkbox-v2 label {
  width: 98%;
}
/* #table-em0100 {
  width: auto;
} */