.col-auto {
  width: 85%;
  float: left;
}

.col-auto2 {
  width: 10%;
  float: left;
  padding-top: 12px;
}

@media (max-width: 400px) {
  .hei {
    height: 37px;
  }
}
@media (max-width: 576px) {
  .nav {
    flex-wrap: wrap;
  }
  .col-auto {
    width: 100% !important;
  }
  .dis-n {
    display: none !important;
  }
}
@media (max-width: 1180px) {
  .col-auto2 {
    width: 15%;
  }
  .dis-n {
    flex: 0 0 3.2% !important;
  }
}
@media (max-width: 821px) {
  .col-auto2 {
    width: 20%;
  }
  .col-auto {
    width: 80%;
  }
}

/* css  */
.form-control.required:disabled {
  background-color: #eaeaea;
  cursor: default;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

/* 2024/05/20 */
#tab15 .list_item {
    height: 64px;
}
#tab15 .p-item {
    /* padding: 2px; */
    /* padding: .1rem .5rem .1rem .5rem; */
    height: 32px;
}

#tab5 #table-data tbody tr td {
    padding: 3px;
}
#tab5 #table-data tbody tr td:last-child {
    max-width: 600px;
}
#tab5 #table-data tbody tr td span {
    height: 16px;
}

#tab14 #table-tab03 tbody tr td {
    /* height: calc(32px - 0.625rem); */
    padding: 3px;
    height: 28px;
}