DROP PROCEDURE [SPC_Q0001_FND1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0001
-- EXEC SPC_Q0001_FND1 '','','','','0','0','0','0','0','2022/09','1','20','en';
--****************************************************************************************
--* 									
--*  処理概要/process overview	:	M0100
--*  
--*  作成日/create date			:	2018/09/04						
--*　作成者/creater				:	Longvv								
--*   					
--*  更新日/update date			:	2020/09/18
--*　更新者/updater				:　	nghianm
--*　更新内容/update content		:	upgradte to ver 1.7 & 1on1
--*   					
--*  更新日/update date			:	2022/07/06
--*　更新者/updater				:　	vietdt
--*　更新内容/update content		:	cr 2022/07/06 add conditionals M0001.contract_company_attribute
--*  更新日/update date			:	2022/10/10
--*　更新者/updater				:　	namnt
--*　更新内容/update content		:	add language check
--
--*  更新日/update date			:	2023/03/29 
--*　更新者/updater				:　	namnt
--*　更新内容/update content		:	ver2.0
--****************************************************************************************
CREATE PROCEDURE [SPC_Q0001_FND1] 
		@P_company_cd						INT				= 0
	,	@P_company_nm						NVARCHAR(100)	= ''
	,	@P_incharge_cd						NVARCHAR(50)	= ''
	,	@P_incharge_nm						NVARCHAR(50)	= ''
	--,	@P_number_cd						INT				= 0
	,	@P_evaluation_contract_attribute	SMALLINT		= 0		-- add by nghianm 2020/09/18
	,	@P_1on1_contract_attribute			SMALLINT		= 0		-- add by nghianm 2020/09/18
	,	@P_multireview_contract_attribute	SMALLINT		= 0		-- add by nghianm 2020/09/18
	,	@P_report_contract_attribute	SMALLINT		= 0	
	--	
	,	@P_check_account					SMALLINT		= 0
	,	@P_year_month						NVARCHAR(7)		= ''
	,	@P_page								INT				= 1
	,	@P_page_size						INT				= 50
	,	@P_language							NVARCHAR(2)		= 'jp'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
	-- interfering with SELECT statements.
	DECLARE
		@totalRecord	BIGINT			= 0
	,	@pageNumber		INT				= 0
	,	@pageMax		INT				= 0
	,	@i				SMALLINT		= 0
	--CREATE TABLE #TABLE_TEMP
	CREATE TABLE #TABLE_TEMP(
		id					INT		IDENTITY(1,1)
	,	company_cd			INT
	,	detail_count		INT
	)
	--CREATE TABLE #TABLE_M0002
	CREATE TABLE #TABLE_M0002(
		id					INT		IDENTITY(1,1)
	,	company_cd			INT
	,	incharge_cd			NVARCHAR(20)
	,	detail_count		INT
	,	RANK_ID				INT
	)
	--CREATE TABLE #TEMP_INCHARGE
	CREATE TABLE #TEMP_INCHARGE(
		id					INT		IDENTITY(1,1)
	,	company_cd			INT
	,	incharge_cd1		NVARCHAR(20)
	,	employee_nm1		NVARCHAR(50)
	,	incharge_cd2		NVARCHAR(20)
	,	employee_nm2		NVARCHAR(50)
	)
	--CREATE TABLE #TABLE_F0001
	CREATE TABLE #TABLE_F0001 (
		id					INT		IDENTITY(1,1)
	,	company_cd			INT
	,	year_month			NVARCHAR(7)
	,	accounts_number		INT
	)
	CREATE TABLE #Q0001(
		id								BIGINT		IDENTITY(1,1)
	,	company_cd						SMALLINT
	,	company_nm						NVARCHAR(50)
	,	incharge_cd1					NVARCHAR(10)
	,	employee_nm1					NVARCHAR(20)			
	,	incharge_cd2					NVARCHAR(10)
	,	employee_nm2					NVARCHAR(100)	
	,	name_eva						NVARCHAR(60)	
	,	eva_use_start_dt				NVARCHAR(10)
	,	eva_user_end_dt					NVARCHAR(10)
	,	name_oneonone					NVARCHAR(60)	
	,	oneonone_use_start_dt			NVARCHAR(10)
	,	oneonone_user_end_dt			NVARCHAR(10)
	,	name_multiview					NVARCHAR(60)	
	,	multiview_use_start_dt			NVARCHAR(10)
	,	multiview_user_end_dt			NVARCHAR(10)
	,	name_report						NVARCHAR(60)	
	,	report_use_start_dt				NVARCHAR(10)
	,	report_use_end_dt				NVARCHAR(10)
	,	year_month						NVARCHAR(7) 
	,	accounts_number					INT
	,	contract_attribute				SMALLINT
	,	contract_cd						NVARCHAR(10)
	--add by namnt 2022/04/14
	,	user_id							NVARCHAR(50)
	,	password						NVARCHAR(20)
	,	sso_user						NVARCHAR(255)
	,	SSO_use_typ						TINYINT
	,	contract_company_attribute		SMALLINT	--add by vietdt 2022/07/06
	)
	IF(ISDATE(@P_year_month+'/01') = 0)
	BEGIN
		SET @P_year_month = '2019/01'
	END
	IF(@P_page_size = 0)
	BEGIN
		SET @P_page_size = 20
	END

	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--insret data into tem table 
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--INSERT INTO #TABLE_TEMP
	INSERT INTO #TABLE_TEMP
	SELECT 
		ISNULL(M0001.company_cd,'')
	,	COUNT(ISNULL(M0002.company_cd,0))
	FROM M0001
	LEFT OUTER JOIN M0002 WITH(NOLOCK) ON (
		M0001.company_cd	=	M0002.company_cd
	AND M0002.del_datetime IS NULL
	)LEFT JOIN M0070 ON (
		1	= M0070.company_cd
	AND M0002.incharge_cd	= M0070.employee_cd
	AND M0070.del_datetime IS NULL
	)
	WHERE 
		(@P_incharge_cd = '' OR M0002.incharge_cd = @P_incharge_cd)
	AND (M0002.incharge_cd like '%'+@P_incharge_nm+'%' OR  M0070.employee_nm like '%'+@P_incharge_nm+'%')
	AND M0001.del_datetime IS NULL
	GROUP BY M0001.company_cd

	--#TABLE_M0002
	INSERT INTO #TABLE_M0002
	SELECT 
		ISNULL(M0002.company_cd,'')	
	,	ISNULL(M0002.incharge_cd,'')		
	,	#TABLE_TEMP.detail_count
	,	DENSE_RANK() OVER   (PARTITION BY M0002.company_cd ORDER BY M0002.detail_no ASC)							
	FROM M0002 
	INNER JOIN #TABLE_TEMP ON (
		M0002.company_cd = #TABLE_TEMP.company_cd
	)
	WHERE 
		M0002.del_datetime IS NULL
	--#TEMP_INCHARGE
	INSERT INTO #TEMP_INCHARGE
	SELECT 
		ISNULL(TEMP.company_cd,'')	
	,	TEMP_A.incharge_cd
	,	M0070_A.employee_nm				
	,	TEMP_B.incharge_cd
	,	CASE 
			WHEN TEMP_B.detail_count > 2 AND M0070_B.employee_nm <> '' 
			THEN ISNULL(M0070_B.employee_nm,'') +'。。。'
			ELSE ISNULL(M0070_B.employee_nm,'')
		END AS employee_nm2								
	FROM #TABLE_TEMP AS TEMP 
	LEFT OUTER JOIN #TABLE_M0002 AS TEMP_A ON (
		TEMP.company_cd	=	TEMP_A.company_cd
	AND	1				=	TEMP_A.RANK_ID
	)
	LEFT JOIN M0070 AS M0070_A ON (
		1					= M0070_A.company_cd
	AND TEMP_A.incharge_cd	= M0070_A.employee_cd
	)
	LEFT OUTER JOIN #TABLE_M0002 AS TEMP_B ON (
		TEMP.company_cd	=	TEMP_B.company_cd
	AND	2				=	TEMP_B.RANK_ID
	)
	LEFT JOIN M0070 AS M0070_B ON (
		1					= M0070_B.company_cd
	AND TEMP_B.incharge_cd	= M0070_B.employee_cd
	) 
	--INSERT INTO #TABLE_F0001
	IF @P_check_account = 1 
	BEGIN
		INSERT INTO #TABLE_F0001
		SELECT 
			F0001.company_cd
		,	CONVERT(NVARCHAR(7),FORMAT(F0001.year_month,'yyyy/MM'))
		,	SUM(ISNULL(F0001.accounts_number,0))
		FROM F0001
		INNER JOIN #TEMP_INCHARGE AS TEMP ON(
			F0001.company_cd	=	TEMP.company_cd
		)
		WHERE 
			(@P_company_cd =0 OR F0001.company_cd = @P_company_cd)
		AND (
				(ISNULL(@P_year_month,'') =		'')
			OR	(ISNULL(@P_year_month,'') <>	''
			AND CONVERT(NVARCHAR(7),FORMAT(F0001.year_month,'yyyy/MM')) = @P_year_month)
		)
		AND F0001.del_datetime IS NULL
		GROUP BY 
			F0001.company_cd
		,	CONVERT(NVARCHAR(7),FORMAT(F0001.year_month,'yyyy/MM'))
		--,	F0001.accounts_number
	END
	--INSERT INTO #Q0001
	IF @P_language = 'jp' --add by namnt 2022/10/10
	BEGIN
	INSERT INTO #Q0001
	SELECT 
		M0001.company_cd
	,	M0001.company_nm
	,	TEMP.incharge_cd1
	,	ISNULL(TEMP.employee_nm1,'')								AS employee_nm1 				
	,	TEMP.incharge_cd2
	,	ISNULL(TEMP.employee_nm2,'')								AS employee_nm2 
	,	L0010_A.name												AS name_evaluation
	,	CONVERT(NVARCHAR(10),M0001.evaluation_use_start_dt,111)		AS evaluation_use_start_dt
	,	CONVERT(NVARCHAR(10),M0001.evaluation_user_end_dt,111)		AS evaluation_user_end_dt
	,	L0010_B.name												AS name_oneonone
	,	CONVERT(NVARCHAR(10),M0001.[1on1_use_start_dt],111)			AS oneonone_use_start_dt
	,	CONVERT(NVARCHAR(10),M0001.[1on1_user_end_dt],111)			AS oneonone_user_end_dt
	,	L0010_C.name												AS name_multiview
	,	CONVERT(NVARCHAR(10),M0001.multireview_use_start_dt,111)	AS evaluation_use_start_dt
	,	CONVERT(NVARCHAR(10),M0001.multireview_user_end_dt,111)		AS evaluation_user_end_dt
	,	L0010_D.name												AS name_report
	,	CONVERT(NVARCHAR(10),M0001.report_use_start_dt,111)			AS report_use_start_dt
	,	CONVERT(NVARCHAR(10),M0001.report_user_end_dt,111)			AS report_use_end_dt
	,	#TABLE_F0001.year_month										AS year_month
	,	#TABLE_F0001.accounts_number
	,	M0001.contract_company_attribute							AS contract_attribute
	,	M0001.contract_cd											AS contract_cd		-- add by namnt 2022/04/14
	,	S0010.user_id																	-- add by namnt 2022/04/14
	,	S0010.password																	-- add by namnt 2022/04/14
	,	S0010.sso_user																	-- add by namnt 2022/04/14
	,	ISNULL(M0001.SSO_use_typ,0)	
	,	ISNULL(M0001.contract_company_attribute,0)										--add by vietdt 2022/07/06
	FROM M0001	
	INNER JOIN #TEMP_INCHARGE AS TEMP ON(
		M0001.company_cd	=	TEMP.company_cd
	)
	LEFT JOIN #TABLE_F0001  ON(
		M0001.company_cd = #TABLE_F0001.company_cd
	)
	LEFT JOIN L0010 AS L0010_A ON (
		M0001.evaluation_contract_attribute = L0010_A.number_cd
	AND 2									= L0010_A.name_typ
	)
	LEFT JOIN L0010 AS L0010_B ON (
		M0001.[1on1_contract_attribute]		= L0010_B.number_cd
	AND 2									= L0010_B.name_typ
	)
	LEFT JOIN L0010 AS L0010_C ON (
		M0001.multireview_contract_attribute = L0010_C.number_cd
	AND 2									 = L0010_C.name_typ
	)
	LEFT JOIN L0010 AS L0010_D ON (
		M0001.report_contract_attribute		= L0010_D.number_cd
	AND 2									= L0010_D.name_typ
	)
	LEFT JOIN S0010 ON( -- add by namnt 2022/04/14
		M0001.company_cd = S0010.company_cd -- add by namnt 2022/04/14
	AND S0010.authority_typ = 4 -- add by namnt 2022/04/14
	)
	WHERE 
		(	
			@P_company_cd		=0 
		OR	M0001.company_cd	= @P_company_cd
		)
	--AND (
	--		M0001.contract_attribute		=	@P_number_cd	
	--	OR	@P_number_cd		=	0
	--	)

	AND (
			@P_evaluation_contract_attribute = 0
	OR	(@P_evaluation_contract_attribute <> 0 AND M0001.evaluation_contract_attribute = @P_evaluation_contract_attribute)
	)
	AND (
			@P_1on1_contract_attribute = 0
	OR	(@P_1on1_contract_attribute <> 0 AND M0001.[1on1_contract_attribute] = @P_1on1_contract_attribute)
	)
	AND (
			@P_multireview_contract_attribute = 0
	OR	(@P_multireview_contract_attribute <> 0 AND M0001.multireview_contract_attribute = @P_multireview_contract_attribute)
	)
	AND (
			@P_report_contract_attribute = 0
	OR	(@P_report_contract_attribute <> 0 AND M0001.report_contract_attribute = @P_report_contract_attribute)
	)

	AND	(
			(@P_company_nm		=	'')		
		OR	(dbo.FNC_COM_REPLACE_SPACE(M0001.company_nm)	LIKE '%' + dbo.FNC_COM_REPLACE_SPACE(@P_company_nm) + '%') 
		OR	(dbo.FNC_COM_REPLACE_SPACE(M0001.company_ab_nm)	LIKE '%' + dbo.FNC_COM_REPLACE_SPACE(@P_company_nm) + '%') 
	)
	AND (
			(@P_check_account = 1 AND #TABLE_F0001.company_cd IS NOT NULL) 
		OR	(@P_check_account = 0)	
	)
	AND M0001.del_datetime IS NULL
	ORDER BY 
		M0001.company_cd
	END
	ELSE
	BEGIN
	INSERT INTO #Q0001
	SELECT 
		M0001.company_cd
	,	M0001.company_nm
	,	TEMP.incharge_cd1
	,	ISNULL(TEMP.employee_nm1,'')								AS employee_nm1 				
	,	TEMP.incharge_cd2
	,	ISNULL(TEMP.employee_nm2,'')								AS employee_nm2 
	,	L0010_A.name_english												AS name_evaluation
	,	CONVERT(NVARCHAR(10),M0001.evaluation_use_start_dt,111)		AS evaluation_use_start_dt
	,	CONVERT(NVARCHAR(10),M0001.evaluation_user_end_dt,111)		AS evaluation_user_end_dt
	,	L0010_B.name_english												AS name_oneonone
	,	CONVERT(NVARCHAR(10),M0001.[1on1_use_start_dt],111)			AS oneonone_use_start_dt
	,	CONVERT(NVARCHAR(10),M0001.[1on1_user_end_dt],111)			AS oneonone_user_end_dt
	,	L0010_C.name_english												AS name_multiview
	,	CONVERT(NVARCHAR(10),M0001.multireview_use_start_dt,111)	AS evaluation_use_start_dt
	,	CONVERT(NVARCHAR(10),M0001.multireview_user_end_dt,111)		AS evaluation_user_end_dt
	,	L0010_D.name_english												AS name_report
	,	CONVERT(NVARCHAR(10),M0001.report_use_start_dt,111)			AS report_use_start_dt
	,	CONVERT(NVARCHAR(10),M0001.report_user_end_dt,111)			AS report_user_end_dt
	,	#TABLE_F0001.year_month										AS year_month
	,	#TABLE_F0001.accounts_number
	,	M0001.contract_company_attribute							AS contract_attribute
	,	M0001.contract_cd											AS contract_cd		-- add by namnt 2022/04/14
	,	S0010.user_id																	-- add by namnt 2022/04/14
	,	S0010.password																	-- add by namnt 2022/04/14
	,	S0010.sso_user																	-- add by namnt 2022/04/14
	,	ISNULL(M0001.SSO_use_typ,0)	
	,	ISNULL(M0001.contract_company_attribute,0)										--add by vietdt 2022/07/06
	FROM M0001	
	INNER JOIN #TEMP_INCHARGE AS TEMP ON(
		M0001.company_cd	=	TEMP.company_cd
	)
	LEFT JOIN #TABLE_F0001  ON(
		M0001.company_cd = #TABLE_F0001.company_cd
	)
	LEFT JOIN L0010 AS L0010_A ON (
		M0001.evaluation_contract_attribute = L0010_A.number_cd
	AND 2									= L0010_A.name_typ
	)
	LEFT JOIN L0010 AS L0010_B ON (
		M0001.[1on1_contract_attribute]		= L0010_B.number_cd
	AND 2									= L0010_B.name_typ
	)
	LEFT JOIN L0010 AS L0010_C ON (
		M0001.multireview_contract_attribute = L0010_C.number_cd
	AND 2									 = L0010_C.name_typ
	)
	LEFT JOIN L0010 AS L0010_D ON (
		M0001.report_contract_attribute		= L0010_D.number_cd
	AND 2									= L0010_D.name_typ
	)
	LEFT JOIN S0010 ON( -- add by namnt 2022/04/14
		M0001.company_cd = S0010.company_cd -- add by namnt 2022/04/14
	AND S0010.authority_typ = 4 -- add by namnt 2022/04/14
	)
	WHERE 
		(	
			@P_company_cd		=0 
		OR	M0001.company_cd	= @P_company_cd
		)
	--AND (
	--		M0001.contract_attribute		=	@P_number_cd	
	--	OR	@P_number_cd		=	0
	--	)

	AND (
			@P_evaluation_contract_attribute = 0
	OR	(@P_evaluation_contract_attribute <> 0 AND M0001.evaluation_contract_attribute = @P_evaluation_contract_attribute)
	)
	AND (
			@P_1on1_contract_attribute = 0
	OR	(@P_1on1_contract_attribute <> 0 AND M0001.[1on1_contract_attribute] = @P_1on1_contract_attribute)
	)
	AND (
			@P_multireview_contract_attribute = 0
	OR	(@P_multireview_contract_attribute <> 0 AND M0001.multireview_contract_attribute = @P_multireview_contract_attribute)
	)
	AND (
			@P_report_contract_attribute = 0
	OR	(@P_report_contract_attribute <> 0 AND M0001.report_contract_attribute = @P_report_contract_attribute)
	)
	AND	(
			(@P_company_nm		=	'')		
		OR	(dbo.FNC_COM_REPLACE_SPACE(M0001.company_nm)	LIKE '%' + dbo.FNC_COM_REPLACE_SPACE(@P_company_nm) + '%') 
		OR	(dbo.FNC_COM_REPLACE_SPACE(M0001.company_ab_nm)	LIKE '%' + dbo.FNC_COM_REPLACE_SPACE(@P_company_nm) + '%') 
	)
	AND (
			(@P_check_account = 1 AND #TABLE_F0001.company_cd IS NOT NULL) 
		OR	(@P_check_account = 0)	
	)
	AND M0001.del_datetime IS NULL
	ORDER BY 
		M0001.company_cd
	END
	--Page Pagesize
	SET @totalRecord	=	(SELECT COUNT(1) FROM #Q0001)
	SET @pageMax		=	CEILING(CAST(@totalRecord AS FLOAT) / @P_page_size)
	IF	@pageMax = 0
	BEGIN
		SET @pageMax = 1
	END
	IF @P_page > @pageMax
	BEGIN
		SET @P_page = @pageMax
	END	
	--[0]
	SELECT 
		#Q0001.company_cd				
	,	#Q0001.company_nm				
	,	#Q0001.incharge_cd1			
	,	#Q0001.employee_nm1			
	,	#Q0001.incharge_cd2			
	,	#Q0001.employee_nm2			
	,	#Q0001.name_eva					
	,	#Q0001.eva_use_start_dt			
	,	#Q0001.eva_user_end_dt		
	,	#Q0001.name_oneonone					
	,	#Q0001.oneonone_use_start_dt			
	,	#Q0001.oneonone_user_end_dt	
	,	#Q0001.name_multiview					
	,	#Q0001.multiview_use_start_dt			
	,	#Q0001.multiview_user_end_dt	
	,	#Q0001.name_report					
	,	#Q0001.report_use_start_dt			
	,	#Q0001.report_use_end_dt	
	,	#Q0001.year_month				
	,	#Q0001.accounts_number			
	,	#Q0001.contract_attribute
	,	#Q0001.contract_cd
	,	#Q0001.user_id
	,	#Q0001.password
	,	#Q0001.sso_user
	,	#Q0001.SSO_use_typ
	,	#Q0001.contract_company_attribute	--add by vietdt 2022/07/06
	FROM #Q0001
	ORDER BY #Q0001.company_cd
	offset (@P_page - 1) * @P_page_size rows
	fetch next @P_page_size rows only
	--[1]
	SELECT	
		@totalRecord	AS totalRecord
	,	@pageMax		AS pageMax
	,	@P_page			AS page
	,	@P_page_size	AS pagesize
	,	((@P_page - 1) * @P_page_size + 1) AS offset
	--[2]
	SELECT 	@P_check_account	AS  check_account	--アカウント確認
	--■DROP TABLE
	DROP TABLE #TABLE_M0002
	DROP TABLE #TABLE_TEMP
	DROP TABLE #TEMP_INCHARGE
	DROP TABLE #TABLE_F0001
	DROP TABLE #Q0001
END
