GO
DROP PROCEDURE [SPC_Q0001_RPT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0001
-- EXEC SPC_Q0001_FND1 '','','','','','1','20';

--****************************************************************************************
--* 									
--*  処理概要/process overview	:	M0100
--*  
--*  作成日/create date			:	2018/09/04						
--*　作成者/creater				:	Longvv								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	 
--****************************************************************************************
CREATE PROCEDURE [SPC_Q0001_RPT1]
		@P_json			NVARCHAR(MAX)
,		@P_language		NVARCHAR(5)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	DECLARE
		@totalRecord	BIGINT			= 0
	,	@pageNumber		INT				= 0
	,	@pageMax		INT				= 0
	,	@P_company_cd	INT				= 0
	,	@P_company_nm	NVARCHAR(100)	= 0
	,	@P_incharge_cd	INT				= 0
	,	@P_number_cd	INT				= 0
	,	@year_month		NVARCHAR(7)		= ''
	,	@i				SMALLINT		= 0
	,	@check_account	SMALLINT		= 0
	,	@evaluation_contract_attribute	SMALLINT		= 0		-- add by nghianm 2020/09/18
	,	@1on1_contract_attribute		SMALLINT		= 0		-- add by nghianm 2020/09/18
	,	@multireview_contract_attribute	SMALLINT		= 0
	
	SET @P_company_cd				= JSON_VALUE(@P_json,'$.company_cd')
	SET @P_company_nm				= JSON_VALUE(@P_json,'$.company_nm')
	SET @P_incharge_cd				= JSON_VALUE(@P_json,'$.incharge_cd')
	SET @P_number_cd				= JSON_VALUE(@P_json,'$.contract_attribute')
	SET @year_month					= JSON_VALUE(@P_json,'$.year_month')
	SET @check_account				= JSON_VALUE(@P_json,'$.check_account')
	SET	@evaluation_contract_attribute			= JSON_VALUE(@P_json,'$.evaluation_contract')		-- add by nghianm 2020/09/18
	SET	@1on1_contract_attribute				= JSON_VALUE(@P_json,'$.oneonone_contract')		-- add by nghianm 2020/09/18
	SET	@multireview_contract_attribute			= JSON_VALUE(@P_json,'$.multiview_contract')
	SET NOCOUNT ON;
	--
	CREATE TABLE #TABLE_TEMP(
		id					INT		IDENTITY(1,1)
	,	company_cd			INT
	,	detail_count		INT
	)
	--
	CREATE TABLE #TABLE_M0002(
		id					INT		IDENTITY(1,1)
	,	company_cd			INT
	,	incharge_cd			NVARCHAR(10)
	,	detail_count		INT
	,	RANK_ID				INT
	)
	CREATE TABLE #TEMP_INCHARGE(
		id					INT		IDENTITY(1,1)
	,	company_cd			INT
	,	incharge_cd1		NVARCHAR(10)
	,	employee_nm1		NVARCHAR(101)
	,	incharge_cd2		NVARCHAR(10)
	,	employee_nm2		NVARCHAR(101)
	)
	--CREATE TABLE #TABLE_F0001
	CREATE TABLE #TABLE_F0001 (
		id					INT		IDENTITY(1,1)
	,	company_cd			INT
	,	year_month			NVARCHAR(7)
	,	accounts_number		INT
	)
	CREATE TABLE #Q0001(
		id								INT IDENTITY(1,1)
	,	company_cd						NVARCHAR(100)
	,	company_nm						NVARCHAR(100)
	,	employee_nm1					NVARCHAR(200)
	,	employee_nm2					NVARCHAR(200)
	,	name_eva						NVARCHAR(60)	
	,	eva_use_start_dt				NVARCHAR(50)
	,	eva_user_end_dt					NVARCHAR(50)
	,	name_oneonone					NVARCHAR(200)	
	,	oneonone_use_start_dt			NVARCHAR(100)
	,	oneonone_user_end_dt			NVARCHAR(100)
	,	name_multiview					NVARCHAR(100)	
	,	multiview_use_start_dt			NVARCHAR(50)
	,	multiview_user_end_dt			NVARCHAR(50)
	,	year_month						NVARCHAR(100)
	,	accounts_number					NVARCHAR(100)
	)

	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--insret data into tem table 
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

	--
	INSERT INTO #TABLE_TEMP
	SELECT 
		ISNULL(M0001.company_cd,'')
	,	COUNT(ISNULL(M0002.company_cd,0))
	FROM M0001
	LEFT OUTER JOIN M0002 WITH(NOLOCK) ON (
		M0001.company_cd	=	M0002.company_cd
	AND M0002.del_datetime IS NULL
	)
	WHERE 
		@P_incharge_cd = 0 OR M0002.incharge_cd = @P_incharge_cd
	AND M0001.del_datetime IS NULL
	GROUP BY M0001.company_cd

	--#TABLE_M0002
	INSERT INTO #TABLE_M0002
	SELECT 
		ISNULL(M0002.company_cd,'')	
	,	ISNULL(M0002.incharge_cd,'')		
	,	#TABLE_TEMP.detail_count
	,	DENSE_RANK() OVER   (PARTITION BY M0002.company_cd ORDER BY M0002.detail_no ASC)							
	FROM M0002 
	INNER JOIN #TABLE_TEMP ON (
		M0002.company_cd = #TABLE_TEMP.company_cd
	)
	WHERE 
		M0002.del_datetime IS NULL

	--#TEMP_INCHARGE
	INSERT INTO #TEMP_INCHARGE
	SELECT 
		ISNULL(TEMP.company_cd,'')	
	,	TEMP_A.incharge_cd
	,	M0070_A.employee_nm				
	,	TEMP_B.incharge_cd
	,	CASE 
			WHEN TEMP_B.detail_count > 2 AND M0070_B.employee_nm <> '' 
			THEN ISNULL(M0070_B.employee_nm,'') +'。。。'
			ELSE ISNULL(M0070_B.employee_nm,'')
		END AS employee_nm2								
	FROM #TABLE_TEMP AS TEMP 
	LEFT OUTER JOIN #TABLE_M0002 AS TEMP_A ON (
		TEMP.company_cd	=	TEMP_A.company_cd
	AND	1				=	TEMP_A.RANK_ID
	)
	LEFT JOIN M0070 AS M0070_A ON (
		1					= M0070_A.company_cd
	AND TEMP_A.incharge_cd	= M0070_A.employee_cd
	)
	LEFT OUTER JOIN #TABLE_M0002 AS TEMP_B ON (
		TEMP.company_cd	=	TEMP_B.company_cd
	AND	2				=	TEMP_B.RANK_ID
	)
	LEFT JOIN M0070 AS M0070_B ON (
		1					= M0070_B.company_cd
	AND TEMP_B.incharge_cd	= M0070_B.employee_cd
	) 
	--INSERT INTO #TABLE_F0001
	IF @check_account = 1 
	BEGIN
		INSERT INTO #TABLE_F0001
		SELECT 
			F0001.company_cd
		,	CONVERT(NVARCHAR(7),FORMAT(F0001.year_month,'yyyy/MM'))
		,	SUM(ISNULL(F0001.accounts_number,0))
		FROM F0001
		INNER JOIN #TEMP_INCHARGE AS TEMP ON(
			F0001.company_cd	=	TEMP.company_cd
		)
		WHERE 
			(@P_company_cd =0 OR F0001.company_cd = @P_company_cd)
		AND (
				(ISNULL(@year_month,'') =	'')
			OR	(ISNULL(@year_month,'') <>	''
			AND CONVERT(NVARCHAR(7),FORMAT(F0001.year_month,'yyyy/MM')) = @year_month)
		)
		AND F0001.del_datetime IS NULL
		GROUP BY 
			F0001.company_cd
		,	CONVERT(NVARCHAR(7),FORMAT(F0001.year_month,'yyyy/MM'))
		--,	F0001.accounts_number
	END
	--
	IF @P_language = 'en'
	BEGIN
	INSERT INTO #Q0001
	SELECT
		''	
	,	''		
	,	''		
	,	''	
	,	''	
	,	'Personnel evaluation function'	
	,	''	
	,	''	
	,	'1on1 function'	
	,	''	
	,	''	
	,	'Multi-review function'	
	,	''	
	,	''		
	,	''
	--
	INSERT INTO #Q0001
	SELECT
		'Customer cd'	
	,	'Customer name'		
	,	'Manager'		
	,	'Manager ２'	
	,	'Contract attribute'	
	,	'Contract start date'	
	,	'Contract end date'	
	,	'Contract attribute'	
	,	'Contract start date'	
	,	'Contract end date'	
	,	'Contract attribute'	
	,	'Contract start date'	
	,	'Contract end date'	
	,	'Year'		
	,	'Account Verification'
	END
	ELSE
	BEGIN
	INSERT INTO #Q0001
	SELECT
		''	
	,	''		
	,	''		
	,	''	
	,	''	
	,	'人事評価機能'	
	,	''	
	,	''	
	,	'１on１機能'	
	,	''	
	,	''	
	,	'マルチレビュー機能'	
	,	''	
	,	''		
	,	''
	--
	INSERT INTO #Q0001
	SELECT
		'顧客番号'	
	,	'顧客名'		
	,	'担当者'		
	,	'担当者２'	
	,	'契約属性'	
	,	'契約開始日'	
	,	'契約完了日'	
	,	'契約属性'	
	,	'契約開始日'	
	,	'契約完了日'	
	,	'契約属性'	
	,	'契約開始日'	
	,	'契約完了日'	
	,	'年月'		
	,	'アカウント数'
    END
	--
	INSERT INTO #Q0001
	SELECT 
		CONVERT(NVARCHAR(100),M0001.company_cd,111) AS company_cd
	,	M0001.company_nm
	,	ISNULL(TEMP.employee_nm1,'') AS employee_nm1 				
	,	ISNULL(TEMP.employee_nm2,'') AS employee_nm2 
	,	L0010_A.name												AS name_evaluation
	,	CONVERT(NVARCHAR(10),M0001.evaluation_use_start_dt,111)		AS evaluation_use_start_dt
	,	CONVERT(NVARCHAR(10),M0001.evaluation_user_end_dt,111)		AS evaluation_user_end_dt
	,	L0010_B.name												AS name_oneonone
	,	CONVERT(NVARCHAR(10),M0001.[1on1_use_start_dt],111)			AS oneonone_use_start_dt
	,	CONVERT(NVARCHAR(10),M0001.[1on1_user_end_dt],111)			AS oneonone_user_end_dt
	,	L0010_C.name												AS name_multiview
	,	CONVERT(NVARCHAR(10),M0001.multireview_use_start_dt,111)	AS evaluation_use_start_dt
	,	CONVERT(NVARCHAR(10),M0001.multireview_user_end_dt,111)		AS evaluation_user_end_dt
	,	#TABLE_F0001.year_month							AS year_month
	,	#TABLE_F0001.accounts_number					AS accounts_number
	FROM M0001
	INNER JOIN #TEMP_INCHARGE AS TEMP ON(
		M0001.company_cd	=	TEMP.company_cd
	)
	LEFT JOIN L0010 AS L0010_A ON (
		M0001.evaluation_contract_attribute = L0010_A.number_cd
	AND 2									= L0010_A.name_typ
	)
	LEFT JOIN L0010 AS L0010_B ON (
		M0001.[1on1_contract_attribute]		= L0010_B.number_cd
	AND 2									= L0010_B.name_typ
	)
	LEFT JOIN L0010 AS L0010_C ON (
		M0001.multireview_contract_attribute = L0010_C.number_cd
	AND 2									 = L0010_C.name_typ
	)
	LEFT JOIN #TABLE_F0001  ON(
		M0001.company_cd = #TABLE_F0001.company_cd
	)
	WHERE 
		(	
			@P_company_cd		=0 
		OR	M0001.company_cd	= @P_company_cd
		)
	AND (
			@evaluation_contract_attribute = 0
	OR	(@evaluation_contract_attribute <> 0 AND M0001.evaluation_contract_attribute = @evaluation_contract_attribute)
	)
	AND (
			@1on1_contract_attribute = 0
	OR	(@1on1_contract_attribute <> 0 AND M0001.[1on1_contract_attribute] = @1on1_contract_attribute)
	)
	AND (
			@multireview_contract_attribute = 0
	OR	(@multireview_contract_attribute <> 0 AND M0001.multireview_contract_attribute = @multireview_contract_attribute)
	)
	AND	(
			(@P_company_nm		=	'')		
		OR	(dbo.FNC_COM_REPLACE_SPACE(M0001.company_nm)	LIKE '%' + dbo.FNC_COM_REPLACE_SPACE(@P_company_nm) + '%') 
		OR	(dbo.FNC_COM_REPLACE_SPACE(M0001.company_ab_nm)	LIKE '%' + dbo.FNC_COM_REPLACE_SPACE(@P_company_nm) + '%') 
	)
	AND (
			(@check_account = 1 AND #TABLE_F0001.company_cd IS NOT NULL) 
		OR	(@check_account = 0)	
	)
	AND M0001.del_datetime IS NULL
	ORDER BY M0001.company_cd
	
	----[0]
	--SELECT
	--	'顧客番号'				AS company_cd
	--,	'顧客名'					AS company_nm
	--,	'担当者'					AS employee_nm1
	--,	'担当者２'				AS employee_nm2
	--,	'契約属性'				AS name
	--,	'契約開始日'				AS use_start_dt
	--,	'契約完了日'				AS user_end_dt
	--,	'年月'					AS year_month
	--,	'アカウント数'			AS accounts_number
	--UNION ALL
	--SELECT 
	--	company_cd		
	--,	company_nm		
	--,	employee_nm1	
	--,	employee_nm2	
	--,	name			
	--,	use_start_dt	
	--,	user_end_dt		
	--,	year_month		
	--,	accounts_number
	--FROM #Q0001

	--[0] sondh-2018/12/26
	IF(@check_account = 1)
	BEGIN
		SELECT 
			company_cd		
		,	company_nm		
		,	employee_nm1	
		,	employee_nm2	
		,	name_eva					
		,	eva_use_start_dt			
		,	eva_user_end_dt		
		,	name_oneonone					
		,	oneonone_use_start_dt			
		,	oneonone_user_end_dt	
		,	name_multiview					
		,	multiview_use_start_dt			
		,	multiview_user_end_dt	
		,	year_month		
		,	accounts_number
		FROM #Q0001
	END
	ELSE
    BEGIN
		SELECT 
			company_cd		
		,	company_nm		
		,	employee_nm1	
		,	employee_nm2	
		,	name_eva					
		,	eva_use_start_dt			
		,	eva_user_end_dt		
		,	name_oneonone					
		,	oneonone_use_start_dt			
		,	oneonone_user_end_dt	
		,	name_multiview					
		,	multiview_use_start_dt			
		,	multiview_user_end_dt	
		FROM #Q0001
	END
    
	--CLEAR TABLE TEMP
	DROP TABLE #TABLE_M0002
	DROP TABLE #TABLE_TEMP
	DROP TABLE #TEMP_INCHARGE
	DROP TABLE #Q0001
	DROP TABLE #TABLE_F0001
END

GO
