DROP PROCEDURE [SPC_CHANGE_PASS_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_CHANGE_PASS_ACT1 '{}','','::1','';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE CHANGE PASSWORD
--*  
--* 作成日/create date			:	2018/09/11											
--*	作成者/creater				:	Tuantv						
--*   					
--*	更新日/update date			:	2019/05/27				
--*	更新者/updater				:　 viettd 　								     	 
--*	更新内容/update content		:	update ver1.5　	
--****************************************************************************************
CREATE PROCEDURE [SPC_CHANGE_PASS_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)	= ''
,	@P_cre_user		NVARCHAR(50)	= ''
,	@P_cre_ip		NVARCHAR(50)	= ''
,	@P_company_cd	SMALLINT		= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			= SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					= 0
	,	@w_year					NVARCHAR(4)			= ''
	,	@w_user_id				NVARCHAR(50)		= ''
	,	@w_old_password			NVARCHAR(20)		= ''
	,	@w_new_password			NVARCHAR(20)		= ''
	,	@w_cf_new_password		NVARCHAR(20)		= ''

	,	@w_password_length			TINYINT			= 0
	,	@w_new_password_length		TINYINT			= 0
	,	@w_password_character_limit	TINYINT			= 0
	,	@w_len						TINYINT			= 0
	--
	SET @w_year				= CAST(YEAR(@w_time) AS nvarchar(4)) 
	SET @w_user_id			= JSON_VALUE(@P_json,'$.user_id')
	SET @w_old_password		= JSON_VALUE(@P_json,'$.old_password')
	SET @w_new_password		= JSON_VALUE(@P_json,'$.new_password')
	SET @w_cf_new_password	= JSON_VALUE(@P_json,'$.cf_new_password')
	SET @w_password_character_limit = (
		SELECT M9100.password_character_limit 
		FROM M9100 
		WHERE M9100.company_cd = @P_company_cd
		AND M9100.del_datetime IS NULL 
	)
	SET @w_new_password_length	=	LEN(@w_new_password)
	SET @w_password_length = (
		SELECT
			M9100.password_length
		FROM M9100
		WHERE M9100.company_cd = @P_company_cd
		AND M9100.del_datetime IS NULL 
	)

	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		-- insert new data
		CREATE TABLE #S0010 (
			company_cd			SMALLINT
		,	user_id				NVARCHAR(50)
		,	old_password		NVARCHAR(20)
		,	new_password		NVARCHAR(20)
		,	cf_new_password		NVARCHAR(20)
		)
		--
		INSERT INTO #S0010
		SELECT
			@P_company_cd
		,	@w_user_id					
		,	@w_old_password
		,	@w_new_password	
		,	@w_cf_new_password
		--
		--select @w_new_password_length as new_password_length
		--select @w_password_length as password_length
	
		IF EXISTS(
			SELECT 1
			FROM S0010
			WHERE 
				S0010.company_cd = @P_company_cd
			AND S0010.user_id	 = @P_cre_user
			AND S0010.password	!= @w_old_password
			AND S0010.del_datetime IS NULL
		)
		BEGIN 
			INSERT INTO @ERR_TBL VALUES(
				50
			,	''
			,	0-- oderby
			,	50-- dialog  
			,	0
			,	0
			,	'old password not exists'
			)
		END
		IF EXISTS(SELECT message_no FROM @ERR_TBL) GOTO EXIT_SPC
		--
		IF (@w_old_password = @w_new_password)
		BEGIN 
			INSERT INTO @ERR_TBL VALUES(
				52
			,	''
			,	0-- oderby
			,	52-- dialog  
			,	0
			,	0
			,	'old_password same new_password'
			)
		END
		IF EXISTS(SELECT message_no FROM @ERR_TBL) GOTO EXIT_SPC
		--
		IF (@w_new_password != @w_cf_new_password)
		BEGIN 
			INSERT INTO @ERR_TBL VALUES(
				51
			,	''
			,	0-- oderby
			,	51-- dialog  
			,	0
			,	0
			,	'new_password not same cf_new_password'
			)
		END
		IF EXISTS(SELECT message_no FROM @ERR_TBL) GOTO EXIT_SPC
		--IF (@w_password_character_limit = 1 AND NOT EXISTS (SELECT 1 WHERE @w_new_password LIKE '%[A-Za-z]%' AND @w_new_password LIKE '%[0-9]%'))
		--BEGIN
		--	select 1
		--END

		--IF(@w_password_character_limit = 2 AND NOT EXISTS (SELECT 1 WHERE @w_new_password LIKE '%[A-Za-z]%' AND @w_new_password LIKE '%[0-9]%' AND @w_new_password LIKE '%[/-+.,!#$%&()~|_@]%'))
		--BEGIN
		--	select 2
		--END
		--IF (@w_new_password_length > @w_password_length AND @w_password_length > 0)
		--BEGIN
		--	select 3
		--END

		IF ((@w_password_character_limit = 1 AND NOT EXISTS (SELECT 1 WHERE @w_new_password LIKE '%[A-Za-z]%' AND @w_new_password LIKE '%[0-9]%'))
		OR (@w_password_character_limit = 2 AND NOT EXISTS (SELECT 1 WHERE @w_new_password LIKE '%[A-Za-z]%' AND @w_new_password LIKE '%[0-9]%' AND @w_new_password LIKE '%[/-+.,!#$%&()~|_@]%'))
		OR (@w_new_password_length < @w_password_length AND @w_password_length > 0))
		BEGIN 
			INSERT INTO @ERR_TBL
			SELECT
				53
			,	'#password' 
			,	0-- oderby
			,	53-- dialog  
			,	0
			,	0
			,	'password length'
		END
		IF EXISTS(SELECT 1 FROM @ERR_TBL) GOTO EXIT_SPC

		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			UPDATE S0010
			SET 
				S0010.password				= #S0010.new_password
			,	failed_login_count			= 0
			,	S0010.pass_change_datetime	= @w_time				
			,	S0010.upd_user				= @P_cre_user		
			,	S0010.upd_ip				= @P_cre_ip		
			,	S0010.upd_prg				= 'change_pass'
			,	S0010.upd_datetime			= @w_time		
			FROM #S0010
			WHERE 
				S0010.company_cd = @P_company_cd
			AND S0010.user_id	 = @P_cre_user
			AND S0010.del_datetime IS NULL
		END
	END TRY
	BEGIN CATCH
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH

	EXIT_SPC:
	IF EXISTS(SELECT 1 FROM @ERR_TBL)
	BEGIN
		IF @@TRANCOUNT >0
			ROLLBACK TRANSACTION
		ELSE
			COMMIT TRANSACTION
		END
		
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
