DROP PROCEDURE [SPC_EM0030_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		trinhdt
-- Create date: 2024/03
-- Description:	get right content
-- =============================================
CREATE PROCEDURE [SPC_EM0030_INQ1]
	@P_training_cd  smallint
,	@P_company_cd	smallint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
		M5030.training_cd									AS training_cd
	,	M5030.training_nm									AS training_nm
	,	M5030.training_category_cd							AS training_category_cd
	,	M5030.training_course_format_cd						AS training_course_format_cd
	,	M5030.editable_kbn									AS editable_kbn
	,	M5030.arrange_order									AS arrange_order
	FROM M5030
	WHERE
		M5030.company_cd		=	@P_company_cd
	AND	training_cd				=	@P_training_cd
END

GO
