DROP PROCEDURE [dbo].[SPC_rI1010_INQ2]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_rI1010_INQ1 '740','2022','6','4','1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	GET LIST DATE
--*  
--* 作成日/create date			:	2023/04/18												
--*	作成者/creater				:	quangnd						
--*   					
--*	更新日/update date			:	
--*	更新者/updater				:	
--*	更新内容/update content		:	
--*
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_rI1010_INQ2]
	-- Add the parameters for the stored procedure here	
	@P_company_cd				SMALLINT		= 0
,	@P_report_kind				SMALLINT		= 0
AS
BEGIN
	SET NOCOUNT ON;
	--[0]
	SELECT 
		M4600.group_cd				AS group_cd
	,	ISNULL(M4600.group_nm,'')   AS group_nm
	FROM M4610
	LEFT JOIN M4600 ON (
		M4610.company_cd	= M4600.company_cd
	AND M4610.group_cd		= M4600.group_cd
	AND M4600.del_datetime	IS NULL	
	)
	WHERE
		M4610.company_cd	= @P_company_cd
	AND M4610.report_kind	= @P_report_kind
	AND M4610.sheet_cd      <> 0
	AND M4610.del_datetime	IS NULL
	ORDER BY 
		M4610.report_kind
	,	M4600.arrange_order
	,	M4600.group_cd
END
GO
