SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_rI1010_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_rI1010_INQ1 '740','2022','6','4','1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	GET LIST DATE
--*  
--* 作成日/create date			:	2023/04/18												
--*	作成者/creater				:	quangnd						
--*   					
--*	更新日/update date			:	
--*	更新者/updater				:	
--*	更新内容/update content		:	
--*
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_rI1010_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_company_cd				SMALLINT		= 0
,	@P_fiscal_year				SMALLINT		= 0
,	@P_month_n					SMALLINT		= 0
,	@P_report_kind				SMALLINT		= 0
,	@P_group_cd					SMALLINT		= 0
,	@P_language					NVARCHAR(2)		='jp'
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@beginning_date							date			=	null
	,	@start_date								date			=	null
	,	@end_date								date			=	null
	,	@end_weekly_date						date			=	null
	,	@end_weekly								date			=	null
	,	@w_monthlyreport_deadline				smallint		=	1
	,	@i										int				=	0
	,	@w_count_month							int				=	0
	,	@w_temp_date							date			=	null
	,	@w_temp_date_str						nvarchar(10)	=	''
	,	@P_month								DATE			=   null
	,	@w_is_refer_detail						SMALLINT		=   0
	--,	@w_title								nvarchar(20)	=	''
	IF(@P_month_n <0)
	BEGIN
		SET @P_month_n = 0
	END
	IF EXISTS (SELECT 1 FROM M4610 
		WHERE	M4610.company_cd = @P_company_cd 
		AND		M4610.report_kind = @P_report_kind 
		AND		M4610.group_cd = @P_group_cd 
		AND		sheet_cd > 0
		AND     M4610.del_datetime IS NULL)
	BEGIN
		SET @w_is_refer_detail = 1
	END
	--
	CREATE TABLE #DATE(
		id					INT	IDENTITY(1,1)
	,	normal_month		SMALLINT
	,	normal_year			SMALLINT
	,	[start_date]		DATETIME 
	,	deadline_date		DATETIME 
	)
	--
	CREATE TABLE #DATE_DETAIL_WEEKLY(
		id							INT	IDENTITY(1,1)
	,	detail_no					SMALLINT
	,	month						SMALLINT
	,	normal_month				SMALLINT
	,	[start_date]				DATETIME
	,	deadline_date				DATETIME
	)
	--
	SELECT
		@w_monthlyreport_deadline		= ISNULL(monthlyreport_deadline,1)
	FROM M4100
	WHERE
		company_cd	= @P_company_cd
	AND	del_datetime IS NULL
	--
	SELECT 
		@beginning_date = M9100.[report_beginning_date]		-- edited by viettd 2021/04/22 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	-- CACULATE BEGIN AND END OF DATE
	IF @beginning_date IS NOT NULL
	BEGIN
		SET @start_date = CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		SET @end_date = DATEADD(DD,-1,DATEADD(YYYY,1,@start_date))
	END
	ELSE
	BEGIN 
		SET @start_date		= CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/01/01') AS DATE)
		SET @end_date		= CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/12/31') AS DATE)
	END
	--
	IF(@P_month_n <> 0)
	BEGIN
		SET @P_month = DATEADD(MM,@P_month_n-1,@start_date)
	END
	--
	CREATE TABLE #MONTH_NM(
		month_no	INT
	,	year_nm		NVARCHAR(20)
	,	annual_nm	NVARCHAR(20)
	,	semi_nm		NVARCHAR(20)
	,	quarter_nm	NVARCHAR(20)
	,	month_nm	NVARCHAR(20)
	,	month_weekly_nm	NVARCHAR(20)
	,	report_nm	NVARCHAR(20)
	,	weekly_en	NVARCHAR(20)
	,	weekly_jp	NVARCHAR(20)
	)
	INSERT INTO #MONTH_NM(month_no,year_nm,annual_nm,semi_nm,quarter_nm,month_nm,month_weekly_nm,report_nm,weekly_en,weekly_jp) VALUES (1,IIF(@P_language = 'en','','年度'),IIF(@P_language = 'en',' Annual','年報'),IIF(@P_language = 'en',' Semi-Annual ','半期報'),IIF(@P_language = 'en',' Quarterly ','四半期報'),IIF(@P_language = 'en',' Jan','1月月報'),IIF(@P_language = 'en',' Jan','1月第'),IIF(@P_language = 'en',' Report',''),IIF(@P_language = 'en',' Week ',''),IIF(@P_language = 'en','','週週報'))
	INSERT INTO #MONTH_NM(month_no,year_nm,annual_nm,semi_nm,quarter_nm,month_nm,month_weekly_nm,report_nm,weekly_en,weekly_jp) VALUES (2,IIF(@P_language = 'en','','年度'),IIF(@P_language = 'en',' Annual','年報'),IIF(@P_language = 'en',' Semi-Annual ','半期報'),IIF(@P_language = 'en',' Quarterly ','四半期報'),IIF(@P_language = 'en',' Feb','2月月報'),IIF(@P_language = 'en',' Feb','2月第'),IIF(@P_language = 'en',' Report',''),IIF(@P_language = 'en',' Week ',''),IIF(@P_language = 'en','','週週報'))
	INSERT INTO #MONTH_NM(month_no,year_nm,annual_nm,semi_nm,quarter_nm,month_nm,month_weekly_nm,report_nm,weekly_en,weekly_jp) VALUES (3,IIF(@P_language = 'en','','年度'),IIF(@P_language = 'en',' Annual','年報'),IIF(@P_language = 'en',' Semi-Annual ','半期報'),IIF(@P_language = 'en',' Quarterly ','四半期報'),IIF(@P_language = 'en',' Mar','3月月報'),IIF(@P_language = 'en',' Mar','3月第'),IIF(@P_language = 'en',' Report',''),IIF(@P_language = 'en',' Week ',''),IIF(@P_language = 'en','','週週報'))
	INSERT INTO #MONTH_NM(month_no,year_nm,annual_nm,semi_nm,quarter_nm,month_nm,month_weekly_nm,report_nm,weekly_en,weekly_jp) VALUES (4,IIF(@P_language = 'en','','年度'),IIF(@P_language = 'en',' Annual','年報'),IIF(@P_language = 'en',' Semi-Annual ','半期報'),IIF(@P_language = 'en',' Quarterly ','四半期報'),IIF(@P_language = 'en',' Apr','4月月報'),IIF(@P_language = 'en',' Apr','4月第'),IIF(@P_language = 'en',' Report',''),IIF(@P_language = 'en',' Week ',''),IIF(@P_language = 'en','','週週報'))
	INSERT INTO #MONTH_NM(month_no,year_nm,annual_nm,semi_nm,quarter_nm,month_nm,month_weekly_nm,report_nm,weekly_en,weekly_jp) VALUES (5,IIF(@P_language = 'en','','年度'),IIF(@P_language = 'en',' Annual','年報'),IIF(@P_language = 'en',' Semi-Annual ','半期報'),IIF(@P_language = 'en',' Quarterly ','四半期報'),IIF(@P_language = 'en',' May','5月月報'),IIF(@P_language = 'en',' May','5月第'),IIF(@P_language = 'en',' Report',''),IIF(@P_language = 'en',' Week ',''),IIF(@P_language = 'en','','週週報'))
	INSERT INTO #MONTH_NM(month_no,year_nm,annual_nm,semi_nm,quarter_nm,month_nm,month_weekly_nm,report_nm,weekly_en,weekly_jp) VALUES (6,IIF(@P_language = 'en','','年度'),IIF(@P_language = 'en',' Annual','年報'),IIF(@P_language = 'en',' Semi-Annual ','半期報'),IIF(@P_language = 'en',' Quarterly ','四半期報'),IIF(@P_language = 'en',' Jun','6月月報'),IIF(@P_language = 'en',' Jun','6月第'),IIF(@P_language = 'en',' Report',''),IIF(@P_language = 'en',' Week ',''),IIF(@P_language = 'en','','週週報'))
	INSERT INTO #MONTH_NM(month_no,year_nm,annual_nm,semi_nm,quarter_nm,month_nm,month_weekly_nm,report_nm,weekly_en,weekly_jp) VALUES (7,IIF(@P_language = 'en','','年度'),IIF(@P_language = 'en',' Annual','年報'),IIF(@P_language = 'en',' Semi-Annual ','半期報'),IIF(@P_language = 'en',' Quarterly ','四半期報'),IIF(@P_language = 'en',' Jul','7月月報'),IIF(@P_language = 'en',' Jul','7月第'),IIF(@P_language = 'en',' Report',''),IIF(@P_language = 'en',' Week ',''),IIF(@P_language = 'en','','週週報'))
	INSERT INTO #MONTH_NM(month_no,year_nm,annual_nm,semi_nm,quarter_nm,month_nm,month_weekly_nm,report_nm,weekly_en,weekly_jp) VALUES (8,IIF(@P_language = 'en','','年度'),IIF(@P_language = 'en',' Annual','年報'),IIF(@P_language = 'en',' Semi-Annual ','半期報'),IIF(@P_language = 'en',' Quarterly ','四半期報'),IIF(@P_language = 'en',' Aug','8月月報'),IIF(@P_language = 'en',' Aug','8月第'),IIF(@P_language = 'en',' Report',''),IIF(@P_language = 'en',' Week ',''),IIF(@P_language = 'en','','週週報'))
	INSERT INTO #MONTH_NM(month_no,year_nm,annual_nm,semi_nm,quarter_nm,month_nm,month_weekly_nm,report_nm,weekly_en,weekly_jp) VALUES (9,IIF(@P_language = 'en','','年度'),IIF(@P_language = 'en',' Annual','年報'),IIF(@P_language = 'en',' Semi-Annual ','半期報'),IIF(@P_language = 'en',' Quarterly ','四半期報'),IIF(@P_language = 'en',' Sep','9月月報'),IIF(@P_language = 'en',' Sep','9月第'),IIF(@P_language = 'en',' Report',''),IIF(@P_language = 'en',' Week ',''),IIF(@P_language = 'en','','週週報'))
	INSERT INTO #MONTH_NM(month_no,year_nm,annual_nm,semi_nm,quarter_nm,month_nm,month_weekly_nm,report_nm,weekly_en,weekly_jp) VALUES (10,IIF(@P_language = 'en','','年度'),IIF(@P_language = 'en',' Annual','年報'),IIF(@P_language = 'en',' Semi-Annual ','半期報'),IIF(@P_language = 'en',' Quarterly ','四半期報'),IIF(@P_language = 'en',' Oct','10月月報'),IIF(@P_language = 'en',' Oct','10月第'),IIF(@P_language = 'en',' Report',''),IIF(@P_language = 'en',' Week ',''),IIF(@P_language = 'en','','週週報'))
	INSERT INTO #MONTH_NM(month_no,year_nm,annual_nm,semi_nm,quarter_nm,month_nm,month_weekly_nm,report_nm,weekly_en,weekly_jp) VALUES (11,IIF(@P_language = 'en','','年度'),IIF(@P_language = 'en',' Annual','年報'),IIF(@P_language = 'en',' Semi-Annual ','半期報'),IIF(@P_language = 'en',' Quarterly ','四半期報'),IIF(@P_language = 'en',' Nov','11月月報'),IIF(@P_language = 'en',' Nov','11月第'),IIF(@P_language = 'en',' Report',''),IIF(@P_language = 'en',' Week ',''),IIF(@P_language = 'en','','週週報'))
	INSERT INTO #MONTH_NM(month_no,year_nm,annual_nm,semi_nm,quarter_nm,month_nm,month_weekly_nm,report_nm,weekly_en,weekly_jp) VALUES (12,IIF(@P_language = 'en','','年度'),IIF(@P_language = 'en',' Annual','年報'),IIF(@P_language = 'en',' Semi-Annual ','半期報'),IIF(@P_language = 'en',' Quarterly ','四半期報'),IIF(@P_language = 'en',' Dec','12月月報'),IIF(@P_language = 'en',' Dec','12月第'),IIF(@P_language = 'en',' Report',''),IIF(@P_language = 'en',' Week ',''),IIF(@P_language = 'en','','週週報'))
	IF @w_is_refer_detail = 1
	BEGIN
	--@P_report_kind = 1
	IF (@P_report_kind = 1)
	BEGIN
		--SET @w_title = IIF(@P_language='en',' Times Annual','回年報')
		INSERT INTO #DATE
		SELECT 
			MONTH(@start_date)
		,	YEAR(@start_date)
		,	@start_date		-- FirstDate, 
		,	@end_date  --last date
	END
		--@P_report_kind = 2
		IF (@P_report_kind = 2)
		BEGIN
			--SET @w_title = IIF(@P_language='en',' Times Semi-Annual','回半期報')
			INSERT INTO #DATE VALUES (MONTH(@start_date),YEAR(@start_date), @start_date, DATEADD(DD,-1,DATEADD(MM,6,@start_date))) 
			INSERT INTO #DATE VALUES (MONTH(DATEADD(MM,6,@start_date)),YEAR( DATEADD(MM,6,@start_date)),DATEADD(MM,6,@start_date), DATEADD(DD,-1,DATEADD(MM,12,@start_date)))
		END
		--@P_report_kind = 3
		IF (@P_report_kind = 3)
		BEGIN
			--SET @w_title = IIF(@P_language='en',' Times Quarterly','回四半期報')
			WHILE @i < 12
			BEGIN
				INSERT INTO #DATE
				SELECT 
					MONTH(DATEADD(MONTH,@i, @start_date))
				,	YEAR(DATEADD(MONTH,@i, @start_date))
				,	DATEADD(MONTH,@i, @start_date)		
				,	DATEADD(MONTH,@i + 3, DATEADD(DAY,-1,@start_date))  
				SET @i = @i + 3
			END
		END
		--@P_report_kind = 4
		IF (@P_report_kind = 4)
		BEGIN
			--SET @w_title = IIF(@P_language='en',' Times Monthly','回月報')
			--
			SET @w_temp_date = CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/01/'+ RIGHT('00' +  CAST(@w_monthlyreport_deadline AS nvarchar(2)),2)) AS DATE)
			SET @w_count_month =  MONTH(@start_date)
			IF(@P_month IS NULL)
			BEGIN
				WHILE @i < 12
				BEGIN
					--
					INSERT INTO #DATE
					SELECT 
						MONTH(DATEADD(MM,@i + @w_count_month -1, @w_temp_date))
					,	YEAR(DATEADD(MM,@i + @w_count_month -1, @w_temp_date))
					,	DATEADD(DD,1, DATEADD(MM,@i + @w_count_month -2, @w_temp_date))		-- FirstDate, 
					,	DATEADD(MM,@i + @w_count_month -1, @w_temp_date)  --last date
					SET @i = @i + 1
				END
			END
			ELSE
			BEGIN
				INSERT INTO #DATE
					SELECT 
						MONTH(DATEADD(MM,@P_month_n + @w_count_month -2, @w_temp_date))
					,	YEAR(DATEADD(MM,@P_month_n + @w_count_month -2, @w_temp_date))
					,	DATEADD(DD, 1, DATEADD(MM,@P_month_n + @w_count_month-3, @w_temp_date))		-- FirstDate, 
					,	DATEADD(MM,@P_month_n + @w_count_month-2, @w_temp_date)  --last date
			END
		END
		--@P_report_kind = 5
		IF (@P_report_kind = 5)
		BEGIN
			--SET @w_title = IIF(@P_language='en',' Times Weekly','回週報')
			INSERT INTO #DATE_DETAIL_WEEKLY
			EXEC [dbo].[SPC_WEEKLYREPORT_GET_WEEKLY] @P_company_cd,@P_fiscal_year,@P_month_n
			--
			INSERT INTO #DATE
			SELECT 
				#DATE_DETAIL_WEEKLY.normal_month
			,	YEAR(@P_month)
			,	#DATE_DETAIL_WEEKLY.[start_date]		
			,	#DATE_DETAIL_WEEKLY.deadline_date
			FROM #DATE_DETAIL_WEEKLY

		END
	END
	--[0]
	IF(@P_report_kind = 5)
	BEGIN
		SELECT
			#DATE_DETAIL_WEEKLY.detail_no															AS detail_no
		,	#DATE.normal_month																		AS month
		,	#DATE.normal_year																		AS year
		--,	ISNULL(F4100.title,CAST(#DATE_DETAIL_WEEKLY.detail_no AS nvarchar)+@w_title)			AS title
		,	CAST(@P_fiscal_year AS nvarchar) + #MONTH_NM.year_nm + #MONTH_NM.month_weekly_nm +#MONTH_NM.weekly_en +CAST(#DATE.id AS nvarchar) + #MONTH_NM.weekly_jp 	AS title_df
		,	ISNULL(F4100.title,'')																	AS title	
		,	CONVERT(VARCHAR,ISNULL(F4100.[start_date],#DATE_DETAIL_WEEKLY.[start_date]),111)		AS [start_date]
		,	CONVERT(VARCHAR,ISNULL(F4100.deadline_date,#DATE_DETAIL_WEEKLY.deadline_date),111)		AS deadline_date
		,	ISNULL(F4100.notice,0)																	AS notice
		,	ISNULL(F4100.alert,0)																	AS alert
		,	ISNULL(F4100.user_typ,1)																AS user_typ
		FROM #DATE_DETAIL_WEEKLY
		INNER JOIN #DATE ON (
			#DATE_DETAIL_WEEKLY.start_date		= #DATE.start_date
		AND #DATE_DETAIL_WEEKLY.deadline_date	= #DATE_DETAIL_WEEKLY.deadline_date
		)
		LEFT JOIN F4100 ON (
			 @P_company_cd		= F4100.company_cd 
		AND	 @P_fiscal_year		= F4100.fiscal_year
		AND  @P_group_cd		= F4100.group_cd
		AND  5					= F4100.report_kind
		AND  #DATE_DETAIL_WEEKLY.detail_no	= F4100.detail_no
		AND	 #DATE.normal_year = F4100.year
		AND	 #DATE.normal_month	= F4100.month
		AND	 F4100.del_datetime IS NULL
		)
		LEFT JOIN #MONTH_NM ON (
			#DATE.normal_month= #MONTH_NM.month_no
		)
	END
	IF(@P_report_kind = 4 and @P_month_n <> 0)
	BEGIN
		SELECT
			@P_month_n																AS detail_no
		,	#DATE.normal_month														AS month
		,	#DATE.normal_year														AS year
		--,	ISNULL(F4100.title,CAST(@P_month_n AS nvarchar)+@w_title)				AS title
		,	CAST(@P_fiscal_year AS nvarchar) + #MONTH_NM.year_nm + #MONTH_NM.month_nm +#MONTH_NM.report_nm		AS title_df
		,	ISNULL(F4100.title,'')													AS title	
		,	CONVERT(VARCHAR,ISNULL(F4100.[start_date],#DATE.[start_date]),111)		AS [start_date]
		,	CONVERT(VARCHAR,ISNULL(F4100.deadline_date,#DATE.deadline_date),111)	AS deadline_date
		,	ISNULL(F4100.notice,0)													AS notice
		,	ISNULL(F4100.alert,0)													AS alert
		,	ISNULL(F4100.user_typ,1)												AS user_typ
		FROM #DATE
		LEFT JOIN F4100 ON (
			 @P_company_cd		= F4100.company_cd 
		AND	 @P_fiscal_year		= F4100.fiscal_year
		AND  @P_group_cd		= F4100.group_cd
		AND  F4100.report_kind	= 4 
		AND  F4100.detail_no	=  @P_month_n
		AND	 #DATE.normal_year = F4100.year
		AND	 #DATE.normal_month	= F4100.month
		AND  F4100.del_datetime IS NULL
		)	
		LEFT JOIN #MONTH_NM ON (
			#DATE.normal_month= #MONTH_NM.month_no
		)
	END
	IF(@P_report_kind = 4 and  @P_month_n = 0)
	BEGIN
		SELECT
			#DATE.id																AS detail_no
		,	#DATE.normal_month														AS month
		,	#DATE.normal_year														AS year
		--,	ISNULL(F4100.title,CAST(#DATE.id AS nvarchar) + @w_title)				AS title
		,	CAST(@P_fiscal_year AS nvarchar) + #MONTH_NM.year_nm + #MONTH_NM.month_nm+#MONTH_NM.report_nm	AS title_df
		,	ISNULL(F4100.title,'')													AS title	
		,	CONVERT(VARCHAR,ISNULL(F4100.[start_date],#DATE.[start_date]),111)		AS [start_date]
		,	CONVERT(VARCHAR,ISNULL(F4100.deadline_date,#DATE.deadline_date),111)	AS deadline_date
		,	ISNULL(F4100.notice,0)													AS notice
		,	ISNULL(F4100.alert,0)													AS alert
		,	ISNULL(F4100.user_typ,1)												AS user_typ
		FROM #DATE
		LEFT JOIN F4100 ON (
			 @P_company_cd		= F4100.company_cd 
		AND	 @P_fiscal_year		= F4100.fiscal_year
		AND  @P_group_cd		= F4100.group_cd
		AND  4					= F4100.report_kind
		AND  #DATE.id			= F4100.detail_no
		AND	 #DATE.normal_year = F4100.year
		AND	 #DATE.normal_month	= F4100.month
		AND F4100.del_datetime IS NULL
		)
		LEFT JOIN #MONTH_NM ON (
			#DATE.normal_month= #MONTH_NM.month_no
		)
		ORDER BY
		#DATE.[start_date]
	END
	IF (@P_report_kind = 3)
	BEGIN
		SELECT
			#DATE.id																AS detail_no
		,	#DATE.normal_month														AS month
		,	#DATE.normal_year														AS year
		--,	ISNULL(F4100.title,CAST(#DATE.id AS nvarchar)+@w_title)					AS title
		,	CAST(@P_fiscal_year AS nvarchar) + #MONTH_NM.year_nm + #MONTH_NM.quarter_nm + CAST(#DATE.id AS nvarchar)		AS title_df
		,	ISNULL(F4100.title,'')													AS title	
		,	CONVERT(VARCHAR,ISNULL(F4100.[start_date],#DATE.[start_date]),111)		AS [start_date]
		,	CONVERT(VARCHAR,ISNULL(F4100.deadline_date,#DATE.deadline_date),111)	AS deadline_date
		,	ISNULL(F4100.notice,0)													AS notice
		,	ISNULL(F4100.alert,0)													AS alert
		,	ISNULL(F4100.user_typ,1)												AS user_typ
		FROM #DATE
		LEFT JOIN F4100 ON (
			F4100.company_cd  = @P_company_cd
		AND	F4100.fiscal_year = @P_fiscal_year
		AND F4100.group_cd    = @P_group_cd
		AND F4100.report_kind = @P_report_kind
		AND	F4100.detail_no	  = #DATE.id
		AND	 #DATE.normal_year = F4100.year
		AND	 #DATE.normal_month	= F4100.month
		AND F4100.del_datetime IS NULL
		)	
		LEFT JOIN #MONTH_NM ON (
			#DATE.normal_month= #MONTH_NM.month_no
		)
	END	
	IF (@P_report_kind = 2)
	BEGIN
		SELECT
			#DATE.id																AS detail_no
		,	#DATE.normal_month														AS month
		,	#DATE.normal_year														AS year
		--,	ISNULL(F4100.title,CAST(#DATE.id AS nvarchar)+@w_title)					AS title
		,	CAST(@P_fiscal_year AS nvarchar) + #MONTH_NM.year_nm + #MONTH_NM.semi_nm + CAST(#DATE.id AS nvarchar)	AS title_df
		,	ISNULL(F4100.title,'')													AS title	
		,	CONVERT(VARCHAR,ISNULL(F4100.[start_date],#DATE.[start_date]),111)		AS [start_date]
		,	CONVERT(VARCHAR,ISNULL(F4100.deadline_date,#DATE.deadline_date),111)	AS deadline_date
		,	ISNULL(F4100.notice,0)													AS notice
		,	ISNULL(F4100.alert,0)													AS alert
		,	ISNULL(F4100.user_typ,1)												AS user_typ
		FROM #DATE
		LEFT JOIN F4100 ON (
			F4100.company_cd  = @P_company_cd
		AND	F4100.fiscal_year = @P_fiscal_year
		AND F4100.group_cd    = @P_group_cd
		AND F4100.report_kind = @P_report_kind
		AND	F4100.detail_no	  = #DATE.id
		AND	 #DATE.normal_year = F4100.year
		AND	 #DATE.normal_month	= F4100.month
		AND F4100.del_datetime IS NULL
		)	
		LEFT JOIN #MONTH_NM ON (
			#DATE.normal_month= #MONTH_NM.month_no
		)
	END	
	IF (@P_report_kind = 1)
	BEGIN
		SELECT
			#DATE.id																AS detail_no
		,	#DATE.normal_month														AS month
		,	#DATE.normal_year														AS year
		--,	ISNULL(F4100.title,CAST(#DATE.id AS nvarchar)+@w_title)					AS title
		,	CAST(@P_fiscal_year AS nvarchar) + #MONTH_NM.year_nm + #MONTH_NM.annual_nm		AS title_df
		,	ISNULL(F4100.title,'')													AS title	
		,	CONVERT(VARCHAR,ISNULL(F4100.[start_date],#DATE.[start_date]),111)		AS [start_date]
		,	CONVERT(VARCHAR,ISNULL(F4100.deadline_date,#DATE.deadline_date),111)	AS deadline_date
		,	ISNULL(F4100.notice,0)													AS notice
		,	ISNULL(F4100.alert,0)													AS alert
		,	ISNULL(F4100.user_typ,1)												AS user_typ
		FROM #DATE
		LEFT JOIN F4100 ON (
			F4100.company_cd  = @P_company_cd
		AND	F4100.fiscal_year = @P_fiscal_year
		AND F4100.group_cd    = @P_group_cd
		AND F4100.report_kind = @P_report_kind
		AND	F4100.detail_no	  = #DATE.id
		AND	 #DATE.normal_year = F4100.year
		AND	 #DATE.normal_month	= F4100.month
		AND F4100.del_datetime IS NULL
		)	
		LEFT JOIN #MONTH_NM ON (
			#DATE.normal_month= #MONTH_NM.month_no
		)
	END	
END
GO
