BEGIN
    DROP PROCEDURE [dbo].[SPC_rI1010_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC SPC_rI1010_ACT1 '{"fiscal_year":"2022","month":"0","report_kind":"4","list_schedule":[{"detail_no":"9","title":"DETAIL_NO 9","start_date":"2022\/08\/11","deadline_date":"2022\/09\/10","report_alert":"0","report_user_typ":"1"},{"detail_no":"","title":"AAAAAAAAA","start_date":"2022\/09\/11","deadline_date":"2022\/10\/10","report_alert":"0","report_user_typ":"1"},{"detail_no":"","title":"BBBBBB","start_date":"2022\/10\/11","deadline_date":"2022\/11\/10","report_alert":"0","report_user_typ":"1"},{"detail_no":"","title":"CCCCCCCCC","start_date":"2022\/11\/11","deadline_date":"2022\/12\/10","report_alert":"0","report_user_typ":"1"},{"detail_no":"","title":"DDDDDDDDD","start_date":"2022\/12\/11","deadline_date":"2023\/01\/10","report_alert":"0","report_user_typ":"1"},{"detail_no":"","title":"EEEE","start_date":"2023\/01\/11","deadline_date":"2023\/02\/10","report_alert":"0","report_user_typ":"1"},{"detail_no":"","title":"QQQQQQQ","start_date":"2023\/02\/11","deadline_date":"2023\/03\/10","report_alert":"0","report_user_typ":"1"},{"detail_no":"","title":"AAAAAA","start_date":"2023\/03\/11","deadline_date":"2023\/04\/10","report_alert":"0","report_user_typ":"1"},{"detail_no":"","title":"SSS","start_date":"2023\/04\/11","deadline_date":"2023\/05\/10","report_alert":"0","report_user_typ":"1"},{"detail_no":"","title":"VC","start_date":"2023\/05\/11","deadline_date":"2023\/06\/10","report_alert":"0","report_user_typ":"1"},{"detail_no":"","title":"HHHHH","start_date":"2023\/06\/11","deadline_date":"2023\/07\/10","report_alert":"0","report_user_typ":"1"},{"detail_no":"","title":"UUUUUUUU","start_date":"2023\/07\/11","deadline_date":"2023\/08\/10","report_alert":"0","report_user_typ":"1"}],"report_group_list":[{"report_group":"1"}]}','788','quang','::1';
/****************************************************************************************************
 *
 *  処理概要：rI1010 - SAVE/UPDATE
 *
 *  作成日  ：2023/04/19
 *  作成者  ：ANS-ASIA quangnd
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_rI1010_ACT1] 
	@P_json				NVARCHAR(MAX)
,	@P_company_cd		INT			 = 0
,	@P_cre_user			NVARCHAR(50) = ''
,	@P_cre_ip			NVARCHAR(50) = ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2		= SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@w_fiscal_year			SMALLINT		= 0
	,	@w_report_kind			SMALLINT		= 1
	--,	@w_title				NVARCHAR(20)	= ''
	--,	@w_language				SMALLINT		= 1	-- 1:jp / 2:en
	--
	CREATE TABLE #REPORT_GROUP_LIST (
		id					INT	IDENTITY(1,1)
	,	report_group		SMALLINT			
	)
	CREATE TABLE #TBL_LIST_SCHEDULE(
		id					INT		IDENTITY(1,1)
	,	detail_no			SMALLINT
	,	title				NVARCHAR(20)
	,	[year]				SMALLINT
	,	[month]				SMALLINT
	,	[start_date]		DATE
	,	deadline_date		DATE
	,	notice				SMALLINT
	,	alert				SMALLINT
	,	user_typ			SMALLINT
	)
	CREATE TABLE #F4100(
		id					INT		IDENTITY(1,1)
	,	company_cd			SMALLINT
	,	fiscal_year			SMALLINT
	,	group_cd			SMALLINT
	,	report_kind			SMALLINT
	,	detail_no			SMALLINT
	,	title				NVARCHAR(20)
	,	[year]				SMALLINT
	,	[month]				SMALLINT
	,	[start_date]		DATE
	,	deadline_date		DATE
	,	notice				SMALLINT
	,	alert				SMALLINT
	,	user_typ			SMALLINT
	,	arrange_order		INT
	)
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	--insert
	SET @w_fiscal_year	= ISNULL(JSON_VALUE(@P_json,'$.fiscal_year'),0)
	SET @w_report_kind	= ISNULL(JSON_VALUE(@P_json,'$.report_kind'),0)
	--
	INSERT INTO #REPORT_GROUP_LIST
	SELECT 
		ISNULL(report_group ,0)  
	FROM OPENJSON(@P_json, '$.report_group_list') WITH(
		report_group      	SMALLINT
	)
	--
	INSERT INTO #TBL_LIST_SCHEDULE
	SELECT 
			ISNULL(detail_no,0)			
		,	IIF(ISNULL(title,'') = '',ISNULL(title_df,''),ISNULL(title,''))
		,	ISNULL(year_n,0)	
		,	ISNULL(month_n,0)	
		,	[start_date]	
		,	deadline_date	 
		,	ISNULL(report_notice,0)
		,	ISNULL(report_alert,0)	
		,	ISNULL(report_user_typ,0)	
	FROM OPENJSON(@P_json, '$.list_schedule') WITH(
				detail_no			SMALLINT
			,	title_df			NVARCHAR(20)
			,	title				NVARCHAR(20)
			,	year_n				SMALLINT
			,	month_n				SMALLINT
			,	[start_date]		DATE
			,	deadline_date		DATE
			,	report_notice		SMALLINT
			,	report_alert		SMALLINT
			,	report_user_typ		SMALLINT
	)
	--
	INSERT INTO @ERR_TBL 
	SELECT																									
		24									-- mã lỗi (trùng với mã trong bảng message) 								message_no
	,	'.start_date'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
	,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
	,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
	,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
	,	0									-- Tùy ý																	value2
	,	'start_date'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
	FROM #TBL_LIST_SCHEDULE
	WHERE ([start_date] > deadline_date )--OR(#TBL_JSON.[start_date]IS NULL AND #TBL_JSON.deadline_date IS NULL)
		--
	INSERT INTO @ERR_TBL 
	SELECT																									
		24									-- mã lỗi (trùng với mã trong bảng message) 								message_no
	,	'.deadline_date'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  		item		
	,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  							order_by
	,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 								error_typ
	,	id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 						value1
	,	0									-- Tùy ý																	value2
	,	'deadline_date'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
	FROM #TBL_LIST_SCHEDULE
	WHERE ([start_date] > deadline_date )--OR(#TBL_JSON.[start_date]IS NULL AND #TBL_JSON.deadline_date IS NULL)
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	IF EXISTS (SELECT 1 FROM M9100 WHERE company_cd = @P_company_cd AND report_beginning_date IS NULL AND del_datetime IS NULL)
	OR NOT EXISTS ( SELECT 1 FROM M9100 WHERE company_cd = @P_company_cd)
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			173								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'report_beginning_date'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	IF EXISTS(SELECT 1 FROM #REPORT_GROUP_LIST LEFT JOIN M4610 ON(
						#REPORT_GROUP_LIST.report_group = M4610.group_cd
					AND @P_company_cd =	M4610.company_cd
					AND	@w_report_kind = M4610.report_kind 
					AND		sheet_cd > 0
					AND     M4610.del_datetime IS NULL)
					WHERE M4610.group_cd IS NULL)
	BEGIN
	INSERT INTO @ERR_TBL 
	SELECT																									
		23								-- mã lỗi (trùng với mã trong bảng message) 								message_no
	,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
	,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
	,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
	,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
	,	0								-- Tùy ý																	value2
	,	''								-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)						remark
	END
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	--INSERT #F4100
	INSERT INTO #F4100
	SELECT 
		@P_company_cd
	,	@w_fiscal_year
	,	#REPORT_GROUP_LIST.report_group
	,	@w_report_kind
	,	#TBL_LIST_SCHEDULE.detail_no
	,	#TBL_LIST_SCHEDULE.title
	,	#TBL_LIST_SCHEDULE.year
	,	#TBL_LIST_SCHEDULE.month
	,	#TBL_LIST_SCHEDULE.[start_date]
	,	#TBL_LIST_SCHEDULE.deadline_date
	,	#TBL_LIST_SCHEDULE.notice
	,	#TBL_LIST_SCHEDULE.alert
	,	#TBL_LIST_SCHEDULE.user_typ
	,	0
	FROM #REPORT_GROUP_LIST ,#TBL_LIST_SCHEDULE 
	BEGIN TRANSACTION
	BEGIN TRY		
		UPDATE F4100
		SET 
			[title]					=	#F4100.[title]
		,	[year]					=	#F4100.[year] 
		,	[month]					=	#F4100.[month] 
		,	[start_date]			=	#F4100.[start_date] 			
		,	deadline_date			=	#F4100.deadline_date
		,	notice					=	#F4100.notice
		,	alert					=	#F4100.alert
		,	user_typ				=	#F4100.user_typ
		,	arrange_order			=	#F4100.arrange_order
		,	upd_user				=	@P_cre_user
		,	upd_ip					=	@P_cre_ip
		,	upd_prg					=	'rI1010'
		,	upd_datetime			=	@w_time
		,	del_user				=	''
		,	del_ip					=	''
		,	del_prg					=	''
		,	del_datetime			=	NULL
		FROM F4100 
		INNER JOIN #F4100 ON(
			F4100.company_cd		=   #F4100.company_cd
		AND F4100.fiscal_year		=	#F4100.fiscal_year
		AND	F4100.group_cd			=	#F4100.group_cd
		AND F4100.report_kind		=	#F4100.report_kind
		AND	F4100.detail_no			=	#F4100.detail_no
		)
		WHERE 
			F4100.company_cd	= @P_company_cd
		AND	F4100.fiscal_year	= @w_fiscal_year
		AND	F4100.report_kind	= @w_report_kind
		AND F4100.del_datetime  IS NULL
		--			
		UPDATE F4100
		SET 
			[title]					=	#F4100.[title]
		,	[year]					=	#F4100.[year] 
		,	[month]					=	#F4100.[month] 
		,	[start_date]			=	#F4100.[start_date] 			
		,	deadline_date			=	#F4100.deadline_date
		,	notice					=	#F4100.notice
		,	alert					=	#F4100.alert
		,	user_typ				=	#F4100.user_typ
		,	arrange_order			=	#F4100.arrange_order
		,	cre_user				=	@P_cre_user
		,	cre_ip					=	@P_cre_ip
		,	cre_prg					=	'rI1010'
		,	cre_datetime			=	@w_time
		,	upd_user				=	''
		,	upd_ip					=	''
		,	upd_prg					=	''
		,	upd_datetime			=	NULL
		,	del_user				=	''
		,	del_ip					=	''
		,	del_prg					=	''
		,	del_datetime			=	NULL
		FROM F4100 
		INNER JOIN #F4100 ON(
			F4100.company_cd		=   #F4100.company_cd
		AND F4100.fiscal_year		=	#F4100.fiscal_year
		AND	F4100.group_cd			=	#F4100.group_cd
		AND F4100.report_kind		=	#F4100.report_kind
		AND	F4100.detail_no			=	#F4100.detail_no
		)
		WHERE 
			F4100.company_cd	= @P_company_cd
		AND	F4100.fiscal_year	= @w_fiscal_year
		AND	F4100.report_kind	= @w_report_kind
		AND F4100.del_datetime  IS NOT NULL
		--	--
		INSERT INTO F4100
		SELECT 
			@P_company_cd				
		,	@w_fiscal_year 				
		,	#F4100.group_cd	
		,	@w_report_kind
		,	#F4100.detail_no				
		,	#F4100.[title]
		,	#F4100.[year]
		,	#F4100.[month]
		,	#F4100.[start_date]										
		,	#F4100.deadline_date
		,	#F4100.notice
		,	#F4100.alert
		,	#F4100.user_typ
		,	0					
		,	@P_cre_user			
		,	@P_cre_ip			
		,	'rI1010'			
		,	@w_time				
		,	''					
		,	''					
		,	''					
		,	NULL				
		,	''					
		,	''					
		,	''					
		,	NULL				
		FROM #F4100
		LEFT JOIN F4100 ON(
			@P_company_cd			=	F4100.company_cd
		AND @w_fiscal_year			=	F4100.fiscal_year
		AND #F4100.group_cd			=	F4100.group_cd
		AND	@w_report_kind			=	F4100.report_kind
		AND	#F4100.detail_no		=	F4100.detail_no
		)
		WHERE F4100.company_cd IS NULL
		--END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')      
	END CATCH
	-- Insert statements for procedure here
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN

	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END

GO
