DROP PROCEDURE [SPC_S0001_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--  SPC_S0001_ACT1 '{"client_id":"123234","client_secret":"345345","list_token":[]}','2','15','740';
--****************************************************************************************
--*   				
--*  作成日/create date			:				
--*　作成者/creater				:											
--*  更新日/update date			:	
--*　更新者/updater				:　	
--*　更新内容/update content	:	
--*   					
--****************************************************************************************
CREATE PROCEDURE [SPC_S0001_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json				NVARCHAR(max) = ''
,	@P_cre_user			NVARCHAR(50)	=	''
,	@P_cre_ip			NVARCHAR(50)	=	''
,	@P_company_cd		SMALLINT		=	0
	-- common
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2					=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@w_detail_max				INT							=	0
	,	@w_order_by_min				INT							=	0
	,	@w_screen_id				NVARCHAR(20)				=	'S0001'
	,	@P_client_id				NVARCHAR(510)		=	''
	,	@P_detail_no				SMALLINT
	,	@P_client_secret			NVARCHAR(510)	=	''
	,	@P_access_token				NVARCHAR(510)	=	''
	,	@P_kot_client_secret		NVARCHAR(255)	=	''
	,	@P_kot_client_id			NVARCHAR(255)	=	''
	,	@P_refresh_token			NVARCHAR(510)	=	''
	,	@P_expiry_date				DATETIME = SYSDATETIME()
	,	@P_status					TINYINT = 0
	,	@w_upd_user					NVARCHAR(50)	=	''
	,	@w_upd_ip					NVARCHAR(50)	=	''
	,	@w_upd_prg					NVARCHAR(50)	=	''
	,	@w_upd_time					DATETIME2		=	NULL
	SET @P_client_id			=	JSON_VALUE(@P_json,'$.client_id')
	SET @P_client_secret		=	JSON_VALUE(@P_json,'$.client_secret')
	SET @P_access_token			=	JSON_VALUE(@P_json,'$.access_token')
	SET @P_refresh_token		=	JSON_VALUE(@P_json,'$.refresh_token')
	SET @P_expiry_date			=	JSON_VALUE(@P_json,'$.expiry_date')
	SET @P_kot_client_id		=	JSON_VALUE(@P_json,'$.kot_client_id')
	SET @P_kot_client_secret	=	JSON_VALUE(@P_json,'$.kot_client_secret')

	BEGIN TRY
	BEGIN TRANSACTION
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			IF EXISTS(SELECT 1 FROM S0001 WHERE del_datetime IS NULL)
			BEGIN
			SET	@w_upd_user	= @P_cre_user
			SET	@w_upd_ip	= @P_cre_ip
			SET	@w_upd_prg	= 'S0001'
			SET	@w_upd_time	= SYSDATETIME()
			SELECT
				@P_cre_user		=	S0001.cre_user
			,	@P_cre_ip		=	S0001.cre_ip
			,	@w_screen_id	=	S0001.cre_prg
			,	@w_time			=	S0001.cre_datetime
			FROM S0001
			WHERE 
				S0001.del_datetime IS NULL
			END
			DELETE FROM S0001
			INSERT INTO S0001
			SELECT
				@P_client_id
			,	@P_client_secret
			,	@P_kot_client_id
			,	@P_kot_client_secret
			,	@P_cre_user
			,	@P_cre_ip
			,	@w_screen_id
			,	@w_time
			,	@w_upd_user
			,	@w_upd_ip
			,	@w_upd_prg
			,	@w_upd_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			
		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by
END

GO
