DROP PROCEDURE [SPC_S0001_ACT2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--  SPC_S0001_ACT1 '{"client_id":"123234","client_secret":"345345","list_token":[]}','2','15','740';
--****************************************************************************************
--*   				
--*  作成日/create date			:	UPDATE & INSERT TOKEN 		
--*　作成者/creater				:											
--*  更新日/update date			:	
--*
--*　更新者/updater				:　	
--*　更新内容/update content		:	
--*   					
--****************************************************************************************
CREATE PROCEDURE [SPC_S0001_ACT2] 
	@P_access_token				NVARCHAR(510)	=	''
,	@P_refresh_token			NVARCHAR(510)	=	''
,	@P_expiry_date				DATETIME		=	NULL
,	@P_cre_user					NVARCHAR(50)	=	''
,	@P_cre_ip					NVARCHAR(50)	=	''
,	@P_company_cd				SMALLINT		=	0
,	@P_screen_id				NVARCHAR(20)	=	'S0001'
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2					=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@w_detail_max				INT							=	0
	,	@w_order_by_min				INT							=	0
	,	@w_client_id				NVARCHAR(510)				=	''
	BEGIN TRY
	BEGIN TRANSACTION
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- GET client_id from S0001
			SET @w_client_id = (SELECT TOP 1 (client_id) from S0001 where del_datetime IS NULL)
			SET @w_detail_max = (SELECT ISNULL(MAX(detail_no),0) FROM S0002 WHERE S0002.client_id = @w_client_id)
			-- RESET TOKEN  			
			UPDATE S0002
			SET 
				[status]		=	1	-- 1.無効
			,	upd_user		=	@P_cre_user
			,	upd_ip          =	@P_cre_ip
			,	upd_prg			=	@P_screen_id
			,	upd_datetime	=	@w_time
			FROM S0002
			WHERE 
				client_id	= @w_client_id
			AND [status]	= 0
			-- ADD NEW TOKEN 
			IF @P_access_token <> '' AND @P_refresh_token <> ''
			BEGIN
				INSERT INTO S0002 
				SELECT
					@w_client_id
				,	@w_detail_max+1
				,	@P_access_token
				,	@P_refresh_token
				,	@P_expiry_date
				,	0	-- 0.有効
				,	@P_cre_user
				,	@P_cre_ip
				,	@P_screen_id
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
			END
		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by
END

GO
