@media (max-width: 575px) {
	
}
@media (min-width: 576px) and (max-width: 767px) {
    #table-data {
        min-width: 1200px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
    #table-data {
        min-width: unset !important;
    }
}
@media (min-width: 320px) and (max-width: 387px) {

}
.w-size{
    width: 50%;
}