.w-100{
    width: 100px !important;
}
.w25{
    width: 25%;
}
.p0{
    padding: 0px;
}
@media screen and (min-width: 1000px) and   (max-width:1580px){
    .mnw180{
        min-width: 180px !important;
        width: 180px !important;
    }
    #btn-upload {
        position: absolute;
        top: 0px;
        left: 30%;
    }
    #btn-delete-file {
        position: absolute;
        top: 4px;
        left: 60%;
    }
    .display-input {
        width: 58%;
    }
    .retire_date_label {
        width: 120px;
        margin-bottom: 3px;
    }

}
.retire_date_label {
    margin-bottom: 3px;
}

@media (min-width: 1920px){
    .padLeft {
        padding-left: 5px;
    }
    #btn-upload {
        position: absolute;
        top: 0px;
        left: 30%;
    }
    #btn-delete-file {
        position: absolute;
        top: 4px;
        left: 50%;
    }
    .mgDivAuthority {
        margin-left: -55px;
    }
    .mgLeft {
        margin-left: -55px;
    }
    .display-input {
        width: 72%;
    }
}
@media (min-width: 1600px) and (max-width: 1919px){
    .wd {
        width: 160px;
    }
    .padLeft {
        padding-left: 35px;
    }
    #btn-upload {
        position: absolute;
        top: 0px;
        left: 35px;
    }
    #btn-delete-file {
        position: absolute;
        top: 4px;
        left: 65px;
    }
    .mgLeft {
        margin-left: -5px !important;
    }
    .display-input {
        width: 65%;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1599px){
    .wd {
        width: 130px;
    }
    .mgLeft {
        margin-left: 10px;
    }
    .file-name{
        width: 55% !important;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1919px){
    .mw-135 {
        max-width: 185px;
    }

}
@media screen and (min-width: 1000px) and (max-width: 1366px){
    .mw-135 {
        max-width: 135px;
    }

}
.input-group .form-control {
     width: 100%;
}

.avatar {

}
.avatar .img {

}
.avatar .img p {

}
.avatar .img.loaded p {
    display: none;
}

#table_data{
    cursor:-moz-grab;
    cursor:-webkit-grab;
    cursor: move;
}
.no-required{
    background: none !important;
}
/*#img-upload{
    width: 100%!important;
    height: 100%!important;
    display: flex;
}*/
.flex-box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
}
#imageMain {
    margin-top: 10px;
    position: relative;
}

.img > .flex-box {
    width: 120px;
    height: 120px;
    /*overflow: hidden;*/
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
   /* border: 1px solid #ddd;
    border-radius: 50%;*/
    transition: ease 0.52s border-color;
    -moz-transition: ease 0.52s border-color;
    -webkit-transition: ease 0.52s border-color;
    -ms-transition: ease 0.52s border-color;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
/*    padding: 5px;*/
    cursor: pointer;
    margin: 0 auto;
}
.flex-box-image {
     border: 1px solid #ddd;
    border-radius: 50%;
}
.loaded .imgs {
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
/*.bor_radius {
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 0 auto;
}*/

.img > .flex-box img {
    width: 120px;
    height: 120px;
    border-radius: 400px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px #ccc, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    background-size: 100%!important;
    object-fit:cover ;
}
.w-50px {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}
.w-80px {
     width: 80px;
     min-width: 80px;
     max-width: 80px;
 }
 .w-100px {
     width: 80px;
     min-width: 80px;
     max-width: 80px;
 }
.w-120px {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}
.w-140px {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
}
.w-160px {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}

.flex-box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
    position: relative;
}
/*.img > .flex-box {
    width: 100%;
    height: 120px;
    overflow: hidden;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #ddd;
    transition: ease 0.52s border-color;
    -moz-transition: ease 0.52s border-color;
    -webkit-transition: ease 0.52s border-color;
    -ms-transition: ease 0.52s border-color;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}
.img > .flex-box img {
    max-width: 100%;
    max-height: 100%;
}*/
.img > .flex-box p {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
#showPass {
    margin-top: 17px;
}

#btn_show_password+label:before {
    content: " ";
    display: none; /* tuan edit 2018-11-12*/
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    background-color: #3598DB;
    position: relative;
    top: 2px;
    margin-right: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#btn_show_password+label:after {
    content: " ";
    display: inline-block;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    background-color: #3598DB;
    position: relative;
    top: 2px;
    left: 5px;
    margin-right: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#btn_show_password:checked+label:after {
    background: #3598DB;
    color: #fff;
    content: "\2713";
    text-align: center;
    font-family: FontAwesome;
    font-size: .675rem;
    font-weight: bold;
}

.widthShowPass {
    width: 150px;
}

#base_salary {
    width: 85%;
}
.wd {
    width: 160px;
    text-align: left;
}
.fa1 {
    color: #2A70B8;
    cursor: pointer;
    font-size: 16px;
    margin-top: 4px;
    cursor: pointer;
    border: 1px solid #2A70B8;
    padding: 6px 3px 5px 6px;
    border-radius: 50%;
}
.fa1:hover{
    background: #2A70B8 ;
    color: white;
}
/*.fa1:hover .fa-folder-open {
    color: red;
}*/
.fa3 {
    margin-top: 0px;
    font-size: 18px;
    cursor: pointer;
}
.btn-clearfile {
    margin-left: 7px;
    cursor: pointer;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: #d9534f;
    border-image: initial;
    border-radius: 50%;
    padding: 5px 5px 0px 5px;
    color: #d9534f;
    /*height: 25px;*/
}
.btn-clearfile:hover {
    background: #d9534f;
    color: white;
}
.w100 {
    width: 100%;
}


.news{
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #e6e6e6;
}
.article {
    width: 200px;
    height: 220px;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    vertical-align:top;
}
.thumb {
   /* width: 135px ;
    height: 120px ;*/
    /*background-color: #3e3e3e;*/
   /* background-image: none;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.tmp-col-md {
    margin-left: 20px;
}
.col-auto{
    width: 85%;
    float: left;
}
.col-auto2{
    width: 10%;
    float: left;
}

.col-md-col1{
    padding-right: 10px;
    padding-left: 10px;
    min-width: 170px;
    max-width: 14.5%;
    float: left;
}
.col-md-col2{
    width: 14%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.col-md-col3{
    padding-right: 10px;
    padding-left: 10px;
    min-width: 170px;
    max-width: 14.5%;
    float: left;
}
.col-md-col4{
    padding-right: 10px;
    padding-left: 10px;
    min-width: 170px;
    max-width: 14.5%;
    float: left;
}
.col-md-col5{
    padding-right: 10px;
    padding-left: 10px;
}
.col-md190{
    width: 190px;
}
.div-col-md1{
    float: left;
    width: 45px;
    margin-left: 10px;
    margin-right: 10px;
}
.div-col-md2{
    float: left;
    width: 110px;
    margin-left: 20px;
    margin-right: 20px;
}
.div-col-md3{
    float: left;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
}
#btn_show_password{
    height: 36px;
}
  .show_typePassWord {
   text-security: disc;
   -webkit-text-security: disc;
   -moz-text-security: disc;
}
.div_left_company_out_dt:not(.active){
    background-color: #d3d3d3;
    border-left: 3px solid #d3d3d3;
    border-bottom: 1px solid #ddd;
}
.div_valuated_typ:not(.active){
    background-color: #66cc99 !important;
    border-left: 3px solid #66cc99 !important;
    border-bottom: 1px solid #ddd !important;
}
/* .div_valuated_typ{
    background-color: #66cc99;
    border-left: 3px solid #66cc99;
    border-bottom: 1px solid #ddd;
} */
.p-content{
    margin-top: 50px;
}
.ten_ten{
    margin-top: revert !important;
}
.alter_text{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
}
.form-group label{
    word-break: break-word;
}
.tab-style{
    margin-left: 5px !important;
}
.tab-content{
    margin-left: 5px !important;
}
@media (max-width: 576px){
    .btn:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range){
        padding-left:8px !important;
        padding-right:8px !important;
    }
.notview{
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.col-auto2{
    width: 100% !important;
}
.col-md-col2{
    width: 30% !important;
}
.div_space{
    display: none;
}
.col-auto{
    width: 100%;
}
.nav{
    flex-wrap: unset;
}
.table thead {
    white-space: nowrap;
}
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-auto {
        width: 100%;
    }
    .col-auto2{
        width: 100%;
    }
    .col-md-col2{
        width: 16%;
    }
}
@media (min-width: 991px) and (max-width: 1575px) {
    .col-auto {
        width: 75%;
    }
    .col-auto2{
        width: 20%;
    }
    .lb-size2{
        height: 42px;
    }
}
@media (min-width: 991px){
    .div_space{
        display: none;
    }
}
.ten_ten{
    min-width: 30px;
}

@media (max-width:1500px){
    .lable-check{
        height: 42px;
    }
}
.rq > .lb-required:after{
       margin-left: 0px !important;
}
@media (max-width:1919px) AND ((min-width:800px)){
    .lb-size{
        height: 42px;
    }
}
@media (min-width:1200px) and (max-width:1580px){
    .rq1 > .lb-required:after{
        margin-left: 0px !important;
    }
 .lable-check1{
    height: 42px;
}
.ee{
    max-width: 230px !important;
}
}
@media (min-width:1581px) {
    .aaa{
        display: contents;
    }
    /* #radio-aaa{
        padding-top: 0px;
       } */
       .bbbb{
        display: block !important;
       }
}
@media (max-width:800px) {
    .aaa{
        display: contents;
    }
}
.bbb{
    display: contents;
}
@media (max-width:400px) {
    .hei{
        height:81px ;
    }
}
@media (max-width:1300px) {
    .ee{
        max-width: 180px !important;
    }
}
.lh-input-custom:focus{
    color: #495057;
    border-color: #cfccc4;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #cfccc485;
}

.ln-btn-input{
    border:1px solid #0000007d;
    border-radius: 3px;
    outline: none !important;
    margin-right: 5px;
}

.ln-btn-input:hover{
    background-color:  #e7e7e7;
}
.no-head {
    background: #EAEBEE;
}
.btn-down {
    color: #3f3a3a;
    padding: 4.5px 5px 5px 8px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
}
.lh-input-custom {padding: 0px;}
.icon_down {
    height: 28px;
    padding: 3px;
}
.icon_down_x {
    padding: 1px;
}
@media (max-width: 720px){
    .menu_m0070_pc {
        display: none;
    }
    .menu_m0070_mobile {
        display: block !important;
        margin-left: 5px;
    }
}
@media (min-width: 720px){
    .menu_m0070_pc {
        display: flex;
    }
    .menu_m0070_mobile {
        display: none;
    }
}
@media (max-width: 1200px){
    .block_blank {
        display: none;
    }
}
.menu_m0070_mobile ul li a {
    color: white !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 100% !important;
}
.menu_m0070_mobile ul li {
    height: 37px;
    border-bottom: solid white 1px;
}
.menu_m0070_mobile ul {
    padding-left: 4px;
}
.menu_m0070_mobile ul li a{
    height: 37px;
}
.btn-remove {
    color: #F72809;
    padding: 1.5px 7px 4px 6px;
    border: 1px solid #d2d2d2;
    font-size: 19px;
    cursor: pointer;
}

.table-head thead, #group-header1, .group-header2 {
    position: sticky;
    top: 0px;
    z-index: 30;
    background: white;
}
.md-checkbox-v2 input[type="checkbox"][disabled]+label {
    color: #707070 !important;
}
.md-radio-v2 input[type="radio"][disabled]+label {
    color: #c5c5c5 !important;
}
.input-group>.form-control:not(:last-child) {
    border-radius: 0.25rem;
}
.table-head tbody tr:hover {
    background-color: #EAEBEE !important;
}
.table-head-tab tbody tr:hover {
    background-color: #ffffff !important;
}
.table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
.table tbody .no:nth-of-type(odd) {
    background-color: #EAEBEE;
}
.table-head-tab tbody tr:nth-of-type(odd) {
    background: #EAEBEE;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.tr-head {
    border-top: 2px solid #b7bbbe;
}
.tr-bottom {
    border-bottom: 2px solid #b7bbbe;
}
@media (max-width:1601px) and (min-width: 1367px) {
    #tab14 .input-time{
        padding-right: 75px !important;
    }
    .file-name {
        width: 65% !important;
    }
}
@media (max-width:1515px) and (min-width: 1367px){
    #tab14 .text-overflow {
        width: 0px;
    }
}
#tab14 .full-width, #tab15 .full-width-head {
    position: sticky;
    top: 0px;
    z-index: 30;
    background: white;
    padding-bottom: 13px;
    padding-top: -3px;
}
@media (max-width:900px){
    #tab15 {
        white-space: nowrap;
    }
}

@media (max-width: 1599px){
    #tab14 .table, #tab14 .full-width, #tab15 .table, #tab15 .full-width {
        min-width: 1405px !important;
    }
    .file-name {
        width: 55% !important; 
    }
}
@media (min-width: 387px) and (max-width: 430px) {
    #table-data {
        min-width: 1320px !important;
    }
    .file-name {
        width: 90% !important;
    }
}

#tab14 .table thead tr th, #tab15 .table thead tr th{
    background: #ffffff !important;
    border: none !important;
    padding: none !important;
}
.nav-link {
    padding: 0.5rem 0.75rem;
}
.input-time {
    padding: 4.5px 160px 5px 8px;
    border: 1px solid #d2d2d2;;
}
@media (max-width: 670px){
.no_padding_right {
    padding-right: 0px;
}
.btn_remove_left {
    text-align: center;
}

.block_date_tab_11 {
    width: 103.5%;
}
.col_w_25_tab02 {
    flex: 0 0 100%;
    max-width: 100%;
}
.w_8_tab02 {
    flex: 0 0 100%;
    max-width: 100%;
}
}

@media (max-width: 670px){
.fake_input {
    display:unset;
}
.mb_no_padding{
    padding-left: 0px;
}
.text_left_pc {
    text-align: center;
}
.w_20_tab02 {
    flex: 0 0 100%;
max-width: 100%;
}
}
@media (min-width: 670px){
    .fake_input {
        display:flex;
    }
    }

#ui-id-1 {
    width: 164px;
}
.btn-remove_11 {
    font-size: 24px;
}
.btn-remove_12 {
    font-size: 24px;
}
.text_left_pc {
    min-width: 50px;
}
@media (min-width: 1920px){
    .padding_tab_11 {
        padding-top: 21px;
    }
}
@media (min-width: 670px){
    .max_180_yyyy {
        max-width: 180px;
    }
    .block_date_tab_11 {
        min-width:440px;
    }
    .text_left_pc {
        text-align: left;
    }
    .col_w_25_tab02 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .w_8_tab02 {
        flex: 0 0 80%;
        max-width: 80%;
    }
    .w_20_tab02 {
        flex: 0 0 20%;
    max-width: 20%;
    }
    .btn_remove_left {
        text-align: left;
    }
    
    }
.tab-pane .face-file-btn {
    font-size: 25px;
    color: #2a70b8;
    cursor: pointer;
    height: 28.5px;
}
#tab14 .fa-folder-open {
    position: absolute;
    top: 5px;
    left: 7px;
}
#tab14 table .input-group-btn .input-group-append-btn .btn-transparent {
    padding: 7.5px;
} 
#avatar_block {
    position: absolute;
    bottom:0px;
    left:20px;
}
#imageMain {
    height: 80px;
}
.uploadtime-01 {
    width: 150px;
    height: 34px;
    font-weight: normal;
    text-align: center;
    margin-bottom: -12px;
    margin-right: 3px;
}
@media (max-width: 991px) and (min-width:431px){
    .file-name {
        width: 30% !important;
    }
}

#tab15 .p-item {
    padding: .3125rem;
}
#tab15 .item_title {
    border: none;
    border-bottom:1px solid #dee2e6;
    height: 32px;
    font-weight: bold;
    text-align: center;
}
.list_item{
    border: 1px solid #dee2e6;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
    /* height: 88px; */
}
.no-detail {
    font-weight: bold;
    text-align: center;
}
#tab15 .textbox-error {
    color: #dc3545;
    z-index: 1;
    font-size: small;
}
.tab-style.nav-tabs .nav-item .show, .tab-style.nav-tabs .nav-item .active {
    /* border-color: transparent transparent #3598DB; */
    color: #fff;
    position: relative;
    background-color: #2A70B8 !important;
    border-color: #2A70B8;
}