SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_rM0110_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ rM0110
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	[SPC_rM0110_INQ1]_充実度マスタ
--*  
--*  作成日/create date			:	2023/04/12						
--*　作成者/creater				:	quangnd								
--*   					
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_rM0110_INQ1]
	@P_company_cd	SMALLINT	= 0
,	@P_mark_kbn		SMALLINT	= 1 
,	@p_mark_type	SMALLINT	= 1
,	@P_mode			INT			= 1  -- 1:only master om0120 // 2:get combobox
,	@P_language		NVARCHAR(2)		= ''
AS
BEGIN
	SET NOCOUNT ON;	
	DECLARE 
	@w_mark_type		SMALLINT	= 1
	--
	CREATE TABLE #M4121(
		mark_kbn		SMALLINT
	,	item_no			SMALLINT
	,	mark_cd			SMALLINT
	,	explanation		NVARCHAR(50)
	,	point			NUMERIC(5,2)
	,	remark1			NVARCHAR(100)
	)
	--
	SET @w_mark_type = @P_mark_type
	SELECT 
		@P_mark_type  = ISNULL(mark_type,1)
	FROM M4120
	WHERE 
		company_cd	= @P_company_cd
	AND	mark_kbn	= @P_mark_kbn
	AND del_datetime IS NULL
	--
	INSERT INTO #M4121 VALUES
		(@P_mark_kbn, 1	,1,	'',	10,	'')
	,	(@P_mark_kbn, 2	,2,	'',	6.6,'')
	,	(@P_mark_kbn, 3	,3,	'',	3.3,	'')
	,	(@P_mark_kbn, 4	,4,	'',	0,'')
	--
	UPDATE #M4121
	SET 
		mark_kbn	=	ISNULL(M4121.mark_kbn,#M4121.mark_kbn)
	,	item_no		=	ISNULL(M4121.item_no,#M4121.item_no)
	,	mark_cd		=	ISNULL(M4121.mark_cd,L0010.number_cd )	
	,	explanation	=	IIF(@w_mark_type = @P_mark_type OR @P_mode = 1,M4121.explanation,'')
	,	point		=	ISNULL(M4121.point,#M4121.point)
	,	remark1		=	L0010.remark1
	FROM #M4121 
	LEFT JOIN M4121 ON(
		@P_company_cd	=	M4121.company_cd
	AND @P_mark_kbn		=	M4121.mark_kbn
	AND #M4121.item_no	=	M4121.item_no
	AND M4121.del_datetime IS NULL
	)
	LEFT JOIN L0010  ON(
		 (	(L0010.name_typ = 33 AND IIF(@P_mode = 1 , @P_mark_type, @w_mark_type) = 1)
		OR	(L0010.name_typ = 34 AND IIF(@P_mode = 1 , @P_mark_type, @w_mark_type) = 2)
		OR	(L0010.name_typ = 35 AND IIF(@P_mode = 1 , @P_mark_type, @w_mark_type) = 3)
		OR	(L0010.name_typ = 51 AND IIF(@P_mode = 1 , @P_mark_type, @w_mark_type) = 4)
		)
	AND	#M4121.mark_cd		=	L0010.number_cd
	)
	--[0]
	SELECT 
		@P_mark_kbn												AS 	mark_kbn
	,	ISNULL([name],'')										AS  [name]
	,	IIF(@P_mode = 1 , @P_mark_type, @w_mark_type)			AS  mark_type
	FROM M4120
	WHERE 
		company_cd	=	 @P_company_cd
	AND	mark_kbn	=	 @P_mark_kbn
	AND M4120.del_datetime IS NULL
	--[1]
	SELECT 
		mark_kbn	
	,	item_no		
	,	mark_cd			
	,	explanation	
	,	point		
	,	remark1		
	FROM #M4121 
	----[2]
	SELECT
		@P_mark_kbn										AS 	mark_kbn
	,	CASE	
			WHEN @P_language = 'en' 
			THEN ISNULL(L0010.name_english,'')
			ELSE ISNULL(L0010.name,'')
		END												AS [name]
	,	IIF(@P_mode = 1, 1, @w_mark_type)				AS mark_type
	FROM L0010
	WHERE
		name_typ	 =  31
	AND	number_cd	 =  @P_mark_kbn
	AND	del_datetime IS NULL				
	--
	DROP TABLE #M4121
END
GO
