IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_RM0110_ACT1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_RM0110_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：RM0110 - SAVE/UPDATE
 *
 *  作成日  ：2023/04/13
 *  作成者  ：ANS-ASIA QUANGND
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_RM0110_ACT1] 
	@P_json			NVARCHAR(MAX)
	--
,	@P_cre_user		NVARCHAR(50) = ''
,	@P_cre_ip		NVARCHAR(50) = ''
,	@P_company_cd	SMALLINT	 = 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL				ERRTABLE
	,	@w_mark_kbn				SMALLINT
	,	@w_mark_typ				SMALLINT
	,	@w_name					NVARCHAR(20)
	CREATE TABLE #UPDATE_INFO(
		company_cd		SMALLINT
	,	item_no			SMALLINT
	,	upd_user		nvarchar(100)
	,	upd_ip			nvarchar(100)
	,	upd_prg			nvarchar(40)
	,	upd_datetime	datetime
	)
	--
	CREATE TABLE #M4121(
		id						INT IDENTITY(1,1)
	,	company_cd				SMALLINT
	,	mark_kbn				SMALLINT
	,	item_no					SMALLINT
	,	mark_cd					SMALLINT
	,	explanation				NVARCHAR(50)	
	,	point					NUMERIC(5,2)	
	,	rank_mark_cd			INT
	)
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	--
	SET @w_mark_kbn		=	ISNULL(JSON_VALUE(@P_json,'$.mark_kbn'),0)
	SET @w_mark_typ		=	ISNULL(JSON_VALUE(@P_json,'$.mark_typ'),0)
	SET @w_name			=	ISNULL(JSON_VALUE(@P_json,'$.name'),'')
	--
	INSERT INTO #M4121
		SELECT 
			@P_company_cd	
		,	@w_mark_kbn
		,	item_no
		,	mark_cd
		,	explanation
		,	point
		,	RANK () OVER ( 
						PARTITION BY mark_cd
						ORDER BY item_no DESC
					)
		FROM OPENJSON(@P_json, '$.tr') WITH(
				item_no					SMALLINT
			,	mark_cd					SMALLINT
			,	explanation				NVARCHAR(50)
			,	point					NUMERIC(5,2)	
		)
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
			BEGIN
				-- M4120
				UPDATE M4120
				SET 
					company_cd		=	@P_company_cd
				,	mark_kbn		=	@w_mark_kbn
				,	[name]			=	@w_name
				,	mark_type		=	@w_mark_typ
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	'rM0110'
				,	upd_datetime	=	@w_time
				,	del_user		=	''
				,	del_ip			=	''
				,	del_prg			=	''
				,	del_datetime	=	NULL
				FROM M4120
				WHERE
					M4120.company_cd		= @P_company_cd
				AND	M4120.mark_kbn		= @w_mark_kbn
				AND M4120.del_datetime	IS NULL
				--
				UPDATE M4120
				SET 
					company_cd		=	@P_company_cd
				,	mark_kbn		=	@w_mark_kbn
				,	[name]			=	@w_name
				,	mark_type		=	@w_mark_typ
				,	cre_user		=	@P_cre_user
				,	cre_ip			=	@P_cre_ip
				,	cre_prg			=	'rM0110'
				,	cre_datetime	=	@w_time
				,	upd_user		=	''
				,	upd_ip			=	''
				,	upd_prg			=	''
				,	upd_datetime	=	NULL
				,	del_user		=	''
				,	del_ip			=	''
				,	del_prg			=	''
				,	del_datetime	=	NULL
				FROM M4120
				WHERE
					company_cd		= @P_company_cd
				AND	mark_kbn		= @w_mark_kbn
				AND del_datetime	IS NOT NULL
				--
				IF NOT EXISTS (SELECT 1 FROM M4120 WHERE company_cd = @P_company_cd AND mark_kbn = @w_mark_kbn)
				BEGIN
					INSERT INTO M4120
					SELECT 
						@P_company_cd
					,	@w_mark_kbn
					,	@w_name
					,	@w_mark_typ
					,	@P_cre_user
					,	@P_cre_ip
					,	'rM0110'
					,	@w_time
					,	''
					,	''
					,	''
					,	NULL
					,	''
					,	''
					,	''
					,	NULL
				END

				-- M4121
				UPDATE M4121
				SET 
					company_cd		=	@P_company_cd
				,	mark_kbn		=	@w_mark_kbn
				,	item_no			=	#M4121.item_no
				,	mark_cd			=	#M4121.mark_cd
				,	explanation		=	#M4121.explanation
				,	point			=	#M4121.point
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	'rM0110'
				,	upd_datetime	=	@w_time
				,	del_user		=	''
				,	del_ip			=	''
				,	del_prg			=	''
				,	del_datetime	=	NULL
				FROM M4121
				INNER JOIN #M4121 ON(
					M4121.mark_kbn			= #M4121.mark_kbn 
				AND M4121.item_no			= #M4121.item_no
				)
				WHERE
					M4121.company_cd		= @P_company_cd
				AND M4121.del_datetime		IS NULL
				--
				UPDATE M4121
				SET 
					company_cd		=	@P_company_cd
				,	mark_kbn		=	@w_mark_kbn
				,	item_no			=	#M4121.item_no
				,	mark_cd			=	#M4121.mark_cd
				,	explanation		=	#M4121.explanation
				,	point			=	#M4121.point
				,	cre_user		=	@P_cre_user
				,	cre_ip			=	@P_cre_ip
				,	cre_prg			=	'rM0110'
				,	cre_datetime	=	@w_time
				,	upd_user		=	''
				,	upd_ip			=	''
				,	upd_prg			=	''
				,	upd_datetime	=	NULL
				,	del_user		=	''
				,	del_ip			=	''
				,	del_prg			=	''
				,	del_datetime	=	NULL
				FROM M4121
				INNER JOIN #M4121 ON(
					M4121.mark_kbn			= #M4121.mark_kbn 
				AND M4121.item_no			= #M4121.item_no
				)
				WHERE
					M4121.company_cd		= @P_company_cd
				AND M4121.del_datetime		IS NOT NULL
				--insert
				INSERT INTO M4121
				SELECT 
					@P_company_cd
				,	@w_mark_kbn
				,	#M4121.item_no
				,	#M4121.mark_cd
				,	#M4121.explanation
				,	#M4121.point
				,	@P_cre_user
				,	@P_cre_ip
				,	'rM0110'
				,	@w_time
				,	''
				,	''
				,	''
				,	NULL
				,	''
				,	''
				,	''
				,	NULL
				FROM #M4121
				LEFT JOIN M4121 ON(
					@P_company_cd 		=	M4121.company_cd
				AND #M4121.mark_kbn 	=	M4121.mark_kbn	
				AND #M4121.item_no		=	M4121.item_no		
				)
				WHERE  
					M4121.company_cd IS NULL
		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	-- Insert statements for procedure here
	IF (SELECT COUNT(1) FROM @ERR_TBL) > 1
	BEGIN
		ROLLBACK TRANSACTION
	END
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
	COMPLETE_QUERY:

	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END

GO
