/****** Object:  StoredProcedure [dbo].[SPC_M0130_ACT2]    Script Date: 2018/09/06 11:18:13 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_M0130_ACT2] 
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_M0130_ACT2 '{}','','::1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/09/05									
--*	作成者/creater				:	SonDH						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0130_ACT2] 
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)		= ''
	-- common
,	@P_cre_user				NVARCHAR(50)		= ''
,	@P_cre_ip				NVARCHAR(50)		= ''
,	@P_company_cd			SMALLINT			= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time				DATETIME2		= SYSDATETIME()
	,	@ERR_TBL			ERRTABLE	
	,	@order_by_min		INT				= 0
	,	@rank_cd			SMALLINT		= 0
	,	@detail_no			SMALLINT		= JSON_VALUE(@P_json, '$.detail_no')
	--
	CREATE TABLE #DATA(
		id						INT IDENTITY(1,1)
	,	company_cd				SMALLINT
	,	rank_cd					SMALLINT	
	)

	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
	--

	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(  
		  21				-- mã lỗi (trùng với mã trong bảng message)      
		, ''				-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống      
		, 0-- oderby		-- giá trị càng bé thì lỗi được hiển thị trước      
		, 2-- dialog        -- Kiểu hiển thị lối : 0. tooltip , 1.dialog     
		, 0					-- Tùy ý : có thể lưu vị trí index của dòng của lỗi     
		, 0					-- Tùy ý
		, 'json format'     -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END

	-- GET #DATA
	INSERT INTO #DATA
	SELECT
		@P_company_cd
	,	ISNULL(rank_cd,0)
	FROM OPENJSON(@P_json) WITH(
		rank_cd			SMALLINT
	)
	
	--
	IF NOT EXISTS (SELECT 1 FROM #DATA)
	BEGIN 
		INSERT INTO @ERR_TBL VALUES(
				21
			,	'#rank_cd'
			,	0-- oderby
			,	2-- dialog  
			,	0
			,	0
			,	'rank_cd not found'
			)
	END

	-- do stuff
	IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
	BEGIN
		--
		UPDATE M0130
		SET
			del_user		=	@P_cre_user
		,	del_ip			=	@P_cre_ip
		,	del_prg			=	'M0130'
		,	del_datetime	=	@w_time
		FROM M0130
		WHERE
			M0130.company_cd	            =	@P_company_cd
		AND	M0130.treatment_applications_no	=	@detail_no
		AND M0130.del_datetime IS NULL
	END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	--
END
GO
