/****** Object:  StoredProcedure [dbo].[SPC_M0130_ACT1]    Script Date: 2018/09/06 11:18:13 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_M0130_ACT1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_M0130_ACT1 '{}','','::1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/09/05									
--*	作成者/creater				:	SonDH						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0130_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json					NVARCHAR(max)			= ''
	-- common										
,	@P_cre_user				NVARCHAR(50)			= ''
,	@P_cre_ip				NVARCHAR(50)			= ''
,	@P_company_cd			SMALLINT				=  0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time				DATETIME2		= SYSDATETIME()
	,	@ERR_TBL			ERRTABLE		
	,	@order_by_min		INT				= 0
	,	@rank_cd			SMALLINT		= 0
	,	@max_id				INT				= 0
	,	@num				INT				= 1
	,	@from				MONEY			= 0
	,	@to					MONEY			= 0
	,	@detail_no			SMALLINT		= JSON_VALUE(@P_json, '$.detail_no')
	--
	CREATE TABLE #DATA(
		id						INT IDENTITY(1,1)
	,	company_cd				SMALLINT
	,	rank_cd					SMALLINT	
	,	rank_nm					NVARCHAR(10)
	,	points_from				numeric(5,2)
	,	points_to				numeric(5,2)
	)

	--
	CREATE TABLE #M0130(
		id						INT IDENTITY(1,1)
	,	company_cd				SMALLINT
    ,	rank_cd					SMALLINT
    ,	rank_nm					NVARCHAR(10)
	,	points_from				numeric(5,2)
	,	points_to				numeric(5,2)
    ,	cre_user				NVARCHAR(50)
    ,	cre_ip					NVARCHAR(50)
	,	cre_prg					NVARCHAR(20)
    ,	cre_datetime			DATETIME
    ,	upd_user				NVARCHAR(50)
    ,	upd_ip					NVARCHAR(50)
	,	upd_prg					NVARCHAR(20)
    ,	upd_datetime			DATETIME
    ,	del_user				NVARCHAR(50)
    ,	del_ip					NVARCHAR(50)
	,	del_prg					NVARCHAR(20)
    ,	del_datetime			DATETIME
	)

	-- GET #DATA
	INSERT INTO #DATA
	SELECT
		@P_company_cd
	,	ISNULL(rank_cd,0)
	,	ISNULL(rank_nm, '')
	,	IIF(points_from = '',NULL,points_from)		
	,	IIF(points_to = '',NULL,points_to)		
	FROM OPENJSON(@P_json, '$.list_data') WITH(
		rank_cd				SMALLINT
	,	rank_nm				NVARCHAR(10)
	,	points_from			NVARCHAR(7)
	,	points_to			NVARCHAR(7)
	)
	--
	SET @max_id = (SELECT MAX(id) FROM #DATA)

	--
	SELECT 
		ROW_NUMBER() OVER(PARTITION BY company_cd,points_from, points_to ORDER BY company_cd, points_from, points_to ASC) RN
	,	company_cd		--ISNULL(company_cd,0)	AS company_cd
	,	points_from		--ISNULL(points_from,0)	AS points_from
	,	points_to		--ISNULL(points_to,0) 	AS points_to
	INTO #TEMP
	FROM #DATA
	
		INSERT INTO @ERR_TBL 
		SELECT		
			9								
		,	'.points_from'					 				
		,	0-- oderby						
		,	0			  					
		,	id								
		,	0								
		,	'FROM-TO-FIRST-LAST'			
		FROM #DATA
		WHERE 
			 (points_from = 0 AND points_to = 0) 

		--
		INSERT INTO @ERR_TBL 
		SELECT		
			9							
		,	'.points_to'					 				
		,	0-- oderby						
		,	0			  					
		,	id								
		,	0								
		,	'FROM-TO-FIRST-LAST'			
		FROM #DATA
		WHERE 
			 (points_from = 0 AND points_to = 0) 

	IF EXISTS(SELECT 1 FROM @ERR_TBL) GOTO COMPLETE_QUERY
	--END CHECK FROM-TO (MESSAGE = 9)

	--CHECK DUPLICATE FROM-TO (MESSAGE = 32)
	IF EXISTS(SELECT 1 FROM #TEMP WHERE RN > 1)
	BEGIN
		INSERT INTO @ERR_TBL 
		SELECT		
			32								
		,	''								 				
		,	0-- oderby						
		,	2			  					
		,	id								
		,	0								
		,	'DUPLICATE'						
		FROM #TEMP
		INNER JOIN #DATA ON #TEMP.company_cd = #DATA.company_cd
		AND ((#TEMP.points_from = #DATA.points_from) )
		AND ((#TEMP.points_to   = #DATA.points_to) )
		WHERE RN > 1
	END
	IF EXISTS(SELECT 1 FROM @ERR_TBL) GOTO COMPLETE_QUERY
	--END CHECK DUPLICATE FROM-TO
	

	--CHECK FROM-TO(MESSAGE = 9)

		INSERT INTO @ERR_TBL 
		SELECT		
			9								
		,	'.points_from'					  				
		,	0-- oderby						
		,	0			  					
		,	id								
		,	0								
		,	'FROM-TO'						
		FROM #DATA
		WHERE (points_to <= points_from AND points_from IS NOT NULL AND points_to IS NOT NULL) 
		OR (points_from IS NOT NULL AND points_to IS NULL AND id <> 1)
		OR (points_from IS NULL AND points_to IS NOT NULL AND id <> @max_id )
		INSERT INTO @ERR_TBL 
		SELECT		
			9								
		,	'.points_to'					  				
		,	0-- oderby						
		,	0			  					
		,	id								
		,	0								
		,	'FROM-TO'						
		FROM #DATA
		WHERE (points_to <= points_from AND points_from IS NOT NULL AND points_to IS NOT NULL) 
		OR (points_from IS NOT NULL AND points_to IS NULL AND id <> 1)
		OR (points_from IS NULL AND points_to IS NOT NULL AND id <> @max_id )

	--end
	IF EXISTS(SELECT 1 FROM @ERR_TBL) GOTO COMPLETE_QUERY
	--END CHECK FROM-TO(MESSAGE = 9)
	

	--CHECK FROM-TO_NEXT (MESSAGE = 9)
	WHILE (@num < @max_id)
	BEGIN
		SET @from = (SELECT points_from FROM #DATA WHERE id = @num)
		SET @to = (SELECT points_to FROM #DATA WHERE id = @num + 1)

		IF ((@from <> @to AND @from IS NOT NULL AND @to IS NOT NULL)
			OR (@from IS NULL AND @to IS NOT NULL)
			OR (@from IS NOT NULL AND @to IS NULL)		
			--OR (@from IS NULL AND @to IS NULL)
		)
		BEGIN
			--
			INSERT INTO @ERR_TBL 
			SELECT		
				9								
			,	'.points_from'					  				
			,	0-- oderby						
			,	0			  					
			,	id								
			,	0								
			,	'json format'					
			FROM #DATA
			WHERE (id = @num )

			--
			INSERT INTO @ERR_TBL 
			SELECT		
				9								
			,	'.points_to'					  				
			,	0-- oderby						
			,	0			  					
			,	id								
			,	0								
			,	'json format'					
			FROM #DATA
			WHERE (id = (@num + 1))
		END 

		SET @num = @num + 1
	END
	IF EXISTS(SELECT 1 FROM @ERR_TBL) GOTO COMPLETE_QUERY
	--END CHECK FROM-TO_NEXT (MESSAGE = 9)

	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--
		INSERT INTO #M0130
		SELECT 
			ISNULL(company_cd,0)	
		,	ISNULL(rank_cd,0)		
		,	ISNULL(rank_nm,'')		
		,	ISNULL(points_from,0)
		,	ISNULL(points_to,0)	
		,	cre_user	
		,	cre_ip		
		,	cre_prg
		,	cre_datetime
		,	upd_user	
		,	upd_ip	
		,	upd_prg	
		,	upd_datetime
		,	del_user	
		,	del_ip		
		,	del_prg
		,	del_datetime
		FROM M0130
		WHERE 
			company_cd = @P_company_cd
		AND	treatment_applications_no	=	@detail_no
		AND del_datetime IS NULL
		--
		SET @rank_cd = (SELECT ISNULL(MAX(rank_cd),0) FROM #DATA WHERE company_cd = @P_company_cd)
		
		--
		DELETE FROM M0130
		WHERE
			company_cd = @P_company_cd
		AND	treatment_applications_no = @detail_no

		IF EXISTS (SELECT 1 FROM #DATA WHERE rank_nm = '')
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT		
				8									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'#rank_nm'							-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	0			  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END

		-- do stuff
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- UPDATE M0130
			INSERT INTO M0130
			SELECT
				#DATA.company_cd
			,	@detail_no
			,	#DATA.rank_cd
			,	#DATA.rank_nm
			,	CAST(#DATA.points_from AS MONEY)
			,	CAST(#DATA.points_to AS MONEY)
			,	#M0130.cre_user
			,	#M0130.cre_ip
			,	'M0130'
			,	#M0130.cre_datetime
			,	@P_cre_user
			,	@P_cre_ip
			,	'M0130'
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #DATA
			INNER JOIN #M0130 ON (
				#DATA.company_cd		=	#M0130.company_cd
			AND #DATA.rank_cd			=	#M0130.rank_cd
			AND #M0130.company_cd IS NOT NULL
			)

			--INSERT M0130
			INSERT M0130
			SELECT
				#DATA.company_cd
			,	@detail_no
			,	ROW_NUMBER() OVER(ORDER BY #DATA.company_cd ASC) + @rank_cd 
			,	#DATA.rank_nm
			,	CAST(#DATA.points_from AS MONEY)
			,	CAST(#DATA.points_to AS MONEY)
			,	@P_cre_user
			,	@P_cre_ip
			,	'M0130'
			,	@w_time
			,	SPACE(0)
			,	SPACE(0)
			,	''
			,	NULL
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL
			FROM #DATA
			LEFT JOIN #M0130 ON (
				#DATA.company_cd		=	#M0130.company_cd
			AND #DATA.rank_cd			=	#M0130.rank_cd
			)
			WHERE #M0130.rank_cd IS NULL

		END

	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	
	--
END
GO