/****** Object:  StoredProcedure [dbo].[SPC_M0130_INQ1]    Script Date: 2018/09/06 11:18:13 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_M0130_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- EXEC SPC_M0130_INQ1 '';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0130_評語マスタ
--*  
--*  作成日/create date			:	2018/09/05					
--*　作成者/creater				:	SonDH								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0130_INQ1]
	-- Add the parameters for the stored procedure here
	@P_company_cd				SMALLINT		=	0
,	@P_detail_no				SMALLINT		=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATE				=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE
	,	@order_by_min			INT					=	0
	,	@totalRecord			BIGINT				=	0
	,	@pageMax				INT					=	0	
	,	@page_size				INT					=	10
	
	--[0]
	SELECT
		ISNULL(company_cd,0)					AS company_cd
	,	treatment_applications_no
	,	ISNULL(rank_cd,0)						AS rank_cd
	,	ISNULL(rank_nm,'')						AS rank_nm
	,	CAST(points_from AS nvarchar(10))		AS points_from
	,	CAST(points_to AS nvarchar(10))			AS points_to
	FROM M0130
	WHERE 
		company_cd					=	@P_company_cd
	AND	treatment_applications_no	=	@P_detail_no
	AND del_datetime IS NULL
	ORDER BY rank_cd
END
GO
