.col-tb1 {
	width: 20%;
	max-width: 20%;
	white-space: normal;
}
.table-responsive {
	white-space: unset !important;
}
.col-tb2 {
	min-width: 120px;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    width: 100%;
}
body {
    padding-top: unset !important;
}
.col-tb3 {
	max-width: 60px;
	width: 60px;
}
/* .text-fix {
	width: 234px;
	max-width: 234px;
	white-space: normal;
} */
@media (min-width: 1366px) and (max-width: 1563px) {

}
@media (min-width: 1600px) {
	.table-1 {
		width: 80%;
		max-width: 80%;
	}
	.table-2 {
		width: 80%;
		max-width: 80%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.col-tb1 {
		min-width: 234px;
		max-width: 234px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-tb1 {
		min-width: 234px;
		max-width: 234px;
	}
}
@media (min-width: 576px) and (max-width: 756px) {
	.col-tb1 {
		min-width: 234px;
		max-width: 234px;
	}
}
@media (max-width: 575px) {
	.col-tb1 {
		min-width: 234px;
		max-width: 234px;
	}
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before{
	border-left-color:var(--primary-pink);
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
	border-right-color:var(--primary-pink);
}
.card-body{
	padding-top: 0.75rem;
}
.form-group {
    margin-bottom: 0.3rem;
}
button.multiselect {
    background: #fff7f1 !important;
}
