.span-symbol{
    line-height: 35px!important;
    padding: 0px 8px 0px 8px;
}
#table_employee {
    height: 300px;
}
.table-bordered td {
    border-color: #cfd3d8;
}
.title_td {
    cursor: pointer;
}
.page-wrap {
    display: block;
    height: 55px;
    justify-content: unset;
    margin-bottom: 0px;
}
#div-btn-list-title {
    width: 30%;
}
.pagination-fix {
    width: 35% !important;
    float: left !important;
}
@media (max-width: 601px) {
.pager-wrap ul {
    width: 100% !important;
}
}
@media (max-width: 1200px) and (min-width:1000px){
#button_search {
    text-align: left;
}
.pagination-fix {
    width: 25% !important;
    float: left !important;
}
.pager-info {
    float: right !important;
}
}
@media (min-width: 1201px) {
#button_search {
    text-align: right;
}
}
@media (max-width: 999px) {
#button_search {
    text-align: right;
}
}
.checkmark {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
img[src=''] 
{
  display: none;
}