SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_WEEKLYREPORT_VIEW_MONTH]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	GET month
--*  
--* 作成日/create date			:	2023/04/18												
--*	作成者/creater				:	quangnd						
--*   					
--*	更新日/update date			:	
--*	更新者/updater				:	
--*	更新内容/update content		:	
--*
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_WEEKLYREPORT_VIEW_MONTH]
	-- Add the parameters for the stored procedure here	
	@P_company_cd				SMALLINT		= 0
,	@P_fiscal_year				SMALLINT		= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@beginning_date							datetime		=	'1900-01-01'
	,	@i										int				=	0
	,	@start_date								date			=	null
	--
	CREATE TABLE #DATE(
		id					INT	IDENTITY(1,1),
		[month_date]		DATETIME ,
	)
	--
	SELECT 
		@beginning_date = M9100.[report_beginning_date]		-- edited by viettd 2021/04/22 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	--
	IF @beginning_date IS NOT NULL
	BEGIN
		SET @start_date = CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
	END
	ELSE
	BEGIN 
		SET @start_date		= CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/01/01') AS DATE)
	END
	--
	WHILE @i < 12
		BEGIN
			--
			INSERT INTO #DATE
			SELECT 
				DATEADD(MONTH,@i, @start_date)		-- FirstDate, 	
			SET @i = @i + 1
		END
	--[0]
	SELECT
		 CAST(convert(varchar, month_date, 111) AS nvarchar(7))  AS [month]
	FROM #DATE
END
GO