SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_WEEKLYREPORT_GET_WEEKLY]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC [dbo].SPC_rI1010_INQ2 740,2023,1
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	GET DETAIL_NO WEEKLY
--*  
--* 作成日/create date			:	2023/05/18												
--*	作成者/creater				:	quangnd						
--*   					
--*	更新日/update date			:	
--*	更新者/updater				:	
--*	更新内容/update content		:	
--*
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_WEEKLYREPORT_GET_WEEKLY]
	-- Add the parameters for the stored procedure here	
	@P_company_cd				SMALLINT		= 0
,	@P_fiscal_year				SMALLINT		= 0
,	@P_month					SMALLINT		= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@beginning_date							datetime		=	null
	,	@start_date								datetime		=	null
	,	@end_date								datetime		=	null
	,	@month_date								datetime		=	null			-- check @P_report_kind =5
	,	@start_weekly_date						datetime		=	null
	,	@end_weekly_date						datetime		=	null
	,	@start_weekly							datetime		=	null
	,	@end_weekly								datetime		=	null
	,	@w_weeklyreport_deadline				smallint		=	1
	,	@w_weeklyreport_judgment_date			smallint		=	1
	,	@i										int				=	0
	,	@start_date_n							date			=	null
	,	@end_date_n								date			=	null
	--
	CREATE TABLE #DATE(
		id					INT	IDENTITY(1,1)
	,	[month]				SMALLINT
	,	normal_month		SMALLINT
	,	[start_date]		DATETIME 
	,	deadline_date		DATETIME 
	)
	CREATE TABLE #DATE_DETAIL(
		id					INT	IDENTITY(1,1)
	,	[month]				SMALLINT
	,	normal_month		SMALLINT
	,	[start_date]		DATETIME 
	,	deadline_date		DATETIME 
	)
	--

	SELECT
		@w_weeklyreport_deadline		= ISNULL(weeklyreport_deadline,1)
	,	@w_weeklyreport_judgment_date	= ISNULL(weeklyreport_judgment_date,1)
	FROM M4100
	WHERE
		company_cd	= @P_company_cd
	AND	del_datetime IS NULL
	--
	SELECT 
		@beginning_date = M9100.[report_beginning_date]		-- edited by viettd 2021/04/22 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	-- CACULATE BEGIN AND END OF DATE
	IF @beginning_date IS NOT NULL
	BEGIN
		SET @start_date_n = CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		SET @end_date_n = DATEADD(DD,-1,DATEADD(YYYY,1,@start_date_n))
	END
	ELSE
	BEGIN 
		SET @start_date_n		= CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/01/01') AS DATE)
		SET @end_date_n		= CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/12/31') AS DATE)
	END
	--
	SET @start_date =	CAST((CAST(@start_date_n AS nvarchar(8)) + '01') AS DATE)
	SET @end_date   =	DATEADD(DD,-1,DATEADD(YYYY,1,@start_date))
	--
	SET @month_date =  DATEADD(MONTH,MONTH(@start_date)+@P_month-2,CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/01/01') AS DATE)) --lay thang @P_report_kind =5
	IF (@w_weeklyreport_judgment_date = 1)
	BEGIN
		WHILE @i < 7
		BEGIN
			IF(DATEPART(WEEKDAY, DATEADD(DAY,@i,@start_date)) = IIF(@w_weeklyreport_deadline + 1 = 8, 1, @w_weeklyreport_deadline + 1))
			BEGIN	
				SET @start_weekly  = DATEADD(DAY,@i,@start_date)
			END
			IF(DATEPART(WEEKDAY, DATEADD(DAY,@i,DATEADD(YEAR,1,@start_date))) =  IIF(@w_weeklyreport_deadline + 1 = 8, 1, @w_weeklyreport_deadline + 1))
			BEGIN	
				SET @end_weekly  = DATEADD(DAY,@i,DATEADD(YEAR,1,@start_date))
					
			END
		SET @i = @i + 1
		END
		--
		SET @i = 0;
		WHILE @i < 7
		BEGIN
			IF(DATEPART(WEEKDAY, DATEADD(DAY,@i,@month_date)) = IIF(@w_weeklyreport_deadline + 1 = 8, 1, @w_weeklyreport_deadline + 1))
			BEGIN	
				SET @start_weekly_date  = DATEADD(DAY,@i,@month_date)
			END
			IF(DATEPART(WEEKDAY, DATEADD(DAY,@i,DATEADD(MONTH,1,@month_date))) =  IIF(@w_weeklyreport_deadline + 1 = 8, 1, @w_weeklyreport_deadline + 1))
			BEGIN	
				SET @end_weekly_date  = DATEADD(DAY,@i,DATEADD(MONTH,1,@month_date))
					
			END
		SET @i = @i + 1
		END
		--
		WHILE @start_weekly < @end_weekly
			BEGIN
				INSERT INTO #DATE_DETAIL
				SELECT 	
					MONTH(DATEADD(MONTH,1-MONTH(@start_date),(@start_weekly)))
				,	MONTH(@start_weekly)
				,	@start_weekly		-- FirstDate, 
				,	DATEADD(DAY,6, @start_weekly)  --last date
			SET @start_weekly = DATEADD(day,7,@start_weekly)
		END
		--
		WHILE @start_weekly_date < @end_weekly_date 
			BEGIN
				INSERT INTO #DATE
				SELECT 
					@P_month
				,	MONTH(@start_weekly_date)
				,	@start_weekly_date		-- FirstDate, 
				,	DATEADD(DAY,6, @start_weekly_date)  --last date
			SET @start_weekly_date = DATEADD(day,7,@start_weekly_date)
		END
	END
	IF (@w_weeklyreport_judgment_date = 2)
	BEGIN
		--lay ngay chot cuoi cung cua thang
		WHILE @i > -7
		BEGIN
			IF(DATEPART(WEEKDAY, DATEADD(DAY,@i,@end_date)) = @w_weeklyreport_deadline)
			BEGIN	
				SET @end_weekly  = DATEADD(DAY,@i,@end_date)			
			END
			SET @i = @i - 1
		END
		-- lay ngay chot dau tien cua thang
		SET @i =0
		WHILE @i < 7
		BEGIN
			IF(DATEPART(WEEKDAY, DATEADD(DAY,@i,@start_date)) = @w_weeklyreport_deadline)
			BEGIN	
				SET @start_weekly  = DATEADD(DAY,@i,@start_date)			
			END
			SET @i = @i + 1
		END
		--lay ngay chot cuoi cung cua thang
		SET @i=0
		WHILE @i > -7
		BEGIN
			IF(DATEPART(WEEKDAY, DATEADD(DAY,@i,EOMONTH(@month_date))) = @w_weeklyreport_deadline)
			BEGIN	
				SET @end_weekly_date  = DATEADD(DAY,@i,EOMONTH(@month_date))			
			END
			SET @i = @i - 1
		END
		-- lay ngay chot dau tien cua thang
		SET @i =0
		WHILE @i < 7
		BEGIN
			IF(DATEPART(WEEKDAY, DATEADD(DAY,@i,@month_date)) = @w_weeklyreport_deadline)
			BEGIN	
				SET @start_weekly_date  = DATEADD(DAY,@i,@month_date)			
			END
			SET @i = @i + 1
		END
		--
		WHILE @start_weekly <= @end_weekly
			BEGIN
				INSERT INTO #DATE_DETAIL
				SELECT 
					MONTH(DATEADD(MONTH,1-MONTH(@start_date),(@start_weekly)))
				,	MONTH(@start_weekly)
				,	DATEADD(DAY,-6,@start_weekly)		-- FirstDate, 
				,	@start_weekly  --last date
			SET @start_weekly = DATEADD(day,7,@start_weekly)
		END
		--
		WHILE @start_weekly_date <= @end_weekly_date 
			BEGIN
				INSERT INTO #DATE
				SELECT 
					@P_month
				,	MONTH(@start_weekly_date)
				,	DATEADD(DAY,-6,@start_weekly_date)		-- FirstDate, 
				,	@start_weekly_date  --last date
			SET @start_weekly_date = DATEADD(day,7,@start_weekly_date)
		END
	END
	--[0]
	IF(@P_month <> 0)
	BEGIN
		SELECT 
			#DATE_DETAIL.id								AS detail_no
		,	#DATE.[month]								AS [month]
		,	#DATE.normal_month							AS normal_month
		,	CONVERT(VARCHAR,#DATE.[start_date],111)		AS [start_date]
		,	CONVERT(VARCHAR,#DATE.deadline_date,111)	AS deadline_date
		FROM #DATE
		LEFT JOIN #DATE_DETAIL ON (
			#DATE.[month]		= #DATE_DETAIL.[month]
		AND	#DATE.[start_date]	= #DATE_DETAIL.[start_date]
		AND	#DATE.deadline_date = #DATE_DETAIL.deadline_date
		)

	END
	ELSE
	BEGIN
		SELECT 
			#DATE_DETAIL.id									AS detail_no
		,	#DATE_DETAIL.[month]							AS [month]
		,	#DATE_DETAIL.normal_month						AS normal_month
		,	CONVERT(VARCHAR,#DATE_DETAIL.[start_date],111)	AS [start_date]
		,	CONVERT(VARCHAR,#DATE_DETAIL.deadline_date,111)	AS deadline_date
		FROM #DATE_DETAIL
	END
	DROP TABLE #DATE_DETAIL
	DROP TABLE #DATE
END
GO
