SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_WEEKLYREPORT_SCHEDULE_FND1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	[SPC_SCHEDULE_INQ1]
--*  
--*  作成日/create date			:	2023/04/17					
--*　作成者/creater				:	QUANGND								
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:	
--*　更新内容/update content		:				

--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_WEEKLYREPORT_SCHEDULE_FND1]
	-- Add the parameters for the stored procedure here	
	@P_company_cd				SMALLINT		= 0
,	@P_json						NVARCHAR(MAX)	= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@ERR_TBL			ERRTABLE
	,	@w_group_cd			SMALLINT	=	0
	,	@detail_status		int			=	0-- check number of diffrent
	

	CREATE TABLE #M4600 (
		report_group      	SMALLINT
	)
	--
	CREATE TABLE #TEMP_M4601(
		company_cd				SMALLINT
	,	group_cd				SMALLINT
	,	organization_cd_1		NVARCHAR(20)
	,	organization_cd_2		NVARCHAR(20)
	,	organization_cd_3		NVARCHAR(20)
	,	organization_cd_4		NVARCHAR(20)
	,	organization_cd_5		NVARCHAR(20)
	)
	--
	CREATE TABLE #TEMP_M4602(
		company_cd		SMALLINT
	,	group_cd		SMALLINT
	,	attribute		SMALLINT
	,	code			SMALLINT
	)
	--
	INSERT INTO #M4600
	SELECT 
		ISNULL(report_group ,0)  
	FROM OPENJSON(@P_json) WITH(
		report_group      	smallint
	)
	SET @w_group_cd		= (SELECT  TOP 1 #M4600.report_group   FROM #M4600 )
	SET @detail_status = (SELECT COUNT (1) FROM #M4600)
	--
	INSERT INTO #TEMP_M4601 
	SELECT 
		company_cd		
	,	group_cd		
	,	organization_cd_1
	,	organization_cd_2
	,	organization_cd_3
	,	organization_cd_4
	,	organization_cd_5
	FROM M4601 
	INNER JOIN #M4600 ON(
		M4601.company_cd		=	@P_company_cd
	AND M4601.group_cd			=	#M4600.report_group
	) 
	WHERE M4601.del_datetime IS NULL
	--
	INSERT INTO #TEMP_M4602 
	SELECT 
		company_cd
	,	group_cd
	,	attribute
	,	code
	FROM M4602 
	INNER JOIN #M4600 ON(
		M4602.company_cd		=	@P_company_cd
	AND M4602.group_cd			=	#M4600.report_group
	) 
	WHERE M4602.del_datetime IS NULL
	--[0]
	IF(@detail_status > 0 AND @detail_status =1)
	BEGIN
		SELECT 
			STUFF((SELECT '、' + M0020.organization_nm FROM #TEMP_M4601 
								LEFT JOIN M0020 ON(
									#TEMP_M4601.company_cd			=	M0020.company_cd
								AND #TEMP_M4601.organization_cd_1	=	M0020.organization_cd_1
								AND #TEMP_M4601.organization_cd_2	=	M0020.organization_cd_2
								AND #TEMP_M4601.organization_cd_3	=	M0020.organization_cd_3
								AND #TEMP_M4601.organization_cd_4	=	M0020.organization_cd_4
								AND #TEMP_M4601.organization_cd_5	=	M0020.organization_cd_5
								) 
								WHERE
									M0020.del_datetime IS NULL
								ORDER BY M0020.arrange_order
				FOR XML PATH ('')), 1, 1, '')  AS organization_nm 
		,	STUFF((SELECT '、' + M0040.position_nm FROM #TEMP_M4602 
								LEFT JOIN M0040 ON(
									#TEMP_M4602.company_cd		=	M0040.company_cd
								AND #TEMP_M4602.code			=	M0040.position_cd
								AND #TEMP_M4602.attribute		=	1
								) 
								WHERE 
									#TEMP_M4602.attribute	=	1 
								AND M0040.del_datetime IS NULL
								ORDER BY M0040.arrange_order
									  ,	 M0040.position_cd
				FOR XML PATH ('')), 1, 1, '')  AS position_nm 
		,	STUFF((SELECT '、' + M0030.job_nm FROM #TEMP_M4602 
								LEFT JOIN M0030 ON(
									#TEMP_M4602.company_cd		=	M0030.company_cd
								AND #TEMP_M4602.code			=	M0030.job_cd
								AND #TEMP_M4602.attribute		=	2
								) 
								WHERE 
									#TEMP_M4602.attribute	=	2
								AND	M0030.del_datetime IS NULL
								ORDER BY M0030.arrange_order
									  ,	 M0030.job_cd
				FOR XML PATH ('')), 1, 1, '')  AS job_nm 
		,	STUFF((SELECT '、' + M0050.grade_nm FROM #TEMP_M4602 
								LEFT JOIN M0050 ON(
									#TEMP_M4602.company_cd		=	M0050.company_cd
								AND #TEMP_M4602.code			=	M0050.grade
								AND #TEMP_M4602.attribute		=	3
								) 
								WHERE 
									#TEMP_M4602.attribute	=	3
								AND M0050.del_datetime IS NULL
								ORDER BY M0050.arrange_order
									  ,	 M0050.grade
				FOR XML PATH ('')), 1, 1, '')  AS grade_nm 
		,	STUFF((SELECT '、' + M0060.employee_typ_nm FROM #TEMP_M4602 
								LEFT JOIN M0060 ON(
									#TEMP_M4602.company_cd		=	M0060.company_cd
								AND #TEMP_M4602.code			=	M0060.employee_typ
								AND #TEMP_M4602.attribute		=	4
								) 
								WHERE 
									#TEMP_M4602.attribute	=	4
								AND M0060.del_datetime IS NULL
								ORDER BY M0060.arrange_order
									  ,	 M0060.employee_typ
				FOR XML PATH ('')), 1, 1, '')  AS employee_typ_nm 
	END
	ELSE
	BEGIN
		SELECT
			'' AS organization_nm 
		,	'' AS position_nm 
		,	'' AS job_nm 
		,	'' AS grade_nm 
		,	'' AS employee_typ_nm 
	END
	--DROP TABLE
	DROP TABLE #M4600
	DROP TABLE #TEMP_M4601
	DROP TABLE #TEMP_M4602
END
GO
