
GO
DROP PROCEDURE [dbo].[SPC_WEEKLYREPORT_SCHEDULE_SETTING]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_WEEKLYREPORT_SCHEDULE_SETTING 10044,0
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	GET SCHEDULE SETTINGS OF WEEKLYREPORT
--*  
--*  作成日/create date			:	2023/05/09					
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:	2023/06/08
--*　更新者/updater				:	namnt
--*　更新内容/update content		:				

--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_WEEKLYREPORT_SCHEDULE_SETTING]
	-- Add the parameters for the stored procedure here	
	@P_company_cd	SMALLINT	=	0
-- 0.GET REPORT KINDS | 1.GET FISCAL_YEAR	| 2. GET MONTH | 3.GET TIMES | 4. GET GROUP |5. GET MONTH FISCAL | 6. GET FISCAL_MONTH FROM CURRENT YEAR MONTH
,	@P_mode			SMALLINT	=	0	
,	@P_fiscal_year	SMALLINT	=	0
,	@P_report_kind	SMALLINT	=	0
,	@P_month		SMALLINT	=	0
,	@P_lang			NVARCHAR(2)	=	'jp'
,	@P_detail_no	SMALLINT	=	0
,	@P_group_cd		SMALLINT	=	0
,	@P_year			SMALLINT	=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_beginning_date				DATE			=	NULL
	,	@i								INT				=	0
	,	@start_date						DATE			=	NULL
	,	@w_annual_report_kind			SMALLINT		=	0
	,	@w_semi_annual_report_kind		SMALLINT		=	0
	,	@w_quarterly_annual_report_kind	SMALLINT		=	0
	,	@w_monthly_annual_report_kind	SMALLINT		=	0
	,	@w_weekly_annual_report_kind	SMALLINT		=	0
	--
	SET @P_group_cd = IIF(@P_group_cd = -1,0,@P_group_cd)
	SET @P_month = IIF(@P_month = -1,0,@P_month)
	SET @P_detail_no = IIF(@P_detail_no = -1,0,@P_detail_no)
	SELECT
			@w_annual_report_kind			= 		M4100.annualreport_user_typ
		,	@w_semi_annual_report_kind		= M4100.semi_annualreport_user_typ
		,	@w_quarterly_annual_report_kind	=	M4100.quarterlyreport_user_typ
		,	@w_monthly_annual_report_kind	=	M4100.monthlyreport_user_typ
		,	@w_weekly_annual_report_kind	=	M4100.weeklyreport_user_typ
	FROM M4100 
	WHERE 
		M4100.company_cd = @P_company_cd
	and m4100.del_datetime IS NULL
	--
	CREATE TABLE #TEMP_TIME(
		detail_no					SMALLINT
	,	month						SMALLINT
	,	normal_month				SMALLINT
	,	start_date					DATETIME
	,	deadline_date				DATETIME
	)
	CREATE TABLE #TEMP_MONTH_YEAR(
		month						SMALLINT
	,	month_year					NVARCHAR(10)
	)
	CREATE TABLE #TEMP_F4100(
		report_kind						SMALLINT
	)
	--
	CREATE TABLE #TABLE_DATE(
		id					INT	IDENTITY(1,1)
	,	[month_date]		DATE
	,	[year]				SMALLINT
	,	[month]				SMALLINT
	)
	IF @P_fiscal_year > 0
	BEGIN
		-- GET @w_beginning_date
		SELECT 
			@w_beginning_date = M9100.[report_beginning_date]
		FROM M9100
		WHERE 
			M9100.company_cd		=	@P_company_cd
		AND M9100.del_datetime IS NULL
		--
		IF @w_beginning_date IS NOT NULL
		BEGIN
			SET @start_date = CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@w_beginning_date,'MM/dd')) AS DATE)
		END
		ELSE
		BEGIN 
			SET @start_date		= CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/01/01') AS DATE)
		END
		--
		WHILE @i < 12
		BEGIN
			INSERT INTO #TABLE_DATE
			SELECT 
				DATEADD(MONTH,@i, @start_date)
			,	YEAR(DATEADD(MONTH,@i, @start_date))
			,	MONTH(DATEADD(MONTH,@i, @start_date))
			--
			SET @i = @i + 1
		END
	END
	--
	IF @P_mode = 0
	BEGIN
		INSERT INTO #TEMP_F4100
		SELECT 
			F4100.report_kind
		FROM F4100
		WHERE
			@w_annual_report_kind = 1
		AND F4100.report_kind = 1
		AND F4100.company_cd	=	@P_company_cd
		AND F4100.del_datetime IS NULL
		INSERT INTO #TEMP_F4100
		SELECT 
			F4100.report_kind
		FROM F4100
		WHERE
			@w_semi_annual_report_kind = 1
		AND F4100.report_kind = 2
		AND F4100.company_cd	=	@P_company_cd
		AND F4100.del_datetime IS NULL
		INSERT INTO #TEMP_F4100
		SELECT 
			F4100.report_kind
		FROM F4100
		WHERE
			@w_quarterly_annual_report_kind = 1
		AND F4100.report_kind = 3
		AND F4100.company_cd	=	@P_company_cd
		AND F4100.del_datetime IS NULL
		INSERT INTO #TEMP_F4100
		SELECT 
			F4100.report_kind
		FROM F4100
		WHERE
			@w_monthly_annual_report_kind = 1
		AND F4100.report_kind = 4
		AND F4100.company_cd	=	@P_company_cd
		AND F4100.del_datetime IS NULL
		INSERT INTO #TEMP_F4100
		SELECT 
			F4100.report_kind
		FROM F4100
		WHERE
			@w_weekly_annual_report_kind = 1
		AND F4100.report_kind = 5
		-----[0]
		SELECT 
			ISNULL(#TEMP_F4100.report_kind,0)		AS	report_kind
		,	CASE
				WHEN @P_lang = 'jp'
				THEN ISNULL(L0010.[name],'')
				ELSE ISNULL(L0010.name_english,'')
			END								AS	report_nm
		FROM #TEMP_F4100 
		LEFT JOIN L0010 ON(
			41					=	L0010.name_typ
		AND #TEMP_F4100.report_kind	=	L0010.number_cd
		)
		GROUP BY
			L0010.name
		,	L0010.name_english
		,	#TEMP_F4100.report_kind
		ORDER BY 
			report_kind
	END
	-- GET FISCAL_YEAR
	IF @P_mode = 1
	BEGIN
		SELECT 
			ISNULL(F4100.fiscal_year,0)		AS	fiscal_year
		FROM F4100
		WHERE
			F4100.company_cd	=	@P_company_cd
		AND F4100.del_datetime IS NULL
		AND F4100.user_typ		=	1
		GROUP BY
			F4100.fiscal_year
	END
	-- GET MONTH
	IF @P_mode = 2
	BEGIN
		IF @P_report_kind <> 5 
			BEGIN
				SELECT 
					ISNULL(F4100.detail_no,0)		AS	[month]
				,	cast(F4100.year as nvarchar(4)) +'/'+ right('00'+ cast( F4100.month as nvarchar(2)),2)		AS  month_nm
				FROM F4100
				WHERE 
					F4100.company_cd	=	@P_company_cd
				AND F4100.fiscal_year	=	@P_fiscal_year
				AND F4100.report_kind	=	@P_report_kind
				AND F4100.del_datetime IS NULL
				AND F4100.user_typ		=	1
				GROUP BY
					F4100.detail_no
				,	F4100.year
				,	F4100.month
			END
		ELSE
		BEGIN
			INSERT INTO #TEMP_TIME
			EXEC [dbo].SPC_WEEKLYREPORT_GET_WEEKLY @P_company_cd,@P_fiscal_year,0
			--[0]
			SELECT 
				ISNULL(#TEMP_TIME.month,0)		AS	[month]
			,	cast(F4100.year as nvarchar(4)) +'/'+ right('00'+ cast( F4100.month as nvarchar(2)),2)		AS  month_nm
			FROM F4100 
			INNER JOIN #TEMP_TIME ON(
				F4100.detail_no = #TEMP_TIME.detail_no
			)
			WHERE 
				F4100.company_cd	=	@P_company_cd
			AND F4100.fiscal_year	=	@P_fiscal_year
			AND F4100.report_kind	=	@P_report_kind
			AND F4100.del_datetime IS NULL
			AND F4100.user_typ		=	1
			GROUP BY
				#TEMP_TIME.month
			,	F4100.year
			,	F4100.month
		END
	END
	-- GET TIMES
	IF @P_mode = 3
	BEGIN
		INSERT INTO #TEMP_TIME
		EXEC [dbo].SPC_WEEKLYREPORT_GET_WEEKLY @P_company_cd,@P_fiscal_year,@P_month
		--
		SELECT 
			ISNULL(F4100.detail_no,0)		AS	detail_no
		,	CASE 
				WHEN ISNULL(MIN(F4100.title),'') <> ''
				THEN ISNULL(MIN(F4100.title),'')			
				ELSE CAST(ISNULL(MIN(F4100.detail_no),0) AS NVARCHAR(2)) + IIF(@P_lang <> 'jp', ' Times', '回')
			END												AS	title	-- タイトル
		FROM F4100
		INNER JOIN #TEMP_TIME ON(
			F4100.detail_no		=	#TEMP_TIME.detail_no
		AND F4100.company_cd	=	@P_company_cd
		AND F4100.fiscal_year	=	@P_fiscal_year
		AND F4100.report_kind	=	@P_report_kind
		)
		WHERE 
			(@P_group_cd = 0
		OR (@P_group_cd <> 0
		AND F4100.group_cd = @P_group_cd))
		AND F4100.del_datetime IS NULL
		AND F4100.user_typ		=	1
		GROUP BY
			F4100.detail_no
	END
	-- GET GROUP
	IF @P_mode = 4
	BEGIN
		IF @P_month <> 0
		BEGIN
		INSERT INTO #TEMP_TIME
		EXEC [dbo].SPC_WEEKLYREPORT_GET_WEEKLY @P_company_cd,@P_fiscal_year,@P_month
		SELECT TOP 1 @P_month = normal_month FROM #TEMP_TIME
		END
		SELECT 
			ISNULL(F4100.group_cd,0)		AS	group_cd
		,	ISNULL(M4600.group_nm,0)		AS	group_nm
		FROM F4100 LEFT JOIN M4600 ON (
			F4100.company_cd = M4600.company_cd
		AND F4100.group_cd = M4600.group_cd
		)
		WHERE 
			F4100.company_cd	=	@P_company_cd
		AND F4100.fiscal_year	=	@P_fiscal_year
		AND (
			@P_report_kind = 0
		OR	(@P_report_kind <> 0
		AND F4100.report_kind = @P_report_kind)
		)
		AND	(
			@P_detail_no = 0
		OR	(@P_detail_no <> 0
		AND F4100.detail_no = @P_detail_no)
		)
		AND	(
			@P_month = 0
		OR	(@P_month <> 0
		AND F4100.month = @P_month)
		)
		AND F4100.del_datetime IS NULL
		AND M4600.del_datetime IS NULL
		AND F4100.user_typ		=	1
		GROUP BY
			F4100.group_cd
		,	M4600.group_nm

	END
	-- GET ALL MONTH OF FISCAL_YEAR
	IF @P_mode = 5
	BEGIN
		--[0]
		SELECT
			 id  AS	[month]
		,	 CAST(convert(varchar, month_date, 111) AS nvarchar(7))  AS month_nm
		FROM #TABLE_DATE
	END
	-- 6. GET FISCAL_MONTH FROM CURRENT YEAR MONTH
	IF @P_mode = 6
	BEGIN
		--[0]
		SELECT 
			id		AS	[month]
		,	CAST(CONVERT(nvarchar(10), month_date, 111) AS nvarchar(7))		AS month_nm
		FROM #TABLE_DATE
		WHERE
			#TABLE_DATE.year	=	@P_year
		AND #TABLE_DATE.month	=	@P_month

	END
	-- DROP
	DROP TABLE #TABLE_DATE
	DROP TABLE #TEMP_MONTH_YEAR
	DROP TABLE #TEMP_TIME	

END
GO
