IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_WEEKLYREPORT_CACHE_REPORTS_ACT1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_WEEKLYREPORT_CACHE_REPORTS_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_rI2010_ACT6] 782,2023,'890',4,1,'890'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	CACHE REPORTS IN RDASHBOARD
--*  
--*  作成日/create date			:	2023/05/08						
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:	
--*　更新内容/update content		:	
--*  
--****************************************************************************************
CREATE PROCEDURE [SPC_WEEKLYREPORT_CACHE_REPORTS_ACT1] 
	@P_sesion_key				NVARCHAR(100)	=	''
,	@P_company_cd				SMALLINT		=	0
,	@P_cre_user					NVARCHAR(50)	=	''
,	@P_json						NVARCHAR(MAX)	=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2					=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@w_order_by_min			int							=	0
	,	@w_screen_id			nvarchar(20)				=	'rDashboard'
	
	CREATE TABLE #LIST_REPORT_NO (
		id				int		identity(1,1)
	,	fiscal_year		smallint
	,	employee_cd		nvarchar(10)
	,	report_kind		smallint
	,	report_no		smallint
	)
	IF ISJSON(@P_json) > 0
	BEGIN
		INSERT INTO #LIST_REPORT_NO
		SELECT
			ISNULL(json_table.fiscal_year,0)		
		,	ISNULL(json_table.employee_cd,'')
		,	ISNULL(json_table.report_kind,0)					
		,	ISNULL(json_table.report_no,0)				
		FROM OPENJSON(@P_json,'$.reports') WITH(
			fiscal_year		smallint
		,	employee_cd		nvarchar(10)
		,	report_kind		smallint
		,	report_no		smallint
		)AS json_table
	END
	BEGIN TRY
	BEGIN TRANSACTION
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- DELETE
			DELETE D FROM WRK_WEEKLYREPORT_CACHE AS D
			WHERE
				D.session_key	=	@P_sesion_key
			-- INSERT 
			INSERT INTO WRK_WEEKLYREPORT_CACHE
			SELECT 
				@P_sesion_key
			,	#LIST_REPORT_NO.id
			,	@P_company_cd
			,	ISNULL(#LIST_REPORT_NO.fiscal_year,0)
			,	ISNULL(#LIST_REPORT_NO.employee_cd,'')
			,	ISNULL(#LIST_REPORT_NO.report_kind,0)
			,	ISNULL(#LIST_REPORT_NO.report_no,0)
			,	@P_cre_user
			,	@w_time
			FROM #LIST_REPORT_NO
		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by
END

GO
