DROP PROCEDURE [SPC_A0005_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_A0005_INQ1] '0'
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	KING of Time の従業員一覧を取得する。（従業員追加・更新）
--*  
--* 作成日/create date			:	2024/10/10											
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:				
--*	更新者/updater				:				     	 
--*	更新内容/update content		:	
--*
--****************************************************************************************
CREATE PROCEDURE [SPC_A0005_INQ1]
	-- Add the parameters for the stored procedure here
	@P_company_cd	smallint	=	0	-- 0.ALL 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
	--[0]
	SELECT 
		M0070.company_cd					AS	company_cd
	,	ISNULL(M0003_MAX.access_token,'')	AS	access_token
	,	ISNULL(M0003_MAX.refresh_token,'')	AS	refresh_token
	,	M0003_MAX.effective_date			AS	effective_date
	,	ISNULL(M0020.import_cd,'')			AS	divisionCode
	,	CASE 
			WHEN M0070.gender = 1
			THEN 'male'
			WHEN M0070.gender = 2
			THEN 'female'
			ELSE ''
		END									AS	gender
	,	M0070.employee_typ					AS	typeCode
	,	ISNULL(M0060.import_cd,'')			AS	typeCode
	,	ISNULL(M0070.employee_cd,'')		AS	code
	,	ISNULL(M0070.employee_last_nm,'')	AS	lastName
	,	ISNULL(M0070.employee_first_nm,'')	AS	firstName
	,	M0070.company_in_dt					AS	hiredDate
	,	M0070.birth_date					AS	birthDate
	,	M0070.company_out_dt				AS	resignationDate
	,	ISNULL(M0070.mail,'')				AS	emailAddresses
	,	M0071_MAX.application_date			AS	updateDate
	FROM M0070
	INNER JOIN M0001 ON (
		M0070.company_cd	=	M0001.company_cd
	AND M0001.del_datetime IS NULL
	)
	LEFT OUTER JOIN (
		SELECT 
			M0003.company_cd		AS	company_cd
		,	M0003.access_token		AS	access_token
		,	M0003.refresh_token		AS	refresh_token
		,	M0003.effective_date	AS	effective_date
		,	MAX(M0003.detail_no)	AS	detail_no
		FROM M0003
		WHERE 
			M0003.API_kbn		=	2	-- KOT
		AND status				=	0	-- 有効
		AND (
			@P_company_cd = 0
		OR	@P_company_cd <> 0 AND M0003.company_cd = @P_company_cd
		)
		GROUP BY
			M0003.company_cd	
		,	M0003.access_token	
		,	M0003.refresh_token	
		,	M0003.effective_date
	) AS M0003_MAX ON (
		M0070.company_cd	=	M0003_MAX.company_cd
	)
	LEFT OUTER JOIN M0020 ON (
		M0070.company_cd		=	M0020.company_cd
	AND M0070.belong_cd1		=	M0020.organization_cd_1
	AND M0070.belong_cd2		=	M0020.organization_cd_2
	AND M0070.belong_cd3		=	M0020.organization_cd_3
	AND M0070.belong_cd4		=	M0020.organization_cd_4
	AND M0070.belong_cd5		=	M0020.organization_cd_5
	AND M0020.del_datetime IS NULL
	)
	LEFT OUTER JOIN M0060 ON (
		M0070.company_cd		=	M0060.company_cd
	AND M0070.employee_typ		=	M0060.employee_typ
	AND M0060.del_datetime IS NULL
	)
	LEFT OUTER JOIN (
		SELECT 
			M0071.company_cd				AS	company_cd
		,	M0071.employee_cd				AS	employee_cd
		,	MAX(M0071.application_date)		AS	application_date
		FROM M0071
		WHERE 
			M0071.company_cd = @P_company_cd
		AND M0071.del_datetime IS NULL
		GROUP BY
			M0071.company_cd
		,	M0071.employee_cd
	) AS M0071_MAX ON(
		M0070.company_cd	=	M0071_MAX.company_cd
	AND M0070.employee_cd	=	M0071_MAX.employee_cd
	)
	WHERE 
		M0070.del_datetime IS NULL
	AND M0001.kot_api_use_typ	=	1	-- KING OF TIME API を用意
	AND (
		@P_company_cd = 0
	OR	@P_company_cd <> 0 AND M0070.company_cd = @P_company_cd
	)
	SELECT 
		ISNULL(M0003.access_token,'') AS access_token 
	FROM M0003 
	WHERE 
		company_cd = @P_company_cd
	AND [status] = 0
	AND del_datetime IS NULL
END

GO
