DROP PROCEDURE [SPC_A0005_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC [SPC_A0005_ACT1] '[{"divisionCode":"1000","gender":"male","typeCode":"1","code":"1000","lastName":"勤怠","firstName":"太郎","lastNamePhonetics":"A1","firstNamePhonetics":"A2","birthDate":"","hiredDate":"","resignationDate":"","emailAddresses":"kintaitarou@h-t.co.jp"},{"divisionCode":"1000","gender":"female","typeCode":"1","code":"2000","lastName":"勤怠","firstName":"花子","lastNamePhonetics":"B1","firstNamePhonetics":"B2","birthDate":"","hiredDate":"","resignationDate":"","emailAddresses":"kintaihanako@h-t.co.jp"}]','[{"code":"1000","name":"本社"},{"code":"2000","name":"支社"}]','[{"code":"1","name":"正社員"}]','1','1','1','721','::1','798'
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	KING of Time の従業員APIを実行する
--*  
--* 作成日/create date			:	2024/10/10											
--*	作成者/creater				:	viettd						
--*   					
--*	更新日/update date			:				
--*	更新者/updater				:				     	 
--*	更新内容/update content		:	
--*
--****************************************************************************************
CREATE PROCEDURE [SPC_A0005_ACT1] 
	@P_kot_api_employee_upload_use	tinyint				=	0	-- 従業員情報連携
	-- common
,	@P_cre_user					nvarchar(50)			=	''
,	@P_cre_ip					nvarchar(50)			=	''
,	@P_company_cd				smallint				=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2					=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@w_order_by_min				int							=	0
	,	@w_screen_id					nvarchar(20)			=	'A0004'
	,	@w_i						int							=	0
	,	@w_cnt						int							=	0
	,	@w_language					smallint					=	0		

	-- #TABLE_JSON_EMPLOYEES
	
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			UPDATE M0001 SET 
				kot_api_employee_get 	= 	1
			,	kot_api_use_typ			=	1
			,	upd_datetime			=	@w_time
			,	upd_prg					=	'A0003'
			,	upd_ip					=	@P_cre_ip
			,	upd_user				=	@P_cre_user
			WHERE 
				M0001.company_cd	=	@P_company_cd
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by

END
GO