#questionnaire_nm {
	width:99% ;
}
.num-length:not(.td-error) > .textbox-error {
	display:contents !important;
}
.checkbox-text {
	max-width: 280px;
}
.checkbox-text2 {
	max-width: 167px;
}
.inline-block-1 {
	margin-left: 20px;
}
#table-data tbody tr:nth-child(3) td,#table-target-1 tbody tr:nth-child(4) td {
	padding: 5px !important;
}
#table-data tbody tr:nth-child(1) td,#table-data tbody tr:nth-child(2) td {
	padding: 5px !important;
}
.table-large-om0400 {
	min-width: 89.5%;
	border: 1px solid #dee2e6;
}
.table-small-om0400 {
	min-width: 10%;
	border: 1px solid #dee2e6;
}
.table-not-cursor tr {
	cursor: unset !important;
}
.table-special td {
	background: #f2f2f2 !important;
}
textarea {
	border:1px solid #dee2e6 !important;
}
/*textarea:focus {
    background-color: #fff;
    border-color: #ffc107;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #ffc10785;
}*/
.textarea-div textarea{
	width: 100%;
	height: 120px;
}
.textarea-div {
	min-width: 94.1%;
	padding-left: 10px;
}
.eye-div {
	border:1px solid #dee2e6 !important;
	width: 4.8%;
	text-align: center;
	padding-top: 40px;
}
.eye-div-disable {
	background: #EAEAEA;
}
/*pre {
	font-size: unset !important;
	margin-bottom: 0px;
	margin-top: 22px;
	margin-left: -153px;
}*/
.setHeight {
	height: 95% !important;
}
.pa-0{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.sp-o-clock{
	line-height: 38px;
	float:right;
	padding-right:2px;
}
.calHe.has-copy:before {
    position: absolute;
    top: 28px;
    left: 0%;
    right: 0;
    margin: auto;
}
#rightcontent .calHe {
	position: relative;
	display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 15px;
    height: 100%;
    margin-bottom: 15px;
    min-height: 75vh;
}
.calHe.has-copy:before, .calHe.has-copy:after {
	    left: 15%;
	}
@media (min-width: 1600px) and (max-width: 1900px){
	.checkbox-text2 {
		max-width: 167px;
	}
	.calHe.has-copy:before, .calHe.has-copy:after {
	    left: 27%;
	}
}
@media (min-width: 1260px) and (max-width: 1400px){
	.checkbox-text2 {
		min-width: 167px;
	}
	.calHe.has-copy:before, .calHe.has-copy:after {
	    left: 46%;
	}
}
@media (max-width: 575px) {
	#table-data {
		min-width: 1500px;
	}
	.textarea-div {
		min-width: 84.1%;
		padding-left: 10px;
	}
	.eye-div {
		border: 1px solid #dee2e6 !important;
		width: 12.8%;
		text-align: center;
		padding-top: 40px;
	}
	.setHeight {
		height: 95% !important;
	}
	#questionnaire_nm {
		width:99%;
	}
	.calHe.has-copy:before {
		top: 93px;
	}
	.calHe.has-copy:after {
		top: 139px;
	}
	.calHe.has-copy:before, .calHe.has-copy:after {
		left: 69%;
	}
}
@media (min-width: 865px) and (max-width: 991px) {
	.calHe.has-copy:before {
		top: 110px;
	}
	.calHe.has-copy:after {
		top: 157px;
	}
	.calHe.has-copy:before, .calHe.has-copy:after {
		left: -36%;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	#table-data {
		min-width: 1500px;
	}
	.textarea-div {
		min-width: 90.1%;
		padding-left: 10px;
	}
	.eye-div {
		border: 1px solid #dee2e6 !important;
		width: 7.5%;
		text-align: center;
		padding-top: 40px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#table-data {
		min-width: 1500px;
	}
	.textarea-div {
		min-width: 87.8%;
		padding-left: 10px;
	}
	.eye-div {
		width: 9.8%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#table-data {
		min-width: 1500px;
	}
}
@media (min-width: 320px) and (max-width: 387px) {
    .header-left-function h5 {
        font-size: 16px !important;
    }
}
@media (min-width: 992px) {
    .checkbox-text {
		max-width: 261px;
	}
	.calHe.has-copy:before, .calHe.has-copy:after {
		left: 90%;
	}
	.calHe.has-copy:before {
		top: 15px;
	}
	.calHe.has-copy:after {
		top: 67px;
	}
}
@media (min-width: 682px) and (max-width: 767px){
	.calHe.has-copy:before, .calHe.has-copy:after {
		left: -46%;
	}
	.calHe.has-copy:before {
		top: 108px;
	}
	.calHe.has-copy:after {
		top: 158px;
	}
}