DROP PROCEDURE [SPC_M0070_08_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--* EXEC SPC_M0070_08_INQ1 '20', '740', '721'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスタ tab_8
--*  
--*  作成日/create date			:						
--*　作成者/creater				:									
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_08_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(10)	=	N''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	N''
AS
BEGIN
	DECLARE 
		@w_time				DATETIME2			= SYSDATETIME()
	,	@w_language			INT					=	1

	SELECT 
		@w_language								=	ISNULL(S0010.language,1)
	FROM S0010 
	WHERE 
		S0010.company_cd		=	@P_company_cd
	AND S0010.user_id			=	@P_user_id

	--[0]
	SELECT
		ISNULL(L0010_67.number_cd,	0)				AS marital_status
	FROM M0085
	LEFT JOIN L0010 AS L0010_67 WITH (NOLOCK) ON (
		L0010_67.name_typ			=	67
	AND	L0010_67.number_cd			=	M0085.marital_status
	AND	L0010_67.del_datetime		IS NULL
	)
	WHERE
		M0085.company_cd	= @P_company_cd
	AND	M0085.employee_cd	= @P_employee_cd
	AND M0085.del_datetime IS NULL
	
	--[1]
	SELECT 
		ISNULL(M0086.detail_no,	0)						AS detail_no
	,	ISNULL(M0086.full_name			,N'')			AS full_name
	,	ISNULL(M0086.full_name_furigana	,N'')			AS full_name_furigana
	,	CASE
			WHEN	@w_language = 2
			THEN	IIF(ISNULL(L0010_63.name_english,'') = '', M0086.relationship, L0010_63.name_english)
			ELSE	IIF(ISNULL(L0010_63.name,'') = '', M0086.relationship, L0010_63.name)
		END												AS relationship
	,	M0086.relationship								AS relationship_cd
	,	ISNULL(L0010_68.number_cd, 0)					AS gender
	,	CASE
			WHEN	@w_language = 2
			THEN	ISNULL(L0010_68.name_english,'')
			ELSE	ISNULL(L0010_68.name,'')
		END												AS gender_nm
	,	CONVERT(VARCHAR(10),M0086.birthday, 111)		AS birthday
	,	ISNULL(L0010_69.number_cd, 0)					AS residential_classification
	,	CASE
			WHEN	@w_language = 2
			THEN	ISNULL(L0010_69.name_english,'')
			ELSE	ISNULL(L0010_69.name,'')
		END												AS residential_classification_nm
	,	CASE
			WHEN	@w_language = 2
			THEN	IIF(ISNULL(L0010_70.name_english,'') = '', M0086.profession, L0010_70.name_english)
			ELSE	IIF(ISNULL(L0010_70.name,'') = '', M0086.profession, L0010_70.name)
		END												AS profession_nm
	,	M0086.profession								AS profession
	FROM M0086
	LEFT JOIN L0010 AS L0010_63 WITH (NOLOCK) ON (
		L0010_63.name_typ			=	63
	AND	CONVERT(NVARCHAR(10),L0010_63.number_cd)			=	M0086.relationship
	AND	L0010_63.del_datetime		IS NULL
	)
	LEFT JOIN L0010 AS L0010_68 WITH (NOLOCK) ON (
		L0010_68.name_typ			=	68
	AND	L0010_68.number_cd			=	M0086.gender
	AND	L0010_68.del_datetime		IS NULL
	)
	LEFT JOIN L0010 AS L0010_69 WITH (NOLOCK) ON (
		L0010_69.name_typ			=	69
	AND	L0010_69.number_cd			=	M0086.residential_classification
	AND	L0010_69.del_datetime		IS NULL
	)
	LEFT JOIN L0010 AS L0010_70 WITH (NOLOCK) ON (
		L0010_70.name_typ			=	70
	AND	CONVERT(NVARCHAR(10),L0010_70.number_cd)			=	M0086.profession
	AND	L0010_70.del_datetime		IS NULL
	)
	WHERE
		M0086.company_cd	= @P_company_cd
	AND	M0086.employee_cd	= @P_employee_cd
	AND M0086.del_datetime IS NULL


END
GO
