DROP PROCEDURE [SPC_M0070_08_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	M0070_社員マスタ tab_8
--*  
--* 作成日/create date			:												
--*	作成者/creater				:						
--*   					
--*	更新日/update date			:  					
--*	更新者/updater				:　 　								     	 
--*	更新内容/update content		:	　	
--* 
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_08_ACT1]
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(max)	=	N''
	-- common
,	@P_cre_user		NVARCHAR(50)	=	N''
,	@P_cre_ip		NVARCHAR(50)	=	N''
,	@P_company_cd	SMALLINT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2		=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE
	,	@order_by_min				INT				=	0
	,	@employee_cd				NVARCHAR(20)	=	N''
	,	@w_max						INT				=	0
	,	@w_marital_status			NVARCHAR(50)	=	N''
	
	CREATE TABLE #m0086(
		id							INT NOT NULL IDENTITY(1,1) 							
	,	detail_no					SMALLINT
	,	full_name					NVARCHAR(10)
	,	full_name_furigana			NVARCHAR(10)
	,	relationship				NVARCHAR(10)
	,	gender						SMALLINT
	,	birthday					DATE
	,	residential_classification	SMALLINT
	,	profession					NVARCHAR(10)
	)

	CREATE TABLE #m0086_NEW_RECORD(
		id							INT NOT NULL IDENTITY(1,1) 							
	,	detail_no					SMALLINT
	,	full_name					NVARCHAR(10)
	,	full_name_furigana			NVARCHAR(10)
	,	relationship				NVARCHAR(10)
	,	gender						SMALLINT
	,	birthday					DATE
	,	residential_classification	SMALLINT
	,	profession					NVARCHAR(10)
	)

	-- DATA TABLE JSON
	INSERT INTO #m0086
	SELECT
		detail_no				
	,	ISNULL(full_name					,0)
	,	ISNULL(full_name_furigana			,N'')
	,	ISNULL(relationship					,N'')
	,	ISNULL(gender						,0)
	,	IIF(birthday						= N'1900-01-01',NULL,birthday)
	,	ISNULL(residential_classification	,0)
	,	ISNULL(profession					,N'')
	FROM OPENJSON(@P_json,'$.list_tab_08') WITH(
		detail_no					SMALLINT
	,	full_name					NVARCHAR(10)
	,	full_name_furigana			NVARCHAR(10)
	,	relationship				NVARCHAR(10)
	,	gender						SMALLINT
	,	birthday					DATE
	,	residential_classification	SMALLINT
	,	profession					NVARCHAR(10)
	)

	INSERT INTO #m0086_NEW_RECORD
	SELECT
			detail_no				
	,	ISNULL(full_name					,0)
	,	ISNULL(full_name_furigana			,N'')
	,	ISNULL(relationship					,N'')
	,	ISNULL(gender						,0)
	,	ISNULL(birthday						,NULL)
	,	ISNULL(residential_classification	,0)
	,	ISNULL(profession					,N'')
	FROM #m0086
	WHERE
		#m0086.detail_no = 0
	AND NOT (
			#m0086.full_name					= N''
		AND #m0086.full_name_furigana			= N''
		AND #m0086.relationship					= N''
		AND	#m0086.gender						= 0
		AND #m0086.birthday						IS NULL
		AND	#m0086.residential_classification	= 0
		AND	#m0086.profession					= N''
	)

	-- START TRANSACTION5
	BEGIN TRANSACTION
	BEGIN TRY
		SET @employee_cd					=	JSON_VALUE(@P_json,'$.employee_cd			')
		SET @w_marital_status				=	JSON_VALUE(@P_json,'$.marital_status		')

		SELECT 
			@w_max =	ISNULL(MAX(M0086.detail_no), 0)
		FROM M0086
		WHERE
			M0086.company_cd            = @P_company_cd
		AND M0086.employee_cd			= @employee_cd

		IF EXISTS (
			SELECT 1
			FROM #m0086
			WHERE NOT (
					#m0086.full_name					= N''
				AND #m0086.full_name_furigana			= N''
				AND #m0086.relationship					= N''
				AND	#m0086.gender						= 0
				AND #m0086.birthday						IS NULL
				AND	#m0086.residential_classification	= 0
				AND	#m0086.profession					= N''
			)
		)
		BEGIN
			
			IF EXISTS ( SELECT 1
				FROM #m0086
				WHERE #m0086.full_name = N''
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					8
				,	N'.full_name' 
				,	0-- oderby
				,	0-- dialog  
				,	#m0086.id
				,	0
				,	N'full_name require'
				FROM #m0086
				WHERE #m0086.full_name = N''
				AND NOT (
					#m0086.full_name					= N''
				AND #m0086.full_name_furigana			= N''
				AND #m0086.relationship					= N''
				AND	#m0086.gender						= 0
				AND #m0086.birthday						IS NULL
				AND	#m0086.residential_classification	= 0
				AND	#m0086.profession					= N''
			)
			END

			IF EXISTS ( SELECT 1
				FROM #m0086
				WHERE #m0086.birthday > @w_time
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					24
				,	N'.birthday' 
				,	0-- oderby
				,	0-- dialog  
				,	#m0086.id
				,	0
				,	N'birthday error'
				FROM #m0086
				WHERE #m0086.birthday > @w_time
				AND NOT (
					#m0086.full_name					= N''
				AND #m0086.full_name_furigana			= N''
				AND #m0086.relationship					= N''
				AND	#m0086.gender						= 0
				AND #m0086.birthday						IS NULL
				AND	#m0086.residential_classification	= 0
				AND	#m0086.profession					= N''
			)
			END

		END

		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			--del
			UPDATE M0086
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0086
			LEFT JOIN #m0086		ON (
				M0086.company_cd            = @P_company_cd
			AND M0086.employee_cd			= @employee_cd
			AND	M0086.detail_no				= #m0086.detail_no
			)
			WHERE
				M0086.del_datetime IS NULL
			AND	M0086.company_cd	= @P_company_cd
			AND	M0086.employee_cd	= @employee_cd
			AND	#m0086.detail_no	IS NULL

			--upd
			UPDATE M0085	--m0085
			SET
				M0085.marital_status					= @w_marital_status					
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0085
			WHERE 
				M0085.company_cd	=	@P_company_cd
			AND	M0085.employee_cd	=	@employee_cd
			AND M0085.del_datetime	IS NULL

			UPDATE M0086 --M0086
			SET
				full_name								= #m0086.full_name
			,	full_name_furigana						= #m0086.full_name_furigana
			,	relationship							= #m0086.relationship
			,	gender									= #m0086.gender
			,	birthday								= #m0086.birthday
			,	residential_classification				= #m0086.residential_classification
			,	profession								= #m0086.profession	
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0086
			INNER JOIN #m0086		ON (
				M0086.company_cd            = @P_company_cd
			AND M0086.employee_cd			= @employee_cd
			AND	M0086.detail_no				= #m0086.detail_no
			)
			WHERE
				M0086.del_datetime IS NULL
			AND	M0086.company_cd	= @P_company_cd
			AND	M0086.employee_cd	= @employee_cd

			--insert
			IF EXISTS (SELECT 1 FROM M0085 WHERE M0085.company_cd = @P_company_cd AND M0085.employee_cd = @employee_cd)
			BEGIN
				UPDATE M0085
				SET
					marital_status							= @w_marital_status
				,	upd_user								= @P_cre_user
				,	upd_ip									= @P_cre_ip
				,	upd_prg									= N'M0070'
				,	upd_datetime							= @w_time
				,	del_user								= ''
				,	del_ip									= ''
				,	del_prg									= ''
				,	del_datetime							= NULL
				WHERE M0085.company_cd	= @P_company_cd 
				AND M0085.employee_cd	= @employee_cd
			END

			IF NOT EXISTS (SELECT 1 FROM M0085 WHERE M0085.company_cd = @P_company_cd AND M0085.employee_cd = @employee_cd)
			BEGIN
				--M0085
				INSERT INTO M0085
				SELECT
					@P_company_cd
				,	@employee_cd
				,	@w_marital_status					
				,	@P_cre_user								--[cre_user]
				,	@P_cre_ip								--[cre_ip]
				,	'M0070'									--[cre_prg]
				,	@w_time									--[cre_datetime]
				,	''										--[upd_user]
				,	''										--[upd_ip]
				,	''										--[upd_prg]
				,	NULL									--[upd_datetime]
				,	''										--[del_user]
				,	''										--[del_ip]
				,	''										--[del_prg]
				,	NULL									--[del_datetime])
			END

			--m0086
			INSERT INTO M0086
			SELECT 
				@P_company_cd
			,	@employee_cd
			,	#m0086_NEW_RECORD.id + @w_max					
			,	#m0086_NEW_RECORD.full_name					
			,	#m0086_NEW_RECORD.full_name_furigana		
			,	#m0086_NEW_RECORD.relationship					
			,	#m0086_NEW_RECORD.gender					
			,	#m0086_NEW_RECORD.birthday					
			,	#m0086_NEW_RECORD.residential_classification
			,	#m0086_NEW_RECORD.profession				
			,	@P_cre_user							--,[cre_user]
			,	@P_cre_ip							--,[cre_ip]
			,	N'M0070'							--,[cre_prg]
			,	@w_time								--,[cre_datetime]
			,	N''									--,[upd_user]
			,	N''									--,[upd_ip]
			,	N''									--,[upd_prg]
			,	NULL								--,[upd_datetime]
			,	N''									--,[del_user]
			,	N''									--,[del_ip]
			,	N''									--,[del_prg]
			,	NULL								--,[del_datetime]
			FROM #m0086_NEW_RECORD
			WHERE NOT (
					#m0086_NEW_RECORD.full_name						= N''
				AND #m0086_NEW_RECORD.full_name_furigana			= N''
				AND #m0086_NEW_RECORD.relationship					= N''
				AND	#m0086_NEW_RECORD.gender						= 0
				AND #m0086_NEW_RECORD.birthday						IS NULL
				AND	#m0086_NEW_RECORD.residential_classification	= 0
				AND	#m0086_NEW_RECORD.profession					= N''
			)	
		END
		
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by

	SELECT 
		@employee_cd AS employee_cd

	DROP TABLE IF EXISTS #m0086
	DROP TABLE IF EXISTS #m0086_NEW_RECORD
END


GO
