DROP PROCEDURE [SPC_eM0010_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	SPC_eM0010_INQ1
--*  
--*  作成日/create date			:	2024/03/18
--*　作成者/creater				:	manhnd						
--*  作成内容/create content		:	refer data em0010
--*	 更新日/update date			:  	
--*	 更新者/updater				:　 
--*	 更新内容/update content	:	
--****************************************************************************************
CREATE PROCEDURE [SPC_eM0010_INQ1]
	@P_qualification_cd								SMALLINT
,	@P_company_cd									SMALLINT
AS
BEGIN
	SET NOCOUNT ON;
	--[0]
	SELECT
		ISNULL(qualification_cd,0)				AS	qualification_cd
	,	ISNULL(qualification_nm,N'')			AS	qualification_nm
	,	ISNULL(qualification_typ,0)				AS	qualification_typ
	,	ISNULL(arrange_order,0)					AS	arrange_order
	FROM M5010 WITH(NOLOCK)
	WHERE
		company_cd				=	@P_company_cd
	AND	qualification_cd		=	@P_qualification_cd
END
GO
