IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_eM0010_LST1]') AND type IN (N'P', N'PC'))
DROP PROCEDURE [dbo].[SPC_eM0010_LST1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- +--TEST--+
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	
--*  
--*  作成日/create date			:	2024/03/18
--*　作成者/creater				:	manhnd						
--*  作成内容/create content		:	refer left content	 					
--*	 更新日/update date			:  	
--*	 更新者/updater				:　 
--*	 更新内容/update content	:	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_eM0010_LST1]
	@P_qualification_nm					NVARCHAR(50)		=	N''
,	@P_current_page						SMALLINT			=	0
,	@P_page_size						SMALLINT			=	0
,	@P_company_cd						SMALLINT			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@ERR_TBL						ERRTABLE
	,	@totalRecord					DECIMAL(18,0)		=	0
	,	@pageMax						INT					=	0
	,	@pageNumber						INT					=	0
	--
	CREATE TABLE #M5010 (
		company_cd						SMALLINT
	,	qualification_cd				SMALLINT
	,	qualification_nm				NVARCHAR(50)
	,	qualification_ab_nm				NVARCHAR(20)
	,	arrange_order					INT	
	)
	
	INSERT INTO #M5010
	SELECT 
		@P_company_cd
	,	M5010.qualification_cd			
	,	M5010.qualification_nm
	,	M5010.qualification_ab_nm
	,	M5010.arrange_order  
	FROM M5010 
	WHERE 
		(	@P_qualification_nm = N'' 
		OR	dbo.FNC_COM_REPLACE_SPACE(M5010.qualification_nm)		LIKE '%' +  dbo.FNC_COM_REPLACE_SPACE(@P_qualification_nm) + '%' 
		OR	dbo.FNC_COM_REPLACE_SPACE(M5010.qualification_ab_nm)	LIKE '%' +  dbo.FNC_COM_REPLACE_SPACE(@P_qualification_nm) + '%' 
	)
	AND M5010.company_cd	= @P_company_cd
	AND M5010.del_datetime IS NULL
	
	--[0]
	SELECT 
		#M5010.company_cd							AS	company_cd
	,	#M5010.qualification_cd						AS  qualification_cd
	,	ISNULL(#M5010.qualification_nm,N'')			AS	qualification_nm
	,	ISNULL(#M5010.qualification_ab_nm,N'')		AS  qualification_ab_nm
	,	ISNULL(#M5010.arrange_order,N'')			AS	arrange_order 
	FROM #M5010
	ORDER BY 
		arrange_order ASC
	,	qualification_cd
	OFFSET (@P_current_page-1) * @P_page_size ROWS
	FETCH NEXT @P_page_size ROWS ONLY

	--[1]
	SET @totalRecord = (SELECT COUNT(*) FROM #M5010)
	SET @pageNumber = CEILING(CAST(@totalRecord AS FLOAT) / @P_page_size)
	SELECT @totalRecord AS totalRecord, @pageNumber AS pageMax, @P_current_page AS [page], @P_page_size AS pagesize

END
GO
