DROP PROCEDURE [SPC_eM0010_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	
--*  
--*  作成日/create date			:	2024/03/18
--*　作成者/creater				:	manhnd						
--*  作成内容/create content		:	save em0010					
--*	 更新日/update date			:  	
--*	 更新者/updater				:　 
--*	 更新内容/update content	:	
--****************************************************************************************
CREATE PROCEDURE [SPC_eM0010_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json									NVARCHAR(MAX)
	-- common
,	@P_cre_user								NVARCHAR(50)
,	@P_cre_ip								NVARCHAR(50)
,	@P_company_cd							SMALLINT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time								DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL							ERRTABLE	
	,	@order_by_min						INT					=	0
	,	@P_qualification_cd					SMALLINT			=	0
	,	@P_qualification_nm					NVARCHAR(50)		=	N''
	,	@P_qualification_typ				SMALLINT			=	0
	,	@P_arrange_order					INT					=	0
	,	@P_mode								INT					=	0
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		-- SET VALUES
		SET @P_qualification_cd				=	JSON_VALUE(@P_json,'$.qualification_cd')
		SET @P_qualification_nm				=	JSON_VALUE(@P_json,'$.qualification_nm')
		SET @P_qualification_typ			=	JSON_VALUE(@P_json,'$.qualification_typ')
		SET @P_arrange_order				=	JSON_VALUE(@P_json,'$.arrange_order')
		SET @P_mode							=	JSON_VALUE(@P_json,'$.mode')
		
		--VALIDATE
		IF @P_mode = 1 --MODE EDIT
		BEGIN
			-- validate not exists data
			IF EXISTS (SELECT 1 FROM M5010 WHERE company_cd = @P_company_cd AND qualification_cd = @P_qualification_cd AND del_datetime IS NOT NULL)
			BEGIN
				INSERT INTO @ERR_TBL VALUES(
					8
				,	N'#qualification_cd'
				,	0-- oderby
				,	0-- dialog  
				,	0
				,	0
				,	N'qualification_cd not found'
				)
			END
		END
		-- do stuff
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			IF @P_mode = 0 --MODE ADD
			BEGIN
				SELECT 
					@P_qualification_cd = ISNULL(MAX(qualification_cd),0) + 1
				FROM M5010
				WHERE
					company_cd = @P_company_cd
				--
				INSERT INTO M5010 
				SELECT
					@P_company_cd
				,	@P_qualification_cd
				,	@P_qualification_nm
				,	N''
				,	@P_qualification_typ
				,	@P_arrange_order
				,	@P_cre_user
				,	@P_cre_ip
				,	N'eM0010'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
			END
			ELSE BEGIN
				UPDATE M5010 SET
					qualification_nm		=	@P_qualification_nm
				,	qualification_typ		=	@P_qualification_typ
				,	arrange_order			=	@P_arrange_order
				,	upd_user				=	@P_cre_user
				,	upd_ip					=	@P_cre_ip
				,	upd_prg					=	N'eM0010'
				,	upd_datetime			=	@w_time
				WHERE
					company_cd				=	@P_company_cd
				AND	qualification_cd		=	@P_qualification_cd
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	--[1]
	SELECT 
		@P_qualification_cd						AS	qualification_cd
END
GO
