DROP PROCEDURE [SPC_GET_FISCAL_YEAR]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_GET_FISCAL_YEAR 782,1,'2023-02-06'
-- EXEC SPC_GET_FISCAL_YEAR 782,2,'2023-02-06'
-- EXEC SPC_GET_FISCAL_YEAR 782,3,'2023-02-06'
-- EXEC SPC_GET_FISCAL_YEAR 782,4,'2023-02-06'

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	GET FISCAL_YEAR FROM DATE
--*  
--* 作成日/create date			:	2023/05/05										
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:	
--*	更新者/updater				:　 			     	 
--*	更新内容/update content		:	
--* 				
--****************************************************************************************
CREATE PROCEDURE [SPC_GET_FISCAL_YEAR]
	@P_company_cd		smallint		=	0
,	@P_system			smallint		=	1		-- 1.人事評価 | 2.1on1 | 3.Mulitireview | 4.BasicSetting | 5.WeeklyReport
,	@P_year_mon_day		date			=	NULL
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_fiscal_year	int		=	0
    --[0]
	SET @P_year_mon_day = IIF(@P_year_mon_day = '', NULL, @P_year_mon_day)
	IF @P_year_mon_day IS NULL
	BEGIN
		SET @P_year_mon_day = GETDATE()
	END
	-- 1.人事評価 | 3.Mulitireview | 4.BasicSetting
	IF @P_system IN(1,3,4)
	BEGIN
		SET @w_fiscal_year = dbo.[FNC_GET_YEAR](@P_company_cd, @P_year_mon_day)
	END
	ELSE IF @P_system = 2	-- 2.1on1
	BEGIN
		SET @w_fiscal_year = dbo.[FNC_GET_YEAR_1ON1](@P_company_cd, @P_year_mon_day)
	END
	ELSE IF @P_system = 5	-- 5.WeeklyReport
	BEGIN
		SET @w_fiscal_year = dbo.[FNC_GET_YEAR_WEEKLY_REPORT](@P_company_cd, @P_year_mon_day)
	END
	--
	SELECT @w_fiscal_year AS fiscal_year
END
GO
