DROP PROCEDURE [SPC_COMBOBOX_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_COMBOBOX_INQ1 'M4600',1,'721',740,1
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	GET DATA OF COMBOBOX
--*  
--*  作成日/create date			:	2017/10/17											
--*　作成者/creater				:	viettd　								
--*   					
--*  更新日/update date			:  	2019/05/28
--*　更新者/updater				:　 viettd
--*　更新内容/update content		:	(@authority_typ = 2	-- 評価者) view all department + team
--*   					
--*  更新日/update date			:  	2019/12/11
--*　更新者/updater				:　 viettd
--*　更新内容/update content		:	upgrade ver 1.6 
--*   					
--*  更新日/update date			:  	2020/10/02
--*　更新者/updater				:　 viettd
--*　更新内容/update content		:	upgrade ver 1.7 (add 5.総合管理者)
--*   					
--*	更新日/update date			:  	2020/12/02
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	add module 1on1 & multireview
--*   					
--*	更新日/update date			:  	2020/12/18
--*	更新者/updater				:　 viettd
--*	更新内容/update content		:	add organization_belong_person_typ
--*   					
--*  更新日/update date			:	2022/08/08
--*　更新者/updater				:　	vietdt
--*　更新内容/update content		:	upgradate ver 1.9
--*   					
--*  更新日/update date			:	2023/03/31
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgradate ver 2.0
--*   					
--*  更新日/update date			:	2024/03/18
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgradate ver 2.1
--****************************************************************************************
CREATE PROCEDURE [SPC_COMBOBOX_INQ1]
	-- Add the parameters for the stored procedure here
	@P_table_key				nvarchar(20)	=	''
,	@P_typ						tinyint			=	0	-- 1.master table , 0.library
,	@P_user_id					nvarchar(MAX)	=	''
,	@P_company_cd				smallint		=	0
,	@P_system					smallint		=	1	-- 1.人事評価 2.1on1 3.マルチレビュー4.共通設定 5.週報 6.社員情報 (61.社員コミュニケ―ション)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
	DECLARE 
		@authority_typ						smallint		=	0
	,	@authority_cd						smallint		=	0
	,	@w_1on1_authority_typ				smallint		=	0
	,	@w_1on1_authority_cd				smallint		=	0
	,	@w_multireview_authority_typ		smallint		=	0
	,	@w_multireview_authority_cd			smallint		=	0
	,	@w_setting_authority_typ			smallint		=	0
	,	@w_setting_authority_cd				smallint		=	0
	,	@w_report_authority_typ				smallint		=	0
	,	@w_report_authority_cd				smallint		=	0
	,	@w_empinfo_authority_typ			smallint		=	0
	,	@w_empinfo_authority_cd				smallint		=	0
	--
	,	@employee_cd						nvarchar(10)	=	''
	,	@str								nvarchar(100)	=	''
	,	@countAuthority						smallint		=	0
	,	@w_authority_count_system_1			smallint		=	0	-- 1.人事評価
	,	@w_authority_count_system_2			smallint		=	0	-- 2.1on1
	,	@w_authority_count_system_3			smallint		=	0	-- 3.マルチレビュー
	,	@w_authority_count_system_4			smallint		=	0	-- 4.共通設定
	,	@w_authority_count_system_5			smallint		=	0	-- 5.週報
	,	@w_authority_count_system_6			smallint		=	0	-- 6.社員情報

	,	@use_typ							smallint		=	0
	,	@w_organization_belong_person_typ	smallint		=	0	-- 自分の所属する組織のみ閲覧可能
	,	@position_cd						int     		=	0	
	,	@arrange_order						int				=	0
	,	@w_language							INT				=	1	--add vietdt 2022/08/08
	,	@w_system_authority_typ				smallint		=	0
	-- get @authority
	SELECT 
		@authority_typ					=	ISNULL(S0010.authority_typ,0) 
	,	@authority_cd					=	ISNULL(S0010.authority_cd,0)
	,	@employee_cd					=	ISNULL(S0010.employee_cd,'')
	--
	,	@w_1on1_authority_typ			=	ISNULL(S0010.[1on1_authority_typ],0)
	,	@w_1on1_authority_cd			=	ISNULL(S0010.[1on1_authority_cd],0)
	--
	,	@w_multireview_authority_typ	=	ISNULL(S0010.multireview_authority_typ,0)
	,	@w_multireview_authority_cd		=	ISNULL(S0010.multireview_authority_cd,0)
	--
	,	@w_setting_authority_typ		=	ISNULL(S0010.setting_authority_typ,0)
	,	@w_setting_authority_cd			=	ISNULL(S0010.setting_authority_cd,0)
	--
	,	@w_empinfo_authority_typ		=	ISNULL(S0010.empinfo_authority_typ,1)
	,	@w_empinfo_authority_cd			=	ISNULL(S0010.empinfo_authority_cd,0)
	--
	,	@w_report_authority_typ			=	ISNULL(S0010.report_authority_typ,0)
	,	@w_report_authority_cd			=	ISNULL(S0010.report_authority_cd,0)
	--
	,	@position_cd					=	ISNULL(M0070.position_cd,0)
	,	@w_language						=	ISNULL(S0010.language,1)
	FROM S0010 
	LEFT OUTER JOIN M0070 ON (
		S0010.company_cd		=	M0070.company_cd
	AND S0010.employee_cd		=	M0070.employee_cd
	AND M0070.del_datetime IS NULL
	)
	WHERE 
		S0010.company_cd	=	@P_company_cd
	AND	S0010.user_id		=	@P_user_id 
	AND S0010.del_datetime IS NULL
	---------
	IF @w_empinfo_authority_typ = 0
	BEGIN
		SET @w_empinfo_authority_typ = 1
	END
	--
	IF @P_system = 1 -- 人事評価
	BEGIN
		-- get @use_typ
		SELECT 
			@use_typ		=	ISNULL(S0020.use_typ,0)		-- 1. 本人の役職より下位の社員のみ
		,	@w_organization_belong_person_typ	=	ISNULL(S0020.organization_belong_person_typ,0)	-- 1.自分の所属する組織のみ閲覧可能
		FROM S0020
		WHERE
			S0020.company_cd		=	@P_company_cd
		AND S0020.authority_cd		=	@authority_cd
		AND S0020.del_datetime IS NULL
		-- SET @authority_typ
		SET @authority_typ = IIF(@authority_typ = 6,2,@authority_typ)
		--@w_system_authority_typ
		SET @w_system_authority_typ = @authority_typ
	END
	ELSE IF @P_system = 2 -- 1ON1
	BEGIN
		-- get @use_typ
		SELECT 
			@use_typ		=	ISNULL(S2020.use_typ,0)		-- 1. 本人の役職より下位の社員のみ
		,	@w_organization_belong_person_typ	=	ISNULL(S2020.organization_belong_person_typ,0)	-- 1.自分の所属する組織のみ閲覧可能
		FROM S2020
		WHERE
			S2020.company_cd		=	@P_company_cd
		AND S2020.authority_cd		=	@w_1on1_authority_cd
		AND S2020.del_datetime IS NULL
		--@w_system_authority_typ
		SET @w_system_authority_typ = @w_1on1_authority_typ
	END
	ELSE IF @P_system = 3 -- MULITIREVIEW
	BEGIN
		-- get @use_typ
		SELECT 
			@use_typ		=	ISNULL(S3020.use_typ,0)		-- 1. 本人の役職より下位の社員のみ
		,	@w_organization_belong_person_typ	=	ISNULL(S3020.organization_belong_person_typ,0)	-- 1.自分の所属する組織のみ閲覧可能
		FROM S3020
		WHERE
			S3020.company_cd		=	@P_company_cd
		AND S3020.authority_cd		=	@w_multireview_authority_cd
		AND S3020.del_datetime IS NULL
		--@w_system_authority_typ
		SET @w_system_authority_typ = @w_multireview_authority_typ
	END
	ELSE IF @P_system = 4 -- basic setting
	BEGIN
		-- get @use_typ
		SELECT 
			@use_typ		=	ISNULL(S9020.use_typ,0)		-- 1. 本人の役職より下位の社員のみ
		,	@w_organization_belong_person_typ	=	ISNULL(S9020.organization_belong_person_typ,0)	-- 1.自分の所属する組織のみ閲覧可能
		FROM S9020
		WHERE
			S9020.company_cd		=	@P_company_cd
		AND S9020.authority_cd		=	@w_setting_authority_cd
		AND S9020.del_datetime IS NULL
		--@w_system_authority_typ
		SET @w_system_authority_typ = @w_setting_authority_typ
	END
	ELSE IF @P_system = 5 -- weeklyreport
	BEGIN
		-- get @use_typ
		SELECT 
			@use_typ		=	ISNULL(S4020.use_typ,0)		-- 1. 本人の役職より下位の社員のみ
		,	@w_organization_belong_person_typ	=	ISNULL(S4020.organization_belong_person_typ,0)	-- 1.自分の所属する組織のみ閲覧可能
		FROM S4020
		WHERE
			S4020.company_cd		=	@P_company_cd
		AND S4020.authority_cd		=	@w_report_authority_cd
		AND S4020.del_datetime IS NULL
		--@w_system_authority_typ
		SET @w_system_authority_typ = @w_report_authority_typ
	END
	ELSE IF @P_system = 6 -- employeeinfo
	BEGIN
		-- get @use_typ
		SELECT 
			@use_typ		=	ISNULL(S5020.use_typ,0)		-- 1. 本人の役職より下位の社員のみ
		,	@w_organization_belong_person_typ	=	ISNULL(S5020.organization_belong_person_typ,0)	-- 1.自分の所属する組織のみ閲覧可能
		FROM S5020
		WHERE
			S5020.company_cd		=	@P_company_cd
		AND S5020.authority_cd		=	@w_empinfo_authority_cd
		AND S5020.del_datetime IS NULL
		--@w_system_authority_typ
		SET @w_system_authority_typ = @w_empinfo_authority_typ
	END
	-- get @arrange_order
	SELECT 
		@arrange_order	=	ISNULL(M0040.arrange_order,0)
	FROM M0040
	WHERE 
		M0040.company_cd		=	@P_company_cd
	AND M0040.position_cd		=	@position_cd
	AND M0040.del_datetime IS NULL
	--[0]
	IF @P_typ = 0	--	GET MASTER TABLE
	BEGIN
		SELECT
			ISNULL(L0010.name_typ,0)					AS	name_typ
		,	ISNULL(L0010.number_cd,0)					AS	number_cd
		--add vietdt 2022/08/08
		,	CASE
				WHEN	@w_language = 2
				THEN	ISNULL(L0010.name_english,'')
				ELSE	ISNULL(L0010.name,'')
			END											AS	name
		,	CASE
				WHEN	@w_language = 2
				THEN	ISNULL(L0010.name_english,'')
				ELSE	ISNULL(L0010.name,'')
			END											AS	label
		,	ISNULL(L0010.kana,'')						AS	kana
		,	ISNULL(L0010.ab_nm,0)						AS	ab_nm
		,	ISNULL(L0010.numeric_value1,0)				AS	numeric_value1
		,	ISNULL(L0010.numeric_value2,0)				AS	numeric_value2
		,	ISNULL(L0010.numeric_value3,0)				AS	numeric_value3
		,	ISNULL(L0010.remark1,'')					AS	remark1
		,	ISNULL(L0010.remark2,'')					AS	remark2
		,	ISNULL(L0010.remark3,'')					AS	remark3
		,	ISNULL(L0010.arrange_order,0)				AS	arrange_order
		FROM L0010
		WHERE 
			L0010.name_typ			=	CAST(@P_table_key AS smallint)
		AND L0010.del_datetime IS NULL
		ORDER BY
			L0010.arrange_order ASC
	END
	ELSE IF @P_table_key = 'M0020'
	BEGIN
		-- add by viettd 2024/03/18
		IF @P_system = 61
		BEGIN
			SELECT 
				ISNULL(M0020.organization_cd_1,0)			AS	organization_cd_1
			,	ISNULL(M0020.organization_cd_2,0)			AS	organization_cd_2
			,	ISNULL(M0020.organization_cd_3,0)			AS	organization_cd_3
			,	ISNULL(M0020.organization_cd_4,0)			AS	organization_cd_4
			,	ISNULL(M0020.organization_cd_5,0)			AS	organization_cd_5
			,	ISNULL(M0020.organization_typ,0)			AS	organization_typ
			,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
			,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
			,	ISNULL(M0020.responsible_cd,0)				AS	responsible_cd
			,	ISNULL(M0020.arrange_order,0)				AS	arrange_order
			,	'selected'									AS	select_status
			FROM M0020
			WHERE 
				M0020.company_cd			=	@P_company_cd
			AND M0020.organization_typ		=	1	-- 組織１
			AND M0020.del_datetime IS NULL
			ORDER BY
				arrange_order ASC
			,	CASE WHEN  M0020.organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(M0020.organization_cd_1 AS bigint)
					ELSE 999
				END
			,	organization_cd_1
			RETURN
		END
		-- add by viettd 2020/12/18
		-- IF 自分の所属する組織のみ閲覧可能
		IF @w_organization_belong_person_typ = 1
		BEGIN
			SELECT 
				ISNULL(M0020.organization_cd_1,0)			AS	organization_cd_1
			,	ISNULL(M0020.organization_cd_2,0)			AS	organization_cd_2
			,	ISNULL(M0020.organization_cd_3,0)			AS	organization_cd_3
			,	ISNULL(M0020.organization_cd_4,0)			AS	organization_cd_4
			,	ISNULL(M0020.organization_cd_5,0)			AS	organization_cd_5
			,	ISNULL(M0020.organization_typ,0)			AS	organization_typ
			,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
			,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
			,	ISNULL(M0020.responsible_cd,0)				AS	responsible_cd
			,	ISNULL(M0020.arrange_order,0)				AS	arrange_order
			,	'selected'									AS	select_status
			FROM M0070 WITH(NOLOCK)
			LEFT OUTER JOIN M0020 WITH(NOLOCK) ON (
				M0070.company_cd			=	M0020.company_cd
			AND 1							=	M0020.organization_typ
			AND M0070.belong_cd1			=	M0020.organization_cd_1
			AND	M0020.del_datetime IS NULL
			)
			WHERE 
				M0070.company_cd			=	@P_company_cd
			AND M0070.employee_cd			=	@employee_cd
			AND M0070.del_datetime IS NULL
			ORDER BY
				arrange_order ASC
			,	CASE WHEN  M0020.organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(M0020.organization_cd_1 AS bigint)
					ELSE 999
				END
			,	organization_cd_1
			--
			RETURN
		END
		-- 管理会社 
		IF (
			@P_user_id = ''
		OR	(@P_system = 1 AND @authority_typ IN (4,5))
		OR	(@P_system = 2 AND @w_1on1_authority_typ IN (4,5))
		OR	(@P_system = 3 AND @w_multireview_authority_typ IN (4,5))
		OR	(@P_system = 4 AND @w_setting_authority_typ IN (4,5))
		OR	(@P_system = 5 AND @w_report_authority_typ IN (0,4,5))
		OR	(@P_system = 6 AND @w_empinfo_authority_typ IN (4,5))
		)
		BEGIN
			SELECT 
				ISNULL(M0020.organization_cd_1,0)			AS	organization_cd_1
			,	ISNULL(M0020.organization_cd_2,0)			AS	organization_cd_2
			,	ISNULL(M0020.organization_cd_3,0)			AS	organization_cd_3
			,	ISNULL(M0020.organization_cd_4,0)			AS	organization_cd_4
			,	ISNULL(M0020.organization_cd_5,0)			AS	organization_cd_5
			,	ISNULL(M0020.organization_typ,0)			AS	organization_typ
			,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
			,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
			,	ISNULL(M0020.responsible_cd,0)				AS	responsible_cd
			,	ISNULL(M0020.arrange_order,0)				AS	arrange_order
			,	''											AS	select_status
			FROM M0020 WITH(NOLOCK)
			WHERE 
				M0020.company_cd			=	@P_company_cd
			AND M0020.organization_typ		=	1	-- 組織１
			AND M0020.del_datetime IS NULL
			ORDER BY
				arrange_order ASC
			,	CASE WHEN  organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(organization_cd_1 AS bigint)
					ELSE 999
				END
			,	organization_cd_1
		END
		-- 人事評価：3.管理者
		-- 1ON1 : 3.管理者
		-- Mulitireview : 3.管理者
		-- Basic Setting : 3.管理者
		-- WeeklyReport : 3.管理者
		-- EmployeeInformation : 3.管理者
		ELSE IF (@P_system = 1 AND @authority_typ = 3)
		BEGIN
			--  CHECK 自分の所属する組織のみ閲覧可能
			SET @w_authority_count_system_1 = (
				SELECT 
					COUNT(S0022.organization_cd_1) 
				FROM S0022 WITH(NOLOCK)
				WHERE 
					S0022.company_cd					= @P_company_cd 
				AND S0022.authority_cd					= @authority_cd
				AND ISNULL(S0022.organization_cd_1,'')	<> '' -- 組織１
				AND S0022.authority	= 1
			)
			-- CHECK EXISTS S0022.organization_cd_1
			SELECT 
				ISNULL(M0020.organization_cd_1,0)			AS	organization_cd_1
			,	ISNULL(M0020.organization_cd_2,0)			AS	organization_cd_2
			,	ISNULL(M0020.organization_cd_3,0)			AS	organization_cd_3
			,	ISNULL(M0020.organization_cd_4,0)			AS	organization_cd_4
			,	ISNULL(M0020.organization_cd_5,0)			AS	organization_cd_5
			,	ISNULL(M0020.organization_typ,0)			AS	organization_typ
			,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
			,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
			,	ISNULL(M0020.responsible_cd,0)				AS	responsible_cd
			,	ISNULL(M0020.arrange_order,0)				AS	arrange_order
			,	''											AS	select_status
			FROM M0020 WITH(NOLOCK)
			LEFT OUTER JOIN S0022 WITH(NOLOCK) ON (
				M0020.company_cd			=	S0022.company_cd
			AND @authority_cd				=	S0022.authority_cd
			AND M0020.organization_cd_1		=	S0022.organization_cd_1
			AND M0020.organization_cd_2		=	S0022.organization_cd_2
			AND M0020.organization_cd_3		=	S0022.organization_cd_3
			AND M0020.organization_cd_4		=	S0022.organization_cd_4
			AND M0020.organization_cd_5		=	S0022.organization_cd_5
			AND S0022.del_datetime IS NULL
			)
			WHERE 
				M0020.company_cd			=	@P_company_cd
			AND M0020.del_datetime			IS NULL
			AND M0020.organization_typ		=	1 -- -- 組織１
			AND(
				@w_authority_count_system_1			=	0	
			OR	
				(
					@w_authority_count_system_1			>	0
				AND	S0022.authority			=	1 -- 利用可能	
				)
			)
			ORDER BY
				arrange_order ASC
			,	CASE WHEN  M0020.organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(M0020.organization_cd_1 AS bigint)
					ELSE 999
				END
			,	organization_cd_1
		END
		ELSE IF (@P_system = 2 AND @w_1on1_authority_typ = 3)
		BEGIN
			-- 	
			SET @w_authority_count_system_2 = (
				SELECT 
					COUNT(S2022.organization_cd_1) 
				FROM S2022 WITH(NOLOCK)
				WHERE 
					S2022.company_cd					= @P_company_cd 
				AND S2022.authority_cd					= @w_1on1_authority_cd
				AND ISNULL(S2022.organization_cd_1,'')	<> '' -- 組織１
				AND S2022.authority	= 1
			)
			-- CHECK EXISTS S0022.organization_cd_1
			SELECT 
				ISNULL(M0020.organization_cd_1,0)			AS	organization_cd_1
			,	ISNULL(M0020.organization_cd_2,0)			AS	organization_cd_2
			,	ISNULL(M0020.organization_cd_3,0)			AS	organization_cd_3
			,	ISNULL(M0020.organization_cd_4,0)			AS	organization_cd_4
			,	ISNULL(M0020.organization_cd_5,0)			AS	organization_cd_5
			,	ISNULL(M0020.organization_typ,0)			AS	organization_typ
			,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
			,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
			,	ISNULL(M0020.responsible_cd,0)				AS	responsible_cd
			,	ISNULL(M0020.arrange_order,0)				AS	arrange_order
			,	''											AS	select_status
			FROM M0020 WITH(NOLOCK)
			LEFT OUTER JOIN S2022 WITH(NOLOCK) ON (
				M0020.company_cd			=	S2022.company_cd
			AND @w_1on1_authority_cd		=	S2022.authority_cd
			AND M0020.organization_cd_1		=	S2022.organization_cd_1
			AND M0020.organization_cd_2		=	S2022.organization_cd_2
			AND M0020.organization_cd_3		=	S2022.organization_cd_3
			AND M0020.organization_cd_4		=	S2022.organization_cd_4
			AND M0020.organization_cd_5		=	S2022.organization_cd_5
			AND S2022.del_datetime IS NULL
			)

			WHERE 
				M0020.company_cd			=	@P_company_cd
			AND M0020.del_datetime			IS NULL
			AND M0020.organization_typ		=	1 -- -- 組織１
			AND(
				@w_authority_count_system_2			=	0	
			OR	
				(
					@w_authority_count_system_2			>	0
				AND	S2022.authority			=	1 -- 利用可能	
				)
			)
			ORDER BY
				arrange_order ASC
			,	CASE WHEN  M0020.organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(M0020.organization_cd_1 AS bigint)
					ELSE 999
				END
			,	organization_cd_1
		END
		ELSE IF (@P_system = 3 AND @w_multireview_authority_typ = 3)
		BEGIN
			-- 	
			SET @w_authority_count_system_3 = (
				SELECT 
					COUNT(S3022.organization_cd_1) 
				FROM S3022 WITH(NOLOCK)
				WHERE 
					S3022.company_cd					= @P_company_cd 
				AND S3022.authority_cd					= @w_multireview_authority_cd
				AND ISNULL(S3022.organization_cd_1,'')	<> '' -- 組織１
				AND S3022.authority	= 1
			)
			-- CHECK EXISTS S0022.organization_cd_1
			SELECT 
				ISNULL(M0020.organization_cd_1,0)			AS	organization_cd_1
			,	ISNULL(M0020.organization_cd_2,0)			AS	organization_cd_2
			,	ISNULL(M0020.organization_cd_3,0)			AS	organization_cd_3
			,	ISNULL(M0020.organization_cd_4,0)			AS	organization_cd_4
			,	ISNULL(M0020.organization_cd_5,0)			AS	organization_cd_5
			,	ISNULL(M0020.organization_typ,0)			AS	organization_typ
			,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
			,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
			,	ISNULL(M0020.responsible_cd,0)				AS	responsible_cd
			,	ISNULL(M0020.arrange_order,0)				AS	arrange_order
			,	''											AS	select_status
			FROM M0020 WITH(NOLOCK)
			LEFT OUTER JOIN S3022 WITH(NOLOCK) ON (
				M0020.company_cd			=	S3022.company_cd
			AND @w_multireview_authority_cd	=	S3022.authority_cd
			AND M0020.organization_cd_1		=	S3022.organization_cd_1
			AND M0020.organization_cd_2		=	S3022.organization_cd_2
			AND M0020.organization_cd_3		=	S3022.organization_cd_3
			AND M0020.organization_cd_4		=	S3022.organization_cd_4
			AND M0020.organization_cd_5		=	S3022.organization_cd_5
			AND S3022.del_datetime IS NULL
			)

			WHERE 
				M0020.company_cd			=	@P_company_cd
			AND M0020.del_datetime			IS NULL
			AND M0020.organization_typ		=	1 -- -- 組織１
			AND(
				@w_authority_count_system_3			=	0	
			OR	
				(
					@w_authority_count_system_3			>	0
				AND	S3022.authority			=	1 -- 利用可能	
				)
			)
			ORDER BY
				arrange_order ASC
			,	CASE WHEN  M0020.organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(M0020.organization_cd_1 AS bigint)
					ELSE 999
				END
			,	organization_cd_1
		END
		ELSE IF (@P_system = 4 AND @w_setting_authority_typ = 3)
		BEGIN
			-- 	
			SET @w_authority_count_system_4 = (
				SELECT 
					COUNT(S9022.organization_cd_1) 
				FROM S9022 WITH(NOLOCK)
				WHERE 
					S9022.company_cd					= @P_company_cd 
				AND S9022.authority_cd					= @w_setting_authority_cd
				AND ISNULL(S9022.organization_cd_1,'')	<> '' -- 組織１
				AND S9022.authority	= 1
			)
			-- CHECK EXISTS S0022.organization_cd_1
			SELECT 
				ISNULL(M0020.organization_cd_1,0)			AS	organization_cd_1
			,	ISNULL(M0020.organization_cd_2,0)			AS	organization_cd_2
			,	ISNULL(M0020.organization_cd_3,0)			AS	organization_cd_3
			,	ISNULL(M0020.organization_cd_4,0)			AS	organization_cd_4
			,	ISNULL(M0020.organization_cd_5,0)			AS	organization_cd_5
			,	ISNULL(M0020.organization_typ,0)			AS	organization_typ
			,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
			,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
			,	ISNULL(M0020.responsible_cd,0)				AS	responsible_cd
			,	ISNULL(M0020.arrange_order,0)				AS	arrange_order
			,	''											AS	select_status
			FROM M0020 WITH(NOLOCK)
			LEFT OUTER JOIN S9022 WITH(NOLOCK) ON (
				M0020.company_cd			=	S9022.company_cd
			AND @w_setting_authority_cd		=	S9022.authority_cd
			AND M0020.organization_cd_1		=	S9022.organization_cd_1
			AND M0020.organization_cd_2		=	S9022.organization_cd_2
			AND M0020.organization_cd_3		=	S9022.organization_cd_3
			AND M0020.organization_cd_4		=	S9022.organization_cd_4
			AND M0020.organization_cd_5		=	S9022.organization_cd_5
			AND S9022.del_datetime IS NULL
			)
			WHERE 
				M0020.company_cd			=	@P_company_cd
			AND M0020.del_datetime			IS NULL
			AND M0020.organization_typ		=	1 -- -- 組織１
			AND(
				@w_authority_count_system_4			=	0	
			OR	
				(
					@w_authority_count_system_4			>	0
				AND	S9022.authority			=	1 -- 利用可能	
				)
			)
			ORDER BY
				arrange_order ASC
			,	CASE WHEN  M0020.organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(M0020.organization_cd_1 AS bigint)
					ELSE 999
				END
			,	organization_cd_1
		END
		ELSE IF (@P_system = 5 AND @w_report_authority_typ = 3)
		BEGIN
			-- 	
			SET @w_authority_count_system_5 = (
				SELECT 
					COUNT(S4022.organization_cd_1) 
				FROM S4022 WITH(NOLOCK)
				WHERE 
					S4022.company_cd					= @P_company_cd 
				AND S4022.authority_cd					= @w_report_authority_cd
				AND ISNULL(S4022.organization_cd_1,'')	<> '' -- 組織１
				AND S4022.authority	= 1
			)
			-- CHECK EXISTS S0022.organization_cd_1
			SELECT 
				ISNULL(M0020.organization_cd_1,0)			AS	organization_cd_1
			,	ISNULL(M0020.organization_cd_2,0)			AS	organization_cd_2
			,	ISNULL(M0020.organization_cd_3,0)			AS	organization_cd_3
			,	ISNULL(M0020.organization_cd_4,0)			AS	organization_cd_4
			,	ISNULL(M0020.organization_cd_5,0)			AS	organization_cd_5
			,	ISNULL(M0020.organization_typ,0)			AS	organization_typ
			,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
			,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
			,	ISNULL(M0020.responsible_cd,0)				AS	responsible_cd
			,	ISNULL(M0020.arrange_order,0)				AS	arrange_order
			,	''											AS	select_status
			FROM M0020 WITH(NOLOCK)
			LEFT OUTER JOIN S4022 WITH(NOLOCK) ON (
				M0020.company_cd			=	S4022.company_cd
			AND @w_report_authority_cd		=	S4022.authority_cd
			AND M0020.organization_cd_1		=	S4022.organization_cd_1
			AND M0020.organization_cd_2		=	S4022.organization_cd_2
			AND M0020.organization_cd_3		=	S4022.organization_cd_3
			AND M0020.organization_cd_4		=	S4022.organization_cd_4
			AND M0020.organization_cd_5		=	S4022.organization_cd_5
			AND S4022.del_datetime IS NULL
			)
			WHERE 
				M0020.company_cd			=	@P_company_cd
			AND M0020.del_datetime			IS NULL
			AND M0020.organization_typ		=	1 -- -- 組織１
			AND(
				@w_authority_count_system_5			=	0	
			OR	
				(
					@w_authority_count_system_5			>	0
				AND	S4022.authority			=	1 -- 利用可能	
				)
			)
			ORDER BY
				arrange_order ASC
			,	CASE WHEN  M0020.organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(M0020.organization_cd_1 AS bigint)
					ELSE 999
				END
			,	organization_cd_1
		END
		ELSE IF (@P_system = 6 AND @w_empinfo_authority_typ = 3)
		BEGIN
			--
			SET @w_authority_count_system_6 = (
				SELECT 
					COUNT(S5022.organization_cd_1) 
				FROM S5022 WITH(NOLOCK)
				WHERE 
					S5022.company_cd					= @P_company_cd 
				AND S5022.authority_cd					= @w_empinfo_authority_cd
				AND ISNULL(S5022.organization_cd_1,'')	<> '' -- 組織１
				AND S5022.authority	= 1
			)
			-- CHECK EXISTS S5022.organization_cd_1
			SELECT 
				ISNULL(M0020.organization_cd_1,0)			AS	organization_cd_1
			,	ISNULL(M0020.organization_cd_2,0)			AS	organization_cd_2
			,	ISNULL(M0020.organization_cd_3,0)			AS	organization_cd_3
			,	ISNULL(M0020.organization_cd_4,0)			AS	organization_cd_4
			,	ISNULL(M0020.organization_cd_5,0)			AS	organization_cd_5
			,	ISNULL(M0020.organization_typ,0)			AS	organization_typ
			,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
			,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
			,	ISNULL(M0020.responsible_cd,0)				AS	responsible_cd
			,	ISNULL(M0020.arrange_order,0)				AS	arrange_order
			,	''											AS	select_status
			FROM M0020 WITH(NOLOCK)
			LEFT OUTER JOIN S5022 WITH(NOLOCK) ON (
				M0020.company_cd			=	S5022.company_cd
			AND @w_empinfo_authority_cd		=	S5022.authority_cd
			AND M0020.organization_cd_1		=	S5022.organization_cd_1
			AND M0020.organization_cd_2		=	S5022.organization_cd_2
			AND M0020.organization_cd_3		=	S5022.organization_cd_3
			AND M0020.organization_cd_4		=	S5022.organization_cd_4
			AND M0020.organization_cd_5		=	S5022.organization_cd_5
			AND S5022.del_datetime IS NULL
			)
			WHERE 
				M0020.company_cd			=	@P_company_cd
			AND M0020.del_datetime			IS NULL
			AND M0020.organization_typ		=	1 -- -- 組織１
			AND(
				@w_authority_count_system_6			=	0	
			OR	
				(
					@w_authority_count_system_6			>	0
				AND	S5022.authority			=	1 -- 利用可能	
				)
			)
			ORDER BY
				arrange_order ASC
			,	CASE WHEN  M0020.organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(M0020.organization_cd_1 AS bigint)
					ELSE 999
				END
			,	organization_cd_1
		END
		-- 人事評価：2.評価者
		-- 1ON1：2.コーチ
		-- Mulitireview : 2 サポーター
		-- WeekylyReport : 2 承認者
		ELSE IF (
			(@P_system = 1 AND @authority_typ = 2)
		OR	(@P_system = 2 AND @w_1on1_authority_typ = 2)
		OR	(@P_system = 3 AND (@w_multireview_authority_typ = 2 OR @authority_typ = 2)) -- suporter or rater
		OR	(@P_system = 5 AND @w_report_authority_typ = 2)
		)		
		BEGIN
			-- edited by viettd 2019/05/28
			SELECT 
				ISNULL(M0020.organization_cd_1,0)			AS	organization_cd_1
			,	ISNULL(M0020.organization_cd_2,0)			AS	organization_cd_2
			,	ISNULL(M0020.organization_cd_3,0)			AS	organization_cd_3
			,	ISNULL(M0020.organization_cd_4,0)			AS	organization_cd_4
			,	ISNULL(M0020.organization_cd_5,0)			AS	organization_cd_5
			,	ISNULL(M0020.organization_typ,0)			AS	organization_typ
			,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
			,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
			,	ISNULL(M0020.responsible_cd,0)				AS	responsible_cd
			,	ISNULL(M0020.arrange_order,0)				AS	arrange_order
			,	''											AS	select_status
			FROM M0020 WITH(NOLOCK)
			WHERE 
				M0020.company_cd			=	@P_company_cd
			AND M0020.organization_typ		=	1	-- 1.組織１
			AND M0020.del_datetime IS NULL
			ORDER BY
				arrange_order ASC
			,	CASE WHEN  M0020.organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(M0020.organization_cd_1 AS bigint)
					ELSE 999
				END
			,	organization_cd_1
		END
		-- 人事評価：1.彼評価者
		-- 1ON1：1.メンバー
		-- Mulitireview : 1. メンバー
		-- WeeklyReport : 1.報告者
		-- EmployeeInformation: １.一般ユーザー
		ELSE IF (
			(@P_system = 1 AND @authority_typ = 1)
		OR	(@P_system = 2 AND @w_1on1_authority_typ = 1)
		OR	(@P_system = 3 AND @w_multireview_authority_typ = 1)
		OR	(@P_system = 5 AND @w_report_authority_typ = 1)
		OR	(@P_system = 6 AND @w_empinfo_authority_typ = 1)
		)
		BEGIN
			SELECT 
				ISNULL(M0020.organization_cd_1,0)			AS	organization_cd_1
			,	ISNULL(M0020.organization_cd_2,0)			AS	organization_cd_2
			,	ISNULL(M0020.organization_cd_3,0)			AS	organization_cd_3
			,	ISNULL(M0020.organization_cd_4,0)			AS	organization_cd_4
			,	ISNULL(M0020.organization_cd_5,0)			AS	organization_cd_5
			,	ISNULL(M0020.organization_typ,0)			AS	organization_typ
			,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
			,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
			,	ISNULL(M0020.responsible_cd,0)				AS	responsible_cd
			,	ISNULL(M0020.arrange_order,0)				AS	arrange_order
			,	'selected'									AS	select_status
			FROM M0070 WITH(NOLOCK)
			LEFT OUTER JOIN M0020 WITH(NOLOCK) ON (
				M0070.company_cd			=	M0020.company_cd
			AND 1							=	M0020.organization_typ
			AND M0070.belong_cd1			=	M0020.organization_cd_1
			AND	M0020.del_datetime IS NULL
			)
			WHERE 
				M0070.company_cd			=	@P_company_cd
			AND M0070.employee_cd			=	@employee_cd
			AND M0070.del_datetime IS NULL
			ORDER BY
				arrange_order ASC
			,	CASE WHEN  M0020.organization_cd_1 NOT LIKE '%[^0-9]%' THEN CAST(M0020.organization_cd_1 AS bigint)
					ELSE 999
				END
			,	organization_cd_1
		END
	END
	ELSE IF @P_table_key = 'M0040'
	BEGIN
		IF @w_system_authority_typ = 3 AND @use_typ = 1  -- 1. 本人の役職より下位の社員のみ
		BEGIN
			SELECT 
				ISNULL(M0040.position_cd,0)				AS	position_cd
			,	ISNULL(M0040.position_nm,'')			AS	position_nm
			,	ISNULL(M0040.position_ab_nm,'')			AS	position_ab_nm
			,	ISNULL(M0040.arrange_order,0)			AS	arrange_order
			FROM M0040 
			WHERE 
				M0040.company_cd		=	@P_company_cd
			AND M0040.arrange_order		>	@arrange_order		-- 1. 本人の役職より下位の社員のみ
			AND M0040.del_datetime IS NULL
			ORDER BY
				M0040.arrange_order
			,	M0040.position_cd
		END
		ELSE
		BEGIN
			SELECT 
				ISNULL(M0040.position_cd,0)				AS	position_cd
			,	ISNULL(M0040.position_nm,'')			AS	position_nm
			,	ISNULL(M0040.position_ab_nm,'')			AS	position_ab_nm
			,	ISNULL(M0040.arrange_order,0)			AS	arrange_order
			FROM M0040
			WHERE 
				M0040.company_cd		=	@P_company_cd
			AND M0040.del_datetime IS NULL
			ORDER BY
				M0040.arrange_order
			,	M0040.position_cd
		END
	END
	ELSE IF @P_table_key = 'M0022'
	BEGIN
		SELECT 
			ISNULL(M0022.organization_typ,0)			AS	organization_typ
		,	ISNULL(M0022.organization_group_nm,'')		AS	organization_group_nm
		,	ROW_NUMBER() OVER(ORDER BY M0022.organization_typ)			
														AS	organization_step
		FROM M0022
		WHERE 
			M0022.company_cd	=	@P_company_cd
		AND M0022.use_typ		=	1 -- 0.OFF | 1.ON 
		AND M0022.del_datetime IS NULL
	END
	ELSE IF @P_table_key = 'L0032'
	BEGIN
		SELECT 
			ISNULL(L0032.item_cd,0)			AS	item_cd
		,	ISNULL(L0032.item_nm,'')		AS	item_nm
		,	ISNULL(L0032.order_no,0)		AS	order_no
		FROM L0032
		WHERE 
			L0032.del_datetime IS NULL
		ORDER BY order_no ASC
	END
	ELSE IF @P_table_key = 'F2001'
	BEGIN
		SELECT 
			F2001.company_cd			AS	company_cd
		,	F2001.fiscal_year			AS	fiscal_year
		,	MIN(F2001.employee_cd)		AS	employee_cd
		FROM F2001
		WHERE
			F2001.company_cd		=	@P_company_cd
		AND F2001.del_datetime IS NULL
		GROUP BY
			F2001.company_cd
		,	F2001.fiscal_year
	END
	ELSE IF @P_table_key = 'F2000'
	BEGIN
		SELECT 
			F2000.company_cd			AS	company_cd
		,	F2000.fiscal_year			AS	fiscal_year
		,	F2000.[1on1_group_cd]		AS	[w_1on1_group_cd]
		,	MIN(F2000.employee_cd)		AS	employee_cd
		FROM F2000
		WHERE
			F2000.company_cd		=	@P_company_cd
		AND F2000.del_datetime IS NULL
		GROUP BY
			F2000.company_cd
		,	F2000.fiscal_year
		,	F2000.[1on1_group_cd]
	END
	ELSE IF @P_table_key = 'F4010'
	BEGIN
		SELECT 
			F4010.company_cd			AS	company_cd
		,	F4010.employee_cd			AS	employee_cd
		,	F4010.mygroup_cd			AS	mygroup_cd
		,	F4010.mygroup_nm			AS	mygroup_nm
		FROM F4010
		WHERE
			F4010.company_cd		=	@P_company_cd
		AND F4010.employee_cd		=	@employee_cd
		AND F4010.del_datetime IS NULL
		ORDER BY
			F4010.company_cd
		,	F4010.employee_cd
		,	F4010.arrange_order
	END
	ELSE IF @P_table_key = 'M4101'
	BEGIN
		SELECT 
			M4101.company_cd			AS	company_cd
		,	M4101.note_kind				AS	note_kind
		,	M4101.detail_no				AS	note_no
		,	M4101.note_color			AS	note_color
		,	M4101.note_name				AS	note_name
		,	ISNULL(L0010_47.[name],'')	AS	note_color_code
		FROM M4101
		LEFT OUTER JOIN L0010 AS L0010_47 ON(
			47					=	L0010_47.name_typ
		AND M4101.note_color	=	L0010_47.number_cd
		AND L0010_47.del_datetime IS NULL
		)
		WHERE
			M4101.company_cd		=	@P_company_cd
		AND M4101.del_datetime IS NULL
		ORDER BY
			M4101.detail_no
	END
	ELSE IF @P_table_key = 'L0041'
	BEGIN
		SELECT 
			L0041.status_cd				AS	status_cd
		,	CASE 
				WHEN @w_language = 2 THEN ISNULL(L0041.status_nm2,'')
				ELSE ISNULL(L0041.status_nm,'')
			END							AS	status_nm
		FROM L0041
		WHERE 
			L0041.del_datetime IS NULL
	END
	ELSE IF @P_table_key = 'M5010'
	BEGIN
		SELECT
			M5010.qualification_cd		AS	qualification_cd
		,	M5010.qualification_nm		AS	qualification_nm
		,	M5010.qualification_nm		AS	label
		,	L0010_57.name				AS	qualification_typ_nm
		,
		CASE
			WHEN	@w_language = 2
			THEN	ISNULL(L0010_57.name_english,'')
			ELSE	ISNULL(L0010_57.name,'')
		END								AS	value
		,	M5010.qualification_typ		AS	qualification_typ
		FROM M5010
		LEFT OUTER JOIN L0010 AS L0010_57 ON(
			57						=	L0010_57.name_typ
		AND M5010.qualification_typ	=	L0010_57.number_cd
		AND L0010_57.del_datetime IS NULL
		)
		WHERE
			M5010.company_cd	=	@P_company_cd
		AND	M5010.del_datetime IS NULL
		ORDER BY
			M5010.arrange_order
	END
	ELSE IF @P_table_key = 'M5030'
	BEGIN
		SELECT 
			training_cd					AS	training_cd
		,	training_nm					AS	label
		,	training_category_cd		AS	training_category_cd
		,	training_course_format_cd	AS	training_course_format_cd
		,	editable_kbn				AS	editable_kbn
		FROM M5030
		WHERE
			company_cd			=	@P_company_cd
		AND	del_datetime		IS NULL
		ORDER BY
			arrange_order
	END
	ELSE IF @P_table_key = 'L0011'
	BEGIN
		SELECT 
			L0011.number_cd				AS	number_cd
		,	L0011.name					AS	name
		FROM L0011
		WHERE 
			L0011.del_datetime IS NULL
	END
	ELSE IF @P_table_key = 'L0012'
	BEGIN
		SELECT 
			L0012.number_cd				AS	number_cd
		,	CASE 
				WHEN @w_language = 2 THEN ISNULL(L0012.name_en,'')
				ELSE ISNULL(L0012.name,'')
			END							AS	label
		FROM L0012
		WHERE 
			L0012.del_datetime IS NULL
	END
	ELSE IF @P_table_key = 'L0013'
	BEGIN
		SELECT 
			L0013.school_code	AS code	
		,	L0013.school_name	AS label
		FROM L0013
		WHERE 
			L0013.del_datetime IS NULL
	END
	ELSE		--	GET MASTER TABLE
	BEGIN
		DECLARE 
			@SQL		AS			nvarchar(1000)	=	''
		
		SET @str =( CASE 
						WHEN @P_table_key = 'M0060' THEN  'ORDER BY arrange_order,employee_typ'
						WHEN @P_table_key = 'M0050' THEN  'ORDER BY arrange_order,grade'
						WHEN @P_table_key = 'M0030' THEN  'ORDER BY arrange_order,job_cd'
						WHEN @P_table_key = 'M0150' THEN  'ORDER BY arrange_order,group_cd'
						WHEN @P_table_key = 'M0120' THEN  'ORDER BY arrange_order,point_kinds'
						WHEN @P_table_key = 'M0200' THEN  'ORDER BY arrange_order,sheet_cd'
						WHEN @P_table_key = 'M0102' THEN  'ORDER BY detail_no'
						WHEN @P_table_key = 'M4600' THEN  'ORDER BY arrange_order,group_cd'
						WHEN @P_table_key = 'M4000' THEN  'ORDER BY arrange_order,fiscal_year'
						WHEN @P_table_key = 'M5031' THEN  'ORDER BY arrange_order,training_category_cd'
						WHEN @P_table_key = 'M5032' THEN  'ORDER BY arrange_order,training_course_format_cd'
						WHEN @P_table_key = 'M5202' THEN  'ORDER BY arrange_order,field_cd'
						WHEN @P_table_key = 'M0010' THEN  'ORDER BY office_cd'
						ELSE ''
				    END 
				   )

		-- GET SQL STRING
		SET @SQL = '
			SELECT 
				*
			FROM '+@P_table_key+'
			WHERE'+SPACE(1)+'
				'+@P_table_key+'.del_datetime IS NULL AND company_cd= ' + CAST(@P_company_cd AS NVARCHAR(10)) + '
				'+@str+'
		'
		-- EXECUTE SQL 
		EXEC(@SQL)
	END
END
