DROP PROCEDURE [SPC_ALTERNATIVE_ITEM_FIND1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	FIND employee from alternative item 
--*  
--* 作成日/create date			:	2020/10/7										
--*	作成者/creater				:	datnt				
--*   	
--* example for not sub json '{"list_character":[{"character_item":"","item_cd":"39"}],"list_date":[{"date_item":"","item_cd":"32"}],"list_number_item":[{"item_cd":"4","number_item":"1"}]}';
--* example for sub json "list_item":{"list_character":[{"character_item":"","item_cd":"39"}],"list_date":[{"date_item":"","item_cd":"32"}],"list_number_item":[{"item_cd":"4","number_item":"1"}]}}'				
--****************************************************************************************
CREATE PROCEDURE [SPC_ALTERNATIVE_ITEM_FIND1]
	@P_json				nvarchar(max)	=	''
,	@P_company_cd		smallint		=	0
,	@P_mode				tinyint			=	0	-- 0.in sub json (ex:list_item:{[list_character:{[...]}]} )  1.not sub json
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@count_charactor			INT = 0
	,	@count_date					INT = 0
	,	@count_number				INT = 0
	-- 
	CREATE TABLE #M0072(
		item_cd				NVARCHAR(10)
	,	item_kind			INT
	,	character_item		NVARCHAR(400)
	,	number_item			NUMERIC(9,1)
	,	from_number_item	NUMERIC(9,1)
	,	to_number_item		NUMERIC(9,1)
	,	from_date_item		DATE
	,	to_date_item		DATE
	,	number_item_count	INT
	)
	CREATE TABLE #DISTNCT_M0072(
		item_cd				NVARCHAR(10)
	,	item_kind			INT
	)
	-- INSERT value character item 
	IF(@P_mode = 0)
	BEGIN
		INSERT INTO #M0072
		SELECT
			item_cd
		,	0
		,	ISNULL(character_item,'')	
		,	NULL	-- number_item		
		,	NULL	-- from_number_item
		,	NULL	-- to_number_item	
		,	NULL	-- from_date_item	
		,	NULL	-- to_date_item	
		,	0	--	number_item_count
		FROM OPENJSON(@P_json,'$.list_character') WITH(
			item_cd				NVARCHAR(10)	
		,	character_item		NVARCHAR(400)		
		)
		-- INSERT value number item 
		INSERT INTO #M0072
		SELECT
			item_cd
		,	0
		,	''
		,	IIF(ISNULL(number_item,'') = '',NULL,number_item)
		,	IIF(ISNULL(from_number_item,'') = '',NULL,from_number_item)
		,	IIF(ISNULL(to_number_item,'') = '',NULL,to_number_item)
		,	NULL	
		,	NULL	
		,	0		--	number_item_count
		FROM OPENJSON(@P_json,'$.list_number_item') WITH(
			item_cd				NVARCHAR(10)	
		,	number_item			NVARCHAR(10)
		,	from_number_item	NVARCHAR(10)
		,	to_number_item		NVARCHAR(10)
		)
		-- INSERT value date item 
		INSERT INTO #M0072
		SELECT
			item_cd
		,	0
		,	''
		,	NULL
		,	NULL
		,	NULL
		,	IIF(from_date_item = '1900-01-01',NULL,from_date_item)
		,	IIF(to_date_item = '1900-01-01',NULL,to_date_item)
		,	0	--number_item_count
		FROM OPENJSON(@P_json,'$.list_date') WITH(
			item_cd				NVARCHAR(10)	
		,	from_date_item			DATE	
		,	to_date_item			DATE	
		)
	END
	
	IF(@P_mode = 1)
	BEGIN
		-- INSERT value character item 
		INSERT INTO #M0072
		SELECT
			item_cd
		,	0
		,	ISNULL(character_item,'')				
		,	NULL
		,	NULL
		,	NULL
		,	NULL
		,	NULL
		,	0	--number_item_count
		FROM OPENJSON(@P_json,'$.list_item.list_character') WITH(
			item_cd				NVARCHAR(10)	
		,	character_item		NVARCHAR(400)		
		)
		-- INSERT value number item 
		INSERT INTO #M0072
		SELECT
			item_cd
		,	0
		,	''
		,	IIF(ISNULL(number_item,'') = '',NULL,number_item)
		,	IIF(ISNULL(from_number_item,'') = '',NULL,from_number_item)
		,	IIF(ISNULL(to_number_item,'') = '',NULL,to_number_item)
		,	NULL	
		,	NULL	
		,	0--number_item_count
		FROM OPENJSON(@P_json,'$.list_item.list_number_item') WITH(
			item_cd				NVARCHAR(10)	
		,	number_item			NVARCHAR(10)
		,	from_number_item	NVARCHAR(10)
		,	to_number_item		NVARCHAR(10)
		)
	
		-- INSERT value date item 
		INSERT INTO #M0072
		SELECT
			item_cd
		,	0
		,	''
		,	NULL
		,	NULL
		,	NULL
		,	IIF(from_date_item = '1900-01-01',NULL,from_date_item)
		,	IIF(to_date_item = '1900-01-01',NULL,to_date_item)
		,	0--number_item_count
		FROM OPENJSON(@P_json,'$.list_item.list_date') WITH(
			item_cd				NVARCHAR(10)	
		,	from_date_item			DATE		
		,	to_date_item			DATE		
		)
	END
	--DELETE ALL ITEM NO VALUE
	DELETE #M0072 
	WHERE	
		#M0072.character_item = '' 
	AND #M0072.from_date_item IS NULL
	AND #M0072.to_date_item IS NULL
	AND #M0072.from_number_item IS NULL
	AND #M0072.to_number_item IS NULL
	AND #M0072.number_item IS NULL
	--
	UPDATE #M0072
	SET 
	#M0072.item_kind	=	M0080.item_kind
	FROM #M0072
	LEFT JOIN M0080 ON(
		M0080.company_cd	=	@P_company_cd
	AND #M0072.item_cd		=	M0080.item_cd
	AND M0080.del_datetime IS NULL
	)
	--
	INSERT INTO #DISTNCT_M0072 
	SELECT
		item_cd	
	,	item_kind
	FROM #M0072
	GROUP BY item_cd	
		,	item_kind
	--
	SET  	@count_charactor	= (SELECT COUNT(1) FROM #M0072 WHERE #M0072.character_item <> '' )
	SET 	@count_date			= (SELECT COUNT(1) FROM #M0072 WHERE #M0072.from_date_item IS NOT NULL OR #M0072.to_date_item IS NOT NULL)
	SET		@count_number		= (SELECT COUNT(1) FROM #M0072 WHERE (#M0072.from_number_item IS NOT NULL OR #M0072.to_number_item <> 0 OR #M0072.number_item <> 0) AND item_kind IN(2,5))
	--
	UPDATE #M0072
	SET
		#M0072.number_item_count	=	#TEMP_COUNT.number_item_count
	FROM #M0072 LEFT JOIN
	(SELECT 
		item_kind
	,	COUNT(1) AS number_item_count
	FROM #DISTNCT_M0072
	GROUP BY item_kind
	) AS #TEMP_COUNT ON(
		#M0072.item_kind	=	#TEMP_COUNT.item_kind
	)
	--
	CREATE TABLE #TEMP_M0072(
		employee_cd		NVARCHAR(20)
	)
	INSERT INTO #TEMP_M0072
	SELECT 
		M0070.employee_cd	
	FROM M0070 
	WHERE M0070.company_cd = @P_company_cd
	-- processing search in M0072 
		-- XOA NHUNG BAN GHI KHONG DUNG VOI DK SEARCH CHARACTOR
	IF EXISTS( SELECT 1 FROM #M0072 where character_item <> '')
	BEGIN
		DELETE D FROM  #TEMP_M0072  AS D
		LEFT JOIN
		(
			SELECT 
				M0070.employee_cd
			FROM M0070 LEFT JOIN
			M0072 ON(
				M0070.company_cd	=	M0072.company_cd
			AND M0070.employee_cd	=	M0072.employee_cd
			AND	M0072.del_datetime	IS NULL
			)
			LEFT JOIN M0080 ON(
				M0070.company_cd	=	M0080.company_cd
			AND M0072.item_cd		=	M0080.item_cd
			AND M0080.del_datetime IS NULL
			)
			INNER JOIN #M0072 ON(
				#M0072.item_cd			= M0072.item_cd 
			AND #M0072.item_kind		= M0080.item_kind
			AND M0072.character_item  LIKE CONCAT('%',REPLACE(#M0072.character_item,'%','[%]'),'%')
			AND M0080.item_kind	=	1 
			)
			WHERE M0070.company_cd = @P_company_cd
			GROUP BY M0070.employee_cd
			HAVING COUNT(1) = @count_charactor -- check nv dung tat ca cac dk search CHARACTOR tren man hinh
		) AS #M0070 ON(
			D.employee_cd = #M0070.employee_cd
		)
		WHERE #M0070.employee_cd IS NULL
	END
		-- XOA NHUNG BAN GHI KHONG DUNG VOI DK SEARCH NUMBER KHONG PHAI LA CHECKBOX
	IF EXISTS( SELECT 1 FROM #M0072 WHERE (#M0072.from_number_item IS NOT NULL OR #M0072.to_number_item IS NOT NULL OR #M0072.number_item IS NOT NULL) AND item_kind IN (2,5))
	BEGIN
		DELETE D FROM  #TEMP_M0072  AS D
		LEFT JOIN
		(
			SELECT 
				M0070.employee_cd
			FROM M0070 LEFT JOIN
			M0072 ON(
				M0070.company_cd	=	M0072.company_cd
			AND M0070.employee_cd	=	M0072.employee_cd
			AND	M0072.del_datetime	IS NULL
			)
			LEFT JOIN M0080 ON(
				M0070.company_cd	=	M0080.company_cd
			AND M0072.item_cd		=	M0080.item_cd
			AND M0080.del_datetime IS NULL
			)
			INNER JOIN #M0072 ON(
				#M0072.item_cd					= M0072.item_cd 
			AND #M0072.item_kind				= M0080.item_kind
			AND (	(M0080.item_kind = 2    AND  (#M0072.from_number_item  <= M0072.number_item  OR #M0072.from_number_item IS NULL)
										    AND  (#M0072.to_number_item    >= M0072.number_item  OR #M0072.to_number_item IS NULL)
					 )
				OR  (M0080.item_kind	= 5 AND  (#M0072.number_item = M0072.number_item   OR #M0072.number_item IS NULL))
				)
			AND M0080.item_kind	IN	(2,5)
			)
			WHERE M0070.company_cd = @P_company_cd
			GROUP BY M0070.employee_cd, #M0072.number_item_count
			HAVING COUNT(1) = @count_number  -- check nv dung tat ca cac dk search NUMBER KHONG PHAI LA CHECKBOX tren man hinh
		) AS #M0070 ON(
			D.employee_cd = #M0070.employee_cd
		)
		WHERE #M0070.employee_cd IS NULL
	END
	--	-- XOA NHUNG BAN GHI KHONG DUNG VOI DK SEARCH NUMBER LA CHECKBOX
	IF EXISTS( SELECT 1 FROM #M0072 where number_item <> 0  AND item_kind = 4)
	BEGIN
		DELETE D FROM  #TEMP_M0072  AS D
		LEFT JOIN
		(
			SELECT 
				M0070.employee_cd
			FROM M0070 LEFT JOIN
			M0072 ON(
				M0070.company_cd	=	M0072.company_cd
			AND M0070.employee_cd	=	M0072.employee_cd
			AND	M0072.del_datetime	IS NULL
			)
			LEFT JOIN M0080 ON(
				M0070.company_cd	=	M0080.company_cd
			AND M0072.item_cd		=	M0080.item_cd
			AND M0080.del_datetime IS NULL
			)
			INNER JOIN #M0072 ON(
				#M0072.item_cd			= M0072.item_cd 
			AND #M0072.item_kind		= M0080.item_kind
			AND #M0072.number_item		= M0072.number_item
			AND M0080.item_kind			= 4
			)
			GROUP BY M0070.employee_cd, #M0072.number_item_count
			--HAVING COUNT(1) = #M0072.number_item_count -- check nv dung tat ca cac dk search NUMBER  LA CHECKBOX tren man hinh
		) AS #M0070 ON(
			D.employee_cd = #M0070.employee_cd
		)
		WHERE #M0070.employee_cd IS NULL
	END
	
		-- XOA NHUNG BAN GHI KHONG DUNG VOI DK SEARCH DATE
	IF EXISTS( SELECT 1 FROM #M0072 WHERE from_date_item IS NOT NULL OR to_date_item IS NOT NULL)
	BEGIN
		DELETE D FROM  #TEMP_M0072  AS D
		LEFT JOIN
		(
			SELECT 
				M0070.employee_cd
			FROM M0070 LEFT JOIN
			M0072 ON(
				M0070.company_cd	=	M0072.company_cd
			AND M0070.employee_cd	=	M0072.employee_cd
			AND	M0072.del_datetime	IS NULL
			)
			LEFT JOIN M0080 ON(
				M0070.company_cd	=	M0080.company_cd
			AND M0072.item_cd		=	M0080.item_cd
			AND M0080.del_datetime IS NULL
			)
			INNER JOIN #M0072 ON(
				#M0072.item_cd			= M0072.item_cd 
			AND #M0072.item_kind		= M0080.item_kind
			AND (	(#M0072.from_date_item		<= M0072.date_item OR #M0072.from_date_item IS NULL)
				AND	(#M0072.to_date_item		>= M0072.date_item OR #M0072.to_date_item IS NULL)
				)
			AND M0080.item_kind	= 3
			)
			WHERE M0070.company_cd = @P_company_cd
			GROUP BY M0070.employee_cd
			HAVING COUNT(1) = @count_date -- check nv dung tat ca cac dk search DATE tren man hinh
		) AS #M0070 ON(
			D.employee_cd = #M0070.employee_cd
		)
		WHERE #M0070.employee_cd IS NULL
	END
	SELECT 
		employee_cd
	FROM #TEMP_M0072
	GROUP BY employee_cd

END
GO
