DROP PROCEDURE [SPC_PERMISSION_M0070_TAB_CHK1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC SPC_PERMISSION_M0070_TAB_CHK1 'M0070','721','740',0;

-- +--TEST--+
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	CHECK PERMISSION OF M0070 TABS
--*  
--* 作成日/create date			:	2024/04/02										
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:	
--*	更新者/updater				:　 			     	 
--*	更新内容/update content		:	
--* 				
--****************************************************************************************
CREATE PROCEDURE [SPC_PERMISSION_M0070_TAB_CHK1]
	@P_tab_key			nvarchar(20)	=	''
,	@P_user_id			nvarchar(50)	=	''	-- LOGIN USER
,	@P_company_cd		smallint		=	0
,	@P_screen			smallint		=	0	-- 0.used in m0070 1.used in eq0101
AS
BEGIN
	SET NOCOUNT ON;
    --
	DECLARE 
		@authority_cd		smallint		=	0	--	login user authority_cd
	,	@authority_typ		smallint		=	0	--	1.被評価者 2.評価者 3.管理者 4.管理会社 5.総合管理者
	,	@emp_authority_cd	smallint		=	0	--	employeeinfo authority_cd
	,	@emp_authority_typ	smallint		=	0	--	1.被評価者 2.評価者 3.管理者 4.管理会社 5.総合管理者
	,	@w_chk				tinyint			=	1	--	0.not use 1.use
	,	@w_tab_id			smallint		=	0
	--
	SELECT 
		@authority_cd			=	ISNULL(S0010.setting_authority_cd,0)
	,	@authority_typ			=	ISNULL(S0010.setting_authority_typ,0)
	,	@emp_authority_cd		=	ISNULL(S0010.empinfo_authority_cd,0)
	,	@emp_authority_typ		=	ISNULL(S0010.empinfo_authority_typ,0)
	FROM S0010
	WHERE
		S0010.company_cd	=	@P_company_cd
	AND S0010.user_id		=	@P_user_id
	AND S0010.del_datetime IS NULL
	-- get @w_tab_id
	SELECT 
		@w_tab_id = ISNULL(L0034.tab_id,0)
	FROM L0034
	WHERE 
		L0034.function_id = @P_tab_key
	-- CHECK FROM sm0100
	-- 会社毎の人事情報利用設定を確認：M9100.empinf_user_typ = 1 、M9101.empsrch_use_typ = 1 の会社
	IF NOT EXISTS (SELECT 1 FROM M9100 WHERE company_cd = @P_company_cd AND empinf_use_typ = 1 AND del_datetime IS NULL)
	BEGIN
		SET @w_chk = 0
		GOTO COMPLETED
	END
	-- 
	IF NOT EXISTS (SELECT 1 FROM M9101 WHERE company_cd = @P_company_cd AND empsrch_use_typ = 1 AND del_datetime IS NULL)
	BEGIN
		SET @w_chk = 0
		GOTO COMPLETED
	END
	-- 会社毎のタブ利用設定を確認：M9102.tab_id=1  AND M9102.user_typ = 1 のタブ
	IF @P_tab_key <> N'm0070' AND NOT EXISTS (SELECT 1 FROM M9102 WHERE company_cd = @P_company_cd AND tab_id = @w_tab_id AND M9102.use_typ = 1 AND del_datetime IS NULL)
	BEGIN
		SET @w_chk = 0
		GOTO COMPLETED
	END

	--
	--IF @authority_typ IN(3,4,5) AND NOT EXISTS (SELECT 1 FROM M9102 INNER JOIN L0034 ON(M9102.tab_id = L0034.tab_id) WHERE company_cd = @P_company_cd AND L0034.function_id = @P_tab_key AND use_typ <> 0 AND M9102.del_datetime IS NULL)
	--BEGIN
	--	SET @w_chk = 0
	--	GOTO COMPLETED
	--END

	-- IF M0070 USE
	IF @P_screen = 0
	BEGIN
		-- NOT ADMIN 
		IF @authority_typ NOT IN(3,4,5)
		BEGIN
			SET @w_chk = 0
			GOTO COMPLETED
		END
		-- 
		IF @authority_typ = 3 AND NOT EXISTS (SELECT 1 FROM S9021 WHERE company_cd = @P_company_cd AND authority_cd = @authority_cd AND function_id = @P_tab_key AND authority <> 0 AND del_datetime IS NULL)
		BEGIN
			SET @w_chk = 0
			GOTO COMPLETED
		END
		IF @authority_typ = 3 AND EXISTS (SELECT 1 FROM S9021 WHERE company_cd = @P_company_cd AND authority_cd = @authority_cd AND function_id = @P_tab_key AND authority = 1 AND del_datetime IS NULL)
		BEGIN
			SET @w_chk = 2 --only view
			GOTO COMPLETED
		END
	END
	
	------------------------------------------------------

	--IF STORE HAS BEEN USED IN EQ0101
	--Confirm login user's permission setting：refer login user's permission → only display tab M5100.use_typ != 0
	IF @P_screen = 1
	BEGIN
		IF @emp_authority_typ NOT IN(3,4,5)
		BEGIN
			SET @w_chk = 0
			GOTO COMPLETED
		END
		-- PERMISSION = 3 => VIEW TAB BY PERMISSION
		IF @emp_authority_typ = 3 AND NOT EXISTS (
			SELECT 1 
			FROM M5100 
			WHERE
				company_cd		=	@P_company_cd
			AND authority_cd	=	@emp_authority_cd
			AND tab_id			=	@w_tab_id
			AND use_typ			=	1
			AND del_datetime IS NULL
		)
		BEGIN
			SET @w_chk = 0
			GOTO COMPLETED
		END
	END

COMPLETED:
	--[0]
	SELECT @w_chk			AS	chk	--	0.not use 1.use
END

