DROP PROCEDURE [SPC_REDIRECT_CHK1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_REDIRECT_CHK1 '740','{"fiscal_year":"2020","employee_cd":"700","sheet_cd":"1","from":"information"}';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	CHECK REDIRECT OF ROUTER URL 
--*  
--* 作成日/create date			:	2020/12/11										
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:	upgrade ver2.0 
--*	更新者/updater				:　 	viettd		     	 
--*	更新内容/update content		:	add report module
--* 				
--****************************************************************************************
CREATE PROCEDURE [SPC_REDIRECT_CHK1]
	@P_company_cd		smallint		=	0
,	@P_json				nvarchar(max)	=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE	
		@redirect_status	nvarchar(5)		=	'true'	-- true | false
	,	@redirect_log		nvarchar(100)	=	''
	--
	,	@w_fiscal_year			int				=	0
	,	@w_sheet_cd				smallint		=	0
	,	@w_employee_cd			nvarchar(10)	=	''
	,	@w_status_cd			smallint		=	0	-- M0310.status_cd
	,	@w_select_period		smallint		=	0	-- M0101.detail_no
	,	@w_select_category_typ	smallint		=	0	-- 0.目標 1.定性評価
	,	@w_from					nvarchar(20)	=	''
	--	1on1
	,	@w_fiscal_year_1on1		int				=	0
	,	@w_group_cd_1on1		smallint		=	0
	,	@w_times				smallint		=	0
	,	@w_questionnaire_cd		smallint		=	0
	,	@w_coach_cd				nvarchar(10)	=	''
	-- mulitireview
	,	@w_detail_no			smallint		=	0
	,	@w_supporter_cd			nvarchar(10)	=	''
	-- weeklyreport
	,	@w_fiscal_year_weeklyreport		int				=	0
	,	@w_report_kind					smallint		=	0
	,	@w_report_no					smallint		=	0
	--
	CREATE TABLE #SCREEN_TABLE_EXCEPT(
		id			int		identity(1,1)
	,	function_id	nvarchar(20)
	)
	--
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('portal')
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('dashboard')
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('information')
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('evaluator')
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('sdashboard')
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('odashboardadmin')		-- ダッシュボード（管理者）
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('odashboard')			-- ダッシュボード（コーチ）
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('odashboardmember')	-- ダッシュボード（メンバー）
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('mdashboard')			-- ダッシュボード（評価者・管理者）
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('mdashboardsupporter')	-- ダッシュボード（サポーター）
	-- report module
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('rdashboardreporter')	-- ダッシュボード（報告者）
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('rdashboardapprover')	-- ダッシュボード（承認者）
	INSERT INTO #SCREEN_TABLE_EXCEPT VALUES ('rdashboard')			-- ダッシュボード（閲覧者）
	--
	IF @P_json = ''
	BEGIN
		SET @redirect_status = 'true'
		SET @redirect_log = 'JSON EMPTY'
		GOTO COMPLETED
	END
	-- 
	IF ISJSON(@P_json) = 0
	BEGIN
		SET @redirect_status = 'false' -- ERROR
		SET @redirect_log = 'NOT JSON FORMAT '
		GOTO COMPLETED
	END
	--
	SET @w_fiscal_year			= JSON_VALUE(@P_json,'$.fiscal_year')			
	SET @w_employee_cd			= JSON_VALUE(@P_json,'$.employee_cd')			
	SET @w_sheet_cd				= JSON_VALUE(@P_json,'$.sheet_cd')				
	SET @w_status_cd			= JSON_VALUE(@P_json,'$.status_cd')				
	SET @w_select_period		= JSON_VALUE(@P_json,'$.select_period')			
	SET @w_select_category_typ	= JSON_VALUE(@P_json,'$.select_category_typ')	
	SET @w_from					= JSON_VALUE(@P_json,'$.from')					
	-- 1on1
	SET @w_fiscal_year_1on1		= JSON_VALUE(@P_json,'$.fiscal_year_1on1')
	SET @w_group_cd_1on1		= JSON_VALUE(@P_json,'$.group_cd_1on1')			
	SET @w_times				= JSON_VALUE(@P_json,'$.times')
	SET @w_questionnaire_cd		= JSON_VALUE(@P_json,'$.questionnaire_cd')
	SET @w_coach_cd				= JSON_VALUE(@P_json,'$.coach_cd')
	-- mulitireview
	SET @w_detail_no			= JSON_VALUE(@P_json,'$.detail_no')
	SET @w_supporter_cd			= JSON_VALUE(@P_json,'$.supporter_cd')
	-- weeklyreport
	SET @w_fiscal_year_weeklyreport		= JSON_VALUE(@P_json,'$.fiscal_year_weeklyreport')
	SET @w_report_kind					= JSON_VALUE(@P_json,'$.report_kind')
	SET @w_report_no					= JSON_VALUE(@P_json,'$.report_no')
	-- check fiscal_year
	IF @w_fiscal_year IS NOT NULL
	BEGIN
		IF @w_fiscal_year NOT BETWEEN 1900 AND 9999
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'fiscal_year : ERROR '
			GOTO COMPLETED
		END
	END
	-- check employee_cd
	IF @w_employee_cd IS NOT NULL AND @w_employee_cd NOT IN('','0')
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM M0070 WHERE company_cd = @P_company_cd AND employee_cd = @w_employee_cd)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'employee_cd : ERROR '
			GOTO COMPLETED
		END
	END
	-- check sheet_cd
	IF @w_sheet_cd IS NOT NULL
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM W_M0200 WHERE company_cd = @P_company_cd AND fiscal_year = @w_fiscal_year AND sheet_cd = @w_sheet_cd)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'sheet_cd : ERROR '
			GOTO COMPLETED
		END
	END
	-- check status_cd
	IF @w_status_cd IS NOT NULL
	BEGIN
		-- IF @w_select_category_typ = 0.目標
		IF @w_select_category_typ = 0
		BEGIN
			IF NOT EXISTS (SELECT 1 FROM M0310 WHERE company_cd = @P_company_cd AND category = 1 AND status_cd = @w_status_cd)
			BEGIN
				SET @redirect_status = 'false' -- ERROR
				SET @redirect_log = 'status_cd(目標) : ERROR '
				GOTO COMPLETED
			END
		END
		-- IF @w_select_category_typ = 1.定性
		IF @w_select_category_typ = 1
		BEGIN
			IF NOT EXISTS (SELECT 1 FROM M0310 WHERE company_cd = @P_company_cd AND category = 2 AND status_cd = @w_status_cd)
			BEGIN
				SET @redirect_status = 'false' -- ERROR
				SET @redirect_log = 'status_cd(定性) : ERROR '
				GOTO COMPLETED
			END
		END
	END
	-- check select_period
	IF @w_select_period IS NOT NULL AND @w_select_period <> 0
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM M0101 WHERE company_cd = @P_company_cd AND detail_no = @w_select_period)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'select_period : ERROR '
			GOTO COMPLETED
		END
	END
	-- check select_category_typ
	IF @w_select_category_typ IS NOT NULL
	BEGIN
		IF @w_select_category_typ NOT IN(0,1)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'select_category_typ : ERROR '
			GOTO COMPLETED
		END
	END
	-- check select_category_typ
	IF @w_select_category_typ IS NOT NULL
	BEGIN
		IF @w_select_category_typ NOT IN(0,1)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'select_category_typ : ERROR '
			GOTO COMPLETED
		END
	END
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--1on1
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- check fiscal_year_1on1
	IF @w_fiscal_year_1on1 IS NOT NULL
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM F2000 WHERE company_cd = @P_company_cd AND fiscal_year = @w_fiscal_year_1on1)
		IF @w_fiscal_year_1on1 NOT BETWEEN 1900 AND 9999
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'fiscal_year_1on1 : ERROR '
			GOTO COMPLETED
		END
	END
	-- check group_cd_1on1
	IF @w_group_cd_1on1 IS NOT NULL
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM M2600 WHERE company_cd = @P_company_cd AND [1on1_group_cd]  = @w_group_cd_1on1)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'group_cd_1on1 : ERROR '
			GOTO COMPLETED
		END
	END
	-- check times
	IF @w_times IS NOT NULL
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM M2620 WHERE company_cd = @P_company_cd AND times  = @w_times)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'times : ERROR '
			GOTO COMPLETED
		END
	END
	-- check questionnaire_cd
	IF ISNULL(@w_questionnaire_cd,0) <> 0
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM M2400 WHERE company_cd = @P_company_cd AND questionnaire_cd  = @w_questionnaire_cd)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'questionnaire_cd : ERROR '
			GOTO COMPLETED
		END
	END
	-- check coach_cd
	IF @w_coach_cd IS NOT NULL AND @w_coach_cd NOT IN('','0')
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM M0070 WHERE company_cd = @P_company_cd AND employee_cd = @w_coach_cd)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'coach_cd : ERROR '
			GOTO COMPLETED
		END
	END
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--mulitireview
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- check supporter_cd
	IF @w_supporter_cd IS NOT NULL AND @w_supporter_cd NOT IN('','0')
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM M0070 WHERE company_cd = @P_company_cd AND employee_cd = @w_supporter_cd)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'mulitireview : supporter_cd : ERROR '
			GOTO COMPLETED
		END
	END
	-- check detail_no
	IF @w_detail_no IS NOT NULL AND @w_detail_no <> 0
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM F3000 WHERE company_cd = @P_company_cd AND employee_cd = @w_employee_cd AND detail_no = @w_detail_no)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'mulitireview : detail_no : ERROR '
			GOTO COMPLETED
		END
	END
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--reports
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- check fiscal_year_weeklyreport
	IF @w_fiscal_year_weeklyreport IS NOT NULL
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM F4200 WHERE company_cd = @P_company_cd AND fiscal_year = @w_fiscal_year_weeklyreport)
		IF @w_fiscal_year_weeklyreport NOT BETWEEN 1900 AND 9999
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = '@w_fiscal_year_weeklyreport : ERROR '
			GOTO COMPLETED
		END
	END
	-- check report_kind
	IF @w_report_kind IS NOT NULL
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM L0010 WHERE name_typ = 41 AND number_cd = @w_report_kind)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = '@w_report_kind : ERROR '
			GOTO COMPLETED
		END
	END
	-- check report_kind
	IF @w_report_no IS NOT NULL
	BEGIN
		IF ISNUMERIC(@w_report_no) = 0
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = '@w_report_no : ERROR '
			GOTO COMPLETED
		END
	END
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--common
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- check from
	IF @w_from IS NOT NULL
	BEGIN
		-- SET @w_from
		SET @w_from = LOWER(@w_from)
		--
		IF EXISTS (SELECT 1 FROM L0030 WHERE LOWER(function_id) = @w_from)
		BEGIN
			SET @redirect_status = 'true' -- success
			GOTO COMPLETED
		END
		--
		IF NOT EXISTS (SELECT 1 FROM #SCREEN_TABLE_EXCEPT WHERE LOWER(function_id) = @w_from)
		BEGIN
			SET @redirect_status = 'false' -- ERROR
			SET @redirect_log = 'from : ERROR '
			GOTO COMPLETED
		END
	END
COMPLETED:
	--[0]
	SELECT 
		@redirect_status			AS	redirect_status		-- true | false
	,	@redirect_log				AS	redirect_log
	,	@P_json						AS	redirect_param
	,	@w_from						AS	redirect_from
END
GO
