DROP PROCEDURE [SPC_EVALUATION_PERMISSION_CHK1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	CHECK PERMISSION EVALUTATION
--*  
--* 作成日/create date			:	2020/12/22										
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:	2021/04/07
--*	更新者/updater				:	viettd　 		     	 
--*	更新内容/update content		:	If you evaluate the current year, you can view past data
--*   					
--*  更新日/update date			:	2021/06/03
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	when 3.管理者(authority_typ = 3) and not choice organization in S0022 then view all employees
--*   					
--*  更新日/update date			:	2022/03/31
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	when admin is rater then show all employees who you evalutate
--*   					
--*  更新日/update date			:	2022/08/16
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	upgrade 1.9
--*   					
--*  更新日/update date			:	2025/07/31
--*　更新者/updater				:	viettd　
--*　更新内容/update content		:	社員履歴照会からは、現在評価対象の社員の過去（他の処遇用途）の評価シートは閲覧可能としたいです。
--* 				
--****************************************************************************************
CREATE PROCEDURE [SPC_EVALUATION_PERMISSION_CHK1]
	@P_fiscal_year				int				=	0
,	@P_employee_cd				nvarchar(10)	=	''
,	@P_sheet_cd					smallint		=	0
,	@P_user_id					nvarchar(50)	=	''	-- login user
,	@P_company_cd				smallint		=	0
AS
BEGIN
	SET NOCOUNT ON;
    --
	DECLARE 
		@authority_cd						smallint		=	0	--	login user authority_cd
	,	@login_employee_cd					nvarchar(10)	=	''	--	login employee_no
	,	@sheet_kbn							tinyint			=	0	--	1.目標評価シート 2.定性評価シート
	,	@authority_typ						smallint		=	0	--	1.被評価者 2.評価者 3.管理者 4.管理会社 5.総合管理者
	,	@w_authority						smallint		=	0	--	0.参照不可　1.参照可能　2.変更可能
	,	@w_message							nvarchar(200)	=	''
	,	@w_arrange_order					INT				=	0
	,	@w_position_cd						INT				=	0
	,	@s0020_use_typ						INT				=	0
	,	@w_current_fiscal_year				INT				=	[dbo].FNC_GET_YEAR(@P_company_cd,NULL)
	-- add by viettd 2021/06/03
	,	@w_evaluation_organization_cnt		INT				=	0	-- 0.view all 1.only view organization choiced
	,	@w_organization_belong_person_typ	SMALLINT		=	0
	,	@year_month_day						DATE				=	NULL
	,	@beginning_date						DATE				=	NULL
	--get all ORGANIZATION with authority
	CREATE TABLE #TABLE_ORGANIZATION(
		organization_typ			tinyint
	,	organization_cd_1			nvarchar(20)
	,	organization_cd_2			nvarchar(20)
	,	organization_cd_3			nvarchar(20)
	,	organization_cd_4			nvarchar(20)
	,	organization_cd_5			nvarchar(20)	 
	,	choice_in_screen			tinyint			-- 1.choice in screen 0.get from master S0022
	)
	-- #EMPLOYEE
	CREATE TABLE #EMPLOYEE(
		company_cd		SMALLINT
	,	employee_cd		NVARCHAR(20)
	,	belong_cd1		NVARCHAR(40)
	,	belong_cd2		NVARCHAR(40)
	,	belong_cd3		NVARCHAR(40)
	,	belong_cd4		NVARCHAR(40)
	,	belong_cd5		NVARCHAR(40)
	,	arrange_order	INT
	,	rater_step		SMALLINT		-- add by viettd 2022/03/31	
	)
	--
	CREATE TABLE #M0070H(
		application_date				date
	,	company_cd						smallint
	,	employee_cd						nvarchar(10)
	,	employee_nm						nvarchar(200)
	,	employee_ab_nm					nvarchar(50)
	,	furigana						nvarchar(50)
	,	office_cd						smallint
	,	office_nm						nvarchar(50)
	,	belong_cd_1						nvarchar(20)
	,	belong_cd_2						nvarchar(20)
	,	belong_cd_3						nvarchar(20)
	,	belong_cd_4						nvarchar(20)
	,	belong_cd_5						nvarchar(20)
	,	job_cd							smallint
	,	position_cd						int
	,	employee_typ					smallint
	,	grade							smallint
	,	belong_nm_1						nvarchar(50)
	,	belong_nm_2						nvarchar(50)
	,	belong_nm_3						nvarchar(50)
	,	belong_nm_4						nvarchar(50)
	,	belong_nm_5						nvarchar(50)
	,	job_nm							nvarchar(50)
	,	position_nm						nvarchar(50)
	,	grade_nm						nvarchar(10)
	,	employee_typ_nm					nvarchar(50)
	)
	--
	SELECT 
		@login_employee_cd		=	ISNULL(S0010.employee_cd,'')
	,	@authority_cd			=	ISNULL(S0010.authority_cd,0)
	,	@authority_typ			=	ISNULL(S0010.authority_typ,0)
	,	@w_position_cd			=	ISNULL(M0070.position_cd,0)
	FROM S0010
	LEFT OUTER JOIN M0070 ON (
		M0070.company_cd		=	S0010.company_cd
	AND M0070.employee_cd		=	S0010.employee_cd
	AND M0070.del_datetime		IS NULL 
	)
	WHERE
		S0010.company_cd	=	@P_company_cd
	AND S0010.user_id		=	@P_user_id
	AND S0010.del_datetime IS NULL
	-- get @arrange_order
	SELECT 
		@w_arrange_order	=	ISNULL(M0040.arrange_order,0)
	FROM M0040
	WHERE 
		M0040.company_cd		=	@P_company_cd
	AND M0040.position_cd		=	@w_position_cd
	AND M0040.del_datetime IS NULL
	-- GET @s0020_use_typ
	SET @s0020_use_typ =(SELECT use_typ FROM s0020 
										WHERE company_cd = @P_company_cd 
										AND authority_cd = @authority_cd 
										AND del_datetime IS NULL)
	-- COUNT ALL ORGANIZATIONS OF S0022 -- add by viettd 2021/06/03
	SET @w_evaluation_organization_cnt = [dbo].FNC_GET_NUMBER_OF_ORGANIZATION(@P_company_cd,@authority_cd,1)
	-- GET @w_organization_belong_person_typ add by viettd 2021/06/03
	SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP(@P_company_cd,@authority_cd,1)
	--
	SELECT 
		@beginning_date = M9100.beginning_date 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	--
	IF @beginning_date IS NOT NULL
	BEGIN
		SET @year_month_day = CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		SET @year_month_day = DATEADD(DD,-1,DATEADD(YYYY,1,@year_month_day))
	END
	ELSE
	BEGIN 
		SET @year_month_day = CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/12/31') AS DATE)
	END
	--
	INSERT INTO #M0070H
	EXEC [dbo].SPC_REFER_M0070H_INQ1 @year_month_day,'',@P_company_cd
	-- insert into table #EMPLOYEE
	INSERT INTO #EMPLOYEE
	SELECT
		M0070.company_cd
	,	M0070.employee_cd	
	,	M0070.belong_cd_1	
	,	M0070.belong_cd_2	
	,	M0070.belong_cd_3	
	,	M0070.belong_cd_4	
	,	M0070.belong_cd_5	
	,	M0040.arrange_order
	,	CASE 
			WHEN F0100.employee_cd IS NOT NULL
			THEN 1		-- IS RATER
			ELSE 0
		END
	FROM #M0070H AS M0070 
	LEFT JOIN M0040 ON(
		M0070.company_cd	=	M0040.company_cd
	AND	M0070.position_cd	=	M0040.position_cd
	AND M0040.del_datetime IS NULL
	)
	LEFT OUTER JOIN F0100 ON (
		M0070.company_cd		=	F0100.company_cd
	AND @P_fiscal_year			=	F0100.fiscal_year
	AND M0070.employee_cd		=	F0100.employee_cd
	AND @P_sheet_cd				=	F0100.sheet_cd
	AND (
			@login_employee_cd	=	F0100.employee_cd
		OR	@login_employee_cd	=	F0100.rater_employee_cd_1
		OR	@login_employee_cd	=	F0100.rater_employee_cd_2
		OR	@login_employee_cd	=	F0100.rater_employee_cd_3
		OR	@login_employee_cd	=	F0100.rater_employee_cd_4
		)
	)
	WHERE 
		M0070.company_cd = @P_company_cd
	--AND M0070.del_datetime IS NULL
	--
	INSERT INTO #TABLE_ORGANIZATION
	EXEC SPC_REFER_ORGANIZATION_FND1 '',@P_user_id,@P_company_cd,1
	-- FILTER 組織1~5
	IF EXISTS (SELECT 1 FROM #TABLE_ORGANIZATION)
	BEGIN
		IF NOT (@authority_typ = 3 AND @w_evaluation_organization_cnt = 0 AND @w_organization_belong_person_typ = 0)	-- edited by viettd 2021/06/03 
		BEGIN
			DELETE D FROM #EMPLOYEE AS D
			FULL OUTER JOIN #TABLE_ORGANIZATION AS S ON (
				D.company_cd			=	@P_company_cd
			AND D.belong_cd1			=	S.organization_cd_1
			AND D.belong_cd2			=	S.organization_cd_2
			AND D.belong_cd3			=	S.organization_cd_3
			AND D.belong_cd4			=	S.organization_cd_4
			AND D.belong_cd5			=	S.organization_cd_5
			)
			WHERE 
				D.company_cd IS NULL
			OR	S.organization_typ IS NULL
			AND @authority_typ NOT IN (4,5) --4.会社管理者 5.総合管理者
			--AND D.rater_step = 0			-- add by viettd 2022/03/31
		END
	END
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--admin
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--check authority = 3 (admin)
	--↓↓↓ edited by viettd 2021/07/21
	---- 本人の役職より下位の社員のみ
	IF @s0020_use_typ = 1 AND @P_employee_cd <> '' AND @authority_typ = 3 
	BEGIN 
		IF EXISTS (SELECT 1 FROM #EMPLOYEE
							WHERE
								#EMPLOYEE.employee_cd	=	@P_employee_cd
							AND ISNULL(#EMPLOYEE.arrange_order,0) < @w_arrange_order
							AND #EMPLOYEE.rater_step	=	0 -- add by viettd 2022/03/31
		)
		BEGIN
			SET @w_authority = 0	-- 0.参照不可
			SET @w_message = 'LARGER POSITION NOT VIEW'
			GOTO COMPLETED
		END
	END 
	--↑↑↑ end edited by viettd 2021/07/21
	-- get @sheet_kbn
	SELECT 
		@sheet_kbn	=	ISNULL(W_M0200.sheet_kbn,0)	-- 1.目標 2.定性
	FROM W_M0200
	WHERE 
		W_M0200.company_cd	=	@P_company_cd
	AND W_M0200.fiscal_year	=	@P_fiscal_year
	AND W_M0200.sheet_cd	=	@P_sheet_cd
	AND W_M0200.del_datetime IS NULL
	-- check not exists data into F0100
	IF @P_sheet_cd <> 0 AND NOT EXISTS (SELECT 1 FROM F0100 
							WHERE 
								F0100.company_cd	=	@P_company_cd
							AND F0100.fiscal_year	=	@P_fiscal_year
							AND F0100.employee_cd	=	@P_employee_cd
							AND F0100.sheet_cd		=	@P_sheet_cd
							AND F0100.del_datetime IS NULL)
	BEGIN
		SET @w_authority = 0	-- 0.参照不可
		SET @w_message = 'employee_cd not exists into F0100 table'
		GOTO COMPLETED
	END
	-- check if user is .管理会社 5.総合管理者
	IF @authority_typ IN(4,5)	-- 4.管理会社 5.総合管理者 add by viettd 2020/10/09
	BEGIN
		SET @w_authority = 2	-- 2.更新可能
		SET @w_message = 'user authority_typ in (4,5) then can edited'
		GOTO COMPLETED
	END
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- 1.彼評価者
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- check if user is 1.彼評価者
	IF @P_employee_cd = @login_employee_cd
	BEGIN
		-- I2010 + I2020
		IF @P_sheet_cd <> 0 AND EXISTS (SELECT 1 FROM F0100 
																WHERE 
																	F0100.company_cd	=	@P_company_cd
																AND F0100.fiscal_year	=	@P_fiscal_year
																AND F0100.employee_cd	=	@login_employee_cd
																AND F0100.sheet_cd		=	@P_sheet_cd
																AND F0100.del_datetime IS NULL)
		BEGIN
			SET @w_authority = 2	-- 2.更新可能
			SET @w_message = 'user is 1.彼評価者 then can edited in I2010 +I2020'
			GOTO COMPLETED
		END
	END
	--
	IF @P_employee_cd = @login_employee_cd AND @P_sheet_cd = 0
	BEGIN
		SET @w_authority = 2	-- 2.更新可能
		SET @w_message = 'user is 1.彼評価者 then can edited in I2010 +I2020'
		GOTO COMPLETED
	END
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--  2.評価者 
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- check if user is 2.評価者 (I2010 + I2020 + I2030 + Q0071)
	IF @P_sheet_cd <> 0 AND @P_employee_cd <> '' -- (I2010 + I2020 + I2030)
	BEGIN
		-- add by viettd 2021/04/07
		IF @P_fiscal_year < @w_current_fiscal_year
		BEGIN
			IF EXISTS (SELECT 1 FROM F0100 
							WHERE 
								F0100.company_cd	=	@P_company_cd
							AND (
								F0100.fiscal_year	=	@P_fiscal_year			-- IF CURRENT YEAR OR CHOICED YEAR , USER IS RATER
							OR	F0100.fiscal_year	=	@w_current_fiscal_year	
							)
							AND F0100.employee_cd	=	@P_employee_cd
							AND (
								F0100.rater_employee_cd_1	=	@login_employee_cd
							OR  F0100.rater_employee_cd_2	=	@login_employee_cd
							OR  F0100.rater_employee_cd_3	=	@login_employee_cd
							OR  F0100.rater_employee_cd_4	=	@login_employee_cd
							)
							AND F0100.del_datetime IS NULL
			)
			BEGIN
				SET @w_authority = 2	-- 2.更新可能
				SET @w_message = 'user is 2.評価者 (I2010 + I2020 + I2030 + Q0071) in part then can edited in I2010 +I2020'
				GOTO COMPLETED
			END
		END
		ELSE
		BEGIN
			--↓↓↓ add by viettd 2025/07/31
			IF EXISTS (SELECT 1 FROM F0030
								WHERE
									F0030.company_cd	=	@P_company_cd
								AND F0030.employee_cd	=	@P_employee_cd
								AND (
									F0030.rater_employee_cd_1	=	@login_employee_cd
								OR	F0030.rater_employee_cd_2	=	@login_employee_cd
								OR	F0030.rater_employee_cd_3	=	@login_employee_cd
								OR	F0030.rater_employee_cd_4	=	@login_employee_cd
								)
								AND F0030.del_datetime IS NULL
			)
			BEGIN
				SET @w_authority = 1	-- 1.参照可能
				SET @w_message = 'user is 2.評価者 (I2010 + I2020 + I2030 + Q0071) then can view in I2010 +I2020'
			END
			--
			IF EXISTS (SELECT 1 FROM F0100 
								WHERE 
									F0100.company_cd	=	@P_company_cd
								AND F0100.fiscal_year	=	@P_fiscal_year
								AND F0100.employee_cd	=	@P_employee_cd
								AND F0100.sheet_cd		=	@P_sheet_cd
								AND (
									F0100.rater_employee_cd_1	=	@login_employee_cd
								OR  F0100.rater_employee_cd_2	=	@login_employee_cd
								OR  F0100.rater_employee_cd_3	=	@login_employee_cd
								OR  F0100.rater_employee_cd_4	=	@login_employee_cd
								)
								AND F0100.del_datetime IS NULL
			)
			BEGIN
				SET @w_authority = 2	-- 2.更新可能
				SET @w_message = 'user is 2.評価者 (I2010 + I2020 + I2030 + Q0071) then can edited in I2010 +I2020'
				GOTO COMPLETED
			END
		END
	END
	ELSE
	BEGIN
		SET @w_authority = 2	-- 2.更新可能
		SET @w_message = '@P_sheet_cd = 0 or @P_employee_cd = '' then allaway edited'
		GOTO COMPLETED
	END
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--3.admin (check in S0021) for screen
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- check in S0021
	-- I2010 + I2020
	IF @authority_typ = 3 AND @sheet_kbn IN (1,2)
	BEGIN
		SELECT 
			@w_authority	=	ISNULL(S0021.authority,0)	--	0.参照不可　1.参照可能	2.更新可能
		FROM S0021
		WHERE 
			S0021.company_cd		=	@P_company_cd
		AND S0021.authority_cd		=	@authority_cd
		AND (
			@sheet_kbn = 1 AND S0021.function_id = 'I2010'	-- 目標評価シート
		OR	@sheet_kbn = 2 AND S0021.function_id = 'I2020'	-- 定性評価シート
		)
		--
		GOTO COMPLETED
	END
	-- I2030
	IF @authority_typ = 3 AND  @sheet_kbn IN (1,2)
	BEGIN
		SELECT 
			@w_authority	=	ISNULL(S0021.authority,0)	--	0.参照不可　1.参照可能	2.更新可能
		FROM S0021
		WHERE 
			S0021.company_cd		=	@P_company_cd
		AND S0021.authority_cd		=	@authority_cd
		AND S0021.function_id		=	'I2030'
		--
		GOTO COMPLETED
	END
	-- Q0071
	IF @authority_typ = 3 AND  @P_sheet_cd = 0
	BEGIN
		SELECT 
			@w_authority	=	ISNULL(S0021.authority,0)	--	0.参照不可　1.参照可能	2.更新可能
		FROM S0021
		WHERE 
			S0021.company_cd		=	@P_company_cd
		AND S0021.authority_cd		=	@authority_cd
		AND S0021.function_id		=	'Q0071'
		--
		GOTO COMPLETED
	END
	------------------------------------------------------
COMPLETED:
	-- [0]
	SELECT 
		@w_authority			AS	authority		--	0.参照不可　1.参照可能	2.更新可能
	,	@w_message				AS	message_result
END
GO
