DROP PROCEDURE [SPC_PERMISSION_CHK1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	CHECK PERMISSION OF ROUTER EVALUTATION
--*  
--* 作成日/create date			:	2020/05/18										
--*	作成者/creater				:	viettd				
--*   					
--*	更新日/update date			:	2020/05/22		
--*	更新者/updater				:　 	viettd					     	 
--*	更新内容/update content		:	add 4.会社管理者
--*   					
--*	更新日/update date			:	2020/10/09		
--*	更新者/updater				:　 	viettd					     	 
--*	更新内容/update content		:	upgrade ver1.7 & 1on1
--*   					
--*  更新日/update date			:	2022/08/16 			
--*　更新者/updater				:　	viettd　  　			
--*　更新内容/update content		:	upgradate ver 1.9
--* 				
--****************************************************************************************
CREATE PROCEDURE [SPC_PERMISSION_CHK1]
	@P_fiscal_year		int				=	0
,	@P_employee_cd		nvarchar(10)	=	''
,	@P_sheet_cd			smallint		=	0
,	@P_user_id			nvarchar(50)	=	''	-- LOGIN USER
,	@P_company_cd		smallint		=	0
,	@P_mode				tinyint			=	0	-- 0.common 1.screen
,	@chk				tinyint			=	2	OUTPUT	--	0.参照不可　1.参照可能	2.更新可能
AS
BEGIN
	SET NOCOUNT ON;
    --
	DECLARE 
		@authority_cd		smallint		=	0	--	login user authority_cd
	,	@login_employee_cd	nvarchar(10)	=	''	--	login employee_no
	,	@sheet_kbn			tinyint			=	0	--	1.目標評価シート 2.定性評価シート
	,	@authority_typ		smallint		=	0	--	1.被評価者 2.評価者 3.管理者 4.管理会社 5.総合管理者
	--
	SELECT 
		@login_employee_cd		=	ISNULL(S0010.employee_cd,'')
	,	@authority_cd			=	ISNULL(S0010.authority_cd,0)
	,	@authority_typ			=	ISNULL(S0010.authority_typ,0)
	FROM S0010
	WHERE
		S0010.company_cd	=	@P_company_cd
	AND S0010.user_id		=	@P_user_id
	AND S0010.del_datetime IS NULL
	--
	SELECT 
		@sheet_kbn	=	ISNULL(W_M0200.sheet_kbn,0)
	FROM W_M0200
	WHERE 
		W_M0200.company_cd	=	@P_company_cd
	AND W_M0200.fiscal_year	=	@P_fiscal_year
	AND W_M0200.sheet_cd	=	@P_sheet_cd
	AND W_M0200.del_datetime IS NULL
	--↓↓↓ add by viettd 2022/08/16
	IF @authority_typ = 6
	BEGIN
		SET @authority_typ = 2 -- 評価者
	END
	--↑↑↑ end add by viettd 2022/08/16
	--↓↓↓ add by viettd 2020/05/22
	IF @authority_typ IN(4,5)	-- 4.管理会社 5.総合管理者 add by viettd 2020/10/09
	BEGIN
		SET @chk = 2
		GOTO COMPLETED
	END
	--↑↑↑ end add by viettd 2020/05/22
	-- if login user is ３.管理者 
	IF @sheet_kbn IN (1,2) AND @authority_typ = 3
	BEGIN
		SELECT 
			@chk	=	ISNULL(S0021.authority,0)	--	0.参照不可　1.参照可能	2.更新可能
		FROM S0021
		WHERE 
			S0021.company_cd		=	@P_company_cd
		AND S0021.authority_cd		=	@authority_cd
		AND (
			@sheet_kbn = 1 AND S0021.function_id = 'I2010'	-- 目標評価シート
		OR	@sheet_kbn = 2 AND S0021.function_id = 'I2020'	-- 定性評価シート
		)
		GOTO COMPLETED
	END
	-- if login user is 彼評価者
	IF NOT EXISTS (SELECT 1 FROM F0100 
							WHERE 
								F0100.company_cd	=	@P_company_cd
							AND F0100.fiscal_year	=	@P_fiscal_year
							AND F0100.employee_cd	=	@P_employee_cd
							AND F0100.sheet_cd		=	@P_sheet_cd
							AND F0100.del_datetime IS NULL)
	BEGIN
		SET @chk = 2
		GOTO COMPLETED
	END
	-- if login user is 評価者
	IF EXISTS (SELECT 1 FROM F0100 
						WHERE 
							F0100.company_cd	=	@P_company_cd
						AND F0100.fiscal_year	=	@P_fiscal_year
						AND F0100.employee_cd	=	@P_employee_cd
						AND F0100.sheet_cd		=	@P_sheet_cd
						AND (
							F0100.employee_cd			=	@login_employee_cd
						OR  F0100.rater_employee_cd_1	=	@login_employee_cd
						OR  F0100.rater_employee_cd_2	=	@login_employee_cd
						OR  F0100.rater_employee_cd_3	=	@login_employee_cd
						OR  F0100.rater_employee_cd_4	=	@login_employee_cd
						)
						AND F0100.del_datetime IS NULL
	)
	BEGIN
		SET @chk = 2
		GOTO COMPLETED
	END
	------------------------------------------------------
COMPLETED:
	-- 
	IF @P_mode = 0
	BEGIN
		SELECT @chk			AS	chk	--	0.参照不可　1.参照可能	2.更新可能
	END
END
GO
