/****** Object:  StoredProcedure [dbo].[SPC_MESSAGE_ACT1]    Script Date: 2018/10/05 9:13:29 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_MESSAGE_ACT1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- SPC_M902_ACT1 ''
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M902-支社マスタメンテ
--*  
--*  作成日/create date			:	2015/09/23											
--*　作成者/creater				:	viettd　								
--*   					
--*  更新日/update date			:  						
--*　更新者/updater				:　  　								     	 
--*　更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_MESSAGE_ACT1]
	-- Add the parameters for the stored procedure here
	@P_message_cd		smallint		=	0
,	@P_type_message		smallint		=	0
,	@P_title_message	nvarchar(20)	=	''
,	@P_content_message	nvarchar(100)	=	''
,	@P_user_id			nvarchar(100)	=	''
,	@P_user_ip			nvarchar(100)	=	''

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	--１：確認　２：報告　３：警告　４：エラー
	SET NOCOUNT ON;
	DECLARE @w_time			date    		=	GETDATE()
	,	@ERR_TBL							ERRTABLE
	BEGIN TRY         --TRY開始
    BEGIN TRANSACTION --トランザクション開始
	IF EXISTS (SELECT 1 FROM L0020 WHERE message_cd = @P_message_cd)
	BEGIN
		UPDATE L0020 SET
			message_typ	=	@P_type_message
		,	message_nm	=	@P_title_message
		,	message		=	@P_content_message
		,	upd_datetime	=	@w_time
		,	upd_ip		=	@P_user_ip
		--,	upd_pg_id	=	'MESSAGE'
		,	upd_user	=	@P_user_id
		,	del_datetime	=	NULL
		,	del_ip		=	''
		,	del_user	=	''
		WHERE message_cd = @P_message_cd
	END
	ELSE
	BEGIN
		INSERT INTO L0020(
			message_cd
		,	message_typ
		,	message_nm
		,	message
		--,	cre_pg_id
		,	cre_user
		,	cre_ip
		,	cre_datetime
		,	upd_user
		,	upd_ip
		,	upd_datetime
		,	del_user
		,	del_ip)
		SELECT
			@P_message_cd				
		,	@P_type_message			
		,	@P_title_message		
		,	@P_content_message		
		,	@P_user_id 				
		,	@P_user_ip 				
		,	@w_time	   				
		,	NULL	   				
		,	NULL	   				
		,	NULL	   				
		,	NULL	   				
		,	NULL
	END
    END TRY
	--
    --Begin CATCH
    BEGIN CATCH
        INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCETION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
		ROLLBACK TRANSACTION
    END CATCH
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
	--
	--Return error content
	
	COMPLETE_QUERY:
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		message_no
END


GO
