/****** Object:  StoredProcedure [dbo].[SPC_M0020_LST1]    Script Date: 8/20/2018 11:57:39 PM ******/
SET ANSI_NULLS ON
DROP PROCEDURE [dbo].[SPC_M0140_LST1]
GO
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0140_評価フロー設定
--*  
--*  作成日/create date			:	2018/08/20				
--*　作成者/creater				:	datnt								
--*   					
--*  更新日/update date			:	2018/11/20
--*　更新者/updater				:　	Longvv-longvv@ans-asia.com
--*　更新内容/update content		:	半角のアンダーバー「_」で検索
--*   					
--*  更新日/update date			:	2021/06/07
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	fix error when organization_cd convert from smallint to nvarchar
--* EXEC SPC_M0140_LST1 '','1','10','740','0','5';
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0140_LST1]
	@P_search_key		NVARCHAR(200)	=	''
,	@P_current_page		SMALLINT		=	0
,	@P_page_size		SMALLINT		=	0
,	@P_company_cd		SMALLINT		=	0
,	@P_authority_cd		SMALLINT		=	0
,	@P_authority_typ	SMALLINT		=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE
		@totalRecord		BIGINT		= 0
	,	@pageNumber			INT			= 0
	,	@w_count			INT			= 0
	--
	CREATE TABLE #DATA(
		id					INT IDENTITY(1,1)
	,	arrange_order		INT
	,	organization_cd		NVARCHAR(20)			-- edited by viettd 2021/06/07 
	,	organization_nm		NVARCHAR(50)
	)
	--
	SET @w_count = (
		SELECT COUNT(1)
		FROM M0300 WITH(NOLOCK)
		LEFT JOIN M0020 ON(
			M0020.company_cd		=	M0300.company_cd
		AND	M0020.organization_cd_1	=	M0300.organization_cd
		AND M0020.organization_typ	=	1
		)
		LEFT OUTER JOIN S0022 WITH(NOLOCK) ON(
				M0020.company_cd		=	S0022.company_cd
	　	 AND	@P_authority_cd			= 	S0022.authority_cd
	　	 AND	M0020.organization_typ	= 	1
	　	 AND	M0020.organization_cd_1	= 	S0022.organization_cd_1
		 AND	M0020.organization_cd_2	= 	S0022.organization_cd_2
		 AND	M0020.organization_cd_3	= 	S0022.organization_cd_3
		 AND	M0020.organization_cd_4	= 	S0022.organization_cd_4
		 AND	M0020.organization_cd_5	= 	S0022.organization_cd_5
		  AND	S0022.del_datetime		IS NULL
		)
		 WHERE 
				(M0020.company_cd		= @P_company_cd)
		 AND	(@P_authority_typ <> 3 OR (@P_authority_typ =3 AND	S0022.authority	= 1))
		 AND	(M0020.del_datetime IS NULL)
	)
	--
	IF(@w_count <>0)
	BEGIN
		INSERT INTO #DATA
		SELECT DISTINCT
			M0300.arrange_order
		,	M0300.organization_cd
		,	M0020.organization_nm
		FROM M0300 WITH(NOLOCK)
		LEFT JOIN M0020 ON(
			M0020.company_cd		=	M0300.company_cd
		AND	M0020.organization_cd_1	=	M0300.organization_cd
		AND M0020.organization_typ	=	1
		 )
		 LEFT OUTER JOIN S0022 WITH(NOLOCK) ON(
				M0020.company_cd		=	S0022.company_cd
	　	 AND	@P_authority_cd			= 	S0022.authority_cd
	　	 AND	M0020.organization_typ	= 	1
	　	 AND	M0020.organization_cd_1	= 	S0022.organization_cd_1
		 AND	M0020.organization_cd_2	= 	S0022.organization_cd_2
		 AND	M0020.organization_cd_3	= 	S0022.organization_cd_3
		 AND	M0020.organization_cd_4	= 	S0022.organization_cd_4
		 AND	M0020.organization_cd_5	= 	S0022.organization_cd_5
		  AND	S0022.del_datetime		IS NULL)
		 WHERE 
				(M0300.company_cd		= @P_company_cd)
		 AND	(M0020.organization_typ = 1 AND	(@P_authority_typ <> 3 OR (@P_authority_typ =3 AND	S0022.authority	= 1)))
		 AND	(M0020.del_datetime IS NULL)
		AND	(	@P_search_key = '' 
			OR	dbo.FNC_COM_REPLACE_SPACE(M0020.organization_nm)		LIKE '%' +  dbo.FNC_COM_REPLACE_SPACE(@P_search_key) + '%' 
			OR	dbo.FNC_COM_REPLACE_SPACE(M0020.organization_ab_nm)		LIKE '%' +  dbo.FNC_COM_REPLACE_SPACE(@P_search_key) + '%' 
		)
		AND	M0300.del_datetime IS NULL
		 ORDER BY 
			M0300.arrange_order ASC
		,	M0300.organization_cd
	END
	ELSE
	BEGIN
		INSERT INTO #DATA
		SELECT DISTINCT
			M0300.arrange_order
		,	M0300.organization_cd
		,	M0020.organization_nm
		FROM M0300 WITH(NOLOCK)
		LEFT JOIN M0020 ON(
			M0020.company_cd		=	M0300.company_cd
		AND	M0020.organization_cd_1	=	M0300.organization_cd
		AND M0020.organization_typ	=	1
		 )
		 LEFT OUTER JOIN S0022 WITH(NOLOCK) ON(
				M0020.company_cd		=	S0022.company_cd
	　	 AND	@P_authority_cd			= 	S0022.authority_cd
	　	 AND	M0020.organization_typ	= 	1
	　	 AND	M0020.organization_cd_1	= 	S0022.organization_cd_1
		 AND	M0020.organization_cd_2	= 	S0022.organization_cd_2
		 AND	M0020.organization_cd_3	= 	S0022.organization_cd_3
		 AND	M0020.organization_cd_4	= 	S0022.organization_cd_4
		 AND	M0020.organization_cd_5	= 	S0022.organization_cd_5
		  AND	S0022.del_datetime		IS NULL)
		 WHERE 
				(M0300.company_cd		= @P_company_cd)
		 --AND	(M0020.organization_typ = 1 AND	(@P_authority_typ <> 3 OR (@P_authority_typ =3 AND	S0022.authority	= 1)))
		 AND	(M0020.del_datetime IS NULL)
		 AND	(@P_search_key = '' OR M0020.organization_nm LIKE '%' + @P_search_key + '%' 
								OR M0020.organization_ab_nm LIKE '%' + @P_search_key + '%')
		AND	M0300.del_datetime IS NULL
		 ORDER BY 
			M0300.arrange_order ASC
		,	M0300.organization_cd
	END
	--[0]
	SELECT
		organization_cd
	,	organization_nm
	,	arrange_order
	FROM #DATA
	ORDER BY arrange_order asc
	OFFSET (@P_current_page-1) * @P_page_size ROWS
	FETCH NEXT @P_page_size ROWS ONLY
	--	
	SET @totalRecord = (SELECT COUNT(*) FROM #DATA)
	SET @pageNumber = CEILING(CAST(@totalRecord AS FLOAT) / @P_page_size)
	--[1]
	SELECT	
		@totalRecord	AS totalRecord
	,	@pageNumber		AS pageMax
	,	@P_current_page AS [page]
	,	@P_page_size	AS pagesize
	-- clean
	DROP TABLE #DATA
END
GO