/****** Object:  StoredProcedure [dbo].[SPC_M0140_FND1]    Script Date: 2018/09/06 11:18:13 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_M0140_FND1]
SET QUOTED_IDENTIFIER ON
GO
-- EXEC SPC_M0130_INQ1 '';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0140_評語マスタ
--*  
--*  作成日/create date			:	2018/09/19					
--*　作成者/creater				:	datnt								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_M0140_FND1]
	-- Add the parameters for the stored procedure here
	@P_company_cd				SMALLINT		= 0
,	@P_organization_cd			NVARCHAR(50)		= ''
,	@P_user_id					NVARCHAR(50)	=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATE				=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE
	,	@order_by_min			INT					=	0
	,	@totalRecord			BIGINT				=	0
	,	@pageMax				INT					=	0	
	,	@page_size				INT					=	10
	,	@w_count				INT					=	0


	--[1]
	SELECT
		m0040.position_cd 
	,	M0300.organization_cd
	,	M0040.position_nm
	,	rater_position_cd_1
	,	M0040_1.position_nm		AS rater_position_nm_1
	,	rater_position_cd_2
	,	M0040_2.position_nm		AS rater_position_nm_2
	,	rater_position_cd_3
	,	M0040_3.position_nm		AS rater_position_nm_3
	,	rater_position_cd_4
	,	M0040_4.position_nm		AS rater_position_nm_4
	,	M0300.arrange_order
	FROM M0040
	LEFT JOIN M0300 ON(
		M0300.company_cd	=	M0040.company_cd
	AND	M0300.position_cd	=	M0040.position_cd
	AND	M0300.organization_cd = @P_organization_cd
	AND	M0300.del_datetime	IS NULL
	)
	LEFT JOIN M0040	AS M0040_1 ON(
		M0300.company_cd			=	M0040_1.company_cd
	AND	M0300.rater_position_cd_1	=	M0040_1.position_cd
	)
	LEFT JOIN M0040	AS M0040_2 ON(
		M0300.company_cd			=	M0040_2.company_cd
	AND	M0300.rater_position_cd_2	=	M0040_2.position_cd
	)
	LEFT JOIN M0040	AS M0040_3 ON(
		M0300.company_cd			=	M0040_3.company_cd
	AND	M0300.rater_position_cd_3	=	M0040_3.position_cd
	)
	LEFT JOIN M0040	AS M0040_4 ON(
		M0300.company_cd			=	M0040_4.company_cd
	AND	M0300.rater_position_cd_4	=	M0040_4.position_cd
	)
	WHERE	m0040.company_cd = @P_company_cd
	--AND		M0300.del_datetime IS NULL
	AND		M0040.del_datetime IS NULL
	--AND		(@P_organization_cd = '' OR (M0300.organization_cd = @P_organization_cd))
	ORDER BY m0040.arrange_order
		,	M0040.position_cd
	--[2]
		SELECT 
			position_cd
		,	position_nm
		FROM M0040
		WHERE company_cd = @P_company_cd
		AND		del_datetime IS NULL
		ORDER BY arrange_order
			,	position_cd

	--[3]
	DECLARE 
		@Count_Rater	SMALLINT	= 0
	SELECT 
	@Count_Rater =(	CASE
						WHEN
							SUM(ISNULL(M0100.target_evaluation_typ_1,0)+ISNULL(M0100.target_evaluation_typ_2,0)+ISNULL(M0100.target_evaluation_typ_3,0)+ISNULL(M0100.target_evaluation_typ_4,0)) 
						>	SUM(ISNULL(M0100.evaluation_typ_1,0)+ISNULL(M0100.evaluation_typ_2,0)+ISNULL(M0100.evaluation_typ_3,0)+ISNULL(M0100.evaluation_typ_4,0)) 
						THEN SUM(ISNULL(M0100.target_evaluation_typ_1,0)+ISNULL(M0100.target_evaluation_typ_2,0)+ISNULL(M0100.target_evaluation_typ_3,0)+ISNULL(M0100.target_evaluation_typ_4,0)) 
						ELSE SUM(ISNULL(M0100.evaluation_typ_1,0)+ISNULL(M0100.evaluation_typ_2,0)+ISNULL(M0100.evaluation_typ_3,0)+ISNULL(M0100.evaluation_typ_4,0)) 
					END)
	FROM M0100
	WHERE 
		M0100.company_cd	=	@P_company_cd
	AND	M0100.del_datetime	IS NULL

	SELECT
		CASE
			WHEN	@Count_Rater >= 1
			THEN	''
			ELSE	'disabled'
		END						AS	Rater1
	,	CASE
			WHEN	@Count_Rater >= 2
			THEN	''
			ELSE	'disabled'
		END						AS	Rater2
	,	CASE
			WHEN	@Count_Rater >= 3
			THEN	''
			ELSE	'disabled'
		END						AS	Rater3
	,	CASE
			WHEN	@Count_Rater = 4
			THEN	''
			ELSE	'disabled'
		END						AS	Rater4
	--[4]
	
		 
				
END
GO
