.w-100{
    width: 100px !important;
}
.w25{
    width: 25%;
}
.p0{
    padding: 0px;
}
.list-search-content .list-search-child {
    line-height: 40px !important;
}
@media screen and (min-width: 1000px) and   (max-width:1580px){
    .mnw180{
        min-width: 180px !important;
        width: 180px !important;
    }
    #btn-upload {
        position: absolute;
        top: 0px;
        left: 30%;
    }
    #btn-delete-file {
        position: absolute;
        top: 4px;
        left: 60%;
    }

}
@media (min-width: 1920px){
    .padLeft {
        padding-left: 5px;
    }
    #btn-upload {
        position: absolute;
        top: 0px;
        left: 30%;
    }
    #btn-delete-file {
        position: absolute;
        top: 4px;
        left: 50%;
    }
    .mgDivAuthority {
        margin-left: -55px;
    }
    .mgLeft {
        margin-left: -55px;
    }
}
@media (min-width: 1600px) and (max-width: 1919px){
    .wd {
        width: 160px;
    }
    .padLeft {
        padding-left: 35px;
    }
    #btn-upload {
        position: absolute;
        top: 0px;
        left: 35px;
    }
    #btn-delete-file {
        position: absolute;
        top: 4px;
        left: 65px;
    }
    .mgLeft {
        margin-left: -5px !important;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1599px){
    .wd {
        width: 130px;
    }
    .mgLeft {
        margin-left: 10px;
    }
    #authority_cd {
        margin-left: 20px;
    }
}
.input-group .form-control {
     width: 100%; 
}

.avatar {

}
.avatar .img {

}
.avatar .img p {

}
.avatar .img.loaded p {
    display: none;
}

#table_data{
    cursor:-moz-grab;
    cursor:-webkit-grab;
    cursor: move;
}
.no-required{
    background: none !important;
} 
/*#img-upload{
    width: 100%!important;
    height: 100%!important;
    display: flex;
}*/
.flex-box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
}
#imageMain {
    margin-top: 10px;
    position: relative;
}

.img > .flex-box {
    width: 120px;
    height: 120px;
    /*overflow: hidden;*/
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
   /* border: 1px solid #ddd;
    border-radius: 50%;*/
    transition: ease 0.52s border-color;
    -moz-transition: ease 0.52s border-color;
    -webkit-transition: ease 0.52s border-color;
    -ms-transition: ease 0.52s border-color;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
/*    padding: 5px;*/
    cursor: pointer;
    margin: 0 auto;
}
.flex-box-image {
     border: 1px solid #ddd;
    border-radius: 50%;
}
.loaded .imgs {
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
/*.bor_radius {
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 0 auto;
}*/

.img > .flex-box img {
    width: 120px;
    height: 120px;
    border-radius: 400px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px #ccc, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    background-size: 100%!important;
    object-fit:cover ;
}
.w-50px {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}
.w-80px {
     width: 80px;
     min-width: 80px;
     max-width: 80px;
 }
 .w-100px {
     width: 80px;
     min-width: 80px;
     max-width: 80px;
 }
.w-120px {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}
.w-140px {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
}
.w-160px {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}

.flex-box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
    position: relative;
}
/*.img > .flex-box {
    width: 100%;
    height: 120px;
    overflow: hidden;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #ddd;
    transition: ease 0.52s border-color;
    -moz-transition: ease 0.52s border-color;
    -webkit-transition: ease 0.52s border-color;
    -ms-transition: ease 0.52s border-color;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}
.img > .flex-box img {
    max-width: 100%;
    max-height: 100%;
}*/
.img > .flex-box p {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
#showPass {
    margin-top: 17px;
}

#btn_show_password+label:before {
    content: " ";
    display: none; /* tuan edit 2018-11-12*/
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    background-color: #3598DB;
    position: relative;
    top: 2px;
    margin-right: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#btn_show_password+label:after {
    content: " ";
    display: inline-block;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    background-color: #3598DB;
    position: relative;
    top: 2px;
    left: 5px;
    margin-right: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#btn_show_password:checked+label:after {
    background: #3598DB;
    color: #fff;
    content: "\2713";
    text-align: center;
    font-family: FontAwesome;
    font-size: .675rem;
    font-weight: bold;
}

.widthShowPass {
    width: 150px;
}

#base_salary {
    width: 85%;
}
.wd {
    width: 160px;
    text-align: left;
}
.fa1 {
    color: #2A70B8;
    cursor: pointer;
    font-size: 16px;
    margin-top: 4px;
    cursor: pointer;
    border: 1px solid #2A70B8;
    padding: 6px 3px 5px 6px;
    border-radius: 50%;
}
.fa1:hover{
    background: #2A70B8 ;
    color: white;
}
/*.fa1:hover .fa-folder-open {
    color: red;
}*/
.fa3 {
    margin-top: 0px;
    font-size: 18px;
    cursor: pointer;
}
.btn-clearfile {
    margin-left: 7px;
    cursor: pointer;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: #d9534f;
    border-image: initial;
    border-radius: 50%;
    padding: 5px 5px 0px 5px;
    color: #d9534f;
    /*height: 25px;*/
}
.btn-clearfile:hover {
    background: #d9534f;
    color: white;
}
.w100 {
    width: 100%;
}


.news{
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #e6e6e6;
}
.article {
    width: 200px;
    height: 220px;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    vertical-align:top;
}
.thumb {
   /* width: 135px ;
    height: 120px ;*/
    /*background-color: #3e3e3e;*/
   /* background-image: none;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.tmp-col-md {
    margin-left: 20px;
}
.col-auto{
    width: 85%;
    float: left;
}
.col-auto2{
    width: 10%;
    float: left;
}

.col-md-col1{
    padding-right: 10px;
    padding-left: 10px;
    min-width: 170px;
    max-width: 14.5%;
    float: left;
}
.col-md-col2{
    width: 14%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.col-md-col3{
    padding-right: 10px;
    padding-left: 10px;
    min-width: 170px;
    max-width: 14.5%;
    float: left;
}
.col-md-col4{
    padding-right: 10px;
    padding-left: 10px;
    min-width: 170px;
    max-width: 14.5%;
    float: left;
}
.col-md-col5{
    padding-right: 10px;
    padding-left: 10px;
}
.col-md190{
    width: 190px;
}
.div-col-md1{
    float: left;
    width: 45px;
    margin-left: 10px;
    margin-right: 10px;
}
.div-col-md2{
    float: left;
    width: 110px;
    margin-left: 20px;
    margin-right: 20px;
}
.div-col-md3{
    float: left;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
}
#btn_show_password{
    height: 36px;
}
  .show_typePassWord {
   text-security: disc;
   -webkit-text-security: disc;
   -moz-text-security: disc;
}  
.div_left_company_out_dt:not(.active){
    background-color: #d3d3d3;
    border-left: 3px solid #d3d3d3;
    border-bottom: 1px solid #ddd;
}
.div_valuated_typ:not(.active){
    background-color: #66cc99;
    border-left: 3px solid #66cc99;
    border-bottom: 1px solid #ddd;
}
.select-width {
    min-width: 315px;
    max-width: 270px;
}
.select-width2 {
    min-width: 130px;
    max-width: 130px;
}
@media (max-width: 575px) {
	.select-width {
        min-width: unset;
        max-width: unset;
    }
    .select-width2 {
        min-width: unset;
        max-width: unset;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    #table-data {
        min-width: 1473px;
    }
    .select-width {
        min-width: unset;
        max-width: unset;
    }
    .select-width2 {
        min-width: unset;
        max-width: unset;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
    .span-width {
        width: 120px;
    }
}
@media (min-width: 1301px) and (max-width: 1450px) {
    .span-width {
        width: 210px;
    }
}
@media (min-width: 1451px) and (max-width: 1700px) {
    .span-width {
        width: 275px;
    }
}
@media (min-width: 1701px){
    .span-width {
        width: 370px;
    }
}
@media (min-width: 1280px) and (max-width: 1300px) {
    .span-width {
        width: 160px;
    }
}
@media (min-width: 320px) and (max-width: 400px) {
    .span-width {
        width: 150px;
    }
}
@media (min-width: 1080px) {
    .max_width_250 {
        min-width: 250px;
    }
}