.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ffc107;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ffc10785;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #EAEAEA;
  cursor: default;
  border: 1px solid #d0d3d6;
}

.form-control[readonly]:focus {
  box-shadow: unset;
  -moz-box-shadow: unset;
  -webkit-box-shadow: unset;
}

.header-oneonone.navbar {
  border-bottom: 2px solid #f5d2a1;
  border-top: 3px solid #c17900;
}

.header-oneonone ul.right>li:first-child {
  border-left: 1px solid #c17900;
}

.header-oneonone ul.right>li:not(:last-child) {
  border-right: 1px solid #c17900;
}

.header-oneonone .nav-link.icon.logout {
  color: white;
  background-color: #c17900 !important;
  text-align: center;
  text-decoration: none;
}

.footer-oneonone {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  background-color: #f9a825;
  margin-top: 15px;
}

.main-oneonone .main-nav>ul {
  margin-bottom: 0;
  background-color: #c17900;
}

.main-oneonone .main-nav>ul>li:hover>a {
  background-color: #f9a825;
  position: relative;
}

.main-oneonone .main-nav>ul>li:hover>a:before {
  background: #f9a825;
}

.main-oneonone .mcd-menu li ul li {
  border-bottom: 1px solid #fff;
}

.main-oneonone .mcd-menu li:hover>ul,
.main-oneonone .mcd-menu li ul li:hover>ul {
  background-color: #c17900;
}

.main-oneonone .mcd-menu li ul li:hover a {
  text-decoration: none;
  background-color: #f9a825 !important;
}

.refer_screen div:nth-child(2) {
  padding-top: 10px;
}

.oneoneone_title {
  border-bottom: 3px solid #c17900 !important;
}

.footer,
.footer-oneonone,
.footer-xam,
.footer-mlayout {
  min-height: 35px;
}

.list-search-head-oneonone,
.list-search-head {
  text-align: center;
  background-color: #c17900;
  color: #fff;
  padding: 5px;
}

/*settingdashboard*/
.settingdashboard .col-md-3.dashboard:hover {
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.head-oneonone {
  background: #c17900 !important;
}

/* .one-table thead tr th{
    background-color: #EAEBEE;
    color:black;
} */
.list2 td {
  padding: 12px;
}

#breadcrumb li a {
  background: #f9a825 !important;
}

#breadcrumb li a:after {
  border-left-color: #f9a825 !important;
}

#breadcrumb li.active a:before {
  border-color: #c17900;
  border-left-color: transparent;
}

#breadcrumb li.active a {
  background-color: #c17900 !important;
}

.header td {
  color: #c17900 !important;
}

.header .dropdown-toggle::after {
  color: #c17900 !important;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range) i {
  color: #c17900 !important;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range) {
  color: #c17900 !important;
  border: 1px solid #dee2e6;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):focus,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):active,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):hover {
  background-color: #c17900 !important;
  color: white !important;
  border: 1px solid #dee2e6;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):active i,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):hover i,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):focus i {
  color: #fff !important;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #c17900 !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #c17900 !important;
}

.md-radio-v2 input[type="radio"]:checked+label:before {
  border: 1px solid #c17900 !important;
}

.md-radio-v2 label {
  color: #c17900 !important;
}

.md-radio-v2 label:before {
  border: 1px solid #c17900 !important;
}

.md-radio-v2 label:after {
  background: #c17900 !important;
}

.md-radio-v2 input[type="radio"]:checked+label {
  color: #c17900 !important;
}

.md-checkbox-v2 input[type="checkbox"]+label:not(disabled):before {
  background-color: #c17900 !important;
}

.md-checkbox-v2 input[type="checkbox"][disabled]+label:before {
  background: #EAEAEA !important;
  color: #fff !important;
}

.md-checkbox-v2 input[type="checkbox"]+label {
  color: #c17900 !important;
}

.md-checkbox-v2 input[type="checkbox"]:checked+label:before {
  background: #c17900 !important;

}

.md-checkbox-v2 input[type="checkbox"]:checked+label {
  color: #c17900 !important;
}

.md-checkbox-v2 input[type="checkbox"]:focus+label::before {
  outline: rgb(193, 121, 0) auto 5px;
}

.list-search-content .list-search-child:hover,
.list-search-content .list-search-child.active {
  border-left: 3px solid #c17900 !important;
}

.list-search-content .list-search-child.active {
  border-left: 3px solid #c17900 !important;
}

.line-border-bottom {
  border-left: 5px solid #c17900 !important;
  color: #c17900 !important;
}

.pagination.circle.outline li.active .page-link {
  border: 1px solid #c17900 !important;
  background: #c17900 !important;
}

.pagination.circle.outline li:not([disabled]):hover .page-link,
.pagination.circle.outline li:not([disabled]):focus .page-link,
.pagination.circle.outline li:not([disabled]):active .page-link {
  border: 1px solid #c17900 !important;
}

.pagination.circl li:hover .page-link,
.pagination.circl li:focus .page-link,
.pagination.circl li:active .page-link {
  background: #c17900 !important;
}

.one-btn {
  background-color: #c17900 !important;
}


/* dropdownlist with image */
.desc {
  color: #6b6b6b;
}

.desc a {
  color: #0092dd;
}

.dropdown dd,
.dropdown dt,
.dropdown ul {
  margin: 0px;
  padding: 0px;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  text-decoration: none;
  outline: none;
}

.dropdown dt a:hover {
  color: #5d4617;
  border: 1px solid #d0c9af;
  background-color: white;
}

.dropdown dt a {
  background: transparent url('/template/image/icon/1on1/drop-down-arrow.png') no-repeat scroll right center;
  display: block;
  padding-right: 15px;
  width: 100px;
  border: 1px solid transparent;
}

.dropdown dt a.readonly_img {
  background-image: none;
  background-color: #eaeaea !important;
  padding-right: 1px;
  border: 1px solid #d0c9af;
}

.dropdown dt a span {
  cursor: pointer;
  display: block;
  padding: 5px;
}

.dropdown dt a.readonly_img span {
  cursor: not-allowed;
}

.dropdown dd ul {
  background: white none repeat scroll 0 0;
  border: 1px solid #d4ca9a;
  color: #C5C0B0;
  display: none;
  left: 0px;
  padding: 5px 0px;
  position: absolute;
  top: 2px;
  width: auto;
  min-width: 100px;
  list-style: none;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: rgba(0, 0, 0, .075);
}

.dropdown img.flag {
  border: none;
  vertical-align: middle;
  margin-left: 10px;
}

.flagvisibility {
  display: none;
}

.dropdown dt a:not(.readonly_img):focus {
  background-color: white !important;
  border: 1px solid #d0c9af;
}

dd ul li {
  text-align: center;
}

/* end dropdownlist with image */
.header .dropdown-item {
  background-color: #fc933c;
  color: white;
  padding: 7px 15px;
  font-size: 14px;
  cursor: pointer;
}

.header .dropdown-item:not(:last-child) {
  border-bottom: 1px solid #c17900;
}

.header .dropdown-item:hover {
  background-color: #fc933c;
  opacity: 0.75;
}

.header .dropdown-menu {
  border: 1px solid #fc933c;
}

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
  background: #c17900;
}

.dtp div.dtp-date,
.dtp div.dtp-time {
  background: #f9a825;
}

.dtp table.dtp-picker-days tr>td>a.selected {
  background: #f9a825;
}

.dtp table.dtp-picker-days tr>td>a:hover,
.dtp table.dtp-picker-days tr>td>a:focus {
  background: #c17900;
}

.dtp-buttons .btn:focus,
.dtp-buttons .btn:hover {
  background: #c17900;
}

.dtp-buttons .btn {
  background: #f9a825;
}

.month-picker-item.active {
  color: #c17900;
}

.month-picker-item:hover {
  color: #c17900;
}

.year-picker-item.active {
  color: #c17900;
}

.year-picker-item:hover {
  color: #f9a825;
}

.member-list a.disabled {
  cursor: default;
  text-decoration: none;
  color: black;
}

.btn-group.my_container.show button.multiselect.dropdown-toggle.btn.btn-default,
button.multiselect.dropdown-toggle.btn.btn-default:focus {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #ffc107 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem #ffc10785 !important;
}

.search_layout_input {
  height: 37px;
  width: 35vw;
}
.ellipsis {
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow-wrap:break-word;
}
