.list-search-content .list-search-child{
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-bottom:1px solid #d0d6da;
    border-left: 3px solid #fff;
    cursor: pointer;
    overflow: hidden;
}
.list-search-content .list-search-child p{
     width:100%;
     white-space:nowrap;
     overflow:hidden;
     text-overflow:ellipsis;
}
/*@-moz-document url-prefix() {
    #leftcontent {
        height: 205vh;
        padding-right: 10px;
    }
    #rightcontent {
        height: 205vh;
        padding-left: 10px;
    }
}*/
.text-area .input-group-btn + .lg{
 /*position: relative;*/
   /*top: 0px;*/
   /*margin-left: 50%;*/
   width: 80px;
}
.text-area .lg{
    position: absolute;
    bottom: -16px;
    /*height: 20px;*/
    padding: 0px !important;
    display: inline-block !important;
    top:unset !important;
}
.w30 {
    width: 30%;
}
.w40 {
    width: 40%;
}
.w-40 {
    min-width: 40px;
}
.table tbody tr {
    background-color: #ffffff ;
}
.table tbody tr:hover>.td-group{
background-color: White ;
}
.table tbody tr .td-group:hover{
    background-color: rgba(0,0,0,.05) !important;
}
.table tbody tr:hover > td:not(.td-group){
    background-color: rgba(0,0,0,.05) !important;
}
.table tbody tr .td-group:hover ~ td{
    background-color: White !important;
}
.table tbody tr .td-group {
    /*background-color: rgba(0,0,0,.05);*/
    cursor: pointer;
}
.td-selected-white{
	background-color: rgba(0,0,0,.05) !important;
}
.td-selected-gray{
	background-color: rgba(0,0,0,.05)!important;
}
.tab-content{
    width: 100%;
}
.table-responsive.has-copy {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.2);
    border:1px solid #3c763d;
}
.calHe.has-copy:before,
.calHe.has-copy:after {
    position: absolute;
    top: 10px;
    left: -75%;
    right: 0;
    margin: auto;
}
.calHe.has-copy:after {
    content: "コピー中";
    top:55px;
    font-size: 13px;
}

.table-bordered {
    border: 1px solid #dee2e6 !important;
}
.mw-150{
    min-width: 150px;
    text-align: left;
}
.mw-150[lh-language="Required"]{
    min-width: 193px;
    text-align: left;
}


@media (min-width:1200px) and (max-width:1440px) {
    .col-xl-2{
        flex: 0 0 20%;
        max-width: 20%;
    }
}
.div_button_exe {
    padding-left: 10px;
    padding-right: 10px;
}
#kot_client_id {
    cursor: text;
}
#kot_client_secret {
    cursor: text;
}
.button_freee {
    padding-left: 10px;
    padding-right: 10px;
    width:330px;
}
@media (min-width:1200px)  {
    .last_row {
        height: 55px;
    }
}