IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_oI2010_ACT2]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_oI2010_ACT2]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：OI2010 - SAVE Temporary
 *
 *  作成日  ：2021-12-03
 *  作成者  ：ANS-ASIA VIETDT
 *
 *  更新日  ：2022/03/10
 *  更新者  ：ANS-ASIA VIETDT
 *  更新内容：cr remove insert-update F2010
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_oI2010_ACT2] 
	@P_company_cd		SMALLINT		= 0
,	@P_json				NVARCHAR(MAX)	= ''
,	@P_cre_user			NVARCHAR(50)	= ''
,	@P_cre_ip			NVARCHAR(50)	= ''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@fiscal_year				SMALLINT		= 0
	,	@member_cd					NVARCHAR(10)	= ''
	,	@coach_cd					NVARCHAR(10)	= ''
	,	@times						SMALLINT		= 0
	,	@interview_cd				SMALLINT		=	-1
	,	@adaption_date				DATE			=	NULL
	,	@oneonone_schedule_date		DATE			=	NULL
	,	@fullfillment_type			SMALLINT		=	0
	,	@screen_mode				NVARCHAR(20)	=	''  --1*:member screen [11: first time / 12 save before / 13:save after]
															--2*:coach screen [21: first time / 22 save before / 23:save after]
	,	@free_question				NVARCHAR(500)	=	''
	,	@member_comment 			NVARCHAR(400)	=	''
	,	@coach_comment1 			NVARCHAR(400)	=	''
	,	@next_action    			NVARCHAR(400)	=	''
	,	@coach_comment2 			NVARCHAR(400)	=	''
	--delete vietdt 2022/03/10
	--,	@target1  					NVARCHAR(1000)	=	''
	--,	@target2  					NVARCHAR(1000)	=	''
	--,	@target3  					NVARCHAR(1000)	=	''
	--,	@comment					NVARCHAR(400)	=	''
	,	@w_1on1_authority_typ		SMALLINT		=	0	-- add by viettd 2021/08/05
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	--
	SET @fullfillment_type		=	JSON_VALUE(@P_json,'$.fullfillment_type')
	SET @free_question			=	JSON_VALUE(@P_json,'$.free_question')
	SET @member_comment 		=	JSON_VALUE(@P_json,'$.member_comment')
	SET @coach_comment1 		=	JSON_VALUE(@P_json,'$.coach_comment1')
	SET @next_action    		=	JSON_VALUE(@P_json,'$.next_action')
	SET @coach_comment2 		=	JSON_VALUE(@P_json,'$.coach_comment2')
	--delete vietdt 2022/03/10
	--SET @target1  				=	JSON_VALUE(@P_json,'$.target1')
	--SET @target2  				=	JSON_VALUE(@P_json,'$.target2')
	--SET @target3  				=	JSON_VALUE(@P_json,'$.target3')
	--SET @comment				=	JSON_VALUE(@P_json,'$.comment')
	SET @fiscal_year			=	JSON_VALUE(@P_json,'$.fiscal_year')
	SET @member_cd				=	JSON_VALUE(@P_json,'$.member_cd')
	SET @times					=	JSON_VALUE(@P_json,'$.times')
	SET	@oneonone_schedule_date =	JSON_VALUE(@P_json,'$.oneonone_schedule_date')
	IF @oneonone_schedule_date = '1900-01-01'
	BEGIN
		SET @oneonone_schedule_date = NULL
	END
	SELECT 
		@interview_cd	= F2001.interview_cd
	,	@adaption_date	= F2001.adaption_date
	,	@coach_cd		= F2001.coach_cd
	FROM F2001
	WHERE 
		company_cd	= @P_company_cd
	AND fiscal_year	= @fiscal_year
	AND employee_cd	= @member_cd
	AND times		= @times
	AND del_datetime IS NULL
	-- add by viettd 2021/07/28
	SELECT 
		@w_1on1_authority_typ	=	ISNULL(S0010.[1on1_authority_typ],0)
	FROM S0010
	WHERE 
		S0010.company_cd	=	@P_company_cd
	AND S0010.user_id		=	@P_cre_user
	AND S0010.del_datetime IS NULL
	-- end add by viettd 2021/07/28
	CREATE TABLE #MODE(
		fiscal_year			INT
	,	employee_cd			NVARCHAR(20)
	,	times				INT
	,	coach_cd			NVARCHAR(20)
	,	interview_cd		INT
	,	adaption_date		DATE
	,	screen_mode			INT   --1*:member screen [11: first time / 12 save before / 13:save after]
								  --2*:coach screen [21: first time / 22 save before / 23:save after]
	,	permission			SMALLINT
	,	coach_comment2_typ	SMALLINT-- 0. not view,1. view
	)
	INSERT INTO #MODE
	EXEC [dbo].SPC_oI2010_CHK1 @P_company_cd,@fiscal_year,@member_cd,@P_cre_user,@times
	--
	CREATE TABLE #TBL_JSON_QUESTION(
		interview_gyocd		INT
	,	answer				NVARCHAR(200)
	)
	INSERT INTO #TBL_JSON_QUESTION
	SELECT 
		interview_gyocd	
	,	answer			
	FROM OPENJSON(@P_json,'$.list_question') WITH(
		interview_gyocd		INT
	,	answer				NVARCHAR(200)
	)
	
	IF NOT EXISTS (SELECT 1 FROM #TBL_JSON_QUESTION WHERE answer <> '' )
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			125								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'atleast 1 answer'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN 
			SET @screen_mode = (SELECT #MODE.screen_mode FROM #MODE)
			--Insert・Update（Save Temporary 1on1前登録）※Member
			IF @screen_mode = 11
			BEGIN
				IF NOT EXISTS (SELECT 1 FROM F2200_temp 
										WHERE 
											company_cd		=	@P_company_cd
										AND	fiscal_year		=	@fiscal_year
										AND	employee_cd		=	@member_cd
										AND	times			=	@times
										AND	interview_cd	=	@interview_cd
										AND	adaption_date	=	@adaption_date
										AND	input_user		=	@P_cre_user
										)
				BEGIN
					INSERT INTO F2200_temp 
					SELECT 
						@P_company_cd
					,	@fiscal_year
					,	@member_cd
					,	@times
					,	@interview_cd
					,	@adaption_date
					,	@P_cre_user
					,	@oneonone_schedule_date
					,	@fullfillment_type		--fullfillment_type
					,	@free_question		--free_question
					,	@member_comment		--member_comment
					,	@coach_comment1		--coach_comment1
					,	@next_action		--next_action
					,	@coach_comment2		--coach_comment2
					,	@P_cre_user
					,	@P_cre_ip
					,	'oI2010'
					,	@w_time
					,	''
					,	''
					,	''
					,	NULL
					,	''
					,	''
					,	''
					,	NULL
				END
				ELSE
				BEGIN
					UPDATE F2200_temp SET 
						interview_date			=	@oneonone_schedule_date
					,	fullfillment_type		=	@fullfillment_type
					,	free_question			=	@free_question
					,	upd_user				=	@P_cre_user
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	'oI2010'
					,	upd_datetime			=	@w_time
					,	del_user				=	''
					,	del_ip					=	''
					,	del_prg					=	''
					,	del_datetime			=	NULL
					FROM F2200_temp 
					WHERE 
						company_cd		=	@P_company_cd
					AND	fiscal_year		=	@fiscal_year
					AND	employee_cd		=	@member_cd
					AND	times			=	@times
					AND	interview_cd	=	@interview_cd
					AND	adaption_date	=	@adaption_date
					AND	input_user		=	@P_cre_user
				END
				--F2201
				IF NOT EXISTS (SELECT 1 FROM F2201_temp 
										WHERE 
											F2201_temp.company_cd		=	@P_company_cd		
										AND	F2201_temp.fiscal_year		=	@fiscal_year		
										AND	F2201_temp.employee_cd		=	@member_cd			
										AND	F2201_temp.times			=	@times				
										AND	F2201_temp.interview_cd		=	@interview_cd		
										AND	F2201_temp.adaption_date	=	@adaption_date		
										AND	F2201_temp.input_user		=	@P_cre_user			
										)
				BEGIN
					INSERT INTO F2201_temp
					SELECT 
						@P_company_cd
					,	@fiscal_year
					,	@member_cd
					,	@times
					,	@interview_cd
					,	@adaption_date
					,	@P_cre_user
					,	#QUESTION.interview_gyocd
					,	#QUESTION.answer
					,	@P_cre_user
					,	@P_cre_ip
					,	'oI2010'
					,	@w_time
					,	''
					,	''
					,	''
					,	NULL
					,	''
					,	''
					,	''
					,	NULL
					FROM #TBL_JSON_QUESTION AS #QUESTION 
				END
				ELSE
				BEGIN
					UPDATE F2201_temp
					SET
						interview_gyocd			=	#QUESTION.interview_gyocd
					,	answer					=	#QUESTION.answer
					,	upd_user				=	@P_cre_user
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	'oI2010'
					,	upd_datetime			=	@w_time
					,	del_user				=	''
					,	del_ip					=	''
					,	del_prg					=	''
					,	del_datetime			=	NULL
					FROM F2201_temp 
					INNER JOIN #TBL_JSON_QUESTION AS #QUESTION  ON(
						@P_company_cd				= F2201_temp.company_cd
					AND	@fiscal_year				= F2201_temp.fiscal_year
					AND	@member_cd					= F2201_temp.employee_cd
					AND	@times						= F2201_temp.times
					AND	@interview_cd				= F2201_temp.interview_cd
					AND	@adaption_date				= F2201_temp.adaption_date
					AND	@P_cre_user					= F2201_temp.input_user
					AND #QUESTION.interview_gyocd	= F2201_temp.interview_gyocd
					AND F2201_temp.del_datetime IS NULL
					)
				END
			END
			--Insert・Update（Save Temporary 1on1終了後登録）
			ELSE	
			BEGIN
				--※Member  OR  総合管理者/admin all
				IF @screen_mode = 12 OR @w_1on1_authority_typ IN(4,5)
				BEGIN
					IF NOT EXISTS (SELECT 1 FROM F2200_temp 
											WHERE 
												company_cd		=	@P_company_cd
											AND	fiscal_year		=	@fiscal_year
											AND	employee_cd		=	@member_cd
											AND	times			=	@times
											AND	interview_cd	=	@interview_cd
											AND	adaption_date	=	@adaption_date
											AND	input_user		=	@P_cre_user
											)
					BEGIN
						INSERT INTO F2200_temp 
						SELECT 
							@P_company_cd
						,	@fiscal_year
						,	@member_cd
						,	@times
						,	@interview_cd
						,	@adaption_date
						,	@P_cre_user
						,	@oneonone_schedule_date
						,	@fullfillment_type		--fullfillment_type
						,	@free_question		--free_question
						,	@member_comment		--member_comment
						,	CASE
								WHEN	@w_1on1_authority_typ IN(4,5)
								THEN	@coach_comment1
								ELSE	''
							END					--coach_comment1
						,	@next_action		--next_action
						,	CASE
								WHEN	@w_1on1_authority_typ IN(4,5)
								THEN	@coach_comment2
								ELSE	''
							END					--coach_comment2
						,	@P_cre_user
						,	@P_cre_ip
						,	'oI2010'
						,	@w_time
						,	''
						,	''
						,	''
						,	NULL
						,	''
						,	''
						,	''
						,	NULL
					END
					ELSE
					BEGIN
						UPDATE F2200_temp SET 
							member_comment			=	@member_comment
						,	next_action				=	@next_action
						,	coach_comment1			=	CASE
															WHEN	@w_1on1_authority_typ IN(4,5)
															THEN	@coach_comment1
															ELSE	''
														END					--coach_comment1
						,	coach_comment2			=	CASE
															WHEN	@w_1on1_authority_typ IN(4,5)
															THEN	@coach_comment2
															ELSE	''
														END					--coach_comment2
						,	upd_user				=	@P_cre_user
						,	upd_ip					=	@P_cre_ip
						,	upd_prg					=	'oI2010'
						,	upd_datetime			=	@w_time
						,	del_user				=	''
						,	del_ip					=	''
						,	del_prg					=	''
						,	del_datetime			=	NULL
						FROM F2200_temp 
						WHERE 
							company_cd		=	@P_company_cd
						AND	fiscal_year		=	@fiscal_year
						AND	employee_cd		=	@member_cd
						AND	times			=	@times
						AND	interview_cd	=	@interview_cd
						AND	adaption_date	=	@adaption_date
						AND	input_user		=	@P_cre_user
					END
					--
					--delete vietdt 2022/03/10
					--IF @screen_mode = 12
					--BEGIN
					--	IF NOT EXISTS (SELECT 1 FROM F2100
					--						WHERE company_cd	= @P_company_cd 
					--							AND fiscal_year = @fiscal_year
					--							AND employee_cd	= @member_cd)
					--	BEGIN
					--		--
					--		INSERT INTO F2100
					--		SELECT
					--			@P_company_cd
					--		,	@fiscal_year
					--		,	@member_cd
					--		,	@target1
					--		,	@target2
					--		,	@target3
					--		,	@comment
					--		,	@P_cre_user
					--		,	@P_cre_ip
					--		,	'oI2010'
					--		,	@w_time
					--		,	''
					--		,	''
					--		,	''
					--		,	NULL
					--		,	''
					--		,	''
					--		,	''
					--		,	NULL
					--	END
					--ELSE
					--BEGIN
					--	--UPDATE
					--	UPDATE F2100
					--	SET
					--		target1					=	CASE 
					--										WHEN M2200.target1_use_typ = 1
					--										THEN @target1
					--										ELSE F2100.target1
					--									END 
					--	,	target2					=	CASE 
					--										WHEN M2200.target2_use_typ = 1
					--										THEN @target2
					--										ELSE F2100.target2
					--									END
					--	,	target3					=	CASE 
					--										WHEN M2200.target3_use_typ = 1
					--										THEN @target3
					--										ELSE F2100.target3
					--									END
					--	,	comment					=	CASE 
					--										WHEN M2200.comment_use_typ = 1
					--										THEN @comment
					--										ELSE F2100.comment
					--									END
					--	,	upd_user				=	@P_cre_user
					--	,	upd_ip					=	@P_cre_ip
					--	,	upd_prg					=	'oI2010'
					--	,	upd_datetime			=	@w_time
					--	,	del_user				=	''
					--	,	del_ip					=	''
					--	,	del_prg					=	''
					--	,	del_datetime			=	NULL
					--	FROM F2100
					--	INNER JOIN M2200 ON (					
					--		M2200.company_cd		=	F2100.company_cd
					--	AND M2200.interview_cd		=	@interview_cd
					--	AND M2200.adaption_date		=	@adaption_date
					--	AND M2200.del_datetime	IS NULL
					--	)
					--	WHERE 
					--		F2100.company_cd	= @P_company_cd 
					--	AND	F2100.fiscal_year	= @fiscal_year
					--	AND F2100.employee_cd	= @member_cd
					--END
					--END
				END
				--※Coach OR 総合管理者/admin all
				IF @screen_mode = 22 AND @w_1on1_authority_typ NOT IN(4,5)
				BEGIN
				IF NOT EXISTS (SELECT 1 FROM F2200_temp 
										WHERE 
											company_cd		=	@P_company_cd
										AND	fiscal_year		=	@fiscal_year
										AND	employee_cd		=	@member_cd
										AND	times			=	@times
										AND	interview_cd	=	@interview_cd
										AND	adaption_date	=	@adaption_date
										AND	input_user		=	@P_cre_user
										)
				BEGIN
					INSERT INTO F2200_temp 
					SELECT 
						@P_company_cd
					,	@fiscal_year
					,	@member_cd
					,	@times
					,	@interview_cd
					,	@adaption_date
					,	@P_cre_user
					,	@oneonone_schedule_date
					,	@fullfillment_type	--fullfillment_type
					,	@free_question		--free_question
					,	''					--member_comment
					,	@coach_comment1		--coach_comment1
					,	''					--next_action
					,	@coach_comment2		--coach_comment2
					,	@P_cre_user
					,	@P_cre_ip
					,	'oI2010'
					,	@w_time
					,	''
					,	''
					,	''
					,	NULL
					,	''
					,	''
					,	''
					,	NULL
				END
				ELSE
				BEGIN
					UPDATE F2200_temp SET 
						coach_comment1			=	@coach_comment1
					,	coach_comment2			=	@coach_comment2
					,	upd_user				=	@P_cre_user
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	'oI2010'
					,	upd_datetime			=	@w_time
					,	del_user				=	''
					,	del_ip					=	''
					,	del_prg					=	''
					,	del_datetime			=	NULL
					FROM F2200_temp 
					WHERE 
						company_cd		=	@P_company_cd
					AND	fiscal_year		=	@fiscal_year
					AND	employee_cd		=	@member_cd
					AND	times			=	@times
					AND	interview_cd	=	@interview_cd
					AND	adaption_date	=	@adaption_date
					AND	input_user		=	@P_cre_user
				END
			END
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN

	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END

GO
