/****** Object:  StoredProcedure [dbo].[SPC_oI2010_CHK1]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_oI2010_CHK1]
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：[SPC_oI2010_CHK1] check status of login user at 1 times or multiple times
 *
 *  作成日  ：2020/12/03
 *  作成者  ：DatNT
 *
 *  更新日  ：2021/04/06 
 *  更新者  ：ANS-ASIA vietdt	
 *  更新内容：add decentralization
 *
 *  更新日  ：2021/05/17 
 *  更新者  ：ANS-ASIA vietdt	
 *  更新内容：CR note 5 screen viewing rights
 *
 *  更新日  ：2021/05/25 
 *  更新者  ：viettd	
 *  更新内容：add persimison (S0010.1on1_authority_typ = 4) to view item コーチコメント(管理者のみ閲覧可)
 *
 *  更新日  ：2021/07/28
 *  更新者  ：viettd　
 *  更新内容：when ５.総合管理者(authority_typ = 5) then set rater_step = 5
 *
 *  更新日  ：2021/12/03
 *  更新者  ：vietdt　
 *  更新内容：Ver1.8 add permission F2200.submit_datetime_member
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_oI2010_CHK1]
	@P_company_cd				SMALLINT		= 0
,	@P_fiscal_year				SMALLINT		= 0
,	@P_member_cd				NVARCHAR(10)	= ''
,	@P_login_user				NVARCHAR(50)	= ''
,	@P_times					INT				= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE
		@interview_cd						SMALLINT		= -1
	,	@adaption_date						DATE			= NULL
	,	@login_employee_cd					NVARCHAR(20)	= ''
	,	@is_f2001_member					INT				=	0  -- check input member from master f2001 
	,	@w_authority						SMALLINT		=	0														-- add by vietdt 2021/04/06
	,	@w_1on1_authority_typ				SMALLINT		=	0														-- add by vietdt 2021/04/05	
	,	@w_1on1_is_coach_member				SMALLINT		=	0	--2.IS COACH FOR MEMBER BUT AT ANOTHER TIME   || 1. IS COACH OR MEMBER || 0.NOT COACH NOT MEMBER	-- add by vietdt 2021/04/06
	,	@w_permission						SMALLINT		=	1	-- 0. not view,1. view , 2.edited					-- add by vietdt 2021/04/06
	-- #RESULT
	CREATE TABLE #RESULT(
		fiscal_year			 SMALLINT
	,	employee_cd			 NVARCHAR(10)
	,	times				 SMALLINT
	,	coach_cd			 NVARCHAR(10)
	,	interview_cd		 SMALLINT
	,	adaption_date		 DATE
	--,	login_authority_typ	 SMALLINT		comment out by viettd 2021/07/28
	,	screen_mode			 INT   --1*:member screen [11: first time / 12 save before / 13:save after]
								   --2*:coach screen [21: first time / 22 save before / 23:save after]
	,	permission			SMALLINT-- 0. not view,1. view , 2.edited	
	,	coach_comment2_typ	SMALLINT-- 0. not view,1. view			-- add by vietdt 2021/05/17
	)
	--
	IF EXISTS (SELECT 1 FROM F2001 WHERE company_cd = @P_company_cd 
									AND fiscal_year = @P_fiscal_year 
									AND employee_cd = @P_member_cd
									AND (times = @P_times OR @P_times = 0) 
									AND del_datetime IS NULL)
	BEGIN
		SET @is_f2001_member = 1
	END
	-- GET INFOMATION FROM S0010
	SELECT 
		@w_1on1_authority_typ	=	ISNULL(S0010.[1on1_authority_typ],0)	
	,	@login_employee_cd		=	ISNULL(S0010.employee_cd,'')
	,	@w_authority			=	ISNULL(S2021.authority,0)
	FROM S0010
	LEFT JOIN S2021  ON (
		S0010.company_cd			=	S2021.company_cd
	AND	S0010.[1on1_authority_cd]	=	S2021.authority_cd
	AND	'oI2010'					=	S2021.function_id
	AND	S2021.del_datetime	IS NULL
	)
	WHERE 
		S0010.company_cd	= @P_company_cd 
	AND S0010.user_id		= @P_login_user
	AND S0010.del_datetime IS NULL
	-- add by vietdt 2021/04/05
	-- GET DATA FROM S2020 + S2021
	IF EXISTS (SELECT 1 FROM F2001 
						WHERE 
							F2001.company_cd		=	@P_company_cd
						AND	F2001.fiscal_year		=	@P_fiscal_year
						AND	F2001.employee_cd		=	@P_member_cd
						AND	(
								F2001.coach_cd		=	@login_employee_cd
							OR	F2001.employee_cd	=	@login_employee_cd
						)
						AND	F2001.times				=	@P_times
						AND	F2001.del_datetime	IS NULL)
	BEGIN
		SET @w_1on1_is_coach_member = 1	-- is coach or member
	END
	-- IS COACH OR MEMBER
	IF	@w_1on1_is_coach_member = 1
	BEGIN
		SET @w_permission = 2
	END
	-- NOT COACH OR MEMBER
	IF	@w_1on1_is_coach_member <> 1 
	BEGIN
		--
		IF	@w_1on1_authority_typ IN (4,5)
		BEGIN
			SET @w_permission = 2
		END
		--
		IF	@w_1on1_authority_typ = 3  AND @w_authority = 2
		BEGIN
			SET @w_permission = 2
		END
		--NOT VIEW SCREEN
		IF	@w_1on1_authority_typ = 3 AND @w_authority = 0
		BEGIN
			SET @w_permission	=	0
		END
	END
	-- insert into #RESULT
	INSERT INTO #RESULT
	SELECT 
		@P_fiscal_year
	,	@P_member_cd
	,	F2001.times
	,	ISNULL(F2001.coach_cd,'')
	,	F2001.interview_cd
	,	F2001.adaption_date
	,	CASE
			-- CASE 1 : General manager
			WHEN @w_1on1_authority_typ IN(4,5)
			THEN 11
			-- CASE 2 : COACH
			-- check login user is coach then set default = 13
			WHEN (F2001.coach_cd = @login_employee_cd)  
			THEN 13 -- coach but not used yet (wait member insert data first) 
			-- CASE 3 : MEMBER
			-- check login user is member or is admin then set default = 11
			WHEN (F2001.employee_cd = @login_employee_cd)
			THEN 11 -- member step 1
			-- CASE 4 : ADMIN  not coach or member
			WHEN @w_1on1_is_coach_member = 0 AND @w_1on1_authority_typ = 3
			THEN 11
			ELSE 0
		END				AS	screen_mode
	,	@w_permission	
	,	CASE    -- add by vietdt 2021/05/17
			--WHEN (@w_1on1_authority_typ = 5) OR (F2001.coach_cd = @login_employee_cd)
			WHEN (@w_1on1_authority_typ IN(4,5)) OR (F2001.coach_cd = @login_employee_cd)	-- edited by viettd 2021/05/25
			THEN 1
			ELSE 0
		END				AS	coach_comment2_typ
	FROM F2001
	WHERE 
		F2001.company_cd	= @P_company_cd
	AND F2001.fiscal_year	= @P_fiscal_year
	AND F2001.employee_cd	= @P_member_cd
	AND	( 
		F2001.times			= @P_times 
	OR	@P_times			= 0
	)
	AND F2001.del_datetime IS NULL
	--
	IF EXISTS (
		SELECT 1 
		FROM F2001 
		INNER JOIN F2200 ON(
			F2001.company_cd		=	F2200.company_cd
		AND F2001.fiscal_year		=	F2200.fiscal_year
		AND F2001.employee_cd		=	F2200.employee_cd
		AND F2001.times				=	F2200.times 
		AND F2001.adaption_date		=	F2200.adaption_date
		AND F2200.del_datetime IS NULL
		)
		WHERE 
			F2001.company_cd	=	@P_company_cd
		AND F2001.fiscal_year	=	@P_fiscal_year
		AND F2001.employee_cd	=	@P_member_cd
		AND (
			F2001.times		=	@P_times 
		OR	@P_times		=	0
		)
		AND F2001.del_datetime IS NULL
		--add by vietdt 2021/12/03
		AND F2200.submit_datetime_member IS NOT NULL
	)
	BEGIN
		-- IF NOT EXITS MEMBER INTO F2001 (@is_f2001_member = 0) THEN SET screen_mode = 0
		IF @is_f2001_member = 0
		BEGIN
			UPDATE #RESULT SET screen_mode = 0 FROM #RESULT 
		END
		--  IF EXITS MEMBER INTO F2001 (@is_f2001_member = 1) THEN UPDATE screen_mode
		IF @is_f2001_member = 1
		BEGIN
			UPDATE #RESULT SET 
				screen_mode =	CASE 
									-- CASE 1 : General manager
									WHEN @w_1on1_authority_typ IN(4,5) AND fin_datetime_member IS NULL AND fin_datetime_coach  IS NOT NULL  --add vietdt 2021/12/03 .case coach save first member
									THEN 23	
									--
									WHEN @w_1on1_authority_typ IN(4,5) AND fin_datetime_member IS NULL
									THEN 12					  
									WHEN @w_1on1_authority_typ IN(4,5) AND fin_datetime_member IS NOT NULL AND fin_datetime_coach  IS NULL
									THEN 22					
									WHEN @w_1on1_authority_typ IN(4,5) AND fin_datetime_coach  IS NOT NULL 
									THEN 23
									-- CASE 2 : COACH
									WHEN #RESULT.coach_cd = @login_employee_cd AND fin_datetime_coach  IS NULL 
									THEN 22
									WHEN #RESULT.coach_cd = @login_employee_cd AND fin_datetime_coach  IS NOT NULL 
									THEN 23
									-- CASE 3 : MEMBER
									WHEN @P_member_cd = @login_employee_cd AND fin_datetime_member IS NULL AND fin_datetime_coach  IS NULL		--  coach must not confirm 
									THEN 12
									WHEN @P_member_cd = @login_employee_cd 
									-- coach has confirmed -> member disable
									AND (fin_datetime_member  IS NOT NULL OR fin_datetime_coach IS NOT NULL)
									THEN 13
									-- CASE 4 : ADMIN  not coach or member
									WHEN @w_1on1_is_coach_member = 0 AND @w_1on1_authority_typ = 3 AND fin_datetime_member IS NULL AND fin_datetime_coach  IS NOT NULL --add vietdt 2021/12/03 .case coach save first member
									THEN 23
									--
									WHEN @w_1on1_is_coach_member = 0 AND @w_1on1_authority_typ = 3 AND fin_datetime_member IS NULL
									THEN 12
									WHEN @w_1on1_is_coach_member = 0 AND @w_1on1_authority_typ = 3 AND fin_datetime_member IS NOT NULL AND fin_datetime_coach  IS NULL
									THEN 22
									WHEN @w_1on1_is_coach_member = 0 AND @w_1on1_authority_typ = 3 AND fin_datetime_coach  IS NOT NULL 
									THEN 23
									ELSE 0
								END
			FROM #RESULT 
			INNER JOIN F2200 ON(
				@P_company_cd			=	F2200.company_cd
			AND @P_fiscal_year			=	F2200.fiscal_year
			AND @P_member_cd			=	F2200.employee_cd
			AND (@P_times				=	F2200.times OR @P_times = 0)
			AND #RESULT.interview_cd	=	F2200.interview_cd
			AND #RESULT.adaption_date	=	F2200.adaption_date
			AND del_datetime IS NULL
			)
		END
	END
	--[0]
	SELECT 
		fiscal_year			
	,	employee_cd		
	,	times			
	,	coach_cd		
	,	interview_cd	
	,	adaption_date	
	,	screen_mode		
	,	permission
	,	coach_comment2_typ  -- add by vietdt 2021/05/17
	FROM #RESULT
	--clean
	DROP TABLE #RESULT
END
GO
