DROP PROCEDURE [SPC_rM0310_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 * EXEC [SPC_rM0310_INQ1] '10032','en'
 select * from F4100
 select * from M4610
 *  [SPC_rM0200_INQ1] - SEARCH
 *EXEC SPC_RM0310_INQ1 '10039','en';
 select * from M4610
--* 作成日/create date			:	2023/04/11											
--*	作成者/creater				:	namnt	
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_rM0310_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_company_cd			SMALLINT		= 0
,	@P_report_kind			SMALLINT		= 0
,	@P_group_cd				SMALLINT		= 0
,	@P_language				NVARCHAR(5)		= 'en'
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE
		@w_annual_typ		NVARCHAR(30) = ''
	,	@w_semi_annual_typ	NVARCHAR(30) = ''
	,	@w_quarterly_typ	NVARCHAR(30) = ''
	,	@w_weekly_typ		NVARCHAR(30) = ''
	,	@w_monthly_typ		NVARCHAR(30) = ''
		SET @w_annual_typ		= (SELECT IIF(@P_language='en',name_english,name) FROM L0010 WHERE L0010.name_typ=41 AND L0010.number_cd=1)
		SET	@w_semi_annual_typ	= (SELECT IIF(@P_language='en',name_english,name) FROM L0010 WHERE L0010.name_typ=41 AND L0010.number_cd=2)
		SET	@w_quarterly_typ	= (SELECT IIF(@P_language='en',name_english,name) FROM L0010 WHERE L0010.name_typ=41 AND L0010.number_cd=3)
		SET	@w_monthly_typ		= (SELECT IIF(@P_language='en',name_english,name) FROM L0010 WHERE L0010.name_typ=41 AND L0010.number_cd=4)
		SET	@w_weekly_typ		= (SELECT IIF(@P_language='en',name_english,name) FROM L0010 WHERE L0010.name_typ=41 AND L0010.number_cd=5)
	IF (EXISTS (select * from M4100 where M4100.company_cd = @P_company_cd AND annualreport_user_typ =1) AND (@P_report_kind = 1 OR @P_report_kind = -1))
	BEGIN
	SELECT 
		M4100.company_cd
	,	M4600.group_cd
	,	1 AS report_kind
	,	@w_annual_typ  AS report_nm
	,	group_nm
	,	annualreport_user_typ
	,	annualreport_first_approval
	,	annualreport_second_approval
	,	annualreport_third_approval
	,	annualreport_fourth_approval
	,	IIF(M4610.del_datetime IS NULL,approver_position_cd_1,0)	AS approver_position_cd_1
	,	IIF(M4610.del_datetime IS NULL,approver_position_cd_2,0)	AS approver_position_cd_2
	,	IIF(M4610.del_datetime IS NULL,approver_position_cd_3,0)	AS approver_position_cd_3
	,	IIF(M4610.del_datetime IS NULL,approver_position_cd_4,0)	AS approver_position_cd_4
	,	IIF(M4610.del_datetime IS NULL,M4610.sheet_cd,0)		AS sheet_cd
	FROM M4100 INNER JOIN M4600 ON(M4100.company_cd = M4600.company_cd) 
	LEFT JOIN M4610 ON(M4100.company_cd = M4610.company_cd AND M4600.group_cd = M4610.group_cd AND M4610.report_kind = 1) 
	WHERE M4100.company_cd = @P_company_cd
	AND (M4610.report_kind = 1 OR M4610.report_kind IS NULL)
	AND M4100.del_datetime IS NULL
	AND (@P_group_cd =-1 OR (@P_group_cd <>-1 AND M4600.group_cd = @P_group_cd))
	AND M4600.del_datetime IS NULL
	END
	ELSE
	BEGIN
		SELECT null
	END
	IF (EXISTS (select * from M4100 where M4100.company_cd = @P_company_cd AND semi_annualreport_user_typ =1) AND (@P_report_kind = 2 OR @P_report_kind = -1))
	BEGIN
	SELECT 
		M4100.company_cd
	,	M4600.group_cd
	,	2 AS report_kind
	,	@w_semi_annual_typ AS report_nm
	,	group_nm
	,	semi_annualreport_user_typ
	,	semi_annualreport_first_approval
	,	semi_annualreport_second_approval
	,	semi_annualreport_third_approval
	,	semi_annualreport_fourth_approval
	,	IIF(M4610.del_datetime IS NULL,approver_position_cd_1,0)	AS approver_position_cd_1
	,	IIF(M4610.del_datetime IS NULL,approver_position_cd_2,0)	AS approver_position_cd_2
	,	IIF(M4610.del_datetime IS NULL,approver_position_cd_3,0)	AS approver_position_cd_3
	,	IIF(M4610.del_datetime IS NULL,approver_position_cd_4,0)	AS approver_position_cd_4
	,	IIF(M4610.del_datetime IS NULL,M4610.sheet_cd,0)		AS sheet_cd
	FROM M4100 
	INNER JOIN M4600 ON(M4100.company_cd = M4600.company_cd) 
	LEFT JOIN M4610 ON(M4100.company_cd = M4610.company_cd AND M4600.group_cd = M4610.group_cd AND M4610.report_kind = 2)
	WHERE 
		M4100.company_cd = @P_company_cd
	AND (M4610.report_kind = 2 OR M4610.report_kind IS NULL)
	AND M4100.del_datetime IS NULL
	AND (@P_group_cd =-1 OR (@P_group_cd <>-1 AND M4600.group_cd = @P_group_cd))
	AND M4600.del_datetime IS NULL
	END
	ELSE
	BEGIN
		SELECT null
	END
	IF (EXISTS (select * from M4100 where M4100.company_cd = @P_company_cd AND quarterlyreport_user_typ =1) AND (@P_report_kind = 3 OR @P_report_kind = -1))
	BEGIN
		SELECT 
			M4100.company_cd
		,	M4600.group_cd
		,	3 AS report_kind
		,	@w_quarterly_typ  AS report_nm
		,	group_nm
		,	quarterlyreport_user_typ
		,	quarterlyreport_first_approval
		,	quarterlyreport_second_approval
		,	quarterlyreport_third_approval
		,	quarterlyreport_fourth_approval
		,	IIF(M4610.del_datetime IS NULL,approver_position_cd_1,0)	AS approver_position_cd_1
		,	IIF(M4610.del_datetime IS NULL,approver_position_cd_2,0)	AS approver_position_cd_2
		,	IIF(M4610.del_datetime IS NULL,approver_position_cd_3,0)	AS approver_position_cd_3
		,	IIF(M4610.del_datetime IS NULL,approver_position_cd_4,0)	AS approver_position_cd_4
		,	IIF(M4610.del_datetime IS NULL,M4610.sheet_cd,0)		AS sheet_cd
		FROM M4100 INNER JOIN M4600 ON(M4100.company_cd = M4600.company_cd) 
		LEFT JOIN M4610 ON(M4100.company_cd = M4610.company_cd AND M4600.group_cd = M4610.group_cd AND M4610.report_kind = 3) 
		WHERE M4100.company_cd = @P_company_cd
		AND (M4610.report_kind = 3 OR M4610.report_kind IS NULL)
		AND M4100.del_datetime IS NULL
		AND (@P_group_cd =-1 OR (@P_group_cd <>-1 AND M4600.group_cd = @P_group_cd))
		AND M4600.del_datetime IS NULL
		END
	ELSE
	BEGIN
		SELECT null
	END
	IF (EXISTS (select * from M4100 where M4100.company_cd = @P_company_cd AND monthlyreport_user_typ =1)AND (@P_report_kind = 4 OR @P_report_kind = -1))
	BEGIN
			SELECT 
				M4100.company_cd
			,	M4600.group_cd
			,	4 AS report_kind
			,	@w_monthly_typ  AS report_nm
			,	group_nm
			,	monthlyreport_user_typ
			,	monthlyreport_first_approval
			,	monthlyreport_second_approval
			,	monthlyreport_third_approval
			,	monthlyreport_fourth_approval
			,	IIF(M4610.del_datetime IS NULL,approver_position_cd_1,0)	AS approver_position_cd_1
			,	IIF(M4610.del_datetime IS NULL,approver_position_cd_2,0)	AS approver_position_cd_2
			,	IIF(M4610.del_datetime IS NULL,approver_position_cd_3,0)	AS approver_position_cd_3
			,	IIF(M4610.del_datetime IS NULL,approver_position_cd_4,0)	AS approver_position_cd_4
			,	IIF(M4610.del_datetime IS NULL,M4610.sheet_cd,0)		AS sheet_cd
			FROM M4100 INNER JOIN M4600 ON(M4100.company_cd = M4600.company_cd) 
			LEFT JOIN M4610 ON(M4100.company_cd = M4610.company_cd AND M4600.group_cd = M4610.group_cd AND M4610.report_kind = 4) 
			WHERE M4100.company_cd = @P_company_cd
			AND (M4610.report_kind = 4 OR M4610.report_kind IS NULL)
			AND M4100.del_datetime IS NULL
			AND (@P_group_cd =-1 OR (@P_group_cd <>-1 AND M4600.group_cd = @P_group_cd))
			AND M4600.del_datetime IS NULL
	END
	ELSE
	BEGIN
		SELECT null
	END
	IF (EXISTS (select * from M4100 where M4100.company_cd = @P_company_cd AND weeklyreport_user_typ =1)AND (@P_report_kind = 5 OR @P_report_kind = -1))
	BEGIN
		SELECT 
			M4100.company_cd
		,	M4600.group_cd
		,	5 AS report_kind
		,	@w_weekly_typ  AS report_nm
		,	group_nm
		,	weeklyreport_user_typ
		,	weeklyreport_first_approval
		,	weeklyreport_second_approval
		,	weeklyreport_third_approval
		,	weeklyreport_fourth_approval
		,	IIF(M4610.del_datetime IS NULL,approver_position_cd_1,0)	AS approver_position_cd_1
		,	IIF(M4610.del_datetime IS NULL,approver_position_cd_2,0)	AS approver_position_cd_2
		,	IIF(M4610.del_datetime IS NULL,approver_position_cd_3,0)	AS approver_position_cd_3
		,	IIF(M4610.del_datetime IS NULL,approver_position_cd_4,0)	AS approver_position_cd_4
		,	IIF(M4610.del_datetime IS NULL,M4610.sheet_cd,0)		AS sheet_cd
		FROM M4100 
		INNER JOIN M4600 ON(M4100.company_cd = M4600.company_cd) 
		LEFT JOIN M4610 ON(M4100.company_cd = M4610.company_cd AND M4600.group_cd = M4610.group_cd AND M4610.report_kind = 5) 
		WHERE M4100.company_cd = @P_company_cd
		AND (M4610.report_kind = 5 OR M4610.report_kind IS NULL)
		AND M4100.del_datetime IS NULL
		AND (@P_group_cd =-1 OR (@P_group_cd <>-1 AND M4600.group_cd = @P_group_cd))
		AND M4600.del_datetime IS NULL
	END
	ELSE
	BEGIN
		SELECT null
	END
	Select 
		ISNULL(position_cd,0) AS position_cd
	,	ISNULL(position_nm,0) AS position_nm
	FROM M0040	
	WHERE M0040.company_cd = @P_company_cd 
	AND M0040.del_datetime is null
	SELECT 
		ISNULL(sheet_cd,0) AS sheet_cd
	,	ISNULL(sheet_nm,0) AS sheet_nm
	,	ISNULL(report_kind,0) AS report_kind
	,	MAX(adaption_date)
	FROM M4200 
	WHERE 
		M4200.company_cd = @P_company_cd 
	AND M4200.del_datetime is null
	GROUP BY sheet_cd,sheet_nm,report_kind
	
END
GO
