DROP PROCEDURE [SPC_RM0310_ACT2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 * EXEC SPC_RM0310_ACT1 '[{"group":"1","report":"1","position_1":-1,"position_2":-1,"position_3":-1,"position_4":-1,"sheet_cd":"0"},{"group":"1","report":"2","position_1":-1,"position_2":-1,"position_3":-1,"position_4":-1,"sheet_cd":"0"},{"group":"1","report":"3","position_1":"1","position_2":"1","position_3":"0","position_4":"0","sheet_cd":"0"},{"group":"1","report":"4","position_1":-1,"position_2":-1,"position_3":-1,"position_4":-1,"sheet_cd":"0"},{"group":"1","report":"5","position_1":-1,"position_2":-1,"position_3":-1,"position_4":-1,"sheet_cd":"0"}]','1','192.168.5.118','10039';
 EXEC SPC_RM0310_ACT2 '1','1','10039'
 *  SPC_RM0300_ACT2 - SAVE
 * select * from M4610
 EXEC SPC_RM0310_ACT2 '10032','hanhntm','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*		
--* 作成日/create date			:	2023/04/17										
--*	作成者/creater				:	namnt			
--*   		select * from M4610
--****************************************************************************************/
CREATE PROCEDURE [SPC_RM0310_ACT2] 
	@P_company_cd	SMALLINT	 = 0
,	@P_cre_user		NVARCHAR(50) = ''
,	@P_cre_ip		NVARCHAR(50) = ''
,	@P_report_kind  SMALLINT	=	-1
,	@P_group_cd		SMALLINT	=	-1
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	

	IF NOT EXISTS (SELECT 1 FROM M4610 WHERE company_cd		= @P_company_cd 
											AND  del_datetime IS NULL
											AND report_kind = @P_report_kind
											AND group_cd = @P_group_cd)
	AND @P_group_cd <> -1
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT 
			21
		,	''
		,	0
		,	1 -- exception error
		,	0
		,	0
		,	''
	END
	IF NOT EXISTS (SELECT 1 FROM M4610 WHERE company_cd		= @P_company_cd 
											AND  del_datetime IS NULL
											AND report_kind = @P_report_kind)
	AND @P_group_cd = -1
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT 
			21
		,	''
		,	0
		,	1 -- exception error
		,	0
		,	0
		,	''
	END
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	
	
	BEGIN TRANSACTION
	BEGIN TRY
	UPDATE M4610
	SET
		M4610.del_user = @P_cre_user
	,	M4610.del_ip = @P_cre_ip
	,	M4610.del_prg = 'rM0310'
	,	M4610.del_datetime = @w_time
	WHERE 
		M4610.company_cd	= @P_company_cd
	AND (
			(@P_report_kind = -1)
		OR (@P_report_kind <> -1 AND M4610.report_kind	= @P_report_kind)
	)
	AND (
			(@P_group_cd = -1)
		OR (@P_group_cd <> -1 AND M4610.group_cd = @P_group_cd)
	)
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END

GO
