DROP PROCEDURE [SPC_RM0310_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 * EXEC SPC_RM0310_ACT1 '[{"group":"1","report":"1","position_1":-1,"position_2":-1,"position_3":-1,"position_4":-1,"sheet_cd":"0"},{"group":"1","report":"2","position_1":-1,"position_2":-1,"position_3":-1,"position_4":-1,"sheet_cd":"0"},{"group":"1","report":"3","position_1":"1","position_2":"1","position_3":"0","position_4":"0","sheet_cd":"0"},{"group":"1","report":"4","position_1":-1,"position_2":-1,"position_3":-1,"position_4":-1,"sheet_cd":"0"},{"group":"1","report":"5","position_1":-1,"position_2":-1,"position_3":-1,"position_4":-1,"sheet_cd":"0"}]','1','192.168.5.118','10039';

 *  SPC_RM0300_ACT1 - SAVE
 * select * from M4610


--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*		
--* 作成日/create date			:	2023/04/17										
--*	作成者/creater				:	namnt			
--*   		
--****************************************************************************************/
CREATE PROCEDURE [SPC_RM0310_ACT1] 
	@P_json			NVARCHAR(MAX)
	--
,	@P_cre_user		NVARCHAR(50) = ''
,	@P_cre_ip		NVARCHAR(50) = ''
,	@P_company_cd	SMALLINT	 = 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	

	--
	CREATE TABLE #M4610(
		company_cd	SMALLINT
	,	report_kind	SMALLINT
	,	group_cd	SMALLINT
	,	approver_position_cd_1	SMALLINT
	,	approver_position_cd_2	SMALLINT
	,	approver_position_cd_3	SMALLINT
	,	approver_position_cd_4	SMALLINT
	,	sheet_cd				SMALLINT
	,	arrange_order			SMALLINT
	)
	
	INSERT INTO #M4610
	SELECT 
		@P_company_cd
	,	report
	,	[group]
	,	IIF(position_1=-1,'',position_1)
	,	IIF(position_2=-1,'',position_2)
	,	IIF(position_3=-1,'',position_3)
	,	IIF(position_4=-1,'',position_4)
	,	sheet_cd
	,	0
	FROM OPENJSON(@P_json) WITH(
		report	SMALLINT
	,	[group]	SMALLINT
	,	position_1	SMALLINT
	,	position_2	SMALLINT
	,	position_3	SMALLINT
	,	position_4	SMALLINT
	,	sheet_cd				SMALLINT
	)
	
	IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22														
			,	''									 				
			,	0-- oderby							  				
			,	1-- dialog  							
			,	0													
			,	0									
			,	'json format'						
			)
		END
		--
		IF EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
		GOTO COMPLETE_QUERY
		END
	BEGIN TRANSACTION
	
	BEGIN TRY
	UPDATE M4610
	SET
		M4610.approver_position_cd_1	= #M4610.approver_position_cd_1
	,	M4610.approver_position_cd_2	= #M4610.approver_position_cd_2
	,	M4610.approver_position_cd_3	= #M4610.approver_position_cd_3
	,	M4610.approver_position_cd_4	= #M4610.approver_position_cd_4
	,	M4610.sheet_cd					= #M4610.sheet_cd
	,	M4610.cre_user					= IIF(M4610.del_datetime IS NULL, M4610.cre_user, @P_cre_user)
	,	M4610.cre_ip					= IIF(M4610.del_datetime IS NULL, M4610.cre_ip, @P_cre_ip)
	,	M4610.cre_prg					= IIF(M4610.del_datetime IS NULL, M4610.cre_prg, 'rM0310')
	,	M4610.cre_datetime				= IIF(M4610.del_datetime IS NULL, M4610.cre_datetime, @w_time)
	,	M4610.upd_user					= IIF(M4610.del_datetime IS NULL, @P_cre_user, NULL)
	,	M4610.upd_ip					= IIF(M4610.del_datetime IS NULL, @P_cre_ip, NULL)
	,	M4610.upd_prg					= IIF(M4610.del_datetime IS NULL, 'rM0310', NULL)
	,	M4610.upd_datetime				= IIF(M4610.del_datetime IS NULL, @w_time, NULL)
	,	M4610.del_user					= NULL
	,	M4610.del_ip					= NULL
	,	M4610.del_prg					= ''
	,	M4610.del_datetime = null
	FROM #M4610 INNER JOIN M4610 ON(
		#M4610.company_cd	= M4610.company_cd
	AND	#M4610.report_kind	= M4610.report_kind
	AND	#M4610.group_cd		= M4610.group_cd
	)
	-----
	INSERT INTO M4610
	SELECT
		#M4610.company_cd
	,	#M4610.report_kind
	,	#M4610.group_cd
	,	#M4610.approver_position_cd_1
	,	#M4610.approver_position_cd_2
	,	#M4610.approver_position_cd_3
	,	#M4610.approver_position_cd_4
	,	#M4610.sheet_cd
	,	0
	,	@P_cre_user
	,	@P_cre_ip
	,	'rM0310'
	,	@w_time
	,	NULL
	,	NULL
	,	''
	,	NULL
	,	NULL
	,	NULL
	,	''
	,	NULL
	FROM #M4610 LEFT JOIN M4610 ON(
		#M4610.company_cd = M4610.company_cd
	AND	#M4610.report_kind = M4610.report_kind
	AND	#M4610.group_cd = M4610.group_cd
	)
	WHERE M4610.company_cd IS NULL
	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END

GO
