IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[L0050]') AND type in (N'U'))
DROP TABLE [L0050]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [L0050](
	[information_cd] [smallint] NOT NULL,
	[infomationn_typ] [tinyint] NULL,
	[infomation_title] [nvarchar](30) NULL,
	[infomation_title_english] [nvarchar](30) NULL,
	[infomation_message] [nvarchar](500) NULL,
	[infomation_message_english] [nvarchar](500) NULL,
	[cre_user] [nvarchar](50) NULL,
	[cre_ip] [nvarchar](50) NULL,
	[cre_prg] [nvarchar](20) NULL,
	[cre_datetime] [datetime] NULL,
	[upd_user] [nvarchar](50) NULL,
	[upd_ip] [nvarchar](50) NULL,
	[upd_prg] [nvarchar](20) NULL,
	[upd_datetime] [datetime] NULL,
	[del_user] [nvarchar](50) NULL,
	[del_ip] [nvarchar](50) NULL,
	[del_prg] [nvarchar](20) NULL,
	[del_datetime] [datetime] NULL,
 CONSTRAINT [PK_L0050] PRIMARY KEY CLUSTERED 
(
	[information_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [L0050] ([information_cd], [infomationn_typ], [infomation_title], [infomation_title_english], [infomation_message], [infomation_message_english], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (5, 1, N'提出した目標シートが差戻しされました', N'Submitted goal sheet returned', N'提出した目標シートが差戻しされました。ご確認をお願いいたします。', N'The submitted goal sheet has been sent back. Please confirm.', N'', N'', NULL, NULL, N'', N'', NULL, NULL, N'', N'', NULL, NULL)
GO
