IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[L0032]') AND type in (N'U'))
DROP TABLE [L0032]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [L0032](
	[item_cd] [smallint] NOT NULL,
	[item_nm] [nvarchar](20) NULL,
	[item_nm_english] [nvarchar](50) NULL,
	[order_no] [smallint] NULL,
	[cre_user] [nvarchar](50) NULL,
	[cre_ip] [nvarchar](50) NULL,
	[cre_prg] [nvarchar](20) NULL,
	[cre_datetime] [datetime] NULL,
	[upd_user] [nvarchar](50) NULL,
	[upd_ip] [nvarchar](50) NULL,
	[upd_prg] [nvarchar](20) NULL,
	[upd_datetime] [datetime] NULL,
	[del_user] [nvarchar](50) NULL,
	[del_ip] [nvarchar](50) NULL,
	[del_prg] [nvarchar](20) NULL,
	[del_datetime] [datetime] NULL,
 CONSTRAINT [PK_L0032] PRIMARY KEY CLUSTERED 
(
	[item_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [L0032] ([item_cd], [item_nm], [item_nm_english], [order_no], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (1, N'社員番号', N'Employee Number', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [L0032] ([item_cd], [item_nm], [item_nm_english], [order_no], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (2, N'社員名', N'Employee Name', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [L0032] ([item_cd], [item_nm], [item_nm_english], [order_no], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (3, N'ベーススタイル', N'Base Style', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
