IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[L0040]') AND type in (N'U'))
DROP TABLE [L0040]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [L0040](
	[category] [smallint] NOT NULL,
	[status_cd] [smallint] NOT NULL,
	[status_nm] [nvarchar](50) NULL,
	[status_nm_english] [nvarchar](100) NULL,
	[status_nm2] [nvarchar](50) NULL,
	[status_nm2_english] [nvarchar](100) NULL,
	[cre_user] [nvarchar](50) NULL,
	[cre_ip] [nvarchar](50) NULL,
	[cre_prg] [nvarchar](20) NULL,
	[cre_datetime] [datetime] NULL,
	[upd_user] [nvarchar](50) NULL,
	[upd_ip] [nvarchar](50) NULL,
	[upd_prg] [nvarchar](20) NULL,
	[upd_datetime] [datetime] NULL,
	[del_user] [nvarchar](50) NULL,
	[del_ip] [nvarchar](50) NULL,
	[del_prg] [nvarchar](20) NULL,
	[del_datetime] [datetime] NULL,
 CONSTRAINT [PK_L0040] PRIMARY KEY CLUSTERED 
(
	[category] ASC,
	[status_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [L0040] ([category], [status_cd], [status_nm], [status_nm_english], [status_nm2], [status_nm2_english], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (1, 0, N'未処理', N'Unprocessed', N'未処理', NULL, N'', N'', NULL, CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'', N'', NULL, CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'', N'', NULL, NULL)
INSERT [L0040] ([category], [status_cd], [status_nm], [status_nm_english], [status_nm2], [status_nm2_english], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (1, 1, N'期首面談中', N'Undergoing Primary Interview', N'目標提出完了', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [L0040] ([category], [status_cd], [status_nm], [status_nm_english], [status_nm2], [status_nm2_english], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (1, 2, N'目標承認待ち', N'Waiting for Objective Approval', N'期首面談完了', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
