IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[L0030]') AND type in (N'U'))
DROP TABLE [L0030]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [L0030](
	[function_id] [nvarchar](10) NOT NULL,
	[function_nm] [nvarchar](50) NULL,
	[function_nm_english] [nvarchar](50) NULL,
	[system] [smallint] NULL,
	[category] [smallint] NULL,
	[arrange_order] [smallint] NULL,
	[cre_user] [nvarchar](50) NULL,
	[cre_ip] [nvarchar](50) NULL,
	[cre_prg] [nvarchar](20) NULL,
	[cre_datetime] [datetime] NULL,
	[upd_user] [nvarchar](50) NULL,
	[upd_ip] [nvarchar](50) NULL,
	[upd_prg] [nvarchar](20) NULL,
	[upd_datetime] [datetime] NULL,
	[del_user] [nvarchar](50) NULL,
	[del_ip] [nvarchar](50) NULL,
	[del_prg] [nvarchar](20) NULL,
	[del_datetime] [datetime] NULL,
 CONSTRAINT [PK_L0030] PRIMARY KEY CLUSTERED 
(
	[function_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [L0030] ([function_id], [function_nm], [function_nm_english], [system], [category], [arrange_order], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (N'A0003', N'API連携実行', N'Link API', 0, 2, 2, N'', N'', N'', NULL, N'', N'', N'', NULL, N'', N'', N'', NULL)
INSERT [L0030] ([function_id], [function_nm], [function_nm_english], [system], [category], [arrange_order], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (N'eI0200', N'個人データ登録', N'Personal Register', 5, 4, 4, N'', N'', N'', NULL, N'', N'', N'', NULL, N'', N'', N'', NULL)
INSERT [L0030] ([function_id], [function_nm], [function_nm_english], [system], [category], [arrange_order], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (N'eM0010', N'資格マスタ', N'Qualification Settings', 5, 2, 1, N'', N'', N'', NULL, N'', N'', N'', NULL, N'', N'', N'', NULL)
GO
