IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[L0013]') AND type in (N'U'))
DROP TABLE [L0013]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [L0013](
	[school_code] [nvarchar](13) NOT NULL,
	[school_classification] [nvarchar](2) NULL,
	[prefecture_number] [nvarchar](2) NULL,
	[installation_category] [nvarchar](1) NULL,
	[branch_school_kbn] [nvarchar](1) NULL,
	[school_name] [nvarchar](50) NULL,
	[school_location] [nvarchar](50) NULL,
	[post_code] [nvarchar](7) NULL,
	[setting_date] [nvarchar](10) NULL,
	[abolition_date] [nvarchar](10) NULL,
	[old_survey_number] [nvarchar](10) NULL,
	[school_code_after_migration] [nvarchar](10) NULL,
	[cre_user] [nvarchar](50) NULL,
	[cre_ip] [nvarchar](50) NULL,
	[cre_prg] [nvarchar](20) NULL,
	[cre_datetime] [datetime] NULL,
	[upd_user] [nvarchar](50) NULL,
	[upd_ip] [nvarchar](50) NULL,
	[upd_prg] [nvarchar](20) NULL,
	[upd_datetime] [datetime] NULL,
	[del_user] [nvarchar](50) NULL,
	[del_ip] [nvarchar](50) NULL,
	[del_prg] [nvarchar](20) NULL,
	[del_datetime] [datetime] NULL,
 CONSTRAINT [PK_L0013] PRIMARY KEY CLUSTERED 
(
	[school_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
