IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[L0034]') AND type in (N'U'))
DROP TABLE [L0034]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [L0034](
	[tab_id] [smallint] NULL,
	[tab_nm] [nvarchar](20) NULL,
	[tab_nm_en] [nvarchar](40) NULL,
	[function_id] [nvarchar](10) NULL,
	[master_user_typ] [tinyint] NULL,
	[refer_user_typ] [tinyint] NULL,
	[order_no] [smallint] NULL,
	[cre_user] [nvarchar](50) NULL,
	[cre_ip] [nvarchar](50) NULL,
	[cre_datetime] [datetime] NULL,
	[cre_prg] [nvarchar](20) NULL,
	[upd_user] [nvarchar](50) NULL,
	[upd_ip] [nvarchar](50) NULL,
	[upd_datetime] [datetime] NULL,
	[upd_prg] [nvarchar](20) NULL,
	[del_user] [nvarchar](50) NULL,
	[del_ip] [nvarchar](50) NULL,
	[del_prg] [nvarchar](20) NULL,
	[del_datetime] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [L0034] ([tab_id], [tab_nm], [tab_nm_en], [function_id], [master_user_typ], [refer_user_typ], [order_no], [cre_user], [cre_ip], [cre_datetime], [cre_prg], [upd_user], [upd_ip], [upd_datetime], [upd_prg], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (1, N'その他社員情報', N'Other Employee Information', N'M0070_01', 1, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [L0034] ([tab_id], [tab_nm], [tab_nm_en], [function_id], [master_user_typ], [refer_user_typ], [order_no], [cre_user], [cre_ip], [cre_datetime], [cre_prg], [upd_user], [upd_ip], [upd_datetime], [upd_prg], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (2, N'資格', N'Qualification', N'M0070_02', 1, 1, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [L0034] ([tab_id], [tab_nm], [tab_nm_en], [function_id], [master_user_typ], [refer_user_typ], [order_no], [cre_user], [cre_ip], [cre_datetime], [cre_prg], [upd_user], [upd_ip], [upd_datetime], [upd_prg], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (3, N'人事評価', N'Personnel Assessment', N'', 0, 1, 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
