IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[L0020]') AND type in (N'U'))
DROP TABLE [L0020]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [L0020](
	[message_cd] [smallint] NOT NULL,
	[message_typ] [smallint] NULL,
	[message_nm] [nvarchar](20) NULL,
	[message_nm_english] [nvarchar](100) NULL,
	[message] [nvarchar](100) NULL,
	[message_english] [nvarchar](200) NULL,
	[cre_user] [nvarchar](50) NULL,
	[cre_ip] [nvarchar](50) NULL,
	[cre_prg] [nvarchar](20) NULL,
	[cre_datetime] [datetime] NULL,
	[upd_user] [nvarchar](50) NULL,
	[upd_ip] [nvarchar](50) NULL,
	[upd_prg] [nvarchar](20) NULL,
	[upd_datetime] [datetime] NULL,
	[del_user] [nvarchar](50) NULL,
	[del_ip] [nvarchar](50) NULL,
	[del_prg] [nvarchar](20) NULL,
	[del_datetime] [datetime] NULL,
 CONSTRAINT [PK_L0020] PRIMARY KEY CLUSTERED 
(
	[message_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [L0020] ([message_cd], [message_typ], [message_nm], [message_nm_english], [message], [message_english], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (1, 1, N'確認', N'Confirm', N'保存してもよろしいですか？', N'Would you like to Save?', N'', N'', NULL, CAST(N'2018-11-07T12:00:57.750' AS DateTime), N'', N'', NULL, NULL, N'', N'', NULL, NULL)
INSERT [L0020] ([message_cd], [message_typ], [message_nm], [message_nm_english], [message], [message_english], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (2, 2, N'報告', N'Report', N'保存が完了しました。', N'Save completed.', N'', N'', NULL, CAST(N'2018-11-07T12:00:57.750' AS DateTime), N'', N'', NULL, NULL, N'', N'', NULL, NULL)
INSERT [L0020] ([message_cd], [message_typ], [message_nm], [message_nm_english], [message], [message_english], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (3, 1, N'確認', N'Confirm', N'削除してもよろしいですか？', N'Are you sure you want to delete it?', N'', N'', NULL, CAST(N'2018-11-07T12:00:57.750' AS DateTime), N'', N'', NULL, NULL, N'', N'', NULL, NULL)
GO
