IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[L0041]') AND type in (N'U'))
DROP TABLE [L0041]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [L0041](
	[status_cd] [smallint] NOT NULL,
	[status_nm] [nvarchar](50) NULL,
	[status_nm2] [nvarchar](50) NULL,
	[cre_user] [nvarchar](50) NULL,
	[cre_ip] [nvarchar](50) NULL,
	[cre_prg] [nvarchar](20) NULL,
	[cre_datetime] [datetime] NULL,
	[upd_user] [nvarchar](50) NULL,
	[upd_ip] [nvarchar](50) NULL,
	[upd_prg] [nvarchar](20) NULL,
	[upd_datetime] [datetime] NULL,
	[del_user] [nvarchar](50) NULL,
	[del_ip] [nvarchar](50) NULL,
	[del_prg] [nvarchar](20) NULL,
	[del_datetime] [datetime] NULL,
 CONSTRAINT [PK_L0041] PRIMARY KEY CLUSTERED 
(
	[status_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [L0041] ([status_cd], [status_nm], [status_nm2], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (1, N'未提出', N'未提出_en', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [L0041] ([status_cd], [status_nm], [status_nm2], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (2, N'一次承認中', N'一次承認中_en', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [L0041] ([status_cd], [status_nm], [status_nm2], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (3, N'二次承認中', N'二次承認中_en', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
