IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[L0010]') AND type in (N'U'))
DROP TABLE [L0010]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [L0010](
	[name_typ] [smallint] NOT NULL,
	[number_cd] [smallint] NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[kana] [nvarchar](30) NOT NULL,
	[ab_nm] [nvarchar](10) NOT NULL,
	[name_english] [nvarchar](30) NULL,
	[numeric_value1] [int] NOT NULL,
	[numeric_value2] [int] NOT NULL,
	[numeric_value3] [int] NOT NULL,
	[remark1] [nvarchar](50) NOT NULL,
	[remark2] [nvarchar](50) NOT NULL,
	[remark3] [nvarchar](50) NOT NULL,
	[arrange_order] [int] NULL,
	[cre_user] [nvarchar](50) NULL,
	[cre_ip] [nvarchar](50) NULL,
	[cre_prg] [nvarchar](20) NULL,
	[cre_datetime] [datetime] NULL,
	[upd_user] [nvarchar](50) NULL,
	[upd_ip] [nvarchar](50) NULL,
	[upd_prg] [nvarchar](20) NULL,
	[upd_datetime] [datetime] NULL,
	[del_user] [nvarchar](50) NULL,
	[del_ip] [nvarchar](50) NULL,
	[del_prg] [nvarchar](20) NULL,
	[del_datetime] [datetime] NULL,
 CONSTRAINT [PK_L0010] PRIMARY KEY CLUSTERED 
(
	[name_typ] ASC,
	[number_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [L0010] ([name_typ], [number_cd], [name], [kana], [ab_nm], [name_english], [numeric_value1], [numeric_value2], [numeric_value3], [remark1], [remark2], [remark3], [arrange_order], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (1, 1, N'管理会社', N'管理会社', N'管理会社', N'Management Company', 0, 0, 0, N'', N'', N'', 0, N'', N'', NULL, CAST(N'2018-08-24T09:41:16.790' AS DateTime), N'', N'', NULL, NULL, N'', N'', NULL, NULL)
INSERT [L0010] ([name_typ], [number_cd], [name], [kana], [ab_nm], [name_english], [numeric_value1], [numeric_value2], [numeric_value3], [remark1], [remark2], [remark3], [arrange_order], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (1, 2, N'契約会社', N'契約会社', N'契約会社', N'Contract Company', 0, 0, 0, N'', N'', N'', 0, N'', N'', NULL, CAST(N'2018-08-24T09:41:16.790' AS DateTime), N'', N'', NULL, NULL, N'', N'', NULL, NULL)
INSERT [L0010] ([name_typ], [number_cd], [name], [kana], [ab_nm], [name_english], [numeric_value1], [numeric_value2], [numeric_value3], [remark1], [remark2], [remark3], [arrange_order], [cre_user], [cre_ip], [cre_prg], [cre_datetime], [upd_user], [upd_ip], [upd_prg], [upd_datetime], [del_user], [del_ip], [del_prg], [del_datetime]) VALUES (1, 3, N'関連会社', N'', N'', N'Related Company', 1, 1, 1, N'', N'', N'', 0, N'', N'', NULL, CAST(N'2018-08-24T09:41:16.790' AS DateTime), N'', N'', NULL, NULL, N'', N'', NULL, NULL)
GO
