DROP PROCEDURE [SPC_M0030_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/08/16											
--*	作成者/creater				:	namnb						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0030_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)
	-- common
,	@P_cre_user		NVARCHAR(50)
,	@P_cre_ip		NVARCHAR(50)
,	@P_company_cd	SMALLINT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					=	0
	,	@P_job_cd				SMALLINT			=	0
	,	@P_job_nm				NVARCHAR(50)		=	''
	,	@P_job_ab_nm			NVARCHAR(10)		=	''
	,	@P_arrange_order		INT					=	0
	,	@job_cd					SMALLINT			=	0
	
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		-- assign
		SET @P_job_cd			=	JSON_VALUE(@P_json,'$.job_cd')
		SET @P_job_nm			=	JSON_VALUE(@P_json,'$.job_nm')
		SET @P_job_ab_nm		=	JSON_VALUE(@P_json,'$.job_ab_nm')
		SET @P_arrange_order	=	JSON_VALUE(@P_json,'$.arrange_order')

		IF EXISTS (SELECT 1 FROM M0030 WHERE company_cd = @P_company_cd AND job_cd = @P_job_cd AND del_datetime IS NOT NULL)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(
				8
			,	'#job_cd'
			,	0-- oderby
			,	0-- dialog  
			,	0
			,	0
			,	'job_cd not found'
			)
		END

		-- do stuff
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			IF @P_job_cd = 0
			BEGIN
				SET @job_cd  = ISNULL((SELECT MAX(job_cd) FROM M0030 WHERE company_cd = @P_company_cd), 0) + 1
				INSERT INTO M0030 (company_cd, job_cd, job_nm, job_ab_nm, arrange_order, cre_user, cre_ip,cre_prg,cre_datetime)
				SELECT
					@P_company_cd
				,	@job_cd
				,	@P_job_nm
				,	@P_job_ab_nm
				,	@P_arrange_order
				,	@P_cre_user
				,	@P_cre_ip
				,	'M0030'
				,	@w_time
			END
			ELSE BEGIN
				UPDATE M0030
				SET
					job_nm			=	@P_job_nm
				,	job_ab_nm		=	@P_job_ab_nm
				,	arrange_order	=	@P_arrange_order
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg         =	'M0030'
				,	upd_datetime	=	@w_time
				WHERE
					company_cd		=	@P_company_cd
				AND	job_cd			=	@P_job_cd
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	SELECT @job_cd AS job_cd
END

GO
