DROP PROCEDURE [SPC_M0030_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		namnb
-- Create date: 2018/08/20
-- Description:	get right content
-- =============================================
CREATE PROCEDURE [SPC_M0030_INQ1]
	@P_job_cd		smallint
,	@P_company_cd	smallint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
		job_cd
	,	job_nm
	,	job_ab_nm
	,	arrange_order
	FROM M0030
	WHERE
		company_cd	=	@P_company_cd
	AND	job_cd		=	@P_job_cd
END

GO
