.group-inline{
	display: flex;
}
.item-center{
    line-height: 38px;
    margin-left: 5px;
    margin-right: 5px;
}
.scroll-div1 {
    width: 3500px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.wmd-view-topscroll {
    height: 18px;
}
/* .wmd-view-topscroll, .wmd-view {
    overflow-x: scroll;
} */
@media (max-width: 1836px) {
	#myTable {
        min-width: 1400px;
    }
}
.w_tr {
        max-width: 220px;
        width: 220px;
    }
@media (max-width: 1600px) {
	.w_tr {
        max-width: 190px;
        width: 190px;
    }
}
@media (max-width: 1400px) {
	.w_tr {
        max-width: 150px;
        width: 150px;
    }
}