DROP PROCEDURE [SPC_RI1020_ACT2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--EXEC SPC_RI1020_ACT2 '10035','2023','a042','5','1','0','7','a028','','','','hanhntm','192.168.5.19','jp';

--****************************************************************************************
--*  
--*  処理概要/process overview	:	RI1020
--*  
--*  作成日/create date			:	2023/05/10
--*　作成者/creater				:	namnt	
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:　	
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [SPC_RI1020_ACT2] 
	@P_company_cd			SMALLINT		=	0
,	@P_fiscal_year			SMALLINT		=	0
,	@P_employee_cd			NVARCHAR(10)	=	0
,	@P_report_kind			SMALLINT		=	0
,	@P_month				SMALLINT		=	0
,	@P_times				SMALLINT		=	0
,	@P_group_cd				NVARCHAR(10)	=	''
,	@P_approver_cd_1		NVARCHAR(10)	=	''
,	@P_approver_cd_2		NVARCHAR(10)	=	''
,	@P_approver_cd_3		NVARCHAR(10)	=	''
,	@P_approver_cd_4		NVARCHAR(10)	=	''
,	@P_cre_user				NVARCHAR(10)	=	''
,	@P_cre_ip				NVARCHAR(10)	=	''
,	@w_language				NVARCHAR(2)		=	'jp'
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time				DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL			ERRTABLE	
	,	@w_report_no		SMALLINT		=	0
	,	@w_beginning_date	DATETIME		=	NULL
	,	@w_start_date		DATE			=	NULL
	,	@w_end_date			DATE			=	NULL
	,	@w_deadline_date	DATE			=	NULL
	,	@w_sheet			SMALLINT		=	0			
	,	@w_adaption_date	DATE			=	NULL
	-- GET FROM JSON
	SELECT 
		@w_beginning_date = M9100.report_beginning_date 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	IF @w_beginning_date IS NOT NULL
	BEGIN
		SET @w_start_date	=	CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@w_beginning_date,'MM/dd')) AS DATE)
	END
	ELSE
	BEGIN
		SET @w_start_date	=	CAST((CAST(YEAR(@P_fiscal_year) AS nvarchar(4)) + '/01/01') AS DATE)
	END
	SET @w_end_date = DATEADD(year, 1, @w_start_date)
	IF LEN(@P_employee_cd)>10
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		28					
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Employee Code【' + @P_employee_cd + '】：','社員番号【' + @P_employee_cd + '】：') 	
	END
	IF (NOT EXISTS (SELECT 1 FROM M0070 
	WHERE 
		company_cd = @P_company_cd 
		AND employee_cd = @P_employee_cd 
		AND M0070.del_datetime IS NULL))
	AND @P_employee_cd <> ''
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		128					
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Employee Code【' + @P_employee_cd + '】：','社員番号【' + @P_employee_cd + '】：') 	
	END
	IF (NOT EXISTS (SELECT 1 FROM M0070 
	WHERE 
		company_cd = @P_company_cd 
	AND employee_cd = @P_employee_cd 
	AND company_in_dt < @w_end_date
	AND (company_out_dt IS NULL 
	OR(company_out_dt IS NOT NULL AND company_out_dt>@w_start_date) AND M0070.del_datetime IS NULL)))
	AND @P_employee_cd <> ''
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		87					
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Employee Code【' + @P_employee_cd + '】：','社員番号【' + @P_employee_cd + '】：') 	
	END
	IF LEN(@P_approver_cd_1)>10
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		28					
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','First Approver【' + @P_approver_cd_1 + '】：','一次承認者【' + @P_approver_cd_1 + '】：') 	
	END

	IF (NOT EXISTS (SELECT 1 FROM M0070 
	WHERE 
		company_cd = @P_company_cd 
	AND employee_cd = @P_approver_cd_1 
	AND company_in_dt < @w_end_date
	AND (company_out_dt IS NULL 
	OR(company_out_dt IS NOT NULL AND company_out_dt>@w_start_date) AND M0070.del_datetime IS NULL)))
	AND @P_approver_cd_1 <> ''
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		87					
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','First Approver【' + @P_approver_cd_1 + '】：','一次承認者【' + @P_approver_cd_1 + '】：') 	
	END
	IF LEN(@P_approver_cd_2)>10
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		28					
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Second Approver【' + @P_approver_cd_2 + '】：','二次承認者【' + @P_approver_cd_2 + '】：') 	
	END
	IF (NOT EXISTS (SELECT 1 FROM M0070 
	WHERE 
		company_cd = @P_company_cd 
	AND employee_cd = @P_approver_cd_2 
	AND M0070.del_datetime IS NULL))
	AND @P_approver_cd_2 <> ''
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		128					
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Second Approver【' + @P_approver_cd_2 + '】：','二次承認者【' + @P_approver_cd_2 + '】：') 	
	END
	IF (NOT EXISTS (SELECT 1 FROM M0070 
	WHERE 
		company_cd = @P_company_cd 
	AND employee_cd = @P_approver_cd_2 
	AND company_in_dt < @w_end_date
	AND (company_out_dt IS NULL 
	OR(company_out_dt IS NOT NULL AND company_out_dt>@w_start_date) AND M0070.del_datetime IS NULL)))
	AND @P_approver_cd_2 <> ''
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		87					
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Second Approver【' + @P_approver_cd_2 + '】：','二次承認者【' + @P_approver_cd_2 + '】：') 	
	END
	IF LEN(@P_approver_cd_3)>10
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		28					
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Third Approver【' + @P_approver_cd_3 + '】：','三次承認者【' + @P_approver_cd_3 + '】：')
	END
	IF (NOT EXISTS (SELECT 1 FROM M0070 
	WHERE 
		company_cd = @P_company_cd 
	AND employee_cd = @P_approver_cd_3 
	))
	AND @P_approver_cd_3 <> ''
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		128				
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Third Approver【' + @P_approver_cd_3 + '】：','三次承認者【' + @P_approver_cd_3 + '】：')	
	END
	IF (NOT EXISTS (SELECT 1 FROM M0070 
	WHERE 
		company_cd = @P_company_cd 
	AND employee_cd = @P_approver_cd_3 
	AND company_in_dt < @w_end_date
	AND (company_out_dt IS NULL 
	OR(company_out_dt IS NOT NULL AND company_out_dt>@w_start_date) AND M0070.del_datetime IS NULL)))
	AND @P_approver_cd_3 <> ''
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		87				
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Third Approver【' + @P_approver_cd_3 + '】：','三次承認者【' + @P_approver_cd_3 + '】：')	
	END
	IF isnumeric(@P_group_cd) = 0
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		10					
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Group【' + CAST(@P_group_cd AS nvarchar(10)) + '】：','グループ【' + CAST(@P_group_cd AS nvarchar(10)) + '】：')	
	END
	IF LEN(@P_group_cd) > 5
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		28			
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Group【' + CAST(@P_group_cd AS nvarchar(10)) + '】：','グループ【' + CAST(@P_group_cd AS nvarchar(10)) + '】：') 　-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
	END
	IF EXISTS(SELECT 1 FROM @ERR_TBL) GOTO COMPLETE_QUERY
	IF (NOT EXISTS (SELECT 1 FROM M0070 
	WHERE 
		company_cd = @P_company_cd 
	AND employee_cd = @P_approver_cd_4 
	))
	AND @P_approver_cd_4 <> ''
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		128				
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Fourth Approver【' + @P_approver_cd_4 + '】：','四次承認者【' + @P_approver_cd_4 + '】：') 	
	END
	IF (NOT EXISTS (SELECT 1 FROM M0070 
	WHERE 
		company_cd = @P_company_cd 
	AND employee_cd = @P_approver_cd_4 
	AND company_in_dt < @w_end_date
	AND (company_out_dt IS NULL 
	OR(company_out_dt IS NOT NULL AND company_out_dt>@w_start_date) AND M0070.del_datetime IS NULL)))
	AND @P_approver_cd_4 <> ''
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		87				
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Fourth Approver【' + @P_approver_cd_4 + '】：','四次承認者【' + @P_approver_cd_4 + '】：') 	
	END
	IF isnumeric(@P_group_cd) <> 0
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM M4600
													WHERE 
														M4600.company_cd	=	@P_company_cd
													AND M4600.group_cd		=	@P_group_cd
													AND M4600.del_datetime IS NULL 
		)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				82									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language <> 'jp','Group【' + CAST(@P_group_cd AS nvarchar(10)) + '】：','グループ【' + CAST(@P_group_cd AS nvarchar(10)) + '】：') 　-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
		IF EXISTS (SELECT 1 FROM F4110 
							WHERE 
								F4110.company_cd			= @P_company_cd 
							AND F4110.fiscal_year			= @P_fiscal_year
							AND F4110.employee_cd			= @P_employee_cd
							AND F4110.group_cd				<> @P_group_cd
							AND (
								(F4110.month				= @P_month
							AND @P_month > 0)
							OR @P_month <= 0
							)
							AND F4110.report_kind			= @P_report_kind
							AND del_datetime IS NULL
											)
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT
				82									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1--dialog 							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	IIF(@w_language <> 'jp','Group【' + CAST(@P_group_cd AS nvarchar(10)) + '】：','グループ【' + CAST(@P_group_cd AS nvarchar(10)) + '】：') 　-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		END
	END
	CREATE TABLE #TEMP_PARAMS(
		company_cd					SMALLINT
	,	fiscal_year					SMALLINT
	,	employee_cd					NVARCHAR(10)
	,	report_kind					SMALLINT
	,	detail_no					SMALLINT
	,	[month]						SMALLINT
	,	group_cd					SMALLINT
	,	approver_employee_cd_1		Nvarchar(10)
	,	approver_employee_cd_2		Nvarchar(10)
	,	approver_employee_cd_3		Nvarchar(10)
	,	approver_employee_cd_4		Nvarchar(10)
	,	sheet						SMALLINT
	,	adaption_date				DATE
	,	schedule_sheet_cd			SMALLINT
	,	schedule_adaption_date		DATE
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	)
	CREATE TABLE #F4200_DEL(
		company_cd					SMALLINT
	,	fiscal_year					SMALLINT
	,	employee_cd					NVARCHAR(10)
	,	report_kind					SMALLINT
	,	report_no					SMALLINT
	,	sheet						SMALLINT
	,	adaption_date				DATE
	,	status_cd					SMALLINT
	,	title						NVARCHAR(20)
	,	approver_employee_cd_1		Nvarchar(10)
	,	approver_user_1				Nvarchar(50)
	,	approver_datetime_1			datetime
	,	approver_employee_cd_2		Nvarchar(10)
	,	approver_user_2				Nvarchar(50)
	,	approver_datetime_2			datetime
	,	approver_employee_cd_3		Nvarchar(10)
	,	approver_user_3				Nvarchar(50)
	,	approver_datetime_3			datetime
	,	approver_employee_cd_4		Nvarchar(10)
	,	approver_user_4				Nvarchar(50)
	,	approver_datetime_4			datetime
	,	[year]						SMALLINT
	,	month						SMALLINT
	,	times						SMALLINT
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	)
	-- PREPARE BEFORE INSERT INTO TABLE
	CREATE TABLE #TEMP(
		id_column					SMALLINT
	,	company_cd					SMALLINT
	,	fiscal_year					SMALLINT
	,	employee_cd					NVARCHAR(10)
	,	report_kind					SMALLINT
	,	detail_no					SMALLINT
	,	[month]						SMALLINT
	,	group_cd					SMALLINT
	,	approver_employee_cd_1		NVARCHAR(10)
	,	approver_employee_cd_2		NVARCHAR(10)
	,	approver_employee_cd_3		NVARCHAR(10)
	,	approver_employee_cd_4		NVARCHAR(10)
	,	sheet						SMALLINT
	,	adaption_date				DATE
	,	title						NVARCHAR(20)
	,	[year]						SMALLINT
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	)
	CREATE TABLE #TEMP_TIME(
		detail_no					SMALLINT
	,	month						SMALLINT
	,	normal_month				SMALLINT
	,	start_date					DATETIME
	,	deadline_date				DATETIME
	)
	--CREATE TABLE #TABLE_SHEET (
	--	id				int			identity(1,1)
	--,	sheet_cd		smallint
	--,	adaption_date	date
	--)
	IF @P_month = -1
	BEGIN
	SET @P_month = 0
	END
	IF @P_times = -1
	BEGIN
	SET @P_times = 0
	END

	--
	INSERT INTO #TEMP_TIME
	EXEC [dbo].SPC_WEEKLYREPORT_GET_WEEKLY @P_company_cd,@P_fiscal_year,@P_month
	IF @P_month <> 0
	BEGIN
	SELECT TOP 1 @P_month = normal_month FROM #TEMP_TIME
	END

	SELECT 
		@w_deadline_date = MAX(F4100.deadline_date)	
	FROM F4100
	WHERE 
		F4100.company_cd		=	@P_company_cd
	AND F4100.fiscal_year		=	@P_fiscal_year
	AND F4100.group_cd			=	@P_group_cd
	AND F4100.report_kind		=	@P_report_kind
	AND (
		(@P_month = 0)
	OR	(@P_month <> 0 AND F4100.month = @P_month)
	)
	AND (
		(@P_times = 0)
	OR	(@P_times <> 0 AND F4100.detail_no = @P_times)
	)
	AND F4100.del_datetime IS NULL
	SELECT 
		@w_sheet			=	M4610.sheet_cd
	FROM M4610
	WHERE 
		M4610.company_cd	=	@P_company_cd
	AND M4610.report_kind	=	@P_report_kind
	AND M4610.group_cd		=	@P_group_cd
	AND M4610.del_datetime IS NULL
	
	SELECT 
		@w_adaption_date	=	MAX(M4200.adaption_date)
	FROM M4200
	WHERE
		M4200.company_cd	=	@P_company_cd
	AND M4200.report_kind	=	@P_report_kind
	AND M4200.adaption_date	<=	@w_deadline_date
	AND M4200.sheet_cd		=	@w_sheet
	AND M4200.del_datetime IS NULL
	GROUP BY
		M4200.company_cd		
	,	M4200.report_kind	
	,	M4200.adaption_date	
	--
	-- INSERT #TEMP_PARAMS
	INSERT INTO #TEMP_PARAMS
	SELECT 
		@P_company_cd
	,	@P_fiscal_year
	,	@P_employee_cd
	,	@P_report_kind
	,	IIF(@P_times=-1,0,@P_times)
	,	IIF(@P_month=-1,0,@P_month)
	,	@P_group_cd
	,	@P_approver_cd_1
	,	@P_approver_cd_2
	,	@P_approver_cd_3
	,	@P_approver_cd_4
	,	0
	,	NULL
	,	@w_sheet
	,	IIF(@w_adaption_date = '',NULL,@w_adaption_date)
	,	@P_cre_user
	,	@P_cre_ip
	,	'ri1020'
	,	@w_time
	,	NULL
	,	NULL
	,	''
	,	NULL
	-- INSERT #TEMP
	INSERT INTO #TEMP
	SELECT 
		ROW_NUMBER () OVER (PARTITION BY #TEMP_PARAMS.company_cd,#TEMP_PARAMS.fiscal_year,#TEMP_PARAMS.employee_cd,#TEMP_PARAMS.report_kind ORDER BY #TEMP_PARAMS.employee_cd)
	,	@P_company_cd
	,	@P_fiscal_year
	,	#TEMP_PARAMS.employee_cd
	,	#TEMP_PARAMS.report_kind
	,	F4100.detail_no
	,	F4100.[month]
	,	#TEMP_PARAMS.group_cd
	,	approver_employee_cd_1
	,	approver_employee_cd_2
	,	approver_employee_cd_3
	,	approver_employee_cd_4
	-- SHEET_CD
	,	CASE 
			WHEN ISNULL(#TEMP_PARAMS.sheet,0) <> 0
			THEN ISNULL(#TEMP_PARAMS.sheet,0)
			ELSE ISNULL(#TEMP_PARAMS.schedule_sheet_cd,0)
		END	
	,	CASE 
			WHEN #TEMP_PARAMS.adaption_date IS NOT NULL
			THEN #TEMP_PARAMS.adaption_date
			ELSE #TEMP_PARAMS.schedule_adaption_date
		END	
	,	F4100.title
	,	F4100.[year]
	,	@P_cre_user
	,	@P_cre_ip
	,	'ri1020'
	,	@w_time
	,	NULL
	,	NULL
	,	''
	,	NULL
	FROM #TEMP_PARAMS 
	LEFT JOIN F4100 ON (
		#TEMP_PARAMS.company_cd		= F4100.company_cd 
	AND #TEMP_PARAMS.fiscal_year	= F4100.fiscal_year 
	AND #TEMP_PARAMS.group_cd		= F4100.group_cd 
	AND #TEMP_PARAMS.report_kind	= F4100.report_kind
	)
	WHERE 
		(
			@P_times = 0
		OR	(@P_times <> 0 AND F4100.detail_no = @P_times)
		)
	AND (
			@P_month = 0
		OR	(@P_month <> 0 AND F4100.month= @P_month)
		)
	AND user_typ = 1
	ORDER BY 
		F4100.detail_no
 					
	INSERT INTO @ERR_TBL
	SELECT	
	TOP 1
		152				
	,	''						
	,	0-- oderby				
	,	2		  			
	,	0							
	,	0				
	,	IIF(@w_language <> 'jp','Employee Code【' + @P_employee_cd + '】：','社員番号【' + @P_employee_cd + '】：') 		
	FROM #TEMP AS A 
	INNER JOIN F4200 ON(
		A.company_cd	= F4200.company_cd
	AND	A.fiscal_year	= F4200.fiscal_year
	AND A.employee_cd	= F4200.employee_cd
	AND A.report_kind	= F4200.report_kind
	AND A.detail_no		= F4200.times
	AND F4200.del_datetime IS NULL
	)
	WHERE	
		F4200.status_cd > 1

	INSERT INTO @ERR_TBL
	SELECT		
		8					
	,	''						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Employee Code【' + @P_employee_cd + '】：','社員番号【' + @P_employee_cd + '】：') 	
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.employee_cd	=	''

	INSERT INTO @ERR_TBL
	SELECT		
		8					
	,	'.error_approver_emp_1'						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','First Approver【' + @P_approver_cd_1 + '】：','一次承認者【' + @P_approver_cd_1 + '】：') 	
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_1	=	''
	AND #TEMP_PARAMS.approver_employee_cd_2	<>	''
	INSERT INTO @ERR_TBL
	SELECT		
		32					
	,	'.error_approver_emp_1'						
	,	0-- oderby				
	,	2  			
	,	0				
	,	0			
	,	IIF(@w_language <> 'jp','First Approver【' + @P_approver_cd_1 + '】：','一次承認者【' + @P_approver_cd_1 + '】：') -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_1 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_1 <> '0'
	AND	(#TEMP_PARAMS.approver_employee_cd_1=	#TEMP_PARAMS.approver_employee_cd_2
	OR #TEMP_PARAMS.approver_employee_cd_1	=	#TEMP_PARAMS.approver_employee_cd_3
	OR #TEMP_PARAMS.approver_employee_cd_1	=	#TEMP_PARAMS.approver_employee_cd_4)
	------check approver 1 is reporter
	INSERT INTO @ERR_TBL
	SELECT		
		153					
	,	'.error_approver_emp_1'						
	,	0-- oderby				
	,	2  			
	,	0				
	,	0			
	,	IIF(@w_language <> 'jp','First Approver【' + @P_approver_cd_1 + '】：','一次承認者【' + @P_approver_cd_1 + '】：') -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_1 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_1 <> '0'
	AND	#TEMP_PARAMS.approver_employee_cd_1	=	#TEMP_PARAMS.employee_cd
	INSERT INTO @ERR_TBL
	SELECT		
		8					
	,	'.error_approver_emp_2'						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Second Approver【' + @P_approver_cd_2 + '】：','二次承認者【' + @P_approver_cd_2 + '】：') 		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_2	=	''
	AND (#TEMP_PARAMS.approver_employee_cd_3	<>	''
	OR	#TEMP_PARAMS.approver_employee_cd_4	<>	'')
	INSERT INTO @ERR_TBL
	SELECT		
		32					
	,	'.error_approver_emp_2'						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Second Approver【' +@P_approver_cd_2 + '】：','二次承認者【' + @P_approver_cd_2 + '】：') 		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_2 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_2 <> '0'
	AND	(#TEMP_PARAMS.approver_employee_cd_2	=	#TEMP_PARAMS.approver_employee_cd_1
	OR #TEMP_PARAMS.approver_employee_cd_2	=	#TEMP_PARAMS.approver_employee_cd_3
	OR #TEMP_PARAMS.approver_employee_cd_2	=	#TEMP_PARAMS.approver_employee_cd_4)
	----check approver 2 is reporter
	INSERT INTO @ERR_TBL
	SELECT		
		153					
	,	'.error_approver_emp_2'					
	,	0-- oderby				
	,	2  			
	,	0				
	,	0			
	,	IIF(@w_language <> 'jp','Second Approver【' +@P_approver_cd_2 + '】：','二次承認者【' + @P_approver_cd_2 + '】：') 		 -- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_2 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_2 <> '0'
	AND	#TEMP_PARAMS.approver_employee_cd_2	=	#TEMP_PARAMS.employee_cd
	INSERT INTO @ERR_TBL
	SELECT		
		8						
	,	'.error_approver_emp_3'						
	,	0-- oderby				
	,	2  	
	,	0					
	,	0				
	,	IIF(@w_language <> 'jp','Third Approver【' + @P_approver_cd_3 + '】：','三次承認者【' + @P_approver_cd_3 + '】：') 		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_3	=	''
	AND #TEMP_PARAMS.approver_employee_cd_4	<>	''
	INSERT INTO @ERR_TBL
	SELECT		
		32					
	,	'.error_approver_emp_3'						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Third Approver【' + @P_approver_cd_3 + '】：','三次承認者【' + @P_approver_cd_3+ '】：') 		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_3 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_3 <> '0'
	AND	(#TEMP_PARAMS.approver_employee_cd_3	=	#TEMP_PARAMS.approver_employee_cd_1
	OR #TEMP_PARAMS.approver_employee_cd_3	=	#TEMP_PARAMS.approver_employee_cd_2
	OR #TEMP_PARAMS.approver_employee_cd_3	=	#TEMP_PARAMS.approver_employee_cd_4)
	----check approver 3 is reporter
	INSERT INTO @ERR_TBL
	SELECT		
		153					
	,	'.error_approver_emp_3'						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Third Approver【' + @P_approver_cd_3 + '】：','三次承認者【' + @P_approver_cd_3+ '】：') 		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_3 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_3 <> '0'
	AND #TEMP_PARAMS.approver_employee_cd_3	=	#TEMP_PARAMS.employee_cd
	INSERT INTO @ERR_TBL
	SELECT		
		32					
	,	'.error_approver_emp_4'						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Fourth Approver【' + @P_approver_cd_4 + '】：','四次承認者【' + @P_approver_cd_4 + '】：') 		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_4 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_3 <> '0'
	AND	(#TEMP_PARAMS.approver_employee_cd_4	=	#TEMP_PARAMS.approver_employee_cd_1
	OR #TEMP_PARAMS.approver_employee_cd_4	=	#TEMP_PARAMS.approver_employee_cd_2
	OR #TEMP_PARAMS.approver_employee_cd_4	=	#TEMP_PARAMS.approver_employee_cd_3)
	---check approver 4 is reporter\
	INSERT INTO @ERR_TBL
	SELECT		
		153					
	,	'.error_approver_emp_4'						
	,	0-- oderby				
	,	2  	
	,	0						
	,	0					
	,	IIF(@w_language <> 'jp','Fourth Approver【' + @P_approver_cd_4 + '】：','四次承認者【' + @P_approver_cd_4 + '】：') 		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_4 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_3 <> '0'
	AND #TEMP_PARAMS.approver_employee_cd_4	=	#TEMP_PARAMS.employee_cd
	IF EXISTS(
	SELECT employee_cd, COUNT(employee_cd)
	FROM #TEMP_PARAMS
	GROUP BY employee_cd
	HAVING COUNT(employee_cd) > 1
	)
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		32					
	,	'.error_approver_emp_4'						
	,	0-- oderby				
	,	1		  			
	,	0				
	,	0			
	,	IIF(@w_language <> 'jp','Fourth Approver【' + @P_approver_cd_4 + '】：','四次承認者【' + @P_approver_cd_4 + '】：') 	
	END
	-- comment out by viettd 2023/06/15
	IF (@w_adaption_date IS NULL) OR (@w_sheet = 0)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT 
			142
		,	''
		,	0
		,	1 -- exception error
		,	0
		,	0
		,	IIF(@w_language <> 'jp','Group【' + CAST(@P_group_cd AS nvarchar(10)) + '】：','グループ【' + CAST(@P_group_cd AS nvarchar(10)) + '】：') 　-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
	END
	IF EXISTS (SELECT 1 FROM @ERR_TBL) GOTO COMPLETE_QUERY
	BEGIN TRANSACTION
	BEGIN TRY
		UPDATE #TEMP SET
			upd_user		= @P_cre_user
		,	upd_ip			= @P_cre_ip
		,	upd_prg			= 'ri1020'
		,	upd_datetime	= @w_time
		FROM #TEMP
		INNER JOIN F4110 ON(
			#TEMP.company_cd	= F4110.company_cd 
		AND #TEMP.fiscal_year	= F4110.fiscal_year 
		AND #TEMP.employee_cd	= F4110.employee_cd 
		AND #TEMP.report_kind	= F4110.report_kind
		--AND #TEMP.group_cd		= F4110.group_cd
		)
		-- DELETE TABLE F4110, F4111, F4200
		UPDATE F4110 SET
			F4110.group_cd			= #TEMP.group_cd
		,	F4110.upd_user			= #TEMP.upd_user	
		,	F4110.upd_ip			= #TEMP.upd_ip	
		,	F4110.upd_prg			= #TEMP.upd_prg	
		,	F4110.upd_datetime		= #TEMP.upd_datetime
		,	F4110.del_user			= NULL
		,	F4110.del_ip			= NULL
		,	F4110.del_prg			= ''
		,	F4110.del_datetime		= NULL
		FROM F4110
		INNER JOIN #TEMP ON(
			#TEMP.company_cd = F4110.company_cd 
		AND #TEMP.fiscal_year = F4110.fiscal_year 
		AND #TEMP.employee_cd = F4110.employee_cd 
		AND #TEMP.report_kind = F4110.report_kind
		AND #TEMP.month = F4110.month
		AND #TEMP.detail_no = F4110.times
		)
		--F4111
	
		UPDATE F4111 SET
			F4111.approver_employee_cd_1 = #TEMP.approver_employee_cd_1
		,	F4111.approver_employee_cd_2 = #TEMP.approver_employee_cd_2
		,	F4111.approver_employee_cd_3 = #TEMP.approver_employee_cd_3
		,	F4111.approver_employee_cd_4 = #TEMP.approver_employee_cd_4
		,	F4111.upd_user			= #TEMP.upd_user	
		,	F4111.upd_ip			= #TEMP.upd_ip	
		,	F4111.upd_prg			= #TEMP.upd_prg	
		,	F4111.upd_datetime		= #TEMP.upd_datetime
		,	F4111.del_user			= NULL
		,	F4111.del_ip			= NULL
		,	F4111.del_prg			= ''
		,	F4111.del_datetime		= NULL
		FROM F4111
		INNER JOIN F4110 ON(
			F4111.company_cd	= F4110.company_cd 
		AND F4111.fiscal_year	= F4110.fiscal_year 
		AND F4111.employee_cd	= F4110.employee_cd 
		AND F4111.report_kind	= F4110.report_kind
		AND F4111.report_no		= F4110.report_no
		)
		INNER JOIN #TEMP ON(
			F4111.company_cd	= #TEMP.company_cd 
		AND F4111.fiscal_year	= #TEMP.fiscal_year 
		AND F4111.employee_cd	= #TEMP.employee_cd 
		AND F4111.report_kind	= #TEMP.report_kind
		AND F4110.times			= #TEMP.detail_no
		)
		--F4200_DEL
		INSERT INTO #F4200_DEL
		SELECT 
				F4200.company_cd				
			,	F4200.fiscal_year				
			,	F4200.employee_cd				
			,	F4200.report_kind				
			,	F4200.report_no				
			,	F4200.sheet_cd					
			,	F4200.adaption_date			
			,	F4200.status_cd				
			,	F4200.title					
			,	F4200.approver_employee_cd_1	
			,	F4200.approver_user_1			
			,	F4200.approver_datetime_1		
			,	F4200.approver_employee_cd_2	
			,	F4200.approver_user_2			
			,	F4200.approver_datetime_2		
			,	F4200.approver_employee_cd_3	
			,	F4200.approver_user_3			
			,	F4200.approver_datetime_3		
			,	F4200.approver_employee_cd_4	
			,	F4200.approver_user_4			
			,	F4200.approver_datetime_4		
			,	F4200.[year]					
			,	F4200.month					
			,	F4200.times					
			,	F4200.cre_user				
			,	F4200.cre_ip					
			,	F4200.cre_prg					
			,	F4200.cre_datetime			
			,	F4200.upd_user				
			,	F4200.upd_ip					
			,	F4200.upd_prg					
			,	F4200.upd_datetime			
		FROM F4200
		LEFT JOIN F4110 ON(
			F4200.company_cd		=	F4110.company_cd	
		AND F4200.fiscal_year		=	F4110.fiscal_year	
		AND F4200.employee_cd		=	F4110.employee_cd	
		AND F4200.report_kind		=	F4110.report_kind	
		AND F4200.report_no			=	F4110.report_no		
		)
		WHERE 
			F4110.company_cd IS NULL
		AND F4200.company_cd = @P_company_cd
		AND F4200.report_kind = @P_report_kind
		AND F4200.fiscal_year = @P_fiscal_year
		AND F4200.report_no	  =	@w_report_no	
		AND F4200.del_datetime IS NULL
		----
		UPDATE F4200 SET
			sheet_cd		= 	F4111.sheet_cd				
		,	adaption_date	=	#TEMP.adaption_date			
		,	status_cd		=	1	
		,	title			=	#TEMP.title		
		,	approver_employee_cd_1	= F4111.approver_employee_cd_1
		,	approver_user_1			= ''
		,	approver_datetime_1		= NULL
		,	approver_employee_cd_2	= F4111.approver_employee_cd_2
		,	approver_user_2			= ''
		,	approver_datetime_2		= NULL
		,	approver_employee_cd_3	= F4111.approver_employee_cd_3
		,	approver_user_3			= ''
		,	approver_datetime_3		= NULL
		,	approver_employee_cd_4	= F4111.approver_employee_cd_4
		,	approver_user_4			= ''
		,	approver_datetime_4		= NULL
		,	[year]					= #TEMP.year		
		,	month					= #TEMP.month
		,	times					= #TEMP.detail_no
		,	upd_user				= #TEMP.upd_user	
		,	upd_ip					= #TEMP.upd_ip	
		,	upd_prg					= #TEMP.upd_prg	
		,	upd_datetime			= #TEMP.upd_datetime
		,	del_user				= NULL
		,	del_ip					= NULL
		,	del_prg					= ''
		,	del_datetime			= NULL

		FROM F4200
		INNER JOIN F4111 ON(
			F4111.company_cd	= F4200.company_cd 
		AND F4111.fiscal_year	= F4200.fiscal_year 
		AND F4111.employee_cd	= F4200.employee_cd 
		AND F4111.report_kind	= F4200.report_kind
		AND F4111.report_no		= F4200.report_no
		)
		INNER JOIN #TEMP ON(
			#TEMP.company_cd	= F4111.company_cd 
		AND #TEMP.fiscal_year	= F4111.fiscal_year 
		AND #TEMP.employee_cd	= F4111.employee_cd 
		AND #TEMP.report_kind	= F4111.report_kind
		)
		INNER JOIN F4110 ON(
			F4111.company_cd	= F4110.company_cd 
		AND F4111.fiscal_year	= F4110.fiscal_year 
		AND F4111.employee_cd	= F4110.employee_cd 
		AND F4111.report_kind	= F4110.report_kind
		AND F4111.report_no	= F4110.report_no
		AND #TEMP.detail_no		= F4110.times
		)
	
		DELETE #TEMP
		FROM #TEMP
		INNER JOIN F4110 ON(
			#TEMP.company_cd		=	F4110.company_cd	
		AND #TEMP.fiscal_year		=	F4110.fiscal_year	
		AND #TEMP.employee_cd		=	F4110.employee_cd	
		AND #TEMP.report_kind		=	F4110.report_kind	
		AND #TEMP.detail_no			=	F4110.times		
		AND #TEMP.month				=	F4110.month		
		)
		-- INSERT TABLE F4110, F4111, F4200
		UPDATE #TEMP SET
			id_column = table_temp.id+F4110_MAX.report_no
		FROM (
			SELECT
				ROW_NUMBER () OVER (PARTITION BY company_cd,fiscal_year,report_kind,employee_cd ORDER BY detail_no) as id 
			,	company_cd
			,	fiscal_year
			,	employee_cd
			,	report_kind
			,	detail_no
			FROM #TEMP
		) as table_temp
		INNER JOIN #TEMP ON (
			#TEMP.company_cd	= table_temp.company_cd
		AND	#TEMP.fiscal_year	= table_temp.fiscal_year
		AND	#TEMP.employee_cd	= table_temp.employee_cd
		AND	#TEMP.report_kind	= table_temp.report_kind
		AND	#TEMP.detail_no	= table_temp.detail_no
		)
		INNER JOIN(
			SELECT
				F4110.company_cd
			,	F4110.fiscal_year
			,	F4110.employee_cd
			,	F4110.report_kind
			,	ISNULL(MAX(F4110.report_no),0) AS report_no	
			FROM F4110
			WHERE
				F4110.company_cd	= @P_company_cd
			AND F4110.fiscal_year	= @P_fiscal_year
			AND F4110.report_kind	= @P_report_kind
			--AND F4110.del_datetime IS NULL
			GROUP BY
				F4110.company_cd
			,	F4110.fiscal_year
			,	F4110.employee_cd
			,	F4110.report_kind
		) AS F4110_MAX ON (
			#TEMP.company_cd	= F4110_MAX.company_cd
		AND	#TEMP.fiscal_year	= F4110_MAX.fiscal_year
		AND	#TEMP.employee_cd	= F4110_MAX.employee_cd
		AND	#TEMP.report_kind	= F4110_MAX.report_kind
		)
		-- F4110
		DELETE F4110 FROM F4110
		INNER JOIN #TEMP ON(
			#TEMP.company_cd = F4110.company_cd 
		AND #TEMP.fiscal_year = F4110.fiscal_year 
		AND #TEMP.employee_cd = F4110.employee_cd 
		AND #TEMP.report_kind = F4110.report_kind
		AND #TEMP.month = F4110.month
		AND #TEMP.detail_no = F4110.times
		)
		WHERE 
			del_datetime IS NOT NULL
		INSERT INTO F4110
		select 
			company_cd
		,	fiscal_year
		,	employee_cd
		,	@P_report_kind
		,	id_column
		,	[month]
		,	#TEMP.detail_no
		,	@P_group_cd	
		,	cre_user
		,	cre_ip
		,	cre_prg	
		,	cre_datetime
		,	upd_user
		,	upd_ip
		,	upd_prg
		,	upd_datetime
		,	NULL
		,	NULL
		,	''
		,	NULL
		FROM #TEMP 
		--F4111
		DELETE F4111 FROM F4111 INNER JOIN #TEMP ON(
			F4111.company_cd  = #TEMP.company_cd
		AND F4111.fiscal_year = #TEMP.fiscal_year
		AND F4111.employee_cd = #TEMP.employee_cd
		AND F4111.report_kind = #TEMP.report_kind
		AND F4111.report_no	= @w_report_no
		)
		WHERE
			F4111.del_datetime IS NOT NULL
		INSERT INTO F4111
		SELECT 
			company_cd
		,	fiscal_year
		,	employee_cd
		,	@P_report_kind
		,	id_column
		,	approver_employee_cd_1
		,	approver_employee_cd_2
		,	approver_employee_cd_3
		,	approver_employee_cd_4
		,	sheet
		,	cre_user
		,	cre_ip
		,	cre_prg
		,	cre_datetime
		,	upd_user
		,	upd_ip
		,	upd_prg
		,	upd_datetime
		,	NULL
		,	NULL
		,	''
		,	NULL
		FROM #TEMP 

		--F4200
		DELETE F4200 FROM F4200 INNER JOIN #TEMP ON(
			F4200.company_cd  = #TEMP.company_cd
		AND F4200.fiscal_year = #TEMP.fiscal_year
		AND F4200.employee_cd = #TEMP.employee_cd
		AND F4200.report_kind = #TEMP.report_kind
		AND F4200.report_no	= @w_report_no
		)
		WHERE
			F4200.del_datetime IS NOT NULL
		INSERT INTO F4200
		SELECT 
			#TEMP.company_cd
		,	#TEMP.fiscal_year
		,	#TEMP.employee_cd
		,	@P_report_kind
		,	id_column				AS	report_no
		,	#TEMP.sheet					AS	sheet_cd
		,	#TEMP.adaption_date
		,	IIF(#TEMP.sheet = B.sheet, B.status_cd, 1) -- 未提出
		,	#TEMP.title
		,	#TEMP.approver_employee_cd_1
		,	''
		,	NULL
		,	#TEMP.approver_employee_cd_2
		,	''
		,	NULL
		,	#TEMP.approver_employee_cd_3
		,	''
		,	NULL
		,	#TEMP.approver_employee_cd_4
		,	''
		,	NULL
		,	#TEMP.year
		,	#TEMP.[month]
		,	#TEMP.detail_no
		,	#TEMP.cre_user
		,	#TEMP.cre_ip
		,	#TEMP.cre_prg
		,	#TEMP.cre_datetime
		,	#TEMP.upd_user
		,	#TEMP.upd_ip
		,	#TEMP.upd_prg
		,	#TEMP.upd_datetime
		,	NULL
		,	NULL
		,	''
		,	NULL
		FROM #TEMP  LEFT JOIN #F4200_DEL AS B ON(
			#TEMP.company_cd	= B.company_cd
		AND #TEMP.fiscal_year	= B.fiscal_year
		AND #TEMP.employee_cd	= B.employee_cd
		AND #TEMP.report_kind	= B.report_kind
		AND #TEMP.fiscal_year	= B.fiscal_year
		AND #TEMP.month			= B.month
		AND #TEMP.detail_no		= B.times
		)
		IF @w_start_date < @w_time AND @w_end_date > @w_time
		BEGIN
		-- S0010
		-- UPDATE 1.REPORTER 
		UPDATE S0010 SET 
			report_authority_typ	=	1
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #TEMP_PARAMS ON (
			S0010.company_cd		=	#TEMP_PARAMS.company_cd
		AND S0010.employee_cd		=	#TEMP_PARAMS.employee_cd
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (2,3,4,5,6)
		)

		-- UPDATE 2.APPROVER
		-- approver_employee_cd_1
		UPDATE S0010 SET 
			report_authority_typ	=	0
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #F4200_DEL ON (
			S0010.company_cd		=	#F4200_DEL.company_cd
		AND S0010.employee_cd		=	#F4200_DEL.approver_employee_cd_1
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		UPDATE S0010 SET 
			report_authority_typ	=	2
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #TEMP_PARAMS ON (
			S0010.company_cd		=	#TEMP_PARAMS.company_cd
		AND S0010.employee_cd		=	#TEMP_PARAMS.approver_employee_cd_1
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		-- approver_employee_cd_2
		UPDATE S0010 SET 
			report_authority_typ	=	0
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #F4200_DEL ON (
			S0010.company_cd		=	#F4200_DEL.company_cd
		AND S0010.employee_cd		=	#F4200_DEL.approver_employee_cd_2
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		UPDATE S0010 SET 
			report_authority_typ	=	2
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #TEMP_PARAMS ON (
			S0010.company_cd		=	#TEMP_PARAMS.company_cd
		AND S0010.employee_cd		=	#TEMP_PARAMS.approver_employee_cd_2
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		-- approver_employee_cd_3
		UPDATE S0010 SET 
			report_authority_typ	=	0
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #F4200_DEL ON (
			S0010.company_cd		=	#F4200_DEL.company_cd
		AND S0010.employee_cd		=	#F4200_DEL.approver_employee_cd_3
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		UPDATE S0010 SET 
			report_authority_typ	=	2
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #TEMP_PARAMS ON (
			S0010.company_cd		=	#TEMP_PARAMS.company_cd
		AND S0010.employee_cd		=	#TEMP_PARAMS.approver_employee_cd_3
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		-- approver_employee_cd_4
		UPDATE S0010 SET 
			report_authority_typ	=	0
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #F4200_DEL ON (
			S0010.company_cd		=	#F4200_DEL.company_cd
		AND S0010.employee_cd		=	#F4200_DEL.approver_employee_cd_4
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		UPDATE S0010 SET 
			report_authority_typ	=	2
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #TEMP_PARAMS ON (
			S0010.company_cd		=	#TEMP_PARAMS.company_cd
		AND S0010.employee_cd		=	#TEMP_PARAMS.approver_employee_cd_4
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)

		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		A.message_no
	,	A.item
	,	A.order_by
	,	A.error_typ
	,	A.value1
	,	A.value2
	,	A.remark
	,	IIF(@w_language = 'jp',L0020.[message],L0020.message_english) AS message_content
	FROM @ERR_TBL AS A 
	LEFT OUTER JOIN L0020 ON (
		A.message_no = L0020.message_cd
	)
	ORDER BY 
		order_by
END
GO