DROP PROCEDURE [SPC_RI1020_ACT3]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- +--TEST--+
-- EXEC SPC_RI1020_ACT3 '{"report_kinds":"5","fiscal_year":"2023","month":"6","times":"1","group_cd":"2","employee_cdX":"","tr_first_value":[{"key_emp":"20-2","key_group_cd":"","report_no":""}]}','20-6','192.168.5.152','10044';
--****************************************************************************************
--*   select * from F4100 where detail_no = 1
--*  処理概要/process overview	:	RI1020
--*  
--*  作成日/create date			:	2023/05/10
--*　作成者/creater				:	namnt	
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:　	
--*　更新内容/update content		:	
--****************************************************************************************

CREATE PROCEDURE [SPC_RI1020_ACT3] 
	@P_json			NVARCHAR(MAX)
,	@P_cre_user		NVARCHAR(50) = ''
,	@P_cre_ip		NVARCHAR(50) = ''
,	@P_company_cd	SMALLINT	 = 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time				DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL			ERRTABLE	
	,	@w_group_cd			SMALLINT
	,	@w_report_kind		SMALLINT
	,	@w_month			SMALLINT
	,	@w_fiscal_year		SMALLINT
	,	@w_detail_no		SMALLINT
	,	@w_report_no		SMALLINT
	,	@w_beginning_date	DATETIME
	,	@w_start_date		DATE
	,	@w_end_date			DATE
	,	@w_current_fiscal_year SMALLINT =( SELECT dbo.FNC_GET_YEAR(@P_company_cd,null))
	-- GET FROM JSON
	CREATE TABLE #TEMP_PARAMS(
		company_cd					SMALLINT
	,	fiscal_year					SMALLINT
	,	employee_cd					NVARCHAR(10)
	,	report_kind					SMALLINT
	,	report_no					SMALLINT
	,	[month]						SMALLINT
	,	group_cd					SMALLINT
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	,	pos_emp						SMALLINT
	)

	CREATE TABLE #TEMP_TIME(
		detail_no					SMALLINT
	,	month						SMALLINT
	,	normal_month				SMALLINT
	,	start_date					DATETIME
	,	deadline_date				DATETIME
	)
	CREATE TABLE #TEMP(
		id							INT NOT NULL IDENTITY(1,1) 
	,	id_column					SMALLINT
	,	company_cd					SMALLINT
	,	fiscal_year					SMALLINT
	,	employee_cd					NVARCHAR(10)
	,	report_kind					SMALLINT
	,	detail_no					SMALLINT
	,	[month]						SMALLINT
	,	group_cd					SMALLINT
	,	approver_employee_cd_1		NVARCHAR(10)
	,	approver_employee_cd_2		NVARCHAR(10)
	,	approver_employee_cd_3		NVARCHAR(10)
	,	approver_employee_cd_4		NVARCHAR(10)
	,	sheet						SMALLINT
	,	adaption_date				DATE
	,	title						NVARCHAR(20)
	,	[year]						SMALLINT
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	,	pos_emp						SMALLINT
	)
	SET @w_group_cd					=	ISNULL(JSON_VALUE(@P_json,'$.group_cd'),0)
	SET @w_report_kind				=	ISNULL(JSON_VALUE(@P_json,'$.report_kinds'),0)
	SET @w_month					=	ISNULL(JSON_VALUE(@P_json,'$.month'),0)
	SET @w_fiscal_year				=	ISNULL(JSON_VALUE(@P_json,'$.fiscal_year'),0)
	SET @w_detail_no				=	ISNULL(JSON_VALUE(@P_json,'$.times'),0)
	IF @w_month = -1
	BEGIN
	SET @w_month = 0
	END
	IF @w_detail_no = -1
	BEGIN
	SET @w_detail_no = 0
	END
	SELECT 
		@w_beginning_date = M9100.report_beginning_date 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	IF @w_beginning_date IS NOT NULL
	BEGIN
		SET @w_start_date	=	CAST((CAST(@w_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@w_beginning_date,'MM/dd')) AS DATE)
	END
	ELSE
	BEGIN
		SET @w_start_date	=	CAST((CAST(YEAR(@w_fiscal_year) AS nvarchar(4)) + '/01/01') AS DATE)
	END
	SET @w_end_date = DATEADD(year, 1, @w_start_date)
	INSERT INTO #TEMP_TIME
	EXEC [dbo].SPC_WEEKLYREPORT_GET_WEEKLY @P_company_cd,@w_fiscal_year,@w_month
	IF @w_month <> 0
	BEGIN
	SELECT TOP 1 @w_month = normal_month FROM #TEMP_TIME
	END
	-- INSERT #TEMP_PARAMS
	INSERT INTO #TEMP_PARAMS
	SELECT 
		@P_company_cd
	,	@w_fiscal_year
	,	key_emp
	,	@w_report_kind
	,	@w_detail_no
	,	@w_month
	,	@w_group_cd
	,	@P_cre_user
	,	@P_cre_ip
	,	'ri1020'
	,	@w_time
	,	NULL
	,	NULL
	,	''
	,	NULL
	,	pos_emp
	FROM OPENJSON (@P_json,'$.tr_del_value') WITH(
		key_emp	NVARCHAR(10)
	,	pos_emp SMALLINT
	)	AS json_table
	-- INSERT #TEMP
	INSERT INTO #TEMP
	SELECT 
		ROW_NUMBER () OVER (PARTITION BY #TEMP_PARAMS.company_cd,#TEMP_PARAMS.fiscal_year,#TEMP_PARAMS.employee_cd,#TEMP_PARAMS.report_kind ORDER BY #TEMP_PARAMS.employee_cd)
	,	@P_company_cd
	,	@w_fiscal_year
	,	#TEMP_PARAMS.employee_cd
	,	@w_report_kind
	,	F4100.detail_no
	,	F4100.[month]
	,	@w_group_cd
	,	''
	,	''
	,	''
	,	''
	,	0
	,	NULL
	,	F4100.title
	,	F4100.[year]
	,	@P_cre_user
	,	@P_cre_ip
	,	'ri1020'
	,	@w_time
	,	NULL
	,	NULL
	,	''
	,	NULL
	,	pos_emp
	FROM #TEMP_PARAMS 
	LEFT JOIN F4100 ON (
		#TEMP_PARAMS.company_cd		= F4100.company_cd 
	AND #TEMP_PARAMS.fiscal_year	= F4100.fiscal_year 
	AND #TEMP_PARAMS.group_cd		= F4100.group_cd 
	AND #TEMP_PARAMS.report_kind	= F4100.report_kind
	)
	WHERE 
		(
			@w_detail_no = 0
		OR	(@w_detail_no <> 0 AND F4100.detail_no = @w_detail_no)
		)
	AND (
			@w_month = 0
		OR	(@w_month <> 0 AND F4100.month= @w_month)
		)
	AND user_typ = 1

	INSERT INTO @ERR_TBL
	SELECT		
		152					
	,	'.tr_first_value'						
	,	0-- oderby				
	,	1		  			
	,	A.id							
	,	A.pos_emp				
	,	A.pos_emp
	FROM #TEMP AS A 
	INNER JOIN F4200 ON(
		A.company_cd	= F4200.company_cd
	AND	A.fiscal_year	= F4200.fiscal_year
	AND A.employee_cd	= F4200.employee_cd
	AND A.report_kind	= F4200.report_kind
	AND A.detail_no		= F4200.times
	AND F4200.del_datetime IS NULL
	)
	WHERE	
		F4200.status_cd > 1
	IF EXISTS (SELECT 1 FROM @ERR_TBL) GOTO COMPLETE_QUERY
	BEGIN TRANSACTION
	BEGIN TRY
		UPDATE F4110 SET
			del_user				=	@P_cre_user
		,	del_prg					=	'rI1020'
		,	del_ip					=	@P_cre_ip
		,	del_datetime			=	@w_time
		FROM F4110 AS A INNER JOIN #TEMP AS B ON(
			B.company_cd	= A.company_cd 
		AND B.fiscal_year	= A.fiscal_year 
		AND B.employee_cd	= A.employee_cd 
		AND B.report_kind	= A.report_kind
		AND B.month			= A.month
		AND B.detail_no		= A.times
		AND B.group_cd		= A.group_cd
		)
		WHERE
			A.del_datetime IS NULL
		UPDATE F4111 SET
			del_user				=	@P_cre_user
		,	del_prg					=	'rI1020'
		,	del_ip					=	@P_cre_ip
		,	del_datetime			=	@w_time
		FROM F4111 AS A INNER JOIN F4110 AS B ON(
			A.company_cd	=	B.company_cd
		AND A.fiscal_year	=	B.fiscal_year
		AND A.employee_cd	=	B.employee_cd
		AND A.report_kind	=	B.report_kind
		AND A.report_no		=	B.report_no
		)
		WHERE 
			A.del_datetime IS NULL
		AND B.del_datetime IS NOT NULL
		UPDATE F4200 SET
			del_user				=	@P_cre_user
		,	del_prg					=	'rI1020'
		,	del_ip					=	@P_cre_ip
		,	del_datetime			=	@w_time
		FROM F4200 AS A INNER JOIN F4110 AS B ON(
			A.company_cd	=	B.company_cd
		AND A.fiscal_year	=	B.fiscal_year
		AND A.employee_cd	=	B.employee_cd
		AND A.report_kind	=	B.report_kind
		AND A.report_no		=	B.report_no
		)
		WHERE 
			A.del_datetime IS NULL
		AND B.del_datetime IS NOT NULL

	IF @w_start_date < @w_time AND @w_end_date > @w_time
	BEGIN		
		IF NOT EXISTS (SELECT 1 FROM S0010
		INNER JOIN F4200 ON (
			S0010.company_cd		=	F4200.company_cd
		AND S0010.employee_cd		=	F4200.employee_cd
		)
		INNER JOIN #TEMP ON(
			F4200.company_cd	= #TEMP.company_cd
		AND F4200.fiscal_year	= #TEMP.fiscal_year
		AND F4200.employee_cd	= #TEMP.employee_cd
		AND (F4200.report_kind	<> #TEMP.report_kind
		OR F4200.report_no		<> #TEMP.detail_no)
		AND F4200.del_datetime	IS NULL
		) )
		BEGIN
			UPDATE S0010 SET 
				report_authority_typ	=	0
			,	upd_user				=	@P_cre_user
			,	upd_prg					=	'rI1020'
			,	upd_ip					=	@P_cre_ip
			,	upd_datetime			=	@w_time
			FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.employee_cd
			)
			INNER JOIN #TEMP ON(
				F4200.company_cd	= #TEMP.company_cd
			AND F4200.fiscal_year	= #TEMP.fiscal_year
			AND F4200.employee_cd	= #TEMP.employee_cd
			AND F4200.report_kind	= #TEMP.report_kind
			AND F4200.report_no		= #TEMP.detail_no
			)
			LEFT JOIN F4200 AS F4100_1 ON (
				F4100_1.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_1.approver_employee_cd_1
			AND F4100_1.fiscal_year	=	@w_current_fiscal_year
			AND F4100_1.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_4 ON (
				F4100_4.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_4.approver_employee_cd_4
			AND F4100_4.fiscal_year		=	@w_current_fiscal_year
			AND F4100_4.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_2 ON (
				F4100_2.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_2.approver_employee_cd_2
			AND F4100_2.fiscal_year		=	@w_current_fiscal_year
			AND F4100_2.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_3 ON (
				F4100_3.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_3.approver_employee_cd_3
			AND F4100_3.fiscal_year		=	@w_current_fiscal_year
			AND F4100_3.del_datetime IS NULL
			)
			WHERE
				F4100_2.company_cd IS NULL
			AND F4100_3.company_cd IS NULL
			AND F4100_4.company_cd IS NULL
			AND F4100_1.company_cd IS NULL
			AND (
				S0010.report_authority_typ IS NULL
			OR	S0010.report_authority_typ NOT IN (3,4,5)
			)
		END
		IF NOT EXISTS(
			SELECT 1 FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.approver_employee_cd_1
			) 
			INNER JOIN #TEMP ON(
				F4200.company_cd	= #TEMP.company_cd
			AND F4200.fiscal_year	= #TEMP.fiscal_year
			AND F4200.employee_cd	= #TEMP.employee_cd
			AND F4200.report_kind	= #TEMP.report_kind
			AND F4200.report_no		= #TEMP.detail_no
			)
			INNER JOIN F4200 AS F4100_RP ON (
				F4100_RP.company_cd				=	@P_company_cd
			AND F4200.approver_employee_cd_1	=	F4100_RP.employee_cd
			AND F4100_RP.fiscal_year			=	@w_current_fiscal_year
			AND F4100_RP.del_datetime IS NULL
			AND S0010.del_datetime IS NULL)
			)
		BEGIN
			UPDATE S0010 SET 
				report_authority_typ	= 0
			,	upd_user				=	@P_cre_user
			,	upd_prg					=	'rI1020'
			,	upd_ip					=	@P_cre_ip
			,	upd_datetime			=	@w_time
			FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.approver_employee_cd_1
			) 
			INNER JOIN #TEMP ON(
				F4200.company_cd	= #TEMP.company_cd
			AND F4200.fiscal_year	= #TEMP.fiscal_year
			AND F4200.employee_cd	= #TEMP.employee_cd
			AND F4200.report_kind	= #TEMP.report_kind
			AND F4200.report_no		= #TEMP.detail_no
			)
			LEFT JOIN F4200 AS F4100_1 ON (
				F4100_1.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_1.approver_employee_cd_1
			AND F4100_1.fiscal_year	=	@w_current_fiscal_year
			AND F4100_1.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_4 ON (
				F4100_4.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_4.approver_employee_cd_4
			AND F4100_4.fiscal_year		=	@w_current_fiscal_year
			AND F4100_4.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_2 ON (
				F4100_2.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_2.approver_employee_cd_2
			AND F4100_2.fiscal_year		=	@w_current_fiscal_year
			AND F4100_2.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_3 ON (
				F4100_3.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_3.approver_employee_cd_3
			AND F4100_3.fiscal_year		=	@w_current_fiscal_year
			AND F4100_3.del_datetime IS NULL
			)
			WHERE
				F4100_2.company_cd IS NULL
			AND F4100_3.company_cd IS NULL
			AND F4100_4.company_cd IS NULL
			AND F4100_1.company_cd IS NULL
			AND (
				S0010.report_authority_typ IS NULL
			OR	S0010.report_authority_typ NOT IN (3,4,5)
			)
		END
		ELSE
		BEGIN
			UPDATE S0010 SET 
				report_authority_typ	= 1
			,	upd_user				=	@P_cre_user
			,	upd_prg					=	'rI1020'
			,	upd_ip					=	@P_cre_ip
			,	upd_datetime			=	@w_time
			FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.approver_employee_cd_1
			) 
			INNER JOIN #TEMP ON(
				F4200.company_cd	= #TEMP.company_cd
			AND F4200.fiscal_year	= #TEMP.fiscal_year
			AND F4200.employee_cd	= #TEMP.employee_cd
			AND F4200.report_kind	= #TEMP.report_kind
			AND F4200.report_no		= #TEMP.detail_no
			)
			LEFT JOIN F4200 AS F4100_1 ON (
				F4100_1.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_1.approver_employee_cd_1
			AND F4100_1.fiscal_year	=	@w_current_fiscal_year
			AND F4100_1.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_4 ON (
				F4100_4.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_4.approver_employee_cd_4
			AND F4100_4.fiscal_year		=	@w_current_fiscal_year
			AND F4100_4.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_2 ON (
				F4100_2.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_2.approver_employee_cd_2
			AND F4100_2.fiscal_year		=	@w_current_fiscal_year
			AND F4100_2.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_3 ON (
				F4100_3.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_3.approver_employee_cd_3
			AND F4100_3.fiscal_year		=	@w_current_fiscal_year
			AND F4100_3.del_datetime IS NULL
			)
			WHERE
				F4100_2.company_cd IS NULL
			AND F4100_3.company_cd IS NULL
			AND F4100_4.company_cd IS NULL
			AND F4100_1.company_cd IS NULL
			AND (
				S0010.report_authority_typ IS NULL
			OR	S0010.report_authority_typ NOT IN (3,4,5)
			)
		END


		IF NOT EXISTS(
			SELECT 1 FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.approver_employee_cd_2
			)
		
			INNER JOIN #TEMP ON(
				F4200.company_cd	= #TEMP.company_cd
			AND F4200.fiscal_year	= #TEMP.fiscal_year
			AND F4200.employee_cd	= #TEMP.employee_cd
			AND F4200.report_kind	= #TEMP.report_kind
			AND F4200.report_no		= #TEMP.detail_no
			)
			INNER JOIN F4200 AS F4100_RP ON (
				F4100_RP.company_cd				=	@P_company_cd
			AND F4200.approver_employee_cd_2	=	F4100_RP.employee_cd
			AND F4100_RP.fiscal_year			=	@w_current_fiscal_year
			AND F4100_RP.del_datetime IS NULL
			AND S0010.del_datetime IS NULL)
			)
		BEGIN
			UPDATE S0010 SET 
				report_authority_typ	= 0
			,	upd_user				=	@P_cre_user
			,	upd_prg					=	'rI1020'
			,	upd_ip					=	@P_cre_ip
			,	upd_datetime			=	@w_time
			FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.approver_employee_cd_2
			)
		
			INNER JOIN #TEMP ON(
				F4200.company_cd	= #TEMP.company_cd
			AND F4200.fiscal_year	= #TEMP.fiscal_year
			AND F4200.employee_cd	= #TEMP.employee_cd
			AND F4200.report_kind	= #TEMP.report_kind
			AND F4200.report_no		= #TEMP.detail_no
			)
			LEFT JOIN F4200 AS F4100_1 ON (
				F4100_1.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_1.approver_employee_cd_1
			AND F4100_1.fiscal_year		=	@w_current_fiscal_year
			AND F4100_1.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_4 ON (
				F4100_4.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_4.approver_employee_cd_4
			AND F4100_4.fiscal_year		=	@w_current_fiscal_year
			AND F4100_4.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_2 ON (
				F4100_2.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_2.approver_employee_cd_2
			AND F4100_2.fiscal_year		=	@w_current_fiscal_year
			AND F4100_2.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_3 ON (
				F4100_3.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_3.approver_employee_cd_3
			AND F4100_3.fiscal_year		=	@w_current_fiscal_year
			AND F4100_3.del_datetime IS NULL
			)
			WHERE
				F4100_1.company_cd IS NULL
			AND	F4100_2.company_cd IS NULL
			AND F4100_3.company_cd IS NULL
			AND F4100_4.company_cd IS NULL
			AND (
				S0010.report_authority_typ IS NULL
			OR	S0010.report_authority_typ NOT IN (3,4,5)
			)
		END
		ELSE
		BEGIN
			UPDATE S0010 SET 
				report_authority_typ = 1
			,	upd_user				=	@P_cre_user
			,	upd_prg					=	'rI1020'
			,	upd_ip					=	@P_cre_ip
			,	upd_datetime			=	@w_time
			FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.approver_employee_cd_2
			)
			INNER JOIN #TEMP ON(
				F4200.company_cd	= #TEMP.company_cd
			AND F4200.fiscal_year	= #TEMP.fiscal_year
			AND F4200.employee_cd	= #TEMP.employee_cd
			AND F4200.report_kind	= #TEMP.report_kind
			AND F4200.report_no		= #TEMP.detail_no
			)
			LEFT JOIN F4200 AS F4100_1 ON (
				F4100_1.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_1.approver_employee_cd_1
			AND F4100_1.fiscal_year		=	@w_current_fiscal_year
			AND F4100_1.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_4 ON (
				F4100_4.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_4.approver_employee_cd_4
			AND F4100_4.fiscal_year		=	@w_current_fiscal_year
			AND F4100_4.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_2 ON (
				F4100_2.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_2.approver_employee_cd_2
			AND F4100_2.fiscal_year		=	@w_current_fiscal_year
			AND F4100_2.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_3 ON (
				F4100_3.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_3.approver_employee_cd_3
			AND F4100_3.fiscal_year		=	@w_current_fiscal_year
			AND F4100_3.del_datetime IS NULL
			)
			WHERE
				F4100_1.company_cd IS NULL
			AND	F4100_2.company_cd IS NULL
			AND F4100_3.company_cd IS NULL
			AND F4100_4.company_cd IS NULL
			AND (
				S0010.report_authority_typ IS NULL
			OR	S0010.report_authority_typ NOT IN (3,4,5)
			)
		END

		IF NOT EXISTS(
			SELECT 1 FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.approver_employee_cd_3
			)
			INNER JOIN #TEMP ON(
				F4200.company_cd	= #TEMP.company_cd
			AND F4200.fiscal_year	= #TEMP.fiscal_year
			AND F4200.employee_cd	= #TEMP.employee_cd
			AND F4200.report_kind	= #TEMP.report_kind
			AND F4200.report_no		= #TEMP.detail_no
			)
			INNER JOIN F4200 AS F4100_RP ON (
				F4100_RP.company_cd				=	@P_company_cd
			AND F4200.approver_employee_cd_3	=	F4100_RP.employee_cd
			AND F4100_RP.fiscal_year			=	@w_current_fiscal_year
			AND F4100_RP.del_datetime IS NULL
			AND S0010.del_datetime IS NULL)
			)
		BEGIN
			UPDATE S0010 SET 
				report_authority_typ	= 0
			,	upd_user				=	@P_cre_user
			,	upd_prg					=	'rI1020'
			,	upd_ip					=	@P_cre_ip
			,	upd_datetime			=	@w_time
			FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.approver_employee_cd_3
			)
			INNER JOIN #TEMP ON(
				F4200.company_cd		= #TEMP.company_cd
			AND F4200.fiscal_year		= #TEMP.fiscal_year
			AND F4200.employee_cd		= #TEMP.employee_cd
			AND F4200.report_kind		= #TEMP.report_kind
			AND F4200.report_no			= #TEMP.detail_no
			)
			LEFT JOIN F4200 AS F4100_1 ON (
				F4100_1.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_1.approver_employee_cd_1
			AND F4100_1.fiscal_year		=	@w_current_fiscal_year
			AND F4100_1.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_4 ON (
				F4100_4.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_4.approver_employee_cd_4
			AND F4100_4.fiscal_year		=	@w_current_fiscal_year
			AND F4100_4.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_2 ON (
				F4100_2.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_2.approver_employee_cd_2
			AND F4100_2.fiscal_year		=	@w_current_fiscal_year
			AND F4100_2.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_3 ON (
				F4100_3.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_3.approver_employee_cd_3
			AND F4100_3.fiscal_year		=	@w_current_fiscal_year
			AND F4100_3.del_datetime IS NULL
			)
		
			WHERE
				F4100_2.company_cd IS NULL
			AND F4100_3.company_cd IS NULL
			AND F4100_4.company_cd IS NULL
			AND F4100_1.company_cd IS NULL
			AND (
				S0010.report_authority_typ IS NULL
			OR	S0010.report_authority_typ NOT IN (3,4,5)
			)
		END
		ELSE
		BEGIN
			UPDATE S0010 SET 
				report_authority_typ = 1
			,	upd_user				=	@P_cre_user
			,	upd_prg					=	'rI1020'
			,	upd_ip					=	@P_cre_ip
			,	upd_datetime			=	@w_time
			FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.approver_employee_cd_3
			)
			INNER JOIN #TEMP ON(
				F4200.company_cd	= #TEMP.company_cd
			AND F4200.fiscal_year	= #TEMP.fiscal_year
			AND F4200.employee_cd	= #TEMP.employee_cd
			AND F4200.report_kind	= #TEMP.report_kind
			AND F4200.report_no		= #TEMP.detail_no
			)
			LEFT JOIN F4200 AS F4100_1 ON (
				F4100_1.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_1.approver_employee_cd_1
			AND F4100_1.fiscal_year		=	@w_current_fiscal_year
			AND F4100_1.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_4 ON (
				F4100_4.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_4.approver_employee_cd_4
			AND F4100_4.fiscal_year		=	@w_current_fiscal_year
			AND F4100_4.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_2 ON (
				F4100_2.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_2.approver_employee_cd_2
			AND F4100_2.fiscal_year		=	@w_current_fiscal_year
			AND F4100_2.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_3 ON (
				F4100_3.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_3.approver_employee_cd_3
			AND F4100_3.fiscal_year		=	@w_current_fiscal_year
			AND F4100_3.del_datetime IS NULL
			)
		
			WHERE
				F4100_2.company_cd IS NULL
			AND F4100_3.company_cd IS NULL
			AND F4100_4.company_cd IS NULL
			AND F4100_1.company_cd IS NULL
			AND (
				S0010.report_authority_typ IS NULL
			OR	S0010.report_authority_typ NOT IN (3,4,5)
			)
		END

		IF NOT EXISTS(
			SELECT 1 FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.approver_employee_cd_4
			)
			INNER JOIN #TEMP ON(
				F4200.company_cd	= #TEMP.company_cd
			AND F4200.fiscal_year	= #TEMP.fiscal_year
			AND F4200.employee_cd	= #TEMP.employee_cd
			AND F4200.report_kind	= #TEMP.report_kind
			AND F4200.report_no		= #TEMP.detail_no
			)
			INNER JOIN F4200 AS F4100_RP ON (
				F4100_RP.company_cd				=	@P_company_cd
			AND F4200.approver_employee_cd_4	=	F4100_RP.employee_cd
			AND F4100_RP.fiscal_year			=	@w_current_fiscal_year
			AND F4100_RP.del_datetime IS NULL
			AND S0010.del_datetime IS NULL)
			)
		BEGIN
			UPDATE S0010 SET 
				report_authority_typ = 1
			,	upd_user				=	@P_cre_user
			,	upd_prg					=	'rI1020'
			,	upd_ip					=	@P_cre_ip
			,	upd_datetime			=	@w_time
			FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.approver_employee_cd_4
			)
		
			INNER JOIN #TEMP ON(
				F4200.company_cd	= #TEMP.company_cd
			AND F4200.fiscal_year	= #TEMP.fiscal_year
			AND F4200.employee_cd	= #TEMP.employee_cd
			AND F4200.report_kind	= #TEMP.report_kind
			AND F4200.report_no		= #TEMP.detail_no
			)
			LEFT JOIN F4200 AS F4100_1 ON (
				F4100_1.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_1.approver_employee_cd_1
			AND F4100_1.fiscal_year		=	@w_current_fiscal_year
			AND F4100_1.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_4 ON (
				F4100_4.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_4.approver_employee_cd_4
			AND F4100_4.fiscal_year		=	@w_current_fiscal_year
			AND F4100_4.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_2 ON (
				F4100_2.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_2.approver_employee_cd_2
			AND F4100_2.fiscal_year		=	@w_current_fiscal_year
			AND F4100_2.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_3 ON (
				F4100_3.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_3.approver_employee_cd_3
			AND F4100_3.fiscal_year		=	@w_current_fiscal_year
			AND F4100_3.del_datetime IS NULL
			)	
			WHERE
				F4100_2.company_cd IS NULL
			AND F4100_3.company_cd IS NULL
			AND F4100_4.company_cd IS NULL
			AND F4100_1.company_cd IS NULL
			AND (
				S0010.report_authority_typ IS NULL
			OR	S0010.report_authority_typ NOT IN (3,4,5)
			)
		END
		ELSE
		BEGIN
			UPDATE S0010 SET 
				report_authority_typ	=	0
			,	upd_user				=	@P_cre_user
			,	upd_prg					=	'rI1020'
			,	upd_ip					=	@P_cre_ip
			,	upd_datetime			=	@w_time
			FROM S0010
			INNER JOIN F4200 ON (
				S0010.company_cd		=	F4200.company_cd
			AND S0010.employee_cd		=	F4200.approver_employee_cd_4
			)
		
			INNER JOIN #TEMP ON(
				F4200.company_cd	= #TEMP.company_cd
			AND F4200.fiscal_year	= #TEMP.fiscal_year
			AND F4200.employee_cd	= #TEMP.employee_cd
			AND F4200.report_kind	= #TEMP.report_kind
			AND F4200.report_no		= #TEMP.detail_no
			)
			LEFT JOIN F4200 AS F4100_1 ON (
				F4100_1.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_1.approver_employee_cd_1
			AND F4100_1.fiscal_year		=	@w_current_fiscal_year
			AND F4100_1.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_4 ON (
				F4100_4.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_4.approver_employee_cd_4
			AND F4100_4.fiscal_year		=	@w_current_fiscal_year
			AND F4100_4.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_2 ON (
				F4100_2.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_2.approver_employee_cd_2
			AND F4100_2.fiscal_year		=	@w_current_fiscal_year
			AND F4100_2.del_datetime IS NULL
			)
			LEFT JOIN F4200 AS F4100_3 ON (
				F4100_3.company_cd		=	@P_company_cd
			AND S0010.employee_cd		=	F4100_3.approver_employee_cd_3
			AND F4100_3.fiscal_year		=	@w_current_fiscal_year
			AND F4100_3.del_datetime IS NULL
			)	
			WHERE
				F4100_2.company_cd IS NULL
			AND F4100_3.company_cd IS NULL
			AND F4100_4.company_cd IS NULL
			AND F4100_1.company_cd IS NULL
			AND (
				S0010.report_authority_typ IS NULL
			OR	S0010.report_authority_typ NOT IN (3,4,5)
			)
		END
	END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark 
	FROM @ERR_TBL
	ORDER BY 
		order_by
		select @w_start_date, @w_end_date
END
GO
