DROP PROCEDURE [SPC_RI1020_FND2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--****************************************************************************************
--*   			 EXEC [SPC_RI1020_FND2] '740','1','1','1','','','',''								
--* 処理概要/process overview	:	REFER DATA
--*		
--* 作成日/create date			:	2023/04/11											
--*	作成者/creater				:	namnt			
--*   		
--****************************************************************************************
CREATE PROCEDURE [SPC_RI1020_FND2]
	-- Add the parameters for the stored procedure here	
	@P_company_cd		SMALLINT		=	0
,	@P_report_kind		SMALLINT		=	0
,	@P_group_cd			SMALLINT		=	0
,	@P_belong_cd1		NVARCHAR(10)	=	''
,	@P_belong_cd2		NVARCHAR(10)	=	''
,	@P_belong_cd3		NVARCHAR(10)	=	''
,	@P_belong_cd4		NVARCHAR(10)	=	''
,	@P_belong_cd5		NVARCHAR(10)	=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_approver_position_1	SMALLINT		=	0
	,	@w_approver_position_2	SMALLINT		=	0
	,	@w_approver_position_3	SMALLINT		=	0
	,	@w_approver_position_4	SMALLINT		=	0
	,	@w_approver_cd_1		NVARCHAR(10)	=	''
	,	@w_approver_cd_2		NVARCHAR(10)	=	''
	,	@w_approver_cd_3		NVARCHAR(10)	=	''
	,	@w_approver_cd_4		NVARCHAR(10)	=	''
	---
	CREATE TABLE #M4100
	(
		option_cd			SMALLINT	
	,	option_nm			NVARCHAR(200)
	,	parent_option_cd_1	SMALLINT
	,	parent_option_cd_2	SMALLINT
	) 
	IF @P_belong_cd1 = '-1'
	BEGIN
	SET @P_belong_cd1 = ''
	END
	IF @P_belong_cd2 = '-1'
	BEGIN
	SET @P_belong_cd2 = ''
	END
	IF @P_belong_cd3 = '-1'
	BEGIN
	SET @P_belong_cd3 = ''
	END
	IF @P_belong_cd4 = '-1'
	BEGIN
	SET @P_belong_cd4 = ''
	END
	IF @P_belong_cd5 = '-1'
	BEGIN
	SET @P_belong_cd5 = ''
	END
	----get active report kind
	SET 	@w_approver_position_1	= (SELECT M4610.approver_position_cd_1 FROM M4610 WHERE M4610.company_cd = @P_company_cd AND M4610.report_kind = @P_report_kind AND M4610.group_cd = @P_group_cd)
	SET 	@w_approver_position_2	= (SELECT M4610.approver_position_cd_2 FROM M4610 WHERE M4610.company_cd = @P_company_cd AND M4610.report_kind = @P_report_kind AND M4610.group_cd = @P_group_cd)
	SET 	@w_approver_position_3	= (SELECT M4610.approver_position_cd_3 FROM M4610 WHERE M4610.company_cd = @P_company_cd AND M4610.report_kind = @P_report_kind AND M4610.group_cd = @P_group_cd)
	SET 	@w_approver_position_4	= (SELECT M4610.approver_position_cd_4 FROM M4610 WHERE M4610.company_cd = @P_company_cd AND M4610.report_kind = @P_report_kind AND M4610.group_cd = @P_group_cd)
	SET		@w_approver_cd_1		= (SELECT MAX(employee_cd) FROM M0070 WHERE M0070.company_cd = @P_company_cd AND M0070.position_cd = @w_approver_position_1 AND (@P_belong_cd1='' OR(@P_belong_cd1<>'' AND M0070.belong_cd1=@P_belong_cd1)) AND M0070.del_datetime IS NULL)
	SET		@w_approver_cd_2		= (SELECT MAX(employee_cd) FROM M0070 WHERE M0070.company_cd = @P_company_cd AND M0070.position_cd = @w_approver_position_2 AND (@P_belong_cd1='' OR(@P_belong_cd1<>'' AND M0070.belong_cd1=@P_belong_cd1)) AND (@P_belong_cd2='' OR(@P_belong_cd2<>'' AND M0070.belong_cd2=@P_belong_cd2)) AND (@P_belong_cd3='' OR(@P_belong_cd3<>'' AND M0070.belong_cd3=@P_belong_cd3)) AND (@P_belong_cd4='' OR(@P_belong_cd4<>'' AND M0070.belong_cd4=@P_belong_cd4)) AND (@P_belong_cd5='' OR(@P_belong_cd5<>'' AND M0070.belong_cd5=@P_belong_cd5)) AND M0070.del_datetime IS NULL)
	SET		@w_approver_cd_3		= (SELECT MAX(employee_cd) FROM M0070 WHERE M0070.company_cd = @P_company_cd AND M0070.position_cd = @w_approver_position_3 AND (@P_belong_cd1='' OR(@P_belong_cd1<>'' AND M0070.belong_cd1=@P_belong_cd1)) AND (@P_belong_cd2='' OR(@P_belong_cd2<>'' AND M0070.belong_cd2=@P_belong_cd2)) AND (@P_belong_cd3='' OR(@P_belong_cd3<>'' AND M0070.belong_cd3=@P_belong_cd3)) AND (@P_belong_cd4='' OR(@P_belong_cd4<>'' AND M0070.belong_cd4=@P_belong_cd4)) AND (@P_belong_cd5='' OR(@P_belong_cd5<>'' AND M0070.belong_cd5=@P_belong_cd5)) AND M0070.del_datetime IS NULL)
	SET		@w_approver_cd_4		= (SELECT MAX(employee_cd) FROM M0070 WHERE M0070.company_cd = @P_company_cd AND M0070.position_cd = @w_approver_position_4 AND (@P_belong_cd1='' OR(@P_belong_cd1<>'' AND M0070.belong_cd1=@P_belong_cd1)) AND (@P_belong_cd2='' OR(@P_belong_cd2<>'' AND M0070.belong_cd2=@P_belong_cd2)) AND (@P_belong_cd3='' OR(@P_belong_cd3<>'' AND M0070.belong_cd3=@P_belong_cd3)) AND (@P_belong_cd4='' OR(@P_belong_cd4<>'' AND M0070.belong_cd4=@P_belong_cd4)) AND (@P_belong_cd5='' OR(@P_belong_cd5<>'' AND M0070.belong_cd5=@P_belong_cd5)) AND M0070.del_datetime IS NULL)
	--
	--[0]
	SELECT 
		ISNULL(approver_1.employee_cd, '')	AS approver_cd_1
	,	ISNULL(approver_2.employee_cd, '')	AS approver_cd_2
	,	ISNULL(approver_3.employee_cd, '')	AS approver_cd_3
	,	ISNULL(approver_4.employee_cd, '')	AS approver_cd_4
	,	ISNULL(approver_1.employee_nm, '')	AS approver_nm_1
	,	ISNULL(approver_2.employee_nm, '')	AS approver_nm_2
	,	ISNULL(approver_3.employee_nm, '')	AS approver_nm_3
	,	ISNULL(approver_4.employee_nm, '')	AS approver_nm_4
	,	ISNULL(M4610.sheet_cd, 0)			AS sheet_cd
	,	ISNULL(M4200.sheet_nm, '')			AS sheet_nm
	FROM M4610
	LEFT JOIN M0070 AS approver_1 ON (
		M4610.company_cd	= approver_1.company_cd
	AND M4610.report_kind	= @P_report_kind
	AND M4610.group_cd		= @P_group_cd
	AND approver_1.employee_cd	=@w_approver_cd_1
	) LEFT JOIN M0070 AS approver_2 ON (
		M4610.company_cd	= approver_2.company_cd
	AND M4610.report_kind	= @P_report_kind
	AND M4610.group_cd		= @P_group_cd
	AND approver_2.employee_cd	=@w_approver_cd_2
	) LEFT JOIN M0070 AS approver_3 ON (
		M4610.company_cd	= approver_3.company_cd
	AND M4610.report_kind	= @P_report_kind
	AND M4610.group_cd		= @P_group_cd
	AND approver_3.employee_cd	=@w_approver_cd_3
	) LEFT JOIN M0070 AS approver_4 ON (
		M4610.company_cd	= approver_4.company_cd
	AND M4610.report_kind	= @P_report_kind
	AND M4610.group_cd		= @P_group_cd
	AND approver_4.employee_cd	=@w_approver_cd_4
	) LEFT JOIN M4200 ON (
		M4610.company_cd	= M4200.company_cd
	AND M4610.report_kind	= M4200.report_kind
	AND M4610.sheet_cd		= M4200.sheet_cd
	)
	WHERE
		M4610.company_cd		= @P_company_cd
	AND M4610.report_kind		= @P_report_kind
	AND M4610.group_cd			= @P_group_cd
	AND approver_1.del_datetime IS NULL
	AND approver_2.del_datetime IS NULL
	AND approver_3.del_datetime IS NULL
	AND approver_4.del_datetime IS NULL
	AND M4610.del_datetime		IS NULL
END
GO
