DROP PROCEDURE [SPC_rI1020_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_RI1020_ACT1 '{"report_kinds":"5","fiscal_year":"2023","month":"6","times":"1","group_cd":"2","employee_cdX":"","tr_first_value":[{"key_emp":"20-2","key_group_cd":"","approver_employee_cd_1":"0","approver_employee_cd_2":"","approver_employee_cd_3":"","approver_employee_cd_4":"","approver_employee_nm_1":"","approver_employee_nm_2":"","approver_employee_nm_3":"","approver_employee_nm_4":"","sheet":"0"}]}','20-6','192.168.5.152','10044';
--****************************************************************************************
--*   select * from F4100 where detail_no = 1
--*  処理概要/process overview	:	RI1020
--*  
--*  作成日/create date			:	2023/05/10
--*　作成者/creater				:	namnt	
--*   					 
--*  更新日/update date			:	
--*　更新者/updater				:　	
--*　更新内容/update content		:	
--****************************************************************************************

CREATE PROCEDURE [SPC_rI1020_ACT1] 
	@P_json			NVARCHAR(MAX)
,	@P_cre_user		NVARCHAR(50) = ''
,	@P_cre_ip		NVARCHAR(50) = ''
,	@P_company_cd	SMALLINT	 = 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time				DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL			ERRTABLE	
	,	@w_group_cd			SMALLINT
	,	@w_report_kind		SMALLINT
	,	@w_month			SMALLINT
	,	@w_fiscal_year		SMALLINT
	,	@w_detail_no		SMALLINT
	,	@w_report_no		SMALLINT
	,	@w_beginning_date	DATETIME
	,	@w_start_date		DATE
	,	@w_end_date			DATE
	-- GET FROM JSON
	CREATE TABLE #TEMP_PARAMS(
		id							INT NOT NULL IDENTITY(1,1) 
	,	company_cd					SMALLINT
	,	fiscal_year					SMALLINT
	,	employee_cd					NVARCHAR(10)
	,	report_kind					SMALLINT
	,	detail_no					SMALLINT
	,	[month]						SMALLINT
	,	group_cd					SMALLINT
	,	approver_employee_cd_1		Nvarchar(10)
	,	approver_employee_cd_2		Nvarchar(10)
	,	approver_employee_cd_3		Nvarchar(10)
	,	approver_employee_cd_4		Nvarchar(10)
	,	sheet						SMALLINT
	,	adaption_date				DATE
	,	schedule_sheet_cd			SMALLINT
	,	schedule_adaption_date		DATE
	,	[year]						SMALLINT
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	,	pos_emp						SMALLINT
	)
	CREATE TABLE #F4200_DEL(
		company_cd					SMALLINT
	,	fiscal_year					SMALLINT
	,	employee_cd					NVARCHAR(10)
	,	report_kind					SMALLINT
	,	report_no					SMALLINT
	,	sheet						SMALLINT
	,	adaption_date				DATE
	,	status_cd					SMALLINT
	,	title						NVARCHAR(20)
	,	approver_employee_cd_1		Nvarchar(10)
	,	approver_user_1				Nvarchar(50)
	,	approver_datetime_1			datetime
	,	approver_employee_cd_2		Nvarchar(10)
	,	approver_user_2				Nvarchar(50)
	,	approver_datetime_2			datetime
	,	approver_employee_cd_3		Nvarchar(10)
	,	approver_user_3				Nvarchar(50)
	,	approver_datetime_3			datetime
	,	approver_employee_cd_4		Nvarchar(10)
	,	approver_user_4				Nvarchar(50)
	,	approver_datetime_4			datetime
	,	[year]						SMALLINT
	,	month						SMALLINT
	,	times						SMALLINT
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	)
	-- PREPARE BEFORE INSERT INTO TABLE
	CREATE TABLE #TEMP(
		id							INT NOT NULL IDENTITY(1,1) 
	,	id_column					SMALLINT
	,	company_cd					SMALLINT
	,	fiscal_year					SMALLINT
	,	employee_cd					NVARCHAR(10)
	,	report_kind					SMALLINT
	,	detail_no					SMALLINT
	,	[month]						SMALLINT
	,	group_cd					SMALLINT
	,	approver_employee_cd_1		NVARCHAR(10)
	,	approver_employee_cd_2		NVARCHAR(10)
	,	approver_employee_cd_3		NVARCHAR(10)
	,	approver_employee_cd_4		NVARCHAR(10)
	,	sheet						SMALLINT
	,	adaption_date				DATE
	,	title						NVARCHAR(20)
	,	[year]						SMALLINT
	,	cre_user					NVARCHAR(50)
	,	cre_ip						NVARCHAR(50)
	,	cre_prg						NVARCHAR(20)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(50)
	,	upd_ip						NVARCHAR(50)
	,	upd_prg						NVARCHAR(20)
	,	upd_datetime				DATETIME
	,	pos_emp						SMALLINT
	)
	CREATE TABLE #TEMP_TIME(
		detail_no					SMALLINT
	,	month						SMALLINT
	,	normal_month				SMALLINT
	,	start_date					DATETIME
	,	deadline_date				DATETIME
	)
	--
	--
	SET @w_group_cd					=	IIF(ISNULL(JSON_VALUE(@P_json,'$.group_cd'),0) = -1,0,ISNULL(JSON_VALUE(@P_json,'$.group_cd'),0))
	SET @w_report_kind				=	IIF(ISNULL(JSON_VALUE(@P_json,'$.report_kinds'),0) = -1,0,ISNULL(JSON_VALUE(@P_json,'$.report_kinds'),0))
	SET @w_month					=	IIF(ISNULL(JSON_VALUE(@P_json,'$.month'),0) = -1,0,ISNULL(JSON_VALUE(@P_json,'$.month'),0))
	SET @w_fiscal_year				=	IIF(ISNULL(JSON_VALUE(@P_json,'$.fiscal_year'),0)=-1,0,ISNULL(JSON_VALUE(@P_json,'$.fiscal_year'),0))
	SET @w_detail_no				=	IIF(ISNULL(JSON_VALUE(@P_json,'$.times'),0)=-1,0,ISNULL(JSON_VALUE(@P_json,'$.times'),0))
	SELECT 
		@w_beginning_date = M9100.report_beginning_date 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	IF @w_beginning_date IS NOT NULL
	BEGIN
		SET @w_start_date	=	CAST((CAST(@w_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@w_beginning_date,'MM/dd')) AS DATE)
	END
	ELSE
	BEGIN
		SET @w_start_date	=	CAST((CAST(YEAR(@w_fiscal_year) AS nvarchar(4)) + '/01/01') AS DATE)
	END
	SET @w_end_date = DATEADD(year, 1, @w_start_date)
	INSERT INTO #TEMP_TIME
	EXEC [dbo].SPC_WEEKLYREPORT_GET_WEEKLY @P_company_cd,@w_fiscal_year,@w_month
	IF @w_month <> 0
	BEGIN
	SELECT TOP 1 @w_month = normal_month FROM #TEMP_TIME
	END
	
	-- INSERT #TEMP_PARAMS
	INSERT INTO #TEMP_PARAMS
	SELECT 
		@P_company_cd
	,	@w_fiscal_year
	,	key_emp
	,	@w_report_kind
	,	@w_detail_no
	,	@w_month
	,	@w_group_cd
	,	approver_employee_cd_1
	,	approver_employee_cd_2
	,	approver_employee_cd_3
	,	approver_employee_cd_4
	,	sheet
	,	IIF(adaption_date = '',NULL,adaption_date)
	,	schedule_sheet_cd
	,	IIF(schedule_adaption_date = '',NULL,schedule_adaption_date)
	,	0
	,	@P_cre_user
	,	@P_cre_ip
	,	'ri1020'
	,	@w_time
	,	NULL
	,	NULL
	,	''
	,	NULL
	,	pos_emp
	FROM OPENJSON (@P_json,'$.tr_first_value') WITH(
		key_emp	NVARCHAR(10)
	,	group_cd SMALLINT
	,	approver_employee_cd_1 NVARCHAR(10)
	,	approver_employee_cd_2 NVARCHAR(10)
	,	approver_employee_cd_3 NVARCHAR(10)
	,	approver_employee_cd_4 NVARCHAR(10)
	,	sheet SMALLINT
	,	adaption_date NVARCHAR(10)
	,	schedule_sheet_cd SMALLINT
	,	schedule_adaption_date NVARCHAR(10)
	,	pos_emp SMALLINT
	)	AS json_table
	where 
	key_emp <> ''
	-- INSERT #TEMP
	INSERT INTO #TEMP
	SELECT 
		ROW_NUMBER () OVER (PARTITION BY #TEMP_PARAMS.company_cd,#TEMP_PARAMS.fiscal_year,#TEMP_PARAMS.employee_cd,#TEMP_PARAMS.report_kind ORDER BY #TEMP_PARAMS.employee_cd,#TEMP_PARAMS.detail_no)
	,	@P_company_cd
	,	@w_fiscal_year
	,	#TEMP_PARAMS.employee_cd
	,	@w_report_kind
	,	F4100.detail_no
	,	F4100.[month]
	,	@w_group_cd
	,	approver_employee_cd_1
	,	approver_employee_cd_2
	,	approver_employee_cd_3
	,	approver_employee_cd_4
	-- SHEET_CD
	,	CASE 
			WHEN ISNULL(#TEMP_PARAMS.sheet,0) <> 0
			THEN ISNULL(#TEMP_PARAMS.sheet,0)
			ELSE ISNULL(#TEMP_PARAMS.schedule_sheet_cd,0)
		END	
	,	CASE 
			WHEN #TEMP_PARAMS.adaption_date IS NOT NULL
			THEN #TEMP_PARAMS.adaption_date
			ELSE #TEMP_PARAMS.schedule_adaption_date
		END	
	,	F4100.title
	,	F4100.[year]
	,	@P_cre_user
	,	@P_cre_ip
	,	'ri1020'
	,	@w_time
	,	NULL
	,	NULL
	,	''
	,	NULL
	,	pos_emp
	FROM #TEMP_PARAMS 
	LEFT JOIN F4100 ON (
		#TEMP_PARAMS.company_cd		= F4100.company_cd 
	AND #TEMP_PARAMS.fiscal_year	= F4100.fiscal_year 
	AND #TEMP_PARAMS.group_cd		= F4100.group_cd 
	AND #TEMP_PARAMS.report_kind	= F4100.report_kind
	)
	WHERE 
		(
			@w_detail_no = 0
		OR	(@w_detail_no <> 0 AND F4100.detail_no = @w_detail_no)
		)
	AND (
			@w_month = 0
		OR	(@w_month <> 0 AND F4100.month= @w_month)
		)
	AND user_typ = 1
	ORDER BY 
		F4100.detail_no

	INSERT INTO @ERR_TBL
	SELECT		
		8					
	,	'.error_approver_emp_2'						
	,	0-- oderby				
	,	0		  			
	,	#TEMP_PARAMS.id							
	,	#TEMP_PARAMS.pos_emp				
	,	'duplicate employee_cd in mode add new'		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_2	=	''
	AND (#TEMP_PARAMS.approver_employee_cd_3	<>	''
	OR	#TEMP_PARAMS.approver_employee_cd_4	<>	'')
	IF EXISTS(
	SELECT 1
	FROM #TEMP 
	INNER JOIN F4110 ON (
		#TEMP.company_cd		= F4110.company_cd 
	AND #TEMP.fiscal_year	= F4110.fiscal_year 
	AND #TEMP.employee_cd	= F4110.employee_cd 
	AND #TEMP.group_cd		<> F4110.group_cd 
	AND #TEMP.report_kind	= F4110.report_kind 
	AND (
		(#TEMP.month > 0
	AND #TEMP.month	 = F4110.month)
	OR #TEMP.month <= 0)
	)
	WHERE F4110.del_datetime IS NULL
	)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT 
			82
		,	''
		,	0
		,	1 -- exception error
		,	0
		,	0
		,	''
	END
	
	IF EXISTS(
	SELECT 1
	FROM #TEMP_PARAMS
	INNER JOIN M0070 ON(
		#TEMP_PARAMS.company_cd				=	M0070.company_cd
	AND #TEMP_PARAMS.approver_employee_cd_1	=	M0070.employee_cd 
	)
	WHERE 
		(M0070.company_in_dt	> @w_end_date
	OR M0070.company_out_dt		< @w_start_date)
	AND M0070.del_datetime		IS NULL
	AND M0070.company_in_dt		IS NOT NULL
	AND M0070.company_out_dt	IS NOT NULL
	)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT 
			87					
		,	'.error_approver_emp_1'						
		,	0-- oderby				
		,	0		  			
		,	#TEMP_PARAMS.id							
		,	#TEMP_PARAMS.pos_emp				
		,	'duplicate employee_cd in mode add new'	
		FROM #TEMP_PARAMS
	END
	IF EXISTS(
	SELECT 1
	FROM #TEMP_PARAMS 
	WHERE 
		#TEMP_PARAMS.adaption_date		IS NULL
	AND #TEMP_PARAMS.schedule_adaption_date IS NULL
	)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT 
			90
		,	''
		,	0
		,	1 -- exception error
		,	0
		,	0
		,	''
	END
	INSERT INTO @ERR_TBL
	SELECT		
		8					
	,	'.error_approver_emp_1'						
	,	0-- oderby				
	,	0		  			
	,	#TEMP_PARAMS.id							
	,	#TEMP_PARAMS.pos_emp				
	,	'duplicate employee_cd in mode add new'		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_1	=	''
	AND #TEMP_PARAMS.approver_employee_cd_2	<>	''
	INSERT INTO @ERR_TBL
	SELECT		
		32					
	,	'.error_approver_emp_1'						
	,	0-- oderby				
	,	0		  			
	,	#TEMP_PARAMS.id							
	,	#TEMP_PARAMS.pos_emp				
	,	'duplicate employee_cd in mode add new'		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_1 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_1 <> '0'
	AND	(#TEMP_PARAMS.approver_employee_cd_1	=	#TEMP_PARAMS.approver_employee_cd_2
	OR #TEMP_PARAMS.approver_employee_cd_1		=	#TEMP_PARAMS.approver_employee_cd_3
	OR #TEMP_PARAMS.approver_employee_cd_1		=	#TEMP_PARAMS.approver_employee_cd_4)
	---check approver 1 is reporter
	INSERT INTO @ERR_TBL
	SELECT		
		153					
	,	'.error_approver_emp_1'						
	,	0-- oderby				
	,	0		  			
	,	#TEMP_PARAMS.id							
	,	#TEMP_PARAMS.pos_emp				
	,	'duplicate employee_cd in mode add new'		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_1 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_1	=	#TEMP_PARAMS.employee_cd
	IF EXISTS(
	SELECT 1
	FROM #TEMP_PARAMS
	INNER JOIN M0070 ON(
		#TEMP_PARAMS.company_cd				=	M0070.company_cd
	AND #TEMP_PARAMS.approver_employee_cd_2	=	M0070.employee_cd 
	)
	WHERE 
		(M0070.company_in_dt	> @w_end_date
	OR M0070.company_out_dt		< @w_start_date)
	AND M0070.del_datetime		IS NULL
	AND M0070.company_in_dt		IS NOT NULL
	AND M0070.company_out_dt	IS NOT NULL
	)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT 
			87					
		,	'.error_approver_emp_2'						
		,	0-- oderby				
		,	0		  			
		,	#TEMP_PARAMS.id							
		,	#TEMP_PARAMS.pos_emp				
		,	'duplicate employee_cd in mode add new'	
		FROM #TEMP_PARAMS
	END
	IF EXISTS(
	SELECT 1
	FROM #TEMP_PARAMS 
	WHERE 
		#TEMP_PARAMS.adaption_date		IS NULL
	AND #TEMP_PARAMS.schedule_adaption_date IS NULL
	)
	
	INSERT INTO @ERR_TBL
	SELECT		
		32					
	,	'.error_approver_emp_2'						
	,	0-- oderby				
	,	0		  			
	,	#TEMP_PARAMS.id							
	,	#TEMP_PARAMS.pos_emp				
	,	'duplicate employee_cd in mode add new'		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_2 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_2 <> '0'
	AND	(#TEMP_PARAMS.approver_employee_cd_2	=	#TEMP_PARAMS.approver_employee_cd_1
	OR #TEMP_PARAMS.approver_employee_cd_2		=	#TEMP_PARAMS.approver_employee_cd_3
	OR #TEMP_PARAMS.approver_employee_cd_2		=	#TEMP_PARAMS.approver_employee_cd_4)
	---check approver 2 is reporter
	INSERT INTO @ERR_TBL
	SELECT		
		153					
	,	'.error_approver_emp_2'						
	,	0-- oderby				
	,	0		  			
	,	#TEMP_PARAMS.id							
	,	#TEMP_PARAMS.pos_emp				
	,	'duplicate employee_cd in mode add new'		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_2 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_2	=	#TEMP_PARAMS.employee_cd
	IF EXISTS(
	SELECT 1
	FROM #TEMP_PARAMS
	INNER JOIN M0070 ON(
		#TEMP_PARAMS.company_cd				=	M0070.company_cd
	AND #TEMP_PARAMS.approver_employee_cd_3	=	M0070.employee_cd 
	)
	WHERE 
		(M0070.company_in_dt	> @w_end_date
	OR M0070.company_out_dt		< @w_start_date)
	AND M0070.del_datetime		IS NULL
	AND M0070.company_in_dt		IS NOT NULL
	AND M0070.company_out_dt	IS NOT NULL
	)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT 
			87					
		,	'.error_approver_emp_3'						
		,	0-- oderby				
		,	0		  			
		,	#TEMP_PARAMS.id							
		,	#TEMP_PARAMS.pos_emp				
		,	'duplicate employee_cd in mode add new'	
		FROM #TEMP_PARAMS
	END
	INSERT INTO @ERR_TBL
	SELECT		
		8						
	,	'.error_approver_emp_3'						
	,	0-- oderby				
	,	0		  			
	,	#TEMP_PARAMS.id							
	,	#TEMP_PARAMS.pos_emp				
	,	'duplicate employee_cd in mode add new'		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_3	=	''
	AND #TEMP_PARAMS.approver_employee_cd_4	<>	''
	INSERT INTO @ERR_TBL
	SELECT		
		32					
	,	'.error_approver_emp_3'						
	,	0-- oderby				
	,	0		  			
	,	#TEMP_PARAMS.id							
	,	#TEMP_PARAMS.pos_emp				
	,	'duplicate employee_cd in mode add new'		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_3 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_3 <> '0'
	AND	(#TEMP_PARAMS.approver_employee_cd_3	=	#TEMP_PARAMS.approver_employee_cd_1
	OR #TEMP_PARAMS.approver_employee_cd_3	=	#TEMP_PARAMS.approver_employee_cd_2
	OR #TEMP_PARAMS.approver_employee_cd_3	=	#TEMP_PARAMS.approver_employee_cd_4)
	----check is reporter
	INSERT INTO @ERR_TBL
	SELECT		
		153					
	,	'.error_approver_emp_3'						
	,	0-- oderby				
	,	0		  			
	,	#TEMP_PARAMS.id							
	,	#TEMP_PARAMS.pos_emp				
	,	'duplicate employee_cd in mode add new'		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_3 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_3	=	#TEMP_PARAMS.employee_cd
	---------
	IF EXISTS(
	SELECT 1
	FROM #TEMP_PARAMS
	INNER JOIN M0070 ON(
		#TEMP_PARAMS.company_cd				=	M0070.company_cd
	AND #TEMP_PARAMS.approver_employee_cd_4	=	M0070.employee_cd 
	)
	WHERE 
		(M0070.company_in_dt	> @w_end_date
	OR M0070.company_out_dt		< @w_start_date)
	AND M0070.del_datetime		IS NULL
	AND M0070.company_in_dt		IS NOT NULL
	AND M0070.company_out_dt	IS NOT NULL
	)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT 
			87					
		,	'.error_approver_emp_4'						
		,	0-- oderby				
		,	0		  			
		,	#TEMP_PARAMS.id							
		,	#TEMP_PARAMS.pos_emp				
		,	'duplicate employee_cd in mode add new'	
		FROM #TEMP_PARAMS
	END
	INSERT INTO @ERR_TBL
	SELECT		
		32					
	,	'.error_approver_emp_4'						
	,	0-- oderby				
	,	0		  			
	,	#TEMP_PARAMS.id							
	,	#TEMP_PARAMS.pos_emp				
	,	'duplicate employee_cd in mode add new'		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_4 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_4 <> '0'
	AND	(#TEMP_PARAMS.approver_employee_cd_4	=	#TEMP_PARAMS.approver_employee_cd_1
	OR #TEMP_PARAMS.approver_employee_cd_4	=	#TEMP_PARAMS.approver_employee_cd_2
	OR #TEMP_PARAMS.approver_employee_cd_4	=	#TEMP_PARAMS.approver_employee_cd_3
	)
	INSERT INTO @ERR_TBL
	SELECT		
		153					
	,	'.error_approver_emp_4'						
	,	0-- oderby				
	,	0		  			
	,	#TEMP_PARAMS.id							
	,	#TEMP_PARAMS.pos_emp				
	,	'duplicate employee_cd in mode add new'		
	FROM #TEMP_PARAMS
	WHERE 
		#TEMP_PARAMS.approver_employee_cd_4 <> ''
	AND	#TEMP_PARAMS.approver_employee_cd_4	=	#TEMP_PARAMS.employee_cd
	IF EXISTS(
	SELECT employee_cd, COUNT(employee_cd)
	FROM #TEMP_PARAMS
	GROUP BY employee_cd
	HAVING COUNT(employee_cd) > 1
	)
	BEGIN
	INSERT INTO @ERR_TBL
	SELECT		
		32					
	,	'.error_approver_emp_4'						
	,	0-- oderby				
	,	1		  			
	,	0				
	,	0			
	,	'duplicate employee_cd in mode add new'	
	END
	
	INSERT INTO @ERR_TBL
	SELECT		
		152					
	,	'.tr_first_value'						
	,	0-- oderby				
	,	1		  			
	,	A.id							
	,	A.pos_emp				
	,	A.pos_emp
	FROM #TEMP AS A 
	INNER JOIN F4200 ON(
		A.company_cd	= F4200.company_cd
	AND	A.fiscal_year	= F4200.fiscal_year
	AND A.employee_cd	= F4200.employee_cd
	AND A.report_kind	= F4200.report_kind
	AND A.detail_no		= F4200.times
	AND F4200.del_datetime IS NULL
	)
	WHERE	
		F4200.status_cd > 1

	IF EXISTS (SELECT 1 FROM @ERR_TBL) GOTO COMPLETE_QUERY
	BEGIN TRANSACTION
	BEGIN TRY
		-- UPDATE HISTORY FOR #TEMP
		UPDATE #TEMP SET
			upd_user		= @P_cre_user
		,	upd_ip			= @P_cre_ip
		,	upd_prg			= 'ri1020'
		,	upd_datetime	= @w_time
		FROM #TEMP
		INNER JOIN F4110 ON(
			#TEMP.company_cd	= F4110.company_cd 
		AND #TEMP.fiscal_year	= F4110.fiscal_year 
		AND #TEMP.employee_cd	= F4110.employee_cd 
		AND #TEMP.report_kind	= F4110.report_kind
		--AND #TEMP.group_cd		= F4110.group_cd
		AND #TEMP.detail_no		= F4110.times
		)
		-- DELETE TABLE F4110, F4111, F4200
		UPDATE F4110 SET
			F4110.group_cd			= #TEMP.group_cd
		,	F4110.upd_user			= #TEMP.upd_user	
		,	F4110.upd_ip			= #TEMP.upd_ip	
		,	F4110.upd_prg			= #TEMP.upd_prg	
		,	F4110.upd_datetime		= #TEMP.upd_datetime
		,	F4110.del_user			= NULL
		,	F4110.del_ip			= NULL
		,	F4110.del_prg			= ''
		,	F4110.del_datetime		= NULL
		FROM F4110
		INNER JOIN #TEMP ON(
			#TEMP.company_cd = F4110.company_cd 
		AND #TEMP.fiscal_year = F4110.fiscal_year 
		AND #TEMP.employee_cd = F4110.employee_cd 
		AND #TEMP.report_kind = F4110.report_kind
		AND #TEMP.month = F4110.month
		AND #TEMP.detail_no = F4110.times
		)
		--F4111
	
		UPDATE F4111 SET
			F4111.approver_employee_cd_1 = #TEMP.approver_employee_cd_1
		,	F4111.approver_employee_cd_2 = #TEMP.approver_employee_cd_2
		,	F4111.approver_employee_cd_3 = #TEMP.approver_employee_cd_3
		,	F4111.approver_employee_cd_4 = #TEMP.approver_employee_cd_4
		,	F4111.sheet_cd = #TEMP.sheet
		,	F4111.upd_user			= #TEMP.upd_user	
		,	F4111.upd_ip			= #TEMP.upd_ip	
		,	F4111.upd_prg			= #TEMP.upd_prg	
		,	F4111.upd_datetime		= #TEMP.upd_datetime
		,	F4111.del_user			= NULL
		,	F4111.del_ip			= NULL
		,	F4111.del_prg			= ''
		,	F4111.del_datetime		= NULL
		FROM F4111
		INNER JOIN F4110 ON(
			F4111.company_cd	= F4110.company_cd 
		AND F4111.fiscal_year	= F4110.fiscal_year 
		AND F4111.employee_cd	= F4110.employee_cd 
		AND F4111.report_kind	= F4110.report_kind
		AND F4111.report_no		= F4110.report_no
		)
		INNER JOIN #TEMP ON(
			F4111.company_cd	= #TEMP.company_cd 
		AND F4111.fiscal_year	= #TEMP.fiscal_year 
		AND F4111.employee_cd	= #TEMP.employee_cd 
		AND F4111.report_kind	= #TEMP.report_kind
		AND F4110.times			= #TEMP.detail_no
		)
		--F4200_DEL
		INSERT INTO #F4200_DEL
		SELECT 
			F4200.company_cd				
		,	F4200.fiscal_year				
		,	F4200.employee_cd				
		,	F4200.report_kind				
		,	F4200.report_no				
		,	F4200.sheet_cd					
		,	F4200.adaption_date			
		,	F4200.status_cd				
		,	F4200.title					
		,	F4200.approver_employee_cd_1	
		,	F4200.approver_user_1			
		,	F4200.approver_datetime_1		
		,	F4200.approver_employee_cd_2	
		,	F4200.approver_user_2			
		,	F4200.approver_datetime_2		
		,	F4200.approver_employee_cd_3	
		,	F4200.approver_user_3			
		,	F4200.approver_datetime_3		
		,	F4200.approver_employee_cd_4	
		,	F4200.approver_user_4			
		,	F4200.approver_datetime_4		
		,	F4200.[year]					
		,	F4200.month					
		,	F4200.times					
		,	F4200.cre_user				
		,	F4200.cre_ip					
		,	F4200.cre_prg					
		,	F4200.cre_datetime			
		,	F4200.upd_user				
		,	F4200.upd_ip					
		,	F4200.upd_prg					
		,	F4200.upd_datetime			
		FROM F4200
		LEFT JOIN F4110 ON(
			F4200.company_cd		=	F4110.company_cd	
		AND F4200.fiscal_year		=	F4110.fiscal_year	
		AND F4200.employee_cd		=	F4110.employee_cd	
		AND F4200.report_kind		=	F4110.report_kind	
		AND F4200.report_no			=	F4110.report_no		
		)
		WHERE 
			F4110.company_cd IS NULL
		AND F4200.company_cd = @P_company_cd
		AND F4200.report_kind = @w_report_kind
		AND F4200.fiscal_year = @w_fiscal_year
		AND F4200.report_no	  =	@w_report_no	
		AND F4200.del_datetime IS NULL

	
		----
		UPDATE F4200 SET
			sheet_cd				= 	F4111.sheet_cd				
		,	adaption_date			=	#TEMP.adaption_date			
		,	status_cd				=	1	
		,	title					=	#TEMP.title		
		,	approver_employee_cd_1	=	F4111.approver_employee_cd_1
		,	approver_user_1			=	''
		,	approver_datetime_1		=	NULL
		,	approver_employee_cd_2	=	F4111.approver_employee_cd_2
		,	approver_user_2			=	''
		,	approver_datetime_2		=	NULL
		,	approver_employee_cd_3	=	F4111.approver_employee_cd_3
		,	approver_user_3			=	''
		,	approver_datetime_3		=	NULL
		,	approver_employee_cd_4	=	F4111.approver_employee_cd_4
		,	approver_user_4			=	''
		,	approver_datetime_4		=	NULL
		,	[year]					=	#TEMP.year		
		,	month					=	#TEMP.month
		,	times					=	#TEMP.detail_no
		,	upd_user				=	#TEMP.upd_user	
		,	upd_ip					=	#TEMP.upd_ip	
		,	upd_prg					=	#TEMP.upd_prg	
		,	upd_datetime			=	#TEMP.upd_datetime
		,	del_user				=	NULL
		,	del_ip					=	NULL
		,	del_prg					=	''
		,	del_datetime			=	NULL

		FROM F4200
		INNER JOIN F4111 ON(
			F4111.company_cd	= F4200.company_cd 
		AND F4111.fiscal_year	= F4200.fiscal_year 
		AND F4111.employee_cd	= F4200.employee_cd 
		AND F4111.report_kind	= F4200.report_kind
		AND F4111.report_no		= F4200.report_no
		)
		INNER JOIN #TEMP ON(
			#TEMP.company_cd	= F4111.company_cd 
		AND #TEMP.fiscal_year	= F4111.fiscal_year 
		AND #TEMP.employee_cd	= F4111.employee_cd 
		AND #TEMP.report_kind	= F4111.report_kind
		)
		INNER JOIN F4110 ON(
			F4111.company_cd	= F4110.company_cd 
		AND F4111.fiscal_year	= F4110.fiscal_year 
		AND F4111.employee_cd	= F4110.employee_cd 
		AND F4111.report_kind	= F4110.report_kind
		AND F4111.report_no		= F4110.report_no
		AND #TEMP.detail_no		= F4110.times
		)
	
		DELETE #TEMP
		FROM #TEMP
		INNER JOIN F4110 ON(
			#TEMP.company_cd		=	F4110.company_cd	
		AND #TEMP.fiscal_year		=	F4110.fiscal_year	
		AND #TEMP.employee_cd		=	F4110.employee_cd	
		AND #TEMP.report_kind		=	F4110.report_kind	
		AND #TEMP.detail_no			=	F4110.times		
		AND #TEMP.month				=	F4110.month		
		)

		-- INSERT TABLE F4110, F4111, F4200
		UPDATE #TEMP SET
			id_column = table_temp.id+F4110_MAX.report_no
		FROM (
			SELECT
				ROW_NUMBER () OVER (PARTITION BY company_cd,fiscal_year,report_kind,employee_cd ORDER BY detail_no) as id 
			,	company_cd
			,	fiscal_year
			,	employee_cd
			,	report_kind
			,	detail_no
			FROM #TEMP
		) as table_temp
		INNER JOIN #TEMP ON (
			#TEMP.company_cd	= table_temp.company_cd
		AND	#TEMP.fiscal_year	= table_temp.fiscal_year
		AND	#TEMP.employee_cd	= table_temp.employee_cd
		AND	#TEMP.report_kind	= table_temp.report_kind
		AND	#TEMP.detail_no	= table_temp.detail_no
		)
		INNER JOIN(
			SELECT
				F4110.company_cd
			,	F4110.fiscal_year
			,	F4110.employee_cd
			,	F4110.report_kind
			,	ISNULL(MAX(F4110.report_no),0) AS report_no	
			FROM F4110
			WHERE
				F4110.company_cd	= @P_company_cd
			AND F4110.fiscal_year	= @w_fiscal_year
			AND F4110.report_kind	= @w_report_kind
			--AND F4110.del_datetime IS NULL
			GROUP BY
				F4110.company_cd
			,	F4110.fiscal_year
			,	F4110.employee_cd
			,	F4110.report_kind
		) AS F4110_MAX ON (
			#TEMP.company_cd	= F4110_MAX.company_cd
		AND	#TEMP.fiscal_year	= F4110_MAX.fiscal_year
		AND	#TEMP.employee_cd	= F4110_MAX.employee_cd
		AND	#TEMP.report_kind	= F4110_MAX.report_kind
		)

		-- F4110
		DELETE F4110 FROM F4110
		INNER JOIN #TEMP ON(
			#TEMP.company_cd = F4110.company_cd 
		AND #TEMP.fiscal_year = F4110.fiscal_year 
		AND #TEMP.employee_cd = F4110.employee_cd 
		AND #TEMP.report_kind = F4110.report_kind
		AND #TEMP.month = F4110.month
		AND #TEMP.detail_no = F4110.times
		)
		WHERE 
			del_datetime IS NOT NULL
		INSERT INTO F4110
		SELECT 
			company_cd
		,	fiscal_year
		,	employee_cd
		,	@w_report_kind
		,	id_column
		,	[month]
		,	#TEMP.detail_no
		,	@w_group_cd	
		,	cre_user
		,	cre_ip
		,	cre_prg	
		,	cre_datetime
		,	upd_user
		,	upd_ip
		,	upd_prg
		,	upd_datetime
		,	NULL
		,	NULL
		,	''
		,	NULL
		FROM #TEMP 
		--F4111
		DELETE F4111 FROM F4111 INNER JOIN #TEMP ON(
			F4111.company_cd  = #TEMP.company_cd
		AND F4111.fiscal_year = #TEMP.fiscal_year
		AND F4111.employee_cd = #TEMP.employee_cd
		AND F4111.report_kind = #TEMP.report_kind
		AND F4111.report_no	= @w_report_no
		)
		WHERE
			F4111.del_datetime IS NOT NULL
		INSERT INTO F4111
		SELECT 
			company_cd
		,	fiscal_year
		,	employee_cd
		,	@w_report_kind
		,	id_column
		,	approver_employee_cd_1
		,	approver_employee_cd_2
		,	approver_employee_cd_3
		,	approver_employee_cd_4
		,	sheet
		,	cre_user
		,	cre_ip
		,	cre_prg
		,	cre_datetime
		,	upd_user
		,	upd_ip
		,	upd_prg
		,	upd_datetime
		,	NULL
		,	NULL
		,	''
		,	NULL
		FROM #TEMP 

		--delete
		DELETE F4200 FROM F4200 INNER JOIN #TEMP ON(
			F4200.company_cd  = #TEMP.company_cd
		AND F4200.fiscal_year = #TEMP.fiscal_year
		AND F4200.employee_cd = #TEMP.employee_cd
		AND F4200.report_kind = #TEMP.report_kind
		AND F4200.report_no	= @w_report_no
		)
		WHERE
			F4200.del_datetime IS NOT NULL
		--F4200
		INSERT INTO F4200
		SELECT 
			#TEMP.company_cd
		,	#TEMP.fiscal_year
		,	#TEMP.employee_cd
		,	@w_report_kind
		,	id_column					AS	report_no
		,	#TEMP.sheet					AS	sheet_cd
		,	#TEMP.adaption_date
		,	IIF(#TEMP.sheet = B.sheet, B.status_cd, 1) -- 未提出
		,	#TEMP.title
		,	#TEMP.approver_employee_cd_1
		,	''
		,	NULL
		,	#TEMP.approver_employee_cd_2
		,	''
		,	NULL
		,	#TEMP.approver_employee_cd_3
		,	''
		,	NULL
		,	#TEMP.approver_employee_cd_4
		,	''
		,	NULL
		,	#TEMP.year
		,	#TEMP.[month]
		,	#TEMP.detail_no
		,	#TEMP.cre_user
		,	#TEMP.cre_ip
		,	#TEMP.cre_prg
		,	#TEMP.cre_datetime
		,	#TEMP.upd_user
		,	#TEMP.upd_ip
		,	#TEMP.upd_prg
		,	#TEMP.upd_datetime
		,	NULL
		,	NULL
		,	''
		,	NULL
		FROM #TEMP  LEFT JOIN #F4200_DEL AS B ON(
			#TEMP.company_cd	= B.company_cd
		AND #TEMP.fiscal_year	= B.fiscal_year
		AND #TEMP.employee_cd	= B.employee_cd
		AND #TEMP.report_kind	= B.report_kind
		AND #TEMP.year			= B.year
		AND #TEMP.month			= B.month
		AND #TEMP.detail_no		= B.times
		)
		IF @w_start_date < @w_time AND @w_end_date > @w_time
		BEGIN
		-- S0010
		-- UPDATE 1.REPORTER 
		UPDATE S0010 SET 
			report_authority_typ	=	1
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #TEMP_PARAMS ON (
			S0010.company_cd		=	#TEMP_PARAMS.company_cd
		AND S0010.employee_cd		=	#TEMP_PARAMS.employee_cd
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (2,3,4,5,6)
		)
		-- UPDATE 2.APPROVER
		-- approver_employee_cd_1
		UPDATE S0010 SET 
			report_authority_typ	=	0
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #F4200_DEL ON (
			S0010.company_cd		=	#F4200_DEL.company_cd
		AND S0010.employee_cd		=	#F4200_DEL.approver_employee_cd_1
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		UPDATE S0010 SET 
			report_authority_typ	=	2
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #TEMP_PARAMS ON (
			S0010.company_cd		=	#TEMP_PARAMS.company_cd
		AND S0010.employee_cd		=	#TEMP_PARAMS.approver_employee_cd_1
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		-- approver_employee_cd_2
		UPDATE S0010 SET 
			report_authority_typ	=	0
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #F4200_DEL ON (
			S0010.company_cd		=	#F4200_DEL.company_cd
		AND S0010.employee_cd		=	#F4200_DEL.approver_employee_cd_2
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		UPDATE S0010 SET 
			report_authority_typ	=	2
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #TEMP_PARAMS ON (
			S0010.company_cd		=	#TEMP_PARAMS.company_cd
		AND S0010.employee_cd		=	#TEMP_PARAMS.approver_employee_cd_2
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		
		
		-- approver_employee_cd_3
		UPDATE S0010 SET 
			report_authority_typ	=	0
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #F4200_DEL ON (
			S0010.company_cd		=	#F4200_DEL.company_cd
		AND S0010.employee_cd		=	#F4200_DEL.approver_employee_cd_3
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		UPDATE S0010 SET 
			report_authority_typ	=	2
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #TEMP_PARAMS ON (
			S0010.company_cd		=	#TEMP_PARAMS.company_cd
		AND S0010.employee_cd		=	#TEMP_PARAMS.approver_employee_cd_3
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
	
		
		-- approver_employee_cd_4
		UPDATE S0010 SET 
			report_authority_typ	=	0
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #F4200_DEL ON (
			S0010.company_cd		=	#F4200_DEL.company_cd
		AND S0010.employee_cd		=	#F4200_DEL.approver_employee_cd_4
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		UPDATE S0010 SET 
			report_authority_typ	=	2
		,	upd_user				=	@P_cre_user
		,	upd_prg					=	'rI1020'
		,	upd_ip					=	@P_cre_ip
		,	upd_datetime			=	@w_time
		FROM S0010
		INNER JOIN #TEMP_PARAMS ON (
			S0010.company_cd		=	#TEMP_PARAMS.company_cd
		AND S0010.employee_cd		=	#TEMP_PARAMS.approver_employee_cd_4
		)
		WHERE 
			S0010.company_cd	=	@P_company_cd
		AND (
			S0010.report_authority_typ IS NULL
		OR	S0010.report_authority_typ NOT IN (3,4,5,6)
		)
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark 
	FROM @ERR_TBL
	ORDER BY 
		order_by
END
GO
