DROP PROCEDURE [SPC_RI1020_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0170
-- EXEC SPC_rI1020_INQ1 '740','11','11'
--  EXEC SPC_COMBOBOX_INQ1 'M0020','1','11','740','5';
-- EXEC SPC_rI1020_INQ11 '10035','5','acc002'
-- EXEC SPC_rI1020_INQ1 '740','1','721';
-- EXEC SPC_rI1020_INQ1 '10035','1','acc001';
--****************************************************************************************
--*   select * from F4100 where detail_no = 1
--*  処理概要/process overview	:	RI1020
--*  
--*  作成日/create date			:	
--*　作成者/creater				:	namnt	
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:　	
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [SPC_RI1020_INQ1]
	@P_company_cd		SMALLINT	=	0
,	@P_group_cd			SMALLINT	=	0 
,	@P_user_id					nvarchar(MAX)	=	''
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
	DECLARE 
		@use_typ							smallint		=	0
	,	@w_organization_belong_person_typ	smallint		=	0	-- 自分の所属する組織のみ閲覧可能
	,	@w_report_authority_cd				smallint		=	0
	,	@employee_cd						nvarchar(10)	=	''
	,	@w_report_authority_typ				smallint		=	0
	,	@w_belong_cd1_emp	SMALLINT = 0
	,	@w_belong_cd2_emp	SMALLINT = 0
	,	@w_belong_cd3_emp	SMALLINT = 0
	,	@w_belong_cd4_emp	SMALLINT = 0
	,	@w_belong_cd5_emp	SMALLINT = 0
	,	@w_exec_1				NVARCHAR(MAX) = ''
	,	@w_exec_2				NVARCHAR(MAX) = ''
	,	@w_exec_3				NVARCHAR(MAX) = ''
	,	@w_exec_4				NVARCHAR(MAX) = ''
	SET @w_belong_cd1_emp	  = (SELECT ISNULL(M4601.organization_cd_1,0) from M4601 WHERE company_cd =@P_company_cd AND group_cd = @P_group_cd)
	SET @w_belong_cd2_emp	  = (SELECT ISNULL(M4601.organization_cd_2,0) from M4601 WHERE company_cd =@P_company_cd AND group_cd = @P_group_cd)
	SET @w_belong_cd3_emp	  = (SELECT ISNULL(M4601.organization_cd_3,0) from M4601 WHERE company_cd =@P_company_cd AND group_cd = @P_group_cd)
	SET @w_belong_cd4_emp	  = (SELECT ISNULL(M4601.organization_cd_4,0) from M4601 WHERE company_cd =@P_company_cd AND group_cd = @P_group_cd)
	SET @w_belong_cd5_emp	  = (SELECT ISNULL(M4601.organization_cd_5,0) from M4601 WHERE company_cd =@P_company_cd AND group_cd = @P_group_cd)
	SET @w_exec_1 = N'EXEC SPC_REFER_ORGANIZATION_INQ1'+ SPACE(1) +'''{"list":[{"organization_cd_1":"'+CAST(@w_belong_cd1_emp AS nvarchar(max))+'","organization_cd_2":"'+CAST(@w_belong_cd2_emp AS nvarchar(max))+'","organization_cd_3":'++IIF(CAST(@w_belong_cd3_emp AS nvarchar(max))='0','""',CAST(@w_belong_cd3_emp AS nvarchar(max)))++',"organization_cd_4":"'++CAST(@w_belong_cd4_emp AS nvarchar(max))++'","organization_cd_5":"'++CAST(@w_belong_cd5_emp AS nvarchar(max))++'"}],"organization_typ":"1","system":"5"}'''+','''+@P_user_id+''','+''+CAST(@P_company_cd as nvarchar(max))+''+','+'''5''';
	SET @w_exec_2 = N'EXEC SPC_REFER_ORGANIZATION_INQ1'+ SPACE(1) +'''{"list":[{"organization_cd_1":"'+CAST(@w_belong_cd1_emp AS nvarchar(max))+'","organization_cd_2":"'+CAST(@w_belong_cd2_emp AS nvarchar(max))+'","organization_cd_3":'++IIF(CAST(@w_belong_cd3_emp AS nvarchar(max))='0','""',CAST(@w_belong_cd3_emp AS nvarchar(max)))++',"organization_cd_4":"'++CAST(@w_belong_cd4_emp AS nvarchar(max))++'","organization_cd_5":"'++CAST(@w_belong_cd5_emp AS nvarchar(max))++'"}],"organization_typ":"2","system":"5"}'''+','''+@P_user_id+''','+''+CAST(@P_company_cd as nvarchar(max))+''+','+'''5''';
	SET @w_exec_3 = N'EXEC SPC_REFER_ORGANIZATION_INQ1'+ SPACE(1) +'''{"list":[{"organization_cd_1":"'+CAST(@w_belong_cd1_emp AS nvarchar(max))+'","organization_cd_2":"'+CAST(@w_belong_cd2_emp AS nvarchar(max))+'","organization_cd_3":'++IIF(CAST(@w_belong_cd3_emp AS nvarchar(max))='0','""',CAST(@w_belong_cd3_emp AS nvarchar(max)))++',"organization_cd_4":"'++CAST(@w_belong_cd4_emp AS nvarchar(max))++'","organization_cd_5":"'++CAST(@w_belong_cd5_emp AS nvarchar(max))++'"}],"organization_typ":"3","system":"5"}'''+','''+@P_user_id+''','+''+CAST(@P_company_cd as nvarchar(max))+''+','+'''5''';
	SET @w_exec_4 = N'EXEC SPC_REFER_ORGANIZATION_INQ1'+ SPACE(1) +'''{"list":[{"organization_cd_1":"'+CAST(@w_belong_cd1_emp AS nvarchar(max))+'","organization_cd_2":"'+CAST(@w_belong_cd2_emp AS nvarchar(max))+'","organization_cd_3":'++IIF(CAST(@w_belong_cd3_emp AS nvarchar(max))='0','""',CAST(@w_belong_cd3_emp AS nvarchar(max)))++',"organization_cd_4":"'++CAST(@w_belong_cd4_emp AS nvarchar(max))++'","organization_cd_5":"'++CAST(@w_belong_cd5_emp AS nvarchar(max))++'"}],"organization_typ":"4","system":"5"}'''+','''+@P_user_id+''','+''+CAST(@P_company_cd as nvarchar(max))+''+','+'''5''';


	IF @P_group_cd = -1
	BEGIN
	SET @P_group_cd = 0
	END
	--[0]
	SELECT 
		ISNULL(organization_cd_1,'-1') AS belong_cd1
	,	ISNULL(organization_cd_2,'-1') AS belong_cd2
	,	ISNULL(organization_cd_3,'-1') AS belong_cd3
	,	ISNULL(organization_cd_4,'-1') AS belong_cd4
	,	ISNULL(organization_cd_5,'-1') AS belong_cd5
	FROM M4601
	WHERE
		M4601.company_cd	= @P_company_cd
	AND M4601.group_cd		= @P_group_cd
	AND M4601.del_datetime	IS NULL

	EXEC  (@w_exec_1)
	EXEC  (@w_exec_2)
	EXEC  (@w_exec_3)
	EXEC  (@w_exec_4)
END
GO
