#total_line {
	background: #e5e6e8;
}
@media (max-width: 375px) {
	.header-left-function h5{
		font-size: 1.1rem !important;
	}
}
@media (max-width: 575px) {
	#table-data {
		width: 1768px !important;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	#table-data {
		width: 1768px !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#table-data {
		width: 1768px !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#table-data {
		width: 1768px !important;
	}
}
.ln-white-text label{
	white-space: nowrap;
}
.title-screen{
	display: flex;
	margin: 0 !important;
	align-items: center;
}