DROP PROCEDURE [SPC_S0010_INQ3]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0010
-- EXEC SPC_S0010_INQ1 '{"contract_cd":"ans","user_id":"1","password":"1"}';
-- select * from m0070
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0100_商品登録
--*  
--*  作成日/create date			:	2017/11/03						
--*　作成者/creater				:	tannq								
--*   					
--*  更新日/update date			:	2019/05/27	
--*　更新者/updater				:	viettd
--*　更新内容/update content		:	update ver 1.5
--*   					
--*  更新日/update date			:	2019/06/04	
--*　更新者/updater				:	viettd
--*　更新内容/update content		:	S0010.failed_login_count＞5  show message 30
--****************************************************************************************
CREATE PROCEDURE [SPC_S0010_INQ3]
	-- Add the parameters for the stored procedure here
	@P_json										NVARCHAR(max)	=	''
,	@P_cre_ip									NVARCHAR(100)	=	''
	-- common
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time							DATE				=	SYSDATETIME()
	,	@now							DATETIME2			=   SYSDATETIME()
	,	@ERR_TBL						ERRTABLE
	,	@order_by_min					INT					=	0
	,	@user_id						NVARCHAR(MAX)		=	JSON_VALUE(@P_json,'$.user_id')		
	,	@password						NVARCHAR(40)		=	JSON_VALUE(@P_json,'$.password')
	,	@contract_cd					NVARCHAR(20)		=	JSON_VALUE(@P_json,'$.contract_cd')	
	,	@company_cd						INT					=	0
	--
	,	@failed_login_count				TINYINT				=	0	-- add by viettd 2019/06/04
	--
	CREATE TABLE #SESSION_TBL (
		id							INT				IDENTITY(1,1) NOT NULL
	,	company_cd					SMALLINT
	,	company_nm					NVARCHAR(100)
	,	user_id						NVARCHAR(50)
	,	employee_cd					NVARCHAR(20)
	,	password					NVARCHAR(40)
	,	authority_typ				SMALLINT
	,	authority_cd				SMALLINT
	,	remember_token				NVARCHAR(120)
	,	failed_login_count			TINYINT
	,	pass_change_datetime		DATETIME
	,	last_login_ip				NVARCHAR(100)
	,	last_login_datetime			DATETIME
	,	cre_user					NVARCHAR(40)
	,	cre_ip						NVARCHAR(100)
	,	cre_datetime				DATETIME
	,	upd_user					NVARCHAR(40)
	,	upd_ip						NVARCHAR(100)
	,	upd_datetime				DATETIME
	,	del_user					NVARCHAR(40)
	,	del_ip						NVARCHAR(100)
	,	del_datetime				DATETIME
	,	authority_nm				NVARCHAR(20)
	,	authority_typ_nm			NVARCHAR(30)
	,	password_age				TINYINT
	--,	use_start_dt				DATE
	--,	user_end_dt					DATE
	,	contract_company_attribute	SMALLINT
	,	[language]						NVARCHAR(10)	-- add by namnt 2022/08/09
	) 
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--Validate Login
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--1. Message 30
	IF NOT EXISTS (
	SELECT
		1
	FROM S0010
	LEFT JOIN M0070 ON (
		M0070.company_cd	=	S0010.company_cd
	AND M0070.employee_cd	=	S0010.employee_cd
	AND M0070.del_datetime  IS NULL
	AND (M0070.company_out_dt IS NULL OR (M0070.company_out_dt > @w_time AND M0070.company_out_dt IS NOT NULL))
	AND (M0070.company_in_dt IS NULL OR (M0070.company_in_dt	<=  @w_time AND M0070.company_in_dt IS NOT NULL))
	AND (
			(M0070.company_out_dt > M0070.company_in_dt AND M0070.company_out_dt IS NOT NULL AND M0070.company_in_dt IS NOT NULL)
		OR  (M0070.company_out_dt IS NULL OR M0070.company_in_dt IS NULL)
		)
	)
	INNER JOIN M0001 ON (
		M0001.company_cd					=	S0010.company_cd
	AND M0001.del_datetime IS NULL 
	)
	LEFT JOIN L0010 ON (
		L0010.name_typ	=	4
	AND L0010.number_cd	=	S0010.authority_typ
	)
	WHERE
		M0001.contract_cd COLLATE Latin1_General_CS_AS	=	@contract_cd
	AND ISNULL(M0001.contract_company_attribute,0)		=	1
	AND S0010.user_id COLLATE Latin1_General_CS_AS		=	@user_id
	AND S0010.password COLLATE Latin1_General_CS_AS		=	@password
	AND S0010.del_datetime	IS NULL
	AND ISNULL(S0010.authority_typ,0)					=	4
	)
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			30									-- mã lỗi (trùng với mã trong bảng message) 					
		,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'IDとパスワードを確認してください。'	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	--↓↓↓ add by viettd 2019/06/04
	--2. S0010.failed_login_count＞5  show message 30
	SELECT 
		@failed_login_count = ISNULL(S0010.failed_login_count,0) 
	FROM S0010 
	INNER JOIN M0001 ON (
		M0001.company_cd	=	S0010.company_cd
	AND M0001.del_datetime IS NULL 
	)	
	WHERE
		S0010.[user_id]		=	@user_id
	AND S0010.del_datetime	IS NULL
	AND M0001.contract_cd COLLATE Latin1_General_CS_AS	=	@contract_cd
	--
	IF @failed_login_count >= 5
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			95												-- mã lỗi (trùng với mã trong bảng message) 					
		,	''												-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby										-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  									-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0												-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0												-- Tùy ý
		,	'S0010.failed_login_count > 5  show message 30'	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	--↑↑↑ end add by viettd 2019/06/04
	-- START TRANSACTION 
	BEGIN TRANSACTION
	BEGIN TRY
		-- ログイン成功
		IF NOT EXISTS (SELECT message_no FROM @ERR_TBL)
		BEGIN
			UPDATE S0010 SET 
				last_login_ip		=	@P_cre_ip
			,	last_login_datetime	=	@now
			,	failed_login_count	=	0
			FROM S0010 INNER JOIN M0001 ON (
				M0001.company_cd	=	S0010.company_cd
			AND M0001.del_datetime IS NULL 
			)	
			WHERE
				S0010.user_id		=	@user_id
			AND S0010.password		=	@password
			AND S0010.del_datetime	IS NULL
			AND M0001.contract_cd COLLATE Latin1_General_CS_AS	=	@contract_cd
			--
			INSERT INTO #SESSION_TBL 
			SELECT 
				S0010.company_cd
			,	M0001.company_nm
			,	S0010.user_id
			,	S0010.employee_cd
			,	S0010.password
			,	ISNULL(S0010.authority_typ,4)	AS authority_typ
			,	S0010.authority_cd
			,	S0010.remember_token
			,	S0010.failed_login_count
			,	S0010.pass_change_datetime
			,	S0010.last_login_ip
			,	S0010.last_login_datetime
			,	S0010.cre_user
			,	S0010.cre_ip
			,	S0010.cre_datetime
			,	S0010.upd_user
			,	S0010.upd_ip
			,	S0010.upd_datetime
			,	S0010.del_user
			,	S0010.del_ip
			,	S0010.del_datetime
			,	S0020.authority_nm
			,	L0010.name						AS authority_typ_nm
			,	ISNULL(M9100.password_age,0)	AS password_age
			--,	M0001.use_start_dt
			--,	M0001.user_end_dt
			,	ISNULL(M0001.contract_company_attribute,0)
			,	CASE						
					WHEN	S0010.language = 2
					THEN	'en'
					ELSE	'jp'
				END
			FROM S0010 
			INNER JOIN M0001 ON (
				M0001.company_cd	=	S0010.company_cd
			AND M0001.del_datetime IS NULL 
			)	
			LEFT JOIN S0020 ON (
				S0020.company_cd	=	S0010.company_cd
			AND S0020.authority_cd	=	S0010.authority_cd
			AND S0020.del_datetime	IS NULL 
			)
			LEFT JOIN L0010 ON (
				L0010.name_typ	=	4
			AND L0010.number_cd	=	S0010.authority_typ
			)
			LEFT JOIN M9100 ON (
				M9100.company_cd	=	S0010.company_cd
			AND M9100.del_datetime IS NULL
			)
			WHERE
				S0010.user_id COLLATE Latin1_General_CS_AS		=	@user_id
			AND S0010.password COLLATE Latin1_General_CS_AS		=	@password
			AND S0010.del_datetime	IS NULL
			AND ISNULL(S0010.authority_typ,0)					=	4
			AND ISNULL(M0001.contract_company_attribute,0)		=	1
			AND M0001.contract_cd COLLATE Latin1_General_CS_AS	=	@contract_cd
		END
		-- ログイン失敗
		ELSE IF @failed_login_count < 5
		BEGIN
			UPDATE S0010 SET 
				failed_login_count	=	ISNULL(S0010.failed_login_count,0) + 1
			FROM S0010 
			INNER JOIN M0001 ON (
				M0001.company_cd	=	S0010.company_cd
			AND M0001.del_datetime IS NULL 
			)	
			WHERE
				S0010.[user_id]		=	@user_id
			AND S0010.del_datetime	IS NULL
			AND M0001.contract_cd COLLATE Latin1_General_CS_AS	=	@contract_cd
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCETION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0]
	SELECT
		company_cd
	,	company_nm
	,	user_id
	,	employee_cd
	,	password
	,	ISNULL(authority_typ,0) AS authority_typ
	,	authority_cd
	,	remember_token
	,	failed_login_count
	,	pass_change_datetime
	,	last_login_ip
	,	last_login_datetime
	,	cre_user
	,	cre_ip
	,	cre_datetime
	,	upd_user
	,	upd_ip
	,	upd_datetime
	,	del_user
	,	del_ip
	,	del_datetime
	,	authority_nm		
	,	authority_typ_nm	
	,	password_age
	--,	use_start_dt
	--,	user_end_dt
	,	contract_company_attribute
	,	[language]
	FROM #SESSION_TBL

	--[1] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO