DROP PROCEDURE [SPC_S0010_INQ4]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0010
-- EXEC SPC_S0010_INQ1 '{"contract_cd":"ans","user_id":"1","password":"1"}';
-- select * from m0070
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	LOGIN
--*  
--*  作成日/create date			:	2018/09/03						
--*　作成者/creater				:	tannq								
--*   					
--*  更新日/update date			:	2018/11/12	
--*　更新者/updater				:　	longvv-longvv@ans-asia.com
--*　更新内容/update content		:	Update CR 2018/11/12	
--*   					
--*  更新日/update date			:	2019/05/27	
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	update ver 1.5
--*   					
--*  更新日/update date			:	2019/06/04	
--*　更新者/updater				:	viettd
--*　更新内容/update content		:	S0010.failed_login_count＞5  show message 30
--****************************************************************************************
CREATE PROCEDURE [SPC_S0010_INQ4]
	-- Add the parameters for the stored procedure here
	@P_contract_cd								NVARCHAR(20)	=	''

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time							DATE				=	SYSDATETIME()
	,	@check		INT = 0
	
	IF EXISTS( SELECT 1	FROM M0001 WHERE M0001.contract_cd COLLATE Latin1_General_CS_AS	=	@P_contract_cd AND SSO_use_typ = 1)
	BEGIN
		SET @check = 1 
	END
	--[0]
	SELECT @check  as sso_check
	
END
GO