IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_eQ0200_ACT1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_eQ0200_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_eQ0200_ACT1 782,2023,'890',4,1,'890'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	ADD SEAT INTO CHART
--*  
--*  作成日/create date			:	2024/04/05						
--*　作成者/creater				:	viettd								
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:	
--*　更新内容/update content		:	
--*  
--****************************************************************************************
CREATE PROCEDURE [SPC_eQ0200_ACT1] 
	@P_floor_id					SMALLINT		=	0
,	@P_employee_cd				NVARCHAR(10)	=	''
,	@P_x						NUMERIC(10,2)	=	0
,	@P_y						NUMERIC(10,2)	=	0
,	@P_cre_user					NVARCHAR(50)	=	''
,	@P_cre_ip					NVARCHAR(50)	=	''
,	@P_company_cd				SMALLINT		=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2					=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE	
	,	@w_order_by_min				int							=	0
	,	@w_screen_id				nvarchar(20)				=	'eQ0200'
	
	BEGIN TRY
	BEGIN TRANSACTION
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- IF @P_employee_cd = '' THEN GET EMPLOYEE OF LOGIN
			IF @P_employee_cd = ''
			BEGIN
				SELECT 
					@P_employee_cd	=	ISNULL(S0010.employee_cd,'')
				FROM S0010
				WHERE 
					S0010.company_cd	=	@P_company_cd
				AND S0010.user_id		=	@P_cre_user
				AND S0010.del_datetime IS NULL
			END
			-- UPDATE F5100
			IF EXISTS (SELECT 1 FROM F5100 WHERE company_cd = @P_company_cd AND employee_cd = @P_employee_cd)
			BEGIN
				UPDATE F5100 SET 
					floor_id		=	@P_floor_id
				,	rect_left		=	@P_x
				,	rect_top		=	@P_y
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	@w_screen_id
				,	upd_datetime	=	@w_time
				,	del_user		=	SPACE(0)
				,	del_ip			=	SPACE(0)
				,	del_prg			=	SPACE(0)
				,	del_datetime	=	NULL
				FROM F5100
				WHERE
					F5100.company_cd	=	@P_company_cd
				AND F5100.employee_cd	=	@P_employee_cd
			END
			ELSE
			BEGIN
				INSERT INTO F5100
				SELECT 
					@P_company_cd
				,	@P_employee_cd
				,	@P_floor_id
				,	@P_x
				,	@P_y
				,	@P_cre_user
				,	@P_cre_ip
				,	@w_screen_id
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
			END
		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@w_order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @w_order_by_min
	ORDER BY 
		order_by
	--[1]
	SELECT 
		F5100.employee_cd				AS	employee_cd
	,	ISNULL(M0070.employee_nm,'')	AS	employee_nm
	,	ISNULL(F5100.rect_left,0)		AS	x
	,	ISNULL(F5100.rect_top,0)		AS	y
	FROM F5100
	LEFT OUTER JOIN M0070 ON (
		F5100.company_cd		=	M0070.company_cd
	AND F5100.employee_cd		=	M0070.employee_cd
	AND M0070.del_datetime IS NULL
	)
	WHERE 
		F5100.company_cd	=	@P_company_cd
	AND F5100.employee_cd	=	@P_employee_cd
	AND F5100.del_datetime IS NULL
END

GO
