DROP PROCEDURE [SPC_I2030_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_I2030_ACT1 '{}','','::1';

--****************************************************************************************
--*   											
--*  処理概要/process overview	:	I2030
--*  
--*  作成日/create date			:	2018/09/26				
--*　作成者/creater				:	Longvv								
--*   					
--*  更新日/update date			:	2020/03/18
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	fix mess 88
--*   					
--*  更新日/update date			:	2020/03/23
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	add (authority_typ=3.管理者) to save
--*   					
--*  更新日/update date			:	2021/02/22
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	when input [一次評価者コメント] then process next status
--*   					
--*  更新日/update date			:	2021/03/01
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	remove condition (interview_comment_rater)
--*   					
--*  更新日/update date			:	2021/12/01
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgradate ver1.8
--*   					
--*  更新日/update date			:	2022/08/16
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgradate ver1.9
--*
--****************************************************************************************
CREATE PROCEDURE [SPC_I2030_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json				NVARCHAR(max)
	-- common
,	@P_cre_user			NVARCHAR(50)	=	''
,	@P_cre_ip			NVARCHAR(50)	=	''
,	@P_company_cd		SMALLINT		=	0

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time											DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL										ERRTABLE	
	,	@order_by_min									INT					=	0
	,	@sheet_cd										INT					=	0	
	,	@sheet_kbn										TINYINT				=	0
	,	@P_status_cd									SMALLINT			=	0
	,	@P_evaluation_step								SMALLINT			=	0		--0.被評価者, 1~4 評価者, 5.管理者
	,	@P_employee_cd									NVARCHAR(10)		=	0
	,	@P_fiscal_year									SMALLINT			=	0
	,	@period_detail_no								SMALLINT			=	0
	--
	,	@w_authority_typ								SMALLINT			=	0
	,	@w_login_employee_cd							NVARCHAR(10)		=	''
	,	@w_rater_employee_cd_1							NVARCHAR(10)		=	''
	,	@w_rater_employee_cd_2							NVARCHAR(10)		=	''
	,	@w_rater_employee_cd_3							NVARCHAR(10)		=	''
	,	@w_rater_employee_cd_4							NVARCHAR(10)		=	''
	--
	CREATE TABLE #TEMP_F0122(
		company_cd					INT
	,	fiscal_year					SMALLINT
	,	employee_cd					NVARCHAR(10)
	,	interview_no				INT
	,	period_detail_no			SMALLINT
	,	interview_date				DATE
	,	interview_comment_self		NVARCHAR(1000)
	,	interview_comment_rater		NVARCHAR(1000)
	,	interview_comment_rater2	NVARCHAR(1000)	-- add by viettd 2021/12/01
	,	interview_comment_rater3	NVARCHAR(1000)	-- add by viettd 2021/12/01
	,	interview_comment_rater4	NVARCHAR(1000)	-- add by viettd 2021/12/01
	,	sheet_cd					INT
	)
	CREATE TABLE #TABLE_TREATMENT (
		company_cd					INT
	,	fiscal_year					SMALLINT
	,	treatment_applications_no	SMALLINT
	,	employee_cd					NVARCHAR(10)
	)
	CREATE TABLE #TABLE_F0100 (
		company_cd					INT
	,	fiscal_year					SMALLINT
	,	employee_cd					NVARCHAR(10)
	,	sheet_cd					SMALLINT
	,	status_cd					SMALLINT
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		SET	@P_fiscal_year						=	JSON_VALUE(@P_json,'$.fiscal_year')       
		SET	@P_employee_cd						=	JSON_VALUE(@P_json,'$.employee_cd')
		SET @P_status_cd						=	JSON_VALUE(@P_json,'$.status_cd') 
		SET	@P_evaluation_step					=	JSON_VALUE(@P_json,'$.evaluation_step')    
		-- INSERT INTO #TEMP_F0122
		INSERT INTO #TEMP_F0122
		SELECT
			@P_company_cd
		,	@P_fiscal_year
		,	@P_employee_cd			
		,	JSON_VALUE([value],'$.interview_no')
		,	JSON_VALUE([value],'$.period_detail_no')	
		,	IIF(JSON_VALUE([value],'$.interview_date')='',NULL,JSON_VALUE([value],'$.interview_date'))	
		,	JSON_VALUE([value],'$.interview_comment_self')	
		,	JSON_VALUE([value],'$.interview_comment_rater')
		,	JSON_VALUE([value],'$.interview_comment_rater2')
		,	JSON_VALUE([value],'$.interview_comment_rater3')
		,	JSON_VALUE([value],'$.interview_comment_rater4')
		,	JSON_VALUE([value],'$.sheet_cd')	
		FROM OPENJSON(@P_json,'$.tr_status')
		--UPDATE
		IF EXISTS(SELECT 1 FROM #TEMP_F0122)
		BEGIN
			-- 期首面談
			SELECT TOP 1
				@period_detail_no					=	period_detail_no	
			,	@sheet_cd							=	sheet_cd
			FROM #TEMP_F0122
			--M0200
			SELECT
				@sheet_kbn				=	ISNULL(W_M0200.sheet_kbn,0)
			FROM W_M0200  
			WHERE 
				W_M0200.company_cd		=	@P_company_cd 
			AND W_M0200.fiscal_year		=	@P_fiscal_year
			AND	W_M0200.sheet_cd		=	@sheet_cd	
			AND W_M0200.del_datetime IS NULL
			-- get information of login 
			SELECT 
				@w_authority_typ		=	ISNULL(S0010.authority_typ,0)
			,	@w_login_employee_cd	=	ISNULL(S0010.employee_cd,'')
			FROM S0010
			WHERE 
				S0010.company_cd		=	@P_company_cd
			AND S0010.[user_id]			=	@P_cre_user
			AND S0010.del_datetime IS NULL
			-- GET FROM F0100
			SELECT 
				@w_rater_employee_cd_1	=	ISNULL(F0100.rater_employee_cd_1,'')
			,	@w_rater_employee_cd_2	=	ISNULL(F0100.rater_employee_cd_2,'')
			,	@w_rater_employee_cd_3	=	ISNULL(F0100.rater_employee_cd_3,'')
			,	@w_rater_employee_cd_4	=	ISNULL(F0100.rater_employee_cd_4,'')
			FROM F0100
			WHERE
				F0100.company_cd			=	@P_company_cd
			AND F0100.fiscal_year			=	@P_fiscal_year
			AND F0100.employee_cd			=	@P_employee_cd
			AND F0100.sheet_cd				=	@sheet_cd
			AND F0100.del_datetime IS NULL
			-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			-- VALIDATE
			-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			INSERT INTO #TABLE_TREATMENT
			SELECT 
				F0032.company_cd					
			,	F0032.fiscal_year					
			,	F0032.treatment_applications_no	
			,	F0032.employee_cd					
			FROM F0032
			WHERE 
				F0032.company_cd		=	@P_company_cd
			AND F0032.fiscal_year		=	@P_fiscal_year
			AND F0032.employee_cd		=	@P_employee_cd
			AND F0032.sheet_cd			=	@sheet_cd
			AND F0032.del_datetime IS NULL
			GROUP BY
				F0032.company_cd					
			,	F0032.fiscal_year					
			,	F0032.treatment_applications_no	
			,	F0032.employee_cd	
			-- get all sheet_cd when same treatment_no
			INSERT INTO #TABLE_F0100
			SELECT 
				F0032.company_cd			
			,	F0032.fiscal_year			
			,	F0032.employee_cd			
			,	F0032.sheet_cd	
			,	ISNULL(F0100.status_cd,0)	AS		status_cd	
			FROM #TABLE_TREATMENT
			INNER JOIN F0032 ON (
				#TABLE_TREATMENT.company_cd					=	F0032.company_cd
			AND #TABLE_TREATMENT.fiscal_year				=	F0032.fiscal_year
			AND #TABLE_TREATMENT.treatment_applications_no	=	F0032.treatment_applications_no
			AND #TABLE_TREATMENT.employee_cd				=	F0032.employee_cd
			)
			INNER JOIN M0200 ON (
				F0032.company_cd		=	M0200.company_cd
			AND F0032.sheet_cd			=	M0200.sheet_cd
			)
			LEFT OUTER JOIN F0100 ON (
				F0032.company_cd		=	F0100.company_cd
			AND F0032.fiscal_year		=	F0100.fiscal_year
			AND F0032.employee_cd		=	F0100.employee_cd
			AND F0032.sheet_cd			=	F0100.sheet_cd
			AND F0100.del_datetime IS NULL
			)
			WHERE 
				M0200.evaluation_period		=	@period_detail_no
			GROUP BY
				F0032.company_cd			
			,	F0032.fiscal_year			
			,	F0032.employee_cd			
			,	F0032.sheet_cd	
			,	F0100.status_cd	
			-- CHECK MESSAGE NO.88
			IF  (
					(@P_status_cd	IN(0,1) AND	@sheet_kbn	=	1)
				OR	(@P_status_cd	=	0	AND	@sheet_kbn	=	2)
			)
			BEGIN
				IF EXISTS (
					SELECT 1
					FROM #TABLE_F0100
					INNER JOIN M0200 WITH(NOLOCK) ON (
						#TABLE_F0100.company_cd		=	M0200.company_cd
					AND	#TABLE_F0100.sheet_cd		=	M0200.sheet_cd
					AND	M0200.del_datetime	IS NULL
					)
					WHERE 
					(
						(	
								M0200.sheet_kbn			=	1	
							AND	#TABLE_F0100.status_cd	<>	1 
						)
					OR	
						(	
								M0200.sheet_kbn			=	2	
							AND	#TABLE_F0100.status_cd	<>	0
						)
					)
				)
				BEGIN
					INSERT INTO @ERR_TBL VALUES(
						88
					,	'#status_cd'
					,	0-- oderby
					,	1-- dialog  
					,	0
					,	0
					,	'ステータスが「期首面談中」でない評価シートがあります'
					)
				END
			END
			-- CHECK MESSAGE NO.89
			IF (
					(@P_status_cd	=	11	AND	@sheet_kbn	=	1)
				OR	(@P_status_cd	=	9	AND	@sheet_kbn	=	2)
			)
			BEGIN
				IF EXISTS (
					SELECT 1
					FROM #TABLE_F0100
					INNER JOIN M0200 WITH(NOLOCK) ON (
						#TABLE_F0100.company_cd		=	M0200.company_cd
					AND	#TABLE_F0100.sheet_cd		=	M0200.sheet_cd
					AND	M0200.del_datetime	IS NULL
					)
					WHERE 
					(
						(	
								M0200.sheet_kbn			=	1	
							AND	#TABLE_F0100.status_cd	<>	11
						)
					OR	
						(	
								M0200.sheet_kbn			=	2	
							AND	#TABLE_F0100.status_cd	<>	9
						)
					)
				)
				BEGIN
					INSERT INTO @ERR_TBL VALUES(
						89
					,	'#status_cd'
					,	0-- oderby
					,	1-- dialog  
					,	0
					,	0
					,	'ステータスが「ﾌｨｰﾄﾞﾊﾞｯｸ面談待ち」でない評価シートがあります'
					)
				END
			END
			-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			-- PROCESS DATA
			-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
			BEGIN
				--UPDATE
				UPDATE F0122 SET	
					interview_date				=	TEMP.interview_date
				,	interview_comment_self		=	CASE 
														WHEN @w_login_employee_cd = @P_employee_cd OR @w_authority_typ IN (3,4,5)
														THEN TEMP.interview_comment_self
														ELSE F0122.interview_comment_self
													END
				,	interview_comment_rater		=	CASE 
														WHEN @w_login_employee_cd = @w_rater_employee_cd_1 OR @w_authority_typ IN (3,4,5)
														THEN TEMP.interview_comment_rater
														ELSE F0122.interview_comment_rater
													END
				,	interview_comment_rater2	=	CASE 
														WHEN @w_login_employee_cd = @w_rater_employee_cd_2 OR @w_authority_typ IN (3,4,5)
														THEN TEMP.interview_comment_rater2
														ELSE F0122.interview_comment_rater2
													END
				,	interview_comment_rater3	=	CASE 
														WHEN @w_login_employee_cd = @w_rater_employee_cd_3 OR @w_authority_typ IN (3,4,5)
														THEN TEMP.interview_comment_rater3
														ELSE F0122.interview_comment_rater3
													END
				,	interview_comment_rater4	=	CASE 
														WHEN @w_login_employee_cd = @w_rater_employee_cd_4 OR @w_authority_typ IN (3,4,5)
														THEN TEMP.interview_comment_rater4
														ELSE F0122.interview_comment_rater4
													END
				,	upd_user					=	@P_cre_user			
				,	upd_ip						=	@P_cre_ip
				,	upd_prg						=	'I2030'	
				,	upd_datetime				=	@w_time	
				FROM F0122
				INNER JOIN #TEMP_F0122 AS TEMP ON (
					F0122.company_cd		=	TEMP.company_cd
				AND	F0122.fiscal_year		=	TEMP.fiscal_year
				AND	F0122.period_detail_no	=	TEMP.period_detail_no
				AND	F0122.employee_cd		=	TEMP.employee_cd
				AND	F0122.interview_no		=	TEMP.interview_no
				)
				--INSERT
				INSERT INTO F0122 (
					company_cd					
				,	fiscal_year	
				,	period_detail_no				
				,	employee_cd									
				,	interview_no					
				,	interview_date					
				,	interview_comment_self
				,	interview_comment_rater
				,	interview_comment_rater2
				,	interview_comment_rater3
				,	interview_comment_rater4				                   				
				,	cre_user
				,	cre_ip
				,	cre_prg
				,	cre_datetime
				)
				SELECT	
					@P_company_cd	
				,	TEMP.fiscal_year
				,	TEMP.period_detail_no
				,	TEMP.employee_cd
				,	TEMP.interview_no
				,	TEMP.interview_date
				,	TEMP.interview_comment_self
				,	TEMP.interview_comment_rater
				,	TEMP.interview_comment_rater2
				,	TEMP.interview_comment_rater3
				,	TEMP.interview_comment_rater4
				,	@P_cre_user
				,	@P_cre_ip
				,	'I2030'
				,	@w_time
				FROM #TEMP_F0122 AS TEMP
				LEFT OUTER JOIN F0122  ON (
					TEMP.company_cd			=	F0122.company_cd
				AND	TEMP.fiscal_year		=	F0122.fiscal_year
				AND	TEMP.period_detail_no	=	F0122.period_detail_no
				AND	TEMP.employee_cd		=	F0122.employee_cd
				AND	TEMP.interview_no		=	F0122.interview_no
				)
				WHERE 
					F0122.company_cd		IS NULL
				AND	TEMP.period_detail_no	<>	0
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- UPDATE F0100
				-- WHEN UPDATE STATUS (期首面談)
				-- WHEN INPUT 一次評価者コメント (add by viettd 2021/02/22)
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				--IF @P_status_cd IN (0,1)  AND @P_evaluation_step IN(1,5) AND @w_interview_comment_rater_期首面談 <> ''
				IF @P_status_cd IN (0,1)  AND @P_evaluation_step IN(1,5) -- edited by viettd 2021/03/01
				BEGIN
					UPDATE F0100 SET	
						status_cd				=	CASE
														-- WHEN 1.目標シート
														WHEN M0200.sheet_kbn = 1
														THEN 2	-- ２：期首面談完了。目標承認待ち。
														-- WHEN 2.定性シート
														WHEN M0200.sheet_kbn = 2
														THEN
															CASE 
																WHEN ISNULL(M0100.evaluation_self_assessment_typ,0) = 1 AND ISNULL(M0200.evaluation_self_typ,0) = 1
																THEN 1 -- １：期首面談済。自己評価中。
																ELSE 2 -- ２：自己評価済。一次評価中。
															END
														ELSE F0100.status_cd
													END
					,	upd_user				=	@P_cre_user			
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	'I2030'	
					,	upd_datetime			=	@w_time	
					FROM F0100
					INNER JOIN #TABLE_F0100 ON (
						F0100.company_cd		=	#TABLE_F0100.company_cd
					AND	F0100.fiscal_year		=	#TABLE_F0100.fiscal_year
					AND	F0100.employee_cd		=	#TABLE_F0100.employee_cd
					AND	F0100.sheet_cd			=	#TABLE_F0100.sheet_cd
					)
					INNER JOIN W_M0200 AS M0200 WITH(NOLOCK) ON (
						F0100.company_cd	=	M0200.company_cd
					AND	F0100.sheet_cd		=	M0200.sheet_cd
					AND @P_fiscal_year		=	M0200.fiscal_year
					AND	M0200.del_datetime	IS NULL
					)
					INNER JOIN M0100 ON (
						F0100.company_cd		=	M0100.company_cd
					AND M0100.del_datetime IS NULL
					)
					WHERE 
						F0100.company_cd			=	@P_company_cd 
					AND	F0100.fiscal_year			=	@P_fiscal_year
					AND	F0100.employee_cd			=	@P_employee_cd
					AND	M0200.evaluation_period		=	@period_detail_no
					AND	(
						(	M0200.sheet_kbn			=	1	
						AND	F0100.status_cd			=	1)
					OR	(	M0200.sheet_kbn			=	2	
						AND	F0100.status_cd			=	0)
					)
					AND F0100.del_datetime			IS NULL
				END
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				-- UPDATE F0100
				-- WHEN UPDATE STATUS (期首面談)
				-- WHEN INPUT 一次評価者コメント (add by viettd 2021/02/22)
				--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				--IF @P_status_cd IN (9,11) AND @P_evaluation_step IN(1,5) AND @w_interview_comment_rater_フィードバック面談 <> ''
				IF @P_status_cd IN (9,11) AND @P_evaluation_step IN(1,5) -- edited by viettd 2021/03/01
				BEGIN
					UPDATE F0100 SET	
						status_cd				=	CASE
														WHEN M0200.sheet_kbn = 1
														THEN 12
														ELSE 10
													END
					,	upd_user				=	@P_cre_user			
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	'I2030'	
					,	upd_datetime			=	@w_time	
					FROM F0100
					INNER JOIN #TABLE_F0100 ON (
						F0100.company_cd		=	#TABLE_F0100.company_cd
					AND	F0100.fiscal_year		=	#TABLE_F0100.fiscal_year
					AND	F0100.employee_cd		=	#TABLE_F0100.employee_cd
					AND	F0100.sheet_cd			=	#TABLE_F0100.sheet_cd
					)
					INNER JOIN M0200 WITH(NOLOCK) ON (
						F0100.company_cd	=	M0200.company_cd
					AND	F0100.sheet_cd		=	M0200.sheet_cd
					AND	M0200.del_datetime	IS NULL
					)
					WHERE 
						F0100.company_cd			=	@P_company_cd 
					AND	F0100.fiscal_year			=	@P_fiscal_year
					AND	F0100.employee_cd			=	@P_employee_cd
					AND	M0200.evaluation_period		=	@period_detail_no
					AND	(
						(	M0200.sheet_kbn			=	1	
						AND	F0100.status_cd			=	11)
					OR	(	M0200.sheet_kbn			=	2	
						AND	F0100.status_cd			=	9)
					)
					AND F0100.del_datetime			IS NULL
				END
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	--■DROP TABLE 
	DROP TABLE #TEMP_F0122
END
GO