@media (max-width: 575px) {}

@media (min-width: 576px) and (max-width: 767px) {
    #table-data {
        min-width: 1200px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    #table-data {
        min-width: unset !important;
    }
}

@media (min-width: 320px) and (max-width: 387px) {}

.w-size {
    width: 50%;
}

table .md-checkbox-v2 input[type="checkbox"]+label:before {
    margin-right: 0px !important;
}

table tr label {
    margin-top: .5rem;
}

.w-50px {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

.w-120px {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

.w-160px {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}

.w-90px {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
}

.checkbox-os0030 .checkmark {
    top: -5px;
    left: 10px;
}

.checkbox-os0030-body .checkmark {
    top: -15px;
    left: 10px;
}

.wmd-view {
    max-height: 50vh;
}

#btn_delete {
    color: #d9534f;
    background-color: transparent;
    background-image: none;
    border: 1px solid #d9534f;
}

#btn_delete:active {
    color: white;
    background-color: #dc3545;
    background-image: none;
    border: 1px solid #dc3545;
}

#btn_delete:hover {
    color: white;
    background-color: #dc3545;
}
#btn_delete:focus {
    border: 1px solid #d9534f !important;
    background: #d9534f !important;
    color: #fff !important;
}
.sticky-table table tr th{
    outline: 0.5px solid #ddd;
}
.table td, .table th {
    padding:0 0.3125rem;
    vertical-align: middle;
}
.hide-card-common {
    transition: 3s !important;
    height: 52px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}