DROP PROCEDURE [SPC_M0110_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{"tr":[{"challenge_level":"1","challenge_level_nm":"434","betting_rate":"545.45"}]}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/09/05											
--*	作成者/creater				:	Longvv						
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0110_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			nvarchar(max)
,	@P_cre_user		nvarchar(50)
,	@P_cre_ip		nvarchar(50)
,	@P_company_cd	smallint
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			int					=	0
	,	@challenge_level_max	smallint			=	0
	
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY

		-- do stuff
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
			-- CREATE TABLE #TEMP_M0110_INSERT
			CREATE TABLE #TEMP_M0110_INSERT (
				id					INT			IDENTITY(1,1)	
			,	challenge_level		smallint
			,	challenge_level_nm	nvarchar(50)
			,	betting_rate		numeric(5,2)
			,	explanation			nvarchar(50)
			)
			--INSERT INTO #TEMP_M0110_INSERT
			INSERT INTO #TEMP_M0110_INSERT
			SELECT
				JSON_VALUE([value],'$.challenge_level')		AS challenge_level
			,	JSON_VALUE([value],'$.challenge_level_nm')	AS challenge_level_nm
			,	JSON_VALUE([value],'$.betting_rate')		AS betting_rate
			,	JSON_VALUE([value],'$.explanation')			AS explanation
			FROM OPENJSON(@P_json,'$.tr')
			WHERE ISNULL(JSON_VALUE([value],'$.challenge_level'),0) = 0
			-- CREATE TABLE #TEMP_M0101_UPDATE
			CREATE TABLE #TEMP_M0101_UPDATE (
				id					INT			IDENTITY(1,1)	
			,	challenge_level		smallint
			,	challenge_level_nm	nvarchar(50)
			,	betting_rate		numeric(5,2)
			,	explanation			nvarchar(50)
			)
			--INSERT INTO #TEMP_M0101_UPDATE
			INSERT INTO #TEMP_M0101_UPDATE
			SELECT
				JSON_VALUE([value],'$.challenge_level')		AS challenge_level
			,	JSON_VALUE([value],'$.challenge_level_nm')	AS challenge_level_nm
			,	JSON_VALUE([value],'$.betting_rate')		AS betting_rate
			,	JSON_VALUE([value],'$.explanation')			AS explanation
			FROM OPENJSON(@P_json,'$.tr')
			WHERE ISNULL(JSON_VALUE([value],'$.challenge_level'),0) <> 0
			--UPDATE M0110
			IF EXISTS (SELECT 1 FROM #TEMP_M0101_UPDATE)
			BEGIN
				SET @challenge_level_max = ISNULL((SELECT MAX(challenge_level) FROM M0110 WHERE company_cd = @P_company_cd),0)
				UPDATE M0110 SET  
					challenge_level_nm	=	TEMP.challenge_level_nm
				,	betting_rate		=	TEMP.betting_rate
				,	explanation			=	TEMP.explanation
				,	upd_user			=	@P_cre_user			
				,	upd_ip				=	@P_cre_ip	
				,	upd_prg				=   'M0110'
				,	upd_datetime		=	@w_time					
				FROM M0110
				INNER JOIN #TEMP_M0101_UPDATE AS TEMP ON (
					M0110.challenge_level		= TEMP.challenge_level
				)
				WHERE 
					M0110.company_cd	= @P_company_cd
				AND M0110.del_datetime	IS NULL
				--DELETE M0110
				UPDATE M0110 SET    
					del_user			=	@P_cre_user			
				,	del_ip				=	@P_cre_ip	
				,	del_prg				=	'M0110'
				,	del_datetime		=	@w_time		
				FROM M0110
				LEFT JOIN #TEMP_M0101_UPDATE AS TEMP ON (
					M0110.challenge_level		= TEMP.challenge_level
				)
				WHERE 
					M0110.company_cd		= @P_company_cd
				AND M0110.del_datetime		IS NULL
				AND TEMP.challenge_level	IS NULL
			END
			ELSE
			BEGIN
				--DELETE M0110
				UPDATE M0110 SET    
					del_user			=	@P_cre_user			
				,	del_ip				=	@P_cre_ip	
				,	del_prg				=	'M0110'
				,	del_datetime		=	@w_time		
				FROM M0110
				WHERE 
					M0110.company_cd		= @P_company_cd
				AND M0110.del_datetime		IS NULL
			END
			--INSERT M0110
			IF EXISTS (SELECT 1 FROM #TEMP_M0110_INSERT)
			BEGIN
				SET @challenge_level_max = ISNULL((SELECT MAX(challenge_level) FROM M0110 WHERE company_cd = @P_company_cd),0)
				INSERT INTO M0110(
					company_cd
				,	challenge_level
				,	challenge_level_nm
				,	betting_rate
				,	explanation
				,	cre_user				
				,	cre_ip		
				,	cre_prg		
				,	cre_datetime				
				,	upd_user				
				,	upd_ip	
				,	upd_prg			
				,	upd_datetime				
				,	del_user				
				,	del_ip	
				,	del_prg			
				,	del_datetime				
				)
				SELECT
					@P_company_cd
				,	@challenge_level_max+TEMP.id
				,	TEMP.challenge_level_nm
				,	TEMP.betting_rate
				,	TEMP.explanation
				,	@P_cre_user
				,	@P_cre_ip
				,	'M0110'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #TEMP_M0110_INSERT	 AS TEMP
			END
			--	 drop temp table M0110
			DROP TABLE #TEMP_M0110_INSERT
			DROP TABLE #TEMP_M0101_UPDATE

		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
