DROP PROCEDURE [SPC_M0110_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0110
-- EXEC [SPC_M0110_INQ1] '1';
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0100_商品登録
--*  
--*  作成日/create date			:	2018/09/05						
--*　作成者/creater				:	longvv								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0110_INQ1]
	-- Add the parameters for the stored procedure here
	@P_company_cd							smallint	=	0
	-- common
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					datetime2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE
	--
	SELECT
		company_cd		
	,	challenge_level		
	,	challenge_level_nm	
	,	betting_rate
	,	explanation
	FROM M0110 
	WHERE 
		M0110.company_cd	=	@P_company_cd
	AND M0110.del_datetime IS NULL 
	ORDER BY challenge_level

END


GO
