/****** Object:  StoredProcedure [dbo].[SPC_A0002_ACT1]    Script Date: 2018/09/06 11:18:13 ******/
SET ANSI_NULLS ON
 --EXEC SPC_A0002_ACT1 '[{"id":2310569,"company_id":3744836,"num":"b003","display_name":"B003","base_pension_num":null,"employment_insurance_reference_number":"","birth_date":"1993-01-01","entry_date":"2019-12-01","retire_date":null,"user_id":null,"profile_rule":{"id":5079261,"company_id":3744836,"employee_id":2310569,"last_name":"B003","first_name":"B003","last_name_kana":"カタカナ","first_name_kana":"カタカナ","zipcode1":null,"zipcode2":null,"prefecture_code":-1,"address":null,"address_kana":"","phone1":null,"phone2":null,"phone3":null,"residential_zipcode1":null,"residential_zipcode2":null,"residential_prefecture_code":-1,"residential_address":null,"residential_address_kana":"","employment_type":null,"title":null,"gender":0,"married":false,"is_working_student":false,"widow_type":"na","disability_type":"na","email":null,"householder_name":"","householder":"myself"},"basic_pay_rule":{"id":5382861,"company_id":3744836,"employee_id":2310569,"pay_calc_type":"monthly","pay_amount":13000},"payroll_calculation":true,"company_reference_date_rule_name":"15日締め（当月25日払い）"},{"id":2307587,"company_id":3744836,"num":"b001","display_name":"B001","base_pension_num":null,"employment_insurance_reference_number":"","birth_date":"1993-01-01","entry_date":"2020-12-01","retire_date":null,"user_id":null,"profile_rule":{"id":5068791,"company_id":3744836,"employee_id":2307587,"last_name":"B001","first_name":"B001","last_name_kana":"カタカナ","first_name_kana":"カタカナ","zipcode1":null,"zipcode2":null,"prefecture_code":-1,"address":null,"address_kana":"","phone1":null,"phone2":null,"phone3":null,"residential_zipcode1":null,"residential_zipcode2":null,"residential_prefecture_code":-1,"residential_address":null,"residential_address_kana":"","employment_type":null,"title":null,"gender":0,"married":false,"is_working_student":false,"widow_type":"na","disability_type":"na","email":null,"householder_name":"","householder":"myself"},"basic_pay_rule":{"id":5376472,"company_id":3744836,"employee_id":2307587,"pay_calc_type":"monthly","pay_amount":100},"payroll_calculation":true,"company_reference_date_rule_name":"15日締め（当月25日払い）"},{"id":2310103,"company_id":3744836,"num":"b002","display_name":"B002","base_pension_num":null,"employment_insurance_reference_number":"","birth_date":"1993-01-01","entry_date":"2020-12-01","retire_date":null,"user_id":null,"profile_rule":{"id":5077376,"company_id":3744836,"employee_id":2310103,"last_name":"B002","first_name":"B002","last_name_kana":"カタカナ","first_name_kana":"カタカナ","zipcode1":null,"zipcode2":null,"prefecture_code":-1,"address":null,"address_kana":"","phone1":null,"phone2":null,"phone3":null,"residential_zipcode1":null,"residential_zipcode2":null,"residential_prefecture_code":-1,"residential_address":null,"residential_address_kana":"","employment_type":"","title":null,"gender":0,"married":false,"is_working_student":false,"widow_type":"na","disability_type":"na","email":null,"householder_name":"","householder":"myself"},"basic_pay_rule":{"id":5381784,"company_id":3744836,"employee_id":2310103,"pay_calc_type":"monthly","pay_amount":12000},"payroll_calculation":true,"company_reference_date_rule_name":"15日締め（当月25日払い）"},{"id":2307559,"company_id":3744836,"num":"b004","display_name":"B004","base_pension_num":null,"employment_insurance_reference_number":"","birth_date":"1993-01-01","entry_date":"2023-12-01","retire_date":null,"user_id":null,"profile_rule":{"id":5068711,"company_id":3744836,"employee_id":2307559,"last_name":"B004","first_name":"カタカナ","last_name_kana":"カタカナ","first_name_kana":"カタカ","zipcode1":null,"zipcode2":null,"prefecture_code":-1,"address":null,"address_kana":"","phone1":null,"phone2":null,"phone3":null,"residential_zipcode1":null,"residential_zipcode2":null,"residential_prefecture_code":-1,"residential_address":null,"residential_address_kana":"","employment_type":null,"title":null,"gender":0,"married":false,"is_working_student":false,"widow_type":"na","disability_type":"na","email":null,"householder_name":"","householder":"myself"},"basic_pay_rule":{"id":5376434,"company_id":3744836,"employee_id":2307559,"pay_calc_type":"monthly","pay_amount":1},"payroll_calculation":true,"company_reference_date_rule_name":"15日締め（当月25日払い）"}]','{"employee_group_memberships":[{"id":2310569,"num":"b003","display_name":"B003","entry_date":"2019-12-01","retire_date":null,"user_id":null,"login_email":null,"birth_date":"1993-01-01","gender":0,"payroll_calculation":true,"group_memberships":[]},{"id":2307587,"num":"b001","display_name":"B001","entry_date":"2020-12-01","retire_date":null,"user_id":null,"login_email":null,"birth_date":"1993-01-01","gender":0,"payroll_calculation":true,"group_memberships":[{"start_date":"2022-12-15","end_date":"9999-12-31","group_id":261085,"group_code":"ｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｵﾊﾖｳｳ","group_name":"Development FREEE","level":1,"position_id":65772,"position_code":"P2","position_name":"Leader FREEE","parent_group_id":null,"parent_group_code":null,"parent_group_name":null}]},{"id":2310103,"num":"b002","display_name":"B002","entry_date":"2020-12-01","retire_date":null,"user_id":null,"login_email":null,"birth_date":"1993-01-01","gender":0,"payroll_calculation":true,"group_memberships":[{"start_date":"2021-12-26","end_date":"9999-12-31","group_id":261085,"group_code":"ｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｵﾊﾖｳｳ","group_name":"Development FREEE","level":1,"position_id":65772,"position_code":"P2","position_name":"Leader FREEE","parent_group_id":null,"parent_group_code":null,"parent_group_name":null},{"start_date":"2021-12-18","end_date":"9999-12-31","group_id":261087,"group_code":"o2","group_name":"Dev  FREEE","level":2,"position_id":null,"position_code":null,"position_name":null,"parent_group_id":261085,"parent_group_code":"ｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｵﾊﾖｳｳ","parent_group_name":"Development FREEE"},{"start_date":"2022-06-20","end_date":"9999-12-31","group_id":448222,"group_code":"o4","group_name":"dev php  FREEE","level":3,"position_id":65773,"position_code":"ｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｵﾊﾖｳｳ","position_name":"Staff FREEE","parent_group_id":261087,"parent_group_code":"o2","parent_group_name":"Dev  FREEE"},{"start_date":"2022-05-19","end_date":"9999-12-31","group_id":448223,"group_code":"o5","group_name":"dev php 4  FREEE","level":4,"position_id":114010,"position_code":"","position_name":"Position FREEE","parent_group_id":448222,"parent_group_code":"o4","parent_group_name":"dev php  FREEE"},{"start_date":"2022-01-18","end_date":"9999-12-31","group_id":448224,"group_code":"o6","group_name":"dev php 5  FREEE","level":5,"position_id":65773,"position_code":"ｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｵﾊﾖｳｳ","position_name":"Staff FREEE","parent_group_id":448223,"parent_group_code":"o5","parent_group_name":"dev php 4  FREEE"},{"start_date":"2022-04-19","end_date":"9999-12-31","group_id":448336,"group_code":"o8","group_name":"test auto FREEE","level":3,"position_id":null,"position_code":null,"position_name":null,"parent_group_id":261088,"parent_group_code":"o7","parent_group_name":"Test  FREEE"},{"start_date":"2022-03-18","end_date":"9999-12-31","group_id":448337,"group_code":"","group_name":"test manual FREEE","level":3,"position_id":null,"position_code":null,"position_name":null,"parent_group_id":261088,"parent_group_code":"o7","parent_group_name":"Test  FREEE"},{"start_date":"2022-02-18","end_date":"9999-12-31","group_id":448338,"group_code":"P1","group_name":"Back office FREEE","level":1,"position_id":65771,"position_code":"P1","position_name":"CEO FREEE","parent_group_id":null,"parent_group_code":null,"parent_group_name":null}]},{"id":2307559,"num":"b004","display_name":"B004","entry_date":"2023-12-01","retire_date":null,"user_id":null,"login_email":null,"birth_date":"1993-01-01","gender":0,"payroll_calculation":true,"group_memberships":[{"start_date":"2023-12-15","end_date":"9999-12-31","group_id":261085,"group_code":"ｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｵﾊﾖｳｳ","group_name":"Development FREEE","level":1,"position_id":65771,"position_code":"P1","position_name":"CEO FREEE","parent_group_id":null,"parent_group_code":null,"parent_group_name":null}]}]}','1','1','1','user.bat','192.168.5.19','10041';


GO
DROP PROCEDURE [dbo].[SPC_A0002_ACT1]
SET QUOTED_IDENTIFIER ON
GO
--****************************************************************************************
--*   		EXEC SPC_A0002_ACT1 '[{"id":2310569,"company_id":3744836,"num":"b003","display_name":"B003","base_pension_num":null,"employment_insurance_reference_number":"","birth_date":"1993-01-01","entry_date":"2019-12-01","retire_date":null,"user_id":null,"profile_rule":{"id":5079261,"company_id":3744836,"employee_id":2310569,"last_name":"B003","first_name":"B003","last_name_kana":"カタカナ","first_name_kana":"カタカナ","zipcode1":null,"zipcode2":null,"prefecture_code":-1,"address":null,"address_kana":"","phone1":null,"phone2":null,"phone3":null,"residential_zipcode1":null,"residential_zipcode2":null,"residential_prefecture_code":-1,"residential_address":null,"residential_address_kana":"","employment_type":null,"title":null,"gender":0,"married":false,"is_working_student":false,"widow_type":"na","disability_type":"na","email":null,"householder_name":"","householder":"myself"},"basic_pay_rule":{"id":5382861,"company_id":3744836,"employee_id":2310569,"pay_calc_type":"monthly","pay_amount":13000},"payroll_calculation":true,"company_reference_date_rule_name":"15日締め（当月25日払い）"},{"id":2307587,"company_id":3744836,"num":"b001","display_name":"B001","base_pension_num":null,"employment_insurance_reference_number":"","birth_date":"1993-01-01","entry_date":"2020-12-01","retire_date":null,"user_id":null,"profile_rule":{"id":5068791,"company_id":3744836,"employee_id":2307587,"last_name":"B001","first_name":"B001","last_name_kana":"カタカナ","first_name_kana":"カタカナ","zipcode1":null,"zipcode2":null,"prefecture_code":-1,"address":null,"address_kana":"","phone1":null,"phone2":null,"phone3":null,"residential_zipcode1":null,"residential_zipcode2":null,"residential_prefecture_code":-1,"residential_address":null,"residential_address_kana":"","employment_type":null,"title":null,"gender":0,"married":false,"is_working_student":false,"widow_type":"na","disability_type":"na","email":null,"householder_name":"","householder":"myself"},"basic_pay_rule":{"id":5376472,"company_id":3744836,"employee_id":2307587,"pay_calc_type":"monthly","pay_amount":100},"payroll_calculation":true,"company_reference_date_rule_name":"15日締め（当月25日払い）"},{"id":2310103,"company_id":3744836,"num":"b002","display_name":"B002","base_pension_num":null,"employment_insurance_reference_number":"","birth_date":"1993-01-01","entry_date":"2020-12-01","retire_date":null,"user_id":null,"profile_rule":{"id":5077376,"company_id":3744836,"employee_id":2310103,"last_name":"B002","first_name":"B002","last_name_kana":"カタカナ","first_name_kana":"カタカナ","zipcode1":null,"zipcode2":null,"prefecture_code":-1,"address":null,"address_kana":"","phone1":null,"phone2":null,"phone3":null,"residential_zipcode1":null,"residential_zipcode2":null,"residential_prefecture_code":-1,"residential_address":null,"residential_address_kana":"","employment_type":"","title":null,"gender":0,"married":false,"is_working_student":false,"widow_type":"na","disability_type":"na","email":null,"householder_name":"","householder":"myself"},"basic_pay_rule":{"id":5381784,"company_id":3744836,"employee_id":2310103,"pay_calc_type":"monthly","pay_amount":12000},"payroll_calculation":true,"company_reference_date_rule_name":"15日締め（当月25日払い）"},{"id":2307559,"company_id":3744836,"num":"b004","display_name":"B004","base_pension_num":null,"employment_insurance_reference_number":"","birth_date":"1993-01-01","entry_date":"2023-12-01","retire_date":null,"user_id":null,"profile_rule":{"id":5068711,"company_id":3744836,"employee_id":2307559,"last_name":"B004","first_name":"カタカナ","last_name_kana":"カタカナ","first_name_kana":"カタカ","zipcode1":null,"zipcode2":null,"prefecture_code":-1,"address":null,"address_kana":"","phone1":null,"phone2":null,"phone3":null,"residential_zipcode1":null,"residential_zipcode2":null,"residential_prefecture_code":-1,"residential_address":null,"residential_address_kana":"","employment_type":null,"title":null,"gender":0,"married":false,"is_working_student":false,"widow_type":"na","disability_type":"na","email":null,"householder_name":"","householder":"myself"},"basic_pay_rule":{"id":5376434,"company_id":3744836,"employee_id":2307559,"pay_calc_type":"monthly","pay_amount":1},"payroll_calculation":true,"company_reference_date_rule_name":"15日締め（当月25日払い）"}]','{"employee_group_memberships":[{"id":2310569,"num":"b003","display_name":"B003","entry_date":"2019-12-01","retire_date":null,"user_id":null,"login_email":null,"birth_date":"1993-01-01","gender":0,"payroll_calculation":true,"group_memberships":[]},{"id":2307587,"num":"b001","display_name":"B001","entry_date":"2020-12-01","retire_date":null,"user_id":null,"login_email":null,"birth_date":"1993-01-01","gender":0,"payroll_calculation":true,"group_memberships":[{"start_date":"2022-12-15","end_date":"9999-12-31","group_id":261085,"group_code":"あﾖﾖｳｺﾞｻﾞｲﾏｽｵかﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｵﾊﾖｳｺ","group_name":"Development FREEE","level":1,"position_id":65772,"position_code":"P2","position_name":"Leader FREEE","parent_group_id":null,"parent_group_code":null,"parent_group_name":null}]},{"id":2310103,"num":"b002","display_name":"B002","entry_date":"2020-12-01","retire_date":null,"user_id":null,"login_email":null,"birth_date":"1993-01-01","gender":0,"payroll_calculation":true,"group_memberships":[{"start_date":"2021-12-26","end_date":"9999-12-31","group_id":261085,"group_code":"あﾖﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｵﾊﾖｳｺ","group_name":"Development FREEE","level":1,"position_id":65772,"position_code":"P2","position_name":"Leader FREEE","parent_group_id":null,"parent_group_code":null,"parent_group_name":null},{"start_date":"2021-12-18","end_date":"9999-12-31","group_id":261087,"group_code":"o2","group_name":"Dev  FREEE","level":2,"position_id":null,"position_code":null,"position_name":null,"parent_group_id":261085,"parent_group_code":"あﾖﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｵﾊﾖｳｺ","parent_group_name":"Development FREEE"},{"start_date":"2022-05-19","end_date":"9999-12-31","group_id":448223,"group_code":"o5","group_name":"dev php 4  FREEE","level":4,"position_id":114010,"position_code":"","position_name":"Position FREEE","parent_group_id":448222,"parent_group_code":"o4","parent_group_name":"dev php  FREEE"},{"start_date":"2022-01-18","end_date":"9999-12-31","group_id":448224,"group_code":"o6","group_name":"dev php 5  FREEE","level":5,"position_id":65773,"position_code":"あﾖﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｵﾊﾖｳｺ","position_name":"Staff FREEE","parent_group_id":448223,"parent_group_code":"o5","parent_group_name":"dev php 4  FREEE"},{"start_date":"2022-04-19","end_date":"9999-12-31","group_id":448336,"group_code":"o8","group_name":"test auto FREEE","level":3,"position_id":null,"position_code":null,"position_name":null,"parent_group_id":261088,"parent_group_code":"o7","parent_group_name":"Test  FREEE"},{"start_date":"2022-03-18","end_date":"9999-12-31","group_id":448337,"group_code":"","group_name":"test manual FREEE","level":3,"position_id":null,"position_code":null,"position_name":null,"parent_group_id":261088,"parent_group_code":"o7","parent_group_name":"Test  FREEE"},{"start_date":"2022-02-18","end_date":"9999-12-31","group_id":448338,"group_code":"P1","group_name":"Back office FREEE","level":1,"position_id":65771,"position_code":"P1","position_name":"CEO FREEE","parent_group_id":null,"parent_group_code":null,"parent_group_name":null}]},{"id":2307559,"num":"b004","display_name":"B004","entry_date":"2023-12-01","retire_date":null,"user_id":null,"login_email":null,"birth_date":"1993-01-01","gender":0,"payroll_calculation":true,"group_memberships":[{"start_date":"2023-12-15","end_date":"9999-12-31","group_id":261085,"group_code":"あﾖﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｲﾏｽｵﾊﾖｳｺﾞｻﾞｵﾊﾖｳｺ","group_name":"Development FREEE","level":1,"position_id":65771,"position_code":"P1","position_name":"CEO FREEE","parent_group_id":null,"parent_group_code":null,"parent_group_name":null}]}]}','0','1','1','user.bat','192.168.5.19','10041';

--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2020/07/05									
--*	作成者/creater				:	DatNT						
--*   					
--*	更新日/update date			:  	2023/12/19					
--*	更新者/updater				:　 NAMNT　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_A0002_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json1					NVARCHAR(max)			= ''
,	@P_json2					NVARCHAR(max)			= ''
,	@P_api_employee_use			SMALLINT				=  0
,	@P_api_position_use			SMALLINT				=  0
,	@P_api_organization_use		SMALLINT				=  0
	-- common										
,	@P_cre_user				NVARCHAR(50)				= ''
,	@P_cre_ip				NVARCHAR(50)				= ''
,	@P_company_cd			SMALLINT					=  0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					=	0
	,	@max_org_typ			INT					=	0
	,	@max_position_cd		SMALLINT			=	0
	,	@i						INT					=	1
	,	@msg_8					NVARCHAR(100)		=	''
	,	@msg_28					NVARCHAR(100)		=	''
	,	@msg_11					NVARCHAR(100)		=	''
	,	@msg_32					NVARCHAR(100)		=	''
	,	@w_max_position_cd		INT					=	0

	SET @msg_8 =  (SELECT message FROM l0020 WHERE message_cd = 8 )
	SET @msg_28 = (SELECT message FROM l0020 WHERE message_cd = 28)
	SET @msg_11 = (SELECT message FROM l0020 WHERE message_cd = 11)
	SET @msg_32 = (SELECT message FROM l0020 WHERE message_cd = 32)
	CREATE TABLE #ERROR_API(
		employee_cd						NVARCHAR(20)
	,	employee_nm						NVARCHAR(50)
	,	furigana						NVARCHAR(50)
	,	error							NVARCHAR(1000)
	,	data_id							NVARCHAR(10) 
	)
	--	社員一覧
	CREATE TABLE #API_EMP(
		id							NVARCHAR(50)
	,	last_name					NVARCHAR(10)
	,	first_name					NVARCHAR(10)
	,	display_name				NVARCHAR(10)
	,	last_name_kana				NVARCHAR(10)
	,	first_name_kana				NVARCHAR(10)
	,	gender						SMALLINT
	,	birth_date					DATE
	,	entry_date					DATE
	,	retire_date					DATE
	,	pay_amount					MONEY
	,	rank_id						INT
	,	data_id						NVARCHAR(10) 
	)
	
	--	役割一度
	CREATE TABLE #API_POSION(
		row_id						INT  IDENTITY(1,1)
	,	id							NVARCHAR(50)
	,	position_id					NVARCHAR(50)
	,	position_name				NVARCHAR(20)
	,	[start_date]				DATE
	,	end_date					DATE
	,	data_id						NVARCHAR(10) 
	,	import_cd					NVARCHAR(255)
	--,	rank_posion					INT				-- to delete duplicate rows (rank > 1 --> delete)
	--,	rank_per_date				INT
	)
	--	組織一覧
	CREATE TABLE #API_GROUPS(
		row_id 						INT			IDENTITY(1,1)
	,	id							NVARCHAR(50)	-- 社員番号
	,	group_id					NVARCHAR(50)
	,	group_name					NVARCHAR(20)	
	,	[level]						INT					
	,	parent_group_id				NVARCHAR(225)
	,	parent_group_name			NVARCHAR(20)	
	,	[start_date]				date
	,	end_date					DATE
	,	data_id						NVARCHAR(10) 
	,	import_cd					NVARCHAR(255) 
	)
	--
	CREATE TABLE #GROUPS(
		group_id					NVARCHAR(20)
	,	group_name					NVARCHAR(20)	
	,	[level]						INT					
	,	parent_group_id				NVARCHAR(20)
	,	parent_group_name			NVARCHAR(20)	
	,	import_cd					NVARCHAR(255)	
	)
	--
	CREATE TABLE #M0020_TEMP (
		organization_cd_1			NVARCHAR(20)
	,	organization_cd_2			NVARCHAR(20)
	,	organization_cd_3			NVARCHAR(20)
	,	organization_cd_4			NVARCHAR(20)
	,	organization_cd_5			NVARCHAR(20)
	,	organization_typ			TINYINT
	,	organization_nm				NVARCHAR(20)
	,	organization_ab_nm			NVARCHAR(20)
	,	import_cd					NVARCHAR(255)
	)
	CREATE TABLE #API_GROUPS_M0070 (
		id					NVARCHAR(20)	-- 社員番号
	,	[level]				INT
	,	group_id			NVARCHAR(20)
	,	parent_group_id		NVARCHAR(20)
	,	[start_date]		DATE
	,	end_date			DATE
	,	import_cd					NVARCHAR(255)
	)
	CREATE TABLE #API_POSITION_M0070 (
		id					NVARCHAR(20)	-- 社員番号
	,	position_id			NVARCHAR(255)
	,	[start_date]		DATE
	,	end_date			DATE
	,	import_cd			NVARCHAR(255)
	)
	CREATE TABLE #API_GROUPS_M0071 (
		row_id				INT
	,	id					NVARCHAR(20)	-- 社員番号
	,	[start_date]		date
	)
	---------INSERT HEADER FILE ERROR CSV----------
	INSERT INTO #ERROR_API
	SELECT 
		'社員コード'					--employee_cd		
	,	'社員氏名'					--employee_nm	
	,	'ふりがな'					--furigana		
	,	'エラー'						--error	
	,	''
	--------------- CREATE TEMP TABLE FROM JSON ---------------
	INSERT INTO #API_EMP
	SELECT
		IIF(ISNULL(num,'')='',id,num)
	,	last_name		
	,	first_name		
	,	display_name	
	,	last_name_kana	
	,	first_name_kana	
	,	gender			
	,	birth_date		
	,	entry_date		
	,	retire_date		
	,	pay_amount		
	, DENSE_RANK() OVER(PARTITION BY IIF(ISNULL(num,'')='',id,num) ORDER BY id) 
	,	id
	FROM OPENJSON(@P_json1) WITH(
		num							NVARCHAR(20)
	,	id							NVARCHAR(20)
	,	last_name					NVARCHAR(10) '$.profile_rule.last_name'
	,	first_name					NVARCHAR(10) '$.profile_rule.first_name'
	,	display_name				NVARCHAR(10)
	,	last_name_kana				NVARCHAR(10) '$.profile_rule.last_name_kana'
	,	first_name_kana				NVARCHAR(10) '$.profile_rule.first_name_kana'
	,	gender						SMALLINT	 '$.profile_rule.gender'
	,	birth_date					DATE
	,	entry_date					DATE
	,	retire_date					DATE
	,	pay_amount					MONEY		 '$.basic_pay_rule.pay_amount'
	)
	--
	INSERT INTO #API_POSION
	SELECT
		IIF(ISNULL(num,'')='',id,num)
	,	position_id
	,	position_name
	,	[start_date]
	,	end_date
	,	id
	,	ISNULL(position_code,'')
	--,	DENSE_RANK() OVER(PARTITION BY position_id ORDER BY position_id,id)
	--,	DENSE_RANK() OVER(PARTITION BY id ORDER BY [start_date] DESC,position_id DESC)
	FROM OPENJSON(@P_json2, '$.employee_group_memberships') WITH(
		num							NVARCHAR(20)  
	,	id							NVARCHAR(20)
	,	group_memberships			NVARCHAR(MAX)  AS JSON
	) 
	OUTER APPLY OPENJSON(group_memberships)
	WITH (
		position_code		NVARCHAR(255)
	,	position_id			NVARCHAR(20)
	,	position_name		NVARCHAR(10) 
	,	[start_date]		DATE
	,	end_date			DATE
	)
	DELETE #API_POSION WHERE position_id IS NULL
		INSERT INTO #API_GROUPS
		SELECT 
			IIF(ISNULL(num,'')='',id,num)
		,	group_id
		,	group_name		
		,	[level]			
		,	IIF(ISNULL(parent_group_code,'')='',parent_group_id,parent_group_code)
		,	parent_group_name
		,	[start_date]
		,	end_date
		,	id
		,	ISNULL(group_code,'')
		FROM OPENJSON(@P_json2, '$.employee_group_memberships') WITH(
			num							NVARCHAR(20) 
		,	id							NVARCHAR(20) 
		,	group_memberships			NVARCHAR(MAX)  AS JSON
		)
		OUTER APPLY OPENJSON(group_memberships)
		WITH (
			group_code					NVARCHAR(255)
		,	group_id					NVARCHAR(20)	
		,	group_name					NVARCHAR(20)	
		,	[level]						INT					
		,	parent_group_code			NVARCHAR(20)
		,	parent_group_id				NVARCHAR(20)
		,	parent_group_name			NVARCHAR(20)	
		,	[start_date]				DATE
		,	end_date					DATE
		)
		---- CHECK ERROR OF POSITION M0040----
		--
		IF @P_api_position_use = 1
		BEGIN
			INSERT INTO #ERROR_API
			SELECT
				#API_EMP.id
			,	CAST(#API_EMP.last_name +' '+ #API_EMP.first_name AS NVARCHAR(20))
			,	CAST(#API_EMP.last_name_kana +' '+ #API_EMP.first_name_kana AS NVARCHAR(20))
			,	'役職コード : '	+@msg_28
			,	#API_EMP.data_id
			FROM  #API_POSION 
			LEFT JOIN #API_EMP ON(
				#API_POSION.data_id	=	#API_EMP.data_id
			)
			WHERE 
				LEN(#API_POSION.position_id) >255 
			OR	LEN(#API_POSION.import_cd) <> DATALENGTH(CAST(CAST(#API_POSION.import_cd AS varchar(max)) AS varbinary(max)))
			DELETE #API_POSION 
			WHERE 
				LEN(#API_POSION.position_id) >255 
			OR	LEN(#API_POSION.import_cd) <> DATALENGTH(CAST(CAST(#API_POSION.import_cd AS varchar(max)) AS varbinary(max)))
		END 
		---- CHECK ERROR OF EMPLOYEE----
		IF @P_api_employee_use = 1
		BEGIN
			UPDATE #ERROR_API
			SET
			error	=	#ERROR_API.error	+' , 社員コード : '	+@msg_32
			FROM (SELECT 
						id
					FROM 
					#API_EMP WHERE #API_EMP.rank_id > 1
				)AS #TEMP 
			INNER JOIN #API_EMP ON(
				#TEMP.id	=	#API_EMP.id
			) 
			INNER JOIN #ERROR_API ON(
				#API_EMP.data_id	=	#ERROR_API.data_id
			)
				--
			INSERT INTO #ERROR_API
			SELECT
				#API_EMP.id
			,	CAST(#API_EMP.last_name +' '+ #API_EMP.first_name AS NVARCHAR(20))
			,	CAST(#API_EMP.last_name_kana +' '+ #API_EMP.first_name_kana AS NVARCHAR(20))
			,	'社員コード : '	+@msg_32
			,	#API_EMP.data_id
			FROM (SELECT DISTINCT
						id
					FROM #API_EMP 
					WHERE #API_EMP.rank_id > 1
				)AS #TEMP 
			INNER JOIN #API_EMP ON(
				#TEMP.id	=	#API_EMP.id
			)
			LEFT JOIN #ERROR_API ON(
				#API_EMP.data_id	=	#ERROR_API.data_id
			)
			WHERE #ERROR_API.data_id IS NULL
			--
			UPDATE #ERROR_API
			SET
			error	=	#ERROR_API.error	+' , 社員コード : '	+@msg_28
			FROM  #ERROR_API 
			INNER JOIN #API_EMP ON(
				#ERROR_API.data_id = #API_EMP.data_id	
			)
			WHERE LEN(#API_EMP.id) > 10  
			--
			INSERT INTO #ERROR_API
			SELECT
				id
			,	CAST(#API_EMP.last_name +' '+ #API_EMP.first_name AS NVARCHAR(20))
			,	CAST(#API_EMP.last_name_kana +' '+ #API_EMP.first_name_kana AS NVARCHAR(20))
			,	'社員コード : '	+@msg_28
			,	#API_EMP.data_id
			FROM #API_EMP
			LEFT JOIN #ERROR_API ON(
				#API_EMP.data_id	=	#ERROR_API.data_id
			)
			WHERE 
				LEN(#API_EMP.id) > 10 AND #ERROR_API.employee_cd IS NULL
			OR	LEN(#API_EMP.id) <> DATALENGTH(CAST(CAST(#API_EMP.id AS varchar(max)) AS varbinary(max)))
		END

	---- END CHECK ERROR OF EMPLOYEE----	
	---- CHECK ERROR OF #API_GROUPS----
	IF @P_api_organization_use = 1
	BEGIN
		UPDATE #ERROR_API
		SET
		error	=	#ERROR_API.error	+' , 所属コード : '	+@msg_28
		FROM #API_GROUPS 
		INNER JOIN #ERROR_API ON(
			#API_GROUPS.data_id	=	#ERROR_API.data_id
		)
		WHERE 
			LEN(#API_GROUPS.group_id)			> 255
		OR	LEN(#API_GROUPS.parent_group_id)	> 255 
		--
		INSERT INTO #ERROR_API
		SELECT
			#API_EMP.id
		,	display_name
		,	CAST(#API_EMP.last_name_kana +' '+ #API_EMP.first_name_kana AS NVARCHAR(20))
		,	'所属コード : '	+@msg_28
		,	#API_EMP.data_id
		FROM  #API_GROUPS 
		LEFT JOIN #API_EMP ON(
			#API_GROUPS.data_id	=	#API_EMP.data_id
		)
		LEFT JOIN #ERROR_API ON(
			#API_GROUPS.data_id	=	#ERROR_API.data_id
		)
		WHERE 
		(	LEN(#API_GROUPS.group_id) > 255 
		OR	LEN(#API_GROUPS.parent_group_id) > 255 
		) 
		OR	LEN(#API_GROUPS.import_cd) <> DATALENGTH(CAST(CAST(#API_GROUPS.import_cd AS varchar(max)) AS varbinary(max)))
		AND #ERROR_API.data_id IS NULL
		--- DELTE ERROR ROW DATA FROM #API_EMP
		DELETE #API_GROUPS 
		WHERE LEN(#API_GROUPS.group_id) > 255 
		OR LEN(#API_GROUPS.import_cd) <> DATALENGTH(CAST(CAST(#API_GROUPS.import_cd AS varchar(max)) AS varbinary(max)))
		OR LEN(#API_GROUPS.parent_group_id) > 255 
	END
		
		DELETE E 
		FROM #API_EMP AS E 
		INNER JOIN #ERROR_API ON(
			E.data_id = #ERROR_API.data_id
		)
		--**************************************----
		--************* skip doing insert when get an error ********---
		--IF((SELECT COUNT(1) FROM #ERROR_API) > 1) GOTO  COMPLETE_QUERY
		----******************************************---
		-- 
		INSERT INTO #API_GROUPS_M0070
		SELECT
			id
		,	''
		,	''
		,	''
		,	max([start_date]) AS [start_date]
		,	max(end_date) AS end_date
		,	''
		FROM #API_GROUPS
		WHERE [start_date] IS NOT NULL
		GROUP BY 
			id
		--
		UPDATE #API_GROUPS_M0070 
		SET 
			group_id		=	#API_GROUPS.group_id
		,	parent_group_id	=	#API_GROUPS.parent_group_id
		,	[level]			=	#API_GROUPS.[level]
		,	import_cd		=	#API_GROUPS.import_cd
		FROM #API_GROUPS_M0070
		INNER JOIN #API_GROUPS ON(
			#API_GROUPS_M0070.id				= #API_GROUPS.id
		AND #API_GROUPS_M0070.[start_date]		= #API_GROUPS.[start_date]
		AND #API_GROUPS_M0070.end_date			= #API_GROUPS.end_date
		)
		--
		INSERT INTO #API_GROUPS_M0071
		SELECT  
			MIN(row_id)
		,	#API_GROUPS.id
		,	#API_GROUPS.[start_date]
		FROM #API_GROUPS
		WHERE [start_date] IS NOT NULL
		GROUP BY #API_GROUPS.id,#API_GROUPS.[start_date]
		--

		INSERT INTO #API_POSITION_M0070
		SELECT  
			#API_POSION.id
		,	0
		,	MAX(#API_POSION.[start_date])
		,	MAX(#API_POSION.end_date)
		,	#API_POSION.import_cd
		FROM #API_POSION
		WHERE [start_date] IS NOT NULL
		GROUP BY 
			#API_POSION.id
		,	#API_POSION.import_cd

		--
		UPDATE #API_POSITION_M0070 
		SET 
			position_id		=	#API_POSION.position_id
		,	import_cd		=	#API_POSION.import_cd
		FROM #API_POSITION_M0070
		INNER JOIN #API_POSION ON(
			--#API_POSITION_M0070.id					= #API_POSION.id
			#API_POSITION_M0070.[start_date]		= #API_POSION.[start_date]
		AND #API_POSITION_M0070.end_date			= #API_POSION.end_date
		AND #API_POSITION_M0070.import_cd			= #API_POSION.import_cd
		)
		-- DISTINCT GROUP
		INSERT INTO #GROUPS
		SELECT 
			DISTINCT
			#API_GROUPS.group_id			
		,	#API_GROUPS.group_name			
		,	#API_GROUPS.[level]				
		,	#API_GROUPS.parent_group_id		
		,	#API_GROUPS.parent_group_name	
		,	#API_GROUPS.import_cd	
		FROM #API_GROUPS
		--組織１
		INSERT INTO #M0020_TEMP
		SELECT 
			#GROUPS.group_id				--	organization_cd_1
		,	SPACE(0)						--	organization_cd_2
		,	SPACE(0)						--	organization_cd_3
		,	SPACE(0)						--	organization_cd_4
		,	SPACE(0)						--	organization_cd_5
		,	#GROUPS.level					--	organization_typ
		,	ISNULL(#GROUPS.group_name,'')	--	organization_nm
		,	ISNULL(#GROUPS.group_name,'')	--	organization_ab_nm
		,	ISNULL(#GROUPS.import_cd,'')	--	import_cd
		FROM #GROUPS
		WHERE
			#GROUPS.level = 1 --組織１
		--組織２
		INSERT INTO #M0020_TEMP
		SELECT 
			#GROUPS.parent_group_id			--	organization_cd_1
		,	#GROUPS.group_id				--	organization_cd_2
		,	SPACE(0)						--	organization_cd_3
		,	SPACE(0)						--	organization_cd_4
		,	SPACE(0)						--	organization_cd_5
		,	#GROUPS.level					--	organization_typ
		,	ISNULL(#GROUPS.group_name,'')	--	organization_nm
		,	ISNULL(#GROUPS.group_name,'')	--	organization_ab_nm
		,	ISNULL(#GROUPS.import_cd,'')	--	import_cd
		FROM #GROUPS
		WHERE
			#GROUPS.level = 2 --組織２
		--組織３
		INSERT INTO #M0020_TEMP
		SELECT 
			NULL						--	organization_cd_1
		,	#GROUPS.parent_group_id			--	organization_cd_2
		,	#GROUPS.group_id				--	organization_cd_3
		,	SPACE(0)						--	organization_cd_4
		,	SPACE(0)						--	organization_cd_5
		,	#GROUPS.level					--	organization_typ
		,	ISNULL(#GROUPS.group_name,'')	--	organization_nm
		,	ISNULL(#GROUPS.group_name,'')	--	organization_ab_nm
		,	ISNULL(#GROUPS.import_cd,'')	--	import_cd
		FROM #GROUPS
		WHERE
			#GROUPS.level = 3 
		--組織４
		INSERT INTO #M0020_TEMP
		SELECT 
			NULL						--	organization_cd_1
		,	NULL						--	organization_cd_2
		,	#GROUPS.parent_group_id			--	organization_cd_3
		,	#GROUPS.group_id				--	organization_cd_4
		,	SPACE(0)						--	organization_cd_5
		,	#GROUPS.level					--	organization_typ
		,	ISNULL(#GROUPS.group_name,'')	--	organization_nm
		,	ISNULL(#GROUPS.group_name,'')	--	organization_ab_nm
		,	ISNULL(#GROUPS.import_cd,'')	--	import_cd
		FROM #GROUPS
		WHERE
			#GROUPS.level = 4 --組織４
		--組織５
		INSERT INTO #M0020_TEMP
		SELECT 
			NULL							--	organization_cd_1
		,	NULL							--	organization_cd_2
		,	NULL							--	organization_cd_3
		,	#GROUPS.parent_group_id			--	organization_cd_4
		,	#GROUPS.group_id				--	organization_cd_5
		,	#GROUPS.level					--	organization_typ
		,	ISNULL(#GROUPS.group_name,'')	--	organization_nm
		,	ISNULL(#GROUPS.group_name,'')	--	organization_ab_nm
		,	ISNULL(#GROUPS.import_cd,'')	--	import_cd
		FROM #GROUPS
		WHERE
			#GROUPS.level = 5 --組織５	

		---------- UPDATE 組織３ ----------
		UPDATE #M0020_TEMP SET 
			organization_cd_1 = ISNULL(GROUPS_LEVEL2.parent_group_id,'')
		FROM #M0020_TEMP
		INNER JOIN (
			SELECT 
				#GROUPS.group_id
			,	#GROUPS.parent_group_id
			,	#GROUPS.import_cd 
			FROM #GROUPS
			WHERE 
				#GROUPS.level = 2
		) AS GROUPS_LEVEL2 ON (
			#M0020_TEMP.organization_cd_2	=	GROUPS_LEVEL2.group_id
		)
		WHERE 
			#M0020_TEMP.organization_typ = 3
		---------- UPDATE 組織４ ----------
		UPDATE #M0020_TEMP SET 
			organization_cd_2 = ISNULL(GROUPS_LEVEL3.parent_group_id,'')
		FROM #M0020_TEMP
		INNER JOIN (
			SELECT 
				#GROUPS.group_id
			,	#GROUPS.parent_group_id
			,	#GROUPS.import_cd 
			FROM #GROUPS
			WHERE 
				#GROUPS.level = 3
		) AS GROUPS_LEVEL3 ON (
			#M0020_TEMP.organization_cd_3	=	GROUPS_LEVEL3.group_id
		)
		WHERE 
			#M0020_TEMP.organization_typ = 4
		--
		UPDATE #M0020_TEMP SET 
			organization_cd_1 = ISNULL(GROUPS_LEVEL2.parent_group_id,'')
		FROM #M0020_TEMP
		INNER JOIN (
			SELECT 
				#GROUPS.group_id
			,	#GROUPS.parent_group_id
			,	#GROUPS.import_cd
			FROM #GROUPS
			WHERE 
				#GROUPS.level = 2
		) AS GROUPS_LEVEL2 ON (
			#M0020_TEMP.organization_cd_2	=	GROUPS_LEVEL2.group_id
		)
		WHERE 
			#M0020_TEMP.organization_typ = 4
		---------- UPDATE 組織５	 ----------
		UPDATE #M0020_TEMP SET 
			organization_cd_3 = ISNULL(GROUPS_LEVEL4.parent_group_id,'')
		FROM #M0020_TEMP
		INNER JOIN (
			SELECT 
				#GROUPS.group_id
			,	#GROUPS.parent_group_id
			,	#GROUPS.import_cd 
			FROM #GROUPS
			WHERE 
				#GROUPS.level = 4
		) AS GROUPS_LEVEL4 ON (
			#M0020_TEMP.organization_cd_4	=	GROUPS_LEVEL4.group_id
		)
		WHERE
			#M0020_TEMP.organization_typ = 5
		--
		UPDATE #M0020_TEMP SET 
			organization_cd_2 = ISNULL(GROUPS_LEVEL3.parent_group_id,'')
		FROM #M0020_TEMP
		INNER JOIN (
			SELECT 
				#GROUPS.group_id
			,	#GROUPS.parent_group_id
			,	#GROUPS.import_cd 
			FROM #GROUPS
			WHERE 
				#GROUPS.level = 3
		) AS GROUPS_LEVEL3 ON (
			#M0020_TEMP.organization_cd_3	=	GROUPS_LEVEL3.group_id
		)
		WHERE
			#M0020_TEMP.organization_typ = 4
		--
		UPDATE #M0020_TEMP SET 
			organization_cd_1 = ISNULL(GROUPS_LEVEL2.parent_group_id,'')
		FROM #M0020_TEMP
		INNER JOIN (
			SELECT 
				#GROUPS.group_id
			,	#GROUPS.parent_group_id
			,	#GROUPS.import_cd 
			FROM #GROUPS
			WHERE 
				#GROUPS.level = 2
		) AS GROUPS_LEVEL2 ON (
			#M0020_TEMP.organization_cd_2	=	GROUPS_LEVEL2.group_id
		)
		WHERE
			#M0020_TEMP.organization_typ = 5
		-- insert them ban ghi level 1 voi nhung data chi cos tu thang lvl 2
		INSERT INTO #M0020_TEMP
		SELECT 
			#GROUPS.parent_group_id			
		,	''			
		,	''			
		,	''			
		,	''			
		,	1			
		,	#GROUPS.parent_group_name
		,	#GROUPS.parent_group_name
		,	#GROUPS.import_cd
		FROM 
		#GROUPS INNER JOIN #M0020_TEMP AS #TMP1 ON (
		#GROUPS.group_id			=	#TMP1.organization_cd_2
		AND #TMP1.organization_typ	=	2
		)
		LEFT JOIN #M0020_TEMP ON(
			#TMP1.organization_cd_1 = #M0020_TEMP.organization_cd_1
		AND #M0020_TEMP.organization_cd_2	= ''
		AND #M0020_TEMP.organization_typ	= 1
		)
		WHERE #M0020_TEMP.organization_cd_1 IS NULL
		--- CACULATE max organization_typ from M0020
		SET @max_org_typ = (SELECT MAX(organization_typ) FROM #M0020_TEMP)
	--
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--**********************EXECUTE API GROUPS グループ情報連携 ****************************
		IF @P_api_organization_use = 1
		BEGIN
			--UPDATE TO M0020
			UPDATE M0020
			SET
				organization_nm						=	CAST(#M0020_TEMP.organization_nm AS nvarchar(20))
			,	organization_ab_nm					=	CAST(#M0020_TEMP.organization_ab_nm AS nvarchar(10))
			,	upd_user							=	@P_cre_user
			,	upd_ip								=	@P_cre_ip
			,	upd_prg								=	'A0002'
			,	upd_datetime						=	@w_time		
			FROM #M0020_TEMP
			LEFT JOIN M0020 ON(
				@P_company_cd						=	M0020.company_cd
				AND #M0020_TEMP.organization_typ	= 	M0020.organization_typ
				AND #M0020_TEMP.import_cd			= 	M0020.import_cd
				AND	M0020.import_cd					<> ''
				AND M0020.import_cd					IS NOT NULL
				AND M0020.del_datetime				IS NULL
			) WHERE M0020.company_cd				IS NOT NULL
			

			-- UPDATE DATA FROM API TO M0022
			IF EXISTS(SELECT 1 FROM M0022 WHERE company_cd = @P_company_cd)
			BEGIN
				UPDATE M0022
				SET	
					use_typ = 1
				,	upd_user		=	@P_cre_user	
				,	upd_ip			= 	@P_cre_ip	
				,	upd_prg			= 	'A0002'		
				,	upd_datetime	= 	@w_time		
				FROM M0022
				WHERE M0022.organization_typ <= @max_org_typ
			END
			ELSE 
			BEGIN
				WHILE @i <= 5
				BEGIN
					INSERT INTO M0022
					SELECT 
						@P_company_cd													--company_cd
					,	@i																--organization_typ
					,	CASE WHEN  @i <= @max_org_typ
						THEN 1 
						ELSE 0 
						END																--use_typ
					,	'組織'+CAST(@i AS nvarchar(10))									--organization_group_nm
					,	@P_cre_user														-- cre_user
					,	@P_cre_ip														-- cre_ip
					,	'A0002'															-- cre_prg
					,	@w_time															-- cre_datetime
					,	SPACE(0)														-- upd_user
					,	SPACE(0)														-- upd_ip
					,	SPACE(0)														-- upd_prg
					,	NULL															-- upd_datetime
					,	SPACE(0)														-- del_user
					,	SPACE(0)														-- del_ip
					,	SPACE(0)														-- del_prg
					,	NULL															-- del_datetime
					--
					SET @i = @i+ 1
				END
			END
		END
		
		--**********************EXECUTE API POSITION 役職情報連携 ****************************
		IF @P_api_position_use = 1 
		BEGIN
			UPDATE M0040
			SET
				position_nm					= #API_POSION.position_name
			,	position_ab_nm				= #API_POSION.position_name
			,	upd_user					= @P_cre_user	
			,	upd_ip						= @P_cre_ip	
			,	upd_prg						= 'A0002'		
			,	upd_datetime				= @w_time	
			,	del_user					= SPACE(0)
			,	del_ip						= SPACE(0)
			,	del_prg						= SPACE(0)
			,	del_datetime				= NULL	
			FROM #API_POSION LEFT JOIN M0040 ON(
				@P_company_cd				= M0040.company_cd
			AND	#API_POSION.import_cd		= M0040.import_cd	
			AND	M0040.import_cd	 <> ''
			AND M0040.import_cd IS NOT NULL
			AND M0040.del_datetime IS NULL
			)
			WHERE  M0040.position_cd IS NOT NULL
			SET @max_position_cd = ( SELECT ISNULL(MAX(position_cd),0) FROM M0040 WHERE company_cd = @P_company_cd)
			
			INSERT INTO M0040
			SELECT
				@P_company_cd
			,	ROW_NUMBER() OVER (PARTITION BY @P_company_cd ORDER BY MAX(row_id)) + @max_position_cd
			,	#API_POSION.position_name
			,	#API_POSION.position_name
			,	#API_POSION.import_cd
			,	NULL
			,	@P_cre_user
			,	@P_cre_ip	
			,	'A0002'		
			,	@w_time	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			,	SPACE(0)
			,	SPACE(0)
			,	SPACE(0)
			,	NULL	
			FROM #API_POSION
			LEFT JOIN M0040 ON(
				@P_company_cd				= M0040.company_cd
			AND	#API_POSION.import_cd		= M0040.import_cd	
			AND	M0040.import_cd	 <> ''
			AND M0040.import_cd IS NOT NULL
			AND M0040.del_datetime IS NULL
			)
			WHERE
				M0040.company_cd IS NULL
			AND #API_POSION.import_cd IS NOT NULL
			AND #API_POSION.import_cd != ''
			GROUP BY
				#API_POSION.position_name
			,	#API_POSION.position_name
			,	#API_POSION.import_cd
		END
		--**********************EXECUTE API EMPLOYEE 従業員情報連携 ****************************
		IF @P_api_employee_use = 1 
		BEGIN
			UPDATE M0070
			SET
				company_cd					= @P_company_cd										
			,	employee_cd					= #API_EMP.id											
			,	employee_last_nm			= #API_EMP.last_name									
			,	employee_first_nm			= #API_EMP.first_name									
			,	employee_nm					= #API_EMP.display_name																		
			,	furigana					= CAST(#API_EMP.last_name_kana +' '+ #API_EMP.first_name_kana AS NVARCHAR(20))
			,	gender						= #API_EMP.gender										
			,	mail						= ''													
			,	birth_date					= #API_EMP.birth_date											
			,	company_in_dt				= #API_EMP.entry_date											
			,	company_out_dt				= #API_EMP.retire_date	
			,	belong_cd1					= ISNULL(M0020.organization_cd_1,'')
			,	belong_cd2					= ISNULL(M0020.organization_cd_2,'')
			,	belong_cd3					= ISNULL(M0020.organization_cd_3,'')
			,	belong_cd4					= ISNULL(M0020.organization_cd_4,'')
			,	belong_cd5					= ISNULL(M0020.organization_cd_5,'')
			,	position_cd					= ISNULL(M0040.position_cd,-1)
			,	evaluated_typ				= 0
			,	upd_user					= @P_cre_user	
			,	upd_ip						= @P_cre_ip	
			,	upd_prg						= 'A0002'		
			,	upd_datetime				= @w_time	
			,	del_user	 				= SPACE(0)
			,	del_ip						= SPACE(0)
			,	del_prg						= SPACE(0)
			,	del_datetime				= NULL	
			FROM #API_EMP 
			LEFT JOIN M0070 ON(
				@P_company_cd	= M0070.company_cd
			AND	#API_EMP.id	= M0070.employee_cd	
			)
			LEFT JOIN #API_GROUPS_M0070 ON(
				#API_EMP.id		=	#API_GROUPS_M0070.id
			)
			LEFT JOIN #API_POSITION_M0070 ON(
				#API_EMP.id						=	#API_POSITION_M0070.id
			AND #API_GROUPS_M0070.[start_date]	=	#API_POSITION_M0070.[start_date]
			AND #API_GROUPS_M0070.end_date		=	#API_POSITION_M0070.end_date
			) LEFT JOIN M0040 ON(
				#API_POSITION_M0070.import_cd	= M0040.import_cd
			AND @P_company_cd					= M0040.company_cd
			AND M0040.del_datetime				IS NULL
			AND M0040.import_cd					<> ''
			AND M0040.import_cd					IS NOT NULL
			) LEFT JOIN M0020 ON(
				#API_GROUPS_M0070.import_cd			=	M0020.import_cd
			AND @P_company_cd						=	M0020.company_cd
			AND #API_GROUPS_M0070.[level]			=	M0020.organization_typ
			AND M0020.import_cd						<>	''
			AND M0020.import_cd						IS	NOT NULL
			AND M0020.del_datetime					IS	NULL
			) LEFT JOIN #M0020_TEMP  ON(
				#API_GROUPS_M0070.[level]			=	#M0020_TEMP.organization_typ
			AND	#API_GROUPS_M0070.import_cd			=	#M0020_TEMP.import_cd
			)
			WHERE  M0070.employee_cd IS NOT NULL
		

			--group1
			INSERT INTO M0070 
			SELECT 
				@P_company_cd																						-- company_cd
			,	#API_EMP.id																							-- employee_cd
			,	#API_EMP.last_name																					-- employee_last_nm
			,	#API_EMP.first_name																					-- employee_first_nm
			,	#API_EMP.display_name																				-- employee_nm
			,	CAST(#API_EMP.last_name_kana +' '+ #API_EMP.first_name_kana AS NVARCHAR(20))													-- furigana
			,	#API_EMP.gender																						-- gender
			,	''																									-- mail
			,	#API_EMP.birth_date																					-- birth_date
			,	#API_EMP.entry_date																					-- company_in_dt
			,	#API_EMP.retire_date																				-- company_out_dt
			-- v1.7
			,	0 --retirement_reason_typ
			,	'' --retirement_reason
			--
			,	0																									-- evaluated_typ
			,	0 --1on1_typ
			,	0 --multireview_typ
			,	0 --report_typ
			,	''																									-- office_cd
			,	ISNULL(M0020.organization_cd_1,'')															-- belong_cd1
			,	ISNULL(M0020.organization_cd_2,'')															-- belong_cd2
			,	ISNULL(M0020.organization_cd_3,'')															-- belong_cd3
			,	ISNULL(M0020.organization_cd_4,'')															-- belong_cd4
			,	ISNULL(M0020.organization_cd_5,'')															-- belong_cd5
			,	''																									-- job_cd
			,	ISNULL(M0040.position_cd,-1)																			-- position_cd
			,	''																									-- employee_typ
			,	''																									-- grade
			,	0																									-- base_salary
			,	''																									-- picture
			,	''
			,	''
			-- v1.7
			--,	0 --base_style
			--,	0 --sub_style
			--,	0 --driver_point
			--,	0 --analytical_point
			--,	0 --expressive_point
			--,	0 --amiable_point
			--
			,	@P_cre_user																							-- cre_user
			,	@P_cre_ip																							-- cre_ip
			,	'A0002'																								-- cre_prg
			,	@w_time																								-- cre_datetime
			,	SPACE(0)																							-- upd_user
			,	SPACE(0)																							-- upd_ip
			,	SPACE(0)																							-- upd_prg
			,	NULL																								-- upd_datetime
			,	SPACE(0)																							-- del_user
			,	SPACE(0)																							-- del_ip
			,	SPACE(0)																							-- del_prg
			,	NULL																								-- del_datetime
			FROM #API_EMP 
			LEFT JOIN M0070 ON(
				@P_company_cd	= M0070.company_cd
			AND	#API_EMP.id	= M0070.employee_cd	
			)
			LEFT JOIN #API_GROUPS_M0070 ON(
				#API_EMP.id		=	#API_GROUPS_M0070.id	
			)
			LEFT JOIN #API_POSITION_M0070 ON(
				#API_EMP.id						=	#API_POSITION_M0070.id
			AND #API_GROUPS_M0070.[start_date]	=	#API_POSITION_M0070.[start_date]
			AND #API_GROUPS_M0070.end_date		=	#API_POSITION_M0070.end_date
			) LEFT JOIN M0040 ON(
				#API_POSITION_M0070.import_cd	= M0040.import_cd
			AND @P_company_cd					= M0040.company_cd
			AND M0040.del_datetime				IS NULL
			AND M0040.import_cd					<> ''
			AND M0040.import_cd					IS NOT NULL
			)
			LEFT JOIN M0020  ON(
					#API_GROUPS_M0070.import_cd			=	M0020.import_cd	
			AND 	#API_GROUPS_M0070.level				=	M0020.organization_typ	
			AND 	@P_company_cd						=	M0020.company_cd	
			AND     M0020.import_cd						<> ''
			AND     M0020.import_cd						IS NOT NULL
			AND		M0020.del_datetime					IS NULL
			)
			WHERE M0070.employee_cd IS NULL 
			--group 2
			--UPDATE TO M0071
			--group 1
			UPDATE M0071
			SET
				belong_cd1			= ISNULL(M0020.organization_cd_1,'')
			,	belong_cd2			= ISNULL(M0020.organization_cd_2,'')
			,	belong_cd3			= ISNULL(M0020.organization_cd_3,'')
			,	belong_cd4			= ISNULL(M0020.organization_cd_4,'')
			,	belong_cd5			= ISNULL(M0020.organization_cd_5,'')
			,	position_cd			= ISNULL(M0040.position_cd,-1)
			,	upd_user			= @P_cre_user		
			,	upd_ip				= @P_cre_ip		
			,	upd_prg				= 'A0002'			
			,	upd_datetime		= @w_time			
			,	del_user			= SPACE(0)		
			,	del_ip				= SPACE(0)		
			,	del_prg				= SPACE(0)		
			,	del_datetime		= NULL			
			FROM #API_EMP 
			INNER JOIN #API_GROUPS_M0071 ON (
				#API_EMP.id	=	#API_GROUPS_M0071.id
			)
			LEFT JOIN #API_GROUPS ON(
				#API_EMP.id							=	#API_GROUPS.id
			AND #API_GROUPS_M0071.[start_date]		=	#API_GROUPS.[start_date]
			AND #API_GROUPS_M0071.row_id			=	#API_GROUPS.row_id
			)
			LEFT JOIN #API_POSION ON(
				#API_EMP.id							=	#API_POSION.id
			AND #API_GROUPS_M0071.[start_date]		=	#API_POSION.[start_date]
			AND #API_GROUPS_M0071.row_id			=	#API_POSION.row_id --api freee data return group and position are in same row
			) LEFT JOIN M0040 ON(
				#API_POSION.import_cd				=	M0040.import_cd
			AND @P_company_cd						=	M0040.company_cd
			AND M0040.del_datetime					IS NULL
			AND M0040.import_cd						IS NOT NULL
			AND M0040.import_cd						<> ''
			)
			LEFT JOIN M0020  ON(
					#API_GROUPS.import_cd			=	M0020.import_cd
			AND 	#API_GROUPS.[level]				=	M0020.organization_typ
			AND     M0020.company_cd				=	@P_company_cd
			AND     M0020.import_cd <> ''
			AND     M0020.import_cd IS NOT NULL
			AND     M0020.del_datetime IS NULL
			)
			LEFT JOIN M0071 ON(
				@P_company_cd				= M0071.company_cd
			AND	#API_EMP.id					= M0071.employee_cd	
			AND #API_GROUPS.[start_date]	= M0071.application_date
			)
			WHERE M0071.company_cd IS NOT NULL
			-- THEM DATA M0071
	
			INSERT INTO M0071
			SELECT  
				CAST(@P_company_cd AS smallint)											-- company_cd
			,	CAST(#API_EMP.id AS nvarchar(10))										-- employee_cd
			,	CAST(#API_GROUPS_M0071.[start_date] AS date)
			,	M0070.office_cd	 	--office_cd
			,	CAST(ISNULL(M0020.organization_cd_1,'') AS nvarchar(20))				AS organization_cd_1
			,	CAST(ISNULL(M0020.organization_cd_2,'') AS nvarchar(20))				AS organization_cd_2
			,	CAST(ISNULL(M0020.organization_cd_3,'') AS nvarchar(20))				AS organization_cd_3
			,	CAST(ISNULL(M0020.organization_cd_4,'') AS nvarchar(20))				AS organization_cd_4
			,	CAST(ISNULL(M0020.organization_cd_5,'') AS nvarchar(20)) 
			,	M0070.job_cd																	--job_cd
			,	ISNULL(M0040.position_cd,-1)											AS position_id
			,	M0070.employee_typ														--employee_typ	
			,	M0070.grade
			,	@P_cre_user		
			,	@P_cre_ip		
			,	'A0002'			
			,	@w_time			
			,	SPACE(0)		
			,	SPACE(0)		
			,	SPACE(0)		
			,	NULL		
			,	SPACE(0)		
			,	SPACE(0)		
			,	SPACE(0)		
			,	NULL		
			FROM #API_EMP 
			INNER JOIN #API_GROUPS_M0071 ON (
				#API_EMP.id	=	#API_GROUPS_M0071.id
			)
			LEFT JOIN #API_GROUPS ON(
				#API_EMP.id						=	#API_GROUPS.id
			AND #API_GROUPS_M0071.[start_date]	=	#API_GROUPS.[start_date]
			AND #API_GROUPS_M0071.row_id		=	#API_GROUPS.row_id
			)
			LEFT JOIN #API_POSION ON(
				#API_EMP.id						=	#API_POSION.id
			AND #API_GROUPS_M0071.[start_date]	=	#API_POSION.[start_date]
			AND #API_GROUPS_M0071.row_id		=	#API_POSION.row_id  --api freee data return group and position are in same row
			) LEFT JOIN M0040 ON(
				#API_POSION.import_cd			= M0040.import_cd
			AND @P_company_cd					= M0040.company_cd
			AND M0040.del_datetime				IS NULL
			AND M0040.import_cd					IS NOT NULL
			AND M0040.import_cd					<> ''
			)
			
			LEFT JOIN M0020 ON(
					#API_GROUPS.import_cd		=	M0020.import_cd
			AND 	#API_GROUPS.[level]			=	M0020.organization_typ
			AND     M0020.company_cd			=	@P_company_cd
			AND		M0020.import_cd			<> ''
			AND		M0020.import_cd			IS NOT NULL
			AND		M0020.del_datetime		IS NULL
			)
			LEFT JOIN M0071 ON(
				@P_company_cd					= M0071.company_cd
			AND	#API_EMP.id						= M0071.employee_cd	
			AND #API_GROUPS_M0071.[start_date]	= M0071.application_date
			)
			LEFT JOIN M0070 ON(
				@P_company_cd					= M0070.company_cd
			AND	#API_EMP.id						= M0070.employee_cd	
			)
			WHERE M0071.company_cd				IS NULL
			
		END	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by

		--[1] SELECT#ERROR_API
	SELECT 
		employee_cd
	,	employee_nm
	,	furigana
	,	error
	FROM #ERROR_API
	--

END
GO

