.table_avatar tbody td {
    border: none;
}

.btn.avatar {
    padding: 0;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.img>.flex-box {
    width: 120px;
    height: 120px;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: ease 0.52s border-color;
    -moz-transition: ease 0.52s border-color;
    -webkit-transition: ease 0.52s border-color;
    -ms-transition: ease 0.52s border-color;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
}

.flex-box-image {
    border: 1px solid #ddd;
    border-radius: 50%;
}

.loaded .imgs {
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.img>.flex-box img {
    width: 120px;
    height: 120px;
    border-radius: 400px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px #ccc, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    background-size: 100% !important;
    object-fit: cover;
}

.flex-box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
    position: relative;
}

.img>.flex-box p {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.thumb {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.tbl-header td {
    padding: 3px;
    width: 250px;
}

.tbl-header tr {
    display: flex;
}

.finline .lbl {
    background-color: var(--primary-pink);
    color: white !important;
    padding: 2px 5px;
    width: 98px;
    text-align: center;
}

.finline .txt {
    padding-left: 5px;
    width: 120px;
}

/* 充実度 */
.adequacy {
    margin-bottom: unset !important;
}

.adequacy_dropdown {
    margin-bottom: unset !important;
}

.adequacy_select {
    width: 100%;
}

.adequacy_select span {
    height: 75px;
}

.adequacy_option {
    display: block;
    position: absolute;
    background: white;
    z-index: 99999;
    display: none;
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 300px;
}

.adequacy_option--not-remark {
    width: 110px !important;
}

.button__action--left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button__action--left .form-group {
    margin-right: 3px;
}

.button__action--right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/* Reaction リアクション */

/* .reaction__row {
    border-top: #949292 2px solid;
    margin-bottom: 15px;
} */


.line {
    border-bottom: #ccc 1px solid;
}


.line-solid {
    border-bottom: #949292 2px solid;
}

.line-top {
    border-top: #ccc 1px solid;
}

/* Screen Title Area */
.screen__paging,
.screen__back {
    display: flex;
    align-items: center;
}

.screen__paging .btn {
    margin-left: 0.5rem;
    width: 80px;
    text-align: center;
}

.screen__paging .screen__paging__label {
    margin-left: 0.5rem;
}

/* Comment */

.comment_action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.comment_field {
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* content-footer */
.content {
    margin-bottom: 30px;
}

.content .btn {
    font-size: 0.8rem;
}

.content-footer {
    position: fixed;
    left: 90px;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: #eaebec;
    padding: 10px 10px;
}

.badge {
    padding: 8px 8px;
    font-size: 0.8rem;
}

.reaction-comment,
.reaction-comment-action,
.reply_comment_div,
.reply_reaction_div,
.reply_reaction_action {
    display: none;
}

.question-w {
    width: 25%;
}

.answer-w {
    width: 75%;
}

/* Mobile */
@media only screen and (max-width: 576px) {

    .reaction__row__comment__input {
        margin-left: 0;
    }

    .reaction__row__comment__button {
        margin-left: 0;
    }

    .content-footer {
        left: 0;
    }

    .screen__back span {
        display: none;
    }

    /* table-mobile */
    .table-mobile {
        border: none;
    }

    .table-mobile thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .table-mobile tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .table-mobile td {
        border-bottom: 1px solid #ddd;
        display: block;
        height: auto !important;
    }

    .table-mobile td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .table-mobile td:last-child {
        border-bottom: 0;
    }

    .question-w {
        width: auto;
    }
    
    .answer-w {
        width: auto;
    }

}

.table-questions {
    table-layout: fixed;
}

.tab-content .tab-pane {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.tab-content {
    padding: 10px 10px;
    margin-left: -10px;
}

.tab-style {
    margin-left: -10px;
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #181818 !important;
}

.reaction_icon_edit {
    display: none;
}

.btn-reply-delete,
.btn-reaction-reply-delete {
    background-color: #ffffff;
    border: none;
    color: red;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.bar__title {
    background-color: var(--hover-pink-tr);
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
}

.bar__button {
    width: 100px;
    margin-right: 1rem;
}

.target-item {
    background-color: var(--border-pink);
    padding: 1rem 1rem;
}

.txt-break {
    word-break: break-all;
}
@media (min-width: 750px) and (max-width: 1376px) {
    .adequacy {
        max-width: 100% !important;
    }
    .tab-table{
        max-width: 100% !important;
    }
   
}
@media  (max-width: 975px) {
    #btn_tr{
        bottom: 10px;
        float: right !important;
        right: 10px;
    }
   
}
@media  (min-width: 975px) {
    #btn_tr{
        position: absolute;
        bottom: 10px; 
        right: 10px;
    }
   
}