DROP PROCEDURE [SPC_M0070_10_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	M0070_社員マスタ tab_10
--*  
--* 作成日/create date			:												
--*	作成者/creater				:						
--*   					
--*	更新日/update date			:  					
--*	更新者/updater				:　 　								     	 
--*	更新内容/update content		:	　	
--* 
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_10_ACT1]
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(max)	=	N''
	-- common
,	@P_cre_user		NVARCHAR(50)	=	N''
,	@P_cre_ip		NVARCHAR(50)	=	N''
,	@P_company_cd	SMALLINT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2		=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE
	,	@order_by_min				INT				=	0
	,	@employee_cd				NVARCHAR(20)	=	N''
	,	@w_max						INT				=	0
	
	CREATE TABLE #m0088(
		id							INT NOT NULL IDENTITY(1,1) 		
	,	employment_contract_no		SMALLINT
	,	contract_no					SMALLINT
	,	detail_no					SMALLINT
	,	start_date					DATE
	,	expiration_date				DATE
	,	contract_renewal_kbn		SMALLINT
	,	reason_resignation			NVARCHAR(200)
	,	remarks						NVARCHAR(200)
	)

	CREATE TABLE #m0088_CLONE(
		id							INT NOT NULL IDENTITY(1,1) 		
	,	employment_contract_no		SMALLINT
	,	contract_no					SMALLINT
	,	detail_no					SMALLINT
	,	start_date					DATE
	,	expiration_date				DATE
	,	contract_renewal_kbn		SMALLINT
	,	reason_resignation			NVARCHAR(200)
	,	remarks						NVARCHAR(200)
	)

	CREATE TABLE #GET_MAX(
		id							INT NOT NULL IDENTITY(1,1) 	
	,	employment_contract_no		SMALLINT	
	,	detail_no					SMALLINT
	)

	-- START TRANSACTION5
	BEGIN TRANSACTION
	BEGIN TRY

		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22								-- mã lỗi (trùng với mã trong bảng message) 					
			,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0								-- Tùy ý
			,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END

		------------------
		SET @employee_cd					=	JSON_VALUE(@P_json,'$.employee_cd')

		-- DATA TABLE JSON
		INSERT INTO #m0088
		SELECT
			employment_contract_no
		,	contract_no
		,	detail_no				
		,	IIF(start_date						= N'1900-01-01',NULL,start_date)
		,	IIF(expiration_date					= N'1900-01-01',NULL,expiration_date)
		,	ISNULL(contract_renewal_kbn			,0)
		,	ISNULL(reason_resignation			,N'')
		,	ISNULL(remarks						,N'')
		FROM OPENJSON(@P_json,'$.tr_tab10') WITH(
			employment_contract_no		SMALLINT
		,	contract_no					SMALLINT
		,	detail_no					SMALLINT
		,	start_date					DATE
		,	expiration_date				DATE
		,	contract_renewal_kbn		SMALLINT
		,	reason_resignation			NVARCHAR(200)
		,	remarks						NVARCHAR(200)
		)
		WHERE NOT (
			start_date					= N'1900-01-01'
		AND	expiration_date				= N'1900-01-01'
		AND contract_renewal_kbn		= 1
		AND reason_resignation			= N''
		AND remarks						= N''
		)

		INSERT INTO #m0088_CLONE
		SELECT
			employment_contract_no
		,	contract_no	
		,	detail_no				
		,	ISNULL(start_date					,NULL)
		,	ISNULL(expiration_date				,NULL)
		,	ISNULL(contract_renewal_kbn			,0)
		,	ISNULL(reason_resignation			,N'')
		,	ISNULL(remarks						,N'')
		FROM #m0088
		WHERE
			#m0088.detail_no = 0
		AND NOT (
				#m0088.start_date					IS NULL
			AND #m0088.expiration_date				IS NULL
			AND #m0088.contract_renewal_kbn			= 0		
			AND	#m0088.reason_resignation			= N''			
			AND #m0088.remarks						= N''
		)

		SELECT 
			@w_max = ISNULL(MAX(M0088.employment_contract_no),0)
		FROM M0088
		WHERE
			M0088.company_cd            = @P_company_cd
		AND M0088.employee_cd			= @employee_cd
		AND M0088.del_datetime IS NULL

		INSERT INTO #GET_MAX
		SELECT 
			M0088.employment_contract_no
		,	ISNULL(MAX(M0088.detail_no),0) AS detail_no
		FROM M0088
		LEFT JOIN #M0088 ON (
			M0088.employment_contract_no = #M0088.employment_contract_no
		AND M0088.detail_no = #M0088.detail_no
		)
		WHERE
			M0088.company_cd            = @P_company_cd
		AND M0088.employee_cd			= @employee_cd
		GROUP BY M0088.employment_contract_no

		IF EXISTS ( SELECT 1
			FROM #m0088
			WHERE #m0088.start_date >= #m0088.expiration_date
			AND NOT (
				#m0088.start_date					IS NULL
			AND #m0088.expiration_date				IS NULL
			AND #m0088.contract_renewal_kbn			= 0		
			AND	#m0088.reason_resignation			= N''			
			AND #m0088.remarks						= N''
			)
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				24
			,	N'.start_date' 
			,	0-- oderby
			,	0-- dialog  
			,	#m0088.id + 1
			,	0
			,	N'start_date error'
			FROM #m0088
			WHERE #m0088.start_date >= #m0088.expiration_date
			UNION
			SELECT
				24
			,	N'.expiration_date' 
			,	0-- oderby
			,	0-- dialog  
			,	#m0088.id + 1
			,	0
			,	N'expiration_date error'
			FROM #m0088
			WHERE #m0088.start_date >= #m0088.expiration_date
		END

		IF EXISTS ( SELECT 1
			FROM #m0088
			WHERE ( #m0088.start_date IS NULL
			OR #m0088.expiration_date IS NULL )
			AND NOT (
				#m0088.start_date					IS NULL
			AND #m0088.expiration_date				IS NULL
			AND #m0088.contract_renewal_kbn			= 0		
			AND	#m0088.reason_resignation			= N''			
			AND #m0088.remarks						= N''
			)
		)
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT
				8
			,	N'.start_date' 
			,	0-- oderby
			,	0-- dialog  
			,	#m0088.id + 1
			,	0
			,	N'start_date error'
			FROM #m0088
			WHERE #m0088.start_date IS NULL
			
			INSERT INTO @ERR_TBL
			SELECT
				8
			,	N'.expiration_date' 
			,	0-- oderby
			,	0-- dialog  
			,	#m0088.id + 1
			,	0
			,	N'expiration_date error'
			FROM #m0088
			WHERE #m0088.expiration_date IS NULL
		END

		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			--del
			UPDATE M0088
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0088
			LEFT JOIN #M0088		ON (
				M0088.company_cd            = @P_company_cd
			AND M0088.employee_cd			= @employee_cd
			AND	M0088.detail_no				= #M0088.detail_no
			AND M0088.employment_contract_no = #m0088.employment_contract_no
			)
			WHERE
				M0088.del_datetime IS NULL
			AND	M0088.company_cd	= @P_company_cd
			AND	M0088.employee_cd	= @employee_cd
			AND	#m0088.detail_no	IS NULL 

			--upd
			UPDATE M0088
			SET
				start_date								= #m0088.start_date
			,	expiration_date							= #m0088.expiration_date
			,	contract_renewal_kbn					= #m0088.contract_renewal_kbn
			,	reason_resignation						= #m0088.reason_resignation
			,	remarks									= #m0088.remarks
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0088
			INNER JOIN #m0088		ON (
				M0088.company_cd            = @P_company_cd
			AND M0088.employee_cd			= @employee_cd
			AND	M0088.detail_no				= #m0088.detail_no
			AND M0088.employment_contract_no = #m0088.employment_contract_no
			)
			WHERE
				M0088.del_datetime IS NULL
			AND	M0088.company_cd	= @P_company_cd
			AND	M0088.employee_cd	= @employee_cd

			--insert
			INSERT INTO M0088
			SELECT 
				@P_company_cd
			,	@employee_cd
			,	IIF(#m0088_CLONE.contract_no = 0 AND #m0088_CLONE.detail_no = 0 , @w_max + (DENSE_RANK() OVER (ORDER BY #m0088_CLONE.employment_contract_no)), #m0088_CLONE.employment_contract_no)
			,	ISNULL(#GET_MAX.detail_no, 0 ) + ROW_NUMBER() OVER (PARTITION BY #m0088_CLONE.employment_contract_no ORDER BY #m0088_CLONE.employment_contract_no DESC)
			,	#m0088_CLONE.start_date					
			,	#m0088_CLONE.expiration_date		
			,	#m0088_CLONE.contract_renewal_kbn					
			,	#m0088_CLONE.reason_resignation					
			,	#m0088_CLONE.remarks								
			,	@P_cre_user							--,[cre_user]
			,	@P_cre_ip							--,[cre_ip]
			,	N'M0070'							--,[cre_prg]
			,	@w_time								--,[cre_datetime]
			,	N''									--,[upd_user]
			,	N''									--,[upd_ip]
			,	N''									--,[upd_prg]
			,	NULL								--,[upd_datetime]
			,	N''									--,[del_user]
			,	N''									--,[del_ip]
			,	N''									--,[del_prg]
			,	NULL								--,[del_datetime]
			FROM #m0088_CLONE
			LEFT JOIN #GET_MAX ON (
				#m0088_CLONE.employment_contract_no = #GET_MAX.employment_contract_no
			)
		END

	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by

	SELECT 
		@employee_cd AS employee_cd

	DROP TABLE IF EXISTS #m0088
	DROP TABLE IF EXISTS #m0088_NEW_RECORD
	DROP TABLE IF EXISTS #m0088_NEW_RECORD_2
END


GO
