DROP PROCEDURE [SPC_M0070_10_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--* EXEC [SPC_M0070_10_INQ1] '35','740','721'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスタ tab_10
--*  
--*  作成日/create date			:						
--*　作成者/creater				:									
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_10_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(10)	=	N''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	N''
AS
BEGIN
	DECLARE 
		@w_time				DATETIME2			= SYSDATETIME()
	,	@w_language			INT					=	1

	SELECT 
		@w_language								=	ISNULL(S0010.language,1)
	FROM S0010 
	WHERE 
		S0010.company_cd		=	@P_company_cd
	AND S0010.user_id			=	@P_user_id

	CREATE TABLE #TABLE_M0088 (
		employment_contract_no		INT
	,	detail_no					INT  
	,	start_date					DATE
	,	expiration_date				DATE
	,	contract_renewal_kbn		INT
	,	contract_renewal_kbn_nm		NVARCHAR(30)
	,	reason_resignation			NVARCHAR(200)
	,	remarks						NVARCHAR(200)
	)

	CREATE TABLE #M0088_REQ (
		employment_contract_no  INT
	,	total_contract_period	INT
	,	number_of_contract_renewals	INT
	,	detail_json				NVARCHAR(MAX)
	)

	INSERT INTO #TABLE_M0088
	SELECT
		employment_contract_no
	,	detail_no
	,	ISNULL( CONVERT(VARCHAR(10), start_date, 111), NULL)	AS	start_date
	,	ISNULL( CONVERT(VARCHAR(10), expiration_date, 111), NULL)	AS	expiration_date
	,	contract_renewal_kbn
	,	CASE
			WHEN	@w_language = 2
			THEN	ISNULL(L0010.name_english,'')
			ELSE	ISNULL(L0010.name,'')
		END												AS contract_renewal_kbn_nm
	,	reason_resignation
	,	remarks
	FROM M0088
	LEFT JOIN L0010  WITH (NOLOCK) ON (
		L0010.name_typ			=	76
	AND	L0010.number_cd			=	M0088.contract_renewal_kbn
	AND	L0010.del_datetime		IS NULL
	)
	WHERE
		M0088.employee_cd = @P_employee_cd
	AND M0088.company_cd = @P_company_cd
	AND M0088.del_datetime IS NULL

	INSERT INTO #M0088_REQ
	SELECT 
		employment_contract_no
	,	(
		SELECT 
			SUM (
				CASE 
                WHEN YEAR(expiration_date) < YEAR(start_date) THEN 0
                WHEN YEAR(expiration_date) = YEAR(start_date) THEN
                    CASE 
                        WHEN DAY(expiration_date) = DAY(EOMONTH(expiration_date)) AND DAY(start_date) = 1 AND MONTH(start_date) = MONTH(expiration_date) THEN 1
                        ELSE MONTH(expiration_date) - MONTH(start_date) +
                            CASE 
                                WHEN DAY(expiration_date) = DAY(EOMONTH(expiration_date)) AND MONTH(start_date) != MONTH(expiration_date) THEN 1
                                ELSE 0
                            END +
                            CASE 
                                WHEN DAY(expiration_date) - DAY(start_date) = -1 THEN 1
                                ELSE 0
                            END -
                            CASE 
                                WHEN DAY(expiration_date) < DAY(start_date) THEN 1
                                ELSE 0
                            END
                    END
                ELSE
                    DATEDIFF(YEAR, start_date, expiration_date)*12 - MONTH(start_date) + MONTH(expiration_date)  +
                        CASE 
                            WHEN DAY(expiration_date) < DAY(start_date) THEN -1
                            ELSE 0
                        END +
                        CASE 
                            WHEN DAY(expiration_date) = DAY(EOMONTH(expiration_date)) AND MONTH(start_date) != MONTH(expiration_date) THEN 1
                            ELSE 0
                        END +
                        CASE 
                            WHEN DAY(expiration_date) - DAY(start_date) = -1 THEN 1
                            ELSE 0
                        END
            END
			)
		FROM #TABLE_M0088
		WHERE
			#TABLE_M0088.employment_contract_no = M0088.employment_contract_no
	)	AS total_contract_period
	,	(
		SELECT 
			COUNT(detail_no)
		FROM #TABLE_M0088
		WHERE
			#TABLE_M0088.employment_contract_no = M0088.employment_contract_no
	)	AS number_of_contract_renewals
	,(
		SELECT 
			employment_contract_no
		,	detail_no
		,	ISNULL( CONVERT(VARCHAR(10), start_date, 111), NULL)	AS	start_date
		,	ISNULL( CONVERT(VARCHAR(10), expiration_date, 111), NULL)	AS	expiration_date
		,	contract_renewal_kbn
		,	contract_renewal_kbn_nm
		,	reason_resignation
		,	remarks
		FROM #TABLE_M0088
		WHERE
			#TABLE_M0088.employment_contract_no = M0088.employment_contract_no
		FOR JSON PATH
	) AS data_json
	FROM M0088
	WHERE 
		M0088.employee_cd = @P_employee_cd
	AND M0088.company_cd = @P_company_cd
	AND M0088.del_datetime IS NULL
	GROUP BY employment_contract_no

	--[0]
	SELECT @w_language AS language

	--[1]
	SELECT 
		employment_contract_no
	,	CAST(total_contract_period / 12 AS NVARCHAR(255)) + IIF(@w_language = 2, ' Year ', N'年') + CAST(total_contract_period % 12 AS NVARCHAR(255)) + IIF(@w_language = 2, ' Month',N'ヵ月')  AS total_contract_period
	,	number_of_contract_renewals
	,	detail_json
	FROM #M0088_REQ

END
GO
