.w-100{
    width: 100px !important;
}
.w25{
    width: 25%;
}
.minw-150{
    min-width: 150px;
}
.minw-100{
    min-width: 100px;
}
.group_cd {
    min-width: 100px;
    max-width: 100px;
}
@media screen and (max-width:768px){
    .w25{
        width: auto !important;
        min-width: 150px !important;
    }

}
@media (min-width: 768px) and (max-width:1599px){
    .text-overflow {
        max-width: 200px;
    }
}
@media (min-width: 1600px) and (max-width:1919px){
    .text-overflow {
        max-width: 240px;
    }
}

@media (min-width: 1920px){
    .text-overflow {
        max-width: 320px;
    }
}
@media (max-width: 575px) {
	.group_cd {
        min-width: unset !important;
        max-width: unset !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    #table-data {
        min-width: 1473px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 320px) and (max-width: 387px) {

}

.disn{
    display: none;
}
.table-responsive {
    overflow: visible;
}
.table-responsive.has-copy {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.2);
    border:1px solid #3c763d;
}
/*.table-responsive.has-copy:after  {
    content: "\f0c5";
    position: absolute;
    font-family: FontAwesome;
    top: -21px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color:#3c763d;
    z-index: 99;
}*/
/*.table-responsive.has-copy .table tbody tr th,.table-responsive.has-copy .table tbody tr td,
.table-responsive.has-copy .table thead tr th,.table-responsive.has-copy .table thead tr td {
    background: #dff0d8;
}
.table-responsive.has-copy .table-bordered tbody tr th:not(:last-child),
.table-responsive.has-copy .table-bordered tbody tr td:not(:last-child),
.table-responsive.has-copy .table-bordered thead tr th:not(:last-child) {
    border-right: 1px solid #ddd;
}
.active > .btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range) i,
.active > .btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range) {
    border: 1px solid #2A70B8 !important;
    background: #2A70B8 !important; 
    color: #fff !important;
}*/

.multiselect-list2 {
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    min-width: 100%!important;
    /* max-height: 250px; */
    overflow-y: auto;
    height: 400px;
}
.multiselect-list2 li {
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 8px;
    padding-left: 1rem;
}
.multiselect-list2 li:nth-of-type(odd) {
    background-color: rgba(0,0,0,.03);
}
.md-checkbox-v2 {
   position: relative;
   overflow: hidden;
}
.md-checkbox-v2,
.md-checkbox-v2 label {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.md-checkbox-v2 input[type="checkbox"] {
    max-width: 15px;
}
.md-checkbox-v2.has-error input[type="checkbox"]+label,
.md-checkbox-v2.textbox-error input[type="checkbox"]+label {
    color: #dc3545;
}
.md-checkbox-v2.has-error input[type="checkbox"]+label:before,
.md-checkbox-v2.textbox-error input[type="checkbox"]+label:before {
    background-color: #dc3545;
}

#has-balloontip-class {
    position: absolute;
    top: -27px;
    color: red;
    border: 1px solid;
    border-radius: 4px;
    padding: 2px 4px;
    margin-bottom: 0;
    min-width: 100px;
    z-index: 999;
    background: white !important;
}

#has-balloontip-class .arrow {
    border-top: 5px solid red;
    border-right: 5px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 25px;
    width: 0;
    border-left: 5px solid transparent;
    right: 0;
    margin: auto;
}
#leftcontent > .inner, #rightcontent > .inner {
    margin-bottom: 0px !important;
}
.table {
    margin-bottom: 0px !important;
}
.tooltip.has-error .tooltip-arrow {
    border-top-color: #dc3545 !important;
}

.tooltip.has-error .tooltip-inner {
    background-color: #fff !important;
    color: #000000;
    border-radius: 3px!important;
    word-break: break-all;
    border:1px solid #dc3545;
}

.has-error.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .has-error.bs-tooltip-bottom .arrow::before {
    bottom: 0;
    border-width: 0 .4rem .4rem;
    border-bottom-color: #dc3545;
}
.has-error.bs-tooltip-auto[x-placement^=top] .arrow::before, .has-error.bs-tooltip-top .arrow::before {
    top: 0;
    border-width: .4rem .4rem 0;
    border-top-color: #dc3545;
}
.has-error.tooltip.in {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
}
.card.marb50,
.card.calHe {
    height: 100%;
}

.label-error {
    height: 20px;
    width: 20px !important;
    z-index: 998;
}
.label-title {
    position: absolute;
    width: calc(100% - 30px);
    height: 30px;
    z-index: 999;
    margin-left: 30px;
}
#table-data label {
    margin-bottom: 0px !important;
}
.table-responsive {
    overflow-x: auto;
}
.table tbody tr td > div {
    min-width: 110px;
}
.marb50 {
    margin-bottom: 15px !important;
}
@media (max-width: 575.98px) {
    #table-data {
        min-width:1500px;
    }
}
.container {
        padding-left: 0px !important;
}