DROP PROCEDURE [SPC_M0070_05_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--* EXEC SPC_M0070_05_INQ1 '5', '740', '721'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスタ tab_2
--*  
--*  作成日/create date			:						
--*　作成者/creater				:									
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_05_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(10)	=	N''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	N''
AS
BEGIN
	DECLARE 
		@w_time				DATETIME2			= SYSDATETIME()
	,	@w_language			INT					=	1

	SELECT 
		@w_language								=	ISNULL(S0010.language,1)
	FROM S0010 
	WHERE 
		S0010.company_cd		=	@P_company_cd
	AND S0010.user_id			=	@P_user_id

	--[0]
	SELECT 
		ISNULL(M0078.final_education_kbn	, 0)		AS final_education_kbn
	--,	CASE
	--		WHEN	@w_language = 2
	--		THEN	ISNULL(L0010.name_english,'')
	--		ELSE	ISNULL(L0010.name,'')
	--	END												AS final_education_kbn_nm
	,	ISNULL(M0078.final_education_other	, N'')		AS final_education_other
	,	ISNULL(M0078.graduation_year		, 0)		AS graduation_year
	,	ISNULL(M0078.graduation_school_cd		, N'')	AS graduation_school_cd
	,	ISNULL(l0013.school_name			, N'')		AS school_name
	,	ISNULL(M0078.graduation_school_other	, N'')	AS graduation_school_other
	,	ISNULL(M0078.faculty					, N'')	AS faculty
	,	ISNULL(M0078.major						, N'')	AS major
	FROM M0078
	LEFT JOIN l0013	WITH (NOLOCK) ON (
		M0078.graduation_school_cd	=	l0013.school_code
	)
    --LEFT JOIN L0010 WITH (NOLOCK) ON (
    --	L0010.name_typ			=	61
    --AND	L0010.number_cd			=	M0078.final_education_kbn
    --AND	L0010.del_datetime		IS NULL
    --)
	WHERE
		M0078.company_cd	= @P_company_cd
	AND	M0078.employee_cd	= @P_employee_cd
	AND M0078.del_datetime IS NULL

	--[1]
	SELECT 
		M0079.detail_no									AS detail_no
	,	ISNULL(M0079.graduation_year		, 0)		AS graduation_year
	,	ISNULL(M0079.graduation_school_cd		, N'')	AS graduation_school_cd
	,	ISNULL(l0013.school_name			, N'')		AS school_name
	,	ISNULL(M0079.graduation_school_other	, N'')	AS graduation_school_other
	,	ISNULL(M0079.faculty					, N'')	AS faculty
	,	ISNULL(M0079.major						, N'')	AS major
	FROM M0079
	LEFT JOIN l0013	WITH (NOLOCK) ON (
		M0079.graduation_school_cd	=	l0013.school_code
	)
	WHERE
		M0079.company_cd	= @P_company_cd
	AND	M0079.employee_cd	= @P_employee_cd
	AND M0079.del_datetime IS NULL
END
GO
