DROP PROCEDURE [SPC_M0070_05_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- 
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	M0070_社員マスタ tab_5
--*  
--* 作成日/create date			:												
--*	作成者/creater				:						
--*   					
--*	更新日/update date			:  					
--*	更新者/updater				:　 　								     	 
--*	更新内容/update content		:	　	
--* 
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_05_ACT1]
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(max)	=	N''
	-- common
,	@P_cre_user		NVARCHAR(50)	=	N''
,	@P_cre_ip		NVARCHAR(50)	=	N''
,	@P_company_cd	SMALLINT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2		=	SYSDATETIME()
	,	@ERR_TBL					ERRTABLE
	,	@order_by_min				INT				=	0
	,	@employee_cd				NVARCHAR(20)	=	N''
	,	@w_max						INT				=	0
	--,	@w_final_education_kbn_nm	NVARCHAR(20)	=	N''
	,	@w_final_education_kbn		SMALLINT		=	0
	,	@w_final_education_other	NVARCHAR(50)	=	N''
	,	@w_graduation_year			INT				=	0
	,	@w_graduation_school_nm		NVARCHAR(50)	=	N''
	,	@w_graduation_school_cd		NVARCHAR(20)	=	N''
	,	@w_graduation_school_other	NVARCHAR(50)	=	N''
	,	@w_faculty					NVARCHAR(50)	=	N''
	,	@w_major					NVARCHAR(50)	=	N''
	
	CREATE TABLE #m0079(
		id							INT NOT NULL IDENTITY(1,1) 							
	,	detail_no					SMALLINT
	,	graduation_year				INT
	,	graduation_school_nm		NVARCHAR(100)
	,	graduation_school_cd		NVARCHAR(20)
	,	graduation_school_other		NVARCHAR(50)
	,	faculty						NVARCHAR(50)
	,	major						NVARCHAR(50)
	)

	CREATE TABLE #m0079_NEW_RECORD(
		id							INT NOT NULL IDENTITY(1,1) 							
	,	detail_no					SMALLINT
	,	graduation_year				INT
	,	graduation_school_nm		NVARCHAR(100)
	,	graduation_school_cd		NVARCHAR(20)
	,	graduation_school_other		NVARCHAR(50)
	,	faculty						NVARCHAR(50)
	,	major						NVARCHAR(50)
	)

	-- DATA TABLE JSON
	INSERT INTO #m0079
	SELECT
		detail_no				
	,	ISNULL(graduation_year			,0)
	,	ISNULL(graduation_school_nm		,N'')
	,	ISNULL(graduation_school_cd		,N'')
	,	ISNULL(graduation_school_other	,N'')
	,	ISNULL(faculty					,N'')
	,	ISNULL(major					,N'')
	FROM OPENJSON(@P_json,'$.list_tab_05') WITH(
		detail_no					SMALLINT
	,	graduation_year				INT
	,	graduation_school_nm		NVARCHAR(100)
	,	graduation_school_cd		NVARCHAR(20)
	,	graduation_school_other		NVARCHAR(50)
	,	faculty						NVARCHAR(50)
	,	major						NVARCHAR(50)
	)

	INSERT INTO #m0079_NEW_RECORD
	SELECT
		detail_no				
	,	ISNULL(graduation_year			,0)
	,	ISNULL(graduation_school_nm		,N'')
	,	ISNULL(graduation_school_cd		,N'')
	,	ISNULL(graduation_school_other	,N'')
	,	ISNULL(faculty					,N'')
	,	ISNULL(major					,N'')
	FROM #m0079
	WHERE
		#m0079.detail_no = 0
	AND NOT (
			#m0079.graduation_year			= 0
		AND #m0079.graduation_school_nm		= N''
		AND #m0079.graduation_school_cd		= N''
		AND	#m0079.graduation_school_other 	= N''
		AND #m0079.faculty 					= N''
		AND	#m0079.major					= N''
	)	

	-- START TRANSACTION5
	BEGIN TRANSACTION
	BEGIN TRY
		SET @employee_cd					=	JSON_VALUE(@P_json,'$.employee_cd						')
		SET @w_final_education_kbn			=	ISNULL(JSON_VALUE(@P_json,'$.final_education_kbn		'),0)
		--SET @w_final_education_kbn_nm		=	ISNULL(JSON_VALUE(@P_json,'$.final_education_kbn_nm		'),N'')
		SET @w_final_education_other		=	ISNULL(JSON_VALUE(@P_json,'$.final_education_other		'),N'')
		SET @w_graduation_year				=	ISNULL(JSON_VALUE(@P_json,'$.graduation_year			'),0)
		SET @w_graduation_school_nm			=	ISNULL(JSON_VALUE(@P_json,'$.graduation_school_nm		'),N'')
		SET @w_graduation_school_cd			=	ISNULL(JSON_VALUE(@P_json,'$.graduation_school_cd		'),N'')
		SET @w_graduation_school_other		=	ISNULL(JSON_VALUE(@P_json,'$.graduation_school_other	'),N'')
		SET @w_faculty						=	ISNULL(JSON_VALUE(@P_json,'$.faculty					'),N'')
		SET @w_major						=	ISNULL(JSON_VALUE(@P_json,'$.major						'),N'')

		SELECT 
			@w_max =	ISNULL(MAX(M0079.detail_no), 0)
		FROM M0079
		WHERE
			M0079.company_cd            = @P_company_cd
		AND M0079.employee_cd			= @employee_cd

		IF EXISTS (
			SELECT 1
			WHERE NOT(
					@w_final_education_kbn = 0 
				--AND	@w_final_education_kbn_nm = N''
				AND	@w_final_education_other = N''
				AND	@w_graduation_school_nm = N''
				AND	@w_graduation_school_cd = N''
				AND	@w_graduation_school_other = N''
				AND @w_graduation_year	= 0
			)
		)
		BEGIN
			IF EXISTS (
				SELECT 1
				WHERE
					@w_final_education_kbn = 9
				AND	@w_final_education_other = N''
			)
			BEGIN 
				INSERT INTO @ERR_TBL
				SELECT
					8
				,	N'.final_education_other' 
				,	0-- oderby
				,	0-- dialog  
				,	0
				,	0
				,	N'final_education_other require'
			END

			IF EXISTS (
				SELECT 1
				WHERE
					@w_final_education_kbn = 0
				--	@w_final_education_kbn_nm = N'' 
				AND	@w_final_education_other = N''
			)
			BEGIN 
				INSERT INTO @ERR_TBL
				SELECT
					8
				,	N'.final_education_kbn' 
				,	0-- oderby
				,	0-- dialog  
				,	0
				,	0
				,	N'final_education_kbn require'
			END

			IF EXISTS ( SELECT 1
				WHERE @w_graduation_year = 0
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					8
				,	N'.year_1' 
				,	0-- oderby
				,	0-- dialog  
				,	0
				,	0
				,	N'graduation_year require'
			END

			IF EXISTS ( SELECT 1
				WHERE @w_graduation_school_other = N''
				AND @w_graduation_school_nm = N''
				AND @w_graduation_school_cd = N''
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					8
				,	N'.cd_1'
				,	0  -- oderby
				,	0  -- dialog
				,	0
				,	0
				,	N'error graduation_school_nm'
				WHERE
					@w_final_education_kbn <> 9
				AND @w_final_education_kbn <> 8

				INSERT INTO @ERR_TBL
				SELECT
					8
				,	N'.nm_1'
				,	0  -- oderby
				,	0  -- dialog
				,	0
				,	0
				,	N'error graduation_school_nm'
				WHERE
					@w_final_education_kbn = 9
				OR @w_final_education_kbn = 8
			END

		END

		--down table

		IF EXISTS (
			SELECT 1
			FROM #m0079
			WHERE NOT (
				#m0079.graduation_year			= 0
			AND	#m0079.graduation_school_nm		= N''
			AND	#m0079.graduation_school_cd		= N''
			AND	#m0079.graduation_school_other 	= N''
			AND	#m0079.faculty 					= N''
			AND	#m0079.major					= N''
			)
		)
		BEGIN
			IF EXISTS ( SELECT 1
				FROM #m0079
				WHERE #m0079.graduation_year = 0
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					8
				,	N'.year_2' 
				,	0-- oderby
				,	0-- dialog  
				,	#m0079.id
				,	0
				,	N'graduation_year require'
				FROM #m0079
				WHERE #m0079.graduation_year = 0
			END

			IF EXISTS ( SELECT 1
				FROM #m0079
				WHERE #m0079.graduation_school_cd = N''
				AND #m0079.graduation_school_nm = N''
				AND #m0079.graduation_school_other = N''
			)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT
					8
				,	N'.cd_2' 
				,	0-- oderby
				,	0-- dialog  
				,	#m0079.id
				,	0
				,	N'graduation_school_nm require'
				FROM #m0079
				WHERE #m0079.graduation_school_cd = N''
				AND #m0079.graduation_school_nm = N''
				AND #m0079.graduation_school_other = N''
				AND NOT (
					#m0079.graduation_year			= 0
				AND	#m0079.graduation_school_nm		= N''
				AND	#m0079.graduation_school_cd		= N''
				AND	#m0079.graduation_school_other 	= N''
				AND	#m0079.faculty 					= N''
				AND	#m0079.major					= N''
				)
			END
		END 

		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			--del
			UPDATE M0079
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0079
			LEFT JOIN #m0079		ON (
				M0079.company_cd            = @P_company_cd
			AND M0079.employee_cd			= @employee_cd
			AND	M0079.detail_no				= #m0079.detail_no
			)
			WHERE
				M0079.del_datetime IS NULL
			AND	M0079.company_cd	= @P_company_cd
			AND	M0079.employee_cd	= @employee_cd
			AND	#m0079.detail_no	IS NULL

			--upd
			UPDATE M0078	--m0078
			SET
				M0078.final_education_kbn				= @w_final_education_kbn
			,	M0078.final_education_other				= @w_final_education_other
			,	M0078.graduation_year					= @w_graduation_year
			,	M0078.graduation_school_cd				= IIF(@w_graduation_school_cd = N'0', N'' ,@w_graduation_school_cd)
			,	M0078.graduation_school_other			= @w_graduation_school_other
			,	M0078.faculty							= @w_faculty
			,	M0078.major								= @w_major
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0078
			WHERE
				M0078.company_cd	=	@P_company_cd
			AND	M0078.employee_cd	=	@employee_cd
			AND M0078.del_datetime	IS NULL

			UPDATE M0079 --m0079
			SET
				graduation_year							= #m0079.graduation_year
			,	graduation_school_cd					= IIF(#m0079.graduation_school_cd  = N'0', N'' , #m0079.graduation_school_cd)
			,	graduation_school_other					= #m0079.graduation_school_other
			,	faculty									= #m0079.faculty
			,	major									= #m0079.major
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0079
			INNER JOIN #m0079		ON (
				M0079.company_cd            = @P_company_cd
			AND M0079.employee_cd			= @employee_cd
			AND	M0079.detail_no				= #m0079.detail_no
			)
			WHERE
				M0079.del_datetime IS NULL
			AND	M0079.company_cd	= @P_company_cd
			AND	M0079.employee_cd	= @employee_cd

			--insert
			IF NOT EXISTS (SELECT 1 FROM M0078 WHERE M0078.company_cd = @P_company_cd AND M0078.employee_cd = @employee_cd AND M0078.final_education_kbn = @w_final_education_kbn)
			BEGIN
				--m0078
				INSERT INTO M0078
				SELECT
					@P_company_cd
				,	@employee_cd
				,	@w_final_education_kbn		
				,	@w_final_education_other	
				,	@w_graduation_year			
				,	@w_graduation_school_cd		
				,	@w_graduation_school_other	
				,	@w_faculty					
				,	@w_major					
				,	@P_cre_user								--[cre_user]
				,	@P_cre_ip								--[cre_ip]
				,	'M0070'									--[cre_prg]
				,	@w_time									--[cre_datetime]
				,	''										--[upd_user]
				,	''										--[upd_ip]
				,	''										--[upd_prg]
				,	NULL									--[upd_datetime]
				,	''										--[del_user]
				,	''										--[del_ip]
				,	''										--[del_prg]
				,	NULL									--[del_datetime])
			END

			--m0079
			INSERT INTO M0079
			SELECT 
				@P_company_cd
			,	@employee_cd
			,	#m0079_NEW_RECORD.id + @w_max					
			,	#m0079_NEW_RECORD.graduation_year			
			,	#m0079_NEW_RECORD.graduation_school_cd		
			,	#m0079_NEW_RECORD.graduation_school_other	
			,	#m0079_NEW_RECORD.faculty					
			,	#m0079_NEW_RECORD.major					
			,	@P_cre_user							--,[cre_user]
			,	@P_cre_ip							--,[cre_ip]
			,	N'M0070'							--,[cre_prg]
			,	@w_time								--,[cre_datetime]
			,	N''									--,[upd_user]
			,	N''									--,[upd_ip]
			,	N''									--,[upd_prg]
			,	NULL								--,[upd_datetime]
			,	N''									--,[del_user]
			,	N''									--,[del_ip]
			,	N''									--,[del_prg]
			,	NULL								--,[del_datetime]
			FROM #m0079_NEW_RECORD
			WHERE NOT (
					#m0079_NEW_RECORD.graduation_year			= 0
				AND #m0079_NEW_RECORD.graduation_school_nm		= N''
				AND #m0079_NEW_RECORD.graduation_school_cd		= N''
				AND	#m0079_NEW_RECORD.graduation_school_other 	= N''
				AND #m0079_NEW_RECORD.faculty 					= N''
				AND	#m0079_NEW_RECORD.major						= N''
			)	
		END
		
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by

	SELECT 
		@employee_cd AS employee_cd

	DROP TABLE IF EXISTS #m0079
	DROP TABLE IF EXISTS #m0079_NEW_RECORD
END


GO
