DROP PROCEDURE [SPC_rQ2010_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	delete report rQ2010_週報一覧
--*  
--*  作成日/create date			:	2023/05/30
--*　作成者/creater				:	namnt				
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:	
--*　更新内容/update content		:	
--*  
--****************************************************************************************
CREATE PROCEDURE [SPC_rQ2010_ACT1]
	@P_json					NVARCHAR(MAX)
--
,	@P_cre_user				NVARCHAR(50)	=	''		-- LOGIN USER_CD
,	@P_cre_ip				NVARCHAR(50)	=	''		-- LOGIN USER_IP
,	@P_company_cd			SMALLINT		=	0		
AS
BEGIN
	DECLARE 
		@w_language							smallint		=	0	-- 1.JP 2.EN
	,	@w_totalRecord						bigint			=	0
	,	@w_pageMax							int				=	0
	,	@ERR_TBL							ERRTABLE
	,	@w_time								DATETIME2		= SYSDATETIME()
	--	
	,	@w_login_position_cd				int				=	0
	,	@w_report_authority_typ				smallint		=	0
	,	@w_report_authority_cd				smallint		=	0
	,	@w_use_typ							smallint		=	0	
	-----#F4200_TEMP
	CREATE TABLE #F4200_TEMP(
		id						int		identity(1,1)
	,	company_cd				smallint
	,	fiscal_year				smallint
	,	employee_cd				nvarchar(10)
	,	report_kind				smallint
	,	report_no				smallint
	)
	SELECT 
		@w_language					=	ISNULL(S0010.[language],1)
	,	@w_report_authority_typ		=	ISNULL(S0010.report_authority_typ,0)
	,	@w_report_authority_cd		=	ISNULL(S0010.report_authority_cd,0)
	,	@w_login_position_cd		=	ISNULL(M0070.position_cd,0)
	FROM S0010
	LEFT OUTER JOIN M0070 ON (
		S0010.company_cd		=	M0070.company_cd
	AND S0010.employee_cd		=	M0070.employee_cd
	AND M0070.del_datetime IS NULL
	)
	WHERE 
		S0010.company_cd	=	@P_company_cd
	AND S0010.user_id		=	@P_cre_user
	AND S0010.del_datetime IS NULL
	---------
	INSERT INTO #F4200_TEMP
	SELECT 
		@P_company_cd
	,	fiscal_year
	,	employee_cd
	,	report_kind
	,	report_no
	FROM OPENJSON (@P_json,'$.tr_del_value') WITH(
		employee_cd		NVARCHAR(10)
	,	fiscal_year		SMALLINT
	,	report_kind		SMALLINT
	,	report_no		SMALLINT
	)	AS json_table
	IF NOT EXISTS (SELECT 1 FROM #F4200_TEMP )
	BEGIN
		INSERT INTO @ERR_TBL VALUES(
			18
		,	''
		,	0-- oderby
		,	1-- dialog  
		,	0
		,	0
		,	''
		)
	END
	--------
	IF EXISTS (SELECT 1 FROM @ERR_TBL) GOTO COMPLETE_QUERY
	BEGIN TRANSACTION
	BEGIN TRY
	IF @w_report_authority_typ IN (3,4,5)
	BEGIN
	------del at F4200
		UPDATE F4200
		SET
			F4200.del_datetime	=	@w_time
		,	F4200.del_ip		=	@P_cre_ip
		,	F4200.del_prg		=	'rQ2010'
		,	F4200.del_user		=	@P_cre_user
		FROM F4200 
		INNER JOIN #F4200_TEMP ON(
			F4200.company_cd	=	#F4200_TEMP.company_cd
		AND	F4200.fiscal_year	=	#F4200_TEMP.fiscal_year
		AND F4200.employee_cd	=	#F4200_TEMP.employee_cd
		AND F4200.report_kind	=	#F4200_TEMP.report_kind
		AND F4200.report_no		=	#F4200_TEMP.report_no
		)
		------del at F4201
		UPDATE F4201
		SET
			F4201.del_datetime	=	@w_time
		,	F4201.del_ip		=	@P_cre_ip
		,	F4201.del_prg		=	'rQ2010'
		,	F4201.del_user		=	@P_cre_user
		FROM F4201 
		INNER JOIN #F4200_TEMP ON(
			F4201.company_cd	=	#F4200_TEMP.company_cd
		AND	F4201.fiscal_year	=	#F4200_TEMP.fiscal_year
		AND F4201.employee_cd	=	#F4200_TEMP.employee_cd
		AND F4201.report_kind	=	#F4200_TEMP.report_kind
		AND F4201.report_no		=	#F4200_TEMP.report_no
		)
		------del at F4202
		UPDATE F4202
		SET
			F4202.del_datetime	=	@w_time
		,	F4202.del_ip		=	@P_cre_ip
		,	F4202.del_prg		=	'rQ2010'
		,	F4202.del_user		=	@P_cre_user
		FROM F4202 
		INNER JOIN #F4200_TEMP ON(
			F4202.company_cd	=	#F4200_TEMP.company_cd
		AND	F4202.fiscal_year	=	#F4200_TEMP.fiscal_year
		AND F4202.employee_cd	=	#F4200_TEMP.employee_cd
		AND F4202.report_kind	=	#F4200_TEMP.report_kind
		AND F4202.report_no		=	#F4200_TEMP.report_no
		)
		------del at F4203
		UPDATE F4203
		SET
			F4203.del_datetime	=	@w_time
		,	F4203.del_ip		=	@P_cre_ip
		,	F4203.del_prg		=	'rQ2010'
		,	F4203.del_user		=	@P_cre_user
		FROM F4203 
		INNER JOIN #F4200_TEMP ON(
			F4203.company_cd	=	#F4200_TEMP.company_cd
		AND	F4203.fiscal_year	=	#F4200_TEMP.fiscal_year
		AND F4203.employee_cd	=	#F4200_TEMP.employee_cd
		AND F4203.report_kind	=	#F4200_TEMP.report_kind
		AND F4203.report_no		=	#F4200_TEMP.report_no
		)
		------del at F4206
		UPDATE F4206
		SET
			F4206.del_datetime	=	@w_time
		,	F4206.del_ip		=	@P_cre_ip
		,	F4206.del_prg		=	'rQ2010'
		,	F4206.del_user		=	@P_cre_user
		FROM F4206 
		INNER JOIN #F4200_TEMP ON(
			F4206.company_cd	=	#F4200_TEMP.company_cd
		AND	F4206.fiscal_year	=	#F4200_TEMP.fiscal_year
		AND F4206.employee_cd	=	#F4200_TEMP.employee_cd
		AND F4206.report_kind	=	#F4200_TEMP.report_kind
		AND F4206.report_no		=	#F4200_TEMP.report_no
		)
	END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error' 
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark 
	FROM @ERR_TBL
	ORDER BY 
		order_by
END
GO
