DROP PROCEDURE [SPC_M0070_13_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';
--****************************************************************************************
--*   											
--* 処理概要/process overview	:	M0070_社員マスター賞罰タブ SAVE DATA
--*  
--* 作成日/create date			:	2024/04/01										
--*	作成者/creater				:	Quanlh						
--*　　	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_13_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			NVARCHAR(MAX)		=	N''				
	-- common
,	@P_cre_user		NVARCHAR(50)		=	N''
,	@P_cre_ip		NVARCHAR(100)		=	N''
,	@P_company_cd	SMALLINT			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time						DATETIME2			= SYSDATETIME()
	,	@order_by_min				INT					= 0
	,	@ERR_TBL					ERRTABLE		
	,	@employee_cd				NVARCHAR(10)		= N''	
	,	@w_max						INT					= 0
	--v1.7 M0070
	CREATE TABLE #M0093(
		id						INT NOT NULL IDENTITY(1,1) 		
	,	detail_no				SMALLINT
	,	reward_punishment_typ	SMALLINT
	,	decision_date			DATE
	,	reason					NVARCHAR(100)
	,	remarks					NVARCHAR(100)
	)
	CREATE TABLE #M0093_INSERT(	
		id						INT NOT NULL IDENTITY(1,1) 	
	,	detail_no				SMALLINT
	,	reward_punishment_typ	SMALLINT
	,	decision_date			DATE
	,	reason					NVARCHAR(100)
	,	remarks					NVARCHAR(100)
	)
	-- INSERT INTO #M0093
	INSERT INTO #M0093
	SELECT
		detail_no
	,	ISNULL(reward_punishment_typ,0)
	,	ISNULL(decision_date,NULL)
	,	ISNULL(reason,N'')
	,	ISNULL(remarks,N'')
	FROM OPENJSON(@P_json,'$.list_tab_13') WITH(
		detail_no				SMALLINT
	,	reward_punishment_typ	SMALLINT
	,	decision_date			DATE
	,	reason					NVARCHAR(100)
	,	remarks					NVARCHAR(100)
	)
	--
	INSERT INTO #M0093_INSERT
	SELECT
		detail_no
	,	ISNULL(reward_punishment_typ,0)
	,	ISNULL(decision_date,NULL)
	,	ISNULL(reason,N'')
	,	ISNULL(remarks,N'')
	FROM #M0093
	WHERE
		#M0093.detail_no = 0
	AND	#M0093.reward_punishment_typ <> 0
	AND	#M0093.decision_date <> N'1900-01-01'
	-- START TRANSACTION		
	BEGIN TRANSACTION
	BEGIN TRY
		-- ASSIGN
		SET @employee_cd			=	JSON_VALUE(@P_json,'$.employee_cd')
		--MAX No
		SELECT 
			@w_max =	ISNULL(MAX(M0093.detail_no), 0)
		FROM M0093
		WHERE
			M0093.company_cd            = @P_company_cd
		AND M0093.employee_cd			= @employee_cd
		--INSERT ERROR
		IF EXISTS(SELECT 1 FROM #M0093 
			WHERE (reward_punishment_typ = 0 
				OR decision_date LIKE N'1900-01-01')
				OR	(
					reward_punishment_typ = 0
				AND decision_date LIKE N'1900-01-01'
				)
			)		
		BEGIN	
			INSERT INTO @ERR_TBL
			SELECT
				8
			,	N'.name_trp' 
			,	0-- oderby
			,	0-- dialog  
			,	#M0093.id
			,	0
			,	N'name_trp require'
			FROM #M0093
			WHERE 
				#M0093.reward_punishment_typ = 0
			AND	#M0093.decision_date <> N'1900-01-01'
			UNION
			SELECT
				8
			,	N'.decision_date' 
			,	0-- oderby
			,	0-- dialog  
			,	#M0093.id
			,	0
			,	N'decision_date require'
			FROM #M0093
			WHERE 
				#M0093.decision_date LIKE N'1900-01-01'
			AND	#M0093.reward_punishment_typ <> 0
			INSERT INTO @ERR_TBL	
			SELECT
				8
			,	N'.name_trp' 
			,	0-- oderby
			,	0-- dialog  
			,	#M0093.id
			,	0
			,	N'name_trp require'
			FROM #M0093
			WHERE 
				#M0093.reward_punishment_typ = 0
			AND	#M0093.decision_date LIKE N'1900-01-01'
			AND (#M0093.remarks <> N'' OR #M0093.reason <> N'')
			UNION
			SELECT
				8
			,	N'.decision_date' 
			,	0-- oderby
			,	0-- dialog  
			,	#M0093.id
			,	0
			,	N'decision_date require'
			FROM #M0093
			WHERE 
				#M0093.reward_punishment_typ = 0
			AND	#M0093.decision_date LIKE N'1900-01-01'
			AND (#M0093.remarks <> N'' OR #M0093.reason <> N'')
		END
		--
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			--Del
			UPDATE M0093 
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	N'M0070'
			,	del_datetime	=	@w_time
			FROM M0093
			LEFT JOIN #M0093		ON (
				M0093.company_cd            = @P_company_cd
			AND M0093.employee_cd			= @employee_cd
			AND	M0093.detail_no				= #M0093.detail_no
			)
			WHERE
				M0093.del_datetime  IS NULL
			AND	M0093.company_cd	= @P_company_cd
			AND	M0093.employee_cd	= @employee_cd
			AND	#M0093.detail_no	IS NULL
			--Udate
			UPDATE M0093 SET
				reward_punishment_typ					= #M0093.reward_punishment_typ
			,	decision_date							= #M0093.decision_date
			,   reason									= #M0093.reason
			,   remarks									= #M0093.remarks
			,	upd_user								= @P_cre_user
			,	upd_ip									= @P_cre_ip
			,	upd_prg									= N'M0070'
			,	upd_datetime							= @w_time
			FROM M0093
			INNER JOIN #M0093		ON (
				M0093.company_cd            = @P_company_cd
			AND M0093.employee_cd			= @employee_cd
			AND	M0093.detail_no				= #M0093.detail_no
			)
			WHERE
				M0093.del_datetime IS NULL
			AND	M0093.company_cd	= @P_company_cd
			AND	M0093.employee_cd	= @employee_cd
			--Insert	
			INSERT INTO M0093 
			SELECT 
				@P_company_cd
			,	@employee_cd
			,	#M0093_INSERT.id + @w_max				
			,	#M0093_INSERT.reward_punishment_typ
			,	IIF(#M0093_INSERT.decision_date = N'1900-01-01',NULL, #M0093_INSERT.decision_date)
			,	#M0093_INSERT.reason
			,	#M0093_INSERT.remarks
			,	@P_cre_user							--,[cre_user]
			,	@P_cre_ip							--,[cre_ip]
			,	N'M0070'							--,[cre_prg]
			,	@w_time								--,[cre_datetime]
			,	N''									--,[upd_user]
			,	N''									--,[upd_ip]
			,	N''									--,[upd_prg]
			,	NULL								--,[upd_datetime]
			,	N''									--,[del_user]
			,	N''									--,[del_ip]
			,	N''									--,[del_prg]
			,	NULL								--,[del_datetime]
			FROM #M0093_INSERT
			WHERE 
				#M0093_INSERT.detail_no = 0
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- INSERT STATEMENTS FOR PROCEDURE HERE
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	SELECT 
		@employee_cd AS employee_cd
	--
	DROP TABLE IF EXISTS #M0093
	DROP TABLE IF EXISTS #M0093_INSERT
END

