DROP PROCEDURE [SPC_M0070_13_INQ1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	M0070_社員マスター賞罰タブ
--*  
--*  作成日/create date			:	2024/04/01						
--*　作成者/creater				:	Quanlh								
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_13_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(10)	=	N''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	N''
AS
BEGIN	
	SET NOCOUNT ON;
	DECLARE
		@w_language							SMALLINT		=	1	--1 jp / 2 en

	SET @w_language = (SELECT S0010.language FROM S0010 
						WHERE S0010.del_datetime IS NULL
						AND S0010.company_cd	= @P_company_cd 
						AND S0010.user_id	= @P_user_id) 
	--[0]
	SELECT
		detail_no
	,	reward_punishment_typ
	,	CASE
				WHEN @w_language = 2
				THEN ISNULL(L0010.name_english,N'')
				ELSE ISNULL(L0010.name,N'')
			END	AS label
	,	ISNULL( CONVERT(VARCHAR(10), M0093.decision_date, 111)	, NULL)	AS decision_date
	,	reason
	,	remarks
	FROM M0093 WITH(NOLOCK)
	LEFT JOIN L0010 WITH(NOLOCK) ON(
		M0093.reward_punishment_typ = L0010.number_cd
	AND	L0010.name_typ				= 75
	AND	L0010.del_datetime IS NULL
	)
	WHERE
		M0093.employee_cd = @P_employee_cd
	AND M0093.company_cd = @P_company_cd
	AND M0093.del_datetime IS NULL
END
GO
