DROP PROCEDURE [SPC_M0070_13_LST1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ 
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	get Type Reward Punishment M0070
--*  
--*  作成日/create date			:	2024/04/01						
--*　作成者/creater				:	Quanlh								
--*	
--****************************************************************************************
CREATE PROCEDURE [SPC_M0070_13_LST1]
	-- Add the parameters for the stored procedure here	
	@P_employee_cd			NVARCHAR(10)	=	N''
,	@P_company_cd			SMALLINT		=	0
,	@P_user_id				NVARCHAR(100)	=	N''
,	@P_language				NVARCHAR(2)		=	N''
AS
BEGIN
	--[0]
	CREATE TABLE #TYPE_R_P(
		number_cd				INT
	,	row_index				INT
	,	name_trp				NVARCHAR(100)
	,	numeric_value1			INT	
	)
	--
	INSERT #TYPE_R_P
	SELECT
		number_cd
	,	ROW_NUMBER() over (PARTITION BY numeric_value1 ORDER BY number_cd ASC ) AS row_index
	,	CASE
			WHEN @P_language = 'en'
			THEN L0010.name_english
			ELSE L0010.name
		END	AS label
	,	numeric_value1
	FROM 
		L0010 WITH(NOLOCK)
	WHERE 
		L0010.name_typ = 75
	AND	L0010.del_datetime IS NULL
	ORDER BY 
		L0010.numeric_value1
	,	L0010.number_cd
	--[0]
	SELECT
		number_cd
	,	row_index
	,	IIF(@P_language = N'jp',
		CASE
			WHEN (row_index = 1 AND numeric_value1 = 1) THEN N'【賞】'
			WHEN (row_index = 1 AND numeric_value1 = 2) THEN N'【罰】'		
			ELSE N''
		END ,CASE
			WHEN (row_index = 1 AND numeric_value1 = 1) THEN N'【Award】'
			WHEN (row_index = 1 AND numeric_value1 = 2) THEN N'【Punishment】'		
			ELSE N''
		END ) AS group_name
	,	name_trp AS label
	,	numeric_value1
	FROM #TYPE_R_P	
END
GO
