DROP PROCEDURE [SPC_rI1021_ACT3]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
/****************************************************************************************************
 *
 *  処理概要：ri1021 - SAVE
 *
 *  作成日  ：2023/04/13
 *  作成者  ：ANS-ASIA NAMNT
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 * 
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_rI1021_ACT3] 
	@P_company_cd	SMALLINT	 = 0
,	@P_json			NVARCHAR(MAX)= ''
,	@P_cre_user		NVARCHAR(50) = ''
,	@P_cre_ip		NVARCHAR(50) = ''

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2		= SYSDATETIME()
	,	@ERR_TBL				ERRTABLE
	,	@w_report_kind			SMALLINT		= 0
	,	@w_fiscal_year			SMALLINT		= 0
	--
	CREATE TABLE #LIST_EMP(
		id						INT IDENTITY(1,1)	
	,	employee_cd				NVARCHAR(10)
	)
	-- get report_no
	CREATE TABLE #TEMP(
		id						INT IDENTITY(1,1)	
	,	company_cd				SMALLINT
	,	fiscal_year				SMALLINT
	,	employee_cd				NVARCHAR(10)
	,	report_kind				SMALLINT				
	)
	
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã l?i (trùng v?i mã trong b?ng message) 					
		,	''								-- id ho?c class c?a item(#id , .class), l?i d?ng dialog thì d? tr?ng  				
		,	0-- oderby						-- giá tr? càng bé thì l?i du?c hi?n th? tru?c  				
		,	1-- dialog  					-- Ki?u hi?n th? l?i : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có th? luu v? trí index c?a dòng c?a l?i 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment n?i dung l?i (ch? y?u là dùng khi d?c code)
		)
	END
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	--
	SET @w_report_kind		=	ISNULL(JSON_VALUE(@P_json,'$.report_kinds'),0)
	SET @w_fiscal_year		=	ISNULL(JSON_VALUE(@P_json,'$.fiscal_year'),0)
	--#LIST_EMP
	INSERT INTO #LIST_EMP
	SELECT 
		employee_cd
	FROM OPENJSON(@P_json, '$.list_employee') WITH(
		employee_cd		NVARCHAR(10)
	)
	INSERT INTO #TEMP
	SELECT 
		@P_company_cd
	,	@w_fiscal_year
	,	#LIST_EMP.employee_cd
	,	@w_report_kind
	FROM  #LIST_EMP
	INSERT INTO @ERR_TBL 
	SELECT
		152								-- mã lỗi (trùng với mã trong bảng message) 					
	,	'.noneHover'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
	,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
	,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
	,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
	,	0								-- Tùy ý
	,	#TEMP.employee_cd		-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)	
	FROM #TEMP LEFT JOIN F4121 ON (
		#TEMP.company_cd = F4121.company_cd
	AND #TEMP.report_kind = F4121.report_kind
	AND #TEMP.fiscal_year = F4121.fiscal_year
	AND #TEMP.employee_cd = F4121.employee_cd
	AND F4121.del_datetime IS NULL
	)
	WHERE F4121.company_cd IS NULL
	--
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	--
	BEGIN TRANSACTION
	BEGIN TRY
		UPDATE F4121 
			SET F4121.del_datetime	= @w_time
			,	F4121.del_ip		= @P_cre_ip
			,	F4121.del_prg		= 'rI1021'
			,	F4121.del_user		= @P_cre_user
			FROM F4121 INNER JOIN #TEMP ON(
				F4121.company_cd	= #TEMP.company_cd
			AND F4121.fiscal_year	= #TEMP.fiscal_year
			AND F4121.report_kind	= #TEMP.report_kind
			AND F4121.employee_cd	= #TEMP.employee_cd
			)
			WHERE F4121.del_datetime IS NULL
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	-- Insert statements for procedure here
	IF (SELECT COUNT(1) FROM @ERR_TBL) > 1
	BEGIN
		ROLLBACK TRANSACTION
	END
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
	COMPLETE_QUERY:

	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END

GO
