DROP PROCEDURE [SPC_RI1021_ACT2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
--****************************************************************************************
--*  処理概要/process overview	:	RI1021
--*  
--*  作成日/create date			:	2023/05/10
--*　作成者/creater				:	quangnd	
--*   					
--*  更新日/update date			:	
--*　更新者/updater				:　	
--*　更新内容/update content		:	 

--****************************************************************************************

CREATE PROCEDURE [SPC_RI1021_ACT2] 
	@P_company_cd			SMALLINT		=	0
,	@P_fiscal_year			SMALLINT		=	0
,	@P_employee_cd			NVARCHAR(20)	=	0
,	@P_report_kind			SMALLINT		=	0
,	@P_viewer_employee_cd	NVARCHAR(20)	=	''
,	@P_cre_user				NVARCHAR(10)	=	''
,	@P_cre_ip				NVARCHAR(10)	=	''
,	@P_language				NVARCHAR(2)		=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time				DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL			ERRTABLE	
	,	@w_report_no		SMALLINT
	,	@beginning_date							datetime		=	null
	,	@start_date								datetime		=	null
	,	@end_date								datetime		=	null

	,	@w_report_authority_typ					smallint		=	0
	,	@w_report_authority_cd					smallint		=	0

	,	@w_use_typ								smallint		=	0	
	,	@w_arrange_order						int				=	0

	,	@w_login_position_cd					int				=	0
	,	@w_login_employee_cd					nvarchar(10)	=	''
	,	@w_choice_in_screen						tinyint			=	0
	,	@w_evaluation_organization_cnt			INT				=	0	-- 0.view all 1.only view organization choiced
	,	@w_organization_belong_person_typ		SMALLINT		=	0
	,	@w_today								date			=	NULL
	,	@w_system_authority_typ					smallint		=	0
	-- GET FROM JSON
	CREATE TABLE #TEMP_PARAMS(
		company_cd					SMALLINT
	,	fiscal_year					SMALLINT
	,	employee_cd					NVARCHAR(10)
	,	report_kind					SMALLINT
	,	viewer_employee_cd			NVARCHAR(10)
	)
	--#TABLE_ORGANIZATION
	CREATE TABLE #TABLE_ORGANIZATION (
		organization_typ				tinyint
	,	organization_cd_1				nvarchar(20)
	,	organization_cd_2				nvarchar(20)
	,	organization_cd_3				nvarchar(20)
	,	organization_cd_4				nvarchar(20)
	,	organization_cd_5				nvarchar(20)	
	,	choice_in_screen				tinyint		-- 1.choice in screen 0.get from master S0022
	)
	--#LIST_POSITION
	CREATE TABLE #LIST_POSITION(
		id								int			identity(1,1)
	,	position_cd						int
	,	mode							smallint	-- 0.choice in screen 1. get from master
	)
	--#M0070H
	CREATE TABLE #M0070H(
		application_date				date
	,	company_cd						smallint
	,	employee_cd						nvarchar(10)
	,	employee_nm						nvarchar(200)
	,	employee_ab_nm					nvarchar(50)
	,	furigana						nvarchar(50)
	,	office_cd						smallint
	,	office_nm						nvarchar(50)
	,	belong_cd_1						nvarchar(20)
	,	belong_cd_2						nvarchar(20)
	,	belong_cd_3						nvarchar(20)
	,	belong_cd_4						nvarchar(20)
	,	belong_cd_5						nvarchar(20)
	,	job_cd							smallint
	,	position_cd						int
	,	employee_typ					smallint
	,	grade							smallint
	,	belong_nm_1						nvarchar(50)
	,	belong_nm_2						nvarchar(50)
	,	belong_nm_3						nvarchar(50)
	,	belong_nm_4						nvarchar(50)
	,	belong_nm_5						nvarchar(50)
	,	job_nm							nvarchar(50)
	,	position_nm						nvarchar(50)
	,	grade_nm						nvarchar(50)
	,	employee_typ_nm					nvarchar(50)
	)
	SELECT 
		@beginning_date = M9100.[report_beginning_date]		-- edited by viettd 2021/04/22 
	FROM M9100
	WHERE 
		M9100.company_cd		=	@P_company_cd
	AND M9100.del_datetime IS NULL
	-- CACULATE BEGIN AND END OF DATE
	IF @beginning_date IS NOT NULL
	BEGIN
		SET @start_date = CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		SET @end_date = DATEADD(DD,-1,DATEADD(YYYY,1,@start_date))
	END
	ELSE
	BEGIN 
		SET @start_date		= CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/01/01') AS DATE)
		SET @end_date		= CAST((CAST(@P_fiscal_year AS nvarchar(4)) + '/12/31') AS DATE)
	END
	-- #M0070H
	INSERT INTO #M0070H
	EXEC [dbo].SPC_REFER_M0070H_INQ1 @end_date,'',@P_company_cd

	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--GET INFORMATION 
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	SELECT 
		@w_report_authority_typ			=	ISNULL(S0010.report_authority_typ,0)
	,	@w_report_authority_cd			=	ISNULL(S0010.report_authority_cd,0)
	,	@w_login_position_cd			=	ISNULL(M0070.position_cd,0)
	,	@w_login_employee_cd			=	ISNULL(M0070.employee_cd,0)
	FROM S0010
	LEFT OUTER JOIN M0070 ON (
		S0010.company_cd		=	M0070.company_cd
	AND S0010.employee_cd		=	M0070.employee_cd
	AND M0070.del_datetime IS NULL
	)
	WHERE 
		S0010.company_cd	= @P_company_cd 
	AND S0010.user_id		= @P_cre_user
	AND S0010.del_datetime IS NULL
	-- get @use_typ
	SELECT 
		@w_use_typ		=	ISNULL(S4020.use_typ,0)		-- 1. 本人の役職より下位の社員のみ
	FROM S4020
	WHERE
		S4020.company_cd		=	@P_company_cd
	AND S4020.authority_cd		=	@w_report_authority_cd
	AND S4020.del_datetime IS NULL
	--	@w_system_authority_typ
	SET @w_system_authority_typ	=	@w_report_authority_typ
	-- get @arrange_order
	SELECT 
		@w_arrange_order	=	ISNULL(M0040.arrange_order,0)
	FROM M0040
	WHERE 
		M0040.company_cd		=	@P_company_cd
	AND M0040.position_cd		=	@w_login_position_cd
	AND M0040.del_datetime IS NULL
	-- COUNT ALL ORGANIZATIONS
	SET @w_evaluation_organization_cnt = [dbo].FNC_GET_NUMBER_OF_ORGANIZATION(@P_company_cd,@w_report_authority_cd,5)
	-- GET @w_organization_belong_person_typ
	SET @w_organization_belong_person_typ = [dbo].FNC_GET_ORGANIZATION_BELONG_PERSON_TYP(@P_company_cd,@w_report_authority_cd,5)
		-- INSERT DATA INTO #TABLE_ORGANIZATION
	INSERT INTO #TABLE_ORGANIZATION
	EXEC [dbo].SPC_REFER_ORGANIZATION_FND1 '',@P_cre_user,@P_company_cd, 5
	IF @w_use_typ = 1
	BEGIN
		INSERT INTO #LIST_POSITION
		SELECT 
			ISNULL(M0040.position_cd,0)				AS	position_cd
		,	1
		FROM M0040
		WHERE 
			M0040.company_cd		=	@P_company_cd
		AND M0040.arrange_order		>	@w_arrange_order		-- 1. 本人の役職より下位の社員のみ
		AND M0040.del_datetime IS NULL
	END
	ELSE
	BEGIN
		INSERT INTO #LIST_POSITION
		SELECT 
			ISNULL(M0040.position_cd,0)				AS	position_cd
		,	1
		FROM M0040
		WHERE 
			M0040.company_cd		=	@P_company_cd
		AND M0040.del_datetime IS NULL
	END
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	--FILTER DATA
	--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	-- FILTER 役職
	IF EXISTS (SELECT 1 FROM #TABLE_ORGANIZATION)
	BEGIN
		SET @w_choice_in_screen = (SELECT TOP 1 choice_in_screen FROM #TABLE_ORGANIZATION WHERE choice_in_screen = 1)
		-- 1.choice in screen
		IF @w_choice_in_screen = 1
		BEGIN
			DELETE D FROM #M0070H AS D
			FULL OUTER JOIN #TABLE_ORGANIZATION AS S ON (
				D.company_cd			=	@P_company_cd
			AND D.belong_cd_1			=	S.organization_cd_1
			AND D.belong_cd_2			=	S.organization_cd_2
			AND D.belong_cd_3			=	S.organization_cd_3
			AND D.belong_cd_4			=	S.organization_cd_4
			AND D.belong_cd_5			=	S.organization_cd_5
			)
			WHERE 
				D.company_cd IS NULL
			OR	S.organization_typ IS NULL
		END
		ELSE IF NOT (@w_system_authority_typ = 3 AND @w_evaluation_organization_cnt = 0 AND @w_organization_belong_person_typ = 0)
		BEGIN
			DELETE D FROM #M0070H AS D
			FULL OUTER JOIN #TABLE_ORGANIZATION AS S ON (
				D.company_cd			=	@P_company_cd
			AND D.belong_cd_1			=	S.organization_cd_1
			AND D.belong_cd_2			=	S.organization_cd_2
			AND D.belong_cd_3			=	S.organization_cd_3
			AND D.belong_cd_4			=	S.organization_cd_4
			AND D.belong_cd_5			=	S.organization_cd_5
			)
			WHERE 
				D.company_cd IS NULL
			OR	S.organization_typ IS NULL
			AND @w_system_authority_typ NOT IN(4,5)		--4.会社管理者 5.総合管理者
		END
	END
	-- choice in screen
	IF EXISTS (SELECT 1 FROM #LIST_POSITION WHERE mode = 0)
	BEGIN
		DELETE D FROM #M0070H AS D
		LEFT OUTER JOIN #LIST_POSITION AS S ON (
			D.company_cd			=	@P_company_cd
		AND D.position_cd			=	S.position_cd
		)
		WHERE
			S.position_cd IS NULL
	END
	ELSE -- not choice in screen
	BEGIN
		IF @w_system_authority_typ NOT IN (4,5)
		BEGIN
			DELETE D FROM #M0070H AS D
			LEFT OUTER JOIN #LIST_POSITION AS S ON (
				D.company_cd		=	@P_company_cd
			AND D.position_cd		=	S.position_cd
			)
			WHERE
				S.position_cd IS NULL
			AND (
				@w_use_typ = 1
			OR	@w_use_typ = 0 AND D.position_cd > 0
			)
		END
	END

	-- PREPARE BEFORE INSERT INTO TABLE
	IF (LEN(@P_employee_cd)>10)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT	
			128
		,	'reporter'
		,	0
		,	2 -- exception error
		,	0
		,	0
		,	IIF(@P_language = 'en','Employee Code: ', '社員番号: ') 
	END
	ELSE IF (@P_employee_cd = '')
	BEGIN
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'reporter'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Employee Code: ','社員番号: ')	
	END
	ELSE IF NOT EXISTS (select 1 from M0070 where company_cd = @P_company_cd AND employee_cd = @P_employee_cd and del_datetime is null)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT	
			128
		,	'reporter'
		,	0
		,	2 -- exception error
		,	0
		,	0
		,	IIF(@P_language = 'en','Employee Code: ', '社員番号: ') 
	END
	ELSE IF NOT EXISTS (select 1 from f4110 where company_cd = @P_company_cd and fiscal_year = @P_fiscal_year and employee_cd = @P_employee_cd and report_kind = @P_report_kind and del_datetime is null)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT	
			128
		,	'reporter'
		,	0
		,	2 -- exception error
		,	0
		,	0
		,	IIF(@P_language = 'en','Employee Code: ', '社員番号: ') 
	END
	ELSE IF EXISTS (select 1 from m0070 where company_cd = @P_company_cd and employee_cd = @P_employee_cd and company_out_dt IS NOT NULL AND @start_date > company_out_dt and del_datetime is null)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT	
			87
		,	'reporter'
		,	0
		,	2 -- exception error
		,	0
		,	0
		,	IIF(@P_language = 'en','Employee Code: ', '社員番号: ') 
	END
	ELSE IF EXISTS (select 1 from m0070 where company_cd = @P_company_cd and employee_cd = @P_employee_cd and company_in_dt IS NOT NULL AND @end_date < company_in_dt and del_datetime is null)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT	
			87
		,	'reporter'
		,	0
		,	2 -- exception error
		,	0
		,	0
		,	IIF(@P_language = 'en','Employee Code: ', '社員番号: ') 
	END
	ELSE IF NOT EXISTS (select 1 from #M0070H where employee_cd = @P_employee_cd)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT	
			128
		,	'reporter'
		,	0
		,	2 -- exception error
		,	0
		,	0
		,	IIF(@P_language = 'en','Employee Code: ', '社員番号: ') 
	END
	ELSE IF (@P_employee_cd = @P_viewer_employee_cd)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT	
			154
		,	'reporter'
		,	0
		,	2 -- exception error
		,	0
		,	0
		,	IIF(@P_language = 'en','Viewer Employee Code: ', '閲覧者番号: ') 
	END

	-- VIEWER
	IF (LEN(@P_viewer_employee_cd)>10)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT	
			128
		,	'viewer'
		,	0
		,	2 -- exception error
		,	0
		,	0
		,	IIF(@P_language = 'en','Viewer Employee Code: ', '閲覧者番号: ') 
	END
	ELSE IF (@P_viewer_employee_cd = '')
	BEGIN
		INSERT INTO @ERR_TBL												
		SELECT															
			8				
		,	'viewer'				
		,	0-- oderby		
		,	1-- dialog  	
		,	0				
		,	0				
		,	IIF(@P_language = 'en','Viewer Employee Code: ','閲覧者番号: ')	
	END
	ELSE IF NOT EXISTS (select 1 from M0070 where company_cd = @P_company_cd AND employee_cd = @P_viewer_employee_cd and del_datetime is null)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT	
			128
		,	'viewer'
		,	0
		,	2 -- exception error
		,	0
		,	0
		,	IIF(@P_language = 'en','Viewer Employee Code: ', '閲覧者番号: ') 
	END
	ELSE IF EXISTS (select 1 from m0070 where company_cd = @P_company_cd and employee_cd = @P_viewer_employee_cd and company_out_dt IS NOT NULL AND @start_date > company_out_dt and del_datetime is null)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT	
			87
		,	'viewer'
		,	0
		,	2 -- exception error
		,	0
		,	0
		,	IIF(@P_language = 'en','Viewer Employee Code: ', '閲覧者番号: ') 
	END
	ELSE IF EXISTS (select 1 from m0070 where company_cd = @P_company_cd and employee_cd = @P_viewer_employee_cd and  company_in_dt IS NOT NULL AND @end_date < company_in_dt and del_datetime is null)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT	
			87
		,	'viewer'
		,	0
		,	2 -- exception error
		,	0
		,	0
		,	IIF(@P_language = 'en','Viewer Employee Code: ', '閲覧者番号: ') 
	END
	ELSE IF NOT EXISTS (select 1 from #M0070H where employee_cd = @P_viewer_employee_cd)
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT	
			128
		,	'viewer'
		,	0
		,	2 -- exception error
		,	0
		,	0
		,	IIF(@P_language = 'en','Viewer Employee Code: ', '閲覧者番号: ') 
	END
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	--
	-- INSERT #TEMP_PARAMS
	INSERT INTO #TEMP_PARAMS
	SELECT 
		@P_company_cd
	,	@P_fiscal_year
	,	@P_employee_cd
	,	@P_report_kind
	,	@P_viewer_employee_cd

	BEGIN TRANSACTION
	BEGIN TRY
		-- F4121
		UPDATE F4121
		SET 
			upd_user		=	@P_cre_user
		,	upd_ip			=	@P_cre_ip
		,	upd_prg			=	'rI1021'
		,	upd_datetime	=	@w_time
		,	del_user		=	''
		,	del_ip			=	''
		,	del_prg			=	''
		,	del_datetime	=	NULL
		FROM F4121
		INNER JOIN #TEMP_PARAMS ON(
			F4121.company_cd	= #TEMP_PARAMS.company_cd
		AND	F4121.fiscal_year	= #TEMP_PARAMS.fiscal_year
		AND	F4121.employee_cd	= #TEMP_PARAMS.employee_cd
		AND	F4121.report_kind	= #TEMP_PARAMS.report_kind
		AND	F4121.viewer_employee_cd		= #TEMP_PARAMS.viewer_employee_cd
		)
		WHERE
			F4121.company_cd  = @P_company_cd
		AND F4121.fiscal_year = @P_fiscal_year
		AND F4121.employee_cd = @P_employee_cd
		AND F4121.report_kind = @P_report_kind
		AND F4121.viewer_employee_cd = @P_viewer_employee_cd
		AND F4121.del_datetime IS NULL
		-- F4121
		UPDATE F4121
		SET 
			cre_user		=	@P_cre_user
		,	cre_ip			=	@P_cre_ip
		,	cre_prg			=	'rI1021'
		,	cre_datetime	=	@w_time
		,	upd_user		=	''
		,	upd_ip			=	''
		,	upd_prg			=	''
		,	upd_datetime	=	NULL
		,	del_user		=	''
		,	del_ip			=	''
		,	del_prg			=	''
		,	del_datetime	=	NULL

		FROM F4121
		INNER JOIN #TEMP_PARAMS ON(
			F4121.company_cd	= #TEMP_PARAMS.company_cd
		AND	F4121.fiscal_year	= #TEMP_PARAMS.fiscal_year
		AND	F4121.employee_cd	= #TEMP_PARAMS.employee_cd
		AND	F4121.report_kind	= #TEMP_PARAMS.report_kind
		AND	F4121.viewer_employee_cd		= #TEMP_PARAMS.viewer_employee_cd
		)
		WHERE
			F4121.company_cd  = @P_company_cd
		AND F4121.fiscal_year = @P_fiscal_year
		AND F4121.employee_cd = @P_employee_cd
		AND F4121.report_kind = @P_report_kind
		AND F4121.viewer_employee_cd = @P_viewer_employee_cd
		AND F4121.del_datetime IS NOT NULL
		--F4121
		INSERT INTO F4121
		SELECT 
			@P_company_cd
		,	@P_fiscal_year
		,	@P_employee_cd
		,	@P_report_kind
		,	@P_viewer_employee_cd
		,	@P_cre_user
		,	@P_cre_ip
		,	'rI1021'
		,	@w_time
		,	''
		,	''
		,	''
		,	NULL
		,	''
		,	''
		,	''
		,	NULL
		FROM #TEMP_PARAMS
		LEFT JOIN F4121 ON(
			@P_company_cd 			=	F4121.company_cd
		AND @P_fiscal_year			=	F4121.fiscal_year
		AND @P_employee_cd			=	F4121.employee_cd
		AND	@P_report_kind			=	F4121.report_kind
		AND @P_viewer_employee_cd	=	F4121.viewer_employee_cd
		)
		WHERE  
			F4121.company_cd IS NULL
	
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		A.message_no
	,	A.item
	,	A.order_by
	,	A.error_typ
	,	A.value1
	,	A.value2
	,	A.remark
	,	IIF(@P_language = 'en',L0020.message_english,L0020.[message]) AS message_content
	FROM @ERR_TBL AS A LEFT OUTER JOIN L0020 ON (
		A.message_no = L0020.message_cd
	)
	ORDER BY 
		order_by
END
GO
