BEGIN
    DROP PROCEDURE [dbo].[SPC_rI1021_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
/****************************************************************************************************
 *
 *  処理概要：ri1021 - SAVE
 *
 *  作成日  ：2023/04/13
 *  作成者  ：ANS-ASIA QUANGND
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/

CREATE PROCEDURE [SPC_rI1021_ACT1] 
	@P_json			NVARCHAR(MAX)= ''
,	@P_cre_user		NVARCHAR(50) = ''
,	@P_cre_ip		NVARCHAR(50) = ''
,	@P_company_cd	SMALLINT	 = 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2		= SYSDATETIME()
	,	@ERR_TBL				ERRTABLE
	,	@w_report_kind			SMALLINT		= 0
	,	@w_fiscal_year			SMALLINT		= 0
	--
	CREATE TABLE #LIST_EMP(
		id						INT IDENTITY(1,1)	
	,	employee_cd				NVARCHAR(10)
	)
	--
	CREATE TABLE #LIST_EMP_VIEWER(
		id						INT IDENTITY(1,1)	
	,	employee_cd				NVARCHAR(10)
	,	viewer_employee_cd		NVARCHAR(10)
	)
	-- get report_no
	CREATE TABLE #TEMP(
		id						INT IDENTITY(1,1)	
	,	company_cd				SMALLINT
	,	fiscal_year				SMALLINT
	,	employee_cd				NVARCHAR(10)
	,	report_kind				SMALLINT
	,	viewer_employee_cd		NVARCHAR(10)					
	)
	--
	CREATE TABLE #CHECK_F4200(
		id						INT IDENTITY(1,1)	
	,	company_cd				SMALLINT
	,	fiscal_year				SMALLINT
	,	employee_cd				NVARCHAR(10)
	,	report_kind				SMALLINT
	--,	report_no				SMALLINT					
	)
	-- 
	CREATE TABLE #TEMP_UPDATE(
		id						INT IDENTITY(1,1)	
	,	company_cd				SMALLINT
	,	fiscal_year				SMALLINT
	,	employee_cd				NVARCHAR(10)
	,	report_kind				SMALLINT
	,	viewer_employee_cd		NVARCHAR(10)
	,	cre_user				NVARCHAR(50)
	,	cre_ip					NVARCHAR(50)
	,	cre_prg					NVARCHAR(20)
	,	cre_datetime			DATETIME
	)
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	--
	SET @w_report_kind		=	ISNULL(JSON_VALUE(@P_json,'$.report_kind'),0)
	SET @w_fiscal_year		=	ISNULL(JSON_VALUE(@P_json,'$.fiscal_year'),0)
	--#LIST_EMP
	INSERT INTO #LIST_EMP
	SELECT 
		employee_cd
	FROM OPENJSON(@P_json, '$.list_employee') WITH(
		employee_cd		NVARCHAR(10)
	)
	--#LIST_EMP_VIEWER
	INSERT INTO #LIST_EMP_VIEWER
	SELECT 
		employee_cd
	,	ISNULL(viewer_employee_cd,'')
	FROM OPENJSON(@P_json, '$.list_employee') WITH(
		employee_cd					NVARCHAR(10)
	,	list_viewer_employee_cd		NVARCHAR(MAX)  AS JSON
	)
	OUTER APPLY OPENJSON(list_viewer_employee_cd)
	WITH (
		viewer_employee_cd			NVARCHAR(10)
	)
	--
	IF EXISTS (SELECT 1 FROM #LIST_EMP_VIEWER WHERE viewer_employee_cd = '')
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			29								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	--
	IF EXISTS (SELECT 1 FROM #LIST_EMP_VIEWER WHERE employee_cd = viewer_employee_cd)
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			154								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'employee_cd'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	--#TEMP
	INSERT INTO #TEMP
	SELECT 
		@P_company_cd
	,	@w_fiscal_year
	,	#LIST_EMP_VIEWER.employee_cd
	,	@w_report_kind
	,	#LIST_EMP_VIEWER.viewer_employee_cd
	FROM  #LIST_EMP_VIEWER 

	--
	INSERT INTO #CHECK_F4200
	select 
		company_cd			
	,	fiscal_year			
	,	employee_cd			
	,	report_kind			
--	,	report_no			
	from #TEMP
	group by 
		company_cd			
	,	fiscal_year			
	,	employee_cd			
	,	report_kind			
--	,	report_no	
	--
	IF EXISTS (SELECT 1 FROM @ERR_TBL)  GOTO COMPLETE_QUERY
	--
	INSERT INTO #TEMP_UPDATE
	SELECT 
		F4121.company_cd
	,	F4121.fiscal_year
	,	F4121.employee_cd
	,	F4121.report_kind
	,	F4121.viewer_employee_cd
	,	F4121.cre_user
	,	F4121.cre_ip
	,	F4121.cre_prg
	,	F4121.cre_datetime
	FROM F4121
	INNER JOIN #TEMP ON(
		F4121.company_cd			= #TEMP.company_cd
	AND	F4121.fiscal_year			= #TEMP.fiscal_year
	AND	F4121.employee_cd			= #TEMP.employee_cd
	AND	F4121.report_kind			= #TEMP.report_kind
	AND	F4121.viewer_employee_cd	= #TEMP.viewer_employee_cd
	)
	WHERE
		F4121.company_cd  = @P_company_cd
	AND F4121.fiscal_year = @w_fiscal_year
	AND F4121.report_kind = @w_report_kind
	AND F4121.del_datetime IS NULL
	--
	BEGIN TRANSACTION
	BEGIN TRY
		DELETE F4121 FROM F4121 AS D
		INNER JOIN #LIST_EMP ON(
			#LIST_EMP.employee_cd	= D.employee_cd 
		)
		WHERE
			D.company_cd  = @P_company_cd
		AND	D.fiscal_year = @w_fiscal_year
		AND D.report_kind = @w_report_kind	
		-- F4121
		INSERT INTO F4121
		SELECT 
			@P_company_cd
		,	@w_fiscal_year
		,	#TEMP_UPDATE.employee_cd
		,	@w_report_kind
		,	#TEMP_UPDATE.viewer_employee_cd
		,	#TEMP_UPDATE.cre_user
		,	#TEMP_UPDATE.cre_ip
		,	#TEMP_UPDATE.cre_prg
		,	#TEMP_UPDATE.cre_datetime
		,	@P_cre_user
		,	@P_cre_ip
		,	'rI1021'
		,	@w_time
		,	''
		,	''
		,	''
		,	NULL
		FROM #TEMP_UPDATE
		--F4121
		
		INSERT INTO F4121
		SELECT 
			@P_company_cd
		,	@w_fiscal_year
		,	#TEMP.employee_cd
		,	@w_report_kind
		,	#TEMP.viewer_employee_cd
		,	@P_cre_user
		,	@P_cre_ip
		,	'rI1021'
		,	@w_time
		,	''
		,	''
		,	''
		,	NULL
		,	''
		,	''
		,	''
		,	NULL
		FROM #TEMP
		LEFT JOIN F4121 ON(
			@P_company_cd 				=	F4121.company_cd
		AND @w_fiscal_year				=	F4121.fiscal_year
		AND #TEMP.employee_cd			=	F4121.employee_cd
		AND	#TEMP.report_kind			=	F4121.report_kind
		AND #TEMP.viewer_employee_cd	=	F4121.viewer_employee_cd
		)
		WHERE  
			F4121.company_cd IS NULL
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	-- Insert statements for procedure here
	IF (SELECT COUNT(1) FROM @ERR_TBL) > 1
	BEGIN
		ROLLBACK TRANSACTION
	END
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
	COMPLETE_QUERY:

	-- GET ERROR_TYPE MIN
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END

GO
