DROP PROCEDURE [SPC_I2040_ACT5]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_I2040_ACT1 '{"fiscal_year":"2018","employee_typ":"-1","list":[],"row_data":[{"ck_item":"1","employee_cd":"794","valuation_step":"1","treatment_applications_no":"1","point_sum1":"470.6000","adjust_point1":"","rank_kinds1":-1,"step1_point_status":"1","point_sum2":"0","adjust_point2":"","rank_kinds2":-1,"step2_point_status":"","point_sum3":"0","adjust_point3":"","rank_kinds3":-1,"step3_point_status":"","point_sum4":"0","adjust_point4":"","rank_kinds4":-1,"step4_point_status":"","point_sum5":"0","adjust_point5":"","rank_kinds5":-1,"final_point_status":"","comment":""},{"ck_item":"0","employee_cd":"794","valuation_step":"1","treatment_applications_no":"2","point_sum1":"300.0000","adjust_point1":"","rank_kinds1":-1,"step1_point_status":"1","point_sum2":"0","adjust_point2":"","rank_kinds2":-1,"step2_point_status":"","point_sum3":"0","adjust_point3":"","rank_kinds3":-1,"step3_point_status":"","point_sum4":"0","adjust_point4":"","rank_kinds4":-1,"step4_point_status":"","point_sum5":"0","adjust_point5":"","rank_kinds5":-1,"final_point_status":"","comment":""}]}','1','datnt','::1';

--****************************************************************************************
--*   											
--*  処理概要/process overview	:	I2040
--*  
--*  作成日/create date			:	2018/10/19				
--*　作成者/creater				:	Datnt								
--*   					
--*  更新日/update date			:  
--*　更新者/updater				:　
--*　更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_I2040_ACT5] 
	-- Add the parameters for the stored procedure here
	-- common
	@P_json				NVARCHAR(MAX)	=	''
,	@P_company_cd		SMALLINT		=	0
,	@P_user_id			NVARCHAR(50)	=	''
,	@P_cre_ip			NVARCHAR(50)	=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					=	0

	CREATE TABLE #TEMP_LABEL(
		id				INT IDENTITY(1,1)
	,	item_cd			INT
	,	display_kbn		INT
	)
	
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		INSERT INTO #TEMP_LABEL
		SELECT
			[row].item_cd
		,	[row].display_kbn												
		FROM OPENJSON(@P_json,'$.pop_tr') WITH(			
			item_cd				INT
		,	display_kbn			INT
		) AS [row] 
	
		--DELETE S0011 WHERE company_cd = @P_company_cd and user_id = @P_user_id
		--INSERT INTO S0011
		
			UPDATE S0011 SET
				display_kbn		= #TEMP_LABEL.display_kbn
			,	order_no		= #TEMP_LABEL.id
			,	upd_user		= @P_user_id						
			,	upd_ip			= @P_cre_ip	
			,	upd_prg			= 'I2040'						
			,	upd_datetime	= @w_time				
			,	del_user		= ''						
			,	del_ip			= ''	
			,	del_prg			= ''						
			,	del_datetime	= NULL	
			FROM #TEMP_LABEL
			WHERE S0011.company_cd	= @P_company_cd
			AND user_id				= @P_user_id
			AND S0011.item_cd		= #TEMP_LABEL.item_cd
		
			INSERT INTO S0011
			SELECT 
			@P_company_cd						--company_cd
		,	@P_user_id							--user_id
		,	#TEMP_LABEL.item_cd					--item_cd
		,	#TEMP_LABEL.display_kbn				--display_kbn
		,	#TEMP_LABEL.id						--order_no
		,	@P_user_id							--cre_user
		,	@P_cre_ip							--cre_ip
		,	'I2040'								--cre_prg
		,	@w_time								--cre_datetime
		,	''									--upd_user
		,	''									--upd_ip
		,	''									--upd_prg
		,	NULL								--upd_datetime
		,	''									--del_user
		,	''									--del_ip
		,	''									--del_prg
		,	NULL								--del_datetime
		FROM  #TEMP_LABEL LEFT JOIN S0011 ON(
			@P_company_cd		=	S0011.company_cd
		AND @P_user_id			=	S0011.user_id
		AND #TEMP_LABEL.item_cd	=	S0011.item_cd
		)WHERE S0011.company_cd	IS NULL
		

	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	--■DROP TABLE 
	--DROP TABLE #TEMP_F0122

	
END

GO
