DROP PROCEDURE [SPC_I2040_ACT3]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_I2040_ACT1 '{"fiscal_year":"2018","employee_typ":"-1","list":[],"row_data":[{"ck_item":"1","employee_cd":"794","valuation_step":"1","treatment_applications_no":"1","point_sum1":"470.6000","adjust_point1":"","rank_kinds1":-1,"step1_point_status":"1","point_sum2":"0","adjust_point2":"","rank_kinds2":-1,"step2_point_status":"","point_sum3":"0","adjust_point3":"","rank_kinds3":-1,"step3_point_status":"","point_sum4":"0","adjust_point4":"","rank_kinds4":-1,"step4_point_status":"","point_sum5":"0","adjust_point5":"","rank_kinds5":-1,"final_point_status":"","comment":""},{"ck_item":"0","employee_cd":"794","valuation_step":"1","treatment_applications_no":"2","point_sum1":"300.0000","adjust_point1":"","rank_kinds1":-1,"step1_point_status":"1","point_sum2":"0","adjust_point2":"","rank_kinds2":-1,"step2_point_status":"","point_sum3":"0","adjust_point3":"","rank_kinds3":-1,"step3_point_status":"","point_sum4":"0","adjust_point4":"","rank_kinds4":-1,"step4_point_status":"","point_sum5":"0","adjust_point5":"","rank_kinds5":-1,"final_point_status":"","comment":""}]}','1','datnt','::1';

--****************************************************************************************
--*   											 
--*  処理概要/process overview	:	I2040_確定解除
--*  
--*  作成日/create date			:	2018/10/19				
--*　作成者/creater				:	Datnt								
--*   					
--*  更新日/update date			:	2021/04/02
--*　更新者/updater				:　 viettd
--*　更新内容/update content		:	when authority_typ = 3 (admin) & authority=0,1(I2040) -> set authority_typ = 2 (rater)
--*   					
--*  更新日/update date			:	2021/04/07
--*　更新者/updater				:　 viettd
--*　更新内容/update content		:	update F0200.point_sum ~ rank_cd = 0
--*   					
--*  更新日/update date			:	2021/10/14
--*　更新者/updater				:　 viettd
--*　更新内容/update content		:	fix bug when dont update cancel when exits data in F0200.
--*   					
--*  更新日/update date			:	2022/03/31
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	when authority_typ = 3 (admin) & RATER ROUTER -> set authority_typ = 2 (rater)
--*   					
--*  更新日/update date			:	2022/08/16
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgrade 1.9
--*   					
--*  更新日/update date			:	2022/03/23
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	fix bug when 確定解除
--*   					
--*  更新日/update date			:	2024/02/21
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	[確定解除]: when 最終評価 then delete table F0201
--*   					
--*  更新日/update date			:	2025/09/17
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	when reject then update submited information of F0120
--****************************************************************************************
CREATE PROCEDURE [SPC_I2040_ACT3] 
	-- Add the parameters for the stored procedure here
	@P_json				NVARCHAR(MAX)	=	''
,	@P_company_cd		SMALLINT		=	0
,	@P_user_id			NVARCHAR(50)	=	''
,	@P_cre_ip			NVARCHAR(50)	=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					=	0
	,	@interview_no			INT					=	0
	,	@step					INT					=	0	
	,	@fiscal_year			INT					=	0
	,	@authority_typ			INT					=	0
	,	@employee_cd			NVARCHAR(20)		=	''
	,	@authority_cd			INT					=	0
	,	@max_step				INT					=	0
	,	@authority				INT					=	0
	,	@taget_step				INT					=	0
	,	@evalu_step				INT					=	0
	,	@admin_is_rater			INT					=   0 --0:not rater / 1:rater

	-- #TREATMENT_NO
	CREATE TABLE #TREATMENT_NO(
		id				INT IDENTITY(1,1)
	,	treatment_no	INT
	)
	CREATE TABLE #TABLE_JSON(
		id							INT  IDENTITY(1,1)
	,	ck_item						INT	
	,	employee_cd					NVARCHAR(20) 
	,	treatment_applications_no   INT
	,	evaluation_step				INT
	)
	CREATE TABLE #TBL_STEP(
		employee_cd					NVARCHAR(20)
	,	evaluation_step				INT
	)
	CREATE TABLE #F0120(	
		employee_cd		NVARCHAR(20)
	,	sheet_cd		INT
	)
	CREATE TABLE #TABLE_CHECK(
		id							INT IDENTITY(1,1)
	,	employee_cd					NVARCHAR(20) 
	,	treatment_applications_no   INT
	,	evaluation_step				INT
	,	flag						INT
	)
	CREATE TABLE #M0310_1(
		id							INT IDENTITY(1,1)
	,	status_cd					INT
	)
	CREATE TABLE #M0310_2(
		id							INT IDENTITY(1,1)
	,	status_cd					INT
	)
	CREATE TABLE #F0032(
		company_cd					INT
	,	fiscal_year					INT
	,	treatment_applications_no	INT
	,	group_cd					INT
	,	employee_cd					NVARCHAR(50)
	,	sheet_cd					INT
	,	weight						INT
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		-- GET @max_step
		SELECT @max_step  =	CASE 
								WHEN M0100.target_evaluation_typ_4  = 1 OR M0100.evaluation_typ_4 = 1 
								THEN 4
								WHEN (M0100.target_evaluation_typ_4  <> 1 AND M0100.evaluation_typ_4 <> 1 ) AND(M0100.target_evaluation_typ_3  = 1 OR M0100.evaluation_typ_3 = 1 )
								THEN 3
								WHEN (M0100.target_evaluation_typ_4  <> 1 AND M0100.evaluation_typ_4 <> 1 ) AND(M0100.target_evaluation_typ_3  <> 1 OR M0100.evaluation_typ_3 <> 1 )AND(M0100.target_evaluation_typ_2  = 1 OR M0100.evaluation_typ_2 = 1 )
								THEN 2
								ELSE 1
							END
		FROM M0100
		--
		SELECT @taget_step	=	(M0100.target_evaluation_typ_1 + M0100.target_evaluation_typ_2 + M0100.target_evaluation_typ_3 + M0100.target_evaluation_typ_4)  FROM M0100 where company_cd = @P_company_cd
		SELECT @evalu_step	=	(M0100.evaluation_typ_1 + M0100.evaluation_typ_2 + M0100.evaluation_typ_3 + M0100.evaluation_typ_4)  FROM M0100 where company_cd = @P_company_cd
		--
		INSERT INTO #TREATMENT_NO
		SELECT
			[row].treatment_no												
		FROM OPENJSON(@P_json,'$.list_treatment_applications_no') WITH(			
			treatment_no				INT
		) AS [row] 
		--
		INSERT INTO #TABLE_JSON
		SELECT	
			[row].ck_item	
		,	[row].employee_cd                  
		,	[row].treatment_applications_no_1   
		,	[row].valuation_step  
		FROM OPENJSON(@P_json,'$.row_data') WITH(
			ck_item						INT			
		,	employee_cd					NVARCHAR(10) 
		,	treatment_applications_no_1   INT
		,	valuation_step				INT
		) AS [row] 
		-- DELETE UN CHECK ITEM ON SCREEN 
		DELETE #TABLE_JSON WHERE ck_item	=	0
		--
		SELECT 
			@authority_typ	=	ISNULL(authority_typ,0) 
		,	@employee_cd	=	M0070.employee_cd
		,	@authority_cd	=	ISNULL(S0010.authority_cd,0)
		FROM S0010 LEFT JOIN M0070 ON (
			M0070.company_cd		=	S0010.company_cd
		AND M0070.employee_cd		=	S0010.employee_cd
		AND M0070.del_datetime		IS NULL 
		) 
		WHERE 
			S0010.user_id		= @P_user_id 
		AND S0010.company_cd	= @P_company_cd 
		AND S0010.del_datetime  IS NULL
		--
		SELECT 
			@authority = ISNULL(authority,0)
		FROM S0021
		WHERE	
			company_cd = @P_company_cd
		AND authority_cd = @authority_cd
		AND function_id = 'I2040'
		AND del_datetime IS NULL
		-- ↓↓↓ add by vietd 2022/08/16
		IF @authority_typ = 6
		BEGIN
			SET @authority_typ = 2 -- 2.RATER
		END
		-- ↑↑↑ end add by vietd 2022/08/16
		--
		SET @fiscal_year		=	IIF(JSON_VALUE(@P_json,'$.fiscal_year') = -1,YEAR(@w_time),JSON_VALUE(@P_json,'$.fiscal_year'))
		--CHECK ADMIN IS RATER add by viettd 2021/04/02
		-- CHECK PERMISSION OF USER WHEN FINAL(=5.最終評価)
		IF @authority_typ = 3 AND @authority IN (0,1)
		BEGIN
			IF EXISTS (SELECT 1 FROM #TABLE_JSON WHERE evaluation_step = 5)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT 		
					87											-- mã lỗi (trùng với mã trong bảng message) 					
				,	''											-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby									-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1-- tooltip  								-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0											-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0											-- Tùy ý
				,	'WHEN FINAL(確定) THIS USER NOT PERMISSION '	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			END
		END
		-- CHECK PERMISSION OF USER WHEN STEP EVALUTATION(< 5.最終評価)
		IF @authority_typ = 3
		BEGIN
			IF  EXISTS (SELECT 1 FROM #TABLE_JSON 
			INNER JOIN F0100 ON (
				@P_company_cd			= F0100.company_cd
			AND @fiscal_year			= F0100.fiscal_year
			AND #TABLE_JSON.employee_cd = F0100.employee_cd
					AND F0100.del_datetime IS NULL
			)  
			WHERE 
				#TABLE_JSON.evaluation_step	<>	5	-- 5.最終評価
			AND	
				(
					rater_employee_cd_1 = @employee_cd 
				OR	rater_employee_cd_2 = @employee_cd 
				OR	rater_employee_cd_3 = @employee_cd 
				OR	rater_employee_cd_4 = @employee_cd 
				)
			)
			BEGIN
				SET @admin_is_rater = 1
			END
			--W
			IF (@authority < 2  AND @admin_is_rater = 0)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT 		
					87												-- mã lỗi (trùng với mã trong bảng message) 					
				,	''												-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	1-- oderby										-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1-- tooltip  									-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0												-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0												-- Tùy ý
				,	'WHEN STEP(NOT 最終) THIS USER NOT PERMISSION'	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			END
			-- ↓↓↓ add by vietd 2021/04/02
			-- if admin & @authority_typ < 2 then set admin to rater
			--IF @authority <> 2
			--BEGIN
			--	SET @authority_typ = 2 -- 2.RATER
			--END
			-- ↑↑↑ end add by vietd 2021/04/02
			-- edited by viettd 2022/03/31
			IF @admin_is_rater = 1
			BEGIN
				SET @authority_typ = 2 -- ADMIN IS RATER
			END
		END
		--
		INSERT INTO  #F0032
		SELECT
			company_cd
		,	fiscal_year
		,	treatment_applications_no
		,	MAX(group_cd)
		,	employee_cd
		,	sheet_cd
		,	weight
		FROM F0032
		WHERE 
			company_cd		=	@P_company_cd
		AND fiscal_year		=	@fiscal_year
		AND del_datetime IS NULL
		GROUP BY	
			company_cd
		,	fiscal_year
		,	treatment_applications_no
		,	employee_cd
		,	detail_no
		,	sheet_cd
		,	weight
		--
		UPDATE #TABLE_JSON SET 
			evaluation_step = 5
		FROM #TABLE_JSON
		WHERE 
			#TABLE_JSON.employee_cd = @employee_cd
		--
		UPDATE #TABLE_JSON SET 
			evaluation_step = 	CASE 
									WHEN @authority_typ IN(3,4,5) AND F0201.confirm_datetime IS NOT NULL THEN 5
									WHEN @authority_typ IN(3,4,5) AND #F0100.rater_employee_cd_4 <> '' AND F0200_4.confirm_datetime IS NOT NULL THEN 4
									WHEN @authority_typ IN(3,4,5) AND #F0100.rater_employee_cd_3 <> '' AND F0200_3.confirm_datetime IS NOT NULL THEN 3
									WHEN @authority_typ IN(3,4,5) AND #F0100.rater_employee_cd_2 <> '' AND F0200_2.confirm_datetime IS NOT NULL THEN 2
									WHEN @authority_typ IN(3,4,5) AND #F0100.rater_employee_cd_1 <> '' AND F0200_1.confirm_datetime IS NOT NULL THEN 1
									WHEN @authority_typ NOT IN(3,4,5) AND (#F0100.rater_employee_cd_4 = @employee_cd AND  F0200_4.employee_cd IS NOT NULL AND F0201.employee_cd IS NULL AND #TABLE_JSON.employee_cd <> @employee_cd)THEN 4
									WHEN @authority_typ NOT IN(3,4,5) AND (#F0100.rater_employee_cd_3 = @employee_cd AND  F0200_3.employee_cd IS NOT NULL AND F0201.employee_cd IS NULL AND #TABLE_JSON.employee_cd <> @employee_cd)THEN 3
									WHEN @authority_typ NOT IN(3,4,5) AND (#F0100.rater_employee_cd_2 = @employee_cd AND  F0200_2.employee_cd IS NOT NULL AND F0201.employee_cd IS NULL AND #TABLE_JSON.employee_cd <> @employee_cd)THEN 2
									WHEN @authority_typ NOT IN(3,4,5) AND (#F0100.rater_employee_cd_1 = @employee_cd AND  F0200_1.employee_cd IS NOT NULL AND F0201.employee_cd IS NULL AND #TABLE_JSON.employee_cd <> @employee_cd)THEN 1
									ELSE #TABLE_JSON.evaluation_step 
								END	
		FROM #TABLE_JSON
		--↓↓↓ edited by viettd 2023/03/23
		LEFT JOIN (
			SELECT     
				treatment_applications_no
			,	employee_cd
			,	rater_employee_cd_1
			,	rater_employee_cd_2
			,	rater_employee_cd_3
			,	rater_employee_cd_4
			FROM F0030
			WHERE 
				F0030.company_cd	=	@P_company_cd
			AND F0030.fiscal_year	=	@fiscal_year
			AND F0030.del_datetime IS NULL
			GROUP BY 
				treatment_applications_no
			,	employee_cd
			,	rater_employee_cd_1
			,	rater_employee_cd_2
			,	rater_employee_cd_3
			,	rater_employee_cd_4
		)AS #F0100 ON(
			#TABLE_JSON.treatment_applications_no	=	#F0100.treatment_applications_no
		AND #TABLE_JSON.employee_cd					=	#F0100.employee_cd
		)
		LEFT JOIN F0201 ON(
			@P_company_cd							=	F0201.company_cd
		AND	@fiscal_year							=	F0201.fiscal_year
		AND	#TABLE_JSON.employee_cd					=	F0201.employee_cd
		AND	#TABLE_JSON.treatment_applications_no	=	F0201.treatment_applications_no
		)
		LEFT JOIN F0200  AS F0200_1 ON(
			@P_company_cd							=	F0200_1.company_cd
		AND	@fiscal_year							=	F0200_1.fiscal_year
		AND	#TABLE_JSON.employee_cd					=	F0200_1.employee_cd
		AND	#TABLE_JSON.treatment_applications_no	=	F0200_1.treatment_applications_no
		AND 1										=	F0200_1.evaluation_step
		)
		LEFT JOIN F0200  AS F0200_2 ON(
			@P_company_cd								=	F0200_2.company_cd
		AND	@fiscal_year								=	F0200_2.fiscal_year
		AND	#TABLE_JSON.employee_cd						=	F0200_2.employee_cd
		AND	#TABLE_JSON.treatment_applications_no		=	F0200_2.treatment_applications_no
		AND 2											=	F0200_2.evaluation_step
		)
		LEFT JOIN F0200  AS F0200_3 ON(
			@P_company_cd								=	F0200_3.company_cd
		AND	@fiscal_year								=	F0200_3.fiscal_year
		AND	#TABLE_JSON.employee_cd						=	F0200_3.employee_cd
		AND	#TABLE_JSON.treatment_applications_no		=	F0200_3.treatment_applications_no
		AND 3											=	F0200_3.evaluation_step
		)
		LEFT JOIN F0200  AS F0200_4 ON(
			@P_company_cd								=	F0200_4.company_cd
		AND	@fiscal_year								=	F0200_4.fiscal_year
		AND	#TABLE_JSON.employee_cd						=	F0200_4.employee_cd
		AND	#TABLE_JSON.treatment_applications_no		=	F0200_4.treatment_applications_no
		AND 4											=	F0200_4.evaluation_step
		)
		--
		INSERT INTO #TBL_STEP
		SELECT 
			#TABLE_JSON.employee_cd
		,	#TABLE_JSON.evaluation_step
		FROM #TABLE_JSON 
		--
		IF NOT EXISTS(SELECT 1 FROM #TABLE_JSON)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				18									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'NONE OF ROW HAS BEEN SELECTED'		-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END 
		--
		INSERT INTO #TABLE_CHECK
		SELECT 
			#TABLE_JSON.employee_cd					
		,	#TABLE_JSON.treatment_applications_no   
		,	#TBL_STEP.evaluation_step	
		,	1			
		FROM F0200 
		LEFT JOIN #TBL_STEP ON(
			F0200.employee_cd = #TBL_STEP.employee_cd
		)
		INNER JOIN #TABLE_JSON ON(
			F0200.company_cd				=	@P_company_cd
		AND	F0200.employee_cd				=	#TABLE_JSON.employee_cd
		AND	F0200.fiscal_year				=	@fiscal_year
		AND	F0200.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
		AND	F0200.evaluation_step			=	#TBL_STEP.evaluation_step
		)
		WHERE 
			F0200.confirm_datetime	IS NOT NULL
		AND	F0200.del_datetime	IS NULL
		--check exists data in F0200
		INSERT INTO @ERR_TBL
		SELECT
			75									-- mã lỗi (trùng với mã trong bảng message) 					
		,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'NOT CONFIRM IN F0200 YET'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM  #TABLE_JSON 
		LEFT JOIN #TABLE_CHECK ON(
			#TABLE_JSON.employee_cd					=	#TABLE_CHECK.employee_cd			
		AND	#TABLE_JSON.treatment_applications_no   =	#TABLE_CHECK.treatment_applications_no
		) 
		WHERE 
			#TABLE_CHECK.employee_cd IS NULL
		AND #TABLE_JSON.evaluation_step <> 5
		--■■■■■■■■■■■■■■■■■■■■■■■ GET ROW HAS BEEN CONFIRMED IN F0200 ■■■■■■■■■■■■■■■■■■■■■■■■
		IF(@authority_typ = 2)
		--no data in f0200 before   ????
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT 		
				45									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'NO  DATA IN F0200'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM  #TABLE_JSON
			LEFT JOIN F0200 ON(
				@P_company_cd								=	F0200.company_cd
			AND	@fiscal_year								=	F0200.fiscal_year
			AND	#TABLE_JSON.employee_cd						=	F0200.employee_cd
			AND #TABLE_JSON.treatment_applications_no		=	F0200.treatment_applications_no
			--AND	#TABLE_JSON.evaluation_step 				=	F0200.evaluation_step
			)
			WHERE  F0200.company_cd	 IS NULL
			-- Check IS next step has INSERT POINT  ????
			INSERT INTO @ERR_TBL 
			SELECT 		
				45									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'NEXT STEP HAS DATA IN F0200'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM  #TABLE_JSON
			LEFT JOIN #TBL_STEP ON(
				#TABLE_JSON.employee_cd = #TBL_STEP.employee_cd
			)
			LEFT JOIN F0200 ON(
				@P_company_cd								=	F0200.company_cd
			AND	@fiscal_year								=	F0200.fiscal_year
			AND	#TABLE_JSON.employee_cd						=	F0200.employee_cd
			AND #TABLE_JSON.treatment_applications_no		=	F0200.treatment_applications_no
			AND	#TBL_STEP.evaluation_step + 1				=	F0200.evaluation_step
			)
			WHERE
				F0200.company_cd	 IS NOT NULL
			AND F0200.confirm_datetime IS NOT NULL		--	add by viettd 2021/10/14
			-- Check IS next step has INSERT POINT  ????
			IF NOT EXISTS(SELECT 1 FROM @ERR_TBL WHERE message_no = '45')
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT 		
					45									-- mã lỗi (trùng với mã trong bảng message) 					
				,	'.list_employee_nm'									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	#TABLE_JSON.id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0									-- Tùy ý
				,	'FINAL HAS DATA IN F0201'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
				FROM  #TABLE_JSON
				LEFT JOIN F0201 ON(
					@P_company_cd								=	F0201.company_cd
				AND	@fiscal_year								=	F0201.fiscal_year
				AND	#TABLE_JSON.employee_cd						=	F0201.employee_cd
				AND #TABLE_JSON.treatment_applications_no		=	F0201.treatment_applications_no
				)
				WHERE	
					F0201.company_cd	 IS NOT NULL
				AND F0201.confirm_datetime IS NOT NULL --	add by viettd 2021/10/14
			END
		END 
		ELSE
		BEGIN
			INSERT INTO @ERR_TBL 
			SELECT 		
				45									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'NO  DATA IN F0201'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM  #TABLE_JSON
			LEFT JOIN F0201 ON(
				@P_company_cd								=	F0201.company_cd
			AND	@fiscal_year								=	F0201.fiscal_year
			AND	#TABLE_JSON.employee_cd						=	F0201.employee_cd
			AND #TABLE_JSON.treatment_applications_no		=	F0201.treatment_applications_no
			AND #TABLE_JSON.evaluation_step					=	5
			)
			WHERE  
				F0201.company_cd	 IS NULL
			AND #TABLE_JSON.evaluation_step	=	5
			--■■■■■■■■■■■■■■■■■■■■■■■ GET ROW HAS BEEN CONFIRMED IN F0201 ■■■■■■■■■■■■■■■■■■■■■■■■
			INSERT INTO #TABLE_CHECK
			SELECT 
				#TABLE_JSON.employee_cd					
			,	#TABLE_JSON.treatment_applications_no   
			,	#TABLE_JSON.evaluation_step	
			,	2			
			FROM F0201 
			INNER JOIN #TABLE_JSON ON(
				F0201.company_cd				=	@P_company_cd
			AND	F0201.fiscal_year				=	@fiscal_year
			AND	F0201.employee_cd				=	#TABLE_JSON.employee_cd
			AND	F0201.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
			)
			WHERE 
				F0201.del_datetime IS NULL
			AND F0201.confirm_datetime	IS NOT NULL
			--check exists data in F0201
			INSERT INTO @ERR_TBL 
			SELECT		
				75									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'NOT CONFIRM IN F0201 YET'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM   #TABLE_JSON 
			LEFT JOIN #TABLE_CHECK ON(
				#TABLE_JSON.employee_cd					=	#TABLE_CHECK.employee_cd			
			AND	#TABLE_JSON.treatment_applications_no   =	#TABLE_CHECK.treatment_applications_no
			AND	#TABLE_JSON.evaluation_step				=	#TABLE_CHECK.evaluation_step
			) WHERE #TABLE_CHECK.employee_cd IS NULL
			AND #TABLE_JSON.evaluation_step	=	5
			--AND	#TABLE_CHECK.flag = 2 
		END
		--■■■■■■■■■■■■■■■■■■■■■■■ INERT UPDATE ■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- GET 4 STATUS USE_TYP = 1 FOR 4 RATER FOR SHEET KBN = 1 
			INSERT INTO #M0310_1
			SELECT TOP 4 
				M0310.status_cd
			FROM M0310
			WHERE 
				M0310.company_cd	=   @P_company_cd
			AND	M0310.category		=	1
			AND M0310.status_cd		>	3
			AND M0310.del_datetime		IS NULL
			AND	M0310.status_use_typ = 1
			-- GET 4 STATUS USE_TYP = 1 FOR 4 RATER FOR SHEET KBN = 2 
			INSERT INTO #M0310_2
			SELECT TOP 4 
				M0310.status_cd
			FROM M0310
			WHERE 
				M0310.company_cd	=   @P_company_cd
			AND	M0310.category		=	2
			AND M0310.status_cd		>	1
			AND M0310.del_datetime		IS NULL
			AND	M0310.status_use_typ = 1
			--
			INSERT INTO #F0120
			SELECT 
				F0120.employee_cd
			,	F0120.sheet_cd
			FROM  #TABLE_JSON
			LEFT JOIN #F0032 ON(
				@P_company_cd								=	#F0032.company_cd
			AND	@fiscal_year								=	#F0032.fiscal_year
			AND	#TABLE_JSON.employee_cd						=	#F0032.employee_cd
			AND #TABLE_JSON.treatment_applications_no		=	#F0032.treatment_applications_no
			)
			LEFT JOIN F0120 ON(
				@P_company_cd								=	f0120.company_cd
			AND	@fiscal_year								=	f0120.fiscal_year
			AND	#TABLE_JSON.employee_cd						=	f0120.employee_cd
			AND	F0120.sheet_cd								=	#F0032.sheet_cd
			--AND	F0120.evaluation_step						=	#TABLE_JSON.evaluation_step 
			)
			WHERE  
				F0120.company_cd = @P_company_cd
			AND F0120.submit_datetime IS NOT NULL
			-- when @authority_typ = 2
			IF(@authority_typ = 2)
			BEGIN
				UPDATE F0200 SET 
					confirm_user			=	''		
				,	confirm_ip				=	''	
				,	confirm_datetime		=	NULL		
				,	point_sum				=	0			-- add by viettd 2021/04/07
				,	adjust_point			=	0			-- add by viettd 2021/04/07
				,	rank_cd					=	0			-- add by viettd 2021/04/07
				,	upd_user				=	@P_user_id			
				,	upd_ip					=	@P_cre_ip
				,	upd_prg					=	'I2040'	
				,	upd_datetime			=	@w_time	
				FROM F0200 
				INNER JOIN  #TBL_STEP ON (
					F0200.employee_cd				=	#TBL_STEP.employee_cd
				)
				INNER JOIN #TABLE_JSON ON(
					F0200.company_cd				=	@P_company_cd
				AND	F0200.employee_cd				=	#TABLE_JSON.employee_cd
				AND	F0200.fiscal_year				=	@fiscal_year
				AND	F0200.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				)
				WHERE 
					F0200.company_cd					=	@P_company_cd
				AND	F0200.fiscal_year					=	@fiscal_year
				AND	F0200.employee_cd					=	#TABLE_JSON.employee_cd
				AND	F0200.treatment_applications_no		=	#TABLE_JSON.treatment_applications_no
				AND	F0200.evaluation_step				=	#TBL_STEP.evaluation_step
				AND #TBL_STEP.evaluation_step			<> 5
				AND	F0200.del_datetime	IS NULL
			END	
			-- when @authority_typ in (3,4,5)
			ELSE IF(@authority_typ IN (3,4,5))	
			BEGIN 
				---- update F0201
				--UPDATE F0201 SET
				--	confirm_user			=	''			
				--,	confirm_ip				=	''	
				--,	confirm_datetime		=	NULL
				--,	raterFB_user			=	''	
				--,	raterFB_ip				=	''	
				--,	raterFB_datetime		=	NULL
				--,	evaluatorFB_user		=	''	
				--,	evaluatorFB_ip			=	''	
				--,	evaluatorFB_datetime	=	NULL
				--,	point_sum				=	0			-- add by viettd 2021/04/07
				--,	adjust_point			=	0			-- add by viettd 2021/04/07
				--,	rank_cd					=	0			-- add by viettd 2021/04/07
				--,	upd_user			=	@P_user_id			
				--,	upd_ip				=	@P_cre_ip
				--,	upd_prg				=	'I2040'	
				--,	upd_datetime		=	@w_time	
				--FROM F0201 
				--LEFT JOIN #TABLE_JSON ON(
				--	F0201.company_cd				=	@P_company_cd
				--AND	F0201.fiscal_year				=	@fiscal_year
				--AND	F0201.employee_cd				=	#TABLE_JSON.employee_cd
				--AND	F0201.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				--)
				--WHERE 
				--	F0201.company_cd				=	@P_company_cd
				--AND	F0201.fiscal_year				=	@fiscal_year
				--AND	F0201.employee_cd				=	#TABLE_JSON.employee_cd
				--AND	F0201.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				--AND 5								=	#TABLE_JSON.evaluation_step
				--AND	F0201.del_datetime IS NULL
				
				-- delete F0201
				DELETE D
				FROM F0201 AS D 
				LEFT JOIN #TABLE_JSON ON(
					D.company_cd				=	@P_company_cd
				AND	D.fiscal_year				=	@fiscal_year
				AND	D.employee_cd				=	#TABLE_JSON.employee_cd
				AND	D.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				)
				WHERE 
					D.company_cd				=	@P_company_cd
				AND	D.fiscal_year				=	@fiscal_year
				AND	D.employee_cd				=	#TABLE_JSON.employee_cd
				AND	D.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				--AND 5							=	#TABLE_JSON.evaluation_step
				AND (
					5							=	#TABLE_JSON.evaluation_step
				OR	@max_step					=	#TABLE_JSON.evaluation_step
				)
				AND	D.del_datetime IS NULL

				-- update F0200
				UPDATE F0200 SET 
					confirm_user			=	''		
				,	confirm_ip				=	''	
				,	confirm_datetime		=	NULL		
				,	point_sum				=	0			-- add by viettd 2021/04/07
				,	adjust_point			=	0			-- add by viettd 2021/04/07
				,	rank_cd					=	0			-- add by viettd 2021/04/07
				,	upd_user				=	@P_user_id			
				,	upd_ip					=	@P_cre_ip
				,	upd_prg					=	'I2040'	
				,	upd_datetime			=	@w_time	
				FROM F0200 
				INNER JOIN #TBL_STEP ON (
					F0200.employee_cd				=	#TBL_STEP.employee_cd
				)
				INNER JOIN #TABLE_JSON ON(
					F0200.company_cd				=	@P_company_cd
				AND	F0200.employee_cd				=	#TABLE_JSON.employee_cd
				AND	F0200.fiscal_year				=	@fiscal_year
				AND	F0200.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				)
				WHERE 
					F0200.company_cd					=	@P_company_cd
				AND	F0200.fiscal_year					=	@fiscal_year
				AND	F0200.employee_cd					=	#TABLE_JSON.employee_cd
				AND	F0200.treatment_applications_no		=	#TABLE_JSON.treatment_applications_no
				AND	F0200.evaluation_step				=	#TBL_STEP.evaluation_step
				AND	#TABLE_JSON.evaluation_step			<> 5
				AND	F0200.del_datetime	IS NULL
			END
			-- 目標
			IF  EXISTS(SELECT 1 FROM M0200 
								INNER JOIN #F0120 ON(
									M0200.company_cd	=	@P_company_cd
								AND	M0200.sheet_cd		=	#F0120.sheet_cd
								) 
								WHERE M0200.sheet_kbn	=	1
				) 
			BEGIN
				-- rater
				IF(@authority_typ	=	2)
				BEGIN
					UPDATE F0100 SET
						F0100.status_cd			=	CASE 
														WHEN #M0310_1.id <= @taget_step 
														THEN #M0310_1.status_cd
														ELSE F0100.status_cd 
													END -- TH sheet khong co buoc danh gia nao thi khong len status
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	'I2040'	
					,	upd_datetime			=	@w_time	
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TBL_STEP ON(
						#F0120.employee_cd	=	#TBL_STEP.employee_cd
					)
					LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #M0310_1 ON(
						#TBL_STEP.evaluation_step = #M0310_1.id
					)
					WHERE 
						F0100.company_cd			=	@P_company_cd
					AND	F0100.fiscal_year			=	@fiscal_year
					AND	F0100.employee_cd			=	#F0120.employee_cd
					AND	F0100.sheet_cd				=	#F0120.sheet_cd
					AND #TBL_STEP.evaluation_step	<> 5
					AND M0200.sheet_kbn				= 1
					AND	F0100.del_datetime IS NULL
				END
				-- admin
				IF(@authority_typ	IN (3,4,5))
				BEGIN
					--
					UPDATE F0100 SET
						F0100.status_cd			=	8
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip	
					,	upd_prg					=	'I2040'
					,	upd_datetime			=	@w_time	
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TABLE_JSON ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#TABLE_JSON.employee_cd
					)
					--LEFT JOIN #TBL_STEP_MAX ON(
					--	F0100.employee_cd	=	#TBL_STEP_MAX.employee_cd
					--)
					WHERE 
						F0100.company_cd			=	@P_company_cd
					AND	F0100.fiscal_year			=	@fiscal_year
					AND	F0100.employee_cd			=	#F0120.employee_cd
					AND	F0100.sheet_cd				=	#F0120.sheet_cd
					AND	M0200.sheet_kbn				=	1
					AND #TABLE_JSON.evaluation_step	=	5
					AND	F0100.del_datetime IS NULL
					-- update F0100
					UPDATE F0100 SET
						F0100.status_cd			=	CASE 
														WHEN #M0310_1.id <= @taget_step 
														THEN #M0310_1.status_cd
														ELSE F0100.status_cd 
													END -- TH sheet khong co buoc danh gia nao thi khong len status
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	'I2040'	
					,	upd_datetime			=	@w_time	
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TBL_STEP ON(
						#F0120.employee_cd	=	#TBL_STEP.employee_cd
					)
					LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TABLE_JSON ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#TABLE_JSON.employee_cd
					)
					LEFT JOIN #M0310_1 ON(
						#TBL_STEP.evaluation_step = #M0310_1.id
					)
					WHERE 
						F0100.company_cd			=	@P_company_cd
					AND	F0100.fiscal_year			=	@fiscal_year
					AND	F0100.employee_cd			=	#F0120.employee_cd
					AND	F0100.sheet_cd				=	#F0120.sheet_cd
					AND M0200.sheet_kbn				=	1
					AND	#TABLE_JSON.evaluation_step <>	5
					AND	F0100.del_datetime IS NULL
				END
			END
			--　定性
			IF  EXISTS(SELECT 1 FROM M0200 
								INNER JOIN #F0120 ON(
									M0200.company_cd	=	@P_company_cd
								AND	M0200.sheet_cd		=	#F0120.sheet_cd
								) 
								WHERE M0200.sheet_kbn	=	2
			) 
			BEGIN
				-- RATER
				IF(@authority_typ	=	2)
				BEGIN
					UPDATE F0100　SET
						F0100.status_cd			=	CASE 
														WHEN #M0310_2.id <= @evalu_step 
														THEN #M0310_2.status_cd
														ELSE F0100.status_cd 
													END -- TH sheet khong co buoc danh gia nao thi khong len status
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	'I2040'	
					,	upd_datetime			=	@w_time	
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TBL_STEP ON(
						#F0120.employee_cd	=	#TBL_STEP.employee_cd
					)
					LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #M0310_2 ON(
						#TBL_STEP.evaluation_step = #M0310_2.id
					)
					WHERE 
						F0100.company_cd			=	@P_company_cd
					AND	F0100.fiscal_year			=	@fiscal_year
					AND	F0100.employee_cd			=	#F0120.employee_cd
					AND	F0100.sheet_cd				=	#F0120.sheet_cd
					AND #TBL_STEP.evaluation_step	<>	5
					AND	M0200.sheet_kbn				=	2
					AND	F0100.del_datetime IS NULL
				END
				-- ADMIN
				IF(@authority_typ IN(3,4,5))
				BEGIN
					UPDATE F0100 SET
						F0100.status_cd	=  6
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	'I2040'	
					,	upd_datetime			=	@w_time	
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TABLE_JSON ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#TABLE_JSON.employee_cd
					)
					--LEFT JOIN #TBL_STEP_MAX ON(
					--	F0100.employee_cd	=	#TBL_STEP_MAX.employee_cd
					--)
					WHERE 
						F0100.company_cd			=	@P_company_cd
					AND	F0100.fiscal_year			=	@fiscal_year
					AND	F0100.employee_cd			=	#F0120.employee_cd
					AND	F0100.sheet_cd				=	#F0120.sheet_cd
					AND	M0200.sheet_kbn				=	2
					AND	#TABLE_JSON.evaluation_step	=	5
					AND	F0100.del_datetime IS NULL
					--
					UPDATE F0100 SET
						F0100.status_cd			=	CASE 
														WHEN #M0310_2.id <= @evalu_step 
														THEN #M0310_2.status_cd
														ELSE F0100.status_cd 
													END -- TH sheet khong co buoc danh gia nao thi khong len status
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	'I2040'	
					,	upd_datetime			=	@w_time	
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TBL_STEP ON(
						#F0120.employee_cd	=	#TBL_STEP.employee_cd
					)
					LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TABLE_JSON ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#TABLE_JSON.employee_cd
					)
					LEFT JOIN #M0310_2 ON(
						#TBL_STEP.evaluation_step = #M0310_2.id
					)
					WHERE 
						F0100.company_cd			=	@P_company_cd
					AND	F0100.fiscal_year			=	@fiscal_year
					AND	F0100.employee_cd			=	#F0120.employee_cd
					AND	F0100.sheet_cd				=	#F0120.sheet_cd
					AND	M0200.sheet_kbn				=	2
					AND	#TABLE_JSON.evaluation_step	<>	5
					AND	F0100.del_datetime IS NULL
				END
			END
			--↓↓↓　add by viettd 2025/09/17
			-- update into F0120 when reject 
			UPDATE F0120 SET 
				submit_user			=	SPACE(0)
			,	submit_ip			=	SPACE(0)
			,	submit_datetime		=	NULL
			,	confirm_user		=	SPACE(0)
			,	confirm_ip			=	SPACE(0)
			,	confirm_datetime	=	NULL
			,	upd_user			=	@P_user_id
			,	upd_ip				=	@P_cre_ip
			,	upd_prg				=	'I2040'	
			,	upd_datetime		=	@w_time
			FROM F0120
			INNER JOIN #F0120 ON(
				F0120.company_cd				=	@P_company_cd
			AND	F0120.fiscal_year				=	@fiscal_year
			AND	F0120.employee_cd				=	#F0120.employee_cd
			AND F0120.sheet_cd					=	#F0120.sheet_cd
			)
			INNER JOIN #TBL_STEP ON (
				F0120.company_cd		=	@P_company_cd
			AND F0120.fiscal_year		=	@fiscal_year
			AND F0120.employee_cd		=	#TBL_STEP.employee_cd
			AND F0120.evaluation_step	=	#TBL_STEP.evaluation_step
			)
			WHERE
				F0120.company_cd	=	@P_company_cd
			AND F0120.fiscal_year	=	@fiscal_year
			AND F0120.del_datetime IS NULL			
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO