DROP PROCEDURE [SPC_I2040_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_I2040_ACT1 '{"fiscal_year":"2018","employee_typ":"-1","list":[],"row_data":[{"ck_item":"1","employee_cd":"794","valuation_step":"1","treatment_applications_no":"1","point_sum1":"470.6000","adjust_point1":"","rank_kinds1":-1,"step1_point_status":"1","point_sum2":"0","adjust_point2":"","rank_kinds2":-1,"step2_point_status":"","point_sum3":"0","adjust_point3":"","rank_kinds3":-1,"step3_point_status":"","point_sum4":"0","adjust_point4":"","rank_kinds4":-1,"step4_point_status":"","point_sum5":"0","adjust_point5":"","rank_kinds5":-1,"final_point_status":"","comment":""},{"ck_item":"0","employee_cd":"794","valuation_step":"1","treatment_applications_no":"2","point_sum1":"300.0000","adjust_point1":"","rank_kinds1":-1,"step1_point_status":"1","point_sum2":"0","adjust_point2":"","rank_kinds2":-1,"step2_point_status":"","point_sum3":"0","adjust_point3":"","rank_kinds3":-1,"step3_point_status":"","point_sum4":"0","adjust_point4":"","rank_kinds4":-1,"step4_point_status":"","point_sum5":"0","adjust_point5":"","rank_kinds5":-1,"final_point_status":"","comment":""}]}','1','datnt','::1';

--****************************************************************************************
--*   											
--*  処理概要/process overview	:	I2040
--*  
--*  作成日/create date			:	2018/10/19				
--*　作成者/creater				:	Datnt								
--*   					
--*  更新日/update date			:	2021/04/02
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	when authority_typ = 3 (admin) & authority=0,1(I2040) -> set authority_typ = 2 (rater)　	
--*   					
--*  更新日/update date			:	2022/03/31
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	when admin is rater then add condition to mess 76
--*   					
--*  更新日/update date			:	2022/08/16
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgrade 1.9
--****************************************************************************************
CREATE PROCEDURE [SPC_I2040_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json				NVARCHAR(max)
	-- common
,	@P_company_cd		SMALLINT		=	0
,	@P_user_id			NVARCHAR(50)
,	@P_cre_ip			NVARCHAR(50)	=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					=	0
	,	@interview_no			INT					=	0
	,	@step					INT					=	0	
	,	@fiscal_year			INT					=	0
	,	@authority_typ			INT					=	0
	,	@employee_cd			nvarchar(10)		=	0
	,	@authority_cd			INT					=	0
	,	@authority				INT					=	0
	--	
	,	@step1_point_status			INT					=	0	
	,	@step2_point_status			INT					=	0
	,	@step3_point_status			INT					=	0
	,	@step4_point_status			INT					=	0
	,	@final_point_status			INT					=	0
	,	@taget_step					INT					=	0
	,	@evalu_step					INT					=	0
	,	@admin_is_rater			INT					=   0 --0:not rater / 1:rater
	--#TABLE_JSON
	CREATE TABLE #TABLE_JSON(
		id							INT IDENTITY(1,1)
	,	ck_item						INT
	,	employee_cd					NVARCHAR(10) 
	,	evaluation_step				INT
	,	treatment_applications_no   INT
	,	point_sum1					MONEY			
	,	adjust_point1				MONEY
	,	rank_kinds1					INT
	,	step1_point_status			INT
	,	point_sum2					MONEY
	,	adjust_point2       		MONEY
	,	rank_kinds2         		INT
	,	step2_point_status  		INT
	,	point_sum3					MONEY
	,	adjust_point3       		MONEY
	,	rank_kinds3         		INT
	,	step3_point_status  		INT
	,	point_sum4					MONEY
	,	adjust_point4       		MONEY
	,	rank_kinds4         		INT
	,	step4_point_status  		INT
	,	point_sum5					MONEY
	,	adjust_point5       		MONEY
	,	rank_kinds5         		INT
	,	final_point_status  		INT
	,	comment						NVARCHAR(800)
	,	m0050_rank					INT
	,	sheet_use_typ				INT
	)
	-- #F0120
	CREATE TABLE #F0120(	
		employee_cd		NVARCHAR(20)
	,	sheet_cd		INT
	)
	-- #TBL_STEP
	CREATE TABLE #TBL_STEP(
		employee_cd					NVARCHAR(20) 
	,	evaluation_step				INT
	)
	-- #TABLE_CHECK
	CREATE TABLE #TABLE_CHECK(
		id							INT IDENTITY(1,1)
	,	employee_cd					NVARCHAR(20) 
	,	treatment_applications_no   INT
	,	evaluation_step				INT
	)
	-- #F0032
	CREATE TABLE #F0032(
		company_cd					INT
	,	fiscal_year					INT
	,	treatment_applications_no	INT
	,	group_cd					INT
	,	employee_cd					NVARCHAR(50)
	,	sheet_cd					INT
	,	weight						INT
	)
	-- #TBL_MAX_STEP
	CREATE TABLE #TBL_MAX_STEP(
		employee_cd					NVARCHAR(20)  
	,	treatment_applications_no		TINYINT
	,	evaluation_step				INT
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--	GET STEP OF M0100
		IF EXISTS(SELECT 1 FROM M0100 WHERE company_cd	= @P_company_cd AND (target_evaluation_typ_1	=	1 OR evaluation_typ_1 = 1))
		BEGIN
			SET @step	=	1
		END
		IF EXISTS(SELECT 1 FROM M0100 WHERE company_cd	= @P_company_cd AND (target_evaluation_typ_2	=	1 OR evaluation_typ_2 = 1))
		BEGIN
			SET @step	=	2
		END
		IF EXISTS(SELECT 1 FROM M0100 WHERE company_cd	= @P_company_cd AND (target_evaluation_typ_3	=	1 OR evaluation_typ_3 = 1))
		BEGIN
			SET @step	=	3
		END
		IF EXISTS(SELECT 1 FROM M0100 WHERE company_cd	= @P_company_cd AND (target_evaluation_typ_4	=	1 OR evaluation_typ_4 = 1))
		BEGIN
			SET @step	=	4
		END
		SELECT	@taget_step		=	(M0100.target_evaluation_typ_1 + M0100.target_evaluation_typ_2 + M0100.target_evaluation_typ_3 + M0100.target_evaluation_typ_4)  FROM M0100 where company_cd = @P_company_cd
		SELECT	@evalu_step		=	(M0100.evaluation_typ_1 + M0100.evaluation_typ_2 + M0100.evaluation_typ_3 + M0100.evaluation_typ_4)  FROM M0100 where company_cd = @P_company_cd
		SET		@fiscal_year	=	IIF(JSON_VALUE(@P_json,'$.fiscal_year') = -1,YEAR(@w_time),JSON_VALUE(@P_json,'$.fiscal_year'))  
		SELECT 
			@authority_typ	=	ISNULL(authority_typ,0) 
		,	@employee_cd	=	M0070.employee_cd
		,	@authority_cd	=	ISNULL(S0010.authority_cd,0)
		FROM S0010 LEFT JOIN M0070 ON (
			M0070.company_cd		=	S0010.company_cd
		AND M0070.employee_cd		=	S0010.employee_cd
		AND M0070.del_datetime		IS NULL 
		) 
		WHERE 
			S0010.user_id		= @P_user_id 
		AND S0010.company_cd	= @P_company_cd 
		AND S0010.del_datetime  IS NULL
		-- ↓↓↓ add by vietd 2022/08/16
		IF @authority_typ = 6
		BEGIN
			SET @authority_typ = 2 -- 2.RATER
		END
		-- ↑↑↑ end add by vietd 2022/08/16
		--
		SELECT @authority = ISNULL(authority,0)
		FROM S0021
		WHERE	
			company_cd = @P_company_cd
		AND authority_cd = @authority_cd
		AND function_id = 'I2040'
		AND del_datetime IS NULL
		--
		INSERT INTO #TABLE_JSON
		SELECT	
			[row].ck_item	
		,	[row].employee_cd                  
		,	[row].valuation_step 
		,	[row].treatment_applications_no_1    
		,	[row].point_sum1                   
		,	IIF([row].adjust_point1 = '' , 0, [row].adjust_point1)        
		,	IIF([row].rank_kinds1 = -1 , 0, [row].rank_kinds1)
		,	[row].step1_point_status          
		,	[row].point_sum2                   
		,	IIF([row].adjust_point2 = '' , 0, [row].adjust_point2)                
		,	IIF([row].rank_kinds2 = -1 , 0, [row].rank_kinds2)               
		,	[row].step2_point_status           
		,	[row].point_sum3                  
		,	IIF([row].adjust_point3 = '' , 0, [row].adjust_point3)                 
		,	IIF([row].rank_kinds3 = -1 , 0, [row].rank_kinds3)                        
		,	[row].step3_point_status           
		,	[row].point_sum4                   
		,	IIF([row].adjust_point4 = '' , 0, [row].adjust_point4)                 
		,	IIF([row].rank_kinds4 = -1 , 0, [row].rank_kinds4)                       
		,	[row].step4_point_status           
		,	[row].point_sum5                   
		,	IIF([row].adjust_point5 = '' , 0, [row].adjust_point5)                 
		,	IIF([row].rank_kinds5 = -1 , 0, [row].rank_kinds5)                      
		,	[row].final_point_status           
		,	[row].comment      
		,	ISNULL([row].m0050_rank,0)
		,	0
		FROM OPENJSON(@P_json,'$.row_data') WITH(
				ck_item						INT			
			,	employee_cd					NVARCHAR(10) 
			,	valuation_step				INT
			,	treatment_applications_no_1   INT
			,	point_sum1					MONEY			  
			,	adjust_point1				MONEY
			,	rank_kinds1					INT
			,	step1_point_status			INT
			,	point_sum2					MONEY
			,	adjust_point2       		MONEY
			,	rank_kinds2         		INT
			,	step2_point_status  		INT
			,	point_sum3					MONEY
			,	adjust_point3       		MONEY
			,	rank_kinds3         		INT
			,	step3_point_status  		INT
			,	point_sum4					MONEY
			,	adjust_point4       		MONEY
			,	rank_kinds4         		INT
			,	step4_point_status  		INT
			,	point_sum5					MONEY
			,	adjust_point5       		MONEY
			,	rank_kinds5         		INT
			,	final_point_status  		INT
			,	comment						NVARCHAR(800)
			,	m0050_rank					INT
		) AS [row] 
		-- DELETE ROW NOT CHECK ON SCREEN
		DELETE #TABLE_JSON	WHERE ck_item = 0
		--
		UPDATE #TABLE_JSON 
		SET sheet_use_typ	=	F0011.sheet_use_typ
		FROM #TABLE_JSON LEFT JOIN F0011 ON(
			@P_company_cd							= F0011.company_cd
		AND @fiscal_year							= F0011.fiscal_year
		AND #TABLE_JSON.treatment_applications_no	= F0011.treatment_applications_no
		)
		-- CHECK ADMIN IS RATER add by viettd 2021/04/02
		-- CHECK PERMISSION OF USER WHEN FINAL(=5.最終評価)
		IF @authority_typ = 3 AND @authority IN (0,1)
		BEGIN
			IF EXISTS (SELECT 1 FROM #TABLE_JSON WHERE evaluation_step = 5)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT 		
					87											-- mã lỗi (trùng với mã trong bảng message) 					
				,	''											-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby									-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1-- tooltip  								-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0											-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0											-- Tùy ý
				,	'WHEN FINAL(確定) THIS USER NOT PERMISSION '	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			END
		END
		-- CHECK PERMISSION OF USER WHEN STEP EVALUTATION(< 5.最終評価)
		IF @authority_typ = 3
		BEGIN
			IF  EXISTS (SELECT 1 FROM #TABLE_JSON 
			INNER JOIN F0100 ON (
				@P_company_cd			= F0100.company_cd
			AND @fiscal_year			= F0100.fiscal_year
			AND #TABLE_JSON.employee_cd = F0100.employee_cd
			AND F0100.del_datetime IS NULL
			)  
			WHERE 
				#TABLE_JSON.evaluation_step	<>	5	-- 5.最終評価
			AND	(
					rater_employee_cd_1 = @employee_cd 
				OR	rater_employee_cd_2 = @employee_cd 
				OR	rater_employee_cd_3 = @employee_cd  
				OR	rater_employee_cd_4 = @employee_cd 
				)
			)
			BEGIN
				SET @admin_is_rater = 1
			END
			--W
			IF (@authority < 2  AND @admin_is_rater = 0)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT 		
					87												-- mã lỗi (trùng với mã trong bảng message) 					
				,	''												-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	1-- oderby										-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1-- tooltip  									-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0												-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0												-- Tùy ý
				,	'WHEN STEP(NOT 最終) THIS USER NOT PERMISSION'	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			END
			-- ↓↓↓ add by vietd 2021/04/02
			-- if admin & @authority_typ < 2 then set admin to rater
			--IF @authority <> 2
			--BEGIN
			--	SET @authority_typ = 2 -- 2.RATER
			--END
			-- ↑↑↑ end add by vietd 2021/04/02
			-- edited by viettd 2022/03/31
			IF @admin_is_rater = 1
			BEGIN
				SET @authority_typ = 2 -- ADMIN IS RATER
			END
		END
		-- insret into #F0032
		INSERT INTO  #F0032
		SELECT
			company_cd
		,	fiscal_year
		,	treatment_applications_no
		,	MAX(group_cd)
		,	employee_cd
		,	sheet_cd
		,	weight
		FROM F0032
		WHERE company_cd	=	@P_company_cd
		AND fiscal_year		=	@fiscal_year
		AND del_datetime IS NULL
		GROUP BY	company_cd
				,	fiscal_year
				,	treatment_applications_no
				,	employee_cd
				,	detail_no
				,	sheet_cd
				,	weight
		INSERT INTO #TBL_MAX_STEP
		SELECT
			f0100.employee_cd
		,	#F0032.treatment_applications_no
		,	CASE WHEN  f0100.rater_employee_cd_4 <> '' 	THEN 4
					WHEN  f0100.rater_employee_cd_4 = '' AND  f0100.rater_employee_cd_3 <> ''	THEN 3
					WHEN  f0100.rater_employee_cd_4 = '' AND  f0100.rater_employee_cd_3 = '' AND  f0100.rater_employee_cd_2 <> ''	THEN 2
					WHEN  f0100.rater_employee_cd_4 = '' AND  f0100.rater_employee_cd_3 = '' AND  f0100.rater_employee_cd_2 = '' AND 	f0100.rater_employee_cd_1 <> ''THEN 1  
					ELSE 0
			END
		FROM #TABLE_JSON 
		LEFT JOIN #F0032 ON (
				@P_company_cd							=	#F0032.company_cd
			AND	#TABLE_JSON.employee_cd					=   #F0032.employee_cd
			AND	@fiscal_year							=	#F0032.fiscal_year
			AND #TABLE_JSON.treatment_applications_no	=	#F0032.treatment_applications_no
			)  
		LEFT JOIN f0100 ON(
				@P_company_cd				=	f0100.company_cd
			AND	@fiscal_year				=	F0100.fiscal_year
			AND #F0032.sheet_cd				=   F0100.sheet_cd
			AND	#TABLE_JSON.employee_cd		=	f0100.employee_cd
		)
		WHERE 
			f0100.company_cd	=	@P_company_cd
		AND f0100.fiscal_year	=	@fiscal_year
		AND f0100.del_datetime IS NULL
		-- update #TABLE_JSON
		UPDATE #TABLE_JSON SET 
			evaluation_step = 5
		FROM #TABLE_JSON
		WHERE #TABLE_JSON.employee_cd = @employee_cd
		--- tính lại step khi thằng quản lý muốn chốt hộ rater khác
		UPDATE #TABLE_JSON SET 
			evaluation_step =	CASE 
									-- add by viettd 2022/03/31
									WHEN #TABLE_JSON.employee_cd = @employee_cd AND @authority_typ IN(3,4,5) AND F0100.rater_employee_cd_1 <> '' AND F0200_1.confirm_datetime IS NULL
									THEN 1
									WHEN #TABLE_JSON.employee_cd = @employee_cd AND @authority_typ IN(3,4,5) AND F0100.rater_employee_cd_2 <> '' AND F0200_2.confirm_datetime IS NULL
									THEN 2
									WHEN #TABLE_JSON.employee_cd = @employee_cd AND @authority_typ IN(3,4,5) AND F0100.rater_employee_cd_3 <> '' AND F0200_3.confirm_datetime IS NULL
									THEN 3
									WHEN #TABLE_JSON.employee_cd = @employee_cd AND @authority_typ IN(3,4,5) AND F0100.rater_employee_cd_4 <> '' AND F0200_4.confirm_datetime IS NULL
									THEN 4
									WHEN #TABLE_JSON.employee_cd = @employee_cd AND @authority_typ IN(3,4,5)
									THEN 5
									WHEN (F0200_1.confirm_datetime IS NULL AND #TBL_MAX_STEP.evaluation_step >= 1 AND @authority_typ <> 2 AND #TABLE_JSON.employee_cd <> @employee_cd) OR(#TABLE_JSON.evaluation_step = 0 AND  F0100.rater_employee_cd_1 = @employee_cd )THEN 1
									WHEN (F0200_2.confirm_datetime IS NULL AND #TBL_MAX_STEP.evaluation_step >= 2 AND @authority_typ <> 2 AND #TABLE_JSON.employee_cd <> @employee_cd) OR(#TABLE_JSON.evaluation_step = 0 AND  F0100.rater_employee_cd_2 = @employee_cd )THEN 2
									WHEN (F0200_3.confirm_datetime IS NULL AND #TBL_MAX_STEP.evaluation_step >= 3 AND @authority_typ <> 2 AND #TABLE_JSON.employee_cd <> @employee_cd) OR(#TABLE_JSON.evaluation_step = 0 AND  F0100.rater_employee_cd_3 = @employee_cd )THEN 3
									WHEN (F0200_4.confirm_datetime IS NULL AND #TBL_MAX_STEP.evaluation_step >= 4 AND @authority_typ <> 2 AND #TABLE_JSON.employee_cd <> @employee_cd) OR(#TABLE_JSON.evaluation_step = 0 AND  F0100.rater_employee_cd_4 = @employee_cd )THEN 4
									ELSE #TABLE_JSON.evaluation_step
								END -- current_rater_step
		FROM #TABLE_JSON 
		LEFT JOIN #F0032 ON (
			@P_company_cd							=	#F0032.company_cd
		AND	#TABLE_JSON.employee_cd					=   #F0032.employee_cd
		AND #TABLE_JSON.treatment_applications_no	=	#F0032.treatment_applications_no
		) 
		LEFT JOIN F0100 ON (
			@P_company_cd				=	F0100.company_cd
		AND	#TABLE_JSON.employee_cd		=	F0100.employee_cd
		AND #F0032.sheet_cd				=   F0100.sheet_cd
		AND	@fiscal_year				=	F0100.fiscal_year
		AND	F0100.del_datetime	IS NULL
		)
		LEFT JOIN #TBL_MAX_STEP ON(
			#TABLE_JSON.employee_cd					=	#TBL_MAX_STEP.employee_cd
		AND #TABLE_JSON.treatment_applications_no	=	#TBL_MAX_STEP.treatment_applications_no
		)
		LEFT JOIN F0200  AS F0200_1 ON(
			@P_company_cd					=	F0200_1.company_cd
		AND	@fiscal_year					=	F0200_1.fiscal_year
		AND	#TABLE_JSON.employee_cd				=	F0200_1.employee_cd
		AND	#TABLE_JSON.treatment_applications_no	=	F0200_1.treatment_applications_no
		AND 1								=	F0200_1.evaluation_step
		)
		LEFT JOIN F0200  AS F0200_2 ON(
			@P_company_cd							=	F0200_2.company_cd
		AND	@fiscal_year							=	F0200_2.fiscal_year
		AND	#TABLE_JSON.employee_cd					=	F0200_2.employee_cd
		AND	#TABLE_JSON.treatment_applications_no	=	F0200_2.treatment_applications_no
		AND 2										=	F0200_2.evaluation_step
		)
		LEFT JOIN F0200  AS F0200_3 ON(
			@P_company_cd							=	F0200_3.company_cd
		AND	@fiscal_year							=	F0200_3.fiscal_year
		AND	#TABLE_JSON.employee_cd					=	F0200_3.employee_cd
		AND	#TABLE_JSON.treatment_applications_no	=	F0200_3.treatment_applications_no
		AND 3										=	F0200_3.evaluation_step
		)
		LEFT JOIN F0200  AS F0200_4 ON(
			@P_company_cd							=	F0200_4.company_cd
		AND	@fiscal_year							=	F0200_4.fiscal_year
		AND	#TABLE_JSON.employee_cd					=	F0200_4.employee_cd
		AND	#TABLE_JSON.treatment_applications_no	=	F0200_4.treatment_applications_no
		AND 4										=	F0200_4.evaluation_step
		)
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--VALIDATE 
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--CHECK JSON
		IF ISJSON(@P_json) <= 0
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				22									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- CHECK REQUIRED
		INSERT INTO @ERR_TBL 
		SELECT 		
			8									-- mã lỗi (trùng với mã trong bảng message) 					
		,	'.comment'							-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	#TABLE_JSON.id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'input required validate'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM #TABLE_JSON
		WHERE #TABLE_JSON.comment = '' 
		AND (	(#TABLE_JSON.step1_point_status = 1 AND #TABLE_JSON.adjust_point1 <> 0)
			OR	(#TABLE_JSON.step2_point_status = 1 AND #TABLE_JSON.adjust_point2 <> 0)
			OR	(#TABLE_JSON.step3_point_status = 1 AND #TABLE_JSON.adjust_point3 <> 0)
			OR	(#TABLE_JSON.step4_point_status = 1 AND #TABLE_JSON.adjust_point4 <> 0))
		-- mess 18
		IF NOT EXISTS (SELECT 1 FROM (SELECT [row].ck_item	FROM OPENJSON(@P_json,'$.row_data') WITH(ck_item INT)AS [row] WHERE [row].ck_item > 0) AS ABC)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				18									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- insert data #TABLE_CHECK
		INSERT INTO #TABLE_CHECK
		SELECT 
			#TABLE_JSON.employee_cd					
		,	#TABLE_JSON.treatment_applications_no   
		,	#TABLE_JSON.evaluation_step	
		FROM #TABLE_JSON
		LEFT JOIN #F0032 ON(
			@P_company_cd								=	#F0032.company_cd
		AND	@fiscal_year								=	#F0032.fiscal_year
		AND	#TABLE_JSON.employee_cd						=	#F0032.employee_cd
		AND #TABLE_JSON.treatment_applications_no		=	#F0032.treatment_applications_no
		)
		LEFT JOIN  M0200 ON(
			@P_company_cd		=	M0200.company_cd
		AND	#F0032.sheet_cd		=	M0200.sheet_cd
		)
		LEFT JOIN F0120 ON(
			@P_company_cd								=	f0120.company_cd
		AND	@fiscal_year								=	f0120.fiscal_year
		AND	#TABLE_JSON.employee_cd						=	f0120.employee_cd
		AND	F0120.sheet_cd								=	#F0032.sheet_cd
		AND F0120.evaluation_step						=	#TABLE_JSON.evaluation_step
		)
		WHERE
			F0120.submit_datetime IS NULL
		AND #TABLE_JSON.evaluation_step <> 5 
		AND (
			(#TABLE_JSON.evaluation_step < @taget_step AND #TABLE_JSON.evaluation_step < @evalu_step)
		OR	(@taget_step	<	@evalu_step AND @taget_step <= #TABLE_JSON.evaluation_step AND sheet_kbn = 2)
		OR	(@taget_step	>	@evalu_step AND @evalu_step <= #TABLE_JSON.evaluation_step AND sheet_kbn = 1)
		OR	(@taget_step	=	@evalu_step)
		)
		--■■■■■■■■■■■■■■■■■■■■■■■ CHECK EVALUATE DONE ■■■■■■■■■■■■■■■■■■■■■■■■
		INSERT INTO @ERR_TBL 
		SELECT		
			54									-- mã lỗi (trùng với mã trong bảng message) 					
		,	'.list_employee_nm'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	2-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'ALL SHEET HAS BEEN DONE'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM  #TABLE_JSON 
		LEFT JOIN #F0032 ON(
			@P_company_cd								=	#F0032.company_cd
		AND	@fiscal_year								=	#F0032.fiscal_year
		AND	#TABLE_JSON.employee_cd						=	#F0032.employee_cd
		AND #TABLE_JSON.treatment_applications_no		=	#F0032.treatment_applications_no
		)
		LEFT JOIN M0200 ON(
			@P_company_cd			=	M0200.company_cd
		AND	#F0032.sheet_cd			=	M0200.sheet_cd
		AND M0200.del_datetime IS NULL
		)
		LEFT JOIN F0100 ON(
			@P_company_cd			=	F0100.company_cd
		AND	@fiscal_year			=	F0100.fiscal_year
		AND	#F0032.employee_cd		=	F0100.employee_cd
		AND	#F0032.sheet_cd			=	F0100.sheet_cd
		AND F0100.del_datetime IS NULL
		)
		WHERE (M0200.sheet_kbn = 1	AND F0100.status_cd = 12) OR (M0200.sheet_kbn = 2	AND F0100.status_cd = 10)
		--■■■■■■■■■■■■■■■■■■■■■■■■END CHECK EVALUATE DONE■■■■■■■■■■■■■■■■■■■■■■■■
		INSERT INTO @ERR_TBL 
		SELECT	
			65									-- mã lỗi (trùng với mã trong bảng message) 					
		,	'.list_employee_nm'									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	#TABLE_JSON.id									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'NOT FINISHED SHEET VALIDATION'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM #TABLE_JSON 
		LEFT JOIN #TABLE_CHECK ON(
			#TABLE_JSON.employee_cd					= 	#TABLE_CHECK.employee_cd	
		AND	#TABLE_JSON.treatment_applications_no   = 	#TABLE_CHECK.treatment_applications_no
		AND	#TABLE_JSON.evaluation_step				= 	#TABLE_CHECK.evaluation_step
		)
		WHERE #TABLE_CHECK.employee_cd IS NOT NULL
		--
		INSERT INTO #TBL_STEP
		SELECT
			f0100.employee_cd
		,	CASE WHEN  f0100.rater_employee_cd_4 <> '' 	THEN 4
					WHEN  f0100.rater_employee_cd_4 = '' AND  f0100.rater_employee_cd_3 <> ''	THEN 3
					WHEN  f0100.rater_employee_cd_4 = '' AND  f0100.rater_employee_cd_3 = '' AND  f0100.rater_employee_cd_2 <> ''	THEN 2
					WHEN  f0100.rater_employee_cd_4 = '' AND  f0100.rater_employee_cd_3 = '' AND  f0100.rater_employee_cd_2 = '' AND 	f0100.rater_employee_cd_1 <> ''THEN 1  
					ELSE 0
			END
		FROM #TABLE_JSON 
		LEFT JOIN #F0032 ON (
			@P_company_cd							=	#F0032.company_cd
		AND	#TABLE_JSON.employee_cd					=   #F0032.employee_cd
		AND	@fiscal_year							=	#F0032.fiscal_year
		AND #TABLE_JSON.treatment_applications_no	=	#F0032.treatment_applications_no
		)  
		LEFT JOIN f0100 ON(
			@P_company_cd				=	f0100.company_cd
		AND	@fiscal_year				=	F0100.fiscal_year
		AND #F0032.sheet_cd				=   F0100.sheet_cd
		AND	#TABLE_JSON.employee_cd		=	f0100.employee_cd
		)
		WHERE 
			f0100.company_cd	=	@P_company_cd
		AND f0100.fiscal_year	=	@fiscal_year
		AND f0100.del_datetime IS NULL
		-- Message 83
		INSERT INTO @ERR_TBL 
		SELECT	
			83									-- mã lỗi (trùng với mã trong bảng message) 					
		,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	4-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'previous step not confirmed'		-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM #TABLE_JSON 
		LEFT JOIN #TBL_STEP ON(
			#TABLE_JSON.employee_cd		=	#TABLE_JSON.employee_cd
		)
		LEFT JOIN F0200 ON(
			@P_company_cd			                =	F0200.company_cd
		AND #TABLE_JSON.employee_cd					= 	F0200.employee_cd	
		AND	#TABLE_JSON.treatment_applications_no	= 	F0200.treatment_applications_no
		AND	F0200.evaluation_step					=	CASE 
															WHEN #TABLE_JSON.evaluation_step = 5 AND #TBL_STEP.evaluation_step IS NOT NULL AND #TBL_STEP.evaluation_step <= @step 
															THEN #TBL_STEP.evaluation_step
															WHEN #TABLE_JSON.evaluation_step = 5
															THEN @step
															ELSE #TABLE_JSON.evaluation_step - 1	
														END
		)
		WHERE 
			#TABLE_JSON.evaluation_step > 1 
		AND #TABLE_JSON.sheet_use_typ = 1
		AND F0200.confirm_datetime IS NULL
		--
		IF (@authority_typ = 2 )
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT 
				76									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	2-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id 									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'NOT FINISHED SHEET VALIDATION'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #TABLE_JSON 
			INNER JOIN F0200 ON(
				@P_company_cd			=	F0200.company_cd
			AND	@fiscal_year			=	F0200.fiscal_year
			AND #TABLE_JSON.employee_cd	=	F0200.employee_cd
			AND	#TABLE_JSON.treatment_applications_no	= F0200.treatment_applications_no
			AND	#TABLE_JSON.evaluation_step	=	F0200.evaluation_step
			)
			WHERE F0200.confirm_datetime IS NOT NULL AND F0200.del_datetime IS NULL
		END
		--
		IF (@authority_typ = 4 OR @authority_typ = 3 ) 
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT 
				76									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	2-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id 									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'NOT FINISHED SHEET VALIDATION'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)	
			FROM #TABLE_JSON 
			INNER JOIN F0201 ON(
				@P_company_cd			=	F0201.company_cd
			AND	@fiscal_year			=	F0201.fiscal_year
			AND #TABLE_JSON.employee_cd	=	F0201.employee_cd
			AND	#TABLE_JSON.treatment_applications_no	= F0201.treatment_applications_no
			)
			WHERE F0201.confirm_datetime IS NOT NULL AND F0201.del_datetime IS NULL
			AND #TABLE_JSON.evaluation_step = 5
			--
			INSERT INTO @ERR_TBL
			SELECT 
				76									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	2-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id 									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'NOT FINISHED SHEET VALIDATION'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #TABLE_JSON 
			INNER JOIN F0200 ON(
				@P_company_cd			=	F0200.company_cd
			AND	@fiscal_year			=	F0200.fiscal_year
			AND #TABLE_JSON.employee_cd	=	F0200.employee_cd
			AND	#TABLE_JSON.treatment_applications_no	= F0200.treatment_applications_no
			AND	#TABLE_JSON.evaluation_step	=	F0200.evaluation_step
			)
			WHERE F0200.confirm_datetime IS NOT NULL AND F0200.del_datetime IS NULL
			AND #TABLE_JSON.evaluation_step <> 5
		END
	--	DO UPDATE INSERT
		IF NOT EXISTS(SELECT message_no FROM @ERR_TBL)
		BEGIN
		--	CHECK INSERT 
			IF @authority_typ = 2 --AND  EXISTS(SELECT 1 FROM F0200 WHERE company_cd	= @P_company_cd AND fiscal_year	= @fiscal_year )
			BEGIN
			DELETE D FROM #TABLE_JSON 
			INNER JOIN F0200 AS D ON(
				@P_company_cd 							=	D.company_cd				
			AND	@fiscal_year 							=	D.fiscal_year				
			AND	#TABLE_JSON.employee_cd					=	D.employee_cd				
			AND	#TABLE_JSON.treatment_applications_no	=	D.treatment_applications_no	
			AND	#TABLE_JSON.evaluation_step				=	D.evaluation_step			
			)
			--	
			INSERT INTO  F0200 
			SELECT 
				@P_company_cd		
			,	@fiscal_year
			,	#TABLE_JSON.employee_cd				
			,	#TABLE_JSON.treatment_applications_no		
			,	#TABLE_JSON.evaluation_step				
			,	CASE WHEN #TABLE_JSON.evaluation_step = 1 THEN 	#TABLE_JSON.point_sum1 
					WHEN #TABLE_JSON.evaluation_step = 2 THEN 	#TABLE_JSON.point_sum2
					WHEN #TABLE_JSON.evaluation_step = 3 THEN 	#TABLE_JSON.point_sum3
					WHEN #TABLE_JSON.evaluation_step = 4 THEN 	#TABLE_JSON.point_sum4
					WHEN #TABLE_JSON.evaluation_step = 5 THEN 	#TABLE_JSON.point_sum5
				ELSE 0	END		AS point_sum5	
			,	CASE WHEN #TABLE_JSON.evaluation_step = 1 THEN 	#TABLE_JSON.adjust_point1
					WHEN #TABLE_JSON.evaluation_step = 2 THEN 	#TABLE_JSON.adjust_point2
					WHEN #TABLE_JSON.evaluation_step = 3 THEN 	#TABLE_JSON.adjust_point3
					WHEN #TABLE_JSON.evaluation_step = 4 THEN 	#TABLE_JSON.adjust_point4
					WHEN #TABLE_JSON.evaluation_step = 5 THEN 	#TABLE_JSON.adjust_point5
				ELSE 0	END		AS adjust_point5	
			,	CASE WHEN #TABLE_JSON.evaluation_step = 1 THEN 	#TABLE_JSON.rank_kinds1
					WHEN #TABLE_JSON.evaluation_step = 2 THEN 	#TABLE_JSON.rank_kinds2
					WHEN #TABLE_JSON.evaluation_step = 3 THEN 	#TABLE_JSON.rank_kinds3
					WHEN #TABLE_JSON.evaluation_step = 4 THEN 	#TABLE_JSON.rank_kinds4
					WHEN #TABLE_JSON.evaluation_step = 5 THEN 	#TABLE_JSON.rank_kinds5
				ELSE 0	END		AS rank_kinds1			
			,	#TABLE_JSON.comment							
			,	''					
			,	''						
			,	NULL				
			,	@P_user_id						
			,	@P_cre_ip	
			,	'I2040'						
			,	@w_time				
			,	''						
			,	''	
			,	''						
			,	NULL					
			,	''						
			,	''
			,	''							
			,	NULL				
				FROM #TABLE_JSON LEFT JOIN F0200 ON(
						@P_company_cd 							=	F0200.company_cd				
				AND		@fiscal_year 							=	F0200.fiscal_year				
				AND		#TABLE_JSON.employee_cd					=	F0200.employee_cd				
				AND		#TABLE_JSON.treatment_applications_no	=	F0200.treatment_applications_no	
				AND		#TABLE_JSON.evaluation_step				=	F0200.evaluation_step			
				)
				WHERE F0200.company_cd IS NULL
			END
			IF (@authority_typ IN(3,4,5)) --AND  EXISTS(SELECT 1 FROM F0201 WHERE company_cd	= @P_company_cd AND fiscal_year	= @fiscal_year AND confirm_datetime IS NOT NULL )
			BEGIN
				DELETE D FROM F0201 AS D 
				INNER JOIN #TABLE_JSON ON(
					@P_company_cd 							=	D.company_cd				
				AND	@fiscal_year 							=	D.fiscal_year				
				AND	#TABLE_JSON.employee_cd					=	D.employee_cd				
				AND	#TABLE_JSON.treatment_applications_no	=	D.treatment_applications_no	
				AND	#TABLE_JSON.evaluation_step				= 5		
				)	
				--INSERT
				INSERT INTO  F0201 
				SELECT																									
					@P_company_cd																			--company_cd					
				,	@fiscal_year																						--fiscal_year					
				,	#TABLE_JSON.employee_cd																				--employee_cd					
				,	#TABLE_JSON.treatment_applications_no																--treatment_applications_no		
				--,	#TABLE_JSON.valuation_step																			
				,	CASE WHEN #TABLE_JSON.evaluation_step = 1 THEN 	#TABLE_JSON.point_sum1							--point_sum					
						WHEN #TABLE_JSON.evaluation_step = 2 THEN 	#TABLE_JSON.point_sum2							
						WHEN #TABLE_JSON.evaluation_step = 3 THEN 	#TABLE_JSON.point_sum3								
						WHEN #TABLE_JSON.evaluation_step = 4 THEN 	#TABLE_JSON.point_sum4							
						WHEN #TABLE_JSON.evaluation_step = 5 THEN 	#TABLE_JSON.point_sum5								
					ELSE 0	END		AS point_sum5																			
				,	CASE WHEN #TABLE_JSON.evaluation_step = 1 THEN 	#TABLE_JSON.adjust_point1						--adjust_point				
						WHEN #TABLE_JSON.evaluation_step = 2 THEN 	#TABLE_JSON.adjust_point2						
						WHEN #TABLE_JSON.evaluation_step = 3 THEN 	#TABLE_JSON.adjust_point3						
						WHEN #TABLE_JSON.evaluation_step = 4 THEN 	#TABLE_JSON.adjust_point4						
						WHEN #TABLE_JSON.evaluation_step = 5 THEN 	#TABLE_JSON.adjust_point5						
					ELSE 0	END		AS adjust_point5																
				,	CASE WHEN #TABLE_JSON.evaluation_step = 1 THEN 	#TABLE_JSON.rank_kinds1							--rank_kinds					
						WHEN #TABLE_JSON.evaluation_step = 2 THEN 	#TABLE_JSON.rank_kinds2							
						WHEN #TABLE_JSON.evaluation_step = 3 THEN 	#TABLE_JSON.rank_kinds3						
						WHEN #TABLE_JSON.evaluation_step = 4 THEN 	#TABLE_JSON.rank_kinds4					
						WHEN #TABLE_JSON.evaluation_step = 5 THEN 	IIF(#TABLE_JSON.m0050_rank >0 AND #TABLE_JSON.rank_kinds5 > 0,#TABLE_JSON.m0050_rank,#TABLE_JSON.rank_kinds5)						
					ELSE 0	END		AS rank_kinds1			
				,	#TABLE_JSON.comment
				,	''																									--confirm_user			
				,	''																									--confirm_ip				
				,	NULL																								--confirm_datetime		
				,	''																									--raterFB_user			
				,	''																									--raterFB_ip			
				,	NULL																								--raterFB_datetime		
				,	''																									--evaluatorFB_user		
				,	''																									--evaluatorFB_ip		
				,	NULL																								--evaluatorFB_datetime	
				,	@P_user_id						
				,	@P_cre_ip	
				,	'I2040'						
				,	@w_time				
				,	''						
				,	''	
				,	''						
				,	NULL					
				,	''						
				,	''
				,	''							
				,	NULL																								--del_datetime
				FROM #TABLE_JSON LEFT JOIN F0201 ON(																			
						@P_company_cd 							=	F0201.company_cd											
				AND		@fiscal_year 							=	F0201.fiscal_year											
				AND		#TABLE_JSON.employee_cd					=	F0201.employee_cd											
				AND		#TABLE_JSON.treatment_applications_no	=	F0201.treatment_applications_no								
				AND		#TABLE_JSON.evaluation_step				= 5				
				)
				WHERE F0201.company_cd IS NULL
				AND		#TABLE_JSON.evaluation_step				= 5	
				--
				UPDATE F0201 SET
					point_sum				=		CASE WHEN #TABLE_JSON.evaluation_step = 1 THEN 	#TABLE_JSON.point_sum1
														WHEN #TABLE_JSON.evaluation_step = 2 THEN 	#TABLE_JSON.point_sum2
														WHEN #TABLE_JSON.evaluation_step = 3 THEN 	#TABLE_JSON.point_sum3
														WHEN #TABLE_JSON.evaluation_step = 4 THEN 	#TABLE_JSON.point_sum4
														WHEN #TABLE_JSON.evaluation_step = 5 THEN 	#TABLE_JSON.point_sum5
													ELSE 0	END			
				,	adjust_point			=	CASE WHEN #TABLE_JSON.evaluation_step = 1 THEN 	#TABLE_JSON.adjust_point1
													WHEN #TABLE_JSON.evaluation_step = 2 THEN 	#TABLE_JSON.adjust_point2
													WHEN #TABLE_JSON.evaluation_step = 3 THEN 	#TABLE_JSON.adjust_point3
													WHEN #TABLE_JSON.evaluation_step = 4 THEN 	#TABLE_JSON.adjust_point4
													WHEN #TABLE_JSON.evaluation_step = 5 THEN 	#TABLE_JSON.adjust_point5
												ELSE 0	END		
				,	rank_cd					=	CASE WHEN #TABLE_JSON.evaluation_step = 1 THEN 	#TABLE_JSON.rank_kinds1
													WHEN #TABLE_JSON.evaluation_step = 2 THEN 	#TABLE_JSON.rank_kinds2
													WHEN #TABLE_JSON.evaluation_step = 3 THEN 	#TABLE_JSON.rank_kinds3
													WHEN #TABLE_JSON.evaluation_step = 4 THEN 	#TABLE_JSON.rank_kinds4
													WHEN #TABLE_JSON.evaluation_step = 5 THEN 	#TABLE_JSON.rank_kinds5
												ELSE 0	END
				,	F0201.comment		=	#TABLE_JSON.comment
				,	upd_user				=	@P_user_id			
				,	upd_ip					=	@P_cre_ip
				,	upd_prg					=	'I2040'	
				,	upd_datetime			=	@w_time	
				,	del_user				=	''		
				,	del_ip					=	''	
				,	del_prg					=	''
				,	del_datetime			=	NULL
				FROM F0201 INNER JOIN #TABLE_JSON ON(
					F0201.company_cd				=	@P_company_cd
				AND	F0201.fiscal_year				=	@fiscal_year
				AND	F0201.employee_cd				=	#TABLE_JSON.employee_cd
				AND	F0201.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				AND	#TABLE_JSON.evaluation_step		=	5	
				)
				WHERE 
					F0201.company_cd				=	@P_company_cd
				AND	F0201.fiscal_year				=	@fiscal_year
				AND	#TABLE_JSON.evaluation_step		= 5	
				--
				DELETE D FROM #TABLE_JSON 
				INNER JOIN F0200 AS D ON(
					@P_company_cd 							=	D.company_cd				
				AND	@fiscal_year 							=	D.fiscal_year				
				AND	#TABLE_JSON.employee_cd					=	D.employee_cd				
				AND	#TABLE_JSON.treatment_applications_no	=	D.treatment_applications_no	
				AND	#TABLE_JSON.evaluation_step				=	D.evaluation_step			
				)	
				--
				DELETE D FROM F0200 AS D 
				INNER JOIN #TABLE_JSON ON(
					@P_company_cd 							=	D.company_cd				
				AND	@fiscal_year 							=	D.fiscal_year				
				AND	#TABLE_JSON.employee_cd					=	D.employee_cd				
				AND	#TABLE_JSON.treatment_applications_no	=	D.treatment_applications_no	
				AND	#TABLE_JSON.evaluation_step				=	D.evaluation_step	
				AND	#TABLE_JSON.evaluation_step				<> 5		
				)
				--
				INSERT INTO  F0200 
				SELECT 
					@P_company_cd		
				,	@fiscal_year
				,	#TABLE_JSON.employee_cd				
				,	#TABLE_JSON.treatment_applications_no		
				,	#TABLE_JSON.evaluation_step				
				,	CASE WHEN #TABLE_JSON.evaluation_step = 1 THEN 	#TABLE_JSON.point_sum1
						WHEN #TABLE_JSON.evaluation_step = 2 THEN 	#TABLE_JSON.point_sum2
						WHEN #TABLE_JSON.evaluation_step = 3 THEN 	#TABLE_JSON.point_sum3
						WHEN #TABLE_JSON.evaluation_step = 4 THEN 	#TABLE_JSON.point_sum4
						WHEN #TABLE_JSON.evaluation_step = 5 THEN 	#TABLE_JSON.point_sum5
					ELSE 0	END		AS point_sum5	
				,	CASE WHEN #TABLE_JSON.evaluation_step = 1 THEN 	#TABLE_JSON.adjust_point1
						WHEN #TABLE_JSON.evaluation_step = 2 THEN 	#TABLE_JSON.adjust_point2
						WHEN #TABLE_JSON.evaluation_step = 3 THEN 	#TABLE_JSON.adjust_point3
						WHEN #TABLE_JSON.evaluation_step = 4 THEN 	#TABLE_JSON.adjust_point4
						WHEN #TABLE_JSON.evaluation_step = 5 THEN 	#TABLE_JSON.adjust_point5
					ELSE 0	END		AS adjust_point5	
				,	CASE WHEN #TABLE_JSON.evaluation_step = 1 THEN 	#TABLE_JSON.rank_kinds1
						WHEN #TABLE_JSON.evaluation_step = 2 THEN 	#TABLE_JSON.rank_kinds2
						WHEN #TABLE_JSON.evaluation_step = 3 THEN 	#TABLE_JSON.rank_kinds3
						WHEN #TABLE_JSON.evaluation_step = 4 THEN 	#TABLE_JSON.rank_kinds4
						WHEN #TABLE_JSON.evaluation_step = 5 THEN 	#TABLE_JSON.rank_kinds5
					ELSE 0	END		AS rank_kinds1			
				,	#TABLE_JSON.comment							
				,	''					
				,	''						
				,	NULL				
				,	@P_user_id						
				,	@P_cre_ip	
				,	'I2040'						
				,	@w_time				
				,	''						
				,	''	
				,	''						
				,	NULL					
				,	''						
				,	''
				,	''							
				,	NULL				
				FROM #TABLE_JSON 
				LEFT JOIN F0200 ON(
					@P_company_cd 							=	F0200.company_cd				
				AND	@fiscal_year 							=	F0200.fiscal_year				
				AND	#TABLE_JSON.employee_cd					=	F0200.employee_cd				
				AND	#TABLE_JSON.treatment_applications_no	=	F0200.treatment_applications_no	
				AND	#TABLE_JSON.evaluation_step				=	F0200.evaluation_step	
				AND	#TABLE_JSON.evaluation_step <> 5 		
				)
				WHERE 
					F0200.company_cd IS NULL
				AND	#TABLE_JSON.evaluation_step <> 5 
			END
		END 
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END
GO