DROP PROCEDURE [SPC_I2040_ACT4]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_I2040_ACT1 '{"fiscal_year":"2018","employee_typ":"-1","list":[],"row_data":[{"ck_item":"1","employee_cd":"794","valuation_step":"1","treatment_applications_no":"1","point_sum1":"470.6000","adjust_point1":"","rank_kinds1":-1,"step1_point_status":"1","point_sum2":"0","adjust_point2":"","rank_kinds2":-1,"step2_point_status":"","point_sum3":"0","adjust_point3":"","rank_kinds3":-1,"step3_point_status":"","point_sum4":"0","adjust_point4":"","rank_kinds4":-1,"step4_point_status":"","point_sum5":"0","adjust_point5":"","rank_kinds5":-1,"final_point_status":"","comment":""},{"ck_item":"0","employee_cd":"794","valuation_step":"1","treatment_applications_no":"2","point_sum1":"300.0000","adjust_point1":"","rank_kinds1":-1,"step1_point_status":"1","point_sum2":"0","adjust_point2":"","rank_kinds2":-1,"step2_point_status":"","point_sum3":"0","adjust_point3":"","rank_kinds3":-1,"step3_point_status":"","point_sum4":"0","adjust_point4":"","rank_kinds4":-1,"step4_point_status":"","point_sum5":"0","adjust_point5":"","rank_kinds5":-1,"final_point_status":"","comment":""}]}','1','datnt','::1';

--****************************************************************************************
--*   							 				
--*  処理概要/process overview	:	I2040 一次評価者フィードバック　or　本人フィードバック
--*  
--*  作成日/create date			:	2018/10/19				
--*　作成者/creater				:	Datnt								
--*   					
--*  更新日/update date			:	2021/04/02
--*　更新者/updater				:　 viettd
--*　更新内容/update content		:	when authority_typ = 3 (admin) & authority=0,1(I2040) -> set authority_typ = 2 (rater)　
--*   					
--*  更新日/update date			:	2021/12/10
--*　更新者/updater				:　 viettd
--*　更新内容/update content		:	upgradate ver 1.8
--*   					
--*  更新日/update date			:	2022/03/31
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	when authority_typ = 3 (admin) & RATER ROUTER -> set authority_typ = 2 (rater)
--*   					
--*  更新日/update date			:	2022/08/16
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgrade 1.9
--****************************************************************************************
CREATE PROCEDURE [SPC_I2040_ACT4] 
	-- Add the parameters for the stored procedure here
	@P_json				NVARCHAR(MAX)	=	''
,	@P_company_cd		SMALLINT		=	0
,	@P_user_id			NVARCHAR(50)	=	''
,	@P_cre_ip			NVARCHAR(50)	=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					=	0
	,	@interview_no			INT					=	0
	,	@step					INT					=	0	
	,	@fiscal_year			INT					=	0
	,	@authority_typ			INT					=	0
	,	@employee_cd			NVARCHAR(20)		=	''
	,	@authority_cd			INT					=	0
	,	@mode					NVARCHAR(20)		=	''
	,	@authority				INT					=	0
	,	@admin_is_rater			INT					=   0 --0:not rater / 1:rater
	CREATE TABLE #TREATMENT_NO(
		id				INT IDENTITY(1,1)
	,	treatment_no	INT
	)
	CREATE TABLE #TABLE_JSON(
		id							INT IDENTITY(1,1)
	,	ck_item						INT	
	,	employee_cd					NVARCHAR(20) 
	,	treatment_applications_no   INT
	,	evaluation_step				INT
	)
	CREATE TABLE #TBL_STEP(
		employee_cd					NVARCHAR(20) 
	,	evaluation_step				INT
	)
	CREATE TABLE #F0120(	
		employee_cd		NVARCHAR(20)
	,	sheet_cd		INT
	)
	CREATE TABLE #TABLE_CHECK(
		employee_cd					NVARCHAR(20) 
	,	treatment_applications_no   INT
	,	evaluation_step				INT
	,	flag						INT
	)
	CREATE TABLE #F0032(
		company_cd					INT
	,	fiscal_year					INT
	,	treatment_applications_no	INT
	,	group_cd					INT
	,	employee_cd					NVARCHAR(50)
	,	sheet_cd					INT
	,	weight						INT
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		SET @fiscal_year		=	JSON_VALUE(@P_json,'$.fiscal_year')
		SET @mode				=	JSON_VALUE(@P_json,'$.mode')
		SET @employee_cd		=	(SELECT employee_cd FROM S0010 where company_cd = @P_company_cd and user_id = @P_user_id and del_datetime IS NULL)
		--
		INSERT INTO #F0032
		SELECT
			company_cd
		,	fiscal_year
		,	treatment_applications_no
		,	MAX(group_cd)
		,	employee_cd
		,	sheet_cd
		,	weight
		FROM F0032
		WHERE 
			company_cd		=	@P_company_cd
		AND fiscal_year		=	@fiscal_year
		AND del_datetime IS NULL
		GROUP BY	
			company_cd
		,	fiscal_year
		,	treatment_applications_no
		,	employee_cd
		,	detail_no
		,	sheet_cd
		,	weight
		--**--
		INSERT INTO #TREATMENT_NO
		SELECT
			[row].treatment_no												
		FROM OPENJSON(@P_json,'$.list_treatment_applications_no') WITH(			
			treatment_no				INT
		) AS [row] 
		--
		INSERT INTO #TABLE_JSON
		SELECT	
			[row].ck_item	
		,	[row].employee_cd                  
		,	[row].treatment_applications_no_1    
		,	[row].valuation_step  
		FROM OPENJSON(@P_json,'$.row_data') WITH(
			ck_item							INT			
		,	employee_cd						NVARCHAR(20) 
		,	treatment_applications_no_1		INT
		,	valuation_step					INT
		) AS [row] 
		-- DELETE UN CHECK ITEM ON SCREEN 
		DELETE #TABLE_JSON WHERE ck_item = 0
		-- UPDATE evaluation_step
		UPDATE #TABLE_JSON SET 
			evaluation_step =	CASE 
									WHEN F0100.rater_employee_cd_1 = @employee_cd 
									THEN 1 
									ELSE 99 
								END
		FROM #TABLE_JSON 
		LEFT JOIN #F0032 ON (
			@P_company_cd							=	#F0032.company_cd
		AND	#TABLE_JSON.employee_cd					=   #F0032.employee_cd
		AND #TABLE_JSON.treatment_applications_no	=	#F0032.treatment_applications_no
		) 
		LEFT JOIN F0100 ON (
			@P_company_cd				=	F0100.company_cd
		AND	#TABLE_JSON.employee_cd		=	F0100.employee_cd
		AND #F0032.sheet_cd				=   F0100.sheet_cd
		AND	@fiscal_year				=	F0100.fiscal_year
		AND	F0100.del_datetime	IS NULL
		) 
		LEFT JOIN M0200 ON(
			F0100.company_cd	= M0200.company_cd
		AND F0100.sheet_cd		= M0200.sheet_cd
		AND M0200.del_datetime	IS NULL
		)
		-- get all information
		SELECT 
			@authority_typ	=	ISNULL(authority_typ,0) 
		,	@employee_cd	=	M0070.employee_cd
		,	@authority_cd	=	ISNULL(S0010.authority_cd,0)
		FROM S0010 LEFT JOIN M0070 ON (
			M0070.company_cd		=	S0010.company_cd
		AND M0070.employee_cd		=	S0010.employee_cd
		AND M0070.del_datetime		IS NULL 
		) 
		WHERE 
			S0010.user_id		= @P_user_id 
		AND S0010.company_cd	= @P_company_cd 
		AND S0010.del_datetime  IS NULL
		--GET @authority
		SELECT 
			@authority = ISNULL(authority,0)
		FROM S0021
		WHERE	
			company_cd = @P_company_cd
		AND authority_cd = @authority_cd
		AND function_id = 'I2040'
		AND del_datetime IS NULL
		-- ↓↓↓ add by vietd 2022/08/16
		IF @authority_typ = 6
		BEGIN
			SET @authority_typ = 2 -- 2.RATER
		END
		-- ↑↑↑ end add by vietd 2022/08/16
		-- CHECK ADMIN IS RATER add by viettd 2021/04/02
		-- CHECK PERMISSION OF USER WHEN FINAL(=5.最終評価)
		IF @authority_typ = 3 AND @authority IN (0,1)
		BEGIN
			IF EXISTS (SELECT 1 FROM #TABLE_JSON WHERE evaluation_step = 5)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT 		
					87											-- mã lỗi (trùng với mã trong bảng message) 					
				,	''											-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby									-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1-- tooltip  								-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0											-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0											-- Tùy ý
				,	'WHEN FINAL(確定) THIS USER NOT PERMISSION '	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			END
		END
		-- CHECK PERMISSION OF USER WHEN STEP EVALUTATION(< 5.最終評価)
		IF @authority_typ = 3
		BEGIN
			IF  EXISTS (SELECT 1 FROM #TABLE_JSON 
			INNER JOIN F0100 ON (
				@P_company_cd			= F0100.company_cd
			AND @fiscal_year			= F0100.fiscal_year
			AND #TABLE_JSON.employee_cd = F0100.employee_cd
			AND F0100.del_datetime IS NULL
			)  
			WHERE
				#TABLE_JSON.evaluation_step	<>	5	-- 5.最終評価
			AND 
				(
					rater_employee_cd_1 = @employee_cd 
				OR	rater_employee_cd_2 = @employee_cd 
				OR	rater_employee_cd_3 = @employee_cd 
				OR	rater_employee_cd_4 = @employee_cd 
				)
			)
			BEGIN
				SET @admin_is_rater = 1
			END
			--W
			IF (@authority < 2  AND @admin_is_rater = 0)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT 		
						87												-- mã lỗi (trùng với mã trong bảng message) 					
					,	''												-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
					,	1-- oderby										-- giá trị càng bé thì lỗi được hiển thị trước  				
					,	1-- tooltip  									-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
					,	0												-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
					,	0												-- Tùy ý
					,	'WHEN STEP(NOT 最終) THIS USER NOT PERMISSION'	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			END
			-- ↓↓↓ add by vietd 2021/04/02
			-- if admin & @authority_typ < 2 then set admin to rater
			--IF @authority <> 2
			--BEGIN
			--	SET @authority_typ = 2 -- 2.RATER
			--END
			-- ↑↑↑ end add by vietd 2021/04/02
			-- edited by viettd 2022/03/31
			--IF @admin_is_rater = 1
			--BEGIN
			--	SET @authority_typ = 2 -- ADMIN IS RATER
			--END
		END

		IF NOT EXISTS(SELECT 1 FROM #TABLE_JSON)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				18									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'NONE OF ROW HAS BEEN SELECTED'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END 
		--■■■■■■■■■■■■■■■■■■■■■■■ CHECK EVALUATE DONE ■■■■■■■■■■■■■■■■■■■■■■■■
		INSERT INTO #TABLE_CHECK
		SELECT DISTINCT
			#F0032.employee_cd					
		,	#F0032.treatment_applications_no   
		,	null
		,	CASE	WHEN (M0200.sheet_kbn = 1	AND F0100.status_cd = 12) OR (M0200.sheet_kbn = 2	AND F0100.status_cd = 10)
					THEN 1
			ELSE 0 END	
		FROM  #F0032 
		LEFT JOIN M0200 ON(
			@P_company_cd			=	M0200.company_cd
		AND	#F0032.sheet_cd			=	M0200.sheet_cd
		AND M0200.del_datetime IS NULL
		)
		LEFT JOIN F0100 ON(
			@P_company_cd			=	F0100.company_cd
		AND	@fiscal_year			=	F0100.fiscal_year
		AND	#F0032.employee_cd		=	F0100.employee_cd
		AND	#F0032.sheet_cd			=	F0100.sheet_cd
		AND F0100.del_datetime IS NULL
		)
		-- MESSAGE 54
		INSERT INTO @ERR_TBL 
		SELECT		
			54									-- mã lỗi (trùng với mã trong bảng message) 					
		,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'ALL SHEET HAS BEEN DONE'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM  #TABLE_JSON 
		LEFT JOIN #TABLE_CHECK ON (
			#TABLE_JSON.employee_cd					=	#TABLE_CHECK.employee_cd					
		AND	#TABLE_JSON.treatment_applications_no	=	#TABLE_CHECK.treatment_applications_no		)
		AND #TABLE_CHECK.flag = 1
		WHERE #TABLE_CHECK.employee_cd IS NOT NULL
		-- MESSAGE 101
		INSERT INTO @ERR_TBL 
		SELECT		
			101									-- mã lỗi (trùng với mã trong bảng message) 					
		,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	3-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'NOT CONFIRM IN F0201 YET'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM #TABLE_JSON 
		LEFT JOIN F0201 ON(
			@P_company_cd							=	F0201.company_cd
		AND	@fiscal_year							=	F0201.fiscal_year
		AND	#TABLE_JSON.employee_cd					=	F0201.employee_cd			
		AND	#TABLE_JSON.treatment_applications_no   =	F0201.treatment_applications_no
		) 
		WHERE 
			F0201.confirm_datetime IS NULL
		-- WHEN 一次評価者フィードバック
		IF(@mode = 'RATER')
		BEGIN
			--■■■■■■■■■■■■■■■■■■■■■■■ ONLY STEP 1 AND AUTHORITY = 3,4 ■■■■■■■■■■■■■■■■■■■■■■■■
			-- MESS 77
			IF @authority_typ NOT IN (3,4,5)
			BEGIN
				INSERT INTO @ERR_TBL
				SELECT 		
					77									-- mã lỗi (trùng với mã trong bảng message) 					
				,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	2-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0									-- Tùy ý
				,	'NOT AUTHOR = 3,4'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
				FROM #TABLE_JSON
			END			
			-- add by viettd 2022/03/31
			--IF @authority_typ = 3
			--BEGIN
			--	INSERT INTO @ERR_TBL
			--	SELECT 		
			--		77									-- mã lỗi (trùng với mã trong bảng message) 					
			--	,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			--	,	2-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			--	,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			--	,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			--	,	0									-- Tùy ý
			--	,	'NOT AUTHOR = 3,4'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			--	FROM #TABLE_JSON
			--	INNER JOIN (
			--		SELECT 
			--			F0030.company_cd						AS	company_cd
			--		,	F0030.fiscal_year						AS	fiscal_year
			--		,	F0030.treatment_applications_no			AS	treatment_applications_no
			--		,	F0030.employee_cd						AS	employee_cd
			--		,	MAX(F0030.group_cd)						AS	group_cd
			--		FROM F0030
			--		WHERE 
			--			F0030.company_cd				=	@P_company_cd
			--		AND F0030.fiscal_year				=	@fiscal_year
			--		AND F0030.del_datetime IS NULL
			--		AND (
			--			F0030.employee_cd				=	@employee_cd
			--		OR	F0030.rater_employee_cd_1		=	@employee_cd
			--		OR	F0030.rater_employee_cd_2		=	@employee_cd
			--		OR	F0030.rater_employee_cd_3		=	@employee_cd
			--		OR	F0030.rater_employee_cd_4		=	@employee_cd
			--		)
			--		GROUP BY
			--			F0030.company_cd				
			--		,	F0030.fiscal_year				
			--		,	F0030.treatment_applications_no	
			--		,	F0030.employee_cd				
			--	) AS F0030_MAX ON (
			--		@P_company_cd								=	F0030_MAX.company_cd
			--	AND @fiscal_year								=	F0030_MAX.fiscal_year
			--	AND #TABLE_JSON.treatment_applications_no		=	F0030_MAX.treatment_applications_no
			--	AND #TABLE_JSON.employee_cd						=	F0030_MAX.employee_cd
			--	)
			--END
			-- MESS 84
			INSERT INTO @ERR_TBL 
			SELECT		
				84									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	4-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'EVALUATOR ALREADY FEED BACK IN F0201'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #TABLE_JSON 
			INNER JOIN F0201 ON(
				@P_company_cd							=	F0201.company_cd
			AND	@fiscal_year							=	F0201.fiscal_year
			AND	#TABLE_JSON.employee_cd					=	F0201.employee_cd			
			AND	#TABLE_JSON.treatment_applications_no   =	F0201.treatment_applications_no
			) 
			WHERE F0201.raterFB_datetime	IS NOT NULL
		END
		-- WHEN 本人フィードバック
		IF(@mode = 'EVALUATOR') 
		BEGIN 
			-- MESS 77
			INSERT INTO @ERR_TBL
			SELECT 		
				77									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	2-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'NOT evaluater 1'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #TABLE_JSON 
			WHERE @authority_typ = 2 AND #TABLE_JSON.evaluation_step <> 1
			--
			-- add by viettd 2022/03/31
			--IF @authority_typ = 3 AND @admin_is_rater = 1
			--BEGIN
			--	INSERT INTO @ERR_TBL
			--	SELECT 		
			--		77									-- mã lỗi (trùng với mã trong bảng message) 					
			--	,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			--	,	2-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			--	,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			--	,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			--	,	0									-- Tùy ý
			--	,	'NOT AUTHOR = 3,4'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			--	FROM #TABLE_JSON
			--	INNER JOIN (
			--		SELECT 
			--			F0030.company_cd						AS	company_cd
			--		,	F0030.fiscal_year						AS	fiscal_year
			--		,	F0030.treatment_applications_no			AS	treatment_applications_no
			--		,	F0030.employee_cd						AS	employee_cd
			--		,	MAX(F0030.group_cd)						AS	group_cd
			--		FROM F0030
			--		WHERE 
			--			F0030.company_cd				=	@P_company_cd
			--		AND F0030.fiscal_year				=	@fiscal_year
			--		AND F0030.rater_employee_cd_1		<>	@employee_cd
			--		AND F0030.del_datetime IS NULL
			--		GROUP BY
			--			F0030.company_cd					
			--		,	F0030.fiscal_year					
			--		,	F0030.treatment_applications_no		
			--		,	F0030.employee_cd					
			--	) AS F0030_MAX ON (
			--		@P_company_cd								=	F0030_MAX.company_cd
			--	AND @fiscal_year								=	F0030_MAX.fiscal_year
			--	AND #TABLE_JSON.treatment_applications_no		=	F0030_MAX.treatment_applications_no
			--	AND #TABLE_JSON.employee_cd						=	F0030_MAX.employee_cd
			--	)
			--END
			--MESS 85
			INSERT INTO @ERR_TBL 
			SELECT		
				85									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	5-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'RATER NOT FEED BACK IN F0201 YET'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #TABLE_JSON 
			INNER JOIN F0201 ON(
				@P_company_cd							=	F0201.company_cd
			AND	@fiscal_year							=	F0201.fiscal_year
			AND	#TABLE_JSON.employee_cd					=	F0201.employee_cd			
			AND	#TABLE_JSON.treatment_applications_no   =	F0201.treatment_applications_no
			) 
			WHERE F0201.raterFB_datetime	IS NULL
			-- MESS 84
			INSERT INTO @ERR_TBL 
			SELECT		
				84									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'						-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	4-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'RATER ALREADY FEED BACK IN F0201'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM   #TABLE_JSON 
			INNER JOIN F0201 ON(
				@P_company_cd							=	F0201.company_cd
			AND	@fiscal_year							=	F0201.fiscal_year
			AND	#TABLE_JSON.employee_cd					=	F0201.employee_cd			
			AND	#TABLE_JSON.treatment_applications_no   =	F0201.treatment_applications_no
			) 
			WHERE F0201.evaluatorFB_datetime	IS NOT NULL
		END
		--■■■■■■■■■■■■■■■■■■■■■■■ INERT UPDATE ■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- INSERT INTO #TBL_STEP
			INSERT INTO #TBL_STEP
			SELECT 
				#TABLE_JSON.employee_cd
			,	CASE WHEN F0100.rater_employee_cd_1 = @employee_cd	AND ((M0200.sheet_kbn = 1 AND F0100.status_cd = 4) OR	(M0200.sheet_kbn = 2 AND F0100.status_cd = 2))THEN 1
						WHEN F0100.rater_employee_cd_2 = @employee_cd  AND ((M0200.sheet_kbn = 1 AND F0100.status_cd = 5) OR	(M0200.sheet_kbn = 2 AND F0100.status_cd = 3))THEN 2
						WHEN F0100.rater_employee_cd_3 = @employee_cd  AND ((M0200.sheet_kbn = 1 AND F0100.status_cd = 6) OR	(M0200.sheet_kbn = 2 AND F0100.status_cd = 4))THEN 3
						WHEN F0100.rater_employee_cd_4 = @employee_cd  AND ((M0200.sheet_kbn = 1 AND F0100.status_cd = 7) OR	(M0200.sheet_kbn = 2 AND F0100.status_cd = 5))THEN 4
					ELSE 0 
				END
			FROM #TABLE_JSON LEFT JOIN F0100 ON (
				@P_company_cd				=	F0100.company_cd
			AND	#TABLE_JSON.employee_cd		=	F0100.employee_cd
			AND	@fiscal_year				=	F0100.fiscal_year
			AND	F0100.del_datetime	IS NULL
			)
			LEFT JOIN M0200 ON(
				F0100.company_cd	= M0200.company_cd
			AND F0100.sheet_cd		= M0200.sheet_cd
			AND M0200.del_datetime	IS NULL
			)
			-- INSERT INTO #F0120
			INSERT INTO #F0120
			SELECT DISTINCT
				CASE WHEN	(M0100.evaluation_typ_1 = 0 and W_M0200.sheet_kbn = 2)  
						OR (M0100.target_evaluation_typ_1 = 0 and W_M0200.sheet_kbn = 1)  -- th sheet khong seting nguoi danh gia o master m0100
					THEN #F0032.employee_cd
					ELSE F0120.employee_cd 
				END
			,	CASE WHEN	(M0100.evaluation_typ_1 = 0 and W_M0200.sheet_kbn = 2)  
						OR (M0100.target_evaluation_typ_1 = 0 and W_M0200.sheet_kbn = 1) 
					THEN #F0032.sheet_cd
					ELSE F0120.sheet_cd 
				END
			FROM  #TABLE_JSON
			LEFT JOIN #F0032 ON(
				@P_company_cd								=	#F0032.company_cd
			AND	@fiscal_year								=	#F0032.fiscal_year
			AND	#TABLE_JSON.employee_cd						=	#F0032.employee_cd
			AND #TABLE_JSON.treatment_applications_no		=	#F0032.treatment_applications_no
			)
			LEFT JOIN F0120 ON(
				@P_company_cd								=	F0120.company_cd
			AND	@fiscal_year								=	F0120.fiscal_year
			AND	#TABLE_JSON.employee_cd						=	F0120.employee_cd
			AND	#F0032.sheet_cd								=	F0120.sheet_cd
			)
			LEFT JOIN W_M0200 ON(
				@P_company_cd	=	W_M0200.company_cd
			AND @fiscal_year	=	W_M0200.fiscal_year
			AND #F0032.sheet_cd	=	W_M0200.sheet_cd
			)
			LEFT JOIN M0100 ON(
				@P_company_cd	=	M0100.company_cd
			)
			WHERE  f0120.company_cd = @P_company_cd
			-- EVALUATOR
			IF(@mode = 'EVALUATOR')
			BEGIN
				UPDATE F0201 SET
					F0201.evaluatorFB_user		=	@P_user_id
				,	F0201.evaluatorFB_ip		=	@P_cre_ip
				,	F0201.evaluatorFB_datetime	=	@w_time
				,	upd_user					=	@P_user_id			
				,	upd_ip						=	@P_cre_ip	
				,	upd_prg						=	'I2040'
				,	upd_datetime				=	@w_time	
				FROM F0201 
				LEFT JOIN #TABLE_JSON ON (
					F0201.company_cd				=	@P_company_cd
				AND	F0201.fiscal_year				=	@fiscal_year
				AND	F0201.employee_cd				=	#TABLE_JSON.employee_cd	
				AND	F0201.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				)
				WHERE 
					F0201.company_cd				=	@P_company_cd
				AND	F0201.fiscal_year				=	@fiscal_year
				AND	F0201.employee_cd				=	#TABLE_JSON.employee_cd	
				AND	F0201.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				AND	F0201.del_datetime				IS NULL
			END 
			ELSE -- RATER
			BEGIN
				--UPDATE F0201
				UPDATE F0201 SET
					F0201.raterFB_user				=	@P_user_id
				,	F0201.raterFB_ip				=	@P_cre_ip
				,	F0201.raterFB_datetime			=	@w_time
				,	upd_user						=	@P_user_id			
				,	upd_ip							=	@P_cre_ip
				,	upd_prg							=	'I2040'	
				,	upd_datetime					=	@w_time	
				FROM F0201 LEFT JOIN #TABLE_JSON ON (
					F0201.company_cd				=	@P_company_cd
				AND	F0201.fiscal_year				=	@fiscal_year
				AND	F0201.employee_cd				=	#TABLE_JSON.employee_cd	
				AND	F0201.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				)
				LEFT JOIN #TBL_STEP	ON(
					F0201.company_cd				=	@P_company_cd
				AND	F0201.fiscal_year				=	@fiscal_year
				AND	F0201.employee_cd				=	#TBL_STEP.employee_cd		
				)
				WHERE F0201.company_cd				=	@P_company_cd
				AND	F0201.fiscal_year				=	@fiscal_year
				AND	F0201.employee_cd				=	#TABLE_JSON.employee_cd	
				AND	F0201.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				--AND	#TBL_STEP.evaluation_step		=	1
				AND	F0201.del_datetime				IS NULL
			END
			-- INSERT F0010
			IF  EXISTS(SELECT 1 FROM M0200 INNER JOIN #F0120 ON(
														M0200.company_cd	=	@P_company_cd
													AND	M0200.sheet_cd		=	#F0120.sheet_cd
													) WHERE M0200.sheet_kbn	=	1
													) 
			BEGIN
				--EVALUATOR
				IF(@mode = 'EVALUATOR' )
				BEGIN
					UPDATE F0100 SET
						F0100.status_cd			=	11
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip	
					,	upd_prg					=	'I2040'
					,	upd_datetime			=	@w_time	
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TBL_STEP ON(
						#F0120.employee_cd	=	#TBL_STEP.employee_cd
					)LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
					WHERE 
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					AND M0200.sheet_kbn		=	1
					AND	F0100.del_datetime IS NULL
				END 
				--RATER
				ELSE IF(@mode = 'RATER')
				BEGIN
					UPDATE F0100 SET
						F0100.status_cd			=	10
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip	
					,	upd_prg					=	'I2040'
					,	upd_datetime			=	@w_time	
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
					WHERE 
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					AND M0200.sheet_kbn		=	1
					AND	F0100.del_datetime IS NULL
				END
			END 
			IF  EXISTS(SELECT 1 FROM M0200 INNER JOIN #F0120 ON(
													M0200.company_cd	=	@P_company_cd
												AND	M0200.sheet_cd		=	#F0120.sheet_cd
												) WHERE M0200.sheet_kbn	=	2
												) 
			BEGIN
				-- EVALUATOR
				IF(@mode = 'EVALUATOR')
				BEGIN
					UPDATE F0100 SET
						F0100.status_cd			=	9
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip	
					,	upd_prg					=	'I2040'
					,	upd_datetime			=	@w_time	
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TBL_STEP ON(
						#F0120.employee_cd	=	#TBL_STEP.employee_cd
					)LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
					WHERE 
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					AND M0200.sheet_kbn		=	2 
					AND	F0100.del_datetime IS NULL
				END 
				--RATER
				ELSE IF(@mode = 'RATER')
				BEGIN
					UPDATE F0100 SET
						F0100.status_cd			=	8
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip
					,	upd_prg					=	'I2040'	
					,	upd_datetime			=	@w_time	
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
					WHERE 
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					AND M0200.sheet_kbn		=	2 
					AND	F0100.del_datetime IS NULL
				END
			END
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	-- [1] add by viettd 2021/12/10
	IF(@mode = 'EVALUATOR') 
	BEGIN
		SELECT 
			DISTINCT
			#TABLE_JSON.employee_cd
		FROM #TABLE_JSON
	END
END
GO
