DROP PROCEDURE [SPC_I2040_ACT2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC SPC_I2040_ACT1 '{"fiscal_year":"2018","employee_typ":"-1","list":[],"row_data":[{"ck_item":"1","employee_cd":"794","valuation_step":"1","treatment_applications_no":"1","point_sum1":"470.6000","adjust_point1":"","rank_kinds1":-1,"step1_point_status":"1","point_sum2":"0","adjust_point2":"","rank_kinds2":-1,"step2_point_status":"","point_sum3":"0","adjust_point3":"","rank_kinds3":-1,"step3_point_status":"","point_sum4":"0","adjust_point4":"","rank_kinds4":-1,"step4_point_status":"","point_sum5":"0","adjust_point5":"","rank_kinds5":-1,"final_point_status":"","comment":""},{"ck_item":"0","employee_cd":"794","valuation_step":"1","treatment_applications_no":"2","point_sum1":"300.0000","adjust_point1":"","rank_kinds1":-1,"step1_point_status":"1","point_sum2":"0","adjust_point2":"","rank_kinds2":-1,"step2_point_status":"","point_sum3":"0","adjust_point3":"","rank_kinds3":-1,"step3_point_status":"","point_sum4":"0","adjust_point4":"","rank_kinds4":-1,"step4_point_status":"","point_sum5":"0","adjust_point5":"","rank_kinds5":-1,"final_point_status":"","comment":""}]}','1','datnt','::1';

--****************************************************************************************
--*   											
--*  処理概要/process overview	:	I2040
--*  
--*  作成日/create date			:	2018/10/19				
--*　作成者/creater				:	Datnt								
--*   					
--*  更新日/update date			:	2021/04/02
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	when authority_typ = 3 (admin) & authority=0,1(I2040) -> set authority_typ = 2 (rater)
--*   					
--*  更新日/update date			:	2021/10/14
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	FIX WHEN authority_typ = 4 then not approved
--*   					
--*  更新日/update date			:	2021/12/06
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	FIX MESSAGE 83
--*   					
--*  更新日/update date			:	2021/12/10
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgradate ver1.8
--*   					
--*  更新日/update date			:	2022/03/31
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	when authority_typ = 3 (admin) & RATER ROUTER -> set authority_typ = 2 (rater)
--*   					
--*  更新日/update date			:	2022/08/16
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgrade 1.9
--****************************************************************************************
CREATE PROCEDURE [SPC_I2040_ACT2] 
	-- Add the parameters for the stored procedure here
	-- common
	@P_json				NVARCHAR(MAX)	=	''
,	@P_company_cd		SMALLINT		=	0
,	@P_user_id			NVARCHAR(50)	=	''
,	@P_cre_ip			NVARCHAR(50)	=	''
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					=	0
	,	@interview_no			INT					=	0
	,	@step					INT					=	0	
	,	@fiscal_year			INT					=	0
	,	@authority_typ			INT					=	0
	,	@employee_cd			NVARCHAR(20)		=	''
	,	@authority_cd			INT					=	0
	,	@max_rater				INT					=	0
	,	@taget_step				INT					=	0
	,	@evalu_step				INT					=	0
	,	@authority				INT					=	0
	,	@admin_is_rater			INT					=   0 --0:not rater / 1:rater
	CREATE TABLE #TREATMENT_NO(
		id				INT IDENTITY(1,1)
	,	treatment_no	INT
	)
	CREATE TABLE #TABLE_JSON(
		id							INT		IDENTITY(1,1)
	,	ck_item						INT
	,	employee_cd					NVARCHAR(10) 
	,	evaluation_step				INT					-- 1.一次評価　2.二次評価　3.三次評価　4.四次評価　5.最終評価
	,	treatment_applications_no   INT
	,	point_sum1					MONEY			
	,	adjust_point1				MONEY
	,	rank_kinds1					INT
	,	step1_point_status			INT
	,	point_sum2					MONEY
	,	adjust_point2       		MONEY
	,	rank_kinds2         		INT
	,	step2_point_status  		INT
	,	point_sum3					MONEY
	,	adjust_point3       		MONEY
	,	rank_kinds3         		INT
	,	step3_point_status  		INT
	,	point_sum4					MONEY
	,	adjust_point4       		MONEY
	,	rank_kinds4         		INT
	,	step4_point_status  		INT
	,	point_sum5					MONEY
	,	adjust_point5       		MONEY
	,	rank_kinds5         		INT
	,	final_point_status  		INT
	,	comment						NVARCHAR(800)
	,	sheet_use_typ				INT
	--,	step_final_confirmed		TINYINT			-- add by viettd 2022/03/31
	)
	CREATE TABLE #TBL_MAX_STEP(
		employee_cd					NVARCHAR(20)  
	,	treatment_applications_no	TINYINT
	,	evaluation_step				INT
	)
	CREATE TABLE #F0120(	
		employee_cd					NVARCHAR(20)
	,	sheet_cd					INT
	)
	CREATE TABLE #TABLE_CHECK(
		id							INT IDENTITY(1,1)
	,	employee_cd					NVARCHAR(20) 
	,	treatment_applications_no   INT
	,	evaluation_step				INT
	)
	CREATE TABLE #M0310_1(
		id							INT IDENTITY(1,1)
	,	status_cd					INT
	)
	CREATE TABLE #M0310_2(
		id							INT IDENTITY(1,1)
	,	status_cd					INT
	)
	CREATE TABLE #F0032(
		company_cd					INT
	,	fiscal_year					INT
	,	treatment_applications_no	INT
	,	group_cd					INT
	,	employee_cd					NVARCHAR(50)
	,	sheet_cd					INT
	,	weight						INT
	)
	--↓↓↓ add by viettd 2021/12/10
	CREATE TABLE #TABLE_NEXT_STEP_RATER(
		company_cd					INT
	,	fiscal_year					INT
	,	treatment_applications_no	INT
	,	employee_cd					NVARCHAR(10)
	,	rater_employee_cd_1			NVARCHAR(10)
	,	rater_employee_cd_2			NVARCHAR(10)
	,	rater_employee_cd_3			NVARCHAR(10)
	,	rater_employee_cd_4			NVARCHAR(10)
	,	evaluation_step				INT
	,	evaluation_step_next		INT
	,	evaluation_step_next_rater	VARCHAR(10)
	,	evaluation_step_max			INT
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		--	GET STEP OF M0100
		IF EXISTS(SELECT 1 FROM M0100 WHERE company_cd	= @P_company_cd AND (target_evaluation_typ_1	=	1 OR evaluation_typ_1 = 1))
		BEGIN
			SET @step	=	1
		END
		IF EXISTS(SELECT 1 FROM M0100 WHERE company_cd	= @P_company_cd AND (target_evaluation_typ_2	=	1 OR evaluation_typ_2 = 1))
		BEGIN
			SET @step	=	2
		END
		IF EXISTS(SELECT 1 FROM M0100 WHERE company_cd	= @P_company_cd AND (target_evaluation_typ_3	=	1 OR evaluation_typ_3 = 1))
		BEGIN
			SET @step	=	3
		END
		IF EXISTS(SELECT 1 FROM M0100 WHERE company_cd	= @P_company_cd AND (target_evaluation_typ_4	=	1 OR evaluation_typ_4 = 1))
		BEGIN
			SET @step	=	4
		END
		SET @fiscal_year		=	JSON_VALUE(@P_json,'$.fiscal_year')
		--
		INSERT INTO #TREATMENT_NO
		SELECT
			[row].treatment_no												
		FROM OPENJSON(@P_json,'$.list_treatment_applications_no') WITH(			
			treatment_no				INT
		) AS [row] 
		--
		INSERT INTO #TABLE_JSON
		SELECT	
			[row].ck_item	
		,	[row].employee_cd                  
		,	[row].valuation_step 
		,	[row].treatment_applications_no_1    
		,	[row].point_sum1                   
		,	IIF([row].adjust_point1 = '' , 0, [row].adjust_point1)               
		,	IIF([row].rank_kinds1 = -1 , 0, [row].rank_kinds1)
		,	[row].step1_point_status          
		,	[row].point_sum2                   
		,	IIF([row].adjust_point2 = '' , 0, [row].adjust_point2)                  
		,	IIF([row].rank_kinds2 = -1 , 0, [row].rank_kinds2)               
		,	[row].step2_point_status           
		,	[row].point_sum3                  
		,	IIF([row].adjust_point3 = '' , 0, [row].adjust_point3)              
		,	IIF([row].rank_kinds3 = -1 , 0, [row].rank_kinds3)                        
		,	[row].step3_point_status           
		,	[row].point_sum4                   
		,	IIF([row].adjust_point4 = '' , 0, [row].adjust_point4)                  
		,	IIF([row].rank_kinds4 = -1 , 0, [row].rank_kinds4)                       
		,	[row].step4_point_status           
		,	[row].point_sum5                   
		,	IIF([row].adjust_point5 = '' , 0, [row].adjust_point5)               
		,	IIF([row].rank_kinds5 = -1 , 0, [row].rank_kinds5)                      
		,	[row].final_point_status           
		,	[row].comment   
		,	0		-- sheet_use_typ		
		--,	0		-- step_final_confirmed
		FROM OPENJSON(@P_json,'$.row_data') WITH(
			ck_item						INT			
		,	employee_cd					NVARCHAR(10) 
		,	valuation_step				INT
		,	treatment_applications_no_1   INT
		,	point_sum1					MONEY			  
		,	adjust_point1				MONEY
		,	rank_kinds1					INT
		,	step1_point_status			INT
		,	point_sum2					MONEY
		,	adjust_point2       		MONEY
		,	rank_kinds2         		INT
		,	step2_point_status  		INT
		,	point_sum3					MONEY
		,	adjust_point3       		MONEY
		,	rank_kinds3         		INT
		,	step3_point_status  		INT
		,	point_sum4					MONEY
		,	adjust_point4       		MONEY
		,	rank_kinds4         		INT
		,	step4_point_status  		INT
		,	point_sum5					MONEY
		,	adjust_point5       		MONEY
		,	rank_kinds5         		INT
		,	final_point_status  		INT
		,	comment						NVARCHAR(800)
		) AS [row] 
		-- DELETE UN CHECK ITEM ON SCREEN 
		DELETE #TABLE_JSON WHERE ck_item	=	0
		-- UPDATE sheet_use_typ INTO #TABLE_JSON
		UPDATE #TABLE_JSON SET 
			sheet_use_typ	=	F0011.sheet_use_typ
		FROM #TABLE_JSON 
		LEFT JOIN F0011 ON(
			@P_company_cd							= F0011.company_cd
		AND @fiscal_year							= F0011.fiscal_year
		AND #TABLE_JSON.treatment_applications_no	= F0011.treatment_applications_no
		AND F0011.del_datetime IS NULL
		)
		-- GET INFORMATION OF USER LOGIN
		SELECT 
			@authority_typ	=	ISNULL(S0010.authority_typ,0) 
		--,	@employee_cd	=	M0070.employee_cd
		,	@employee_cd	=	ISNULL(M0070.employee_cd,'')	-- eidted by viettd 2021/10/14	
		,	@authority_cd	=	ISNULL(S0010.authority_cd,0)
		FROM S0010 LEFT JOIN M0070 ON (
			M0070.company_cd		=	S0010.company_cd
		AND M0070.employee_cd		=	S0010.employee_cd
		AND M0070.del_datetime		IS NULL 
		) 
		WHERE 
			S0010.[user_id]		=	@P_user_id 
		AND S0010.company_cd	=	@P_company_cd 
		AND S0010.del_datetime  IS NULL
		-- GET AUTHORITY OF I2040
		SELECT 
			@authority = ISNULL(authority,0)
		FROM S0021
		WHERE	
			company_cd		= @P_company_cd
		AND authority_cd	= @authority_cd
		AND function_id		= 'I2040'
		AND del_datetime IS NULL
		-- ↓↓↓　add by viettd 2022/08/16
		-- WHEN 6.管理者（評価者権限）THEN SET @authority_typ = 2.評価者
		IF @authority_typ = 6 
		BEGIN
			SET @authority_typ = 2	-- RATER
		END
		-- ↑↑↑　end add by viettd 2022/08/16
		-- CHECK ADMIN IS RATER  add by viettd 2021/04/02
		-- CHECK PERMISSION OF USER WHEN FINAL(=5.最終評価)
		IF @authority_typ = 3 AND @authority IN (0,1)
		BEGIN
			IF EXISTS (SELECT 1 FROM #TABLE_JSON WHERE evaluation_step = 5)
			BEGIN
				INSERT INTO @ERR_TBL 
				SELECT 		
					87										-- mã lỗi (trùng với mã trong bảng message) 					
				,	''										-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby								-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1-- tooltip  							-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0										-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0										-- Tùy ý
				,	'WHEN FINAL(最終) THIS USER NOT PERMISSION '	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			END
		END
		-- CHECK PERMISSION OF USER WHEN STEP EVALUTATION(< 5.最終評価)
		IF @authority_typ = 3
		BEGIN
			IF EXISTS (
				SELECT 1 FROM #TABLE_JSON 
				INNER JOIN F0100 ON (
					@P_company_cd			= F0100.company_cd
				AND @fiscal_year			= F0100.fiscal_year
				AND #TABLE_JSON.employee_cd = F0100.employee_cd
				AND F0100.del_datetime IS NULL
				)  
				WHERE 
					#TABLE_JSON.evaluation_step	<>	5	-- 5.最終評価
				AND	(
					rater_employee_cd_1 = @employee_cd 
				OR	rater_employee_cd_2 = @employee_cd 
				OR	rater_employee_cd_3 = @employee_cd 
				OR	rater_employee_cd_4 = @employee_cd
					)
			)
			BEGIN
				SET @admin_is_rater = 1
			END
			-- check error not use this function
			IF (@authority < 2  AND @admin_is_rater = 0)
			BEGIN 
				INSERT INTO @ERR_TBL 
				SELECT 		
					87												-- mã lỗi (trùng với mã trong bảng message) 					
				,	''												-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	1-- oderby										-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1-- tooltip  									-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0												-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0												-- Tùy ý
				,	'WHEN STEP(NOT 最終) THIS USER NOT PERMISSION '	-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			END
			-- ↓↓↓ add by vietd 2021/04/02
			---- if admin & @authority_typ < 2 then set admin to rater
			--IF @authority <> 2
			--BEGIN
			--	SET @authority_typ = 2 -- 2.RATER
			--END
			-- ↑↑↑ end add by vietd 2021/04/02
			-- edited by viettd 2022/03/31
			IF @admin_is_rater = 1
			BEGIN
				SET @authority_typ = 2 -- ADMIN IS RATER
			END
		END
		-- INSERT INTO #F0032
		INSERT INTO #F0032
		SELECT
			company_cd
		,	fiscal_year
		,	treatment_applications_no
		,	MAX(group_cd)
		,	employee_cd
		,	sheet_cd
		,	weight
		FROM F0032
		WHERE company_cd	=	@P_company_cd
		AND fiscal_year		=	@fiscal_year
		AND del_datetime IS NULL
		GROUP BY	
			company_cd
		,	fiscal_year
		,	treatment_applications_no
		,	employee_cd
		,	detail_no
		,	sheet_cd
		,	weight
		--	GET STEP OF M0100
		IF EXISTS(SELECT 1 FROM M0100 WHERE company_cd	= @P_company_cd AND (target_evaluation_typ_1 = 1 OR evaluation_typ_1 = 1))
		BEGIN
			SET @max_rater	=	1
		END
		IF EXISTS(SELECT 1 FROM M0100 WHERE company_cd	= @P_company_cd AND (target_evaluation_typ_2 = 1 OR evaluation_typ_2 = 1))
		BEGIN
			SET @max_rater	=	2
		END
		IF EXISTS(SELECT 1 FROM M0100 WHERE company_cd	= @P_company_cd AND (target_evaluation_typ_3 = 1 OR evaluation_typ_3 = 1))
		BEGIN
			SET @max_rater	=	3
		END
		IF EXISTS(SELECT 1 FROM M0100 WHERE company_cd	= @P_company_cd AND (target_evaluation_typ_4 = 1 OR evaluation_typ_4 = 1))
		BEGIN
			SET @max_rater	=	4
		END
		-- GET STEP OF 目標と定性
		SELECT @taget_step	=	(M0100.target_evaluation_typ_1 + M0100.target_evaluation_typ_2 + M0100.target_evaluation_typ_3 + M0100.target_evaluation_typ_4)  FROM M0100 where company_cd = @P_company_cd
		SELECT @evalu_step	=	(M0100.evaluation_typ_1 + M0100.evaluation_typ_2 + M0100.evaluation_typ_3 + M0100.evaluation_typ_4)  FROM M0100 where company_cd = @P_company_cd
		-- insert into #TBL_MAX_STEP
		INSERT INTO #TBL_MAX_STEP
		SELECT
			F0100.employee_cd					AS	employee_cd
		,	#F0032.treatment_applications_no	AS	treatment_applications_no
		,	CASE WHEN  F0100.rater_employee_cd_4 <> '' 	THEN 4
				 WHEN  F0100.rater_employee_cd_4 = '' AND  F0100.rater_employee_cd_3 <> ''	THEN 3
				 WHEN  F0100.rater_employee_cd_4 = '' AND  F0100.rater_employee_cd_3 = '' AND  F0100.rater_employee_cd_2 <> ''	THEN 2
				 WHEN  F0100.rater_employee_cd_4 = '' AND  F0100.rater_employee_cd_3 = '' AND  F0100.rater_employee_cd_2 = '' AND 	F0100.rater_employee_cd_1 <> ''THEN 1  
				 ELSE 0
			END									AS	evaluation_step
		FROM #TABLE_JSON 
		LEFT JOIN #F0032 ON (
			@P_company_cd							=	#F0032.company_cd
		AND	#TABLE_JSON.employee_cd					=   #F0032.employee_cd
		AND	@fiscal_year							=	#F0032.fiscal_year
		AND #TABLE_JSON.treatment_applications_no	=	#F0032.treatment_applications_no
		)  
		LEFT JOIN F0100 ON(
			@P_company_cd				=	F0100.company_cd
		AND	@fiscal_year				=	F0100.fiscal_year
		AND #F0032.sheet_cd				=   F0100.sheet_cd
		AND	#TABLE_JSON.employee_cd		=	F0100.employee_cd
		)
		WHERE 
			F0100.company_cd	=	@P_company_cd
		AND F0100.fiscal_year	=	@fiscal_year
		AND F0100.del_datetime IS NULL
		-- tính lại step khi thằng quản lý muốn chốt hộ rater khác
		UPDATE #TABLE_JSON SET 
			evaluation_step =	CASE 
									-- add by viettd 2022/03/31
									WHEN #TABLE_JSON.employee_cd = @employee_cd AND @authority_typ IN(3,4,5) AND F0100.rater_employee_cd_1 <> '' AND F0200_1.confirm_datetime IS NULL
									THEN 1
									WHEN #TABLE_JSON.employee_cd = @employee_cd AND @authority_typ IN(3,4,5) AND F0100.rater_employee_cd_2 <> '' AND F0200_2.confirm_datetime IS NULL
									THEN 2
									WHEN #TABLE_JSON.employee_cd = @employee_cd AND @authority_typ IN(3,4,5) AND F0100.rater_employee_cd_3 <> '' AND F0200_3.confirm_datetime IS NULL
									THEN 3
									WHEN #TABLE_JSON.employee_cd = @employee_cd AND @authority_typ IN(3,4,5) AND F0100.rater_employee_cd_4 <> '' AND F0200_4.confirm_datetime IS NULL
									THEN 4
									WHEN #TABLE_JSON.employee_cd = @employee_cd AND @authority_typ IN(3,4,5)
									THEN 5
									WHEN (F0200_1.confirm_datetime IS NULL AND #TBL_MAX_STEP.evaluation_step >= 1 AND @authority_typ <> 2 AND #TABLE_JSON.employee_cd <> @employee_cd) OR(#TABLE_JSON.evaluation_step = 0 AND  F0100.rater_employee_cd_1 = @employee_cd )THEN 1
									WHEN (F0200_2.confirm_datetime IS NULL AND #TBL_MAX_STEP.evaluation_step >= 2 AND @authority_typ <> 2 AND #TABLE_JSON.employee_cd <> @employee_cd) OR(#TABLE_JSON.evaluation_step = 0 AND  F0100.rater_employee_cd_2 = @employee_cd )THEN 2
									WHEN (F0200_3.confirm_datetime IS NULL AND #TBL_MAX_STEP.evaluation_step >= 3 AND @authority_typ <> 2 AND #TABLE_JSON.employee_cd <> @employee_cd) OR(#TABLE_JSON.evaluation_step = 0 AND  F0100.rater_employee_cd_3 = @employee_cd )THEN 3
									WHEN (F0200_4.confirm_datetime IS NULL AND #TBL_MAX_STEP.evaluation_step >= 4 AND @authority_typ <> 2 AND #TABLE_JSON.employee_cd <> @employee_cd) OR(#TABLE_JSON.evaluation_step = 0 AND  F0100.rater_employee_cd_4 = @employee_cd )THEN 4
									ELSE #TABLE_JSON.evaluation_step
								END -- current_rater_step
		FROM #TABLE_JSON 
		LEFT JOIN #F0032 ON (
			@P_company_cd							=	#F0032.company_cd
		AND	#TABLE_JSON.employee_cd					=   #F0032.employee_cd
		AND #TABLE_JSON.treatment_applications_no	=	#F0032.treatment_applications_no
		) 
		LEFT JOIN F0100 ON (
			@P_company_cd				=	F0100.company_cd
		AND	#TABLE_JSON.employee_cd		=	F0100.employee_cd
		AND #F0032.sheet_cd				=   F0100.sheet_cd
		AND	@fiscal_year				=	F0100.fiscal_year
		AND	F0100.del_datetime	IS NULL
		)
		LEFT JOIN #TBL_MAX_STEP ON(
			#TABLE_JSON.employee_cd					=	#TBL_MAX_STEP.employee_cd
		AND #TABLE_JSON.treatment_applications_no	=	#TBL_MAX_STEP.treatment_applications_no
		)
		LEFT JOIN F0200  AS F0200_1 ON(
			@P_company_cd							=	F0200_1.company_cd
		AND	@fiscal_year							=	F0200_1.fiscal_year
		AND	#TABLE_JSON.employee_cd					=	F0200_1.employee_cd
		AND	#TABLE_JSON.treatment_applications_no	=	F0200_1.treatment_applications_no
		AND 1										=	F0200_1.evaluation_step
		)
		LEFT JOIN F0200  AS F0200_2 ON(
			@P_company_cd							=	F0200_2.company_cd
		AND	@fiscal_year							=	F0200_2.fiscal_year
		AND	#TABLE_JSON.employee_cd					=	F0200_2.employee_cd
		AND	#TABLE_JSON.treatment_applications_no	=	F0200_2.treatment_applications_no
		AND 2										=	F0200_2.evaluation_step
		)
		LEFT JOIN F0200  AS F0200_3 ON(
			@P_company_cd							=	F0200_3.company_cd
		AND	@fiscal_year							=	F0200_3.fiscal_year
		AND	#TABLE_JSON.employee_cd					=	F0200_3.employee_cd
		AND	#TABLE_JSON.treatment_applications_no	=	F0200_3.treatment_applications_no
		AND 3										=	F0200_3.evaluation_step
		)
		LEFT JOIN F0200  AS F0200_4 ON(
			@P_company_cd							=	F0200_4.company_cd
		AND	@fiscal_year							=	F0200_4.fiscal_year
		AND	#TABLE_JSON.employee_cd					=	F0200_4.employee_cd
		AND	#TABLE_JSON.treatment_applications_no	=	F0200_4.treatment_applications_no
		AND 4										=	F0200_4.evaluation_step
		)
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--VALIDATE
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		-- check mess 18
		IF NOT EXISTS(SELECT 1 FROM #TABLE_JSON)
		BEGIN
			INSERT INTO @ERR_TBL VALUES(		
				18									-- mã lỗi (trùng với mã trong bảng message) 					
			,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'NONE OF ROW HAS BEEN SELECTED'		-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			)
		END
		-- check mess 8 
		INSERT INTO @ERR_TBL 
		SELECT 		
			8									-- mã lỗi (trùng với mã trong bảng message) 					
		,	'.comment'							-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	0-- tooltip  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'input required validate'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM #TABLE_JSON
		WHERE 
			#TABLE_JSON.comment = ''
		AND (	
			(#TABLE_JSON.step1_point_status = 1 AND (#TABLE_JSON.adjust_point1 <> 0))
		OR	(#TABLE_JSON.step2_point_status = 1 AND (#TABLE_JSON.adjust_point2 <> 0))
		OR	(#TABLE_JSON.step3_point_status = 1 AND (#TABLE_JSON.adjust_point3 <> 0))
		OR	(#TABLE_JSON.step4_point_status = 1 AND (#TABLE_JSON.adjust_point4 <> 0))
		)
		-- insert into #TABLE_CHECK
		INSERT INTO #TABLE_CHECK
		SELECT 
			#TABLE_JSON.employee_cd					
		,	#TABLE_JSON.treatment_applications_no   
		,	#TABLE_JSON.evaluation_step	
		FROM #TABLE_JSON
		LEFT JOIN #F0032 ON(
			@P_company_cd							=	#F0032.company_cd
		AND	@fiscal_year							=	#F0032.fiscal_year
		AND	#TABLE_JSON.employee_cd					=	#F0032.employee_cd
		AND #TABLE_JSON.treatment_applications_no	=	#F0032.treatment_applications_no
		)
		LEFT JOIN M0200 ON(
			@P_company_cd		=	M0200.company_cd
		AND	#F0032.sheet_cd		=	M0200.sheet_cd
		)
		LEFT JOIN F0120 ON(
			@P_company_cd							=	f0120.company_cd
		AND	@fiscal_year							=	f0120.fiscal_year
		AND	#TABLE_JSON.employee_cd					=	f0120.employee_cd
		AND	F0120.sheet_cd							=	#F0032.sheet_cd
		AND F0120.evaluation_step					=	#TABLE_JSON.evaluation_step
		)
		WHERE
			f0120.submit_datetime IS NULL
		AND #TABLE_JSON.evaluation_step <> 5 
		AND (
			(#TABLE_JSON.evaluation_step < @taget_step AND #TABLE_JSON.evaluation_step < @evalu_step)
		OR	(@taget_step	<	@evalu_step AND @taget_step <= #TABLE_JSON.evaluation_step AND sheet_kbn = 2)
		OR	(@taget_step	>	@evalu_step AND @evalu_step <= #TABLE_JSON.evaluation_step AND sheet_kbn = 1)
		OR	(@taget_step	=	@evalu_step)
		)
		--■■■■■■■■■■■■■■■■■■■■■■■ CHECK EVALUATE DONE ■■■■■■■■■■■■■■■■■■■■■■■■
		-- MESSAGE 54
		INSERT INTO @ERR_TBL 
		SELECT		
			54									-- mã lỗi (trùng với mã trong bảng message) 					
		,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	2-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'ALL SHEET HAS BEEN DONE'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM  #TABLE_JSON 
		LEFT JOIN #F0032 ON(
			@P_company_cd								=	#F0032.company_cd
		AND	@fiscal_year								=	#F0032.fiscal_year
		AND	#TABLE_JSON.employee_cd						=	#F0032.employee_cd
		AND #TABLE_JSON.treatment_applications_no		=	#F0032.treatment_applications_no
		)
		LEFT JOIN M0200 ON(
			@P_company_cd			=	M0200.company_cd
		AND	#F0032.sheet_cd			=	M0200.sheet_cd
		AND M0200.del_datetime IS NULL
		)
		LEFT JOIN F0100 ON(
			@P_company_cd			=	F0100.company_cd
		AND	@fiscal_year			=	F0100.fiscal_year
		AND	#F0032.employee_cd		=	F0100.employee_cd
		AND	#F0032.sheet_cd			=	F0100.sheet_cd
		AND F0100.del_datetime IS NULL
		)
		WHERE (M0200.sheet_kbn = 1	AND F0100.status_cd = 12) OR (M0200.sheet_kbn = 2	AND F0100.status_cd = 10)
		--■■■■■■■■■■■■■■■■■■■■■■■■END CHECK EVALUATE DONE■■■■■■■■■■■■■■■■■■■■■■■■
		-- MESSAGE 65
		INSERT INTO @ERR_TBL 
		SELECT	
			65									-- mã lỗi (trùng với mã trong bảng message) 					
		,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	1-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'NOT FINISHED SHEET VALIDATION'		-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM #TABLE_JSON 
		LEFT JOIN #TABLE_CHECK ON(
			#TABLE_JSON.employee_cd					= 	#TABLE_CHECK.employee_cd	
		AND	#TABLE_JSON.treatment_applications_no   = 	#TABLE_CHECK.treatment_applications_no
		AND	#TABLE_JSON.evaluation_step				= 	#TABLE_CHECK.evaluation_step
		)
		WHERE #TABLE_CHECK.employee_cd IS NOT NULL
		AND #TABLE_JSON.evaluation_step <> 5
		-- MESSAGE 83
		INSERT INTO @ERR_TBL 
		SELECT	
			83									-- mã lỗi (trùng với mã trong bảng message) 					
		,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	4-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	#TABLE_JSON.id						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0									-- Tùy ý
		,	'previous step not confirmed'		-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		FROM #TABLE_JSON 
		LEFT JOIN #TBL_MAX_STEP ON(
			#TABLE_JSON.employee_cd		=	#TBL_MAX_STEP.employee_cd			-- edited by viettd 2021/12/06
		)
		LEFT JOIN F0200 ON(
			@P_company_cd			                    =	F0200.company_cd
		AND @fiscal_year								=	F0200.fiscal_year	-- edited by viettd 2021/12/06
		AND	#TABLE_JSON.employee_cd						= 	F0200.employee_cd	
		AND	#TABLE_JSON.treatment_applications_no		= 	F0200.treatment_applications_no
		AND (	
				-- LAST STEP
				(
					#TABLE_JSON.evaluation_step	=	5 
				AND	(
						(F0200.evaluation_step  = #TBL_MAX_STEP.evaluation_step AND #TBL_MAX_STEP.evaluation_step <= @step)
					OR	(F0200.evaluation_step  = @step)
					)
				)
			OR	(#TABLE_JSON.evaluation_step - 1	= F0200.evaluation_step)
			)
		)
		WHERE 
			#TABLE_JSON.evaluation_step > 1	-- 2.二次評価から～
		AND #TABLE_JSON.sheet_use_typ	= 1	-- 1.評価シートを利用する
		AND F0200.confirm_datetime IS NULL	-- 前の評価者が「確定」をしていない
		AND #TABLE_JSON.employee_cd		<>	@employee_cd		-- add by viettd 2022/03/31
		-- check mess 76 when rater
		IF (@authority_typ = 2) 
		BEGIN
			INSERT INTO @ERR_TBL
			SELECT 
				76									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	2-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id 						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'F0200 HAS BEEN CONFIRMED'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #TABLE_JSON 
			INNER JOIN F0200 ON(
				@P_company_cd							=	F0200.company_cd
			AND	@fiscal_year							=	F0200.fiscal_year
			AND #TABLE_JSON.employee_cd					=	F0200.employee_cd
			AND	#TABLE_JSON.treatment_applications_no	=	F0200.treatment_applications_no
			AND	#TABLE_JSON.evaluation_step				=	F0200.evaluation_step
			)
			WHERE 
				F0200.confirm_datetime IS NOT NULL 
			AND F0200.del_datetime IS NULL
		END
		-- check mess 76 when admin
		IF @authority_typ IN(3,4,5) 
		BEGIN
			-- CHECK WHEN F0201 DATA IS EXIST (最終評価確定済)
			INSERT INTO @ERR_TBL
			SELECT 
				76									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'					-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	2-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id 						-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'F0201 HAS BEEN CONFIRMED'			-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #TABLE_JSON 
			INNER JOIN F0201 ON(
				@P_company_cd							=	F0201.company_cd
			AND	@fiscal_year							=	F0201.fiscal_year
			AND #TABLE_JSON.employee_cd					=	F0201.employee_cd
			AND	#TABLE_JSON.treatment_applications_no	=	F0201.treatment_applications_no
			)
			WHERE 
				F0201.confirm_datetime IS NOT NULL 
			AND F0201.del_datetime IS NULL
			-- check mess 76 when not 最終評価(evaluation_step = 5) then check F0200 data is exits (各次の評価確定済)
			INSERT INTO @ERR_TBL
			SELECT 
				76									-- mã lỗi (trùng với mã trong bảng message) 					
			,	'.list_employee_nm'									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
			,	2-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
			,	4-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
			,	#TABLE_JSON.id 									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
			,	0									-- Tùy ý
			,	'F0200 HAS BEEN CONFIRMED'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
			FROM #TABLE_JSON 
			INNER JOIN F0200 ON(
				@P_company_cd							=	F0200.company_cd
			AND	@fiscal_year							=	F0200.fiscal_year
			AND #TABLE_JSON.employee_cd					=	F0200.employee_cd
			AND	#TABLE_JSON.treatment_applications_no	=	F0200.treatment_applications_no
			AND	#TABLE_JSON.evaluation_step				=	F0200.evaluation_step
			)
			WHERE 
				F0200.confirm_datetime IS NOT NULL 
			AND F0200.del_datetime IS NULL
			AND #TABLE_JSON.evaluation_step <> 5
		END
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		--process
		--■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			-- GET 4 STATUS USE_TYP = 1 FOR 4 RATER FOR SHEET KBN = 1 
			INSERT INTO #M0310_1
			SELECT TOP 4 
				M0310.status_cd
			FROM M0310
			WHERE 
				M0310.company_cd	=   @P_company_cd
			AND	M0310.category		=	1
			AND M0310.status_cd		>	4
			AND M0310.del_datetime		IS NULL
			AND	M0310.status_use_typ = 1
			-- GET 4 STATUS USE_TYP = 1 FOR 4 RATER FOR SHEET KBN = 2
			INSERT INTO #M0310_2
			SELECT TOP 4 
				M0310.status_cd
			FROM M0310
			WHERE 
				M0310.company_cd	=   @P_company_cd
			AND	M0310.category		=	2
			AND M0310.status_cd		>	2
			AND M0310.del_datetime		IS NULL
			AND	M0310.status_use_typ = 1
			-- INSERT INTO #F0120
			INSERT INTO #F0120
			SELECT DISTINCT
				#F0032.employee_cd
			,	#F0032.sheet_cd
			FROM  #TABLE_JSON
			LEFT JOIN #F0032 ON(
				@P_company_cd								=	#F0032.company_cd
			AND	@fiscal_year								=	#F0032.fiscal_year
			AND	#TABLE_JSON.employee_cd						=	#F0032.employee_cd
			AND #TABLE_JSON.treatment_applications_no		=	#F0032.treatment_applications_no
			)
			WHERE  #F0032.company_cd = @P_company_cd
			--■■■■■■■■■■■■■■■■■■■■ F0200 + F0201 ■■■■■■■■■■■■■■■■■■■■
			-- ■IF RATER
			IF @authority_typ = 2
			BEGIN	
				-- INSRET INTO F0200
				INSERT INTO F0200 
				SELECT 
					@P_company_cd		
				,	@fiscal_year
				,	#TABLE_JSON.employee_cd				
				,	#TABLE_JSON.treatment_applications_no		
				,	#TABLE_JSON.evaluation_step				
				,	CASE 
						WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.point_sum1
						WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.point_sum2
						WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.point_sum3
						WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.point_sum4
						WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.point_sum5
					ELSE 0	END		AS point_sum5	
				,	CASE 
						WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.adjust_point1
						WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.adjust_point2
						WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.adjust_point3
						WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.adjust_point4
						WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.adjust_point5
					ELSE 0	END		AS adjust_point5	
				,	CASE 
						WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.rank_kinds1
						WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.rank_kinds2
						WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.rank_kinds3
						WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.rank_kinds4
						WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.rank_kinds5
					ELSE 0	END		AS rank_kinds1			
				,	#TABLE_JSON.comment							
				,	@P_user_id					
				,	@P_cre_ip						
				,	@w_time					
				,	@P_user_id						
				,	@P_cre_ip	
				,	'I2040'						
				,	@w_time				
				,	''						
				,	''	
				,	''						
				,	NULL					
				,	''						
				,	''	
				,	''						
				,	NULL				
				FROM #TABLE_JSON 
				LEFT JOIN F0200 ON(
						@P_company_cd 							=	F0200.company_cd				
				AND		@fiscal_year 							=	F0200.fiscal_year				
				AND		#TABLE_JSON.employee_cd					=	F0200.employee_cd				
				AND		#TABLE_JSON.treatment_applications_no	=	F0200.treatment_applications_no	
				AND		#TABLE_JSON.evaluation_step				=	F0200.evaluation_step			
				)
				WHERE F0200.company_cd IS NULL
				-- UPDATE F0200
				UPDATE F0200 SET 
					confirm_user			=	@P_user_id		
				,	confirm_ip				=	@P_cre_ip	
				,	confirm_datetime		=	@w_time	
				,	point_sum				=	CASE 
													WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.point_sum1
													WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.point_sum2
													WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.point_sum3
													WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.point_sum4
													WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.point_sum5
												ELSE 0	END			
				,	adjust_point			=	CASE 
													WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.adjust_point1
													WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.adjust_point2
													WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.adjust_point3
													WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.adjust_point4
													WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.adjust_point5
												ELSE 0	END		
				,	rank_cd					=	CASE 
													WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.rank_kinds1
													WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.rank_kinds2
													WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.rank_kinds3
													WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.rank_kinds4
													WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.rank_kinds5
												ELSE 0	END
				,	comment					=	#TABLE_JSON.comment
				,	upd_user				=	@P_user_id			
				,	upd_ip					=	@P_cre_ip	
				,	upd_prg					=	'I2040'
				,	upd_datetime			=	@w_time		
				,	del_user				=	''		
				,	del_ip					=	''	
				,	del_prg					=	''
				,	del_datetime			=	NULL
				FROM F0200 
				INNER JOIN #TABLE_JSON ON(
					F0200.company_cd				=	@P_company_cd
				AND	F0200.employee_cd				=	#TABLE_JSON.employee_cd
				AND	F0200.fiscal_year				=	@fiscal_year
				AND	F0200.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				)
				WHERE F0200.company_cd					=	@P_company_cd
				AND	F0200.fiscal_year					=	@fiscal_year
				AND	F0200.employee_cd					=	#TABLE_JSON.employee_cd
				AND	F0200.treatment_applications_no		=	#TABLE_JSON.treatment_applications_no
				AND	F0200.evaluation_step				=	#TABLE_JSON.evaluation_step
			END	
			-- ■IF ADMIN
			ELSE IF(@authority_typ IN (3,4,5))	
			BEGIN
				--■■■■■■■■■■■■■■■■■■■■	F0201  ■■■■■■■■■■■■■■■■■■■■
				--INSERT　F0201
				INSERT INTO F0201 
				SELECT																									
					@P_company_cd																				--company_cd					
				,	@fiscal_year																				--fiscal_year					
				,	#TABLE_JSON.employee_cd																		--employee_cd					
				,	#TABLE_JSON.treatment_applications_no														--treatment_applications_no		
				,	CASE 
						WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.point_sum1						--point_sum					
						WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.point_sum2							
						WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.point_sum3								
						WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.point_sum4							
						WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.point_sum5								
					ELSE 0	END		AS point_sum5																		
				,	CASE 
						WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.adjust_point1						--adjust_point				
						WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.adjust_point2						
						WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.adjust_point3						
						WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.adjust_point4						
						WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.adjust_point5						
					ELSE 0	END		AS adjust_point5															
				,	CASE 
						WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.rank_kinds1						--rank_kinds					
						WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.rank_kinds2							
						WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.rank_kinds3						
						WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.rank_kinds4						
						WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.rank_kinds5							
					ELSE 0	END		AS rank_kinds1	
				,	#TABLE_JSON.comment
				,	@P_user_id																					--confirm_user			
				,	@P_cre_ip																					--confirm_ip				
				,	@w_time																						--confirm_datetime		
				,	''																							--raterFB_user			
				,	''																							--raterFB_ip			
				,	NULL																						--raterFB_datetime		
				,	''																							--evaluatorFB_user		
				,	''																							--evaluatorFB_ip		
				,	NULL																						--evaluatorFB_datetime	
				,	@P_user_id						
				,	@P_cre_ip	
				,	'I2040'						
				,	@w_time				
				,	''						
				,	''	
				,	''						
				,	NULL					
				,	''						
				,	''	
				,	''						
				,	NULL																								--del_datetime
				FROM #TABLE_JSON 
				LEFT JOIN F0201 ON(																			
					@P_company_cd 							=	F0201.company_cd											
				AND	@fiscal_year 							=	F0201.fiscal_year											
				AND	#TABLE_JSON.employee_cd					=	F0201.employee_cd											
				AND	#TABLE_JSON.treatment_applications_no	=	F0201.treatment_applications_no								
				AND	#TABLE_JSON.evaluation_step				=	5			
				)
				WHERE 
					F0201.company_cd IS NULL
				AND	#TABLE_JSON.evaluation_step	= 5		
				-- UPDATE F2001
				UPDATE F0201 SET
					confirm_user			=	@P_user_id		
				,	confirm_ip				=	@P_cre_ip	
				,	confirm_datetime		=	@w_time	
				,	point_sum				=	CASE 
													WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.point_sum1
													WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.point_sum2
													WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.point_sum3
													WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.point_sum4
													WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.point_sum5
												ELSE 0	END			
				,	adjust_point			=	CASE 
													WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.adjust_point1
													WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.adjust_point2
													WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.adjust_point3
													WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.adjust_point4
													WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.adjust_point5
												ELSE 0	END		
				,	rank_cd					=	CASE 
													WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.rank_kinds1
													WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.rank_kinds2
													WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.rank_kinds3
													WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.rank_kinds4
													WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.rank_kinds5
												ELSE 0	END
				,	F0201.comment			=	#TABLE_JSON.comment
				,	upd_user				=	@P_user_id			
				,	upd_ip					=	@P_cre_ip
				,	upd_prg					=	'I2040'	
				,	upd_datetime			=	@w_time	
				,	del_user				=	''		
				,	del_ip					=	''	
				,	del_prg					=	''
				,	del_datetime			=	NULL
				FROM F0201 
				INNER JOIN #TABLE_JSON ON(
					F0201.company_cd				=	@P_company_cd
				AND	F0201.fiscal_year				=	@fiscal_year
				AND	F0201.employee_cd				=	#TABLE_JSON.employee_cd
				AND	F0201.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
				AND	#TABLE_JSON.evaluation_step		=	5	
				)
				WHERE 
					F0201.company_cd				=	@P_company_cd
				AND	F0201.fiscal_year				=	@fiscal_year
				AND	#TABLE_JSON.evaluation_step		=	5	
				--■■■■■■■■■■■■■■■■■■■■	F0200  ■■■■■■■■■■■■■■■■■■■■
				-- INSERT INTO F0200
				INSERT INTO F0200 
				SELECT 
					@P_company_cd		
				,	@fiscal_year
				,	#TABLE_JSON.employee_cd				
				,	#TABLE_JSON.treatment_applications_no		
				,	#TABLE_JSON.evaluation_step				
				,	CASE 
						WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.point_sum1
						WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.point_sum2
						WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.point_sum3
						WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.point_sum4
						WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.point_sum5
						ELSE 0	
					END		AS point_sum5	
				,	CASE 
						WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.adjust_point1
						WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.adjust_point2
						WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.adjust_point3
						WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.adjust_point4
						WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.adjust_point5
						ELSE 0	
					END		AS adjust_point5	
				,	CASE 
						WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.rank_kinds1
						WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.rank_kinds2
						WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.rank_kinds3
						WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.rank_kinds4
						WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.rank_kinds5
						ELSE 0	
					END		AS rank_kinds1			
				,	#TABLE_JSON.comment							
				,	@P_user_id					
				,	@P_cre_ip						
				,	@w_time					
				,	@P_user_id						
				,	@P_cre_ip	
				,	'I2040'						
				,	@w_time				
				,	''						
				,	''	
				,	''						
				,	NULL					
				,	''						
				,	''	
				,	''						
				,	NULL				
				FROM #TABLE_JSON 
				LEFT JOIN F0200 ON(
					@P_company_cd 							=	F0200.company_cd				
				AND	@fiscal_year 							=	F0200.fiscal_year				
				AND	#TABLE_JSON.employee_cd					=	F0200.employee_cd				
				AND	#TABLE_JSON.treatment_applications_no	=	F0200.treatment_applications_no	
				AND	#TABLE_JSON.evaluation_step				=	F0200.evaluation_step
				AND #TABLE_JSON.evaluation_step				<> 5			
				)
				WHERE F0200.company_cd IS NULL
				AND #TABLE_JSON.evaluation_step <> 5
				-- UDPATE F0200
				UPDATE F0200　SET 
					confirm_user			=	@P_user_id		
				,	confirm_ip				=	@P_cre_ip	
				,	confirm_datetime		=	@w_time	
				-- ↓↓↓　add by viettd 2021/04/02
				,	point_sum				=	CASE 
													WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.point_sum1
													WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.point_sum2
													WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.point_sum3
													WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.point_sum4
													WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.point_sum5
													ELSE 0	
												END			
				-- ↑↑↑　end add by viettd 2021/04/02
				,	adjust_point			=	CASE 
													WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.adjust_point1
													WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.adjust_point2
													WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.adjust_point3
													WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.adjust_point4
													WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.adjust_point5
													ELSE 0	
												END		
				,	rank_cd					=	CASE 
													WHEN #TABLE_JSON.evaluation_step = 1 THEN #TABLE_JSON.rank_kinds1
													WHEN #TABLE_JSON.evaluation_step = 2 THEN #TABLE_JSON.rank_kinds2
													WHEN #TABLE_JSON.evaluation_step = 3 THEN #TABLE_JSON.rank_kinds3
													WHEN #TABLE_JSON.evaluation_step = 4 THEN #TABLE_JSON.rank_kinds4
													WHEN #TABLE_JSON.evaluation_step = 5 THEN #TABLE_JSON.rank_kinds5
													ELSE 0	
												END
				,	comment					=	#TABLE_JSON.comment
				,	upd_user				=	@P_user_id			
				,	upd_ip					=	@P_cre_ip	
				,	upd_prg					=	'I2040'
				,	upd_datetime			=	@w_time		
				,	del_user				=	''		
				,	del_ip					=	''	
				,	del_prg					=	''
				,	del_datetime			=	NULL
				FROM F0200 
				INNER JOIN #TABLE_JSON ON(
					F0200.company_cd					=	@P_company_cd
				AND	F0200.employee_cd					=	#TABLE_JSON.employee_cd
				AND	F0200.fiscal_year					=	@fiscal_year
				AND	F0200.treatment_applications_no		=	#TABLE_JSON.treatment_applications_no
				AND	#TABLE_JSON.evaluation_step			=	F0200.evaluation_step
				AND	#TABLE_JSON.evaluation_step			<> 5
				)
				WHERE 
					F0200.company_cd			=	@P_company_cd
				AND	F0200.fiscal_year			=	@fiscal_year
				AND #TABLE_JSON.evaluation_step	<> 5
			END
			--■■■■■■■■■■■■■■■■■■■■ F0100 ■■■■■■■■■■■■■■■■■■■■
			--①WHEN 1.目標
			IF EXISTS(SELECT 1 FROM M0200 
								INNER JOIN #F0120 ON(
									M0200.company_cd	=	@P_company_cd
								AND	M0200.sheet_cd		=	#F0120.sheet_cd
								) 
								WHERE M0200.sheet_kbn	=	1 -- 目標
			) 
			BEGIN
				-- UPDATE F0100
				UPDATE F0100 SET
					F0100.status_cd			=	CASE WHEN #M0310_1.id <= @taget_step THEN    #M0310_1.status_cd
												ELSE F0100.status_cd END -- TH sheet khong co buoc danh gia nao thi khong len status
				,	upd_user				=	@P_user_id			
				,	upd_ip					=	@P_cre_ip	
				,	upd_prg					=	'I2040'
				,	upd_datetime			=	@w_time	
				,	del_user				=	''		
				,	del_ip					=	''	
				,	del_prg					=	''
				,	del_datetime			=	NULL
				FROM F0100 
				LEFT JOIN #F0120 ON(
					F0100.company_cd	=	@P_company_cd
				AND	F0100.fiscal_year	=	@fiscal_year
				AND	F0100.employee_cd	=	#F0120.employee_cd
				AND	F0100.sheet_cd		=	#F0120.sheet_cd
				)
				LEFT JOIN #TABLE_JSON ON (
					#F0120.employee_cd	=	#TABLE_JSON.employee_cd
				)
				LEFT JOIN #TBL_MAX_STEP ON(
					#F0120.employee_cd						=	#TBL_MAX_STEP.employee_cd
				AND #TABLE_JSON.treatment_applications_no	=	#TBL_MAX_STEP.treatment_applications_no
				)
				LEFT JOIN M0200 ON(
					M0200.company_cd	=	@P_company_cd
				AND	M0200.sheet_cd		=	#F0120.sheet_cd
				)
				LEFT JOIN #M0310_1 ON(
					(	#TABLE_JSON.evaluation_step	< @taget_step
					AND #TABLE_JSON.evaluation_step	= #M0310_1.id
					AND #TABLE_JSON.evaluation_step   < #TBL_MAX_STEP.evaluation_step
					)
				OR
					(	#TABLE_JSON.evaluation_step	< @taget_step
					AND 8							= #M0310_1.status_cd
					AND #TABLE_JSON.evaluation_step   = #TBL_MAX_STEP.evaluation_step
					)
				OR	(
						@taget_step					<= #TABLE_JSON.evaluation_step
					AND @taget_step					= #M0310_1.id
					)
				)
				WHERE 
					F0100.company_cd				=	@P_company_cd
				AND	F0100.fiscal_year				=	@fiscal_year
				AND #TABLE_JSON.evaluation_step		<> 5
				AND	F0100.employee_cd				=	#F0120.employee_cd
				AND	F0100.sheet_cd					=	#F0120.sheet_cd
				AND M0200.sheet_kbn					=	1 -- 目標
				AND	F0100.del_datetime IS NULL
				--  IF ADMIN
				IF(@authority_typ IN (3,4,5))
				BEGIN
					UPDATE F0100 SET
						status_cd		=	CASE 
												WHEN M0310.status_use_typ = 1 
												THEN 9
												ELSE 12
											END
					,	upd_user		=	@P_user_id			
					,	upd_ip			=	@P_cre_ip	
					,	upd_prg			=	'I2040'
					,	upd_datetime	=	@w_time	
					,	del_user		=	''		
					,	del_ip			=	''	
					,	del_prg			=	''
					,	del_datetime	=	NULL
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TABLE_JSON ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#TABLE_JSON.employee_cd
					)
					LEFT JOIN M0310 ON(
						@P_company_cd	= M0310.company_cd
					AND	1				= M0310.category
					AND	9				= M0310.status_cd
					)
					WHERE 
						F0100.company_cd			=	@P_company_cd
					AND	F0100.fiscal_year			=	@fiscal_year
					AND	F0100.employee_cd			=	#F0120.employee_cd
					AND	F0100.sheet_cd				=	#F0120.sheet_cd
					AND	#TABLE_JSON.evaluation_step =	5
					AND M0200.sheet_kbn				=	1
					AND	F0100.del_datetime IS NULL
					--
					UPDATE F0100 SET
						F0100.status_cd			=	CASE WHEN #M0310_1.id <= @taget_step THEN    ISNULL(#M0310_1.status_cd,0)
													ELSE F0100.status_cd END -- TH sheet khong co buoc danh gia nao thi khong len status
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip	
					,	upd_prg					=	'I2040'
					,	upd_datetime			=	@w_time	
					,	del_user				=	''		
					,	del_ip					=	''	
					,	del_prg					=	''
					,	del_datetime			=	NULL
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TABLE_JSON ON(
						F0100.employee_cd	=	#TABLE_JSON.employee_cd
					)
					LEFT JOIN #TBL_MAX_STEP ON(
						#F0120.employee_cd						=	#TBL_MAX_STEP.employee_cd
					AND #TABLE_JSON.treatment_applications_no	=	#TBL_MAX_STEP.treatment_applications_no
					)
					LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
						
					LEFT JOIN #M0310_1 ON(
						(	#TABLE_JSON.evaluation_step	< @taget_step
						AND #TABLE_JSON.evaluation_step	= #M0310_1.id
						AND #TABLE_JSON.evaluation_step   < #TBL_MAX_STEP.evaluation_step
						)
					OR
						(	#TABLE_JSON.evaluation_step	< @taget_step
						AND 8							= #M0310_1.status_cd
						AND #TABLE_JSON.evaluation_step   = #TBL_MAX_STEP.evaluation_step
						)
					OR	(
							@taget_step					<= #TABLE_JSON.evaluation_step
						AND @taget_step					= #M0310_1.id
						)
					)
					WHERE F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					AND M0200.sheet_kbn		=	1	-- 目標
					AND	#TABLE_JSON.evaluation_step  <> 5
					AND	F0100.del_datetime IS NULL
				END
			END
			--②WHEN 2.定性
			IF EXISTS(SELECT 1 FROM M0200 
								INNER JOIN #F0120 ON(
									M0200.company_cd	=	@P_company_cd
								AND	M0200.sheet_cd		=	#F0120.sheet_cd
								) 
								WHERE M0200.sheet_kbn	=	2	-- 定性
			) 
			BEGIN
				IF(@authority_typ	=	2 AND EXISTS(SELECT 1 FROM F0200 INNER JOIN #TABLE_JSON ON(
																	F0200.company_cd				=	@P_company_cd
																AND	F0200.employee_cd				=	#TABLE_JSON.employee_cd
																AND	F0200.fiscal_year				=	@fiscal_year
																AND	F0200.treatment_applications_no	=	#TABLE_JSON.treatment_applications_no
																)
																WHERE F0200.confirm_datetime IS NOT NULL AND F0200.del_datetime IS NULL))
				BEGIN
					-- UPDATE F0100
					UPDATE F0100 SET
						F0100.status_cd			=	CASE WHEN #M0310_2.id <= @evalu_step THEN   ISNULL(#M0310_2.status_cd,0)
													ELSE F0100.status_cd END -- TH sheet khong co buoc danh gia nao thi khong len status
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip	
					,	upd_prg					=	'I2040'
					,	upd_datetime			=	@w_time	
					,	del_user				=	''		
					,	del_ip					=	''	
					,	del_prg					=	''
					,	del_datetime			=	NULL
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TABLE_JSON ON(
						F0100.employee_cd	=	#TABLE_JSON.employee_cd
					)
					LEFT JOIN #TBL_MAX_STEP ON(
						#F0120.employee_cd						=	#TBL_MAX_STEP.employee_cd
					AND #TABLE_JSON.treatment_applications_no	=	#TBL_MAX_STEP.treatment_applications_no
					)
					LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
						
					LEFT JOIN #M0310_2 ON(
						(	#TABLE_JSON.evaluation_step	< @evalu_step
						AND #TABLE_JSON.evaluation_step	= #M0310_2.id
						AND #TABLE_JSON.evaluation_step   < #TBL_MAX_STEP.evaluation_step
						)
					OR
						(	#TABLE_JSON.evaluation_step	< @evalu_step
						AND 6							= #M0310_2.status_cd
						AND #TABLE_JSON.evaluation_step   = #TBL_MAX_STEP.evaluation_step
						)
					OR	(
							@evalu_step					<= #TABLE_JSON.evaluation_step
						AND @evalu_step					= #M0310_2.id
						)
					)
					WHERE F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					AND	M0200.sheet_kbn	=	2
					AND	#TABLE_JSON.evaluation_step <> 5
					AND	F0100.del_datetime IS NULL
				END
				--  IF ADMIN
				IF(@authority_typ IN (3,4,5))
				BEGIN
					-- UPDATE F0100
					UPDATE F0100 SET
						F0100.status_cd	= CASE WHEN M0310.status_use_typ = 1 
												THEN 7
												ELSE 10
											END
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip	
					,	upd_prg					=	'I2040'
					,	upd_datetime			=	@w_time	
					,	del_user				=	''		
					,	del_ip					=	''	
					,	del_prg					=	''
					,	del_datetime			=	NULL
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TABLE_JSON ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#TABLE_JSON.employee_cd
					)
					LEFT JOIN M0310 ON(
						@P_company_cd	= M0310.company_cd
					AND	2				= M0310.category
					AND	7				= M0310.status_cd
					)
					WHERE F0100.company_cd			=	@P_company_cd
					AND	F0100.fiscal_year			=	@fiscal_year
					AND	F0100.employee_cd			=	#F0120.employee_cd
					AND	F0100.sheet_cd				=	#F0120.sheet_cd
					AND M0200.sheet_kbn				=	2
					AND #TABLE_JSON.evaluation_step =	5
					AND	F0100.del_datetime IS NULL
					-- UPDATE F0100
					UPDATE F0100 SET
						F0100.status_cd			=	CASE WHEN #M0310_2.id <= @evalu_step THEN    ISNULL(#M0310_2.status_cd,0)
													ELSE F0100.status_cd END -- TH sheet khong co buoc danh gia nao thi khong len status
					,	upd_user				=	@P_user_id			
					,	upd_ip					=	@P_cre_ip	
					,	upd_prg					=	'I2040'
					,	upd_datetime			=	@w_time	
					,	del_user				=	''		
					,	del_ip					=	''	
					,	del_prg					=	''
					,	del_datetime			=	NULL
					FROM F0100 
					LEFT JOIN #F0120 ON(
						F0100.company_cd	=	@P_company_cd
					AND	F0100.fiscal_year	=	@fiscal_year
					AND	F0100.employee_cd	=	#F0120.employee_cd
					AND	F0100.sheet_cd		=	#F0120.sheet_cd
					)
					LEFT JOIN #TABLE_JSON ON(
						F0100.employee_cd	=	#TABLE_JSON.employee_cd
					)
					LEFT JOIN #TBL_MAX_STEP ON(
						#F0120.employee_cd						=	#TBL_MAX_STEP.employee_cd
					AND #TABLE_JSON.treatment_applications_no	=	#TBL_MAX_STEP.treatment_applications_no
					)
					LEFT JOIN M0200 ON(
						M0200.company_cd	=	@P_company_cd
					AND	M0200.sheet_cd		=	#F0120.sheet_cd
					)
						
					LEFT JOIN #M0310_2 ON(
						(	#TABLE_JSON.evaluation_step	< @evalu_step
						AND #TABLE_JSON.evaluation_step	= #M0310_2.id
						AND #TABLE_JSON.evaluation_step   < #TBL_MAX_STEP.evaluation_step
						)
					OR
						(	#TABLE_JSON.evaluation_step	< @evalu_step
						AND 6							= #M0310_2.status_cd
						AND #TABLE_JSON.evaluation_step   = #TBL_MAX_STEP.evaluation_step
						)
					OR	(
							@evalu_step					<= #TABLE_JSON.evaluation_step
						AND @evalu_step					= #M0310_2.id
						)
					)
					WHERE F0100.company_cd			=	@P_company_cd
					AND	F0100.fiscal_year			=	@fiscal_year
					AND	F0100.employee_cd			=	#F0120.employee_cd
					AND	F0100.sheet_cd				=	#F0120.sheet_cd
					AND	M0200.sheet_kbn				=	2	-- 定性
					AND #TABLE_JSON.evaluation_step <>	5
					AND	F0100.del_datetime IS NULL
				END
			END
			-- ADD BY VIETTD 2021/12/10
			--■■■■■■■■■■■■■■■■■■■■ GET STEP RATER INFO ■■■■■■■■■■■■■■■■■■■■
			INSERT INTO #TABLE_NEXT_STEP_RATER
			SELECT 
				@P_company_cd				
			,	@fiscal_year			
			,	#TABLE_JSON.treatment_applications_no	
			,	#TABLE_JSON.employee_cd					
			,	F0030_MAX.rater_employee_cd_1			
			,	F0030_MAX.rater_employee_cd_2			
			,	F0030_MAX.rater_employee_cd_3			
			,	F0030_MAX.rater_employee_cd_4
			,	#TABLE_JSON.evaluation_step
			,	#TABLE_JSON.evaluation_step + 1		AS	evaluation_step_next		
			,	SPACE(0)							AS	evaluation_step_next_rater		
			--,	evaluation_step_max			
			,	CASE 
					WHEN F0030_MAX.rater_employee_cd_4	<> ''
					THEN 4
					WHEN F0030_MAX.rater_employee_cd_3	<> ''
					THEN 3
					WHEN F0030_MAX.rater_employee_cd_2	<> ''
					THEN 2
					WHEN F0030_MAX.rater_employee_cd_1	<> ''
					THEN 1
					ELSE 0				
				END				AS evaluation_step_max
			FROM #TABLE_JSON
			LEFT OUTER JOIN(
				SELECT 
					F0030.company_cd
				,	F0030.fiscal_year
				,	F0030.treatment_applications_no
				,	MAX(F0030.group_cd)	AS	group_cd
				,	F0030.employee_cd
				,	ISNULL(F0030.rater_employee_cd_1,'')	AS	rater_employee_cd_1
				,	ISNULL(F0030.rater_employee_cd_2,'')	AS	rater_employee_cd_2
				,	ISNULL(F0030.rater_employee_cd_3,'')	AS	rater_employee_cd_3
				,	ISNULL(F0030.rater_employee_cd_4,'')	AS	rater_employee_cd_4
				FROM F0030
				WHERE 
					F0030.company_cd				=	@P_company_cd
				AND F0030.fiscal_year				=	@fiscal_year
				AND F0030.del_datetime IS NULL
				GROUP BY
					F0030.company_cd
				,	F0030.fiscal_year
				,	F0030.treatment_applications_no
				,	F0030.employee_cd
				,	F0030.rater_employee_cd_1
				,	F0030.rater_employee_cd_2
				,	F0030.rater_employee_cd_3
				,	F0030.rater_employee_cd_4
			) AS F0030_MAX ON(
				@P_company_cd							=	F0030_MAX.company_cd
			AND @fiscal_year							=	F0030_MAX.fiscal_year
			AND #TABLE_JSON.treatment_applications_no	=	F0030_MAX.treatment_applications_no
			AND #TABLE_JSON.employee_cd					=	F0030_MAX.employee_cd
			)
			-- update next step
			UPDATE #TABLE_NEXT_STEP_RATER SET 
				evaluation_step_next	=	CASE 
												WHEN evaluation_step_next <= evaluation_step_max
												THEN evaluation_step_next
												ELSE 0
											END
			FROM #TABLE_NEXT_STEP_RATER
			-- remove record when last evaluation_step
			DELETE D FROM #TABLE_NEXT_STEP_RATER AS D
			WHERE 
				D.evaluation_step_next	=	0
			-- GET evaluation_step_next_rater
			UPDATE #TABLE_NEXT_STEP_RATER SET 
				evaluation_step_next_rater =	CASE 
													WHEN evaluation_step_next = 4
													THEN rater_employee_cd_4
													WHEN evaluation_step_next = 3
													THEN rater_employee_cd_3
													WHEN evaluation_step_next = 2
													THEN rater_employee_cd_2
													WHEN evaluation_step_next = 1
													THEN rater_employee_cd_1
													ELSE evaluation_step_next_rater
												END
			FROM #TABLE_NEXT_STEP_RATER
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
	--[1]
	SELECT 
		DISTINCT
		evaluation_step_next_rater		AS	employee_cd_rater
	,	employee_cd						AS	employee_cd
	FROM #TABLE_NEXT_STEP_RATER
	WHERE 
		evaluation_step_next_rater <>	''
END
GO