IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_M0080_LST1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_M0080_LST1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要						：	M0080 - 社員項目マスタ
 *
 *  作成日						：	2020/09/24
 *  作成者						：	ANS-ASIA nghianm
 *   					
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_M0080_LST1]
	@P_search_key		NVARCHAR(20)
,	@P_current_page		SMALLINT	=	1
,	@P_page_size		SMALLINT	=	10
,	@P_company_cd		SMALLINT
AS
BEGIN
	SET NOCOUNT ON;

    --
	DECLARE
		@totalRecord		BIGINT		= 0
	,	@pageNumber			INT			= 0

	--
	CREATE TABLE #RESULT (
		id					INT IDENTITY(1,1)
	,	company_cd			SMALLINT
	,	item_cd				SMALLINT
	,	item_nm				NVARCHAR(20)
	,	arrange_order		INT
	)

	--
	INSERT INTO #RESULT
	SELECT
		company_cd
	,	item_cd
	,	item_nm
	,	M0080.arrange_order
	FROM M0080
	WHERE
		M0080.company_cd	=	@P_company_cd
	AND	(	@P_search_key = '' 
		OR	dbo.FNC_COM_REPLACE_SPACE(M0080.item_nm)		LIKE '%' +  dbo.FNC_COM_REPLACE_SPACE(@P_search_key) + '%' 
	)
	AND	M0080.del_datetime IS NULL
	
	--
	SET @totalRecord = (SELECT COUNT(1) FROM #RESULT)
	SET @pageNumber  = CEILING(CAST(@totalRecord AS FLOAT) / IIF(@P_page_size = 0,10,@P_page_size))



	--[0]
	SELECT
		company_cd
	,	item_cd
	,	item_nm
	FROM #RESULT
	ORDER BY 
		arrange_order,item_cd
	OFFSET (@P_current_page-1) * @P_page_size ROWS
	FETCH NEXT IIF(@P_page_size = 0,10,@P_page_size) ROWS ONLY

	
	--[1]
	IF(@P_current_page <> 0)
	BEGIN
		SELECT 
			@totalRecord		AS totalRecord
		,	@pageNumber			AS pageMax
		,	@P_current_page		AS [page]
		,	@P_page_size		AS pagesize
	END
	ELSE
	BEGIN
		SELECT
			company_cd
		,	item_cd
		,	item_nm
		FROM #RESULT
		ORDER BY 
		arrange_order,item_cd
	END

	--[2] LIST S0020 authority
	SELECT 
		S0020.company_cd
	,	S0020.authority_cd
	,	S0020.authority_nm
	,	S0020.arrange_order
	FROM S0020
	WHERE S0020.company_cd = @P_company_cd
	AND S0020.del_datetime IS NULL
	ORDER BY arrange_order,authority_cd

	-- clean
	DROP TABLE #RESULT
END
GO
