IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_M0080_INQ1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_M0080_INQ1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：M0080 - Refer
 *
 *  作成日  ：2020/09/25
 *  作成者  ：ANS-ASIA nghianm
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_M0080_INQ1]
	@P_item_cd			SMALLINT = 0
,	@P_company_cd		SMALLINT = 0
AS
BEGIN
	SET NOCOUNT ON;
	CREATE TABLE #S0020 (
		company_cd		SMALLINT
	,	authority_cd	SMALLINT
	,	authority_nm	NVARCHAR(50)
	,	browsing_kbn	SMALLINT
	,	arrange_order	INT
	)
	--[0] SELECT M0080
	SELECT 
		M0080.company_cd
	,	M0080.item_cd
	,	M0080.item_nm
	,	M0080.item_kind
	,	M0080.item_digits
	,	M0080.item_display_kbn
	,	M0080.search_item_kbn
	,	M0080.rater_browsing_kbn
	,	M0080.arrange_order
	FROM M0080
	WHERE M0080.company_cd	= @P_company_cd
	AND M0080.item_cd		= @P_item_cd
	AND M0080.del_datetime IS NULL

	--[1] SELECT M0081
	SELECT 
		M0081.company_cd
	,	M0081.item_cd
	,	M0081.detail_no
	,	M0081.detail_name
	FROM M0081
	WHERE M0081.company_cd	= @P_company_cd
	AND M0081.item_cd		= @P_item_cd
	AND M0081.del_datetime IS NULL
	--[2] SELECT M0082
	SELECT 
		M0082.company_cd
	,	M0082.item_cd
	,	M0082.authority_cd
	,	M0082.browsing_kbn
	FROM M0082
	WHERE M0082.company_cd	= @P_company_cd
	AND M0082.item_cd		= @P_item_cd
	AND M0082.del_datetime IS NULL

	--INSERT IN TO #S0020
	INSERT INTO #S0020
	SELECT DISTINCT
		S0020.company_cd	 AS company_cd
	,	S0020.authority_cd	 AS authority_cd
	,	S0020.authority_nm	 AS authority_nm
	,	M0082.browsing_kbn	 AS browsing_kbn
	,	S0020.arrange_order	 AS arrange_order
	FROM S0020
	LEFT JOIN M0082 ON (
		S0020.company_cd = M0082.company_cd
	AND S0020.authority_cd	=	M0082.authority_cd
	AND @P_item_cd = M0082.item_cd
	AND M0082.del_datetime IS NULL
	)
	WHERE S0020.company_cd = @P_company_cd
	AND S0020.del_datetime IS NULL

	--[3] SELECT S0020
	SELECT 
		company_cd		 AS company_cd
	,	authority_cd	 AS authority_cd
	,	authority_nm	 AS authority_nm
	,	browsing_kbn	 AS browsing_kbn
	,	arrange_order	 AS arrange_order
	FROM #S0020
	ORDER BY arrange_order,authority_cd

	--clean
	DROP TABLE #S0020

END

GO
