@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

body {
    font-family: sans-serif !important;
}


.header-oneonone .txt {
    color: #22202c;
}

table {
    margin-bottom: 20px !important;
}

.header-oneonone .dropdown-toggle::after {
    color: #22202c;
}

.header-oneonone td {
    color: #22202c;
}

.refer_screen div:nth-child(2) {
    padding-top: 10px;
}

.footer,
.footer-oneonone,
.footer-xam,
.footer-mlayout {
    min-height: 35px;
}

/*settingdashboard*/
.settingdashboard .col-md-3.dashboard:hover {
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

.main-xam .main-nav>ul {
    margin-bottom: 0;
    background-color: #31b5cc;
}

.main-xam .main-nav>ul>li:hover>a {
    background-color: #62d1e0;
}

.footer-xam {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background-color: #3fadbf;
    margin-top: 15px;
}

.header-oneonone ul.right>li:first-child {
    border-left: 1px solid #31b5cc;
}

.header-oneonone ul.right>li:not(:last-child) {
    border-right: 1px solid #31b5cc;
}

.header-xam .nav-link.icon.logout {
    color: white;
    background-color: #31b5cc !important;
    text-align: center;
    text-decoration: none;
}

.header-oneonone.navbar {
    border-bottom: 2px solid #31b5cc;
    border-top: 3px solid #31b5cc;
}

#breadcrumb li a {
    background: #9e9e9e !important;
}

#breadcrumb li a:after {
    border-left-color: #9e9e9e !important;
}

#breadcrumb li.active a:before {
    border-color: #31b5cc;
    border-left-color: transparent;
}

#breadcrumb li.active a {
    background-color: #31b5cc !important;
}

.btn-basic-setting-menu {
    position: relative;
    border: 1px solid #757575 !important;
    background: #757575;
}

.mulitiview_title {
    border-bottom: 3px solid #31b5cc !important;
}

.list-search-head {
    text-align: center;
    background-color: #31b5cc;
    color: #fff;
    padding: 5px;
}

/*settingdashboard*/
.settingdashboard .col-md-3.dashboard:hover {
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

.head-oneonone {
    background: #31b5cc !important;
}

.one-table thead tr th {
    background-color: #EAEBEE;
    color: black;
}

.list2 td {
    padding: 12px;
}

#breadcrumb li a {
    background: #9e9e9e !important;
}

#breadcrumb li a:after {
    border-left-color: #9e9e9e !important;
}

#breadcrumb li.active a:before {
    border-color: #31b5cc;
    border-left-color: transparent;
}

#breadcrumb li.active a {
    background-color: #31b5cc !important;
}

.header td {
    color: #31b5cc !important;
}

.header .dropdown-toggle::after {
    color: #31b5cc !important;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range) i {
    color: #31b5cc !important;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range) {
    color: #31b5cc !important;
    border: 1px solid #31b5cc;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):focus,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):active,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):hover {
    background-color: #31b5cc !important;
    color: white !important;
    border: 1px solid #31b5cc;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):active i,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):hover i,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):focus i {
    color: #fff !important;
}

.tooltip-inner {
    background-color: #31b5cc !important;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #31b5cc !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-top-color: #31b5cc !important;
}

.md-radio-v2 input[type="radio"]:checked+label:before {
    border: 1px solid #31b5cc !important;
}

.md-radio-v2 label {
    color: #31b5cc !important;
}

.md-radio-v2 label:before {
    border: 1px solid #31b5cc !important;
}

.md-radio-v2 label:after {
    background: #31b5cc !important;
}

.md-radio-v2 input[type="radio"]:checked+label {
    color: #31b5cc !important;
}

.md-checkbox-v2 input[type="checkbox"]+label:before {
    background-color: #31b5cc !important;
}

.md-checkbox-v2 input[type="checkbox"]+label {
    color: #31b5cc !important;
}

.md-checkbox-v2 input[type="checkbox"]:checked+label:before {
    background: #31b5cc !important;

}

.md-checkbox-v2 input[type="checkbox"]:checked+label {
    color: #31b5cc !important;
}

.md-checkbox-v2 input[type="checkbox"]:focus+label::before {
    outline: rgb(207, 204, 196) auto 5px;
}

.list-search-content .list-search-child:hover,
.list-search-content .list-search-child.active {
    border-left: 3px solid #31b5cc !important;
}

.list-search-content .list-search-child.active {
    border-left: 3px solid #31b5cc !important;
}

.line-border-bottom {
    border-left: 5px solid #31b5cc !important;
    color: #31b5cc !important;
}

.pagination.circle.outline li.active .page-link {
    border: 1px solid #31b5cc !important;
    background: #31b5cc !important;
}

.pagination.circle.outline li:not([disabled]):hover .page-link,
.pagination.circle.outline li:not([disabled]):focus .page-link,
.pagination.circle.outline li:not([disabled]):active .page-link {
    border: 1px solid #31b5cc !important;
}

.pagination.circl li:hover .page-link,
.pagination.circl li:focus .page-link,
.pagination.circl li:active .page-link {
    background: #31b5cc !important;
}

.one-btn {
    background-color: #31b5cc !important;
}

.form-control:focus {
    color: #495057;
    border-color: #cfccc4;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #44bdd485;
}

.num-length>.lg {
    background: #31b5cc;
}

.header .dropdown-item {
    background-color: #31b5cc;
    color: white;
    padding: 7px 15px;
    font-size: 14px;
    cursor: pointer;
}

.header .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #31b5cc;
}

.header .dropdown-item:hover {
    background-color: #31b5cc;
}

.header .dropdown-menu {
    border: 1px solid #31b5cc;
}

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
    background: #31b5cc;
}

.dtp div.dtp-date,
.dtp div.dtp-time {
    background: #9e9e9e;
}

.dtp table.dtp-picker-days tr>td>a.selected {
    background: #9e9e9e;
}

.dtp table.dtp-picker-days tr>td>a:hover,
.dtp table.dtp-picker-days tr>td>a:focus {
    background: #31b5cc;
}

.dtp-buttons .btn:focus,
.dtp-buttons .btn:hover {
    background: #31b5cc;
}

.dtp-buttons .btn {
    background: #9e9e9e;
}

.month-picker-item.active {
    color: #31b5cc;
}

.month-picker-item:hover {
    color: #31b5cc;
}

.year-picker-item.active {
    color: #31b5cc;
}

.year-picker-item:hover {
    color: #9e9e9e;
}

.navbar-mobile {
    border-bottom: 2px solid #31b5cc;
    border-top: 3px solid #31b5cc;
}

.md-checkbox-v2 input[type="checkbox"][disabled]+label {
    color: #EAEAEA !important;
}

.md-checkbox-v2 input[type="checkbox"][disabled]+label:before {
    background: rgb(199, 205, 212) !important;
    color: #fff;
}

@media (max-width: 575px) {
    .footer-xam {
        display: none;
    }

    .image_loading_popup {
        position: absolute;
        top: 40%;
        left: 37%;
        padding: 10px;
    }
}

.search_layout_input {
    height: 37px;
    width: 35vw;
}

.button-date {
    padding: .470rem .3rem !important;
}

#tab6 .form-group {
    margin-bottom: 0
}

#tab6 .add_size {
    flex: 0 0 16.966667%;
    max-width: 16.966667%;
}

@media (min-width: 1200px) {
    #tab6 .year_input {
        flex: 0 0 9.333333% !important;
        max-width: 9.333333% !important;
    }

    #tab6 .year_input_2 {
        flex: 0 0 9.2333333% !important;
        max-width: 9.233333% !important;
    }

    #tab6 .col-xl-3 {
        flex: 0 0 24% !important;
        max-width: 24% !important;
    }

    #tab6 .add_size2 {
        flex: 0 0 24.33888% !important;
        max-width: 24.33888% !important;
    }
}

.btn-remove_06:focus {
    outline: rgb(207, 204, 196) auto 5px;
    border-radius: 4px;
}
.tab-style.nav-tabs .nav-item .show, .tab-style.nav-tabs .nav-item .active {
    background-color: #31b5cc;
    border-color: #31b5cc;
  }
a:hover {
    color: #31b5cc ;
}
