

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
body {
  font-family:  sans-serif !important;
}

.p-head {
  background: #707070 !important;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range) i {
  color: #707070 !important;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range) {
  color: #707070 !important;
  border: 1px solid #707070;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):active i,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):hover i,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):focus i {
  color: #fff !important;
}

.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):focus,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):active,
.btn-outline-primary:not(.btn-transparent):not(.btn-flat):not(.btn-link):not(.dtp-select-year-range):not(.dtp-select-month-range):hover {
  background-color: #707070 !important;
  color: white !important;
  border: 1px solid #dee2e6;
}

.md-checkbox-v2 input[type="checkbox"]+label:before {
  background-color: #707070 !important;
}

.md-checkbox-v2 input[type="checkbox"]+label {
  color: #707070 !important;
}

.md-checkbox-v2 input[type="checkbox"]:checked+label:before {
  background: #707070 !important;

}

.md-checkbox-v2 input[type="checkbox"]:checked+label {
  color: #707070 !important;
}

.md-checkbox-v2 input[type="checkbox"]:focus+label::before {
  outline: rgb(207, 204, 196) auto 5px;
}

.pagination.circle.outline li.active .page-link {
  border: 1px solid #707070 !important;
  background: #707070 !important;
}

.pagination.circle.outline li:not([disabled]):hover .page-link,
.pagination.circle.outline li:not([disabled]):focus .page-link,
.pagination.circle.outline li:not([disabled]):active .page-link {
  border: 1px solid #707070 !important;
}

.pagination.circl li:hover .page-link,
.pagination.circl li:focus .page-link,
.pagination.circl li:active .page-link {
  background: #707070 !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #cfccc4;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #cfccc485;
}

.form-control:disabled,
.form-control[readonly],
.form-control.required:disabled {
  background-color: #eaeaea;
  cursor: default;
}

.form-control[readonly]:focus {
  box-shadow: unset;
  -moz-box-shadow: unset;
  -webkit-box-shadow: unset;
}

.form-control.required {
  background: #fff0d3;
}

.form-control.textbox-error {
  color: #f72809;
  border: 1px solid #f72809;
}

.ck-value:checked+label {
  border: 1px solid #5a5a5a !important;
  background: #707070 !important;
  color: #fff !important;
}

.button--action {
  background-color: #707070;
}

.button--action:hover {
  background-color: #9e9e9e;
}