/****** Object:  StoredProcedure [dbo].[SPC_Q2030_INQ1]    Script Date: 2018/10/09 11:35:24 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_Q2030_INQ1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ M0020
-- EXEC SPC_Q2030_INQ1 '2017','1'
-- EXEC SPC_Q2030_INQ1 '2018','1'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	Q2030_評価分析
--*  
--*  作成日/create date			:	2018/10/09						
--*　作成者/creater				:	sondh								
--*   					
--*  更新日/update date			:	2022/08/16
--*　更新者/updater				:　	viettd
--*　更新内容/update content		:	upgrade 1.9
--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_Q2030_INQ1]
	-- Add the parameters for the stored procedure here	
	 @P_fiscal_year				INT					=	0
,	 @P_user_id					NVARCHAR(50)		=	''
,    @P_company_cd				SMALLINT			=	0
,	 @P_check_fiscal			SMALLINT			=	0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@authority_typ						SMALLINT			=	0
	,	@authority_cd						SMALLINT			=	0
	,	@employee_cd						NVARCHAR(10)		=	''
	,	@beginning_date						DATE				=	NULL
	,	@fiscal_year						INT					=	NULL
	,	@w_time								DATE				=	SYSDATETIME()
	,	@start_date							DATE				=	NULL
	--
	--,	@w_evaluation_organization_cnt		INT					=	0	-- 0.view all 1.only view organization choiced
	--,	@w_organization_belong_person_typ	SMALLINT			=	0
	--,	@arrange_order						INT					=	0
	--,	@position_cd						INT					=	0
	--,	@choice_in_screen					TINYINT				=	0 
	--,	@use_typ							smallint			=	0

	--
	CREATE TABLE #TABLE_ORGANIZATION (
		id						int	identity(1, 1)
	,	organization_typ		tinyint
	,	organization_cd_1		nvarchar(50)
	,	organization_cd_2		nvarchar(50)
	,	organization_cd_3		nvarchar(50)
	,	organization_cd_4		nvarchar(50)
	,	organization_cd_5		nvarchar(50)	
	,	choice_in_screen		tinyint
	)
	-- get @authority
	SELECT 
		@authority_typ	=	ISNULL(S0010.authority_typ,0) 
	,	@authority_cd	=	ISNULL(S0010.authority_cd,0)
	,	@employee_cd	=	ISNULL(S0010.employee_cd,'')
	FROM S0010 
	LEFT OUTER JOIN M0070 ON (
		S0010.company_cd		=	M0070.company_cd
	AND S0010.employee_cd		=	M0070.employee_cd
	AND M0070.del_datetime IS NULL
	)
	WHERE 
		S0010.company_cd	=	@P_company_cd
	AND	S0010.user_id		=	@P_user_id 
	AND S0010.del_datetime IS NULL
	--↓↓↓ add by viettd 2022/08/16
	IF @authority_typ = 6
	BEGIN
		SET @authority_typ = 2 -- 評価者
	END
	--↑↑↑ end add by viettd 2022/08/16
	--2019/01/09
	SET @beginning_date = (SELECT beginning_date FROM M9100 WHERE company_cd = @P_company_cd)
	IF @beginning_date IS NOT NULL
	BEGIN
		SET @start_date = CAST((FORMAT(@w_time,'yyyy') + '/' + FORMAT(@beginning_date,'MM/dd')) AS DATE)
		IF(@w_time < @start_date)
		BEGIN 
			SET @fiscal_year =  FORMAT(DATEADD(YYYY,-1,@w_time),'yyyy')
		END
		ELSE
		BEGIN
			SET @fiscal_year = FORMAT(@start_date,'yyyy')
		END
	END
	ELSE
	BEGIN 
		SET @start_date		= CAST((FORMAT(@w_time,'yyyy') + '/01/01') AS DATE)
		IF(@w_time < @start_date)
		BEGIN 
			SET @fiscal_year =  FORMAT(DATEADD(YYYY,-1,@w_time),'yyyy')
		END
		ELSE
		BEGIN
			SET @fiscal_year = FORMAT(@start_date,'yyyy')
		END
	END
	-- GET #TABLE_ORGANIZATION
	INSERT INTO #TABLE_ORGANIZATION
	EXEC [dbo].SPC_REFER_ORGANIZATION_FND1 '',@P_user_id,@P_company_cd
	--
	IF (@P_check_fiscal = 1)
	BEGIN
		SET @fiscal_year = @P_fiscal_year
	END

	--[0]
	SELECT 
		ISNULL(F0011.company_cd,0)						AS company_cd
	,	ISNULL(F0011.fiscal_year,0)						AS fiscal_year
	,	ISNULL(F0011.treatment_applications_no,0)		AS treatment_applications_no
	,	ISNULL(M0102.treatment_applications_nm,'')		AS treatment_applications_nm
	FROM F0011
	LEFT JOIN M0102 ON (
		F0011.company_cd					=	M0102.company_cd
	AND F0011.treatment_applications_no		=	M0102.detail_no
	)
	WHERE 
		F0011.company_cd	=	@P_company_cd
	AND F0011.fiscal_year	=	@fiscal_year
	AND F0011.use_typ		=	1
	AND F0011.del_datetime IS NULL
	AND M0102.del_datetime IS NULL
	--
	IF @authority_typ IN (3,4,5) OR @P_user_id =''-- 管理会社
	BEGIN
		--[1]
		SELECT 
			ISNULL(#TABLE_ORGANIZATION.organization_cd_1,'')	AS	organization_cd
		,	ISNULL(M0020.organization_nm,'')					AS	organization_nm
		,	ISNULL(M0020.organization_ab_nm,'')					AS	organization_ab_nm
		,	ISNULL(M0020.responsible_cd,0)						AS	responsible_cd
		,	ISNULL(M0020.arrange_order,0)						AS	arrange_order
		FROM #TABLE_ORGANIZATION
		LEFT OUTER JOIN M0020 ON (
			@P_company_cd							=	M0020.company_cd
		AND #TABLE_ORGANIZATION.organization_cd_1	=	M0020.organization_cd_1
		AND #TABLE_ORGANIZATION.organization_cd_2	=	M0020.organization_cd_2
		AND #TABLE_ORGANIZATION.organization_cd_3	=	M0020.organization_cd_3
		AND #TABLE_ORGANIZATION.organization_cd_4	=	M0020.organization_cd_4
		AND #TABLE_ORGANIZATION.organization_cd_5	=	M0020.organization_cd_5
		AND M0020.del_datetime IS NULL
		)
		WHERE 
			#TABLE_ORGANIZATION.organization_typ = 1
		AND M0020.company_cd IS NOT NULL
		ORDER BY
			M0020.arrange_order
		,	M0020.organization_cd_1
	END
	ELSE IF @authority_typ IN (1,2)
	BEGIN
		--[1]
		SELECT 
			ISNULL(M0070.belong_cd1,0)					AS	organization_cd
		,	ISNULL(M0020.organization_nm,'')			AS	organization_nm
		,	ISNULL(M0020.organization_ab_nm,'')			AS	organization_ab_nm
		,	ISNULL(M0020.responsible_cd,0)				AS	responsible_cd
		,	ISNULL(M0020.arrange_order,0)				AS	arrange_order
		FROM M0070
		LEFT OUTER JOIN M0020 ON (
			M0070.company_cd			=	M0020.company_cd
		AND 1							=	M0020.organization_typ
		AND M0070.belong_cd1			=	M0020.organization_cd_1
		)
		WHERE 
			M0070.company_cd			=	@P_company_cd
		AND M0070.employee_cd			=	@employee_cd
		AND M0070.del_datetime IS NULL
	END
	--[2]
	SELECT @fiscal_year AS fiscal_year 
END
GO