.content {
  padding-top: 15px;
}

.pe-w {
  min-height: 80vh;
}

.navbar-act .navbar-brand {
  margin-bottom: -1px;
}

.p-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #2B71B9;
  padding: 10px 0;
  margin-top: -20px;
  margin-bottom: 15px;
  color: #2B71B9;
}

.p-title > h4 {
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  -moz-flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 9px 0;
}

.p-title > h4.block {
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  -moz-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
}

.p-title-btn {
  margin-top: -20px;
  margin-bottom: 15px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.p-title-btn li {
  list-style: none;
  padding: .25rem 0;
  display: flex;
}
.btn-horizontal .inner {
  white-space: normal;
}
.btn-horizontal{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
/* .p-title-btn li:not(:first-child) {
  margin-left: 10px;
} */
.refer_screen{
  margin-left: 10px;
}
.refer_screen a{
  min-width: 100px;
  max-width: 100px;
}
.p-title-btn li .btn-horizontal.lg .inner {
  padding: .5rem;
}

.p-title-btn li .btn-horizontal.lg .inner i.fa {
  font-size: 2rem;
}

@media screen and (max-width: 1366px) {
  .p-title-btn li .btn-horizontal.lg .inner {
    padding: .2rem;
  }

  .p-title-btn li .btn-horizontal.lg .inner i.fa {
    font-size: 1.875rem;
  }
  .mr-25 {
    margin-right: 20px !important;
  }
}

.pe .list-group-item {
  border: 1px solid transparent;
  padding: .55rem 1.25rem .55rem 2.675rem;
  position: relative;
}

.pe .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.pe .list-group-item:hover,
.pe .list-group-item:focus,
.pe .list-group-item.active {
  background: #F6F6F6;
  color: #333;
}

.pe .list-group-item .clw {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #2B71B9;
  display: inline-block;
  position: absolute;
  left: 10px;
}

.pe .list-group-item .progress-bar.step1 {
  background-color: #42A5F6;
}

.pe .list-group-item .progress-bar.step2 {
  background-color: #29B7F7;
}

.pe .list-group-item .progress-bar.step3 {
  background-color: #25C6DA;
}

.pe .list-group-item .progress-bar.step4 {
  background-color: #25A79B;
}

.pe .list-group-item .progress-bar.step5 {
  background-color: #66BB66;
}

.pe .list-group-item .progress-bar.step6 {
  background-color: #D4E259;
}

.pe .list-group-item .progress-bar.step7 {
  background-color: #F4E262;
}

.pe .list-group-item .progress-bar.step8 {
  background-color: #FECA26;
}

.pe .list-group-item .progress-bar.step9 {
  background-color: #FFA827;
}

.pe .list-group-item .progress-bar.step10 {
  background-color: #FE6F45;
}

.pe .list-group-item .progress-bar.step11 {
  background-color: #ED3F7A;
}

.pe .list-group-item .progress-bar.step12 {
  background-color: #EF2F2E;
}

/*quyentb*/
.pe .list-group-item .clw.step1 {
  background-color: #42A5F6;
}

.pe .list-group-item .clw.step2 {
  background-color: #29B7F7;
}

.pe .list-group-item .clw.step3 {
  background-color: #25C6DA;
}

.pe .list-group-item .clw.step4 {
  background-color: #25A79B;
}

.pe .list-group-item .clw.step5 {
  background-color: #66BB66;
}

.pe .list-group-item .clw.step6 {
  background-color: #D4E259;
}

.pe .list-group-item .clw.step7 {
  background-color: #F4E262;
}

.pe .list-group-item .clw.step8 {
  background-color: #FECA26;
}

.pe .list-group-item .clw.step9 {
  background-color: #FFA827;
}

.pe .list-group-item .clw.step10 {
  background-color: #FE6F45;
}

.pe .list-group-item .clw.step11 {
  background-color: #ED3F7A;
}

.pe .list-group-item .clw.step12 {
  background-color: #EF2F2E;
}
/*end-quyentb*/

.pe .list-group-item .dropdown-menu {
  margin: 0;
  padding: 0;
}

.pe .list-group-item .dropdown-menu.show {
  display: block;
  border: 1px solid #ddd;
}

.pe .list-group-item .dropdown-menu .table {
  border: 0;
  margin: 0;
}

.pe .list-group-item .dropdown-menu .table > tbody > tr > td {
  white-space: nowrap;
  background-color: #fff;
  padding: .55rem .35rem;
  border: 0;
  vertical-align: middle;
}

.pe .list-group-item .dropdown-menu .table > tbody > tr > td .clw {
  position: static;
  display: inline-block;
  vertical-align: middle;
}

.pe .list-group-item .dropdown-menu .table > tbody > tr > td span.fa {
  border: 1px solid #ddd;
  padding: 3px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
}

.pe .list-group-item .dropdown-menu .table > tbody > tr > td:first-child {
  padding: .55rem 1.2rem;
}

.pe .list-group-item .dropdown-menu .table > tbody > tr > td:last-child {
  padding: .55rem 1.2rem;
}

.pe .list-group-item .dropdown-menu .table > tbody > tr:nth-child(even) > td {
  background-color: #F6F6F6;
}

.pe .list-group-item .dropdown-menu .list-group-item {
  position: relative;
  padding: .55rem 1.25rem .55rem 2.675rem;
  white-space: nowrap;
}

.pe .list-group-item .dropdown-menu .list-group-item:nth-child(even) {
  background-color: #F6F6F6;
}

.pe .list-group-item .dropdown-menu .caret {
  position: absolute;
  margin-left: -20px;
}

.pe .list-group-item .dropdown-menu .caret:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  border-right: 20px solid #ddd;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.pe .list-group-item .dropdown-menu .caret:after {
  content: '';
  position: absolute;
  top: 11px;
  left: 1px;
  border-right: 19px solid #ffffff;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

.lst-content {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: .875rem;
}

.lst-content .list-group-item {
  border-top: 1px solid #ddd;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent #ddd;
  padding: .55rem 0rem;
  color: #333;
}
.lst-content .list-group-item a{
}
.lst-content .list-group-item:focus,
.lst-content .list-group-item:hover {
  border-top: 1px solid #ddd;
  z-index: 0;
  background-color: #F6F6F6;
}

.lst-content .list-group-item:first-child {
  border-top: 1px solid transparent;
}

.lst-content .list-group-item h4 {
  margin: 0;
  padding: 5px 0;
  font-size: .875rem;
}

.lst-content .list-group-item h4 .lb {
  border: 1px solid #FFA827;
  color: #FFA827;
  padding: 0px 5px;
}

.lst-content .list-group-item p {
  margin: 0;
}

.lst-content .list-group-item a span{
    display: block;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #DDD;
}

.btn-outline-default {
  background-color: #F6F6F6 !important;
  border: 1px solid #ddd;
  color: #333 !important;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  background: #fff;
  border: 1px solid #ddd;
  padding: .35rem .785rem;
}
.div-bar{
  height: 4rem!important;
  cursor: pointer;
}
.tooltip.show {
  z-index: 9999;
}
.chart-link {
  display: flex;
  justify-content: center;
}
.chart-link.show {
  display: flex;
}
.chart-link .nav-item {
  border:1px solid #2b71b9;
  border-right:1px solid transparent;
}
.chart-link .nav-item:first-child {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.chart-link .nav-item:last-child {
  border-right:1px solid #2b71b9;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
.chart-link .nav-item:hover {
  background-color: #2b71b9;
}
.chart-link .nav-item:hover a {
  color:#fff;
}

@media (min-width: 1369px) {
  .table-fixed-header{
    max-height: 56vh;
  }
}
@media (max-width: 1368px) {
  .table-fixed-header{
    max-height: 52vh;
  }
}
#action_value{
  margin-top: 5px;
  font-size: 17px;
  margin-bottom: 5px;
}

body{
    padding-top: 50px;
}



.breadcrumb-arrow {
    height: 4rem;
    padding: 0;
    line-height: 4rem;
    list-style: none;
    /*background-color: #e6e9ed*/
}
.breadcrumb-arrow li:first-child a {
    border-radius: 1% 0 0 1%;
    -webkit-border-radius: 1% 0 0 1%;
    -moz-border-radius: 1% 0 0 1%;
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top;
    /*position: absolute;*/
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px;
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 2.5%;
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 4rem;
    padding: 0 2.5% 0 10%;
    line-height: 4rem;
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px;
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    width:100%;
/*    background-color: #3bafda;
    border: 1px solid #3bafda*/
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px;
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent
}
.breadcrumb-arrow li a:before {
    right: -14px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    /*border-left-width: 16px;*/
}
.breadcrumb-arrow li:not(:last-child) a:before {
   border-left-width: 16px;
}

.breadcrumb-arrow li:last-child a:before {
   border-left-width: 15px;
}

.breadcrumb-arrow li a:after {
    right: -2.5%;
    z-index: 2;
    border-left: 2.5% solid #2494be
}

.breadcrumb-arrow li span {
    color: #434a54;
}

/*.breadcrumb-arrow li:not(:last-child){
   width: 6%;
}*/
.breadcrumb-arrow li.step0 a  {
  background-color: #056FF4;
}
.breadcrumb-arrow li.step0 a:after {
  border-left-color: #056FF4;
}
.breadcrumb-arrow li.step0 a:before {
    border-left-color: #056FF4;
    border-left-style: solid;
}
.breadcrumb-arrow li.step1 a  {
  background-color: #42A5F6;
}
.breadcrumb-arrow li.step1 a:after {
  border-left-color: #42A5F6;
}
.breadcrumb-arrow li.step1 a:before {
    border-left-color: #42A5F6;
    border-left-style: solid;
}
.breadcrumb-arrow li.step2 a  {
  background-color: #29B7F7;
}
.breadcrumb-arrow li.step2 a:after {
  border-left-color: #29B7F7;
}
.breadcrumb-arrow li.step2 a:before {
    border-left-color: #29B7F7;
    border-left-style: solid;
}
.breadcrumb-arrow li.step3 a  {
  background-color: #25C6DA;
}
.breadcrumb-arrow li.step3 a:after {
  border-left-color: #25C6DA;
}
.breadcrumb-arrow li.step3 a:before {
    border-left-color: #25C6DA;
    border-left-style: solid;
}
.breadcrumb-arrow li.step4 a  {
  background-color: #25A79B;
}
.breadcrumb-arrow li.step4 a:after {
  border-left-color: #25A79B;
}
.breadcrumb-arrow li.step4 a:before {
    border-left-color: #25A79B;
    border-left-style: solid;
}
.breadcrumb-arrow li.step5 a  {
  background-color: #66BB66;
}
.breadcrumb-arrow li.step5 a:after {
  border-left-color: #66BB66;
}
.breadcrumb-arrow li.step5 a:before {
    border-left-color: #66BB66;
    border-left-style: solid;
}
.breadcrumb-arrow li.step6 a  {
  background-color: #D4E259;
}
.breadcrumb-arrow li.step6 a:after {
  border-left-color: #D4E259;
}
.breadcrumb-arrow li.step6 a:before {
    border-left-color: #D4E259;
    border-left-style: solid;
}
.breadcrumb-arrow li.step7 a  {
  background-color: #F4E262;
}
.breadcrumb-arrow li.step7 a:after {
  border-left-color: #F4E262;
}
.breadcrumb-arrow li.step7 a:before {
    border-left-color: #F4E262;
    border-left-style: solid;
}
.breadcrumb-arrow li.step8 a  {
  background-color: #FECA26;
}
.breadcrumb-arrow li.step8 a:after {
  border-left-color: #FECA26;
}
.breadcrumb-arrow li.step8 a:before {
    border-left-color: #FECA26;
    border-left-style: solid;
}
.breadcrumb-arrow li.step9 a  {
  background-color: #FFA827;
}
.breadcrumb-arrow li.step9 a:after {
  border-left-color: #FFA827;
}
.breadcrumb-arrow li.step9 a:before {
    border-left-color: #FFA827;
    border-left-style: solid;
}
.breadcrumb-arrow li.step10 a  {
  background-color: #FE6F45;
}
.breadcrumb-arrow li.step10 a:after {
  border-left-color: #FE6F45;
}
.breadcrumb-arrow li.step10 a:before {
    border-left-color: #FE6F45;
    border-left-style: solid;
}
.breadcrumb-arrow li.step11 a  {
  background-color: #ED3F7A;
}
.breadcrumb-arrow li.step11 a:after {
  border-left-color: #ED3F7A;
}
.breadcrumb-arrow li.step11 a:before {
    border-left-color: #ED3F7A;
    border-left-style: solid;
}
.breadcrumb-arrow li.step12 a  {
  background-color: #EF2F2E;
}
.breadcrumb-arrow li.step12 a:after {
  border-left-color: #EF2F2E;
}
.breadcrumb-arrow li.step12 a:before {
    border-left-color: #EF2F2E;
    border-left-style: solid;
}
.list_infomation{
  cursor: pointer;
}
.breadcrumb-arrow-noData {
    height: 4rem;
    padding: 0;
    line-height: 4rem;
    list-style: none;
    /*background-color: #e6e9ed*/
}

@media (min-width: 1701px) {
  .text-overfollow:not(.infomation_title) {
    max-width: 200px;
  }
}
@media (min-width: 1369px) and (max-width: 1700px) {
  .text-overfollow:not(.infomation_title) {
    max-width: 130px;
  }
}

@media (min-width: 1301px) and (max-width: 1368px) {
  .text-overfollow:not(.infomation_title) {
    max-width: 130px;
  }
}

@media (max-width: 1300px) {
  .text-overfollow:not(.infomation_title) {
    max-width: 130px;
  }
}
@media (max-width: 575px) or (width: 575px){
	.ml-1 {
    margin-left: 0px !important;
  }
  .select-row {
    margin-top: 15px;
  }

  .sdashboard {
    flex-direction: column;
  }
  .mt-25 {
    margin-top: 25px;
  }
  .col-border {
    padding-bottom: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .select-row {
    margin-top: 15px;
  }
  .ml-1 {
    margin-left: 0px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .select-row {
    margin-top: 15px;
  }
  .ml-1 {
    margin-left: 0px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 320px) and (max-width: 387px) {

}
ul li {
   list-style: none; /* Remove list bullets */
}

/* new */
.text-overfollow.x {
  width: calc(100% - 8px);
}
.minw150 {
  min-width: 150px;
}
/* delete by vietdt */
/* .minw150.x {
  position: relative;
} */
.minw150.x span {
  position: absolute;
  right: 5px;
  top: 5px;
}
#authority_typ{
  width: 230px;
  position: inherit;
  float: right;
  margin-top: 5px;
}
@media screen and (max-width: 500px) {
  #authority_typ{
    width: 170px;
  }
}


.mr-25 {
  margin-right: 25px;
}

.col-border {
  height: 631px;
  border: 2px solid #757575;
  border-radius: 15px;
  flex: 0 0 32.2% !important;
}
@media screen and (max-width: 1601px) {
  .col-border {
    height: 550px !important;
  }
}

.title-menu {
  display:block; 
  margin-top: -25px;
  margin-bottom: 25px;
}
.title-menu h5 {
  text-align:center;  
  position:relative; 
}
.title-menu h5 span { 
  background-color: white; 
  position: relative; 
  top: 10px; 
  padding: 0 10px;
}