.p0{
    padding: 0px;
}
.pagination.step {
	float: left;
    position: relative;
    min-width:1000px;
}
.pagination.step .page-item {
	position: relative;
    z-index: 2;
    width: 60px;
}
.pagination.step .page-item div {
    width: 60px;
    height: 1px;
    background: #c7c2c273;
    position: absolute;
    top: 45%;
}
.pagination.step .page-item:last-child div {
    width: 0px;
}
.clearfix {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: unset;
}
.page-link {
    z-index: 2 !important;
}
.matb20{
    margin-bottom: 20px;
}
.matb15{
    margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
    .over-fix{
        overflow-x: unset !important;
    }
}
.pagination.step {
    float: left;
    position: relative;
}
.pagination.step li.page-item {
    position: relative;
    z-index: 2;
}
.pagination.step .line {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 17px;
    height: 1px;
    background-color: #cccccc;
    z-index: 1;
}
.pagination.step li a.page-link {
    width: 35px;
    height: 35px;
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border-radius: 35px;
    color: white;
    border: none;
}
.pagination.step li a.page-link.st1,
.pagination.step li a.page-link.st2,
.pagination.step li a.page-link.st3,
.pagination.step li a.page-link.st4,
.pagination.step li a.page-link.st5,
.pagination.step li a.page-link.st6,
.pagination.step li a.page-link.st7,
.pagination.step li a.page-link.st8,
.pagination.step li a.page-link.st9,
.pagination.step li a.page-link.st10,
.pagination.step li a.page-link.st11,
.pagination.step li a.page-link.st12 {
    background-color: #DDD;
}
.pagination.step li a.page-link.st1.fixed{
    background-color: #42A5F6;
}
.pagination.step li a.page-link.st2.fixed {
    background-color: #29B7F7;
}
.pagination.step li a.page-link.st3.fixed {
    background-color: #25C6DA;
}
.pagination.step li a.page-link.st4.fixed {
    background-color: #25A79B;
}
.pagination.step li a.page-link.st5.fixed {
    background-color: #66BB66;
}
.pagination.step li a.page-link.st6.fixed {
    background-color: #D4E259;
}
.pagination.step li a.page-link.st7.fixed {
    background-color: #F4E262;
}
.pagination.step li a.page-link.st8.fixed {
    background-color: #FECA26;
}
.pagination.step li a.page-link.st9.fixed {
    background-color: #FFA827;
}
.pagination.step li a.page-link.st10.fixed {
    background-color: #FE6F45;
}
.pagination.step li a.page-link.st11.fixed {
    background-color: #ED3F7A;
}
.pagination.step li a.page-link.st12.fixed {
    background-color: #EF2F2E;
}
.btn.avatar {
    padding: 0;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.text-margin-left-8 {
    margin-left: 8%;
}
.tbl-header td {
    padding: 3px;
    width: 300px;
}
.tbl-header tr {
    display: flex;
}
.finline .lbl {
    background-color: #0A5688;
    color: white;
    padding: 2px 5px;
    width: 98px;
    text-align: center;
}
.finline .txt {
    padding-left: 5px;
}
.btm-comment td:first-child {
    width: 160px;
}
.marb0{
    margin-bottom: 0px !important;
}
.w-min70{
    min-width: 70px;
}
.w-min80{
    min-width: 80px;
}
.w-min100{
    min-width: 100px;
}
.backe5{
    background-color: #E5E5E5 !important;
}
.backfff{
    background-color: #fff !important;
}
.born{
    border: none !important;
}
.flex-box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
}
.table_avatar tbody td {
    border: none;
}
.flex-box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
}
#imageMain {
    margin-top: 10px;
    position: relative;
}

.img > .flex-box {
    width: 120px;
    height: 120px;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: ease 0.52s border-color;
    -moz-transition: ease 0.52s border-color;
    -webkit-transition: ease 0.52s border-color;
    -ms-transition: ease 0.52s border-color;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
}
.flex-box-image {
     border: 1px solid #ddd;
    border-radius: 50%;
}
.loaded .imgs {
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.img > .flex-box img {
    width: 120px;
    height: 120px;
    border-radius: 400px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px #ccc, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    background-size: 100%!important;
    object-fit:cover ;
}
.flex-box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
    position: relative;
}
.img > .flex-box p {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.thumb {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#table-comment tbody tr th{
    width: 140px;
}
.step li a{
    cursor: default!important;
}
/*************CSS for table*************/
#table_result thead th{
    font-size: 12px !important;
}
#table_result tbody td:not(.xxx){
    word-break: break-all;
}
.wmd-view-topscroll {
    height: 17px;
}
.wmd-view-topscroll{
    overflow-x: scroll;
    margin-right: -17px;
}
.wmd-view {
    overflow-x: scroll;
}
.scroll-div1 {
    overflow-x: scroll;
    overflow-y: hidden;
}
.table thead th {
    position: sticky !important;
    top:0;
}
@media (max-width: 575px) {
	.page-link {
        margin-left: unset;
    }
    .pagination.step li a.page-link {
        display:inline-block !important;
        padding:9px;
    }
    .pagination.step {
        overflow-y: unset;
        height: 42px;
        overflow-x: scroll;
        padding-top: 3px;
    }
    #table-data {
        min-width: 1000px;
        width: 1000px !important;
    }
    #table-2 {
        min-width: 1300px;
    }
    .pagination.step li a.page-link {
        width: 36px;
        height: 36px;
    }
    .clearfix {
        overflow: scroll;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    #table-data {
        min-width: 1000px;
        width: 1000px !important;
    }
    #table-2 {
        min-width: 1300px;
    }
    .clearfix {
        overflow: scroll;
    }
    
}
@media (min-width: 768px) and (max-width: 991px) {
    .page-link {
        margin-left: unset;
    }
    .wmd-view-topscroll {
        display:none;
    }
    .pagination.step li a.page-link {
        display:inline-block !important;
        padding:9px;
    }
    .pagination.step {
        overflow-y: unset;
        height: 42px;
        overflow-x: scroll;
        padding-top: 3px;
    }
    #table-data {
        min-width: 1000px;
        width: 1000px !important;
    }
    #table-2 {
        min-width: 1300px;
    }
    .clearfix {
        overflow: scroll;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .page-link {
        margin-left: unset;
    }
    .pagination.step li a.page-link {
        display:inline-block !important;
        padding:9px;
    }
    .pagination.step {
        overflow-y: unset;
        height: 42px;
        overflow-x: scroll;
        padding-top: 3px;
    }
    #table-data {
        min-width: 900px !important;
        width: 900px !important;
    }
    #table-2 {
        min-width: 1300px;
    }
    .clearfix {
        overflow: scroll;
    }
}
@media (min-width: 320px) and (max-width: 387px) {
    .clearfix {
        overflow: scroll;
    }
}
@media (min-width: 1200px) and (max-width: 1250px) {
    #table-data {
        min-width: 905px;
    }
}
.btn-comment-edit{
    width: 50px;
    height: 30px;
    border-radius: 15px;
    font-size: 11px;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.btm-progress-comment tr:not(:last-child) td:first-child {
	font-weight: bold;
	border-bottom: 1px solid white;
}
.btm-progress-comment td:first-child {
	width: 300px;
}
.title-screen {
    margin-top: 6px!important;
}
#employee_nm{
    margin-top: 5px;
}
.left-tooltip{
    left: -30px !important;
}
.span_evaluation_comment {
    height: 100%;
}
.self_progress_comment {
    height: 100%;
}
.span_evaluation_comment {
    height: 100%;
}
.evaluation_comment {
    height: 100%;
}
.span_evaluation_comment {
    height: 100%;
}
.progress_comment {
    height: 100%;
}
.progress_comment_self_hide {
    word-break: break-all;
}
.progress_comment_rater_hide {
    word-break: break-all;
}
.progress_comment_rater_2_hide {
    word-break: break-all;
}
.progress_comment_rater_3_hide {
    word-break: break-all;
}
.progress_comment_rater_4_hide {
    word-break: break-all;
}
.th1 {
    word-break: break-all;
}