table tr td{
	white-space: normal;
    word-break: break-all;
}
@media (max-width: 575px) {
	#table-data {
        min-width: 1000px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    #table-data {
        min-width: 1000px;
    }
}