.p0{
    padding: 0;
}
.min-w85{
    min-width: 85px;
}
.min-w100{
    min-width: 100px;
}
.min-w150{
    min-width: 150px;
}
.min-w200{
    min-width: 200px;
}
.min-w300{
    min-width: 300px;
}
.w-150{
    width: 150px !important;
}
.pagin-poss{
    position: relative;
    min-height: 38px;
}
.show_button_div{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
tr.evaluate{ background: #F9F4DC;}
@media (min-width: 1369px) {
	.table-responsive{
		height: 500px;
	}
}
@media (max-width: 1368px) {
	.table-responsive{
		height: 500px;
	}
}
/*2017-11-08*/
.scroll-div1 {
    width: 4600px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.wmd-view-topscroll {
    height: 18px;
}

.wmd-view-topscroll, .wmd-view {
    overflow-x: scroll;
}
#myTable tbody tr:nth-of-type(odd) td{
    /*background-color: #EAEBEE;*/
    outline: 0px!important;
}
#myTable thead tr .sticky-cell{
    background-color: #EAEBEE;
    outline: 0px!important;
}
#myTable th{
    cursor: pointer;
}
.table-striped tbody tr:nth-of-type(odd) td{
    background-color: #EAEBEE;
    /*outline: 0px!important;*/
}
.table-striped tbody tr:nth-of-type(even) td{
    background-color: white ;
    /*outline: 0px!important;*/
}


.table-striped tr td.sticky-cell {
    outline: none !important;
}
.table-striped tbody tr:hover {
    background-color: rgba(0,0,0,.075) !important;
}
.table-striped tbody tr:hover td,
.table-striped tr:hover td.sticky-cell {
    background: url('../../image/background_1.png') repeat 0 !important;
}