.list-search-content .list-search-child{
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-bottom:1px solid #d0d6da;
    border-left: 3px solid #fff;
    cursor: pointer;
    overflow: hidden;
}
.btn-date-btn {
    width: 175px;
}
.list-search-content .list-search-child p{
     width:100%;
     white-space:nowrap;
     overflow:hidden;
     text-overflow:ellipsis;
}
/*@-moz-document url-prefix() {
    #leftcontent {
        height: 205vh;
        padding-right: 10px;
    }
    #rightcontent {
        height: 205vh;
        padding-left: 10px;
    }
}*/
.text-area .input-group-btn + .lg{
 /*position: relative;*/
   /*top: 0px;*/
   /*margin-left: 50%;*/
   width: 80px;
}
.text-area .lg{
    position: absolute;
    bottom: -16px;
    /*height: 20px;*/
    padding: 0px !important;
    display: inline-block !important;
    top:unset !important;
}
.w30 {
    width: 30%;
}
.w40 {
    width: 40%;
}
.w-40 {
    min-width: 40px;
}
.table tbody tr {
    background-color: #ffffff ;
}
.table tbody tr:hover>.td-group{
background-color: White ;
}
.table tbody tr .td-group:hover{
    background-color: rgba(0,0,0,.05) !important;
}
.table tbody tr:hover > td:not(.td-group){
    background-color: rgba(0,0,0,.05) !important;
}
.table tbody tr .td-group:hover ~ td{
    background-color: White !important;
}
.table tbody tr .td-group {
    /*background-color: rgba(0,0,0,.05);*/
    cursor: pointer;
}
.td-selected-white{
	background-color: rgba(0,0,0,.05) !important;
}
.td-selected-gray{
	background-color: rgba(0,0,0,.05)!important;
}
.tab-content{
    width: 100%;
}
.table-responsive.has-copy {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.2);
    border:1px solid #3c763d;
}
.calHe.has-copy:before,
.calHe.has-copy:after {
    position: absolute;
    top: 10px;
    left: -75%;
    right: 0;
    margin: auto;
}
.calHe.has-copy:after {
    content: "コピー中";
    top:55px;
    font-size: 13px;
}

.table-bordered {
    border: 1px solid #dee2e6 !important;
}
.mw-150{
    min-width: 150px;
    text-align: left;
}
.md-checkbox-v2 input[type="checkbox"]:checked+label{
    white-space: unset;
}
.input-group-text {
    width: 5%;
}
@media (max-width: 575px) {
	.tab-content,.tab-style {
        margin-left: unset !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .tab-content,.tab-style {
        margin-left: unset !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 792px) and (max-width: 991px) {
    .input-group-text {
        width: 15%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .btn-date-btn {
        width: 47% !important;
    }
}
@media (min-width: 320px) and (max-width: 457px) {
    .btn-date-btn {
        width: 96%;
    }
}