.nw {
	white-space: nowrap;
}
.fix-but > a{
	margin-top: 3px;
	margin-bottom: 3px;
}
.tbl {
	width: 100%;
}
.col-custom {
	flex: 0 0 80%;
    max-width: 80%;
}
.w175 {
	padding-left: 0 !important;
    padding-right: 0 !important;
    width: 175px;
}
.btn i:first-child {
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.col-md-auto{
	bottom: 8px;
	width: 20%;
}
.col-md-auto2{
	width: 15%;
	padding-left: 1%;
	max-width: 200px;
}
.col-md-auto a{
	width: 100%;
}
.input-group .mmdd{
	width: 100%;
}
.tr-adjustpoint{
	display: flex;
}
.td-adjustpoint{
	line-height: 35px;
}
.bl102 {
	position: relative;
    display: inline-block;
}
.bl102 .btn-remove-but {
	position: absolute;
    margin-top: 20px;
    right: 15px;
    font-size: 16px;
    color: white;
}
.numericX1,
.numericX2,
.numericX3,
.numericX4,
.numericX5,
.numericX6,
.numericX7,
.numericX8 {
	text-align: right;
}
.btn-chat {
	min-width:293px;
	max-width:293px;
}
.vb-2 {
	margin-bottom: 10px;
}
.vt-3 {
	margin-bottom: 10px;
	margin-top: 10px;
}
.table-responsive{
	width: 50% ;
}
@media (max-width: 575px) {
	#table-data-1 {
		min-width: 470px;
	}
	.col-md-auto2 {
		margin: 5px 0px;
		max-width:unset !important;
	}
	.vp-2  {
		margin: 5px 0px;
		max-width:unset !important;
	}
	.col-custom {
		max-width: unset !important;
	}
	.vt-3 {
		margin-top: unset !important;
	}
	.table-responsive{
		width: 100% !important;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.col-md-auto2 {
		margin: 5px 0px;
		max-width:unset !important;
	}
	.vp-2  {
		margin: 5px 0px;
		max-width:unset !important;
	}
	.col-custom {
		max-width: unset !important;
	}
	.vt-3 {
		margin-top: unset !important;
	}
	.table-responsive{
		width: 100% !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-custom {
		max-width: unset !important;
	}
	.table-responsive{
		width: 100% !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.col-custom {
		max-width: unset !important;
	}
}
@media (min-width: 1200px) and (max-width: 1400px) {
	.col-custom {
		max-width: unset !important;
	}
	.aaa{
		padding-left: 2px !important;
		padding-right: 2px !important;
	}
}
@media (min-width: 1300px) and (max-width: 1600px) {
	.col-md-auto2{
		padding: 5px;
	}
	.col-md-auto{
		bottom: 8px;
		width: 22%;
	}
	.qq{
		padding-left: 5px !important;
		padding-right: 0px !important;		
	}
}
@media (max-width: 575px)  {
	.col-md-auto2{
		width: 100%;
		padding-left: 10px; 
		padding-right: 10px;
	}
}
