.td-none{
    width: 250px;
}
.th-rank{
    width: 37%;
}
.num-length:not(.td-error) > .textbox-error{
	position: relative;
}
@media (max-width: 575px) {
    #table-data {
        min-width: 800px;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    #table-data {
        min-width: unset !important;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    #table-data {
        min-width: 800px !important;
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    #table-data {
        min-width: 800px !important;
    }
}