.label-table-margintop{
    margin-top: 1%;
}
.btn-upload{
    margin-bottom: 15px;
}
#btn-show{
    float: right;
}
.baffbo {
    background-color: #fff !important;
    border: none !important;
}
.eye-close{
    background-color: #CCCCCC;
    color: #fff;
}
.eye-close i.fa.fa-eye:before {
    content:"\f070";
}
.ba55 {
    background-color: #E9EFF4!important;
}
.w-table3{
    width: 50%
}
.w-table4{
    width: 75%
}
.margintop15{
    margin-top: -15px!important;
}
.marginbottom15{
    margin-bottom: 15px!important;
}
.table-responsive.has-copy {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.2);
    border:1px solid #3c763d;
}
.calHe.has-copy:before,
.calHe.has-copy:after {
    position: absolute;
    top: 20px;
    left: 80%;
    right: 0;
    margin: auto;
}
.calHe.has-copy:after {
    content: "コピー中";
    top:65px;
    font-size: 13px;
}

/*updload file*/
.m012-textbox-80 {
    width: 80% !important;
    height: 38px;
    font-size: 12px;
}
.w-item-search {
    padding-left: 3px;
}
.h26 {
    height: 26px !important;
}
.w-title-item {
    line-height: 26px;
    padding: 0px;
    background-color: #62AD44;
    border-radius: 4px;
    color: #FFFFFF;
    padding-left: 3px;
    font-weight: bold;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #E7EAEA !important;
    opacity: 1 !important;
    cursor: not-allowed !important;
}

.btn-attach-file{
    width: 30px;
}

/* UPLOAD FILE CSS */

.upload{
    width: 500px;
    display: inline-block;
    position: relative;
}
.realupload {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity:0);
    z-index: 2;
    width: 270px;
    display: none;
}
.upload .face-file-btn {
    cursor: pointer;
    position: absolute;
    left: 0px;
    margin: 0px 0px 0px 0px;
    z-index: 99;
    display: inline-block!important;
}
.input-path{
    padding-left: 35px;
}
input.realupload{
    display: none;
}
.btn-download{
    position: absolute;
    left: 410px;
    top: 3px;
    cursor: pointer;
    height: 30px;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: #2A70B8;
    border-image: initial;
    border-radius: 50%;
    padding: 1px 5px;
    color: #2A70B8;
}
.btn-download:hover {
    background: #2A70B8;
    color: white;
}
.btn-clearfile {
    position: absolute;
    left: 440px;
    top: 3px;
    margin-left: 7px;
    cursor: pointer;
    height: 30px;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: #d9534f;
    border-image: initial;
    border-radius: 50%;
    padding: 1px 5px;
    color: #d9534f;
}
.btn-clearfile:hover {
    background: #d9534f;
    color: white;
}
.line-upload-bottom {
    margin-bottom: 15px;
}
.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.iconDownload {
    display: none;
}
.m-div {
    position: relative;
}
.m-div label {
    position: absolute !important;
    left: 364px !important;
}
.fa-folder-open {
    font-size: 27px;
    color: #2A70B8;
    margin-top: 6px;
}
.fa-download_m {
    margin-top: 5px;
    font-size: 18px;
}
.fa-trash_m {
    margin-top: 5px;
    font-size: 18px;
}
/* END UPLOAD FILE */

.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}

/*
#tbl1 .lg {
    margin-top: -12px !important;
}
#list-item .lg {
    margin-top: -12px !important;
}*/
#goal_number_span .textbox-error{
    position: unset;
}
@media (max-width: 1100px){
    .w-table3{
        width: 100%;
    }
    .w-table4{
        width: 100%;
    }
    .upload{
        width: 300px;
    }
    .m-div label{
        left:200px !important;
    }
    .btn-download{
        left: 250px;
    }
    .btn-clearfile {
        left: 280px;

    }
}
/* END UPLOAD FILE */
@media (max-width: 400px){
    .w-table3{
        width: 100%;
    }
    .w-table4{
        width: 100%;
    }
    .upload{
        width: 225px;
    }
    .m-div label{
        left:145px !important;
    }
    .btn-download{
        left: 195px;
    }
    .btn-clearfile {
        left: 225px;
    }
}
#table-comment1 {
    width: 75%;
}
.w25 {
    width: 25% !important;
}
@media (max-width:  768px) {
    #table-comment1 {
        width: 100%;
    }
    .w25 {
        width: 100% !important;
    }
    .w200 {
        width: 300%;
    }
}

.lh-lable{
    max-width:133px;
}

.ln-min{
    min-width: 150px;
}
@media (min-width:1200px) and (max-width:1296px) {
    .ln-lg-4{
        flex: 0 0 27%;
        max-width: 27%;
    }
    .ln-lg-3{
        flex: 0 0 23%;
       max-width: 23%;
    }
}

@media (min-width: 768px) and (max-width:800px) {
    .ln-lg-4{
        flex: 0 0 52%;
        max-width: 52%;
    }
    .ln-lg-3{
        flex: 0 0 48%;
        max-width: 48%;
    }
}
.master-content[language="Language"] #generic_comment_title_1
,.master-content[language="Language"] #generic_comment_title_2
,.master-content[language="Language"] #generic_comment_title_8
,.master-content[language="Language"] #generic_comment_title_3
,.master-content[language="Language"] #generic_comment_title_4
,.master-content[language="Language"] #generic_comment_title_5
,.master-content[language="Language"] #generic_comment_title_6
,.master-content[language="Language"] #generic_comment_title_7{
    min-width: 200px !important;
}
.master-content[language="Language"] #item_title_title
,.master-content[language="Language"] #item_title_1
,.master-content[language="Language"] #item_title_2
,.master-content[language="Language"] #item_title_3
,.master-content[language="Language"] #item_title_4
,.master-content[language="Language"] #item_title_5{
    min-width: 130px !important;
}
.master-content[language="Language"] #detail_self_progress_comment_title{
    min-width: 250px !important;
}
.master-content[language="Language"] #detail_progress_comment_title{
    min-width: 276px !important;
}
.master-content[language="Language"] #detail_comment_display_typ_0 ~ input
,.master-content[language="Language"] #detail_comment_display_typ_2 ~ input
,.master-content[language="Language"] #detail_comment_display_typ_3 ~ input
,.master-content[language="Language"] #detail_comment_display_typ_1 ~ input 
,.master-content[language="Language"] #detail_comment_display_typ_4 ~ input{
    min-width: 210px !important;
}
.master-content[language="Language"] .margintop15 .table-responsive{
    min-width: 350px !important;
}
.master-content[language="Language"] #self_progress_comment_title{
    min-width: 276px !important;
}
@media (max-width:1600px) {
    .master-content[language="Language"] #challengelevel_criteria_display_typ.ln-css input{
        min-width: 308px !important;
    }
    .master-content[language="Language"] #point_criteria_display_typ.ln-css input{
        min-width: 308px !important;
    }
}

@media (min-width:1800px) {
    .master-content[language="Language"] #self_progress_comment_display_typ.ln-css{
        width: 50% !important;
    }
}
.master-content[language="Language"] #challengelevel_criteria_display_typ input{
    min-width: 200px !important;
}
.master-content[language="Language"] #point_criteria_display_typ input{
    min-width: 200px !important;
}
@media (min-width:1600px) and (max-width:1800px) {
    .master-content[language="Language"] #challengelevel_criteria_display_typ input{
        min-width: 308px !important;
    }
    .master-content[language="Language"] #point_criteria_display_typ input{
        min-width: 308px !important;
    }
}
@media (min-width:1270px) and (max-width:1426px) {
    .master-content[language="Language"] #table-comment1{
        width: 90%;
    }
}
@media (max-width:1270px){
    .master-content[language="Language"] #table-comment1{
        width: 100%;
    }
}
