.w-100{
    width: 100px !important;
}
.w25{
    width: 25%;
}
.back-fff{
    background-color: #fff !important;
}
.maxw150{
    max-width: 150px;
}
.w23{
    width: 23%;
}
.minw150{
    min-width: 150px;
}
.minw100{
    min-width: 100px;
}
.minw200{
    min-width: 200px;
}
@media (max-width: 576px)  {
    #table-data {
        min-width: 800px !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    #table-data {
        min-width: 1473px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #table-data {
        min-width: 400px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #table-data {
        min-width: 400px !important;
    }
}
@media (min-width: 320px) and (max-width: 387px) {

}