.menu-setting-icon {
    text-align: center;
    font-size: 25px;
    padding-top: 100px;
    cursor: pointer;
}

.weeklyreport:hover {
    box-shadow: 1px 0px 3px 6px #f884aafd !important;
}

.weeklyreport:hover~p {
    color: #f884aafd !important;
}

@media only screen and (min-width: 1200px) {
    #basic_setting {
        left: 120px;
    }

    #weekly_report {
        left: 60px;
    }

    #_1on1 {
        right: 60px;
    }

    #evaluation {
        right: 120px;
    }
}

/* mobile first */
@media (max-width: 680px) {
    .menu-setting-icon {
        padding-top: 30px;
    }
    #row-container {
        margin-bottom: 0px;
    }
}
@media (min-width: 680px) {
    .block_setting_menu_icon {
        left:30px
    }
    #sdashboard_screen {
        margin-right: 24px;
    }
    #edashboard_screen {
        margin-right: 24px;
    }
    .menu-setting-icon {
        text-align: right;
    }
    #label_basic_setting {
        margin-right: 24px;
    }
    
}
.ellipsis {
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-wrap:break-word;
}
@media (min-width: 680px) {
    .bottom_120 {
        height:20px; 
        bottom:120px;
    }
    .bottom_0 {
        bottom: 0px;
        left: 30px;
    }
}
@media (max-width: 679px) {
    .bottom_120 {
        right:10px;
    }
}
@media (max-width: 679px) {
    .blank_div {
       height: 0px;
    }
}
.dashboard {
    margin-bottom: 12px;
}