.p0{
    padding: 0;
}
.text-right{
    text-align: right;
}
.scroll > table {
    width: calc(100% - 17px);
    margin-bottom: -1px;
    min-width: 1400px;
    table-layout: fixed;
}
.scroll > div {
    height: 35vh;
    overflow: auto;
    min-width: 1417px;
}
.scroll > div table {
    min-width: 1400px;
    table-layout: fixed;
}
.scroll > div td:nth-child(1),
.scroll > table th:nth-child(1) {
    width: 30px;
}
.scroll > div td:nth-child(2),
.scroll > table th:nth-child(2) {
    width: 30px;
}
.scroll > div td:nth-child(3),
.scroll > table th:nth-child(3) {
    width: 30px;
}
.scroll > div td:nth-child(4),
.scroll > table th:nth-child(4) {
    width: 50px;
}
.scroll > div td:nth-child(5),
.scroll > table th:nth-child(5) {
    width: 100px;
}
.scroll > div td:nth-child(6),
.scroll > table th:nth-child(6) {
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.scroll > div td:nth-child(7),
.scroll > table th:nth-child(7) {
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.scroll > div td:nth-child(8),
.scroll > table th:nth-child(8) {
    width: 100px;
}
.scroll > div td:nth-child(9),
.scroll > table th:nth-child(9) {
    width: 100px;
}
.scroll > div td:nth-child(10),
.scroll > table th:nth-child(10) {

    width: 100px;
}
.scroll > div td:nth-child(11),
.scroll > table th:nth-child(11) {
    width: 100px;
}
.text-gray{
    color: gray!important;
}
.choose {
    width: 35px !important;
}
.ck_tb {
    margin-left: 10px;
}
.checkbox{
    margin-top: 5px !important;
    padding: 0px !important;
}
.container-fluid{
    /* overflow-y: hidden; */
}
a[disabled] {
    cursor: default;
    opacity: .5;
}
.w-detail-col1{
    width: 50px;
    max-width: 50px;
    min-width: 50px;
}
.w-detail-col2{
    width: 50px;
    max-width: 50px;
    min-width: 50px;
}
.w-detail-col3{
    width: 60px;
    max-width: 60px;
    min-width: 60px;
}
.w-detail-col4{
    width: 80px;
    max-width: 80px;
    min-width: 80px;
}
.w-detail-col5{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}
.w-detail-col6{
    width: 170px;
    max-width: 170px;
    min-width: 170px;
}
.w-detail-col7{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}
.w-detail-col8{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}
.w-detail-col9{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}
.w-detail-col10{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}
.w-detail-col11{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}
.w-detail-col12{
    width: 85px;
    max-width: 85px;
    min-width: 85px;
}
.wmd-view-topscroll, .wmd-view {
    overflow-x: scroll;
}

.wmd-view-topscroll {
    height: 18px;
}
.scroll-div1 {
    width: 1180px;
    overflow-x: scroll;
    overflow-y: hidden;
}
a:not(disabled):hover{
    cursor: pointer;
}
#header .head{
    float: left;
    text-align: center;
    border-right:1px solid #dee2e6;
    background: #EAEBEE;
    height: 45px;
    font-weight: bold;
    line-height: 45px;
    padding: 0 .325rem;
}

#header{
    z-index: 99;
    position: sticky;
    top: 0;
    border-bottom:1px solid #dee2e6;
    border-top:1px solid #dee2e6;
    min-width: 1600px;
}
.headitem{
    min-width: 150px;
}
.pager-info {
    width: unset;
}
@media (width: 1280px) {
	#btn-released-pass{
        padding-left: 5px;
        padding-right: 5px;
    }
    #btn-add-new{
        padding-left: 5px;
        padding-right: 5px;
    }
    #btn-mail{
        padding-left: 5px;
        padding-right: 5px;
    }
    #btn-print-employee{
        padding-left: 5px;
        padding-right: 5px;
    }
    #btn-back{
        padding-left: 5px;
        padding-right: 5px;
    }
}
.tooltip-inner {
    width: 150px; 
}