.p0{
    padding: 0;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align:center;
}
.text-left{
    text-align:center;
}
.w-80px {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}

.w-100px {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.w-120px {
     width: 120px;
     min-width: 120px;
     max-width: 120px;
 }

.w-160px {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}

.minw150{
    min-width: 150px;
}


.btn.avatar {
    padding: 0;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.tbl-header td {
    padding: 3px;
}
/*.tbl-header td:not(:first-child) {
    width: 200px;
}*/
/*.tbl-header td:first-child {
    padding-right: 20px;
}*/

.finline .lbl {
    background-color: #0A5688;
    color: white;
    padding: 2px 5px;
    width: 90px;
    min-width:90px;
    max-width:90px;
    text-align: center;
}
#tb-top[language = "Language"] .ln-text{
    min-width: 90px !important;
    max-width: 90px !important;
    width: unset !important;
}
#tb-top[language = "Language"]  .ln-tr-text .ln-org{
    min-width: 90px !important;
    max-width: 90px !important;
}
.ln-table{
    transform: translateY(-50px);
}
.finline .txt {
    padding-left: 10px;
    /*width: 150px;*/
}


.btm-comment td:first-child {
    width: 160px;
}
.marb0{
    margin-bottom: 0px !important;
}
.w-min70{
    min-width: 70px;
}
.w-min275 {
    min-width: 275px;
}
.backe5{
    background-color: #E5E5E5 !important;
}
.backfff{
    background-color: #fff !important;
}
.born{
    border: none !important;
}
.line-border-bottom {
    margin-top: 10px !important;
}
.radius {
    border-radius: 50px;
}

@media (max-width: 1366px) {
    .w-min275 {
        min-width: 265px;
    }

   /* .finline .txt {
       width: 120px;
   }*/
}

@media (min-width: 1366px) {
    .w-120px {
        width: 105px;
        min-width: 105px;
        max-width: 105px;
    }
}

@media (min-width: 1600px) and (max-width: 1700px){
    .w-120px {
        width: 180px;
        min-width: 180px;
        max-width: 180px;
    }

    .tbl-header td:first-child {
    padding-right: 20px;
    }
}
@media (min-width: 1701px) {
    .w-120px {
        width: 180px;
        min-width: 180px;
        max-width: 180px;
    }

    .tbl-header td:first-child {
    padding-right: 20px;
    }
}
@media (min-width: 1900px) {
    #tb-middle tbody .w-120px {
        width: 220px;
        min-width: 220px;
        max-width: 220px;
    }
}
.w-imgs {
    width: 123px;
    min-width: 123px;
    max-width: 123px;
    height: 132px;
    min-height: 132px;
    max-height: 132px;
}
.w-imgs p {
    height: 100px;
    text-align: center;
}

.portrait {
    width: 123px;
    height: 123px;
}
.portrait img {
    max-width: 100%;
    max-height: 100%;
    margin:auto;
    display: block
}


.w_max {
    max-width: 140px;
}

.img > .flex-box {
    width: 120px;
    height: 120px;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: ease 0.52s border-color;
    -moz-transition: ease 0.52s border-color;
    -webkit-transition: ease 0.52s border-color;
    -ms-transition: ease 0.52s border-color;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
}
.flex-box-image {
    border: 1px solid #ddd;
    border-radius: 50%;
}
.imgs {
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.flex-box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
}
.avatar .img.loaded p {
    display: none;
}
.img > .flex-box p {
    position: absolute;
    left: 58px;
    right: 0;
    margin: auto;
}
.w-detail-col1{
    width: 50px;
    max-width: 50px;
    min-width: 50px;
}
.w-detail-col2{
    width: 50px;
    max-width: 50px;
    min-width: 50px;
}
.w-detail-col3{
    width: 50px;
    max-width: 50px;
    min-width: 50px;
}
.w-detail-col4{
    width: 80px;
    max-width: 80px;
    min-width: 80px;
}
.w-detail-col5{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}
.w-detail-col6{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}
.w-detail-col7{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}
.w-detail-col8{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}
.w-detail-col9{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}
.w-detail-col10{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}
.w-detail-col11{
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}
.w-detail-col12{
    width: 70px;
    max-width: 70px;
    min-width: 70px;
}
.img > .flex-box img {
    width: 120px;
    height: 120px;
    border-radius: 400px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px #ccc, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    background-size: 100%!important;
    object-fit:cover ;
}
.thumb {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.w100 {
    width: 100%;
}
.tooltip-inner {
    white-space:nowrap;
    max-width:none;
}


@media (max-width: 1365px){
    .w_div {
        width: 130px;
    }
    .finline{
        min-width: 200px !important;
    }
}

@media (min-width: 1366px) and (max-width: 1599px){
    .w_div {
        width:140px;
    }
    .finline{
        min-width: 200px !important;
    }
}

#tb-top .text-overfollow{
    min-width: 90px;
    max-width:90px;
}
.finline{
    min-width: 150px;
    flex-flow:unset;
}
#tb-top .form-control-plaintext .text-overfollow{
    min-width: 155px !important;
    max-width:155px !important;
}
.flex-box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
}
.img > .flex-box {
    width: 120px;
    height: 120px;
    /*overflow: hidden;*/
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
   /* border: 1px solid #ddd;
    border-radius: 50%;*/
    transition: ease 0.52s border-color;
    -moz-transition: ease 0.52s border-color;
    -webkit-transition: ease 0.52s border-color;
    -ms-transition: ease 0.52s border-color;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
/*    padding: 5px;*/
    cursor: pointer;
    margin: 0 auto;
}
.flex-box-image {
     border: 1px solid #ddd;
    border-radius: 50%;
}
.imgs {
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.img > .flex-box img {
    width: 120px;
    height: 120px;
    border-radius: 400px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px #ccc, inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    background-size: 100%!important;
    /*object-fit:cover ;*/
}
.flex-box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
    position: relative;
}
.img > .flex-box p {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.thumb {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.table_avatar tbody td{
    border: none;
}

.ln-name{
    overflow: hidden;
}
.ln-name .table_avatar{
    display: block !important;
}
.ln-name .table_avatar tbody {
    display: block;
}
.ln-name .table_avatar tr {
    display: block;
}
.ln-name .table_avatar td {
    display: block;
}
.table thead tr th{
    height: 49px !important;
}
.table-responsive{
    padding-bottom: 10px;
}