.p0{
    padding: 0;
}
.min-w85{
    min-width: 170px;
}
.min-w100{
    min-width: 100px;
}
.min-w150{
    min-width: 150px;
}
.min-w200{
    min-width: 200px;
}
.min-w300{
    min-width: 300px;
}
.w-150{
    width: 150px !important;
}
.pagin-poss{
    position: relative;
    min-height: 38px;
}
tr.evaluate{ background: #F9F4DC;}
@media (min-width: 1369px) {
	.table-responsive{
		height: 500px;
	}
}
@media (max-width: 1368px) {
	.table-responsive{
		height: 500px;
	}
}
/*2017-11-08*/
.scroll-div1 {
    width: 4600px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.wmd-view-topscroll {
    height: 18px;
}

.wmd-view-topscroll, .wmd-view {
    overflow-x: scroll;
}
#myTable tbody tr:nth-of-type(odd) td{
    /*background-color: #EAEBEE;*/
    outline: 0px!important;
}
#myTable thead tr .sticky-cell{
    background-color: #EAEBEE;
    outline: 0px!important;
}
#myTable th{
    cursor: pointer;
}
.table-striped tbody tr:nth-of-type(odd) td{
    background-color: #EAEBEE;
    /*outline: 0px!important;*/
}
.table-striped tbody tr:nth-of-type(even) td{
    background-color: white ;
    /*outline: 0px!important;*/
}


.table-striped tr td.sticky-cell {
    outline: none !important;
}
.table-striped tbody tr:hover {
    background-color: rgba(0,0,0,.075) !important;
}
.table-striped tbody tr:hover td,
.table-striped tr:hover td.sticky-cell {
    background: url('../../image/background_1.png') repeat 0 !important;
}
.pager-wrap {
	display: block;
	height: 55px;
	justify-content: unset;
	margin-bottom: 0px;
}
.pager-wrap ul{
    width: 35%;
}
.pager-info{
    width: 35%;
}
.pager-info .input-group{
	justify-content: flex-end;
}
#cb_page{
	max-width: 100px;
}
@media (min-width: 998px) and (max-width: 1598px) {
    .pager-wrap ul{
        width: 30% !important;
    }
    .btn-pagging-center{
        width: 25% !important;
    }
    .pager-info{
        width: 45% !important;
	}
	.header-left-function{
		flex: 0 0 25%;
		max-width: 25% !important;
	}
	.nav-menubar-pc{
		flex: 0 0 75%;
		max-width: 75%;
	}
}
@media (min-width: 576px) and (max-width: 991px) {
      .pager-wrap ul{
        width: 100% !important;
    }
    .btn-pagging-center{
        width: 100% !important;
    }
    .pager-info{
        width: 100% !important;
	}
	.pager-info .input-group{
	justify-content: unset;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
    .pager-wrap {
        height: 55px !important;
    }
}
@media (max-width: 576px) {
    #cb_page{
        max-width: 100%;
    }
}

@media screen and (min-width: 1130px){
    .header-left-function{
        flex: 0 0 20%;
        max-width: 20%;
    }
    .nav-menubar-pc{
        flex: 0 0 80%;
        max-width: 80%;
    }
}

@media (max-width: 1130px){
    .container-fluid[language="Language"] .nav-menubar-mobile {
        display: block !important;
        text-align: right;
    }
}
@media  (max-width:1130px ){
    .container-fluid[language="Language"] .nav-menubar-pc {
        display: none;
    }
}



@media (min-width: 1701px) {
    #myTable .text-overfollow{
        width: 150px;
    }
}
@media (min-width: 1369px) and (max-width: 1700px) {
    #myTable .text-overfollow{
        width: 155px;
        /*margin-left: 20px;*/
    }
}

@media (min-width: 1301px) and (max-width: 1368px) {
    #myTable .text-overfollow{
        width: 130px;
        margin-left: 0px;
    }
}

@media (max-width: 1300px) {
    #myTable .text-overfollow{
        width: 50px;
        margin-left: 20px;
    }
}
@media (min-width: 1800px) {
    #result-size{
       height: 775px !important;
    }
    .table-responsive {
        height: 659px;
    }
    
}
