.flex-center {
	border-left: 5px solid #2B71B9
}
.text-primary {
	color:#2B71B9 !important;
}
.d-flex {
	overflow: hidden;
}
.flex-end ,
.flex-start {
	overflow: auto;
}
.w5{
	width: 5%;
}
.w10{
	width: 10%;
}
.w13{
	width: 13%;
}
.w15{
	width: 15%;
}
.table-detail{
	width: 100%;
}
.lb-check-q2030 {
	width:205px;
}
@media (max-width: 575px) {
	#table-2 { 
		min-width: 1000px;
	}
	#table-3 { 
		min-width: 1000px;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	#table-2 { 
		min-width: 1300px;
	}
	#table-3 { 
		min-width: 1300px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#table-3 { 
		min-width: 1300px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.lb-check-q2030 {
		width:120px;
	}
}
@media (min-width: 320px) and (max-width: 387px) {

}
@media (min-width: 1200px) and (max-width: 1280px) {

}