.table {
	/*width: calc(100% - 30px)!important;*/
	table-layout: fixed;
}

.fix-width {
	max-width: 23%;
}

.text-company_nm {
	width: 150px;
}

.text-nm {
	min-width: 100px;
	max-width: 100px;
}

.text-name {
	width: 200px;
}

.user-id:hover {
	cursor: pointer;
	text-decoration: none !important;
}

@media (min-width: 1700px) and (max-width: 1900px) {
	#select2_period {
		max-width: 237px !important;
	}

	.text-company_nm {
		width: 130px;
	}
}

@media (min-width: 1260px) and (max-width: 1669px) {
	.fix-width {
		max-width: 5%;
	}

	.fix-width-date {
		min-width: 15%;
	}

	.text-company_nm {
		width: 70px;
	}

	.text-nm {
		width: 120px;
	}

	.text-name {
		width: 120px;
	}
}

@media (max-width: 575px) {
	#tbl-data {
		min-width: 1600px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	#tbl-data {
		min-width: 1600px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#tbl-data {
		min-width: 1600px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#tbl-data {
		min-width: 1600px;
	}
}
@media (max-width: 1650px) and (min-width: 1199px) {
	.min_w200 {
		min-width: 220px;
	}
	.min_w500 {
		min-width: 100%;
	}
}
.div_year_search_button {
	max-width: 400px;
}
@media (min-width: 320px) and (max-width: 387px) {}

#tbl-data {
	table-layout: unset;
}
th {
	min-width: 150px;
}
/*fixed top table*/
.scroll-div1 {
	width: 4600px;
	overflow-x: scroll;
	overflow-y: hidden;
}
.wmd-view-topscroll {
	height: 18px;
}

.wmd-view-topscroll, .wmd-view {
	overflow-x: scroll;
}
.row_token {
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 320px) and (max-width: 387px) {
	.table_token {
		min-width:800px;
	}
}
.list {
	height: 37.5px;
}

.mt-46px {
	margin-top: 46px;
  }
  
  /* responsive for mobile */
  /* @media only screen and (max-width: 600px) {
	#wrap_content .div_has_rows_detail .row .col-md-3 {
	  padding-top: 1rem;
	}
  } */
  
  #btn-add-row {
	color: #3598db;
	padding: 0px;
	box-shadow: unset;
	background-color: unset;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
  }
  #btn-add-row:hover,
  #btn-add-row:focus {
	background: #d9edf7 !important;
	color: #3598db !important;
  }

  #s0001_table .table tbody .fake-input-upload-file:focus {
	color: #495057;
	border-color: #cfccc4;
	outline: 0;
	box-shadow: 0 0 0 0.2rem #cfccc485;
  }
  #s0001_table .table tbody tr td .fake-input-upload-file {
	cursor: not-allowed;
	/* padding-right: 40px; */
	padding-right: 50px;
	text-overflow: ellipsis;
  }
  /* #s0001_table .table-responsive.sticky-table {
	width: fit-content !important;
	overflow: auto !important;
	display: block !important;
	max-height: calc(100vh - 500px);
  }
  #s0001_table .table thead {
	position: sticky;
	z-index: 1;
  }
  #s0001_table .table thead tr th {
	border-top-width: 0px;
	border-color: #dee2e6 !important;
  } */
  
  #s0001_table .table-responsive.sticky-table {

	overflow: auto !important;
	display: block !important;
	/* max-height: 400px; */
	max-height: 40vh;
	/* min-height: 105px; */
  }
  #s0001_table .table thead {
	position: sticky;
	z-index: 1;
  }
  #s0001_table .table thead tr th {
	border-top-width: 0px;
	border-color: #dee2e6 !important;
  }
  .md-checkbox-v2 input[type="checkbox"][disabled]+label {
	color: #707070 !important;
  }
  /* css checkbox error */
  .checkbox-error {
	position: absolute;
	left: 0;
	top: 20px;
	color: #dc3545;
  }
  .md-checkbox-v2 input[type="checkbox"]+label.border-error:before  {
	border: 1px solid #dc3545;
  }
  
  /* .lb-required::after {
	font-weight: 400;
  } */
  
  #s0001_table tr td .has_error {
	border-color: #dc3545;
  }
  #s0001_table tr td .has_error:focus {
	border-color: #cfccc4;
  }
  #s0001_table {
	margin-top: 16px;
  }
  .card-body_table_data {
	padding-top: 0px;
  }
  .card-body {
	padding-left: 0.5rem;
  }