.table-data{
    height: 66vh;
    overflow-y: auto;
    overflow-x: visible;
}
.list-search-content .list-search-child {
    line-height: 40px;
}
@-moz-document url-prefix(){
    .table-data{
        height: 60vh;
        overflow-x: hidden;
    }
    #leftcontent, #rightcontent{
        /*height: 80vh;*/
    }
    .height100td{
        max-height: 60vh;
    }
}

.fixed-header{
    margin-bottom: 0px !important;
}

.table-data{
    margin-bottom: 15px;
}

.tooltip{
    z-index:9999 !important;
}

.height100td{
    height: 65vh;
}

#result{
    overflow-y: hidden;
}

#btn-reflect{
    padding-left: 15px;
    padding-right: 15px;
}


.div-reflect{
    display: flex;
    justify-content: flex-end;
}

#reflect{
    width: 189px;
    margin-left: 10px;
}
/*=========*/
@media (min-width: 768px) and (max-width: 1366px) {
    .col-ltx-3{
        max-width: 30%;
        display: flex;
        justify-content: center;
    }
    .col-ltx-7{
        max-width: 70%;
        display: flex;
        justify-content: flex-end;
    }
}

#table-organization{
    /*margin-top: 32px;*/
}
/* new */
#table-organization ul {
    list-style: none;
    padding: 0;
}
.ck-inline {
    width: 100%;
    /* height: 35px; */
    display: block;
    height: 100%;
}

.ck-inline tbody {
    display: block;
}

.ck-inline tr .lh-td{
   overflow: hidden;
   display: flex;
   align-items: center;
   width: 100%;
}
.ck-inline tr .lh-td label{
  display: block;
 }
.ck-inline tr {
    display: flex;
}
.ck-inline div.md-checkbox-v2 {
    text-align: center;
}
.ck-inline label {
    margin-bottom: 0;
}
.ck-inline td {
    border: 1px solid #dee2e6;
    padding:6px 0 ;
}
.ck-inline td:first-child {
    min-width: 40px !important;
    width: 40px;
}
.lv1 td:last-child {
    /* text-align: center; */
    justify-content: center;
}
.lv1,.lv2,.lv3,.lv4,.lv5 {
    display: inherit;
    margin-top: -1px;
    color: black;
    cursor: inherit;
}
.lv1:hover,.lv2:hover,.lv3:hover,.lv4:hover,.lv5:hover {
    color: black;
    text-decoration: none;
}
#table-organization > ul > li:first-child > a {
    margin-top: 0px !important;
}
.lv1 {
    background: #eaebee;
}
.lv3 {
    padding-left: 40px;
}
.lv4 {
    padding-left: 80px;
}
.lv5 {
    padding-left: 120px;
}
.lv2 td:last-child,
.lv3 td:last-child,
.lv4 td:last-child,
.lv5 td:last-child {
    padding: 0 10px;
}
.li-lv2 {
    border-left: 1px solid #dee2e6;
}
.td1-level1 {
    width: 41px !important;
}
.td1-level2 {
    border-left: 0 !important;
}
/* @media(min-width:1069px) and (max-width:1516px){
    .div-reflect {
        justify-content: unset
    }
} */
/* 
@media (min-width: 1300px){
    .ln-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 1300px){
    .ln-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .div-reflect {
        justify-content: unset
    }
} */
/* @media(max-width:1517px){
    .ln-authority[language="Language"] #reflect{
        max-width: 150px;
    }
    .ln-authority[language="Language"] .ln-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .ln-authority[language="Language"] .div-reflect {
        justify-content: unset
    }
}
@media(max-width:1061px){
    .ln-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(min-width:1517px){
    .ln-authority[language="Language"] #reflect{
        max-width: 150px;
    }
}
@media(min-width:1062px) and  (max-width:1142px) {
    .ln-authority[language="Language"] #reflect{
        max-width: 155px;
    }
} */
@media (max-width: 1430px) {
    #size-text{
        max-width: 150px;
    }
    #btn-reflect{
        padding-left: 2px;
        padding-right: 2px;
    }
    #reflect{
        width: 124px !important;
    }
}