/* START COMMON */
.rowm {
  /*margin-right: -10px;
  margin-left: -10px;*/
}
.rowm:before,
.rowm:after {
	display: table;
	content: " ";
	clear: both;
}
.colm-1, .colm-2, .colm-3, .colm-4, .colm-5, .colm-6, .colm-7, .colm-8, .colm-9, .colm-10, .colm-11, .colm-12 {
	float: left;
	position: relative;
	min-height: 1px;
	/*padding-right: 10px;
	padding-left: 10px;*/
}
.colm-12 {
	width: 100%;
}
.colm-11 {
	width: 91.66666667%;
}
.colm-10 {
	width: 83.33333333%;
}
.colm-9 {
	width: 75%;
}
.colm-8 {
	width: 66.66666667%;
}
.colm-7 {
	width: 58.33333333%;
}
.colm-6 {
	width: 50%;
}
.colm-5 {
	width: 41.66666667%;
}
.colm-4 {
	width: 33.33333333%;
}
.colm-3 {
	width: 25%;
}
.colm-2 {
	width: 16.66666667%;
}
.colm-1 {
	width: 8.33333333%;
}
/* END COMMON */
/* MAKE EQUAL COLUMN */
.row-table {
	display: table;
	width: 100%;
}
.row-table > div[class*="colm-"] {
	display: table-cell;
	float: none;
	vertical-align: top;
}
/* END MAKE */
/*#leftcontent {height: 75vh;padding-right: 10px;}*/
/*#leftcontent > .inner {overflow: hidden;height: 100%; position:relative;padding: 25px 15px 15px 15px;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;}*/
/*#leftcontent > .inner > table {width: 100%; height: 100%;overflow: hidden;}*/
/*#rightcontent {height: 75vh;padding-left: 10px;}*/
/*#rightcontent > .inner {height: 100%; position:relative;padding: 25px 15px 0 15px;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;}*/
.height100td {width:100%;overflow-y: auto; overflow-x: visible; position:relative;max-height: 65vh;}
.list-search-content div{
	/*max-width: 42vh;*/
}
@-moz-document url-prefix() {
	.height100td {width:100%;overflow-y: auto; overflow-x: visible; position:relative;max-height: 50vh;}
}
.list-search-head{
	/*margin-bottom: -2px;*/
}