.sticky-table {
    max-width: 100%;
    /*max-height: 80vh;*/
    overflow: auto;
    padding: 0 !important;
    /*outline: 0.5px solid #ddd;*/
}

.sticky-table table {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
}
.sticky-table table tr th,.sticky-table table tr td{
    /*outline: 0.5px solid #ddd;*/
}

.sticky-table{
    /*outline: 0.5px solid #ddd;*/
}

.sticky-table table tr.sticky-row th{
    border-top: 0;
    position: relative;
    outline: 0.5px solid #ddd;
    z-index: 5;
}

.sticky-table table .sticky-cell {
    outline: 0.5px solid #ddd;
    position: relative;
    z-index: 10;
}

.sticky-table table tr.sticky-row td.sticky-cell, .sticky-table table tr.sticky-row th.sticky-cell {
    z-index: 15;
}
.sticky-table table tbody .sticky-cell,
.sticky-table table tbody tr.sticky-row th {
    background-color: #fff;
}

.sticky-table table th.sticky-cell {
    z-index: 40 !important;
}