 body {
 	position: relative;
 	min-height: 100%;
 }

 /* HEADER */
 .header.navbar {
 	padding: 0px;
 	margin: 0;
 	border-top: 3px solid #2b71b9;
 	border-bottom: 2px solid #2b71b9;
 	background-color: white;
 	z-index: 1031;
 }

 .header .dropdown-menu {
 	left: auto;
 	right: -1px;
 	margin-top: 0;
 	border-radius: 0;
 	border: 1px solid #2b71b9;
 	width: 192px;
 	padding: 0;
 }

 .header ul.right .nav-link {
 	padding: 0 20px;
 	height: 55px;
 	text-decoration: none;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	text-align: center;
 }

 .header ul.right i {
 	font-size: 22px;
 }

 .header ul.right>li:not(:last-child) {
 	border-right: 1px solid #94b8dc;
 }

 .header ul.right>li:first-child {
 	border-left: 1px solid #94b8dc;
 }

 .logo.navbar-brand {
 	padding: 0;
 	width: 80px;
 	margin-right: 0;
 }

 .logo.navbar-brand img {
 	max-width: 50px !important;
 	height: auto !important;
 	margin: 0 auto;
 	display: block;
 }

 .logo label {
 	margin: 0;
 	display: table-cell;
 	height: 50px;
 	width: 100px;
 	vertical-align: middle;
 	text-align: center;
 	border-right: 1px solid #ddd;
 }

 .header-menu.navbar {
 	border-top: 3px solid #5087C7 !important;
 	border-bottom: 2px solid #5087C7 !important;
 }

 .header-menu .nav-link.icon.logout:hover {
 	background-color: #339ed8 !important;
 }

 .header-menu .nav-link.icon.logout {
 	background-color: #5087C7 !important;
 }

 .header .nav-link {
 	color: #2b71b9;
 }

 .header .nav-link.icon {
 	color: #2b71b9;
 }

 .nav-link-oneonone,
 .nav-link-oneonone.icon {
 	color: #fc933c !important;
 }

 .nav-link-mulitireview,
 .nav-link-mulitireview.icon {
 	color: #519657 !important;
 }

 .header .nav-link.icon.logout {
 	color: white;
 	background-color: #2b71b9;
 	text-align: center;
 	text-decoration: none;
 }

 .header .nav-link.icon.logout i {
 	font-size: 22px;
 	display: block;
 	margin-bottom: 5px;
 }

 .header .nav-link.icon.logout:hover {
 	background-color: #3598db;
 }

 .header .nav-link.icon.logout span {
 	display: block;
 	font-size: 12px;
 }

 .header .txt {
 	font-size: 12px;
 	color: #2b71b9;
 	line-height: 16px;
 }

 .header .dropdown-toggle::after {
 	position: absolute;
 	right: 8px;
 	top: 25px;
 	color: #2b71b9;
 }

 .header .dropdown-item {
 	background-color: #2b71b9;
 	color: white;
 	padding: 7px 15px;
 	font-size: 14px;
 	cursor: pointer;
 }

 .header .dropdown-item:not(:last-child) {
 	border-bottom: 1px solid #94b8dc;
 }

 .header .dropdown-item:hover {
 	background-color: #0a5688;
 }

 .header td {
 	color: #2b71b9;
 }

 .header td[rowspan="2"] {
 	padding-right: 15px;
 }

 .header .nav-link.dropdown-toggle {
 	width: 270px;
 }

 .number-comment {
 	position: relative;
 }

 .number-comment i {
 	position: absolute;
 	top: -2px;
 	right: -2px;
 	font-size: 10px !important;
 	color: white;
 	display: table-cell;
 	width: 13px;
 	height: 13px;
 	background-color: red;
 	border-radius: 10px;
 	text-align: center;
 	vertical-align: middle;
 }

 .header .navbar-right {
 	margin-right: 0;
 }

 /* END HEADER */

 /* FOOTER */
 .footer {
 	position: fixed;
 	bottom: 0;
 	width: 100%;
 	z-index: 99;
 	background-color: #2b71b9;
 	margin-top: 15px;
 }

 .footer ol {
 	float: right;
 	margin: 0;
 	background: none;
 	padding: 7px 15px;
 }

 .footer a,
 .footer .breadcrumb-item.active {
 	color: white;
 	text-decoration: none;
 }

 .footer .breadcrumb-item+.breadcrumb-item::before {
 	content: ">";
 	color: white;
 }

 /* FOOTER */

 /* MAIN */
 .main {}

 .main-nav {
 	width: 80px;
 	position: fixed;
 	top: 59px;
 	left: 0;
 	z-index: 999;
 }

 .main-nav>p {
 	background: #50acd3;
 	margin-bottom: 0;
 	margin-right: 8px;
 }

 .main-nav>ul {
 	margin-bottom: 0;
 	background-color: #0a5688;
 }

 .main-nav>ul>li {
 	display: table;
 	width: 100%;
 }

 .main-nav>ul>li>a {
 	display: table-cell;
 	height: 80px;
 	vertical-align: middle;
 	text-align: center;
 	color: white;
 	text-decoration: none;
 	position: relative;
 }

 .main-nav>ul>li:hover>a {
 	background-color: #2b71b9;
 	position: relative;
 }

 .main-nav>ul>li:hover>a:before {
 	position: absolute;
 	content: " ";
 	top: 0;
 	left: 0;
 	width: 6px;
 	height: 100%;
 	background: #90b1bf94;
 	opacity: 0.5;
 }

 .main-nav>ul>li>a>p {
 	margin-bottom: 0;
 	font-size: 30px;
 }

 .main-nav>ul>li>a>div {
 	font-size: 11px;
 }

 .content {
 	margin-left: 80px;
 }

 .menu-config {
 	position: relative;
 }

 .menu-config:hover>ul {
 	top: 0px;
 }

 /* CONTROL */
 .modal {
 	z-index: 9999;
 }

 .md-checkbox.in-table {
 	margin: 0;
 }

 .md-checkbox.in-table label {
 	width: 15px;
 }

 @-webkit-keyframes moveFromTop {
 	from {
 		opacity: 0;
 		-webkit-transform: translateY(200%);
 		-moz-transform: translateY(200%);
 		-ms-transform: translateY(200%);
 		-o-transform: translateY(200%);
 		transform: translateY(200%);
 	}

 	to {
 		opacity: 1;
 		-webkit-transform: translateY(0%);
 		-moz-transform: translateY(0%);
 		-ms-transform: translateY(0%);
 		-o-transform: translateY(0%);
 		transform: translateY(0%);
 	}
 }

 @-webkit-keyframes moveFromLeft {
 	from {
 		opacity: 0;
 		-webkit-transform: translateX(200%);
 		-moz-transform: translateX(200%);
 		-ms-transform: translateX(200%);
 		-o-transform: translateX(200%);
 		transform: translateX(200%);
 	}

 	to {
 		opacity: 1;
 		-webkit-transform: translateX(0%);
 		-moz-transform: translateX(0%);
 		-ms-transform: translateX(0%);
 		-o-transform: translateX(0%);
 		transform: translateX(0%);
 	}
 }

 @-webkit-keyframes moveFromRight {
 	from {
 		opacity: 0;
 		-webkit-transform: translateX(-200%);
 		-moz-transform: translateX(-200%);
 		-ms-transform: translateX(-200%);
 		-o-transform: translateX(-200%);
 		transform: translateX(-200%);
 	}

 	to {
 		opacity: 1;
 		-webkit-transform: translateX(0%);
 		-moz-transform: translateX(0%);
 		-ms-transform: translateX(0%);
 		-o-transform: translateX(0%);
 		transform: translateX(0%);
 	}
 }

 .mcd-menu li ul,
 .mcd-menu li ul li ul {
 	position: absolute;
 	height: auto;
 	min-width: 230px;
 	padding: 0;
 	margin: 0;
 	opacity: 0;
 	visibility: hidden;
 	transition: all 150ms linear;
 	-o-transition: all 150ms linear;
 	-ms-transition: all 150ms linear;
 	-moz-transition: all 150ms linear;
 	-webkit-transition: all 150ms linear;
 	z-index: 1000;
 	left: 110px;
 	/*top: 0px;*/
 	border-radius: 3px;
 }

 .menu-common ul li,
 .menu-a-common {
 	border-bottom: 1px solid white;
 }

 .menu-common ul li a {
 	color: white;
 	padding-right: 0px;
 	padding-left: 0px;
 	width: 100%;
 }

 .menu-common ul li span i {
 	color: white;
 	float: right;
 	padding-top: 7px;
 	font-size: 11px;
 }

 .menu-child-common a {
 	color: white;
 	border-bottom: 1px dashed white;
 	/* padding-left: 30px; */
 	/* text-decoration: underline; */
 }

 @media (max-height: 680px) {
 	.ul_kanri1 {
 		top: calc(100% - 435px);
 	}

 	.ul_kanri2 {
 		top: calc(100% - 395px);
 	}

 	.ul_kanri3 {
 		top: calc(100% - 227px);
 	}
 }

 .mcd-menu li ul:before,
 .mcd-menu li ul:after {
 	right: 100%;
 	top: 30px;
 	border: solid transparent;
 	content: " ";
 	height: 0;
 	width: 0;
 	position: absolute;
 	pointer-events: none;
 }

 .mcd-menu li ul:before {
 	border-color: rgba(221, 221, 221, 0);
 	border-right-color: #ddd;
 	border-width: 9px;
 	margin-top: -9px;
 }

 .mcd-menu li ul:after {
 	border-color: rgba(0, 0, 0, 0);
 	border-right-color: white;
 	border-width: 8px;
 	margin-top: -8px;
 }

 .mcd-menu li ul li {
 	list-style: none;
 	border-bottom: 1px solid #94b8dc;
 }

 .mcd-menu li:hover>ul,
 .mcd-menu li ul li:hover>ul {
 	display: block;
 	opacity: 1;
 	visibility: visible;
 	left: 80px;
 	background: white;
 	border: 1px solid #ddd;
 	/*
  -webkit-box-shadow: 0px 0px 5px 0px #ddd;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.62);
  box-shadow: 0px 0px 5px 0px #ddd;
  */
 	/*min-height: 100vh;*/
 	background-color: #2b71b9;
 }

 .mcd-menu li ul li a {
 	padding: 10px;
 	text-align: left;
 	height: auto;
 	display: block;
 	color: white;
 }

 .mcd-menu li ul li:hover a {
 	text-decoration: none;
 	background: #0a5688;
 }

 .mcd-menu li ul li a i {
 	font-size: 16px;
 	display: inline-block;
 	margin: 0 10px 0 0;
 }

 .mcd-menu li ul li ul {
 	left: 230px;
 	top: 0;
 	border: 0;
 	border-left: 4px solid #e67e22;
 }

 .mcd-menu li ul li ul:before {
 	content: "";
 	position: absolute;
 	top: 15px;
 	left: -9px;
 	border-right: 5px solid #e67e22;
 	border-bottom: 5px solid transparent;
 	border-top: 5px solid transparent;
 }

 .mcd-menu li ul li:hover>ul {
 	top: 0px;
 	left: 200px;
 }

 .menu_child_scroll {
 	max-height: 50vh;
 	overflow-y: scroll;
 }

 .parent-list:hover>a:after {
 	width: 0;
 	height: 0;
 	border-bottom: 8px solid transparent;
 	border-top: 8px solid transparent;
 	border-right: 10px solid #fff;
 	content: " ";
 	position: absolute;
 	right: 0px;
 	top: 50%;
 	transform: translateY(-50%);
 }

 .parent-list ul:after,
 .parent-list ul:before {
 	content: unset !important;
 }

 /* breadcrumb */
 #breadcrumb {
 	list-style: none;
 	display: table-cell;
 	margin-left: 0;
 	margin-bottom: 0;
 	padding: 0;
 }

 #breadcrumb .icon {
 	font-size: 14px;
 }

 #breadcrumb li {
 	float: left;
 }

 #breadcrumb li a {
 	color: #fff;
 	display: block;
 	background: #2b71b9;
 	text-decoration: none;
 	position: relative;
 	height: 40px;
 	line-height: 40px;
 	padding: 0px 10px 0 5px;
 	text-align: center;
 	margin-right: 23px;
 }

 #breadcrumb li.active a {
 	background-color: #0a5688;
 }

 #breadcrumb li.active a:before {
 	border-color: #0a5688;
 	border-left-color: transparent;
 }

 #breadcrumb li.active a:after {
 	border-left-color: #0a5688;
 }

 #breadcrumb li:first-child a {
 	padding-left: 15px;
 	-moz-border-radius: 4px 0 0 4px;
 	-webkit-border-radius: 4px;
 	border-radius: 4px 0 0 4px;
 }

 #breadcrumb li:first-child a:before {
 	border: none;
 }

 #breadcrumb li:last-child a {
 	padding-right: 15px;
 	-moz-border-radius: 0 4px 4px 0;
 	-webkit-border-radius: 0;
 	border-radius: 0 4px 4px 0;
 }

 #breadcrumb li:last-child a:after {
 	border: none;
 }

 #breadcrumb li a:before,
 #breadcrumb li a:after {
 	content: "";
 	position: absolute;
 	top: 0;
 	border: 0 solid #2b71b9;
 	border-width: 20px 10px;
 	width: 0;
 	height: 0;
 }

 #breadcrumb li a:before {
 	left: -20px;
 	border-left-color: transparent;
 }

 #breadcrumb li a:after {
 	left: 100%;
 	border-color: transparent;
 	border-left-color: #2b71b9;
 }

 .header .logo {
 	cursor: pointer;
 	transition: transform 0.2s;
 }

 .header .logo:hover {
 	transform: scale(1.1);
 }

 @media screen and (max-width: 1090px) {
 	#breadcrumb {
 		display: none;
 	}
 }

 @media screen and (max-height: 768px) {

 	.ul4,
 	.ul5,
 	.ul6 {
 		top: inherit !important;
 		bottom: 15%;
 	}
 }

 /*
#breadcrumb li:hover a {
  background-color: #1abc9c;
}
#breadcrumb li:hover a:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
#breadcrumb li:hover a:after {
  border-left-color: #1abc9c;
}
#breadcrumb li a:active {
  background-color: #16a085;
}
#breadcrumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #16a085;
}
*/
 /*menu-css*/
 .dashboard {
 	border-radius: 2px;
 	height: 162px;
 	cursor: pointer;
 	position: relative;
 }

 .dashboard i {
 	font-size: 55px;
 }

 .dashboard p {
 	margin-top: 10px;
 	color: unset !important;
 }

 /* .dashboard > div img {
  height: 168px;
  margin: 0 auto;
  border-radius: 50%;
} */
 .dashboard {
 	width: 250px;
 	height: 240px;
 }

 .divArround {
 	height: 36%;
 }

 .menu-div {
 	margin-top: unset !important;
 }

 /* .dashboard > div img {
  max-width: unset !important;
} */
 /* .dashboard img {
  -webkit-box-shadow: 1px 0px 3px 6px rgba(158, 150, 158, 1);
  -moz-box-shadow: 1px 0px 3px 6px rgba(158, 150, 158, 1);
  box-shadow: 1px 0px 3px 6px #cccccc94;
} */
 #evalution_screen:hover {
 	box-shadow: 1px 0px 3px 6px #3598db !important;
 }

 #oneonone_screen_admin:hover {
 	box-shadow: 1px 0px 3px 6px #ff9901 !important;
 }

 #oneonone_screen_coach:hover {
 	box-shadow: 1px 0px 3px 6px #ff9901 !important;
 }

 #oneonone_screen_member:hover {
 	box-shadow: 1px 0px 3px 6px #ff9901 !important;
 }

 #mdashboard_screen:hover {
 	box-shadow: 1px 0px 3px 6px #73bd38 !important;
 }

 #mdashboardsupporter_screen:hover {
 	box-shadow: 1px 0px 3px 6px #73bd38 !important;
 }

 #sdashboard_screen:hover {
 	box-shadow: 1px 0px 3px 6px #9b9b9b !important;
 }

 #edashboard_screen:hover,
 #eq0100_screen:hover,
 #eq0200_screen:hover {
 	box-shadow: 1px 0px 3px 6px #31b5cc !important;
 }

 #evalution_screen:hover~p {
 	color: #3598db !important;
 }

 #oneonone_screen_admin:hover~p {
 	color: #ff9901 !important;
 }

 #oneonone_screen_coach:hover~p {
 	color: #ff9901 !important;
 }

 #oneonone_screen_member:hover~p {
 	color: #ff9901 !important;
 }

 #mdashboard_screen:hover~p {
 	color: #73bd38 !important;
 }

 #mdashboardsupporter_screen:hover~p {
 	color: #73bd38 !important;
 }

 #sdashboard_screen:hover~p {
 	color: #9b9b9b !important;
 }

 #eq0200_screen:hover~p,
 #eq0100_screen:hover~p,
 #edashboard_screen:hover~p {
 	color: #31b5cc !important;
 }

 .menu-div {
 	margin: auto;
 	margin-top: 10%;
 }

 #body-menu {
 	background-image: url("/template/image/icon/backgroud.png");
 	background-repeat: no-repeat;
 	background-size: cover;
 }

 .menu-module ul li {
 	border-bottom: 1px solid #3598db;
 }

 @media (max-width: 575.98px) {
 	.dashboard {
 		height: 260px;
 	}

 	.footer-master {
 		display: none;
 	}

 	.content {
 		padding-top: 10px;
 	}

 	.menu-div {
 		max-width: 80%;
 		margin: auto;
 		margin-top: unset !important;
 	}

 	#row-container {
 		height: auto !important;
 		margin-top: 20%;
 		margin-bottom: 20%;
 	}

 	.navbar-pc,
 	.main-pc {
 		display: none;
 	}

 	.header.navbar {
 		padding-top: 0.5rem !important;
 	}

 	.divArround {
 		height: unset !important;
 	}

 	.master-content {
 		margin-left: 0px;
 	}

 	.main {
 		margin-top: unset !important;
 	}

 	.master-content .navbar {
 		display: none;
 	}

 	.navbar-mobile {
 		border-bottom: 2px solid #2b71b9;
 		border-top: 3px solid #2b71b9;
 	}

 	body {
 		padding-top: 0px !important;
 	}
 }

 @media (min-width: 576px) {

 	.navbar-mobile,
 	.main-mobile {
 		display: none;
 	}
 }

 @media (min-width: 576px) and (max-width: 767px) {
 	.dashboard {
 		width: 250px;
 		height: 250px;
 	}

 	.menu-div {
 		margin-top: unset !important;
 	}

 	.dashboard>div img {
 		max-width: unset !important;
 	}

 	.divArround {
 		height: unset !important;
 	}
 }

 @media (min-width: 768px) and (max-width: 991px) {
 	#table-data {
 		min-width: 1200px !important;
 	}

 	.div-reflect {
 		justify-content: unset !important;
 	}

 	.btn-group.pl-4 {
 		float: right;
 	}

 	.margintopMenu {
 		margin-top: 70px;
 	}

 	.menu-div {
 		margin-top: unset !important;
 	}

 	.dashboard>div img {
 		max-width: unset !important;
 	}

 	.divArround {
 		height: unset !important;
 	}
 }

 @media (min-width: 992px) and (max-width: 1199px) {
 	#table-data {
 		min-width: 1300px !important;
 	}

 	.div-reflect {
 		justify-content: unset !important;
 	}

 	.btn-group.pl-4 {
 		float: right;
 	}

 	.dashboard {
 		width: 250px;
 		height: 240px;
 	}

 	.menu-div {
 		margin-top: unset !important;
 	}

 	.dashboard>div img {
 		max-width: unset !important;
 	}

 	.divArround {
 		height: unset !important;
 	}
 }

 @media (min-width: 320px) and (max-width: 387px) {
 	#table-data {
 		min-width: 1300px !important;
 	}

 	.div-reflect {
 		display: unset !important;
 	}

 	#reflect {
 		margin-left: unset !important;
 	}

 	.header-left-function h5 {
 		font-size: 16px !important;
 	}
 }

 .icon-wrapper {
 	background-color: #fff;
 	width: 200px;
 	height: 200px;
 	border-radius: 50%;
 	display: flex;
 	margin: auto;
 }

 .menu-img-1 {
 	height: auto;
 	width: 60%;
 	margin: auto;
 }

 .menu-img-2 {
 	height: auto;
 	width: 45%;
 	margin: auto;
 }

 .menu-img-3 {
 	height: auto;
 	width: 50%;
 	margin: auto;
 }

 .menu-img-4 {
 	height: auto;
 	width: 55%;
 	margin: auto;
 }

 .icon-wrapper-small {
 	height: 100px;
 	width: 100px;
 }

 @media (max-width: 680px) {
 	.justify-content-md-right {
 		justify-content: center;
 	}
 }

 .justify-content-md-right {
 	justify-content: end;
 }

 @media (max-width: 680px) {
 	.basic-setting-div {
 		left: 50px !important;
 	}
 }

 .search_layout_input_menu {
 	height: 37px;
 	width: 35vw;
 }

 @media (min-width: 680px) {
 	.menu_block {
 		margin-top: 30vh;
 	}
 }

 @media (max-width: 680px) {
 	.menu_block {
 		margin-top: 0vh;
 	}
 }