DROP PROCEDURE [SPC_I1010_ACT1]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+
-- EXEC XXX '{}','','::1';

--****************************************************************************************
--*   											
--* 処理概要/process overview	:	SAVE DATA
--*  
--* 作成日/create date			:	2018/08/20											
--*	作成者/creater				:	longvv				
--*   					
--*	更新日/update date			:  						
--*	更新者/updater				:　  　								     	 
--*	更新内容/update content		:	　	
--****************************************************************************************
CREATE PROCEDURE [SPC_I1010_ACT1] 
	-- Add the parameters for the stored procedure here
	@P_json			nvarchar(max)
	-- common
,	@P_cre_user		nvarchar(50)
,	@P_cre_ip		nvarchar(50)
,	@P_company_cd	smallint

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2			=	SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@order_by_min			INT					= 0
	,	@fiscal_year			INT					= 0
	
	CREATE TABLE #JSON(
		id							INT IDENTITY(1,1)
	,	company_cd					INT
	,	treatment_applications_no	INT
	,	use_typ						INT
	,	sheet_use_typ				TINYINT
	)
	-- START TRANSACTION
	BEGIN TRANSACTION
	BEGIN TRY
		-- assign
		SET @fiscal_year		=	JSON_VALUE(@P_json,'$.fiscal_year')

		--check json
		IF ISJSON(@P_json) <= 0
			BEGIN
				INSERT INTO @ERR_TBL VALUES(		
					8									-- mã lỗi (trùng với mã trong bảng message) 					
				,	''									-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
				,	0-- oderby							-- giá trị càng bé thì lỗi được hiển thị trước  				
				,	1-- dialog  						-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
				,	0									-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
				,	0									-- Tùy ý
				,	'json format'						-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
				)
			END
		INSERT INTO #JSON
		SELECT 
			@P_company_cd 																
		,	treatment_applications_no											
		,	use_typ
		,	sheet_use_typ
		FROM OPENJSON(@P_json,'$.list') WITH(			
			treatment_applications_no	INT
		,	use_typ						INT
		,	sheet_use_typ				TINYINT
		) AS [row] 
		-- TO DO INSERT UPDATE 
		IF NOT EXISTS(SELECT 1 FROM @ERR_TBL)
		BEGIN
			--F0010
			IF NOT EXISTS(SELECT 1 FROM F0010 WHERE company_cd = @P_company_cd AND fiscal_year = @fiscal_year AND del_datetime IS NULL)	
			BEGIN
				INSERT INTO F0010
				SELECT
					@P_company_cd
				,	@fiscal_year
				,	@P_cre_user
				,	@P_cre_ip
				,	'I1010'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
			END
			--F0011
			--IF EXISTS(SELECT 1 FROM F0010 WHERE company_cd = @P_company_cd AND fiscal_year = @fiscal_year AND treatment_applications_no = )
			--UPDATE 
				UPDATE F0011 
				SET
					use_typ			=	#JSON.use_typ
				,	sheet_use_typ	=	#JSON.sheet_use_typ
				,	upd_user		=	@P_cre_user
				,	upd_ip			=	@P_cre_ip
				,	upd_prg			=	'I1010'
				,	upd_datetime	=	@w_time
				,	del_user		=	SPACE(0)
				,	del_ip			=	SPACE(0)
				,	del_prg			=	SPACE(0)
				,	del_datetime	=	NULL
				FROM F0011
				INNER JOIN #JSON ON(
					F0011.company_cd				=	#JSON.company_cd
				AND	F0011.fiscal_year				=	@fiscal_year
				AND	F0011.treatment_applications_no =	#JSON.treatment_applications_no
			--	AND	F0011.del_datetime IS NULL
				)
				UPDATE F0011 
				SET	
					del_user		=	@P_cre_user
				,	del_ip			=	@P_cre_ip
				,	del_prg			=	'I1010'
				,	del_datetime	=	@w_time
				FROM F0011
				LEFT JOIN #JSON ON(
					F0011.company_cd				=	#JSON.company_cd
				AND	F0011.fiscal_year				=	@fiscal_year
				AND	F0011.treatment_applications_no =	#JSON.treatment_applications_no
				)
				WHERE
					#JSON.company_cd IS NULL
				AND F0011.company_cd				=	@P_company_cd
				AND	F0011.fiscal_year				=	@fiscal_year
				AND	F0011.del_datetime IS NULL
				INSERT INTO F0011
				SELECT 
					@P_company_cd
				,	@fiscal_year
				,	#JSON.treatment_applications_no
				,	#JSON.use_typ
				,	#JSON.sheet_use_typ
				,	@P_cre_user
				,	@P_cre_ip
				,	'I1010'
				,	@w_time
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				,	SPACE(0)
				,	SPACE(0)
				,	SPACE(0)
				,	NULL
				FROM #JSON LEFT JOIN F0011 ON(
					#JSON.company_cd				=	F0011.company_cd
				AND	@fiscal_year					=	F0011.fiscal_year
				AND	#JSON.treatment_applications_no	=	F0011.treatment_applications_no
				AND F0011.del_datetime IS NULL
				)
				WHERE F0011.fiscal_year IS NULL
		END

	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
    -- Insert statements for procedure here
	COMPLETE_QUERY:
	-- GET ERROR_TYPE MIN
	SELECT 
		@order_by_min = MIN(order_by)
	FROM @ERR_TBL
	--[0] SELECT ERROR TABLE
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	WHERE order_by = @order_by_min
	ORDER BY 
		order_by
END

GO
