IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPC_OM0200_ACT1]') AND type IN (N'P', N'PC'))
BEGIN
    DROP PROCEDURE [dbo].[SPC_OM0200_ACT1]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：OM0120 - SAVE/UPDATE
 *
 *  作成日  ：2020-09-25
 *  作成者  ：ANS-ASIA datnt
 *
 *  更新日  ：
 *  更新者  ：
 *  更新内容：
 *
 ****************************************************************************************************/
CREATE PROCEDURE [SPC_OM0200_ACT1] 
	@P_json			NVARCHAR(MAX)
	--
,	@P_cre_user		NVARCHAR(50) = ''
,	@P_cre_ip		NVARCHAR(50) = ''
,	@P_company_cd	SMALLINT	 = 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@w_time					DATETIME2	 = SYSDATETIME()
	,	@ERR_TBL				ERRTABLE	
	,	@mark_type					SMALLINT		= 0
	,	@interview_cd				SMALLINT		= 0
	,	@interview_nm				NVARCHAR(50)	= ''
	,	@adaption_date				DATE			= ''
	,	@name						NVARCHAR(20)	= ''
	,	@target1_use_typ			TINYINT			= 0
	,	@target2_use_typ			TINYINT			= 0
	,	@target3_use_typ			NVARCHAR(50)	= ''
	,	@comment_use_typ			NVARCHAR(50)	= ''
	,	@question_nm				NVARCHAR(50)	= ''
	,	@answer_nm	            	NVARCHAR(50)	= ''
	,	@free_question_nm			NVARCHAR(50)	= ''
	,	@free_question_use_typ		TINYINT			= 0
	,	@member_comment_nm			NVARCHAR(50)	= ''
	,	@member_comment_typ			TINYINT			= 0
	,	@coach_comment1_nm			NVARCHAR(50)	= ''
	,	@coach_comment1_typ			TINYINT			= 0
	,	@next_action_nm				NVARCHAR(50)	= ''
	,	@next_action_typ			TINYINT			= 0
	,	@coach_comment2_nm			NVARCHAR(50)	= ''
	,	@coach_comment2_typ			TINYINT			= 0
	,	@arrange_order				INT				= 0
	,	@mode						NVARCHAR(5)		= '' -- mode C : copy - A:update/insert
	IF ISJSON(@P_json) <= 0
	BEGIN
		INSERT INTO @ERR_TBL VALUES(		
			22								-- mã lỗi (trùng với mã trong bảng message) 					
		,	''								-- id hoặc class của item(#id , .class), lỗi dạng dialog thì để trống  				
		,	0-- oderby						-- giá trị càng bé thì lỗi được hiển thị trước  				
		,	1-- dialog  					-- Kiểu hiển thị lối : 0. tooltip , 1.dialog 				
		,	0								-- Tùy ý : có thể lưu vị trí index của dòng của lỗi 				
		,	0								-- Tùy ý
		,	'json format'					-- Comment nội dung lỗi (chủ yếu là dùng khi đọc code)
		)
	END
	CREATE TABLE #M2201 (
		interview_gyocd		smallint
	,	question			nvarchar(200)
	,	arrange_order		int
	)
	INSERT INTO #M2201
		SELECT 
			interview_gyocd
		,	question
		,	arrange_order
		FROM OPENJSON(@P_json, '$.list_questions') WITH(
				interview_gyocd		smallint
			,	question			nvarchar(200)
			,	arrange_order		int
		)
	SET 	@mark_type					=	JSON_VALUE(@P_json,'$.mark_type')		
	SET 	@interview_cd				=	JSON_VALUE(@P_json,'$.interview_cd')
	SET 	@interview_nm				=	JSON_VALUE(@P_json,'$.interview_nm')
	SET 	@adaption_date				=	JSON_VALUE(@P_json,'$.adaption_date')
	SET 	@target1_use_typ			=	JSON_VALUE(@P_json,'$.target1_use_typ')
	SET 	@target2_use_typ			=	JSON_VALUE(@P_json,'$.target2_use_typ')
	SET 	@target3_use_typ			=	JSON_VALUE(@P_json,'$.target3_use_typ')
	SET 	@comment_use_typ			=	JSON_VALUE(@P_json,'$.comment_use_typ')
	SET 	@question_nm				=	JSON_VALUE(@P_json,'$.question_nm')
	SET 	@answer_nm	            	=	JSON_VALUE(@P_json,'$.answer_nm')
	SET 	@free_question_nm			=	JSON_VALUE(@P_json,'$.free_question_nm')
	SET 	@free_question_use_typ		=	JSON_VALUE(@P_json,'$.free_question_use_typ')
	SET 	@member_comment_nm			=	JSON_VALUE(@P_json,'$.member_comment_nm')
	SET 	@member_comment_typ			=	JSON_VALUE(@P_json,'$.member_comment_typ')
	SET 	@coach_comment1_nm			=	JSON_VALUE(@P_json,'$.coach_comment1_nm')
	SET 	@coach_comment1_typ			=	JSON_VALUE(@P_json,'$.coach_comment1_typ')
	SET 	@next_action_nm				=	JSON_VALUE(@P_json,'$.next_action_nm')
	SET 	@next_action_typ			=	JSON_VALUE(@P_json,'$.next_action_typ')
	SET 	@coach_comment2_nm			=	JSON_VALUE(@P_json,'$.coach_comment2_nm')
	SET 	@coach_comment2_typ			=	JSON_VALUE(@P_json,'$.coach_comment2_typ')
	SET		@arrange_order				=	JSON_VALUE(@P_json,'$.arrange_order')
	SET		@mode						=	JSON_VALUE(@P_json,'$.mode')
	
	IF(@mode = 'C') -- mode copy
	BEGIN
		SET @interview_cd = (SELECT MAX(interview_cd) + 1 FROM M2200 WHERE  company_cd = @P_company_cd  
																		AND del_datetime IS NULL)
	END
	IF(@mode = 'A' AND @interview_cd = 0) 
	BEGIN
	
		SET @interview_cd = (SELECT ISNULL(MAX(interview_cd),0) + 1 FROM M2200 WHERE  company_cd = @P_company_cd  
																		AND del_datetime IS NULL)
	END
	IF NOT EXISTS(SELECT 1 FROM #M2201 ) 
	BEGIN
		INSERT INTO @ERR_TBL
		SELECT 
			116
		,	''
		,	0
		,	1 -- exception error
		,	0
		,	0
		,	'no row in table question'
	END
	BEGIN TRANSACTION
	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM @ERR_TBL)
		BEGIN
			IF NOT EXISTS (SELECT 1 FROM M2200 WHERE company_cd		= @P_company_cd 
												AND interview_cd	= @interview_cd 
												AND adaption_date	= @adaption_date)
			BEGIN
				INSERT INTO M2200
				SELECT 
					@P_company_cd
				,	@interview_cd			
				,	@adaption_date								
				,	@interview_nm			
				,	@target1_use_typ		
				,	@target2_use_typ		
				,	@target3_use_typ		
				,	@comment_use_typ		
				,	@question_nm			
				,	@answer_nm	            
				,	@free_question_nm		
				,	@free_question_use_typ	
				,	@member_comment_nm		
				,	@member_comment_typ		
				,	@coach_comment1_nm		
				,	@coach_comment1_typ		
				,	@next_action_nm			
				,	@next_action_typ		
				,	@coach_comment2_nm		
				,	@coach_comment2_typ		
				,	@arrange_order
				,	@P_cre_user
				,	@P_cre_ip
				,	'oM0200'
				,	@w_time
				,	''
				,	''
				,	''
				,	NULL
				,	''
				,	''
				,	''
				,	NULL
			END 
			IF EXISTS (SELECT 1 FROM M2200  WHERE company_cd		= @P_company_cd 
										   AND interview_cd			= @interview_cd 
										   AND adaption_date		= @adaption_date)
			BEGIN
				UPDATE M2200
				SET 
					company_cd				=	@P_company_cd
				,	interview_cd			=	@interview_cd			
				,	adaption_date			=	@adaption_date			
				,	interview_nm			=	@interview_nm			
				,	target1_use_typ			=	@target1_use_typ		
				,	target2_use_typ			=	@target2_use_typ		
				,	target3_use_typ			=	@target3_use_typ		
				,	comment_use_typ			=	@comment_use_typ		
				,	question_nm				=	@question_nm			
				,	answer_nm				=	@answer_nm	            
				,	free_question_nm		=	@free_question_nm		
				,	free_question_use_typ	=	@free_question_use_typ	
				,	member_comment_nm		=	@member_comment_nm		
				,	member_comment_typ		=	@member_comment_typ		
				,	coach_comment1_nm		=	@coach_comment1_nm		
				,	coach_comment1_typ		=	@coach_comment1_typ		
				,	next_action_nm			=	@next_action_nm			
				,	next_action_typ			=	@next_action_typ		
				,	coach_comment2_nm		=	@coach_comment2_nm		
				,	coach_comment2_typ		=	@coach_comment2_typ		
				,	upd_user				=	@P_cre_user
				,	upd_ip					=	@P_cre_ip
				,	upd_prg					=	'oM0200'
				,	upd_datetime			=	@w_time
				,	del_user				=	''
				,	del_ip					=	''
				,	del_prg					=	''
				,	del_datetime			=	NULL
				FROM M2200
				WHERE company_cd		= @P_company_cd 
				AND interview_cd		= @interview_cd 
				AND adaption_date		= @adaption_date
			END
		
			--
			INSERT INTO M2201
			SELECT
				@P_company_cd
			,	@interview_cd
			,	@adaption_date
			,	#M2201.interview_gyocd
			,	#M2201.question
			,	#M2201.arrange_order
			,	@P_cre_user
			,	@P_cre_ip
			,	'oM0200'
			,	@w_time
			,	''
			,	''
			,	''
			,	NULL
			,	''
			,	''
			,	''
			,	NULL
			FROM #M2201 
			LEFT JOIN M2201 ON(
				@P_company_cd			=	M2201.company_cd
			AND @interview_cd			=	M2201.interview_cd
			AND @adaption_date			=	M2201.adaption_date
			AND #M2201.interview_gyocd	=	M2201.interview_gyocd
			)
			WHERE M2201.company_cd IS NULL
				--
			UPDATE M2201
			SET
				question		=	#M2201.question
			,	arrange_order	=	#M2201.arrange_order
			,	upd_user		=	@P_cre_user
			,	upd_ip			=	@P_cre_ip
			,	upd_prg			=	'oM0200'
			,	upd_datetime	=	@w_time
			,	del_user		=	''
			,	del_ip			=	''
			,	del_prg			=	''
			,	del_datetime	=	NULL
			FROM #M2201 
			INNER JOIN M2201 ON(
				@P_company_cd			=	M2201.company_cd
			AND @interview_cd			=	M2201.interview_cd
			AND @adaption_date			=	M2201.adaption_date
			AND #M2201.interview_gyocd	=	M2201.interview_gyocd
			)
			UPDATE M2201
			SET
				del_user		=	@P_cre_user
			,	del_ip			=	@P_cre_ip
			,	del_prg			=	'oM0200'
			,	del_datetime	=	@w_time
			FROM M2201 
			LEFT JOIN #M2201 ON(
				M2201.company_cd		=	@P_company_cd			
			AND M2201.interview_cd		=	@interview_cd			
			AND M2201.adaption_date		=	@adaption_date			
			AND M2201.interview_gyocd	=	#M2201.interview_gyocd	
			)
			WHERE #M2201.interview_gyocd IS NULL
			AND M2201.company_cd		=	@P_company_cd			
			AND M2201.interview_cd		=	@interview_cd			
			AND M2201.adaption_date		=	@adaption_date
		END
	END TRY
	BEGIN CATCH
	IF (@@TRANCOUNT > 0)
		BEGIN
			ROLLBACK TRANSACTION
		END
		DELETE FROM @ERR_TBL
		INSERT INTO @ERR_TBL
		SELECT	
			0
		,	'EXCEPTION'
		,	0
		,	999 -- exception error
		,	0
		,	0
		,	'Error'                                                          + CHAR(13) + CHAR(10) +
            'Procedure : ' + ISNULL(ERROR_PROCEDURE(), '???')                + CHAR(13) + CHAR(10) +
            'Line : '      + ISNULL(CAST(ERROR_LINE() AS NVARCHAR(10)), '0') + CHAR(13) + CHAR(10) +
            'Message : '   + ISNULL(ERROR_MESSAGE(), 'An unexpected error occurred.')
	END CATCH
	--
	COMPLETE_QUERY:
	IF (SELECT COUNT(1) FROM @ERR_TBL) > 1
	BEGIN
		ROLLBACK TRANSACTION
	END
	--DELETE FROM @ERR_TBL
	IF(@@TRANCOUNT > 0)
	BEGIN
		COMMIT TRANSACTION
	END
	-- GET ERROR_TYPE MIN

	
	--[0]
	SELECT 
		message_no
	,	item
	,	order_by
	,	error_typ
	,	value1
	,	value2
	,	remark
	FROM @ERR_TBL
	ORDER BY 
		order_by
END

GO
