/****** Object:  StoredProcedure [dbo].[SPC_oM0200_INQ1]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_oM0200_INQ1]
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
 *
 *  処理概要：[SPC_oM0200_INQ1] - SEARCH
 *
 *  作成日  ：2018/08/27
 *  作成者  ：DatNT
 *
 *  更新日  ：2021/05/14
 *  更新者  ：VIETDT
 *  更新内容：CR add order by adaption_date DESC
 *
 ****************************************************************************************************/
CREATE PROCEDURE [dbo].[SPC_oM0200_INQ1]
	-- Add the parameters for the stored procedure here	
	@P_key_search	NVARCHAR(50)	= ''
,	@P_company_cd	SMALLINT		= 0
,	@P_current_page			SMALLINT			= 0
,	@P_page_size			SMALLINT			= 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@ERR_TBL			ERRTABLE
	,	@totalRecord		DECIMAL(18,0)	=	0
	,	@pageMax			INT				=	0
	,	@pageNumber			INT				=	0
	CREATE TABLE #M2200
	(
		interview_cd		SMALLINT
	,	adaption_date		NVARCHAR(10)
	,	interview_nm		NVARCHAR(50)
	,	arrange_order		INT	
	)
	CREATE TABLE #TEMP_M2200
	(
		interview_cd		SMALLINT
	)
	INSERT INTO #M2200
	SELECT 
		interview_cd
	,	adaption_date
	,	interview_nm
	,	arrange_order
	FROM M2200
	WHERE 
		company_cd = @P_company_cd
	AND (	@P_key_search = '' 
		OR  interview_nm LIKE '%'+@P_key_search+'%' 
		OR  interview_cd LIKE '%'+@P_key_search+'%')
	AND del_datetime IS NULL

	INSERT INTO #TEMP_M2200
	SELECT 
		interview_cd	
	FROM #M2200
	GROUP BY 
		interview_cd
	,	arrange_order
	ORDER BY 
		arrange_order ASC
	,	interview_cd
	OFFSET (@P_current_page-1) * @P_page_size ROWS
	FETCH NEXT @P_page_size ROWS ONLY
	--[0]
	SELECT 
		#TEMP_M2200.interview_cd	
	,	FORMAT(CAST(adaption_date AS date),'yyyy/MM/dd') as adaption_date
	,	interview_nm
	,	arrange_order
	FROM #TEMP_M2200 
	INNER JOIN  #M2200 ON(
		#TEMP_M2200.interview_cd	=	#M2200.interview_cd
	)
	ORDER BY 
		arrange_order	ASC
	,	interview_cd	ASC
	,	adaption_date	DESC
	--[1]
	SET @totalRecord = (SELECT COUNT(1) FROM (SELECT 1 AS num FROM #M2200 GROUP BY interview_cd) AS #A)
	SET @pageNumber = CEILING(CAST(@totalRecord AS FLOAT) / @P_page_size)
	SELECT @totalRecord AS totalRecord, @pageNumber AS pageMax, @P_current_page AS [page], @P_page_size AS pagesize
	--Drop table
	Drop table #M2200
	Drop table #TEMP_M2200
END
GO
