/****** Object:  StoredProcedure [dbo].[[SPC_OM0120_FND1]]    Script Date: 2018/08/27 13:08:59 ******/
SET ANSI_NULLS ON
GO
DROP PROCEDURE [dbo].[SPC_OM0200_FND1]
SET QUOTED_IDENTIFIER ON
GO
-- +--TEST--+ S0020
-- EXEC SPC_sS0020_INQ1 '1'
--****************************************************************************************
--*   											
--*  処理概要/process overview	:	[SPC_oM0120_FND1]_充実度マスタ
--*  
--*  作成日/create date			:	2018/08/27						
--*　作成者/creater				:	DatNT								
--*   					

--****************************************************************************************
CREATE PROCEDURE [dbo].[SPC_OM0200_FND1]
	-- Add the parameters for the stored procedure here	
	@P_company_cd		SMALLINT = 0
,	@P_interview_cd		SMALLINT = 0
,	@P_adaption_date	DATE	 = NULL

AS
BEGIN
	SET NOCOUNT ON;
	--[0]
	SELECT 
		interview_cd
	,	FORMAT(CAST(adaption_date AS date),'yyyy/MM/dd') as adaption_date
	,	interview_nm
	,	ISNULL(target1_use_typ,0) AS target1_use_typ
	,	ISNULL(target2_use_typ,0) AS target2_use_typ
	,	ISNULL(target3_use_typ,0) AS target3_use_typ
	,	ISNULL(comment_use_typ,0) AS comment_use_typ
	,	question_nm
	,	answer_nm
	,	free_question_nm
	,	ISNULL(free_question_use_typ,0) AS free_question_use_typ
	,	member_comment_nm
	,	ISNULL(member_comment_typ,0)	AS member_comment_typ
	,	coach_comment1_nm
	,	ISNULL(coach_comment1_typ,0)	AS coach_comment1_typ
	,	next_action_nm
	,	ISNULL(next_action_typ,0)		AS next_action_typ
	,	coach_comment2_nm
	,	ISNULL(coach_comment2_typ,0)	AS coach_comment2_typ
	,	arrange_order
	,	M2120.[name]
	FROM M2200 LEFT JOIN M2120 ON(
		M2200.company_cd		=	M2120.company_cd
	)
	WHERE M2200.company_cd	= @P_company_cd
	AND interview_cd		= @P_interview_cd
	AND adaption_date		= @P_adaption_date
	AND M2200.del_datetime	IS NULL
	--[1]
	SELECT 
		interview_cd
	,	FORMAT(adaption_date,'yyyy/MM/dd') as adaption_date
	,	interview_gyocd
	,	question
	,	arrange_order
	FROM M2201
	WHERE company_cd	= @P_company_cd
	AND interview_cd	= @P_interview_cd
	AND adaption_date	= @P_adaption_date 
	AND del_datetime	IS NULL
	ORDER BY	arrange_order ASC
			,	interview_cd 
			,	adaption_date
END
GO
